Repository toeverything/AFFiNE, pull requests merged in 2022-08, with the labels that each got.

#78 feat(build-local): add config env file
  package.json
Labels: bug

#102 fix: fixed can not add new card in kanban
  libs/components/editor-core/src/kanban/atom.ts
Labels: bug

#175 Added CONTRIBUTING and CODE_OF_CONDUCT files
  CODE_OF_CONDUCT.md
  CONTRIBUTING.md
Labels: documentation

#252 New custom social icon badges
  README.md
Labels: documentation

#256 fix: update get-started template
  apps/ligo-virgo/src/pages/workspace/Home.tsx
  libs/datasource/db-service/src/services/editor-block/templates/get-started-group1.json
  libs/datasource/db-service/src/services/editor-block/templates/get-started-group2.json
  libs/datasource/db-service/src/services/editor-block/templates/template-factory.ts
Labels: improvement

#250 Update grammar in index.tsx
  apps/venus/src/app/index.tsx
Labels: documentation

#314 Update README and documentation
  README.md
  docs/CODE_OF_CONDUCT.md
  docs/CONTRIBUTING.md
  docs/types-of-contributions.md
Labels: documentation

#316 Update CONTRIBUTING.md
  docs/CONTRIBUTING.md
Labels: documentation
