Repository toeverything/AFFiNE, pull requests merged in 2023-06, with the labels that each got.

#2632 feat: support get dynamic page meta data
  apps/electron/layers/main/src/ui/get-meta-data/get-html.ts
  apps/electron/layers/main/src/ui/get-meta-data/index.ts
  apps/electron/layers/main/src/ui/get-meta-data/rules.ts
  apps/electron/layers/main/src/ui/get-meta-data/types.ts
  apps/electron/layers/main/src/ui/index.ts
Labels: app:electron

#2636 perf: getEnvironment() -> env
  apps/web/src/components/blocksuite/workspace-header/download-tips.tsx
  apps/web/src/components/blocksuite/workspace-header/utils.tsx
  apps/web/src/components/pure/help-island/index.tsx
  apps/web/src/components/pure/quick-search-modal/index.tsx
  apps/web/src/components/pure/shortcuts-modal/index.tsx
  apps/web/src/providers/modal-provider.tsx
  apps/web/src/utils/create-emotion-cache.ts
  packages/component/src/components/app-sidebar/app-updater-button/index.jotai.ts
  packages/component/src/components/app-sidebar/index.tsx
  packages/component/src/components/app-sidebar/quick-search-input/index.tsx
  packages/component/src/components/app-sidebar/sidebar-header/index.tsx
  packages/debug/src/index.ts
  packages/env/src/api.ts
  packages/env/src/config.ts
  packages/jotai/src/resource.ts
  packages/workspace/src/affine/login.ts
Labels: mod:workspace, mod:env, mod:component, app:web, mod:dev, mod:store

#2638 chore: update all page style
  packages/component/src/components/page-list/components/title-cell.tsx
  packages/component/src/components/page-list/view/view-list.css.ts
Labels: mod:component

#2643 build: prevent tsconfig includes sources outside
  .github/workflows/build.yml
  .prettierignore
  apps/electron/layers/constraints.d.ts
  apps/electron/layers/main/src/__tests__/integration.spec.ts
  apps/electron/layers/main/src/exposed.ts
  apps/electron/layers/preload/preload.d.ts
  apps/electron/layers/preload/src/affine-apis.ts
  apps/electron/tsconfig.json
  apps/web/src/components/blocksuite/block-suite-page-list/index.tsx
  package.json
  packages/component/src/components/page-list/__tests__/filter.spec.tsx
  packages/component/src/components/page-list/filter/condition.tsx
  packages/component/src/components/page-list/filter/eval.ts
  packages/component/src/components/page-list/filter/filter-list.tsx
  packages/component/src/components/page-list/filter/literal-matcher.tsx
  packages/component/src/components/page-list/filter/shared-types.tsx
  packages/component/src/components/page-list/filter/vars.tsx
  packages/component/src/components/page-list/use-all-page-setting.ts
  packages/component/src/components/page-list/view/create-view.tsx
  packages/component/src/index.ts
  packages/component/tsconfig.json
  packages/component/tsconfig.workspace.json
  packages/workspace/src/type.ts
  packages/workspace/tsconfig.json
  tsconfig.json
Labels: test, mod:workspace, mod:component, app:web, app:electron

#2652 chore: bump blocksuite
  apps/web/package.json
  packages/component/package.json
  packages/env/package.json
  packages/jotai/package.json
  packages/plugin-infra/package.json
  packages/y-indexeddb/package.json
  yarn.lock
Labels: mod:env, mod:component, app:web, package:y-indexeddb, mod:store, mod:plugin-infra

#2604 fix: pdf export in client and hide png export
  packages/component/src/components/affine-watermark/index.css.ts
  packages/component/src/components/page-list/operation-menu-items/export.tsx
  packages/component/src/components/workspace/index.css.ts
Labels: mod:component

#2658 fix: update version bump-blocksuite
  apps/web/package.json
  packages/component/package.json
  packages/env/package.json
  packages/jotai/package.json
  packages/plugin-infra/package.json
  packages/y-indexeddb/package.json
  yarn.lock
Labels: mod:env, mod:component, app:web, package:y-indexeddb, mod:store, mod:plugin-infra

#2664 v0.6.0
  apps/electron/package.json
  apps/server/package.json
  apps/web/package.json
  package.json
  packages/cli/package.json
  packages/component/package.json
  packages/debug/package.json
  packages/env/package.json
  packages/graphql/package.json
  packages/hooks/package.json
  packages/i18n/package.json
  packages/jotai/package.json
  packages/native/package.json
  packages/plugin-infra/package.json
  packages/templates/package.json
  packages/workspace/package.json
  packages/y-indexeddb/package.json
  plugins/bookmark-block/package.json
  plugins/copilot/package.json
  tests/fixtures/package.json
  tests/kit/package.json
Labels: docs, test, mod:workspace, mod:i18n, mod:hooks, mod:env, mod:component, app:web, app:electron, mod:dev, package:y-indexeddb, mod:store, app:server, plugin:copilot, mod:plugin-infra

#2667 fix: typo in README.md
  README.md
Labels: docs

#2660 feat: plugin system with isolated bundles
  .gitignore
  apps/electron/layers/main/src/ui/index.ts
  apps/electron/package.json
  apps/electron/scripts/build-layers.mjs
  apps/electron/scripts/common.mjs
  apps/electron/scripts/dev.mjs
  plugins/bookmark-block/package.json
  plugins/bookmark-block/src/server.ts
  plugins/bookmark-block/src/server/get-meta-data/get-html.ts
  plugins/bookmark-block/src/server/get-meta-data/index.ts
  plugins/bookmark-block/src/server/get-meta-data/rules.ts
  plugins/bookmark-block/src/server/get-meta-data/types.ts
  plugins/bookmark-block/src/server/get-meta-data/utils.ts
  plugins/bookmark-block/tsconfig.json
  plugins/bookmark-block/tsconfig.node.json
  plugins/bookmark-block/vite.config.ts
  scripts/setup/build-plugins.ts
  vitest.config.ts
  yarn.lock
Labels: app:electron, mod:dev

#2679 fix: use `react-resizable-panels`
  apps/web/package.json
  apps/web/src/components/page-detail-editor.tsx
  apps/web/src/pages/_app.tsx
  packages/plugin-infra/src/type.ts
  plugins/copilot/src/UI/header-item.tsx
  yarn.lock
Labels: app:web, plugin:copilot, mod:plugin-infra

#2674 test: add some e2e tests for all pages filter
  packages/component/src/components/page-list/filter/condition.tsx
  packages/component/src/components/page-list/filter/vars.tsx
  tests/parallels/all-page.spec.ts
Labels: test, mod:component

#2681 chore: bump version
  apps/electron/package.json
  apps/server/package.json
  apps/web/package.json
  package.json
  packages/cli/package.json
  packages/component/package.json
  packages/env/package.json
  packages/graphql/package.json
  packages/i18n/package.json
  packages/jotai/package.json
  packages/plugin-infra/package.json
  packages/workspace/package.json
  plugins/copilot/package.json
  yarn.lock
Labels: mod:workspace, mod:i18n, mod:env, mod:component, app:web, app:electron, mod:dev, mod:store, app:server, plugin:copilot, mod:plugin-infra

#2668 feat: sticky table head in page list
  packages/component/src/components/app-sidebar/index.css.ts
  packages/component/src/components/app-sidebar/sidebar-containers/index.tsx
  packages/component/src/components/app-sidebar/sidebar-containers/use-has-scroll-top.tsx
  packages/component/src/components/page-list/all-page.tsx
  packages/component/src/components/page-list/all-pages-body.tsx
  packages/component/src/components/page-list/mobile.tsx
  packages/component/src/components/page-list/styles.ts
  packages/component/src/stories/page-list.stories.tsx
  packages/component/src/ui/button/dropdown.tsx
  packages/component/src/ui/button/styles.css.ts
  packages/component/src/ui/button/styles.ts
  packages/component/src/ui/empty/style.ts
  packages/component/src/ui/modal/modal-close-button.tsx
  packages/component/src/ui/table/styles.ts
  packages/component/src/ui/table/table-head.tsx
  packages/component/src/ui/table/table-row.tsx
Labels: mod:component

#2686 fix: empty icon color error
  packages/component/src/ui/empty/empty-svg.tsx
  packages/component/src/ui/empty/empty.tsx
Labels: mod:component

#2687 fix: overflow in radio button group
  packages/component/src/stories/button.stories.tsx
  packages/component/src/ui/button/styles.css.ts
Labels: mod:component

#2689 fix: do not show deleted reference
  apps/web/src/components/pure/workspace-slider-bar/favorite/favorite-list.tsx
  tests/parallels/local-first-favorites-items.spec.ts
Labels: test, app:web

#2688 fix: the top padding should be draggable
  packages/component/src/components/workspace/index.css.ts
Labels: mod:component

#2682 feat: init `window.affine`
  apps/electron/layers/preload/src/affine-apis.ts
  apps/electron/layers/preload/src/bootstrap.ts
  apps/electron/layers/preload/src/index.ts
  apps/web/src/bootstrap/index.ts
  packages/hooks/src/use-affine-ipc-renderer.ts
Labels: mod:hooks, app:web, app:electron

#2692 fix: empty svg color missing
  packages/component/src/ui/empty/style.ts
Labels: mod:component

#2685 fix: import workspace may only show default preload page
  packages/workspace/src/providers/__tests__/sqlite-provider.spec.ts
  packages/workspace/src/providers/index.ts
  packages/workspace/src/type.ts
Labels: test, mod:workspace

#2699 fix: add bookmark operation flag for ts check
  packages/env/src/config.ts
Labels: mod:env

#2497 feat(native): move sqlite operation into Rust
  .github/actions/build-rust/action.yml
  .github/workflows/build.yml
  .github/workflows/nightly-build.yml
  .github/workflows/release-desktop-app.yml
  .gitignore
  .vscode/settings.template.json
  Cargo.lock
  Cargo.toml
  apps/electron/README.md
  apps/electron/layers/main/src/__tests__/integration.spec.ts
  apps/electron/layers/main/src/db/__tests__/ensure-db.spec.ts
  apps/electron/layers/main/src/db/__tests__/workspace-db-adapter.spec.ts
  apps/electron/layers/main/src/db/base-db-adapter.ts
  apps/electron/layers/main/src/db/ensure-db.ts
  apps/electron/layers/main/src/db/helper.ts
  apps/electron/layers/main/src/db/secondary-db.ts
  apps/electron/layers/main/src/db/workspace-db-adapter.ts
  apps/electron/layers/main/src/dialog/dialog.ts
  apps/electron/layers/main/src/workspace/__tests__/handlers.spec.ts
  apps/electron/layers/main/src/workspace/handlers.ts
  apps/electron/layers/main/src/workspace/index.ts
  apps/electron/package.json
  apps/electron/scripts/common.mjs
  packages/native/.env
  packages/native/.gitignore
  packages/native/Cargo.toml
  packages/native/affine.db
  packages/native/build.rs
  packages/native/index.d.ts
  packages/native/index.js
  packages/native/schema/Cargo.toml
  packages/native/schema/README.md
  packages/native/schema/src/lib.rs
  packages/native/src/lib.rs
  packages/native/src/sqlite/mod.rs
  yarn.lock
Labels: docs, test, app:electron, rust

#2708 fix: remove dependencies in `@affine/debug`
  packages/component/src/components/page-list/use-all-page-setting.ts
  packages/debug/package.json
  packages/debug/src/index.ts
  packages/debug/tsconfig.json
  yarn.lock
Labels: mod:component, mod:dev

#2707 fix: package `affine/env` modules
  packages/env/package.json
  packages/env/src/blocksuite/index.ts
  packages/env/tsconfig.blocksuite.json
  packages/env/tsconfig.json
  tsconfig.json
  yarn.lock
Labels: mod:env

#2706 refactor: split storybook
  .github/workflows/build.yml
  docs/contributing/tutorial.md
  package.json
  packages/component/package.json
  packages/component/src/components/app-sidebar/index.tsx
  packages/component/src/components/notification-center/index.tsx
  packages/component/src/ui/button/button.tsx
  packages/component/src/ui/button/index.ts
  packages/component/tsconfig.json
  packages/storybook/.storybook/main.ts
  packages/storybook/.storybook/preview-head.html
  packages/storybook/.storybook/preview.tsx
  packages/storybook/package.json
  packages/storybook/src/stories/affine-banner.stories.tsx
  packages/storybook/src/stories/affine-loading.stories.tsx
  packages/storybook/src/stories/app-sidebar.stories.tsx
  packages/storybook/src/stories/block-suite-editor.stories.tsx
  packages/storybook/src/stories/breadcrumbs.stories.tsx
  packages/storybook/src/stories/button.stories.tsx
  packages/storybook/src/stories/card.stories.tsx
  packages/storybook/src/stories/change-log.stories.tsx
  packages/storybook/src/stories/contact-modal.stories.tsx
  packages/storybook/src/stories/image-preview-modal.stories.tsx
  packages/storybook/src/stories/introduction.stories.mdx
  packages/storybook/src/stories/notification-center.stories.tsx
  packages/storybook/src/stories/onboarding-modal.stories.tsx
  packages/storybook/src/stories/page-detail-skeleton.stories.tsx
  packages/storybook/src/stories/page-list.stories.tsx
  packages/storybook/src/stories/share-menu.stories.tsx
  packages/storybook/src/stories/switch.stories.tsx
  packages/storybook/src/stories/workspace-avatar.stories.tsx
  packages/storybook/src/stories/workspace-list.stories.tsx
  packages/storybook/tsconfig.json
  packages/storybook/tsconfig.node.json
  yarn.lock
Labels: docs, mod:component

#2709 fix(electron): should not continue pull when db closed
  apps/electron/layers/main/src/db/__tests__/ensure-db.spec.ts
  apps/electron/layers/main/src/db/base-db-adapter.ts
  apps/electron/layers/main/src/db/secondary-db.ts
Labels: test, app:electron

#2715 fix: type import
  apps/electron/layers/preload/preload.d.ts
  apps/electron/layers/preload/src/affine-apis.ts
  apps/electron/tests/fixture.ts
  apps/electron/tests/workspace.spec.ts
  apps/web/src/atoms/index.ts
  apps/web/src/components/affine/create-workspace-modal/index.tsx
  apps/web/src/components/affine/workspace-setting-detail/panel/export/index.tsx
  apps/web/src/components/affine/workspace-setting-detail/panel/general/index.tsx
  packages/component/src/components/app-sidebar/app-updater-button/index.jotai.ts
  packages/component/src/index.ts
  packages/env/src/config.ts
  packages/env/src/env.d.ts
  packages/env/src/global.d.ts
  packages/env/tsconfig.json
  packages/graphql/tsconfig.json
  packages/hooks/tsconfig.json
  packages/jotai/tsconfig.json
  packages/plugin-infra/tsconfig.json
  packages/storybook/tsconfig.json
  packages/workspace/src/local/crud.ts
  packages/workspace/src/providers/__tests__/sqlite-provider.spec.ts
  packages/workspace/src/providers/index.ts
  packages/workspace/src/type.ts
  packages/workspace/tsconfig.json
Labels: test, mod:workspace, mod:hooks, mod:env, mod:component, app:web, app:electron, mod:store, mod:plugin-infra

#2719 fix: first page default mode
  apps/web/src/components/page-detail-editor.tsx
  apps/web/src/layouts/workspace-layout.tsx
Labels: app:web

#2724 fix: flaky when drag workspace list
  tests/parallels/local-first-workspace-list.spec.ts
Labels: test

#2721 refactor: project tsconfig & abstract infra type
  apps/electron/layers/main/src/handlers.ts
  apps/electron/package.json
  apps/electron/tests/tsconfig.json
  apps/electron/tsconfig.json
  apps/web/tsconfig.json
  package.json
  packages/env/src/config.ts
  packages/infra/src/handler.ts
  packages/workspace/tsconfig.json
  plugins/bookmark-block/package.json
  plugins/bookmark-block/tsconfig.json
  scripts/notify.mjs
  tsconfig.json
  yarn.lock
Labels: test, mod:workspace, mod:env, app:web, app:electron, mod:dev

#2723 style: enable no-non-null-assertion rule
  .eslintignore
  .eslintrc.js
  apps/electron/layers/main/src/db/base-db-adapter.ts
  apps/electron/layers/main/src/db/ensure-db.ts
  apps/electron/layers/main/src/db/secondary-db.ts
  apps/electron/layers/main/src/updater/electron-updater.ts
  apps/server/src/utils/nestjs.ts
  packages/component/src/components/app-sidebar/app-updater-button/index.tsx
  packages/component/src/components/page-list/operation-menu-items/export.tsx
  packages/component/src/ui/tree-view/tree-view.tsx
  packages/hooks/src/use-affine-ipc-renderer.ts
  packages/workspace/src/providers/broad-cast-channel/index.ts
  packages/workspace/src/providers/index.ts
  packages/workspace/src/utils.ts
  plugins/bookmark-block/src/blocksuite/ui.tsx
  tsconfig.eslint.json
Labels: mod:workspace, mod:hooks, mod:component, app:electron, app:server

#2700 feat: replace electron to puppeteer
  apps/electron/layers/main/src/ui/index.ts
  apps/electron/scripts/plugins/build-plugins.mjs
  apps/electron/scripts/plugins/dev-plugins.mjs
  plugins/bookmark-block/package.json
  plugins/bookmark-block/src/server.ts
  plugins/bookmark-block/src/server/get-meta-data/get-html.ts
  plugins/bookmark-block/src/server/get-meta-data/index.ts
  plugins/bookmark-block/src/server/get-meta-data/rules.ts
  plugins/bookmark-block/src/server/get-meta-data/types.ts
  plugins/bookmark-block/src/server/get-meta-data/utils.ts
  scripts/esbuild/build-plugins.mjs
  scripts/esbuild/dev-plugins.mjs
  scripts/esbuild/utils.mjs
  scripts/setup/build-plugins.ts
  yarn.lock
Labels: blocked, dont merge, app:electron, mod:dev

#2726 feat: add new rule for floating promise
  apps/electron/layers/main/src/application-menu/create.ts
  apps/electron/layers/main/src/db/__tests__/workspace-db-adapter.spec.ts
  apps/electron/layers/main/src/db/ensure-db.ts
  apps/electron/layers/main/src/db/secondary-db.ts
  apps/electron/layers/main/src/db/workspace-db-adapter.ts
  apps/electron/layers/main/src/dialog/dialog.ts
  apps/electron/layers/main/src/export/pdf.ts
  apps/electron/layers/main/src/index.ts
  apps/electron/layers/main/src/ui/google-auth.ts
  apps/electron/layers/main/src/updater/electron-updater.ts
  apps/web/src/adapters/local/index.tsx
  apps/web/src/components/affine/affine-error-eoundary.tsx
  apps/web/src/components/affine/workspace-setting-detail/index.tsx
  apps/web/src/components/affine/workspace-setting-detail/panel/publish/index.tsx
  apps/web/src/components/blocksuite/block-suite-page-list/utils.tsx
  apps/web/src/components/blocksuite/workspace-header/header-right-items/edit-page.tsx
  apps/web/src/components/blocksuite/workspace-header/header-right-items/language-menu.tsx
  apps/web/src/components/blocksuite/workspace-header/header-right-items/share-menu.tsx
  apps/web/src/components/blocksuite/workspace-header/header-right-items/sync-user.tsx
  apps/web/src/components/blocksuite/workspace-header/header-right-items/trash-button-group.tsx
  apps/web/src/components/pure/message-center/index.tsx
  apps/web/src/components/pure/quick-search-modal/published-results.tsx
  apps/web/src/components/pure/quick-search-modal/results.tsx
  apps/web/src/hooks/use-workspace-blob.ts
  apps/web/src/layouts/workspace-layout.tsx
  apps/web/src/pages/404.tsx
  apps/web/src/pages/invite/[invite-code].tsx
  apps/web/src/pages/workspace/[workspaceId]/all.tsx
  apps/web/src/pages/workspace/[workspaceId]/shared.tsx
  apps/web/src/pages/workspace/[workspaceId]/trash.tsx
  apps/web/src/providers/modal-provider.tsx
  packages/component/src/components/app-sidebar/app-updater-button/index.jotai.ts
  packages/component/src/components/block-suite-editor/index.tsx
  packages/component/src/components/share-menu/share-page.tsx
  packages/graphql/src/__tests__/fetcher.spec.ts
  packages/i18n/src/index.ts
  packages/i18n/src/scripts/download.ts
  packages/i18n/src/scripts/sync.ts
  packages/plugin-infra/src/manager.ts
  packages/storybook/src/stories/image-preview-modal.stories.tsx
  packages/storybook/src/stories/workspace-avatar.stories.tsx
  packages/workspace/src/blob/index.ts
  packages/workspace/src/local/__tests__/crud.spec.ts
  packages/y-indexeddb/src/__tests__/index.spec.ts
  packages/y-indexeddb/src/index.ts
Labels: test, mod:workspace, mod:i18n, mod:component, app:web, app:electron, package:y-indexeddb, mod:plugin-infra

#2644 feat: add date picker
  packages/component/package.json
  packages/component/src/components/date-picker/date-picker.tsx
  packages/component/src/components/date-picker/index.css.ts
  packages/component/src/components/date-picker/index.ts
  packages/component/src/components/page-list/filter/condition.tsx
  packages/component/src/components/page-list/filter/index.css.ts
  packages/component/src/components/page-list/filter/literal-matcher.tsx
  packages/component/src/components/page-list/filter/shared-types.tsx
  packages/component/src/components/page-list/filter/vars.tsx
  packages/component/src/components/page-list/view/create-view.tsx
  packages/component/src/components/page-list/view/view-list.css.ts
  packages/component/src/theme/global.css
  packages/storybook/src/stories/datepicker.stories.tsx
  tests/parallels/all-page.spec.ts
  yarn.lock
Labels: test, mod:component

#2716 fix: a potential crash on fav list
  apps/web/src/components/pure/workspace-slider-bar/favorite/favorite-list.tsx
Labels: app:web

#2710 feat: update desc for empty page
  apps/web/src/components/blocksuite/block-suite-page-list/index.css.ts
  apps/web/src/components/blocksuite/block-suite-page-list/index.tsx
  packages/component/src/ui/empty/empty.tsx
  packages/i18n/src/resources/en.json
  packages/storybook/src/stories/page-list.stories.tsx
Labels: mod:i18n, mod:component, app:web

#2733 fix: potential flaky issues
  apps/electron/layers/main/src/db/base-db-adapter.ts
  apps/electron/layers/main/src/db/ensure-db.ts
  apps/electron/layers/main/src/dialog/dialog.ts
  apps/electron/layers/main/src/updater/electron-updater.ts
Labels: app:electron

#2725 feat: add page setting atom
  apps/web/src/atoms/index.ts
  apps/web/src/components/blocksuite/block-suite-page-list/index.tsx
  apps/web/src/components/blocksuite/block-suite-page-list/utils.tsx
  apps/web/src/components/blocksuite/workspace-header/editor-mode-switch/index.tsx
  apps/web/src/components/blocksuite/workspace-header/header-right-items/editor-option-menu.tsx
  apps/web/src/components/page-detail-editor.tsx
  apps/web/src/components/pure/quick-search-modal/results.tsx
  apps/web/src/components/pure/workspace-slider-bar/favorite/favorite-list.tsx
  apps/web/src/components/pure/workspace-title/index.tsx
  apps/web/src/hooks/__tests__/use-recent-views.spec.tsx
  apps/web/src/hooks/current/use-current-mode.ts
  apps/web/src/hooks/use-recent-views.ts
  apps/web/src/pages/workspace/[workspaceId]/[pageId].tsx
  tsconfig.json
Labels: dont merge, test, app:web, mod:store

#2734 fix: page meta is undefined
  apps/web/src/atoms/index.ts
  apps/web/src/components/page-detail-editor.tsx
  apps/web/src/pages/workspace/[workspaceId]/[pageId].tsx
Labels: app:web, mod:store

#2732 build: enhance tsconfig type check
  apps/electron/layers/main/src/updater/electron-updater.ts
  apps/electron/layers/preload/src/bootstrap.ts
  apps/server/src/modules/auth/guard.ts
  apps/server/src/modules/auth/resolver.ts
  apps/server/src/modules/auth/service.ts
  apps/server/src/tests/app.e2e.ts
  apps/server/src/utils/nestjs.ts
  apps/web/src/components/affine/affine-error-eoundary.tsx
  apps/web/src/components/blocksuite/block-suite-page-list/index.tsx
  apps/web/src/layouts/workspace-layout.tsx
  apps/web/src/pages/_document.tsx
  apps/web/src/pages/index.tsx
  packages/component/src/components/app-sidebar/spolight/index.tsx
  packages/component/src/components/block-suite-editor/index.tsx
  packages/component/src/components/image-preview-modal/index.jotai.ts
  packages/component/src/components/notification-center/index.tsx
  packages/component/src/components/page-list/index.tsx
  packages/component/src/components/share-menu/index.tsx
  packages/component/src/ui/tree-view/utils.ts
  packages/env/package.json
  packages/hooks/src/use-block-suite-workspace-avatar-url.ts
  packages/i18n/src/index.ts
  packages/i18n/src/scripts/download.ts
  packages/i18n/src/scripts/sync.ts
  packages/storybook/src/stories/page-list.stories.tsx
  packages/storybook/src/stories/share-menu.stories.tsx
  packages/storybook/tsconfig.json
  packages/storybook/tsconfig.node.json
  packages/workspace/src/affine/login.ts
  packages/workspace/src/atom.ts
  packages/workspace/src/utils.ts
  packages/y-indexeddb/src/utils.ts
  plugins/copilot/src/core/langchain/vector-store.ts
  tsconfig.json
Labels: test, mod:workspace, mod:i18n, mod:hooks, mod:env, mod:component, app:web, app:electron, package:y-indexeddb, app:server, plugin:copilot

#2737 fix: regression on the database and bookmark block
  apps/web/src/adapters/local/index.tsx
  apps/web/src/layouts/workspace-layout.tsx
  apps/web/src/utils/editor-flag.ts
  packages/workspace/src/utils.ts
Labels: mod:workspace, app:web

#2735 chore: bump `typescript` to `5.1.3`
  apps/electron/package.json
  apps/server/package.json
  apps/server/tsconfig.node.json
  apps/web/package.json
  package.json
  packages/component/package.json
  packages/i18n/package.json
  packages/native/package.json
  packages/y-indexeddb/tsconfig.node.json
  scripts/setup/build-plugins.ts
  scripts/vitest/next-config-mock.ts
  tsconfig.json
  tsconfig.node.json
  yarn.lock
Labels: mod:i18n, mod:component, app:web, app:electron, mod:dev, package:y-indexeddb, app:server

#2738 style: add ban-ts-comment rule
  .eslintignore
  .eslintrc.js
  apps/electron/layers/main/src/__tests__/integration.spec.ts
  apps/electron/layers/main/src/application-menu/create.ts
  apps/electron/layers/main/src/db/__tests__/ensure-db.spec.ts
  apps/web/src/components/__debug__/client/editor.tsx
  apps/web/src/components/affine/create-workspace-modal/index.tsx
  apps/web/src/components/affine/workspace-setting-detail/panel/collaboration/index.tsx
  apps/web/src/components/affine/workspace-setting-detail/panel/export/index.tsx
  apps/web/src/components/affine/workspace-setting-detail/panel/general/index.tsx
  apps/web/src/components/blocksuite/workspace-header/header-right-items/theme-mode-switch/style.ts
  packages/component/src/ui/popper/pure-popper.tsx
  packages/workspace/src/providers/index.ts
  packages/workspace/tsconfig.json
  tests/libs/utils.ts
  tests/parallels/debug-init-page.spec.ts
Labels: test, mod:workspace, mod:component, app:web, app:electron

#2741 style: remove some verbose codes
  apps/electron/layers/main/src/__tests__/integration.spec.ts
  apps/web/src/components/affine/create-workspace-modal/index.tsx
  apps/web/src/components/affine/enable-affine-cloud-modal/index.tsx
  apps/web/src/components/affine/tmp-disable-affine-cloud-modal/index.tsx
  apps/web/src/components/affine/transform-workspace-to-affine-modal/index.tsx
Labels: test, app:web, app:electron

#2743 feat: add kalam font
  apps/web/public/fonts/kalam/Kalam-Bold.ttf
  apps/web/public/fonts/kalam/Kalam-Light.ttf
  apps/web/public/fonts/kalam/Kalam-Regular.ttf
  apps/web/public/fonts/kalam/OFL.txt
  packages/component/src/components/app-sidebar/index.css.ts
  packages/component/src/theme/fonts.css
  packages/component/src/theme/global.css
Labels: mod:component, app:web

#2744 fix: replace noop function
  apps/electron/scripts/plugins/build-plugins.mjs
  apps/electron/scripts/plugins/dev-plugins.mjs
  packages/component/src/components/app-sidebar/app-updater-button/index.jotai.ts
  packages/component/src/components/app-sidebar/spolight/index.tsx
  packages/component/src/components/block-suite-editor/index.tsx
  packages/component/src/components/image-preview-modal/index.jotai.ts
  packages/component/src/components/notification-center/index.tsx
  packages/hooks/src/use-block-suite-workspace-avatar-url.ts
  packages/workspace/src/atom.ts
  plugins/bookmark-block/package.json
  plugins/bookmark-block/src/blocksuite/index.tsx
  yarn.lock
Labels: mod:workspace, mod:hooks, mod:component, app:electron

#2746 fix: electron dev crash
  apps/electron/layers/main/src/db/base-db-adapter.ts
Labels: app:electron

#2748 feat: use `nx` to manage monorepo
  .github/actions/setup-node/action.yml
  .github/workflows/build.yml
  .github/workflows/nightly-build.yml
  .github/workflows/release-desktop-app.yml
  apps/electron/package.json
  nx.json
  package.json
  packages/i18n/package.json
  packages/storybook/package.json
  playwright.config.ts
  scripts/setup/build-plugins.ts
  tests/kit/playwright.ts
  vitest.config.ts
  yarn.lock
Labels: test, mod:i18n, app:electron, mod:dev

#2758 feat: improve copilot
  .eslintrc.js
  apps/web/src/components/page-detail-editor.css.ts
  apps/web/src/components/page-detail-editor.tsx
  package.json
  plugins/copilot/package.json
  plugins/copilot/src/UI/detail-content.tsx
  plugins/copilot/src/UI/header-item.tsx
  plugins/copilot/src/UI/index.css.ts
  plugins/copilot/src/core/chat.ts
  plugins/copilot/src/core/components/conversation-list/index.css.ts
  plugins/copilot/src/core/components/conversation-list/index.tsx
  plugins/copilot/src/core/components/conversation.tsx
  plugins/copilot/src/core/components/conversation/index.css.ts
  plugins/copilot/src/core/components/conversation/index.tsx
  plugins/copilot/src/core/components/following-up/index.css.ts
  plugins/copilot/src/core/components/following-up/index.tsx
  plugins/copilot/src/core/hooks/index.ts
  plugins/copilot/src/core/langchain/message-history.ts
  plugins/copilot/src/core/prompts/index.ts
  yarn.lock
Labels: app:web, plugin:copilot

#2762 fix: remove unused hooks
  apps/web/src/pages/_app.tsx
Labels: app:web

#2760 fix: preloading gif order
  packages/env/src/blocksuite/index.ts
  packages/templates/preloading.json
Labels: docs, mod:env

#2764 fix: add @typescript-eslint/no-floating-promises rule
  .eslintrc.js
  apps/electron/src/helper/dialog/dialog.ts
  apps/electron/src/helper/index.ts
  apps/electron/src/main/workers/plugin.worker.ts
  apps/electron/src/preload/bootstrap.ts
  apps/web/src/atoms/history.ts
  apps/web/src/atoms/index.ts
  apps/web/src/components/affine/create-workspace-modal/index.tsx
  apps/web/src/components/affine/workspace-setting-detail/panel/general/index.tsx
  apps/web/src/components/blocksuite/workspace-header/header-right-items/language-menu.tsx
  apps/web/src/components/blocksuite/workspace-header/header.tsx
  apps/web/src/components/pure/quick-search-modal/footer.tsx
  apps/web/src/components/root-app-sidebar/index.tsx
  apps/web/src/layouts/workspace-layout.tsx
  apps/web/src/pages/index.tsx
  apps/web/src/pages/workspace/[workspaceId]/setting.tsx
  packages/component/src/components/app-sidebar/app-updater-button/index.jotai.ts
  packages/component/src/components/app-sidebar/app-updater-button/index.tsx
  packages/component/src/components/page-list/operation-menu-items/copy-link.tsx
  packages/component/src/components/page-list/operation-menu-items/export.tsx
  packages/component/src/components/theme-provider/index.tsx
  packages/plugin-infra/src/manager.ts
  packages/workspace/src/providers/index.ts
  plugins/copilot/src/UI/detail-content.tsx
  plugins/copilot/src/core/hooks/index.ts
Labels: mod:workspace, mod:component, app:web, app:electron, mod:store, plugin:copilot, mod:plugin-infra

#2767 fix: add eslint-plugin-sonarjs and rules
  .eslintrc.js
  apps/web/src/components/page-detail-editor.tsx
  apps/web/src/components/workspace-header.tsx
  apps/web/src/pages/workspace/[workspaceId]/setting.tsx
  apps/web/src/pages/workspace/[workspaceId]/trash.tsx
  package.json
  packages/workspace/src/affine/login.ts
  yarn.lock
Labels: mod:workspace, app:web

#2765 fix(electron): install missing dependencies
  apps/electron/package.json
  yarn.lock
Labels: app:electron

#2720 feat: image-preview
  packages/component/src/components/image-preview-modal/hooks/use-zoom.tsx
  packages/component/src/components/image-preview-modal/index.css.ts
  packages/component/src/components/image-preview-modal/index.tsx
Labels: mod:component

#2769 fix: build layer
  apps/electron/forge.config.js
  apps/electron/scripts/generate-assets.mjs
Labels: app:electron

#2776 fix(electron): bookmark plugin wound not work
  apps/electron/forge.config.js
  apps/electron/package.json
  apps/electron/scripts/common.mjs
  apps/electron/src/main/index.ts
  apps/electron/src/main/plugin.ts
  apps/electron/src/main/workers/plugin.worker.ts
  packages/plugin-infra/package.json
  packages/plugin-infra/src/manager.ts
  yarn.lock
Labels: app:electron, mod:plugin-infra

#2779 fix: add guide to the other page
  apps/web/src/layouts/workspace-layout.tsx
Labels: app:web

#2786 fix: image preview
  packages/component/src/components/image-preview-modal/hooks/use-zoom.tsx
  packages/component/src/components/image-preview-modal/index.css.ts
  packages/component/src/components/image-preview-modal/index.tsx
Labels: mod:component

#2775 test: add basic test for link page and database
  tests/parallels/blocksuite/editor.spec.ts
Labels: test

#2790 fix: window control not work
  apps/web/src/components/blocksuite/workspace-header/header.tsx
Labels: bug, app:electron

#2787 chore: bump version
  apps/electron/package.json
  apps/server/package.json
  apps/web/package.json
  package.json
  packages/component/package.json
  packages/i18n/package.json
  packages/jotai/package.json
  packages/native/package.json
  packages/plugin-infra/package.json
  packages/storybook/package.json
  packages/workspace/package.json
  plugins/bookmark-block/package.json
  plugins/copilot/package.json
  plugins/copilot/src/core/chat.ts
  plugins/copilot/src/core/langchain/message-history.ts
  yarn.lock
Labels: mod:workspace, mod:i18n, mod:component, app:web, app:electron, mod:store, app:server, do-not-land-0.6.x, plugin:copilot, mod:plugin-infra

#2800 docs: update building.md for electron
  docs/BUILDING.md
Labels: docs

#2804 style: temporarily adjust the style of the co-pilot
  plugins/copilot/src/UI/detail-content.tsx
  plugins/copilot/src/UI/index.css.ts
  plugins/copilot/src/core/components/conversation-list/index.css.ts
  plugins/copilot/src/core/components/conversation/index.css.ts
  plugins/copilot/src/core/components/following-up/index.css.ts
Labels: plugin:copilot

#2799 chore: bump version
  apps/electron/package.json
  apps/server/package.json
  apps/web/package.json
  packages/component/package.json
  packages/i18n/package.json
  packages/storybook/package.json
  packages/workspace/package.json
  yarn.lock
Labels: mod:workspace, mod:i18n, mod:component, app:web, app:electron, app:server

#2810 feat(y-indexeddb): remove id
  packages/workspace/src/local/crud.ts
  packages/workspace/src/providers/index.ts
  packages/y-indexeddb/README.md
  packages/y-indexeddb/src/__tests__/index.spec.ts
  packages/y-indexeddb/src/index.ts
  packages/y-indexeddb/src/utils.ts
Labels: docs, mod:workspace, package:y-indexeddb, test

#2823 refactor: simplify rpc code
  apps/electron/src/helper/index.ts
  apps/electron/src/helper/main-rpc.ts
  apps/electron/src/main/helper-process.ts
  apps/electron/src/main/index.ts
Labels: app:electron

#2820 feat: add subdoc migration script
  packages/env/src/__tests__/subdoc-migration.spec.ts
  packages/env/src/__tests__/workspace.ydoc
  packages/env/src/blocksuite/index.ts
  packages/env/src/blocksuite/subdoc-migration.ts
  packages/env/tsconfig.json
  tests/fixtures/output.json
Labels: mod:env, test

#2828 fix: test
  tests/parallels/all-page.spec.ts
Labels: test

#2815 fix: incorrect bookmark toast text
  apps/web/src/components/blocksuite/block-suite-page-list/index.tsx
Labels: app:web

#2773 feat(server): auth server
  apps/server/migrations/20230621052642_next_auth_integrate/migration.sql
  apps/server/package.json
  apps/server/schema.prisma
  apps/server/scripts/gen-auth-key.ts
  apps/server/src/config/def.ts
  apps/server/src/config/default.ts
  apps/server/src/graphql.module.ts
  apps/server/src/index.ts
  apps/server/src/modules/auth/guard.ts
  apps/server/src/modules/auth/index.ts
  apps/server/src/modules/auth/next-auth.controller.ts
  apps/server/src/modules/auth/resolver.ts
  apps/server/src/modules/auth/service.ts
  apps/server/src/modules/storage/fs.ts
  apps/server/src/modules/storage/index.ts
  apps/server/src/modules/storage/s3.ts
  apps/server/src/modules/storage/storage.service.ts
  apps/server/src/modules/users/index.ts
  apps/server/src/modules/users/resolver.ts
  apps/server/src/tests/app.e2e.ts
  apps/server/src/tests/auth.spec.ts
  apps/server/src/types.ts
  apps/server/tsconfig.json
  apps/web/src/shared/__tests__/gql.spec.tsx
  apps/web/src/shared/gql.ts
  packages/graphql/codegen.yml
  packages/graphql/export-gql-plugin.cjs
  packages/graphql/package.json
  packages/graphql/src/__tests__/fetcher.spec.ts
  packages/graphql/src/fetcher.ts
  packages/graphql/src/graphql/create-workspace.gql
  packages/graphql/src/graphql/index.ts
  packages/graphql/src/graphql/upload-avatar.gql
  packages/graphql/src/graphql/workspace.gql
  packages/graphql/src/schema.ts
  yarn.lock
Labels: type:test, app:web, app:server, test

#2835 chore(server): commit server generated gql file to prevent build fail
  apps/server/.gitignore
  apps/server/src/schema.gql
Labels: app:server

#2833 feat!: upgrade blocksuite version
  apps/electron/package.json
  apps/web/README.md
  apps/web/package.json
  apps/web/preset.config.mjs
  apps/web/src/adapters/affine/fetcher.ts
  apps/web/src/adapters/affine/index.tsx
  apps/web/src/adapters/local/index.tsx
  apps/web/src/atoms/__tests__/atom.spec.ts
  apps/web/src/atoms/public-workspace/index.ts
  apps/web/src/atoms/root.ts
  apps/web/src/components/pure/quick-search-modal/footer.tsx
  apps/web/src/components/pure/quick-search-modal/results.tsx
  apps/web/src/hooks/__tests__/index.spec.tsx
  apps/web/src/hooks/affine/use-block-suite-meta-helper.ts
  apps/web/src/hooks/affine/use-reference-link-helper.ts
  apps/web/src/hooks/use-workspaces.ts
  apps/web/src/layouts/workspace-layout.tsx
  apps/web/src/pages/_debug/broadcast.dev.tsx
  packages/component/package.json
  packages/component/src/components/block-suite-editor/index.tsx
  packages/component/src/components/image-preview-modal/index.tsx
  packages/env/package.json
  packages/env/src/blocksuite/index.ts
  packages/env/src/config.ts
  packages/env/src/workspace.ts
  packages/hooks/src/__tests__/index.spec.ts
  packages/hooks/src/__tests__/use-blocksuite-workspace-helper.spec.ts
  packages/hooks/src/use-block-suite-page-meta.ts
  packages/hooks/src/use-block-suite-workspace-helper.ts
  packages/jotai/package.json
  packages/plugin-infra/package.json
  packages/storybook/package.json
  packages/storybook/src/stories/block-suite-editor.stories.tsx
  packages/storybook/src/stories/card.stories.tsx
  packages/storybook/src/stories/image-preview-modal.stories.tsx
  packages/storybook/src/stories/share-menu.stories.tsx
  packages/storybook/src/stories/workspace-avatar.stories.tsx
  packages/storybook/src/stories/workspace-list.stories.tsx
  packages/templates/preloading.json
  packages/workspace/package.json
  packages/workspace/src/affine/__tests__/api.spec.ts
  packages/workspace/src/affine/__tests__/sync.spec.ts
  packages/workspace/src/local/__tests__/crud.spec.ts
  packages/workspace/src/local/crud.ts
  packages/workspace/src/providers/__tests__/indexeddb-provider.spec.ts
  packages/workspace/src/providers/__tests__/sqlite-provider.spec.ts
  packages/workspace/src/providers/affine-download.ts
  packages/workspace/src/providers/broad-cast-channel/index.ts
  packages/workspace/src/providers/broad-cast-channel/type.ts
  packages/workspace/src/providers/index.ts
  packages/workspace/src/utils.ts
  packages/y-indexeddb/package.json
  tests/parallels/affine/affine-built-in-workspace.spec.ts
  tests/parallels/affine/affine-lost-auth.spec.ts
  tests/parallels/affine/affine-public-single-page.spec.ts
  tests/parallels/affine/affine-public-workspace.spec.ts
  tests/parallels/affine/affine-workspace.spec.ts
  tests/parallels/debug-page-broadcast.spec.ts
  yarn.lock
Labels: docs, mod:workspace, mod:hooks, mod:env, mod:component, app:web, app:electron, package:y-indexeddb, mod:store, mod:plugin-infra, test

#2846 chore: bump version
  apps/server/package.json
  package.json
  packages/graphql/package.json
  packages/storybook/package.json
  yarn.lock
Labels: app:server

#2847 chore: bump version
  apps/web/package.json
  packages/component/package.json
  yarn.lock
Labels: mod:component, app:web

#2848 chore: bump version
  apps/server/package.json
  yarn.lock
Labels: app:server

#2849 feat: init `@affine/docs`
  .github/labeler.yml
  .github/workflows/build.yml
  .gitignore
  apps/docs/entries.ts
  apps/docs/index.html
  apps/docs/package.json
  apps/docs/postcss.config.mjs
  apps/docs/src/app.tsx
  apps/docs/src/components/editor.tsx
  apps/docs/src/index.css
  apps/docs/src/index.tsx
  apps/docs/src/pages/index.md
  apps/docs/tailwind.config.mjs
  apps/docs/tsconfig.json
  apps/docs/tsconfig.node.json
  apps/docs/vite.config.ts
  packages/component/src/components/block-suite-editor/index.tsx
  yarn.lock
Labels: mod:component

#2854 feat: add migration script for database
  packages/env/src/blocksuite/subdoc-migration.ts
Labels: mod:env

#2855 feat: add migration test page
  apps/web/src/pages/_debug/migration.tsx
Labels: app:web

#2826 style: add scrollbar
  apps/web/src/components/pure/footer/styles.ts
  apps/web/src/components/pure/workspace-list-modal/index.tsx
  apps/web/src/components/pure/workspace-list-modal/styles.ts
  packages/component/src/components/page-list/all-page.tsx
  packages/component/src/components/page-list/styles.ts
  packages/component/src/index.ts
  packages/component/src/theme/global.css
  packages/component/src/ui/button/styles.css.ts
  packages/component/src/ui/scrollbar/index.css.ts
  packages/component/src/ui/scrollbar/index.ts
  packages/component/src/ui/scrollbar/scrollbar.tsx
Labels: mod:component, app:web

#2852 feat: support migration
  apps/web/src/atoms/__tests__/atom.spec.ts
  apps/web/src/atoms/index.ts
  apps/web/src/atoms/root.ts
  apps/web/src/bootstrap/index.ts
  apps/web/src/hooks/use-transform-workspace.ts
  apps/web/src/hooks/use-workspaces.ts
  apps/web/src/layouts/workspace-layout.tsx
  apps/web/src/pages/_debug/migration.tsx
  packages/env/src/blocksuite/subdoc-migration.ts
  packages/env/src/workspace.ts
  packages/workspace/package.json
  packages/workspace/src/atom.ts
  packages/workspace/src/local/crud.ts
  packages/workspace/src/migration/index.ts
Labels: mod:workspace, mod:env, app:web, mod:store, test

#2856 fix(docs): defer entry js
  apps/docs/index.html
Labels: app:docs

#2851 docs: added note for building native dependencies
  docs/BUILDING.md
Labels: docs

#2858 chore: bump version
  apps/electron/package.json
  apps/server/package.json
  apps/web/package.json
  package.json
  packages/component/package.json
  packages/graphql/package.json
  packages/i18n/package.json
  packages/infra/package.json
  packages/jotai/package.json
  packages/plugin-infra/package.json
  packages/workspace/package.json
  packages/y-indexeddb/package.json
  plugins/bookmark-block/package.json
  plugins/copilot/package.json
  yarn.lock
Labels: mod:workspace, mod:i18n, mod:component, app:web, app:electron, package:y-indexeddb, mod:store, app:server, plugin:copilot, mod:plugin-infra

#2859 feat(docs): bootstrapping using blocksuite
  apps/docs/entries.ts
  apps/docs/src/app.tsx
  apps/docs/src/atom.ts
  apps/docs/src/components/editor.tsx
  apps/docs/src/components/sidebar/index.tsx
  apps/docs/src/components/sidebar/save-to-local.tsx
  apps/docs/src/index.tsx
  apps/docs/src/pages/binary
  apps/docs/src/server-fns.ts
Labels: app:docs

#2825 feat: new workspace apis
  apps/server/src/modules/auth/index.ts
  apps/server/src/modules/auth/resolver.ts
  apps/server/src/modules/users/index.ts
  apps/server/src/modules/workspaces/permission.ts
  apps/server/src/modules/workspaces/resolver.ts
  apps/server/src/schema.gql
  apps/server/src/tests/workspace.spec.ts
Labels: app:server, test

#2861 build: remove image preview config
  .github/workflows/nightly-build.yml
  .github/workflows/release-desktop-app.yml
  apps/web/preset.config.mjs
  nx.json
  packages/env/src/config.ts
Labels: mod:env, app:web

#2862 chore: bump version
  apps/docs/package.json
  apps/server/package.json
  apps/web/package.json
  package.json
  packages/cli/package.json
  packages/component/package.json
  packages/storybook/package.json
  plugins/copilot/package.json
  yarn.lock
Labels: mod:component, app:web, mod:dev, app:server, plugin:copilot, app:docs

#2866 chore: bump version
  apps/docs/package.json
  apps/electron/package.json
  apps/web/package.json
  package.json
  packages/component/package.json
  packages/env/package.json
  packages/jotai/package.json
  packages/plugin-infra/package.json
  packages/storybook/package.json
  packages/workspace/package.json
  packages/y-indexeddb/package.json
  plugins/bookmark-block/package.json
  plugins/copilot/package.json
  yarn.lock
Labels: mod:workspace, mod:env, mod:component, app:web, app:electron, package:y-indexeddb, mod:store, plugin:copilot, mod:plugin-infra, app:docs

#2867 style: add hover style for scrollbar
  packages/component/src/theme/global.css
  packages/component/src/ui/scrollbar/index.css.ts
Labels: mod:component

#2818 fix: image preview
  packages/component/src/components/image-preview-modal/hooks/use-zoom.tsx
  packages/component/src/components/image-preview-modal/index.css.ts
  packages/component/src/components/image-preview-modal/index.jotai.ts
  packages/component/src/components/image-preview-modal/index.tsx
  packages/component/src/components/image-preview-modal/toast.ts
  packages/component/src/ui/toast/toast.ts
  packages/component/src/ui/tooltip/tooltip.tsx
Labels: mod:component

#2816 feat: sqlite subdocument
  apps/electron/playwright.config.ts
  apps/electron/src/helper/db/__tests__/workspace-db-adapter.spec.ts
  apps/electron/src/helper/db/base-db-adapter.ts
  apps/electron/src/helper/db/index.ts
  apps/electron/src/helper/db/secondary-db.ts
  apps/electron/src/helper/db/subjects.ts
  apps/electron/src/helper/db/workspace-db-adapter.ts
  apps/electron/src/main/protocol.ts
  apps/web/src/components/pure/workspace-list-modal/index.tsx
  apps/web/src/hooks/__tests__/index.spec.tsx
  apps/web/src/pages/public-workspace/[workspaceId]/[pageId].tsx
  nx.json
  packages/component/src/components/image-preview-modal/hooks/use-zoom.tsx
  packages/component/src/components/image-preview-modal/index.css.ts
  packages/component/src/components/page-list/all-page.tsx
  packages/component/src/ui/scrollbar/index.ts
  packages/component/src/ui/scrollbar/scrollbar.tsx
  packages/hooks/src/__tests__/index.spec.ts
  packages/hooks/src/use-block-suite-workspace-page.ts
  packages/infra/src/handler.ts
  packages/native/build.rs
  packages/native/index.d.ts
  packages/native/schema/src/lib.rs
  packages/native/src/sqlite/mod.rs
  packages/workspace/src/affine/__tests__/sync.spec.ts
  packages/workspace/src/providers/__tests__/sqlite-provider.spec.ts
  packages/workspace/src/providers/index.ts
  packages/workspace/src/providers/sqlite-providers.ts
  packages/y-indexeddb/src/__tests__/index.spec.ts
  tests/parallels/all-page.spec.ts
Labels: housekeeping needed, mod:workspace, mod:hooks, mod:component, app:web, app:electron, package:y-indexeddb, test, rust

#2860 build: docker images
  .github/actions/build-rust/action.yml
  .github/deployment/Caddyfile
  .github/deployment/Dockerfile
  .github/deployment/front/Dockerfile
  .github/deployment/front/affine.nginx.conf
  .github/deployment/front/nginx.conf
  .github/deployment/node/Dockerfile
  .github/workflows/build.yml
  .prettierignore
  apps/server/package.json
  apps/server/tsconfig.json
  packages/graphql/export-gql-plugin.cjs
  yarn.lock
Labels: app:server

#2868 style: add hover style for filter item
  packages/component/src/components/date-picker/index.css.ts
  packages/component/src/components/page-list/filter/index.css.ts
Labels: mod:component

#2869 fix: incorrect scrollbar position when opening full width layout
  apps/web/src/components/page-detail-editor.css.ts
  packages/component/src/ui/switch/index.css.ts
Labels: mod:component, app:web

#2878 v0.7.0-canary.19
  apps/docs/package.json
  apps/electron/package.json
  apps/server/package.json
  apps/web/package.json
  package.json
  packages/cli/package.json
  packages/component/package.json
  packages/debug/package.json
  packages/env/package.json
  packages/graphql/package.json
  packages/hooks/package.json
  packages/i18n/package.json
  packages/infra/package.json
  packages/jotai/package.json
  packages/native/package.json
  packages/plugin-infra/package.json
  packages/storybook/package.json
  packages/templates/package.json
  packages/workspace/package.json
  packages/y-indexeddb/package.json
  plugins/bookmark-block/package.json
  plugins/copilot/package.json
  tests/fixtures/package.json
  tests/kit/package.json
Labels: docs, mod:workspace, mod:i18n, mod:hooks, mod:env, mod:component, app:web, app:electron, mod:dev, package:y-indexeddb, mod:store, app:server, plugin:copilot, mod:plugin-infra, test, app:docs

#2877 feat(docs): update document
  apps/docs/src/app.tsx
  apps/docs/src/pages/binary
  apps/web/next.config.mjs
  packages/component/package.json
Labels: mod:component, app:web, app:docs

#2876 fix: preloading page
  apps/docs/package.json
  apps/electron/package.json
  apps/web/package.json
  packages/component/package.json
  packages/env/package.json
  packages/env/src/blocksuite/index.ts
  packages/jotai/package.json
  packages/plugin-infra/package.json
  packages/storybook/package.json
  packages/templates/preloading.json
  packages/y-indexeddb/package.json
  yarn.lock
Labels: docs, mod:env, mod:component, app:web, app:electron, package:y-indexeddb, mod:store, mod:plugin-infra, app:docs

#2890 style: remove switch button shadow
  packages/component/src/ui/switch/index.css.ts
Labels: mod:component

#2887 fix: database migration
  packages/env/src/blocksuite/subdoc-migration.ts
Labels: mod:env

#2889 fix: migration props:elements
  packages/env/src/__tests__/subdoc-migration.spec.ts
  packages/env/src/blocksuite/subdoc-migration.ts
Labels: mod:env, test

#2888 fix: disable sqlite provider
  .github/workflows/build.yml
  .github/workflows/nightly-build.yml
  .github/workflows/release-desktop-app.yml
  apps/electron/tests/workspace.spec.ts
  apps/web/preset.config.mjs
  apps/web/src/atoms/index.ts
  apps/web/src/components/affine/create-workspace-modal/index.tsx
  apps/web/src/components/affine/workspace-setting-detail/panel/export/index.tsx
  apps/web/src/components/affine/workspace-setting-detail/panel/general/index.tsx
  apps/web/src/components/pure/workspace-list-modal/index.tsx
  nx.json
  packages/env/src/config.ts
  packages/workspace/src/local/crud.ts
  packages/workspace/src/providers/index.ts
Labels: mod:workspace, mod:env, app:web, app:electron, mod:store, test

#2871 feat: update migration test page
  apps/web/src/pages/_debug/migration.tsx
  packages/y-indexeddb/src/__tests__/index.spec.ts
  packages/y-indexeddb/src/utils.ts
Labels: app:web, package:y-indexeddb, test

#2903 fix(web): bypass adapter list error
  apps/web/src/adapters/workspace.ts
Labels: app:web

#2905 feat: add rule 'sonarjs/no-identical-functions'
  .eslintrc.js
  apps/server/src/modules/auth/resolver.ts
  packages/component/src/components/page-list/__tests__/filter.spec.tsx
Labels: mod:component, app:server, test

#2907 chore: codesandbox setup
  .codesandbox/task.json
  packages/cli/src/dev.mjs
Labels: mod:dev

#2906 chore: bump typescript version
  apps/docs/package.json
  apps/server/package.json
  apps/web/package.json
  package.json
  packages/component/package.json
  packages/i18n/package.json
  packages/native/package.json
  yarn.lock
Labels: mod:i18n, mod:component, app:web, app:server, app:docs

#2900 feat: migrate workspace setting with new design to setting modal
  apps/web/src/components/affine/new-workspace-setting-detail/delete-leave-workspace/delete/index.tsx
  apps/web/src/components/affine/new-workspace-setting-detail/delete-leave-workspace/delete/style.ts
  apps/web/src/components/affine/new-workspace-setting-detail/delete-leave-workspace/index.tsx
  apps/web/src/components/affine/new-workspace-setting-detail/delete-leave-workspace/leave/index.tsx
  apps/web/src/components/affine/new-workspace-setting-detail/delete-leave-workspace/leave/style.ts
  apps/web/src/components/affine/new-workspace-setting-detail/export.tsx
  apps/web/src/components/affine/new-workspace-setting-detail/index.tsx
  apps/web/src/components/affine/new-workspace-setting-detail/members/index.tsx
  apps/web/src/components/affine/new-workspace-setting-detail/members/invite-member-modal/index.tsx
  apps/web/src/components/affine/new-workspace-setting-detail/members/style.css.ts
  apps/web/src/components/affine/new-workspace-setting-detail/profile.tsx
  apps/web/src/components/affine/new-workspace-setting-detail/publish.tsx
  apps/web/src/components/affine/new-workspace-setting-detail/storage.tsx
  apps/web/src/components/affine/new-workspace-setting-detail/style.css.ts
  apps/web/src/components/affine/setting-modal/config.ts
  apps/web/src/components/affine/setting-modal/general-setting/about/index.tsx
  apps/web/src/components/affine/setting-modal/general-setting/appearance/index.tsx
  apps/web/src/components/affine/setting-modal/general-setting/appearance/style.css.ts
  apps/web/src/components/affine/setting-modal/general-setting/shortcuts/index.tsx
  apps/web/src/components/affine/setting-modal/index.tsx
  apps/web/src/components/affine/setting-modal/setting-sidebar/index.tsx
  apps/web/src/components/affine/setting-modal/setting-sidebar/style.css.ts
  apps/web/src/layouts/workspace-layout.tsx
  packages/component/src/components/setting-components/index.tsx
  packages/component/src/components/setting-components/modal.tsx
  packages/component/src/components/setting-components/setting-header.tsx
  packages/component/src/components/setting-components/setting-row.tsx
  packages/component/src/components/setting-components/share.css.ts
  packages/component/src/components/setting-components/wrapper.tsx
  packages/component/src/components/user-avatar/index.tsx
  packages/component/src/components/user-avatar/style.css.ts
  packages/component/src/ui/button/utils.ts
  packages/i18n/src/resources/en.json
Labels: mod:i18n, mod:component, app:web

#2913 fix: updater color updates
  packages/component/src/components/app-sidebar/app-updater-button/index.css.ts
Labels: mod:component

#2808 feat(storage): binding jwst storage to node
  .commitlintrc.json
  .github/actions/build-rust/action.yml
  .github/actions/setup-rust/action.yml
  .github/workflows/build.yml
  apps/server/README.md
  apps/server/migrations/20230628074203_workspace/migration.sql
  apps/server/package.json
  apps/server/schema.prisma
  apps/server/src/app.ts
  apps/server/src/config/def.ts
  apps/server/src/config/default.ts
  apps/server/src/config/env.ts
  apps/server/src/config/index.ts
  apps/server/src/index.ts
  apps/server/src/modules/workspaces/controller.ts
  apps/server/src/modules/workspaces/index.ts
  apps/server/src/modules/workspaces/resolver.ts
  apps/server/src/prelude.ts
  apps/server/src/schema.gql
  apps/server/src/storage/index.ts
  apps/server/src/tests/app.e2e.ts
  apps/server/src/tests/auth.spec.ts
  apps/server/src/tests/config.spec.ts
  apps/server/src/tests/workspace.spec.ts
  apps/server/tsconfig.json
  nx.json
  packages/graphql/src/graphql/create-workspace.gql
  packages/graphql/src/graphql/index.ts
  packages/graphql/src/schema.ts
  packages/storage/Cargo.lock
  packages/storage/Cargo.toml
  packages/storage/__tests__/storage.spec.js
  packages/storage/build.rs
  packages/storage/index.d.ts
  packages/storage/index.js
  packages/storage/package.json
  packages/storage/src/lib.rs
  packages/storage/tsconfig.json
  tsconfig.json
  yarn.lock
Labels: docs, type:feat, app:server, test, rust

#2908 ci: add prettier format check
  .eslintrc.js
  .github/helm/affine-cloud/templates/deployment.yaml
  .github/helm/affine-cloud/templates/secret.yaml
  .github/helm/affine-cloud/templates/services.yaml
  .github/workflows/build.yml
  .prettierignore
  apps/web/src/components/affine/new-workspace-setting-detail/delete-leave-workspace/index.tsx
  docs/BUILDING.md
  tests/kit/playwright.ts
Labels: docs, app:web, test

#2885 test: migration test in real world
  .github/workflows/build.yml
  package.json
  playwright.config.ts
  tests/affine-legacy/0.7.0-canary.18/.gitignore
  tests/affine-legacy/0.7.0-canary.18/e2e/basic.spec.ts
  tests/affine-legacy/0.7.0-canary.18/fixtures/.gitkeep
  tests/affine-legacy/0.7.0-canary.18/package.json
  tests/affine-legacy/0.7.0-canary.18/playwright.config.ts
  tests/affine-legacy/0.7.0-canary.18/tests/basic.spec.ts
  tests/affine-legacy/0.7.0-canary.18/tsconfig.json
  tests/affine-legacy/0.7.0-canary.18/tsconfig.node.json
  tests/affine-legacy/0.7.0-canary.18/vitest.config.ts
  tsconfig.json
  yarn.lock
Labels: test

#2916 chore: update translation
  apps/web/src/components/affine/setting-modal/general-setting/index.tsx
  apps/web/src/components/affine/setting-modal/index.tsx
  apps/web/src/components/affine/setting-modal/setting-sidebar/index.tsx
  packages/component/src/components/page-list/__tests__/filter.spec.tsx
  packages/component/src/components/page-list/filter/condition.tsx
  packages/component/src/components/page-list/filter/filter-tag-translation.ts
  packages/component/src/components/page-list/filter/literal-matcher.tsx
  packages/component/src/components/page-list/filter/vars.tsx
  packages/component/src/components/page-list/view/view-list.tsx
  packages/i18n/README.md
  packages/i18n/src/resources/de.json
  packages/i18n/src/resources/en.json
  packages/i18n/src/resources/fr.json
  packages/i18n/src/resources/index.ts
  packages/i18n/src/resources/ja.json
  packages/i18n/src/resources/ko.json
  packages/i18n/src/resources/ru.json
  packages/i18n/src/resources/zh-Hans.json
  packages/i18n/tsconfig.resources.json
Labels: docs, mod:i18n, mod:component, app:web, test

#2882 refactor: rootWorkspacesMetadataAtom loading logic
  apps/web/src/adapters/affine/index.tsx
  apps/web/src/adapters/local/index.tsx
  apps/web/src/adapters/type.tsx
  apps/web/src/adapters/workspace.ts
  apps/web/src/atoms/__tests__/atom.spec.ts
  apps/web/src/atoms/index.ts
  apps/web/src/atoms/root.ts
  apps/web/src/bootstrap/index.ts
  apps/web/src/components/root-app-sidebar/index.tsx
  apps/web/src/hooks/__tests__/index.spec.tsx
  apps/web/src/hooks/affine/use-toggle-workspace-publish.ts
  apps/web/src/hooks/use-transform-workspace.ts
  apps/web/src/hooks/use-workspaces.ts
  apps/web/src/layouts/workspace-layout.tsx
  apps/web/src/pages/_app.tsx
  apps/web/src/pages/_debug/migration.tsx
  apps/web/src/providers/modal-provider.tsx
  packages/env/src/workspace.ts
  packages/workspace/src/affine/sync.ts
  packages/workspace/src/atom.ts
  packages/workspace/src/migration/index.ts
  packages/workspace/src/utils.ts
Labels: mod:workspace, mod:env, app:web, mod:store, test

#2920 fix: a serise of ui issues of new setting
  .github/workflows/build.yml
  apps/web/preset.config.mjs
  apps/web/src/components/affine/new-workspace-setting-detail/publish.tsx
  apps/web/src/components/affine/setting-modal/config.ts
  apps/web/src/components/affine/setting-modal/general-setting/about/index.tsx
  apps/web/src/components/affine/setting-modal/general-setting/appearance/index.tsx
  apps/web/src/components/affine/setting-modal/style.css.ts
  apps/web/src/components/workspace-header.tsx
  packages/component/src/components/app-sidebar/index.css.ts
  packages/component/src/components/app-sidebar/index.tsx
  packages/env/src/global.ts
Labels: mod:env, mod:component, app:web

#2921 chore: bump blocksuite to 0.0.0-20230629084521-542de4e8-nightly
  apps/docs/package.json
  apps/electron/package.json
  apps/storybook/package.json
  apps/web/package.json
  packages/component/package.json
  packages/env/package.json
  packages/jotai/package.json
  packages/plugin-infra/package.json
  packages/y-indexeddb/package.json
  tests/affine-legacy/0.7.0-canary.18/package.json
  yarn.lock
Labels: mod:env, mod:component, app:web, app:electron, package:y-indexeddb, mod:store, mod:plugin-infra, test, app:docs

#2918 chore: update changelog link and remove obsolete changelog components
  apps/storybook/src/stories/change-log.stories.tsx
  apps/web/preset.config.mjs
  apps/web/src/components/affine/setting-modal/general-setting/about/index.tsx
  apps/web/src/components/pure/workspace-slider-bar/changeLog/index.tsx
  packages/component/src/components/changeLog/index.css.ts
  packages/component/src/components/changeLog/index.tsx
Labels: mod:component, app:web

#2925 feat: add and modify test case for new settings modal
  apps/web/src/components/affine/new-workspace-setting-detail/delete-leave-workspace/index.tsx
  apps/web/src/components/affine/setting-modal/general-setting/about/index.tsx
  apps/web/src/components/affine/setting-modal/general-setting/appearance/index.tsx
  apps/web/src/components/affine/setting-modal/general-setting/index.tsx
  apps/web/src/components/affine/setting-modal/general-setting/shortcuts/index.tsx
  apps/web/src/components/affine/setting-modal/setting-sidebar/index.tsx
  apps/web/src/components/root-app-sidebar/index.tsx
  packages/component/src/components/setting-components/setting-header.tsx
  packages/component/src/components/setting-components/setting-row.tsx
  packages/component/src/ui/switch/switch.tsx
  tests/libs/setting.ts
  tests/parallels/local-first-delete-workspace.spec.ts
  tests/parallels/local-first-setting-page.spec.ts
  tests/parallels/settings.spec.ts
Labels: mod:component, app:web, test

#2895 build: affine Node.js server charts
  .github/deployment/front/affine.nginx.conf
  .github/helm/affine/.helmignore
  .github/helm/affine/Chart.yaml
  .github/helm/affine/charts/graphql/Chart.yaml
  .github/helm/affine/charts/graphql/templates/NOTES.txt
  .github/helm/affine/charts/graphql/templates/_helpers.tpl
  .github/helm/affine/charts/graphql/templates/deployment.yaml
  .github/helm/affine/charts/graphql/templates/jwt-secret.yaml
  .github/helm/affine/charts/graphql/templates/migration.yaml
  .github/helm/affine/charts/graphql/templates/oauth-github-secret.yaml
  .github/helm/affine/charts/graphql/templates/oauth-google-secret.yaml
  .github/helm/affine/charts/graphql/templates/r2-secret.yaml
  .github/helm/affine/charts/graphql/templates/service.yaml
  .github/helm/affine/charts/graphql/templates/serviceaccount.yaml
  .github/helm/affine/charts/graphql/templates/tests/test-connection.yaml
  .github/helm/affine/charts/graphql/values.yaml
  .github/helm/affine/charts/web/.helmignore
  .github/helm/affine/charts/web/Chart.yaml
  .github/helm/affine/charts/web/templates/NOTES.txt
  .github/helm/affine/charts/web/templates/_helpers.tpl
  .github/helm/affine/charts/web/templates/deployment.yaml
  .github/helm/affine/charts/web/templates/service.yaml
  .github/helm/affine/charts/web/templates/serviceaccount.yaml
  .github/helm/affine/charts/web/templates/tests/test-connection.yaml
  .github/helm/affine/charts/web/values.yaml
  .github/helm/affine/templates/_helpers.tpl
  .github/helm/affine/templates/ingress.yaml
  .github/helm/affine/values.yaml
  .github/workflows/build.yml
  apps/server/package.json
  apps/server/schema.prisma
  apps/server/src/app.controller.ts
  apps/server/src/app.ts
  apps/server/src/config/def.ts
  apps/server/src/config/default.ts
  apps/server/src/config/env.ts
  apps/server/src/index.ts
  apps/server/src/modules/storage/s3.ts
  apps/server/src/modules/storage/storage.service.ts
  apps/server/src/modules/workspaces/controller.ts
  apps/server/src/modules/workspaces/resolver.ts
  apps/server/src/prelude.ts
  apps/server/src/storage/index.ts
Labels: app:server

#2926 fix(electron): window only ui
  apps/electron/src/preload/bootstrap.ts
  apps/electron/tests/basic.spec.ts
  apps/web/src/bootstrap/index.ts
  apps/web/src/components/blocksuite/workspace-header/header.tsx
  packages/env/src/global.ts
Labels: mod:env, app:web, app:electron, test

#2923 feat: export page as file
  apps/electron/src/main/export/pdf.ts
  apps/web/src/layouts/workspace-layout.tsx
  packages/component/src/components/page-list/operation-menu-items/export.tsx
  packages/component/src/components/workspace/index.css.ts
Labels: mod:component, app:web, app:electron

#2761 fix: z-index on app sidebar
  packages/component/src/components/app-sidebar/index.css.ts
  packages/component/src/components/workspace/index.css.ts
Labels: mod:component

#2934 fix(web): disable notification center
  apps/web/preset.config.mjs
  apps/web/src/layouts/workspace-layout.tsx
  packages/env/src/global.ts
Labels: mod:env, app:web

#2935 feat: special ip address 'localhost'
  packages/env/src/__tests__/is-valid-ip-address.spec.ts
  packages/env/src/is-valid-ip-address.ts
Labels: mod:env, test

#2936 chore: tag deprecated files
  packages/env/src/workspace/legacy-cloud/index.ts
  packages/workspace/src/affine/api/index.ts
  packages/workspace/src/affine/api/status.ts
  packages/workspace/src/affine/atom.ts
  packages/workspace/src/affine/channel.ts
  packages/workspace/src/affine/keck/handler.ts
  packages/workspace/src/affine/keck/index.ts
  packages/workspace/src/affine/keck/processor.ts
  packages/workspace/src/affine/login.ts
  packages/workspace/src/affine/shared.ts
  packages/workspace/src/affine/sync.ts
  packages/workspace/src/providers/affine-download.ts
Labels: mod:workspace, mod:env

#2931 chore: bump blocksuite to 0.0.0-20230629103121-76e6587d-nightly
  apps/docs/package.json
  apps/electron/package.json
  apps/storybook/package.json
  apps/web/package.json
  packages/component/package.json
  packages/env/package.json
  packages/jotai/package.json
  packages/plugin-infra/package.json
  packages/y-indexeddb/package.json
  tests/affine-legacy/0.7.0-canary.18/package.json
  yarn.lock
Labels: mod:env, mod:component, app:web, app:electron, package:y-indexeddb, mod:store, mod:plugin-infra, test, app:docs

#2932 feat: expose clipboard apis
  apps/electron/src/main/clipboard/index.ts
  apps/electron/src/main/handlers.ts
  packages/infra/src/handler.ts
Labels: app:electron

#2892 feat: support for view management
  apps/storybook/package.json
  apps/web/package.json
  apps/web/src/adapters/affine/index.tsx
  apps/web/src/adapters/local/index.tsx
  apps/web/src/components/blocksuite/block-suite-page-list/index.tsx
  apps/web/src/components/pure/workspace-slider-bar/collections/collections-list.tsx
  apps/web/src/components/pure/workspace-slider-bar/collections/index.tsx
  apps/web/src/components/pure/workspace-slider-bar/collections/page.tsx
  apps/web/src/components/pure/workspace-slider-bar/collections/styles.css.ts
  apps/web/src/components/pure/workspace-slider-bar/components/reference-page.tsx
  apps/web/src/components/pure/workspace-slider-bar/favorite/favorite-list.tsx
  apps/web/src/components/pure/workspace-slider-bar/index.tsx
  apps/web/src/components/root-app-sidebar/index.tsx
  apps/web/src/components/workspace-header.tsx
  apps/web/src/hooks/use-get-page-info.ts
  apps/web/src/layouts/workspace-layout.tsx
  apps/web/src/pages/workspace/[workspaceId]/all.tsx
  apps/web/src/utils/filter.ts
  packages/component/package.json
  packages/component/src/components/app-sidebar/menu-item/index.css.ts
  packages/component/src/components/app-sidebar/menu-item/index.tsx
  packages/component/src/components/page-list/__tests__/use-all-page-setting.spec.ts
  packages/component/src/components/page-list/all-page.tsx
  packages/component/src/components/page-list/filter/filter-list.tsx
  packages/component/src/components/page-list/filter/index.css.ts
  packages/component/src/components/page-list/type.ts
  packages/component/src/components/page-list/use-all-page-setting.ts
  packages/component/src/components/page-list/view/collection-bar.css.ts
  packages/component/src/components/page-list/view/collection-bar.tsx
  packages/component/src/components/page-list/view/collection-list.css.ts
  packages/component/src/components/page-list/view/collection-list.tsx
  packages/component/src/components/page-list/view/create-collection.tsx
  packages/component/src/components/page-list/view/create-view.tsx
  packages/component/src/components/page-list/view/index.ts
  packages/component/src/components/page-list/view/view-list.css.ts
  packages/component/src/components/page-list/view/view-list.tsx
  packages/component/src/ui/scrollbar/scrollbar.tsx
  packages/env/src/filter.ts
  packages/env/src/page-info.ts
  packages/env/src/workspace.ts
  packages/i18n/src/resources/en.json
  tests/libs/page-logic.ts
  tests/parallels/all-page.spec.ts
  tests/parallels/local-first-collections-items.spec.ts
  yarn.lock
Labels: mod:i18n, mod:env, mod:component, app:web, test

#2938 refactor(cli): use typescript
  package.json
  packages/cli/package.json
  packages/cli/src/dev.mts
  tsconfig.node.json
  yarn.lock
Labels: mod:dev

#2943 fix: disable sqlite blob storage
  packages/workspace/src/utils.ts
Labels: mod:workspace

#2942 build(electron): use nx
  .github/workflows/build.yml
  .github/workflows/nightly-build.yml
  .github/workflows/release-desktop-app.yml
  apps/electron/package.json
  apps/electron/scripts/build-layers.mjs
  apps/electron/scripts/common.mjs
  apps/electron/scripts/dev.mjs
  apps/electron/tsconfig.node.json
  nx.json
  package.json
  packages/component/package.json
  packages/i18n/dev.mjs
  packages/i18n/package.json
  plugins/bookmark-block/package.json
  plugins/bookmark-block/scripts/build.mjs
  plugins/bookmark-block/scripts/dev.mjs
  plugins/bookmark-block/scripts/utils.mjs
  yarn.lock
Labels: mod:i18n, mod:component, app:electron

#2941 fix(web): migrate connector
  packages/env/src/blocksuite/subdoc-migration.ts
Labels: mod:env

#2944 chore: bump blocksuite to '0.0.0-20230630081054-55a25248-nightly'
  apps/docs/package.json
  apps/electron/package.json
  apps/storybook/package.json
  apps/web/package.json
  packages/component/package.json
  packages/env/package.json
  packages/jotai/package.json
  packages/plugin-infra/package.json
  packages/y-indexeddb/package.json
  tests/affine-legacy/0.7.0-canary.18/package.json
  yarn.lock
Labels: mod:env, mod:component, app:web, app:electron, package:y-indexeddb, mod:store, mod:plugin-infra, test, app:docs

#2949 chore: adjust icon and style
  apps/web/src/components/pure/workspace-slider-bar/collections/page.tsx
  packages/component/src/components/page-list/view/create-collection.tsx
Labels: mod:component, app:web

#2948 build: enhance nx build
  .github/workflows/build.yml
  apps/electron/project.json
  apps/web/next.config.mjs
  apps/web/package.json
  apps/web/project.json
  apps/web/server.mts
  apps/web/src/components/root-app-sidebar/index.tsx
  apps/web/src/layouts/workspace-layout.tsx
  apps/web/tsconfig.json
  apps/web/tsconfig.node.json
  nx.json
  package.json
  packages/cli/src/dev.ts
  packages/component/package.json
  packages/env/src/global.ts
  packages/i18n/project.json
  packages/infra/project.json
  packages/plugin-infra/project.json
  packages/y-indexeddb/project.json
  playwright.config.ts
  plugins/bookmark-block/project.json
  scripts/vitest/next-config-mock.ts
  scripts/wait-3000-healthz.mjs
  tests/parallels/blocksuite/editor.spec.ts
  tests/parallels/debug-init-page.spec.ts
  tests/parallels/router.spec.ts
  yarn.lock
Labels: mod:i18n, mod:env, mod:component, app:web, app:electron, mod:dev, package:y-indexeddb, mod:plugin-infra, test
