Repository toeverything/AFFiNE, pull requests merged in 2023-10, with the labels that each got.

#4514 feat(core): add editor commanads
  apps/core/src/atoms/trash-modal.ts
  apps/core/src/commands/affine-navigation.tsx
  apps/core/src/components/affine/setting-modal/setting-sidebar/style.css.ts
  apps/core/src/components/affine/share-page-modal/index.tsx
  apps/core/src/components/blocksuite/block-suite-header-title/operation-menu.tsx
  apps/core/src/components/blocksuite/block-suite-mode-switch/index.tsx
  apps/core/src/components/blocksuite/block-suite-page-list/index.tsx
  apps/core/src/components/pure/cmdk/main.css.ts
  apps/core/src/components/pure/cmdk/main.tsx
  apps/core/src/components/pure/workspace-slider-bar/collections/page.tsx
  apps/core/src/components/root-app-sidebar/index.tsx
  apps/core/src/hooks/affine/use-block-suite-meta-helper.ts
  apps/core/src/hooks/affine/use-export-page.ts
  apps/core/src/hooks/affine/use-register-blocksuite-editor-commands.tsx
  apps/core/src/hooks/affine/use-trash-modal-helper.ts
  apps/core/src/hooks/use-register-workspace-commands.ts
  apps/core/src/pages/workspace/detail-page.tsx
  apps/storybook/src/stories/page-list.stories.tsx
  apps/storybook/src/stories/share-menu.stories.tsx
  packages/component/src/components/block-suite-editor/index.tsx
  packages/component/src/components/block-suite-editor/use-register-blocksuite-editor-commands.tsx
  packages/component/src/components/page-list/all-pages-body.tsx
  packages/component/src/components/page-list/operation-cell.tsx
  packages/component/src/components/page-list/operation-menu-items/export.tsx
  packages/component/src/components/share-menu/share-export.tsx
  packages/component/src/components/share-menu/share-menu.tsx
  packages/i18n/src/resources/en.json
  tests/affine-local/e2e/local-first-collections-items.spec.ts
  tests/affine-local/e2e/quick-search.spec.ts
Labels: mod:i18n, mod:component, mod:store, test, app:core

#4548 chore: reword template galleries introduction
  packages/templates/v1/template-galleries.json
Labels: docs

#4567 refactor(server): deprecate unstable redis manager
  apps/server/migrations/20231009081826_updates_manager/migration.sql
  apps/server/schema.prisma
  apps/server/src/modules/doc/manager.ts
  apps/server/src/modules/doc/redis-manager.ts
  apps/server/src/modules/sync/events/events.gateway.ts
  apps/server/src/modules/sync/events/events.module.ts
  apps/server/src/modules/sync/events/workspace.ts
  apps/server/src/modules/workspaces/controller.ts
  apps/server/tests/doc.spec.ts
Labels: app:server, test

#4568 feat(core): add setting commands
  apps/core/src/atoms/settings.ts
  apps/core/src/commands/affine-help.tsx
  apps/core/src/commands/affine-settings.tsx
  apps/core/src/commands/affine-updates.tsx
  apps/core/src/commands/index.ts
  apps/core/src/components/affine/language-menu/index.tsx
  apps/core/src/components/affine/setting-modal/general-setting/appearance/index.tsx
  apps/core/src/components/pure/cmdk/main.css.ts
  apps/core/src/components/pure/cmdk/main.tsx
  apps/core/src/hooks/affine/use-language-helper.ts
  apps/core/src/hooks/use-navigate-helper.ts
  apps/core/src/hooks/use-register-workspace-commands.ts
  apps/core/src/layouts/workspace-layout.tsx
  apps/storybook/src/stories/quick-search/quick-search-main.stories.tsx
  packages/component/src/components/app-sidebar/app-updater-button/index.tsx
  packages/component/src/ui/switch/switch.tsx
  packages/i18n/src/resources/en.json
Labels: mod:i18n, mod:component, mod:store, app:core

#4577 test: remove deprecated api usage
  tests/affine-cloud/e2e/basic.spec.ts
  tests/affine-cloud/e2e/collaboration.spec.ts
  tests/affine-desktop/e2e/basic.spec.ts
  tests/affine-legacy/0.8.0-canary.7/e2e/basic.spec.ts
  tests/affine-legacy/0.8.4/e2e/basic.spec.ts
  tests/affine-local/e2e/blocksuite/editor.spec.ts
  tests/affine-local/e2e/duplicate-page.spec.ts
  tests/affine-local/e2e/local-first-avatar.spec.ts
  tests/affine-local/e2e/local-first-delete-workspace.spec.ts
  tests/affine-local/e2e/local-first-trash-page.spec.ts
  tests/affine-local/e2e/quick-search.spec.ts
Labels: test

#4579 fix: dependabot security issues
  Cargo.lock
  apps/electron/package.json
  apps/server/package.json
  package.json
  packages/native/package.json
  packages/storage/Cargo.toml
  packages/storage/package.json
  packages/workspace/package.json
  yarn.lock
Labels: mod:workspace, app:electron, app:server, rust, mod:storage, mod:native

#4569 fix(infra): create template workspace with isolated nanoid
  apps/core/src/adapters/local/index.tsx
  apps/core/src/pages/index.tsx
  packages/env/src/constant.ts
  packages/infra/src/blocksuite/index.ts
  packages/templates/v1/getting-started.json
  packages/templates/v1/personal-home.json
  packages/templates/v1/template-galleries.json
  packages/templates/v1/travel-plan.json
  packages/templates/v1/working-home.json
  tests/affine-cloud/e2e/basic.spec.ts
Labels: mod:infra, docs, mod:env, test, app:core

#4588 test: fix migration
  tests/affine-cloud/e2e/basic.spec.ts
  tests/affine-cloud/e2e/fixtures/0.9.0-canary.9-snapshots.sql
Labels: test

#4587 chore: bump version
  apps/core/package.json
  apps/electron/package.json
  apps/server/package.json
  apps/storybook/package.json
  package.json
  packages/component/package.json
  packages/plugin-cli/package.json
  tests/affine-legacy/0.8.0-canary.7/package.json
  yarn.lock
Labels: mod:component, app:electron, app:server, test, app:core, mod:plugin-cli

#4584 feat(core): adjust share menu style
  apps/core/src/components/affine/share-page-modal/index.tsx
  apps/core/src/components/workspace-header.tsx
  packages/component/src/components/share-menu/index.css.ts
  packages/component/src/components/share-menu/share-export.tsx
  packages/component/src/components/share-menu/share-menu.tsx
  packages/component/src/components/share-menu/share-page.tsx
  packages/i18n/src/resources/en.json
  tests/affine-cloud/e2e/collaboration.spec.ts
  tests/kit/utils/cloud.ts
Labels: mod:i18n, mod:component, test, app:core

#4586 chore: prohibit unnecessary `await`
  .eslintrc.js
  apps/core/src/bootstrap/plugins/setup.ts
  apps/core/src/components/page-detail-editor.tsx
  apps/core/src/hooks/use-workspaces.ts
  apps/core/src/pages/share/detail-page.tsx
  apps/server/tests/prometheus-metrics.spec.ts
  packages/hooks/src/use-block-suite-workspace-avatar-url.ts
  packages/i18n/build.mjs
  plugins/image-preview/src/component/index.tsx
  scripts/setup/i18n.ts
  tests/affine-local/e2e/all-page.spec.ts
  tests/affine-local/e2e/change-page-mode.spec.ts
  tests/affine-local/e2e/contact-us.spec.ts
  tests/affine-local/e2e/exception-page.spec.ts
  tests/affine-local/e2e/image-preview.spec.ts
  tests/affine-local/e2e/local-first-delete-workspace.spec.ts
  tests/affine-local/e2e/quick-search.spec.ts
  tests/affine-local/e2e/settings.spec.ts
  tests/kit/utils/load-page.ts
Labels: mod:i18n, mod:hooks, mod:dev, app:server, test, mod:plugin, app:core

#4566 fix(component): adjust dialog and input style
  apps/core/package.json
  apps/core/src/components/affine/create-workspace-modal/index.tsx
  apps/core/src/components/affine/enable-affine-cloud-modal/index.tsx
  apps/core/src/components/affine/new-workspace-setting-detail/delete-leave-workspace/delete/index.tsx
  apps/core/src/components/affine/new-workspace-setting-detail/delete-leave-workspace/delete/style.css.ts
  apps/core/src/components/affine/new-workspace-setting-detail/delete-leave-workspace/delete/style.ts
  apps/core/src/components/affine/setting-modal/account-setting/index.tsx
  packages/component/package.json
  packages/component/src/components/member-components/invite-modal.tsx
  packages/component/src/components/page-list/view/create-collection.tsx
  packages/component/src/components/share-menu/disable-public-link/index.tsx
  packages/component/src/ui/input/input.tsx
  packages/component/src/ui/input/style.css.ts
  plugins/copilot/package.json
  plugins/hello-world/package.json
  plugins/image-preview/package.json
  plugins/outline/package.json
  yarn.lock
Labels: mod:component, plugin:copilot, mod:plugin, app:core

#4561 feat(collections): new page list
  apps/core/src/adapters/cloud/ui.tsx
  apps/core/src/adapters/local/index.tsx
  apps/core/src/adapters/public-cloud/ui.tsx
  apps/core/src/adapters/shared.ts
  apps/core/src/components/blocksuite/block-suite-page-list/index.tsx
  apps/core/src/layouts/workspace-layout.tsx
  apps/core/src/pages/workspace/all-page.css.ts
  apps/core/src/pages/workspace/all-page.tsx
  apps/core/src/pages/workspace/page-list-empty.css.ts
  apps/core/src/pages/workspace/page-list-empty.tsx
  apps/core/src/pages/workspace/pages.tsx
  apps/core/src/pages/workspace/trash-page.tsx
  apps/storybook/src/stories/page-list.stories.tsx
  packages/component/src/components/page-list/all-page.tsx
  packages/component/src/components/page-list/all-pages-body.tsx
  packages/component/src/components/page-list/index.tsx
  packages/component/src/components/page-list/mobile.tsx
  packages/component/src/components/page-list/operation-cell.tsx
  packages/component/src/components/page-list/page-content-preview.tsx
  packages/component/src/components/page-list/page-group.css.ts
  packages/component/src/components/page-list/page-group.tsx
  packages/component/src/components/page-list/page-list-item.css.ts
  packages/component/src/components/page-list/page-list-item.tsx
  packages/component/src/components/page-list/page-list.css.ts
  packages/component/src/components/page-list/page-list.tsx
  packages/component/src/components/page-list/page-tags.css.ts
  packages/component/src/components/page-list/page-tags.tsx
  packages/component/src/components/page-list/readme.md
  packages/component/src/components/page-list/scoped-atoms.ts
  packages/component/src/components/page-list/type.ts
  packages/component/src/components/page-list/types.ts
  packages/component/src/components/page-list/use-date-group.tsx
  packages/component/src/components/page-list/utils.tsx
  packages/env/src/workspace.ts
  packages/hooks/src/use-block-suite-page-preview.ts
  packages/i18n/src/resources/en.json
Labels: mod:i18n, mod:hooks, mod:env, mod:component, app:core

#4597 test(core): fix flaky
  tests/affine-local/e2e/router.spec.ts
Labels: test

#4602 chore: bump playwright version
  package.json
  tests/affine-cloud/package.json
  tests/affine-desktop-cloud/package.json
  tests/affine-desktop/package.json
  tests/affine-legacy/0.7.0-canary.18/package.json
  tests/affine-legacy/0.8.0-canary.7/package.json
  tests/affine-legacy/0.8.4/package.json
  tests/affine-local/package.json
  tests/affine-migration/package.json
  tests/affine-plugin/package.json
  tests/kit/package.json
  yarn.lock
Labels: test

#4605 fix: disabled form item in the settings can still be operated via keyboard
  apps/core/src/components/affine/new-workspace-setting-detail/publish.tsx
Labels: app:core

#4592 feat(core): add sign out confirm modal
  apps/core/src/atoms/index.ts
  apps/core/src/components/affine/setting-modal/account-setting/index.tsx
  apps/core/src/components/affine/sign-out-modal/index.tsx
  apps/core/src/components/pure/workspace-slider-bar/user-with-workspace-list/user-account/index.tsx
  apps/core/src/pages/404.tsx
  apps/core/src/providers/modal-provider.tsx
  packages/component/src/components/share-menu/share-menu.tsx
  packages/i18n/src/resources/en.json
  tests/affine-cloud/e2e/collaboration.spec.ts
  tests/affine-desktop/e2e/basic.spec.ts
  tests/affine-desktop/e2e/workspace.spec.ts
  tests/affine-local/e2e/router.spec.ts
  tests/kit/utils/cloud.ts
Labels: mod:i18n, mod:component, mod:store, test, app:core

#4595 feat(core): add history shortcut
  apps/core/src/components/root-app-sidebar/index.tsx
  apps/core/src/hooks/affine/use-shortcuts.ts
  apps/core/src/hooks/use-shortcut-commands.ts
  packages/component/src/components/app-sidebar/index.tsx
  packages/component/src/components/app-sidebar/sidebar-header/index.tsx
  tests/affine-desktop/e2e/basic.spec.ts
Labels: mod:component, test, app:core

#4604 chore: bump version
  apps/core/package.json
  apps/electron/package.json
  apps/server/package.json
  apps/storybook/package.json
  package.json
  packages/component/package.json
  packages/graphql/package.json
  packages/hooks/package.json
  packages/i18n/package.json
  packages/native/package.json
  packages/plugin-cli/package.json
  packages/storage/package.json
  packages/workers/package.json
  packages/workspace/package.json
  packages/y-indexeddb/package.json
  plugins/copilot/package.json
  plugins/vue-hello-world/package.json
  yarn.lock
Labels: mod:workspace, mod:i18n, mod:hooks, mod:component, app:electron, package:y-indexeddb, app:server, plugin:copilot, mod:plugin, mod:storage, mod:native, app:core, mod:plugin-cli

#4640 build(y-indexeddb): fix output package.json
  packages/y-indexeddb/package.json
  packages/y-indexeddb/vite.config.ts
Labels: package:y-indexeddb

#4511 build(electron): allow customizing channel type for internal build
  .github/workflows/nightly-build.yml
  apps/electron/scripts/build-layers.mjs
  apps/electron/scripts/generate-assets.mjs
  apps/electron/src/main/config.ts
  apps/electron/src/main/index.ts
  apps/electron/src/main/updater/electron-updater.ts
Labels: app:electron

#4643 test: await setTimeout
  packages/y-provider/src/__tests__/index.spec.ts
Labels: test

#4341 fix: make server guid consistent
  apps/server/src/modules/doc/manager.ts
  apps/server/src/modules/doc/redis-manager.ts
  apps/server/src/modules/sync/events/events.gateway.ts
  apps/server/src/modules/workspaces/controller.ts
  apps/server/src/modules/workspaces/permission.ts
  apps/server/src/modules/workspaces/resolver.ts
  apps/server/src/utils/__tests__/doc.spec.ts
  apps/server/src/utils/doc.ts
  apps/server/tests/doc.spec.ts
  packages/graphql/src/graphql/index.ts
  packages/graphql/src/graphql/set-revoke-page.gql
  packages/graphql/src/graphql/set-share-page.gql
  packages/graphql/src/schema.ts
Labels: app:server, test

#4594 fix(electron): release desktop app workflow
  .github/actions/setup-node/action.yml
  .github/workflows/release-desktop-app.yml
  apps/electron/forge.config.js
  apps/electron/package.json
  apps/electron/scripts/generate-assets.mjs
  package.json
  packages/env/package.json
  packages/infra/package.json
  packages/plugin-cli/package.json
  packages/sdk/package.json
  packages/storage/index.d.ts
  packages/y-indexeddb/package.json
  packages/y-provider/package.json
  yarn.lock
Labels: mod:infra, mod:env, app:electron, package:y-indexeddb, mod:storage, mod:plugin-cli, mod:sdk

#4648 fix(core): remove redundant providers
  packages/workspace/src/providers/index.ts
Labels: mod:workspace

#4641 refactor: use `jotai-effect`
  apps/core/src/adapters/local/index.tsx
  apps/core/src/components/affine/setting-modal/setting-sidebar/index.tsx
  apps/core/src/components/affine/setting-modal/workspace-setting/index.tsx
  apps/core/src/hooks/current/use-current-workspace.ts
  apps/core/src/hooks/use-workspace.ts
  apps/core/src/layouts/workspace-layout.tsx
  apps/core/src/pages/workspace/all-page.tsx
  apps/core/src/pages/workspace/index.tsx
  packages/component/src/components/card/workspace-card/index.tsx
  packages/infra/package.json
  packages/infra/src/__internal__/react.ts
  packages/infra/src/__internal__/workspace.ts
  packages/infra/src/__tests__/blocksuite-atom.ts
  packages/infra/src/__tests__/workspace.spec.ts
  packages/infra/src/atom.ts
  yarn.lock
Labels: mod:infra, mod:component, test, app:core

#4651 refactor(native): remove unused code
  .github/workflows/build-desktop.yml
  packages/native/__tests__/db.spec.mts
  packages/native/__tests__/fs.spec.mts
  packages/native/fs-watcher.d.ts
  packages/native/fs-watcher.js
  packages/native/index.d.ts
  packages/native/index.js
  packages/native/package.json
  packages/native/src/fs.rs
  packages/native/src/lib.rs
  yarn.lock
Labels: test, rust, mod:native

#4650 refactor(electron): typescript check on build scripts
  .github/workflows/nightly-build.yml
  .github/workflows/release-desktop-app.yml
  .yarn/patches/@electron-forge-core-npm-6.4.2-ab60c87e75.patch
  apps/electron/forge.config.mjs
  apps/electron/package.json
  apps/electron/scripts/build-layers.ts
  apps/electron/scripts/common.mjs
  apps/electron/scripts/common.ts
  apps/electron/scripts/dev.ts
  apps/electron/scripts/generate-assets.ts
  apps/electron/scripts/generate-yml.js
  apps/electron/scripts/make-env.ts
  apps/electron/scripts/make-squirrel.ts
  apps/electron/scripts/package.json
  apps/electron/tsconfig.node.json
  package.json
  yarn.lock
Labels: app:electron

#4582 feat: add captcha support for sign in/up
  .env.template
  .github/actions/deploy/deploy.mjs
  .github/helm/affine/charts/graphql/templates/captcha-secret.yaml
  .github/helm/affine/charts/graphql/templates/deployment.yaml
  .github/helm/affine/charts/graphql/values.yaml
  .github/workflows/deploy.yml
  Cargo.lock
  apps/core/.webpack/config.ts
  apps/core/.webpack/runtime-config.ts
  apps/core/package.json
  apps/core/src/components/affine/auth/after-sign-in-send-email.tsx
  apps/core/src/components/affine/auth/after-sign-up-send-email.tsx
  apps/core/src/components/affine/auth/sign-in.tsx
  apps/core/src/components/affine/auth/style.css.ts
  apps/core/src/components/affine/auth/use-auth.ts
  apps/core/src/components/affine/auth/use-captcha.tsx
  apps/electron/src/main/ui/challenge.ts
  apps/electron/src/main/ui/handlers.ts
  apps/server/.env.example
  apps/server/src/config/def.ts
  apps/server/src/config/default.ts
  apps/server/src/modules/auth/next-auth.controller.ts
  apps/server/src/modules/auth/service.ts
  apps/server/src/storage/index.ts
  apps/server/tests/auth.spec.ts
  apps/storybook/.storybook/main.ts
  packages/env/src/global.ts
  packages/hooks/package.json
  packages/infra/src/type.ts
  packages/native/Cargo.toml
  packages/native/index.d.ts
  packages/native/index.js
  packages/native/src/hashcash.rs
  packages/native/src/lib.rs
  packages/storage/Cargo.toml
  packages/storage/index.d.ts
  packages/storage/index.js
  packages/storage/src/hashcash.rs
  packages/storage/src/lib.rs
  packages/workspace/package.json
  plugins/image-preview/package.json
  yarn.lock
Labels: mod:infra, mod:workspace, mod:hooks, mod:env, app:electron, app:server, test, rust, mod:plugin, mod:storage, mod:native, app:core

#4653 feat: bump blocksuite and fix bug in migration
  apps/core/package.json
  apps/core/src/components/pure/cmdk/data.tsx
  apps/core/src/pages/workspace/detail-page.tsx
  apps/electron/package.json
  apps/storybook/package.json
  packages/component/package.json
  packages/env/package.json
  packages/hooks/package.json
  packages/infra/package.json
  packages/infra/src/blocksuite/index.ts
  packages/sdk/package.json
  packages/y-indexeddb/package.json
  packages/y-provider/package.json
  tests/affine-legacy/0.7.0-canary.18/package.json
  tests/affine-legacy/0.8.0-canary.7/package.json
  tests/affine-legacy/0.8.4/package.json
  tests/affine-migration/package.json
  yarn.lock
Labels: mod:infra, mod:hooks, mod:env, mod:component, app:electron, package:y-indexeddb, test, app:core, mod:sdk

#4655 refactor(electron): fix vitest and add behavior test
  .github/workflows/build-desktop.yml
  .github/workflows/build.yml
  nx.json
  packages/common/env/package.json
  packages/common/env/src/global.ts
  packages/frontend/core/src/atoms/settings.ts
  packages/frontend/electron/scripts/common.ts
  packages/frontend/electron/scripts/dev.ts
  packages/frontend/electron/src/helper/db/__tests__/.gitignore
  packages/frontend/electron/src/helper/workspace/__tests__/.gitignore
  packages/frontend/electron/src/main/__tests__/.gitignore
  packages/frontend/electron/src/main/__tests__/integration.spec.ts
  packages/frontend/electron/src/main/config.ts
  packages/frontend/electron/src/main/logger.ts
  packages/frontend/electron/src/preload/bootstrap.ts
  packages/frontend/electron/test/db/ensure-db.spec.ts
  packages/frontend/electron/test/db/migration.spec.ts
  packages/frontend/electron/test/db/old-db.affine
  packages/frontend/electron/test/db/workspace-db-adapter.spec.ts
  packages/frontend/electron/test/workspace/handlers.spec.ts
  packages/frontend/electron/tests/utils.ts
  packages/frontend/electron/tsconfig.json
  packages/frontend/electron/tsconfig.test.json
  packages/frontend/electron/tsconfig.tests.json
  packages/frontend/electron/types/env.d.ts
  packages/frontend/electron/vitest.config.ts
  packages/frontend/workspace/src/atom.ts
  scripts/setup/i18n.ts
  tests/affine-desktop/e2e/basic.spec.ts
  tests/affine-desktop/e2e/behavior.spec.ts
  tests/kit/utils/ipc.ts
  tools/@types/env/__all.d.ts
  tsconfig.json
  vitest.config.ts
  vitest.workspace.ts
Labels: mod:workspace, mod:env, app:electron, mod:dev, mod:store, test, app:core

#4658 fix(hooks): use uuid as pageId
  packages/frontend/hooks/package.json
  packages/frontend/hooks/src/use-block-suite-workspace-helper.ts
  yarn.lock
Labels: mod:hooks

#4657 fix: wrong confirm button position
  packages/frontend/core/src/components/affine/enable-affine-cloud-modal/index.tsx
Labels: app:core

#4661 chore: prettier ignore file generated by napi-rs
  .prettierignore
  packages/backend/storage/index.d.ts
  packages/frontend/native/index.d.ts
  packages/frontend/native/index.js
Labels: mod:storage, mod:native

#4664 fix(server): avoid workspace subdoc guid conflict
  packages/backend/server/src/modules/doc/manager.ts
Labels: app:server

#4663 feat(core): change favicon
  packages/frontend/core/public/apple-touch-icon.png
  packages/frontend/core/public/favicon-144.png
  packages/frontend/core/public/favicon-192.png
  packages/frontend/core/public/favicon-36.png
  packages/frontend/core/public/favicon-48.png
  packages/frontend/core/public/favicon-72.png
  packages/frontend/core/public/favicon-96.png
  packages/frontend/core/public/favicon.ico
Labels: app:core

#4656 build: fix native module in aarch64 docker image
  .github/workflows/deploy.yml
  packages/backend/server/schema.prisma
  packages/backend/server/src/storage/index.ts
Labels: app:server

#4652 feat(core): impl billing settings
  packages/backend/server/migrations/20231019094615_add_inovice_link/migration.sql
  packages/backend/server/schema.prisma
  packages/backend/server/src/modules/payment/resolver.ts
  packages/backend/server/src/modules/payment/service.ts
  packages/backend/server/src/schema.gql
  packages/frontend/component/src/components/setting-components/setting-row.tsx
  packages/frontend/component/src/components/setting-components/share.css.ts
  packages/frontend/core/src/components/affine/setting-modal/general-setting/billing/index.tsx
  packages/frontend/core/src/components/affine/setting-modal/general-setting/billing/style.css.ts
  packages/frontend/core/src/components/affine/setting-modal/general-setting/index.tsx
  packages/frontend/core/src/components/affine/setting-modal/general-setting/plans/index.tsx
  packages/frontend/graphql/src/graphql/create-customer-portal.gql
  packages/frontend/graphql/src/graphql/index.ts
  packages/frontend/graphql/src/graphql/invoices.gql
  packages/frontend/graphql/src/graphql/resume-subscription.gql
  packages/frontend/graphql/src/schema.ts
Labels: mod:component, app:server, app:core

#4665 feat(component): checkbox
  packages/frontend/component/src/index.ts
  packages/frontend/component/src/ui/checkbox/checkbox.tsx
  packages/frontend/component/src/ui/checkbox/icons.tsx
  packages/frontend/component/src/ui/checkbox/index.css.ts
  packages/frontend/component/src/ui/checkbox/index.ts
  tests/storybook/src/stories/checkbox.stories.tsx
  tests/storybook/src/stories/input.stories.tsx
Labels: mod:component, test

#4669 refactor(core): make subscription hook
  packages/frontend/core/src/components/affine/setting-modal/general-setting/billing/index.tsx
  packages/frontend/core/src/components/affine/setting-modal/general-setting/plans/index.tsx
  packages/frontend/core/src/hooks/use-subscription.ts
Labels: app:core

#4673 fix(server): captcha guard
  packages/backend/server/src/modules/auth/next-auth.controller.ts
Labels: app:server

#4677 fix(storage): rustix security fix
  Cargo.lock
Labels: rust

#4685 fix(component): disable CMDK list animation
  packages/frontend/core/src/components/pure/cmdk/main.css.ts
  packages/frontend/core/src/components/pure/cmdk/main.tsx
  tests/storybook/src/stories/quick-search/quick-search-modal.stories.tsx
Labels: test, app:core

#4698 fix(plugin-cli): use relative path
  tools/plugin-cli/src/af.ts
Labels: mod:plugin-cli

#4667 feat(core): add search result highlighting
  packages/common/infra/src/command/command.ts
  packages/frontend/component/src/components/affine-banner/browser-warning.tsx
  packages/frontend/component/src/components/share-menu/share-menu.tsx
  packages/frontend/core/src/atoms/settings.ts
  packages/frontend/core/src/commands/affine-creation.tsx
  packages/frontend/core/src/commands/affine-help.tsx
  packages/frontend/core/src/commands/affine-layout.tsx
  packages/frontend/core/src/commands/affine-navigation.tsx
  packages/frontend/core/src/commands/affine-settings.tsx
  packages/frontend/core/src/commands/affine-updates.tsx
  packages/frontend/core/src/components/affine/app-container.tsx
  packages/frontend/core/src/components/affine/language-menu/index.tsx
  packages/frontend/core/src/components/affine/new-workspace-setting-detail/publish.tsx
  packages/frontend/core/src/components/affine/setting-modal/general-setting/about/index.tsx
  packages/frontend/core/src/components/affine/setting-modal/general-setting/appearance/date-format-setting.tsx
  packages/frontend/core/src/components/affine/setting-modal/general-setting/appearance/index.tsx
  packages/frontend/core/src/components/page-detail-editor.tsx
  packages/frontend/core/src/components/pure/cmdk/data.tsx
  packages/frontend/core/src/components/pure/cmdk/highlight.css.ts
  packages/frontend/core/src/components/pure/cmdk/highlight.tsx
  packages/frontend/core/src/components/pure/cmdk/main.css.ts
  packages/frontend/core/src/components/pure/cmdk/main.tsx
  packages/frontend/core/src/components/pure/cmdk/not-found.css.ts
  packages/frontend/core/src/components/pure/cmdk/not-found.tsx
  packages/frontend/core/src/components/pure/cmdk/types.ts
  packages/frontend/core/src/components/pure/trash-button-group/index.tsx
  packages/frontend/core/src/components/root-app-sidebar/index.tsx
  packages/frontend/core/src/hooks/affine/use-app-setting-helper.ts
  packages/frontend/core/src/hooks/affine/use-language-helper.ts
  packages/frontend/core/src/hooks/affine/use-sidebar-status.ts
  packages/frontend/core/src/hooks/use-register-workspace-commands.ts
  packages/frontend/core/src/layouts/workspace-layout.tsx
  packages/frontend/i18n/src/resources/en.json
  tests/affine-local/e2e/quick-search.spec.ts
  tests/storybook/src/stories/quick-search/quick-search-main.stories.tsx
Labels: mod:infra, mod:i18n, mod:component, mod:store, test, app:core

#4706 feat: bump blocksuite
  packages/common/env/package.json
  packages/common/infra/package.json
  packages/common/sdk/package.json
  packages/common/y-indexeddb/package.json
  packages/common/y-provider/package.json
  packages/frontend/component/package.json
  packages/frontend/core/package.json
  packages/frontend/electron/package.json
  packages/frontend/hooks/package.json
  tests/affine-legacy/0.7.0-canary.18/package.json
  tests/affine-legacy/0.8.0-canary.7/package.json
  tests/affine-legacy/0.8.4/package.json
  tests/affine-migration/package.json
  tests/storybook/package.json
  yarn.lock
Labels: mod:infra, mod:hooks, mod:env, mod:component, app:electron, package:y-indexeddb, test, app:core, mod:sdk

#4707 feat(core): add account subscription status
  packages/frontend/core/src/components/affine/auth/style.css.ts
  packages/frontend/core/src/components/affine/auth/user-plan-button.tsx
  packages/frontend/core/src/components/affine/setting-modal/setting-sidebar/index.tsx
  packages/frontend/core/src/components/affine/setting-modal/setting-sidebar/style.css.ts
  packages/frontend/core/src/components/pure/workspace-slider-bar/user-with-workspace-list/user-account/index.css.ts
  packages/frontend/core/src/components/pure/workspace-slider-bar/user-with-workspace-list/user-account/index.tsx
Labels: app:core

#4710 ci: remove setup-maker to reduce release duration
  .github/actions/setup-maker/action.yml
  .github/workflows/nightly-build.yml
  .github/workflows/release-desktop-app.yml
  packages/frontend/electron/package.json
  packages/frontend/graphql/package.json
  yarn.lock
Labels: app:electron

#4714 feat(core): auto scroll to current payment plan
  packages/frontend/core/src/components/affine/setting-modal/general-setting/plans/icons/bulled-list.tsx
  packages/frontend/core/src/components/affine/setting-modal/general-setting/plans/index.tsx
  packages/frontend/core/src/components/affine/setting-modal/general-setting/plans/style.css.ts
Labels: app:core

#4715 feat(core): payment plans skeleton
  packages/frontend/core/src/components/affine/setting-modal/general-setting/plans/index.tsx
  packages/frontend/core/src/components/affine/setting-modal/general-setting/plans/layout.css.ts
  packages/frontend/core/src/components/affine/setting-modal/general-setting/plans/layout.tsx
  packages/frontend/core/src/components/affine/setting-modal/general-setting/plans/plan-card.tsx
  packages/frontend/core/src/components/affine/setting-modal/general-setting/plans/skeleton.css.ts
  packages/frontend/core/src/components/affine/setting-modal/general-setting/plans/skeleton.tsx
  packages/frontend/core/src/components/affine/setting-modal/general-setting/plans/style.css.ts
  packages/frontend/core/src/components/affine/setting-modal/index.tsx
Labels: app:core

#4713 feat(core): adapt storage progress to payment system
  packages/frontend/component/package.json
  packages/frontend/component/src/components/setting-components/share.css.ts
  packages/frontend/component/src/components/setting-components/storage-progess.tsx
  packages/frontend/core/package.json
  packages/frontend/core/src/components/affine/setting-modal/account-setting/index.tsx
  packages/frontend/core/src/components/affine/setting-modal/account-setting/style.css.ts
  yarn.lock
Labels: mod:component, app:core

#4718 fix(core): retrieve missing search result titles
  packages/frontend/core/src/components/pure/cmdk/data.tsx
Labels: app:core

#4719 chore(core): update communities icon
  packages/frontend/component/package.json
  packages/frontend/core/package.json
  packages/frontend/core/src/components/affine/setting-modal/general-setting/about/config.tsx
  packages/frontend/core/src/components/affine/setting-modal/general-setting/about/icons.tsx
  packages/plugins/copilot/package.json
  packages/plugins/hello-world/package.json
  packages/plugins/image-preview/package.json
  packages/plugins/outline/package.json
  tests/storybook/package.json
  yarn.lock
Labels: mod:component, plugin:copilot, test, mod:plugin, app:core

#4722 feat(core): disable payment in canary
  packages/common/env/src/global.ts
  packages/frontend/core/.webpack/runtime-config.ts
  packages/frontend/core/package.json
  packages/frontend/core/src/atoms/index.ts
  packages/frontend/core/src/components/affine/payment-disable/index.tsx
  packages/frontend/core/src/components/affine/payment-disable/style.css.ts
  packages/frontend/core/src/components/affine/setting-modal/general-setting/plans/plan-card.tsx
  packages/frontend/core/src/providers/modal-provider.tsx
  packages/frontend/i18n/src/resources/en.json
  packages/plugins/copilot/package.json
  packages/plugins/hello-world/package.json
  packages/plugins/image-preview/package.json
  packages/plugins/outline/package.json
  yarn.lock
Labels: mod:i18n, mod:env, mod:store, plugin:copilot, mod:plugin, app:core

#4723 feat(core): add translation key for payment
  packages/frontend/component/src/components/setting-components/storage-progess.tsx
  packages/frontend/core/src/components/affine/auth/user-plan-button.tsx
  packages/frontend/core/src/components/affine/setting-modal/account-setting/index.tsx
  packages/frontend/core/src/components/affine/setting-modal/general-setting/billing/index.tsx
  packages/frontend/core/src/components/affine/setting-modal/general-setting/billing/style.css.ts
  packages/frontend/core/src/components/affine/setting-modal/general-setting/index.tsx
  packages/frontend/i18n/src/resources/en.json
Labels: mod:i18n, mod:component, app:core

#4724 feat(core): pricing plans actions
  packages/frontend/core/src/components/affine/setting-modal/general-setting/plans/index.tsx
  packages/frontend/core/src/components/affine/setting-modal/general-setting/plans/layout.tsx
  packages/frontend/core/src/components/affine/setting-modal/general-setting/plans/modals.tsx
  packages/frontend/core/src/components/affine/setting-modal/general-setting/plans/plan-card.tsx
  packages/frontend/core/src/components/affine/setting-modal/general-setting/plans/style.css.ts
  packages/frontend/core/src/components/affine/setting-modal/index.tsx
  packages/frontend/core/src/components/affine/setting-modal/style.css.ts
  packages/frontend/i18n/src/resources/en.json
Labels: mod:i18n, app:core

#4728 feat(server): auto attach early access coupon
  packages/backend/server/src/modules/payment/index.ts
  packages/backend/server/src/modules/payment/schedule.ts
  packages/backend/server/src/modules/payment/service.ts
  packages/backend/server/src/modules/users/index.ts
  packages/backend/server/src/modules/users/users.ts
Labels: app:server

#4737 feat(core): adjust member tips
  packages/frontend/core/src/components/affine/new-workspace-setting-detail/members.tsx
  packages/frontend/core/src/components/affine/new-workspace-setting-detail/style.css.ts
  packages/frontend/i18n/src/resources/en.json
Labels: mod:i18n, app:core

#4735 fix: directory error when publish npm lib
  scripts/publish.sh
Labels: mod:dev

#4738 feat(core): add upgrade success page
  packages/backend/server/src/modules/payment/resolver.ts
  packages/backend/server/src/modules/payment/webhook.ts
  packages/frontend/core/src/pages/upgrade-success.css.ts
  packages/frontend/core/src/pages/upgrade-success.tsx
  packages/frontend/core/src/router.ts
  packages/frontend/i18n/src/resources/en.json
Labels: mod:i18n, app:server, app:core

#4742 chore(core): replace setting-modal sidebar icons
  packages/frontend/core/src/components/affine/setting-modal/general-setting/icons.tsx
  packages/frontend/core/src/components/affine/setting-modal/general-setting/index.tsx
Labels: app:core

#4743 fix: password reset
  packages/backend/server/src/modules/auth/resolver.ts
  packages/backend/server/src/modules/auth/service.ts
Labels: app:server

#4749 feat(core): confirm before cancel in billing page
  packages/frontend/core/src/components/affine/setting-modal/general-setting/billing/index.tsx
Labels: app:core

#4747 feat: bump up blob size limit temporarily
  packages/backend/server/src/index.ts
Labels: app:server

#4754 fix: error handle in payment resolver
  packages/backend/server/src/modules/payment/resolver.ts
Labels: app:server

#4752 fix: remove awareness state before window unload
  packages/frontend/workspace/src/affine/index.ts
Labels: mod:workspace

#4753 feat: add idempotent request support for payment apis
  packages/backend/server/src/modules/payment/resolver.ts
  packages/backend/server/src/modules/payment/schedule.ts
  packages/backend/server/src/modules/payment/service.ts
  packages/backend/server/src/schema.gql
  packages/frontend/core/src/components/affine/setting-modal/general-setting/billing/index.tsx
  packages/frontend/core/src/components/affine/setting-modal/general-setting/plans/plan-card.tsx
  packages/frontend/graphql/src/graphql/cancel-subscription.gql
  packages/frontend/graphql/src/graphql/create-checkout-link.gql
  packages/frontend/graphql/src/graphql/index.ts
  packages/frontend/graphql/src/graphql/resume-subscription.gql
  packages/frontend/graphql/src/graphql/update-subscription-billing.gql
  packages/frontend/graphql/src/schema.ts
Labels: app:server, app:core

#4746 feat(server): add data migration system
  .github/helm/affine/charts/graphql/templates/migration.yaml
  packages/backend/server/migrations/20231027090128_data_migration/migration.sql
  packages/backend/server/package.json
  packages/backend/server/schema.prisma
  packages/backend/server/src/data/app.ts
  packages/backend/server/src/data/commands/create.ts
  packages/backend/server/src/data/commands/run.ts
  packages/backend/server/src/data/migrations/1698398506533-guid.ts
  packages/backend/server/src/middleware/exception-logger.ts
  packages/backend/server/src/modules/doc/manager.ts
  yarn.lock
Labels: app:server

#4748 docs: update README.md
  README.md
Labels: docs

#4767 fix(server): wrong prod data migration scripts filter
  packages/backend/server/src/data/commands/run.ts
Labels: app:server

#4709 perf(server): opmitize updates table
  packages/backend/server/migrations/20231024095005_updates_pkey/migration.sql
  packages/backend/server/schema.prisma
  packages/backend/server/src/modules/doc/manager.ts
Labels: app:server

#4771 feat(i18n): add new key for billing
  packages/frontend/core/src/components/affine/setting-modal/general-setting/billing/index.tsx
  packages/frontend/i18n/src/resources/en.json
Labels: mod:i18n, app:core

#4768 feat(i18n): add i18n support for new collections
  packages/frontend/component/src/components/page-list/view/create-collection.tsx
  packages/frontend/component/src/components/page-list/view/edit-collection.tsx
  packages/frontend/core/src/pages/workspace/collection.tsx
  packages/frontend/i18n/src/resources/en.json
Labels: mod:i18n, mod:component, app:core

#4765 feat(core): support fuzzy highlighting
  packages/frontend/core/src/components/pure/cmdk/highlight.tsx
  packages/frontend/core/src/hooks/__tests__/use-highlight.spec.ts
  packages/frontend/core/src/hooks/affine/use-highlight.ts
Labels: test, app:core

#4780 fix(core): selectAtom crash on isEqual
  packages/frontend/component/src/components/page-list/page-group.tsx
  packages/frontend/component/src/components/page-list/scoped-atoms.ts
Labels: mod:component

#4774 fix: idempotencyKey used
  packages/backend/server/src/modules/payment/service.ts
Labels: app:server

#4776 fix(core): adjust setting-modal layout to center tip
  packages/frontend/core/src/components/affine/setting-modal/index.tsx
  packages/frontend/core/src/components/affine/setting-modal/style.css.ts
Labels: app:core

#4783 fix(core): possible crash issues
  packages/frontend/component/src/components/page-list/page-content-preview.tsx
  packages/frontend/core/src/hooks/use-workspace.ts
  packages/frontend/hooks/src/use-block-suite-page-preview.ts
Labels: mod:hooks, mod:component, app:core

#4763 feat(core): payment billing loading
  packages/frontend/core/src/components/affine/setting-modal/general-setting/billing/index.tsx
  packages/frontend/core/src/components/affine/setting-modal/general-setting/billing/style.css.ts
Labels: app:core

#4789 fix(electron): update app icons
  packages/frontend/core/public/imgs/app-icon-beta.ico
  packages/frontend/core/public/imgs/app-icon-canary.ico
  packages/frontend/core/public/imgs/app-icon-internal.ico
  packages/frontend/core/public/imgs/app-icon-stable.ico
  packages/frontend/electron/resources/icons/icon.icns
  packages/frontend/electron/resources/icons/icon.ico
  packages/frontend/electron/resources/icons/icon.png
  packages/frontend/electron/resources/icons/icon_beta.icns
  packages/frontend/electron/resources/icons/icon_beta.ico
  packages/frontend/electron/resources/icons/icon_canary.icns
  packages/frontend/electron/resources/icons/icon_canary.ico
  packages/frontend/electron/resources/icons/icon_internal.icns
  packages/frontend/electron/resources/icons/icon_internal.ico
Labels: app:electron, app:core

#4787 feat(core): billing history pagination
  packages/backend/server/src/modules/users/resolver.ts
  packages/backend/server/src/schema.gql
  packages/frontend/core/src/components/affine/setting-modal/general-setting/billing/index.tsx
  packages/frontend/core/src/components/affine/setting-modal/general-setting/billing/style.css.ts
  packages/frontend/graphql/src/graphql/index.ts
  packages/frontend/graphql/src/graphql/invoices-count.gql
  packages/frontend/graphql/src/schema.ts
Labels: app:server, app:core

#4786 fix: request prevented when re-downgrade subscribe
  packages/frontend/core/src/components/affine/setting-modal/general-setting/plans/plan-card.tsx
Labels: app:core

#4788 feat(core): support subscribe plan after login
  packages/frontend/core/src/components/affine/auth/after-sign-in-send-email.tsx
  packages/frontend/core/src/components/affine/auth/subscription-redirect.css.ts
  packages/frontend/core/src/components/affine/auth/subscription-redirect.tsx
  packages/frontend/core/src/components/affine/auth/use-auth.ts
  packages/frontend/core/src/components/affine/auth/use-subscription.ts
  packages/frontend/core/src/pages/auth.tsx
  packages/frontend/i18n/src/resources/en.json
Labels: mod:i18n, app:core

#4773 fix(component): adjust autofill style
  packages/frontend/component/src/ui/input/style.css.ts
Labels: mod:component
