Repository toeverything/AFFiNE, pull requests merged in 2023-09, with the labels that each got.

#4049 docs: fixed typo in README.md of the root
  README.md
Labels: docs

#4088 test(server): fix flaky
  apps/server/src/tests/prometheus-metrics.spec.ts
  apps/storybook/src/stories/core.stories.tsx
Labels: app:server, test

#4090 fix: add back sourcemaps to electron build
  apps/core/.webpack/config.ts
  apps/electron/scripts/generate-assets.mjs
  apps/electron/src/main/protocol.ts
Labels: app:electron

#4059 feat: exception logger
  apps/server/src/app.ts
  apps/server/src/graphql/logger-plugin.ts
  apps/server/src/middleware/exception-logger.ts
  apps/server/src/modules/index.ts
Labels: app:server

#4093 fix: not be able to login with Google in desktop
  apps/core/src/utils/cloud-utils.tsx
Labels: app:core

#4091 fix(server): redirect logic in earlyAccessPreview
  apps/server/src/modules/auth/next-auth-options.ts
  apps/server/src/modules/auth/next-auth.controller.ts
  apps/server/src/modules/users/resolver.ts
  apps/server/src/modules/users/utils.ts
Labels: app:server

#4092 fix(server): relax the rate limits
  .github/workflows/build-server.yml
  apps/server/src/modules/auth/next-auth.controller.ts
  apps/server/src/modules/index.ts
  apps/server/src/tests/app.e2e.ts
  apps/server/src/tests/workspace.spec.ts
  apps/server/src/throttler.ts
Labels: app:server, test

#4089 feat: support force sync by click
  apps/core/src/components/pure/workspace-slider-bar/WorkspaceSelector/index.css.ts
  apps/core/src/components/pure/workspace-slider-bar/WorkspaceSelector/loading-icon.tsx
  apps/core/src/components/pure/workspace-slider-bar/WorkspaceSelector/workspace-selector.tsx
  apps/core/src/hooks/use-datasource-sync.ts
  packages/env/src/workspace.ts
  packages/hooks/src/use-data-source-status.ts
  packages/workspace/src/providers/index.ts
  packages/workspace/src/providers/sqlite-providers.ts
  packages/y-indexeddb/src/provider.ts
  packages/y-indexeddb/src/shared.ts
  packages/y-provider/src/data-source.ts
  packages/y-provider/src/lazy-provider.ts
  packages/y-provider/src/types.ts
Labels: mod:workspace, mod:hooks, mod:env, package:y-indexeddb, app:core

#4095 test(server): run test in single thread
  apps/server/scripts/run-test.ts
Labels: app:server

#4096 fix: preload typo
  packages/templates/v1/getting-started.json
Labels: docs

#4102 fix: error in @toeverything/components
  apps/core/package.json
  plugins/copilot/package.json
  plugins/hello-world/package.json
  plugins/image-preview/package.json
  plugins/outline/package.json
  yarn.lock
Labels: plugin:copilot, mod:plugin, app:core

#4106 chore(server): change the log level
  apps/server/src/index.ts
  apps/server/src/modules/auth/next-auth.controller.ts
Labels: app:server

#4108 fix(server): set right AFFINE_SERVER_HOST env variable
  .github/actions/deploy/deploy.mjs
  apps/server/src/index.ts
Labels: app:server

#4114 feat: add user level blob quota
  Cargo.lock
  apps/server/src/config/def.ts
  apps/server/src/config/default.ts
  apps/server/src/modules/workspaces/resolver.ts
  apps/server/src/tests/utils.ts
  apps/server/src/tests/workspace-blobs.spec.ts
  packages/storage/index.d.ts
  packages/storage/src/lib.rs
Labels: app:server, test, rust, mod:storage

#4116 build(core): fix non-canary assets bucket
  packages/cli/src/bin/build-core.ts
Labels: mod:dev

#4117 feat: add user info edit verify
  apps/core/src/pages/auth.tsx
  apps/server/package.json
  apps/server/src/app.ts
  apps/server/src/config/def.ts
  apps/server/src/modules/auth/next-auth-options.ts
  apps/server/src/modules/auth/next-auth.controller.ts
  apps/server/src/modules/auth/resolver.ts
  apps/server/src/modules/users/resolver.ts
  apps/server/src/schema.gql
  apps/server/src/session.ts
  apps/server/src/tests/session.spec.ts
  packages/graphql/src/graphql/change-email.gql
  packages/graphql/src/graphql/change-password.gql
  packages/graphql/src/graphql/index.ts
  packages/graphql/src/schema.ts
  yarn.lock
Labels: app:server, test, app:core

#4115 fix: cookie issues in Electron
  apps/core/src/components/affine/auth/sign-in-with-password.tsx
  apps/core/src/utils/cloud-utils.tsx
  apps/electron/src/main/deep-link.ts
  apps/electron/src/main/main-window.ts
  apps/electron/src/main/protocol.ts
  apps/server/src/modules/auth/next-auth-options.ts
Labels: app:electron, app:server, app:core

#4110 fix: error invitation url
  apps/server/src/modules/auth/mailer/mail.service.ts
Labels: app:server

#4122 fix(core): sort tags by count
  packages/component/src/components/page-list/use-sorter.ts
Labels: mod:component

#4098 chore: optimized style
  apps/core/src/components/blocksuite/block-suite-header-title/operation-menu.tsx
  apps/core/src/components/pure/trash-button-group/index.tsx
  apps/core/src/components/pure/workspace-slider-bar/WorkspaceSelector/loading-icon.tsx
  apps/core/src/components/pure/workspace-slider-bar/WorkspaceSelector/workspace-selector.tsx
  apps/core/src/hooks/use-datasource-sync.ts
  packages/component/src/components/block-suite-editor/index.tsx
  packages/component/src/components/page-list/operation-menu-items/move-to-trash.tsx
  packages/component/src/ui/button/styles.css.ts
  tests/affine-local/e2e/local-first-trash-page.spec.ts
Labels: mod:component, test, app:core

#4120 refactor(server): use ava
  apps/server/package.json
  apps/server/scripts/run-test.ts
  apps/server/src/app.ts
  apps/server/src/index.ts
  apps/server/src/modules/auth/index.ts
  apps/server/src/modules/auth/resolver.ts
  apps/server/src/modules/index.ts
  apps/server/src/tests/app.e2e.ts
  apps/server/src/tests/auth.spec.ts
  apps/server/src/tests/config.spec.ts
  apps/server/src/tests/doc.spec.ts
  apps/server/src/tests/mailer.spec.ts
  apps/server/src/tests/prometheus-metrics.spec.ts
  apps/server/src/tests/session.spec.ts
  apps/server/src/tests/user.spec.ts
  apps/server/src/tests/workspace-blobs.spec.ts
  apps/server/src/tests/workspace-invite.spec.ts
  apps/server/src/tests/workspace.spec.ts
  yarn.lock
Labels: app:server, test

#4124 test: improve data migration suite
  tests/affine-cloud/e2e/basic.spec.ts
  tests/affine-cloud/e2e/login.spec.ts
  tests/affine-legacy/0.7.0-canary.18/e2e/basic.spec.ts
  tests/affine-legacy/0.7.0-canary.18/tsconfig.json
  tests/affine-legacy/0.8.0-canary.7/e2e/basic.spec.ts
  tests/affine-legacy/0.8.0-canary.7/tsconfig.json
  tests/affine-local/e2e/all-page.spec.ts
  tests/affine-local/e2e/blocksuite/block-hub.spec.ts
  tests/affine-local/e2e/blocksuite/editor.spec.ts
  tests/affine-local/e2e/change-page-mode.spec.ts
  tests/affine-local/e2e/contact-us.spec.ts
  tests/affine-local/e2e/drag-page-to-trash-folder.spec.ts
  tests/affine-local/e2e/duplicate-page.spec.ts
  tests/affine-local/e2e/image-preview.spec.ts
  tests/affine-local/e2e/layout.spec.ts
  tests/affine-local/e2e/local-first-avatar.spec.ts
  tests/affine-local/e2e/local-first-collections-items.spec.ts
  tests/affine-local/e2e/local-first-delete-page.spec.ts
  tests/affine-local/e2e/local-first-delete-workspace.spec.ts
  tests/affine-local/e2e/local-first-export-page.spec.ts
  tests/affine-local/e2e/local-first-favorite-page.spec.ts
  tests/affine-local/e2e/local-first-favorites-items.spec.ts
  tests/affine-local/e2e/local-first-new-page.spec.ts
  tests/affine-local/e2e/local-first-openpage-newtab.spec.ts
  tests/affine-local/e2e/local-first-restore-page.spec.ts
  tests/affine-local/e2e/local-first-show-delete-modal.spec.ts
  tests/affine-local/e2e/local-first-trash-page.spec.ts
  tests/affine-local/e2e/local-first-workspace-list.spec.ts
  tests/affine-local/e2e/local-first-workspace.spec.ts
  tests/affine-local/e2e/open-affine.spec.ts
  tests/affine-local/e2e/quick-search.spec.ts
  tests/affine-local/e2e/router.spec.ts
  tests/affine-local/e2e/settings.spec.ts
  tests/affine-local/e2e/shortcuts.spec.ts
  tests/affine-local/e2e/subpage.spec.ts
  tests/affine-local/e2e/theme.spec.ts
  tests/affine-plugin/e2e/basic.spec.ts
  tests/kit/package.json
  tests/kit/utils/cloud.ts
  tests/kit/utils/editor.ts
  tests/kit/utils/page-logic.ts
  tests/kit/utils/proxy.ts
  yarn.lock
Labels: test

#4125 test: add name change test
  apps/core/src/components/affine/setting-modal/setting-sidebar/index.tsx
  tests/affine-cloud/e2e/basic.spec.ts
Labels: test, app:core

#4126 test: cover share page e2e
  apps/server/src/modules/workspaces/permission.ts
  packages/component/src/components/share-menu/share-menu.tsx
  packages/component/src/components/share-menu/share-page.tsx
  tests/affine-cloud/e2e/collaboration.spec.ts
  tests/affine-legacy/0.7.0-canary.18/e2e/basic.spec.ts
  tests/affine-local/e2e/all-page.spec.ts
  tests/affine-local/e2e/blocksuite/editor.spec.ts
  tests/affine-local/e2e/duplicate-page.spec.ts
  tests/affine-local/e2e/image-preview.spec.ts
  tests/affine-local/e2e/local-first-avatar.spec.ts
  tests/affine-local/e2e/local-first-collections-items.spec.ts
  tests/affine-local/e2e/local-first-delete-page.spec.ts
  tests/affine-local/e2e/local-first-export-page.spec.ts
  tests/affine-local/e2e/local-first-favorite-page.spec.ts
  tests/affine-local/e2e/local-first-favorites-items.spec.ts
  tests/affine-local/e2e/local-first-new-page.spec.ts
  tests/affine-local/e2e/local-first-openpage-newtab.spec.ts
  tests/affine-local/e2e/local-first-restore-page.spec.ts
  tests/affine-local/e2e/local-first-show-delete-modal.spec.ts
  tests/affine-local/e2e/local-first-trash-page.spec.ts
  tests/affine-local/e2e/local-first-workspace-list.spec.ts
  tests/affine-local/e2e/open-affine.spec.ts
  tests/affine-local/e2e/quick-search.spec.ts
  tests/affine-local/e2e/settings.spec.ts
  tests/kit/utils/filter.ts
  tests/kit/utils/page-logic.ts
  tests/kit/utils/workspace.ts
Labels: mod:component, app:server, test

#4127 test: cover basic collaborative
  tests/affine-cloud/e2e/basic.spec.ts
  tests/affine-cloud/e2e/collaboration.spec.ts
  tests/kit/tsconfig.json
  tests/kit/utils/cloud.ts
Labels: test

#4099 feat: optimize sign in experience
  apps/core/src/components/affine/auth/after-sign-in-send-email.tsx
  apps/core/src/components/affine/auth/after-sign-up-send-email.tsx
  apps/core/src/components/affine/auth/sign-in.tsx
  apps/core/src/components/affine/auth/use-auth.ts
Labels: app:core

#4097 feat: add a reminder for early access in the invitation email
  apps/server/src/modules/auth/mailer/mail.service.ts
  apps/server/src/modules/auth/mailer/template.ts
Labels: app:server

#4130 test: email sending e2e
  .github/workflows/build-server.yml
  apps/server/.env.example
  apps/server/scripts/test-send-local-mail.ts
  apps/server/src/config/def.ts
  apps/server/src/config/default.ts
  apps/server/src/modules/auth/mailer/mailer.ts
  apps/server/src/prelude.ts
  apps/server/src/tests/mailer.e2e.ts
  tests/affine-cloud/playwright.config.ts
Labels: app:server, test

#4129 docs(i18n): update i18n usage
  packages/i18n/README.md
Labels: docs, mod:i18n

#4135 refactor(infra): move initEmptyPage
  apps/core/src/adapters/cloud/ui.tsx
  apps/core/src/adapters/local/index.tsx
  apps/core/src/adapters/public-cloud/ui.tsx
  apps/core/src/components/blocksuite/block-suite-page-list/utils.tsx
  apps/core/src/components/pure/quick-search-modal/footer.tsx
  apps/storybook/src/stories/image-preview-modal.stories.tsx
  packages/env/src/blocksuite/index.ts
  packages/hooks/src/__tests__/use-block-suite-workspace-helper.spec.ts
  packages/infra/src/blocksuite/index.ts
Labels: mod:infra, mod:hooks, mod:env, test, app:core

#4139 fix(server): missing nanoid dependency
  apps/server/package.json
  yarn.lock
Labels: app:server

#4138 fix: filter of tags does not work
  packages/component/src/components/page-list/filter/vars.tsx
Labels: mod:component

#4148 fix: add keyv types
  apps/server/package.json
  yarn.lock
Labels: app:server

#4153 feat: remove yrs
  Cargo.lock
  Cargo.toml
  packages/storage/Cargo.toml
  packages/storage/src/lib.rs
  scripts/bump-octobase.sh
Labels: mod:dev, rust, mod:storage

#4149 feat: log all exceptions In HTTP context
  apps/server/src/middleware/exception-logger.ts
Labels: app:server

#4142 fix: api url for electron
  apps/electron/src/main/config.ts
  packages/workers/src/index.ts
Labels: app:electron

#4150 fix: style fixes to windows app control buttons
  apps/core/src/components/pure/header/style.css.tsx
  apps/core/src/components/pure/header/windows-app-controls.tsx
  apps/electron/src/main/main-window.ts
  apps/electron/src/main/ui/events.ts
  apps/electron/src/main/ui/handlers.ts
  apps/electron/src/main/ui/subject.ts
  packages/infra/src/type.ts
Labels: mod:infra, app:electron, app:core

#4154 feat: enable https in production
  apps/server/src/config/default.ts
Labels: app:server

#4156 fix: header ui styles
  apps/core/src/components/pure/header/index.tsx
  apps/core/src/components/pure/header/style.css.tsx
  apps/electron/src/main/main-window.ts
  packages/component/src/components/app-sidebar/index.css.ts
  packages/component/src/components/app-sidebar/sidebar-header/index.tsx
  packages/component/src/components/app-sidebar/sidebar-header/sidebar-switch.css.ts
Labels: mod:component, app:electron, app:core

#4159 feat: add fav button
  apps/core/src/components/blocksuite/block-suite-page-list/utils.tsx
  apps/core/src/components/pure/workspace-slider-bar/favorite/add-favourite-button.tsx
  apps/core/src/components/root-app-sidebar/index.tsx
  tests/affine-local/e2e/local-first-favorites-items.spec.ts
Labels: test, app:core

#4170 fix(server): storage usage calculation issue
  apps/server/src/modules/workspaces/resolver.ts
Labels: app:server

#4178 chore(server): debug blob sizes limit
  apps/server/src/modules/workspaces/controller.ts
  apps/server/src/modules/workspaces/resolver.ts
Labels: app:server

#4181 chore(server): debug blob sizes limit
  apps/server/src/modules/workspaces/resolver.ts
Labels: app:server

#4101 test(server): use mock PrismaService in tests
  apps/server/src/tests/app.e2e.ts
  apps/server/src/tests/auth.spec.ts
  apps/server/src/tests/config.spec.ts
  apps/server/src/tests/doc.spec.ts
  apps/server/src/tests/mailer.spec.ts
  apps/server/src/tests/prometheus-metrics.spec.ts
  apps/server/src/tests/session.spec.ts
  apps/server/src/tests/user.spec.ts
  apps/server/src/tests/workspace-blobs.spec.ts
  apps/server/src/tests/workspace-invite.spec.ts
  apps/server/src/tests/workspace.spec.ts
Labels: app:server, test

#4187 fix: sidebar ui fix
  packages/component/src/components/app-sidebar/index.css.ts
  packages/component/src/components/app-sidebar/index.tsx
Labels: mod:component

#4194 fix: cloud workspace sometimes converted to local workspace
  packages/workspace/src/local/crud.ts
Labels: mod:workspace

#4197 fix: preloading typo
  packages/templates/v1/brief-event-planning.json
  packages/templates/v1/travel-note.json
  packages/templates/v1/travel-plan.json
Labels: docs

#4200 fix: use database session cookie for production
  apps/server/src/modules/auth/next-auth-options.ts
  apps/server/src/modules/auth/resolver.ts
  apps/server/src/modules/auth/service.ts
Labels: app:server

#4182 fix: can not scroll in mermber list
  apps/core/src/components/affine/new-workspace-setting-detail/style.css.ts
Labels: app:core

#4203 fix(core): location.state maybe null
  apps/core/src/pages/sign-in.tsx
Labels: app:core

#4202 fix(core): remove write version
  packages/infra/src/blocksuite/index.ts
Labels: mod:infra

#4157 fix: notification text cannot be selected when there is a modal
  packages/component/src/ui/modal/modal.tsx
Labels: mod:component

#4063 feat: auth metric and trace
  apps/core/src/utils/cloud-utils.tsx
  apps/server/src/metrics/metrics.ts
  apps/server/src/modules/auth/next-auth.controller.ts
  packages/graphql/src/__tests__/fetcher.spec.ts
  packages/graphql/src/fetcher.ts
  packages/graphql/src/index.ts
  packages/graphql/src/utils.ts
  packages/workspace/src/blob/cloud-blob-storage.ts
  packages/workspace/src/providers/cloud/index.ts
Labels: mod:workspace, app:server, test, app:core

#4012 feat: replace menu with new design
  apps/core/package.json
  apps/core/src/components/affine/language-menu/index.tsx
  apps/core/src/components/affine/language-menu/style.css.ts
  apps/core/src/components/affine/new-workspace-setting-detail/members.tsx
  apps/core/src/components/affine/setting-modal/general-setting/appearance/date-format-setting.tsx
  apps/core/src/components/affine/setting-modal/general-setting/appearance/index.tsx
  apps/core/src/components/blocksuite/block-suite-header-title/operation-menu.tsx
  apps/core/src/components/pure/header-drop-down-button/index.tsx
  apps/core/src/components/pure/header-drop-down-button/styles.css.ts
  apps/core/src/components/pure/workspace-list-modal/index.tsx
  apps/core/src/components/pure/workspace-list-modal/styles.ts
  apps/core/src/components/pure/workspace-slider-bar/collections/collections-list.tsx
  apps/core/src/components/pure/workspace-slider-bar/collections/page.tsx
  apps/prototype/package.json
  apps/storybook/package.json
  packages/component/package.json
  packages/component/src/components/app-sidebar/menu-item/index.css.ts
  packages/component/src/components/page-list/components/dropdown.css.ts
  packages/component/src/components/page-list/components/dropdown.tsx
  packages/component/src/components/page-list/components/new-page-buttton.tsx
  packages/component/src/components/page-list/components/tags.tsx
  packages/component/src/components/page-list/filter/condition.tsx
  packages/component/src/components/page-list/filter/filter-list.tsx
  packages/component/src/components/page-list/filter/filter-tag-translation.tsx
  packages/component/src/components/page-list/filter/multi-select.tsx
  packages/component/src/components/page-list/filter/vars.tsx
  packages/component/src/components/page-list/operation-cell.tsx
  packages/component/src/components/page-list/operation-menu-items/copy-link.tsx
  packages/component/src/components/page-list/operation-menu-items/disable-public-sharing.tsx
  packages/component/src/components/page-list/operation-menu-items/export.tsx
  packages/component/src/components/page-list/operation-menu-items/index.ts
  packages/component/src/components/page-list/operation-menu-items/move-to-trash.tsx
  packages/component/src/components/page-list/view/collection-list.tsx
  packages/component/src/components/share-menu/share-export.tsx
  packages/component/src/components/share-menu/share-menu.tsx
  packages/component/src/components/share-menu/share-page.tsx
  packages/component/src/ui/menu/index.ts
  packages/component/src/ui/menu/menu-trigger.tsx
  packages/component/src/ui/menu/menu.tsx
  plugins/bookmark/package.json
  plugins/copilot/package.json
  plugins/hello-world/package.json
  plugins/image-preview/package.json
  plugins/outline/package.json
  tests/affine-local/e2e/all-page.spec.ts
  tests/affine-local/e2e/local-first-collections-items.spec.ts
  tests/affine-local/e2e/local-first-favorite-page.spec.ts
  tests/affine-local/e2e/local-first-openpage-newtab.spec.ts
  tests/affine-local/e2e/settings.spec.ts
  tests/kit/utils/filter.ts
  yarn.lock
Labels: mod:component, plugin:copilot, test, mod:plugin, app:core

#4204 fix(core): sign out jump to 404
  apps/core/src/components/affine/setting-modal/account-setting/index.tsx
  tests/affine-cloud/e2e/collaboration.spec.ts
  tests/kit/utils/setting.ts
Labels: test, app:core

#3838 refactor: change locale key
  apps/core/src/components/affine/auth/no-access.tsx
  apps/core/src/components/affine/auth/send-email.tsx
  apps/core/src/components/affine/auth/sign-in-with-password.tsx
  apps/core/src/components/affine/auth/sign-in.tsx
  apps/core/src/components/affine/create-workspace-modal/index.tsx
  apps/core/src/components/affine/enable-affine-cloud-modal/index.tsx
  apps/core/src/components/affine/new-workspace-setting-detail/delete-leave-workspace/delete/index.tsx
  apps/core/src/components/affine/new-workspace-setting-detail/delete-leave-workspace/index.tsx
  apps/core/src/components/affine/new-workspace-setting-detail/index.tsx
  apps/core/src/components/affine/setting-modal/general-setting/about/index.tsx
  apps/core/src/components/affine/setting-modal/general-setting/appearance/index.tsx
  apps/core/src/components/affine/setting-modal/general-setting/index.tsx
  apps/core/src/components/affine/setting-modal/general-setting/shortcuts/index.tsx
  apps/core/src/components/affine/setting-modal/setting-sidebar/index.tsx
  apps/core/src/components/blocksuite/block-suite-header-title/operation-menu.tsx
  apps/core/src/components/blocksuite/block-suite-mode-switch/index.tsx
  apps/core/src/components/blocksuite/block-suite-page-list/index.tsx
  apps/core/src/components/pure/help-island/index.tsx
  apps/core/src/components/pure/quick-search-modal/config.ts
  apps/core/src/components/pure/trash-button-group/index.tsx
  apps/core/src/components/pure/workspace-mode-filter-tab/index.tsx
  apps/core/src/components/pure/workspace-slider-bar/collections/add-collection-button.tsx
  apps/core/src/components/pure/workspace-slider-bar/collections/page.tsx
  apps/core/src/components/root-app-sidebar/index.tsx
  apps/core/src/hooks/affine/use-shortcuts.ts
  apps/core/src/layouts/workspace-layout.tsx
  apps/core/src/pages/404.tsx
  packages/component/src/components/app-sidebar/app-updater-button/index.tsx
  packages/component/src/components/app-sidebar/sidebar-header/sidebar-switch.tsx
  packages/component/src/components/auth-components/back-button.tsx
  packages/component/src/components/card/workspace-card/index.tsx
  packages/component/src/components/member-components/invite-modal.tsx
  packages/component/src/components/page-list/filter/filter-list.tsx
  packages/component/src/components/page-list/operation-cell.tsx
  packages/component/src/components/page-list/operation-menu-items/move-to-trash.tsx
  packages/component/src/components/page-list/view/collection-bar.tsx
  packages/component/src/components/page-list/view/create-collection.tsx
  packages/component/src/components/share-menu/disable-public-link/index.tsx
  packages/component/src/components/share-menu/share-page.tsx
  packages/component/src/ui/confirm/confirm.tsx
  packages/component/src/ui/modal/confirm-modal.tsx
  packages/i18n/src/resources/de.json
  packages/i18n/src/resources/en.json
  packages/i18n/src/resources/fr.json
  packages/i18n/src/resources/ja.json
  packages/i18n/src/resources/ko.json
  packages/i18n/src/resources/ru.json
  packages/i18n/src/resources/zh-Hans.json
  packages/i18n/src/resources/zh-Hant.json
Labels: mod:i18n, mod:component, app:core

#4209 fix: logger filter should pass graphql context
  apps/server/src/middleware/exception-logger.ts
  apps/server/src/tests/exception-logger.e2e.ts
Labels: app:server, test

#4235 chore(server): add log to early access redirect
  apps/server/src/modules/auth/next-auth-options.ts
  apps/server/src/modules/auth/next-auth.controller.ts
Labels: app:server

#4236 fix(core): location.state maybe null
  apps/core/src/pages/sign-in.tsx
Labels: app:core

#4234 feat: modify workspace setting description
  packages/i18n/src/resources/en.json
Labels: mod:i18n

#4237 chore(server): redirect /api/auth/signin
  apps/server/src/modules/auth/next-auth.controller.ts
Labels: app:server

#4241 fix(core): upload binary after migration
  apps/core/src/components/migration-fallback.tsx
  tests/affine-cloud/e2e/basic.spec.ts
Labels: test, app:core

#4211 fix: correct sign out display name
  packages/i18n/src/resources/en.json
Labels: mod:i18n

#4247 feat(core): await sync doc
  apps/core/src/components/migration-fallback.tsx
  packages/workspace/src/affine/crud.ts
  packages/y-provider/src/data-source.ts
Labels: mod:workspace, app:core

#4232 fix: can not close menu in all page
  packages/component/src/components/page-list/components/dropdown.css.ts
  packages/component/src/components/page-list/components/new-page-buttton.tsx
Labels: mod:component

#4243 fix: wrong copywriting in change email modal
  apps/core/src/components/affine/auth/send-email.tsx
  packages/i18n/src/resources/en.json
Labels: mod:i18n, app:core

#4245 feat(core): add share page error boundary
  apps/core/src/components/share-page-not-found-error.tsx
  apps/core/src/pages/share/detail-page.tsx
Labels: app:core

#4248 fix(core): display user name dynamically
  apps/core/src/adapters/cloud/ui.tsx
  apps/core/src/components/page-detail-editor.tsx
  apps/core/src/pages/workspace/detail-page.tsx
  tests/affine-cloud/e2e/collaboration.spec.ts
Labels: test, app:core

#4193 style: add hover style to the setting button in workspace card
  packages/component/src/components/card/workspace-card/styles.ts
Labels: mod:component

#4219 fix: workspace list dnd issues
  packages/component/package.json
  packages/component/src/components/card/workspace-card/styles.ts
  packages/component/src/components/workspace-list/index.tsx
  yarn.lock
Labels: mod:component

#4244 fix: wrong text in change password page
  packages/component/src/components/auth-components/change-password-page.tsx
  packages/component/src/components/auth-components/password-input/index.tsx
  packages/component/src/components/auth-components/set-password-page.tsx
  packages/i18n/src/resources/en.json
Labels: mod:i18n, mod:component

#4152 feat: send email to owner after member accepted invitation / leave workspace
  apps/core/src/components/affine/setting-modal/workspace-setting/index.tsx
  apps/core/src/hooks/affine/use-leave-workspace.ts
  apps/core/src/pages/invite.tsx
  apps/server/src/modules/auth/mailer/mail.service.ts
  apps/server/src/modules/auth/mailer/template.ts
  apps/server/src/modules/workspaces/resolver.ts
  apps/server/src/schema.gql
  apps/server/src/tests/mailer.e2e.ts
  apps/server/src/tests/utils.ts
  apps/server/src/tests/workspace-invite.spec.ts
  packages/graphql/src/graphql/index.ts
  packages/graphql/src/graphql/leave-workspace.gql
  packages/graphql/src/graphql/workspace-invite-accept-by-invite-id.gql
  packages/graphql/src/schema.ts
  packages/storage/project.json
Labels: app:server, test, mod:storage, app:core

#4251 test: enhance 0.8.3 migration test
  tests/affine-legacy/0.8.3/e2e/basic.spec.ts
Labels: test

#4249 chore(i18n): fix nx config
  nx.json
  packages/i18n/project.json
Labels: mod:i18n

#4254 fix: disable simutanous updater download
  apps/electron/src/main/updater/electron-updater.ts
Labels: app:electron

#4267 fix: better transition
  apps/core/src/providers/modal-provider.tsx
  packages/component/src/components/workspace-list/index.tsx
Labels: mod:component, app:core

#4258 fix: wrong content in invitation email
  apps/server/src/modules/auth/mailer/mail.service.ts
Labels: app:server

#4266 feat: add new locale key for not found page back home button
  apps/core/src/pages/404.tsx
  packages/i18n/src/resources/de.json
  packages/i18n/src/resources/en.json
  packages/i18n/src/resources/fr.json
  packages/i18n/src/resources/ja.json
  packages/i18n/src/resources/ko.json
  packages/i18n/src/resources/ru.json
  packages/i18n/src/resources/zh-Hans.json
  packages/i18n/src/resources/zh-Hant.json
Labels: mod:i18n, app:core

#4268 fix: incorrect toast after signed in
  apps/core/src/components/affine/auth/sign-in-with-password.tsx
  packages/i18n/src/resources/en.json
Labels: mod:i18n, app:core

#4253 fix: logout 404
  apps/core/src/components/pure/workspace-list-modal/index.tsx
  apps/core/src/utils/cloud-utils.tsx
Labels: app:core

#4269 fix: incorrect invitation email style
  apps/server/src/modules/auth/mailer/mail.service.ts
  apps/server/src/modules/auth/mailer/template.ts
Labels: app:server

#4270 fix: sigin in different window may not refresh workspace list
  apps/core/src/app.tsx
  apps/core/src/components/affine/auth/index.tsx
  apps/core/src/components/affine/auth/sign-in-with-password.tsx
  apps/core/src/components/affine/desktop-login-modal/index.tsx
  apps/core/src/components/affine/desktop-login-modal/styles.css.ts
  apps/core/src/pages/open-app.tsx
  apps/core/src/providers/modal-provider.tsx
  apps/core/src/providers/session-provider.tsx
  apps/electron/src/main/deep-link.ts
  apps/electron/src/main/ui/events.ts
  apps/electron/src/main/ui/subject.ts
  packages/infra/src/type.ts
Labels: mod:infra, app:electron, app:core

#4263 fix: disable set-db-location step
  apps/core/src/components/affine/create-workspace-modal/index.tsx
  apps/electron/e2e/basic.spec.ts
  apps/electron/e2e/fixture.ts
  apps/electron/e2e/tsconfig.json
  apps/electron/tsconfig.json
  apps/electron/tsconfig.tests.json
Labels: app:electron, app:core

#4271 fix(server): flaky test
  apps/server/src/tests/auth.spec.ts
  apps/server/src/tests/doc.spec.ts
  apps/server/src/tests/session.spec.ts
Labels: app:server, test

#4272 chore: bump version
  apps/core/.webpack/config.ts
  apps/core/.webpack/runtime-config.ts
  apps/core/package.json
  apps/docs/package.json
  apps/electron/package.json
  apps/prototype/package.json
  apps/storybook/package.json
  packages/component/package.json
  packages/env/package.json
  packages/env/src/global.ts
  packages/hooks/package.json
  packages/infra/package.json
  packages/jotai/package.json
  packages/sdk/package.json
  packages/y-indexeddb/package.json
  packages/y-provider/package.json
  tests/affine-legacy/0.7.0-canary.18/package.json
  tests/affine-legacy/0.8.0-canary.7/package.json
  tests/affine-legacy/0.8.3/package.json
  yarn.lock
Labels: mod:infra, mod:hooks, mod:env, mod:component, app:electron, package:y-indexeddb, mod:store, test, app:docs, app:core, mod:sdk

#4275 fix(server): storage usage should be float rather than int
  apps/server/src/modules/workspaces/resolver.ts
  apps/server/src/schema.gql
  apps/server/src/tests/app.e2e.ts
  apps/server/src/tests/utils.ts
  apps/server/src/tests/workspace-usage.spec.ts
Labels: app:server, test

#4276 fix(electron): api url mapping in electron
  apps/electron/src/main/config.ts
Labels: app:electron

#4279 fix: revoke permission if failed to send email
  apps/server/src/config/def.ts
  apps/server/src/modules/workspaces/resolver.ts
Labels: app:server

#4285 fix(core): temporary remove blockVersions assertion
  apps/core/src/pages/workspace/index.tsx
Labels: app:core

#4257 fix: modify back text
  packages/i18n/src/resources/en.json
Labels: mod:i18n

#4265 fix: can not enable workspace if not sign in
  apps/core/src/atoms/event.ts
  apps/core/src/atoms/index.ts
  apps/core/src/components/affine/enable-affine-cloud-modal/index.tsx
  apps/core/src/hooks/root/use-on-transform-workspace.ts
  apps/core/src/pages/invite.tsx
  apps/core/src/pages/sign-in.tsx
  apps/core/src/providers/modal-provider.tsx
  apps/core/src/providers/session-provider.tsx
  packages/i18n/src/resources/en.json
Labels: mod:i18n, mod:store, app:core

#4283 fix: edge case when upgrading page
  packages/infra/src/blocksuite/index.ts
Labels: mod:infra

#4281 feat: keep the multiline log in single log
  apps/server/src/middleware/exception-logger.ts
  apps/server/src/modules/auth/next-auth.controller.ts
  apps/server/src/modules/doc/manager.ts
  apps/server/src/modules/doc/redis-manager.ts
  apps/server/src/modules/workspaces/controller.ts
Labels: app:server

#4290 test(server): make testing more isolated
  apps/server/src/modules/auth/index.ts
  apps/server/src/session.ts
  apps/server/src/tests/session.spec.ts
  apps/server/src/tests/user.e2e.ts
Labels: app:server, test

#4238 feat: page view storage with cloud support
  apps/core/src/atoms/cloud-user.ts
  apps/core/src/components/blocksuite/block-suite-page-list/index.tsx
  apps/core/src/components/pure/workspace-slider-bar/collections/add-collection-button.tsx
  apps/core/src/components/pure/workspace-slider-bar/collections/collections-list.tsx
  apps/core/src/components/root-app-sidebar/index.tsx
  apps/core/src/components/workspace-header.tsx
  apps/core/src/pages/workspace/all-page.tsx
  apps/core/src/pages/workspace/detail-page.tsx
  apps/core/src/providers/session-provider.tsx
  apps/core/src/utils/user-setting.ts
  packages/component/src/components/page-list/__tests__/use-all-page-setting.spec.ts
  packages/component/src/components/page-list/all-page.tsx
  packages/component/src/components/page-list/type.ts
  packages/component/src/components/page-list/use-collection-manager.ts
  packages/component/src/components/page-list/view/collection-bar.tsx
  tests/affine-cloud/e2e/collaboration.spec.ts
Labels: mod:component, mod:store, test, app:core

#4289 fix: sort plugin list in test
  tests/affine-plugin/e2e/basic.spec.ts
Labels: test

#4288 fix: allow login with credentials on production
  .github/workflows/build-server.yml
  apps/server/src/modules/auth/guard.ts
  apps/server/src/modules/auth/next-auth-options.ts
  apps/server/src/modules/auth/next-auth.controller.ts
  apps/server/src/tests/workspace-invite.e2e.ts
  apps/server/src/tests/workspace.e2e.ts
Labels: app:server, test

#4291 refactor: remove unused package
  .commitlintrc.json
  .eslintrc.js
  .github/labeler.yml
  apps/core/package.json
  apps/core/tsconfig.json
  apps/electron/src/main/handlers.ts
  apps/prototype/package.json
  apps/prototype/tsconfig.json
  packages/@types/env/__all.d.ts
  packages/component/package.json
  packages/component/src/components/app-sidebar/app-updater-button/index.jotai.ts
  packages/component/src/components/internal-lottie/index.tsx
  packages/component/tsconfig.json
  packages/i18n/src/scripts/sync.ts
  packages/i18n/tsconfig.json
  packages/i18n/tsconfig.node.json
  packages/jotai/.gitignore
  packages/jotai/README.md
  packages/jotai/package.json
  packages/jotai/src/index.ts
  packages/jotai/src/resource.ts
  packages/jotai/tsconfig.json
  packages/native/tsconfig.json
  packages/workspace/src/providers/__tests__/sqlite-provider.spec.ts
  tsconfig.json
  yarn.lock
Labels: docs, mod:workspace, mod:i18n, mod:component, app:electron, mod:store, test, mod:native, app:core

#4294 chore: bump version
  apps/core/package.json
  apps/docs/package.json
  apps/electron/package.json
  apps/prototype/package.json
  apps/storybook/package.json
  packages/component/package.json
  packages/env/package.json
  packages/hooks/package.json
  packages/infra/package.json
  packages/sdk/package.json
  packages/y-indexeddb/package.json
  packages/y-provider/package.json
  tests/affine-legacy/0.7.0-canary.18/package.json
  tests/affine-legacy/0.8.0-canary.7/package.json
  tests/affine-legacy/0.8.3/package.json
  yarn.lock
Labels: mod:infra, mod:hooks, mod:env, mod:component, app:electron, package:y-indexeddb, test, app:docs, app:core, mod:sdk

#4293 fix: cookie name
  apps/server/src/modules/auth/next-auth.controller.ts
Labels: app:server

#4287 fix: menu style
  apps/core/package.json
  apps/core/src/components/affine/language-menu/index.tsx
  apps/core/src/components/blocksuite/block-suite-header-title/operation-menu.tsx
  apps/core/src/components/pure/workspace-list-modal/index.tsx
  apps/core/src/components/pure/workspace-list-modal/styles.ts
  packages/component/src/components/card/workspace-card/styles.ts
  packages/component/src/components/page-list/filter/index.css.ts
  packages/component/src/components/page-list/filter/vars.tsx
  packages/component/src/components/page-list/operation-cell.tsx
  packages/component/src/components/page-list/operation-menu-items/export.tsx
  packages/component/src/components/page-list/operation-menu-items/index.css.ts
  packages/component/src/components/page-list/view/collection-list.css.ts
  packages/component/src/components/page-list/view/collection-list.tsx
  packages/component/src/components/share-menu/index.css.ts
  packages/component/src/components/share-menu/share-export.tsx
  packages/component/src/components/share-menu/share-menu.tsx
  packages/component/src/components/share-menu/share-page.tsx
  plugins/copilot/package.json
  plugins/hello-world/package.json
  plugins/image-preview/package.json
  plugins/outline/package.json
  yarn.lock
Labels: mod:component, plugin:copilot, mod:plugin, app:core

#4225 chore: adjust preloading page
  packages/templates/v1/meeting-summary.json
  packages/templates/v1/okr-template.json
  packages/templates/v1/preloading.json
  packages/templates/v1/template-galleries.json
  packages/templates/v1/travel-plan.json
  tests/affine-local/e2e/drag-page-to-trash-folder.spec.ts
Labels: docs, test

#4303 test: always exec afterEach in ava test
  apps/server/src/tests/app.e2e.ts
  apps/server/src/tests/auth.spec.ts
  apps/server/src/tests/config.spec.ts
  apps/server/src/tests/doc.spec.ts
  apps/server/src/tests/exception-logger.e2e.ts
  apps/server/src/tests/mailer.e2e.ts
  apps/server/src/tests/mailer.spec.ts
  apps/server/src/tests/prometheus-metrics.spec.ts
  apps/server/src/tests/session.spec.ts
  apps/server/src/tests/user.e2e.ts
  apps/server/src/tests/workspace-blobs.spec.ts
  apps/server/src/tests/workspace-invite.e2e.ts
  apps/server/src/tests/workspace-usage.spec.ts
  apps/server/src/tests/workspace.e2e.ts
Labels: app:server, test

#4307 fix: circular dependencies
  apps/core/src/components/affine/new-workspace-setting-detail/delete-leave-workspace/index.tsx
  apps/core/src/components/affine/new-workspace-setting-detail/index.tsx
  apps/core/src/components/affine/new-workspace-setting-detail/labels.tsx
  apps/core/src/components/affine/new-workspace-setting-detail/members.tsx
  apps/core/src/components/affine/new-workspace-setting-detail/profile.tsx
  apps/core/src/components/affine/new-workspace-setting-detail/publish.tsx
  apps/core/src/components/affine/new-workspace-setting-detail/types.ts
  apps/electron/src/helper/db/ensure-db.ts
  apps/electron/src/helper/db/secondary-db.ts
  apps/electron/src/helper/db/workspace-db-adapter.ts
  apps/electron/src/helper/dialog/dialog.ts
  apps/electron/src/helper/exposed.ts
  apps/electron/src/helper/main-rpc.ts
  apps/electron/src/helper/provide.ts
  apps/electron/src/helper/workspace/__tests__/handlers.spec.ts
  apps/electron/src/helper/workspace/handlers.ts
  apps/electron/src/helper/workspace/index.ts
  apps/electron/src/helper/workspace/meta.ts
  packages/component/src/components/page-list/all-page.tsx
  packages/component/src/components/page-list/view/collection-bar.tsx
  packages/component/src/components/page-list/view/collection-list.tsx
Labels: mod:component, app:electron, test, app:core

#4231 feat: support pagination for member list
  apps/core/src/components/affine/new-workspace-setting-detail/members.tsx
  apps/core/src/components/affine/new-workspace-setting-detail/style.css.ts
  apps/core/src/hooks/affine/use-member-count.ts
  apps/core/src/hooks/affine/use-members.ts
  apps/core/src/hooks/affine/use-revoke-member-permission.ts
  apps/server/src/modules/workspaces/resolver.ts
  apps/server/src/schema.gql
  apps/server/src/tests/utils.ts
  apps/server/src/tests/workspace-invite.e2e.ts
  packages/component/package.json
  packages/component/src/components/member-components/index.tsx
  packages/component/src/components/member-components/invite-modal.tsx
  packages/component/src/components/member-components/pagination.tsx
  packages/component/src/components/member-components/styles.css.tsx
  packages/graphql/src/graphql/get-member-count-by-workspace-id.gql
  packages/graphql/src/graphql/get-members-by-workspace-id.gql
  packages/graphql/src/graphql/index.ts
  packages/graphql/src/schema.ts
  packages/i18n/src/resources/en.json
  tests/affine-cloud/e2e/collaboration.spec.ts
  yarn.lock
Labels: mod:i18n, mod:component, app:server, test, app:core

#4295 fix: get auth token for development
  apps/core/src/pages/open-app.tsx
  apps/server/src/modules/auth/resolver.ts
  apps/server/src/modules/auth/service.ts
  apps/server/src/schema.gql
  apps/server/src/tests/auth.spec.ts
  packages/graphql/src/graphql/get-current-user.gql
  packages/graphql/src/graphql/index.ts
  packages/graphql/src/schema.ts
Labels: app:server, test, app:core

#4310 chore: bump version
  apps/core/package.json
  apps/core/src/bootstrap/plugins/setup.ts
  apps/docs/package.json
  apps/electron/package.json
  apps/prototype/package.json
  apps/storybook/package.json
  packages/component/package.json
  packages/env/package.json
  packages/hooks/package.json
  packages/infra/package.json
  packages/sdk/package.json
  packages/y-indexeddb/package.json
  packages/y-provider/package.json
  plugins/bookmark/package.json
  plugins/hello-world/package.json
  plugins/image-preview/package.json
  plugins/outline/package.json
  tests/affine-legacy/0.7.0-canary.18/package.json
  tests/affine-legacy/0.8.0-canary.7/package.json
  tests/affine-legacy/0.8.3/package.json
  yarn.lock
Labels: mod:infra, mod:hooks, mod:env, mod:component, app:electron, package:y-indexeddb, test, app:docs, mod:plugin, app:core, mod:sdk

#4311 fix: potential issue that may push whole window up a bit
  packages/component/src/theme/global.css
Labels: mod:component

#4317 feat: add animation for add favorites
  packages/component/package.json
  packages/component/src/components/page-list/components/favorite-tag.tsx
  packages/component/src/components/page-list/components/favorited-animation/data.json
  yarn.lock
Labels: mod:component

#4316 fix: unexpected react warning
  apps/core/src/providers/session-provider.tsx
Labels: app:core

#4321 fix: signout account when logging through oauth signin via desktop
  apps/core/src/pages/desktop-signin.tsx
  apps/core/src/pages/open-app.tsx
  apps/core/src/utils/cloud-utils.tsx
  apps/electron/src/main/deep-link.ts
Labels: app:electron, app:core

#4312 fix: force syncing DB when export db
  apps/core/src/components/affine/new-workspace-setting-detail/export.tsx
  packages/i18n/src/resources/en.json
Labels: mod:i18n, app:core

#4318 fix(core): back home botton has no reaction
  apps/core/src/pages/404.tsx
Labels: app:core

#4331 refactor(core): move notification center top level
  apps/core/src/app.tsx
  apps/core/src/layouts/workspace-layout.tsx
Labels: app:core

#4332 fix: remove open app timeout
  apps/core/src/pages/open-app.tsx
Labels: app:core

#4260 feat: add tooltip in user & workspace setting
  apps/core/src/components/affine/new-workspace-setting-detail/profile.tsx
  apps/core/src/components/affine/new-workspace-setting-detail/style.css.ts
  apps/core/src/components/affine/setting-modal/account-setting/index.tsx
  apps/core/src/components/affine/setting-modal/account-setting/style.css.ts
  packages/i18n/src/resources/en.json
Labels: mod:i18n, app:core

#4328 refactor: move mailer test
  apps/server/package.json
  apps/server/src/tests/mailer.e2e.ts
  apps/server/src/tests/utils.ts
  apps/server/src/tests/workspace-invite.e2e.ts
  apps/server/tsconfig.node.json
  tests/kit/tsconfig.json
  tests/kit/utils/cloud.ts
  yarn.lock
Labels: app:server, test

#4336 fix: wrong share status display
  packages/component/src/components/share-menu/share-menu.tsx
Labels: mod:component

#4324 feat: replace modal with new design
  apps/core/package.json
  apps/core/src/components/affine/create-workspace-modal/index.tsx
  apps/core/src/components/affine/enable-affine-cloud-modal/index.tsx
  apps/core/src/components/affine/enable-affine-cloud-modal/style.ts
  apps/core/src/components/affine/new-workspace-setting-detail/delete-leave-workspace/delete/index.tsx
  apps/core/src/components/affine/new-workspace-setting-detail/delete-leave-workspace/delete/style.ts
  apps/core/src/components/affine/new-workspace-setting-detail/delete-leave-workspace/index.tsx
  apps/core/src/components/affine/new-workspace-setting-detail/publish.tsx
  apps/core/src/components/affine/onboarding-modal.tsx
  apps/core/src/components/affine/setting-modal/index.tsx
  apps/core/src/components/affine/share-page-modal/index.tsx
  apps/core/src/components/affine/tmp-disable-affine-cloud-modal/index.tsx
  apps/core/src/components/affine/tmp-disable-affine-cloud-modal/style.ts
  apps/core/src/components/affine/transform-workspace-to-affine-modal/index.tsx
  apps/core/src/components/affine/transform-workspace-to-affine-modal/style.ts
  apps/core/src/components/blocksuite/block-suite-header-title/operation-menu.tsx
  apps/core/src/components/pure/quick-search-modal/index.tsx
  apps/core/src/components/pure/shortcuts-modal/index.tsx
  apps/core/src/components/pure/trash-button-group/index.tsx
  apps/core/src/components/pure/workspace-list-modal/index.tsx
  apps/core/src/components/pure/workspace-slider-bar/collections/add-collection-button.tsx
  apps/core/src/components/pure/workspace-slider-bar/collections/collections-list.tsx
  apps/core/src/components/root-app-sidebar/index.tsx
  apps/core/src/providers/modal-provider.tsx
  apps/storybook/src/stories/onboarding-modal.stories.tsx
  apps/storybook/src/stories/share-menu.stories.tsx
  packages/component/src/components/app-sidebar/menu-item/index.tsx
  packages/component/src/components/auth-components/auth-input.tsx
  packages/component/src/components/auth-components/modal.tsx
  packages/component/src/components/import-page/index.tsx
  packages/component/src/components/member-components/invite-modal.tsx
  packages/component/src/components/page-list/operation-cell.tsx
  packages/component/src/components/page-list/operation-menu-items/move-to-trash.tsx
  packages/component/src/components/page-list/view/collection-bar.tsx
  packages/component/src/components/page-list/view/collection-list.tsx
  packages/component/src/components/page-list/view/create-collection.tsx
  packages/component/src/components/setting-components/index.tsx
  packages/component/src/components/setting-components/modal.tsx
  packages/component/src/components/share-menu/disable-public-link/index.tsx
  packages/component/src/components/share-menu/disable-public-link/style.ts
  packages/component/src/components/share-menu/share-page.tsx
  packages/component/src/components/tour-modal/index.css.ts
  packages/component/src/components/tour-modal/tour-modal.tsx
  packages/component/src/index.ts
  packages/component/src/ui/confirm/confirm.tsx
  packages/component/src/ui/confirm/index.ts
  packages/component/src/ui/confirm/styles.ts
  packages/component/src/ui/modal/confirm-modal.tsx
  packages/component/src/ui/modal/index.tsx
  packages/component/src/ui/modal/modal-close-button.tsx
  packages/component/src/ui/modal/modal-wrapper.tsx
  packages/component/src/ui/modal/modal.tsx
  packages/component/src/ui/modal/styles.ts
  plugins/copilot/package.json
  plugins/hello-world/package.json
  plugins/image-preview/package.json
  plugins/outline/package.json
  yarn.lock
Labels: mod:component, plugin:copilot, mod:plugin, app:core

#4306 feat: add verify process in change email progress
  apps/core/src/pages/auth.tsx
  apps/server/src/modules/auth/mailer/mail.service.ts
  apps/server/src/modules/auth/resolver.ts
  apps/server/src/modules/auth/service.ts
  apps/server/src/schema.gql
  apps/server/src/tests/auth.e2e.ts
  apps/server/src/tests/mailer.e2e.ts
  apps/server/src/tests/utils.ts
  packages/cli/src/bin/dev-core.ts
  packages/component/src/components/auth-components/change-email-page.tsx
  packages/component/src/components/auth-components/confirm-change-email.tsx
  packages/component/src/components/auth-components/index.tsx
  packages/graphql/src/graphql/change-email.gql
  packages/graphql/src/graphql/index.ts
  packages/graphql/src/graphql/send-verify-change-email.gql
  packages/graphql/src/schema.ts
  tests/affine-cloud/playwright.config.ts
  tests/kit/utils/cloud.ts
  tests/kit/utils/page-logic.ts
Labels: mod:component, mod:dev, app:server, test, app:core

#4349 fix: test hang
  apps/core/src/components/pure/workspace-list-modal/index.tsx
Labels: app:core

#4309 fix: incomplete URL substring sanitization
  apps/server/src/modules/auth/next-auth.controller.ts
Labels: app:server

#4351 docs: add readme for developing @affine/server
  docs/developing-server.md
Labels: docs

#3488 feat: add linked page plugin
  apps/core/src/bootstrap/plugins/setup.ts
  packages/@types/env/__all.d.ts
  packages/infra/src/__internal__/plugin.ts
  plugins/linked-page/package.json
  plugins/linked-page/project.json
  plugins/linked-page/src/index.ts
  plugins/linked-page/tsconfig.json
  tests/affine-plugin/e2e/basic.spec.ts
  yarn.lock
Labels: mod:infra, test, mod:plugin, app:core

#4357 fix(server): everyone can share page in workspace
  apps/server/src/modules/workspaces/resolver.ts
Labels: app:server

#4354 chore: bump version
  apps/core/package.json
  apps/docs/package.json
  apps/electron/package.json
  apps/prototype/package.json
  apps/storybook/package.json
  package.json
  packages/component/package.json
  packages/env/package.json
  packages/hooks/package.json
  packages/infra/package.json
  packages/infra/src/type.ts
  packages/sdk/package.json
  packages/y-indexeddb/package.json
  packages/y-provider/package.json
  tests/affine-legacy/0.7.0-canary.18/package.json
  tests/affine-legacy/0.8.0-canary.7/package.json
  tests/affine-legacy/0.8.3/package.json
  yarn.lock
Labels: mod:infra, mod:hooks, mod:env, mod:component, app:electron, package:y-indexeddb, test, app:docs, app:core, mod:sdk

#4361 fix: use cdn api when querying static CDN files
  packages/workspace/src/blob/cloud-blob-storage.ts
  packages/workspace/src/blob/local-static-storage.ts
Labels: mod:workspace

#4302 feat: support remove user & workspace avatar
  apps/core/package.json
  apps/core/src/components/affine/create-workspace-modal/index.css.ts
  apps/core/src/components/affine/new-workspace-setting-detail/profile.tsx
  apps/core/src/components/affine/setting-modal/account-setting/index.tsx
  apps/core/src/components/affine/setting-modal/setting-sidebar/index.tsx
  apps/core/src/components/affine/setting-modal/setting-sidebar/style.css.ts
  apps/core/src/components/cloud/login-card.tsx
  apps/core/src/components/pure/file-upload/index.tsx
  apps/core/src/components/pure/workspace-slider-bar/WorkspaceSelector/index.ts
  apps/core/src/components/pure/workspace-slider-bar/user-with-workspace-list/index.tsx
  apps/core/src/components/pure/workspace-slider-bar/user-with-workspace-list/styles.ts
  apps/core/src/components/pure/workspace-slider-bar/workspace-card/index.css.ts
  apps/core/src/components/pure/workspace-slider-bar/workspace-card/index.tsx
  apps/core/src/components/pure/workspace-slider-bar/workspace-card/loading-icon.tsx
  apps/core/src/components/pure/workspace-slider-bar/workspace-card/styles.ts
  apps/core/src/components/root-app-sidebar/index.tsx
  apps/core/src/layouts/workspace-layout.tsx
  apps/core/src/pages/index.tsx
  apps/core/src/providers/modal-provider.tsx
  apps/server/src/modules/users/resolver.ts
  apps/server/src/schema.gql
  apps/server/src/tests/app.e2e.ts
  apps/storybook/src/stories/workspace-avatar.stories.tsx
  packages/component/src/components/card/workspace-card/index.tsx
  packages/component/src/components/member-components/accept-invite-page.tsx
  packages/component/src/components/user-avatar/index.tsx
  packages/component/src/components/user-avatar/style.css.ts
  packages/component/src/components/workspace-avatar/default-avatar.tsx
  packages/component/src/components/workspace-avatar/index.css.ts
  packages/component/src/components/workspace-avatar/index.tsx
  packages/graphql/src/graphql/index.ts
  packages/graphql/src/graphql/remove-avatar.gql
  packages/graphql/src/schema.ts
  packages/hooks/src/use-block-suite-workspace-avatar-url.ts
  plugins/copilot/package.json
  plugins/hello-world/package.json
  plugins/image-preview/package.json
  plugins/outline/package.json
  tests/affine-local/e2e/local-first-avatar.spec.ts
  yarn.lock
Labels: mod:hooks, mod:component, app:server, plugin:copilot, test, mod:plugin, app:core

#4365 feat: hide page info in public pages
  apps/core/src/components/page-detail-editor.css.ts
  apps/core/src/components/page-detail-editor.tsx
Labels: app:core

#4352 chore: bump version
  apps/core/package.json
  apps/storybook/package.json
  packages/plugin-cli/package.json
  yarn.lock
Labels: app:core, mod:plugin-cli

#4367 chore(i18n): fix sync languages script
  .github/workflows/languages-sync.yml
  packages/i18n/package.json
Labels: mod:i18n

#4359 fix: error style of quick search modal
  apps/core/src/components/pure/quick-search-modal/index.tsx
Labels: app:core

#4370 fix(server): workspace memebers sort
  apps/server/src/modules/workspaces/resolver.ts
Labels: app:server

#4372 fix: pagation items are not easy to trigger
  packages/component/src/components/member-components/styles.css.tsx
Labels: mod:component

#4371 chore: adjust workspace card style
  apps/core/src/components/pure/workspace-slider-bar/workspace-card/index.tsx
  apps/core/src/components/pure/workspace-slider-bar/workspace-card/styles.ts
Labels: app:core

#4374 fix: add missing static file list
  packages/workspace/src/blob/local-static-storage.ts
Labels: mod:workspace

#4379 fix: update windows install gif
  apps/electron/resources/icons/affine_installing.gif
Labels: app:electron

#4366 test(server): move tests out of src folder
  .eslintrc.js
  .github/workflows/build-server.yml
  apps/core/src/components/affine/setting-modal/account-setting/index.tsx
  apps/server/package.json
  apps/server/src/index.ts
  apps/server/src/modules/auth/guard.ts
  apps/server/src/modules/users/resolver.ts
  apps/server/src/modules/workspaces/resolver.ts
  apps/server/src/schema.gql
  apps/server/tests/app.e2e.ts
  apps/server/tests/auth.e2e.ts
  apps/server/tests/auth.spec.ts
  apps/server/tests/config.spec.ts
  apps/server/tests/doc.spec.ts
  apps/server/tests/exception-logger.e2e.ts
  apps/server/tests/mailer.e2e.ts
  apps/server/tests/mailer.spec.ts
  apps/server/tests/prometheus-metrics.spec.ts
  apps/server/tests/session.spec.ts
  apps/server/tests/tsconfig.json
  apps/server/tests/user.e2e.ts
  apps/server/tests/utils.ts
  apps/server/tests/workspace-blobs.spec.ts
  apps/server/tests/workspace-invite.e2e.ts
  apps/server/tests/workspace-usage.spec.ts
  apps/server/tests/workspace.e2e.ts
  apps/server/tsconfig.json
  apps/server/tsconfig.node.json
  packages/graphql/src/graphql/index.ts
  packages/graphql/src/graphql/upload-avatar.gql
  packages/graphql/src/schema.ts
  packages/i18n/tsconfig.node.json
  packages/workspace/src/affine/__tests__/gql.spec.tsx
  tests/kit/package.json
  tsconfig.json
  yarn.lock
Labels: mod:workspace, mod:i18n, app:server, test, app:core

#4380 fix: add platform selector to storybook
  .eslintrc.js
  apps/core/src/components/affine/auth/send-email.tsx
  apps/core/src/components/pure/header/index.tsx
  apps/core/src/components/pure/header/top-tip.tsx
  apps/core/src/components/pure/header/windows-app-controls.tsx
  apps/core/src/components/root-app-sidebar/index.tsx
  apps/core/src/providers/session-provider.tsx
  apps/core/src/utils/cloud-utils.tsx
  apps/storybook/.storybook/preview.tsx
  packages/component/src/components/page-list/operation-cell.tsx
  packages/component/src/components/theme-provider/index.tsx
  packages/workspace/src/manager/index.ts
Labels: mod:workspace, mod:component, app:core

#4378 fix(core): local workspace collections
  apps/core/src/hooks/use-location-title.ts
  apps/core/src/utils/user-setting.ts
  tests/affine-local/e2e/local-first-collections-items.spec.ts
Labels: app:core

#4369 fix: remove useRef in menu & tooltip
  apps/core/package.json
  apps/core/src/components/affine/create-workspace-modal/index.tsx
  apps/core/src/components/affine/language-menu/index.tsx
  apps/core/src/components/affine/setting-modal/general-setting/appearance/date-format-setting.tsx
  apps/core/src/components/affine/setting-modal/setting-sidebar/index.tsx
  apps/core/src/components/blocksuite/block-suite-header-title/operation-menu.tsx
  apps/core/src/components/blocksuite/block-suite-mode-switch/index.tsx
  apps/core/src/components/pure/workspace-slider-bar/collections/page.tsx
  apps/core/src/components/pure/workspace-slider-bar/workspace-card/index.tsx
  packages/component/src/components/app-sidebar/sidebar-header/sidebar-switch.tsx
  packages/component/src/components/page-list/operation-menu-items/export.tsx
  packages/component/src/components/page-list/view/collection-list.tsx
  packages/component/src/components/setting-components/storage-progess.tsx
  plugins/copilot/package.json
  plugins/hello-world/package.json
  plugins/image-preview/package.json
  plugins/outline/package.json
  yarn.lock
Labels: mod:component, plugin:copilot, mod:plugin, app:core

#4375 fix: orderby in members list
  apps/server/src/modules/workspaces/resolver.ts
  tests/affine-cloud/e2e/collaboration.spec.ts
Labels: app:server, test

#4347 refactor: delete page style
  apps/core/src/components/pure/trash-button-group/index.tsx
  apps/core/src/components/pure/trash-button-group/styles.css.ts
  apps/core/src/layouts/workspace-layout.tsx
  packages/component/src/components/app-sidebar/sidebar-header/sidebar-switch.css.ts
  packages/component/src/components/workspace/index.css.ts
  packages/component/src/components/workspace/index.tsx
  packages/hooks/src/use-is-tiny-screen.ts
  plugins/outline/src/app.tsx
Labels: ui-style, mod:hooks, mod:component, mod:plugin, app:core

#4368 fix: error style of setting sidebar
  apps/core/src/components/affine/setting-modal/setting-sidebar/style.css.ts
Labels: app:core

#4384 test(server): move env variables into playwright config
  .github/workflows/build-server.yml
  tests/affine-cloud/playwright.config.ts
Labels: test

#4383 feat: modify 404 page
  apps/core/src/pages/404.tsx
  packages/component/src/components/not-found-page/index.tsx
  packages/component/src/components/not-found-page/not-found-page.tsx
  packages/component/src/components/not-found-page/not-found-pattern.tsx
  packages/component/src/components/not-found-page/styles.css.ts
  packages/i18n/src/resources/en.json
Labels: mod:i18n, mod:component, app:core

#4389 chore: fix tsconfig
  apps/server/tests/tsconfig.json
  apps/server/tsconfig.json
  apps/server/tsconfig.node.json
Labels: app:server, test

#4390 test: fix e2e
  packages/component/src/components/not-found-page/not-found-page.tsx
  tests/affine-local/e2e/exception-page.spec.ts
  tests/affine-local/e2e/local-first-avatar.spec.ts
  tests/affine-local/e2e/quick-search.spec.ts
  tests/affine-local/e2e/router.spec.ts
Labels: mod:component, test

#4184 test(electron): add cloud test
  .github/workflows/build-desktop.yml
  .github/workflows/build-server.yml
  apps/electron/e2e/setup.ts
  apps/electron/package.json
  apps/electron/src/helper/db/__tests__/ensure-db.spec.ts
  apps/electron/src/helper/db/__tests__/migration.spec.ts
  apps/electron/src/helper/db/__tests__/workspace-db-adapter.spec.ts
  apps/electron/src/helper/workspace/__tests__/handlers.spec.ts
  apps/electron/src/main/__tests__/integration.spec.ts
  apps/electron/tests/utils.ts
  apps/electron/tsconfig.json
  apps/electron/tsconfig.tests.json
  package.json
  tests/affine-desktop-cloud/e2e/basic.spec.ts
  tests/affine-desktop-cloud/package.json
  tests/affine-desktop-cloud/playwright.config.ts
  tests/affine-desktop-cloud/tsconfig.json
  tests/affine-desktop/e2e/basic.spec.ts
  tests/affine-desktop/e2e/workspace.spec.ts
  tests/affine-desktop/package.json
  tests/affine-desktop/playwright.config.ts
  tests/affine-desktop/tsconfig.json
  tests/kit/electron.ts
  tests/kit/package.json
  tests/kit/utils/utils.ts
  tests/kit/utils/workspace.ts
  tsconfig.json
  yarn.lock
Labels: app:electron, test

#4405 fix: read permission for subpage
  apps/server/src/modules/workspaces/permission.ts
  apps/server/tests/workspace.e2e.ts
Labels: app:server, test
