Repository toeverything/AFFiNE, pull requests merged in 2023-05, with the labels that each got.

#2206 chore: bump version
  apps/web/package.json
  package.json
  packages/component/package.json
  packages/env/package.json
  packages/jotai/package.json
  packages/y-indexeddb/package.json
  yarn.lock
Labels: mod:env, mod:component, app:web, package:y-indexeddb, mod:store

#2209 chore: upgrade jotai devtools
  apps/web/package.json
  yarn.lock
Labels: app:web

#2210 chore: bump version
  apps/electron/package.json
  apps/server/package.json
  apps/web/next.config.mjs
  apps/web/package.json
  package.json
  packages/component/package.json
  packages/env/package.json
  packages/i18n/package.json
  packages/jotai/package.json
  packages/octobase-node/package.json
  packages/theme/package.json
  packages/y-indexeddb/package.json
  yarn.lock
Labels: mod:i18n, mod:env, mod:component, app:web, app:electron, package:y-indexeddb, mod:store, app:server, mod:theme

#2203 fix(electron): ignore .DS_Store on MacOS
  apps/electron/layers/main/src/data/workspace.ts
Labels: app:electron

#2211 chore: bump version
  apps/web/next.config.mjs
  apps/web/package.json
  packages/env/package.json
  packages/i18n/package.json
  yarn.lock
Labels: mod:i18n, mod:env, app:web

#2185 feat: add mac release zip file and release info yml
  .github/workflows/release-desktop-app.yml
  apps/electron/scripts/generate-yml.js
Labels: app:electron

#2212 fix: prohibit delete last workspace
  apps/web/src/pages/workspace/[workspaceId]/setting.tsx
  packages/i18n/src/resources/en.json
  packages/i18n/src/resources/zh-Hans.json
  tests/parallels/local-first-delete-workspace.spec.ts
Labels: test, mod:i18n, app:web

#2219 fix: dock to blocksuite latest API
  apps/web/package.json
  apps/web/src/atoms/__tests__/atom.spec.ts
  apps/web/src/components/__debug__/client/Editor.tsx
  apps/web/src/hooks/__tests__/index.spec.tsx
  apps/web/src/hooks/use-workspaces.ts
  apps/web/src/layouts/workspace-layout.tsx
  apps/web/src/pages/_debug/broadcast.dev.tsx
  apps/web/src/plugins/local/index.tsx
  packages/component/package.json
  packages/env/package.json
  packages/hooks/src/use-block-suite-workspace-helper.ts
  packages/i18n/package.json
  packages/jotai/package.json
  packages/y-indexeddb/package.json
  yarn.lock
Labels: test, mod:i18n, mod:hooks, mod:env, mod:component, app:web, package:y-indexeddb, mod:store

#2222 fix: reduce pageMeta instance
  packages/hooks/src/__tests__/use-blocksuite-workspace-helper.spec.ts
  packages/hooks/src/use-block-suite-page-meta.ts
Labels: test, mod:hooks

#2224 fix(hooks): reduce unused `assertExists`
  packages/hooks/src/use-block-suite-page-meta.ts
Labels: mod:hooks

#2221 fix(component): click area of the item
  apps/web/src/components/pure/workspace-slider-bar/shared-styles.ts
  apps/web/src/components/root-app-sidebar/index.tsx
  packages/component/src/components/changeLog/index.css.ts
Labels: mod:component, app:web

#2144 feat: add onboarding for client
  apps/electron/tests/basic.spec.ts
  apps/web/public/editingVideo.mp4
  apps/web/public/switchVideo.mp4
  apps/web/src/atoms/guide.ts
  apps/web/src/atoms/index.ts
  apps/web/src/components/blocksuite/workspace-header/header-right-items/EditorOptionMenu.tsx
  apps/web/src/components/blocksuite/workspace-header/styles.ts
  apps/web/src/components/pure/OnboardingModal.tsx
  apps/web/src/components/pure/help-island/index.tsx
  apps/web/src/providers/ModalProvider.tsx
  packages/component/src/components/tour-modal/TourModal.tsx
  packages/component/src/components/tour-modal/index.css.ts
  packages/component/src/components/tour-modal/index.ts
  packages/component/src/stories/OnboardingModal.stories.tsx
Labels: test, mod:component, app:web, app:electron, mod:store

#2223 fix: reduce `useState` and `useEffect`
  packages/hooks/src/__tests__/index.spec.ts
  packages/hooks/src/use-block-suite-workspace-name.ts
  packages/hooks/src/use-block-suite-workspace-page-is-public.ts
  packages/hooks/src/use-block-suite-workspace-page-title.ts
  packages/hooks/src/use-block-suite-workspace-page.ts
Labels: test, mod:hooks

#2229 chore: bump version
  apps/electron/package.json
  apps/server/package.json
  apps/web/package.json
  apps/web/src/components/blocksuite/block-suite-page-list/page-list/DateCell.tsx
  apps/web/src/hooks/use-pinboard-data.ts
  package.json
  packages/component/package.json
  packages/env/env.d.ts
  packages/env/package.json
  packages/env/src/blocksuite.ts
  packages/hooks/src/use-block-suite-page-meta.ts
  packages/i18n/package.json
  packages/jotai/package.json
  packages/workspace/package.json
  packages/y-indexeddb/package.json
  yarn.lock
Labels: mod:workspace, mod:i18n, mod:hooks, mod:env, mod:component, app:web, app:electron, package:y-indexeddb, mod:store, app:server

#2236 fix: cleanup page id in time
  apps/web/src/components/page-detail-editor.tsx
  apps/web/src/hooks/use-sync-router-with-current-page-id.ts
Labels: app:web

#2237 fix(electron): system theme
  apps/web/src/providers/ThemeProvider.tsx
Labels: app:web

#2235 chore: optimize onboarding component style
  packages/component/src/components/tour-modal/TourModal.tsx
  packages/component/src/components/tour-modal/index.css.ts
Labels: mod:component

#2208 feat(y-indexeddb): add connected
  packages/y-indexeddb/src/__tests__/index.spec.ts
  packages/y-indexeddb/src/index.ts
  packages/y-indexeddb/src/shared.ts
Labels: test, package:y-indexeddb

#2176 refactor: clean all pages component
  apps/web/src/components/affine/operation-menu-items/MoveTo.tsx
  apps/web/src/components/affine/pinboard/pinboard-render/OperationButton.tsx
  apps/web/src/components/blocksuite/block-suite-page-list/index.css.ts
  apps/web/src/components/blocksuite/block-suite-page-list/index.tsx
  apps/web/src/components/blocksuite/block-suite-page-list/page-list/DateCell.tsx
  apps/web/src/components/blocksuite/block-suite-page-list/page-list/Empty.tsx
  apps/web/src/components/blocksuite/block-suite-page-list/page-list/index.tsx
  apps/web/src/components/blocksuite/workspace-header/header-right-items/EditorOptionMenu.tsx
  apps/web/src/hooks/affine/use-block-suite-meta-helper.ts
  apps/web/src/pages/_debug/broadcast.dev.tsx
  apps/web/src/pages/public-workspace/[workspaceId].tsx
  apps/web/src/pages/workspace/[workspaceId]/favorite.tsx
  apps/web/src/pages/workspace/[workspaceId]/shared.tsx
  apps/web/src/pages/workspace/[workspaceId]/trash.tsx
  apps/web/src/plugins/affine/index.tsx
  apps/web/src/plugins/local/index.tsx
  packages/component/src/components/page-list/all-page.tsx
  packages/component/src/components/page-list/index.tsx
  packages/component/src/components/page-list/operation-cell.tsx
  packages/component/src/components/page-list/operation-menu-items/CopyLink.tsx
  packages/component/src/components/page-list/operation-menu-items/DisablePublicSharing.tsx
  packages/component/src/components/page-list/operation-menu-items/Export.tsx
  packages/component/src/components/page-list/operation-menu-items/MoveToTrash.tsx
  packages/component/src/components/page-list/operation-menu-items/index.ts
  packages/component/src/components/page-list/operation-menu-items/types.ts
  packages/component/src/components/page-list/styles.ts
  packages/component/src/components/share-menu/SharePage.tsx
  packages/component/src/components/share-menu/disable-public-link/index.tsx
  packages/component/src/stories/ChangeLog.stories.tsx
  packages/component/src/stories/PageList.stories.tsx
  packages/component/src/stories/ShareMenu.stories.tsx
  packages/component/src/stories/Switch.stories.tsx
Labels: mod:component, app:web

#2215 style: fix popover z-index
  packages/theme/src/index.ts
Labels: mod:theme

#2228 perf: remove `data-testid` in production
  .github/workflows/release-desktop-app.yml
  apps/web/next.config.mjs
  apps/web/preset.config.mjs
  packages/env/src/config.ts
Labels: mod:env, app:web

#2245 chore: clean all page list
  apps/web/src/components/blocksuite/block-suite-page-list/index.tsx
  packages/component/src/components/page-list/all-page.tsx
  packages/component/src/stories/PageList.stories.tsx
Labels: mod:component, app:web

#2243 chore: disable navigation path
  apps/web/src/components/pure/quick-search-modal/index.tsx
Labels: app:web

#2242 chore: update theme color
  apps/web/src/components/blocksuite/workspace-header/editor-mode-switch/style.ts
  apps/web/src/components/pure/workspace-list-modal/styles.ts
  packages/component/src/components/workspace-card/styles.ts
  packages/theme/src/index.ts
Labels: mod:component, app:web, mod:theme

#2244 chore: update the style of help island in edgeless mode
  apps/web/src/components/pure/help-island/index.tsx
  apps/web/src/components/pure/help-island/style.ts
  packages/component/src/theme/global.css
Labels: mod:component, app:web

#2249 chore: bump version
  apps/server/package.json
  apps/web/package.json
  apps/web/src/plugins/affine/index.tsx
  package.json
  packages/component/package.json
  packages/env/package.json
  packages/i18n/package.json
  packages/jotai/package.json
  packages/jotai/src/index.ts
  packages/octobase-node/package.json
  packages/theme/package.json
  packages/workspace/package.json
  packages/workspace/src/atom.ts
  packages/workspace/src/local/crud.ts
  packages/y-indexeddb/package.json
  yarn.lock
Labels: mod:workspace, mod:i18n, mod:env, mod:component, app:web, package:y-indexeddb, mod:store, app:server, mod:theme

#2238 fix: wrong menu position
  apps/web/src/components/blocksuite/workspace-header/header-right-items/EditorOptionMenu.tsx
  packages/component/src/ui/shared/Container.tsx
Labels: mod:component, app:web

#2239 chore: add border for header when in edgeless page
  apps/web/src/components/blocksuite/workspace-header/header.tsx
  apps/web/src/components/blocksuite/workspace-header/styles.ts
Labels: app:web

#2253 chore: bump version
  apps/web/package.json
  apps/web/src/components/affine/affine-error-eoundary.tsx
  packages/component/package.json
  packages/component/src/ui/switch/Switch.tsx
  packages/env/package.json
  packages/jotai/package.json
  packages/y-indexeddb/package.json
  yarn.lock
Labels: mod:env, mod:component, app:web, package:y-indexeddb, mod:store

#2254 refactor: remove `@toeverything/theme`
  .github/labeler.yml
  apps/web/next.config.mjs
  packages/component/package.json
  packages/theme/README.md
  packages/theme/package.json
  packages/theme/src/index.css.ts
  packages/theme/src/index.ts
  packages/theme/tsconfig.json
  packages/theme/tsconfig.node.json
  packages/theme/vite.config.ts
  scripts/publish.sh
  tsconfig.json
  yarn.lock
Labels: docs, mod:component, app:web, mod:dev, mod:theme

#2255 chore: bump version
  apps/web/package.json
  packages/component/package.json
  packages/env/package.json
  packages/jotai/package.json
  packages/y-indexeddb/package.json
  yarn.lock
Labels: mod:env, mod:component, app:web, package:y-indexeddb, mod:store

#2258 fix: width of new page button
  apps/web/src/components/pure/workspace-slider-bar/style.ts
Labels: app:web

#2260 fix: hotfix for production
  apps/web/src/components/affine/pinboard/pinboard-menu/index.tsx
  packages/hooks/src/use-block-suite-page-meta.ts
Labels: mod:hooks, app:web

#2261 fix: dispatch workspace change event
  apps/web/src/atoms/root.ts
  apps/web/src/layouts/workspace-layout.tsx
Labels: app:web, mod:store

#2264 fix: background color on shortcuts header
  apps/web/src/components/pure/shortcuts-modal/style.ts
Labels: app:web

#2214 feat: implement latest version updater for macos
  apps/electron/dev-app-update.yml
  apps/electron/forge.config.js
  apps/electron/layers/main-events.ts
  apps/electron/layers/main/src/handlers.ts
  apps/electron/layers/main/src/index.ts
  apps/electron/layers/main/src/updater.ts
  apps/electron/layers/preload/src/affine-apis.ts
  apps/electron/package.json
  apps/electron/resources/app-update.yml
  apps/electron/scripts/generate-assets.mjs
  apps/web/package.json
  packages/component/package.json
  packages/component/src/components/app-sidebar/index.css.ts
  packages/component/src/components/app-sidebar/index.jotai.ts
  packages/component/src/components/app-sidebar/index.tsx
  packages/i18n/src/resources/de.json
  packages/i18n/src/resources/en.json
  packages/i18n/src/resources/fr.json
  packages/i18n/src/resources/ru.json
  packages/i18n/src/resources/zh-Hans.json
  yarn.lock
Labels: mod:i18n, mod:component, app:web, app:electron

#2269 refactor: remove sync storage
  apps/web/src/atoms/index.ts
  apps/web/src/hooks/current/use-current-workspace.ts
  apps/web/src/pages/workspace/[workspaceId]/setting.tsx
  packages/component/package.json
  packages/jotai/src/__tests__/index.spec.ts
  packages/jotai/src/index.ts
  packages/workspace/src/affine/atom.ts
  packages/workspace/src/atom.ts
  yarn.lock
Labels: test, mod:workspace, mod:component, app:web, mod:store

#2272 fix(electron): self-update is pending
  .github/workflows/build.yml
  apps/web/src/components/__tests__/__snapshots__/provider-composer.spec.tsx.snap
  packages/component/src/components/app-sidebar/index.jotai.ts
Labels: test, mod:component, app:web

#2276 fix: kebab-case warning for CSS properties in dev mode
  apps/web/src/components/pure/workspace-slider-bar/style.ts
Labels: app:web

#2274 fix: vertical alignment of item on share menu
  packages/component/src/ui/menu/styles.ts
Labels: mod:component

#2273 fix: width of cmd-item button on quick-search modal
  apps/web/src/components/pure/quick-search-modal/index.tsx
  apps/web/src/components/pure/quick-search-modal/style.ts
Labels: app:web

#2275 refactor(component): input component
  packages/component/src/index.ts
  packages/component/src/ui/divider/index.ts
  packages/component/src/ui/empty/empty-svg.tsx
  packages/component/src/ui/input/index.css.ts
  packages/component/src/ui/input/index.stories.tsx
  packages/component/src/ui/input/input.tsx
  packages/component/src/ui/input/style.ts
Labels: mod:component

#2277 fix(component): updated at in page meta
  apps/web/src/components/page-detail-editor.tsx
  packages/component/src/components/page-list/all-page.tsx
  tests/parallels/all-page.spec.ts
Labels: test, mod:component, app:web

#2278 feat: add suspense fallback for editor
  packages/component/src/components/block-suite-editor/index.css.ts
  packages/component/src/components/block-suite-editor/index.tsx
Labels: mod:component

#2198 feat(component): support image preview by double click
  apps/web/preset.config.mjs
  apps/web/src/providers/modal-provider.tsx
  package.json
  packages/component/src/components/block-suite-editor/index.stories.tsx
  packages/component/src/components/block-suite-editor/index.tsx
  packages/component/src/components/image-preview-modal/index.css.ts
  packages/component/src/components/image-preview-modal/index.jotai.ts
  packages/component/src/components/image-preview-modal/index.stories.tsx
  packages/component/src/components/image-preview-modal/index.tsx
  packages/env/src/config.ts
  playwright.config.ts
  tests/fixtures/large-image.png
  tests/parallels/image-preview.spec.ts
Labels: test, mod:env, mod:component, app:web

#2279 chore: bump version
  apps/server/package.json
  apps/web/package.json
  apps/web/src/hooks/affine/use-reference-link-effect.ts
  package.json
  packages/component/package.json
  packages/env/package.json
  packages/i18n/package.json
  packages/jotai/package.json
  packages/octobase-node/package.json
  packages/y-indexeddb/package.json
  yarn.lock
Labels: mod:i18n, mod:env, mod:component, app:web, package:y-indexeddb, mod:store, app:server

#2281 chore: replace lang icon and update translation
  apps/web/src/components/affine/pinboard/pinboard-menu/index.tsx
  apps/web/src/components/blocksuite/workspace-header/header-right-items/language-menu.tsx
  apps/web/src/components/blocksuite/workspace-header/header-right-items/theme-mode-switch/index.tsx
  packages/component/src/components/changeLog/index.css.ts
  packages/component/src/components/changeLog/index.tsx
  packages/component/src/components/contact-modal/index.tsx
  packages/i18n/src/resources/de.json
  packages/i18n/src/resources/en.json
  packages/i18n/src/resources/fr.json
  packages/i18n/src/resources/index.ts
  packages/i18n/src/resources/ru.json
  packages/i18n/src/resources/zh-Hans.json
  packages/i18n/src/scripts/download.ts
  tests/parallels/shortcuts.spec.ts
Labels: test, mod:i18n, mod:component, app:web

#2151 feat: add download tips banner
  apps/web/src/atoms/guide.ts
  apps/web/src/components/blocksuite/workspace-header/download-tips.tsx
  apps/web/src/components/blocksuite/workspace-header/header.tsx
  packages/component/src/components/affine-banner/browser-warning.tsx
  packages/component/src/components/affine-banner/download-client.tsx
  packages/component/src/components/affine-banner/index.css.ts
  packages/component/src/components/affine-banner/index.tsx
  packages/component/src/stories/affine-banner.stories.tsx
  tests/parallels/open-affine.spec.ts
Labels: test, mod:component, app:web, mod:store

#2285 fix(component): input style
  packages/component/src/ui/input/input.tsx
Labels: mod:component

#2287 chore: bump version
  apps/server/package.json
  packages/component/package.json
  yarn.lock
Labels: mod:component, app:server

#2291 docs: update README.md
  README.md
Labels: docs

#2283 fix: theme not being persisted issue
  apps/electron/layers/main/src/handlers/ui/index.ts
  apps/electron/layers/main/src/main-window.ts
  apps/electron/layers/utils.ts
  apps/electron/scripts/generate-main-exposed-meta.mjs
  apps/electron/tests/basic.spec.ts
  apps/electron/tests/fixture.ts
  apps/web/src/components/affine/workspace-setting-detail/index.css.ts
  apps/web/src/components/affine/workspace-setting-detail/panel/general/index.tsx
  apps/web/src/components/affine/workspace-setting-detail/panel/general/style.ts
  apps/web/src/components/blocksuite/workspace-header/header-right-items/editor-option-menu.tsx
  apps/web/src/components/blocksuite/workspace-header/header.tsx
  apps/web/src/components/blocksuite/workspace-header/index.tsx
  apps/web/src/components/blocksuite/workspace-header/styles.css.ts
  apps/web/src/components/blocksuite/workspace-header/styles.ts
  apps/web/src/components/pure/workspace-title/index.tsx
  apps/web/src/providers/theme-provider.tsx
  packages/i18n/src/resources/de.json
  packages/i18n/src/resources/en.json
  packages/i18n/src/resources/fr.json
  packages/i18n/src/resources/ru.json
  packages/i18n/src/resources/zh-Hans.json
Labels: test, mod:i18n, app:web, app:electron

#2292 feat(component): add skeleton in page detail
  apps/web/src/pages/workspace/[workspaceId]/[pageId].tsx
  packages/component/src/components/page-detail-skeleton/index.css.ts
  packages/component/src/components/page-detail-skeleton/index.stories.tsx
  packages/component/src/components/page-detail-skeleton/index.tsx
Labels: mod:component, app:web

#2295 feat: enhance root div styles
  apps/web/src/layouts/public-workspace-layout.tsx
  apps/web/src/layouts/styles.ts
  apps/web/src/layouts/workspace-layout.tsx
  apps/web/src/pages/_debug/broadcast.dev.tsx
  apps/web/src/pages/_debug/init-page.dev.tsx
  apps/web/src/pages/_debug/login.dev.tsx
  packages/component/src/components/workspace/index.css.ts
  packages/component/src/components/workspace/index.tsx
  packages/component/src/styles/mui-theme.ts
Labels: mod:component, app:web

#2294 fix: try to fix updater not working
  apps/electron/layers/main/src/handlers/__tests__/handlers.spec.ts
  apps/electron/layers/main/src/handlers/db/ensure-db.ts
  apps/electron/layers/main/src/handlers/dialog/dialog.ts
  apps/electron/layers/main/src/handlers/register.ts
  apps/electron/layers/main/src/handlers/updater/updater.ts
  apps/electron/layers/preload/src/affine-apis.ts
Labels: test, app:electron

#2296 fix(component): toast too many times when switch page mode
  apps/web/src/components/blocksuite/workspace-header/editor-mode-switch/index.tsx
  apps/web/src/hooks/root/use-on-transform-workspace.ts
  apps/web/src/utils/toast.ts
  packages/i18n/src/resources/en.json
  tests/parallels/change-page-mode.spec.ts
Labels: test, mod:i18n, app:web

#2297 refactor: tour modal
  apps/electron/tests/basic.spec.ts
  packages/component/src/components/tour-modal/index.css.ts
  packages/component/src/components/tour-modal/index.tsx
  packages/component/src/components/tour-modal/tour-modal.tsx
  packages/component/src/ui/modal/modal-wrapper.tsx
  packages/i18n/src/resources/en.json
Labels: test, mod:i18n, mod:component, app:electron

#2309 build(electron): add internal release channel
  .github/workflows/nightly-build.yml
  apps/electron/forge.config.js
  apps/electron/layers/main/src/handlers/updater/index.ts
  apps/electron/layers/main/src/handlers/updater/updater.ts
  apps/electron/layers/main/tsconfig.json
  apps/electron/layers/preload/tsconfig.json
  apps/electron/resources/icons/icon_internal.icns
  apps/electron/resources/icons/icon_internal.ico
  apps/electron/tsconfig.json
Labels: app:electron

#2310 chore: bump version
  apps/electron/package.json
  apps/server/package.json
  apps/web/package.json
  package.json
  packages/component/package.json
  packages/env/package.json
  packages/i18n/package.json
  packages/jotai/package.json
  packages/octobase-node/package.json
  packages/y-indexeddb/package.json
  yarn.lock
Labels: mod:i18n, mod:env, mod:component, app:web, app:electron, package:y-indexeddb, mod:store, app:server

#2321 chore: update AFFiNE Cloud prompt
  apps/web/src/components/affine/tmp-disable-affine-cloud-modal/index.tsx
Labels: app:web

#2322 fix: delete modal on confirm does not close
  apps/web/src/components/blocksuite/workspace-header/header-right-items/editor-option-menu.tsx
Labels: app:web

#2323 feat(component): improve fallback skeleton
  apps/web/src/components/pure/loading/page-loading.tsx
  apps/web/src/layouts/workspace-layout.tsx
  apps/web/src/pages/_app.tsx
  apps/web/src/pages/index.tsx
  apps/web/src/plugins/affine/index.tsx
  packages/component/src/components/app-sidebar/fallback.css.ts
  packages/component/src/components/app-sidebar/fallback.tsx
  packages/component/src/components/app-sidebar/index.stories.tsx
  packages/component/src/components/app-sidebar/index.tsx
  packages/component/src/components/block-suite-editor/index.css.ts
  packages/component/src/components/block-suite-editor/index.tsx
  packages/component/src/components/workspace/index.tsx
Labels: mod:component, app:web

#2299 fix: should not show open folder if it is not moved
  apps/electron/layers/main/src/events/db.ts
  apps/electron/layers/main/src/handlers/__tests__/handlers.spec.ts
  apps/electron/layers/main/src/handlers/db/index.ts
  apps/electron/layers/main/src/handlers/db/sqlite.ts
  apps/electron/layers/main/src/handlers/dialog/dialog.ts
  apps/web/src/components/affine/create-workspace-modal/index.tsx
  apps/web/src/components/affine/workspace-setting-detail/index.css.ts
  apps/web/src/components/affine/workspace-setting-detail/panel/export/index.tsx
  apps/web/src/components/affine/workspace-setting-detail/panel/general/index.tsx
  packages/i18n/src/resources/en.json
  packages/workspace/src/providers/__tests__/sqlite-provider.spec.ts
  packages/workspace/src/providers/index.ts
Labels: test, mod:workspace, mod:i18n, app:web, app:electron

#2271 fix: delay setAom on `rootWorkspacesMetadataAtom`
  apps/web/src/atoms/index.ts
  apps/web/src/hooks/__tests__/index.spec.tsx
  packages/workspace/src/atom.ts
Labels: test, mod:workspace, app:web, mod:store

#2330 refactor: rename `WorkspacePlugin` to `WorkspaceAdapter`
  apps/web/src/atoms/__tests__/atom.spec.ts
  apps/web/src/atoms/index.ts
  apps/web/src/atoms/root.ts
  apps/web/src/components/affine/workspace-setting-detail/panel/collaboration/index.tsx
  apps/web/src/components/affine/workspace-setting-detail/panel/publish/index.tsx
  apps/web/src/components/blocksuite/workspace-header/header-right-items/share-menu.tsx
  apps/web/src/components/pure/workspace-list-modal/index.tsx
  apps/web/src/hooks/affine/use-affine-log-in.ts
  apps/web/src/hooks/affine/use-affine-log-out.ts
  apps/web/src/hooks/affine/use-toggle-workspace-publish.ts
  apps/web/src/hooks/use-transform-workspace.ts
  apps/web/src/hooks/use-workspaces.ts
  apps/web/src/layouts/workspace-layout.tsx
  apps/web/src/pages/workspace/[workspaceId]/[pageId].tsx
  apps/web/src/pages/workspace/[workspaceId]/all.tsx
  apps/web/src/pages/workspace/[workspaceId]/setting.tsx
  apps/web/src/plugins/affine/fetcher.ts
  apps/web/src/plugins/affine/index.tsx
  apps/web/src/plugins/index.tsx
  apps/web/src/plugins/local/index.tsx
  apps/web/src/shared/index.ts
  packages/component/src/components/share-menu/share-menu.tsx
  packages/component/src/components/share-menu/share-workspace.tsx
  packages/component/src/components/workspace-avatar/index.tsx
  packages/component/src/components/workspace-card/index.tsx
  packages/component/src/components/workspace-list/index.tsx
  packages/component/src/stories/share-menu.stories.tsx
  packages/workspace/src/type.ts
Labels: test, mod:workspace, mod:component, app:web, mod:store

#2241 fix: remove `useEffect` on router sync with atoms
  apps/web/src/blocksuite/providers/affine/index.ts
  apps/web/src/hooks/root/use-on-transform-workspace.ts
  apps/web/src/hooks/use-router-and-workspace-with-page-id-defense.ts
  apps/web/src/hooks/use-router-with-workspace-id-defense.ts
  apps/web/src/hooks/use-sync-router-with-current-page-id.ts
  apps/web/src/hooks/use-sync-router-with-current-workspace-id.ts
  apps/web/src/hooks/use-transform-workspace.ts
  apps/web/src/pages/workspace/[workspaceId]/setting.tsx
  apps/web/src/plugins/affine/index.tsx
  packages/workspace/package.json
  packages/workspace/src/affine/__tests__/api.spec.ts
  yarn.lock
Labels: test, mod:workspace, app:web

#2335 ci: collect test coverage on electron
  .github/workflows/build.yml
  apps/electron/tests/fixture.ts
  apps/electron/tests/setup.ts
  tests/kit/playwright.ts
  tests/parallels/all-page.spec.ts
Labels: test, app:electron

#2303 feat: new sidebar (app shell) styles
  apps/electron/layers/main/src/main-window.ts
  apps/web/src/components/affine/sidebar-switch/style.ts
  apps/web/src/components/blocksuite/workspace-header/header.tsx
  apps/web/src/components/blocksuite/workspace-header/styles.css.ts
  apps/web/src/components/pure/workspace-slider-bar/WorkspaceSelector/styles.ts
  apps/web/src/components/pure/workspace-slider-bar/favorite/empty-item.tsx
  apps/web/src/components/pure/workspace-slider-bar/favorite/favorite-list.tsx
  apps/web/src/components/pure/workspace-slider-bar/favorite/index.tsx
  apps/web/src/components/pure/workspace-slider-bar/icons.tsx
  apps/web/src/components/pure/workspace-slider-bar/index.tsx
  apps/web/src/components/pure/workspace-slider-bar/route-navigation.tsx
  apps/web/src/components/root-app-sidebar/index.tsx
  apps/web/src/layouts/workspace-layout.tsx
  packages/component/src/components/app-sidebar/add-page-button/index.css.ts
  packages/component/src/components/app-sidebar/add-page-button/index.stories.tsx
  packages/component/src/components/app-sidebar/add-page-button/index.tsx
  packages/component/src/components/app-sidebar/app-updater-button/dot-animation.svg
  packages/component/src/components/app-sidebar/app-updater-button/index.css.ts
  packages/component/src/components/app-sidebar/app-updater-button/index.stories.tsx
  packages/component/src/components/app-sidebar/app-updater-button/index.tsx
  packages/component/src/components/app-sidebar/category-divider/index.css.ts
  packages/component/src/components/app-sidebar/category-divider/index.stories.tsx
  packages/component/src/components/app-sidebar/category-divider/index.tsx
  packages/component/src/components/app-sidebar/fallback.css.ts
  packages/component/src/components/app-sidebar/index.css.ts
  packages/component/src/components/app-sidebar/index.jotai.ts
  packages/component/src/components/app-sidebar/index.stories.tsx
  packages/component/src/components/app-sidebar/index.tsx
  packages/component/src/components/app-sidebar/menu-item/index.css.ts
  packages/component/src/components/app-sidebar/menu-item/index.stories.tsx
  packages/component/src/components/app-sidebar/menu-item/index.tsx
  packages/component/src/components/app-sidebar/quick-search-input/index.css.ts
  packages/component/src/components/app-sidebar/quick-search-input/index.stories.tsx
  packages/component/src/components/app-sidebar/quick-search-input/index.tsx
  packages/component/src/components/app-sidebar/resize-indicator/index.css.ts
  packages/component/src/components/app-sidebar/resize-indicator/index.tsx
  packages/component/src/components/app-sidebar/sidebar-containers/index.css.ts
  packages/component/src/components/app-sidebar/sidebar-containers/index.tsx
  packages/component/src/components/app-sidebar/sidebar-header/index.tsx
  packages/component/src/components/changeLog/index.css.ts
  packages/component/src/components/workspace/index.css.ts
  packages/component/src/components/workspace/index.tsx
  packages/env/package.json
  packages/i18n/src/resources/en.json
  tests/parallels/local-first-delete-page.spec.ts
  tests/parallels/local-first-export-page.spec.ts
  tests/parallels/local-first-favorite-page.spec.ts
  tests/parallels/local-first-favorites-items.spec.ts
  tests/parallels/local-first-new-page.spec.ts
  tests/parallels/local-first-openpage-newtab.spec.ts
  tests/parallels/local-first-restore-page.spec.ts
  tests/parallels/local-first-show-delete-modal.spec.ts
  tests/parallels/local-first-trash-page.spec.ts
  tests/parallels/open-affine.spec.ts
Labels: test, mod:i18n, mod:env, mod:component, app:web, app:electron

#2342 fix: correct router logic
  apps/web/src/hooks/__tests__/index.spec.tsx
  apps/web/src/hooks/__tests__/use-recent-views.spec.tsx
  apps/web/src/hooks/affine/use-last-leave-workspace-id.ts
  apps/web/src/hooks/current/use-current-workspace.ts
  apps/web/src/hooks/use-router-and-workspace-with-page-id-defense.ts
  apps/web/src/hooks/use-router-with-workspace-id-defense.ts
  apps/web/src/hooks/use-sync-router-with-current-page-id.ts
  apps/web/src/hooks/use-sync-router-with-current-workspace-id.ts
  apps/web/src/layouts/workspace-layout.tsx
  apps/web/src/pages/index.tsx
  apps/web/src/pages/workspace/[workspaceId]/[pageId].tsx
  apps/web/src/pages/workspace/[workspaceId]/all.tsx
  apps/web/src/pages/workspace/[workspaceId]/favorite.tsx
  apps/web/src/pages/workspace/[workspaceId]/setting.tsx
  apps/web/src/pages/workspace/[workspaceId]/shared.tsx
  apps/web/src/pages/workspace/[workspaceId]/trash.tsx
  apps/web/src/providers/modal-provider.tsx
  packages/workspace/package.json
  packages/workspace/src/atom.ts
  tests/parallels/affine/affine-public-single-page.spec.ts
  tests/parallels/affine/affine-workspace.spec.ts
  tests/parallels/open-affine.spec.ts
  tests/parallels/router.spec.ts
  yarn.lock
Labels: test, mod:workspace, app:web

#2331 chore: bump version
  apps/electron/package.json
  apps/web/package.json
  package.json
  packages/component/package.json
  packages/env/package.json
  packages/i18n/package.json
  packages/workspace/package.json
  yarn.lock
Labels: blocked, mod:workspace, mod:i18n, mod:env, mod:component, app:web, app:electron

#2349 chore(server): remove bcrypt to avoid node-gyp usage
  apps/server/package.json
  apps/server/scripts/gen-auth-key.ts
  apps/server/src/config/def.ts
  apps/server/src/config/default.ts
  apps/server/src/modules/auth/service.ts
  apps/server/src/tests/app.e2e.ts
  yarn.lock
Labels: test, app:server

#2352 chore: update `blocksuite` to `0.0.0-20230512192655-e61e272b-nightly`
  apps/web/package.json
  apps/web/src/components/blocksuite/workspace-header/index.tsx
  apps/web/src/hooks/use-workspaces.ts
  apps/web/src/layouts/workspace-layout.tsx
  package.json
  packages/component/package.json
  packages/component/src/components/page-list/operation-menu-items/export.tsx
  packages/component/src/components/share-menu/export.tsx
  packages/env/package.json
  packages/jotai/package.json
  packages/y-indexeddb/package.json
  yarn.lock
Labels: mod:env, mod:component, app:web, package:y-indexeddb, mod:store

#2267 feat(electron): app menu item and hotkey for creating new page
  apps/electron/layers/main/src/application-menu.ts
  apps/electron/layers/main/src/events/application-menu.ts
  apps/electron/layers/main/src/events/index.ts
  apps/electron/layers/main/src/events/register.ts
  apps/electron/layers/main/src/index.ts
  apps/web/src/components/root-app-sidebar/index.tsx
Labels: app:web, app:electron

#2355 fix: typo in AFFiNE-Docs.md
  packages/templates/src/AFFiNE-Docs.md
Labels: docs

#2357 chore: update `blocksuite` to `0.0.0-20230514141009-705c0fac-nightly`
  apps/electron/package.json
  apps/server/package.json
  apps/web/package.json
  package.json
  packages/component/package.json
  packages/env/package.json
  packages/i18n/package.json
  packages/jotai/package.json
  packages/native/package.json
  packages/workspace/package.json
  packages/y-indexeddb/package.json
  yarn.lock
Labels: mod:workspace, mod:i18n, mod:env, mod:component, app:web, app:electron, package:y-indexeddb, mod:store, app:server

#2348 fix: some style updates
  apps/web/src/components/blocksuite/workspace-header/header.tsx
  apps/web/src/components/blocksuite/workspace-header/styles.css.ts
  apps/web/src/components/root-app-sidebar/index.tsx
  apps/web/src/layouts/workspace-layout.tsx
  packages/component/src/components/app-sidebar/index.css.ts
  packages/component/src/components/app-sidebar/index.jotai.ts
  packages/component/src/components/app-sidebar/index.tsx
  packages/component/src/components/app-sidebar/menu-item/index.css.ts
  packages/component/src/components/app-sidebar/resize-indicator/index.css.ts
  packages/component/src/components/app-sidebar/sidebar-containers/index.css.ts
  packages/component/src/components/internal-lottie/index.tsx
  packages/component/src/components/workspace/index.css.ts
  packages/component/src/components/workspace/index.tsx
  tests/parallels/open-affine.spec.ts
Labels: test, mod:component, app:web

#2336 feat(electron): track router history
  apps/electron/tests/basic.spec.ts
  apps/electron/tests/fixture.ts
  apps/web/src/atoms/history.ts
  apps/web/src/components/root-app-sidebar/index.tsx
  apps/web/src/layouts/workspace-layout.tsx
  packages/component/src/components/app-sidebar/index.tsx
  packages/component/src/components/app-sidebar/sidebar-header/index.tsx
Labels: test, mod:component, app:web, app:electron, mod:store

#2365 chore: add animation for tour modal
  packages/component/src/components/tour-modal/index.css.ts
  packages/component/src/components/tour-modal/tour-modal.tsx
Labels: mod:component

#2375 chore: remove quick search tips
  apps/web/src/components/blocksuite/workspace-header/index.tsx
  packages/component/src/ui/tooltip/index.tsx
  packages/component/src/ui/tooltip/quick-search-tips.tsx
  tests/parallels/quick-search.spec.ts
Labels: test, mod:component, app:web

#2372 chore: remove favorite page
  apps/web/src/components/blocksuite/block-suite-page-list/index.tsx
  apps/web/src/components/pure/quick-search-modal/config.ts
  apps/web/src/components/root-app-sidebar/index.tsx
  apps/web/src/hooks/__tests__/use-router-helper.spec.ts
  apps/web/src/pages/workspace/[workspaceId]/favorite.tsx
  apps/web/src/shared/index.ts
Labels: test, app:web

#2356 feat: supports sort all page
  apps/web/src/components/blocksuite/block-suite-page-list/index.tsx
  packages/component/src/components/page-list/all-page.tsx
  packages/component/src/components/page-list/use-sorter.ts
  packages/component/src/stories/page-list.stories.tsx
  packages/component/src/ui/table/interface.ts
  packages/component/src/ui/table/styles.ts
Labels: mod:component, app:web

#2377 fix: app updater not working for internal release
  apps/electron/scripts/generate-assets.mjs
Labels: app:electron

#2389 docs: update jobs.md
  docs/jobs.md
Labels: docs

#2388 feat: add Japanese support and update translation
  apps/web/src/components/affine/tmp-disable-affine-cloud-modal/index.tsx
  packages/component/src/components/affine-banner/download-client.tsx
  packages/i18n/src/resources/de.json
  packages/i18n/src/resources/en.json
  packages/i18n/src/resources/fr.json
  packages/i18n/src/resources/index.ts
  packages/i18n/src/resources/ja.json
  packages/i18n/src/resources/zh-Hans.json
Labels: mod:i18n, mod:component, app:web

#2393 fix: text overflows in the header option menu
  apps/web/src/components/blocksuite/workspace-header/header-right-items/editor-option-menu.tsx
  apps/web/src/components/blocksuite/workspace-header/header-right-items/theme-mode-switch/style.ts
Labels: app:web

#2394 fix: unexpected undefined class in popup
  packages/component/src/components/app-sidebar/app-updater-button/index.tsx
  packages/component/src/theme/theme.css.ts
  packages/component/src/ui/popper/popper.tsx
Labels: mod:component

#2398 feat: add block card component
  packages/component/src/components/card/block-card/index.tsx
  packages/component/src/components/card/block-card/styles.css.ts
  packages/component/src/components/card/workspace-card/index.tsx
  packages/component/src/components/card/workspace-card/styles.ts
  packages/component/src/components/share-menu/share-menu.tsx
  packages/component/src/components/workspace-list/index.tsx
  packages/component/src/stories/card.stories.tsx
  packages/component/src/stories/workspace-card.stories.tsx
Labels: mod:component

#2329 feat(electron): use affine native
  .github/actions/build-rust/action.yml
  .github/workflows/build.yml
  .github/workflows/release-desktop-app.yml
  .vscode/settings.json
  Cargo.lock
  apps/electron/layers/main/src/handlers/__tests__/handlers.spec.ts
  apps/electron/layers/main/src/handlers/db/ensure-db.ts
  apps/electron/layers/main/src/handlers/db/sqlite.ts
  apps/electron/layers/main/src/handlers/dialog/dialog.ts
  apps/electron/layers/main/src/handlers/dialog/index.ts
  apps/electron/package.json
  apps/electron/scripts/build-layers.mjs
  apps/electron/scripts/common.mjs
  apps/electron/scripts/generate-main-exposed-meta.mjs
  apps/electron/tsconfig.json
  packages/native/Cargo.toml
  packages/native/fs-watcher.d.ts
  packages/native/fs-watcher.js
  packages/native/index.d.ts
  packages/native/index.js
  packages/native/src/fs.rs
  packages/native/tsconfig.json
  tsconfig.json
  vitest.config.ts
  yarn.lock
Labels: test, app:electron, rust

#2404 fix: hydration error
  apps/web/src/components/pure/loading/page-loading.tsx
Labels: app:web

#2405 fix: infinite reloading
  apps/web/src/layouts/workspace-layout.tsx
  packages/workspace/src/atom.ts
Labels: mod:workspace, app:web

#2407 feat: add dropdown button
  packages/component/src/stories/button.stories.tsx
  packages/component/src/ui/button/dropdown.tsx
  packages/component/src/ui/button/styles.css.ts
Labels: mod:component

#2401 feat: update button enhancements
  apps/electron/layers/main/src/application-menu.ts
  apps/electron/layers/main/src/events/updater.ts
  apps/electron/layers/main/src/handlers/updater/index.ts
  apps/electron/layers/main/src/handlers/updater/updater.ts
  apps/electron/layers/preload/preload.d.ts
  apps/web/src/components/root-app-sidebar/index.tsx
  packages/component/src/components/app-sidebar/app-updater-button/index.css.ts
  packages/component/src/components/app-sidebar/app-updater-button/index.jotai.ts
  packages/component/src/components/app-sidebar/app-updater-button/index.stories.tsx
  packages/component/src/components/app-sidebar/app-updater-button/index.tsx
  packages/component/src/components/app-sidebar/index.jotai.ts
  packages/component/src/components/app-sidebar/index.tsx
  packages/i18n/src/resources/en.json
Labels: mod:i18n, mod:component, app:web, app:electron

#2409 chore: update preloading page
  packages/env/src/blocksuite.ts
  packages/templates/src/AFFiNE-beta-0.5.4.md
  tests/parallels/affine/affine-public-workspace.spec.ts
Labels: docs, test, mod:env

#2408 build: fix electron release build process
  .github/workflows/build.yml
  .github/workflows/nightly-build.yml
  .github/workflows/release-desktop-app.yml
  apps/electron/package.json
  apps/electron/scripts/common.mjs
  apps/electron/scripts/generate-assets.mjs
Labels: app:electron

#2410 chore: update prompt
  apps/web/src/components/affine/tmp-disable-affine-cloud-modal/index.tsx
  packages/i18n/src/resources/de.json
  packages/i18n/src/resources/en.json
  packages/i18n/src/resources/fr.json
  packages/i18n/src/resources/index.ts
  packages/i18n/src/resources/ja.json
  packages/i18n/src/resources/zh-Hans.json
Labels: mod:i18n, app:web

#2423 chore: bump version
  apps/electron/package.json
  apps/server/package.json
  apps/web/package.json
  package.json
  packages/component/package.json
  packages/i18n/package.json
  packages/native/package.json
  packages/y-indexeddb/package.json
  yarn.lock
Labels: mod:i18n, mod:component, app:web, app:electron, package:y-indexeddb, app:server

#2424 fix: sidebar fallback ui position
  packages/component/src/components/app-sidebar/fallback.css.ts
Labels: mod:component

#2418 fix: configurable changelog url
  apps/electron/layers/main/src/application-menu.ts
  apps/web/preset.config.mjs
  apps/web/src/components/affine/affine-error-eoundary.tsx
  apps/web/src/components/affine/workspace-setting-detail/panel/collaboration/index.tsx
  apps/web/src/components/affine/workspace-setting-detail/panel/publish/index.tsx
  apps/web/src/components/blocksuite/workspace-header/header-right-items/share-menu.tsx
  apps/web/src/components/page-detail-editor.tsx
  apps/web/src/components/pure/help-island/index.tsx
  apps/web/src/pages/public-workspace/[workspaceId].tsx
  apps/web/src/pages/workspace/[workspaceId]/[pageId].tsx
  apps/web/src/pages/workspace/[workspaceId]/all.tsx
  apps/web/src/pages/workspace/[workspaceId]/setting.tsx
  apps/web/src/plugins/affine/fetcher.ts
  apps/web/src/plugins/affine/index.tsx
  apps/web/src/plugins/local/index.tsx
  packages/component/src/components/app-sidebar/add-page-button/index.css.ts
  packages/component/src/components/app-sidebar/app-updater-button/index.tsx
  packages/env/src/config.ts
  packages/env/src/constant.ts
Labels: mod:env, mod:component, app:web, app:electron

#2425 refactor: remove unused code
  apps/web/src/providers/theme-provider.tsx
  packages/component/src/styles/index.ts
  packages/component/src/styles/mui-theme-provider.tsx
  packages/component/src/styles/mui-theme.ts
  packages/component/src/styles/types.ts
  packages/component/src/styles/utils/index.ts
  packages/component/src/styles/utils/local-storage-theme-helper.ts
  packages/component/src/styles/utils/system-theme-helper.ts
Labels: mod:component, app:web

#2428 chore: adjust copywriting for onboarding
  apps/web/src/components/pure/help-island/index.tsx
  packages/i18n/src/resources/en.json
  packages/i18n/src/resources/fr.json
  packages/i18n/src/resources/index.ts
  packages/i18n/src/resources/ja.json
  packages/i18n/src/resources/zh-Hans.json
Labels: mod:i18n, app:web

#2429 chore: update pre-loading page
  packages/templates/src/AFFiNE-beta-0.5.4.md
Labels: docs

#2422 feat: fav page references
  apps/web/src/components/pure/workspace-slider-bar/favorite/favorite-list.tsx
  packages/component/src/components/app-sidebar/index.stories.tsx
  packages/component/src/components/app-sidebar/menu-item/index.css.ts
  packages/component/src/components/app-sidebar/menu-item/index.stories.tsx
  packages/component/src/components/app-sidebar/menu-item/index.tsx
  packages/component/src/components/app-sidebar/quick-search-input/index.css.ts
  packages/hooks/src/use-block-suite-page-references.ts
  tests/libs/page-logic.ts
  tests/parallels/local-first-favorites-items.spec.ts
Labels: test, mod:hooks, mod:component, app:web, beta, do-not-land-0.5.x

#2430 chore: bump `blocksuite` to `0.0.0-20230518051344-45970a96-nightly`
  apps/web/package.json
  packages/component/package.json
  packages/env/package.json
  packages/jotai/package.json
  packages/y-indexeddb/package.json
  yarn.lock
Labels: mod:env, mod:component, app:web, package:y-indexeddb, mod:store

#2431 fix: open non-trash page when open
  apps/web/src/components/page-detail-editor.tsx
  apps/web/src/pages/index.tsx
Labels: housekeeping needed, test needed, app:web

#2432 chore: update pre-load content
  packages/templates/src/AFFiNE-beta-0.5.4.md
Labels: docs

#2435 fix: create workspace card responsive
  apps/web/src/components/pure/workspace-list-modal/styles.ts
Labels: app:web

#2437 chore: adjust delete description style
  apps/web/src/components/affine/workspace-setting-detail/panel/general/delete/style.ts
  packages/i18n/src/resources/de.json
  packages/i18n/src/resources/en.json
  packages/i18n/src/resources/fr.json
  packages/i18n/src/resources/ja.json
  packages/i18n/src/resources/ru.json
  packages/i18n/src/resources/zh-Hans.json
Labels: mod:i18n, app:web

#2438 fix: adjust some styles
  apps/web/src/components/pure/workspace-list-modal/index.tsx
  apps/web/src/components/pure/workspace-slider-bar/favorite/favorite-list.tsx
  apps/web/src/components/pure/workspace-slider-bar/favorite/styles.css.ts
  packages/component/src/components/app-sidebar/add-page-button/index.tsx
  packages/component/src/components/app-sidebar/app-updater-button/index.css.ts
  packages/component/src/components/app-sidebar/index.css.ts
  packages/component/src/components/app-sidebar/menu-item/index.css.ts
  packages/component/src/components/app-sidebar/menu-item/index.tsx
  packages/component/src/components/app-sidebar/sidebar-containers/index.css.ts
  packages/component/src/components/app-sidebar/sidebar-containers/index.tsx
  packages/component/src/components/app-sidebar/spolight/index.css.ts
  packages/component/src/components/app-sidebar/spolight/index.stories.tsx
  packages/component/src/components/app-sidebar/spolight/index.tsx
Labels: mod:component, app:web

#2441 chore: bump icon version
  apps/web/package.json
  packages/component/package.json
  yarn.lock
Labels: mod:component, app:web

#2444 chore: bump version
  apps/server/package.json
  package.json
  packages/component/package.json
  packages/i18n/package.json
  packages/native/package.json
  packages/y-indexeddb/package.json
  yarn.lock
Labels: mod:i18n, mod:component, package:y-indexeddb, app:server

#2417 feat: add new page button
  apps/web/src/atoms/index.ts
  apps/web/src/components/blocksuite/block-suite-page-list/index.tsx
  apps/web/src/components/blocksuite/block-suite-page-list/utils.tsx
  apps/web/src/components/root-app-sidebar/index.tsx
  apps/web/src/hooks/use-recent-views.ts
  packages/component/src/components/card/block-card/styles.css.ts
  packages/component/src/components/page-list/all-page.tsx
  packages/component/src/components/page-list/new-page-buttton.tsx
  packages/component/src/components/page-list/use-sorter.ts
  packages/component/src/stories/page-list.stories.tsx
  packages/component/src/ui/menu/menu.tsx
  packages/component/src/ui/menu/styles.ts
  packages/component/src/ui/table/styles.ts
  packages/hooks/src/use-block-suite-workspace-helper.ts
  packages/i18n/src/resources/en.json
  tests/parallels/all-page.spec.ts
Labels: test, mod:i18n, mod:hooks, mod:component, app:web, mod:store

#2451 chore: remove unused i18n key
  packages/i18n/src/resources/de.json
  packages/i18n/src/resources/en.json
  packages/i18n/src/resources/fr.json
  packages/i18n/src/resources/ja.json
  packages/i18n/src/resources/ru.json
  packages/i18n/src/resources/zh-Hans.json
Labels: mod:i18n

#2452 fix: optimize app updater
  apps/web/src/components/pure/workspace-slider-bar/favorite/favorite-list.tsx
  apps/web/src/components/pure/workspace-slider-bar/favorite/styles.css.ts
  packages/component/package.json
  packages/component/src/components/app-sidebar/app-updater-button/index.css.ts
  packages/component/src/components/app-sidebar/app-updater-button/index.tsx
  yarn.lock
Labels: mod:component, app:web

#2454 fix: adjust some windows style issues
  apps/web/src/components/blocksuite/workspace-header/styles.css.ts
  packages/component/src/components/app-sidebar/sidebar-header/index.tsx
Labels: mod:component, app:web

#2462 fix: add windows install loading gif
  apps/electron/forge.config.js
  apps/electron/layers/main/src/index.ts
  apps/electron/resources/icons/affine_installing.gif
Labels: app:electron

#2453 feat: add responvise page view
  apps/web/src/components/blocksuite/block-suite-page-list/utils.tsx
  packages/component/src/components/page-list/all-page.tsx
  packages/component/src/components/page-list/all-pages-body.tsx
  packages/component/src/components/page-list/components/favorite-tag.tsx
  packages/component/src/components/page-list/components/new-page-buttton.tsx
  packages/component/src/components/page-list/components/title-cell.tsx
  packages/component/src/components/page-list/mobile.tsx
  packages/component/src/components/page-list/styles.ts
  packages/component/src/stories/page-list.stories.tsx
  packages/component/src/ui/menu/menu.tsx
  packages/component/src/ui/table/styles.ts
  packages/component/src/ui/table/table-body.tsx
  packages/component/src/ui/table/table-cell.tsx
  packages/component/src/ui/table/table-row.tsx
  packages/component/src/ui/table/table.tsx
Labels: mod:component, app:web

#2469 docs: correct spelling
  README.md
Labels: docs

#2472 chore: update `blocksuite` to `0.0.0-20230519102837-01acd96b-nightly`
  apps/web/package.json
  packages/component/package.json
  packages/env/package.json
  packages/jotai/package.json
  packages/y-indexeddb/package.json
  yarn.lock
Labels: mod:env, mod:component, app:web, package:y-indexeddb, mod:store

#2476 fix: fav reference style issue
  apps/web/src/components/pure/workspace-slider-bar/favorite/favorite-list.tsx
  apps/web/src/components/pure/workspace-slider-bar/favorite/styles.css.ts
Labels: app:web

#2477 fix: wrap all workspaces with Suspense
  apps/web/src/layouts/workspace-layout.tsx
Labels: app:web

#2475 ci: add circular import detect
  .github/workflows/build.yml
  apps/web/package.json
  package.json
  packages/component/src/components/app-sidebar/fallback.tsx
  packages/component/src/components/app-sidebar/index.tsx
  packages/component/src/components/page-list/all-page.tsx
  packages/component/src/components/page-list/all-pages-body.tsx
  packages/component/src/components/page-list/index.tsx
  packages/component/src/components/page-list/mobile.tsx
  packages/component/src/components/page-list/type.ts
  packages/component/src/stories/page-list.stories.tsx
  yarn.lock
Labels: mod:component, app:web

#2480 refactor: rename `plugins` to `adapters`
  apps/web/src/adapters/affine/__tests__/index.spec.tsx
  apps/web/src/adapters/affine/fetcher.ts
  apps/web/src/adapters/affine/index.tsx
  apps/web/src/adapters/local/index.tsx
  apps/web/src/adapters/type.tsx
  apps/web/src/adapters/workspace.ts
  apps/web/src/atoms/__tests__/atom.spec.ts
  apps/web/src/atoms/index.ts
  apps/web/src/atoms/root.ts
  apps/web/src/components/affine/workspace-setting-detail/index.tsx
  apps/web/src/components/blocksuite/workspace-header/header-right-items/sync-user.tsx
  apps/web/src/components/pure/message-center/index.tsx
  apps/web/src/hooks/__tests__/index.spec.tsx
  apps/web/src/hooks/__tests__/use-recent-views.spec.tsx
  apps/web/src/hooks/affine/use-affine-log-in.ts
  apps/web/src/hooks/affine/use-affine-log-out.ts
  apps/web/src/hooks/affine/use-affine-refresh-auth-token.ts
  apps/web/src/hooks/affine/use-members.ts
  apps/web/src/hooks/affine/use-toggle-workspace-publish.ts
  apps/web/src/hooks/affine/use-users-by-email.ts
  apps/web/src/hooks/root/use-on-transform-workspace.ts
  apps/web/src/hooks/use-transform-workspace.ts
  apps/web/src/hooks/use-workspaces.ts
  apps/web/src/layouts/workspace-layout.tsx
  apps/web/src/pages/invite/[invite-code].tsx
  apps/web/src/pages/workspace/[workspaceId]/[pageId].tsx
  apps/web/src/pages/workspace/[workspaceId]/all.tsx
  apps/web/src/pages/workspace/[workspaceId]/setting.tsx
  apps/web/src/providers/affine-swr-config-provider.tsx
  apps/web/src/shared/apis.ts
Labels: test, app:web, mod:store

#2481 fix: use hook with first render
  apps/web/src/providers/theme-provider.tsx
Labels: app:web

#2485 chore(i18n): remove unused dependencies
  packages/i18n/package.json
  yarn.lock
Labels: mod:i18n

#2484 refactor: remove unused code
  apps/web/src/adapters/local/index.tsx
  apps/web/src/components/__debug__/client/editor.tsx
  apps/web/src/components/affine/pinboard/index.ts
  apps/web/src/components/affine/pinboard/pinboard-menu/index.tsx
  apps/web/src/components/affine/pinboard/pinboard-menu/search-content.tsx
  apps/web/src/components/affine/pinboard/pinboard-render/add-button.tsx
  apps/web/src/components/affine/pinboard/pinboard-render/empty-item.tsx
  apps/web/src/components/affine/pinboard/pinboard-render/index.tsx
  apps/web/src/components/affine/pinboard/pinboard-render/operation-button.tsx
  apps/web/src/components/affine/pinboard/styles.ts
  apps/web/src/components/blocksuite/workspace-header/header-right-items/editor-option-menu.tsx
  apps/web/src/components/page-detail-editor.tsx
  apps/web/src/components/pure/quick-search-modal/navigation-path/index.tsx
  apps/web/src/components/pure/quick-search-modal/navigation-path/styles.ts
  apps/web/src/components/pure/quick-search-modal/navigation-path/utils.ts
  apps/web/src/components/pure/workspace-slider-bar/index.tsx
  apps/web/src/components/pure/workspace-slider-bar/pinboard.tsx
  apps/web/src/hooks/affine/use-reference-link-effect.ts
  apps/web/src/hooks/use-pinboard-data.ts
  apps/web/src/hooks/use-pinboard-handler.ts
  apps/web/src/layouts/workspace-layout.tsx
  apps/web/src/pages/public-workspace/[workspaceId]/[pageId].tsx
  apps/web/src/pages/workspace/[workspaceId]/[pageId].tsx
  packages/component/src/components/block-suite-editor/index.tsx
  packages/component/src/ui/toast/toast.ts
  packages/env/src/blocksuite.ts
  packages/hooks/src/use-block-suite-page-meta.ts
  packages/workspace/src/type.ts
  tests/libs/load-page.ts
  tests/libs/page-logic.ts
  tests/parallels/quick-search.spec.ts
Labels: test, mod:workspace, mod:hooks, mod:env, mod:component, app:web

#2487 fix: use `data-testid`
  apps/web/src/components/blocksuite/workspace-header/header-right-items/editor-option-menu.tsx
  packages/component/src/components/page-list/operation-cell.tsx
  packages/component/src/components/page-list/operation-menu-items/disable-public-sharing.tsx
  packages/component/src/components/page-list/operation-menu-items/move-to-trash.tsx
  packages/component/src/components/page-list/operation-menu-items/types.ts
Labels: mod:component, app:web

#2489 chore(native): upgrade notify to v6
  Cargo.lock
  packages/native/Cargo.toml
Labels: rust

#2334 feat(component): keyboard navigation for image-viewer
  packages/component/src/components/image-preview-modal/index.css.ts
  packages/component/src/components/image-preview-modal/index.tsx
  tests/fixtures/affine-preview.png
  tests/parallels/image-preview.spec.ts
Labels: test, mod:component

#2502 fix: regression on toast component
  apps/web/src/utils/toast.ts
  packages/component/src/ui/toast/toast.ts
Labels: mod:component, app:web

#2506 docs: update README.md
  README.md
Labels: docs

#2507 feat: add download tip & hide pinboard
  apps/web/src/components/affine/operation-menu-items/MoveTo.tsx
  apps/web/src/components/blocksuite/block-suite-page-list/page-list/OperationCell.tsx
  apps/web/src/components/blocksuite/workspace-header/header-right-items/EditorOptionMenu.tsx
  apps/web/src/components/blocksuite/workspace-header/header.tsx
  apps/web/src/components/pure/workspace-slider-bar/Pinboard.tsx
  apps/web/src/components/pure/workspace-slider-bar/index.tsx
  apps/web/src/hooks/use-is-first-load.ts
  packages/component/src/components/affine-banner/browser-warning.tsx
  packages/component/src/components/affine-banner/download-client.tsx
  packages/component/src/components/affine-banner/index.css.ts
  packages/component/src/components/affine-banner/index.tsx
  packages/component/src/stories/affine-banner.stories.tsx
  tests/libs/page-logic.ts
  tests/parallels/pin-board.spec.ts
  tests/parallels/quick-search.spec.ts
Labels: test, mod:component, app:web

#2509 chore: update download tip link
  packages/component/src/components/affine-banner/download-client.tsx
Labels: mod:component

#2516 chore: bump electron
  apps/electron/package.json
  yarn.lock
Labels: app:electron

#2515 chore: bump `blocksuite` to `0.0.0-20230525011821-20259c76-nightly`
  apps/web/package.json
  packages/component/package.json
  packages/component/src/components/affine-banner/download-client.tsx
  packages/env/package.json
  packages/jotai/package.json
  packages/y-indexeddb/package.json
  yarn.lock
Labels: mod:env, mod:component, app:web, package:y-indexeddb, mod:store

#2518 chore: update pre-load content
  packages/templates/src/AFFiNE-beta-0.5.4.md
Labels: docs

#2510 fix: sort in desc based update date by default
  packages/component/src/components/page-list/all-page.tsx
  packages/component/src/components/page-list/use-sorter.ts
Labels: mod:component

#2523 refactor: use date obj in all pages
  apps/web/package.json
  apps/web/src/components/blocksuite/block-suite-page-list/index.tsx
  apps/web/src/components/blocksuite/block-suite-page-list/utils.tsx
  packages/component/src/components/page-list/all-page.tsx
  packages/component/src/components/page-list/all-pages-body.tsx
  packages/component/src/components/page-list/type.ts
  packages/component/src/components/page-list/use-sorter.ts
  packages/component/src/components/page-list/utils.tsx
  packages/component/src/stories/page-list.stories.tsx
  yarn.lock
Labels: mod:component, app:web

#2535 docs: add native build command to readme
  apps/electron/README.md
Labels: docs, app:electron

#2536 chore: update user guide style
  apps/web/src/components/pure/help-island/index.tsx
  packages/component/src/components/tour-modal/index.css.ts
  packages/component/src/components/tour-modal/tour-modal.tsx
Labels: mod:component, app:web

#2537 fix: cannot delete last workspace
  apps/web/src/components/affine/workspace-setting-detail/index.css.ts
  apps/web/src/components/affine/workspace-setting-detail/panel/general/index.tsx
  packages/i18n/src/resources/en.json
  tests/parallels/local-first-delete-workspace.spec.ts
Labels: test, mod:i18n, app:web

#2532 feat: group all page by date
  packages/component/src/components/page-list/all-page.tsx
  packages/component/src/components/page-list/all-pages-body.tsx
  packages/component/src/components/page-list/mobile.tsx
  packages/component/src/components/page-list/type.ts
  packages/component/src/components/page-list/use-date-group.tsx
  packages/component/src/components/page-list/utils.tsx
  packages/component/src/stories/page-list.stories.tsx
  packages/env/src/constant.ts
  packages/i18n/src/resources/en.json
  tests/parallels/affine/affine-public-workspace.spec.ts
  tests/parallels/debug-page-broadcast.spec.ts
Labels: test, mod:i18n, mod:env, mod:component

#2426 feat(component): init notification center
  packages/component/package.json
  packages/component/src/components/notification-center/index.css.ts
  packages/component/src/components/notification-center/index.jotai.ts
  packages/component/src/components/notification-center/index.stories.tsx
  packages/component/src/components/notification-center/index.tsx
  yarn.lock
Labels: mod:component

#2458 feat: support bookmark
  .github/workflows/nightly-build.yml
  .github/workflows/release-desktop-app.yml
  apps/electron/layers/main/src/handlers/ui/getMetaData/index.ts
  apps/electron/layers/main/src/handlers/ui/getMetaData/rules.ts
  apps/electron/layers/main/src/handlers/ui/getMetaData/types.ts
  apps/electron/layers/main/src/handlers/ui/getMetaData/utils.ts
  apps/electron/layers/main/src/handlers/ui/index.ts
  apps/electron/package.json
  apps/web/package.json
  apps/web/preset.config.mjs
  packages/component/package.json
  packages/component/src/components/block-suite-editor/index.tsx
  packages/component/src/components/block-suite-editor/plugins/bookmark.tsx
  packages/component/src/ui/menu/menu-item.tsx
  packages/component/src/ui/menu/styles.ts
  packages/env/package.json
  packages/jotai/package.json
  packages/y-indexeddb/package.json
  yarn.lock
Labels: mod:env, mod:component, app:web, app:electron, package:y-indexeddb, mod:store

#2541 chore: bump `blocksuite` to `0.0.0-20230526024755-74df4d56-nightly`
  apps/web/package.json
  packages/component/package.json
  packages/env/package.json
  packages/jotai/package.json
  packages/y-indexeddb/package.json
  yarn.lock
Labels: mod:env, mod:component, app:web, package:y-indexeddb, mod:store

#2540 chore: tweak all page styles
  packages/component/src/components/page-list/all-pages-body.tsx
  packages/component/src/ui/table/styles.ts
Labels: mod:component

#2533 feat: the UI of importing Html/Markdown/Notion
  apps/web/src/components/blocksuite/block-suite-page-list/index.tsx
  apps/web/src/components/blocksuite/block-suite-page-list/utils.tsx
  packages/component/src/components/page-list/all-page.tsx
  packages/component/src/components/page-list/components/new-page-buttton.tsx
  packages/component/src/components/page-list/mobile.tsx
  packages/component/src/components/page-list/type.ts
  packages/component/src/stories/page-list.stories.tsx
  packages/i18n/src/resources/en.json
Labels: mod:i18n, mod:component, app:web

#2542 chore: bump version
  apps/electron/package.json
  apps/server/package.json
  apps/web/package.json
  package.json
  packages/component/package.json
  packages/debug/package.json
  packages/graphql/package.json
  packages/i18n/package.json
  packages/workspace/package.json
  yarn.lock
Labels: mod:workspace, mod:i18n, mod:component, app:web, app:electron, mod:dev, app:server

#2559 chore: bump version
  apps/server/package.json
  apps/web/package.json
  package.json
  packages/component/package.json
  packages/i18n/package.json
  packages/native/package.json
  packages/y-indexeddb/package.json
  yarn.lock
Labels: mod:i18n, mod:component, app:web, package:y-indexeddb, app:server

#2562 feat: add build flag `enableAllPageFilter`
  apps/web/preset.config.mjs
  packages/env/src/config.ts
Labels: mod:env, app:web

#2566 feat: headless filter in all pages tab
  apps/web/preset.config.mjs
  apps/web/src/adapters/affine/index.tsx
  apps/web/src/adapters/local/index.tsx
  apps/web/src/components/blocksuite/block-suite-page-list/index.tsx
  apps/web/src/components/blocksuite/workspace-header/header.tsx
  apps/web/src/pages/workspace/[workspaceId]/all.tsx
  packages/component/package.json
  packages/component/src/components/page-list/filter/condition.tsx
  packages/component/src/components/page-list/filter/eval.ts
  packages/component/src/components/page-list/filter/filter-list.tsx
  packages/component/src/components/page-list/filter/index.ts
  packages/component/src/components/page-list/filter/literal-matcher.tsx
  packages/component/src/components/page-list/filter/logical/custom-type.ts
  packages/component/src/components/page-list/filter/logical/matcher.ts
  packages/component/src/components/page-list/filter/logical/typesystem.ts
  packages/component/src/components/page-list/filter/vars.tsx
  packages/component/src/components/page-list/index.tsx
  packages/component/src/components/page-list/use-all-page-setting.ts
  packages/component/src/components/page-list/view/create-view.tsx
  packages/component/src/components/page-list/view/index.ts
  packages/component/src/components/page-list/view/view-list.tsx
  packages/workspace/src/type.ts
  yarn.lock
Labels: mod:workspace, mod:component, app:web
