Repository toeverything/AFFiNE, pull requests merged in 2023-03, with the labels that each got.

#1247 fix: workspace image flickering
  apps/web/src/hooks/use-workspace-blob.ts
Labels: blocked, test needed

#1256 build(web): introduce Perfsee
  .github/workflows/build.yml
  apps/web/next.config.mjs
  apps/web/package.json
  pnpm-lock.yaml
Labels: build

#1646 feat: init package cli
  apps/web/package.json
  package.json
  packages/cli/package.json
  packages/cli/src/dev.mjs
  tsconfig.json
  yarn.lock
Labels: safe to test
