Repository toeverything/AFFiNE, pull requests merged in 2023-12, with the labels that each got.

#5147 fix(core): rerender error boundary when route change and improve sentry report
  packages/frontend/component/src/components/block-suite-editor/index.tsx
  packages/frontend/core/src/bootstrap/setup.ts
  packages/frontend/core/src/pages/workspace/detail-page.tsx
Labels: mod:component, app:core

#5163 fix(electron): do not restore window on get window
  packages/frontend/electron/src/main/deep-link.ts
  packages/frontend/electron/src/main/index.ts
  packages/frontend/electron/src/main/main-window.ts
  packages/frontend/electron/src/main/protocol.ts
Labels: app:electron

#5162 style(core): add page list header emptypage
  packages/frontend/core/src/pages/workspace/all-page.tsx
  packages/frontend/core/src/pages/workspace/page-list-empty.tsx
Labels: app:core

#5158 fix(workspace): fix svg display on browser
  packages/frontend/workspace/src/blob/storage/affine-cloud.ts
  packages/frontend/workspace/src/blob/storage/indexeddb.ts
Labels: mod:workspace

#5079 feat(component): add storybook
  packages/frontend/component/.storybook/main.ts
  packages/frontend/component/.storybook/preview.css.ts
  packages/frontend/component/.storybook/preview.html
  packages/frontend/component/.storybook/preview.tsx
  packages/frontend/component/package.json
  packages/frontend/component/src/ui/avatar/avatar.stories.tsx
  packages/frontend/component/src/ui/button/button.stories.tsx
  packages/frontend/component/src/ui/button/icon-button.stories.tsx
  packages/frontend/component/src/ui/checkbox/checkbox.stories.tsx
  packages/frontend/component/src/ui/divider/divider.stories.tsx
  packages/frontend/component/src/ui/divider/divider.tsx
  packages/frontend/component/src/ui/empty/empty.stories.tsx
  packages/frontend/component/src/ui/input/input.stories.tsx
  packages/frontend/component/src/ui/input/style.css.ts
  packages/frontend/component/src/ui/loading/loading.stories.tsx
  packages/frontend/component/src/ui/lottie/collections-icon.stories.tsx
  packages/frontend/component/src/ui/lottie/delete-icon.stories.tsx
  packages/frontend/component/src/ui/menu/menu-trigger.stories.tsx
  packages/frontend/component/src/ui/menu/menu.stories.tsx
  packages/frontend/component/src/ui/modal/modal.stories.tsx
  packages/frontend/component/src/ui/popover/index.ts
  packages/frontend/component/src/ui/scrollbar/scrollbar.stories.tsx
  packages/frontend/component/src/ui/skeleton/skeleton.stories.tsx
  packages/frontend/component/src/ui/skeleton/types.ts
  packages/frontend/component/src/ui/switch/switch.stories.tsx
  packages/frontend/component/src/ui/switch/switch.tsx
  packages/frontend/component/src/ui/table/table.stories.tsx
  packages/frontend/component/src/ui/toast/toast.stories.tsx
  packages/frontend/component/src/ui/tooltip/tooltip.stories.tsx
  yarn.lock
Labels: mod:component

#5174 fix(server): avoid snapshot write conflict
  packages/backend/server/src/modules/doc/manager.ts
  packages/backend/server/tests/doc.spec.ts
Labels: app:server, test

#5128 feat: add new page to the sidebar #5095
  packages/frontend/core/src/components/pure/workspace-slider-bar/components/reference-page.tsx
  packages/frontend/core/src/components/pure/workspace-slider-bar/favorite/add-favourite-button.tsx
  tests/affine-local/e2e/local-first-favorites-items.spec.ts
Labels: test, app:core

#5148 fix(component): clear page list operation's link style
  packages/frontend/component/src/components/page-list/operation-cell.tsx
  packages/frontend/component/src/components/page-list/page-list.css.ts
Labels: mod:component

#5175 fix(core): unable to create share page link
  packages/frontend/core/src/components/affine/share-page-modal/share-menu/share-menu.tsx
  packages/frontend/core/src/components/affine/share-page-modal/share-menu/share-page.tsx
Labels: app:core

#5177 fix(component): modal blurness
  packages/frontend/component/src/ui/modal/modal.tsx
  packages/frontend/component/src/ui/modal/styles.css.ts
Labels: mod:component

#5180 fix(core): error page 500 status dark mode
  packages/frontend/core/src/components/affine/affine-error-boundary/error-assets/dark-500-status.assets.svg
  packages/frontend/core/src/components/affine/affine-error-boundary/error-assets/light-500-status.assets.svg
  packages/frontend/core/src/components/affine/affine-error-boundary/error-basic/error-detail.tsx
Labels: app:core

#5212 fix: update stale pageId
  packages/frontend/core/src/pages/workspace/index.tsx
Labels: app:core

#5139 ci: refactor workflow
  .github/actions/build-rust/action.yml
  .github/actions/download-core/action.yml
  .github/actions/setup-node/action.yml
  .github/workflows/build-desktop.yml
  .github/workflows/build-server.yml
  .github/workflows/build-test.yml
  .github/workflows/build.yml
  .github/workflows/cancel.yml
  .github/workflows/codeql.yml
  packages/backend/storage/index.d.ts
  packages/backend/storage/package.json
  packages/frontend/native/index.d.ts
  packages/frontend/native/index.js
  packages/frontend/native/package.json
  tests/affine-cloud/e2e/basic.spec.ts
  tests/affine-cloud/e2e/collaboration.spec.ts
  tests/affine-cloud/e2e/login.spec.ts
  tests/affine-cloud/e2e/migration.spec.ts
  tests/affine-cloud/e2e/workspace.spec.ts
  yarn.lock
Labels: test, mod:storage, mod:native

#5153 chore: adjust banner content text
  packages/frontend/component/src/components/affine-banner/local-demo-tips.tsx
  packages/frontend/i18n/src/resources/en.json
Labels: mod:i18n, mod:component

#5145 feat(server): events system
  packages/backend/server/src/app.ts
  packages/backend/server/src/event/events.ts
  packages/backend/server/src/event/index.ts
  packages/backend/server/src/event/types.ts
  packages/backend/server/src/modules/index.ts
Labels: app:server

#5146 refactor(server): do not force init binary when creating workspace
  packages/backend/server/src/modules/sync/events/events.gateway.ts
  packages/backend/server/src/modules/workspaces/resolver.ts
  packages/backend/server/src/schema.gql
  packages/frontend/graphql/src/graphql/create-workspace.gql
  packages/frontend/graphql/src/graphql/index.ts
  packages/frontend/graphql/src/schema.ts
  packages/frontend/workspace/src/affine/crud.ts
Labels: mod:workspace, app:server

#5207 feat(core): allow core modules to import itself
  packages/frontend/core/package.json
  packages/frontend/core/src/components/pure/workspace-slider-bar/workspace-card/index.tsx
Labels: app:core

#5215 fix: svg sync test
  tests/affine-cloud/e2e/collaboration.spec.ts
  tests/affine-cloud/e2e/logo.svg
Labels: test

#5044 feat(core): add responsive styles to registration page
  packages/common/env/src/global.ts
  packages/frontend/component/src/components/affine-banner/index.css.ts
  packages/frontend/component/src/components/affine-other-page-layout/desktop-navbar.tsx
  packages/frontend/component/src/components/affine-other-page-layout/index.css.ts
  packages/frontend/component/src/components/affine-other-page-layout/index.tsx
  packages/frontend/component/src/components/affine-other-page-layout/layout.tsx
  packages/frontend/component/src/components/affine-other-page-layout/mobile-navbar.tsx
  packages/frontend/component/src/components/affine-other-page-layout/use-nav-config.ts
  packages/frontend/component/src/components/auth-components/auth-input.tsx
  packages/frontend/component/src/components/auth-components/auth-page-container.tsx
  packages/frontend/component/src/components/auth-components/change-email-page.tsx
  packages/frontend/component/src/components/auth-components/password-input/index.tsx
  packages/frontend/component/src/components/auth-components/set-password.tsx
  packages/frontend/component/src/components/auth-components/share.css.ts
  packages/frontend/component/src/components/not-found-page/styles.css.ts
  packages/frontend/core/.webpack/runtime-config.ts
  packages/frontend/core/src/pages/upgrade-success.css.ts
  packages/frontend/core/src/pages/upgrade-success.tsx
Labels: mod:env, mod:component, app:core

#5224 test(server): remove flaky assertion
  tests/affine-cloud/e2e/migration.spec.ts
Labels: test

#5225 ci: fix ts-node scripts
  .github/workflows/build-test.yml
  packages/frontend/electron/package.json
  packages/frontend/i18n/package.json
  tsconfig.json
Labels: mod:i18n, app:electron

#5228 feat: bump blocksuite
  packages/common/env/package.json
  packages/common/infra/package.json
  packages/common/sdk/package.json
  packages/common/y-indexeddb/package.json
  packages/common/y-provider/package.json
  packages/frontend/component/package.json
  packages/frontend/core/package.json
  packages/frontend/electron/package.json
  packages/frontend/hooks/package.json
  tests/affine-legacy/0.6.1-beta.1/package.json
  tests/affine-legacy/0.7.0-canary.18/package.json
  tests/affine-legacy/0.8.0-canary.7/package.json
  tests/affine-legacy/0.8.4/package.json
  tests/affine-migration/package.json
  tests/storybook/package.json
  yarn.lock
Labels: mod:infra, mod:hooks, mod:env, mod:component, app:electron, package:y-indexeddb, test, app:core, mod:sdk

#5222 fix(ci): unset webkit-app-region in web
  .nvmrc
  packages/frontend/component/src/components/app-sidebar/index.css.ts
  packages/frontend/component/src/components/workspace/index.css.ts
  packages/frontend/core/src/components/pure/header/style.css.tsx
Labels: mod:workspace, mod:component, app:server, test, app:core

#5219 fix(core): update noise image
  packages/frontend/component/src/components/workspace/index.css.ts
  packages/frontend/component/src/theme/global.css
  packages/frontend/component/src/theme/noise.avif
  packages/frontend/component/src/theme/noise.png
Labels: mod:component

#5168 fix(core): remove duplicate loading component
  packages/frontend/component/src/index.ts
  packages/frontend/component/src/ui/loading/loading.stories.tsx
  packages/frontend/component/src/ui/loading/loading.tsx
  packages/frontend/core/src/components/affine/setting-modal/general-setting/about/update-check-section.tsx
  packages/frontend/core/src/components/pure/workspace-slider-bar/workspace-card/index.css.ts
  packages/frontend/core/src/components/pure/workspace-slider-bar/workspace-card/index.tsx
  packages/frontend/core/src/components/pure/workspace-slider-bar/workspace-card/loading-icon.tsx
Labels: mod:component, app:core

#5167 feat(core): added new filter for last n days
  packages/frontend/component/src/components/page-list/filter/filter-tag-translation.tsx
  packages/frontend/component/src/components/page-list/filter/literal-matcher.tsx
  packages/frontend/component/src/components/page-list/filter/logical/custom-type.ts
  packages/frontend/component/src/components/page-list/filter/vars.tsx
  packages/frontend/i18n/src/resources/en.json
  packages/frontend/i18n/src/resources/zh-Hans.json
Labels: mod:i18n, mod:component

#5020 fix(electron): sync settings from localStorage -> atom -> electron
  packages/common/env/package.json
  packages/common/env/tsconfig.json
  packages/common/infra/package.json
  packages/common/infra/src/atom/index.ts
  packages/common/infra/src/atom/layout.ts
  packages/common/infra/src/atom/root-store.ts
  packages/common/infra/src/atom/settings.ts
  packages/common/infra/src/atom/workspace.ts
  packages/common/infra/src/type.ts
  packages/common/infra/tsconfig.json
  packages/common/infra/vite.config.ts
  packages/frontend/component/src/components/app-sidebar/app-updater-button/index.css.ts
  packages/frontend/component/src/components/app-sidebar/app-updater-button/index.tsx
  packages/frontend/core/package.json
  packages/frontend/core/src/commands/affine-settings.tsx
  packages/frontend/core/src/components/affine/setting-modal/general-setting/about/update-check-section.tsx
  packages/frontend/core/src/components/affine/setting-modal/general-setting/appearance/date-format-setting.tsx
  packages/frontend/core/src/components/affine/setting-modal/general-setting/appearance/index.tsx
  packages/frontend/core/src/components/page-detail-editor.tsx
  packages/frontend/core/src/components/root-app-sidebar/index.tsx
  packages/frontend/core/src/hooks/affine/use-app-setting-helper.ts
  packages/frontend/core/src/pages/workspace/detail-page/detail-page.tsx
  packages/frontend/electron/src/main/application-menu/create.ts
  packages/frontend/electron/src/main/updater/electron-updater.ts
  packages/frontend/electron/src/main/updater/index.ts
  packages/frontend/hooks/package.json
  packages/frontend/hooks/src/use-app-updater.ts
  packages/frontend/hooks/tsconfig.json
  packages/frontend/i18n/src/resources/en.json
  yarn.lock
Labels: mod:infra, mod:i18n, mod:hooks, mod:env, mod:component, app:electron, app:core

#5229 fix(core): flaky local avartar test
  tests/affine-local/e2e/local-first-avatar.spec.ts
Labels: test

#5100 chore: also set version to helm charts in set-version.sh
  .github/actions/deploy/deploy.mjs
  .github/helm/affine/Chart.yaml
  .github/helm/affine/charts/graphql/Chart.yaml
  .github/helm/affine/charts/sync/Chart.yaml
  .github/workflows/deploy.yml
  scripts/set-version.sh
  tools/commitlint/package.json
Labels: mod:dev

#5233 ci: fix rust build during deployment
  .github/actions/build-rust/action.yml
  .github/workflows/deploy.yml
  packages/backend/storage/package.json
  packages/frontend/native/package.json
  yarn.lock
Labels: mod:storage, mod:native

#5238 fix(component): theme flickering
  packages/frontend/component/src/theme/theme.css.ts
  packages/frontend/core/.webpack/template.html
Labels: mod:component, app:core

#5240 chore(env): fix lint error
  packages/common/env/src/workspace.ts
Labels: mod:env

#5237 refactor(core): use debug log replace console when command registry
  packages/common/infra/package.json
  packages/common/infra/src/command/registry.ts
  packages/common/infra/tsconfig.json
  yarn.lock
Labels: mod:infra

#5252 fix(electron): use tree-kill for electron dev
  packages/frontend/electron/package.json
  packages/frontend/electron/scripts/dev.ts
  yarn.lock
Labels: app:electron

#5256 fix(component): revert theme flickering (#5238)
  packages/frontend/component/src/theme/theme.css.ts
  packages/frontend/core/.webpack/template.html
Labels: mod:component, app:electron, app:core

#5239 feat(core): adjust empty collection style
  packages/frontend/core/src/components/affine/share-page-modal/share-menu/share-menu.tsx
  packages/frontend/core/src/components/pure/workspace-slider-bar/collections/add-collection-button.tsx
  packages/frontend/core/src/components/pure/workspace-slider-bar/collections/collections-list.tsx
  packages/frontend/core/src/components/pure/workspace-slider-bar/collections/styles.css.ts
  packages/frontend/core/src/components/pure/workspace-slider-bar/index.tsx
  packages/frontend/core/src/components/root-app-sidebar/index.tsx
  packages/frontend/i18n/src/resources/en.json
Labels: mod:i18n, app:core

#5246 chore: upgrade rustup toolchain
  README.md
  rust-toolchain.toml
Labels: docs, rust

#5257 fix(cli): fix storybook build error
  tests/storybook/.storybook/main.ts
Labels: test

#5258 fix(server): avoid updates persist forever
  packages/backend/server/src/modules/doc/manager.ts
Labels: app:server

#5263 fix(core): adjust share edgeless display error
  packages/frontend/core/src/components/page-detail-editor.css.ts
  packages/frontend/core/src/components/pure/header/index.tsx
  packages/frontend/core/src/components/pure/header/style.css.tsx
  packages/frontend/core/src/pages/share/share-header.tsx
Labels: app:core

#5262 fix(core): fix editor sidebar open on resize
  packages/frontend/core/src/pages/workspace/detail-page/detail-page.tsx
Labels: app:core

#5266 fix(server): use last update creating time as snasphot update timestamp
  packages/backend/server/src/modules/doc/manager.ts
Labels: app:server

#5267 feat: bump blocksuite
  packages/common/env/package.json
  packages/common/infra/package.json
  packages/common/sdk/package.json
  packages/common/y-indexeddb/package.json
  packages/common/y-provider/package.json
  packages/frontend/component/package.json
  packages/frontend/component/src/components/block-suite-editor/index.tsx
  packages/frontend/component/src/components/block-suite-editor/specs.ts
  packages/frontend/core/package.json
  packages/frontend/electron/package.json
  packages/frontend/hooks/package.json
  tests/affine-legacy/0.6.1-beta.1/package.json
  tests/affine-legacy/0.7.0-canary.18/package.json
  tests/affine-legacy/0.8.0-canary.7/package.json
  tests/affine-legacy/0.8.4/package.json
  tests/affine-local/e2e/all-page.spec.ts
  tests/affine-migration/package.json
  tests/storybook/package.json
  yarn.lock
Labels: mod:infra, mod:hooks, mod:env, mod:component, app:electron, package:y-indexeddb, test, app:core, mod:sdk

#5274 fix(core): polling to search in cmdk
  packages/frontend/core/src/components/pure/cmdk/data.tsx
  packages/frontend/core/src/components/pure/cmdk/main.tsx
  tests/affine-local/e2e/quick-search.spec.ts
Labels: test, app:core

#5265 fix(server): avoid repeatly register providers
  packages/backend/server/src/config/def.ts
  packages/backend/server/src/config/default.ts
  packages/backend/server/src/config/index.ts
  packages/backend/server/src/event/index.ts
  packages/backend/server/src/modules/config.ts
  packages/backend/server/src/modules/doc/index.ts
  packages/backend/server/src/modules/doc/manager.ts
  packages/backend/server/src/modules/index.ts
  packages/backend/server/src/modules/sync/events/events.module.ts
  packages/backend/server/src/modules/workspaces/index.ts
  packages/backend/server/src/throttler.ts
  packages/backend/server/tests/doc.spec.ts
Labels: app:server, test

#5275 fix(edgeless): remove stale template
  packages/common/infra/src/blocksuite/initialization/index.ts
  packages/frontend/templates/v1/personal-home.json
  packages/frontend/templates/v1/travel-note.json
  packages/frontend/templates/v1/travel-plan.json
  tests/affine-local/e2e/local-first-workspace-list.spec.ts
Labels: mod:infra, docs, test

#5279 fix(core): page header style changes
  packages/frontend/core/src/components/blocksuite/block-suite-header-title/index.tsx
  packages/frontend/core/src/components/blocksuite/block-suite-header-title/operation-menu.tsx
  packages/frontend/core/src/components/blocksuite/block-suite-header-title/styles.css.ts
  packages/frontend/core/src/components/pure/header-drop-down-button/index.tsx
  packages/frontend/core/src/components/pure/header-drop-down-button/styles.css.ts
  tests/kit/utils/cloud.ts
Labels: test, app:core

#5251 fix(electron): use dynamic load for exposed meta
  packages/frontend/electron/src/main/deep-link.ts
  packages/frontend/electron/src/main/index.ts
  packages/frontend/electron/src/main/main-window.ts
  packages/frontend/electron/src/main/ui/handlers.ts
Labels: app:electron

#5269 fix(core): fix window cannot be dragged on the collection page
  packages/frontend/core/src/pages/workspace/collection.tsx
Labels: app:core

#5278 fix(core): bg color issues in transparent mode
  packages/frontend/component/src/components/workspace/index.css.ts
  packages/frontend/component/src/components/workspace/index.tsx
  packages/frontend/core/src/layouts/workspace-layout.tsx
Labels: mod:component, app:core

#5290 fix(core): simple history entry position
  packages/frontend/core/src/components/blocksuite/block-suite-header-title/operation-menu.tsx
Labels: app:core

#5287 test(core): rewrite some flaky assertions
  tests/affine-desktop/e2e/basic.spec.ts
  tests/affine-local/e2e/drag-page.spec.ts
  tests/affine-local/e2e/duplicate-page.spec.ts
  tests/affine-local/e2e/image-preview.spec.ts
  tests/affine-local/e2e/local-first-collections-items.spec.ts
  tests/affine-local/e2e/shortcuts.spec.ts
  tests/kit/utils/cloud.ts
Labels: test

#5280 refactor(core): side bar resizing
  packages/frontend/component/src/components/app-sidebar/index.css.ts
  packages/frontend/component/src/components/app-sidebar/index.tsx
  packages/frontend/component/src/components/app-sidebar/resize-indicator/index.css.ts
  packages/frontend/component/src/components/app-sidebar/resize-indicator/index.tsx
  packages/frontend/component/src/components/resize-panel/index.tsx
  packages/frontend/component/src/components/resize-panel/resize-panel.css.ts
  packages/frontend/component/src/components/resize-panel/resize-panel.tsx
  packages/frontend/component/src/components/workspace/index.css.ts
  packages/frontend/core/src/commands/affine-settings.tsx
  packages/frontend/core/src/pages/workspace/detail-page/detail-page.css.ts
  packages/frontend/core/src/pages/workspace/detail-page/detail-page.tsx
  packages/frontend/core/src/pages/workspace/detail-page/editor-sidebar/atoms.ts
  packages/frontend/core/src/pages/workspace/detail-page/editor-sidebar/editor-sidebar.tsx
  packages/frontend/core/src/pages/workspace/detail-page/editor-sidebar/extensions/extensions.css.ts
  tests/affine-local/e2e/layout.spec.ts
  tests/affine-local/e2e/quick-search.spec.ts
Labels: mod:component, test, app:core

#5284 chore: remove react-resizable-panels
  packages/frontend/core/package.json
  yarn.lock
Labels: app:core

#5289 fix(core): collection modal position after modal style changes
  packages/frontend/component/src/components/page-list/view/edit-collection/hooks.tsx
Labels: mod:component

#5074 feat: user usage init
  packages/backend/server/migrations/20231030104009_user_features/migration.sql
  packages/backend/server/schema.prisma
  packages/backend/server/src/data/commands/run.ts
  packages/backend/server/src/data/migrations/1698652531198-user-features-init.ts
  packages/backend/server/src/modules/features/configure.ts
  packages/backend/server/src/modules/features/feature.ts
  packages/backend/server/src/modules/features/index.ts
  packages/backend/server/src/modules/features/types.ts
  packages/backend/server/src/modules/quota/index.ts
  packages/backend/server/src/modules/quota/quota.ts
  packages/backend/server/src/modules/quota/storage.ts
  packages/backend/server/src/modules/quota/types.ts
  packages/backend/server/src/modules/users/users.ts
  packages/backend/server/src/modules/workspaces/permission.ts
Labels: app:server

#5285 feat(server): independent websocket room for block and awareness
  packages/backend/server/src/modules/sync/events/events.gateway.ts
Labels: app:server

#5295 feat: only follow `serverUrlPrefix` at redirect to client
  packages/frontend/core/src/components/affine/page-history-modal/data.ts
  packages/frontend/core/src/components/affine/share-page-modal/share-menu/share-page.tsx
  packages/frontend/core/src/components/affine/share-page-modal/share-menu/use-share-url.ts
  packages/frontend/workspace/src/affine/download.ts
  packages/frontend/workspace/src/affine/gql.ts
  packages/frontend/workspace/src/blob/storage/affine-cloud.ts
  packages/frontend/workspace/src/providers/utils/affine-io.ts
Labels: mod:workspace, app:core

#5302 fix: page title too long style
  packages/frontend/core/src/components/blocksuite/block-suite-header-title/styles.css.ts
  packages/frontend/core/src/pages/workspace/detail-page/detail-page-header.css.ts
Labels: app:core

#5303 fix: detail page missing background
  packages/frontend/core/src/pages/workspace/detail-page/detail-page.css.ts
Labels: app:core

#5304 fix: add sidebar toggle and windows controls for empty collections page
  packages/frontend/core/src/pages/workspace/collection.tsx
Labels: app:core

#5299 feat(core): add useQueryImmutable
  packages/frontend/core/src/hooks/affine/use-is-workspace-owner.ts
  packages/frontend/core/src/hooks/affine/use-server-flavor.ts
  packages/frontend/workspace/src/affine/gql.ts
Labels: mod:workspace, app:core

#5291 fix: width blink in side bar
  packages/frontend/component/src/components/resize-panel/resize-panel.tsx
Labels: mod:component

#5075 feat: integrate user usage into apis
  .github/workflows/build-test.yml
  packages/backend/server/package.json
  packages/backend/server/schema.prisma
  packages/backend/server/src/config/def.ts
  packages/backend/server/src/config/default.ts
  packages/backend/server/src/data/migrations/1698652531198-user-features-init.ts
  packages/backend/server/src/modules/auth/next-auth-options.ts
  packages/backend/server/src/modules/auth/service.ts
  packages/backend/server/src/modules/features/index.ts
  packages/backend/server/src/modules/index.ts
  packages/backend/server/src/modules/payment/index.ts
  packages/backend/server/src/modules/payment/service.ts
  packages/backend/server/src/modules/users/gates.ts
  packages/backend/server/src/modules/users/index.ts
  packages/backend/server/src/modules/users/resolver.ts
  packages/backend/server/src/modules/users/types.ts
  packages/backend/server/src/modules/users/users.ts
  packages/backend/server/src/modules/users/utils.ts
  packages/backend/server/src/modules/workspaces/index.ts
  packages/backend/server/src/modules/workspaces/resolver.ts
  packages/backend/server/src/schema.gql
  packages/backend/server/tests/app.e2e.ts
  packages/backend/server/tests/auth.e2e.ts
  packages/backend/server/tests/auth.spec.ts
  packages/backend/server/tests/mailer.e2e.ts
  packages/backend/server/tests/quota.spec.ts
  packages/backend/server/tests/utils.ts
  packages/backend/server/tests/workspace-blobs.spec.ts
  packages/backend/server/tests/workspace-invite.e2e.ts
  packages/backend/server/tests/workspace-usage.spec.ts
  packages/backend/server/tests/workspace.e2e.ts
  packages/frontend/graphql/src/graphql/blob-size.gql
  packages/frontend/graphql/src/graphql/index.ts
  packages/frontend/graphql/src/schema.ts
  tests/kit/utils/cloud.ts
  yarn.lock
Labels: mod:infra, docs, mod:i18n, mod:hooks, mod:env, mod:component, app:electron, mod:dev, package:y-indexeddb, mod:store, app:server, plugin:copilot, test, rust, mod:plugin, mod:storage, mod:native, app:core, mod:plugin-cli, mod:sdk

#5076 feat: user usage gql & test case improve
  packages/backend/server/schema.prisma
  packages/backend/server/src/data/commands/run.ts
  packages/backend/server/src/graphql.module.ts
  packages/backend/server/src/modules/payment/resolver.ts
  packages/backend/server/src/modules/quota/index.ts
  packages/backend/server/src/modules/users/resolver.ts
  packages/backend/server/src/schema.gql
  packages/backend/server/tests/app.e2e.ts
  packages/backend/server/tests/auth.e2e.ts
  packages/backend/server/tests/auth.spec.ts
  packages/backend/server/tests/feature.spec.ts
  packages/backend/server/tests/mailer.e2e.ts
  packages/backend/server/tests/quota.spec.ts
  packages/backend/server/tests/utils.ts
  packages/backend/server/tests/workspace-blobs.spec.ts
  packages/backend/server/tests/workspace-invite.e2e.ts
  packages/backend/server/tests/workspace.e2e.ts
  packages/frontend/graphql/src/graphql/early-access-add.gql
  packages/frontend/graphql/src/graphql/early-access-list.gql
  packages/frontend/graphql/src/graphql/early-access-remove.gql
  packages/frontend/graphql/src/graphql/index.ts
  packages/frontend/graphql/src/schema.ts
Labels: app:server, test

#5087 feat: integrate new modules
  packages/backend/server/scripts/init-db.ts
  packages/backend/server/src/data/migrations/1698652531198-user-features-init.ts
  packages/backend/server/src/modules/auth/resolver.ts
  packages/backend/server/src/modules/doc/history.ts
  packages/backend/server/src/modules/doc/index.ts
  packages/backend/server/src/modules/features/feature.ts
  packages/backend/server/src/modules/payment/index.ts
  packages/backend/server/src/modules/payment/service.ts
  packages/backend/server/src/modules/quota/quota.ts
  packages/backend/server/src/modules/quota/types.ts
  packages/backend/server/src/modules/users/index.ts
  packages/backend/server/src/modules/users/resolver.ts
  packages/backend/server/src/modules/users/types.ts
  packages/backend/server/src/modules/workspaces/resolver.ts
  packages/backend/server/src/schema.gql
  packages/backend/server/tests/doc.spec.ts
  packages/backend/server/tests/feature.spec.ts
  packages/backend/server/tests/history.spec.ts
  packages/backend/server/tests/quota.spec.ts
  packages/backend/server/tests/user.e2e.ts
  packages/backend/server/tests/utils.ts
  packages/frontend/core/src/components/affine/new-workspace-setting-detail/members.tsx
  packages/frontend/core/src/hooks/use-quota.ts
  packages/frontend/graphql/src/graphql/index.ts
  packages/frontend/graphql/src/graphql/quota.gql
  packages/frontend/graphql/src/schema.ts
Labels: app:server, test, app:core

#5142 feat: struct type feature config
  packages/backend/server/package.json
  packages/backend/server/src/data/migrations/1698652531198-user-features-init.ts
  packages/backend/server/src/modules/doc/history.ts
  packages/backend/server/src/modules/features/feature.ts
  packages/backend/server/src/modules/features/index.ts
  packages/backend/server/src/modules/features/management.ts
  packages/backend/server/src/modules/features/service.ts
  packages/backend/server/src/modules/features/types.ts
  packages/backend/server/src/modules/payment/service.ts
  packages/backend/server/src/modules/quota/constant.ts
  packages/backend/server/src/modules/quota/index.ts
  packages/backend/server/src/modules/quota/quota.ts
  packages/backend/server/src/modules/quota/schema.ts
  packages/backend/server/src/modules/quota/service.ts
  packages/backend/server/src/modules/quota/storage.ts
  packages/backend/server/src/modules/quota/types.ts
  packages/backend/server/src/modules/users/resolver.ts
  packages/backend/server/tests/app.e2e.ts
  packages/backend/server/tests/exception-logger.e2e.ts
  packages/backend/server/tests/feature.spec.ts
  packages/backend/server/tests/mailer.spec.ts
  packages/backend/server/tests/quota.spec.ts
  packages/backend/server/tests/utils.ts
  packages/backend/server/tests/utils/blobs.ts
  packages/backend/server/tests/utils/common.ts
  packages/backend/server/tests/utils/index.ts
  packages/backend/server/tests/utils/invite.ts
  packages/backend/server/tests/utils/user.ts
  packages/backend/server/tests/utils/utils.ts
  packages/backend/server/tests/utils/workspace.ts
  packages/backend/server/tests/workspace-blobs.spec.ts
  packages/backend/server/tests/workspace-usage.spec.ts
  yarn.lock
Labels: app:server, test

#5178 feat: add cache for blob query
  packages/backend/server/src/app.ts
  packages/backend/server/src/cache/index.ts
  packages/backend/server/src/cache/interceptor.ts
  packages/backend/server/src/modules/workspaces/resolver.ts
Labels: app:server

#5286 feat: bump blocksuite
  packages/common/env/package.json
  packages/common/env/src/global.ts
  packages/common/infra/package.json
  packages/common/sdk/package.json
  packages/common/sdk/src/entry.ts
  packages/common/y-indexeddb/package.json
  packages/common/y-provider/package.json
  packages/frontend/component/package.json
  packages/frontend/component/src/components/block-suite-editor/index.jotai.ts
  packages/frontend/component/src/components/block-suite-editor/index.tsx
  packages/frontend/core/.webpack/config.ts
  packages/frontend/core/.webpack/runtime-config.ts
  packages/frontend/core/package.json
  packages/frontend/core/src/bootstrap/plugins/setup.ts
  packages/frontend/core/src/bootstrap/register-blocksuite-components.ts
  packages/frontend/core/src/components/cloud/share-header-right-item/present.tsx
  packages/frontend/core/src/components/page-detail-editor.tsx
  packages/frontend/core/src/hooks/affine/use-export-page.ts
  packages/frontend/core/src/pages/workspace/detail-page/detail-page.tsx
  packages/frontend/core/src/pages/workspace/detail-page/editor-sidebar/atoms.ts
  packages/frontend/core/src/pages/workspace/detail-page/editor-sidebar/editor-sidebar.css.ts
  packages/frontend/core/src/pages/workspace/detail-page/editor-sidebar/extensions/frame.tsx
  packages/frontend/core/src/pages/workspace/detail-page/editor-sidebar/extensions/outline.tsx
  packages/frontend/electron/package.json
  packages/frontend/hooks/package.json
  packages/plugins/image-preview/src/component/index.tsx
  packages/plugins/outline/src/atom.ts
  scripts/bump-blocksuite.sh
  scripts/setup/lottie-web.ts
  tests/affine-legacy/0.6.1-beta.1/package.json
  tests/affine-legacy/0.7.0-canary.18/package.json
  tests/affine-legacy/0.8.0-canary.7/package.json
  tests/affine-legacy/0.8.4/package.json
  tests/affine-local/e2e/quick-search.spec.ts
  tests/affine-migration/package.json
  tests/storybook/package.json
  yarn.lock
Labels: mod:infra, mod:hooks, mod:env, mod:component, app:electron, mod:dev, package:y-indexeddb, test, mod:plugin, app:core, mod:sdk

#5306 fix(core): page mode switch sometimes not working
  packages/frontend/core/src/components/blocksuite/block-suite-mode-switch/switch-items.tsx
  packages/frontend/core/src/pages/workspace/detail-page/detail-page.tsx
Labels: mod:workspace, app:core

#5101 chore(server): split gcloud sql proxy into a separate deployment
  .github/actions/deploy/deploy.mjs
  .github/helm/affine/charts/gcloud-sql-proxy/.helmignore
  .github/helm/affine/charts/gcloud-sql-proxy/Chart.yaml
  .github/helm/affine/charts/gcloud-sql-proxy/templates/NOTES.txt
  .github/helm/affine/charts/gcloud-sql-proxy/templates/_helpers.tpl
  .github/helm/affine/charts/gcloud-sql-proxy/templates/deployment.yaml
  .github/helm/affine/charts/gcloud-sql-proxy/templates/service.yaml
  .github/helm/affine/charts/gcloud-sql-proxy/templates/serviceaccount.yaml
  .github/helm/affine/charts/gcloud-sql-proxy/templates/tests/test-connection.yaml
  .github/helm/affine/charts/gcloud-sql-proxy/values.yaml
  .github/helm/affine/charts/graphql/Chart.yaml
  .github/helm/affine/charts/graphql/templates/deployment.yaml
  .github/helm/affine/charts/sync/Chart.yaml
  .github/helm/affine/charts/sync/templates/deployment.yaml
  .github/helm/affine/values.yaml
  .github/workflows/deploy.yml
  .github/workflows/workers.yml
Labels: mod:infra, docs, mod:workspace, mod:i18n, mod:hooks, mod:env, mod:component, app:electron, mod:dev, package:y-indexeddb, mod:store, app:server, plugin:copilot, test, rust, mod:plugin, mod:storage, mod:native, app:core, mod:plugin-cli, mod:sdk

#5329 ci: fix e2e
  tests/affine-desktop/e2e/basic.spec.ts
Labels: test

#5330 fix(storybook): disable cloud for storybook
  tests/storybook/.storybook/main.ts
Labels: test

#5317 feat(core): ai poc
  packages/common/env/src/global.ts
  packages/frontend/core/.webpack/runtime-config.ts
  packages/frontend/core/src/bootstrap/register-blocksuite-components.ts
  packages/frontend/core/src/pages/workspace/detail-page/detail-page.tsx
  packages/frontend/core/src/pages/workspace/detail-page/editor-sidebar/atoms.ts
  packages/frontend/core/src/pages/workspace/detail-page/editor-sidebar/editor-sidebar.tsx
  packages/frontend/core/src/pages/workspace/detail-page/editor-sidebar/extensions/copilot.css.ts
  packages/frontend/core/src/pages/workspace/detail-page/editor-sidebar/extensions/copilot.tsx
  packages/frontend/core/src/pages/workspace/detail-page/editor-sidebar/types.ts
Labels: mod:env, app:core

#5314 chore(server): remove early access tips from invitation emails
  packages/backend/server/src/modules/auth/mailer/mail.service.ts
Labels: app:server

#5318 feat: add quota for old users
  packages/backend/server/src/data/migrations/1702620653283-old-user-feature.ts
  packages/backend/server/src/modules/quota/service.ts
Labels: app:server

#5183 feat(electron): onboarding at first launch logic for client and web
  packages/common/infra/package.json
  packages/common/infra/src/app-config-storage.ts
  packages/common/infra/src/handler.ts
  packages/common/infra/src/type.ts
  packages/common/infra/vite.config.ts
  packages/frontend/core/src/bootstrap/setup.ts
  packages/frontend/core/src/hooks/use-app-config-storage.ts
  packages/frontend/core/src/pages/index.tsx
  packages/frontend/core/src/pages/onboarding.tsx
  packages/frontend/core/src/router.ts
  packages/frontend/electron/src/main/config-storage/handlers.ts
  packages/frontend/electron/src/main/config-storage/index.ts
  packages/frontend/electron/src/main/config-storage/persist.ts
  packages/frontend/electron/src/main/constants.ts
  packages/frontend/electron/src/main/deep-link.ts
  packages/frontend/electron/src/main/events.ts
  packages/frontend/electron/src/main/handlers.ts
  packages/frontend/electron/src/main/index.ts
  packages/frontend/electron/src/main/main-window.ts
  packages/frontend/electron/src/main/onboarding.ts
  packages/frontend/electron/src/main/ui/handlers.ts
  packages/frontend/electron/src/main/windows-manager/launcher.ts
  packages/frontend/electron/src/main/windows-manager/stage.ts
  packages/frontend/electron/src/main/windows-manager/types.ts
  packages/frontend/electron/src/main/windows-manager/windows.ts
  tests/affine-cloud/e2e/collaboration.spec.ts
  tests/affine-local/e2e/image-preview.spec.ts
  tests/affine-local/e2e/theme.spec.ts
  tests/affine-migration/e2e/basic.spec.ts
  tests/kit/electron.ts
  tests/kit/playwright.ts
  tools/@types/env/__all.d.ts
Labels: mod:infra, app:electron, test, app:core

#5248 feat(core): onboarding paper enter animation
  packages/frontend/core/package.json
  packages/frontend/core/src/components/affine/onboarding/articles/index.tsx
  packages/frontend/core/src/components/affine/onboarding/curve-paper/paper.css.ts
  packages/frontend/core/src/components/affine/onboarding/curve-paper/paper.tsx
  packages/frontend/core/src/components/affine/onboarding/curve-paper/segment.tsx
  packages/frontend/core/src/components/affine/onboarding/curve-paper/segments.tsx
  packages/frontend/core/src/components/affine/onboarding/onboarding.tsx
  packages/frontend/core/src/components/affine/onboarding/paper-steps.tsx
  packages/frontend/core/src/components/affine/onboarding/steps/animate-in.css.ts
  packages/frontend/core/src/components/affine/onboarding/steps/animate-in.tsx
  packages/frontend/core/src/components/affine/onboarding/style.css.ts
  packages/frontend/core/src/components/affine/onboarding/types.ts
  packages/frontend/core/src/pages/onboarding.tsx
  packages/frontend/electron/src/main/onboarding.ts
  yarn.lock
Labels: app:electron, app:core

#5264 feat(core): onboarding paper unfolding animation
  packages/frontend/core/src/components/affine/onboarding/onboarding.tsx
  packages/frontend/core/src/components/affine/onboarding/paper-steps.tsx
  packages/frontend/core/src/components/affine/onboarding/steps/unfolding.css.ts
  packages/frontend/core/src/components/affine/onboarding/steps/unfolding.tsx
  packages/frontend/core/src/components/affine/onboarding/style.css.ts
Labels: app:core

#5292 fix(component): fix incorrect input component width and height styling
  packages/frontend/component/src/components/auth-components/auth-input.tsx
  packages/frontend/component/src/components/auth-components/change-email-page.tsx
  packages/frontend/component/src/components/member-components/invite-modal.tsx
  packages/frontend/component/src/components/rename-modal/index.css.ts
  packages/frontend/component/src/components/rename-modal/index.tsx
  packages/frontend/component/src/ui/input/input.tsx
  packages/frontend/component/src/ui/input/style.css.ts
  packages/frontend/core/src/components/affine/new-workspace-setting-detail/profile.tsx
  packages/frontend/core/src/components/affine/new-workspace-setting-detail/style.css.ts
  packages/frontend/core/src/components/affine/setting-modal/account-setting/index.tsx
  packages/frontend/core/src/components/affine/setting-modal/account-setting/style.css.ts
  packages/plugins/copilot/src/UI/debug-content.tsx
  packages/plugins/copilot/src/UI/index.css.ts
  tests/storybook/src/stories/input.stories.tsx
Labels: mod:component, plugin:copilot, test, mod:plugin, app:core

#5283 feat(core): basic page/edgeless toggle animation
  packages/frontend/core/src/components/affine/onboarding/animate-in-tooltip.css.tsx
  packages/frontend/core/src/components/affine/onboarding/animate-in-tooltip.tsx
  packages/frontend/core/src/components/affine/onboarding/articles/article-0.tsx
  packages/frontend/core/src/components/affine/onboarding/articles/article-1.tsx
  packages/frontend/core/src/components/affine/onboarding/articles/article-2.tsx
  packages/frontend/core/src/components/affine/onboarding/articles/article-3.tsx
  packages/frontend/core/src/components/affine/onboarding/articles/article-4.tsx
  packages/frontend/core/src/components/affine/onboarding/articles/assets/article-0-bookmark-1.png
  packages/frontend/core/src/components/affine/onboarding/articles/assets/article-0-bookmark-2.png
  packages/frontend/core/src/components/affine/onboarding/articles/assets/article-0-embed-1.png
  packages/frontend/core/src/components/affine/onboarding/articles/assets/article-1-bookmark-1.png
  packages/frontend/core/src/components/affine/onboarding/articles/assets/article-1-illustration-1.png
  packages/frontend/core/src/components/affine/onboarding/articles/assets/article-1-illustration-2.tsx
  packages/frontend/core/src/components/affine/onboarding/articles/assets/article-2-embed-1.png
  packages/frontend/core/src/components/affine/onboarding/articles/assets/article-2-illustration-1.jpg
  packages/frontend/core/src/components/affine/onboarding/articles/assets/article-2-illustration-2.jpg
  packages/frontend/core/src/components/affine/onboarding/articles/assets/article-2-note-1.png
  packages/frontend/core/src/components/affine/onboarding/articles/assets/article-2-note-2.png
  packages/frontend/core/src/components/affine/onboarding/articles/assets/article-3-bookmark-1.png
  packages/frontend/core/src/components/affine/onboarding/articles/assets/article-3-illustration-1.jpg
  packages/frontend/core/src/components/affine/onboarding/articles/assets/article-3-illustration-2.jpg
  packages/frontend/core/src/components/affine/onboarding/articles/assets/article-3-illustration-3.jpg
  packages/frontend/core/src/components/affine/onboarding/articles/assets/article-3-illustration-4.jpg
  packages/frontend/core/src/components/affine/onboarding/articles/assets/article-3-illustration-5.jpg
  packages/frontend/core/src/components/affine/onboarding/articles/assets/article-4-bookmark-1.png
  packages/frontend/core/src/components/affine/onboarding/articles/assets/article-4-bookmark-2.png
  packages/frontend/core/src/components/affine/onboarding/articles/assets/article-4-illustration-1.jpg
  packages/frontend/core/src/components/affine/onboarding/articles/assets/article-4-illustration-2.jpg
  packages/frontend/core/src/components/affine/onboarding/articles/blocks.css.ts
  packages/frontend/core/src/components/affine/onboarding/articles/index.tsx
  packages/frontend/core/src/components/affine/onboarding/onboarding.tsx
  packages/frontend/core/src/components/affine/onboarding/paper-steps.tsx
  packages/frontend/core/src/components/affine/onboarding/steps/animate-in.tsx
  packages/frontend/core/src/components/affine/onboarding/steps/edgeless-switch.css.ts
  packages/frontend/core/src/components/affine/onboarding/steps/edgeless-switch.tsx
  packages/frontend/core/src/components/affine/onboarding/steps/unfolding.css.ts
  packages/frontend/core/src/components/affine/onboarding/steps/unfolding.tsx
  packages/frontend/core/src/components/affine/onboarding/style.css.ts
  packages/frontend/core/src/components/affine/onboarding/switch-widgets/block.tsx
  packages/frontend/core/src/components/affine/onboarding/switch-widgets/counter-note.css.tsx
  packages/frontend/core/src/components/affine/onboarding/switch-widgets/counter-note.tsx
  packages/frontend/core/src/components/affine/onboarding/switch-widgets/page-link.tsx
  packages/frontend/core/src/components/affine/onboarding/switch-widgets/shadow-sticker.tsx
  packages/frontend/core/src/components/affine/onboarding/switch-widgets/style.css.tsx
  packages/frontend/core/src/components/affine/onboarding/switch-widgets/switch.tsx
  packages/frontend/core/src/components/affine/onboarding/switch-widgets/toolbar.tsx
  packages/frontend/core/src/components/affine/onboarding/types.ts
  packages/frontend/core/src/types/types.d.ts
  tests/storybook/src/stories/onboarding.stories.tsx
Labels: test, app:core

#5310 fix(core): collections initialized logic
  packages/frontend/core/src/atoms/collections.ts
  packages/frontend/core/src/utils/workspace-setting.ts
Labels: mod:store, app:core

#5312 feat(core): add toggle workspace dialog
  packages/common/infra/src/app-config-storage.ts
  packages/frontend/core/src/components/affine/onboarding/assets/thumb.tsx
  packages/frontend/core/src/components/affine/onboarding/workspace-guide-modal.css.tsx
  packages/frontend/core/src/components/affine/onboarding/workspace-guide-modal.tsx
  packages/frontend/core/src/providers/modal-provider.tsx
  packages/frontend/electron/src/main/index.ts
  packages/frontend/i18n/src/resources/en.json
  tests/kit/playwright.ts
Labels: mod:infra, mod:i18n, app:electron, test, app:core

#5319 fix(electron): main window should be opened first before destroying onboard window
  packages/common/env/src/constant.ts
  packages/common/infra/src/preload/electron.ts
  packages/frontend/core/src/index.tsx
  packages/frontend/electron/src/main/index.ts
  packages/frontend/electron/src/main/main-window.ts
  packages/frontend/electron/src/main/onboarding.ts
  packages/frontend/electron/src/main/ui/handlers.ts
  packages/frontend/electron/src/main/windows-manager/launcher.ts
Labels: mod:infra, mod:env, app:electron, app:core

#5320 fix(electron): onboarding display issue on Windows
  packages/frontend/electron/src/main/onboarding.ts
Labels: app:electron

#5340 fix: cargo deps security alert
  Cargo.lock
Labels: rust

#5322 feat(core): adjust ui for new design
  packages/frontend/core/src/components/affine/onboarding/animate-in-tooltip.css.tsx
  packages/frontend/core/src/components/affine/onboarding/articles/article-0.tsx
  packages/frontend/core/src/components/affine/onboarding/articles/article-1.tsx
  packages/frontend/core/src/components/affine/onboarding/articles/article-2.tsx
  packages/frontend/core/src/components/affine/onboarding/articles/article-3.tsx
  packages/frontend/core/src/components/affine/onboarding/articles/article-4.tsx
  packages/frontend/core/src/components/affine/onboarding/articles/blog-link.tsx
  packages/frontend/core/src/components/affine/onboarding/articles/index.tsx
  packages/frontend/core/src/components/affine/onboarding/assets/logo.tsx
  packages/frontend/core/src/components/affine/onboarding/onboarding.tsx
  packages/frontend/core/src/components/affine/onboarding/paper-steps.tsx
  packages/frontend/core/src/components/affine/onboarding/steps/animate-in.tsx
  packages/frontend/core/src/components/affine/onboarding/steps/edgeless-switch.css.ts
  packages/frontend/core/src/components/affine/onboarding/steps/edgeless-switch.tsx
  packages/frontend/core/src/components/affine/onboarding/steps/unfolding.css.ts
  packages/frontend/core/src/components/affine/onboarding/style.css.ts
  packages/frontend/core/src/components/affine/onboarding/switch-widgets/block.tsx
  packages/frontend/core/src/components/affine/onboarding/switch-widgets/style.css.tsx
  packages/frontend/core/src/components/affine/onboarding/types.ts
Labels: mod:infra, mod:i18n, mod:env, app:electron, test, app:core

#5342 fix(core): dedupe ses versions
  tests/storybook/package.json
  yarn.lock
Labels: test, app:core

#5343 feat: bump blocksuite
  packages/common/env/package.json
  packages/common/infra/package.json
  packages/common/sdk/package.json
  packages/common/y-indexeddb/package.json
  packages/common/y-provider/package.json
  packages/frontend/component/package.json
  packages/frontend/core/package.json
  packages/frontend/electron/package.json
  packages/frontend/hooks/package.json
  tests/affine-legacy/0.6.1-beta.1/package.json
  tests/affine-legacy/0.7.0-canary.18/package.json
  tests/affine-legacy/0.8.0-canary.7/package.json
  tests/affine-legacy/0.8.4/package.json
  tests/affine-migration/package.json
  tests/storybook/package.json
  yarn.lock
Labels: mod:infra, mod:hooks, mod:env, mod:component, app:electron, package:y-indexeddb, test, app:core, mod:sdk

#5277 feat: onboarding page
  packages/backend/server/src/modules/auth/next-auth-options.ts
  packages/frontend/component/package.json
  packages/frontend/component/src/components/auth-components/index.tsx
  packages/frontend/component/src/components/auth-components/onboarding-page.css.ts
  packages/frontend/component/src/components/auth-components/onboarding-page.tsx
  packages/frontend/component/src/ui/checkbox/checkbox.tsx
  packages/frontend/component/src/ui/checkbox/icons.tsx
  packages/frontend/component/src/ui/checkbox/index.css.ts
  packages/frontend/component/src/ui/scrollbar/index.css.ts
  packages/frontend/core/.webpack/config.ts
  packages/frontend/core/src/pages/auth.tsx
  yarn.lock
Labels: mod:component, app:server, app:core

#5327 feat: onboarding electron redirect
  packages/frontend/component/src/components/auth-components/onboarding-page.tsx
  packages/frontend/core/src/pages/open-app.tsx
  packages/frontend/electron/src/main/deep-link.ts
Labels: mod:component, app:electron, app:server, app:core

#5347 fix(core): downgrade ses
  packages/frontend/core/package.json
  tests/storybook/package.json
  tools/plugin-cli/package.json
  yarn.lock
Labels: test, app:core, mod:plugin-cli

#5346 feat: bump bs
  packages/common/env/package.json
  packages/common/infra/package.json
  packages/common/sdk/package.json
  packages/common/y-indexeddb/package.json
  packages/common/y-provider/package.json
  packages/frontend/component/package.json
  packages/frontend/core/package.json
  packages/frontend/electron/package.json
  packages/frontend/hooks/package.json
  tests/affine-legacy/0.6.1-beta.1/package.json
  tests/affine-legacy/0.7.0-canary.18/package.json
  tests/affine-legacy/0.8.0-canary.7/package.json
  tests/affine-legacy/0.8.4/package.json
  tests/affine-migration/package.json
  tests/storybook/package.json
  yarn.lock
Labels: mod:infra, mod:hooks, mod:env, mod:component, app:electron, package:y-indexeddb, test, app:core, mod:sdk

#5350 fix(core): remove ses lockdown
  packages/frontend/core/package.json
  packages/frontend/core/src/_plugin/index.test.tsx
  packages/frontend/core/src/index.tsx
  packages/frontend/core/src/polyfill/ses-lockdown.ts
  tests/storybook/package.json
  tools/plugin-cli/package.json
  yarn.lock
Labels: test, app:core, mod:plugin-cli

#5354 feat: only follow `serverUrlPrefix` at redirect to client (#5295)
  packages/frontend/core/src/components/affine/page-history-modal/data.ts
  packages/frontend/core/src/components/affine/share-page-modal/share-menu/share-page.tsx
  packages/frontend/core/src/components/affine/share-page-modal/share-menu/use-share-url.ts
  packages/frontend/core/src/pages/share/share-detail-page.tsx
  packages/frontend/workspace/src/affine/gql.ts
  packages/frontend/workspace/src/impl/cloud/blob.ts
  packages/frontend/workspace/src/utils/affine-io.ts
Labels: mod:workspace, app:core

#5355 chore: update basic version to 0.11.0
  .github/helm/affine/Chart.yaml
  .github/helm/affine/charts/graphql/Chart.yaml
  .github/helm/affine/charts/sync/Chart.yaml
  package.json
  packages/backend/server/package.json
  packages/backend/storage/package.json
  packages/common/cmdk/package.json
  packages/common/debug/package.json
  packages/common/env/package.json
  packages/common/infra/package.json
  packages/common/sdk/package.json
  packages/common/y-indexeddb/package.json
  packages/common/y-provider/package.json
  packages/frontend/component/package.json
  packages/frontend/core/package.json
  packages/frontend/electron/package.json
  packages/frontend/graphql/package.json
  packages/frontend/hooks/package.json
  packages/frontend/i18n/package.json
  packages/frontend/native/package.json
  packages/frontend/templates/package.json
  packages/frontend/workspace/package.json
  packages/plugins/copilot/package.json
  packages/plugins/hello-world/package.json
  packages/plugins/image-preview/package.json
  packages/plugins/outline/package.json
  packages/plugins/vue-hello-world/package.json
  tests/affine-cloud/package.json
  tests/affine-desktop-cloud/package.json
  tests/affine-desktop/package.json
  tests/affine-legacy/0.6.1-beta.1/package.json
  tests/affine-legacy/0.7.0-canary.18/package.json
  tests/affine-legacy/0.8.0-canary.7/package.json
  tests/affine-legacy/0.8.4/package.json
  tests/affine-local/package.json
  tests/affine-migration/package.json
  tests/affine-plugin/package.json
  tests/fixtures/package.json
  tests/kit/package.json
  tests/storybook/package.json
  tools/@types/env/package.json
  tools/cli/package.json
  tools/commitlint/package.json
  tools/plugin-cli/package.json
  tools/workers/package.json
Labels: mod:infra, docs, mod:workspace, mod:i18n, mod:hooks, mod:env, mod:component, app:electron, mod:dev, package:y-indexeddb, app:server, plugin:copilot, test, mod:plugin, mod:storage, mod:native, app:core, mod:plugin-cli, mod:sdk

#5353 fix(core): escape special characters for cmdk item values
  packages/frontend/core/src/components/pure/cmdk/data.tsx
Labels: app:core

#5356 feat(core): add syncing progress
  packages/frontend/component/src/ui/loading/loading.tsx
  packages/frontend/component/src/ui/loading/styles.css.ts
  packages/frontend/core/src/components/pure/workspace-slider-bar/workspace-card/index.tsx
Labels: mod:component, app:core

#5351 fix(storybook): disable onboarding for storybook
  tests/storybook/.storybook/preview.tsx
Labels: test

#5357 feat: bump blocksuite
  packages/common/env/package.json
  packages/common/infra/package.json
  packages/common/sdk/package.json
  packages/common/y-indexeddb/package.json
  packages/common/y-provider/package.json
  packages/frontend/component/package.json
  packages/frontend/core/package.json
  packages/frontend/electron/package.json
  packages/frontend/hooks/package.json
  tests/affine-legacy/0.6.1-beta.1/package.json
  tests/affine-legacy/0.7.0-canary.18/package.json
  tests/affine-legacy/0.8.0-canary.7/package.json
  tests/affine-legacy/0.8.4/package.json
  tests/affine-migration/package.json
  tests/storybook/package.json
  yarn.lock
Labels: mod:infra, mod:hooks, mod:env, mod:component, app:electron, package:y-indexeddb, test, app:core, mod:sdk

#5361 feat(core): responsive for onboarding
  packages/frontend/core/src/components/affine/onboarding/steps/edgeless-switch.css.ts
  packages/frontend/core/src/components/affine/onboarding/steps/edgeless-switch.tsx
  packages/frontend/core/src/components/affine/onboarding/style.css.ts
Labels: app:core

#5364 chore(core): temporarily hide export png and pdf in edgeless
  packages/frontend/component/src/components/page-list/operation-menu-items/export.tsx
  packages/frontend/core/src/components/affine/share-page-modal/share-menu/share-export.tsx
  packages/frontend/core/src/components/blocksuite/block-suite-header-title/operation-menu.tsx
  packages/frontend/core/src/hooks/affine/use-register-blocksuite-editor-commands.tsx
Labels: mod:component, app:core

#5345 feat(electron): handle onboarding-window moved between screens
  packages/frontend/core/src/components/affine/onboarding/style.css.ts
  packages/frontend/electron/src/main/onboarding.ts
Labels: app:electron, app:core

#5363 fix(core): onboading tooltip next button always shows
  packages/frontend/core/src/components/affine/onboarding/animate-in-tooltip.tsx
  packages/frontend/core/src/components/affine/onboarding/onboarding.tsx
Labels: app:core

#5367 ci: set version correctly and remove nightly build workflow
  .github/actions/setup-version/action.yml
  .github/workflows/deploy.yml
  .github/workflows/nightly-build.yml
  .github/workflows/release-desktop.yml
  packages/frontend/electron/scripts/generate-assets.ts
Labels: app:electron

#5369 feat: use baseurl from server config
  packages/backend/server/src/modules/config.ts
  packages/backend/server/src/schema.gql
  packages/frontend/core/.webpack/config.ts
  packages/frontend/core/.webpack/runtime-config.ts
  packages/frontend/core/src/components/affine/new-workspace-setting-detail/index.tsx
  packages/frontend/core/src/components/affine/setting-modal/account-setting/index.tsx
  packages/frontend/core/src/components/affine/setting-modal/general-setting/index.tsx
  packages/frontend/core/src/components/affine/share-page-modal/share-menu/share-export.tsx
  packages/frontend/core/src/components/affine/share-page-modal/share-menu/share-page.tsx
  packages/frontend/core/src/components/affine/share-page-modal/share-menu/use-share-url.ts
  packages/frontend/core/src/hooks/affine/use-server-config.ts
  packages/frontend/core/src/hooks/affine/use-share-link.ts
  packages/frontend/core/src/hooks/use-subscription.ts
  packages/frontend/graphql/src/graphql/index.ts
  packages/frontend/graphql/src/graphql/server-config.gql
  packages/frontend/graphql/src/schema.ts
Labels: app:server, app:core

#5373 chore: catch and ignore page upgrade error
  packages/common/infra/src/blocksuite/migration/blocksuite.ts
Labels: mod:infra

#5372 fix: websocket prefix
  packages/frontend/workspace/src/utils/affine-io.ts
Labels: mod:workspace

#5374 feat: bump blocksuite
  packages/common/env/package.json
  packages/common/infra/package.json
  packages/common/sdk/package.json
  packages/common/y-indexeddb/package.json
  packages/common/y-provider/package.json
  packages/frontend/component/package.json
  packages/frontend/core/package.json
  packages/frontend/electron/package.json
  packages/frontend/hooks/package.json
  tests/affine-legacy/0.6.1-beta.1/package.json
  tests/affine-legacy/0.7.0-canary.18/package.json
  tests/affine-legacy/0.8.0-canary.7/package.json
  tests/affine-legacy/0.8.4/package.json
  tests/affine-migration/package.json
  tests/storybook/package.json
  yarn.lock
Labels: mod:infra, mod:hooks, mod:env, mod:component, app:electron, package:y-indexeddb, test, app:core, mod:sdk

#5377 fix(core): maxWait for sync progress debounce
  packages/frontend/core/src/components/pure/workspace-slider-bar/workspace-card/index.tsx
Labels: app:core

#5383 fix: input style priority
  packages/frontend/component/src/components/rename-modal/index.css.ts
  packages/frontend/component/src/components/rename-modal/index.tsx
  packages/frontend/core/src/components/affine/new-workspace-setting-detail/profile.tsx
  packages/frontend/core/src/components/affine/new-workspace-setting-detail/style.css.ts
  packages/frontend/core/src/components/affine/setting-modal/account-setting/index.tsx
  packages/frontend/core/src/components/affine/setting-modal/account-setting/style.css.ts
  packages/plugins/copilot/src/UI/debug-content.tsx
  packages/plugins/copilot/src/UI/index.css.ts
Labels: mod:component, plugin:copilot, mod:plugin, app:core

#5382 fix(workspace): dont upgrade subdoc on cloud
  packages/common/infra/src/blocksuite/migration/workspace.ts
  packages/frontend/workspace/src/upgrade/index.ts
Labels: mod:infra, mod:workspace

#5384 fix(core): hide onboarding paper segments gap
  packages/frontend/core/src/components/affine/onboarding/curve-paper/paper.css.ts
Labels: app:core

#5379 fix(workspace): leave workspace correctly
  packages/frontend/workspace/src/engine/sync/engine.ts
  packages/frontend/workspace/src/impl/cloud/awareness.ts
  packages/frontend/workspace/src/impl/cloud/sync/index.ts
Labels: mod:workspace

#5381 fix(component): fix workspace input
  packages/frontend/core/src/components/affine/new-workspace-setting-detail/profile.tsx
Labels: mod:component, app:core

#5386 feat: bump blocksuite
  packages/common/env/package.json
  packages/common/infra/package.json
  packages/common/sdk/package.json
  packages/common/y-indexeddb/package.json
  packages/common/y-provider/package.json
  packages/frontend/component/package.json
  packages/frontend/core/package.json
  packages/frontend/electron/package.json
  packages/frontend/hooks/package.json
  tests/affine-legacy/0.6.1-beta.1/package.json
  tests/affine-legacy/0.7.0-canary.18/package.json
  tests/affine-legacy/0.8.0-canary.7/package.json
  tests/affine-legacy/0.8.4/package.json
  tests/affine-migration/package.json
  tests/storybook/package.json
  yarn.lock
Labels: mod:infra, mod:hooks, mod:env, mod:component, app:electron, package:y-indexeddb, test, app:core, mod:sdk

#5326 refactor(core): remove outline plugin and layout atom
  README.md
  packages/common/infra/src/__internal__/plugin.ts
  packages/common/infra/src/atom/index.ts
  packages/common/infra/src/atom/layout.ts
  packages/common/infra/src/type.ts
  packages/frontend/core/.webpack/runtime-config.ts
  packages/frontend/core/src/bootstrap/plugins/setup.ts
  packages/frontend/electron/package.json
  packages/plugins/outline/package.json
  packages/plugins/outline/project.json
  packages/plugins/outline/src/app.tsx
  packages/plugins/outline/src/index.ts
  packages/plugins/outline/tsconfig.json
  tests/affine-cloud/e2e/collaboration.spec.ts
  tests/affine-plugin/e2e/basic.spec.ts
  yarn.lock
Labels: mod:infra, docs, app:electron, test, mod:plugin, app:core

#5324 refactor(core): remove adapter
  packages/common/env/src/workspace.ts
  packages/frontend/core/src/adapters/cloud/ui.tsx
  packages/frontend/core/src/adapters/local/index.tsx
  packages/frontend/core/src/adapters/shared.ts
  packages/frontend/core/src/adapters/workspace.ts
  packages/frontend/core/src/components/adapter-worksapce-wrapper.tsx
  packages/frontend/core/src/components/affine/setting-modal/workspace-setting/index.tsx
  packages/frontend/core/src/layouts/workspace-layout.tsx
  packages/frontend/core/src/providers/swr-config-provider.tsx
Labels: mod:infra, docs, mod:env, app:electron, test, mod:plugin, app:core

#5332 refactor(infra): move currentPageAtom to core
  packages/common/infra/src/atom/index.ts
  packages/common/infra/src/atom/workspace.ts
  packages/common/sdk/src/entry.ts
  packages/frontend/core/src/atoms/mode.ts
  packages/frontend/core/src/components/affine/affine-error-boundary/error-basic/info-logger.tsx
  packages/frontend/core/src/components/pure/cmdk/data.tsx
  packages/frontend/core/src/hooks/current/use-current-page.ts
  packages/frontend/core/src/pages/workspace/detail-page/detail-page.tsx
Labels: mod:infra, app:electron, mod:store, app:core, mod:sdk

#5388 fix(workspace): fix svg file with xml header
  packages/frontend/workspace/src/utils/__tests__/buffer-to-blob.spec.ts
  packages/frontend/workspace/src/utils/buffer-to-blob.ts
Labels: mod:workspace, test

#5391 fix(core): fix flickering workspace list
  packages/frontend/core/src/pages/index.tsx
Labels: app:core

#5395 fix: use prefix in electron to prevent formdata bug
  packages/frontend/workspace/src/impl/cloud/blob.ts
Labels: mod:workspace

#5337 fix(core): remove plugins settings
  packages/frontend/component/src/ui/loading/styles.css.ts
  packages/frontend/core/src/components/affine/setting-modal/general-setting/index.tsx
  packages/frontend/core/src/components/affine/setting-modal/setting-sidebar/index.tsx
  packages/frontend/core/src/components/affine/setting-modal/workspace-setting/index.tsx
  packages/frontend/core/src/components/affine/setting-modal/workspace-setting/new-workspace-setting-detail/delete-leave-workspace/delete/index.tsx
  packages/frontend/core/src/components/affine/setting-modal/workspace-setting/new-workspace-setting-detail/delete-leave-workspace/delete/style.css.ts
  packages/frontend/core/src/components/affine/setting-modal/workspace-setting/new-workspace-setting-detail/delete-leave-workspace/index.tsx
  packages/frontend/core/src/components/affine/setting-modal/workspace-setting/new-workspace-setting-detail/enable-cloud.tsx
  packages/frontend/core/src/components/affine/setting-modal/workspace-setting/new-workspace-setting-detail/export.tsx
  packages/frontend/core/src/components/affine/setting-modal/workspace-setting/new-workspace-setting-detail/index.tsx
  packages/frontend/core/src/components/affine/setting-modal/workspace-setting/new-workspace-setting-detail/labels.tsx
  packages/frontend/core/src/components/affine/setting-modal/workspace-setting/new-workspace-setting-detail/members.tsx
  packages/frontend/core/src/components/affine/setting-modal/workspace-setting/new-workspace-setting-detail/profile.tsx
  packages/frontend/core/src/components/affine/setting-modal/workspace-setting/new-workspace-setting-detail/storage.tsx
  packages/frontend/core/src/components/affine/setting-modal/workspace-setting/new-workspace-setting-detail/style.css.ts
  packages/frontend/core/src/components/affine/setting-modal/workspace-setting/new-workspace-setting-detail/types.ts
  packages/frontend/core/src/components/cloud/login-card.tsx
  tests/affine-local/e2e/settings.spec.ts
  tests/kit/utils/setting.ts
Labels: mod:env, mod:component, test, app:core

#5387 fix(core): correct title of onboarding article-2
  packages/frontend/core/src/components/affine/onboarding/articles/article-2.tsx
  packages/frontend/core/src/components/affine/onboarding/articles/index.tsx
Labels: app:core

#5396 chore(core): add background color to questionnaire
  packages/frontend/component/src/components/auth-components/onboarding-page.css.ts
Labels: mod:component, app:core

#5400 fix(core): workpace list blink issue on open
  packages/frontend/core/src/components/root-app-sidebar/index.tsx
Labels: app:core

#5399 fix(core): about setting blink issue
  packages/frontend/core/src/components/affine/setting-modal/index.tsx
Labels: app:core

#5401 fix(electron): set stable base url to app.affine.pro
  packages/frontend/electron/src/main/config.ts
Labels: app:electron

#5402 fix(core): trash page footer display issue
  packages/frontend/core/src/components/pure/trash-page-footer/styles.css.ts
Labels: app:core

#5404 fix(core): avatars are not aligned
  packages/frontend/core/src/components/pure/file-upload/index.tsx
Labels: app:core

#5406 fix(infra): workaround for self-referencing in storybook
  tests/storybook/.storybook/main.ts
Labels: test

#5393 fix(component): fix font display on safari
  packages/frontend/component/src/theme/fonts.css
Labels: mod:component

#5415 fix(core): enable page history for beta/stable
  packages/frontend/core/.webpack/runtime-config.ts
Labels: app:core

#5334 refactor(electron): create electron api package
  packages/common/infra/package.json
  packages/common/infra/preload/electron.d.ts
  packages/common/infra/preload/electron.js
  packages/common/infra/src/atom/settings.ts
  packages/common/infra/src/core/event-emitter.ts
  packages/common/infra/src/handler.ts
  packages/common/infra/src/index.ts
  packages/common/infra/src/type.ts
  packages/common/infra/vite.config.ts
  packages/frontend/component/package.json
  packages/frontend/component/src/components/theme-provider/index.tsx
  packages/frontend/component/tsconfig.json
  packages/frontend/core/package.json
  packages/frontend/core/src/commands/affine-updates.tsx
  packages/frontend/core/src/components/affine/auth/use-captcha.tsx
  packages/frontend/core/src/components/affine/create-workspace-modal/index.tsx
  packages/frontend/core/src/components/affine/setting-modal/workspace-setting/new-workspace-setting-detail/export.tsx
  packages/frontend/core/src/components/affine/setting-modal/workspace-setting/new-workspace-setting-detail/storage.tsx
  packages/frontend/core/src/components/pure/header/windows-app-controls.tsx
  packages/frontend/core/src/components/root-app-sidebar/index.tsx
  packages/frontend/core/src/hooks/affine/use-export-page.ts
  packages/frontend/core/src/hooks/use-app-config-storage.ts
  packages/frontend/core/src/pages/onboarding.tsx
  packages/frontend/core/tsconfig.json
  packages/frontend/electron-api/package.json
  packages/frontend/electron-api/src/index.ts
  packages/frontend/electron-api/tsconfig.json
  packages/frontend/electron/src/helper/dialog/dialog.ts
  packages/frontend/electron/src/helper/exposed.ts
  packages/frontend/electron/src/helper/index.ts
  packages/frontend/electron/src/helper/main-rpc.ts
  packages/frontend/electron/src/helper/provide.ts
  packages/frontend/electron/src/main/handlers.ts
  packages/frontend/electron/src/main/helper-process.ts
  packages/frontend/electron/src/preload/bootstrap.ts
  packages/frontend/electron/src/preload/electron-api.ts
  packages/frontend/electron/src/shared/type.ts
  packages/frontend/hooks/package.json
  packages/frontend/hooks/src/use-app-updater.ts
  packages/frontend/hooks/tsconfig.json
  packages/frontend/workspace/package.json
  packages/frontend/workspace/src/impl/local/blob-sqlite.ts
  packages/frontend/workspace/src/impl/local/list.ts
  packages/frontend/workspace/src/impl/local/sync-sqlite.ts
  packages/frontend/workspace/tsconfig.json
  tests/affine-desktop/e2e/workspace.spec.ts
  tests/affine-desktop/package.json
  tests/affine-desktop/tsconfig.json
  tests/kit/package.json
  tests/kit/utils/ipc.ts
  tools/@types/env/__all.d.ts
  tools/@types/env/package.json
  yarn.lock
Labels: mod:infra, mod:workspace, mod:hooks, mod:component, app:electron, test, app:core, mod:plugin-cli

#5414 refactor(infra): no bundle infra
  .github/actions/setup-node/action.yml
  .github/workflows/build-test.yml
  docs/BUILDING.md
  package.json
  packages/common/infra/package.json
  packages/common/infra/project.json
  packages/common/infra/tsconfig.json
  packages/common/infra/vite.config.ts
  tests/storybook/.storybook/main.ts
  tools/cli/src/bin/dev-core.ts
  yarn.lock
Labels: mod:infra, docs, mod:dev, test

#5398 fix(infra): remove unused svg loader
  packages/frontend/component/src/theme/global.css
  packages/frontend/core/.webpack/config.ts
  packages/frontend/core/package.json
  yarn.lock
Labels: mod:component, app:core

#5416 docs: update guide for build in windows
  docs/BUILDING.md
Labels: docs

#5418 feat(core): set document title when detail page render
  packages/frontend/core/src/hooks/use-global-state.ts
  packages/frontend/core/src/pages/workspace/detail-page/detail-page.tsx
Labels: app:core

#5413 style: add perf rules
  package.json
  packages/frontend/core/src/components/affine/onboarding/articles/index.tsx
  packages/frontend/i18n/src/index.ts
  packages/frontend/i18n/src/scripts/utils.ts
  packages/frontend/workspace/src/impl/cloud/awareness.ts
  packages/frontend/workspace/src/impl/local/awareness.ts
  yarn.lock
Labels: mod:workspace, mod:i18n, app:core

#5417 style(core): add font smoothing and optimize legibility globally
  packages/frontend/component/src/theme/global.css
Labels: mod:component

#5339 refactor(core): adjust graphql hook
  packages/frontend/core/src/components/affine/auth/send-email.tsx
  packages/frontend/core/src/components/affine/auth/sign-in.tsx
  packages/frontend/core/src/components/affine/auth/subscription-redirect.tsx
  packages/frontend/core/src/components/affine/page-history-modal/data.ts
  packages/frontend/core/src/components/affine/setting-modal/account-setting/index.tsx
  packages/frontend/core/src/components/affine/setting-modal/general-setting/billing/index.tsx
  packages/frontend/core/src/components/affine/setting-modal/general-setting/plans/actions.tsx
  packages/frontend/core/src/components/affine/setting-modal/general-setting/plans/index.tsx
  packages/frontend/core/src/components/affine/setting-modal/general-setting/plans/plan-card.tsx
  packages/frontend/core/src/hooks/__tests__/gql.spec.tsx
  packages/frontend/core/src/hooks/affine/use-invite-member.ts
  packages/frontend/core/src/hooks/affine/use-is-shared-page.ts
  packages/frontend/core/src/hooks/affine/use-is-workspace-owner.ts
  packages/frontend/core/src/hooks/affine/use-member-count.ts
  packages/frontend/core/src/hooks/affine/use-members.ts
  packages/frontend/core/src/hooks/affine/use-revoke-member-permission.ts
  packages/frontend/core/src/hooks/affine/use-server-config.ts
  packages/frontend/core/src/hooks/affine/use-toggle-cloud-public.ts
  packages/frontend/core/src/hooks/use-mutation.ts
  packages/frontend/core/src/hooks/use-query.ts
  packages/frontend/core/src/hooks/use-quota.ts
  packages/frontend/core/src/hooks/use-subscription.ts
  packages/frontend/core/src/pages/auth.tsx
  packages/frontend/core/src/pages/invite.tsx
  packages/frontend/core/src/pages/open-app.tsx
  packages/frontend/graphql/src/index.ts
  packages/frontend/workspace/src/impl/cloud/blob.ts
  packages/frontend/workspace/src/impl/cloud/list.ts
Labels: mod:infra, mod:workspace, test, app:core

#5420 feat(server): upgrade prisma to use native relation joins and distinct
  packages/backend/server/package.json
  packages/backend/server/schema.prisma
  packages/backend/server/src/metrics/opentelemetry.ts
  yarn.lock
Labels: app:server

#5366 feat: add useBlocksuiteEditor hooks
  packages/frontend/component/src/components/block-suite-editor/index.jotai.ts
  packages/frontend/component/src/components/block-suite-editor/index.tsx
  packages/frontend/core/src/pages/workspace/detail-page/editor-sidebar/extensions/copilot.tsx
  packages/frontend/core/src/pages/workspace/detail-page/editor-sidebar/extensions/frame.tsx
  packages/frontend/core/src/pages/workspace/detail-page/editor-sidebar/extensions/outline.tsx
  packages/frontend/hooks/src/use-block-suite-editor.ts
Labels: mod:hooks, mod:component, app:core

#5430 fix(storybook): storybook flaky
  tests/storybook/src/stories/core.stories.tsx
Labels: test

#5434 feat: add migration for rename unamed accounts
  packages/backend/server/src/data/migrations/1703756315970-unamed-account.ts
Labels: app:server

#5422 chore: adjust side bar empty item color
  packages/frontend/core/src/components/pure/workspace-slider-bar/collections/styles.css.ts
  packages/frontend/core/src/components/pure/workspace-slider-bar/favorite/styles.css.ts
Labels: app:core

#5412 refactor(core): onboarding using new transformer api
  .prettierignore
  packages/common/infra/package.json
  packages/common/infra/src/blocksuite/initialization/index.ts
  packages/common/infra/src/blocksuite/initialization/middleware.ts
  packages/frontend/electron/package.json
  packages/frontend/templates/AFFiNE-Docs.md
  packages/frontend/templates/AFFiNE-beta-0.5.4.md
  packages/frontend/templates/README.md
  packages/frontend/templates/Welcome-to-AFFiNE-Abbey-Alpha-Wood.md
  packages/frontend/templates/Welcome-to-AFFiNE-Alpha-Downhills.md
  packages/frontend/templates/Welcome-to-AFFiNE.md
  packages/frontend/templates/Welcome-to-the-AFFiNE-Alpha.md
  packages/frontend/templates/build.mjs
  packages/frontend/templates/onboarding/-P-O4GSfVGTkI16zJRVa4.snapshot.json
  packages/frontend/templates/onboarding/0nee_XzkrN23Xy7HMoXL-.snapshot.json
  packages/frontend/templates/onboarding/9iIScyvuIB_kUKbs1AYOQ.snapshot.json
  packages/frontend/templates/onboarding/GWsRbUtMF4Ee6foVg-H9R.snapshot.json
  packages/frontend/templates/onboarding/RCpxnWMtBWmUZy5awgJBh.snapshot.json
  packages/frontend/templates/onboarding/Scod6coKmJJ-waH1-jkiW.snapshot.json
  packages/frontend/templates/onboarding/b1F2xKjgZ4ISHhXNe1kck.snapshot.json
  packages/frontend/templates/onboarding/e5cYLNpIRUb-nwpSZGdix.snapshot.json
  packages/frontend/templates/onboarding/info.json
  packages/frontend/templates/onboarding/nPPyOV0JBNKu5hvW9hE00.snapshot.json
  packages/frontend/templates/onboarding/rzyBHDgN5KIlEYzB9oBaD.snapshot.json
  packages/frontend/templates/onboarding/wbXL4bZcblxLKC6ETqcQ1.snapshot.json
  packages/frontend/templates/package.json
  packages/frontend/templates/templates.gen.ts
  packages/frontend/templates/v1/annual-performance-review.json
  packages/frontend/templates/v1/brief-event-planning.json
  packages/frontend/templates/v1/getting-started.json
  packages/frontend/templates/v1/meeting-summary.json
  packages/frontend/templates/v1/okr-template.json
  packages/frontend/templates/v1/personal-home.json
  packages/frontend/templates/v1/personal-knowledge-management.json
  packages/frontend/templates/v1/personal-project-management.json
  packages/frontend/templates/v1/preloading.json
  packages/frontend/templates/v1/template-galleries.json
  packages/frontend/templates/v1/working-home.json
  tests/affine-local/e2e/all-page.spec.ts
  tests/affine-local/e2e/local-first-collections-items.spec.ts
  yarn.lock
Labels: mod:infra, docs, mod:component, app:electron, test, app:core

#5439 test(electron): add unit tests for updater
  packages/frontend/electron/test/main/fixtures/feeds.txt
  packages/frontend/electron/test/main/fixtures/releases/0.11.1-beta.1.txt
  packages/frontend/electron/test/main/fixtures/releases/0.11.1-canary.1.txt
  packages/frontend/electron/test/main/fixtures/releases/0.11.1.txt
  packages/frontend/electron/test/main/mocks/app-adapter.ts
  packages/frontend/electron/test/main/mocks/http-executor.ts
  packages/frontend/electron/test/main/mocks/index.ts
  packages/frontend/electron/test/main/mocks/updater.ts
  packages/frontend/electron/test/main/updater.spec.ts
Labels: app:electron

#5454 fix: use absolute path in gql client
  packages/frontend/graphql/src/index.ts
  packages/frontend/templates/templates.gen.ts
  packages/frontend/workspace/src/impl/cloud/blob.ts
Labels: docs, mod:workspace

#5435 fix(core): upgrade page when previewing/reverting page snapshot
  packages/frontend/core/src/components/affine/page-history-modal/data.ts
  packages/frontend/core/src/components/affine/page-history-modal/history-modal.tsx
Labels: app:core
