Repository toeverything/AFFiNE, pull requests merged in 2023-11, with the labels that each got.

#4799 fix(core): text color of search input, style for the multi-select tag, date-picker autofocus issue
  packages/frontend/component/src/components/page-list/filter/condition.tsx
  packages/frontend/component/src/components/page-list/filter/index.css.ts
  packages/frontend/component/src/components/page-list/filter/multi-select.css.ts
  packages/frontend/component/src/components/page-list/view/edit-collection.tsx
Labels: mod:component

#4795 fix(core): billing cancel confirm dialog
  packages/frontend/core/src/components/affine/setting-modal/general-setting/billing/index.tsx
  packages/frontend/core/src/components/affine/setting-modal/general-setting/plans/actions.tsx
  packages/frontend/core/src/components/affine/setting-modal/general-setting/plans/modals.tsx
  packages/frontend/core/src/components/affine/setting-modal/general-setting/plans/plan-card.tsx
Labels: app:core

#4811 docs: change yarn version in BUILDING.md
  docs/BUILDING.md
Labels: docs

#4812 fix(core): currentUser undefined when all workspaces deleted
  packages/frontend/workspace/src/affine/gql.ts
Labels: mod:workspace

#4813 fix(core): fix block suite edit mode switch shortcut
  packages/frontend/core/src/components/blocksuite/block-suite-mode-switch/index.tsx
Labels: app:core

#4797 fix(core): adjust payment related text
  packages/frontend/core/src/commands/affine-settings.tsx
  packages/frontend/core/src/components/affine/setting-modal/general-setting/plans/index.tsx
  packages/frontend/core/src/components/affine/setting-modal/general-setting/plans/plan-card.tsx
  packages/frontend/core/src/components/affine/setting-modal/general-setting/plans/style.css.ts
  packages/frontend/core/src/components/pure/cmdk/data.tsx
  packages/frontend/i18n/src/resources/en.json
  tests/affine-local/e2e/quick-search.spec.ts
Labels: mod:i18n, test, app:core

#4791 feat(server): sync data with ack
  packages/backend/server/src/metrics/utils.ts
  packages/backend/server/src/modules/doc/manager.ts
  packages/backend/server/src/modules/sync/events/error.ts
  packages/backend/server/src/modules/sync/events/events.gateway.ts
  packages/backend/server/tests/doc.spec.ts
  packages/frontend/workspace/package.json
  packages/frontend/workspace/src/affine/batch-sync-sender.ts
  packages/frontend/workspace/src/affine/crud.ts
  packages/frontend/workspace/src/affine/index.ts
  packages/frontend/workspace/src/providers/index.ts
  yarn.lock
Labels: mod:workspace, app:server, test

#4801 chore: bump blocksuite
  packages/common/env/package.json
  packages/common/infra/package.json
  packages/common/sdk/package.json
  packages/common/y-indexeddb/package.json
  packages/common/y-provider/package.json
  packages/frontend/component/package.json
  packages/frontend/component/src/components/block-suite-editor/index.tsx
  packages/frontend/core/package.json
  packages/frontend/core/src/components/page-detail-editor.tsx
  packages/frontend/electron/package.json
  packages/frontend/hooks/package.json
  tests/affine-legacy/0.7.0-canary.18/package.json
  tests/affine-legacy/0.8.0-canary.7/package.json
  tests/affine-legacy/0.8.4/package.json
  tests/affine-migration/package.json
  tests/kit/playwright.ts
  tests/storybook/package.json
  yarn.lock
Labels: mod:infra, mod:hooks, mod:env, mod:component, app:electron, package:y-indexeddb, test, app:core, mod:sdk

#4819 fix(server): remove awareness states cache
  packages/backend/server/src/utils/doc.ts
  packages/frontend/workspace/src/affine/index.ts
Labels: mod:workspace, app:server

#4817 feat(core): remove `mode` and `pages` field from Collection
  packages/common/env/src/filter.ts
  packages/frontend/component/src/components/page-list/use-collection-manager.ts
  packages/frontend/component/src/components/page-list/view/collection-bar.tsx
  packages/frontend/component/src/components/page-list/view/collection-list.tsx
  packages/frontend/component/src/components/page-list/view/edit-collection.tsx
  packages/frontend/component/src/components/page-list/view/edit-collection/edit-collection.css.ts
  packages/frontend/component/src/components/page-list/view/edit-collection/edit-collection.tsx
  packages/frontend/component/src/components/page-list/view/edit-collection/hooks.tsx
  packages/frontend/component/src/components/page-list/view/edit-collection/pages-mode.tsx
  packages/frontend/component/src/components/page-list/view/edit-collection/rules-mode.tsx
  packages/frontend/component/src/components/page-list/view/edit-collection/select-page.tsx
  packages/frontend/component/src/components/page-list/view/index.ts
  packages/frontend/component/src/components/page-list/view/use-edit-collection.tsx
  packages/frontend/core/src/atoms/collections.ts
  packages/frontend/core/src/components/pure/workspace-slider-bar/collections/collections-list.tsx
  packages/frontend/core/src/components/workspace-header.tsx
  packages/frontend/core/src/pages/workspace/collection.tsx
  packages/frontend/core/src/pages/workspace/pages.tsx
  packages/frontend/core/src/utils/workspace-setting.ts
  packages/frontend/i18n/src/resources/en.json
Labels: mod:i18n, mod:env, mod:component, mod:store, app:core

#4802 feat(core): add jump to block for cmdk
  packages/frontend/core/src/components/page-detail-editor.tsx
  packages/frontend/core/src/components/pure/cmdk/data.tsx
  packages/frontend/core/src/hooks/use-navigate-helper.ts
  tests/affine-local/e2e/quick-search.spec.ts
Labels: test, app:core

#4820 fix(server): do not return subscription if not active
  packages/backend/server/src/modules/payment/resolver.ts
Labels: app:server

#4775 refactor(component): virtual rendering page list
  packages/frontend/component/package.json
  packages/frontend/component/src/components/page-list/components/floating-toobar.tsx
  packages/frontend/component/src/components/page-list/index.tsx
  packages/frontend/component/src/components/page-list/page-group.css.ts
  packages/frontend/component/src/components/page-list/page-group.tsx
  packages/frontend/component/src/components/page-list/page-header.tsx
  packages/frontend/component/src/components/page-list/page-list-item.tsx
  packages/frontend/component/src/components/page-list/page-list.css.ts
  packages/frontend/component/src/components/page-list/page-list.tsx
  packages/frontend/component/src/components/page-list/page-tags.tsx
  packages/frontend/component/src/components/page-list/scoped-atoms.tsx
  packages/frontend/component/src/components/page-list/types.ts
  packages/frontend/component/src/components/page-list/use-page-selection-events.ts
  packages/frontend/component/src/components/page-list/use-sorter.ts
  packages/frontend/component/src/components/page-list/utils.tsx
  packages/frontend/component/src/components/page-list/view/edit-collection/pages-mode.tsx
  packages/frontend/component/src/components/page-list/view/edit-collection/rules-mode.tsx
  packages/frontend/component/src/components/page-list/view/edit-collection/select-page.tsx
  packages/frontend/component/src/components/page-list/virtualized-page-list.tsx
  packages/frontend/component/src/ui/checkbox/checkbox.tsx
  packages/frontend/component/src/ui/scrollbar/index.css.ts
  packages/frontend/component/src/ui/scrollbar/index.ts
  packages/frontend/component/src/ui/scrollbar/scrollable.tsx
  packages/frontend/core/src/components/pure/workspace-slider-bar/user-with-workspace-list/workspace-list/index.css.ts
  packages/frontend/core/src/pages/workspace/all-page.css.ts
  packages/frontend/core/src/pages/workspace/all-page.tsx
  packages/frontend/core/src/pages/workspace/trash-page.tsx
  packages/frontend/i18n/src/resources/en.json
  tests/affine-local/e2e/all-page.spec.ts
  tests/affine-local/e2e/local-first-workspace-list.spec.ts
  tests/kit/utils/filter.ts
  tests/storybook/src/stories/page-list.stories.tsx
  yarn.lock
Labels: mod:i18n, mod:component, test, app:core

#4818 fix(component): flex setting-modal header & footer
  packages/frontend/component/src/components/setting-components/share.css.ts
  packages/frontend/core/src/components/affine/setting-modal/general-setting/plans/style.css.ts
  packages/frontend/core/src/components/affine/setting-modal/index.tsx
  packages/frontend/core/src/components/affine/setting-modal/style.css.ts
Labels: mod:component, app:core

#4826 fix(server): only treat active subscription as existing
  packages/backend/server/src/modules/payment/service.ts
Labels: app:server

#4821 fix(core): remove responsive editor width
  packages/frontend/component/src/components/workspace/index.css.ts
Labels: ui-style, mod:component

#4829 chore(i18n): add new key for empty trash page
  packages/frontend/core/src/pages/workspace/page-list-empty.tsx
  packages/frontend/i18n/src/resources/en.json
Labels: mod:i18n, app:core

#4824 fix(core): implement pricing plans scroll area with radix
  packages/frontend/core/src/components/affine/setting-modal/general-setting/plans/layout.css.ts
  packages/frontend/core/src/components/affine/setting-modal/general-setting/plans/layout.tsx
  packages/frontend/core/src/components/affine/setting-modal/index.tsx
  packages/frontend/core/src/components/affine/setting-modal/setting-sidebar/index.tsx
Labels: app:core

#4834 perf(core): load all pages after 10s
  packages/common/infra/package.json
  packages/frontend/core/src/components/pure/workspace-slider-bar/favorite/favorite-list.tsx
  packages/frontend/core/src/layouts/workspace-layout.tsx
  packages/frontend/hooks/package.json
  packages/frontend/hooks/src/use-block-suite-workspace-page.ts
  packages/frontend/hooks/tsconfig.json
  yarn.lock
Labels: mod:infra, mod:hooks, app:core

#4839 fix(core): payment UI fix
  packages/frontend/component/src/components/notification-center/icons.tsx
  packages/frontend/component/src/components/notification-center/index.tsx
  packages/frontend/core/src/components/affine/setting-modal/general-setting/plans/index.tsx
  packages/frontend/core/src/components/affine/setting-modal/general-setting/plans/plan-card.tsx
Labels: mod:component, app:core

#4744 feat(core): payment plans error boundary
  packages/frontend/core/.webpack/config.ts
  packages/frontend/core/project.json
  packages/frontend/core/src/components/affine/auth/user-plan-button.tsx
  packages/frontend/core/src/components/affine/setting-modal/general-setting/billing/index.tsx
  packages/frontend/core/src/components/affine/setting-modal/general-setting/plans/index.tsx
  packages/frontend/core/src/components/affine/setting-modal/general-setting/plans/style.css.ts
  packages/frontend/core/src/components/pure/swr-error-bundary.tsx
  packages/frontend/i18n/src/resources/en.json
Labels: mod:i18n, app:core

#4836 refactor(server): separate page visibility from workspace permission
  packages/backend/server/migrations/20231103080802_permission/migration.sql
  packages/backend/server/schema.prisma
  packages/backend/server/src/data/commands/create.ts
  packages/backend/server/src/data/commands/run.ts
  packages/backend/server/src/data/migrations/1699005339766-page-permission.ts
  packages/backend/server/src/modules/sync/events/events.gateway.ts
  packages/backend/server/src/modules/workspaces/index.ts
  packages/backend/server/src/modules/workspaces/permission.ts
  packages/backend/server/src/modules/workspaces/resolver.ts
  packages/backend/server/src/schema.gql
  packages/backend/server/tests/mailer.spec.ts
  packages/backend/server/tests/utils.ts
  packages/backend/server/tests/workspace-invite.e2e.ts
  packages/backend/server/tests/workspace-usage.spec.ts
  packages/backend/server/tests/workspace.e2e.ts
  packages/frontend/graphql/src/graphql/index.ts
  packages/frontend/graphql/src/graphql/workspace-invite-accept-by-workspace-id.gql
  packages/frontend/graphql/src/schema.ts
  tests/kit/utils/cloud.ts
Labels: app:server, test

#4832 chore(i18n): adjust text
  packages/frontend/core/src/components/affine/setting-modal/general-setting/plans/index.tsx
  packages/frontend/i18n/src/resources/en.json
Labels: mod:i18n, app:core

#4831 feat(core): adjust filter logic
  packages/frontend/core/src/components/pure/cmdk/data.tsx
Labels: app:core

#4833 feat(core): temporary expansion files are limited to 100M
  packages/frontend/component/src/components/block-suite-editor/index.tsx
  packages/frontend/component/src/components/block-suite-editor/preset.ts
  packages/frontend/core/src/components/affine/new-workspace-setting-detail/profile.tsx
  packages/frontend/core/src/components/affine/setting-modal/account-setting/index.tsx
  packages/frontend/hooks/package.json
  packages/frontend/hooks/src/use-block-suite-workspace-avatar-url.ts
  yarn.lock
Labels: mod:hooks, mod:component, app:core

#4845 fix(core): adapt blob in sqlite for svg type
  packages/frontend/workspace/package.json
  packages/frontend/workspace/src/blob/cloud-blob-storage.ts
  packages/frontend/workspace/src/blob/sqlite-blob-storage.ts
  packages/frontend/workspace/src/blob/util.ts
  yarn.lock
Labels: mod:workspace

#4847 fix(core): adjust discount display
  packages/frontend/core/src/components/affine/setting-modal/general-setting/plans/index.tsx
Labels: app:core

#4844 fix(server): failed to share again if disable once
  packages/backend/server/src/modules/workspaces/permission.ts
Labels: app:server

#4846 fix(server): avoid server overloading by too many updates
  packages/backend/server/src/modules/doc/manager.ts
  packages/backend/server/src/modules/doc/redis-manager.ts
Labels: app:server

#4852 fix(electron): add search to proxied url
  packages/frontend/electron/src/main/protocol.ts
Labels: app:electron

#4850 feat(core): implement parts of workspace upgrade design
  packages/frontend/core/src/components/workspace-upgrade/index.tsx
  packages/frontend/core/src/components/workspace-upgrade/upgrade-hooks.ts
  packages/frontend/core/src/components/workspace-upgrade/upgrade-icon.tsx
  packages/frontend/core/src/components/workspace-upgrade/upgrade.css.ts
  packages/frontend/core/src/components/workspace-upgrade/upgrade.tsx
  packages/frontend/core/src/layouts/workspace-layout.tsx
  packages/frontend/i18n/src/resources/en.json
  tests/affine-cloud/e2e/basic.spec.ts
Labels: mod:i18n, test, app:core

#4849 docs: update behind-the-code.md
  docs/contributing/behind-the-code.md
Labels: docs

#4848 docs: update CONTRIBUTING.md
  docs/CONTRIBUTING.md
Labels: docs

#4859 fix(server): avoid saving invalid data
  packages/backend/server/src/modules/doc/manager.ts
Labels: app:server

#4855 fix(server): wrong data migration
  packages/backend/server/src/data/commands/run.ts
  packages/backend/server/src/data/migrations/1699005339766-page-permission.ts
Labels: app:server

#4860 chore(server): decrease amount of batch updates merging
  packages/backend/server/src/modules/doc/manager.ts
Labels: app:server

#4827 fix(core): improve the UX for edit collection
  packages/common/cmdk/src/index.tsx
  packages/frontend/component/src/components/page-list/filter/multi-select.tsx
  packages/frontend/component/src/components/page-list/view/affine-shape.tsx
  packages/frontend/component/src/components/page-list/view/create-collection.tsx
  packages/frontend/component/src/components/page-list/view/edit-collection/edit-collection.tsx
  packages/frontend/component/src/components/page-list/view/edit-collection/rules-mode.tsx
  tests/kit/utils/filter.ts
Labels: mod:component, test

#4864 fix(core): duplicate registration in edgeless
  packages/frontend/core/src/hooks/use-register-workspace-commands.ts
  packages/frontend/core/src/pages/workspace/detail-page.tsx
Labels: app:core

#4857 chore: fix code style issues
  packages/common/infra/src/__internal__/react.ts
  packages/common/infra/vite.config.ts
  packages/frontend/component/src/components/notification-center/index.jotai.ts
  packages/frontend/component/src/components/notification-center/index.tsx
  packages/frontend/component/src/components/page-list/operation-menu-items/export.tsx
  packages/frontend/component/src/components/provider-composer/__tests__/provider-composer.spec.tsx
  packages/frontend/component/src/components/share-menu/share-page.tsx
  packages/frontend/component/src/components/workspace-list/index.tsx
  packages/frontend/component/src/ui/popper/popper.tsx
  packages/frontend/component/src/ui/tree-view/tree-node-inner.tsx
  packages/frontend/core/src/adapters/cloud/ui.tsx
  packages/frontend/core/src/adapters/local/index.tsx
  packages/frontend/core/src/adapters/public-cloud/ui.tsx
  packages/frontend/core/src/components/affine/auth/use-captcha.tsx
  packages/frontend/core/src/components/affine/auth/user-plan-button.tsx
  packages/frontend/core/src/components/affine/new-workspace-setting-detail/export.tsx
  packages/frontend/core/src/components/affine/setting-modal/account-setting/index.tsx
  packages/frontend/core/src/components/affine/setting-modal/general-setting/plans/index.tsx
  packages/frontend/core/src/components/affine/setting-modal/general-setting/plans/plan-card.tsx
  packages/frontend/core/src/components/blocksuite/block-suite-header-title/operation-menu.tsx
  packages/frontend/core/src/components/cloud/provider.tsx
  packages/frontend/core/src/components/page-detail-editor.tsx
  packages/frontend/core/src/components/pure/footer/index.tsx
  packages/frontend/core/src/components/root-app-sidebar/index.tsx
  packages/frontend/core/src/layouts/workspace-layout.tsx
  packages/frontend/core/src/pages/workspace/all-page.tsx
  packages/frontend/core/src/pages/workspace/trash-page.tsx
  packages/frontend/workspace/src/affine/worker.ts
  tests/storybook/src/stories/app-sidebar.stories.tsx
  tests/storybook/src/stories/quick-search/quick-search-modal.stories.tsx
Labels: mod:infra, mod:workspace, mod:component, test, app:core

#4862 chore: bump blocksuite version
  packages/common/env/package.json
  packages/common/infra/package.json
  packages/common/sdk/package.json
  packages/common/y-indexeddb/package.json
  packages/common/y-provider/package.json
  packages/frontend/component/package.json
  packages/frontend/core/package.json
  packages/frontend/core/src/bootstrap/plugins/setup.ts
  packages/frontend/core/src/components/affine/new-workspace-setting-detail/export.tsx
  packages/frontend/core/src/hooks/use-workspace-blob.ts
  packages/frontend/electron/package.json
  packages/frontend/hooks/package.json
  packages/frontend/hooks/src/use-block-suite-workspace-avatar-url.ts
  packages/plugins/image-preview/src/component/index.tsx
  tests/affine-legacy/0.7.0-canary.18/package.json
  tests/affine-legacy/0.8.0-canary.7/package.json
  tests/affine-legacy/0.8.4/package.json
  tests/affine-migration/package.json
  tests/storybook/.storybook/main.ts
  tests/storybook/package.json
  tests/storybook/src/stories/image-preview-modal.stories.tsx
  yarn.lock
Labels: mod:infra, mod:hooks, mod:env, mod:component, app:electron, package:y-indexeddb, test, mod:plugin, app:core, mod:sdk

#4871 chore: update delete icon
  packages/frontend/component/src/ui/lottie/delete-icon.json
Labels: mod:component

#4880 chore(component): bump bs
  packages/common/env/package.json
  packages/common/infra/package.json
  packages/common/sdk/package.json
  packages/common/y-indexeddb/package.json
  packages/common/y-provider/package.json
  packages/frontend/component/package.json
  packages/frontend/core/package.json
  packages/frontend/electron/package.json
  packages/frontend/hooks/package.json
  tests/affine-legacy/0.7.0-canary.18/package.json
  tests/affine-legacy/0.8.0-canary.7/package.json
  tests/affine-legacy/0.8.4/package.json
  tests/affine-migration/package.json
  tests/storybook/package.json
  yarn.lock
Labels: mod:infra, mod:hooks, mod:env, mod:component, app:electron, package:y-indexeddb, test, app:core, mod:sdk

#4870 fix(component): dragged component disappear when dragging
  packages/frontend/core/src/layouts/workspace-layout.tsx
Labels: app:core

#4882 fix(core): visit /signin pay when already logged and subscribed
  packages/frontend/core/src/components/affine/auth/subscription-redirect.css.ts
  packages/frontend/core/src/components/affine/auth/subscription-redirect.tsx
  packages/frontend/core/src/pages/sign-in.tsx
  packages/frontend/i18n/src/resources/en.json
Labels: mod:i18n, app:core

#4883 fix(server): token set with id instead of email
  packages/backend/server/src/modules/auth/resolver.ts
Labels: app:server

#4863 fix(hooks): missing page preview and references
  packages/frontend/hooks/src/use-block-suite-page-preview.ts
  packages/frontend/hooks/src/use-block-suite-page-references.ts
Labels: mod:hooks

#4884 feat(core): unify all new created page IDs to nanoid
  packages/frontend/core/src/components/blocksuite/block-suite-page-list/utils.tsx
  packages/frontend/core/src/layouts/workspace-layout.tsx
  packages/frontend/hooks/src/use-block-suite-workspace-helper.ts
  packages/frontend/workspace/src/manager/index.ts
Labels: mod:workspace, mod:hooks, app:core

#4891 perf(server): avoid auto select blob data when upsert
  packages/backend/server/src/modules/doc/manager.ts
Labels: app:server

#4892 feat(core): support signup set password before goto stripe payment url
  packages/frontend/component/src/components/auth-components/change-password-page.tsx
  packages/frontend/component/src/components/auth-components/set-password-page.tsx
  packages/frontend/component/src/components/auth-components/sign-up-page.tsx
  packages/frontend/core/src/components/affine/auth/subscription-redirect.tsx
  packages/frontend/core/src/components/affine/auth/use-auth.ts
  packages/frontend/core/src/components/affine/auth/use-subscription.ts
  packages/frontend/core/src/pages/auth.tsx
  packages/frontend/i18n/src/resources/en.json
Labels: mod:i18n, mod:component, app:core

#4869 fix(core): select all in page list group header does not need to enable selection
  packages/frontend/component/src/components/page-list/components/floating-toobar.tsx
  packages/frontend/component/src/components/page-list/page-group.tsx
  packages/frontend/component/src/components/page-list/page-header.tsx
  packages/frontend/core/src/pages/workspace/all-page.tsx
  tests/affine-local/e2e/all-page.spec.ts
Labels: mod:component, test, app:core

#4894 chore: disable outline, copilot and hello world plugin
  packages/common/env/src/global.ts
  packages/common/infra/src/__internal__/plugin.ts
  packages/frontend/core/.webpack/runtime-config.ts
Labels: mod:infra, mod:env

#4895 ci: adjust the beta cluster configuration
  .github/actions/deploy/deploy.mjs
  .github/helm/affine/charts/graphql/templates/deployment.yaml
  .github/helm/affine/charts/graphql/values.yaml
  packages/backend/server/src/config/default.ts
Labels: app:server

#4896 chore: add performance logger
  packages/common/debug/src/index.ts
  packages/frontend/core/src/app.tsx
  packages/frontend/core/src/bootstrap/setup.ts
  packages/frontend/core/src/index.tsx
  packages/frontend/core/src/pages/workspace/all-page.tsx
  packages/frontend/core/src/pages/workspace/detail-page.tsx
  packages/frontend/core/src/pages/workspace/index.tsx
  packages/frontend/core/src/shared/index.ts
  packages/frontend/workspace/src/affine/sync.ts
  packages/frontend/workspace/src/atom.ts
Labels: mod:workspace, mod:dev, app:core

#4898 fix(server): earlyAccessPreview env override
  packages/backend/server/src/config/default.ts
Labels: app:server

#4897 fix(core): disable sync doc/blob on start
  packages/frontend/core/src/adapters/workspace.ts
  packages/frontend/hooks/src/use-block-suite-workspace-page.ts
Labels: mod:hooks, app:core

#4893 chore(server): bump octobase versions
  Cargo.lock
  packages/backend/storage/Cargo.toml
  packages/frontend/native/Cargo.toml
Labels: rust, mod:storage, mod:native

#4830 fix(hooks): push success toast after save
  packages/frontend/core/src/hooks/affine/use-export-page.ts
Labels: app:core

#4858 feat(core): auto select block when jump to block
  packages/frontend/component/src/components/block-hub/index.tsx
  packages/frontend/component/src/components/block-suite-editor/index.tsx
  packages/frontend/core/src/adapters/cloud/ui.tsx
  packages/frontend/core/src/adapters/local/index.tsx
  packages/frontend/core/src/adapters/public-cloud/ui.tsx
  packages/frontend/core/src/components/page-detail-editor.tsx
  packages/frontend/core/src/layouts/workspace-layout.tsx
  packages/frontend/core/src/pages/share/detail-page.tsx
  tests/affine-local/e2e/quick-search.spec.ts
  tests/storybook/src/stories/image-preview-modal.stories.tsx
Labels: mod:component, test, app:core

#4840 feat(core): add global loading state
  packages/frontend/component/src/components/global-loading/index.css.ts
  packages/frontend/component/src/components/global-loading/index.jotai.ts
  packages/frontend/component/src/components/global-loading/index.tsx
  packages/frontend/core/src/app.tsx
  packages/frontend/core/src/hooks/affine/use-export-page.ts
Labels: mod:component, app:core

#4901 chore: bump blocksuite
  packages/common/env/package.json
  packages/common/infra/package.json
  packages/common/sdk/package.json
  packages/common/y-indexeddb/package.json
  packages/common/y-provider/package.json
  packages/frontend/component/package.json
  packages/frontend/core/package.json
  packages/frontend/electron/package.json
  packages/frontend/hooks/package.json
  tests/affine-legacy/0.7.0-canary.18/package.json
  tests/affine-legacy/0.8.0-canary.7/package.json
  tests/affine-legacy/0.8.4/package.json
  tests/affine-migration/package.json
  tests/storybook/package.json
  yarn.lock
Labels: mod:infra, mod:hooks, mod:env, mod:component, app:electron, package:y-indexeddb, test, app:core, mod:sdk

#4886 fix(core): svg blob syncing issue
  packages/frontend/workspace/src/blob/cloud-blob-storage.ts
  packages/frontend/workspace/src/blob/local-static-storage.ts
  packages/frontend/workspace/src/blob/sqlite-blob-storage.ts
  packages/frontend/workspace/src/blob/util.ts
  tests/affine-cloud/e2e/collaboration.spec.ts
  tests/kit/utils/drop-file.ts
Labels: mod:workspace, test

#4904 chore: bump theme
  packages/frontend/component/package.json
  packages/plugins/image-preview/package.json
  yarn.lock
Labels: mod:component, mod:plugin

#4662 ci(core): eslint errors for core
  .eslintrc.js
  packages/frontend/component/package.json
  packages/frontend/component/src/components/app-sidebar/index.tsx
  packages/frontend/core/package.json
  packages/frontend/core/src/atoms/collections.ts
  packages/frontend/core/src/components/affine/auth/after-sign-in-send-email.tsx
  packages/frontend/core/src/components/affine/auth/after-sign-up-send-email.tsx
  packages/frontend/core/src/components/affine/auth/send-email.tsx
  packages/frontend/core/src/components/affine/auth/sign-in-with-password.tsx
  packages/frontend/core/src/components/affine/auth/sign-in.tsx
  packages/frontend/core/src/components/affine/auth/subscription-redirect.tsx
  packages/frontend/core/src/components/affine/create-workspace-modal/index.tsx
  packages/frontend/core/src/components/affine/enable-affine-cloud-modal/index.tsx
  packages/frontend/core/src/components/affine/new-workspace-setting-detail/export.tsx
  packages/frontend/core/src/components/affine/new-workspace-setting-detail/profile.tsx
  packages/frontend/core/src/components/affine/new-workspace-setting-detail/publish.tsx
  packages/frontend/core/src/components/affine/setting-modal/account-setting/index.tsx
  packages/frontend/core/src/components/affine/setting-modal/general-setting/billing/index.tsx
  packages/frontend/core/src/components/affine/setting-modal/general-setting/plans/actions.tsx
  packages/frontend/core/src/components/affine/setting-modal/general-setting/plans/plan-card.tsx
  packages/frontend/core/src/components/affine/setting-modal/workspace-setting/index.tsx
  packages/frontend/core/src/components/blocksuite/block-suite-header-title/operation-menu.tsx
  packages/frontend/core/src/components/blocksuite/block-suite-page-list/utils.tsx
  packages/frontend/core/src/components/cloud/login-card.tsx
  packages/frontend/core/src/components/pure/cmdk/data.tsx
  packages/frontend/core/src/components/pure/cmdk/main.tsx
  packages/frontend/core/src/components/pure/workspace-slider-bar/collections/collections-list.tsx
  packages/frontend/core/src/components/pure/workspace-slider-bar/favorite/add-favourite-button.tsx
  packages/frontend/core/src/components/pure/workspace-slider-bar/user-with-workspace-list/index.tsx
  packages/frontend/core/src/components/pure/workspace-slider-bar/user-with-workspace-list/workspace-list/index.tsx
  packages/frontend/core/src/components/root-app-sidebar/index.tsx
  packages/frontend/core/src/components/workspace-header.tsx
  packages/frontend/core/src/hooks/affine/use-language-helper.ts
  packages/frontend/core/src/hooks/affine/use-register-blocksuite-editor-commands.tsx
  packages/frontend/core/src/hooks/root/use-on-transform-workspace.ts
  packages/frontend/core/src/hooks/use-subscription.ts
  packages/frontend/core/src/layouts/workspace-layout.tsx
  packages/frontend/core/src/pages/404.tsx
  packages/frontend/core/src/pages/workspace/collection.tsx
  packages/frontend/core/src/providers/modal-provider.tsx
  packages/frontend/core/src/providers/session-provider.tsx
  packages/frontend/graphql/package.json
  packages/frontend/hooks/src/affine-async-hooks.ts
  yarn.lock
Labels: mod:hooks, mod:component, mod:store, app:core

#4908 fix(server): increase server acceptable websocket payload size
  packages/backend/server/src/modules/sync/events/events.gateway.ts
Labels: app:server

#4911 fix(electron): dev reload
  packages/frontend/electron/package.json
  packages/frontend/electron/scripts/dev.ts
  packages/frontend/electron/src/main/logger.ts
  packages/frontend/electron/src/main/updater/electron-updater.ts
  yarn.lock
Labels: app:electron

#4888 fix: get page preview based on block order
  packages/frontend/hooks/src/__tests__/index.spec.ts
  packages/frontend/hooks/src/use-block-suite-page-preview.ts
Labels: mod:hooks, test

#4915 fix: cherry pick hotfix back to master
  .github/workflows/build.yml
  packages/backend/server/src/modules/sync/events/events.gateway.ts
Labels: app:server

#4922 fix(server): wrap updates applying in a transaction
  packages/backend/server/src/modules/doc/manager.ts
Labels: app:server

#4921 test(e2e): add subdoc migration test
  tests/affine-legacy/0.6.1-beta.1/.gitignore
  tests/affine-legacy/0.6.1-beta.1/README.md
  tests/affine-legacy/0.6.1-beta.1/e2e/basic.spec.ts
  tests/affine-legacy/0.6.1-beta.1/package.json
  tests/affine-legacy/0.6.1-beta.1/playwright.config.ts
  tests/affine-legacy/0.6.1-beta.1/tsconfig.json
  tests/affine-migration/e2e/basic.spec.ts
  tests/fixtures/legacy/0.6.1-beta.1/idb.bin
  tests/fixtures/legacy/0.6.1-beta.1/idb.json
  tests/fixtures/legacy/0.6.1-beta.1/idb_index.json
  tests/fixtures/legacy/0.6.1-beta.1/local-storage.json
  tsconfig.json
  yarn.lock
Labels: docs, test

#4924 fix(storybook): page tags display
  packages/frontend/component/src/components/page-list/page-tags.css.ts
  packages/frontend/component/src/components/page-list/page-tags.tsx
  tests/storybook/src/stories/page-list.stories.tsx
Labels: mod:component, test

#4926 fix(core): change server url of stable to insider (#4902)
  packages/frontend/core/src/pages/workspace/index.tsx
Labels: mod:infra, docs, mod:workspace, mod:i18n, mod:hooks, mod:env, mod:component, app:electron, mod:dev, package:y-indexeddb, app:server, plugin:copilot, test, mod:plugin, mod:storage, mod:native, app:core, mod:plugin-cli, mod:sdk

#4932 feat: fix change password when login with oauth
  packages/backend/server/src/modules/auth/next-auth-options.ts
  packages/backend/server/src/modules/auth/resolver.ts
Labels: app:server

#4934 fix: change password token check
  packages/backend/server/src/modules/auth/next-auth-options.ts
  packages/backend/server/src/modules/auth/resolver.ts
Labels: app:server

#4935 perf(component): use png instead of svg for rendering noise svg
  packages/frontend/component/src/components/workspace/index.css.ts
  packages/frontend/component/src/theme/global.css
  packages/frontend/component/src/theme/noise.png
Labels: mod:component

#4936 fix(infra): workspace migration without blockVersions
  packages/common/infra/src/blocksuite/index.ts
  packages/frontend/workspace/src/atom.ts
Labels: mod:infra, mod:workspace

#4948 chore: change default branch to canary
  .github/ISSUE_TEMPLATE/BUG-REPORT.yml
  .github/ISSUE_TEMPLATE/FEATURE-REQUEST.yml
  .github/workflows/build-desktop.yml
  .github/workflows/build-server.yml
  .github/workflows/build.yml
  .github/workflows/codeql.yml
  .github/workflows/helm-releaser.yml
  .github/workflows/label-checker.yml
  .github/workflows/languages-sync.yml
  .github/workflows/pr-title-lint.yml
  .github/workflows/publish-storybook.yml
  .github/workflows/release.yml
  .github/workflows/workers.yml
  README.md
  docs/CONTRIBUTING.md
  docs/contributing/releases.md
  nx.json
  package.json
  packages/common/y-indexeddb/README.md
  scripts/notify.mjs
  tests/storybook/src/stories/introduction.stories.mdx
Labels: docs, mod:dev, package:y-indexeddb, test

#4856 feat(core): support share edgeless mode
  packages/backend/server/src/modules/workspaces/controller.ts
  packages/frontend/component/src/components/disable-public-link/index.tsx
  packages/frontend/component/src/components/page-list/operation-menu-items/disable-public-sharing.tsx
  packages/frontend/component/src/components/share-menu/index.tsx
  packages/frontend/component/src/components/share-menu/styles.ts
  packages/frontend/core/src/atoms/index.ts
  packages/frontend/core/src/components/affine/share-page-modal/index.tsx
  packages/frontend/core/src/components/affine/share-page-modal/share-menu/index.css.ts
  packages/frontend/core/src/components/affine/share-page-modal/share-menu/index.jotai.ts
  packages/frontend/core/src/components/affine/share-page-modal/share-menu/index.tsx
  packages/frontend/core/src/components/affine/share-page-modal/share-menu/share-export.tsx
  packages/frontend/core/src/components/affine/share-page-modal/share-menu/share-menu.tsx
  packages/frontend/core/src/components/affine/share-page-modal/share-menu/share-page.tsx
  packages/frontend/core/src/components/affine/share-page-modal/share-menu/use-share-url.ts
  packages/frontend/core/src/components/blocksuite/block-suite-header-title/index.tsx
  packages/frontend/core/src/components/blocksuite/block-suite-mode-switch/index.tsx
  packages/frontend/core/src/components/cloud/share-header-left-item/index.tsx
  packages/frontend/core/src/components/cloud/share-header-left-item/styles.css.ts
  packages/frontend/core/src/components/cloud/share-header-left-item/user-avatar.tsx
  packages/frontend/core/src/components/cloud/share-header-right-item/authenticated-item.tsx
  packages/frontend/core/src/components/cloud/share-header-right-item/index.tsx
  packages/frontend/core/src/components/cloud/share-header-right-item/styles.css.ts
  packages/frontend/core/src/components/page-detail-editor.tsx
  packages/frontend/core/src/components/share-header.tsx
  packages/frontend/core/src/components/share-page-not-found-error.css.ts
  packages/frontend/core/src/hooks/affine/use-is-shared-page.ts
  packages/frontend/core/src/pages/share/detail-page.tsx
  packages/frontend/graphql/src/graphql/get-workspace-public-pages.gql
  packages/frontend/graphql/src/graphql/get-workspace-shared-pages.gql
  packages/frontend/graphql/src/graphql/index.ts
  packages/frontend/graphql/src/graphql/public-page.gql
  packages/frontend/graphql/src/graphql/revoke-page.gql
  packages/frontend/graphql/src/graphql/revoke-public-page.gql
  packages/frontend/graphql/src/graphql/share-page.gql
  packages/frontend/graphql/src/schema.ts
  packages/frontend/i18n/src/resources/en.json
  packages/frontend/workspace/src/providers/cloud/index.ts
  tests/affine-cloud/e2e/collaboration.spec.ts
  tests/storybook/src/stories/share-menu.stories.tsx
Labels: mod:workspace, mod:i18n, mod:component, mod:store, app:server, test, app:core

#4946 fix(component): replace png with avif
  .github/ISSUE_TEMPLATE/BUG-REPORT.yml
  .github/ISSUE_TEMPLATE/FEATURE-REQUEST.yml
  .github/workflows/build-desktop.yml
  .github/workflows/build-server.yml
  .github/workflows/build.yml
  .github/workflows/codeql.yml
  .github/workflows/helm-releaser.yml
  .github/workflows/label-checker.yml
  .github/workflows/languages-sync.yml
  .github/workflows/pr-title-lint.yml
  .github/workflows/publish-storybook.yml
  .github/workflows/release.yml
  .github/workflows/workers.yml
  README.md
  docs/CONTRIBUTING.md
  docs/contributing/releases.md
  nx.json
  package.json
  packages/common/y-indexeddb/README.md
  packages/frontend/component/src/theme/global.css
  packages/frontend/component/src/theme/noise.avif
  packages/frontend/component/src/theme/noise.png
  scripts/notify.mjs
  tests/storybook/src/stories/introduction.stories.mdx
Labels: docs, mod:component, mod:dev, package:y-indexeddb, test

#4950 fix(infra): page id compat fix for page ids in workspace.meta
  packages/common/infra/src/blocksuite/index.ts
Labels: mod:infra

#4953 fix(component): lottie icon color hack
  packages/frontend/component/src/ui/lottie/collections-icon.css.ts
  packages/frontend/component/src/ui/lottie/collections-icon.tsx
  packages/frontend/component/src/ui/lottie/delete-icon.css.tsx
  packages/frontend/component/src/ui/lottie/delete-icon.tsx
  packages/frontend/component/src/ui/lottie/styles.css.ts
Labels: mod:component

#4958 chore: bump blocksuite
  packages/common/env/package.json
  packages/common/infra/package.json
  packages/common/sdk/package.json
  packages/common/y-indexeddb/package.json
  packages/common/y-indexeddb/src/__tests__/index.spec.ts
  packages/common/y-provider/package.json
  packages/frontend/component/package.json
  packages/frontend/core/package.json
  packages/frontend/electron/package.json
  packages/frontend/hooks/package.json
  packages/frontend/hooks/src/__tests__/index.spec.ts
  packages/frontend/workspace/src/providers/__tests__/indexeddb-provider.spec.ts
  tests/affine-legacy/0.6.1-beta.1/package.json
  tests/affine-legacy/0.7.0-canary.18/package.json
  tests/affine-legacy/0.8.0-canary.7/package.json
  tests/affine-legacy/0.8.4/package.json
  tests/affine-migration/package.json
  tests/storybook/package.json
  yarn.lock
Labels: mod:infra, mod:workspace, mod:hooks, mod:env, mod:component, app:electron, package:y-indexeddb, test, app:core, mod:sdk

#4959 chore: bump affine version to 0.10.2
  package.json
  packages/backend/server/package.json
  packages/backend/storage/package.json
  packages/common/cmdk/package.json
  packages/common/debug/package.json
  packages/common/env/package.json
  packages/common/infra/package.json
  packages/common/sdk/package.json
  packages/common/y-indexeddb/package.json
  packages/common/y-provider/package.json
  packages/frontend/component/package.json
  packages/frontend/core/package.json
  packages/frontend/electron/package.json
  packages/frontend/graphql/package.json
  packages/frontend/hooks/package.json
  packages/frontend/i18n/package.json
  packages/frontend/native/package.json
  packages/frontend/templates/package.json
  packages/frontend/workspace/package.json
  packages/plugins/copilot/package.json
  packages/plugins/hello-world/package.json
  packages/plugins/image-preview/package.json
  packages/plugins/outline/package.json
  packages/plugins/vue-hello-world/package.json
  tests/affine-cloud/package.json
  tests/affine-desktop-cloud/package.json
  tests/affine-desktop/package.json
  tests/affine-legacy/0.6.1-beta.1/package.json
  tests/affine-legacy/0.7.0-canary.18/package.json
  tests/affine-legacy/0.8.0-canary.7/package.json
  tests/affine-legacy/0.8.4/package.json
  tests/affine-local/package.json
  tests/affine-migration/package.json
  tests/affine-plugin/package.json
  tests/fixtures/package.json
  tests/kit/package.json
  tests/storybook/package.json
  tools/@types/env/package.json
  tools/cli/package.json
  tools/plugin-cli/package.json
  tools/workers/package.json
Labels: mod:infra, docs, mod:workspace, mod:i18n, mod:hooks, mod:env, mod:component, app:electron, mod:dev, package:y-indexeddb, app:server, plugin:copilot, test, mod:plugin, mod:storage, mod:native, app:core, mod:plugin-cli, mod:sdk

#4968 fix(server): all viewers can share public link
  packages/backend/server/src/modules/workspaces/resolver.ts
Labels: app:server

#4900 refactor: new provider
  packages/frontend/core/src/adapters/local/index.tsx
  packages/frontend/core/src/components/pure/workspace-slider-bar/workspace-card/index.tsx
  packages/frontend/core/src/components/pure/workspace-slider-bar/workspace-card/styles.ts
  packages/frontend/core/src/components/workspace-upgrade/upgrade-hooks.ts
  packages/frontend/core/src/hooks/current/use-current-sync-engine.ts
  packages/frontend/core/src/hooks/use-datasource-sync.ts
  packages/frontend/core/src/layouts/workspace-layout.tsx
  packages/frontend/core/src/pages/share/detail-page.tsx
  packages/frontend/core/src/pages/workspace/detail-page.tsx
  packages/frontend/core/src/pages/workspace/index.tsx
  packages/frontend/workspace/package.json
  packages/frontend/workspace/src/affine/crud.ts
  packages/frontend/workspace/src/affine/download.ts
  packages/frontend/workspace/src/affine/index.ts
  packages/frontend/workspace/src/affine/sync.ts
  packages/frontend/workspace/src/atom.ts
  packages/frontend/workspace/src/providers/__tests__/indexeddb-provider.spec.ts
  packages/frontend/workspace/src/providers/__tests__/socketio-provider.spec.ts
  packages/frontend/workspace/src/providers/__tests__/sqlite-provider.spec.ts
  packages/frontend/workspace/src/providers/awareness/affine/index.ts
  packages/frontend/workspace/src/providers/awareness/broadcast-channel/index.ts
  packages/frontend/workspace/src/providers/awareness/index.ts
  packages/frontend/workspace/src/providers/cloud/index.ts
  packages/frontend/workspace/src/providers/index.ts
  packages/frontend/workspace/src/providers/logger.ts
  packages/frontend/workspace/src/providers/sqlite-providers.ts
  packages/frontend/workspace/src/providers/storage/affine/batch-sync-sender.ts
  packages/frontend/workspace/src/providers/storage/affine/index.ts
  packages/frontend/workspace/src/providers/storage/index.ts
  packages/frontend/workspace/src/providers/storage/indexeddb/index.ts
  packages/frontend/workspace/src/providers/storage/sqlite/index.ts
  packages/frontend/workspace/src/providers/sync/__tests__/sync.spec.ts
  packages/frontend/workspace/src/providers/sync/engine.ts
  packages/frontend/workspace/src/providers/sync/index.ts
  packages/frontend/workspace/src/providers/sync/peer.ts
  packages/frontend/workspace/src/providers/utils/__tests__/async-queue.spec.ts
  packages/frontend/workspace/src/providers/utils/__tests__/throw-if-aborted.spec.ts
  packages/frontend/workspace/src/providers/utils/affine-io.ts
  packages/frontend/workspace/src/providers/utils/async-queue.ts
  packages/frontend/workspace/src/providers/utils/base64.ts
  packages/frontend/workspace/src/providers/utils/throw-if-aborted.ts
  tests/affine-desktop/e2e/basic.spec.ts
  tests/affine-local/e2e/duplicate-page.spec.ts
  tests/affine-local/e2e/local-first-collections-items.spec.ts
  tests/affine-local/e2e/quick-search.spec.ts
  tests/affine-local/e2e/settings.spec.ts
  tests/kit/utils/workspace.ts
  yarn.lock
Labels: mod:workspace, test, app:core

#4923 feat(i18n): update translation
  packages/frontend/component/src/components/page-list/view/edit-collection/rules-mode.tsx
  packages/frontend/core/src/components/affine/new-workspace-setting-detail/members.tsx
  packages/frontend/core/src/components/affine/setting-modal/general-setting/plans/plan-card.tsx
  packages/frontend/core/src/hooks/affine/use-is-shared-page.ts
  packages/frontend/i18n/src/resources/de.json
  packages/frontend/i18n/src/resources/en.json
  packages/frontend/i18n/src/resources/es.json
  packages/frontend/i18n/src/resources/fr.json
  packages/frontend/i18n/src/resources/index.ts
  packages/frontend/i18n/src/resources/ja.json
  packages/frontend/i18n/src/resources/ko.json
  packages/frontend/i18n/src/resources/pt-BR.json
  packages/frontend/i18n/src/resources/ru.json
  packages/frontend/i18n/src/resources/zh-Hans.json
  packages/frontend/i18n/src/resources/zh-Hant.json
  packages/frontend/i18n/src/scripts/download.ts
Labels: mod:infra, docs, mod:workspace, mod:i18n, mod:hooks, mod:component, app:electron, mod:dev, package:y-indexeddb, mod:store, app:server, test, rust, mod:plugin, app:core

#4974 chore: add devcontainer config
  .devcontainer/Dockerfile
  .devcontainer/build.sh
  .devcontainer/devcontainer.json
  .devcontainer/docker-compose.yml
  .devcontainer/setup-user.sh
  README.md
Labels: docs

#4962 fix(component): stack notification cards expand animation
  packages/frontend/component/src/components/notification-center/index.css.ts
Labels: mod:component

#4960 style(core): update pro plan card style
  packages/frontend/core/src/components/affine/setting-modal/general-setting/plans/layout.css.ts
  packages/frontend/core/src/components/affine/setting-modal/general-setting/plans/plan-card.tsx
  packages/frontend/core/src/components/affine/setting-modal/general-setting/plans/style.css.ts
Labels: app:core

#4972 fix(core): adjust cmdk list scroll padding block
  packages/frontend/core/src/components/pure/cmdk/main.css.ts
Labels: app:core

#4961 feat(core): keep the latest toast showing when multiple call
  packages/frontend/component/src/ui/toast/toast.ts
Labels: mod:component

#4947 fix(core): escape cmdk value
  packages/frontend/core/src/components/pure/cmdk/data.tsx
  tests/affine-local/e2e/quick-search.spec.ts
Labels: test, app:core

#4941 refactor(core): remove all MUI related components and utilities
  packages/frontend/component/package.json
  packages/frontend/component/src/components/app-sidebar/index.tsx
  packages/frontend/component/src/components/block-suite-editor/index.tsx
  packages/frontend/component/src/components/card/workspace-card/index.tsx
  packages/frontend/component/src/components/list-skeleton.tsx
  packages/frontend/component/src/components/page-list/utils.tsx
  packages/frontend/component/src/components/setting-components/workspace-detail-skeleton.tsx
  packages/frontend/component/src/components/setting-components/workspace-list-skeleton.tsx
  packages/frontend/component/src/components/workspace/index.css.ts
  packages/frontend/component/src/index.ts
  packages/frontend/component/src/styles/index.ts
  packages/frontend/component/src/styles/mui-theme-provider.tsx
  packages/frontend/component/src/styles/mui-theme.ts
  packages/frontend/component/src/styles/styled.tsx
  packages/frontend/component/src/ui/breadcrumbs/index.ts
  packages/frontend/component/src/ui/button/loading.tsx
  packages/frontend/component/src/ui/button/utils.ts
  packages/frontend/component/src/ui/menu/index.ts
  packages/frontend/component/src/ui/menu/menu-item.tsx
  packages/frontend/component/src/ui/menu/pure-menu.tsx
  packages/frontend/component/src/ui/menu/styles.ts
  packages/frontend/component/src/ui/mui.ts
  packages/frontend/component/src/ui/popper/index.ts
  packages/frontend/component/src/ui/popper/interface.ts
  packages/frontend/component/src/ui/popper/popover-arrow.tsx
  packages/frontend/component/src/ui/popper/popper.tsx
  packages/frontend/component/src/ui/popper/pure-popper.tsx
  packages/frontend/component/src/ui/popper/styles.ts
  packages/frontend/component/src/ui/shared/container.tsx
  packages/frontend/component/src/ui/skeleton/index.css.ts
  packages/frontend/component/src/ui/skeleton/index.ts
  packages/frontend/component/src/ui/skeleton/skeleton.tsx
  packages/frontend/component/src/ui/skeleton/types.ts
  packages/frontend/component/src/ui/table/index.ts
  packages/frontend/component/src/ui/tree-view/hooks/use-collapsed.ts
  packages/frontend/component/src/ui/tree-view/hooks/use-select-with-keyboard.ts
  packages/frontend/component/src/ui/tree-view/index.ts
  packages/frontend/component/src/ui/tree-view/styles.ts
  packages/frontend/component/src/ui/tree-view/tree-node-inner.tsx
  packages/frontend/component/src/ui/tree-view/tree-node.tsx
  packages/frontend/component/src/ui/tree-view/tree-view.tsx
  packages/frontend/component/src/ui/tree-view/types.ts
  packages/frontend/component/src/ui/tree-view/utils.ts
  packages/frontend/core/.webpack/cache-group.ts
  packages/frontend/core/package.json
  packages/frontend/core/src/components/affine/setting-modal/general-setting/billing/index.tsx
  packages/frontend/core/src/components/affine/setting-modal/general-setting/plans/skeleton.tsx
  packages/frontend/core/src/components/bookmark.tsx
  packages/frontend/core/src/components/pure/help-island/index.tsx
  packages/frontend/core/src/components/pure/help-island/style.ts
  packages/frontend/core/src/components/pure/shortcuts-modal/icons.tsx
  packages/frontend/core/src/components/pure/shortcuts-modal/index.tsx
  packages/frontend/core/src/components/pure/shortcuts-modal/style.css.ts
  packages/frontend/core/src/components/pure/workspace-slider-bar/shared-styles.ts
  packages/frontend/core/src/components/pure/workspace-slider-bar/style.ts
  tests/affine-local/e2e/shortcuts.spec.ts
  tests/storybook/package.json
  tests/storybook/src/stories/breadcrumbs.stories.tsx
  yarn.lock
Labels: ui-style, mod:component, test, app:core

#4907 fix(core): blob key issue for cloud blob provider
  packages/frontend/workspace/src/blob/cloud-blob-storage.ts
Labels: mod:workspace

#4988 fix(core): rerender
  packages/frontend/core/src/hooks/affine/use-current-user.ts
Labels: app:core

#4987 fix(core): make e2e more stable
  packages/frontend/core/src/pages/workspace/index.tsx
  packages/frontend/workspace/src/providers/index.ts
Labels: mod:workspace, app:core

#4984 feat(workspace): more status for SyncEngine
  packages/frontend/core/src/components/pure/workspace-slider-bar/workspace-card/index.tsx
  packages/frontend/core/src/pages/workspace/detail-page.tsx
  packages/frontend/workspace/src/providers/sync/__tests__/engine.spec.ts
  packages/frontend/workspace/src/providers/sync/__tests__/peer.spec.ts
  packages/frontend/workspace/src/providers/sync/__tests__/test-storage.ts
  packages/frontend/workspace/src/providers/sync/engine.ts
Labels: mod:workspace, test, app:core

#4986 fix(core): merge updates before push to storage
  packages/frontend/workspace/src/providers/storage/indexeddb/index.ts
  packages/frontend/workspace/src/providers/sync/peer.ts
  packages/frontend/workspace/src/providers/utils/async-queue.ts
Labels: mod:workspace

#5008 fix(core): cmdk crash when entering double quotes
  packages/frontend/core/src/components/pure/cmdk/data.tsx
  packages/frontend/core/src/components/pure/cmdk/main.tsx
  tests/affine-local/e2e/quick-search.spec.ts
Labels: test, app:core

#5017 fix: invisible button should not be interactive
  packages/frontend/core/src/pages/workspace/all-page.css.ts
Labels: app:core

#5006 fix(core): hmr issue on dev
  packages/frontend/core/.webpack/webpack.config.ts
  packages/frontend/core/src/_plugin/index.test.tsx
  packages/frontend/core/src/index.tsx
  packages/frontend/core/src/polyfill/ses-lockdown.ts
Labels: app:core

#4965 build(electron): asar
  .github/actions/setup-node/action.yml
  .github/workflows/build-desktop.yml
  packages/frontend/electron/forge.config.mjs
  packages/frontend/electron/package.json
  packages/frontend/electron/scripts/macos-arm64-output-check.ts
  yarn.lock
Labels: app:electron

#5014 fix(core): add error boundary for workspace layout
  packages/frontend/core/src/components/affine/affine-error-boundary.css.ts
  packages/frontend/core/src/components/affine/affine-error-boundary.tsx
  packages/frontend/core/src/hooks/affine/use-current-user.ts
  packages/frontend/core/src/pages/workspace/index.tsx
Labels: app:core

#4970 feat(server): add doc history support
  packages/backend/server/migrations/20231117062115_history/migration.sql
  packages/backend/server/schema.prisma
Labels: app:server

#4971 chore(server): remove deprecated redis manager
  packages/backend/server/src/modules/doc/index.ts
  packages/backend/server/src/modules/doc/redis-manager.ts
Labels: app:server

#4973 feat(server): add cache module
  packages/backend/server/src/app.ts
  packages/backend/server/src/cache/cache.ts
  packages/backend/server/src/cache/index.ts
  packages/backend/server/src/cache/redis.ts
  packages/backend/server/tests/cache.spec.ts
Labels: app:server, test

#4975 feat(server): reduce duplidated merge with cache
  packages/backend/server/src/modules/doc/manager.ts
  packages/backend/server/tests/doc.spec.ts
Labels: app:server, test

#5002 feat(server): event on snapshot upserted
  packages/backend/server/src/modules/doc/manager.ts
  packages/backend/server/src/modules/index.ts
  packages/backend/server/tests/doc.spec.ts
Labels: app:server, test

#5030 chore: bump blocksuite
  packages/common/env/package.json
  packages/common/infra/package.json
  packages/common/sdk/package.json
  packages/common/y-indexeddb/package.json
  packages/common/y-provider/package.json
  packages/frontend/component/package.json
  packages/frontend/core/package.json
  packages/frontend/electron/package.json
  packages/frontend/hooks/package.json
  tests/affine-legacy/0.6.1-beta.1/package.json
  tests/affine-legacy/0.7.0-canary.18/package.json
  tests/affine-legacy/0.8.0-canary.7/package.json
  tests/affine-legacy/0.8.4/package.json
  tests/affine-migration/package.json
  tests/storybook/package.json
  yarn.lock
Labels: mod:infra, mod:hooks, mod:env, mod:component, app:electron, package:y-indexeddb, test, app:core, mod:sdk

#5027 fix(core): fix page loading shimmer
  packages/frontend/core/src/pages/workspace/detail-page.tsx
Labels: app:core

#5032 fix(workspace): fast check svg buffer
  packages/frontend/workspace/src/blob/__tests__/util.spec.ts
  packages/frontend/workspace/src/blob/util.ts
Labels: mod:workspace, test

#5034 fix(core): should not reset page preset on rerender
  packages/frontend/component/src/components/block-suite-editor/index.tsx
  packages/frontend/component/src/components/block-suite-editor/preset.ts
Labels: mod:component

#5035 fix(server): use iso date string as history query input
  packages/backend/server/src/modules/workspaces/controller.ts
Labels: app:server

#5022 refactor(core): use manual upgrade to replace auto migration when web setup
  packages/common/infra/src/blocksuite/index.ts
  packages/common/infra/src/blocksuite/initialization/index.ts
  packages/common/infra/src/blocksuite/migration/blob.ts
  packages/common/infra/src/blocksuite/migration/blocksuite.ts
  packages/common/infra/src/blocksuite/migration/fixing.ts
  packages/common/infra/src/blocksuite/migration/subdoc.ts
  packages/common/infra/src/blocksuite/migration/workspace.ts
  packages/frontend/core/src/adapters/local/index.tsx
  packages/frontend/core/src/bootstrap/setup.ts
  packages/frontend/core/src/components/workspace-upgrade/upgrade-hooks.ts
  packages/frontend/core/src/components/workspace-upgrade/upgrade.tsx
  packages/frontend/core/src/hooks/use-workspaces.ts
  packages/frontend/core/src/layouts/workspace-layout.tsx
  packages/frontend/core/src/pages/workspace/index.tsx
  packages/frontend/electron/src/helper/db/migration.ts
  packages/frontend/hooks/src/affine-async-hooks.ts
  packages/frontend/workspace/src/atom.ts
  tests/affine-migration/README.md
  tests/affine-migration/e2e/basic.spec.ts
  tests/kit/utils/workspace.ts
  tools/@types/env/__all.d.ts
Labels: mod:infra, docs, mod:workspace, mod:hooks, app:electron, test, app:core

#5023 feat(core): add download app button to web
  packages/frontend/component/src/components/affine-banner/download-client.tsx
  packages/frontend/component/src/components/affine-banner/index.css.ts
  packages/frontend/component/src/components/affine-banner/index.tsx
  packages/frontend/component/src/components/affine-banner/local-demo-tips.tsx
  packages/frontend/component/src/components/app-sidebar/app-download-button/index.css.ts
  packages/frontend/component/src/components/app-sidebar/app-download-button/index.tsx
  packages/frontend/component/src/components/app-sidebar/index.tsx
  packages/frontend/core/src/components/pure/header/index.tsx
  packages/frontend/core/src/components/pure/header/top-tip.tsx
  packages/frontend/core/src/components/pure/workspace-slider-bar/workspace-card/index.tsx
  packages/frontend/core/src/components/pure/workspace-slider-bar/workspace-card/styles.ts
  packages/frontend/core/src/components/root-app-sidebar/index.tsx
  packages/frontend/core/src/components/top-tip.tsx
  packages/frontend/core/src/components/workspace-header.tsx
  tests/affine-local/e2e/open-affine.spec.ts
  tests/storybook/src/stories/affine-banner.stories.tsx
Labels: mod:component, test, app:core

#5028 fix(electron): clone db file when enable cloud for desktop
  packages/common/infra/src/type.ts
  packages/frontend/electron/src/helper/workspace/handlers.ts
  packages/frontend/electron/src/helper/workspace/index.ts
  packages/frontend/workspace/src/affine/crud.ts
Labels: mod:infra, mod:workspace, app:electron

#5038 fix(server): check state changes before saving history record
  packages/backend/server/src/modules/doc/history.ts
  packages/backend/server/tests/history.spec.ts
Labels: app:server, test

#5037 refactor(workspace): blob sync
  packages/frontend/core/src/layouts/workspace-layout.tsx
  packages/frontend/workspace/package.json
  packages/frontend/workspace/src/blob/cloud-blob-storage.ts
  packages/frontend/workspace/src/blob/engine.ts
  packages/frontend/workspace/src/blob/index.ts
  packages/frontend/workspace/src/blob/sqlite-blob-storage.ts
  packages/frontend/workspace/src/blob/storage/affine-cloud.ts
  packages/frontend/workspace/src/blob/storage/index.ts
  packages/frontend/workspace/src/blob/storage/indexeddb.ts
  packages/frontend/workspace/src/blob/storage/sqlite.ts
  packages/frontend/workspace/src/blob/storage/static.ts
  packages/frontend/workspace/src/manager/index.ts
  yarn.lock
Labels: mod:workspace, app:core

#5041 chore(core): update react-resizable-panels
  packages/frontend/core/package.json
  packages/frontend/core/src/components/page-detail-editor.tsx
  yarn.lock
Labels: app:core

#5042 chore: bump icons version
  packages/frontend/component/package.json
  packages/frontend/core/package.json
  packages/plugins/copilot/package.json
  packages/plugins/hello-world/package.json
  packages/plugins/image-preview/package.json
  packages/plugins/outline/package.json
  tests/storybook/package.json
  yarn.lock
Labels: mod:component, plugin:copilot, test, mod:plugin, app:core

#5047 ci: fix storybook publish problem
  packages/common/infra/package.json
  packages/frontend/component/package.json
  packages/frontend/core/package.json
  packages/frontend/electron/package.json
  packages/frontend/hooks/package.json
  tests/storybook/package.json
  yarn.lock
Labels: mod:infra, mod:hooks, mod:component, app:electron, test, app:core

#5050 fix(server): never throw in websocket gateways
  packages/backend/server/src/modules/sync/events/events.gateway.ts
Labels: app:server

#5054 refactor(server): standarderlize metrics and trace with OTEL
  .github/helm/affine/charts/graphql/templates/monitoring.yaml
  .github/helm/affine/charts/sync/templates/monitoring.yaml
  packages/backend/server/package.json
  packages/backend/server/src/app.ts
  packages/backend/server/src/graphql.module.ts
  packages/backend/server/src/graphql/logger-plugin.ts
  packages/backend/server/src/index.ts
  packages/backend/server/src/metrics/controller.ts
  packages/backend/server/src/metrics/index.ts
  packages/backend/server/src/metrics/metrics.ts
  packages/backend/server/src/metrics/opentelemetry.ts
  packages/backend/server/src/metrics/utils.ts
  packages/backend/server/src/modules/auth/next-auth.controller.ts
  packages/backend/server/src/modules/doc/history.ts
  packages/backend/server/src/modules/doc/manager.ts
  packages/backend/server/src/modules/sync/events/events.gateway.ts
  packages/backend/server/src/modules/workspaces/controller.ts
  packages/backend/server/tests/auth.spec.ts
  packages/backend/server/tests/doc.spec.ts
  packages/backend/server/tests/history.spec.ts
  packages/backend/server/tests/mailer.e2e.ts
  packages/backend/server/tests/prometheus-metrics.spec.ts
  yarn.lock
Labels: app:server, test

#5062 fix(server): add guid compatibility of :space:page variant
  packages/backend/server/src/utils/__tests__/doc.spec.ts
  packages/backend/server/src/utils/doc.ts
Labels: app:server, test

#5055 feat: optional payment for server
  packages/backend/server/src/modules/config.ts
  packages/backend/server/src/modules/index.ts
  packages/backend/server/src/schema.gql
  packages/frontend/graphql/src/graphql/index.ts
  packages/frontend/graphql/src/graphql/server-config.gql
  packages/frontend/graphql/src/schema.ts
Labels: app:server

#5056 feat: optional payment for frontend
  packages/backend/server/src/modules/index.ts
  packages/backend/server/src/modules/payment/resolver.ts
  packages/backend/server/src/modules/payment/service.ts
  packages/backend/server/src/modules/self-hosted.ts
  packages/backend/server/src/schema.gql
  packages/frontend/component/src/components/setting-components/storage-progess.tsx
  packages/frontend/core/src/components/affine/auth/user-plan-button.tsx
  packages/frontend/core/src/components/affine/new-workspace-setting-detail/index.tsx
  packages/frontend/core/src/components/affine/new-workspace-setting-detail/members.tsx
  packages/frontend/core/src/components/affine/setting-modal/account-setting/index.tsx
  packages/frontend/core/src/components/affine/setting-modal/general-setting/index.tsx
  packages/frontend/core/src/hooks/affine/use-server-flavor.ts
  packages/frontend/core/src/hooks/use-subscription.ts
  packages/frontend/graphql/src/schema.ts
Labels: mod:component, app:server, app:core

#5033 feat(core): simple recovery history ui poc
  packages/backend/server/src/modules/doc/history.ts
  packages/common/env/src/global.ts
  packages/frontend/core/.webpack/runtime-config.ts
  packages/frontend/core/src/atoms/page-history.ts
  packages/frontend/core/src/components/affine/page-history-modal/data.ts
  packages/frontend/core/src/components/affine/page-history-modal/empty-history-shape.tsx
  packages/frontend/core/src/components/affine/page-history-modal/history-modal.tsx
  packages/frontend/core/src/components/affine/page-history-modal/index.tsx
  packages/frontend/core/src/components/affine/page-history-modal/styles.css.ts
  packages/frontend/core/src/components/blocksuite/block-suite-header-title/operation-menu.tsx
  packages/frontend/core/src/components/root-app-sidebar/index.tsx
  packages/frontend/core/src/hooks/affine/use-mutate-cloud.ts
  packages/frontend/core/src/hooks/affine/use-register-blocksuite-editor-commands.tsx
  packages/frontend/core/src/hooks/affine/use-server-flavor.ts
  packages/frontend/core/src/hooks/use-browser-history-commands.ts
  packages/frontend/core/src/pages/workspace/detail-page.tsx
  packages/frontend/graphql/src/graphql/histories.gql
  packages/frontend/graphql/src/graphql/index.ts
  packages/frontend/graphql/src/graphql/recover-doc.gql
  packages/frontend/graphql/src/schema.ts
  packages/frontend/i18n/src/resources/en.json
  packages/frontend/workspace/package.json
  packages/frontend/workspace/src/affine/gql.ts
Labels: mod:workspace, mod:i18n, mod:env, mod:store, app:server, app:core

#5051 chore: bump blocksuite
  packages/common/env/package.json
  packages/common/infra/package.json
  packages/common/sdk/package.json
  packages/common/y-indexeddb/package.json
  packages/common/y-provider/package.json
  packages/frontend/component/package.json
  packages/frontend/core/package.json
  packages/frontend/electron/package.json
  packages/frontend/hooks/package.json
  tests/affine-legacy/0.6.1-beta.1/package.json
  tests/affine-legacy/0.7.0-canary.18/package.json
  tests/affine-legacy/0.8.0-canary.7/package.json
  tests/affine-legacy/0.8.4/package.json
  tests/affine-migration/package.json
  tests/storybook/package.json
  yarn.lock
Labels: mod:infra, mod:hooks, mod:env, mod:component, app:electron, package:y-indexeddb, test, app:core, mod:sdk

#5059 test(core): simple recovery ui e2e
  tests/affine-cloud/e2e/page-history.spec.ts
Labels: test

#5058 feat(server): add soft deleted flag to optimized blob table
  Cargo.lock
  packages/backend/server/migrations/20231124091123_soft_delete_opt_blobs/migration.sql
  packages/backend/server/schema.prisma
  packages/backend/storage/Cargo.toml
Labels: app:server, rust, mod:storage

#5071 docs: issue triaging document
  docs/issue-triaging.md
Labels: docs

#5031 fix(electron): electron dev startup on win
  packages/frontend/electron/scripts/dev.ts
Labels: app:electron

#5072 fix(component): rework tags list collapsing
  packages/frontend/component/src/components/page-list/page-tags.css.ts
  packages/frontend/component/src/components/page-list/page-tags.tsx
Labels: mod:component

#5065 fix(core): nx cache configuration
  .github/workflows/deploy.yml
  packages/frontend/core/project.json
Labels: app:core

#5066 ci: always perform fresh build in deployment job
  .github/workflows/deploy.yml
  .github/workflows/nightly-build.yml
  .github/workflows/release-desktop-app.yml
  packages/frontend/electron/scripts/generate-assets.ts
Labels: app:electron

#5070 fix(core): should not refetch avatar when url does not change
  packages/frontend/hooks/src/use-block-suite-workspace-avatar-url.ts
Labels: mod:hooks

#5092 style: add no-self-compare rule
  .eslintrc.js
  packages/frontend/workspace/src/providers/awareness/affine/index.ts
Labels: mod:workspace

#5077 feat(component): default collapse and float sidebar on mobile
  packages/frontend/component/src/components/app-sidebar/index.jotai.ts
Labels: mod:component

#5073 feat(core): show searched result with results group and add duplicate commands
  packages/frontend/core/src/components/blocksuite/block-suite-header-title/operation-menu.tsx
  packages/frontend/core/src/components/blocksuite/block-suite-page-list/utils.tsx
  packages/frontend/core/src/components/pure/cmdk/main.css.ts
  packages/frontend/core/src/components/pure/cmdk/main.tsx
  packages/frontend/core/src/hooks/affine/use-block-suite-meta-helper.ts
  packages/frontend/core/src/hooks/affine/use-register-blocksuite-editor-commands.tsx
  packages/frontend/i18n/src/resources/en.json
Labels: mod:i18n, app:core

#5103 fix: resolve cycle imports and prevent it by oxlint
  .eslintrc.js
  .github/workflows/build.yml
  .husky/pre-commit
  package.json
  packages/backend/server/src/modules/config.ts
  packages/backend/server/src/modules/index.ts
  packages/frontend/component/src/components/page-list/page-group.tsx
  packages/frontend/component/src/components/page-list/pages-to-page-group.tsx
  packages/frontend/component/src/components/page-list/scoped-atoms.tsx
  packages/frontend/component/src/components/page-list/view/create-collection.tsx
  packages/frontend/component/src/components/page-list/view/edit-collection/edit-collection.tsx
  packages/frontend/component/src/components/page-list/view/edit-collection/hooks.tsx
  packages/frontend/component/src/components/page-list/view/edit-collection/pages-mode.tsx
  packages/frontend/component/src/components/page-list/view/edit-collection/select-page.tsx
  packages/frontend/component/src/components/page-list/view/edit-collection/use-filter.tsx
  packages/frontend/component/src/components/page-list/view/edit-collection/use-search.tsx
  packages/frontend/component/src/components/page-list/view/index.ts
  packages/frontend/component/src/components/page-list/view/save-as-collection-button.tsx
  packages/frontend/component/src/components/page-list/view/use-edit-collection.tsx
  packages/frontend/component/src/ui/skeleton/skeleton.tsx
  packages/frontend/workspace/src/providers/sync/consts.ts
  packages/frontend/workspace/src/providers/sync/engine.ts
  packages/frontend/workspace/src/providers/sync/index.ts
  packages/frontend/workspace/src/providers/sync/peer.ts
  yarn.lock
Labels: mod:workspace, mod:component, app:server

#5106 fix: add eqeqeq lint rule
  .eslintrc.js
  packages/backend/server/src/modules/doc/manager.ts
  packages/common/infra/src/blocksuite/migration/subdoc.ts
  packages/frontend/component/src/components/page-list/filter/logical/typesystem.ts
  packages/frontend/component/src/components/page-list/filter/vars.tsx
  packages/frontend/component/src/components/page-list/utils.tsx
  packages/frontend/core/src/components/affine/setting-modal/general-setting/plans/plan-card.tsx
  packages/frontend/core/src/components/pure/workspace-slider-bar/collections/collections-list.tsx
  packages/frontend/core/src/layouts/workspace-layout.tsx
  packages/frontend/electron/src/main/updater/custom-github-provider.ts
  packages/frontend/workspace/src/providers/sync/engine.ts
  tests/affine-local/e2e/quick-search.spec.ts
Labels: mod:infra, mod:workspace, mod:component, app:electron, app:server, test, app:core

#5107 fix: add prefer-dom-node-dataset rule
  .eslintrc.js
  packages/frontend/core/src/components/affine/setting-modal/general-setting/plans/index.tsx
  packages/plugins/image-preview/src/component/index.jotai.ts
  tests/affine-desktop/e2e/basic.spec.ts
  tests/affine-local/e2e/all-page.spec.ts
  tests/affine-local/e2e/image-preview.spec.ts
  tests/affine-local/e2e/settings.spec.ts
  tests/affine-local/e2e/theme.spec.ts
  tests/kit/utils/filter.ts
Labels: test, mod:plugin, app:core

#5108 fix: add prefer-dom-node-append rule
  .eslintrc.js
  packages/frontend/component/src/components/block-hub/index.tsx
  packages/frontend/component/src/components/block-suite-editor/index.tsx
  packages/frontend/component/src/ui/checkbox/checkbox.tsx
  packages/frontend/component/src/ui/toast/toast.ts
  packages/frontend/core/src/bootstrap/register-plugins.ts
  packages/frontend/core/src/components/page-detail-editor.tsx
  packages/frontend/core/src/components/pure/plugin-header/index.tsx
  packages/plugins/image-preview/src/component/index.tsx
  packages/plugins/outline/src/app.tsx
Labels: mod:component, mod:plugin, app:core

#5109 fix: add prefer-array-some rule
  .eslintrc.js
  package.json
  packages/frontend/core/src/components/affine/setting-modal/index.tsx
  packages/frontend/i18n/src/index.ts
  packages/plugins/image-preview/src/component/index.tsx
Labels: mod:i18n, mod:plugin, app:core

#5111 fix: add no-useless-promise-resolve-reject rule
  .eslintrc.js
  package.json
  packages/backend/server/tests/workspace-usage.spec.ts
  packages/frontend/core/src/bootstrap/register-plugins.ts
  packages/frontend/graphql/src/fetcher.ts
Labels: app:server, test, app:core

#5112 fix: add prefer-dom-node-remove rule
  .eslintrc.js
  packages/frontend/component/src/components/block-hub/index.tsx
  packages/frontend/component/src/components/block-suite-editor/index.tsx
  packages/frontend/core/src/components/page-detail-editor.tsx
  packages/frontend/core/src/components/pure/plugin-header/index.tsx
  packages/plugins/image-preview/src/component/index.tsx
Labels: mod:component, mod:plugin, app:core

#5113 fix: add prefer-date-now rule
  .eslintrc.js
  packages/backend/server/src/modules/auth/service.ts
  packages/frontend/core/src/hooks/affine/use-block-suite-meta-helper.ts
  packages/frontend/electron/src/shared/utils.ts
Labels: app:electron, app:server, app:core

#5114 fix: add no-typeof-undefined rule
  .eslintrc.js
  packages/backend/server/src/config/def.ts
  packages/backend/server/src/config/env.ts
Labels: app:server

#5116 fix: add new-for-builtins rule
  .eslintrc.js
  packages/backend/server/tests/exception-logger.e2e.ts
  packages/frontend/graphql/src/utils.ts
Labels: app:server, test

#5118 fix: add prefer-blob-reading-methods rule
  .eslintrc.js
  tests/affine-cloud/e2e/collaboration.spec.ts
Labels: test

#5120 fix: add unified-signatures rule
  .eslintrc.js
  packages/frontend/workspace/src/affine/gql.ts
Labels: mod:workspace
