Repository toeverything/AFFiNE, pull requests merged in 2023-08, with the labels that each got.

#3392 feat: support sigin in/up with affine cloud
  apps/core/src/atoms/index.ts
  apps/core/src/components/affine/auth/after-sign-in-send-email.tsx
  apps/core/src/components/affine/auth/after-sign-up-send-email.tsx
  apps/core/src/components/affine/auth/confirm-code.tsx
  apps/core/src/components/affine/auth/index.tsx
  apps/core/src/components/affine/auth/send-password-email.tsx
  apps/core/src/components/affine/auth/set-password.tsx
  apps/core/src/components/affine/auth/sign-in-with-password.tsx
  apps/core/src/components/affine/auth/sign-in.tsx
  apps/core/src/components/affine/auth/style.css.ts
  apps/core/src/components/affine/setting-modal/account-setting/index.tsx
  apps/core/src/components/affine/setting-modal/setting-sidebar/index.tsx
  apps/core/src/pages/auth.tsx
  apps/core/src/providers/modal-provider.tsx
  apps/core/src/router.ts
  apps/server/src/graphql.module.ts
  apps/server/src/modules/auth/mailer/mail.service.ts
  apps/server/src/modules/auth/next-auth-options.ts
  apps/server/src/modules/auth/resolver.ts
  apps/server/src/modules/auth/service.ts
  apps/server/src/schema.gql
  packages/component/src/components/auth-components/auth-code.tsx
  packages/component/src/components/auth-components/auth-content.tsx
  packages/component/src/components/auth-components/auth-input.tsx
  packages/component/src/components/auth-components/auth-page-container.tsx
  packages/component/src/components/auth-components/back-button.tsx
  packages/component/src/components/auth-components/change-password-page.tsx
  packages/component/src/components/auth-components/continue-button.tsx
  packages/component/src/components/auth-components/google-button.tsx
  packages/component/src/components/auth-components/index.tsx
  packages/component/src/components/auth-components/logo.tsx
  packages/component/src/components/auth-components/password-input/index.tsx
  packages/component/src/components/auth-components/resend-button.tsx
  packages/component/src/components/auth-components/set-password-page.tsx
  packages/component/src/components/auth-components/set-password.tsx
  packages/component/src/components/auth-components/share.css.ts
  packages/component/src/components/auth-components/sign-in-success-page.tsx
  packages/component/src/components/auth-components/sign-up-page.tsx
  packages/component/src/ui/button/button.tsx
  packages/component/src/ui/button/icon-button.tsx
  packages/component/src/ui/button/style.css.ts
  packages/graphql/src/graphql/change-password.gql
  packages/graphql/src/graphql/index.ts
  packages/graphql/src/graphql/send-change-email.gql
  packages/graphql/src/graphql/send-change-password-email.gql
  packages/graphql/src/graphql/send-set-password-email.gql
  packages/graphql/src/schema.ts
  packages/i18n/src/resources/en.json
Labels: mod:i18n, mod:component, mod:store, app:server, app:core

#3496 feat: brand new version of icons
  apps/core/package.json
  apps/storybook/package.json
  packages/component/package.json
  packages/component/src/components/page-list/filter/shared-types.tsx
  plugins/bookmark/package.json
  plugins/hello-world/package.json
  plugins/image-preview/package.json
  yarn.lock
Labels: mod:component, mod:plugin, app:core

#3502 fix: login modal style
  apps/core/src/components/pure/workspace-list-modal/index.tsx
  apps/core/src/components/pure/workspace-list-modal/styles.ts
  packages/component/src/ui/scrollbar/scrollbar.tsx
Labels: mod:component, app:core

#3503 feat: add `hasPassword`
  apps/server/src/modules/users/resolver.ts
  apps/server/src/schema.gql
  apps/server/src/tests/user.spec.ts
  apps/server/src/tests/utils.ts
Labels: app:server, test

#3507 fix: flaky tests
  apps/core/src/providers/modal-provider.tsx
  packages/workspace/src/providers/sqlite-providers.ts
Labels: mod:workspace, app:core

#3489 chore: bump version
  apps/core/package.json
  apps/docs/package.json
  apps/electron/package.json
  apps/storybook/package.json
  packages/component/package.json
  packages/env/package.json
  packages/hooks/package.json
  packages/jotai/package.json
  packages/plugin-infra/package.json
  packages/y-indexeddb/package.json
  packages/y-provider/package.json
  tests/affine-legacy/0.7.0-canary.18/package.json
  tests/affine-local/e2e/blocksuite/editor.spec.ts
  yarn.lock
Labels: mod:hooks, mod:env, mod:component, app:electron, package:y-indexeddb, mod:store, mod:plugin-infra, test, app:docs, app:core

#3479 feat: add filter schema
  packages/env/package.json
  packages/env/src/automation.ts
  packages/env/src/filter.ts
Labels: mod:env

#3501 feat: custom maker dmg
  .github/actions/setup-maker/action.yml
  .github/workflows/build.yml
  .github/workflows/nightly-build.yml
  .github/workflows/release-desktop-app.yml
  apps/electron/forge.config.js
  apps/electron/package.json
  packages/maker-dmg/README.md
  packages/maker-dmg/package.json
  packages/maker-dmg/project.json
  packages/maker-dmg/src/config.ts
  packages/maker-dmg/src/maker.ts
  packages/maker-dmg/tsconfig.json
  packages/maker-dmg/vite.config.ts
  tsconfig.json
  yarn.lock
Labels: docs, app:electron

#3513 fix: drag workspace
  apps/core/src/bootstrap/before-app.ts
  apps/core/src/providers/modal-provider.tsx
  packages/workspace/src/atom.ts
Labels: mod:workspace, app:core

#3516 feat: merge code & update
  .github/actions/setup-maker/action.yml
  .github/workflows/build.yml
  .github/workflows/nightly-build.yml
  .github/workflows/release-desktop-app.yml
  apps/core/package.json
  apps/core/src/adapters/local/index.tsx
  apps/core/src/adapters/workspace.ts
  apps/core/src/bootstrap/before-app.ts
  apps/core/src/pages/invite.tsx
  apps/core/src/providers/modal-provider.tsx
  apps/core/src/router.ts
  apps/docs/package.json
  apps/electron/forge.config.js
  apps/electron/package.json
  apps/server/package.json
  apps/storybook/package.json
  package.json
  packages/cli/package.json
  packages/component/package.json
  packages/debug/package.json
  packages/env/package.json
  packages/env/src/automation.ts
  packages/env/src/filter.ts
  packages/env/src/workspace.ts
  packages/graphql/package.json
  packages/hooks/package.json
  packages/i18n/package.json
  packages/infra/package.json
  packages/jotai/package.json
  packages/maker-dmg/README.md
  packages/maker-dmg/package.json
  packages/maker-dmg/project.json
  packages/maker-dmg/src/config.ts
  packages/maker-dmg/src/maker.ts
  packages/maker-dmg/tsconfig.json
  packages/maker-dmg/vite.config.ts
  packages/native/package.json
  packages/plugin-cli/package.json
  packages/plugin-infra/package.json
  packages/storage/package.json
  packages/templates/package.json
  packages/workers/package.json
  packages/workspace/package.json
  packages/workspace/src/atom.ts
  packages/y-indexeddb/package.json
  packages/y-provider/package.json
  plugins/bookmark/package.json
  plugins/copilot/package.json
  plugins/hello-world/package.json
  plugins/image-preview/package.json
  tests/affine-legacy/0.7.0-canary.18/package.json
  tests/affine-local/e2e/blocksuite/editor.spec.ts
  tests/affine-local/package.json
  tests/affine-plugin/package.json
  tests/fixtures/package.json
  tests/kit/package.json
  tsconfig.json
  yarn.lock
Labels: mod:workspace, mod:i18n, mod:env, mod:component, app:electron, mod:dev, mod:store, app:server, test, rust, mod:storage, app:core

#3518 fix: stackoverflow issue in empty page
  apps/core/src/components/blocksuite/block-suite-page-list/index.tsx
  packages/i18n/src/resources/zh-Hans.json
Labels: mod:i18n, app:core

#3525 docs: update docs for build plugins
  docs/BUILDING.md
Labels: docs

#3527 fix(electron): check bundle
  .github/workflows/build.yml
  apps/electron/forge.config.js
  apps/electron/scripts/macos-arm64-output-check.mts
  apps/electron/scripts/unzip-macos-arm64.sh
Labels: app:electron

#3526 feat: update editor mode switch icons
  apps/core/src/components/blocksuite/workspace-header/editor-mode-switch/animation-data/edgeless-hover.json
  apps/core/src/components/blocksuite/workspace-header/editor-mode-switch/animation-data/page-hover.json
  apps/core/src/components/blocksuite/workspace-header/editor-mode-switch/style.ts
  apps/core/src/components/blocksuite/workspace-header/editor-mode-switch/switch-items.tsx
Labels: app:core

#3529 test: add test case for plugin bootstrap
  apps/core/.webpack/config.ts
  apps/core/.webpack/webpack.config.ts
  apps/core/src/_plugin/index.test.tsx
  apps/core/src/bootstrap/plugins/setup.ts
  apps/core/src/bootstrap/register-plugins.ts
  tests/affine-plugin/e2e/basic.spec.ts
  tests/kit/utils/load-page.ts
  vitest.config.ts
Labels: test, app:core

#3524 feat(server): add jwst codec testing logic
  .github/actions/deploy/deploy.mjs
  .github/helm/affine/charts/graphql/templates/deployment.yaml
  .github/helm/affine/charts/graphql/values.yaml
  apps/server/src/config/def.ts
  apps/server/src/config/default.ts
  apps/server/src/metrics/metrics.ts
  apps/server/src/modules/doc/manager.ts
  apps/server/src/modules/doc/redis-manager.ts
  apps/server/src/storage/index.ts
  packages/storage/Cargo.lock
  packages/storage/Cargo.toml
  packages/storage/index.d.ts
  packages/storage/index.js
  packages/storage/package.json
  packages/storage/src/lib.rs
  yarn.lock
Labels: app:server, rust, mod:storage

#3541 ci: fix server build
  .github/workflows/build.yml
  apps/server/package.json
Labels: app:server

#3546 test(server): fix doc test
  apps/server/src/tests/doc.spec.ts
Labels: app:server, test

#3543 fix: editor-mode-switch animation should only run once
  apps/core/src/components/blocksuite/workspace-header/editor-mode-switch/switch-items.tsx
Labels: app:core

#3545 feat: add tooltips for collection bar action buttons
  packages/component/src/components/page-list/view/collection-bar.tsx
  packages/i18n/src/resources/en.json
  packages/i18n/src/resources/zh-Hans.json
Labels: mod:i18n, mod:component

#3542 fix: padding in the Switch button of Page/Edgeless
  apps/core/src/components/blocksuite/workspace-header/editor-mode-switch/style.ts
Labels: app:core

#3538 fix: scrollbar position offset
  packages/component/src/theme/global.css
Labels: mod:component

#3552 fix: a possible double connect issue
  packages/y-indexeddb/src/provider.ts
Labels: package:y-indexeddb

#3551 chore: remove repeated inreferences
  apps/electron/tsconfig.json
Labels: app:electron

#3558 fix(core): use download atom
  apps/core/src/components/blocksuite/workspace-header/header.tsx
Labels: app:core

#3563 fix(core): editor wrapper css
  packages/component/src/theme/global.css
Labels: mod:component

#3561 build: improve webpack config
  apps/core/.webpack/config.ts
  apps/core/.webpack/webpack.config.ts
  apps/core/package.json
  apps/core/project.json
  apps/core/server.mts
  apps/core/src/_plugin/index.test.tsx
  apps/core/src/app.tsx
  apps/core/src/bootstrap/before-app.ts
  apps/core/src/bootstrap/setup.ts
  apps/core/src/index.tsx
  apps/electron/package.json
  apps/electron/project.json
  nx.json
  packages/env/src/global.ts
  plugins/bookmark/project.json
  plugins/copilot/project.json
  plugins/hello-world/project.json
  plugins/hello-world/src/index.ts
  plugins/image-preview/project.json
  tests/affine-legacy/0.8.0-canary.7/e2e/basic.spec.ts
  yarn.lock
Labels: mod:env, app:electron, plugin:copilot, test, mod:plugin, app:core

#3564 refactor: lazy download macos maker
  .github/actions/setup-maker/action.yml
  .github/actions/setup-node/action.yml
  .github/workflows/build.yml
  .github/workflows/nightly-build.yml
  .github/workflows/release-desktop-app.yml
  apps/electron/forge.config.js
  apps/electron/package.json
  packages/maker-dmg/README.md
  packages/maker-dmg/package.json
  packages/maker-dmg/project.json
  packages/maker-dmg/src/config.ts
  packages/maker-dmg/src/maker.ts
  packages/maker-dmg/tsconfig.json
  packages/maker-dmg/vite.config.ts
  tsconfig.json
  yarn.lock
Labels: docs, app:electron

#3566 perf(server): avoid update applying logic if no pending update
  apps/server/src/modules/doc/manager.ts
Labels: app:server

#3506 fix: added scrollbar at the correct position
  apps/core/src/components/affine/setting-modal/setting-sidebar/index.tsx
  apps/core/src/components/affine/setting-modal/setting-sidebar/style.css.ts
Labels: app:core

#3578 Update README.md
  README.md
Labels: docs

#3575 refactor: remove React.FC for component package
  packages/component/src/components/card/workspace-card/index.tsx
  packages/component/src/components/internal-lottie/index.tsx
  packages/component/src/components/page-list/all-page.tsx
  packages/component/src/components/page-list/operation-cell.tsx
  packages/component/src/components/provider-composer/__tests__/provider-composer.spec.tsx
  packages/component/src/components/provider-composer/index.tsx
  packages/component/src/components/setting-components/modal.tsx
  packages/component/src/components/setting-components/setting-header.tsx
  packages/component/src/components/setting-components/setting-row.tsx
  packages/component/src/components/setting-components/wrapper.tsx
  packages/component/src/components/share-menu/export.tsx
  packages/component/src/components/share-menu/share-menu.tsx
  packages/component/src/components/share-menu/share-page.tsx
  packages/component/src/components/share-menu/share-workspace.tsx
  packages/component/src/components/tour-modal/tour-modal.tsx
  packages/component/src/components/user-avatar/index.tsx
  packages/component/src/components/workspace-avatar/index.tsx
  packages/component/src/components/workspace-list/index.tsx
  packages/component/src/components/workspace/index.tsx
  packages/component/src/ui/button/button.tsx
  packages/component/src/ui/loading/loading.tsx
Labels: mod:component, test

#3570 fix: only run migration in local workspace
  apps/core/src/bootstrap/setup.ts
Labels: app:core

#3577 fix: test flaky
  apps/core/src/adapters/workspace.ts
  apps/core/src/providers/modal-provider.tsx
Labels: app:core

#3580 feat: update 404 page
  apps/core/package.json
  apps/core/src/app.tsx
  apps/core/src/pages/404.tsx
  apps/core/tsconfig.json
  tsconfig.json
  yarn.lock
Labels: app:core

#3567 chore: bump version
  apps/core/package.json
  apps/docs/package.json
  apps/electron/e2e/basic.spec.ts
  apps/electron/e2e/workspace.spec.ts
  apps/electron/package.json
  apps/storybook/package.json
  apps/storybook/src/stories/block-suite-editor.stories.tsx
  apps/storybook/src/stories/workspace-avatar.stories.tsx
  packages/component/package.json
  packages/env/package.json
  packages/hooks/package.json
  packages/hooks/src/__tests__/index.spec.ts
  packages/hooks/src/__tests__/use-block-suite-workspace-helper.spec.ts
  packages/infra/package.json
  packages/infra/src/__tests__/use-block-suite-workspace.spec.ts
  packages/jotai/package.json
  packages/sdk/package.json
  packages/workspace/src/local/__tests__/crud.spec.ts
  packages/workspace/src/manager/index.ts
  packages/workspace/src/providers/__tests__/indexeddb-provider.spec.ts
  packages/workspace/src/providers/__tests__/sqlite-provider.spec.ts
  packages/y-indexeddb/package.json
  packages/y-indexeddb/src/__tests__/index.spec.ts
  packages/y-provider/package.json
  tests/affine-legacy/0.7.0-canary.18/package.json
  tests/affine-legacy/0.8.0-canary.7/package.json
  tests/affine-local/e2e/blocksuite/editor.spec.ts
  tests/affine-local/e2e/image-preview.spec.ts
  tests/affine-local/e2e/quick-search.spec.ts
  tests/kit/utils/page-logic.ts
  yarn.lock
Labels: mod:infra, mod:workspace, mod:hooks, mod:env, mod:component, app:electron, package:y-indexeddb, mod:store, test, app:docs, app:core, mod:sdk

#3581 build: use tsconfig bundler
  apps/core/src/atoms/index.ts
  apps/core/tsconfig.json
  apps/docs/package.json
  apps/docs/src/entries.ts
  apps/docs/src/index.html
  apps/docs/src/pages/binary
  apps/docs/tsconfig.json
  apps/electron/e2e/workspace.spec.ts
  package.json
  packages/@types/env/__all.d.ts
  packages/@types/env/package.json
  packages/component/src/components/page-list/use-collection-manager.ts
  packages/component/tsconfig.json
  packages/env/package.json
  packages/env/src/global.ts
  packages/y-indexeddb/src/shared.ts
  packages/y-indexeddb/src/utils.ts
  plugins/copilot/src/core/chat.ts
  plugins/copilot/src/core/hooks/index.ts
  tsconfig.json
  yarn.lock
Labels: mod:env, mod:component, app:electron, package:y-indexeddb, mod:store, plugin:copilot, app:docs, mod:plugin, app:core

#3550 feat: modify sidebar floating logic and header responsive style
  apps/core/src/components/blocksuite/workspace-header/header.tsx
  apps/core/src/components/blocksuite/workspace-header/index.tsx
  apps/core/src/components/blocksuite/workspace-header/styles.css.ts
  packages/component/src/components/app-sidebar/index.css.ts
  packages/component/src/components/app-sidebar/index.tsx
  packages/component/src/components/page-list/view/collection-list.css.ts
Labels: mod:component, app:core

#3590 fix: disable button when value is empty
  packages/component/src/components/page-list/view/create-collection.tsx
Labels: mod:component

#3470 feat(cli): build infra and plugins before dev-core
  packages/cli/src/bin/dev-core.ts
Labels: mod:dev

#3594 chore: bump version
  apps/core/package.json
  apps/docs/package.json
  apps/electron/package.json
  apps/storybook/package.json
  packages/component/package.json
  packages/env/package.json
  packages/hooks/package.json
  packages/infra/package.json
  packages/jotai/package.json
  packages/plugin-cli/package.json
  packages/sdk/package.json
  packages/y-indexeddb/package.json
  packages/y-provider/package.json
  tests/affine-legacy/0.7.0-canary.18/package.json
  tests/affine-legacy/0.8.0-canary.7/package.json
  yarn.lock
Labels: mod:infra, mod:hooks, mod:env, mod:component, app:electron, package:y-indexeddb, mod:store, test, app:docs, app:core, mod:plugin-cli, mod:sdk

#3504 feat: support sign with password & user info operation
  .vscode/launch.template.json
  apps/core/src/app.tsx
  apps/core/src/atoms/index.ts
  apps/core/src/components/affine/auth/index.tsx
  apps/core/src/components/affine/auth/send-email.tsx
  apps/core/src/components/affine/auth/send-password-email.tsx
  apps/core/src/components/affine/auth/sign-in-with-password.tsx
  apps/core/src/components/affine/auth/sign-in.tsx
  apps/core/src/components/affine/new-workspace-setting-detail/export.tsx
  apps/core/src/components/affine/setting-modal/account-setting/index.tsx
  apps/core/src/components/affine/setting-modal/index.tsx
  apps/core/src/components/cloud/provider.tsx
  apps/core/src/hooks/affine/use-current-user.ts
  apps/core/src/hooks/use-navigate-helper.ts
  apps/core/src/pages/auth.tsx
  apps/core/src/pages/expired.tsx
  apps/core/src/providers/modal-provider.tsx
  apps/core/src/router.ts
  apps/core/src/utils/email-regex.ts
  apps/server/src/modules/auth/next-auth-options.ts
  apps/server/src/modules/auth/next-auth.controller.ts
  apps/server/src/modules/auth/resolver.ts
  apps/server/src/modules/auth/service.ts
  apps/server/src/schema.gql
  apps/server/src/tests/auth.spec.ts
  packages/component/src/components/auth-components/change-email-page.tsx
  packages/component/src/components/auth-components/change-password-page.tsx
  packages/component/src/components/auth-components/index.tsx
  packages/component/src/components/auth-components/password-input/index.tsx
  packages/component/src/components/auth-components/set-password-page.tsx
  packages/component/src/components/auth-components/set-password.tsx
  packages/component/src/components/auth-components/sign-up-page.tsx
  packages/component/src/components/auth-components/utils.ts
  packages/graphql/src/graphql/change-email.gql
  packages/graphql/src/graphql/change-password.gql
  packages/graphql/src/graphql/index.ts
  packages/graphql/src/schema.ts
  packages/i18n/src/resources/en.json
Labels: mod:i18n, mod:component, mod:store, app:server, test, app:core

#3599 style: adjust page list header style
  apps/core/src/components/blocksuite/workspace-header/header.tsx
  apps/core/src/components/blocksuite/workspace-header/styles.css.ts
  packages/component/src/components/page-list/all-page.tsx
  packages/component/src/ui/button/styles.css.ts
  plugins/copilot/src/UI/header-item.tsx
Labels: mod:component, plugin:copilot, mod:plugin, app:core

#3604 feat(infra): lazy load plugin modules
  apps/core/src/bootstrap/plugins/setup-imports-map.ts
  apps/core/src/bootstrap/plugins/setup.ts
  packages/plugin-cli/src/af.ts
Labels: app:core, mod:plugin-cli

#3600 fix: correct contact with us icon alignment
  apps/core/src/components/affine/setting-modal/style.css.ts
Labels: app:core

#3591 feat: add local blocksuite debug support
  apps/core/.webpack/config.ts
  apps/core/.webpack/utils.ts
  packages/cli/src/bin/dev-core.ts
  packages/cli/src/config/index.ts
Labels: mod:dev

#3605 feat: support enable/disable plugin
  apps/core/src/_plugin/index.test.tsx
  apps/core/src/bootstrap/plugins/setup.ts
  apps/core/src/bootstrap/register-plugins.ts
  apps/core/src/components/affine/setting-modal/general-setting/plugins/index.tsx
  apps/core/src/components/affine/setting-modal/general-setting/plugins/style.css.ts
  apps/core/src/components/blocksuite/workspace-header/header.tsx
  apps/core/src/components/page-detail-editor.tsx
  packages/infra/package.json
  packages/infra/src/__internal__/plugin.ts
  packages/infra/src/atom.ts
  packages/infra/vite.config.ts
  packages/sdk/src/entry.ts
  plugins/copilot/src/UI/header-item.tsx
  plugins/copilot/src/index.ts
Labels: mod:infra, plugin:copilot, mod:plugin, app:core, mod:sdk

#3606 chore: bump version
  apps/core/.webpack/config.ts
  apps/core/package.json
  apps/core/project.json
  apps/core/src/bootstrap/plugins/setup.ts
  apps/core/src/bootstrap/setup.ts
  apps/docs/package.json
  apps/electron/package.json
  apps/storybook/package.json
  packages/component/package.json
  packages/env/package.json
  packages/env/src/blocksuite/subdoc-migration.ts
  packages/hooks/package.json
  packages/infra/package.json
  packages/jotai/package.json
  packages/sdk/package.json
  packages/workspace/src/manager/index.ts
  packages/y-indexeddb/package.json
  packages/y-provider/package.json
  tests/affine-legacy/0.7.0-canary.18/package.json
  tests/affine-legacy/0.8.0-canary.7/package.json
  tests/affine-local/e2e/blocksuite/editor.spec.ts
  tests/affine-local/e2e/image-preview.spec.ts
  yarn.lock
Labels: mod:infra, mod:workspace, mod:hooks, mod:env, mod:component, app:electron, package:y-indexeddb, mod:store, test, app:docs, app:core, mod:sdk

#3608 feat: replace button from @toeverything/components
  apps/core/package.json
  apps/core/src/bootstrap/plugins/setup.ts
  apps/core/src/components/affine/create-workspace-modal/index.tsx
  apps/core/src/components/affine/enable-affine-cloud-modal/index.tsx
  apps/core/src/components/affine/enable-affine-cloud-modal/style.ts
  apps/core/src/components/affine/language-menu/index.tsx
  apps/core/src/components/affine/new-workspace-setting-detail/delete-leave-workspace/delete/index.tsx
  apps/core/src/components/affine/new-workspace-setting-detail/delete-leave-workspace/leave/index.tsx
  apps/core/src/components/affine/new-workspace-setting-detail/export.tsx
  apps/core/src/components/affine/new-workspace-setting-detail/profile.tsx
  apps/core/src/components/affine/new-workspace-setting-detail/publish.tsx
  apps/core/src/components/affine/new-workspace-setting-detail/storage.tsx
  apps/core/src/components/affine/tmp-disable-affine-cloud-modal/index.tsx
  apps/core/src/components/affine/tmp-disable-affine-cloud-modal/style.ts
  apps/core/src/components/affine/transform-workspace-to-affine-modal/index.tsx
  apps/core/src/components/affine/transform-workspace-to-affine-modal/style.ts
  apps/core/src/components/blocksuite/workspace-header/header-right-items/editor-option-menu.tsx
  apps/core/src/components/blocksuite/workspace-header/header-right-items/language-menu.tsx
  apps/core/src/components/blocksuite/workspace-header/header-right-items/trash-button-group.tsx
  apps/core/src/components/blocksuite/workspace-header/index.tsx
  apps/core/src/components/pure/file-upload/index.tsx
  apps/core/src/components/pure/footer/styles.ts
  apps/core/src/components/pure/quick-search-button/index.tsx
  apps/core/src/components/pure/workspace-slider-bar/collections/add-collection-button.tsx
  apps/core/src/pages/404.tsx
  apps/storybook/src/stories/app-sidebar.stories.tsx
  apps/storybook/src/stories/button.stories.tsx
  apps/storybook/src/stories/icon-button.stories.tsx
  packages/component/src/components/app-sidebar/sidebar-header/index.tsx
  packages/component/src/components/app-sidebar/sidebar-header/sidebar-switch.tsx
  packages/component/src/components/card/workspace-card/styles.ts
  packages/component/src/components/notification-center/index.tsx
  packages/component/src/components/page-list/components/favorite-tag.tsx
  packages/component/src/components/page-list/filter/filter-list.tsx
  packages/component/src/components/page-list/operation-cell.tsx
  packages/component/src/components/page-list/view/collection-bar.tsx
  packages/component/src/components/page-list/view/collection-list.tsx
  packages/component/src/components/page-list/view/create-collection.tsx
  packages/component/src/components/share-menu/disable-public-link/index.tsx
  packages/component/src/components/share-menu/share-menu.tsx
  packages/component/src/components/share-menu/share-page.tsx
  packages/component/src/components/share-menu/share-workspace.tsx
  packages/component/src/components/share-menu/styles.ts
  packages/component/src/ui/button/button.tsx
  packages/component/src/ui/button/icon-button.tsx
  packages/component/src/ui/button/index.ts
  packages/component/src/ui/confirm/confirm.tsx
  packages/component/src/ui/menu/menu-trigger.tsx
  packages/component/src/ui/menu/styles.ts
  packages/component/src/ui/modal/modal-close-button.tsx
  plugins/copilot/package.json
  plugins/copilot/src/UI/debug-content.tsx
  plugins/copilot/src/UI/detail-content.tsx
  plugins/copilot/src/UI/header-item.tsx
  plugins/copilot/src/core/components/conversation/index.tsx
  plugins/hello-world/package.json
  plugins/hello-world/src/app.tsx
  plugins/image-preview/package.json
  plugins/image-preview/src/component/index.tsx
  yarn.lock
Labels: mod:component, plugin:copilot, mod:plugin, app:core

#3411 Upload assets to s3
  .github/workflows/deploy.yml
  apps/core/.webpack/config.ts
  apps/core/.webpack/s3-plugin.ts
  apps/core/.webpack/template.html
  apps/core/.webpack/webpack.config.ts
  apps/core/package.json
  yarn.lock
Labels: app:core

#3617 refactor: remove React.FC for affine core
  apps/core/src/components/__debug__/client/editor.tsx
  apps/core/src/components/affine/enable-affine-cloud-modal/index.tsx
  apps/core/src/components/affine/language-menu/index.tsx
  apps/core/src/components/affine/new-workspace-setting-detail/delete-leave-workspace/index.tsx
  apps/core/src/components/affine/new-workspace-setting-detail/export.tsx
  apps/core/src/components/affine/new-workspace-setting-detail/index.tsx
  apps/core/src/components/affine/new-workspace-setting-detail/profile.tsx
  apps/core/src/components/affine/new-workspace-setting-detail/publish.tsx
  apps/core/src/components/affine/new-workspace-setting-detail/storage.tsx
  apps/core/src/components/affine/onboarding-modal.tsx
  apps/core/src/components/affine/setting-modal/general-setting/appearance/date-format-setting.tsx
  apps/core/src/components/affine/setting-modal/general-setting/index.tsx
  apps/core/src/components/affine/setting-modal/index.tsx
  apps/core/src/components/affine/setting-modal/setting-sidebar/index.tsx
  apps/core/src/components/affine/tmp-disable-affine-cloud-modal/index.tsx
  apps/core/src/components/affine/transform-workspace-to-affine-modal/index.tsx
  apps/core/src/components/blocksuite/block-suite-page-list/index.tsx
  apps/core/src/components/blocksuite/workspace-header/header-right-items/language-menu.tsx
  apps/core/src/components/blocksuite/workspace-header/header.tsx
  apps/core/src/components/blocksuite/workspace-header/index.tsx
  apps/core/src/components/blocksuite/workspace-header/utils.tsx
  apps/core/src/components/page-detail-editor.tsx
  apps/core/src/components/pure/file-upload/index.tsx
  apps/core/src/components/pure/footer/index.tsx
  apps/core/src/components/pure/quick-search-modal/config.ts
  apps/core/src/components/pure/quick-search-modal/footer.tsx
  apps/core/src/components/pure/quick-search-modal/index.tsx
  apps/core/src/components/pure/quick-search-modal/results.tsx
  apps/core/src/components/pure/workspace-slider-bar/WorkspaceSelector/workspace-selector.tsx
  apps/core/src/components/pure/workspace-title/index.tsx
  apps/core/src/layouts/workspace-layout.tsx
  apps/core/src/providers/modal-provider.tsx
Labels: app:core

#3618 docs: fix typo
  docs/BUILDING.md
  docs/contributing/releases.md
Labels: docs

#3616 chore: add `@types/addfine__env` to the devDep
  apps/core/src/components/affine/create-workspace-modal/index.tsx
  apps/core/src/components/affine/new-workspace-setting-detail/export.tsx
  apps/core/src/components/affine/new-workspace-setting-detail/storage.tsx
  package.json
  tsconfig.json
  yarn.lock
Labels: app:core

#3625 fix: collection-list pin icon not changed
  packages/component/src/components/page-list/view/collection-bar.css.ts
  packages/component/src/components/page-list/view/collection-bar.tsx
  packages/component/src/components/page-list/view/collection-list.tsx
  packages/component/src/components/page-list/view/use-action.tsx
Labels: mod:component

#3623 chore: bump version
  apps/core/package.json
  apps/core/src/bootstrap/plugins/setup.ts
  apps/docs/package.json
  apps/electron/package.json
  apps/storybook/package.json
  packages/component/package.json
  packages/env/package.json
  packages/hooks/package.json
  packages/infra/package.json
  packages/jotai/package.json
  packages/sdk/package.json
  packages/y-indexeddb/package.json
  packages/y-provider/package.json
  tests/affine-legacy/0.7.0-canary.18/package.json
  tests/affine-legacy/0.8.0-canary.7/package.json
  yarn.lock
Labels: mod:infra, mod:hooks, mod:env, mod:component, app:electron, package:y-indexeddb, mod:store, test, app:docs, app:core, mod:sdk

#3626 fix: page validation logic
  apps/core/src/components/page-detail-editor.tsx
  apps/core/src/components/root-app-sidebar/index.tsx
  apps/core/src/hooks/use-navigate-helper.ts
  apps/core/src/layouts/workspace-layout.tsx
  apps/core/src/pages/workspace/detail-page.tsx
  apps/core/src/pages/workspace/index.tsx
  packages/component/src/components/block-suite-editor/index.tsx
  tests/affine-local/e2e/blocksuite/block-hub.spec.ts
Labels: mod:component, test, app:core

#3627 chore: bump version
  apps/electron/package.json
  packages/plugin-cli/package.json
  packages/plugin-cli/src/af.ts
  yarn.lock
Labels: app:electron, mod:plugin-cli

#3635 fix: sign button all missing
  apps/core/src/components/affine/setting-modal/setting-sidebar/index.tsx
  apps/core/src/components/pure/footer/index.tsx
  apps/core/src/components/pure/footer/styles.ts
Labels: app:core

#3634 chore: bump version
  apps/core/package.json
  apps/docs/package.json
  apps/electron/package.json
  apps/storybook/package.json
  packages/component/package.json
  packages/env/package.json
  packages/hooks/package.json
  packages/infra/package.json
  packages/jotai/package.json
  packages/sdk/package.json
  packages/y-indexeddb/package.json
  packages/y-provider/package.json
  tests/affine-legacy/0.7.0-canary.18/package.json
  tests/affine-legacy/0.8.0-canary.7/package.json
  yarn.lock
Labels: mod:infra, mod:hooks, mod:env, mod:component, app:electron, package:y-indexeddb, mod:store, test, app:docs, app:core, mod:sdk

#3637 chore(storage): update storage upstream
  packages/storage/Cargo.lock
Labels: rust, mod:storage

#3639 fix: help island icons height
  apps/core/src/components/pure/help-island/index.tsx
Labels: app:core

#3640 chore: bump icon version and change plugins icon
  apps/core/package.json
  apps/core/src/components/affine/setting-modal/general-setting/index.tsx
  apps/storybook/package.json
  packages/component/package.json
  plugins/bookmark/package.json
  plugins/hello-world/package.json
  plugins/image-preview/package.json
  yarn.lock
Labels: mod:component, mod:plugin, app:core

#3646 fix: cookie handling in Electron
  apps/electron/src/main/main-window.ts
  apps/electron/src/main/protocol.ts
  apps/electron/src/main/utils.ts
Labels: app:electron

#3539 feat(affine-cloud): tracing
  .env.template
  .github/workflows/build.yml
  apps/core/.webpack/runtime-config.ts
  apps/server/package.json
  apps/server/schema.prisma
  apps/server/src/index.ts
  packages/env/src/global.ts
  packages/graphql/package.json
  packages/graphql/src/__tests__/fetcher.spec.ts
  packages/graphql/src/fetcher.ts
  packages/graphql/src/index.ts
  packages/graphql/src/utils.ts
  packages/graphql/tsconfig.json
  packages/workspace/src/blob/cloud-blob-storage.ts
  packages/workspace/src/providers/cloud/index.ts
  yarn.lock
Labels: mod:workspace, mod:env, app:server, test

#3653 fix: only download root doc
  packages/workspace/src/providers/cloud/index.ts
Labels: mod:workspace

#3654 chore: bump blocksuite version
  apps/core/package.json
  apps/docs/package.json
  apps/electron/package.json
  apps/storybook/package.json
  packages/component/package.json
  packages/env/package.json
  packages/hooks/package.json
  packages/infra/package.json
  packages/jotai/package.json
  packages/sdk/package.json
  packages/sdk/src/entry.ts
  packages/y-indexeddb/package.json
  packages/y-provider/package.json
  plugins/bookmark/src/app.tsx
  tests/affine-legacy/0.7.0-canary.18/package.json
  tests/affine-legacy/0.8.0-canary.7/package.json
  tests/affine-local/e2e/image-preview.spec.ts
  yarn.lock
Labels: mod:infra, mod:hooks, mod:env, mod:component, app:electron, package:y-indexeddb, mod:store, test, app:docs, mod:plugin, app:core, mod:sdk

#3663 fix: use spanProcessor
  apps/server/src/index.ts
Labels: app:server

#3665 chore(storage): update storage upstream
  packages/storage/Cargo.lock
Labels: rust, mod:storage

#3664 fix: remove workspace.list in CRUD
  apps/electron/e2e/workspace.spec.ts
  apps/electron/src/main/main-window.ts
  packages/component/src/theme/global.css
  packages/workspace/src/local/crud.ts
Labels: mod:workspace, mod:component, app:electron

#3659 feat: add no match route
  apps/core/src/router.ts
Labels: app:core

#3672 chore: bump version
  apps/docs/package.json
  yarn.lock
Labels: app:docs

#3667 chore: remove dependency of blocksuite/blocks/std
  apps/core/src/bootstrap/plugins/setup.ts
Labels: app:core

#3674 feat: new preload pages
  apps/core/package.json
  apps/core/src/adapters/local/index.tsx
  apps/core/src/hooks/use-workspaces.ts
  apps/core/src/pages/index.tsx
  apps/core/src/pages/workspace/all-page.tsx
  apps/docs/package.json
  apps/electron/package.json
  apps/prototype/package.json
  apps/storybook/package.json
  packages/@types/env/__all.d.ts
  packages/component/package.json
  packages/env/package.json
  packages/env/src/blocksuite/index.ts
  packages/hooks/package.json
  packages/hooks/src/use-block-suite-page-meta.ts
  packages/infra/package.json
  packages/infra/src/blocksuite/index.ts
  packages/infra/vite.config.ts
  packages/jotai/package.json
  packages/sdk/package.json
  packages/templates/package.json
  packages/templates/preloading.json
  packages/templates/v1/annual-performance-review.json
  packages/templates/v1/brief-event-planning.json
  packages/templates/v1/getting-started.json
  packages/templates/v1/meeting-summary.json
  packages/templates/v1/okr-template.json
  packages/templates/v1/personal-home.json
  packages/templates/v1/personal-knowledge-management.json
  packages/templates/v1/personal-project-management.json
  packages/templates/v1/preloading.json
  packages/templates/v1/template-galleries.json
  packages/templates/v1/travel-plan.json
  packages/templates/v1/working-home.json
  packages/y-indexeddb/package.json
  packages/y-provider/package.json
  tests/affine-legacy/0.7.0-canary.18/package.json
  tests/affine-legacy/0.8.0-canary.7/package.json
  tests/affine-local/e2e/all-page.spec.ts
  tests/affine-local/e2e/local-first-collections-items.spec.ts
  tests/affine-local/e2e/local-first-favorite-page.spec.ts
  tsconfig.json
  yarn.lock
Labels: mod:infra, docs, mod:hooks, mod:env, mod:component, app:electron, package:y-indexeddb, mod:store, test, app:docs, app:core, mod:sdk

#3676 fix: upload blobs
  apps/core/public/static/029uztLz2CzJezK7UUhrbGiWUdZ0J7NVs_qR6RDsvb8=.png
  apps/core/public/static/0hjYqQd8SvwHT2gPds7qFw8W6qIEGVbZvG45uzoYjUU=.png
  apps/core/public/static/4HXJrnBZGaGPFpowNawNog0aMg3dgoVaAnNqEMeUxq0=.png
  apps/core/public/static/5Cfem_137WmzR35ZeIC76oTkq5SQt-eHlZwJiLy0hgU=.png
  apps/core/public/static/Bd5F0WRI0fLh8RK1al9PawPVT3jv7VwBrqiiBEtdV-g=.png
  apps/core/public/static/CBWoKrhSDndjBJzscQKENRqiXOOZnzIA5qyiCoy4-A0=.png
  apps/core/public/static/D7g-4LMqOsVWBNOD-_kGgCOvJEoc8rcpYbkfDlF2u5U=.png
  apps/core/public/static/fb0SNPtMpQlzBQ90_PB7vCu34WpiSUJbNKocFkL2vIo=.png
  apps/core/public/static/i39ZQ24NlUfWI0MhkbtvHTzGnWMVdr-aC2aOjvHPVg4=.png
  apps/core/public/static/k07JiWnb-S7qgd9gDQNgqo-LYMe03RX8fR0TXQ-SpG4=.png
  apps/core/public/static/nSEEkYxrThpZfLoPNOzMp6HWekvutAIYmADElDe1J6I=.png
  apps/core/public/static/qezoK6du9n3PF4dl4aq5r7LeXz_sV3xOVpFzVVgjNsE=.png
  apps/core/public/static/rY96Bunn-69CnNe5X_e5CJLwgCJnN6rcbUisecs8kkQ=.png
  apps/core/public/static/sNVNYDBzUDN2J9OFVJdLJlryBLzRZBLl-4MTNoPF1tA=.png
  apps/core/public/static/uvpOG9DrldeqIGNaqfwjFdMw_CcfXKfiEjYf7RXdeL0=.png
  apps/core/public/static/v2yF7lY2L5rtorTtTmYFsoMb9dBPKs5M1y9cUKxcI1M=.png
  packages/workspace/src/blob/local-static-storage.ts
Labels: mod:workspace, app:core

#3677 chore: bump version
  apps/core/package.json
  apps/docs/package.json
  apps/electron/package.json
  apps/prototype/package.json
  apps/storybook/package.json
  packages/component/package.json
  packages/env/package.json
  packages/hooks/package.json
  packages/infra/package.json
  packages/jotai/package.json
  packages/sdk/package.json
  packages/y-indexeddb/package.json
  packages/y-provider/package.json
  tests/affine-legacy/0.7.0-canary.18/package.json
  tests/affine-legacy/0.8.0-canary.7/package.json
  yarn.lock
Labels: mod:infra, mod:hooks, mod:env, mod:component, app:electron, package:y-indexeddb, mod:store, test, app:docs, app:core, mod:sdk

#3687 fix: remove usage of `mergeUpdates`
  apps/electron/package.json
  apps/web/package.json
  packages/component/package.json
  packages/storage/package.json
  packages/workspace/package.json
  packages/workspace/src/providers/index.ts
  packages/y-indexeddb/src/utils.ts
  yarn.lock
Labels: mod:workspace, mod:component, app:web, app:electron, package:y-indexeddb, mod:storage

#3643 feat: adjust email style
  apps/server/src/modules/auth/next-auth-options.ts
Labels: app:server

#3686 fix: test case
  tests/affine-local/e2e/all-page.spec.ts
  tests/affine-local/e2e/local-first-collections-items.spec.ts
  tests/kit/utils/filter.ts
  tests/kit/utils/page-logic.ts
Labels: test

#3690 fix(trace): use 2-digit precision milliseconds
  packages/graphql/src/__tests__/fetcher.spec.ts
  packages/graphql/src/utils.ts
Labels: test

#3691 fix(trace): use native date
  packages/graphql/src/__tests__/fetcher.spec.ts
  packages/graphql/src/fetcher.ts
  packages/graphql/src/utils.ts
Labels: test

#3675 feat: add duplicate feature
  apps/core/src/components/blocksuite/workspace-header/header-right-items/editor-option-menu.tsx
  packages/component/src/components/block-suite-editor/index.tsx
  tests/affine-local/e2e/duplicate-page.spec.ts
Labels: mod:component, test, app:core

#3693 fix: update blocksuite version
  apps/core/package.json
  apps/docs/package.json
  apps/electron/package.json
  apps/prototype/package.json
  apps/storybook/package.json
  packages/component/package.json
  packages/env/package.json
  packages/hooks/package.json
  packages/infra/package.json
  packages/jotai/package.json
  packages/sdk/package.json
  packages/y-indexeddb/package.json
  packages/y-provider/package.json
  tests/affine-legacy/0.7.0-canary.18/package.json
  tests/affine-legacy/0.8.0-canary.7/package.json
  yarn.lock
Labels: mod:infra, mod:hooks, mod:env, mod:component, app:electron, package:y-indexeddb, mod:store, test, app:docs, app:core, mod:sdk

#3695 fix: remove invisible unicode for dynamicImportKey
  apps/core/src/bootstrap/plugins/setup.ts
Labels: app:core

#3694 refactor: remove React.FC
  packages/env/src/workspace.ts
  packages/sdk/src/entry.ts
  plugins/bookmark/src/app.tsx
Labels: mod:env, mod:plugin, mod:sdk

#3701 chore: prohibit using `mergeUpdates`
  .eslintrc.js
  apps/core/src/components/blocksuite/workspace-header/header-right-items/editor-option-menu.tsx
  apps/electron/src/helper/db/__tests__/migration.spec.ts
  apps/electron/src/helper/db/__tests__/workspace-db-adapter.spec.ts
  apps/electron/src/helper/db/merge-update.ts
  apps/electron/src/helper/db/migration.ts
  apps/electron/src/helper/db/secondary-db.ts
  apps/electron/src/helper/db/workspace-db-adapter.ts
  packages/env/src/__tests__/subdoc-migration.spec.ts
  packages/env/src/blocksuite/subdoc-migration.ts
  packages/storage/__tests__/storage.spec.js
  packages/y-indexeddb/src/__tests__/index.spec.ts
  packages/y-indexeddb/src/provider.ts
  packages/y-indexeddb/src/utils.ts
Labels: mod:env, app:electron, package:y-indexeddb, test, mod:storage, app:core

#3702 fix: page references in list/database
  packages/hooks/src/use-block-suite-page-references.ts
Labels: mod:hooks

#3688 feat: add Intl.Segmenter polyfill
  apps/core/.webpack/config.ts
  apps/core/.webpack/webpack.config.ts
  apps/core/package.json
  apps/core/src/polyfill/intl-segmenter.ts
  yarn.lock
Labels: app:core

#3706 chore: bump version
  apps/core/package.json
  apps/core/src/bootstrap/plugins/setup.ts
  apps/core/src/shared/__tests__/gql.spec.tsx
  apps/core/src/shared/gql.ts
  apps/docs/package.json
  apps/electron/package.json
  apps/server/package.json
  apps/storybook/package.json
  package.json
  packages/cli/package.json
  packages/component/package.json
  packages/component/src/ui/modal/styles.ts
  packages/component/src/ui/mui.ts
  packages/component/src/ui/popper/popper.tsx
  packages/env/package.json
  packages/graphql/package.json
  packages/i18n/package.json
  packages/infra/package.json
  packages/jotai/package.json
  packages/native/package.json
  packages/plugin-cli/package.json
  packages/sdk/package.json
  packages/storage/package.json
  packages/workers/package.json
  packages/workspace/package.json
  plugins/copilot/package.json
  plugins/image-preview/package.json
  tests/affine-legacy/0.7.0-canary.18/package.json
  tests/affine-legacy/0.8.0-canary.7/package.json
  tests/affine-local/package.json
  tests/affine-plugin/e2e/basic.spec.ts
  tests/affine-plugin/package.json
  tests/affine-prototype/package.json
  tests/kit/package.json
  yarn.lock
Labels: mod:infra, mod:workspace, mod:i18n, mod:env, mod:component, app:electron, mod:dev, mod:store, app:server, plugin:copilot, test, app:docs, mod:plugin, mod:storage, mod:native, app:core, mod:plugin-cli, mod:sdk

#3685 feat: refator header
  apps/core/package.json
  apps/core/src/components/blocksuite/block-suite-header-title/index.tsx
  apps/core/src/components/blocksuite/block-suite-header-title/operation-menu.tsx
  apps/core/src/components/blocksuite/block-suite-header-title/styles.css.ts
  apps/core/src/components/blocksuite/block-suite-mode-switch/animation-data/edgeless-hover.json
  apps/core/src/components/blocksuite/block-suite-mode-switch/animation-data/page-hover.json
  apps/core/src/components/blocksuite/block-suite-mode-switch/index.tsx
  apps/core/src/components/blocksuite/block-suite-mode-switch/style.ts
  apps/core/src/components/blocksuite/block-suite-mode-switch/switch-items.tsx
  apps/core/src/components/blocksuite/workspace-header/download-tips.tsx
  apps/core/src/components/blocksuite/workspace-header/header-right-items/language-menu.tsx
  apps/core/src/components/blocksuite/workspace-header/header-right-items/theme-mode-switch/icons.tsx
  apps/core/src/components/blocksuite/workspace-header/header-right-items/theme-mode-switch/index.tsx
  apps/core/src/components/blocksuite/workspace-header/header-right-items/theme-mode-switch/style.ts
  apps/core/src/components/blocksuite/workspace-header/header-right-items/user-avatar.tsx
  apps/core/src/components/blocksuite/workspace-header/header.tsx
  apps/core/src/components/blocksuite/workspace-header/index.tsx
  apps/core/src/components/blocksuite/workspace-header/styles.css.ts
  apps/core/src/components/page-detail-editor.tsx
  apps/core/src/components/pure/header/index.tsx
  apps/core/src/components/pure/header/style.css.tsx
  apps/core/src/components/pure/header/top-tip.tsx
  apps/core/src/components/pure/header/windows-app-controls.tsx
  apps/core/src/components/pure/plugin-header/index.tsx
  apps/core/src/components/pure/plugin-header/styles.css.ts
  apps/core/src/components/pure/trash-button-group/index.tsx
  apps/core/src/components/pure/trash-button-group/styles.css.ts
  apps/core/src/components/pure/workspace-mode-filter-tab/index.tsx
  apps/core/src/components/pure/workspace-title/index.tsx
  apps/core/src/components/workspace-header.tsx
  apps/electron/e2e/workspace.spec.ts
  packages/component/src/components/page-list/view/collection-list.tsx
  tests/kit/utils/filter.ts
  tests/kit/utils/page-logic.ts
  yarn.lock
Labels: mod:component, app:electron, test, app:core

#3710 chore: bump version
  apps/core/package.json
  apps/docs/package.json
  apps/electron/package.json
  apps/prototype/package.json
  apps/storybook/package.json
  packages/component/package.json
  packages/env/package.json
  packages/hooks/package.json
  packages/infra/package.json
  packages/jotai/package.json
  packages/sdk/package.json
  packages/y-indexeddb/package.json
  packages/y-provider/package.json
  tests/affine-legacy/0.7.0-canary.18/package.json
  tests/affine-legacy/0.8.0-canary.7/package.json
  yarn.lock
Labels: mod:infra, mod:hooks, mod:env, mod:component, app:electron, package:y-indexeddb, mod:store, test, app:docs, app:core, mod:sdk

#3711 fix(electron): download tip
  apps/core/src/atoms/guide.ts
Labels: mod:store, app:core

#3718 fix: get back the missing scrollbar
  packages/component/src/theme/global.css
  tests/affine-local/e2e/open-affine.spec.ts
Labels: mod:component, test

#3734 chore: adjust translation
  apps/core/src/components/affine/new-workspace-setting-detail/delete-leave-workspace/index.tsx
  apps/core/src/components/affine/new-workspace-setting-detail/index.tsx
  apps/core/src/components/affine/new-workspace-setting-detail/publish.tsx
  apps/core/src/components/affine/setting-modal/general-setting/about/index.tsx
  apps/core/src/components/affine/setting-modal/general-setting/appearance/index.tsx
  apps/core/src/components/affine/setting-modal/index.tsx
  apps/core/src/components/pure/workspace-slider-bar/collections/collections-list.tsx
  packages/component/src/components/page-list/filter/filter-list.tsx
  packages/component/src/components/page-list/operation-cell.tsx
  packages/component/src/components/page-list/view/create-collection.tsx
  packages/i18n/src/resources/de.json
  packages/i18n/src/resources/en.json
  packages/i18n/src/resources/fr.json
  packages/i18n/src/resources/index.ts
  packages/i18n/src/resources/ja.json
  packages/i18n/src/resources/ko.json
  packages/i18n/src/resources/ru.json
  packages/i18n/src/resources/zh-Hans.json
  packages/i18n/src/resources/zh-Hant.json
Labels: mod:i18n, mod:component, app:core

#3740 fix: allow multiple versions to be installed on windows
  apps/electron/forge.config.js
  apps/electron/scripts/generate-assets.mjs
Labels: app:electron

#3727 fix: shaky header
  apps/core/package.json
  apps/core/src/components/pure/header/index.tsx
  apps/core/src/components/pure/header/style.css.tsx
  yarn.lock
Labels: app:core

#3733 fix: error style of empty page
  packages/component/src/components/page-list/styles.ts
Labels: mod:component

#3741 fix(plugin): allow multiple loads assets
  apps/core/src/bootstrap/register-plugins.ts
  plugins/vue-hello-world/src/app.vue
Labels: mod:plugin, app:core

#3738 fix: ui issues
  apps/core/package.json
  apps/core/src/components/affine/language-menu/index.tsx
  apps/core/src/components/affine/new-workspace-setting-detail/profile.tsx
  apps/core/src/components/affine/new-workspace-setting-detail/style.css.ts
  apps/core/src/components/affine/setting-modal/general-setting/appearance/index.tsx
  apps/core/src/components/affine/setting-modal/index.tsx
  apps/core/src/components/affine/setting-modal/style.css.ts
  apps/core/src/components/affine/workspace-setting-detail/panel/general/icons.tsx
  apps/core/src/components/pure/footer/index.tsx
  apps/core/src/components/pure/footer/styles.ts
  packages/component/src/components/page-list/operation-menu-items/export.tsx
  packages/component/src/components/setting-components/share.css.ts
  packages/component/src/ui/button/radio.tsx
  packages/component/src/ui/button/styles.css.ts
  packages/component/src/ui/menu/menu-trigger.tsx
  packages/component/src/ui/menu/styles.ts
  packages/component/src/ui/popper/interface.ts
  packages/component/src/ui/popper/popper.tsx
  packages/component/src/ui/switch/index.css.ts
  plugins/copilot/package.json
  plugins/hello-world/package.json
  plugins/image-preview/package.json
  yarn.lock
Labels: mod:component, plugin:copilot, mod:plugin, app:core

#3742 chore: bump version
  apps/core/package.json
  apps/docs/package.json
  apps/electron/package.json
  apps/prototype/package.json
  apps/storybook/package.json
  packages/component/package.json
  packages/env/package.json
  packages/hooks/package.json
  packages/infra/package.json
  packages/jotai/package.json
  packages/sdk/package.json
  packages/y-indexeddb/package.json
  packages/y-provider/package.json
  tests/affine-legacy/0.7.0-canary.18/package.json
  tests/affine-legacy/0.8.0-canary.7/package.json
  yarn.lock
Labels: mod:infra, mod:hooks, mod:env, mod:component, app:electron, package:y-indexeddb, mod:store, test, app:docs, app:core, mod:sdk

#3743 docs: update badge in README.md
  README.md
Labels: docs

#3744 fix(core): first page
  packages/infra/src/blocksuite/index.ts
  packages/templates/v1/getting-started.json
Labels: mod:infra, docs

#3747 fix(electron): type on handlers
  apps/electron/src/helper/db/base-db-adapter.ts
  apps/electron/src/helper/db/workspace-db-adapter.ts
  apps/electron/src/helper/exposed.ts
  packages/infra/src/type.ts
Labels: mod:infra, app:electron

#3750 fix: show recursive items
  apps/core/src/components/pure/workspace-slider-bar/components/reference-page.tsx
Labels: app:core

#3754 chore: update en.json
  packages/i18n/src/resources/en.json
Labels: mod:i18n

#3755 fix: ui issues
  apps/core/src/components/affine/language-menu/index.tsx
  apps/core/src/components/blocksuite/block-suite-header-title/styles.css.ts
Labels: app:core

#3753 chore: adjust preloading page
  packages/templates/v1/getting-started.json
Labels: docs

#3759 chore(storage): bump up upstream
  .github/workflows/build.yml
  .github/workflows/deploy.yml
  Cargo.lock
  Cargo.toml
  apps/server/src/modules/doc/manager.ts
  packages/native/Cargo.toml
  packages/storage/Cargo.lock
  packages/storage/Cargo.toml
  tests/affine-cloud/package.json
  yarn.lock
Labels: app:server, test, rust, mod:storage, mod:native, dependencies

#3761 fix: wrong style of cancel button in create workspace modal
  apps/core/src/components/affine/create-workspace-modal/index.tsx
Labels: app:core

#3757 fix: en.json for login branch
  apps/core/src/components/affine/new-workspace-setting-detail/members.tsx
  packages/i18n/src/resources/en.json
Labels: mod:i18n, app:core

#3764 feat: add chromatic
  .github/workflows/build.yml
  apps/storybook/README.md
  apps/storybook/package.json
  yarn.lock
Labels: docs

#3745 fix(core): default page mode
  apps/core/src/adapters/local/index.tsx
  apps/core/src/hooks/use-workspaces.ts
  packages/infra/src/blocksuite/index.ts
Labels: mod:infra, app:core

#3765 feat(storybook): preview app in storybook
  .github/workflows/build.yml
  apps/core/package.json
  apps/core/src/bootstrap/setup.ts
  apps/core/src/components/blocksuite/block-suite-mode-switch/switch-items.tsx
  apps/core/src/router.ts
  apps/core/tsconfig.json
  apps/storybook/.storybook/main.ts
  apps/storybook/.storybook/preview.tsx
  apps/storybook/package.json
  apps/storybook/src/stories/core.stories.tsx
  apps/storybook/src/stories/page-list.stories.tsx
  apps/storybook/tsconfig.json
  apps/storybook/tsconfig.node.json
  tsconfig.json
  yarn.lock
Labels: app:core

#3717 fix: add min height to footer
  apps/core/src/components/affine/setting-modal/style.css.ts
Labels: app:core

#3624 feat: add outline plugin
  apps/core/src/bootstrap/plugins/setup.ts
  apps/core/src/components/page-detail-editor.tsx
  packages/infra/src/__internal__/plugin.ts
  packages/sdk/src/entry.ts
  plugins/outline/package.json
  plugins/outline/project.json
  plugins/outline/src/app.tsx
  plugins/outline/src/atom.ts
  plugins/outline/src/index.ts
  plugins/outline/tsconfig.json
  tests/affine-plugin/e2e/basic.spec.ts
  yarn.lock
Labels: mod:infra, test, mod:plugin, app:core, mod:sdk

#3768 feat(storybook): import plugins
  .github/workflows/build.yml
  .github/workflows/publish-storybook.yml
  apps/core/package.json
  apps/storybook/.storybook/preview.tsx
  apps/storybook/package.json
  apps/storybook/src/stories/core.stories.tsx
  yarn.lock
Labels: app:core

#3774 fix: disable secondary db test
  apps/electron/src/helper/db/__tests__/ensure-db.spec.ts
Labels: app:electron, test

#3771 chore: bump version
  apps/core/package.json
  apps/docs/package.json
  apps/electron/package.json
  apps/prototype/package.json
  apps/storybook/package.json
  packages/component/package.json
  packages/env/package.json
  packages/hooks/package.json
  packages/infra/package.json
  packages/jotai/package.json
  packages/sdk/package.json
  packages/y-indexeddb/package.json
  packages/y-provider/package.json
  tests/affine-legacy/0.7.0-canary.18/package.json
  tests/affine-legacy/0.8.0-canary.7/package.json
  tsconfig.json
  yarn.lock
Labels: mod:infra, mod:hooks, mod:env, mod:component, app:electron, package:y-indexeddb, mod:store, test, app:docs, app:core, mod:sdk

#3769 fix: tooltip arrow
  apps/core/src/components/pure/help-island/index.tsx
  packages/component/src/components/workspace/index.css.ts
  packages/component/src/ui/popper/popper.tsx
  packages/component/src/ui/tooltip/tooltip.tsx
  plugins/image-preview/src/component/index.tsx
  plugins/image-preview/src/component/toast.ts
Labels: mod:component, mod:plugin, app:core

#3770 fix: ignore some files to be bundled
  apps/electron/forge.config.js
  apps/electron/scripts/dev.mjs
Labels: app:electron

#3784 chore: bump version
  apps/core/package.json
  apps/core/src/components/affine/new-workspace-setting-detail/export.tsx
  apps/docs/package.json
  apps/electron/package.json
  apps/server/package.json
  apps/storybook/package.json
  package.json
  packages/component/package.json
  packages/env/package.json
  packages/graphql/package.json
  packages/hooks/package.json
  packages/i18n/package.json
  packages/infra/package.json
  packages/native/package.json
  packages/plugin-cli/package.json
  packages/sdk/package.json
  packages/storage/package.json
  packages/workers/package.json
  packages/workspace/package.json
  packages/y-indexeddb/package.json
  plugins/bookmark/package.json
  plugins/copilot/package.json
  plugins/image-preview/package.json
  plugins/outline/package.json
  yarn.lock
Labels: mod:infra, mod:workspace, mod:i18n, mod:hooks, mod:env, mod:component, app:electron, package:y-indexeddb, app:server, plugin:copilot, app:docs, mod:plugin, mod:storage, mod:native, app:core, mod:plugin-cli, mod:sdk

#3781 fix(core): unused z-index
  packages/component/src/components/workspace/index.css.ts
Labels: mod:component

#3789 fix(core): correct the suspense behavior
  apps/core/src/components/affine/setting-modal/index.tsx
  apps/core/src/components/affine/setting-modal/workspace-setting/index.tsx
Labels: app:core

#3700 feat: new workspace switch dropdown design
  apps/core/src/components/pure/workspace-list-modal/index.tsx
  apps/core/src/components/pure/workspace-list-modal/styles.ts
  apps/core/src/components/pure/workspace-slider-bar/WorkspaceSelector/workspace-selector.tsx
  apps/core/src/providers/modal-provider.tsx
  apps/storybook/src/stories/core.stories.tsx
  packages/component/src/components/card/workspace-card/index.tsx
  packages/component/src/components/card/workspace-card/styles.ts
  packages/i18n/src/resources/en.json
  tests/affine-local/e2e/image-preview.spec.ts
  tests/affine-local/e2e/local-first-workspace-list.spec.ts
  tests/kit/utils/workspace.ts
Labels: mod:i18n, mod:component, test, app:core

#3798 chore: bump blocksuite version
  apps/core/package.json
  apps/docs/package.json
  apps/electron/package.json
  apps/prototype/package.json
  apps/storybook/package.json
  packages/component/package.json
  packages/env/package.json
  packages/hooks/package.json
  packages/infra/package.json
  packages/jotai/package.json
  packages/sdk/package.json
  packages/y-indexeddb/package.json
  packages/y-provider/package.json
  tests/affine-legacy/0.7.0-canary.18/package.json
  tests/affine-legacy/0.8.0-canary.7/package.json
  tsconfig.json
  yarn.lock
Labels: mod:infra, mod:hooks, mod:env, mod:component, app:electron, package:y-indexeddb, mod:store, test, app:docs, app:core, mod:sdk

#3799 fix(core): editor height incorrect
  apps/core/src/components/page-detail-editor.tsx
  apps/electron/e2e/basic.spec.ts
  packages/component/src/components/card/workspace-card/index.tsx
Labels: mod:component, app:electron, app:core

#3778 feat: modify invite ui
  apps/core/src/components/affine/new-workspace-setting-detail/members.tsx
  apps/core/src/components/affine/new-workspace-setting-detail/permission-select/index.css.ts
  apps/core/src/components/affine/new-workspace-setting-detail/permission-select/index.tsx
  apps/core/src/components/affine/new-workspace-setting-detail/publish.tsx
  apps/core/src/components/affine/new-workspace-setting-detail/storage.tsx
  apps/core/src/components/affine/new-workspace-setting-detail/style.css.ts
  apps/core/src/components/affine/setting-modal/style.css.ts
  apps/core/src/hooks/affine/use-invite-member.ts
  apps/core/src/hooks/affine/use-members.ts
  apps/core/src/pages/invite.tsx
  packages/component/src/components/auth-components/auth-input.tsx
  packages/component/src/components/auth-components/share.css.ts
  packages/component/src/components/member-components/accept-invite-page.tsx
  packages/component/src/components/member-components/index.tsx
  packages/component/src/components/member-components/invite-modal.tsx
  packages/component/src/components/member-components/styles.css.tsx
  packages/component/src/ui/input/input.tsx
  packages/component/src/ui/input/style.css.ts
  packages/i18n/src/resources/en.json
  plugins/copilot/src/UI/debug-content.tsx
Labels: mod:i18n, mod:component, plugin:copilot, mod:plugin, app:core

#3794 fix(core): cleanup layout when switch page
  apps/core/src/bootstrap/plugins/setup.ts
  apps/core/src/components/page-detail-editor.tsx
  packages/infra/src/__internal__/plugin.ts
  plugins/outline/src/app.tsx
  plugins/outline/src/atom.ts
Labels: mod:infra, mod:plugin, app:core

#3812 fix: toc tooltip
  plugins/outline/src/app.tsx
Labels: mod:plugin

#3808 fix: workspace dropdown fix
  apps/core/src/components/pure/workspace-list-modal/index.tsx
  apps/core/src/components/pure/workspace-list-modal/styles.ts
  packages/component/src/components/card/workspace-card/index.tsx
  packages/component/src/ui/tooltip/tooltip.tsx
Labels: mod:component, app:core

#3783 fix: app sidebar ui issues
  apps/core/src/components/pure/workspace-slider-bar/WorkspaceSelector/styles.ts
  apps/core/src/components/pure/workspace-slider-bar/collections/collections-list.tsx
  apps/core/src/components/pure/workspace-slider-bar/collections/page.tsx
  apps/core/src/components/pure/workspace-slider-bar/collections/styles.css.ts
  apps/core/src/components/pure/workspace-slider-bar/favorite/styles.css.ts
  apps/core/src/components/root-app-sidebar/index.tsx
  apps/electron/src/main/main-window.ts
  packages/component/src/components/app-sidebar/category-divider/index.css.ts
  packages/component/src/components/app-sidebar/index.css.ts
  packages/component/src/components/app-sidebar/menu-item/index.css.ts
  packages/component/src/components/app-sidebar/menu-item/index.tsx
  packages/component/src/components/app-sidebar/quick-search-input/index.css.ts
  packages/component/src/components/app-sidebar/resize-indicator/index.tsx
  packages/component/src/components/app-sidebar/sidebar-containers/index.css.ts
  packages/component/src/components/workspace-avatar/index.css.ts
  packages/component/src/theme/global.css
  packages/component/src/ui/scrollbar/index.css.ts
  tests/affine-local/e2e/local-first-collections-items.spec.ts
  tests/affine-local/e2e/local-first-favorites-items.spec.ts
Labels: mod:component, app:electron, test, app:core

#3807 feat: modify shortcut key style
  apps/core/src/components/affine/setting-modal/general-setting/shortcuts/index.tsx
  apps/core/src/components/affine/setting-modal/general-setting/shortcuts/style.css.ts
  apps/core/src/components/pure/shortcuts-modal/index.tsx
  apps/core/src/components/pure/shortcuts-modal/style.css.ts
  apps/core/src/components/pure/shortcuts-modal/style.ts
  apps/core/src/hooks/affine/use-shortcuts.ts
Labels: app:core

#3797 chore: update the top tip
  apps/core/src/components/pure/header/top-tip.tsx
Labels: app:core

#3800 fix: wrong cascading relationship
  apps/core/src/components/pure/header/style.css.tsx
  apps/core/src/components/pure/trash-button-group/styles.css.ts
Labels: app:core

#3815 chore: bump version
  apps/core/.webpack/runtime-config.ts
  apps/core/package.json
  apps/docs/package.json
  apps/electron/package.json
  apps/prototype/package.json
  apps/storybook/package.json
  packages/component/package.json
  packages/env/package.json
  packages/env/src/global.ts
  packages/hooks/package.json
  packages/infra/package.json
  packages/jotai/package.json
  packages/sdk/package.json
  packages/y-indexeddb/package.json
  packages/y-provider/package.json
  plugins/bookmark/src/app.tsx
  tests/affine-legacy/0.7.0-canary.18/package.json
  tests/affine-legacy/0.8.0-canary.7/package.json
  yarn.lock
Labels: mod:infra, mod:hooks, mod:env, mod:component, app:electron, package:y-indexeddb, mod:store, test, app:docs, mod:plugin, app:core, mod:sdk

#3804 fix(workspace): trim guid before sending to server
  apps/server/src/metrics/metrics.ts
  apps/server/src/modules/doc/manager.ts
  packages/workspace/src/affine/index.ts
  packages/workspace/src/affine/sync-socket-io/index.ts
  packages/workspace/src/affine/utils.ts
Labels: mod:workspace, app:server

#3817 feat: merge code from master
  apps/core/.webpack/runtime-config.ts
  apps/core/package.json
  apps/core/src/components/affine/setting-modal/general-setting/shortcuts/index.tsx
  apps/core/src/components/affine/setting-modal/general-setting/shortcuts/style.css.ts
  apps/core/src/components/pure/header/style.css.tsx
  apps/core/src/components/pure/header/top-tip.tsx
  apps/core/src/components/pure/shortcuts-modal/index.tsx
  apps/core/src/components/pure/shortcuts-modal/style.css.ts
  apps/core/src/components/pure/shortcuts-modal/style.ts
  apps/core/src/components/pure/trash-button-group/styles.css.ts
  apps/core/src/components/pure/workspace-list-modal/index.tsx
  apps/core/src/components/pure/workspace-list-modal/styles.ts
  apps/core/src/components/pure/workspace-slider-bar/WorkspaceSelector/styles.ts
  apps/core/src/components/pure/workspace-slider-bar/collections/collections-list.tsx
  apps/core/src/components/pure/workspace-slider-bar/collections/page.tsx
  apps/core/src/components/pure/workspace-slider-bar/collections/styles.css.ts
  apps/core/src/components/pure/workspace-slider-bar/favorite/styles.css.ts
  apps/core/src/components/root-app-sidebar/index.tsx
  apps/core/src/hooks/affine/use-shortcuts.ts
  apps/docs/package.json
  apps/electron/package.json
  apps/electron/src/main/main-window.ts
  apps/prototype/package.json
  apps/storybook/.storybook/main.ts
  apps/storybook/package.json
  packages/component/package.json
  packages/component/src/components/app-sidebar/category-divider/index.css.ts
  packages/component/src/components/app-sidebar/index.css.ts
  packages/component/src/components/app-sidebar/menu-item/index.css.ts
  packages/component/src/components/app-sidebar/menu-item/index.tsx
  packages/component/src/components/app-sidebar/quick-search-input/index.css.ts
  packages/component/src/components/app-sidebar/resize-indicator/index.tsx
  packages/component/src/components/app-sidebar/sidebar-containers/index.css.ts
  packages/component/src/components/card/workspace-card/index.tsx
  packages/component/src/components/workspace-avatar/index.css.ts
  packages/component/src/theme/global.css
  packages/component/src/ui/scrollbar/index.css.ts
  packages/component/src/ui/tooltip/tooltip.tsx
  packages/env/package.json
  packages/env/src/global.ts
  packages/hooks/package.json
  packages/infra/package.json
  packages/infra/src/blocksuite/index.ts
  packages/jotai/package.json
  packages/sdk/package.json
  packages/y-indexeddb/package.json
  packages/y-provider/package.json
  plugins/bookmark/src/app.tsx
  tests/affine-legacy/0.7.0-canary.18/package.json
  tests/affine-legacy/0.8.0-canary.7/package.json
  tests/affine-local/e2e/local-first-collections-items.spec.ts
  tests/affine-local/e2e/local-first-favorites-items.spec.ts
  yarn.lock
Labels: mod:infra, mod:hooks, mod:env, mod:component, app:electron, package:y-indexeddb, mod:store, test, app:docs, mod:plugin, app:core, mod:sdk

#3816 chore: bump version
  apps/core/package.json
  apps/docs/package.json
  apps/electron/package.json
  apps/prototype/package.json
  apps/storybook/package.json
  packages/component/package.json
  packages/env/package.json
  packages/hooks/package.json
  packages/infra/package.json
  packages/jotai/package.json
  packages/sdk/package.json
  packages/y-indexeddb/package.json
  packages/y-provider/package.json
  tests/affine-legacy/0.7.0-canary.18/package.json
  tests/affine-legacy/0.8.0-canary.7/package.json
  yarn.lock
Labels: mod:infra, mod:hooks, mod:env, mod:component, app:electron, package:y-indexeddb, mod:store, test, app:docs, app:core, mod:sdk

#3818 feat: merge code from master
  apps/core/package.json
  apps/docs/package.json
  apps/electron/package.json
  apps/prototype/package.json
  apps/server/package.json
  apps/storybook/package.json
  package.json
  packages/@types/env/package.json
  packages/cli/package.json
  packages/component/package.json
  packages/debug/package.json
  packages/env/package.json
  packages/graphql/package.json
  packages/hooks/package.json
  packages/i18n/package.json
  packages/infra/package.json
  packages/jotai/package.json
  packages/native/package.json
  packages/plugin-cli/package.json
  packages/sdk/package.json
  packages/storage/package.json
  packages/templates/package.json
  packages/workers/package.json
  packages/workspace/package.json
  packages/y-indexeddb/package.json
  packages/y-provider/package.json
  plugins/bookmark/package.json
  plugins/copilot/package.json
  plugins/hello-world/package.json
  plugins/image-preview/package.json
  plugins/outline/package.json
  plugins/vue-hello-world/package.json
  tests/affine-legacy/0.7.0-canary.18/package.json
  tests/affine-legacy/0.8.0-canary.7/package.json
  tests/affine-local/package.json
  tests/affine-plugin/package.json
  tests/affine-prototype/package.json
  tests/fixtures/package.json
  tests/kit/package.json
  yarn.lock
Labels: mod:infra, docs, mod:workspace, mod:i18n, mod:hooks, mod:env, mod:component, app:electron, mod:dev, package:y-indexeddb, mod:store, app:server, plugin:copilot, test, app:docs, mod:plugin, mod:storage, mod:native, app:core, mod:plugin-cli, mod:sdk

#3805 fix: disable local node server tracing
  apps/server/src/index.ts
Labels: app:server

#3819 fix: disable updater for internal
  apps/electron/src/main/updater/electron-updater.ts
Labels: app:electron

#3820 fix: disable local node server tracing
  apps/server/src/index.ts
Labels: app:server

#3822 fix: cleanup editor layout
  apps/core/src/bootstrap/plugins/setup.ts
  apps/core/src/components/workspace-header.tsx
  apps/core/src/pages/workspace/detail-page.tsx
Labels: app:core

#3827 chore(server): log miss and failed jwst test in warning level
  apps/server/src/modules/doc/manager.ts
Labels: app:server

#3826 chore: change divider style
  apps/core/package.json
  apps/core/src/components/blocksuite/block-suite-header-title/operation-menu.tsx
  apps/core/src/components/pure/workspace-list-modal/index.tsx
  plugins/copilot/package.json
  plugins/hello-world/package.json
  plugins/image-preview/package.json
  plugins/outline/package.json
  yarn.lock
Labels: plugin:copilot, mod:plugin, app:core

#3828 fix: error style of setting modal sidebar
  apps/core/src/components/affine/setting-modal/setting-sidebar/index.tsx
  apps/core/src/components/affine/setting-modal/setting-sidebar/style.css.ts
Labels: app:core

#3829 fix: workaround for fullscreen mode
  apps/electron/src/main/main-window.ts
Labels: app:electron

#3833 fix: page blink issue on navigation
  apps/core/src/layouts/workspace-layout.tsx
Labels: app:core

#3835 fix: reference page crash for deleted items
  apps/core/src/components/pure/workspace-slider-bar/components/reference-page.tsx
  packages/hooks/src/use-block-suite-page-references.ts
Labels: mod:hooks, app:core

#3790 feat: run app in closure
  apps/core/src/_plugin/index.test.tsx
  apps/core/src/adapters/local/index.tsx
  apps/core/src/app.tsx
  apps/core/src/bootstrap/plugins/setup.ts
  apps/core/src/bootstrap/register-plugins.ts
  apps/core/src/bootstrap/setup.ts
  apps/core/src/components/affine/affine-error-eoundary.tsx
  apps/core/src/components/page-detail-editor.tsx
  apps/core/src/hooks/use-workspaces.ts
  apps/core/src/index.tsx
  apps/core/src/pages/index.tsx
  apps/core/src/pages/workspace/all-page.tsx
  apps/core/src/pages/workspace/detail-page.tsx
  apps/core/src/pages/workspace/index.tsx
  apps/storybook/.storybook/preview.tsx
  apps/storybook/src/stories/core.stories.tsx
  packages/component/src/components/context/index.tsx
  packages/infra/src/atom.ts
Labels: mod:infra, mod:component, app:core

#3842 fix(infra): dynamic import
  apps/core/src/bootstrap/plugins/setup.ts
Labels: app:core
