Repository toeverything/AFFiNE, pull requests merged in 2023-07, with the labels that each got.

#2952 build: skip type check in next.js build
  apps/web/next.config.mjs
Labels: app:web

#2950 chore: bump version
  apps/docs/package.json
  apps/server/package.json
  apps/storybook/package.json
  apps/web/package.json
  package.json
  packages/component/package.json
  packages/i18n/package.json
  packages/infra/package.json
  packages/native/package.json
  packages/plugin-infra/package.json
  packages/y-indexeddb/package.json
  plugins/bookmark-block/package.json
  plugins/copilot/package.json
  plugins/copilot/src/core/components/conversation/index.tsx
  yarn.lock
Labels: mod:i18n, mod:component, app:web, package:y-indexeddb, app:server, plugin:copilot, mod:plugin-infra, app:docs

#2951 build: fix nx.json
  .github/workflows/build.yml
  .github/workflows/nightly-build.yml
  .github/workflows/release-desktop-app.yml
  apps/web/src/adapters/affine/__tests__/index.spec.tsx
  apps/web/src/shared/__tests__/apis.spec.ts
  nx.json
  package.json
Labels: app:web, test

#2953 chore: improve ci build speed
  .github/workflows/build.yml
  .github/workflows/cancel.yml
  .github/workflows/nx.yml
  README.md
  nx.json
  packages/native/project.json
  packages/storage/project.json
  playwright.config.ts
  tests/parallels/storybook/button.spec.ts
Labels: docs, test

#2960 chore: bump version
  apps/docs/package.json
  apps/electron/package.json
  apps/server/package.json
  apps/storybook/package.json
  apps/web/package.json
  packages/component/package.json
  packages/env/package.json
  packages/jotai/package.json
  packages/plugin-infra/package.json
  packages/y-indexeddb/package.json
  plugins/copilot/package.json
  tests/affine-legacy/0.7.0-canary.18/package.json
  yarn.lock
Labels: mod:env, mod:component, app:web, app:electron, package:y-indexeddb, mod:store, app:server, plugin:copilot, mod:plugin-infra, test, app:docs, mod:plugin

#2947 feat: modify preloading data
  packages/templates/preloading.json
Labels: docs

#2968 i18n: update translation resources
  packages/i18n/src/resources/fr.json
  packages/i18n/src/resources/index.ts
  packages/i18n/src/resources/zh-Hans.json
Labels: mod:i18n

#2915 style: adjust copilot chat style
  plugins/copilot/src/UI/detail-content.tsx
  plugins/copilot/src/UI/index.css.ts
  plugins/copilot/src/core/components/conversation-list/index.css.ts
  plugins/copilot/src/core/components/conversation/index.css.ts
  plugins/copilot/src/core/components/conversation/index.tsx
Labels: plugin:copilot, mod:plugin

#2967 build: update build config
  .github/workflows/nx.yml
  apps/web/preset.config.mjs
  nx.json
  packages/env/src/global.ts
  tests/fixtures/tsconfig.json
Labels: mod:env, app:web, test

#2971 chore: add affine-cloud build config
  apps/web/preset.config.mjs
  apps/web/src/components/affine/setting-modal/setting-sidebar/index.tsx
  packages/env/src/global.ts
Labels: mod:env, app:web

#2976 style: adjust icon button hover color
  apps/web/src/components/pure/help-island/style.ts
  packages/component/src/ui/button/styles.ts
Labels: mod:component, app:web

#2974 fix(web): hydration issue
  packages/component/src/components/app-sidebar/index.tsx
Labels: mod:component

#2977 fix: potential race condition on app load when migration
  apps/web/src/bootstrap/index.ts
  packages/env/src/global.ts
  packages/workspace/src/atom.ts
Labels: mod:workspace, mod:env, app:web

#2982 fix: some potential tests issue
  .eslintrc.js
  apps/electron/e2e/basic.spec.ts
  apps/electron/e2e/fixture.ts
  apps/electron/e2e/setup.ts
  apps/electron/e2e/tsconfig.json
  apps/electron/e2e/workspace.spec.ts
  apps/electron/playwright.config.ts
  apps/electron/src/helper/db/__tests__/ensure-db.spec.ts
  apps/electron/src/helper/db/__tests__/workspace-db-adapter.spec.ts
  apps/electron/src/helper/workspace/__tests__/handlers.spec.ts
  apps/electron/src/main/__tests__/integration.spec.ts
  apps/electron/tests/utils.ts
  apps/electron/tsconfig.json
  apps/electron/tsconfig.tests.json
Labels: app:electron, test

#2981 chore: add import to sidebar
  apps/web/src/components/root-app-sidebar/import-page.tsx
  apps/web/src/components/root-app-sidebar/index.tsx
Labels: app:web

#2980 feat: remove old setting page by default
  apps/web/preset.config.mjs
  apps/web/src/components/root-app-sidebar/index.tsx
  tests/parallels/local-first-avatar.spec.ts
Labels: app:web, test

#2973 fix: potential updater issue
  apps/electron/package.json
  apps/electron/src/main/updater/index.ts
  yarn.lock
Labels: app:electron

#2978 fix: dark mode export PDF leaves margin and notification
  apps/electron/src/main/export/pdf.ts
  packages/component/src/components/page-list/operation-menu-items/export.tsx
  packages/i18n/src/resources/en.json
  packages/i18n/src/resources/zh-Hans.json
Labels: mod:i18n, mod:component, app:electron

#2989 chore: bump version
  apps/docs/package.json
  apps/storybook/package.json
  apps/web/package.json
  packages/component/package.json
  packages/env/package.json
  packages/workspace/package.json
  plugins/bookmark-block/package.json
  plugins/copilot/package.json
  yarn.lock
Labels: mod:workspace, mod:env, mod:component, app:web, plugin:copilot, app:docs, mod:plugin, plugin:bookmark-block

#2985 feat: page mode shortcut
  apps/web/src/components/blocksuite/workspace-header/editor-mode-switch/index.tsx
  apps/web/src/hooks/affine/use-shortcuts.ts
Labels: app:web

#2992 build: enable next server
  apps/web/next.config.mjs
Labels: app:web

#2996 test: use static server
  apps/web/package.json
  package.json
Labels: app:web

#2997 docs: update README.md
  README.md
Labels: docs

#2998 chore: bump version
  apps/docs/package.json
  apps/electron/package.json
  apps/storybook/package.json
  apps/web/package.json
  packages/component/package.json
  packages/env/package.json
  packages/jotai/package.json
  packages/plugin-infra/package.json
  packages/y-indexeddb/package.json
  tests/affine-legacy/0.7.0-canary.18/package.json
  yarn.lock
Labels: mod:env, mod:component, app:web, app:electron, package:y-indexeddb, mod:store, mod:plugin-infra, test, app:docs

#2999 refactor: input component
  apps/web/src/components/affine/create-workspace-modal/index.tsx
  apps/web/src/components/affine/new-workspace-setting-detail/delete-leave-workspace/delete/index.tsx
  apps/web/src/components/affine/new-workspace-setting-detail/profile.tsx
  packages/component/src/components/page-list/view/create-collection.tsx
  packages/component/src/ui/input/input.tsx
  plugins/copilot/src/UI/debug-content.tsx
Labels: mod:component, app:web, plugin:copilot, mod:plugin

#2988 feat: add tags support
  apps/storybook/src/stories/page-list.stories.tsx
  apps/web/src/components/blocksuite/block-suite-page-list/index.tsx
  apps/web/src/components/pure/workspace-slider-bar/collections/collections-list.tsx
  apps/web/src/components/workspace-header.tsx
  apps/web/src/pages/workspace/[workspaceId]/[pageId].tsx
  apps/web/src/pages/workspace/[workspaceId]/all.tsx
  apps/web/src/utils/filter.ts
  packages/component/src/components/page-list/__tests__/filter.spec.tsx
  packages/component/src/components/page-list/__tests__/use-all-page-setting.spec.ts
  packages/component/src/components/page-list/all-page.tsx
  packages/component/src/components/page-list/all-pages-body.tsx
  packages/component/src/components/page-list/components/tags.css.ts
  packages/component/src/components/page-list/components/tags.tsx
  packages/component/src/components/page-list/filter/condition.tsx
  packages/component/src/components/page-list/filter/eval.ts
  packages/component/src/components/page-list/filter/filter-list.tsx
  packages/component/src/components/page-list/filter/index.ts
  packages/component/src/components/page-list/filter/literal-matcher.tsx
  packages/component/src/components/page-list/filter/logical/custom-type.ts
  packages/component/src/components/page-list/filter/multi-select.css.ts
  packages/component/src/components/page-list/filter/multi-select.tsx
  packages/component/src/components/page-list/filter/shared-types.tsx
  packages/component/src/components/page-list/filter/utils.ts
  packages/component/src/components/page-list/filter/vars.tsx
  packages/component/src/components/page-list/index.tsx
  packages/component/src/components/page-list/type.ts
  packages/component/src/components/page-list/use-collection-manager.ts
  packages/component/src/components/page-list/view/collection-bar.tsx
  packages/component/src/components/page-list/view/collection-list.tsx
  packages/component/src/components/page-list/view/create-collection.tsx
  packages/env/src/filter.ts
  packages/i18n/src/resources/en.json
  tests/parallels/all-page.spec.ts
  tests/parallels/local-first-collections-items.spec.ts
Labels: mod:i18n, mod:env, mod:component, app:web, test

#3001 feat(server): add credentials provider to next-auth
  apps/server/src/modules/auth/next-auth.controller.ts
Labels: app:server

#3010 fix: bookmark block output missing
  plugins/bookmark-block/project.json
Labels: mod:plugin, plugin:bookmark-block

#3005 chore(electron): renaming clipboard api
  apps/electron/src/main/clipboard/index.ts
  packages/infra/src/handler.ts
Labels: app:electron

#3014 chore: bump nx
  package.json
  packages/hooks/project.json
  yarn.lock
Labels: mod:hooks

#3011 feat(electron): move preload to infra
  .github/actions/setup-node/action.yml
  .github/workflows/build.yml
  .github/workflows/nightly-build.yml
  .github/workflows/release-desktop-app.yml
  .husky/pre-commit
  apps/electron/src/helper/index.ts
  apps/electron/src/helper/main-rpc.ts
  apps/electron/src/main/helper-process.ts
  apps/electron/src/preload/bootstrap.ts
  apps/electron/src/types.d.ts
  packages/infra/package.json
  packages/infra/preload/electron.d.ts
  packages/infra/preload/electron.js
  packages/infra/src/core/event-emitter.ts
  packages/infra/src/handler.ts
  packages/infra/src/index.ts
  packages/infra/src/preload/electron.ts
  packages/infra/src/type.ts
  packages/infra/vite.config.ts
  yarn.lock
Labels: app:electron

#3012 ci: check macOS arm64 bundle output
  .github/workflows/build.yml
  apps/electron/.gitignore
  apps/electron/scripts/macos-arm64-output-check.mts
  apps/electron/scripts/unzip-macos-arm64.sh
  apps/electron/tsconfig.node.json
Labels: app:electron

#3015 refactor: simplify code
  .eslintrc.js
  apps/web/src/atoms/root.ts
  apps/web/src/components/affine/setting-modal/workspace-setting/index.tsx
  apps/web/src/components/blocksuite/workspace-header/editor-mode-switch/index.tsx
  apps/web/src/components/blocksuite/workspace-header/header-right-items/editor-option-menu.tsx
  apps/web/src/components/blocksuite/workspace-header/header-right-items/share-menu.tsx
  apps/web/src/components/blocksuite/workspace-header/header-right-items/trash-button-group.tsx
  apps/web/src/components/blocksuite/workspace-header/index.tsx
  apps/web/src/components/page-detail-editor.tsx
  apps/web/src/components/pure/quick-search-modal/footer.tsx
  apps/web/src/components/pure/quick-search-modal/results.tsx
  apps/web/src/hooks/__tests__/index.spec.tsx
  apps/web/src/layouts/workspace-layout.tsx
  apps/web/src/pages/_debug/migration.tsx
  apps/web/src/pages/workspace/[workspaceId]/[pageId].tsx
  apps/web/src/pages/workspace/[workspaceId]/all.tsx
  apps/web/src/pages/workspace/[workspaceId]/shared.tsx
  apps/web/src/pages/workspace/[workspaceId]/trash.tsx
  packages/hooks/src/__tests__/index.spec.ts
  packages/hooks/src/use-block-suite-page-meta.ts
  packages/hooks/src/use-block-suite-workspace-avatar-url.ts
  packages/hooks/src/use-block-suite-workspace-helper.ts
  packages/hooks/src/use-block-suite-workspace-name.ts
  packages/hooks/src/use-block-suite-workspace-page-is-public.ts
  packages/hooks/src/use-block-suite-workspace-page-title.ts
  packages/hooks/src/use-block-suite-workspace-page.ts
  packages/workspace/src/blob/sqlite-blob-storage.ts
  packages/workspace/src/providers/index.ts
  packages/workspace/src/providers/sqlite-providers.ts
  packages/y-indexeddb/src/__tests__/index.spec.ts
  plugins/bookmark-block/src/blocksuite/ui.tsx
Labels: mod:workspace, mod:hooks, app:web, package:y-indexeddb, mod:store, test, mod:plugin, plugin:bookmark-block

#3000 chore: update setting text
  apps/web/src/components/affine/new-workspace-setting-detail/delete-leave-workspace/index.tsx
  apps/web/src/components/affine/setting-modal/general-setting/about/index.tsx
  apps/web/src/components/affine/setting-modal/general-setting/appearance/index.tsx
  packages/i18n/src/resources/en.json
  packages/i18n/src/resources/index.ts
  packages/i18n/src/resources/ru.json
  packages/i18n/src/resources/zh-Hans.json
  packages/i18n/src/scripts/download.ts
  tests/parallels/all-page.spec.ts
Labels: mod:i18n, app:web, test

#2991 fix: sqlite provider import sub doc db file
  .eslintignore
  .github/workflows/build.yml
  apps/electron/e2e/fixture.ts
  apps/electron/e2e/workspace.spec.ts
  apps/web/preset.config.mjs
  packages/native/src/sqlite/mod.rs
  packages/workspace/src/providers/sqlite-providers.ts
Labels: mod:workspace, app:web, app:electron, rust, mod:native

#3016 chore: bump version
  apps/docs/package.json
  apps/electron/package.json
  apps/storybook/package.json
  apps/web/package.json
  packages/component/package.json
  packages/env/package.json
  packages/jotai/package.json
  packages/plugin-infra/package.json
  packages/y-indexeddb/package.json
  tests/affine-legacy/0.7.0-canary.18/package.json
  yarn.lock
Labels: mod:env, mod:component, app:web, app:electron, package:y-indexeddb, mod:store, mod:plugin-infra, test, app:docs

#3019 fix: flaky tests
  tests/parallels/local-first-collections-items.spec.ts
Labels: test

#3004 feat: update server login feature
  apps/server/.env.example
  apps/server/package.json
  apps/server/src/config/def.ts
  apps/server/src/config/default.ts
  apps/server/src/index.ts
  apps/server/src/modules/auth/next-auth.controller.ts
  yarn.lock
Labels: app:server

#3020 fix: tags does not exist
  apps/web/src/components/blocksuite/block-suite-page-list/index.tsx
Labels: app:web

#3023 chore: bump version
  apps/docs/package.json
  apps/electron/package.json
  apps/server/src/schema.gql
  apps/storybook/package.json
  apps/web/package.json
  packages/component/package.json
  packages/env/package.json
  packages/jotai/package.json
  packages/plugin-infra/package.json
  packages/y-indexeddb/package.json
  tests/affine-legacy/0.7.0-canary.18/package.json
  yarn.lock
Labels: mod:env, mod:component, app:web, app:electron, package:y-indexeddb, mod:store, app:server, mod:plugin-infra, test, app:docs

#3024 build: remove legacy cloud config
  apps/web/preset.config.mjs
  apps/web/src/components/affine/create-workspace-modal/index.tsx
  apps/web/src/components/affine/new-workspace-setting-detail/publish.tsx
  apps/web/src/components/blocksuite/workspace-header/header-right-items/share-menu.tsx
  apps/web/src/components/pure/footer/index.tsx
  packages/env/src/global.ts
Labels: mod:env, app:web

#3027 fix: updater issues
  apps/electron/package.json
  apps/electron/src/main/updater/electron-updater.ts
  yarn.lock
Labels: app:electron

#3030 fix: delete workspace in settings
  apps/web/src/components/affine/new-workspace-setting-detail/delete-leave-workspace/delete/index.tsx
  apps/web/src/components/affine/new-workspace-setting-detail/index.tsx
  apps/web/src/components/affine/setting-modal/workspace-setting/index.tsx
  packages/env/src/workspace.ts
Labels: mod:env, app:web

#3032 fix: a series of setting issues
  apps/storybook/src/stories/contact-modal.stories.tsx
  apps/web/src/atoms/index.ts
  apps/web/src/components/affine/language-menu/index.tsx
  apps/web/src/components/affine/setting-modal/general-setting/about/config.tsx
  apps/web/src/components/affine/setting-modal/general-setting/about/icons.tsx
  apps/web/src/components/affine/setting-modal/general-setting/about/index.tsx
  apps/web/src/components/affine/setting-modal/general-setting/appearance/index.tsx
  apps/web/src/components/affine/setting-modal/index.tsx
  apps/web/src/components/affine/setting-modal/setting-sidebar/index.tsx
  apps/web/src/components/affine/setting-modal/setting-sidebar/style.css.ts
  apps/web/src/components/affine/setting-modal/type.ts
  apps/web/src/components/affine/setting-modal/workspace-setting/index.tsx
  apps/web/src/components/pure/help-island/index.tsx
  apps/web/src/components/pure/workspace-title/index.tsx
  apps/web/src/layouts/workspace-layout.tsx
  apps/web/src/providers/modal-provider.tsx
  packages/component/src/components/contact-modal/index.tsx
  packages/component/src/components/contact-modal/style.ts
  packages/component/src/components/setting-components/modal.tsx
  packages/component/src/ui/button/radio.tsx
  packages/component/src/ui/button/styles.css.ts
  packages/component/src/ui/button/utils.ts
  packages/component/src/ui/menu/styles.ts
  tests/parallels/contact-us.spec.ts
Labels: mod:component, app:web, mod:store, test

#3039 fix: workspace name should change in the setting panel
  apps/web/src/components/affine/new-workspace-setting-detail/profile.tsx
  apps/web/src/components/affine/setting-modal/setting-sidebar/index.tsx
  tests/parallels/settings.spec.ts
Labels: app:web, test

#3041 chore: bump version
  .github/workflows/build.yml
  .prettierignore
  apps/docs/index.html
  apps/docs/package.json
  apps/electron/package.json
  apps/electron/src/helper/db/workspace-db-adapter.ts
  apps/electron/src/main/__tests__/integration.spec.ts
  apps/server/src/modules/auth/guard.ts
  apps/server/src/modules/auth/next-auth.controller.ts
  apps/server/src/modules/auth/service.ts
  apps/server/src/utils/types.ts
  apps/storybook/package.json
  apps/web/package.json
  apps/web/src/components/affine/new-workspace-setting-detail/index.tsx
  apps/web/src/components/blocksuite/workspace-header/header.tsx
  apps/web/src/components/pure/workspace-slider-bar/favorite/favorite-list.tsx
  apps/web/src/components/pure/workspace-slider-bar/style.ts
  apps/web/src/hooks/current/use-current-page-id.ts
  apps/web/src/hooks/current/use-current-workspace.ts
  package.json
  packages/component/package.json
  packages/component/src/components/app-sidebar/app-updater-button/index.jotai.ts
  packages/component/src/components/share-menu/share-menu.tsx
  packages/component/src/ui/button/loading.tsx
  packages/component/src/ui/button/styles.ts
  packages/component/src/ui/empty/style.ts
  packages/component/src/ui/layout/content.tsx
  packages/component/src/ui/layout/wrapper.tsx
  packages/component/src/ui/menu/styles.ts
  packages/component/src/ui/table/styles.ts
  packages/env/package.json
  packages/env/src/workspace.ts
  packages/graphql/package.json
  packages/graphql/src/schema.ts
  packages/i18n/package.json
  packages/i18n/src/scripts/download.ts
  packages/infra/src/type.ts
  packages/jotai/package.json
  packages/plugin-infra/package.json
  packages/workspace/src/atom.ts
  packages/y-indexeddb/package.json
  plugins/copilot/src/core/hooks/index.ts
  tests/affine-legacy/0.7.0-canary.18/package.json
  yarn.lock
Labels: mod:workspace, mod:i18n, mod:env, mod:component, app:web, app:electron, package:y-indexeddb, mod:store, app:server, plugin:copilot, mod:plugin-infra, test, app:docs, mod:plugin

#3044 chore: temporary fix sync script error
  packages/i18n/src/scripts/api.ts
Labels: mod:i18n

#3046 fix(component): all page list UI padding
  packages/component/src/components/page-list/all-page.tsx
Labels: mod:component

#3045 fix: date-picker hidden in update collection
  packages/component/src/components/page-list/view/collection-list.css.ts
  tests/libs/filter.ts
  tests/parallels/all-page.spec.ts
  tests/parallels/local-first-collections-items.spec.ts
Labels: mod:component, test

#3058 fix(component): image preview fallback
  packages/component/src/components/image-preview-modal/index.tsx
Labels: mod:component

#3053 fix(component): new page button in all page
  packages/component/src/components/page-list/all-page.tsx
Labels: mod:component

#3070 fix(web): setting panel refresh
  apps/web/src/adapters/local/index.tsx
  apps/web/src/components/affine/new-workspace-setting-detail/profile.tsx
Labels: app:web

#3055 fix: workspace storage settings issues
  .husky/pre-commit
  apps/electron/e2e/workspace.spec.ts
  apps/electron/src/helper/db/workspace-db-adapter.ts
  apps/web/src/components/affine/new-workspace-setting-detail/storage.tsx
  apps/web/src/components/affine/new-workspace-setting-detail/style.css.ts
  apps/web/src/components/affine/setting-modal/setting-sidebar/index.tsx
  apps/web/src/components/root-app-sidebar/index.tsx
  packages/component/src/ui/modal/modal-close-button.tsx
  packages/i18n/src/resources/de.json
  packages/i18n/src/resources/en.json
  packages/i18n/src/resources/fr.json
  packages/i18n/src/resources/ja.json
  packages/i18n/src/resources/zh-Hans.json
Labels: mod:i18n, mod:component, app:web, app:electron

#3073 refactor: block-hub in tool wrapper
  apps/storybook/src/stories/block-suite-editor.stories.tsx
  apps/storybook/src/stories/image-preview-modal.stories.tsx
  apps/web/src/components/page-detail-editor.tsx
  apps/web/src/layouts/workspace-layout.tsx
  apps/web/src/pages/_debug/init-page.dev.tsx
  packages/component/src/components/block-hub/index.tsx
  packages/component/src/components/block-suite-editor/index.tsx
  packages/workspace/src/atom.ts
Labels: mod:workspace, mod:component, app:web

#3072 fix: cleanup workspace when switch setting panel
  apps/web/src/adapters/local/index.tsx
  apps/web/src/atoms/index.ts
  apps/web/src/components/affine/setting-modal/index.tsx
  apps/web/src/components/pure/help-island/index.tsx
  apps/web/src/layouts/workspace-layout.tsx
  apps/web/src/providers/modal-provider.tsx
Labels: app:web, mod:store

#3076 feat: add subpage apis
  apps/server/migrations/20230706065816_workspace_subpage/migration.sql
  apps/server/schema.prisma
  apps/server/src/modules/workspaces/permission.ts
  apps/server/src/modules/workspaces/resolver.ts
  apps/server/src/schema.gql
  apps/server/src/tests/workspace.spec.ts
  packages/graphql/src/graphql/index.ts
  packages/graphql/src/graphql/set-revoke-page.gql
  packages/graphql/src/graphql/set-share-page.gql
  packages/graphql/src/schema.ts
Labels: mod:dev, app:server, test

#3077 test: upgrade playwright
  apps/electron/package.json
  package.json
  tests/affine-legacy/0.7.0-canary.18/package.json
  tests/kit/package.json
  yarn.lock
Labels: app:electron, test

#3080 test: image preview e2e
  apps/web/project.json
  packages/component/src/components/image-preview-modal/index.tsx
  tests/parallels/image-preview.spec.ts
Labels: mod:component, app:web, test

#3078 chore: bump version
  apps/docs/package.json
  apps/electron/package.json
  apps/web/package.json
  packages/component/package.json
  packages/jotai/package.json
  packages/plugin-infra/package.json
  packages/workspace/package.json
  plugins/copilot/package.json
  yarn.lock
Labels: mod:workspace, mod:component, app:web, app:electron, mod:store, plugin:copilot, mod:plugin-infra, app:docs, mod:plugin

#3083 style: adjust settings style
  apps/web/src/components/affine/new-workspace-setting-detail/style.css.ts
  packages/component/src/ui/button/styles.ts
  packages/component/src/ui/button/utils.ts
Labels: mod:component, app:web

#3082 feat: login/invite fetcher
  apps/server/src/modules/auth/resolver.ts
  apps/server/src/modules/auth/service.ts
  apps/server/src/modules/workspaces/resolver.ts
  apps/server/src/schema.gql
  apps/server/src/tests/auth.spec.ts
  apps/server/src/tests/workspace.spec.ts
  packages/graphql/src/graphql/index.ts
  packages/graphql/src/graphql/sign-in.gql
  packages/graphql/src/graphql/sign-up.gql
  packages/graphql/src/graphql/workspace-invite-accept.gql
  packages/graphql/src/graphql/workspace-invite.gql
  packages/graphql/src/schema.ts
Labels: app:server, test

#3090 perf: reduce unused provider connection
  apps/web/src/atoms/root.ts
  apps/web/src/components/affine/setting-modal/index.tsx
  apps/web/src/components/affine/setting-modal/workspace-setting/index.tsx
  apps/web/src/layouts/workspace-layout.tsx
  packages/workspace/src/providers/index.ts
Labels: mod:workspace, app:web, mod:store

#3088 style: temporarily modify user card
  apps/web/src/components/cloud/login-card.tsx
Labels: app:web

#3094 fix: a possible issue on electron flaky test
  apps/electron/e2e/workspace.spec.ts
  apps/electron/src/helper/db/base-db-adapter.ts
  apps/electron/src/helper/db/workspace-db-adapter.ts
Labels: app:electron

#3093 feat: blobs apis for server
  apps/server/src/modules/workspaces/controller.ts
  apps/server/src/modules/workspaces/resolver.ts
  apps/server/src/schema.gql
  apps/server/src/tests/utils.ts
  apps/server/src/tests/workspace.spec.ts
  packages/graphql/src/graphql/blob-delete.gql
  packages/graphql/src/graphql/blob-list.gql
  packages/graphql/src/graphql/blob-set.gql
  packages/graphql/src/graphql/index.ts
  packages/graphql/src/schema.ts
  packages/storage/Cargo.lock
  packages/storage/__tests__/storage.spec.js
  packages/storage/index.d.ts
  packages/storage/src/lib.rs
Labels: app:server, test, rust, mod:storage

#3092 feat: add font style setting
  apps/web/src/atoms/settings.ts
  apps/web/src/components/affine/setting-modal/general-setting/appearance/index.tsx
  packages/component/package.json
  packages/i18n/src/resources/en.json
  yarn.lock
Labels: mod:component

#3084 chore: add new item for share component
  packages/component/src/components/page-list/operation-menu-items/export.tsx
  packages/component/src/components/share-menu/export.tsx
  packages/component/src/components/share-menu/index.css.ts
Labels: mod:component

#3091 refactor: lazy load workspaces
  apps/storybook/src/stories/card.stories.tsx
  apps/storybook/src/stories/workspace-avatar.stories.tsx
  apps/web/src/adapters/local/index.tsx
  apps/web/src/atoms/__tests__/atom.spec.ts
  apps/web/src/atoms/index.ts
  apps/web/src/atoms/root.ts
  apps/web/src/components/affine/new-workspace-setting-detail/index.tsx
  apps/web/src/components/affine/new-workspace-setting-detail/profile.tsx
  apps/web/src/components/affine/new-workspace-setting-detail/publish.tsx
  apps/web/src/components/affine/setting-modal/index.tsx
  apps/web/src/components/affine/setting-modal/setting-sidebar/index.tsx
  apps/web/src/components/affine/setting-modal/workspace-setting/index.tsx
  apps/web/src/components/page-detail-editor.tsx
  apps/web/src/components/pure/help-island/index.tsx
  apps/web/src/components/pure/quick-search-modal/config.ts
  apps/web/src/components/pure/workspace-list-modal/index.tsx
  apps/web/src/components/pure/workspace-slider-bar/WorkspaceSelector/workspace-selector.tsx
  apps/web/src/components/root-app-sidebar/index.tsx
  apps/web/src/components/workspace-header.tsx
  apps/web/src/hooks/__tests__/index.spec.tsx
  apps/web/src/hooks/current/use-current-workspace.ts
  apps/web/src/hooks/use-get-page-info.ts
  apps/web/src/hooks/use-workspace.ts
  apps/web/src/hooks/use-workspaces.ts
  apps/web/src/layouts/workspace-layout.tsx
  apps/web/src/pages/404.tsx
  apps/web/src/pages/index.tsx
  apps/web/src/pages/workspace/[workspaceId]/[pageId].tsx
  apps/web/src/pages/workspace/[workspaceId]/all.tsx
  apps/web/src/pages/workspace/[workspaceId]/shared.tsx
  apps/web/src/pages/workspace/[workspaceId]/trash.tsx
  apps/web/src/providers/modal-provider.tsx
  apps/web/src/shared/index.ts
  packages/component/src/components/app-sidebar/index.tsx
  packages/component/src/components/card/workspace-card/index.tsx
  packages/component/src/components/workspace-avatar/index.tsx
  packages/component/src/components/workspace-list/index.tsx
  packages/component/src/ui/tooltip/tooltip.tsx
  packages/env/src/workspace.ts
  packages/workspace/src/local/__tests__/crud.spec.ts
  packages/workspace/src/utils.ts
  tests/parallels/blocksuite/editor.spec.ts
  tests/parallels/drag-page-to-trash-folder.spec.ts
  tests/parallels/local-first-workspace-list.spec.ts
  tests/parallels/router.spec.ts
Labels: mod:workspace, mod:env, mod:component, app:web, mod:store, test

#3099 feat: improve workspace hook
  apps/web/src/adapters/local/index.tsx
  apps/web/src/components/affine/setting-modal/setting-sidebar/index.tsx
  apps/web/src/components/affine/setting-modal/workspace-setting/index.tsx
  apps/web/src/hooks/current/use-current-workspace.ts
  apps/web/src/hooks/use-workspace.ts
  apps/web/src/hooks/use-workspaces.ts
  apps/web/src/layouts/workspace-layout.tsx
  apps/web/src/pages/index.tsx
  packages/component/src/components/card/workspace-card/index.tsx
  packages/hooks/src/__tests__/use-block-suite-workspace-helper.spec.ts
  packages/hooks/src/__tests__/use-block-suite-workspace.spec.ts
  packages/hooks/src/use-block-suite-workspace.ts
  packages/workspace/src/utils.ts
Labels: mod:workspace, mod:hooks, mod:component, app:web, test

#3081 fix: color of UI in dark mode
  apps/web/src/components/affine/new-workspace-setting-detail/style.css.ts
Labels: app:web

#3100 test: fix flaky
  tests/parallels/local-first-collections-items.spec.ts
Labels: test

#3102 chore: remove unused code
  apps/storybook/src/stories/affine-loading.stories.tsx
  apps/storybook/src/stories/page-list.stories.tsx
  apps/web/src/components/pure/loading/index.tsx
  apps/web/src/components/pure/loading/page-loading.tsx
  apps/web/src/pages/workspace/[workspaceId]/all.tsx
  apps/web/src/pages/workspace/[workspaceId]/shared.tsx
  apps/web/src/pages/workspace/[workspaceId]/trash.tsx
  packages/component/src/components/affine-loading/index.tsx
  packages/component/src/components/affine-loading/loading-black.json
  packages/component/src/components/affine-loading/loading-white.json
Labels: mod:component, app:web

#3104 fix: init workspace before loaded
  packages/workspace/src/atom.ts
Labels: mod:workspace

#3107 fix: sidebar noise background on Windows
  packages/component/src/components/workspace/index.tsx
Labels: mod:component

#3108 fix: user info lack
  apps/server/src/modules/auth/guard.ts
  apps/server/src/modules/auth/next-auth-options.ts
  apps/server/src/modules/workspaces/resolver.ts
Labels: app:server

#3105 fix: disable move db by default
  apps/electron/e2e/workspace.spec.ts
  apps/electron/src/helper/db/secondary-db.ts
  apps/electron/src/helper/db/workspace-db-adapter.ts
  apps/electron/src/helper/dialog/dialog.ts
  apps/web/preset.config.mjs
  apps/web/src/components/affine/new-workspace-setting-detail/index.tsx
  packages/env/src/global.ts
Labels: mod:env, app:web, app:electron

#3111 refactor(hooks): reduce null types
  apps/web/src/components/affine/new-workspace-setting-detail/delete-leave-workspace/delete/index.tsx
  apps/web/src/components/pure/workspace-slider-bar/WorkspaceSelector/workspace-selector.tsx
  apps/web/src/components/root-app-sidebar/index.tsx
  packages/hooks/src/__tests__/index.spec.ts
  packages/hooks/src/use-block-suite-page-references.ts
  packages/hooks/src/use-block-suite-workspace-helper.ts
  packages/hooks/src/use-block-suite-workspace-name.ts
  packages/hooks/src/use-block-suite-workspace-page.ts
Labels: mod:hooks, app:web, test

#3112 feat: improve error log message
  apps/web/src/components/affine/affine-error-eoundary.tsx
Labels: app:web

#3113 fix: blob table schema
  apps/server/migrations/20230709091238_fix_blob_types/migration.sql
  apps/server/schema.prisma
Labels: app:server

#3097 fix: page mode shortcut
  apps/web/src/components/blocksuite/workspace-header/editor-mode-switch/index.tsx
  apps/web/src/components/blocksuite/workspace-header/editor-mode-switch/style.ts
  apps/web/src/hooks/affine/use-shortcuts.ts
  packages/component/src/ui/tooltip/tooltip.tsx
  packages/i18n/src/resources/en.json
Labels: mod:i18n, mod:component, app:web

#3118 refactor: replace yrs with yjs
  apps/server/src/modules/sync/events/workspace.ts
  packages/storage/Cargo.lock
  packages/storage/Cargo.toml
  packages/storage/index.d.ts
  packages/storage/src/lib.rs
Labels: app:server, rust, mod:storage

#3121 test: fix incorrect day suffix
  tests/libs/filter.ts
Labels: test

#3120 chore: restrict node version
  .npmrc
  .yarn/plugins/@yarnpkg/plugin-after-install.cjs
  .yarnrc.yml
  package.json
  scripts/check-version.mjs
  yarn.lock
Labels: mod:dev

#3123 style: change switch tip color
  apps/web/src/components/blocksuite/workspace-header/editor-mode-switch/index.tsx
  apps/web/src/components/blocksuite/workspace-header/editor-mode-switch/style.ts
Labels: app:web

#3115 fix: add DB migration to add workspace
  apps/electron/package.json
  apps/electron/scripts/common.mjs
  apps/electron/src/helper/db/__tests__/migration.spec.ts
  apps/electron/src/helper/db/__tests__/old-db.affine
  apps/electron/src/helper/db/migration.ts
  apps/electron/src/helper/dialog/dialog.ts
  apps/electron/tsconfig.json
  packages/i18n/src/resources/en.json
  packages/native/index.d.ts
  packages/native/index.js
  packages/native/package.json
  packages/native/src/sqlite/mod.rs
  vitest.config.ts
  yarn.lock
Labels: mod:i18n, app:electron, test, rust, mod:native

#3089 feat: modify setting modal entry in quick search modal
  apps/web/src/components/pure/quick-search-modal/config.ts
  apps/web/src/components/pure/quick-search-modal/index.tsx
  apps/web/src/components/pure/quick-search-modal/results.tsx
  apps/web/src/layouts/public-workspace-layout.tsx
  apps/web/src/layouts/workspace-layout.tsx
Labels: app:web

#3129 feat: add member permission
  apps/server/src/modules/workspaces/resolver.ts
  apps/server/src/schema.gql
  apps/server/src/tests/utils.ts
  apps/server/src/tests/workspace.spec.ts
Labels: app:server, test

#3119 refactor: follow correct react rules
  apps/web/src/atoms/index.ts
  apps/web/src/components/affine/onboarding-modal.tsx
  apps/web/src/components/pure/help-island/index.tsx
  apps/web/src/components/pure/onboarding-modal.tsx
  apps/web/src/layouts/workspace-layout.tsx
  apps/web/src/pages/workspace/[workspaceId]/[pageId].tsx
  apps/web/src/providers/modal-provider.tsx
Labels: app:web, mod:store

#3132 fix: disconnect awareness properly
  .gitignore
  apps/server/src/modules/sync/events/events.gateway.ts
  apps/server/src/modules/sync/events/workspace.ts
  packages/workspace/src/affine/sync-socket-io/index.ts
Labels: mod:workspace, app:server

#3131 chore: bump version
  apps/docs/package.json
  apps/electron/package.json
  apps/storybook/package.json
  apps/web/package.json
  packages/component/package.json
  packages/env/package.json
  packages/jotai/package.json
  packages/plugin-infra/package.json
  packages/y-indexeddb/package.json
  tests/affine-legacy/0.7.0-canary.18/package.json
  tests/parallels/image-preview.spec.ts
  yarn.lock
Labels: mod:env, mod:component, app:web, app:electron, package:y-indexeddb, mod:store, mod:plugin-infra, test, app:docs

#3117 fix: font style setting only control editor's font
  apps/web/src/atoms/settings.ts
  apps/web/src/components/affine/setting-modal/general-setting/appearance/index.tsx
  apps/web/src/components/page-detail-editor.tsx
  packages/component/src/components/workspace/index.tsx
Labels: mod:component, app:web, mod:store

#3130 feat: get public workspace
  apps/server/scripts/run-test.ts
  apps/server/src/modules/auth/guard.ts
  apps/server/src/modules/workspaces/resolver.ts
  apps/server/src/prisma/service.ts
  apps/server/src/schema.gql
  apps/server/src/tests/utils.ts
  apps/server/src/tests/workspace-blobs.spec.ts.ts
  apps/server/src/tests/workspace-invite.spec.ts
  apps/server/src/tests/workspace.spec.ts
Labels: app:server, test

#3128 feat: add public workspace pages
  apps/web/src/adapters/public-cloud/ui.tsx
  apps/web/src/adapters/workspace.ts
  apps/web/src/components/affine/setting-modal/index.tsx
  apps/web/src/components/blocksuite/workspace-header/header.tsx
  apps/web/src/components/pure/workspace-list-modal/index.tsx
  apps/web/src/components/workspace-header.tsx
  apps/web/src/layouts/public-workspace-layout.tsx
  apps/web/src/pages/accept.tsx
  apps/web/src/pages/plugins.tsx
  apps/web/src/pages/share/[workspaceId]/index.tsx
  packages/env/src/workspace.ts
Labels: mod:env, app:web

#3134 feat: add currentUser query
  apps/server/src/modules/users/resolver.ts
  apps/server/src/schema.gql
  apps/server/src/tests/user.spec.ts
  apps/server/src/tests/utils.ts
  packages/graphql/src/graphql/get-current-user.gql
  packages/graphql/src/graphql/index.ts
  packages/graphql/src/schema.ts
Labels: app:server, test

#3137 feat(server): add api to get public workspace docs
  apps/server/src/modules/workspaces/controller.ts
  apps/server/src/modules/workspaces/index.ts
  apps/server/src/modules/workspaces/permission.ts
  apps/server/src/tests/workspace-blobs.spec.ts.ts
  apps/server/src/tests/workspace.spec.ts
Labels: app:server, test

#3138 chore: bump version
  apps/docs/package.json
  apps/electron/package.json
  apps/storybook/package.json
  apps/web/package.json
  packages/component/package.json
  packages/env/package.json
  packages/jotai/package.json
  packages/plugin-infra/package.json
  packages/y-indexeddb/package.json
  tests/affine-legacy/0.7.0-canary.18/package.json
  yarn.lock
Labels: mod:env, mod:component, app:web, app:electron, package:y-indexeddb, mod:store, mod:plugin-infra, test, app:docs

#3133 style: add member setting style
  apps/web/src/components/affine/new-workspace-setting-detail/members.tsx
  apps/web/src/components/affine/new-workspace-setting-detail/permission-select/index.css.ts
  apps/web/src/components/affine/new-workspace-setting-detail/permission-select/index.tsx
  apps/web/src/components/affine/new-workspace-setting-detail/publish.tsx
  apps/web/src/components/affine/new-workspace-setting-detail/style.css.ts
  packages/i18n/src/resources/en.json
Labels: mod:i18n, app:web

#3140 fix: remove workspace not working
  apps/electron/e2e/basic.spec.ts
  apps/web/src/components/affine/setting-modal/index.tsx
  apps/web/src/components/affine/setting-modal/workspace-setting/index.tsx
  apps/web/src/layouts/workspace-layout.tsx
  apps/web/src/providers/modal-provider.tsx
Labels: app:web, app:electron

#3143 style: modify the style of community item
  apps/web/src/components/affine/new-workspace-setting-detail/publish.tsx
  apps/web/src/components/affine/new-workspace-setting-detail/style.css.ts
  apps/web/src/components/affine/setting-modal/general-setting/about/style.css.ts
  packages/i18n/src/resources/en.json
Labels: mod:i18n, app:web

#3144 fix: updater not working
  apps/electron/package.json
  apps/electron/src/main/application-menu/create.ts
  apps/electron/src/main/updater/electron-updater.ts
  apps/electron/src/main/updater/index.ts
  yarn.lock
Labels: app:electron

#3147 feat: support share page
  apps/web/next.config.mjs
  apps/web/src/adapters/public-cloud/ui.tsx
  apps/web/src/adapters/workspace.ts
  apps/web/src/components/blocksuite/block-suite-page-list/index.tsx
  apps/web/src/components/pure/workspace-slider-bar/collections/collections-list.tsx
  apps/web/src/components/workspace-header.tsx
  apps/web/src/hooks/use-get-page-info.ts
  apps/web/src/layouts/public-workspace-layout.tsx
  apps/web/src/pages/share/[workspaceId]/[pageId].tsx
  apps/web/src/pages/share/[workspaceId]/index.tsx
  packages/workspace/src/providers/cloud/index.ts
  packages/workspace/src/providers/index.ts
  packages/workspace/src/utils.ts
Labels: mod:workspace, app:web

#3152 feat: implement updateSession in server side
  apps/server/src/modules/auth/next-auth-options.ts
  apps/server/src/modules/auth/next-auth.controller.ts
  apps/web/src/hooks/affine/use-current-user.ts
Labels: app:web, app:server

#3151 Fix password login user not exists
  apps/server/src/modules/auth/next-auth-options.ts
  apps/server/src/modules/auth/next-auth.controller.ts
Labels: app:server

#3157 feat: public workspace schema
  packages/graphql/src/graphql/get-public-workspace.gql
  packages/graphql/src/graphql/index.ts
  packages/graphql/src/schema.ts
Labels: app:server

#3161 fix: settings style update
  apps/web/src/atoms/settings.ts
  apps/web/src/components/affine/setting-modal/general-setting/appearance/index.tsx
  apps/web/src/components/affine/setting-modal/style.css.ts
  apps/web/src/components/blocksuite/workspace-header/styles.css.ts
  apps/web/src/layouts/workspace-layout.tsx
  packages/component/package.json
  packages/component/src/components/workspace/index.css.ts
  packages/component/src/components/workspace/index.tsx
  yarn.lock
Labels: mod:component, app:web, mod:store

#3156 feat: add suspense to workspace settings
  apps/web/src/components/affine/setting-modal/index.tsx
  apps/web/src/components/affine/setting-modal/setting-sidebar/index.tsx
  apps/web/src/components/affine/setting-modal/style.css.ts
  apps/web/src/components/affine/setting-modal/workspace-setting/index.tsx
  packages/component/src/components/setting-components/index.tsx
  packages/component/src/components/setting-components/setting-header.tsx
  packages/component/src/components/setting-components/setting-row.tsx
  packages/component/src/components/setting-components/workspace-detail-skeleton.tsx
  packages/component/src/components/setting-components/workspace-list-skeleton.tsx
  packages/component/src/components/setting-components/wrapper.tsx
  packages/component/src/ui/mui.ts
Labels: mod:component, app:web

#3163 feat: cloud blob sync
  apps/web/src/adapters/cloud/crud.ts
  apps/web/src/hooks/affine/use-invite-member.ts
  apps/web/src/hooks/affine/use-is-public-cloud-workspace.ts
  apps/web/src/hooks/affine/use-members.ts
  apps/web/src/hooks/affine/use-revoke-member-permission.ts
  apps/web/src/hooks/affine/use-toggle-cloud-public.ts
  apps/web/src/pages/accept.tsx
  packages/workspace/package.json
  packages/workspace/src/affine/__tests__/gql.spec.tsx
  packages/workspace/src/affine/gql.ts
  packages/workspace/src/blob/cloud-blob-storage.ts
  packages/workspace/src/utils.ts
  packages/workspace/tsconfig.json
  yarn.lock
Labels: mod:workspace, app:web, test

#3169 fix: jump to index page after deletion
  apps/web/src/components/affine/setting-modal/workspace-setting/index.tsx
Labels: app:web

#3162 feat: invite by link & create user if not exists
  apps/server/src/modules/auth/service.ts
  apps/server/src/modules/workspaces/permission.ts
  apps/server/src/modules/workspaces/resolver.ts
  apps/server/src/schema.gql
  apps/server/src/tests/utils.ts
  apps/server/src/tests/workspace-invite.spec.ts
  packages/graphql/src/graphql/index.ts
  packages/graphql/src/graphql/workspace-intive-by-email.gql
  packages/graphql/src/graphql/workspace-invite-accept-by-invite-id.gql
  packages/graphql/src/graphql/workspace-invite-accept-by-workspace-id.gql
  packages/graphql/src/graphql/workspace-invite.gql
  packages/graphql/src/schema.ts
Labels: app:server

#3159 feat: delete account
  apps/server/src/modules/users/resolver.ts
  apps/server/src/schema.gql
  apps/server/src/tests/user.spec.ts
  apps/server/src/tests/utils.ts
  packages/graphql/src/graphql/delete-account.gql
  packages/graphql/src/graphql/index.ts
  packages/graphql/src/schema.ts
Labels: app:server, test

#3150 fix: the image lost after exporting
  .github/workflows/workers.yml
  apps/web/preset.config.mjs
  packages/component/src/components/page-list/operation-menu-items/export.tsx
  packages/component/src/components/page-list/operation-menu-items/get-content-parser.ts
  packages/env/src/global.ts
  packages/workers/src/index.ts
  packages/workers/wrangler.toml
Labels: mod:env, mod:component, app:web

#3170 feat: display app version in setting panel
  apps/web/next.config.mjs
  apps/web/src/components/affine/setting-modal/general-setting/about/index.tsx
  packages/env/src/global.ts
  scripts/vitest/next-config-mock.ts
Labels: mod:env, app:web, mod:dev

#3146 feat: add user setting panel
  apps/server/src/modules/auth/next-auth.controller.ts
  apps/server/src/modules/storage/fs.ts
  apps/web/src/components/affine/new-workspace-setting-detail/profile.tsx
  apps/web/src/components/affine/new-workspace-setting-detail/style.css.ts
  apps/web/src/components/affine/setting-modal/account-setting/index.tsx
  apps/web/src/components/affine/setting-modal/account-setting/style.css.ts
  apps/web/src/components/affine/setting-modal/setting-sidebar/default-avatar.png
  apps/web/src/components/affine/setting-modal/setting-sidebar/index.tsx
  apps/web/src/hooks/affine/use-current-user.ts
  packages/component/src/components/setting-components/setting-row.tsx
  packages/component/src/components/setting-components/share.css.ts
  packages/component/src/ui/button/utils.ts
  packages/i18n/src/resources/en.json
Labels: mod:i18n, mod:component, app:web, app:server

#3177 feat: upgrade dependencies
  apps/electron/package.json
  apps/server/package.json
  apps/server/src/prisma/service.ts
  apps/storybook/package.json
  package.json
  packages/component/package.json
  packages/infra/package.json
  packages/plugin-infra/package.json
  packages/y-indexeddb/package.json
  yarn.lock
Labels: mod:component, app:electron, package:y-indexeddb, app:server, mod:plugin-infra

#3179 chore: bump version
  apps/docs/package.json
  apps/electron/package.json
  apps/storybook/package.json
  apps/web/package.json
  packages/component/package.json
  packages/env/package.json
  packages/jotai/package.json
  packages/plugin-infra/package.json
  packages/y-indexeddb/package.json
  tests/affine-legacy/0.7.0-canary.18/package.json
  yarn.lock
Labels: mod:env, mod:component, app:web, app:electron, package:y-indexeddb, mod:store, mod:plugin-infra, test, app:docs

#3185 fix: add default fonts
  apps/web/public/fonts/inter/Inter-VariableFont_slnt,wght.ttf
  apps/web/public/fonts/inter/OFL.txt
  apps/web/public/fonts/source-code-pro/OFL.txt
  apps/web/public/fonts/source-code-pro/SourceCodePro-Italic-VariableFont_wght.ttf
  apps/web/public/fonts/source-code-pro/SourceCodePro-VariableFont_wght.ttf
  apps/web/public/fonts/source-serif-4/OFL.txt
  apps/web/public/fonts/source-serif-4/SourceSerif4-Bold.ttf
  apps/web/public/fonts/source-serif-4/SourceSerif4-BoldItalic.ttf
  apps/web/public/fonts/source-serif-4/SourceSerif4-Italic-VariableFont_opsz,wght.ttf
  apps/web/public/fonts/source-serif-4/SourceSerif4-Italic.ttf
  apps/web/public/fonts/source-serif-4/SourceSerif4-Light.ttf
  apps/web/public/fonts/source-serif-4/SourceSerif4-LightItalic.ttf
  apps/web/public/fonts/source-serif-4/SourceSerif4-Medium.ttf
  apps/web/public/fonts/source-serif-4/SourceSerif4-MediumItalic.ttf
  apps/web/public/fonts/source-serif-4/SourceSerif4-Regular.ttf
  apps/web/public/fonts/source-serif-4/SourceSerif4-SemiBold.ttf
  apps/web/public/fonts/source-serif-4/SourceSerif4-SemiBoldItalic.ttf
  apps/web/public/fonts/source-serif-4/SourceSerif4-VariableFont_opsz,wght.ttf
  apps/web/public/fonts/space-mono/OFL.txt
  apps/web/public/fonts/space-mono/SpaceMono-Bold.ttf
  apps/web/public/fonts/space-mono/SpaceMono-BoldItalic.ttf
  apps/web/public/fonts/space-mono/SpaceMono-Italic.ttf
  apps/web/public/fonts/space-mono/SpaceMono-Regular.ttf
  packages/component/src/theme/fonts.css
Labels: mod:component, app:web

#3184 fix: download cloud before workspace
  packages/workspace/src/providers/cloud/index.ts
  packages/workspace/src/providers/index.ts
Labels: mod:workspace

#3188 test: enable cloud
  apps/web/src/components/pure/workspace-slider-bar/WorkspaceSelector/workspace-selector.tsx
  tests/affine-cloud/e2e/basic.spec.ts
Labels: app:web, test

#3187 feat: make invite id reusable
  apps/server/src/modules/workspaces/resolver.ts
  apps/server/src/schema.gql
  apps/server/src/tests/utils.ts
  apps/server/src/tests/workspace-invite.spec.ts
  packages/graphql/src/graphql/get-members-by-workspace-id.gql
  packages/graphql/src/graphql/index.ts
  packages/graphql/src/schema.ts
Labels: app:server, test

#3180 style: update delete button style
  apps/web/src/components/pure/workspace-slider-bar/collections/collections-list.tsx
  apps/web/src/components/pure/workspace-slider-bar/collections/page.tsx
  apps/web/src/components/pure/workspace-slider-bar/collections/styles.css.ts
  packages/component/src/components/image-preview-modal/index.css.ts
  packages/component/src/components/image-preview-modal/index.tsx
  packages/component/src/components/page-list/operation-cell.tsx
  packages/component/src/components/page-list/operation-menu-items/index.css.ts
  packages/component/src/components/page-list/operation-menu-items/move-to-trash.tsx
  packages/component/src/components/page-list/view/collection-bar.tsx
  packages/component/src/components/page-list/view/collection-list.css.ts
  packages/component/src/components/page-list/view/collection-list.tsx
Labels: mod:component, app:web

#3190 fix: unexpected jump 404 page
  apps/web/src/layouts/workspace-layout.tsx
  apps/web/src/pages/workspace/[workspaceId]/[pageId].tsx
Labels: app:web

#3192 fix: first page id conflict
  apps/web/src/adapters/local/index.tsx
  apps/web/src/components/page-detail-editor.tsx
  apps/web/src/layouts/workspace-layout.tsx
  packages/env/src/constant.ts
Labels: mod:env, app:web

#3183 perf: reduce broadcast scope
  apps/server/src/modules/sync/events/events.gateway.ts
Labels: app:server

#3196 chore: bump version
  apps/docs/package.json
  apps/electron/package.json
  apps/storybook/package.json
  apps/web/package.json
  packages/component/package.json
  packages/env/package.json
  packages/jotai/package.json
  packages/plugin-infra/package.json
  packages/y-indexeddb/package.json
  tests/affine-legacy/0.7.0-canary.18/package.json
  yarn.lock
Labels: mod:env, mod:component, app:web, app:electron, package:y-indexeddb, mod:store, mod:plugin-infra, test, app:docs

#3197 chore: bump version
  plugins/copilot/package.json
  plugins/copilot/src/core/components/conversation-list/index.tsx
  plugins/copilot/src/core/hooks/index.ts
  plugins/copilot/src/core/langchain/message-history.ts
  yarn.lock
Labels: plugin:copilot, mod:plugin

#3199 fix: block hub might not work
  packages/component/src/components/block-hub/index.tsx
  tests/libs/editor.ts
  tests/parallels/blocksuite/block-hub.spec.ts
Labels: mod:component, test

#3178 fix(electron): support affine api
  apps/electron/src/main/protocol.ts
  apps/web/preset.config.mjs
  apps/web/src/bootstrap/index.ts
  apps/web/src/pages/_app.tsx
  packages/env/src/global.ts
  packages/workspace/src/affine/gql.ts
  packages/workspace/src/blob/cloud-blob-storage.ts
  packages/workspace/src/providers/cloud/index.ts
  packages/workspace/src/providers/index.ts
Labels: mod:workspace, mod:env, app:web, app:electron

#3204 fix: page id could be invalid
  packages/workspace/src/atom.ts
Labels: mod:workspace

#3209 chore: update blocksuite version
  apps/docs/package.json
  apps/electron/package.json
  apps/storybook/package.json
  apps/web/package.json
  packages/component/package.json
  packages/env/package.json
  packages/jotai/package.json
  packages/plugin-infra/package.json
  packages/y-indexeddb/package.json
  tests/affine-legacy/0.7.0-canary.18/package.json
  yarn.lock
Labels: mod:env, mod:component, app:web, app:electron, package:y-indexeddb, mod:store, mod:plugin-infra, test, app:docs

#3158 feat(server): add client updates write queue
  apps/server/migrations/20230713022301_update_manager/migration.sql
  apps/server/migrations/migration_lock.toml
  apps/server/package.json
  apps/server/schema.prisma
  apps/server/src/config/def.ts
  apps/server/src/config/default.ts
  apps/server/src/modules/doc/index.ts
  apps/server/src/modules/doc/manager.ts
  apps/server/src/modules/doc/redis-manager.ts
  apps/server/src/modules/index.ts
  apps/server/src/modules/sync/events/events.gateway.ts
  apps/server/src/modules/sync/events/events.module.ts
  apps/server/src/modules/sync/events/workspace.ts
  apps/server/src/modules/sync/utils.ts
  apps/server/src/modules/workspaces/controller.ts
  apps/server/src/modules/workspaces/index.ts
  apps/server/src/modules/workspaces/resolver.ts
  apps/server/src/tests/app.e2e.ts
  apps/server/src/tests/doc.spec.ts
  apps/server/src/tests/utils.ts
  apps/server/src/tests/workspace-blobs.spec.ts
  apps/server/src/tests/workspace-invite.spec.ts
  apps/server/src/tests/workspace.spec.ts
  packages/storage/__tests__/storage.spec.js
  packages/storage/index.d.ts
  packages/storage/src/lib.rs
  yarn.lock
Labels: app:server, test, rust, mod:storage

#3215 fix: fullscreen settting not working
  apps/web/src/components/page-detail-editor.css.ts
  packages/component/src/components/workspace/index.css.ts
  packages/component/src/ui/modal/modal-wrapper.tsx
Labels: mod:component, app:web

#3213 fix: collections should be unique for workspaces
  apps/web/src/components/blocksuite/block-suite-page-list/index.tsx
  apps/web/src/components/pure/workspace-slider-bar/collections/collections-list.tsx
  apps/web/src/components/workspace-header.tsx
  apps/web/src/pages/workspace/[workspaceId]/[pageId].tsx
  apps/web/src/pages/workspace/[workspaceId]/all.tsx
  packages/component/src/components/page-list/__tests__/use-all-page-setting.spec.ts
  packages/component/src/components/page-list/all-page.tsx
  packages/component/src/components/page-list/type.ts
  packages/component/src/components/page-list/use-collection-manager.ts
  packages/component/src/components/page-list/view/collection-bar.tsx
  packages/env/src/filter.ts
Labels: mod:env, mod:component, app:web, test

#3191 feat: mail service
  .prettierignore
  apps/server/src/modules/auth/guard.ts
  apps/server/src/modules/auth/index.ts
  apps/server/src/modules/auth/mailer/index.ts
  apps/server/src/modules/auth/mailer/mail.service.ts
  apps/server/src/modules/auth/mailer/mailer.ts
  apps/server/src/modules/auth/next-auth-options.ts
  apps/server/src/modules/workspaces/resolver.ts
  apps/server/src/schema.gql
  apps/server/src/tests/mailer.spec.ts
  apps/server/src/tests/utils.ts
  apps/server/src/tests/workspace-invite.spec.ts
  apps/web/src/hooks/affine/use-invite-member.ts
  packages/graphql/src/graphql/index.ts
  packages/graphql/src/graphql/workspace-intive-by-email.gql
  packages/graphql/src/schema.ts
Labels: app:web, app:server, test

#3221 refactor: mode atom
  apps/web/src/atoms/mode.ts
  apps/web/src/components/blocksuite/workspace-header/header.tsx
  apps/web/src/components/pure/help-island/index.tsx
  apps/web/src/hooks/current/use-current-mode.ts
Labels: app:web, mod:store

#3219 fix: can't go back to all pages by click `All Pages` button
  apps/web/src/components/root-app-sidebar/index.tsx
Labels: app:web

#3222 refactor(plugin-infra): workspace loading
  .commitlintrc.json
  apps/web/src/adapters/local/index.tsx
  apps/web/src/components/affine/setting-modal/setting-sidebar/index.tsx
  apps/web/src/components/affine/setting-modal/workspace-setting/index.tsx
  apps/web/src/hooks/use-workspace.ts
  apps/web/src/hooks/use-workspaces.ts
  apps/web/src/layouts/workspace-layout.tsx
  apps/web/src/pages/index.tsx
  packages/component/src/components/block-hub/index.tsx
  packages/component/src/components/card/workspace-card/index.tsx
  packages/plugin-infra/package.json
  packages/plugin-infra/src/__internal__/workspace.ts
  packages/plugin-infra/src/__tests__/use-block-suite-workspace.spec.ts
  packages/plugin-infra/src/manager.ts
  packages/plugin-infra/vite.config.ts
  packages/workspace/src/utils.ts
Labels: mod:workspace, mod:component, app:web, mod:plugin-infra, test

#3223 chore: bump version
  apps/docs/package.json
  apps/electron/package.json
  apps/storybook/package.json
  apps/web/package.json
  packages/component/package.json
  packages/env/package.json
  packages/jotai/package.json
  packages/plugin-infra/package.json
  packages/y-indexeddb/package.json
  tests/affine-legacy/0.7.0-canary.18/package.json
  yarn.lock
Labels: mod:env, mod:component, app:web, app:electron, package:y-indexeddb, mod:store, mod:plugin-infra, test, app:docs

#3226 fix(plugin-infra): dependencies
  apps/electron/scripts/macos-arm64-output-check.mts
  packages/plugin-infra/package.json
  yarn.lock
Labels: app:electron, mod:plugin-infra

#3228 revert: use stable react
  apps/storybook/package.json
  apps/storybook/src/stories/block-suite-editor.stories.tsx
  apps/storybook/src/stories/share-menu.stories.tsx
  apps/storybook/tsconfig.json
  apps/web/package.json
  apps/web/src/pages/index.tsx
  apps/web/tsconfig.json
  packages/component/package.json
  packages/component/src/components/app-sidebar/index.tsx
  packages/component/src/components/block-suite-editor/index.tsx
  packages/component/src/components/image-preview-modal/index.tsx
  packages/component/src/components/workspace/index.tsx
  packages/env/package.json
  packages/i18n/package.json
  packages/workspace/package.json
  packages/workspace/src/atom.ts
  plugins/bookmark-block/package.json
  plugins/copilot/package.json
  yarn.lock
Labels: mod:workspace, mod:i18n, mod:env, mod:component, app:web, plugin:copilot, mod:plugin, plugin:bookmark-block

#3233 fix(server): use ws and guid as snapshot primary id
  apps/server/migrations/20230714065216_snapshot_id/migration.sql
  apps/server/schema.prisma
  apps/server/src/modules/doc/manager.ts
  apps/server/src/modules/doc/redis-manager.ts
Labels: app:server

#3231 refactor: simplify code
  apps/web/src/components/pure/workspace-slider-bar/collections/collections-list.tsx
  apps/web/src/components/pure/workspace-slider-bar/collections/page.tsx
  apps/web/src/components/pure/workspace-slider-bar/favorite/favorite-list.tsx
  apps/web/src/components/pure/workspace-slider-bar/index.tsx
  apps/web/src/components/root-app-sidebar/index.tsx
Labels: app:web

#3234 fix: remove hello-world page
  apps/web/src/layouts/workspace-layout.tsx
Labels: app:web

#3237 feat: send invite email by default
  apps/web/src/components/affine/new-workspace-setting-detail/members.tsx
Labels: app:web

#3238 fix: migration logic
  apps/web/src/bootstrap/index.ts
  packages/workspace/src/atom.ts
Labels: mod:workspace, app:web

#3241 fix: create first workspace logic
  apps/web/src/bootstrap/index.ts
  apps/web/src/pages/index.tsx
  packages/workspace/src/atom.ts
  tests/affine-legacy/0.7.0-canary.18/e2e/basic.spec.ts
Labels: mod:workspace, app:web, test

#3246 fix: pwa icon
  apps/web/public/favicon-192.png
Labels: app:web

#3250 chore: bump version
  apps/docs/package.json
  apps/electron/package.json
  apps/storybook/package.json
  apps/web/package.json
  packages/component/package.json
  packages/env/package.json
  packages/jotai/package.json
  packages/plugin-infra/package.json
  packages/y-indexeddb/package.json
  tests/affine-legacy/0.7.0-canary.18/package.json
  yarn.lock
Labels: mod:env, mod:component, app:web, app:electron, package:y-indexeddb, mod:store, mod:plugin-infra, test, app:docs

#3248 docs: update building-desktop-client-app.md
  docs/building-desktop-client-app.md
Labels: docs

#3252 fix(plugin-infra): dependencies
  apps/electron/scripts/macos-arm64-output-check.mts
  packages/plugin-infra/package.json
  yarn.lock
Labels: app:electron, mod:plugin-infra

#3254 refactor: use `useCallback`
  apps/web/src/components/blocksuite/block-suite-page-list/index.tsx
  apps/web/src/components/pure/workspace-slider-bar/collections/collections-list.tsx
  apps/web/src/components/workspace-header.tsx
  apps/web/src/hooks/use-get-page-info.ts
Labels: app:web
