Repository toeverything/AFFiNE, pull requests merged in 2023-04, with the labels that each got.

#1827 fix: indexeddb provider
  apps/electron/yarn.lock
  apps/web/package.json
  packages/workspace/package.json
  packages/workspace/src/providers/index.ts
  yarn.lock
Labels: mod:workspace, app:web, app:electron

#1829 chore: bump version
  apps/electron/yarn.lock
  apps/web/package.json
  packages/component/package.json
  packages/env/package.json
  packages/workspace/package.json
  packages/y-indexeddb/package.json
  yarn.lock
Labels: mod:workspace, mod:env, app:web, app:electron

#1830 chore: bump version
  apps/electron/yarn.lock
  apps/web/package.json
  packages/component/package.json
  packages/env/package.json
  packages/workspace/package.json
  packages/y-indexeddb/package.json
  yarn.lock
Labels: mod:workspace, mod:env, app:web, app:electron

#1832 chore: update change log style
  apps/electron/yarn.lock
  apps/web/package.json
  apps/web/src/components/pure/help-island/index.tsx
  apps/web/src/components/pure/help-island/style.ts
  apps/web/src/components/pure/workspace-slider-bar/changeLog/index.tsx
  apps/web/src/components/pure/workspace-slider-bar/shared-styles.ts
  apps/web/src/components/pure/workspace-slider-bar/style.ts
  packages/component/package.json
  yarn.lock
Labels: app:web, app:electron

#1786 feat: modify pivot operation menu
  apps/web/public/imgs/no-result.svg
  apps/web/src/components/__tests__/PinBoard.spec.tsx
  apps/web/src/components/affine/operation-menu-items/CopyLink.tsx
  apps/web/src/components/affine/operation-menu-items/Export.tsx
  apps/web/src/components/affine/operation-menu-items/MoveTo.tsx
  apps/web/src/components/affine/operation-menu-items/MoveToTrash.tsx
  apps/web/src/components/affine/operation-menu-items/types.ts
  apps/web/src/components/affine/pivots/OperationButton.tsx
  apps/web/src/components/affine/pivots/OperationMenu.tsx
  apps/web/src/components/affine/pivots/PivotsMenu/Pivots.tsx
  apps/web/src/components/affine/pivots/PivotsMenu/PivotsMenu.tsx
  apps/web/src/components/affine/pivots/PivotsMenu/SearchContent.tsx
  apps/web/src/components/affine/pivots/index.ts
  apps/web/src/components/affine/pivots/pivot-render/OperationButton.tsx
  apps/web/src/components/affine/pivots/pivot-render/PivotRender.tsx
  apps/web/src/components/affine/pivots/styles.ts
  apps/web/src/components/blocksuite/header/header-right-items/EditorOptionMenu.tsx
  apps/web/src/components/pure/create-workspace-modal/index.tsx
  apps/web/src/components/pure/quick-search-modal/NoResultSVG.tsx
  apps/web/src/components/pure/quick-search-modal/PublishedResults.tsx
  apps/web/src/components/pure/quick-search-modal/Results.tsx
  apps/web/src/components/pure/quick-search-modal/style.ts
  apps/web/src/components/pure/workspace-slider-bar/Pivots.tsx
  apps/web/src/components/pure/workspace-slider-bar/index.tsx
  apps/web/src/components/pure/workspace-slider-bar/style.ts
  packages/component/src/ui/confirm/Confirm.tsx
  packages/component/src/ui/toast/toast.ts
  tests/parallels/pin-board.spec.ts
Labels: app:web, tests

#1794 feat: single page API in public workspace
  apps/web/src/atoms/public-workspace/index.ts
  apps/web/src/pages/public-workspace/[workspaceId]/[pageId].tsx
  packages/component/src/components/block-suite-editor/index.tsx
  tests/libs/utils.ts
  tests/parallels/affine/affine-public-workspace.spec.ts
  tests/parallels/affine/affine-workspace.spec.ts
Labels: app:web, tests

#1833 ci(storybook): wait for 6006
  .github/workflows/build-master.yml
  .github/workflows/build.yml
  apps/electron/yarn.lock
  packages/component/package.json
  yarn.lock
Labels: app:electron

#1834 refactor(component): editor component
  apps/electron/yarn.lock
  apps/web/src/components/__debug__/client/Editor.tsx
  apps/web/src/components/page-detail-editor.tsx
  apps/web/src/pages/_debug/broadcast.dev.tsx
  packages/component/package.json
  packages/component/src/components/block-suite-editor/index.stories.tsx
  packages/component/src/components/block-suite-editor/index.tsx
  yarn.lock
Labels: mod:component, app:web, app:electron

#1837 feat(component): support sort workspace card
  apps/electron/yarn.lock
  apps/web/package.json
  apps/web/src/components/pure/workspace-list-modal/index.tsx
  apps/web/src/layouts/index.tsx
  apps/web/src/providers/ModalProvider.tsx
  packages/component/package.json
  packages/component/src/components/workspace-card/index.tsx
  packages/component/src/components/workspace-list/index.stories.tsx
  packages/component/src/components/workspace-list/index.tsx
  tests/libs/workspace.ts
  tests/parallels/local-first-workspace-list.spec.ts
  yarn.lock
Labels: mod:component, app:web, app:electron, tests

#1838 refactor: add workspace events
  apps/web/src/components/blocksuite/header/header-right-items/SyncUser.tsx
  apps/web/src/components/pure/footer/index.tsx
  apps/web/src/components/pure/message-center/index.tsx
  apps/web/src/hooks/affine/use-affine-log-in.ts
  apps/web/src/hooks/affine/use-affine-log-out.ts
  apps/web/src/hooks/affine/use-affine-refresh-auth-token.ts
  apps/web/src/hooks/use-create-first-workspace.ts
  apps/web/src/pages/workspace/[workspaceId]/setting.tsx
  apps/web/src/plugins/affine/index.tsx
  apps/web/src/plugins/index.tsx
  apps/web/src/plugins/local/index.tsx
  packages/workspace/src/type.ts
  tests/parallels/affine/affine-workspace.spec.ts
Labels: mod:workspace, app:web, tests

#1839 fix: reload the page when login token expired
  apps/web/src/hooks/affine/use-affine-refresh-auth-token.ts
  apps/web/src/layouts/index.tsx
  apps/web/src/plugins/affine/__tests__/index.spec.tsx
  apps/web/src/plugins/affine/index.tsx
  apps/web/src/shared/apis.ts
  packages/workspace/src/affine/__tests__/login.spec.ts
  packages/workspace/src/affine/login.ts
  scripts/setup/search.ts
  scripts/vitest/next-config-mock.ts
  vitest.config.ts
Labels: mod:workspace, app:web, tests, mod:dev

#1841 feat: update code-block background color
  packages/component/src/styles/theme.ts
Labels: mod:component

#1844 fix: enable autofocus in blocksuite editor
  packages/component/src/components/block-suite-editor/index.tsx
Labels: mod:component

#1845 chore: update blocksuite
  apps/electron/yarn.lock
  apps/web/package.json
  packages/component/package.json
  packages/env/package.json
  packages/workspace/package.json
  packages/y-indexeddb/package.json
  yarn.lock
Labels: mod:workspace, mod:env, mod:component, app:web, app:electron, package:y-indexeddb

#1846 chore: update change log style
  apps/web/src/components/pure/workspace-slider-bar/changeLog/index.tsx
  apps/web/src/components/pure/workspace-slider-bar/shared-styles.ts
Labels: app:web

#1848 fix: dnd workspace list will cause page to reload
  apps/web/src/components/pure/workspace-list-modal/index.tsx
  apps/web/src/providers/ModalProvider.tsx
  packages/component/src/components/workspace-list/index.tsx
Labels: bug, mod:component, app:web

#1843 feat: add root pinboard & rename pivots to pinboard
  apps/web/src/components/__tests__/PinBoard.spec.tsx
  apps/web/src/components/affine/operation-menu-items/CopyLink.tsx
  apps/web/src/components/affine/operation-menu-items/MoveTo.tsx
  apps/web/src/components/affine/pinboard/index.ts
  apps/web/src/components/affine/pinboard/pinboard-menu/SearchContent.tsx
  apps/web/src/components/affine/pinboard/pinboard-menu/index.tsx
  apps/web/src/components/affine/pinboard/pinboard-render/EmptyItem.tsx
  apps/web/src/components/affine/pinboard/pinboard-render/OperationButton.tsx
  apps/web/src/components/affine/pinboard/pinboard-render/index.tsx
  apps/web/src/components/affine/pinboard/styles.ts
  apps/web/src/components/affine/pivots/PivotsMenu/EmptyItem.tsx
  apps/web/src/components/affine/pivots/PivotsMenu/Pivots.tsx
  apps/web/src/components/affine/pivots/hooks/usePivotData.ts
  apps/web/src/components/affine/pivots/index.ts
  apps/web/src/components/affine/pivots/pivot-render/PivotRender.tsx
  apps/web/src/components/affine/pivots/types.ts
  apps/web/src/components/blocksuite/block-suite-page-list/page-list/OperationCell.tsx
  apps/web/src/components/blocksuite/header/header-right-items/EditorOptionMenu.tsx
  apps/web/src/components/pure/workspace-slider-bar/Pinboard.tsx
  apps/web/src/components/pure/workspace-slider-bar/Pivots.tsx
  apps/web/src/components/pure/workspace-slider-bar/changeLog/index.tsx
  apps/web/src/components/pure/workspace-slider-bar/index.tsx
  apps/web/src/components/pure/workspace-slider-bar/shared-styles.ts
  apps/web/src/hooks/affine/use-pinboard-data.ts
  apps/web/src/hooks/affine/use-pinboard-handler.ts
  apps/web/src/hooks/use-page-meta.ts
  apps/web/src/pages/workspace/[workspaceId]/all.tsx
  apps/web/src/utils/blocksuite.ts
  packages/component/src/ui/tree-view/TreeNode.tsx
  packages/component/src/ui/tree-view/types.ts
  tests/libs/utils.ts
  tests/parallels/pin-board.spec.ts
Labels: mod:component, app:web, tests

#1842 fix: revalidate user token with no refresh page
  apps/web/src/hooks/affine/use-affine-refresh-auth-token.ts
  apps/web/src/plugins/affine/__tests__/index.spec.tsx
  packages/workspace/src/affine/api/index.ts
  packages/workspace/src/affine/login.ts
  packages/workspace/src/affine/sync.ts
  packages/workspace/src/providers/index.ts
Labels: mod:workspace, app:web, tests

#1851 docs: add contributing tutorial
  README.md
  docs/contributing/bump-blocksuite.md
  docs/contributing/tutorial.md
Labels: docs

#1854 ci: build macos on pull request
  .github/workflows/build.yml
  apps/electron/forge.config.js
Labels: app:electron

#1857 refactor: move non-affine hooks
  apps/web/src/components/affine/pinboard/pinboard-menu/index.tsx
  apps/web/src/components/affine/pinboard/pinboard-render/index.tsx
  apps/web/src/components/affine/sidebar-switch/index.tsx
  apps/web/src/components/blocksuite/header/header.tsx
  apps/web/src/components/blocksuite/header/index.tsx
  apps/web/src/components/pure/quick-search-modal/Results.tsx
  apps/web/src/components/pure/workspace-slider-bar/Pinboard.tsx
  apps/web/src/components/pure/workspace-slider-bar/changeLog/index.tsx
  apps/web/src/components/pure/workspace-slider-bar/index.tsx
  apps/web/src/hooks/__tests__/index.spec.tsx
  apps/web/src/hooks/affine/README.md
  apps/web/src/hooks/use-is-first-load.ts
  apps/web/src/hooks/use-pinboard-data.ts
  apps/web/src/hooks/use-pinboard-handler.ts
  apps/web/src/hooks/use-recent-views.ts
  apps/web/src/hooks/use-sidebar-status.ts
  apps/web/src/layouts/index.tsx
  apps/web/src/pages/workspace/[workspaceId]/[pageId].tsx
Labels: docs, app:web, tests

#1859 feat: connect pinboard and reference link
  apps/web/src/components/affine/pinboard/pinboard-menu/index.tsx
  apps/web/src/components/page-detail-editor.tsx
  apps/web/src/components/pure/workspace-slider-bar/Pinboard.tsx
  apps/web/src/hooks/affine/use-reference-link.ts
  apps/web/src/hooks/use-pinboard-handler.ts
  apps/web/src/hooks/use-router-helper.ts
  apps/web/src/layouts/index.tsx
  apps/web/src/pages/public-workspace/[workspaceId]/[pageId].tsx
  apps/web/src/pages/workspace/[workspaceId]/[pageId].tsx
  packages/component/src/ui/tree-view/TreeNode.tsx
  packages/component/src/ui/tree-view/types.ts
  tests/parallels/pin-board.spec.ts
Labels: mod:component, app:web, tests

#1858 feat: support page sharing by meta
  apps/web/src/hooks/affine/use-affine-public-page.ts
  packages/workspace/src/affine/__tests__/api.spec.ts
  packages/workspace/src/affine/__tests__/sync.spec.ts
  packages/workspace/src/affine/api/index.ts
Labels: mod:workspace, app:web, tests

#1864 docs: thanks to all contributors, update the readme
  .all-contributorsrc
  README.md
Labels: docs

#1865 docs: remove the global center style
  README.md
Labels: docs

#1860 fix: update i18n
  packages/i18n/src/resources/zh-Hans.json
Labels: mod:i18n

#1866 docs: make intro,badge,desc align center
  README.md
Labels: docs

#1867 feat: add affine next theme
  apps/electron/yarn.lock
  apps/web/src/providers/ThemeProvider.tsx
  packages/component/package.json
  packages/component/src/styles/color-scheme.ts
  packages/component/src/styles/index.ts
  packages/component/src/styles/theme.ts
  yarn.lock
Labels: mod:component, app:web, app:electron

#1872 feat: ensure subpage is appended in its parent after subpageLinked
  apps/web/src/pages/workspace/[workspaceId]/[pageId].tsx
Labels: app:web

#1873 chore: bump version
  apps/electron/yarn.lock
  apps/web/package.json
  packages/component/package.json
  packages/env/package.json
  packages/workspace/src/affine/__tests__/api.spec.ts
  packages/y-indexeddb/package.json
  yarn.lock
Labels: mod:workspace, mod:env, mod:component, app:web, app:electron, tests, package:y-indexeddb

#1822 feat: support google cloud login in client
  .github/workflows/release-desktop-app.yml
  apps/electron/.gitignore
  apps/electron/layers/main/src/app-state/google-auth.ts
  apps/electron/layers/main/src/app-state/index.ts
  apps/electron/layers/main/src/index.ts
  apps/electron/layers/main/src/security-restrictions.ts
  apps/electron/layers/preload/preload.d.ts
  apps/electron/layers/preload/src/index.ts
  apps/electron/package.json
  apps/electron/scripts/common.mjs
  apps/electron/scripts/dev.mjs
  apps/electron/scripts/generate-assets.mjs
  apps/electron/yarn.lock
  apps/web/src/components/blocksuite/header/styles.ts
  apps/web/src/shared/apis.ts
  packages/workspace/src/affine/login.ts
  packages/workspace/src/type.ts
Labels: mod:workspace, app:web, app:electron

#1879 perf(y-indexeddb): improve boost and loading time
  apps/electron/yarn.lock
  packages/y-indexeddb/benchmark/index.ts
  packages/y-indexeddb/package.json
  packages/y-indexeddb/src/__tests__/index.spec.ts
  packages/y-indexeddb/src/index.ts
  tests/libs/utils.ts
  tests/parallels/local-first-setting-page.spec.ts
  yarn.lock
Labels: app:electron, tests, package:y-indexeddb

#1805 feat: single page sharing support
  apps/web/src/components/blocksuite/header/header.tsx
  apps/web/src/components/blocksuite/header/index.tsx
  packages/component/src/components/share-menu/Export.tsx
  packages/component/src/components/share-menu/SharePage.tsx
  packages/component/src/components/share-menu/ShareWorkspace.tsx
  packages/component/src/components/share-menu/index.css.ts
  packages/component/src/components/share-menu/index.tsx
  packages/component/src/components/share-menu/styles.ts
  packages/component/src/index.ts
  packages/component/src/stories/ShareMenu.stories.tsx
  packages/component/src/stories/Switch.stories.tsx
  packages/component/src/ui/button/styles.ts
  packages/component/src/ui/switch/Switch.tsx
  packages/component/src/ui/switch/index.ts
  packages/env/src/index.ts
  packages/hooks/src/__tests__/index.spec.ts
  packages/hooks/src/use-blocksuite-workspace-page-is-public.ts
Labels: mod:hooks, mod:env, mod:component, app:web, tests

#1880 refactor: workspace header
  apps/web/src/atoms/public-workspace/index.ts
  apps/web/src/components/blocksuite/header/editor-mode-switch/animation-data/edgeless-hover.json
  apps/web/src/components/blocksuite/header/editor-mode-switch/animation-data/page-hover.json
  apps/web/src/components/blocksuite/header/header.tsx
  apps/web/src/components/blocksuite/header/index.tsx
  apps/web/src/components/blocksuite/workspace-header/editor-mode-switch/CustomLottie.tsx
  apps/web/src/components/blocksuite/workspace-header/editor-mode-switch/animation-data/edgeless-hover.json
  apps/web/src/components/blocksuite/workspace-header/editor-mode-switch/animation-data/page-hover.json
  apps/web/src/components/blocksuite/workspace-header/editor-mode-switch/index.tsx
  apps/web/src/components/blocksuite/workspace-header/editor-mode-switch/style.ts
  apps/web/src/components/blocksuite/workspace-header/editor-mode-switch/switch-items.tsx
  apps/web/src/components/blocksuite/workspace-header/header-right-items/EditorOptionMenu.tsx
  apps/web/src/components/blocksuite/workspace-header/header-right-items/SyncUser.tsx
  apps/web/src/components/blocksuite/workspace-header/header-right-items/TrashButtonGroup.tsx
  apps/web/src/components/blocksuite/workspace-header/header-right-items/theme-mode-switch/Icons.tsx
  apps/web/src/components/blocksuite/workspace-header/header-right-items/theme-mode-switch/index.tsx
  apps/web/src/components/blocksuite/workspace-header/header-right-items/theme-mode-switch/style.ts
  apps/web/src/components/blocksuite/workspace-header/header.tsx
  apps/web/src/components/blocksuite/workspace-header/index.tsx
  apps/web/src/components/blocksuite/workspace-header/styles.ts
  apps/web/src/components/blocksuite/workspace-header/utils.tsx
  apps/web/src/components/page-detail-editor.tsx
  apps/web/src/components/pure/workspace-list-modal/index.tsx
  apps/web/src/components/pure/workspace-title/index.tsx
  apps/web/src/hooks/affine/use-is-workspace-owner.ts
  apps/web/src/hooks/use-sync-router-with-current-workspace-and-page.ts
  apps/web/src/layouts/index.tsx
  apps/web/src/layouts/public-workspace-layout.tsx
  apps/web/src/pages/preview/[previewId].tsx
  apps/web/src/pages/public-workspace/[workspaceId].tsx
  apps/web/src/pages/public-workspace/[workspaceId]/[pageId].tsx
  apps/web/src/pages/workspace/[workspaceId]/all.tsx
  apps/web/src/pages/workspace/[workspaceId]/favorite.tsx
  apps/web/src/pages/workspace/[workspaceId]/setting.tsx
  apps/web/src/pages/workspace/[workspaceId]/trash.tsx
  apps/web/src/plugins/affine/index.tsx
  apps/web/src/plugins/index.tsx
  apps/web/src/plugins/local/index.tsx
  apps/web/src/shared/index.ts
  packages/component/src/components/workspace-avatar/index.tsx
  packages/workspace/src/type.ts
  tests/parallels/local-first-favorite-page.spec.ts
Labels: mod:workspace, mod:component, app:web, tests, mod:store

#1886 docs(y-indexeddb): add README.md
  packages/y-indexeddb/README.md
Labels: docs, package:y-indexeddb

#1887 fix(component): affine loading
  apps/web/src/components/pure/loading/Loading.tsx
  apps/web/src/components/pure/loading/PageLoading.tsx
  apps/web/src/components/pure/loading/index.tsx
  apps/web/src/components/pure/loading/styled.ts
  packages/component/src/components/affine-loading/index.tsx
  packages/component/src/components/internal-lottie/index.tsx
  packages/component/src/stories/AffineLoading.stories.tsx
Labels: mod:component, app:web

#1890 chore: bump version
  apps/electron/yarn.lock
  apps/web/package.json
  packages/component/package.json
  packages/env/package.json
  packages/y-indexeddb/package.json
  yarn.lock
Labels: mod:env, mod:component, app:web, app:electron, package:y-indexeddb

#1888 fix: api server address in electron
  .github/workflows/release-desktop-app.yml
  apps/web/.env.local.template
  apps/web/next.config.mjs
  package.json
  packages/cli/src/dev.mjs
  playwright.config.ts
Labels: app:web, mod:dev

#1891 chore: update style for share menu
  packages/component/src/components/share-menu/SharePage.tsx
  packages/component/src/components/share-menu/index.css.ts
  packages/component/src/components/share-menu/index.tsx
  packages/component/src/components/share-menu/styles.ts
Labels: mod:component

#1893 fix: update app icons
  apps/electron/resources/icons/128x128.png
  apps/electron/resources/icons/128x128@2x.png
  apps/electron/resources/icons/32x32.png
  apps/electron/resources/icons/Square107x107Logo.png
  apps/electron/resources/icons/Square142x142Logo.png
  apps/electron/resources/icons/Square150x150Logo.png
  apps/electron/resources/icons/Square284x284Logo.png
  apps/electron/resources/icons/Square30x30Logo.png
  apps/electron/resources/icons/Square310x310Logo.png
  apps/electron/resources/icons/Square44x44Logo.png
  apps/electron/resources/icons/Square71x71Logo.png
  apps/electron/resources/icons/Square89x89Logo.png
  apps/electron/resources/icons/StoreLogo.png
  apps/electron/resources/icons/icon.icns
  apps/electron/resources/icons/icon.ico
  apps/electron/resources/icons/icon.png
Labels: app:electron

#1895 chore: enable databse feature flag
  apps/web/src/atoms/public-workspace/index.ts
  apps/web/src/pages/workspace/[workspaceId]/[pageId].tsx
Labels: app:web, mod:store

#1892 fix: export to html/markdown
  apps/web/src/components/affine/operation-menu-items/Export.tsx
  tests/parallels/local-first-favorite-page.spec.ts
Labels: app:web, tests

#1896 fix: ws prefix url in electron
  .github/workflows/build.yml
  apps/electron/layers/main/src/app-state/google-auth.ts
  apps/electron/layers/main/src/main-window.ts
  apps/electron/layers/main/src/protocol.ts
  apps/web/next.config.mjs
  apps/web/src/blocksuite/providers/index.ts
  apps/web/src/plugins/affine/index.tsx
  apps/web/src/shared/apis.ts
  apps/web/src/utils/index.ts
  packages/env/src/__tests__/is-valid-ip-address.spec.ts
  packages/env/src/api.ts
  packages/env/src/config.ts
  packages/env/src/index.ts
  packages/env/src/is-valid-ip-address.ts
  packages/workspace/src/affine/login.ts
  packages/workspace/src/affine/sync.ts
  packages/workspace/src/providers/index.ts
Labels: mod:workspace, mod:env, app:web, app:electron, tests

#1900 fix: cors header handling
  apps/electron/layers/main/src/app-state/index.ts
  apps/electron/layers/main/src/protocol.ts
Labels: app:electron

#1901 refactor: remove next/dynamic
  apps/web/src/components/page-detail-editor.tsx
  apps/web/src/components/pure/help-island/index.tsx
  apps/web/src/layouts/index.tsx
  apps/web/src/layouts/public-workspace-layout.tsx
  apps/web/src/pages/_debug/init-page.dev.tsx
  apps/web/src/pages/_debug/login.dev.tsx
  apps/web/src/pages/public-workspace/[workspaceId].tsx
  apps/web/src/providers/ModalProvider.tsx
Labels: app:web

#1903 fix: use `startTransition`
  apps/web/src/components/page-detail-editor.tsx
Labels: app:web

#1905 fix: improve UX of dropdown
  apps/web/src/components/affine/pinboard/pinboard-render/OperationButton.tsx
Labels: app:web

#1907 fix: cannot update a component while rendering a different component
  packages/component/src/components/block-suite-editor/index.tsx
Labels: mod:component

#1908 build: support sentry replay
  apps/web/sentry.client.config.ts
Labels: app:web

#1910 build: support sourcemap in sentry
  apps/web/.env.local.template
  apps/web/next.config.mjs
  apps/web/package.json
  yarn.lock
Labels: app:web

#1915 fix: wrap React.lazy with Suspense
  apps/web/src/components/page-detail-editor.tsx
  apps/web/src/components/pure/help-island/index.tsx
  apps/web/src/layouts/index.tsx
  apps/web/src/layouts/public-workspace-layout.tsx
  apps/web/src/pages/_debug/init-page.dev.tsx
  apps/web/src/pages/_debug/login.dev.tsx
  apps/web/src/pages/public-workspace/[workspaceId].tsx
  apps/web/src/providers/ModalProvider.tsx
Labels: app:web

#1904 fix(y-indexeddb): migration in firefox
  packages/y-indexeddb/src/__tests__/index.spec.ts
  packages/y-indexeddb/src/index.ts
Labels: tests, package:y-indexeddb

#1922 fix: pinboard operation menu disappear inexplicably when hover to menu from button
  apps/web/src/components/affine/pinboard/pinboard-render/OperationButton.tsx
Labels: app:web

#1919 fix: electron sourcemap issues
  apps/electron/layers/main/src/app-state/index.ts
  apps/electron/layers/main/src/protocol.ts
  apps/electron/scripts/generate-assets.mjs
  apps/web/next.config.mjs
Labels: app:web, app:electron

#1927 fix: failed to load blobs in electron
  apps/electron/layers/main/src/app-state/google-auth.ts
  apps/electron/layers/main/src/app-state/index.ts
  apps/electron/layers/main/src/protocol.ts
  apps/electron/layers/preload/preload.d.ts
  apps/electron/layers/preload/src/index.ts
  apps/web/src/plugins/affine/index.tsx
  packages/workspace/src/affine/login.ts
Labels: mod:workspace, app:web, app:electron

#1883 feat: enable share menu
  .github/workflows/build-master.yml
  .github/workflows/build.yml
  apps/electron/yarn.lock
  apps/web/package.json
  apps/web/preset.config.mjs
  apps/web/src/components/affine/affine-error-eoundary.tsx
  apps/web/src/components/affine/operation-menu-items/DisablePublicSharing.tsx
  apps/web/src/components/affine/operation-menu-items/index.ts
  apps/web/src/components/affine/transform-workspace-to-affine-modal/index.tsx
  apps/web/src/components/blocksuite/block-suite-page-list/page-list/OperationCell.tsx
  apps/web/src/components/blocksuite/block-suite-page-list/page-list/index.tsx
  apps/web/src/components/blocksuite/workspace-header/header-right-items/EditPage.tsx
  apps/web/src/components/blocksuite/workspace-header/header-right-items/ShareMenu.tsx
  apps/web/src/components/blocksuite/workspace-header/header-right-items/UserAvatar.tsx
  apps/web/src/components/blocksuite/workspace-header/header.tsx
  apps/web/src/components/pure/footer/index.tsx
  apps/web/src/components/pure/workspace-slider-bar/index.tsx
  apps/web/src/hooks/__tests__/use-router-helper.spec.ts
  apps/web/src/hooks/root/use-on-transform-workspace.ts
  apps/web/src/hooks/use-sync-router-with-current-workspace-and-page.ts
  apps/web/src/layouts/public-workspace-layout.tsx
  apps/web/src/pages/public-workspace/[workspaceId].tsx
  apps/web/src/pages/public-workspace/[workspaceId]/[pageId].tsx
  apps/web/src/pages/workspace/[workspaceId]/setting.tsx
  apps/web/src/pages/workspace/[workspaceId]/shared.tsx
  apps/web/src/server.mjs
  apps/web/src/shared/index.ts
  package.json
  packages/component/package.json
  packages/component/src/components/share-menu/Export.tsx
  packages/component/src/components/share-menu/ShareMenu.tsx
  packages/component/src/components/share-menu/SharePage.tsx
  packages/component/src/components/share-menu/ShareWorkspace.tsx
  packages/component/src/components/share-menu/disable-public-link/index.tsx
  packages/component/src/components/share-menu/disable-public-link/style.ts
  packages/component/src/components/share-menu/index.css.ts
  packages/component/src/components/share-menu/index.tsx
  packages/component/src/components/share-menu/styles.ts
  packages/component/src/stories/ShareMenu.stories.tsx
  packages/env/package.json
  packages/i18n/src/resources/en.json
  packages/workspace/src/affine/api/index.ts
  packages/y-indexeddb/package.json
  playwright.config.ts
  tests/parallels/affine/affine-public-single-page.spec.ts
  tests/parallels/debug-init-page.spec.ts
  tests/parallels/open-affine.spec.ts
  yarn.lock
Labels: mod:workspace, mod:i18n, mod:env, mod:component, app:web, app:electron, tests, package:y-indexeddb

#1931 docs: update README.md
  README.md
Labels: docs

#1933 build: add log when coverage
  apps/web/next.config.mjs
Labels: app:web

#1940 fix: effect deps
  .eslintignore
  .eslintrc.js
  package.json
  packages/component/src/components/block-suite-editor/index.tsx
  packages/component/src/components/share-menu/SharePage.tsx
  packages/component/src/components/share-menu/disable-public-link/index.tsx
  packages/component/src/ui/tree-view/TreeNode.tsx
  packages/component/src/ui/tree-view/TreeView.tsx
  packages/hooks/src/use-blocksuite-workspace-avatar-url.ts
  packages/hooks/src/use-blocksuite-workspace-page-is-public.ts
  yarn.lock
Labels: mod:hooks, mod:component

#1943 chore: bump version
  apps/electron/yarn.lock
  apps/web/package.json
  apps/web/src/components/pure/workspace-list-modal/language-menu.tsx
  package.json
  packages/component/package.json
  packages/component/src/ui/menu/Menu.tsx
  packages/component/src/ui/popper/interface.ts
  packages/component/src/ui/tooltip/QuickSearch-tips.tsx
  packages/env/package.json
  packages/y-indexeddb/package.json
  yarn.lock
Labels: mod:env, mod:component, app:web, app:electron, package:y-indexeddb

#1946 chore: add translation
  packages/component/src/components/share-menu/SharePage.tsx
  packages/component/src/components/share-menu/ShareWorkspace.tsx
  packages/i18n/src/resources/en.json
Labels: mod:i18n, mod:component

#1944 fix: theme color
  packages/component/src/styles/theme.ts
  packages/component/src/styles/types.ts
Labels: mod:component

#1926 feat: add history back & forward for desktop app
  apps/electron/layers/main/src/main-window.ts
  apps/web/src/components/affine/pinboard/styles.ts
  apps/web/src/components/pure/quick-search-modal/navigation-path/index.tsx
  apps/web/src/components/pure/quick-search-modal/navigation-path/styles.ts
  apps/web/src/components/pure/quick-search-modal/navigation-path/utils.ts
  apps/web/src/components/pure/workspace-slider-bar/RouteNavigation.tsx
  apps/web/src/components/pure/workspace-slider-bar/index.tsx
  apps/web/src/components/pure/workspace-slider-bar/shared-styles.ts
  apps/web/src/components/pure/workspace-slider-bar/style.ts
  packages/component/src/ui/button/IconButton.tsx
Labels: mod:component, app:web, app:electron

#1953 test: fix flaky
  .github/workflows/build-master.yml
  .github/workflows/build.yml
  scripts/wait-3000-healthz.mjs
  tests/parallels/open-affine.spec.ts
Labels: test, mod:dev

#1954 fix: move suspense to the correct place
  apps/web/src/layouts/public-workspace-layout.tsx
  apps/web/src/pages/public-workspace/[workspaceId].tsx
Labels: app:web

#1951 refactor: remove NoSsr on top level
  apps/electron/yarn.lock
  apps/web/src/atoms/public-workspace/index.ts
  apps/web/src/components/__debug__/client/Editor.tsx
  apps/web/src/components/affine/workspace-setting-detail/panel/publish/index.tsx
  apps/web/src/components/page-detail-editor.tsx
  apps/web/src/hooks/affine/use-reference-link-effect.ts
  apps/web/src/hooks/affine/use-toggle-workspace-publish.ts
  apps/web/src/hooks/root/use-on-transform-workspace.ts
  apps/web/src/hooks/use-router-helper.ts
  apps/web/src/hooks/use-transform-workspace.ts
  apps/web/src/layouts/index.tsx
  apps/web/src/pages/_debug/init-page.dev.tsx
  apps/web/src/pages/public-workspace/[workspaceId]/[pageId].tsx
  apps/web/src/pages/workspace/[workspaceId]/[pageId].tsx
  packages/component/package.json
  packages/component/src/components/block-suite-editor/index.stories.tsx
  packages/component/src/components/block-suite-editor/index.tsx
  packages/jotai/package.json
  packages/jotai/src/resource.ts
  packages/workspace/package.json
  packages/workspace/src/affine/login.ts
  packages/workspace/src/utils.ts
  playwright.config.ts
  scripts/setup/lottie-web.ts
  tests/libs/playwright.ts
  vitest.config.ts
  yarn.lock
Labels: test, mod:workspace, mod:component, app:web, app:electron, mod:dev, mod:store

#1959 fix: fix windows build client error and release cannot open
  apps/electron/layers/main/src/app-state/index.ts
  apps/electron/layers/main/src/main-window.ts
Labels: app:electron

#1962 fix: force to use powershell on windows to fix zx script crash
  apps/electron/scripts/generate-assets.mjs
Labels: app:electron

#1961 fix: hydration error
  apps/web/package.json
  apps/web/src/components/affine/sidebar-switch/index.tsx
  apps/web/src/components/blocksuite/workspace-header/header.tsx
  apps/web/src/components/pure/workspace-slider-bar/index.tsx
  apps/web/src/hooks/use-sidebar-status.ts
  yarn.lock
Labels: app:web

#1967 test: mark public single page as fail
  tests/parallels/affine/affine-public-single-page.spec.ts
Labels: test

#1965 feat: support release windows installer with squirrel
  .github/workflows/release-desktop-app.yml
  apps/electron/forge.config.js
  apps/electron/layers/main/src/index.ts
  apps/electron/package.json
  apps/electron/yarn.lock
Labels: app:electron

#1970 chore: bump version
  apps/electron/package.json
  apps/electron/yarn.lock
  apps/web/package.json
  apps/web/src/pages/_app.tsx
  package.json
  packages/component/package.json
  packages/env/package.json
  packages/jotai/package.json
  packages/y-indexeddb/package.json
  yarn.lock
Labels: mod:env, mod:component, app:web, app:electron, package:y-indexeddb, mod:store

#1972 fix: first binary on y-indexeddb
  packages/y-indexeddb/src/__tests__/index.spec.ts
  packages/y-indexeddb/src/index.ts
  packages/y-indexeddb/src/shared.ts
  packages/y-indexeddb/src/utils.ts
Labels: test, package:y-indexeddb

#1955 refactor: remove null type in hooks
  apps/web/src/components/__tests__/WorkSpaceSliderBar.spec.tsx
  apps/web/src/components/affine/pinboard/pinboard-menu/index.tsx
  apps/web/src/components/affine/pinboard/pinboard-render/OperationButton.tsx
  apps/web/src/components/affine/pinboard/pinboard-render/index.tsx
  apps/web/src/components/affine/workspace-setting-detail/panel/general/delete/index.tsx
  apps/web/src/components/affine/workspace-setting-detail/panel/general/index.tsx
  apps/web/src/components/affine/workspace-setting-detail/panel/sync/index.tsx
  apps/web/src/components/blocksuite/block-suite-page-list/page-list/index.tsx
  apps/web/src/components/blocksuite/workspace-header/editor-mode-switch/index.tsx
  apps/web/src/components/blocksuite/workspace-header/header-right-items/EditorOptionMenu.tsx
  apps/web/src/components/blocksuite/workspace-header/header-right-items/TrashButtonGroup.tsx
  apps/web/src/components/blocksuite/workspace-header/index.tsx
  apps/web/src/components/page-detail-editor.tsx
  apps/web/src/components/pure/quick-search-modal/Footer.tsx
  apps/web/src/components/pure/quick-search-modal/PublishedResults.tsx
  apps/web/src/components/pure/quick-search-modal/Results.tsx
  apps/web/src/components/pure/quick-search-modal/navigation-path/index.tsx
  apps/web/src/components/pure/workspace-slider-bar/Pinboard.tsx
  apps/web/src/components/pure/workspace-slider-bar/WorkspaceSelector/WorkspaceSelector.tsx
  apps/web/src/components/pure/workspace-slider-bar/favorite/index.tsx
  apps/web/src/components/pure/workspace-slider-bar/index.tsx
  apps/web/src/hooks/__tests__/index.spec.tsx
  apps/web/src/hooks/affine/use-block-suite-meta-helper.ts
  apps/web/src/hooks/current/use-current-workspace.ts
  apps/web/src/hooks/use-pinboard-handler.ts
  apps/web/src/hooks/use-recent-views.ts
  apps/web/src/hooks/use-router-helper.ts
  apps/web/src/layouts/workspace-layout.tsx
  apps/web/src/pages/public-workspace/[workspaceId].tsx
  apps/web/src/pages/public-workspace/[workspaceId]/[pageId].tsx
  apps/web/src/pages/workspace/[workspaceId]/[pageId].tsx
  apps/web/src/pages/workspace/[workspaceId]/all.tsx
  packages/component/src/components/share-menu/ShareMenu.tsx
  packages/component/src/components/share-menu/SharePage.tsx
  packages/component/src/components/share-menu/disable-public-link/index.tsx
  packages/component/src/components/workspace-avatar/index.tsx
  packages/component/src/components/workspace-card/index.tsx
  packages/hooks/src/__tests__/index.spec.ts
  packages/hooks/src/__tests__/use-blocksuite-workspace-helper.spec.ts
  packages/hooks/src/use-block-suite-page-meta.ts
  packages/hooks/src/use-block-suite-workspace-avatar-url.ts
  packages/hooks/src/use-block-suite-workspace-helper.ts
  packages/hooks/src/use-block-suite-workspace-name.ts
  packages/hooks/src/use-block-suite-workspace-page-is-public.ts
  packages/hooks/src/use-block-suite-workspace-page-title.ts
  packages/hooks/src/use-block-suite-workspace-page.ts
  packages/workspace/src/providers/index.ts
  packages/workspace/src/type.ts
Labels: test, mod:workspace, mod:hooks, mod:component, app:web

#1973 chore: update change log link
  apps/web/src/components/pure/help-island/index.tsx
  apps/web/src/components/pure/workspace-slider-bar/changeLog/index.tsx
Labels: app:web

#1977 feat: modify empty text & style of favorite & pinboard
  apps/web/src/components/affine/pinboard/pinboard-render/EmptyItem.tsx
  apps/web/src/components/affine/pinboard/styles.ts
  apps/web/src/components/pure/workspace-slider-bar/favorite/empty-item.tsx
  apps/web/src/components/pure/workspace-slider-bar/favorite/favorite-list.tsx
  apps/web/src/components/pure/workspace-slider-bar/shared-styles.ts
  packages/i18n/src/resources/en.json
Labels: mod:i18n, app:web

#1981 fix: error style of sidebar
  apps/web/src/components/pure/workspace-slider-bar/style.ts
  packages/component/src/theme/global.css
Labels: mod:component, app:web

#1984 chore: fix typo
  docs/contributing/behind-the-code.md
Labels: docs

#1991 chore: remove absolete module-resolve
  .github/actions/setup-node/action.yml
  .gitignore
  scripts/module-resolve/ci.cjs
  scripts/module-resolve/module-resolve.tmpl.js
Labels: mod:dev

#1986 build: add canary build
  .github/workflows/release-desktop-app.yml
  apps/electron/forge.config.js
  apps/electron/layers/main/src/app-state/index.ts
  apps/electron/package.json
  apps/electron/resources/icons/icon_canary.icns
  apps/electron/resources/icons/icon_canary.ico
  apps/electron/scripts/generate-assets.mjs
  apps/electron/yarn.lock
Labels: app:electron

#1997 feat(server): init nestjs server
  .commitlintrc.json
  .eslintrc.js
  .husky/pre-commit
  apps/electron/package.json
  apps/electron/yarn.lock
  apps/server/.env.example
  apps/server/.gitignore
  apps/server/package.json
  apps/server/schema.prisma
  apps/server/src/app.ts
  apps/server/src/config/__tests__/config.spec.ts
  apps/server/src/config/def.ts
  apps/server/src/config/default.ts
  apps/server/src/config/env.ts
  apps/server/src/config/index.ts
  apps/server/src/graphql.module.ts
  apps/server/src/index.ts
  apps/server/src/modules/index.ts
  apps/server/src/modules/workspaces/index.ts
  apps/server/src/modules/workspaces/resolver.ts
  apps/server/src/prelude.ts
  apps/server/src/prisma/index.ts
  apps/server/src/prisma/service.ts
  apps/server/src/utils/types.ts
  apps/server/tsconfig.json
  package.json
  tsconfig.json
  yarn.lock
Labels: test, app:electron

#1990 build: remove unused config
  apps/web/README.md
  apps/web/preset.config.mjs
  apps/web/src/blocksuite/index.ts
  apps/web/src/components/pure/help-island/index.tsx
  apps/web/src/components/pure/workspace-slider-bar/index.tsx
  apps/web/src/layouts/workspace-layout.tsx
  packages/env/src/config.ts
  packages/workspace/src/providers/index.ts
  scripts/vitest/next-config-mock.ts
  tests/parallels/affine/affine-public-single-page.spec.ts
Labels: docs, test, mod:workspace, mod:env, app:web, mod:dev

#2000 test(server): migrate to node internal test
  .github/actions/setup-node/action.yml
  .github/workflows/build-master.yml
  .github/workflows/build.yml
  .github/workflows/release-desktop-app.yml
  apps/server/package.json
  apps/server/src/index.ts
  apps/server/src/modules/workspaces/resolver.ts
  apps/server/src/tests/config.spec.ts
  package.json
  tsconfig.json
  tsconfig.node.json
  vitest.config.ts
  yarn.lock
Labels: test, app:server

#2001 chore: add translation
  apps/web/src/components/pure/help-island/index.tsx
  apps/web/src/layouts/workspace-layout.tsx
  apps/web/src/pages/index.tsx
  apps/web/src/pages/workspace/[workspaceId]/[pageId].tsx
  packages/i18n/src/resources/en.json
Labels: mod:i18n, app:web

#2002 ci: collect server coverage report
  .github/workflows/build-master.yml
  .github/workflows/build.yml
  apps/server/package.json
  yarn.lock
Labels: app:server

#2010 chore: disable slider bar link item drag
  apps/web/src/components/pure/workspace-slider-bar/style.ts
Labels: app:web

#2006 feat: support disable legacy cloud
  apps/electron/scripts/generate-assets.mjs
  apps/web/.env.local.template
  apps/web/preset.config.mjs
  apps/web/src/atoms/root.ts
  apps/web/src/components/affine/workspace-setting-detail/panel/collaboration/index.tsx
  apps/web/src/components/affine/workspace-setting-detail/panel/publish/index.tsx
  apps/web/src/components/blocksuite/workspace-header/header-right-items/SyncUser.tsx
  apps/web/src/components/pure/footer/index.tsx
  apps/web/src/plugins/affine/index.tsx
  packages/env/src/config.ts
  scripts/vitest/next-config-mock.ts
Labels: mod:env, app:web, app:electron, mod:dev, mod:store

#2011 build: optimize release app workflow
  .github/workflows/release-desktop-app.yml
  apps/electron/forge.config.js
  apps/electron/layers/preload/src/index.ts
  apps/electron/package.json
  apps/electron/resources/icons/icon_canary.icns
  apps/electron/resources/icons/icon_canary.ico
  apps/electron/scripts/common.mjs
  apps/electron/scripts/update-electron-vendors.mjs
Labels: app:electron

#2041 chore: improve disable legacy cloud
  apps/web/src/components/affine/tmp-disable-affine-cloud-modal/index.tsx
  apps/web/src/components/affine/tmp-disable-affine-cloud-modal/style.ts
  apps/web/src/components/affine/workspace-setting-detail/panel/collaboration/index.tsx
  apps/web/src/components/affine/workspace-setting-detail/panel/publish/index.tsx
  apps/web/src/components/pure/workspace-slider-bar/index.tsx
Labels: app:web

#2042 docs: add more instruction for yarn
  .github/CLA.md
  README.md
  docs/BUILDING.md
Labels: docs

#2046 chore: update temp disable affine cloud modal style
  apps/web/src/components/affine/tmp-disable-affine-cloud-modal/index.tsx
  apps/web/src/components/affine/tmp-disable-affine-cloud-modal/style.ts
  packages/component/src/components/workspace-card/styles.ts
  packages/component/src/ui/empty/Empty.tsx
  packages/component/src/ui/empty/EmptySVG.tsx
  packages/component/src/ui/empty/style.ts
Labels: mod:component, app:web

#2045 feat: init affine blob storage
  apps/web/package.json
  apps/web/src/atoms/public-workspace/index.ts
  apps/web/src/components/__debug__/client/Editor.tsx
  apps/web/src/hooks/use-workspace-blob.ts
  apps/web/src/hooks/use-workspaces.ts
  apps/web/src/pages/_debug/broadcast.dev.tsx
  apps/web/src/plugins/affine/fetcher.ts
  apps/web/src/plugins/affine/index.tsx
  apps/web/src/plugins/local/index.tsx
  packages/component/package.json
  packages/component/src/components/block-suite-editor/index.stories.tsx
  packages/component/src/components/workspace-list/index.stories.tsx
  packages/component/src/stories/ShareMenu.stories.tsx
  packages/component/src/stories/WorkspaceAvatar.stories.tsx
  packages/env/package.json
  packages/hooks/src/use-block-suite-workspace-avatar-url.ts
  packages/jotai/package.json
  packages/workspace/package.json
  packages/workspace/src/affine/__tests__/api.spec.ts
  packages/workspace/src/affine/__tests__/sync.spec.ts
  packages/workspace/src/blob/index.ts
  packages/workspace/src/local/crud.ts
  packages/workspace/src/utils.ts
  packages/y-indexeddb/package.json
  yarn.lock
Labels: test, mod:workspace, mod:hooks, mod:env, mod:component, app:web, package:y-indexeddb, mod:store

#2034 feat: modify default avatar
  apps/web/src/components/affine/workspace-setting-detail/panel/general/style.ts
  packages/component/src/components/workspace-avatar/DefaultAvatar.tsx
  packages/component/src/components/workspace-avatar/index.css.ts
  packages/component/src/components/workspace-avatar/index.tsx
  tests/parallels/local-first-avatar.spec.ts
Labels: test, mod:component, app:web

#2049 chore: fix color
  apps/web/src/components/affine/pinboard/styles.ts
  apps/web/src/components/blocksuite/workspace-header/editor-mode-switch/style.ts
  apps/web/src/providers/ThemeProvider.tsx
  packages/component/src/ui/button/styles.ts
  packages/component/src/ui/toast/toast.ts
Labels: mod:component, app:web

#2054 chore: bump version
  apps/web/package.json
  packages/component/package.json
  packages/env/package.json
  packages/jotai/package.json
  packages/y-indexeddb/package.json
  yarn.lock
Labels: mod:env, mod:component, app:web, package:y-indexeddb, mod:store

#2055 fix: remove mui theme provider
  apps/web/src/components/affine/pinboard/pinboard-render/OperationButton.tsx
  apps/web/src/components/pure/footer/styles.ts
  apps/web/src/components/pure/workspace-list-modal/styles.ts
  apps/web/src/pages/_app.tsx
  apps/web/src/providers/ThemeProvider.tsx
  packages/component/.storybook/preview.tsx
  packages/component/src/components/affine-loading/index.tsx
  packages/component/src/components/workspace-card/styles.ts
  packages/component/src/theme/theme.css.ts
Labels: mod:component, app:web

#2028 feat: replace react-dnd to dnd-kit
  apps/web/src/components/__tests__/PinBoard.spec.tsx
  apps/web/src/components/affine/pinboard/styles.ts
  apps/web/src/components/pure/workspace-slider-bar/shared-styles.ts
  packages/component/package.json
  packages/component/src/ui/tree-view/TreeNode.tsx
  packages/component/src/ui/tree-view/TreeNodeInner.tsx
  packages/component/src/ui/tree-view/TreeView.tsx
  packages/component/src/ui/tree-view/hooks/useCollapsed.ts
  packages/component/src/ui/tree-view/hooks/useSelectWithKeyboard.ts
  packages/component/src/ui/tree-view/styles.ts
  packages/component/src/ui/tree-view/types.ts
  packages/component/src/ui/tree-view/utils.ts
  yarn.lock
Labels: test, mod:component, app:web

#2059 fix: color variable
  apps/web/src/components/blocksuite/workspace-header/header-right-items/theme-mode-switch/index.tsx
  packages/component/package.json
  packages/component/src/styles/theme.ts
  packages/component/src/theme/theme.css.ts
  yarn.lock
Labels: mod:component, app:web

#2060 fix: modify with new blocksuite version about subpage
  apps/web/package.json
  apps/web/src/atoms/public-workspace/index.ts
  apps/web/src/components/__tests__/PinBoard.spec.tsx
  apps/web/src/components/affine/pinboard/pinboard-menu/index.tsx
  apps/web/src/components/affine/pinboard/pinboard-render/AddButton.tsx
  apps/web/src/components/affine/pinboard/pinboard-render/OperationButton.tsx
  apps/web/src/components/affine/pinboard/pinboard-render/index.tsx
  apps/web/src/hooks/affine/use-block-suite-meta-helper.ts
  apps/web/src/hooks/affine/use-reference-link-helper.ts
  apps/web/src/hooks/use-pinboard-handler.ts
  apps/web/src/pages/workspace/[workspaceId]/[pageId].tsx
  packages/component/package.json
  packages/component/src/ui/tree-view/TreeView.tsx
  packages/env/package.json
  packages/hooks/src/use-block-suite-workspace-helper.ts
  packages/jotai/package.json
  packages/y-indexeddb/package.json
  yarn.lock
Labels: test, mod:hooks, mod:env, mod:component, app:web, package:y-indexeddb, mod:store

#2061 fix(web): remove edgeless mode padding
  packages/component/src/components/block-suite-editor/index.tsx
  packages/component/src/theme/global.css
  tests/parallels/change-page-mode.spec.ts
Labels: test, mod:component

#2037 feat: store local data to local db
  apps/electron/.yarnrc.yml
  apps/electron/forge.config.js
  apps/electron/layers/logger.ts
  apps/electron/layers/main/src/app-state/index.ts
  apps/electron/layers/main/src/context.ts
  apps/electron/layers/main/src/data/export.ts
  apps/electron/layers/main/src/data/sqlite.ts
  apps/electron/layers/main/src/data/workspace.ts
  apps/electron/layers/main/src/google-auth.ts
  apps/electron/layers/main/src/handlers.ts
  apps/electron/layers/main/src/index.ts
  apps/electron/layers/main/src/main-window.ts
  apps/electron/layers/preload/preload.d.ts
  apps/electron/layers/preload/src/index.ts
  apps/electron/package.json
  apps/electron/resources/icons/dmg-background.png
  apps/electron/resources/icons/dmg-background@2x.png
  apps/electron/scripts/common.mjs
  apps/electron/scripts/generate-assets.mjs
  apps/web/src/atoms/index.ts
  apps/web/src/components/affine/workspace-setting-detail/panel/export/index.tsx
  apps/web/src/components/affine/workspace-setting-detail/panel/general/index.tsx
  apps/web/src/components/blocksuite/workspace-header/header-right-items/theme-mode-switch/index.tsx
  apps/web/src/components/pure/workspace-slider-bar/index.tsx
  apps/web/src/hooks/use-sync-router-with-current-workspace-id.ts
  packages/i18n/src/resources/en.json
  packages/i18n/src/resources/zh-Hans.json
  packages/workspace/src/atom.ts
  packages/workspace/src/blob/sqlite-blob-storage.ts
  packages/workspace/src/local/crud.ts
  packages/workspace/src/providers/__tests__/sqlite-provider.spec.ts
  packages/workspace/src/providers/index.ts
  packages/workspace/src/type.ts
  packages/workspace/src/utils.ts
  yarn.lock
Labels: test, mod:workspace, mod:i18n, app:web, app:electron, mod:store

#2069 build: support beta build
  .github/workflows/release-desktop-app.yml
  apps/electron/forge.config.js
  apps/electron/resources/icons/icon_beta.icns
  apps/electron/resources/icons/icon_beta.ico
Labels: app:electron

#2063 docs: fix typo
  .github/CLA.md
  docs/CONTRIBUTING.md
Labels: docs

#2056 feat: center align button text
  packages/component/src/ui/button/styles.ts
Labels: mod:component

#2070 fix(workspace): check affine login auth
  apps/web/src/blocksuite/providers/affine/index.ts
  apps/web/src/hooks/affine/use-affine-refresh-auth-token.ts
  apps/web/src/hooks/use-sync-router-with-current-workspace-id.ts
  apps/web/src/layouts/workspace-layout.tsx
  apps/web/src/pages/index.tsx
  apps/web/src/plugins/affine/index.tsx
  packages/env/src/constant.ts
  packages/workspace/src/affine/api/index.ts
  packages/workspace/src/affine/channel.ts
  packages/workspace/src/utils.ts
  tests/libs/load-page.ts
  tests/libs/utils.ts
  tests/libs/workspace.ts
  tests/parallels/affine/affine-built-in-workspace.spec.ts
  tests/parallels/affine/affine-lost-auth.spec.ts
  tests/parallels/affine/affine-public-single-page.spec.ts
  tests/parallels/affine/affine-public-workspace.spec.ts
  tests/parallels/affine/affine-workspace.spec.ts
  tests/parallels/router.spec.ts
Labels: test, mod:workspace, mod:env, app:web

#2077 feat: add shared page empty tip
  apps/web/src/components/affine/sidebar-switch/index.tsx
  apps/web/src/components/blocksuite/block-suite-page-list/page-list/Empty.tsx
  apps/web/src/components/pure/workspace-slider-bar/index.tsx
  packages/i18n/src/resources/en.json
Labels: mod:i18n, app:web

#2086 refactor(y-indexeddb): move migrate function separate
  packages/y-indexeddb/src/index.ts
  packages/y-indexeddb/src/shared.ts
  packages/y-indexeddb/src/utils.ts
Labels: package:y-indexeddb

#2085 fix(y-indexeddb): alert user when write operation unfinished
  packages/y-indexeddb/src/__tests__/index.spec.ts
  packages/y-indexeddb/src/index.ts
Labels: test, package:y-indexeddb

#2087 chore: bump version
  apps/electron/package.json
  apps/server/package.json
  apps/web/package.json
  apps/web/src/components/affine/pinboard/pinboard-render/index.tsx
  apps/web/src/components/pure/icons/index.tsx
  package.json
  packages/component/package.json
  packages/component/src/components/workspace-card/index.tsx
  packages/env/package.json
  packages/i18n/package.json
  packages/jotai/package.json
  packages/octobase-node/package.json
  packages/workspace/package.json
  packages/y-indexeddb/package.json
  yarn.lock
Labels: mod:workspace, mod:i18n, mod:env, mod:component, app:web, app:electron, package:y-indexeddb, mod:store, app:server

#2088 build: fix electron build gain focus on reloading in dev
  apps/electron/layers/main/src/main-window.ts
  apps/electron/layers/main/src/protocol.ts
  apps/electron/layers/preload/src/index.ts
  apps/electron/package.json
  apps/electron/scripts/dev.mjs
Labels: app:electron

#2097 fix: closing modal sometimes covered by header
  apps/electron/layers/main/src/data/sqlite.ts
  packages/component/src/ui/modal/styles.ts
Labels: mod:component, app:electron

#2089 fix: some improvements to electron app
  .prettierignore
  apps/electron/README.md
  apps/electron/layers/main-events.ts
  apps/electron/layers/main/src/__tests__/.gitignore
  apps/electron/layers/main/src/__tests__/handlers.spec.ts
  apps/electron/layers/main/src/data/fs-watch.ts
  apps/electron/layers/main/src/data/sqlite.ts
  apps/electron/layers/main/src/handlers.ts
  apps/electron/layers/main/src/send-main-event.ts
  apps/electron/layers/preload/preload.d.ts
  apps/electron/layers/preload/src/affine-apis.ts
  apps/electron/layers/preload/src/index.ts
  apps/electron/package.json
  apps/electron/scripts/dev.mjs
  packages/workspace/src/providers/__tests__/sqlite-provider.spec.ts
  packages/workspace/src/providers/index.ts
  vitest.config.ts
  yarn.lock
Labels: docs, test, mod:workspace, app:electron

#2109 test: fix flaky in `customElements`
  apps/web/src/components/__tests__/WorkSpaceSliderBar.spec.tsx
  scripts/setup/lit.ts
  vitest.config.ts
Labels: test, app:web, mod:dev

#1840 test: support electron test
  .github/workflows/build.yml
  README.md
  apps/electron/layers/main/src/main-window.ts
  apps/electron/package.json
  apps/electron/playwright.config.ts
  apps/electron/scripts/build-ci.mts
  apps/electron/scripts/common.mjs
  apps/electron/scripts/dev.mjs
  apps/electron/scripts/generate-assets.mjs
  apps/electron/tests/basic.spec.ts
  apps/electron/tests/tsconfig.json
  apps/electron/tsconfig.json
  apps/electron/tsconfig.node.json
  apps/web/src/components/pure/workspace-slider-bar/changeLog/index.tsx
  apps/web/src/components/pure/workspace-slider-bar/index.tsx
  tsconfig.json
  vitest.config.ts
  yarn.lock
Labels: docs, test, app:web, app:electron, tests

#2111 chore: bump version
  apps/electron/package.json
  apps/server/package.json
  apps/web/package.json
  package.json
  packages/component/package.json
  packages/env/package.json
  packages/i18n/package.json
  packages/jotai/package.json
  packages/octobase-node/package.json
  packages/y-indexeddb/package.json
  yarn.lock
Labels: mod:i18n, mod:env, mod:component, app:web, app:electron, package:y-indexeddb, mod:store, app:server

#2014 feat(graphql): generate types from graphql files
  .commitlintrc.json
  .eslintrc.js
  apps/server/package.json
  apps/server/src/config/index.ts
  apps/web/package.json
  apps/web/src/shared/__tests__/gql.spec.tsx
  apps/web/src/shared/gql.ts
  packages/graphql/README.md
  packages/graphql/codegen.yml
  packages/graphql/export-gql-plugin.cjs
  packages/graphql/package.json
  packages/graphql/src/__tests__/fetcher.spec.ts
  packages/graphql/src/fetcher.ts
  packages/graphql/src/graphql/create-workspace.gql
  packages/graphql/src/graphql/index.ts
  packages/graphql/src/graphql/workspace.gql
  packages/graphql/src/index.ts
  packages/graphql/src/schema.ts
  packages/graphql/tsconfig.json
  tsconfig.json
  yarn.lock
Labels: docs, test, app:web, app:server

#2115 feat: improve build config
  apps/web/next.config.mjs
  apps/web/preset.config.mjs
  apps/web/src/atoms/public-workspace/index.ts
  apps/web/src/pages/public-workspace/[workspaceId].tsx
  apps/web/src/pages/workspace/[workspaceId]/[pageId].tsx
  packages/component/.storybook/main.ts
  packages/env/src/config.ts
  scripts/vitest/dotenv-config.ts
  scripts/vitest/next-config-mock.ts
Labels: mod:env, app:web, mod:dev, mod:store

#2118 chore: add changeLog to storybook
  apps/web/src/components/pure/workspace-slider-bar/changeLog/index.tsx
  apps/web/src/components/pure/workspace-slider-bar/shared-styles.ts
  packages/component/src/components/changeLog/index.css.ts
  packages/component/src/components/changeLog/index.tsx
  packages/component/src/stories/ChangeLog.stories.tsx
Labels: mod:component, app:web

#2120 fix(component): editor component style
  packages/component/.storybook/main.ts
  packages/component/src/components/block-suite-editor/index.stories.tsx
Labels: mod:component

#2124 fix: theme color
  apps/web/src/components/affine/workspace-setting-detail/panel/general/index.tsx
  apps/web/src/components/pure/help-island/style.ts
  packages/component/src/components/changeLog/index.css.ts
  packages/component/src/styles/theme.ts
  packages/component/src/ui/button/utils.ts
Labels: mod:component, app:web

#2146 chore: bump version
  apps/web/package.json
  apps/web/src/blocksuite/providers/index.ts
  packages/component/package.json
  packages/env/package.json
  packages/jotai/package.json
  packages/workspace/src/affine/__tests__/api.spec.ts
  packages/workspace/src/affine/__tests__/sync.spec.ts
  packages/workspace/src/providers/index.ts
  packages/y-indexeddb/package.json
  yarn.lock
Labels: test, mod:workspace, mod:env, mod:component, app:web, package:y-indexeddb, mod:store

#2149 chore: hide pinboard
  apps/web/src/components/affine/operation-menu-items/MoveTo.tsx
  apps/web/src/components/blocksuite/block-suite-page-list/page-list/OperationCell.tsx
  apps/web/src/components/blocksuite/workspace-header/header-right-items/EditorOptionMenu.tsx
  apps/web/src/components/pure/workspace-slider-bar/Pinboard.tsx
  apps/web/src/components/pure/workspace-slider-bar/index.tsx
  tests/libs/page-logic.ts
  tests/parallels/pin-board.spec.ts
  tests/parallels/quick-search.spec.ts
Labels: test, app:web

#2162 chore: bump version
  apps/web/package.json
  apps/web/src/components/affine/pinboard/pinboard-menu/index.tsx
  packages/component/package.json
  packages/component/src/ui/modal/Modal.tsx
  packages/component/src/ui/modal/styles.ts
  packages/component/src/ui/popper/Popper.tsx
  packages/component/src/ui/popper/PurePopper.tsx
  packages/component/src/ui/popper/interface.ts
  yarn.lock
Labels: mod:component, app:web

#2169 chore: update workspace setting button color
  packages/component/src/ui/button/utils.ts
Labels: mod:component

#2171 chore: update shadow and color
  apps/web/src/components/blocksuite/workspace-header/editor-mode-switch/style.ts
  apps/web/src/components/pure/footer/styles.ts
  apps/web/src/components/pure/workspace-list-modal/styles.ts
  packages/component/src/components/workspace-card/index.tsx
  packages/component/src/components/workspace-card/styles.ts
  packages/component/src/ui/menu/styles.ts
  packages/component/src/ui/modal/ModalWrapper.tsx
  packages/component/src/ui/toast/toast.ts
  packages/component/src/ui/tooltip/QuickSearch-tips.tsx
  packages/component/src/ui/tooltip/Tooltip.tsx
  packages/theme/src/index.ts
Labels: mod:component, app:web, mod:theme

#2170 chore: update menu background color
  apps/web/src/components/affine/operation-menu-items/Export.tsx
  apps/web/src/components/affine/operation-menu-items/MoveTo.tsx
  apps/web/src/components/affine/pinboard/pinboard-render/OperationButton.tsx
  apps/web/src/components/affine/workspace-setting-detail/panel/collaboration/index.tsx
  apps/web/src/components/blocksuite/block-suite-page-list/page-list/OperationCell.tsx
  apps/web/src/components/blocksuite/workspace-header/header-right-items/EditorOptionMenu.tsx
  apps/web/src/components/blocksuite/workspace-header/header-right-items/UserAvatar.tsx
  apps/web/src/components/pure/help-island/index.tsx
  apps/web/src/components/pure/help-island/style.ts
  apps/web/src/components/pure/shortcuts-modal/style.ts
  packages/component/src/components/share-menu/ShareMenu.tsx
  packages/component/src/ui/button/utils.ts
  packages/component/src/ui/menu/styles.ts
  packages/theme/src/index.ts
Labels: mod:component, app:web, mod:theme

#2135 feat(component): init app sidebar
  apps/web/src/atoms/first-load.ts
  apps/web/src/components/affine/sidebar-switch/index.tsx
  apps/web/src/components/blocksuite/workspace-header/header.tsx
  apps/web/src/components/blocksuite/workspace-header/styles.ts
  apps/web/src/components/pure/workspace-slider-bar/index.tsx
  apps/web/src/components/pure/workspace-slider-bar/style.ts
  apps/web/src/components/root-app-sidebar/index.tsx
  apps/web/src/hooks/use-sidebar-status.ts
  apps/web/src/layouts/styles.ts
  apps/web/src/layouts/workspace-layout.tsx
  packages/component/package.json
  packages/component/src/components/app-sidebar/index.css.ts
  packages/component/src/components/app-sidebar/index.jotai.ts
  packages/component/src/components/app-sidebar/index.stories.tsx
  packages/component/src/components/app-sidebar/index.tsx
  packages/component/src/components/app-sidebar/resize-indicator/index.css.ts
  packages/component/src/components/app-sidebar/resize-indicator/index.tsx
  packages/component/src/components/changeLog/index.css.ts
  packages/component/src/ui/button/styles.ts
  tests/parallels/layout.spec.ts
  tests/parallels/quick-search.spec.ts
  tests/parallels/subpage.spec.ts
  yarn.lock
Labels: test, mod:component, app:web, mod:store

#2178 chore: bump version
  apps/electron/package.json
  apps/server/package.json
  apps/web/package.json
  package.json
  packages/component/package.json
  packages/env/package.json
  packages/graphql/package.json
  packages/i18n/package.json
  packages/jotai/package.json
  packages/octobase-node/package.json
  packages/theme/package.json
  packages/workspace/package.json
  packages/y-indexeddb/package.json
  tests/kit/package.json
  yarn.lock
Labels: test, mod:workspace, mod:i18n, mod:env, mod:component, app:web, app:electron, package:y-indexeddb, mod:store, app:server, mod:theme

#2026 feat(server): port resolvers to node server
  apps/server/.env.example
  apps/server/migrations/20230418212743_init/migration.sql
  apps/server/migrations/20230425035217_init/migration.sql
  apps/server/package.json
  apps/server/schema.prisma
  apps/server/scripts/init-db.ts
  apps/server/src/app.ts
  apps/server/src/config/def.ts
  apps/server/src/config/default.ts
  apps/server/src/global.d.ts
  apps/server/src/modules/auth/guard.ts
  apps/server/src/modules/auth/index.ts
  apps/server/src/modules/auth/resolver.ts
  apps/server/src/modules/auth/service.ts
  apps/server/src/modules/index.ts
  apps/server/src/modules/users/resolver.ts
  apps/server/src/modules/workspaces/index.ts
  apps/server/src/modules/workspaces/permission.ts
  apps/server/src/modules/workspaces/resolver.ts
  apps/server/src/modules/workspaces/types.ts
  apps/server/src/prisma/index.ts
  apps/server/src/tests/app.e2e.ts
  apps/server/src/utils/nestjs.ts
  apps/server/tsconfig.node.json
  tsconfig.json
  yarn.lock
Labels: test, app:server

#2180 feat: init auth service
  apps/server/package.json
  apps/server/scripts/gen-auth-key.ts
  apps/server/scripts/run-test.ts
  apps/server/src/config/def.ts
  apps/server/src/config/default.ts
  apps/server/src/index.ts
  apps/server/src/modules/auth/resolver.ts
  apps/server/src/modules/auth/service.ts
  apps/server/src/tests/app.e2e.ts
  apps/server/src/tests/auth.spec.ts
  yarn.lock
Labels: test, app:server

#2183 chore: update menu placement
  apps/web/src/components/affine/operation-menu-items/Export.tsx
  apps/web/src/components/affine/operation-menu-items/MoveTo.tsx
  apps/web/src/components/affine/pinboard/pinboard-render/OperationButton.tsx
  apps/web/src/components/affine/workspace-setting-detail/panel/collaboration/index.tsx
  apps/web/src/components/blocksuite/block-suite-page-list/page-list/OperationCell.tsx
  apps/web/src/components/blocksuite/workspace-header/header-right-items/EditorOptionMenu.tsx
  apps/web/src/components/blocksuite/workspace-header/header-right-items/UserAvatar.tsx
  packages/component/src/components/share-menu/ShareMenu.tsx
Labels: mod:component, app:web

#2184 feat(electron): enable disable cloud alert
  apps/electron/tests/basic.spec.ts
  apps/web/src/atoms/index.ts
  apps/web/src/components/affine/tmp-disable-affine-cloud-modal/index.tsx
  apps/web/src/components/pure/footer/index.tsx
  apps/web/src/providers/ModalProvider.tsx
Labels: test, app:web, app:electron, mod:store

#2182 test(electron): theme check
  apps/electron/layers/main/src/main-window.ts
  apps/electron/tests/basic.spec.ts
  tests/kit/playwright.ts
  tests/libs/utils.ts
  tests/parallels/local-first-setting-page.spec.ts
  tests/parallels/theme.spec.ts
Labels: test, app:electron

#2186 fix: shadow theme
  packages/theme/src/index.ts
Labels: mod:theme

#2187 chore: bump version
  apps/server/package.json
  apps/web/package.json
  packages/component/package.json
  packages/env/package.json
  packages/jotai/package.json
  packages/y-indexeddb/package.json
  yarn.lock
Labels: mod:env, mod:component, app:web, package:y-indexeddb, mod:store, app:server

#2188 revert: lastVersionAtom atom
  apps/web/src/atoms/first-load.ts
  apps/web/src/hooks/__tests__/index.spec.tsx
  apps/web/src/hooks/use-is-first-load.ts
Labels: test, app:web, mod:store

#2025 feat: move theme switch and language switch to editor option menu
  apps/electron/tests/basic.spec.ts
  apps/web/src/components/blocksuite/workspace-header/header-right-items/EditorOptionMenu.tsx
  apps/web/src/components/blocksuite/workspace-header/header-right-items/LanguageMenu.tsx
  apps/web/src/components/blocksuite/workspace-header/header-right-items/theme-mode-switch/index.tsx
  apps/web/src/components/blocksuite/workspace-header/header-right-items/theme-mode-switch/style.ts
  apps/web/src/components/blocksuite/workspace-header/header.tsx
  apps/web/src/components/blocksuite/workspace-header/styles.ts
  apps/web/src/components/pure/workspace-list-modal/index.tsx
  apps/web/src/components/pure/workspace-list-modal/language-menu.tsx
  tests/parallels/change-page-mode.spec.ts
  tests/parallels/local-first-workspace.spec.ts
  tests/parallels/theme.spec.ts
Labels: test, app:web, app:electron

#2190 fix: remove shake in first render
  apps/web/src/components/root-app-sidebar/index.tsx
  packages/component/src/components/app-sidebar/index.jotai.ts
  packages/component/src/components/app-sidebar/index.tsx
Labels: mod:component, app:web

#2191 feat: add breakpoints
  packages/component/src/styles/mui-theme.ts
Labels: mod:component

#2193 revert: resize in app sidebar
  apps/web/src/components/root-app-sidebar/index.tsx
  packages/component/src/components/app-sidebar/index.jotai.ts
  packages/component/src/components/app-sidebar/index.tsx
Labels: mod:component, app:web

#2195 fix: sidebar regression
  apps/web/src/components/root-app-sidebar/index.tsx
  packages/component/src/components/app-sidebar/index.css.ts
  packages/component/src/components/app-sidebar/index.jotai.ts
  packages/component/src/components/app-sidebar/index.stories.tsx
  packages/component/src/components/app-sidebar/index.tsx
  packages/component/src/components/app-sidebar/resize-indicator/index.css.ts
  packages/component/src/components/app-sidebar/resize-indicator/index.tsx
  tests/parallels/quick-search.spec.ts
Labels: test, mod:component, app:web

#2199 fix(electron): remove disableHardwareAcceleration
  apps/electron/layers/main/src/index.ts
Labels: app:electron

#2202 fix: theme button width
  apps/web/src/components/blocksuite/workspace-header/header-right-items/theme-mode-switch/style.ts
  packages/component/src/ui/menu/styles.ts
Labels: mod:component, app:web
