Repository toeverything/AFFiNE, pull requests merged in 2024-07, with the labels that each got.

#7387 fix: ensure exact tag matching with enter key behavior refinement
  packages/frontend/core/src/components/affine/page-properties/tags-inline-editor.tsx
  packages/frontend/core/src/modules/tag/entities/tag-list.ts
Labels: app:core

#7392 feat(core): adjust orm api
  packages/common/infra/src/orm/affine/client.ts
  packages/common/infra/src/orm/affine/hooks.ts
  packages/common/infra/src/orm/affine/index.ts
  packages/common/infra/src/orm/affine/schema.ts
  packages/common/infra/src/orm/core/__tests__/entity.spec.ts
  packages/common/infra/src/orm/core/__tests__/hook.spec.ts
  packages/common/infra/src/orm/core/__tests__/schema.spec.ts
  packages/common/infra/src/orm/core/__tests__/sync.spec.ts
  packages/common/infra/src/orm/core/__tests__/yjs.spec.ts
  packages/common/infra/src/orm/core/adapters/memory/db.ts
  packages/common/infra/src/orm/core/adapters/types.ts
  packages/common/infra/src/orm/core/adapters/yjs/db.ts
  packages/common/infra/src/orm/core/client.ts
  packages/common/infra/src/orm/index.ts
Labels: mod:infra, test

#7396 feat(core): replace ai template
  packages/frontend/core/src/blocksuite/presets/ai/chat-panel/templates/freelyCommunicateWithAI.zip
Labels: app:core

#7372 feat: bump blocksuite
  packages/common/env/package.json
  packages/common/infra/package.json
  packages/frontend/component/package.json
  packages/frontend/core/package.json
  packages/frontend/core/src/blocksuite/presets/ai/_common/components/ask-ai-button.ts
  packages/frontend/core/src/components/affine/setting-modal/general-setting/experimental-features/index.tsx
  packages/frontend/electron/package.json
  tools/cli/package.json
  yarn.lock
Labels: mod:infra, mod:env, mod:component, app:electron, mod:dev, app:core

#7398 fix: cmd-k keybinding not show when editor input is active
  packages/frontend/core/src/commands/registry/command.ts
  packages/frontend/core/src/commands/registry/registry.ts
  packages/frontend/core/src/hooks/use-register-workspace-commands.ts
Labels: app:core

#7399 fix(infra): override saved blocksuite feature flag
  packages/common/infra/src/atom/settings.ts
Labels: mod:infra

#7166 feat: doc search infra
  packages/common/infra/package.json
  packages/common/infra/src/sync/indexer/README.md
  packages/common/infra/src/sync/indexer/__tests__/black-box.spec.ts
  packages/common/infra/src/sync/indexer/document.ts
  packages/common/infra/src/sync/indexer/field-type.ts
  packages/common/infra/src/sync/indexer/impl/indexeddb/__tests__/bm25.spec.ts
  packages/common/infra/src/sync/indexer/impl/indexeddb/__tests__/highlighter.spec.ts
  packages/common/infra/src/sync/indexer/impl/indexeddb/__tests__/tokenizer.spec.ts
  packages/common/infra/src/sync/indexer/impl/indexeddb/bm25.ts
  packages/common/infra/src/sync/indexer/impl/indexeddb/data-struct.ts
  packages/common/infra/src/sync/indexer/impl/indexeddb/highlighter.ts
  packages/common/infra/src/sync/indexer/impl/indexeddb/index.ts
  packages/common/infra/src/sync/indexer/impl/indexeddb/inverted-index.ts
  packages/common/infra/src/sync/indexer/impl/indexeddb/match.ts
  packages/common/infra/src/sync/indexer/impl/indexeddb/tokenizer.ts
  packages/common/infra/src/sync/indexer/impl/memory/data-struct.ts
  packages/common/infra/src/sync/indexer/impl/memory/index.ts
  packages/common/infra/src/sync/indexer/impl/memory/inverted-index.ts
  packages/common/infra/src/sync/indexer/impl/memory/match.ts
  packages/common/infra/src/sync/indexer/index.ts
  packages/common/infra/src/sync/indexer/indexer.ts
  packages/common/infra/src/sync/indexer/query.ts
  packages/common/infra/src/sync/indexer/schema.ts
  packages/common/infra/src/sync/indexer/searcher.ts
  packages/common/infra/src/utils/exhaustmap-with-trailing.ts
  yarn.lock
Labels: mod:infra, docs, mod:i18n, test, app:core

#7212 feat(infra): job system
  packages/common/infra/src/sync/job/README.md
  packages/common/infra/src/sync/job/__tests__/black-box.spec.ts
  packages/common/infra/src/sync/job/impl/indexeddb/index.ts
  packages/common/infra/src/sync/job/index.ts
  packages/common/infra/src/sync/job/queue.ts
  packages/common/infra/src/sync/job/runner.ts
  scripts/setup/polyfill.ts
  vitest.config.ts
Labels: mod:infra, docs, mod:dev, test

#7213 feat(core): docs search service
  packages/common/infra/src/modules/workspace/entities/engine.ts
  packages/common/infra/src/modules/workspace/events/index.ts
  packages/common/infra/src/modules/workspace/index.ts
  packages/common/infra/src/sync/doc/index.ts
  packages/common/infra/src/sync/index.ts
  packages/frontend/core/src/modules/docs-search/README.md
  packages/frontend/core/src/modules/docs-search/entities/docs-indexer.ts
  packages/frontend/core/src/modules/docs-search/index.ts
  packages/frontend/core/src/modules/docs-search/schema.ts
  packages/frontend/core/src/modules/docs-search/services/docs-search.ts
Labels: mod:infra, docs, app:core

#7295 feat(core): run indexer in worker
  packages/common/infra/package.json
  packages/common/infra/src/livedata/ops.ts
  packages/common/infra/src/sync/blob/blob.ts
  packages/common/infra/src/sync/doc/old-id.md
  packages/common/infra/src/sync/indexer/indexer.ts
  packages/common/infra/src/sync/job/impl/indexeddb/index.ts
  packages/common/infra/src/sync/job/runner.ts
  packages/frontend/core/src/modules/cloud/services/fetch.ts
  packages/frontend/core/src/modules/docs-search/entities/docs-indexer.ts
  packages/frontend/core/src/modules/docs-search/services/docs-search.ts
  packages/frontend/core/src/modules/docs-search/worker/in-worker.ts
  packages/frontend/core/src/modules/docs-search/worker/out-worker.ts
  packages/frontend/core/src/modules/docs-search/worker/types.ts
Labels: mod:infra, mod:env, app:core

#7378 feat(core): allow keyboard navigation in tags inline editor
  packages/frontend/core/src/components/affine/page-properties/tags-inline-editor.css.ts
  packages/frontend/core/src/components/affine/page-properties/tags-inline-editor.tsx
  packages/frontend/core/src/components/page-list/docs/page-tags.css.ts
  packages/frontend/core/src/components/page-list/docs/page-tags.tsx
  packages/frontend/core/src/modules/tag/entities/tag-list.ts
  tests/affine-local/e2e/page-properties.spec.ts
Labels: test, app:core

#7411 fix: copy share link to clipboard command display issue
  packages/frontend/core/src/commands/registry/command.ts
  packages/frontend/core/src/hooks/affine/use-register-copy-link-commands.tsx
  packages/frontend/core/src/modules/quicksearch/impls/commands.ts
Labels: app:core

#7413 fix: hide find in page command in cmdk
  packages/frontend/core/src/hooks/affine/use-register-find-in-page-commands.ts
Labels: app:core

#7408 feat(core): update blocksuite feature flag
  packages/frontend/core/src/components/affine/setting-modal/general-setting/experimental-features/index.tsx
Labels: app:core

#7412 fix: menu in peek view content not scrollable issue
  packages/frontend/core/src/modules/peek-view/view/modal-container.css.ts
  packages/frontend/core/src/modules/peek-view/view/modal-container.tsx
Labels: app:core

#7367 feat: fork session support
  packages/backend/server/migrations/20240625052649_add_fork_session/migration.sql
  packages/backend/server/schema.prisma
  packages/backend/server/src/fundamentals/error/def.ts
  packages/backend/server/src/fundamentals/error/errors.gen.ts
  packages/backend/server/src/plugins/copilot/resolver.ts
  packages/backend/server/src/plugins/copilot/session.ts
  packages/backend/server/src/plugins/copilot/types.ts
  packages/backend/server/src/schema.gql
  packages/backend/server/tests/copilot.spec.ts
  packages/frontend/graphql/src/graphql/fork-copilot-session.gql
  packages/frontend/graphql/src/graphql/index.ts
  packages/frontend/graphql/src/schema.ts
Labels: mod:component, app:server, test

#7410 fix: some regression issues on quick search refactor
  packages/frontend/core/src/components/blocksuite/block-suite-editor/specs/custom/spec-patchers.tsx
  packages/frontend/core/src/modules/quicksearch/impls/docs.ts
  packages/frontend/core/src/modules/quicksearch/impls/recent-docs.ts
  packages/frontend/core/src/modules/quicksearch/index.ts
  packages/frontend/core/src/modules/quicksearch/services/doc-display-meta.ts
  tests/affine-local/e2e/quick-search.spec.ts
Labels: test, app:core

#7414 feat: improve histories query for forked session
  packages/backend/server/src/plugins/copilot/resolver.ts
  packages/backend/server/src/plugins/copilot/session.ts
  packages/backend/server/tests/copilot.e2e.ts
  packages/backend/server/tests/utils/copilot.ts
  packages/backend/server/tests/utils/utils.ts
  packages/frontend/graphql/src/graphql/get-copilot-histories.gql
  packages/frontend/graphql/src/graphql/index.ts
  packages/frontend/graphql/src/schema.ts
Labels: app:server, test

#7415 fix: ai button should not display in readonly mode
  packages/frontend/core/src/blocksuite/presets/ai/entries/code-toolbar/setup-code-toolbar.ts
  packages/frontend/core/src/blocksuite/presets/ai/entries/image-toolbar/setup-image-toolbar.ts
Labels: app:core, merge

#7423 fix: switch style: remove border and shadow
  packages/frontend/component/src/ui/switch/index.css.ts
Labels: mod:component

#7417 chore(core): adjust ai onboarding dismiss logic, persist dialog and dismiss once closed
  packages/frontend/component/src/ui/modal/modal.tsx
  packages/frontend/core/src/components/affine/ai-onboarding/general.dialog.tsx
Labels: mod:component, app:core

#7422 fix: invalid date handling
  packages/frontend/i18n/src/utils/__tests__/time.spec.ts
  packages/frontend/i18n/src/utils/time.ts
Labels: mod:i18n, test

#7418 feat(core): run indexer in worker
  .github/helm/affine/templates/ingress.yaml
  packages/common/infra/package.json
  packages/common/infra/src/livedata/ops.ts
  packages/common/infra/src/sync/blob/blob.ts
  packages/common/infra/src/sync/doc/old-id.md
  packages/common/infra/src/sync/indexer/indexer.ts
  packages/common/infra/src/sync/job/impl/indexeddb/index.ts
  packages/common/infra/src/sync/job/runner.ts
  packages/frontend/core/src/modules/cloud/services/fetch.ts
  packages/frontend/core/src/modules/docs-search/entities/docs-indexer.ts
  packages/frontend/core/src/modules/docs-search/services/docs-search.ts
  packages/frontend/core/src/modules/docs-search/worker/in-worker.ts
  packages/frontend/core/src/modules/docs-search/worker/out-worker.ts
  packages/frontend/core/src/modules/docs-search/worker/types.ts
  tools/cli/src/webpack/config.ts
Labels: mod:infra, mod:dev, app:core

#7424 chore: bump blocksuite
  packages/common/env/package.json
  packages/common/infra/package.json
  packages/frontend/component/package.json
  packages/frontend/core/package.json
  packages/frontend/electron/package.json
  tools/cli/package.json
  yarn.lock
Labels: mod:infra, mod:env, mod:component, app:electron, mod:dev, app:core

#7425 chore: populate page prop for mixpanel
  packages/frontend/core/src/components/blocksuite/block-suite-editor/specs/custom/spec-patchers.tsx
  packages/frontend/core/src/components/blocksuite/block-suite-header/menu/index.tsx
  packages/frontend/core/src/components/page-list/operation-cell.tsx
  packages/frontend/core/src/components/pure/workspace-slider-bar/favorite/add-favourite-button.tsx
  packages/frontend/core/src/components/root-app-sidebar/import-page.tsx
  packages/frontend/core/src/components/root-app-sidebar/index.tsx
  packages/frontend/core/src/hooks/affine/use-register-blocksuite-editor-commands.tsx
  packages/frontend/core/src/modules/navigation/index.ts
  packages/frontend/core/src/modules/navigation/utils.ts
  packages/frontend/core/src/modules/telemetry/index.ts
  packages/frontend/core/src/modules/telemetry/services/telemetry.ts
Labels: app:core

#7435 fix(native): async fn compile error
  Cargo.lock
  package.json
  packages/backend/native/index.d.ts
  packages/frontend/electron-api/package.json
  packages/frontend/electron/package.json
  packages/frontend/native/index.d.ts
  tests/affine-cloud/package.json
  tests/affine-desktop-cloud/package.json
  tests/affine-desktop/package.json
  tests/affine-legacy/0.6.1-beta.1/package.json
  tests/affine-legacy/0.7.0-canary.18/package.json
  tests/affine-legacy/0.8.0-canary.7/package.json
  tests/affine-legacy/0.8.4/package.json
  tests/affine-local/package.json
  tests/affine-migration/package.json
  tests/kit/package.json
  yarn.lock
Labels: app:electron, test, rust, mod:native, mod:server-native

#7444 fix(core): use uint53 as yjs client id
  .yarn/patches/yjs-npm-13.6.18-ad0d5f7c43.patch
  packages/backend/native/package.json
  packages/backend/server/package.json
  packages/common/infra/package.json
  packages/frontend/component/package.json
  packages/frontend/core/package.json
  packages/frontend/electron/package.json
  tools/cli/src/webpack/config.ts
  yarn.lock
Labels: mod:infra, mod:component, app:electron, mod:dev, app:server, app:core, mod:server-native

#7405 feat(server): support lifetime subscription
  packages/backend/server/migrations/20240416042935_lifetime_subscription/migration.sql
  packages/backend/server/schema.prisma
  packages/backend/server/src/core/quota/schema.ts
  packages/backend/server/src/core/quota/service.ts
  packages/backend/server/src/core/quota/types.ts
  packages/backend/server/src/data/migrations/1719917815802-lifetime-pro-quota.ts
  packages/backend/server/src/fundamentals/error/def.ts
  packages/backend/server/src/fundamentals/error/errors.gen.ts
  packages/backend/server/src/plugins/payment/resolver.ts
  packages/backend/server/src/plugins/payment/service.ts
  packages/backend/server/src/plugins/payment/types.ts
  packages/backend/server/src/plugins/payment/webhook.ts
  packages/backend/server/src/schema.gql
  packages/backend/server/tests/payment/service.spec.ts
  packages/frontend/core/src/components/affine/setting-modal/general-setting/billing/index.tsx
  packages/frontend/graphql/src/schema.ts
  packages/frontend/i18n/src/resources/en.json
Labels: mod:i18n, app:server, test, app:core

#7443 feat(server): add lifetime plan flag
  packages/backend/server/src/plugins/payment/config.ts
  packages/backend/server/src/plugins/payment/service.ts
  packages/backend/server/tests/payment/service.spec.ts
Labels: app:server, test

#7445 feat: add prompt level config
  packages/backend/server/migrations/20240708034904_prompt_level_config/migration.sql
  packages/backend/server/schema.prisma
  packages/backend/server/src/data/migrations/utils/prompts.ts
  packages/backend/server/src/plugins/copilot/controller.ts
  packages/backend/server/src/plugins/copilot/prompt.ts
  packages/backend/server/src/plugins/copilot/providers/openai.ts
  packages/backend/server/src/plugins/copilot/resolver.ts
  packages/backend/server/src/plugins/copilot/session.ts
  packages/backend/server/src/plugins/copilot/types.ts
  packages/backend/server/src/schema.gql
  packages/backend/server/tests/copilot.spec.ts
  packages/backend/server/tests/utils/copilot.ts
Labels: app:server, test

#7446 feat: update ppt prompt
  packages/backend/server/src/data/migrations/1720413813993-update-prompts.ts
  packages/backend/server/src/data/migrations/utils/prompts.ts
  packages/backend/server/src/plugins/copilot/prompt.ts
  packages/backend/server/src/plugins/copilot/workflow/graph.ts
  packages/backend/server/tests/copilot.e2e.ts
  packages/backend/server/tests/copilot.spec.ts
Labels: app:server, test

#7431 feat(core): believer subscription UI
  packages/frontend/component/src/components/card/workspace-card/index.tsx
  packages/frontend/component/src/ui/avatar/avatar.stories.tsx
  packages/frontend/component/src/ui/avatar/avatar.tsx
  packages/frontend/component/src/ui/avatar/style.css.ts
  packages/frontend/core/src/atoms/index.ts
  packages/frontend/core/src/components/affine/auth/style.css.ts
  packages/frontend/core/src/components/affine/auth/user-plan-button.tsx
  packages/frontend/core/src/components/affine/page-history-modal/history-modal.tsx
  packages/frontend/core/src/components/affine/quota-reached-modal/cloud-quota-modal.tsx
  packages/frontend/core/src/components/affine/setting-modal/account-setting/index.tsx
  packages/frontend/core/src/components/affine/setting-modal/general-setting/billing/index.tsx
  packages/frontend/core/src/components/affine/setting-modal/general-setting/billing/style.css.ts
  packages/frontend/core/src/components/affine/setting-modal/general-setting/plans/ai/actions/subscribe.tsx
  packages/frontend/core/src/components/affine/setting-modal/general-setting/plans/ai/ai-plan.css.ts
  packages/frontend/core/src/components/affine/setting-modal/general-setting/plans/ai/ai-plan.tsx
  packages/frontend/core/src/components/affine/setting-modal/general-setting/plans/ai/benefits.tsx
  packages/frontend/core/src/components/affine/setting-modal/general-setting/plans/ai/layout.tsx
  packages/frontend/core/src/components/affine/setting-modal/general-setting/plans/cloud-plans.tsx
  packages/frontend/core/src/components/affine/setting-modal/general-setting/plans/index.tsx
  packages/frontend/core/src/components/affine/setting-modal/general-setting/plans/layout.css.ts
  packages/frontend/core/src/components/affine/setting-modal/general-setting/plans/layout.tsx
  packages/frontend/core/src/components/affine/setting-modal/general-setting/plans/lifetime/assets.ts
  packages/frontend/core/src/components/affine/setting-modal/general-setting/plans/lifetime/believer-card.css.ts
  packages/frontend/core/src/components/affine/setting-modal/general-setting/plans/lifetime/believer-card.tsx
  packages/frontend/core/src/components/affine/setting-modal/general-setting/plans/lifetime/benefits.css.ts
  packages/frontend/core/src/components/affine/setting-modal/general-setting/plans/lifetime/benefits.tsx
  packages/frontend/core/src/components/affine/setting-modal/general-setting/plans/lifetime/lifetime-plan.tsx
  packages/frontend/core/src/components/affine/setting-modal/general-setting/plans/lifetime/style.css.ts
  packages/frontend/core/src/components/affine/setting-modal/general-setting/plans/plan-card.tsx
  packages/frontend/core/src/components/affine/setting-modal/general-setting/plans/skeleton.tsx
  packages/frontend/core/src/components/affine/setting-modal/general-setting/plans/style.css.ts
  packages/frontend/core/src/components/affine/setting-modal/setting-sidebar/index.tsx
  packages/frontend/core/src/components/affine/setting-modal/workspace-setting/new-workspace-setting-detail/members.tsx
  packages/frontend/core/src/components/affine/setting-modal/workspace-setting/new-workspace-setting-detail/profile.tsx
  packages/frontend/core/src/components/blocksuite/block-suite-editor/ai/setup-provider.tsx
  packages/frontend/core/src/components/pure/workspace-slider-bar/user-with-workspace-list/user-account/index.css.ts
  packages/frontend/core/src/components/pure/workspace-slider-bar/workspace-card/index.tsx
  packages/frontend/core/src/modules/cloud/entities/subscription-prices.ts
  packages/frontend/core/src/modules/cloud/entities/subscription.ts
  packages/frontend/graphql/src/graphql/index.ts
  packages/frontend/graphql/src/graphql/prices.gql
  packages/frontend/graphql/src/schema.ts
  packages/frontend/i18n/src/resources/en.json
Labels: mod:i18n, mod:component, mod:store, app:core

#7453 chore: revert back electron to v30
  package.json
  packages/frontend/electron-api/package.json
  packages/frontend/electron/package.json
  yarn.lock
Labels: app:electron

#7447 feat(core): adjust search strategy
  packages/common/infra/src/sync/indexer/impl/indexeddb/inverted-index.ts
  packages/frontend/core/src/modules/quicksearch/impls/collections.ts
  packages/frontend/core/src/modules/quicksearch/impls/commands.ts
Labels: mod:infra, app:core

#7409 feat(core): add doc info modal
  packages/common/env/src/global.ts
  packages/frontend/core/src/atoms/index.ts
  packages/frontend/core/src/components/affine/page-properties/index.ts
  packages/frontend/core/src/components/affine/page-properties/info-modal/back-links-row.css.ts
  packages/frontend/core/src/components/affine/page-properties/info-modal/back-links-row.tsx
  packages/frontend/core/src/components/affine/page-properties/info-modal/info-modal.css.ts
  packages/frontend/core/src/components/affine/page-properties/info-modal/info-modal.tsx
  packages/frontend/core/src/components/affine/page-properties/info-modal/tags-row.css.ts
  packages/frontend/core/src/components/affine/page-properties/info-modal/tags-row.tsx
  packages/frontend/core/src/components/affine/page-properties/info-modal/time-row.css.ts
  packages/frontend/core/src/components/affine/page-properties/info-modal/time-row.tsx
  packages/frontend/core/src/components/affine/page-properties/styles.css.ts
  packages/frontend/core/src/components/affine/page-properties/table.tsx
  packages/frontend/core/src/components/affine/page-properties/tags-inline-editor.tsx
  packages/frontend/core/src/components/blocksuite/block-suite-header/info/index.tsx
  packages/frontend/core/src/components/blocksuite/block-suite-header/menu/index.tsx
  packages/frontend/core/src/components/blocksuite/block-suite-header/title/index.tsx
  packages/frontend/core/src/components/page-list/operation-cell.tsx
  packages/frontend/core/src/components/pure/workspace-slider-bar/components/operation-item.tsx
  packages/frontend/core/src/components/pure/workspace-slider-bar/components/operation-menu-button.tsx
  packages/frontend/core/src/hooks/affine/use-register-blocksuite-editor-commands.tsx
  packages/frontend/core/src/pages/workspace/detail-page/detail-page-header.css.ts
  packages/frontend/core/src/pages/workspace/detail-page/detail-page-header.tsx
  packages/frontend/i18n/src/resources/en.json
  tests/affine-local/e2e/doc-info-modal.spec.ts
  tests/affine-local/e2e/local-first-collections-items.spec.ts
  tools/cli/src/webpack/runtime-config.ts
Labels: mod:i18n, mod:env, mod:dev, mod:store, test, app:core

#7430 feat: bump bs
  packages/common/env/package.json
  packages/common/infra/package.json
  packages/frontend/component/package.json
  packages/frontend/core/package.json
  packages/frontend/electron/package.json
  tools/cli/package.json
  yarn.lock
Labels: mod:infra, mod:env, mod:component, app:electron, mod:dev, app:core

#7458 fix(core): impl ai-island animation via css transform
  packages/frontend/core/src/components/pure/ai-island/index.tsx
  packages/frontend/core/src/components/pure/ai-island/styles.css.ts
  packages/frontend/core/src/modules/right-sidebar/entities/right-sidebar.ts
Labels: app:core

#7464 feat: adapt workflow for ppt & minimap
  packages/backend/server/src/data/migrations/1720600411073-update-prompts.ts
  packages/backend/server/src/data/migrations/utils/prompts.ts
  packages/backend/server/src/fundamentals/error/def.ts
  packages/backend/server/src/plugins/copilot/workflow/graph.ts
  packages/backend/server/tests/copilot.e2e.ts
  packages/backend/server/tests/copilot.spec.ts
  packages/frontend/core/src/components/blocksuite/block-suite-editor/ai/copilot-client.ts
  packages/frontend/core/src/components/blocksuite/block-suite-editor/ai/prompt.ts
  packages/frontend/core/src/components/blocksuite/block-suite-editor/ai/request.ts
  packages/frontend/core/src/components/blocksuite/block-suite-editor/ai/setup-provider.tsx
Labels: app:server, test, app:core

#7454 chore: clean up runtime flags and envs
  .env.template
  .github/workflows/build-server-image.yml
  .github/workflows/deploy.yml
  packages/common/env/src/global.ts
  packages/frontend/component/.storybook/main.ts
  packages/frontend/core/src/atoms/index.ts
  packages/frontend/core/src/components/affine/create-workspace-modal/index.tsx
  packages/frontend/core/src/components/affine/history-tips-modal/index.tsx
  packages/frontend/core/src/components/affine/payment-disable/index.tsx
  packages/frontend/core/src/components/affine/payment-disable/style.css.ts
  packages/frontend/core/src/components/affine/setting-modal/general-setting/plans/plan-card.tsx
  packages/frontend/core/src/components/affine/setting-modal/setting-sidebar/index.tsx
  packages/frontend/core/src/components/affine/setting-modal/workspace-setting/new-workspace-setting-detail/enable-cloud.tsx
  packages/frontend/core/src/components/affine/tmp-disable-affine-cloud-modal/index.tsx
  packages/frontend/core/src/components/affine/tmp-disable-affine-cloud-modal/style.ts
  packages/frontend/core/src/components/blocksuite/block-suite-header/menu/index.tsx
  packages/frontend/core/src/components/pure/workspace-slider-bar/user-with-workspace-list/index.tsx
  packages/frontend/core/src/components/root-app-sidebar/index.tsx
  packages/frontend/core/src/components/root-app-sidebar/user-info.tsx
  packages/frontend/core/src/hooks/affine/use-enable-cloud.tsx
  packages/frontend/core/src/hooks/affine/use-register-blocksuite-editor-commands.tsx
  packages/frontend/core/src/providers/modal-provider.tsx
  packages/frontend/i18n/src/resources/en.json
  packages/frontend/i18n/src/resources/fr.json
  packages/frontend/i18n/src/resources/ko.json
  packages/frontend/i18n/src/resources/ru.json
  packages/frontend/i18n/src/resources/zh-Hans.json
  packages/frontend/web/project.json
  tools/cli/src/webpack/config.ts
  tools/cli/src/webpack/runtime-config.ts
Labels: mod:i18n, mod:env, mod:component, mod:dev, mod:store, app:core

#7468 fix: telemetry property names
  packages/frontend/core/src/components/blocksuite/block-suite-editor/specs/custom/spec-patchers.tsx
  packages/frontend/core/src/components/blocksuite/block-suite-header/menu/index.tsx
  packages/frontend/core/src/modules/telemetry/services/telemetry.ts
Labels: app:core

#7455 refactor(core): optimize abstraction of sidebar doc tree structure
  packages/frontend/core/src/components/pure/workspace-slider-bar/collections/collections-list.tsx
  packages/frontend/core/src/components/pure/workspace-slider-bar/collections/doc.tsx
  packages/frontend/core/src/components/pure/workspace-slider-bar/collections/index.tsx
  packages/frontend/core/src/components/pure/workspace-slider-bar/collections/styles.css.ts
  packages/frontend/core/src/components/pure/workspace-slider-bar/components/postfix-item.tsx
  packages/frontend/core/src/components/pure/workspace-slider-bar/components/reference-page.tsx
  packages/frontend/core/src/components/pure/workspace-slider-bar/doc-tree/doc.css.ts
  packages/frontend/core/src/components/pure/workspace-slider-bar/doc-tree/doc.tsx
  packages/frontend/core/src/components/pure/workspace-slider-bar/doc-tree/node.css.ts
  packages/frontend/core/src/components/pure/workspace-slider-bar/doc-tree/node.tsx
  packages/frontend/core/src/components/pure/workspace-slider-bar/favorite/favorite-list.tsx
  packages/frontend/core/src/components/pure/workspace-slider-bar/favorite/favourite-nav-item.tsx
  packages/frontend/core/src/components/pure/workspace-slider-bar/favorite/styles.css.ts
Labels: app:core

#7470 fix(infra): failed to get status when database not ready
  packages/common/infra/src/sync/job/impl/indexeddb/index.ts
Labels: mod:infra

#7480 hotfix: adapt new fal response
  packages/backend/server/src/plugins/copilot/providers/fal.ts
Labels: app:server

#7355 refactor(core): workbench
  packages/frontend/component/src/components/resize-panel/resize-panel.tsx
  packages/frontend/core/src/blocksuite/presets/ai/provider.ts
  packages/frontend/core/src/components/blocksuite/block-suite-header/menu/index.tsx
  packages/frontend/core/src/components/pure/ai-island/index.tsx
  packages/frontend/core/src/layouts/workspace-layout.tsx
  packages/frontend/core/src/modules/index.ts
  packages/frontend/core/src/modules/multi-tab-sidebar/index.ts
  packages/frontend/core/src/modules/multi-tab-sidebar/multi-tabs/sidebar-tab.ts
  packages/frontend/core/src/modules/multi-tab-sidebar/multi-tabs/sidebar-tabs.ts
  packages/frontend/core/src/modules/multi-tab-sidebar/view/body.css.ts
  packages/frontend/core/src/modules/multi-tab-sidebar/view/body.tsx
  packages/frontend/core/src/modules/multi-tab-sidebar/view/header-switcher.tsx
  packages/frontend/core/src/modules/right-sidebar/entities/right-sidebar-view.ts
  packages/frontend/core/src/modules/right-sidebar/entities/right-sidebar.ts
  packages/frontend/core/src/modules/right-sidebar/index.ts
  packages/frontend/core/src/modules/right-sidebar/services/right-sidebar.ts
  packages/frontend/core/src/modules/right-sidebar/view/container.tsx
  packages/frontend/core/src/modules/right-sidebar/view/view-island.tsx
  packages/frontend/core/src/modules/workbench/README.md
  packages/frontend/core/src/modules/workbench/entities/sidebar-tab.ts
  packages/frontend/core/src/modules/workbench/entities/view.ts
  packages/frontend/core/src/modules/workbench/entities/workbench.ts
  packages/frontend/core/src/modules/workbench/index.ts
  packages/frontend/core/src/modules/workbench/scopes/view.ts
  packages/frontend/core/src/modules/workbench/services/view.ts
  packages/frontend/core/src/modules/workbench/view/route-container.tsx
  packages/frontend/core/src/modules/workbench/view/sidebar/sidebar-container.css.ts
  packages/frontend/core/src/modules/workbench/view/sidebar/sidebar-container.tsx
  packages/frontend/core/src/modules/workbench/view/sidebar/sidebar-header-switcher.css.ts
  packages/frontend/core/src/modules/workbench/view/sidebar/sidebar-header-switcher.tsx
  packages/frontend/core/src/modules/workbench/view/sidebar/sidebar-header.css.ts
  packages/frontend/core/src/modules/workbench/view/sidebar/sidebar-header.tsx
  packages/frontend/core/src/modules/workbench/view/view-body-island.tsx
  packages/frontend/core/src/modules/workbench/view/view-header-island.tsx
  packages/frontend/core/src/modules/workbench/view/view-islands.tsx
  packages/frontend/core/src/modules/workbench/view/workbench-root.css.ts
  packages/frontend/core/src/modules/workbench/view/workbench-root.tsx
  packages/frontend/core/src/pages/workspace/all-collection/index.tsx
  packages/frontend/core/src/pages/workspace/all-page/all-page.tsx
  packages/frontend/core/src/pages/workspace/all-tag/index.tsx
  packages/frontend/core/src/pages/workspace/collection/index.tsx
  packages/frontend/core/src/pages/workspace/detail-page/detail-page-header.tsx
  packages/frontend/core/src/pages/workspace/detail-page/detail-page.tsx
  packages/frontend/core/src/pages/workspace/detail-page/tabs/chat.css.ts
  packages/frontend/core/src/pages/workspace/detail-page/tabs/chat.tsx
  packages/frontend/core/src/pages/workspace/detail-page/tabs/frame.css.ts
  packages/frontend/core/src/pages/workspace/detail-page/tabs/frame.tsx
  packages/frontend/core/src/pages/workspace/detail-page/tabs/journal.css.ts
  packages/frontend/core/src/pages/workspace/detail-page/tabs/journal.tsx
  packages/frontend/core/src/pages/workspace/detail-page/tabs/outline.css.ts
  packages/frontend/core/src/pages/workspace/detail-page/tabs/outline.tsx
  packages/frontend/core/src/pages/workspace/detail-page/use-header-responsive.ts
  packages/frontend/core/src/pages/workspace/index.tsx
  packages/frontend/core/src/pages/workspace/tag/index.tsx
  packages/frontend/core/src/pages/workspace/trash-page.tsx
Labels: docs, mod:component, app:core

#7475 feat(infra): improve orm
  packages/common/infra/src/orm/core/__tests__/entity.spec.ts
  packages/common/infra/src/orm/core/__tests__/hook.spec.ts
  packages/common/infra/src/orm/core/__tests__/schema.spec.ts
  packages/common/infra/src/orm/core/__tests__/sync.spec.ts
  packages/common/infra/src/orm/core/__tests__/yjs.spec.ts
  packages/common/infra/src/orm/core/adapters/memory/table.ts
  packages/common/infra/src/orm/core/adapters/mixins/hook.ts
  packages/common/infra/src/orm/core/adapters/types.ts
  packages/common/infra/src/orm/core/adapters/yjs/table.ts
  packages/common/infra/src/orm/core/client.ts
  packages/common/infra/src/orm/core/table.ts
  packages/common/infra/src/orm/core/types.ts
  packages/common/infra/src/orm/core/validators/yjs.ts
Labels: mod:infra, test

#7487 fix: increase image action time out
  packages/frontend/core/src/components/blocksuite/block-suite-editor/ai/setup-provider.tsx
Labels: app:core, merge

#7459 fix: switch to `file-type` v19.1.0
  packages/frontend/core/package.json
  packages/frontend/core/src/modules/peek-view/view/image-preview/index.tsx
  yarn.lock
Labels: app:core

#7491 refactor(infra): memento use undefined
  packages/common/infra/src/modules/workspace/impls/storage.ts
  packages/common/infra/src/storage/__tests__/memento.spec.ts
  packages/common/infra/src/storage/memento.ts
  packages/frontend/core/src/components/affine/reference-link/index.tsx
  packages/frontend/core/src/modules/storage/impls/storage.ts
Labels: mod:infra, test, app:core

#7492 feat(electron): shared storage
  packages/common/infra/src/storage/memento.ts
  packages/common/infra/src/sync/indexer/impl/indexeddb/index.ts
  packages/common/infra/src/sync/job/impl/indexeddb/index.ts
  packages/common/infra/src/utils/index.ts
  packages/frontend/core/src/modules/index.ts
  packages/frontend/core/src/modules/storage/impls/electron.ts
  packages/frontend/core/src/modules/storage/impls/local-storage.ts
  packages/frontend/core/src/modules/storage/index.ts
  packages/frontend/electron-api/src/index.ts
  packages/frontend/electron/renderer/app.tsx
  packages/frontend/electron/src/main/config-storage/handlers.ts
  packages/frontend/electron/src/main/config-storage/persist.ts
  packages/frontend/electron/src/main/events.ts
  packages/frontend/electron/src/main/handlers.ts
  packages/frontend/electron/src/main/shared-storage/events.ts
  packages/frontend/electron/src/main/shared-storage/handlers.ts
  packages/frontend/electron/src/main/shared-storage/index.ts
  packages/frontend/electron/src/main/shared-storage/json-file.ts
  packages/frontend/electron/src/main/shared-storage/storage.ts
  packages/frontend/electron/src/preload/bootstrap.ts
  packages/frontend/electron/src/preload/shared-storage.ts
  packages/frontend/web/src/app.tsx
Labels: mod:infra, app:electron, app:core

#7467 feat(component): new dnd api
  .eslintrc.js
  packages/frontend/component/package.json
  packages/frontend/component/src/ui/dnd/dnd.stories.tsx
  packages/frontend/component/src/ui/dnd/draggable.ts
  packages/frontend/component/src/ui/dnd/drop-indicator.css.ts
  packages/frontend/component/src/ui/dnd/drop-indicator.tsx
  packages/frontend/component/src/ui/dnd/drop-target.ts
  packages/frontend/component/src/ui/dnd/index.ts
  packages/frontend/component/src/ui/dnd/types.ts
  yarn.lock
Labels: mod:component

#7493 feat: add ping for event source
  packages/backend/server/src/plugins/copilot/controller.ts
Labels: app:server

#7500 chore: expose FrameworkEvent
  packages/common/infra/src/framework/core/index.ts
Labels: mod:infra

#7486 fix(core): share-button's label of shared page should be 'shared'
  packages/frontend/core/src/components/affine/share-page-modal/share-menu/share-menu.tsx
Labels: app:core

#7393 feat(core): adjust center peek animation
  packages/frontend/core/src/modules/peek-view/entities/peek-view.ts
  packages/frontend/core/src/modules/peek-view/services/peek-view.ts
  packages/frontend/core/src/modules/peek-view/view/image-preview/index.tsx
  packages/frontend/core/src/modules/peek-view/view/modal-container.css.ts
  packages/frontend/core/src/modules/peek-view/view/modal-container.tsx
  packages/frontend/core/src/modules/peek-view/view/peek-view-controls.tsx
  packages/frontend/core/src/modules/peek-view/view/peek-view-manager.tsx
Labels: app:core

#7489 chore: bump blocksuite
  packages/common/env/package.json
  packages/common/infra/package.json
  packages/frontend/component/package.json
  packages/frontend/core/package.json
  packages/frontend/core/src/blocksuite/presets/ai/chat-panel/actions/copy-more.ts
  packages/frontend/electron/package.json
  tests/affine-local/e2e/peek-view.spec.ts
  tests/kit/playwright.ts
  tools/cli/package.json
  yarn.lock
Labels: mod:infra, mod:env, mod:component, app:electron, mod:dev, test, app:core

#7507 fix: handle gql error correctly
  packages/frontend/core/src/providers/swr-config-provider.tsx
  packages/frontend/graphql/src/error.ts
  packages/frontend/graphql/src/fetcher.ts
Labels: app:core

#7514 chore(server): add mail metrics
  packages/backend/server/src/fundamentals/mailer/mail.service.ts
  packages/backend/server/src/fundamentals/metrics/metrics.ts
Labels: app:server

#7490 feat: add notification when chat panel action success
  packages/frontend/core/src/blocksuite/presets/ai/chat-panel/actions/actions-handle.ts
  packages/frontend/core/src/blocksuite/presets/ai/chat-panel/actions/copy-more.ts
  packages/frontend/core/src/blocksuite/presets/ai/chat-panel/chat-panel-messages.ts
  packages/frontend/core/src/blocksuite/presets/ai/chat-panel/index.ts
  packages/frontend/core/src/blocksuite/presets/ai/utils/editor-actions.ts
Labels: app:core, merge

#7521 fix(core): update pricing pages
  packages/frontend/core/src/components/affine/setting-modal/general-setting/plans/layout.tsx
  packages/frontend/core/src/components/affine/setting-modal/general-setting/plans/lifetime/benefits.tsx
  packages/frontend/core/src/components/affine/setting-modal/general-setting/plans/lifetime/lifetime-plan.tsx
  packages/frontend/core/src/components/affine/setting-modal/general-setting/plans/lifetime/style.css.ts
  packages/frontend/i18n/src/resources/en.json
Labels: mod:i18n, app:core

#6714 fix(server): wrong usage of optl
  packages/backend/server/package.json
  packages/backend/server/scripts/loader.js
  packages/backend/server/src/data/index.ts
  packages/backend/server/src/data/migrations/1703756315970-unamed-account.ts
  packages/backend/server/src/fundamentals/metrics/index.ts
  packages/backend/server/src/fundamentals/metrics/instrumentations.ts
  packages/backend/server/src/fundamentals/metrics/opentelemetry.ts
  packages/backend/server/src/index.ts
  tests/affine-cloud/playwright.config.ts
  tests/affine-desktop-cloud/playwright.config.ts
  yarn.lock
Labels: app:server, test

#7527 fix(core): resolve unexpected forwardRef warning
  packages/frontend/core/src/modules/workbench/view/view-islands.tsx
Labels: app:core

#7524 fix(core): right-sidebar header radio-group's indicator is missing
  packages/frontend/core/src/modules/workbench/view/sidebar/sidebar-header-switcher.tsx
Labels: app:core

#7523 fix(core): adjust app-sidebar z-index
  packages/frontend/core/src/components/app-sidebar/index.css.ts
Labels: app:core

#7526 feat: bump blocksuite
  packages/common/env/package.json
  packages/common/infra/package.json
  packages/frontend/component/package.json
  packages/frontend/core/package.json
  packages/frontend/core/src/components/blocksuite/block-suite-editor/specs/edgeless.ts
  packages/frontend/electron/package.json
  tests/affine-local/e2e/peek-view.spec.ts
  tests/affine-local/e2e/undo-empty.spec.ts
  tools/cli/package.json
  yarn.lock
Labels: mod:infra, mod:env, mod:component, app:electron, mod:dev, test, app:core

#7519 feat: allow sort and filter forked session
  packages/backend/server/src/plugins/copilot/resolver.ts
  packages/backend/server/src/plugins/copilot/session.ts
  packages/backend/server/src/plugins/copilot/types.ts
  packages/backend/server/src/schema.gql
  packages/backend/server/tests/copilot.e2e.ts
  packages/backend/server/tests/utils/copilot.ts
  packages/backend/server/tests/utils/utils.ts
  packages/frontend/graphql/src/graphql/get-copilot-history-ids.gql
  packages/frontend/graphql/src/graphql/index.ts
  packages/frontend/graphql/src/schema.ts
Labels: app:server, test

#7532 fix(core): workaround for center peek styles
  packages/frontend/core/src/modules/peek-view/view/peek-view-manager.tsx
Labels: app:core

#7531 fix(core): select page modal's list is not visiable
  packages/frontend/core/src/components/page-list/view/edit-collection/select-page.tsx
Labels: app:core

#7522 feat(core): subscribe changed notification and typeform link
  packages/frontend/core/src/components/affine/setting-modal/general-setting/billing/index.tsx
  packages/frontend/core/src/components/affine/setting-modal/general-setting/plans/actions.tsx
  packages/frontend/core/src/components/affine/setting-modal/general-setting/plans/ai/actions/cancel.tsx
  packages/frontend/core/src/components/affine/setting-modal/general-setting/plans/ai/actions/subscribe.tsx
  packages/frontend/core/src/components/affine/setting-modal/general-setting/plans/plan-card.tsx
  packages/frontend/core/src/components/affine/subscription-landing/index.tsx
  packages/frontend/core/src/components/affine/subscription-landing/notify.css.ts
  packages/frontend/core/src/components/affine/subscription-landing/notify.tsx
  packages/frontend/core/src/hooks/affine/use-subscription-notify.tsx
  packages/frontend/core/src/layouts/workspace-layout.tsx
  packages/frontend/core/src/pages/subscribe.tsx
  packages/frontend/i18n/src/resources/en.json
Labels: mod:i18n, app:core

#7466 fix(core): can not preview image in shared page
  packages/frontend/core/src/components/blocksuite/block-suite-editor/lit-adaper.tsx
  packages/frontend/core/src/components/blocksuite/block-suite-editor/specs/custom/spec-patchers.tsx
  packages/frontend/core/src/modules/peek-view/view/image-preview/index.tsx
  packages/frontend/core/src/pages/share/share-detail-page.tsx
  tests/affine-cloud/e2e/collaboration.spec.ts
  tests/affine-cloud/e2e/share-page.spec.ts
  tests/affine-cloud/playwright.config.ts
  tests/affine-local/e2e/image-preview.spec.ts
  tests/kit/utils/image.ts
Labels: test, app:core, merge

#7533 fix(core): remove useless logic of use favorite
  packages/frontend/core/src/components/blocksuite/block-suite-header/favorite/index.tsx
Labels: app:core

#7502 feat(infra): better orm
  packages/common/infra/src/orm/core/__tests__/yjs.spec.ts
  packages/common/infra/src/orm/core/adapters/yjs/table.ts
  packages/common/infra/src/orm/core/table.ts
  packages/common/infra/src/orm/core/validators/data.ts
Labels: mod:infra, test

#7543 fix: separate beta and stable assets
  tools/cli/src/webpack/config.ts
Labels: mod:dev

#7539 feat: improve workflow performance
  packages/frontend/core/src/components/blocksuite/block-suite-editor/ai/request.ts
Labels: app:core

#7550 fix: separate public domain for beta assets
  tools/cli/src/webpack/config.ts
Labels: mod:dev

#7548 feat(core): reuse select-page for edit collection pages-mode
  packages/frontend/core/src/components/page-list/view/edit-collection/edit-collection.tsx
  packages/frontend/core/src/components/page-list/view/edit-collection/pages-mode.tsx
  packages/frontend/core/src/components/page-list/view/edit-collection/select-page.tsx
Labels: app:core

#7546 chore: bump blocksuite
  packages/common/env/package.json
  packages/common/infra/package.json
  packages/frontend/component/package.json
  packages/frontend/core/package.json
  packages/frontend/core/src/blocksuite/presets/ai/_common/markdown-utils.ts
  packages/frontend/core/src/blocksuite/presets/ai/utils/markdown-utils.ts
  packages/frontend/core/src/layouts/workspace-layout.tsx
  packages/frontend/core/src/pages/workspace/index.tsx
  packages/frontend/electron/package.json
  tools/cli/package.json
  yarn.lock
Labels: mod:infra, mod:env, mod:component, app:electron, mod:dev, app:core

#7540 fix(core): bi-directional links responsive style
  packages/frontend/core/src/components/blocksuite/block-suite-editor/bi-directional-link-panel.css.ts
Labels: app:core

#7538 fix(core): cmdk unexpected highlighting style
  packages/frontend/core/src/modules/quicksearch/views/highlight-text.css.ts
Labels: app:core

#7552 fix: chat panel ai onboarding title wrap
  packages/frontend/core/src/blocksuite/presets/ai/chat-panel/chat-panel-messages.ts
Labels: app:core, merge

#7557 chore: bump blocksuite again
  packages/common/env/package.json
  packages/common/infra/package.json
  packages/frontend/component/package.json
  packages/frontend/core/package.json
  packages/frontend/electron/package.json
  tools/cli/package.json
  yarn.lock
Labels: mod:infra, mod:env, mod:component, app:electron, mod:dev, app:core

#7558 chore: bump blocksuite canary
  packages/common/env/package.json
  packages/common/infra/package.json
  packages/frontend/component/package.json
  packages/frontend/core/package.json
  packages/frontend/core/src/blocksuite/presets/ai/actions/edgeless-handler.ts
  packages/frontend/electron/package.json
  tools/cli/package.json
  yarn.lock
Labels: mod:infra, mod:env, mod:component, app:electron, mod:dev, app:core

#7465 fix(core): values in edit not saved when closing info modal
  packages/frontend/core/src/components/affine/page-properties/info-modal/info-modal.css.ts
  packages/frontend/core/src/components/affine/page-properties/info-modal/info-modal.tsx
Labels: app:core

#7474 feat(component): add animations to modal
  packages/frontend/component/src/ui/modal/modal.tsx
  packages/frontend/component/src/ui/modal/styles.css.ts
  packages/frontend/core/src/components/affine/auth/sign-in.tsx
  packages/frontend/core/src/components/affine/page-properties/info-modal/info-modal.css.ts
  packages/frontend/core/src/components/affine/page-properties/info-modal/info-modal.tsx
  packages/frontend/core/src/components/page-list/view/edit-collection/edit-collection.tsx
  packages/frontend/core/src/components/page-list/view/edit-collection/hooks.tsx
  packages/frontend/core/src/components/page-list/view/use-edit-collection.tsx
Labels: mod:component, app:core

#7567 chore: update name in one shot
  packages/backend/server/src/data/migrations/1721299086340-refresh-unnamed-user.ts
Labels: app:server

#7568 fix: forked session query condition
  packages/backend/server/src/plugins/copilot/session.ts
  packages/backend/server/tests/copilot.spec.ts
Labels: app:server, test

#7571 fix(core): correct believer plan copy
  packages/frontend/i18n/src/resources/en.json
Labels: mod:i18n

#7577 fix(server): should clean bill date if lifetime subscription
  packages/backend/server/src/plugins/payment/service.ts
Labels: app:server

#7569 feat(server): setup api for selfhost deployment
  packages/backend/server/src/app.module.ts
  packages/backend/server/src/core/auth/service.ts
  packages/backend/server/src/core/config/resolver.ts
  packages/backend/server/src/core/features/management.ts
  packages/backend/server/src/core/features/resolver.ts
  packages/backend/server/src/core/setup/controller.ts
  packages/backend/server/src/core/setup/index.ts
  packages/backend/server/src/core/user/resolver.ts
  packages/backend/server/src/core/user/service.ts
  packages/backend/server/src/core/user/types.ts
  packages/backend/server/src/core/workspaces/resolvers/workspace.ts
  packages/backend/server/src/data/migrations/99999-self-host-admin.ts
  packages/backend/server/src/fundamentals/config/runtime/service.ts
  packages/backend/server/src/fundamentals/error/def.ts
  packages/backend/server/src/fundamentals/error/errors.gen.ts
  packages/backend/server/src/fundamentals/mutex/mutex.ts
  packages/backend/server/src/schema.gql
  packages/backend/server/tests/config.spec.ts
  packages/backend/server/tests/doc.spec.ts
  packages/backend/server/tests/utils/user.ts
  packages/backend/server/tests/utils/utils.ts
Labels: app:server, test

#7576 fix(core): beliver plan should not show cancel subscription
  packages/frontend/core/src/components/affine/setting-modal/general-setting/billing/index.tsx
Labels: app:core

#7579 chore: bump blocksuite
  packages/common/env/package.json
  packages/common/infra/package.json
  packages/frontend/component/package.json
  packages/frontend/core/package.json
  packages/frontend/core/src/blocksuite/presets/ai/actions/edgeless-response.ts
  packages/frontend/core/src/blocksuite/presets/ai/ai-panel.ts
  packages/frontend/core/src/blocksuite/presets/ai/chat-panel/actions/actions-handle.ts
  packages/frontend/core/src/blocksuite/presets/ai/entries/code-toolbar/setup-code-toolbar.ts
  packages/frontend/core/src/blocksuite/presets/ai/entries/image-toolbar/setup-image-toolbar.ts
  packages/frontend/core/src/blocksuite/presets/ai/slides/template.ts
  packages/frontend/core/src/blocksuite/presets/ai/utils/edgeless.ts
  packages/frontend/core/src/blocksuite/presets/ai/utils/editor-actions.ts
  packages/frontend/core/src/components/blocksuite/block-suite-editor/blocksuite-editor-container.tsx
  packages/frontend/core/src/modules/peek-view/entities/peek-view.ts
  packages/frontend/core/src/modules/peek-view/view/doc-preview/doc-peek-view.tsx
  packages/frontend/core/src/modules/peek-view/view/peek-view-manager.tsx
  packages/frontend/electron/package.json
  tools/cli/package.json
  yarn.lock
Labels: mod:infra, mod:env, mod:component, app:electron, mod:dev, app:core

#7573 fix(core): remove hover state for ai-usage block in sidebar avtar menu
  packages/frontend/core/src/components/root-app-sidebar/index.css.ts
Labels: app:core

#7588 fix(component): button icon color
  packages/frontend/component/src/ui/button/button.tsx
Labels: mod:component

#7589 refactor(component): adjust confirm modal api
  packages/frontend/component/src/components/disable-public-link/index.tsx
  packages/frontend/component/src/components/member-components/invite-modal.tsx
  packages/frontend/component/src/components/member-components/member-limit-modal.tsx
  packages/frontend/component/src/ui/modal/confirm-modal.stories.tsx
  packages/frontend/component/src/ui/modal/confirm-modal.tsx
  packages/frontend/component/src/ui/modal/modal.stories.tsx
  packages/frontend/core/src/components/admin-panel/admin-panel-header.tsx
  packages/frontend/core/src/components/affine/auth/ai-login-required.tsx
  packages/frontend/core/src/components/affine/create-workspace-modal/index.tsx
  packages/frontend/core/src/components/affine/page-history-modal/history-modal.tsx
  packages/frontend/core/src/components/affine/page-properties/confirm-delete-property-modal.tsx
  packages/frontend/core/src/components/affine/quota-reached-modal/cloud-quota-modal.tsx
  packages/frontend/core/src/components/affine/quota-reached-modal/local-quota-modal.tsx
  packages/frontend/core/src/components/affine/setting-modal/general-setting/plans/ai/actions/cancel.tsx
  packages/frontend/core/src/components/affine/setting-modal/general-setting/plans/ai/actions/resume.tsx
  packages/frontend/core/src/components/affine/setting-modal/general-setting/plans/modals.tsx
  packages/frontend/core/src/components/affine/setting-modal/workspace-setting/new-workspace-setting-detail/delete-leave-workspace/delete/index.tsx
  packages/frontend/core/src/components/affine/setting-modal/workspace-setting/new-workspace-setting-detail/delete-leave-workspace/index.tsx
  packages/frontend/core/src/components/affine/sign-out-modal/index.tsx
  packages/frontend/core/src/components/blocksuite/block-suite-editor/specs/custom/spec-patchers.tsx
  packages/frontend/core/src/components/page-list/docs/page-list-header.tsx
  packages/frontend/core/src/components/page-list/operation-cell.tsx
  packages/frontend/core/src/components/page-list/operation-menu-items/move-to-trash.tsx
  packages/frontend/core/src/components/page-list/virtualized-trash-list.tsx
  packages/frontend/core/src/components/pure/trash-page-footer/index.tsx
  packages/frontend/core/src/components/pure/workspace-slider-bar/collections/collections-list.tsx
  packages/frontend/core/src/hooks/affine/use-enable-cloud.tsx
  packages/frontend/core/src/modules/tag/view/delete-tag-modal.tsx
Labels: mod:component, app:core

#7481 feat: support save chat to block
  packages/common/infra/package.json
  packages/common/infra/src/modules/workspace/global-schema.ts
  packages/frontend/core/src/blocksuite/presets/ai/_common/icons.ts
  packages/frontend/core/src/blocksuite/presets/ai/actions/edgeless-response.ts
  packages/frontend/core/src/blocksuite/presets/ai/actions/types.ts
  packages/frontend/core/src/blocksuite/presets/ai/chat-panel/actions/actions-handle.ts
  packages/frontend/core/src/blocksuite/presets/ai/chat-panel/actions/copy-more.ts
  packages/frontend/core/src/blocksuite/presets/ai/chat-panel/chat-context.ts
  packages/frontend/core/src/blocksuite/presets/ai/chat-panel/chat-panel-input.ts
  packages/frontend/core/src/blocksuite/presets/ai/chat-panel/chat-panel-messages.ts
  packages/frontend/core/src/blocksuite/presets/ai/chat-panel/index.ts
  packages/frontend/core/src/blocksuite/presets/ai/provider.ts
  packages/frontend/core/src/components/affine/setting-modal/general-setting/experimental-features/index.tsx
  packages/frontend/core/src/components/blocksuite/block-suite-editor/ai/copilot-client.ts
  packages/frontend/core/src/components/blocksuite/block-suite-editor/ai/request.ts
  packages/frontend/core/src/components/blocksuite/block-suite-editor/ai/setup-provider.tsx
  packages/frontend/core/src/components/blocksuite/block-suite-editor/specs/common.ts
  scripts/setup/vi-mock.ts
Labels: mod:infra, mod:dev, app:core, merge

#7592 fix(server): create dev user
  packages/backend/server/src/core/auth/service.ts
  packages/backend/server/src/core/user/service.ts
Labels: app:server

#7554 feat: custom the items of linked menu by configuration
  packages/frontend/core/src/components/blocksuite/block-suite-editor/lit-adaper.tsx
  packages/frontend/core/src/components/blocksuite/block-suite-editor/specs/custom/linked-widget.ts
  packages/frontend/core/src/components/blocksuite/block-suite-editor/specs/custom/root-block.ts
  packages/frontend/core/src/components/blocksuite/block-suite-editor/specs/edgeless.ts
  packages/frontend/core/src/components/blocksuite/block-suite-editor/specs/page.ts
Labels: mod:infra, mod:env, mod:component, app:electron, mod:dev, app:core

#7596 chore: custom telemetry endpoint
  packages/frontend/core/src/modules/telemetry/services/telemetry.ts
Labels: app:core

#7603 feat: bump blocksuite
  packages/common/env/package.json
  packages/common/infra/package.json
  packages/frontend/component/package.json
  packages/frontend/core/package.json
  packages/frontend/core/src/blocksuite/presets/ai/actions/edgeless-handler.ts
  packages/frontend/core/src/blocksuite/presets/ai/actions/edgeless-response.ts
  packages/frontend/core/src/blocksuite/presets/ai/actions/types.ts
  packages/frontend/core/src/blocksuite/presets/ai/entries/slash-menu/setup-slash-menu.ts
  packages/frontend/core/src/blocksuite/presets/ai/utils/edgeless.ts
  packages/frontend/core/src/blocksuite/presets/ai/utils/selection-utils.ts
  packages/frontend/core/src/bootstrap/preload.ts
  packages/frontend/core/src/bootstrap/register-blocksuite-components.ts
  packages/frontend/core/src/components/blocksuite/block-suite-editor/ai/tracker.ts
  packages/frontend/core/src/components/blocksuite/block-suite-editor/specs/custom/spec-patchers.tsx
  packages/frontend/core/src/components/page-detail-editor.tsx
  packages/frontend/core/src/hooks/use-register-workspace-commands.ts
  packages/frontend/core/src/modules/peek-view/view/doc-preview/doc-peek-view.tsx
  packages/frontend/core/src/pages/workspace/detail-page/detail-page.tsx
  packages/frontend/core/src/pages/workspace/detail-page/tabs/chat.tsx
  packages/frontend/electron/package.json
  packages/frontend/graphql/src/schema.ts
  tools/cli/package.json
  yarn.lock
Labels: mod:infra, mod:env, mod:component, app:electron, mod:dev, app:core, merge

#7560 refactor(core): use lit customelement decorator
  packages/frontend/component/src/lit-react/lit-portal/lite-portal.tsx
  packages/frontend/component/src/lit-react/to-react-node.ts
Labels: mod:component, app:core, merge

#7587 feat(core): bump theme
  packages/frontend/component/package.json
  packages/frontend/component/src/theme/global.css
  packages/frontend/component/src/theme/theme.css.ts
  packages/frontend/core/package.json
  yarn.lock
Labels: mod:component, app:core

#7599 fix(core): stuck when quick switch doc mode
  packages/frontend/core/src/pages/workspace/detail-page/detail-page.tsx
  tests/affine-local/e2e/change-page-mode.spec.ts
  tests/kit/utils/editor.ts
Labels: test, app:core

#7536 feat(core): adjust subscription related mixpanel
  packages/frontend/core/src/components/affine/setting-modal/account-setting/ai-usage-panel.tsx
  packages/frontend/core/src/components/affine/setting-modal/general-setting/billing/index.tsx
  packages/frontend/core/src/components/affine/setting-modal/general-setting/plans/actions.tsx
  packages/frontend/core/src/components/affine/setting-modal/general-setting/plans/ai/actions/cancel.tsx
  packages/frontend/core/src/components/affine/setting-modal/general-setting/plans/ai/actions/resume.tsx
  packages/frontend/core/src/components/affine/setting-modal/general-setting/plans/ai/ai-plan.tsx
  packages/frontend/core/src/components/affine/setting-modal/general-setting/plans/plan-card.tsx
  packages/frontend/core/src/hooks/affine/use-subscription-notify.tsx
  packages/frontend/core/src/mixpanel/index.ts
  packages/frontend/core/src/mixpanel/plan-change-started.ts
  packages/frontend/core/src/mixpanel/plan-change-succeed.ts
  packages/frontend/core/src/pages/subscribe.tsx
  packages/frontend/core/src/utils/mixpanel.ts
Labels: app:core

#7551 feat(infra): add ability to mount nodes to nearest FrameworkScope root
  packages/common/infra/src/framework/react/index.tsx
  packages/common/infra/src/framework/react/scope-root-components.tsx
  packages/frontend/core/src/components/page-list/view/edit-collection/hooks.tsx
  packages/frontend/core/src/components/page-list/view/edit-collection/rules-mode.tsx
Labels: mod:infra, app:core

#7572 fix(core): do not clip center-peek controls to make it appear more quickly
  packages/frontend/core/src/modules/peek-view/view/modal-container.css.ts
  packages/frontend/core/src/modules/peek-view/view/modal-container.tsx
Labels: app:core

#7585 feat(core): support lifetime subscription from external link
  packages/frontend/core/src/pages/subscribe.tsx
Labels: app:core

#7581 feat: migrate fal workflow to server
  packages/backend/server/src/data/migrations/1721814446774-update-prompts.ts
  packages/backend/server/src/data/migrations/utils/prompts.ts
  packages/backend/server/src/plugins/copilot/controller.ts
  packages/backend/server/src/plugins/copilot/prompt.ts
  packages/backend/server/src/plugins/copilot/providers/fal.ts
  packages/backend/server/src/plugins/copilot/providers/openai.ts
  packages/backend/server/src/plugins/copilot/types.ts
  packages/backend/server/src/plugins/copilot/workflow/executor/chat-image.ts
  packages/backend/server/src/plugins/copilot/workflow/executor/chat-text.ts
  packages/backend/server/src/plugins/copilot/workflow/executor/check-html.ts
  packages/backend/server/src/plugins/copilot/workflow/executor/check-json.ts
  packages/backend/server/src/plugins/copilot/workflow/executor/types.ts
  packages/backend/server/src/plugins/copilot/workflow/graph.ts
  packages/backend/server/src/plugins/copilot/workflow/graph/brainstorm.ts
  packages/backend/server/src/plugins/copilot/workflow/graph/image-filter.ts
  packages/backend/server/src/plugins/copilot/workflow/graph/index.ts
  packages/backend/server/src/plugins/copilot/workflow/graph/presentation.ts
  packages/backend/server/src/plugins/copilot/workflow/types.ts
  packages/backend/server/src/plugins/copilot/workflow/workflow.ts
  packages/backend/server/tests/copilot.spec.ts
  packages/frontend/core/src/components/blocksuite/block-suite-editor/ai/copilot-client.ts
  packages/frontend/core/src/components/blocksuite/block-suite-editor/ai/prompt.ts
  packages/frontend/core/src/components/blocksuite/block-suite-editor/ai/request.ts
  packages/frontend/core/src/components/blocksuite/block-suite-editor/ai/setup-provider.tsx
Labels: app:server, test, app:core

#7608 fix: journal doc title in at menu
  packages/frontend/core/src/components/affine/reference-link/index.tsx
  packages/frontend/core/src/components/blocksuite/block-suite-editor/specs/custom/linked-widget.ts
Labels: app:core

#7605 feat: refector prompt refresh
  packages/backend/server/src/data/migrations/1712068777394-prompts.ts
  packages/backend/server/src/data/migrations/1713185798895-refresh-prompt.ts
  packages/backend/server/src/data/migrations/1713522040090-update-prompt.ts
  packages/backend/server/src/data/migrations/1713777617122-update-prompts.ts
  packages/backend/server/src/data/migrations/1713864641056-update-prompt.ts
  packages/backend/server/src/data/migrations/1714021969665-update-prompts.ts
  packages/backend/server/src/data/migrations/1714386922280-update-prompts.ts
  packages/backend/server/src/data/migrations/1714454280973-update-prompts.ts
  packages/backend/server/src/data/migrations/1714982671938-update-prompts.ts
  packages/backend/server/src/data/migrations/1714992100105-update-prompts.ts
  packages/backend/server/src/data/migrations/1714998654392-update-prompts.ts
  packages/backend/server/src/data/migrations/1715149980782-add-make-it-real-with-text-prompt.ts
  packages/backend/server/src/data/migrations/1715672224087-update-prompts.ts
  packages/backend/server/src/data/migrations/1715936358947-update-prompts.ts
  packages/backend/server/src/data/migrations/1716451792364-update-prompts.ts
  packages/backend/server/src/data/migrations/1716800288136-update-prompts.ts
  packages/backend/server/src/data/migrations/1716882419364-update-prompts.ts
  packages/backend/server/src/data/migrations/1717139930406-update-prompts.ts
  packages/backend/server/src/data/migrations/1717140940966-update-prompts.ts
  packages/backend/server/src/data/migrations/1717490700326-update-prompts.ts
  packages/backend/server/src/data/migrations/1720413813993-update-prompts.ts
  packages/backend/server/src/data/migrations/1720600411073-update-prompts.ts
  packages/backend/server/src/data/migrations/1721814446774-update-prompts.ts
  packages/backend/server/src/plugins/copilot/prompt/chat-prompt.ts
  packages/backend/server/src/plugins/copilot/prompt/index.ts
  packages/backend/server/src/plugins/copilot/prompt/prompts.ts
  packages/backend/server/src/plugins/copilot/prompt/service.ts
  packages/backend/server/tests/copilot.e2e.ts
  packages/backend/server/tests/copilot.spec.ts
Labels: app:server, test

#7600 chore(component): add a danger hover style for buttons
  packages/frontend/component/src/ui/button/button.css.ts
  packages/frontend/core/src/modules/peek-view/view/image-preview/index.tsx
Labels: mod:component, app:core, merge

#7593 feat(core): add doc/collection/tag select hook
  packages/frontend/core/src/components/page-list/collections/index.ts
  packages/frontend/core/src/components/page-list/collections/select-collection.tsx
  packages/frontend/core/src/components/page-list/selector/index.ts
  packages/frontend/core/src/components/page-list/selector/selector-layout.css.ts
  packages/frontend/core/src/components/page-list/selector/selector-layout.tsx
  packages/frontend/core/src/components/page-list/selector/use-select-dialog.tsx
  packages/frontend/core/src/components/page-list/tags/index.ts
  packages/frontend/core/src/components/page-list/tags/select-tag.tsx
  packages/frontend/core/src/components/page-list/view/edit-collection/edit-collection.css.ts
  packages/frontend/core/src/components/page-list/view/edit-collection/edit-collection.tsx
  packages/frontend/core/src/components/page-list/view/edit-collection/hooks.tsx
  packages/frontend/core/src/components/page-list/view/edit-collection/rules-mode.tsx
  packages/frontend/core/src/components/page-list/view/edit-collection/select-page.tsx
  packages/frontend/i18n/src/resources/en.json
Labels: mod:i18n, app:core

#7612 fix: repeated slides
  packages/frontend/core/src/blocksuite/presets/ai/slides/template.ts
Labels: app:core

#7606 refactor(core): adjust modal animation
  .github/renovate.json
  packages/frontend/component/package.json
  packages/frontend/component/src/ui/editable/inline-edit.tsx
  packages/frontend/component/src/ui/input/input.tsx
  packages/frontend/component/src/ui/menu/menu.tsx
  packages/frontend/component/src/ui/modal/modal.tsx
  packages/frontend/component/src/ui/modal/styles.css.ts
  packages/frontend/core/src/components/affine/page-properties/menu-items.tsx
  packages/frontend/core/src/components/affine/page-properties/property-row-value-renderer.tsx
  packages/frontend/core/src/components/page-list/view/edit-collection/edit-collection.tsx
  packages/frontend/core/src/pages/index.tsx
  yarn.lock
Labels: mod:component, app:core

#7601 feat: support chatting in center peek
  packages/frontend/core/src/blocksuite/presets/ai/_common/chat-actions-handle.ts
  packages/frontend/core/src/blocksuite/presets/ai/_common/components/chat-action-list.ts
  packages/frontend/core/src/blocksuite/presets/ai/_common/components/copy-more.ts
  packages/frontend/core/src/blocksuite/presets/ai/actions/edgeless-handler.ts
  packages/frontend/core/src/blocksuite/presets/ai/actions/types.ts
  packages/frontend/core/src/blocksuite/presets/ai/ai-panel.ts
  packages/frontend/core/src/blocksuite/presets/ai/chat-panel/actions/actions-handle.ts
  packages/frontend/core/src/blocksuite/presets/ai/chat-panel/chat-panel-input.ts
  packages/frontend/core/src/blocksuite/presets/ai/chat-panel/chat-panel-messages.ts
  packages/frontend/core/src/blocksuite/presets/ai/chat-panel/index.ts
  packages/frontend/core/src/blocksuite/presets/ai/entries/edgeless/actions-config.ts
  packages/frontend/core/src/blocksuite/presets/ai/index.ts
  packages/frontend/core/src/blocksuite/presets/ai/messages/error.ts
  packages/frontend/core/src/blocksuite/presets/ai/peek-view/chat-block-input.ts
  packages/frontend/core/src/blocksuite/presets/ai/peek-view/chat-block-peek-view.ts
  packages/frontend/core/src/blocksuite/presets/ai/peek-view/date-time.ts
  packages/frontend/core/src/blocksuite/presets/ai/peek-view/styles.ts
  packages/frontend/core/src/blocksuite/presets/ai/peek-view/types.ts
  packages/frontend/core/src/blocksuite/presets/ai/provider.ts
  packages/frontend/core/src/blocksuite/presets/ai/utils/editor-actions.ts
  packages/frontend/core/src/blocksuite/presets/ai/utils/markdown-utils.ts
  packages/frontend/core/src/components/blocksuite/block-suite-editor/ai/request.ts
  packages/frontend/core/src/components/blocksuite/block-suite-editor/ai/setup-provider.tsx
  packages/frontend/core/src/components/blocksuite/block-suite-editor/ai/tracker.ts
  packages/frontend/core/src/modules/peek-view/entities/peek-view.ts
  packages/frontend/core/src/modules/peek-view/view/peek-view-manager.tsx
Labels: app:core, merge

#7629 fix(core): make indexer faster
  packages/frontend/core/src/modules/docs-search/entities/docs-indexer.ts
Labels: app:core

#7627 fix(core): sidebar node content should ellipsis when overflowed
  packages/frontend/core/src/modules/explorer/views/tree/node.css.ts
Labels: app:core

#7623 fix(core): adjust believer card dark mode style
  packages/frontend/core/src/components/affine/setting-modal/general-setting/plans/lifetime/assets.ts
  packages/frontend/core/src/components/affine/setting-modal/general-setting/plans/lifetime/believer-card.css.ts
Labels: app:core

#7631 feat(core): add doc/tag/collection to folders via menu
  packages/frontend/core/src/modules/explorer/views/nodes/folder/index.tsx
  packages/frontend/i18n/src/resources/en.json
Labels: mod:i18n, app:core

#7634 feat: bump blocksuite
  packages/common/env/package.json
  packages/common/infra/package.json
  packages/frontend/component/package.json
  packages/frontend/core/package.json
  packages/frontend/core/src/blocksuite/presets/ai/utils/image.ts
  packages/frontend/electron/package.json
  tests/affine-local/e2e/peek-view.spec.ts
  tests/affine-local/e2e/undo-empty.spec.ts
  tools/cli/package.json
  yarn.lock
Labels: mod:infra, mod:env, mod:component, app:electron, mod:dev, test, app:core, merge

#7637 feat: add event tracker for ai chat block
  packages/frontend/core/src/blocksuite/presets/ai/_common/chat-actions-handle.ts
  packages/frontend/core/src/blocksuite/presets/ai/peek-view/chat-block-peek-view.ts
Labels: app:core

#7630 feat(core): support sidebar collapse
  packages/frontend/core/src/components/app-sidebar/category-divider/index.css.ts
  packages/frontend/core/src/components/app-sidebar/category-divider/index.tsx
  packages/frontend/core/src/components/root-app-sidebar/index.tsx
  packages/frontend/core/src/modules/explorer/views/sections/collections/index.tsx
  packages/frontend/core/src/modules/explorer/views/sections/collections/styles.css.ts
  packages/frontend/core/src/modules/explorer/views/sections/favorites/index.tsx
  packages/frontend/core/src/modules/explorer/views/sections/favorites/styles.css.ts
  packages/frontend/core/src/modules/explorer/views/sections/migration-favorites/index.tsx
  packages/frontend/core/src/modules/explorer/views/sections/migration-favorites/styles.css.ts
  packages/frontend/core/src/modules/explorer/views/sections/old-favorites/index.tsx
  packages/frontend/core/src/modules/explorer/views/sections/old-favorites/styles.css.ts
  packages/frontend/core/src/modules/explorer/views/sections/organize/index.tsx
  packages/frontend/core/src/modules/explorer/views/sections/organize/styles.css.ts
  packages/frontend/core/src/modules/explorer/views/sections/tags/index.tsx
  packages/frontend/core/src/modules/explorer/views/sections/tags/styles.css.ts
  tests/affine-cloud/e2e/collaboration.spec.ts
  tests/affine-local/e2e/local-first-collections-items.spec.ts
Labels: test, app:core

#7632 fix(core): sidebar renaming bug
  packages/frontend/core/src/modules/explorer/views/nodes/folder/index.tsx
  packages/frontend/core/src/modules/explorer/views/sections/organize/index.tsx
  packages/frontend/core/src/modules/explorer/views/sections/tags/index.tsx
  packages/frontend/core/src/modules/explorer/views/tree/node.tsx
Labels: app:core

#7633 fix(core): optimize sidebar tag performance
  packages/frontend/core/src/modules/explorer/views/nodes/tag/index.tsx
  packages/frontend/core/src/modules/tag/entities/tag-list.ts
  packages/frontend/core/src/modules/tag/entities/tag.ts
Labels: app:core

#7614 feat(core): outline viewer (quick toc)
  packages/common/infra/src/atom/settings.ts
  packages/frontend/core/src/components/affine/setting-modal/general-setting/experimental-features/index.tsx
  packages/frontend/core/src/pages/workspace/detail-page/detail-page.tsx
  packages/frontend/core/src/pages/workspace/detail-page/outline-viewer.css.ts
  packages/frontend/core/src/pages/workspace/detail-page/outline-viewer.tsx
  packages/frontend/core/src/pages/workspace/detail-page/tabs/outline.tsx
  tests/affine-local/e2e/blocksuite/editor.spec.ts
Labels: mod:infra, test, app:core

#7635 test(electron): add test cases for electron tabs
  packages/frontend/core/src/modules/app-tabs-header/views/app-tabs-header.tsx
  packages/frontend/core/src/modules/workbench/view/split-view/indicator.tsx
  packages/frontend/electron/src/main/windows-manager/tab-views.ts
  tests/affine-desktop/e2e/basic.spec.ts
  tests/affine-desktop/e2e/behavior.spec.ts
  tests/affine-desktop/e2e/tabs.spec.ts
  tests/kit/electron.ts
  tests/kit/utils/ipc.ts
Labels: app:electron, test, app:core

#7636 chore(electron): remove unused ipc code
  packages/frontend/electron-api/src/index.ts
  packages/frontend/electron/src/preload/bootstrap.ts
  packages/frontend/electron/src/preload/electron-api.ts
  tests/affine-desktop/e2e/behavior.spec.ts
  tests/kit/utils/ipc.ts
Labels: app:electron, test

#7648 fix(core): wrong padding position when ai panel is active
  packages/frontend/core/src/components/blocksuite/block-suite-editor/styles.css.ts
Labels: app:core

#7650 fix(core): scrolling break client style in bordered container
  packages/frontend/core/src/components/workspace/index.css.ts
Labels: app:core

#7644 feat(server): runtime service config
  packages/backend/server/src/config/affine.env.ts
  packages/backend/server/src/core/config/index.ts
  packages/backend/server/src/core/config/resolver.ts
  packages/backend/server/src/fundamentals/prisma/config.ts
  packages/backend/server/src/fundamentals/prisma/index.ts
  packages/backend/server/src/fundamentals/prisma/service.ts
  packages/backend/server/src/schema.gql
  packages/frontend/graphql/src/schema.ts
Labels: app:server

#7647 fix(core): fix layout overflow
  packages/frontend/component/src/theme/global.css
  packages/frontend/core/src/components/blocksuite/block-suite-editor/styles.css.ts
Labels: mod:component, app:core

#7655 fix: remove shadow for bordered main container
  packages/frontend/core/src/components/workspace/index.css.ts
  packages/frontend/core/src/modules/workbench/view/split-view/split-view.css.ts
Labels: app:core

#7656 fix: icon color active style
  packages/frontend/core/src/modules/app-tabs-header/views/styles.css.ts
Labels: app:core

#7652 feat(core): improve mixpanel
  packages/frontend/core/src/commands/affine-navigation.tsx
  packages/frontend/core/src/components/affine/ai-onboarding/edgeless.dialog.tsx
  packages/frontend/core/src/components/affine/ai-onboarding/general.dialog.tsx
  packages/frontend/core/src/components/affine/auth/oauth.tsx
  packages/frontend/core/src/components/affine/auth/sign-in.tsx
  packages/frontend/core/src/components/affine/auth/user-plan-button.tsx
  packages/frontend/core/src/components/affine/create-workspace-modal/index.tsx
  packages/frontend/core/src/components/affine/page-history-modal/history-modal.tsx
  packages/frontend/core/src/components/affine/quota-reached-modal/cloud-quota-modal.tsx
  packages/frontend/core/src/components/affine/setting-modal/account-setting/ai-usage-panel.tsx
  packages/frontend/core/src/components/affine/setting-modal/account-setting/index.tsx
  packages/frontend/core/src/components/affine/setting-modal/general-setting/about/index.tsx
  packages/frontend/core/src/components/affine/setting-modal/general-setting/billing/index.tsx
  packages/frontend/core/src/components/affine/setting-modal/general-setting/plans/actions.tsx
  packages/frontend/core/src/components/affine/setting-modal/general-setting/plans/ai/actions/cancel.tsx
  packages/frontend/core/src/components/affine/setting-modal/general-setting/plans/ai/actions/resume.tsx
  packages/frontend/core/src/components/affine/setting-modal/general-setting/plans/ai/actions/subscribe.tsx
  packages/frontend/core/src/components/affine/setting-modal/general-setting/plans/plan-card.tsx
  packages/frontend/core/src/components/affine/setting-modal/setting-sidebar/index.tsx
  packages/frontend/core/src/components/affine/setting-modal/workspace-setting/new-workspace-setting-detail/members.tsx
  packages/frontend/core/src/components/affine/share-page-modal/share-menu/share-page.tsx
  packages/frontend/core/src/components/app-sidebar/app-download-button/index.tsx
  packages/frontend/core/src/components/blocksuite/block-suite-editor/ai/setup-provider.tsx
  packages/frontend/core/src/components/blocksuite/block-suite-editor/ai/tracker.ts
  packages/frontend/core/src/components/blocksuite/block-suite-editor/specs/custom/linked-widget.ts
  packages/frontend/core/src/components/blocksuite/block-suite-editor/specs/custom/root-block.ts
  packages/frontend/core/src/components/blocksuite/block-suite-editor/specs/custom/spec-patchers.tsx
  packages/frontend/core/src/components/blocksuite/block-suite-header/menu/index.tsx
  packages/frontend/core/src/components/blocksuite/block-suite-mode-switch/index.tsx
  packages/frontend/core/src/components/page-list/components/new-page-button.tsx
  packages/frontend/core/src/components/page-list/docs/page-list-header.tsx
  packages/frontend/core/src/components/page-list/operation-cell.tsx
  packages/frontend/core/src/components/pure/workspace-slider-bar/user-with-workspace-list/index.tsx
  packages/frontend/core/src/components/root-app-sidebar/import-page.tsx
  packages/frontend/core/src/components/root-app-sidebar/index.tsx
  packages/frontend/core/src/components/root-app-sidebar/user-info.tsx
  packages/frontend/core/src/components/workspace-selector/index.tsx
  packages/frontend/core/src/components/workspace-upgrade/upgrade.tsx
  packages/frontend/core/src/hooks/affine/use-export-page.ts
  packages/frontend/core/src/hooks/affine/use-register-blocksuite-editor-commands.tsx
  packages/frontend/core/src/hooks/affine/use-share-url.ts
  packages/frontend/core/src/hooks/affine/use-subscription-notify.tsx
  packages/frontend/core/src/hooks/use-app-updater.ts
  packages/frontend/core/src/mixpanel/events/index.ts
  packages/frontend/core/src/mixpanel/events/plan-change-started.ts
  packages/frontend/core/src/mixpanel/events/plan-change-succeed.ts
  packages/frontend/core/src/mixpanel/index.ts
  packages/frontend/core/src/mixpanel/mixpanel.d.ts
  packages/frontend/core/src/mixpanel/plan-change-started.ts
  packages/frontend/core/src/modules/explorer/views/nodes/doc/empty.tsx
  packages/frontend/core/src/modules/telemetry/services/telemetry.ts
  packages/frontend/core/src/modules/workbench/services/workbench.ts
  packages/frontend/core/src/pages/subscribe.tsx
  packages/frontend/core/src/pages/workspace/all-page/all-page-header.tsx
  packages/frontend/core/src/telemetry.tsx
  packages/frontend/core/src/utils/index.ts
  packages/frontend/core/src/utils/mixpanel.ts
  tests/kit/utils/page-logic.ts
Labels: test, app:core

#7659 feat(core): add track events for sidebar
  packages/frontend/core/src/modules/explorer/views/nodes/collection/index.tsx
  packages/frontend/core/src/modules/explorer/views/nodes/collection/operations.tsx
  packages/frontend/core/src/modules/explorer/views/nodes/doc/index.tsx
  packages/frontend/core/src/modules/explorer/views/nodes/doc/operations.tsx
  packages/frontend/core/src/modules/explorer/views/nodes/folder/index.tsx
  packages/frontend/core/src/modules/explorer/views/nodes/tag/index.tsx
  packages/frontend/core/src/modules/explorer/views/nodes/tag/operations.tsx
  packages/frontend/core/src/modules/explorer/views/sections/collections/index.tsx
  packages/frontend/core/src/modules/explorer/views/sections/favorites/index.tsx
  packages/frontend/core/src/modules/explorer/views/sections/migration-favorites/index.tsx
  packages/frontend/core/src/modules/explorer/views/sections/organize/index.tsx
  packages/frontend/core/src/modules/explorer/views/sections/tags/index.tsx
Labels: app:core

#7663 fix(electron): app flicker issue
  packages/frontend/core/src/components/root-app-sidebar/updater-button.tsx
Labels: app:core

#7662 chore: bump blocksuite 240730
  packages/common/env/package.json
  packages/common/infra/package.json
  packages/frontend/component/package.json
  packages/frontend/core/package.json
  packages/frontend/core/src/blocksuite/presets/ai/messages/text.ts
  packages/frontend/electron/package.json
  tools/cli/package.json
  yarn.lock
Labels: mod:infra, mod:env, mod:component, app:electron, mod:dev, app:core

#7626 chore(core): update sidebar all-docs icon
  packages/frontend/core/src/components/root-app-sidebar/index.tsx
Labels: app:core

#7653 fix(component): stop renaming modal propagation & input auto focus
  packages/frontend/component/src/components/rename-modal/index.tsx
  packages/frontend/component/src/ui/input/input.tsx
Labels: mod:component

#7654 fix(component): adjust renaming style
  packages/frontend/component/src/components/rename-modal/index.tsx
  packages/frontend/component/src/ui/input/style.css.ts
Labels: mod:component

#7657 fix(core): adjust sidebar explorer empty status
  packages/frontend/component/src/ui/button/styles.css.ts
  packages/frontend/core/src/modules/explorer/views/layouts/empty-layout.css.ts
  packages/frontend/core/src/modules/explorer/views/layouts/empty-layout.tsx
  packages/frontend/core/src/modules/explorer/views/nodes/folder/empty.css.ts
  packages/frontend/core/src/modules/explorer/views/nodes/folder/empty.tsx
  packages/frontend/core/src/modules/explorer/views/nodes/folder/index.tsx
  packages/frontend/core/src/modules/explorer/views/sections/collections/empty.css.ts
  packages/frontend/core/src/modules/explorer/views/sections/collections/empty.tsx
  packages/frontend/core/src/modules/explorer/views/sections/favorites/empty.css.ts
  packages/frontend/core/src/modules/explorer/views/sections/favorites/empty.tsx
  packages/frontend/core/src/modules/explorer/views/sections/organize/empty.tsx
  packages/frontend/core/src/modules/explorer/views/sections/tags/empty.css.ts
  packages/frontend/core/src/modules/explorer/views/sections/tags/empty.tsx
  packages/frontend/core/src/modules/explorer/views/sections/tags/index.tsx
  packages/frontend/i18n/src/resources/en.json
Labels: mod:i18n, mod:component, app:core

#7660 fix: ai chat block added later should be with higher index
  packages/frontend/core/src/blocksuite/presets/ai/_common/chat-actions-handle.ts
  packages/frontend/core/src/blocksuite/presets/ai/peek-view/chat-block-peek-view.ts
Labels: app:core

#7673 fix: cannot clean chat panel histories
  packages/frontend/core/src/blocksuite/presets/ai/chat-panel/index.ts
Labels: app:core

#7665 fix: tab label overflow style when there is only one tab
  packages/frontend/core/src/modules/app-tabs-header/views/app-tabs-header.tsx
  packages/frontend/core/src/modules/app-tabs-header/views/styles.css.ts
Labels: app:core

#7666 fix: using width atom for syncing app headers position
  packages/frontend/core/src/layouts/styles.css.ts
  packages/frontend/core/src/layouts/workspace-layout.tsx
  packages/frontend/core/src/modules/app-tabs-header/views/app-tabs-header.tsx
  packages/frontend/core/src/modules/app-tabs-header/views/styles.css.ts
  packages/frontend/core/src/pages/404.tsx
  packages/frontend/core/src/pages/index.tsx
  packages/frontend/electron/renderer/shell/index.tsx
  packages/frontend/electron/renderer/shell/shell.css.ts
  packages/frontend/electron/renderer/shell/shell.tsx
  packages/frontend/electron/src/main/ui/events.ts
  packages/frontend/electron/src/main/ui/handlers.ts
  packages/frontend/electron/src/main/windows-manager/tab-views.ts
Labels: app:electron, app:core

#7671 fix(electron): window theme issue after exiting presentation
  packages/frontend/electron/src/main/windows-manager/main-window.ts
Labels: app:electron

#7676 fix: wrong public path for stable env
  tools/cli/src/webpack/config.ts
Labels: mod:dev

#7674 chore(server): standardize server db names and columns
  packages/backend/server/migrations/20240731043837_standardize_table_columns/migration.sql
  packages/backend/server/schema.prisma
  packages/backend/server/src/core/features/feature.ts
  packages/backend/server/src/core/features/service.ts
  packages/backend/server/src/core/quota/quota.ts
  packages/backend/server/src/core/quota/service.ts
  packages/backend/server/src/data/migrations/1698652531198-user-features-init.ts
  packages/backend/server/src/data/migrations/1699005339766-page-permission.ts
  packages/backend/server/src/data/migrations/1702620653283-old-user-feature.ts
  packages/backend/server/src/data/migrations/1703828796699-workspace-blobs.ts
  packages/backend/server/src/data/migrations/1710319359062-oauth.ts
  packages/backend/server/src/data/migrations/utils/user-features.ts
  packages/backend/server/src/data/migrations/utils/user-quotas.ts
  packages/backend/server/src/plugins/payment/service.ts
  tests/kit/utils/cloud.ts
Labels: app:server, test

#7658 fix: make chat button click event work fine
  packages/frontend/core/src/blocksuite/presets/ai/chat-panel/chat-panel-input.ts
  packages/frontend/core/src/blocksuite/presets/ai/chat-panel/index.ts
  packages/frontend/core/src/blocksuite/presets/ai/peek-view/chat-block-input.ts
  packages/frontend/core/src/blocksuite/presets/ai/peek-view/styles.ts
  packages/frontend/core/src/components/pure/ai-island/index.tsx
  packages/frontend/core/src/components/pure/ai-island/styles.css.ts
  packages/frontend/core/src/components/workspace/index.tsx
Labels: app:core

#7680 chore: bump blocksuite
  packages/common/env/package.json
  packages/common/infra/package.json
  packages/frontend/component/package.json
  packages/frontend/core/package.json
  packages/frontend/electron/package.json
  tests/affine-local/e2e/blocksuite/editor.spec.ts
  tools/cli/package.json
  yarn.lock
Labels: mod:infra, mod:env, mod:component, app:electron, mod:dev, test, app:core
