Repository toeverything/AFFiNE, pull requests merged in 2024-04, with the labels that each got.

#6398 fix(core): edit button missing in shared page
  packages/frontend/core/src/components/cloud/share-header-right-item/authenticated-item.tsx
Labels: app:server, app:core

#6427 fix: onboarding app should also setup app storage config
  packages/frontend/electron/renderer/index.tsx
Labels: app:electron

#6277 feat(core): compatible with multiple subscriptions
  packages/frontend/core/src/components/affine/auth/subscription-redirect.tsx
  packages/frontend/core/src/hooks/use-subscription.ts
  packages/frontend/graphql/src/graphql/index.ts
  packages/frontend/graphql/src/graphql/subscription.gql
  packages/frontend/graphql/src/schema.ts
Labels: app:core

#6400 feat(core): add cloud usage in sidebar avatar menu
  packages/frontend/component/src/components/setting-components/index.tsx
  packages/frontend/component/src/components/setting-components/share.css.ts
  packages/frontend/core/src/components/affine/setting-modal/account-setting/index.tsx
  packages/frontend/core/src/components/affine/setting-modal/account-setting/storage-progress.css.ts
  packages/frontend/core/src/components/affine/setting-modal/account-setting/storage-progress.tsx
  packages/frontend/core/src/components/root-app-sidebar/index.css.ts
  packages/frontend/core/src/components/root-app-sidebar/user-info.tsx
  packages/frontend/core/src/hooks/affine/use-cloud-storage-usage.ts
Labels: mod:component, app:core

#6422 fix(electron): fix build script
  .github/workflows/build-test.yml
  packages/frontend/electron/scripts/generate-assets.ts
  tools/cli/src/bin/build.ts
Labels: app:electron, mod:dev

#6423 feat(core): add new doc button to collection page
  packages/frontend/core/src/components/page-list/collections/collection-list-header.css.ts
  packages/frontend/core/src/components/page-list/components/new-page-button.tsx
  packages/frontend/core/src/components/page-list/docs/page-list-header.css.ts
  packages/frontend/core/src/components/page-list/docs/page-list-header.tsx
  packages/frontend/core/src/components/page-list/docs/page-list-item.css.ts
  packages/frontend/core/src/components/page-list/docs/page-list-new-page-button.tsx
  packages/frontend/core/src/components/page-list/tags/tag-list-header.css.ts
  packages/frontend/core/src/components/page-list/view/save-as-collection-button.css.ts
  packages/frontend/core/src/components/page-list/view/save-as-collection-button.tsx
  packages/frontend/core/src/components/pure/workspace-slider-bar/collections/styles.css.ts
  packages/frontend/core/src/pages/workspace/all-page/all-page-header.tsx
  packages/frontend/i18n/src/resources/zh-Hans.json
Labels: mod:i18n, app:core

#6433 fix(core): unexpected editable state after trash page refresh
  packages/frontend/core/src/pages/workspace/detail-page/detail-page.tsx
Labels: app:core

#6418 fix: broken links in README.md
  README.md
Labels: docs

#6426 fix(core): selfhost redirect url
  packages/frontend/core/src/utils/cloud-utils.tsx
Labels: app:core

#6416 refactor(component): new notification center implemented with sonner
  packages/frontend/component/package.json
  packages/frontend/component/src/index.ts
  packages/frontend/component/src/ui/notification/index.ts
  packages/frontend/component/src/ui/notification/notification-card.tsx
  packages/frontend/component/src/ui/notification/notification-center.stories.tsx
  packages/frontend/component/src/ui/notification/notification-center.tsx
  packages/frontend/component/src/ui/notification/styles.css.ts
  packages/frontend/component/src/ui/notification/types.ts
  packages/frontend/component/src/ui/notification/utils.ts
  yarn.lock
Labels: mod:component

#6417 refactor(core): replace all notification relies on jotai
  packages/frontend/component/src/components/auth-components/change-password-page.tsx
  packages/frontend/component/src/components/auth-components/set-password-page.tsx
  packages/frontend/component/src/components/auth-components/sign-up-page.tsx
  packages/frontend/component/src/components/notification-center/index.jotai.ts
  packages/frontend/component/src/components/notification-center/index.tsx
  packages/frontend/component/src/ui/notification/notification-center.tsx
  packages/frontend/core/src/components/affine/auth/send-email.tsx
  packages/frontend/core/src/components/affine/auth/use-auth.ts
  packages/frontend/core/src/components/affine/setting-modal/account-setting/index.tsx
  packages/frontend/core/src/components/affine/setting-modal/general-setting/plans/index.tsx
  packages/frontend/core/src/components/affine/setting-modal/workspace-setting/new-workspace-setting-detail/delete-leave-workspace/index.tsx
  packages/frontend/core/src/components/affine/setting-modal/workspace-setting/new-workspace-setting-detail/export.tsx
  packages/frontend/core/src/components/affine/setting-modal/workspace-setting/new-workspace-setting-detail/members.tsx
  packages/frontend/core/src/components/affine/setting-modal/workspace-setting/new-workspace-setting-detail/profile.tsx
  packages/frontend/core/src/components/pure/workspace-slider-bar/workspace-card/index.tsx
  packages/frontend/core/src/hooks/affine/use-export-page.ts
  packages/frontend/core/src/hooks/affine/use-is-shared-page.tsx
  packages/frontend/core/src/pages/auth.tsx
  packages/frontend/core/src/pages/workspace/collection/index.tsx
  packages/frontend/core/src/providers/session-provider.tsx
  packages/frontend/core/src/providers/swr-config-provider.tsx
  packages/frontend/electron/renderer/app.tsx
  packages/frontend/web/src/app.tsx
  tests/affine-local/e2e/local-first-delete-workspace.spec.ts
Labels: mod:component, app:electron, test, app:core

#6425 fix(core): selfhost should not use favicon from affine.pro
  tools/cli/src/webpack/template.html
Labels: mod:dev

#6424 feat(server): adjust telemetry config
  .github/deployment/self-host/compose.yaml
  packages/backend/server/src/config/affine.env.ts
  packages/backend/server/src/core/config.ts
  packages/backend/server/src/fundamentals/config/default.ts
Labels: app:server

#6229 feat: basic copilot plugin implement
  packages/backend/server/package.json
  packages/backend/server/src/config/affine.self.ts
  packages/backend/server/src/core/config.ts
  packages/backend/server/src/plugins/config.ts
  packages/backend/server/src/plugins/copilot/index.ts
  packages/backend/server/src/plugins/copilot/provider.ts
  packages/backend/server/src/plugins/copilot/types.ts
  packages/backend/server/src/plugins/index.ts
  packages/backend/server/src/schema.gql
  yarn.lock
Labels: app:server

#6241 feat: add prompt service
  packages/backend/server/migrations/20240321065017_ai_prompts/migration.sql
  packages/backend/server/migrations/20240325125057_ai_sessions/migration.sql
  packages/backend/server/schema.prisma
  packages/backend/server/src/plugins/copilot/index.ts
  packages/backend/server/src/plugins/copilot/prompt.ts
  packages/backend/server/src/plugins/copilot/providers/index.ts
  packages/backend/server/src/plugins/copilot/types.ts
  packages/backend/server/tests/copilot.spec.ts
Labels: app:server, test

#6439 fix(component): useConfirmModal can't be closed automatically when 'onConfirm' is non-async
  packages/frontend/component/src/ui/modal/confirm-modal.stories.tsx
  packages/frontend/component/src/ui/modal/confirm-modal.tsx
Labels: mod:component

#6428 feat(core): add favorite operation to all collection
  packages/frontend/core/src/components/page-list/list.css.ts
  packages/frontend/core/src/components/page-list/operation-cell.tsx
Labels: app:core

#6443 fix(core): unexpected collection item drag event
  packages/frontend/core/src/components/pure/workspace-slider-bar/collections/collections-list.tsx
Labels: app:core

#6436 feat(core): add confirm modal to add new doc button
  packages/frontend/core/src/components/page-list/docs/page-list-header.tsx
  packages/frontend/i18n/src/resources/en.json
Labels: mod:i18n, app:core

#6444 fix(server): doc cache makes publish mode updating failed
  packages/backend/server/src/core/workspaces/controller.ts
Labels: app:server

#6442 fix(core): add max-height to tag filter
  packages/frontend/core/src/components/page-list/filter/multi-select.css.ts
  packages/frontend/core/src/components/page-list/filter/multi-select.tsx
  packages/frontend/i18n/src/resources/en.json
Labels: mod:i18n, app:core

#6449 feat(core): pricing plans ai subscription ui
  packages/backend/server/src/schema.gql
  packages/frontend/component/src/components/setting-components/setting-header.tsx
  packages/frontend/component/src/components/setting-components/share.css.ts
  packages/frontend/core/src/components/affine/setting-modal/general-setting/index.tsx
  packages/frontend/core/src/components/affine/setting-modal/general-setting/plans/ai/ai-plan.css.ts
  packages/frontend/core/src/components/affine/setting-modal/general-setting/plans/ai/ai-plan.tsx
  packages/frontend/core/src/components/affine/setting-modal/general-setting/plans/ai/benefits.tsx
  packages/frontend/core/src/components/affine/setting-modal/general-setting/plans/ai/cancel.tsx
  packages/frontend/core/src/components/affine/setting-modal/general-setting/plans/ai/login.tsx
  packages/frontend/core/src/components/affine/setting-modal/general-setting/plans/ai/resume.tsx
  packages/frontend/core/src/components/affine/setting-modal/general-setting/plans/ai/subscribe.tsx
  packages/frontend/core/src/components/affine/setting-modal/general-setting/plans/ai/types.ts
  packages/frontend/core/src/components/affine/setting-modal/general-setting/plans/cloud-plans.tsx
  packages/frontend/core/src/components/affine/setting-modal/general-setting/plans/index.tsx
  packages/frontend/core/src/components/affine/setting-modal/general-setting/plans/layout.css.ts
  packages/frontend/core/src/components/affine/setting-modal/general-setting/plans/layout.tsx
  packages/frontend/core/src/components/affine/setting-modal/general-setting/plans/plan-card.tsx
  packages/frontend/core/src/components/affine/setting-modal/general-setting/plans/skeleton.tsx
  packages/frontend/core/src/components/affine/setting-modal/general-setting/plans/style.css.ts
  packages/frontend/graphql/src/graphql/cancel-subscription.gql
  packages/frontend/graphql/src/graphql/index.ts
  packages/frontend/graphql/src/graphql/resume-subscription.gql
  packages/frontend/graphql/src/graphql/update-subscription-billing.gql
  packages/frontend/graphql/src/schema.ts
Labels: mod:component, app:server, app:core

#6451 feat(core): avoid popup window being blocked
  packages/frontend/core/src/commands/affine-help.tsx
  packages/frontend/core/src/components/affine/auth/subscription-redirect.tsx
  packages/frontend/core/src/components/affine/setting-modal/general-setting/about/index.tsx
  packages/frontend/core/src/components/affine/setting-modal/general-setting/billing/index.tsx
  packages/frontend/core/src/components/affine/setting-modal/general-setting/plans/ai/subscribe.tsx
  packages/frontend/core/src/components/affine/setting-modal/general-setting/plans/plan-card.tsx
  packages/frontend/core/src/components/app-sidebar/app-updater-button/index.tsx
  packages/frontend/core/src/components/pure/help-island/index.tsx
  packages/frontend/core/src/hooks/use-app-updater.ts
  packages/frontend/core/src/modules/workbench/view/workbench-link.tsx
  packages/frontend/core/src/pages/redirect.tsx
  packages/frontend/core/src/router.tsx
  packages/frontend/core/src/utils/index.ts
  packages/frontend/core/src/utils/popup.ts
Labels: mod:component, app:server, app:core

#6452 fix(server): only auto apply coupon in pro subscription
  packages/backend/server/src/plugins/payment/service.ts
Labels: app:server

#6483 fix(server): give s3 client a default request timeout
  packages/backend/server/src/plugins/storage/providers/s3.ts
Labels: app:server

#6482 fix(core): avoid flicking when click sidebar user avatar
  packages/frontend/core/src/components/root-app-sidebar/user-info.tsx
Labels: app:core

#6486 feat(core): add responsive styles to collection filter
  packages/frontend/core/src/components/page-list/filter/condition.tsx
  packages/frontend/core/src/components/page-list/filter/filter-tag-translation.tsx
  packages/frontend/core/src/components/page-list/filter/index.css.ts
  packages/frontend/core/src/components/page-list/filter/multi-select.css.ts
  packages/frontend/core/src/components/page-list/filter/multi-select.tsx
  packages/frontend/core/src/components/page-list/view/edit-collection/rules-mode.tsx
Labels: app:core

#6480 fix(core): remove duplicate windows controls when right sidebar is expanded
  packages/frontend/core/src/modules/workbench/view/route-container.tsx
Labels: app:core

#6477 fix(core): remove unexpected duplicate notification
  packages/frontend/core/src/pages/workspace/collection/index.tsx
Labels: app:core

#6474 fix(infra): fix sync issues on old ids
  packages/common/infra/src/workspace/engine/doc/remote.ts
Labels: mod:infra

#6476 feat(core): ai subscription in billing page
  packages/frontend/core/src/components/affine/setting-modal/general-setting/billing/index.tsx
  packages/frontend/core/src/components/affine/setting-modal/general-setting/plans/ai/actions/cancel.tsx
  packages/frontend/core/src/components/affine/setting-modal/general-setting/plans/ai/actions/index.ts
  packages/frontend/core/src/components/affine/setting-modal/general-setting/plans/ai/actions/login.tsx
  packages/frontend/core/src/components/affine/setting-modal/general-setting/plans/ai/actions/resume.tsx
  packages/frontend/core/src/components/affine/setting-modal/general-setting/plans/ai/actions/subscribe.tsx
  packages/frontend/core/src/components/affine/setting-modal/general-setting/plans/ai/ai-plan.tsx
  packages/frontend/core/src/components/affine/setting-modal/general-setting/plans/ai/types.ts
  packages/frontend/core/src/components/affine/setting-modal/general-setting/plans/ai/use-affine-ai-price.ts
  packages/frontend/core/src/components/affine/setting-modal/general-setting/plans/ai/use-affine-ai-subscription.ts
  packages/frontend/i18n/src/resources/en.json
Labels: mod:i18n, app:core

#6475 fix(core): unexpected horizontal scrolling after jump to block
  packages/frontend/core/src/components/blocksuite/block-suite-editor/blocksuite-editor-container.tsx
Labels: app:core

#6467 fix(component): sign up password max length notify
  packages/frontend/component/src/components/auth-components/password-input/index.tsx
Labels: mod:component

#6453 fix(core): viewport element not found in share page
  packages/frontend/core/src/components/blocksuite/block-suite-editor/lit-adaper.tsx
  packages/frontend/core/src/pages/share/share-detail-page.tsx
Labels: app:core

#6496 feat(core): add sign in to not found page
  packages/frontend/component/src/components/affine-other-page-layout/index.css.ts
  packages/frontend/component/src/components/affine-other-page-layout/layout.tsx
  packages/frontend/component/src/components/affine-other-page-layout/mobile-navbar.tsx
  packages/frontend/component/src/components/auth-components/auth-page-container.tsx
  packages/frontend/component/src/components/auth-components/share.css.ts
  packages/frontend/component/src/components/not-found-page/not-found-page.tsx
  packages/frontend/component/src/components/not-found-page/styles.css.ts
  packages/frontend/component/src/ui/empty/empty-svg.tsx
  packages/frontend/component/src/ui/empty/empty.tsx
  packages/frontend/component/src/ui/empty/index.css.ts
  packages/frontend/component/src/ui/empty/style.ts
  packages/frontend/core/src/components/workspace-upgrade/upgrade.tsx
  packages/frontend/core/src/pages/404.tsx
  packages/frontend/core/src/pages/sign-in.tsx
  packages/frontend/core/src/pages/workspace/detail-page/detail-page.tsx
  packages/frontend/core/src/pages/workspace/index.tsx
Labels: mod:component, app:core

#6499 feat(core): i18n for pricing plans
  packages/frontend/core/src/components/affine/setting-modal/general-setting/plans/ai/actions/cancel.tsx
  packages/frontend/core/src/components/affine/setting-modal/general-setting/plans/ai/actions/login.tsx
  packages/frontend/core/src/components/affine/setting-modal/general-setting/plans/ai/actions/resume.tsx
  packages/frontend/core/src/components/affine/setting-modal/general-setting/plans/ai/ai-plan.css.ts
  packages/frontend/core/src/components/affine/setting-modal/general-setting/plans/ai/ai-plan.tsx
  packages/frontend/core/src/components/affine/setting-modal/general-setting/plans/ai/benefits.tsx
  packages/frontend/core/src/components/affine/setting-modal/general-setting/plans/ai/use-affine-ai-subscription.ts
  packages/frontend/core/src/components/affine/setting-modal/general-setting/plans/cloud-plans.tsx
  packages/frontend/core/src/components/affine/setting-modal/general-setting/plans/index.tsx
  packages/frontend/core/src/components/affine/setting-modal/general-setting/plans/style.css.ts
  packages/frontend/graphql/src/schema.ts
  packages/frontend/i18n/src/resources/en.json
Labels: mod:i18n, app:core

#6501 feat(core): remove toggle workspace onboarding dialog
  packages/common/infra/src/app-config-storage.ts
  packages/frontend/core/src/components/affine/onboarding/assets/thumb.tsx
  packages/frontend/core/src/components/affine/onboarding/workspace-guide-modal.css.tsx
  packages/frontend/core/src/components/affine/onboarding/workspace-guide-modal.tsx
  packages/frontend/core/src/providers/modal-provider.tsx
  packages/frontend/electron/src/main/index.ts
  tests/kit/playwright.ts
  tests/storybook/.storybook/preview.tsx
Labels: mod:infra, app:electron, test, app:core

#6254 feat: add session impl
  packages/backend/server/migrations/20240325125057_ai_sessions/migration.sql
  packages/backend/server/migrations/20240402100608_ai_prompt_session_metadata/migration.sql
  packages/backend/server/package.json
  packages/backend/server/schema.prisma
  packages/backend/server/src/config/affine.env.ts
  packages/backend/server/src/config/affine.self.ts
  packages/backend/server/src/data/migrations/1712068777394-prompts.ts
  packages/backend/server/src/data/migrations/1712224382221-refresh-free-plan.ts
  packages/backend/server/src/data/migrations/utils/prompts.ts
  packages/backend/server/src/plugins/copilot/index.ts
  packages/backend/server/src/plugins/copilot/prompt.ts
  packages/backend/server/src/plugins/copilot/session.ts
  packages/backend/server/src/plugins/copilot/types.ts
  packages/backend/server/tests/copilot.spec.ts
  packages/backend/server/tests/quota.spec.ts
  yarn.lock
Labels: app:server, test

#6230 feat: add copilot impl
  .github/actions/deploy/deploy.mjs
  .github/helm/affine/charts/graphql/templates/copilot-secret.yaml
  .github/helm/affine/charts/graphql/templates/deployment.yaml
  .github/helm/affine/charts/graphql/values.yaml
  .github/workflows/deploy.yml
  packages/backend/server/src/core/quota/quota.ts
  packages/backend/server/src/core/quota/schema.ts
  packages/backend/server/src/core/quota/storage.ts
  packages/backend/server/src/core/quota/types.ts
  packages/backend/server/src/plugins/copilot/index.ts
  packages/backend/server/src/plugins/copilot/providers/index.ts
  packages/backend/server/src/plugins/copilot/providers/openai.ts
  packages/backend/server/src/plugins/copilot/session.ts
  packages/backend/server/src/plugins/copilot/types.ts
  packages/backend/server/src/schema.gql
  packages/backend/server/tests/quota.spec.ts
  packages/frontend/graphql/src/graphql/create-copilot-session.gql
  packages/frontend/graphql/src/graphql/get-copilot-anonymous-histories.gql
  packages/frontend/graphql/src/graphql/get-copilot-anonymous-sessions.gql
  packages/frontend/graphql/src/graphql/get-copilot-histories.gql
  packages/frontend/graphql/src/graphql/get-copilot-sessions.gql
  packages/frontend/graphql/src/graphql/index.ts
  packages/frontend/graphql/src/schema.ts
Labels: app:server, test

#6272 feat: copilot controller
  packages/backend/server/migrations/20240402100608_ai_prompt_session_metadata/migration.sql
  packages/backend/server/schema.prisma
  packages/backend/server/src/core/workspaces/permission.ts
  packages/backend/server/src/plugins/copilot/controller.ts
  packages/backend/server/src/plugins/copilot/index.ts
  packages/backend/server/src/plugins/copilot/prompt.ts
  packages/backend/server/src/plugins/copilot/providers/openai.ts
  packages/backend/server/src/plugins/copilot/resolver.ts
  packages/backend/server/src/plugins/copilot/session.ts
  packages/backend/server/src/plugins/copilot/types.ts
  packages/backend/server/src/schema.gql
  packages/frontend/graphql/src/graphql/get-copilot-anonymous-histories.gql
  packages/frontend/graphql/src/graphql/get-copilot-anonymous-sessions.gql
  packages/frontend/graphql/src/graphql/get-copilot-histories.gql
  packages/frontend/graphql/src/graphql/get-copilot-quota.gql
  packages/frontend/graphql/src/graphql/get-copilot-sessions.gql
  packages/frontend/graphql/src/graphql/index.ts
  packages/frontend/graphql/src/schema.ts
Labels: app:server, test

#6448 chore: bump blocksuite
  packages/common/env/package.json
  packages/common/infra/package.json
  packages/common/y-indexeddb/package.json
  packages/common/y-provider/package.json
  packages/frontend/component/package.json
  packages/frontend/core/package.json
  packages/frontend/core/src/components/blocksuite/block-suite-editor/ai/provider.ts
  packages/frontend/core/src/components/blocksuite/block-suite-editor/ai/request.ts
  packages/frontend/core/src/components/blocksuite/block-suite-editor/ai/spec.ts
  packages/frontend/core/src/components/blocksuite/block-suite-editor/specs.ts
  packages/frontend/core/src/hooks/affine/use-current-user.ts
  packages/frontend/core/src/modules/multi-tab-sidebar/entities/sidebar-tab.ts
  packages/frontend/core/src/modules/multi-tab-sidebar/entities/sidebar-tabs.ts
  packages/frontend/core/src/modules/multi-tab-sidebar/entities/tabs/chat.css.ts
  packages/frontend/core/src/modules/multi-tab-sidebar/entities/tabs/chat.tsx
  packages/frontend/core/src/modules/multi-tab-sidebar/entities/tabs/copilot.tsx
  packages/frontend/core/src/modules/multi-tab-sidebar/view/header-switcher.tsx
  packages/frontend/electron/package.json
  tests/storybook/package.json
  tools/cli/package.json
  yarn.lock
Labels: mod:infra, mod:env, mod:component, app:electron, mod:dev, package:y-indexeddb, test, app:core

#6513 fix: re-create session should skip rewrite messages
  packages/backend/server/src/plugins/copilot/resolver.ts
  packages/backend/server/src/plugins/copilot/session.ts
  packages/backend/server/src/schema.gql
Labels: app:server

#6524 fix(core): unexpected routing jump behavior
  packages/frontend/core/src/components/page-list/collections/collection-list-item.tsx
  packages/frontend/core/src/components/page-list/tags/tag-list-item.tsx
Labels: app:core

#6522 fix(core): should pass mode to AffineEditorContainer
  packages/frontend/core/src/components/blocksuite/block-suite-editor/blocksuite-editor-container.tsx
Labels: app:core

#6525 chore(core): bump blocksuite
  packages/common/env/package.json
  packages/common/infra/package.json
  packages/common/y-indexeddb/package.json
  packages/common/y-provider/package.json
  packages/frontend/component/package.json
  packages/frontend/core/package.json
  packages/frontend/core/src/modules/multi-tab-sidebar/entities/tabs/chat.tsx
  packages/frontend/electron/package.json
  tests/storybook/package.json
  tools/cli/package.json
  yarn.lock
Labels: mod:infra, mod:env, mod:component, app:electron, mod:dev, package:y-indexeddb, test, app:core

#6506 feat(core): ai images
  packages/backend/server/src/data/migrations/utils/prompts.ts
  packages/backend/server/src/plugins/copilot/providers/openai.ts
  packages/frontend/core/src/components/blocksuite/block-suite-editor/ai/provider.ts
  packages/frontend/core/src/components/blocksuite/block-suite-editor/ai/request.ts
Labels: mod:infra, mod:env, mod:component, app:electron, mod:dev, package:y-indexeddb, app:server, test, app:core

#6527 fix(core): chat panel display on cont in chat
  packages/frontend/core/src/pages/workspace/detail-page/detail-page.tsx
Labels: app:core

#6528 fix(core): disable micromark debug output
  packages/common/debug/src/index.ts
Labels: mod:dev

#6519 fix: change action
  packages/backend/server/src/data/migrations/utils/prompts.ts
Labels: app:server

#6516 feat(core): add ai usage in account-setting
  packages/frontend/core/src/atoms/index.ts
  packages/frontend/core/src/components/affine/setting-modal/account-setting/ai-usage-panel.tsx
  packages/frontend/core/src/components/affine/setting-modal/account-setting/index.tsx
  packages/frontend/core/src/components/affine/setting-modal/general-setting/plans/ai/actions/cancel.tsx
  packages/frontend/core/src/components/affine/setting-modal/general-setting/plans/ai/actions/resume.tsx
  packages/frontend/core/src/components/affine/setting-modal/general-setting/plans/ai/actions/subscribe.tsx
  packages/frontend/core/src/components/affine/setting-modal/general-setting/plans/ai/types.ts
  packages/frontend/core/src/components/affine/setting-modal/general-setting/plans/layout.tsx
  packages/frontend/graphql/src/graphql/get-copilot-quota.gql
  packages/frontend/graphql/src/graphql/index.ts
  packages/frontend/graphql/src/schema.ts
  packages/frontend/i18n/src/resources/en.json
Labels: mod:i18n, mod:store, mod:native, app:core

#6521 feat(core): add new doc button to collection item
  packages/frontend/core/src/components/page-list/operation-cell.tsx
  packages/frontend/core/src/components/page-list/view/collection-operations.tsx
  packages/frontend/core/src/components/pure/workspace-slider-bar/collections/collections-list.tsx
Labels: app:core

#6502 feat(core): adjust the display settings to be independent for each workspace
  packages/frontend/core/src/components/page-list/components/page-display-menu.tsx
  packages/frontend/core/src/components/page-list/docs/page-list-item.tsx
  packages/frontend/core/src/components/page-list/group-definitions.tsx
  packages/frontend/core/src/components/page-list/header-col-def.tsx
  packages/frontend/core/src/components/page-list/index.tsx
  packages/frontend/core/src/components/page-list/types.ts
  packages/frontend/core/src/components/page-list/use-all-doc-display-properties.ts
  packages/frontend/core/src/components/page-list/use-page-display-properties.ts
Labels: app:core

#6529 feat(core): remove ai from experimental features
  packages/frontend/core/src/components/affine/setting-modal/workspace-setting/experimental-features/index.tsx
  packages/frontend/core/src/components/affine/setting-modal/workspace-setting/index.tsx
  packages/frontend/core/src/modules/multi-tab-sidebar/entities/tabs/chat.tsx
  packages/frontend/core/src/modules/multi-tab-sidebar/view/header-switcher.tsx
Labels: app:core

#6532 feat(server): add pro quota to dev user
  packages/backend/server/src/core/auth/index.ts
  packages/backend/server/src/core/auth/service.ts
  packages/backend/server/tests/auth/service.spec.ts
Labels: app:server, test

#6523 feat: detailed copilot histories
  packages/backend/server/src/plugins/copilot/prompt.ts
  packages/backend/server/src/plugins/copilot/resolver.ts
  packages/backend/server/src/plugins/copilot/session.ts
  packages/backend/server/src/plugins/copilot/types.ts
  packages/backend/server/src/schema.gql
Labels: app:server

#6511 feat(core): create and open cloud workspace if not exists after logged in
  packages/frontend/core/src/hooks/use-navigate-helper.ts
  packages/frontend/core/src/pages/index.tsx
  packages/frontend/core/src/pages/sign-in.tsx
Labels: app:core

#6520 fix(core): restore lost activation state of sidebar menu items
  packages/frontend/core/src/components/pure/workspace-slider-bar/collections/page.tsx
  packages/frontend/core/src/components/pure/workspace-slider-bar/components/reference-page.tsx
  packages/frontend/core/src/components/pure/workspace-slider-bar/favorite/favourite-nav-item.tsx
  packages/frontend/core/src/components/root-app-sidebar/journal-button.tsx
Labels: app:core

#6540 fix: pick copilot provider depend on model
  packages/backend/server/src/data/migrations/utils/prompts.ts
  packages/backend/server/src/plugins/copilot/controller.ts
  packages/backend/server/src/plugins/copilot/providers/fal.ts
  packages/backend/server/src/plugins/copilot/providers/index.ts
  packages/backend/server/src/plugins/copilot/providers/openai.ts
  packages/backend/server/src/plugins/copilot/types.ts
Labels: app:server

#6539 fix: cannot query chat history
  packages/backend/server/src/plugins/copilot/session.ts
  packages/frontend/graphql/src/schema.ts
Labels: app:server

#6542 fix(core): use backend prompts
  packages/backend/server/src/data/migrations/utils/prompts.ts
  packages/frontend/core/src/components/blocksuite/block-suite-editor/ai/copilot-client.ts
  packages/frontend/core/src/components/blocksuite/block-suite-editor/ai/prompt.ts
  packages/frontend/core/src/components/blocksuite/block-suite-editor/ai/provider.ts
  packages/frontend/core/src/components/blocksuite/block-suite-editor/ai/request.ts
  packages/frontend/graphql/codegen.yml
  packages/frontend/graphql/src/graphql/create-copilot-message.gql
  packages/frontend/graphql/src/graphql/index.ts
  packages/frontend/graphql/src/schema.ts
Labels: app:server, app:core

#6495 feat(core): use zip snapshot for onboarding page
  packages/common/infra/src/initialization/index.ts
  packages/common/infra/src/initialization/middleware.ts
  packages/common/infra/src/workspace/testing.ts
  packages/frontend/core/src/bootstrap/first-app-data.ts
  packages/frontend/core/src/components/affine/create-workspace-modal/index.tsx
  packages/frontend/core/src/pages/workspace/index.tsx
  packages/frontend/core/src/types/types.d.ts
  packages/frontend/templates/build.mjs
  packages/frontend/templates/onboarding/W-d9_llZ6rE-qoTiHKTk4.snapshot.json
  packages/frontend/templates/onboarding/blob.json
  packages/frontend/templates/onboarding/info.json
  packages/frontend/templates/onboarding/onboarding.zip
  packages/frontend/templates/package.json
  packages/frontend/templates/templates.gen.ts
  packages/frontend/workspace-impl/src/cloud/list.ts
  packages/frontend/workspace-impl/src/local/list.ts
  tools/cli/src/webpack/config.ts
Labels: mod:infra, docs, mod:dev, app:core, mod:workspace-impl

#6535 feat(core): move help island to workbench
  packages/frontend/core/src/modules/workbench/view/workbench-root.tsx
  packages/frontend/core/src/pages/workspace/index.tsx
Labels: app:core

#6530 fix(core): description of cancel is incorrect when cloud subscription is activated
  packages/frontend/core/src/components/affine/setting-modal/general-setting/billing/index.tsx
  packages/frontend/core/src/components/affine/setting-modal/general-setting/plans/cloud-plans.tsx
  packages/frontend/i18n/src/resources/en.json
Labels: mod:i18n, app:core

#6541 feat: bump blocksuite
  packages/common/env/package.json
  packages/common/infra/package.json
  packages/common/y-indexeddb/package.json
  packages/common/y-provider/package.json
  packages/frontend/component/package.json
  packages/frontend/core/package.json
  packages/frontend/core/src/components/affine/page-history-modal/data.ts
  packages/frontend/core/src/components/blocksuite/block-suite-editor/ai/provider.ts
  packages/frontend/core/src/components/image-preview/index.tsx
  packages/frontend/core/src/hooks/use-block-suite-page-meta.ts
  packages/frontend/core/src/hooks/use-journal.ts
  packages/frontend/core/src/pages/share/share-detail-page.tsx
  packages/frontend/core/src/pages/workspace/detail-page/detail-page.tsx
  packages/frontend/core/src/pages/workspace/index.tsx
  packages/frontend/electron/package.json
  tests/storybook/package.json
  tests/storybook/src/stories/image-preview-modal.stories.tsx
  tests/storybook/src/stories/share-menu.stories.tsx
  tools/cli/package.json
  yarn.lock
Labels: mod:infra, mod:env, mod:component, app:electron, mod:dev, package:y-indexeddb, test, app:core

#6554 fix: storybook build issue
  tests/storybook/.storybook/main.ts
  vitest.config.ts
Labels: test

#6553 chore(core): bump bs
  packages/common/env/package.json
  packages/common/infra/package.json
  packages/common/y-indexeddb/package.json
  packages/common/y-provider/package.json
  packages/frontend/component/package.json
  packages/frontend/core/package.json
  packages/frontend/electron/package.json
  tests/storybook/package.json
  tools/cli/package.json
  yarn.lock
Labels: mod:infra, mod:env, mod:component, app:electron, mod:dev, package:y-indexeddb, test, app:core

#6546 refactor(core): remove copilot client from presets
  packages/frontend/core/src/components/blocksuite/block-suite-editor/ai/copilot-client.ts
  packages/frontend/core/src/components/blocksuite/block-suite-editor/ai/provider.ts
  packages/frontend/core/src/components/blocksuite/block-suite-editor/ai/request.ts
  packages/frontend/core/src/hooks/affine/use-current-user.ts
  tests/affine-local/e2e/local-first-workspace-list.spec.ts
Labels: test, app:core

#6534 fix(electron): close app while on fullscreen should be minimize instead
  packages/frontend/electron/src/main/main-window.ts
Labels: app:electron

#6533 chore(core): update i18n resources
  packages/frontend/i18n/src/resources/de.json
  packages/frontend/i18n/src/resources/en.json
  packages/frontend/i18n/src/resources/es.json
  packages/frontend/i18n/src/resources/fr.json
  packages/frontend/i18n/src/resources/index.ts
  packages/frontend/i18n/src/resources/it.json
  packages/frontend/i18n/src/resources/ko.json
  packages/frontend/i18n/src/resources/pt-BR.json
  packages/frontend/i18n/src/resources/ru.json
  packages/frontend/i18n/src/resources/zh-Hans.json
Labels: mod:i18n, app:core

#6543 fix: upgrade plan correctly
  packages/backend/server/src/data/migrations/1712224382221-refresh-free-plan.ts
  packages/backend/server/src/data/migrations/utils/user-quotas.ts
Labels: app:server

#6559 fix(core): fix flaky e2e
  tests/kit/utils/workspace.ts
Labels: test

#6544 feat(core): add ai onboarding
  packages/frontend/core/public/onboarding/ai-onboarding.general.1.mov
  packages/frontend/core/public/onboarding/ai-onboarding.general.2.mov
  packages/frontend/core/public/onboarding/ai-onboarding.general.3.mov
  packages/frontend/core/public/onboarding/ai-onboarding.general.4.mov
  packages/frontend/core/src/components/affine/ai-onboarding/base-style.css.ts
  packages/frontend/core/src/components/affine/ai-onboarding/edgeless.dialog.tsx
  packages/frontend/core/src/components/affine/ai-onboarding/general.dialog.css.ts
  packages/frontend/core/src/components/affine/ai-onboarding/general.dialog.tsx
  packages/frontend/core/src/components/affine/ai-onboarding/index.tsx
  packages/frontend/core/src/components/affine/ai-onboarding/local.dialog.tsx
  packages/frontend/core/src/components/affine/ai-onboarding/slider.css.ts
  packages/frontend/core/src/components/affine/ai-onboarding/slider.tsx
  packages/frontend/core/src/components/affine/ai-onboarding/type.ts
  packages/frontend/core/src/hooks/use-blur-root.ts
  packages/frontend/core/src/layouts/workspace-layout.tsx
  packages/frontend/i18n/src/resources/en.json
  tests/kit/electron.ts
  tests/kit/playwright.ts
  tests/storybook/.storybook/preview.tsx
Labels: mod:i18n, test, app:core

#6556 feat(core): ai onboarding for edgeless mode
  packages/frontend/component/src/ui/notification/notification-card.tsx
  packages/frontend/component/src/ui/notification/notification-center.tsx
  packages/frontend/component/src/ui/notification/styles.css.ts
  packages/frontend/component/src/ui/notification/types.ts
  packages/frontend/core/src/components/affine/ai-onboarding/edgeless.dialog.css.ts
  packages/frontend/core/src/components/affine/ai-onboarding/edgeless.dialog.tsx
  packages/frontend/core/src/components/affine/ai-onboarding/index.tsx
  packages/frontend/core/src/components/affine/ai-onboarding/lottie/edgeless/mouse-dark.json
  packages/frontend/core/src/components/affine/ai-onboarding/lottie/edgeless/mouse-light.json
  packages/frontend/core/src/components/affine/ai-onboarding/lottie/edgeless/trackpad-dark.json
  packages/frontend/core/src/components/affine/ai-onboarding/lottie/edgeless/trackpad-light.json
  packages/frontend/core/src/layouts/workspace-layout.tsx
  packages/frontend/core/src/pages/workspace/detail-page/detail-page.tsx
  packages/frontend/i18n/src/resources/en.json
Labels: mod:i18n, mod:component, app:core

#6557 fix(core): the page flashes when click the share button
  packages/frontend/core/src/hooks/affine/use-server-config.ts
Labels: app:core

#6558 fix: add action field in histories gql
  packages/frontend/core/src/components/blocksuite/block-suite-editor/ai/copilot-client.ts
  packages/frontend/graphql/src/graphql/get-copilot-histories.gql
  packages/frontend/graphql/src/graphql/index.ts
  packages/frontend/graphql/src/schema.ts
Labels: app:core

#6562 fix: bump bs
  packages/common/env/package.json
  packages/common/infra/package.json
  packages/common/y-indexeddb/package.json
  packages/common/y-provider/package.json
  packages/frontend/component/package.json
  packages/frontend/core/package.json
  packages/frontend/electron/package.json
  tests/storybook/package.json
  tools/cli/package.json
  yarn.lock
Labels: mod:infra, mod:env, mod:component, app:electron, mod:dev, package:y-indexeddb, test, app:core

#6538 feat: ai create an image
  packages/frontend/core/src/components/blocksuite/block-suite-editor/ai/provider.ts
  packages/frontend/core/src/components/blocksuite/block-suite-editor/ai/request.ts
Labels: app:core

#6560 feat: add slide action
  packages/frontend/core/src/components/blocksuite/block-suite-editor/ai/provider.ts
Labels: app:core

#6563 chore: bump bs
  packages/common/env/package.json
  packages/common/infra/package.json
  packages/common/y-indexeddb/package.json
  packages/common/y-provider/package.json
  packages/frontend/component/package.json
  packages/frontend/core/package.json
  packages/frontend/electron/package.json
  tests/storybook/package.json
  tools/cli/package.json
  yarn.lock
Labels: mod:infra, mod:env, mod:component, app:electron, mod:dev, package:y-indexeddb, test, app:core

#6567 fix(core): should choose different models based on content or attachments
  packages/frontend/core/src/components/blocksuite/block-suite-editor/ai/provider.ts
Labels: app:core

#6576 fix: temporary fix for running electron tests
  .nvmrc
  packages/frontend/electron/scripts/dev.ts
  packages/frontend/electron/scripts/generate-assets.ts
Labels: app:electron

#6561 feat: check quota correctly
  packages/backend/server/src/core/features/feature.ts
  packages/backend/server/src/core/features/management.ts
  packages/backend/server/src/core/features/service.ts
  packages/backend/server/src/core/features/types/common.ts
  packages/backend/server/src/core/features/types/index.ts
  packages/backend/server/src/core/features/types/unlimited-copilot.ts
  packages/backend/server/src/core/quota/index.ts
  packages/backend/server/src/core/quota/schema.ts
  packages/backend/server/src/core/quota/service.ts
  packages/backend/server/src/core/user/resolver.ts
  packages/backend/server/src/core/workspaces/management.ts
  packages/backend/server/src/data/migrations/1705395933447-new-free-plan.ts
  packages/backend/server/src/data/migrations/1706513866287-business-blob-limit.ts
  packages/backend/server/src/data/migrations/1713164714634-copilot-feature.ts
  packages/backend/server/src/data/migrations/utils/user-quotas.ts
  packages/backend/server/src/plugins/copilot/controller.ts
  packages/backend/server/src/plugins/copilot/index.ts
  packages/backend/server/src/plugins/copilot/resolver.ts
  packages/backend/server/src/plugins/copilot/session.ts
  packages/backend/server/src/plugins/payment/service.ts
  packages/backend/server/src/plugins/payment/types.ts
  packages/backend/server/src/schema.gql
  packages/backend/server/tests/feature.spec.ts
  packages/backend/server/tests/quota.spec.ts
  packages/frontend/core/src/components/affine/setting-modal/account-setting/ai-usage-panel.tsx
  packages/frontend/graphql/src/schema.ts
Labels: app:server, test, app:core

#6582 fix(core): signIn page style
  packages/frontend/component/src/components/not-found-page/not-found-page.tsx
  packages/frontend/component/src/components/not-found-page/styles.css.ts
  packages/frontend/core/src/pages/sign-in.tsx
Labels: mod:component, app:core

#6583 fix(core): wrong pricing state in billing ai card
  packages/frontend/core/src/components/affine/setting-modal/general-setting/billing/index.tsx
  packages/frontend/core/src/components/affine/setting-modal/general-setting/plans/ai/use-affine-ai-subscription.ts
  packages/frontend/i18n/src/resources/en.json
Labels: mod:i18n, app:core

#6579 feat(core): optimize ai onboarding trigger logic
  packages/frontend/core/src/components/affine/ai-onboarding/edgeless.dialog.css.ts
  packages/frontend/core/src/components/affine/ai-onboarding/edgeless.dialog.tsx
  packages/frontend/core/src/components/affine/ai-onboarding/general.dialog.tsx
  packages/frontend/core/src/components/affine/ai-onboarding/lottie/edgeless/mouse-dark.json
  packages/frontend/core/src/components/affine/ai-onboarding/lottie/edgeless/mouse-track-dark.json
  packages/frontend/core/src/components/affine/ai-onboarding/lottie/edgeless/mouse-track-light.json
  packages/frontend/core/src/components/affine/ai-onboarding/lottie/edgeless/trackpad-light.json
  packages/frontend/core/src/components/affine/ai-onboarding/state.ts
  packages/frontend/i18n/src/resources/en.json
Labels: mod:i18n, app:core

#6572 feat: unsplash api proxy
  .github/actions/deploy/deploy.mjs
  .github/helm/affine/charts/graphql/templates/copilot-secret.yaml
  .github/helm/affine/charts/graphql/templates/deployment.yaml
  .github/workflows/deploy.yml
  packages/backend/server/src/config/affine.env.ts
  packages/backend/server/src/plugins/copilot/controller.ts
  packages/backend/server/src/plugins/copilot/types.ts
Labels: app:server

#6565 feat(server): support registering ai early access users
  packages/backend/server/src/core/features/feature.ts
  packages/backend/server/src/core/features/index.ts
  packages/backend/server/src/core/features/management.ts
  packages/backend/server/src/core/features/service.ts
  packages/backend/server/src/core/features/types/common.ts
  packages/backend/server/src/core/features/types/early-access.ts
  packages/backend/server/src/core/features/types/index.ts
  packages/backend/server/src/core/user/management.ts
  packages/backend/server/src/data/migrations/1713176777814-ai-early-access.ts
  packages/backend/server/src/plugins/payment/resolver.ts
  packages/backend/server/src/plugins/payment/schedule.ts
  packages/backend/server/src/plugins/payment/service.ts
  packages/backend/server/src/plugins/payment/types.ts
  packages/backend/server/src/schema.gql
Labels: app:server, test

#6585 fix: missing feature upsert
  packages/backend/server/src/data/migrations/1713285638427-unlimited-copilot.ts
Labels: app:server

#6586 fix(core): unable to redirect to same origin paths
  packages/frontend/core/src/pages/redirect.tsx
  packages/frontend/core/src/utils/popup.ts
Labels: app:core

#6587 fix(core): give page reference correct link
  packages/frontend/core/src/modules/workbench/view/workbench-link.tsx
Labels: app:core

#6590 fix(server): only returns active subscriptions
  packages/backend/server/src/plugins/payment/resolver.ts
  packages/backend/server/src/plugins/payment/service.ts
Labels: app:server

#6326 chore(server): clean up throttler
  packages/backend/server/src/app.module.ts
  packages/backend/server/src/app.ts
  packages/backend/server/src/core/auth/controller.ts
  packages/backend/server/src/core/auth/guard.ts
  packages/backend/server/src/core/auth/resolver.ts
  packages/backend/server/src/core/user/management.ts
  packages/backend/server/src/core/user/resolver.ts
  packages/backend/server/src/core/workspaces/management.ts
  packages/backend/server/src/core/workspaces/resolvers/blob.ts
  packages/backend/server/src/core/workspaces/resolvers/history.ts
  packages/backend/server/src/core/workspaces/resolvers/page.ts
  packages/backend/server/src/core/workspaces/resolvers/workspace.ts
  packages/backend/server/src/fundamentals/cache/index.ts
  packages/backend/server/src/fundamentals/index.ts
  packages/backend/server/src/fundamentals/throttler/decorators.ts
  packages/backend/server/src/fundamentals/throttler/index.ts
  packages/backend/server/src/global.d.ts
  packages/backend/server/src/schema.gql
  packages/backend/server/tests/nestjs/throttler.spec.ts
  packages/backend/server/tests/utils/user.ts
Labels: app:server, test

#6591 fix(core): revalidate subscription info when open ai usage panel
  packages/frontend/core/src/components/affine/setting-modal/account-setting/ai-usage-panel.tsx
Labels: app:core

#6593 fix(server): avoid store unpaid subscriptions
  packages/backend/server/src/plugins/payment/service.ts
Labels: app:server

#6594 fix(core): fix navigate not working
  packages/frontend/core/src/router.tsx
Labels: app:core

#6595 fix(storybook): remove storybook testing
  .eslintrc.js
  .github/workflows/publish-storybook.yml
  .github/workflows/publish-ui-storybook.yml
  README.md
  docs/contributing/tutorial.md
  package.json
  tests/storybook/.storybook/main.ts
  tests/storybook/.storybook/polyfill.ts
  tests/storybook/.storybook/preview-head.html
  tests/storybook/.storybook/preview.tsx
  tests/storybook/README.md
  tests/storybook/package.json
  tests/storybook/project.json
  tests/storybook/src/stories/affine-banner.stories.tsx
  tests/storybook/src/stories/app-sidebar.stories.tsx
  tests/storybook/src/stories/app-updater-button.stories.tsx
  tests/storybook/src/stories/blocksuite-editor.stories.tsx
  tests/storybook/src/stories/card.stories.tsx
  tests/storybook/src/stories/checkbox.stories.tsx
  tests/storybook/src/stories/core.stories.tsx
  tests/storybook/src/stories/image-preview-modal.stories.tsx
  tests/storybook/src/stories/import-page.stories.tsx
  tests/storybook/src/stories/input.stories.tsx
  tests/storybook/src/stories/introduction.stories.mdx
  tests/storybook/src/stories/notification-center.stories.tsx
  tests/storybook/src/stories/onboarding.stories.tsx
  tests/storybook/src/stories/page-detail-skeleton.stories.tsx
  tests/storybook/src/stories/page-info-properties.stories.tsx
  tests/storybook/src/stories/page-list.stories.tsx
  tests/storybook/src/stories/quick-search/quick-search-main.stories.tsx
  tests/storybook/src/stories/quick-search/quick-search-modal.stories.tsx
  tests/storybook/src/stories/share-menu.stories.tsx
  tests/storybook/src/stories/switch.stories.tsx
  tests/storybook/src/stories/workspace-list.stories.tsx
  tests/storybook/tsconfig.json
  tests/storybook/tsconfig.node.json
  tsconfig.json
  yarn.lock
Labels: docs, test

#6598 fix(server): app cannot start in graphql only flavor
  packages/backend/server/src/app.module.ts
  packages/backend/server/src/core/auth/index.ts
Labels: app:server

#6597 fix(component): retrieve lost scroll bars in editor
  packages/frontend/component/src/theme/global.css
Labels: mod:component

#6578 feat(component): adjust notify styles
  packages/frontend/component/src/ui/notification/notification-card.tsx
  packages/frontend/component/src/ui/notification/notification-center.tsx
  packages/frontend/component/src/ui/notification/styles.css.ts
  packages/frontend/component/src/ui/notification/types.ts
  packages/frontend/component/src/ui/notification/utils.ts
  packages/frontend/core/src/components/affine/ai-onboarding/edgeless.dialog.tsx
  packages/frontend/core/src/components/affine/setting-modal/general-setting/plans/ai/actions/resume.tsx
Labels: mod:component, app:core

#6601 chore: bump blocksuite
  packages/common/env/package.json
  packages/common/infra/package.json
  packages/common/y-indexeddb/package.json
  packages/common/y-provider/package.json
  packages/frontend/component/package.json
  packages/frontend/core/package.json
  packages/frontend/electron/package.json
  tools/cli/package.json
  yarn.lock
Labels: mod:infra, mod:env, mod:component, app:electron, mod:dev, package:y-indexeddb, app:core

#6588 fix: ai error handling
  packages/frontend/core/src/components/blocksuite/block-suite-editor/ai/copilot-client.ts
  packages/frontend/core/src/components/blocksuite/block-suite-editor/ai/provider.ts
Labels: mod:infra, mod:env, mod:component, app:electron, mod:dev, package:y-indexeddb, app:core

#6574 fix(core): provide photoengine
  packages/frontend/core/src/components/blocksuite/block-suite-editor/ai/provider.ts
Labels: app:core

#6602 fix(core): missing copilot param
  packages/frontend/core/src/components/blocksuite/block-suite-editor/ai/copilot-client.ts
  packages/frontend/core/src/components/blocksuite/block-suite-editor/ai/request.ts
Labels: app:core

#6584 feat: add blob upload support for copilot
  packages/backend/server/src/core/quota/storage.ts
  packages/backend/server/src/core/workspaces/resolvers/blob.ts
  packages/backend/server/src/fundamentals/config/storage/index.ts
  packages/backend/server/src/plugins/copilot/controller.ts
  packages/backend/server/src/plugins/copilot/index.ts
  packages/backend/server/src/plugins/copilot/resolver.ts
  packages/backend/server/src/plugins/copilot/session.ts
  packages/backend/server/src/plugins/copilot/storage.ts
  packages/backend/server/src/schema.gql
  packages/frontend/graphql/src/schema.ts
Labels: app:server

#6606 fix: provide user info for copilot
  packages/frontend/core/src/modules/cloud/services/auth.ts
Labels: app:core

#6596 feat: adopt createMessage upload api
  packages/backend/server/src/plugins/copilot/resolver.ts
  packages/frontend/core/src/components/blocksuite/block-suite-editor/ai/provider.ts
  packages/frontend/core/src/components/blocksuite/block-suite-editor/ai/request.ts
  packages/frontend/graphql/export-gql-plugin.cjs
  packages/frontend/graphql/src/fetcher.ts
  packages/frontend/graphql/src/graphql/index.ts
Labels: app:server, app:core

#6607 feat(server): add created timestamp to history
  packages/backend/server/src/plugins/copilot/resolver.ts
  packages/backend/server/src/plugins/copilot/session.ts
  packages/backend/server/src/plugins/copilot/types.ts
  packages/frontend/graphql/src/graphql/get-copilot-histories.gql
Labels: app:server

#6548 fix: disable default save page as
  packages/backend/server/src/schema.gql
  packages/frontend/core/src/hooks/affine/use-register-blocksuite-editor-commands.tsx
  packages/frontend/graphql/src/graphql/index.ts
  packages/frontend/graphql/src/schema.ts
Labels: mod:infra, docs, app:server, app:core

#6609 fix: should not swallow copilot errors
  packages/frontend/core/src/components/blocksuite/block-suite-editor/ai/copilot-client.ts
Labels: app:core

#6608 feat(core): check user's subscription at ai onboarding stage
  packages/frontend/core/src/components/affine/ai-onboarding/general.dialog.css.ts
  packages/frontend/core/src/components/affine/ai-onboarding/general.dialog.tsx
  packages/frontend/i18n/src/resources/en.json
Labels: mod:i18n, app:core

#6605 fix(component): banner should not affect the editor layout
  packages/frontend/component/src/components/affine-banner/index.css.ts
Labels: mod:component

#6615 fix(electron): cookie expires too short
  packages/frontend/electron/src/main/deep-link.ts
Labels: app:electron

#6604 chore: cleanup outdated api
  packages/backend/server/src/core/workspaces/controller.ts
  packages/backend/server/src/core/workspaces/permission.ts
  packages/backend/server/src/core/workspaces/resolvers/workspace.ts
  packages/backend/server/src/schema.gql
  packages/backend/server/tests/utils/workspace.ts
  packages/backend/server/tests/workspace.e2e.ts
  packages/frontend/graphql/src/graphql/get-public-workspace.gql
  packages/frontend/graphql/src/graphql/index.ts
  packages/frontend/graphql/src/schema.ts
Labels: app:server, test

#6621 fix(server): fix unstable test
  packages/backend/server/tests/nestjs/throttler.spec.ts
Labels: app:server, test

#6620 fix(core): always create message for ai
  packages/frontend/core/src/components/blocksuite/block-suite-editor/ai/copilot-client.ts
  packages/frontend/core/src/components/blocksuite/block-suite-editor/ai/provider.ts
  packages/frontend/core/src/components/blocksuite/block-suite-editor/ai/request.ts
Labels: app:core

#6616 feat(core): reduce profile loading time
  packages/common/infra/src/modules/workspace/entities/profile.ts
  packages/common/infra/src/modules/workspace/providers/flavour.ts
  packages/frontend/core/src/modules/workspace-engine/impls/cloud.ts
Labels: mod:infra, app:core

#6612 fix: copilot blob process
  packages/backend/server/src/plugins/copilot/providers/openai.ts
  packages/backend/server/src/plugins/copilot/resolver.ts
Labels: app:server

#6600 feat(core): add local ai onboarding dialog
  packages/frontend/component/src/ui/notification/notification-card.tsx
  packages/frontend/component/src/ui/notification/types.ts
  packages/frontend/core/src/components/affine/ai-onboarding/edgeless.dialog.tsx
  packages/frontend/core/src/components/affine/ai-onboarding/local.dialog.css.ts
  packages/frontend/core/src/components/affine/ai-onboarding/local.dialog.tsx
  packages/frontend/core/src/components/affine/ai-onboarding/state.ts
Labels: mod:i18n, mod:component, app:core

#6622 feat: remove message query
  packages/backend/server/src/plugins/copilot/controller.ts
Labels: app:server

#6619 fix(server): dev user configuration issue
  packages/backend/server/src/core/auth/service.ts
Labels: app:server

#6626 chore: bump blocksuite
  packages/common/env/package.json
  packages/common/infra/package.json
  packages/common/y-indexeddb/package.json
  packages/common/y-provider/package.json
  packages/frontend/component/package.json
  packages/frontend/core/package.json
  packages/frontend/electron/package.json
  tools/cli/package.json
  yarn.lock
Labels: mod:infra, mod:env, mod:component, app:electron, mod:dev, package:y-indexeddb, app:core

#6611 fix: handle 401 errors
  packages/frontend/core/src/components/blocksuite/block-suite-editor/ai/copilot-client.ts
  packages/frontend/core/src/components/blocksuite/block-suite-editor/ai/provider.ts
Labels: app:core

#6630 fix(core): drag and drop files into doc
  packages/frontend/core/src/components/blocksuite/block-suite-editor/specs.ts
Labels: app:core

#6627 fix(core): fix subscribe link for pro plan
  packages/frontend/core/src/modules/cloud/entities/subscription.ts
  packages/frontend/core/src/pages/subscribe.tsx
Labels: app:core

#6613 feat(server): auto refresh session
  packages/backend/server/src/core/auth/guard.ts
  packages/backend/server/src/core/auth/service.ts
  packages/backend/server/src/fundamentals/config/def.ts
  packages/backend/server/src/fundamentals/config/default.ts
  packages/backend/server/tests/auth/guard.spec.ts
  packages/backend/server/tests/auth/service.spec.ts
  packages/backend/server/tests/oauth/controller.spec.ts
Labels: app:server, test

#6628 fix: move toTextStream to affine
  packages/frontend/core/src/components/blocksuite/block-suite-editor/ai/event-source.ts
  packages/frontend/core/src/components/blocksuite/block-suite-editor/ai/request.ts
Labels: app:core

#6618 chore: enable ai feature in dev
  packages/backend/server/src/core/auth/service.ts
  packages/backend/server/src/core/features/management.ts
  packages/backend/server/src/core/features/service.ts
  packages/backend/server/src/core/quota/service.ts
  packages/backend/server/src/plugins/copilot/session.ts
Labels: app:server

#6635 chore: bump blocksuite
  packages/common/env/package.json
  packages/common/infra/package.json
  packages/common/y-indexeddb/package.json
  packages/common/y-provider/package.json
  packages/frontend/component/package.json
  packages/frontend/core/package.json
  packages/frontend/core/src/modules/multi-tab-sidebar/multi-tabs/tabs/chat.tsx
  packages/frontend/electron/package.json
  tools/cli/package.json
  yarn.lock
Labels: mod:infra, mod:env, mod:component, app:electron, mod:dev, package:y-indexeddb, app:core

#6639 feat: update chat prompt
  packages/backend/server/src/data/migrations/1713522040090-update-prompt.ts
  packages/backend/server/src/data/migrations/utils/prompts.ts
  packages/backend/server/src/plugins/copilot/resolver.ts
  packages/backend/server/src/plugins/copilot/session.ts
  packages/frontend/core/src/components/blocksuite/block-suite-editor/ai/prompt.ts
  packages/frontend/core/src/components/blocksuite/block-suite-editor/ai/request.ts
Labels: app:server, app:core

#6634 chore(server): remove useless free subscription enum
  packages/backend/server/src/plugins/payment/resolver.ts
  packages/backend/server/src/schema.gql
  packages/frontend/core/src/components/affine/auth/user-plan-button.tsx
  packages/frontend/core/src/components/affine/setting-modal/account-setting/storage-progress.tsx
  packages/frontend/core/src/components/affine/setting-modal/general-setting/billing/index.tsx
  packages/frontend/core/src/components/affine/setting-modal/general-setting/plans/index.tsx
  packages/frontend/core/src/components/affine/setting-modal/general-setting/plans/plan-card.tsx
  packages/frontend/core/src/components/affine/setting-modal/workspace-setting/new-workspace-setting-detail/members.tsx
  packages/frontend/core/src/components/cloud/share-header-right-item/user-avatar.tsx
  packages/frontend/core/src/modules/cloud/entities/subscription.ts
Labels: app:server, app:core

#6633 fix(core): remove sidebar user avatar menu item's rightArrow icon
  packages/frontend/core/src/components/root-app-sidebar/user-info.tsx
Labels: app:core

#6643 feat: add mixpanel tracking for ai
  packages/frontend/core/src/components/blocksuite/block-suite-editor/ai/provider.ts
Labels: app:core

#6650 fix: copilot storage config
  packages/backend/server/src/config/affine.self.ts
Labels: app:server

#6632 feat(core): show login modal if not logged in when using ai
  packages/frontend/core/src/components/affine/auth/ai-login-required.tsx
  packages/frontend/core/src/components/blocksuite/block-suite-editor/ai/copilot-client.ts
  packages/frontend/core/src/providers/modal-provider.tsx
  packages/frontend/i18n/src/resources/en.json
Labels: mod:i18n, app:core

#6656 fix(server): use post request to consume magic link token
  packages/backend/server/src/core/auth/controller.ts
  packages/backend/server/src/core/auth/token.ts
  packages/backend/server/src/fundamentals/utils/request.ts
  packages/backend/server/tests/auth/controller.spec.ts
  packages/frontend/core/src/pages/magic-link.tsx
  packages/frontend/core/src/router.tsx
Labels: app:server, test, app:core

#6654 fix(core): fix home page init cloud
  packages/frontend/core/src/pages/index.tsx
Labels: app:core

#6652 feat(core): adjust workspace avatar style
  packages/frontend/core/src/components/affine/setting-modal/workspace-setting/new-workspace-setting-detail/profile.tsx
Labels: app:core

#6651 feat(core): adjust help island style
  packages/frontend/core/src/components/workspace/index.css.ts
  packages/frontend/core/src/modules/right-sidebar/view/container.tsx
Labels: app:core

#6658 fix(server): always return created timestamp of chat messages
  packages/backend/server/src/plugins/copilot/resolver.ts
  packages/backend/server/src/plugins/copilot/session.ts
  packages/backend/server/src/schema.gql
Labels: app:server

#6660 feat(core): try cloud link
  packages/frontend/core/src/pages/index.tsx
  packages/frontend/core/src/router.tsx
Labels: app:core

#6657 feat(core): add ai subscription landing page
  packages/frontend/core/src/components/affine/setting-modal/general-setting/plans/ai/actions/subscribe.tsx
  packages/frontend/core/src/components/affine/subscription-landing/index.tsx
  packages/frontend/core/src/components/affine/subscription-landing/styles.css.ts
  packages/frontend/core/src/pages/ai-upgrade-success.tsx
  packages/frontend/core/src/pages/upgrade-success.tsx
  packages/frontend/core/src/router.tsx
  packages/frontend/electron/renderer/app.tsx
  packages/frontend/i18n/src/resources/en.json
Labels: mod:i18n, app:electron, app:core

#6664 fix(server): update prompts
  packages/backend/server/src/data/migrations/1713777617122-update-prompts.ts
  packages/backend/server/src/data/migrations/utils/prompts.ts
Labels: app:server

#6661 feat(core): open desktop directly in subscription landing page
  packages/frontend/core/src/components/affine/setting-modal/general-setting/plans/ai/actions/subscribe.tsx
  packages/frontend/core/src/components/affine/subscription-landing/index.tsx
  packages/frontend/core/src/hooks/use-navigate-helper.ts
  packages/frontend/core/src/modules/cloud/stores/subscription.ts
  packages/frontend/electron/renderer/app.tsx
  packages/frontend/electron/src/main/deep-link.ts
Labels: app:electron, app:core

#6659 feat: provide closeStream
  packages/frontend/core/src/components/blocksuite/block-suite-editor/ai/copilot-client.ts
  packages/frontend/core/src/components/blocksuite/block-suite-editor/ai/request.ts
Labels: app:core

#6666 chore: bump blocksuite
  packages/common/env/package.json
  packages/common/infra/package.json
  packages/common/y-indexeddb/package.json
  packages/common/y-provider/package.json
  packages/frontend/component/package.json
  packages/frontend/core/package.json
  packages/frontend/electron/package.json
  packages/frontend/graphql/src/schema.ts
  tools/cli/package.json
  yarn.lock
Labels: mod:infra, mod:env, mod:component, app:electron, mod:dev, package:y-indexeddb, app:core

#6670 fix: history attachment query
  packages/backend/server/src/plugins/copilot/prompt.ts
  packages/backend/server/src/plugins/copilot/session.ts
  packages/backend/server/src/plugins/copilot/types.ts
Labels: app:server

#6653 feat: handle stream error
  packages/backend/server/src/plugins/copilot/controller.ts
Labels: app:server

#6663 fix: error handling in sse
  packages/frontend/core/src/components/blocksuite/block-suite-editor/ai/copilot-client.ts
  packages/frontend/core/src/components/blocksuite/block-suite-editor/ai/event-source.ts
Labels: app:core

#6671 chore: add copilot vision dev mode polyfill
  packages/backend/server/src/plugins/copilot/storage.ts
Labels: app:server

#6673 chore: bump blocksuite
  packages/common/env/package.json
  packages/common/infra/package.json
  packages/common/y-indexeddb/package.json
  packages/common/y-provider/package.json
  packages/frontend/component/package.json
  packages/frontend/core/package.json
  packages/frontend/electron/package.json
  tools/cli/package.json
  yarn.lock
Labels: mod:infra, mod:env, mod:component, app:electron, mod:dev, package:y-indexeddb, app:core
