Repository toeverything/AFFiNE, pull requests merged in 2024-03, with the labels that each got.

#5970 fix(storybook): fix storybook test
  packages/frontend/core/src/hooks/use-navigate-helper.ts
  tests/storybook/src/stories/core.stories.tsx
Labels: test, app:core

#5974 fix(core): update src in video tag to correct URL
  packages/frontend/core/src/components/affine/star-affine-modal/index.tsx
Labels: app:core

#5955 fix(core): fix page mode scroll bar
  packages/frontend/component/src/ui/scrollbar/index.css.ts
Labels: mod:component

#5973 fix: optimize history animation
  packages/frontend/core/src/components/affine/page-history-modal/history-modal.tsx
  packages/frontend/core/src/components/affine/page-history-modal/styles.css.ts
Labels: app:core

#5976 feat(core): separate runtimeConfig for e2e tests and deployment
  .github/workflows/build-test.yml
  packages/frontend/core/.webpack/runtime-config.ts
Labels: app:core

#5995 fix(core): some ui style issues
  packages/frontend/core/src/components/affine/page-history-modal/styles.css.ts
  packages/frontend/core/src/components/affine/page-properties/styles.css.ts
  packages/frontend/core/src/components/affine/page-properties/table.tsx
Labels: app:core

#5997 fix(electron): do not open external links in the browser for internal links in electron
  packages/frontend/electron/src/main/security-restrictions.ts
Labels: app:electron

#5994 feat(core): resize and reorder split-view
  packages/frontend/component/src/ui/menu/styles.css.ts
  packages/frontend/core/src/modules/workbench/entities/view.ts
  packages/frontend/core/src/modules/workbench/entities/workbench.ts
  packages/frontend/core/src/modules/workbench/view/split-view/indicator.css.ts
  packages/frontend/core/src/modules/workbench/view/split-view/indicator.tsx
  packages/frontend/core/src/modules/workbench/view/split-view/panel.tsx
  packages/frontend/core/src/modules/workbench/view/split-view/resize-handle.tsx
  packages/frontend/core/src/modules/workbench/view/split-view/split-view.css.ts
  packages/frontend/core/src/modules/workbench/view/split-view/split-view.tsx
  packages/frontend/core/src/modules/workbench/view/workbench-root.css.ts
  packages/frontend/core/src/modules/workbench/view/workbench-root.tsx
  packages/frontend/i18n/src/resources/en.json
Labels: mod:i18n, mod:component, test, app:core

#6004 fix(core): upgrade dialog close button layout level
  packages/frontend/component/src/ui/modal/styles.css.ts
Labels: mod:component

#5988 fix(core): dont break workspace when page load failed
  packages/frontend/core/src/components/page-list/use-block-suite-workspace-page.ts
Labels: app:core

#6001 fix(core): fix style break when scroll to block
  packages/frontend/component/src/components/workspace/index.css.ts
  packages/frontend/core/src/components/blocksuite/block-suite-editor/blocksuite-editor-container.tsx
Labels: mod:component, app:core

#6005 fix(electron): electron updater issues
  .github/workflows/release-desktop.yml
  packages/frontend/electron/scripts/generate-yml.js
  packages/frontend/electron/src/main/updater/electron-updater.ts
Labels: app:electron

#5968 feat(core): set journal's really created time
  packages/frontend/core/src/hooks/use-journal.ts
Labels: app:core

#6010 feat: bump blocksuite
  packages/common/env/package.json
  packages/common/infra/package.json
  packages/common/infra/src/initialization/index.ts
  packages/common/infra/src/workspace/__tests__/workspace.spec.ts
  packages/common/infra/src/workspace/engine/sync/__tests__/engine.spec.ts
  packages/common/infra/src/workspace/engine/sync/__tests__/peer.spec.ts
  packages/common/infra/src/workspace/global-schema.ts
  packages/common/y-indexeddb/package.json
  packages/common/y-indexeddb/src/__tests__/index.spec.ts
  packages/common/y-provider/package.json
  packages/frontend/component/package.json
  packages/frontend/core/.webpack/runtime-config.ts
  packages/frontend/core/package.json
  packages/frontend/core/src/components/page-list/__tests__/use-block-suite-page-preview.spec.ts
  packages/frontend/electron/package.json
  packages/frontend/electron/src/helper/db/migration.ts
  packages/frontend/workspace-impl/src/local/__tests__/engine.spec.ts
  packages/frontend/workspace-impl/src/local/__tests__/peer.spec.ts
  tests/storybook/package.json
  tests/storybook/src/stories/blocksuite-editor.stories.tsx
  tests/storybook/src/stories/page-info-properties.stories.tsx
  tests/storybook/src/stories/page-list.stories.tsx
  yarn.lock
Labels: mod:infra, mod:env, mod:component, app:electron, package:y-indexeddb, test, app:core, mod:workspace-impl

#6015 feat: bump blocksuite
  packages/common/env/package.json
  packages/common/infra/package.json
  packages/common/y-indexeddb/package.json
  packages/common/y-provider/package.json
  packages/frontend/component/package.json
  packages/frontend/core/package.json
  packages/frontend/core/src/components/blocksuite/block-suite-page-list/utils.tsx
  packages/frontend/electron/package.json
  tests/storybook/package.json
  yarn.lock
Labels: mod:infra, mod:env, mod:component, app:electron, package:y-indexeddb, test, app:core

#6016 build: remove incorrect project dep
  packages/frontend/core/project.json
Labels: app:core

#6017 build: do not fail build for a non-fatal error
  packages/frontend/electron/scripts/generate-assets.ts
Labels: app:electron

#6021 fix(component): journal header button no responce
  packages/frontend/component/src/theme/global.css
Labels: mod:component

#6019 fix(core): unexpected line breaks
  packages/frontend/core/src/components/pure/cmdk/use-highlight.ts
Labels: app:core

#6022 fix(core): fix journal missing after refresh
  packages/common/infra/src/workspace/engine/sync/engine.ts
  packages/frontend/core/src/pages/workspace/index.tsx
Labels: mod:infra, app:core

#6027 fix(core): fix falsy e2e
  packages/frontend/core/src/components/blocksuite/block-suite-editor/blocksuite-editor-container.tsx
Labels: app:core

#6011 fix: breaking function signature on showImportModal onSuceessHandler
  packages/frontend/core/src/components/blocksuite/block-suite-page-list/utils.tsx
Labels: app:core

#6025 fix(core): canvas font loading in desktop
  .github/workflows/deploy.yml
  packages/common/env/src/global.ts
  packages/frontend/core/.webpack/runtime-config.ts
  packages/frontend/core/src/components/blocksuite/block-suite-editor/specs.ts
Labels: mod:env, app:core

#6031 fix(core): fix cmdk not show current page
  packages/common/infra/src/livedata/react.ts
  packages/frontend/core/src/layouts/workspace-layout.tsx
Labels: mod:infra, app:core

#6033 fix(core): disable doc info and backlinks in readonly mode
  packages/frontend/core/src/components/affine/page-properties/table.tsx
  packages/frontend/core/src/components/blocksuite/block-suite-editor/lit-adaper.tsx
Labels: app:core

#6034 fix: backlinks jump
  packages/frontend/core/src/components/affine/reference-link/index.tsx
Labels: app:core

#6039 fix(native): needless borrows for generic args
  packages/frontend/native/src/hashcash.rs
Labels: rust, mod:native

#6040 fix(core): fix unit test
  scripts/setup/lottie-web.ts
Labels: mod:dev

#6035 fix(core): remove unexpected loading
  packages/frontend/core/src/modules/workbench/view/route-container.tsx
Labels: app:core

#6056 chore(component): simplify code
  packages/frontend/component/src/components/setting-components/workspace-detail-skeleton.tsx
  packages/frontend/component/src/components/setting-components/workspace-list-skeleton.tsx
Labels: mod:component

#6058 fix: divider styles issue
  packages/frontend/core/src/components/affine/page-properties/styles.css.ts
  packages/frontend/core/src/components/affine/setting-modal/workspace-setting/properties/styles.css.ts
Labels: app:core

#6036 fix(core): add view error boundary
  packages/frontend/core/src/components/affine/affine-error-boundary/error-fallbacks/no-page-root-fallback.tsx
  packages/frontend/core/src/components/blocksuite/block-suite-editor/blocksuite-editor.tsx
  packages/frontend/core/src/components/blocksuite/block-suite-editor/no-page-error.ts
  packages/frontend/core/src/modules/workbench/view/route-container.tsx
Labels: app:core

#5802 feat(electron): mica styles for windows
  packages/frontend/core/src/components/affine/app-container.tsx
  packages/frontend/core/src/components/affine/setting-modal/general-setting/appearance/index.tsx
  packages/frontend/core/src/components/root-app-sidebar/index.tsx
  packages/frontend/electron/src/main/main-window.ts
Labels: app:electron, mod:native, app:core

#6065 fix(electron): invalid isLinux function
  packages/frontend/electron/src/shared/utils.ts
Labels: app:electron

#6067 fix(core): fix missing windows controls
  packages/frontend/core/src/modules/workbench/view/route-container.tsx
Labels: app:core

#6070 fix(core): cannot scroll when dragging
  packages/frontend/core/src/components/blocksuite/block-suite-editor/lit-adaper.tsx
  packages/frontend/core/src/components/blocksuite/block-suite-editor/styles.css.ts
  packages/frontend/core/src/pages/workspace/detail-page/detail-page.css.ts
  packages/frontend/core/src/pages/workspace/detail-page/detail-page.tsx
Labels: app:core

#6071 fix(server): server startup on windows
  packages/backend/server/src/prelude.ts
Labels: app:server

#6085 fix(core): make sidebar switch transition smooth
  packages/frontend/core/src/components/app-sidebar/sidebar-header/sidebar-switch.css.ts
  packages/frontend/core/src/components/app-sidebar/sidebar-header/sidebar-switch.tsx
  packages/frontend/core/src/modules/workbench/view/route-container.css.ts
  packages/frontend/core/src/modules/workbench/view/route-container.tsx
Labels: app:core

#6086 fix(component): input focus implementation
  packages/frontend/component/src/ui/input/input.tsx
  packages/frontend/component/src/ui/input/style.css.ts
Labels: mod:component

#6088 fix(core): adjust suspense loading for some components
  packages/frontend/core/src/components/affine/setting-modal/index.tsx
  packages/frontend/core/src/components/affine/setting-modal/style.css.ts
  packages/frontend/core/src/components/pure/workspace-slider-bar/user-with-workspace-list/index.css.ts
  packages/frontend/core/src/components/pure/workspace-slider-bar/user-with-workspace-list/index.tsx
Labels: app:core

#6090 fix: experimental settings sometimes not show
  packages/frontend/core/src/components/affine/setting-modal/setting-sidebar/index.tsx
Labels: app:core

#6096 fix(core): fix tags includes missing error
  packages/frontend/core/src/components/page-list/use-tag-metas.ts
Labels: app:core

#6098 fix(server): server info api should be public
  packages/backend/server/src/app.controller.ts
Labels: app:server

#6083 feat(infra): livedata flatten
  packages/common/infra/src/livedata/__tests__/livedata.spec.ts
  packages/common/infra/src/livedata/index.ts
Labels: mod:infra, test

#6091 feat(infra): computed livedata
  packages/common/infra/src/livedata/__tests__/livedata.spec.ts
  packages/common/infra/src/livedata/index.ts
Labels: mod:infra, test

#6101 fix(server): user can not signup through oauth if ever invited
  packages/backend/server/migrations/20240313033631_user_registered_flag/migration.sql
  packages/backend/server/schema.prisma
  packages/backend/server/src/core/auth/controller.ts
  packages/backend/server/src/core/auth/current-user.ts
  packages/backend/server/src/core/auth/service.ts
  packages/backend/server/src/core/user/management.ts
  packages/backend/server/src/core/user/service.ts
  packages/backend/server/src/core/workspaces/resolvers/workspace.ts
  packages/backend/server/src/plugins/oauth/controller.ts
Labels: app:server

#6103 feat(server): user connected accounts migration
  packages/backend/server/src/data/migrations/1710319359062-oauth.ts
  packages/backend/server/src/data/migrations/utils/loop.ts
  packages/backend/server/src/plugins/oauth/controller.ts
Labels: app:server

#6066 fix: allow empty mailer password
  packages/backend/server/src/fundamentals/mailer/index.ts
  packages/backend/server/src/fundamentals/mailer/mailer.ts
Labels: app:server

#6102 fix(component): an input display issue in confirm dialog
  packages/frontend/component/src/ui/modal/styles.css.ts
Labels: mod:component

#6104 feat: blocksuite bump
  packages/common/env/package.json
  packages/common/infra/package.json
  packages/common/y-indexeddb/package.json
  packages/common/y-provider/package.json
  packages/frontend/component/package.json
  packages/frontend/core/package.json
  packages/frontend/electron/package.json
  tests/storybook/package.json
  yarn.lock
Labels: mod:infra, mod:env, mod:component, app:electron, package:y-indexeddb, test, app:core

#6109 fix(server): blob api should be public
  packages/backend/server/src/core/workspaces/controller.ts
Labels: app:server

#6110 fix(workspace): data loss (hot-fix)
  packages/common/workspace/src/engine/sync/peer.ts
  packages/frontend/core/src/pages/workspace/index.tsx
Labels: mod:workspace, app:core

#6112 feat: bump blocksuite
  packages/common/env/package.json
  packages/common/infra/package.json
  packages/common/y-indexeddb/package.json
  packages/common/y-provider/package.json
  packages/frontend/component/package.json
  packages/frontend/core/package.json
  packages/frontend/electron/package.json
  tests/storybook/package.json
  yarn.lock
Labels: mod:infra, mod:env, mod:component, app:electron, package:y-indexeddb, test, app:core

#6114 fix(workspace): avoid data loss (hot-fix)
  packages/common/infra/src/blocksuite/migration/fixing.ts
  packages/frontend/workspace-impl/src/local/sync-sqlite.ts
Labels: mod:infra, mod:workspace-impl

#6093 feat(core): add split view to experimental features settings
  packages/backend/server/src/core/features/management.ts
  packages/backend/server/src/core/user/resolver.ts
  packages/backend/server/src/schema.gql
  packages/common/infra/src/atom/settings.ts
  packages/frontend/core/src/components/affine/setting-modal/setting-sidebar/index.tsx
  packages/frontend/core/src/components/affine/setting-modal/workspace-setting/experimental-features/index.tsx
  packages/frontend/core/src/hooks/affine/use-user-features.ts
  packages/frontend/core/src/modules/workbench/view/workbench-link.tsx
  packages/frontend/graphql/src/graphql/get-user-features.gql
  packages/frontend/graphql/src/graphql/index.ts
  packages/frontend/graphql/src/schema.ts
  tests/affine-local/e2e/local-first-delete-workspace.spec.ts
Labels: mod:infra, app:server, test, app:core

#6113 feat(core): move blocksuite flags to experimental features
  packages/common/env/src/global.ts
  packages/common/infra/src/atom/settings.ts
  packages/common/infra/src/workspace/manager.ts
  packages/frontend/core/.webpack/runtime-config.ts
  packages/frontend/core/src/components/affine/setting-modal/workspace-setting/experimental-features/index.css.ts
  packages/frontend/core/src/components/affine/setting-modal/workspace-setting/experimental-features/index.tsx
Labels: mod:infra, mod:env, app:core

#6111 fix(infra): avoid data loss
  packages/common/infra/src/blocksuite/migration/fixing.ts
  packages/common/infra/src/workspace/engine/sync/engine.ts
  packages/common/infra/src/workspace/engine/sync/peer.ts
  packages/frontend/workspace-impl/src/cloud/sync.ts
  packages/frontend/workspace-impl/src/local/sync-sqlite.ts
  tests/affine-cloud/e2e/collaboration.spec.ts
Labels: mod:infra, test, mod:workspace-impl

#6076 feat(core): adjust split view ui
  packages/frontend/core/src/components/page-list/docs/virtualized-page-list.tsx
  packages/frontend/core/src/components/page-list/operation-cell.tsx
  packages/frontend/core/src/components/page-list/view/collection-operations.tsx
  packages/frontend/core/src/components/pure/workspace-slider-bar/components/operation-item.tsx
  packages/frontend/core/src/components/pure/workspace-slider-bar/components/operation-menu-button.tsx
  packages/frontend/core/src/modules/right-sidebar/view/container.css.ts
  packages/frontend/core/src/modules/right-sidebar/view/container.tsx
  packages/frontend/core/src/modules/workbench/entities/workbench.ts
  packages/frontend/core/src/modules/workbench/view/split-view/indicator.css.ts
  packages/frontend/core/src/modules/workbench/view/split-view/indicator.tsx
  packages/frontend/core/src/modules/workbench/view/split-view/panel.tsx
  packages/frontend/core/src/modules/workbench/view/split-view/split-view.css.ts
  packages/frontend/core/src/modules/workbench/view/split-view/split-view.tsx
  packages/frontend/i18n/src/resources/en.json
Labels: mod:i18n, app:core

#6118 feat(server): cleanup gateway code
  packages/backend/server/src/core/sync/events/events.gateway.ts
  packages/backend/server/src/core/workspaces/permission.ts
  packages/backend/server/src/fundamentals/metrics/utils.ts
  packages/frontend/workspace-impl/src/cloud/awareness.ts
  packages/frontend/workspace-impl/src/cloud/sync.ts
Labels: app:server, mod:workspace-impl

#6094 fix: update docs
  docs/developing-server.md
Labels: docs

#6117 fix(core): shared page's present button not working
  packages/frontend/core/src/pages/share/share-detail-page.tsx
Labels: app:core

#6128 fix(core): catch auth error
  packages/frontend/core/src/hooks/affine/use-current-user.ts
Labels: app:core

#6129 feat(core): allow switch workspace in loading fallback
  packages/frontend/core/src/app.tsx
  packages/frontend/core/src/components/app-sidebar/index.tsx
  packages/frontend/core/src/components/pure/workspace-slider-bar/workspace-card/styles.ts
  packages/frontend/core/src/components/root-app-sidebar/index.tsx
  packages/frontend/core/src/components/workspace-selector/index.tsx
  packages/frontend/core/src/pages/workspace/index.tsx
Labels: app:core

#6131 fix(core): fix active view undefined
  packages/frontend/core/src/modules/workbench/entities/workbench.ts
Labels: app:core

#6122 fix: note added with template should be edgeless only
  packages/frontend/templates/edgeless-snapshot/Brainstorming/SMART.zip
  packages/frontend/templates/edgeless-snapshot/Brainstorming/SWOT.zip
  packages/frontend/templates/edgeless-snapshot/Marketing/4P Marketing Matrix.zip
  packages/frontend/templates/edgeless-snapshot/Marketing/Storyboard.zip
  packages/frontend/templates/edgeless-snapshot/Marketing/User Journey Map.zip
  packages/frontend/templates/edgeless-snapshot/Project Management/Fishbone Diagram.zip
  packages/frontend/templates/edgeless-snapshot/Project Management/Gantt Chart.zip
  packages/frontend/templates/edgeless-snapshot/Project Management/Monthly Calendar.zip
  packages/frontend/templates/edgeless-snapshot/Project Management/Project Planning.zip
  packages/frontend/templates/edgeless-snapshot/Project Management/Project Tracking Kanban.zip
Labels: docs

#5979 fix(server): wrap read-modify-write apis with distributed lock
  packages/backend/server/src/app.module.ts
  packages/backend/server/src/core/features/feature.ts
  packages/backend/server/src/core/quota/quota.ts
  packages/backend/server/src/core/quota/service.ts
  packages/backend/server/src/core/user/service.ts
  packages/backend/server/src/core/workspaces/resolvers/workspace.ts
  packages/backend/server/src/fundamentals/error/index.ts
  packages/backend/server/src/fundamentals/error/too-many-requests.ts
  packages/backend/server/src/fundamentals/graphql/index.ts
  packages/backend/server/src/fundamentals/index.ts
  packages/backend/server/src/fundamentals/mutex/bucket.ts
  packages/backend/server/src/fundamentals/mutex/index.ts
  packages/backend/server/src/fundamentals/mutex/mutex.ts
  packages/backend/server/src/fundamentals/prisma/index.ts
  packages/backend/server/src/plugins/redis/index.ts
  packages/backend/server/src/plugins/redis/instances.ts
  packages/backend/server/src/plugins/redis/mutex.ts
  packages/backend/server/tests/tsconfig.json
  packages/backend/server/tests/workspace-invite.e2e.ts
  packages/backend/server/tsconfig.json
Labels: app:server, test

#6134 fix(core): catch page load error
  packages/frontend/core/src/hooks/use-block-suite-workspace-page.ts
Labels: app:core

#6123 feat: bump blocksuite
  packages/common/env/package.json
  packages/common/infra/package.json
  packages/common/y-indexeddb/package.json
  packages/common/y-provider/package.json
  packages/frontend/component/package.json
  packages/frontend/core/package.json
  packages/frontend/core/src/components/affine/setting-modal/workspace-setting/experimental-features/index.tsx
  packages/frontend/electron/package.json
  tests/storybook/package.json
  yarn.lock
Labels: mod:infra, mod:env, mod:component, app:electron, package:y-indexeddb, test, app:core

#6137 build(core): add source-map-loader for blocksuite codes
  packages/frontend/core/.webpack/config.ts
Labels: app:core

#6144 fix(core): fix error when switch to local workspace
  packages/frontend/core/src/components/app-sidebar/fallback.css.ts
  packages/frontend/core/src/providers/modal-provider.tsx
Labels: app:core

#6138 fix: use the esc shortcut to exit in create collection dialog
  packages/frontend/core/src/components/page-list/view/create-collection.tsx
Labels: app:core

#6143 feat: support esc shortcut on input-edit
  packages/frontend/component/src/ui/editable/inline-edit.tsx
  packages/frontend/core/src/components/blocksuite/block-suite-header/title/index.tsx
Labels: mod:component, app:core

#6161 fix(server): hotfix
  packages/backend/server/src/core/auth/service.ts
  packages/backend/server/src/plugins/payment/webhook.ts
Labels: app:server

#6163 fix(server): ensure selfhost admin created after all data migrated
  packages/backend/server/src/data/commands/run.ts
  packages/backend/server/src/data/migrations/99999999-self-host-admin.ts
Labels: app:server

#6157 fix(core): sync list titles in sidebar
  packages/frontend/component/src/components/rename-modal/index.tsx
  packages/frontend/core/src/components/pure/workspace-slider-bar/components/operation-item.tsx
Labels: mod:component, app:core

#6166 fix(electron): add dedicated api for opening external links in the default browser
  packages/frontend/core/src/utils/cloud-utils.tsx
  packages/frontend/electron/src/main/ui/handlers.ts
Labels: app:electron, app:core

#6165 fix(electron): disable mica for windows for now
  packages/frontend/core/src/commands/affine-settings.tsx
  packages/frontend/core/src/components/affine/app-container.tsx
  packages/frontend/core/src/components/affine/setting-modal/general-setting/appearance/index.tsx
  packages/frontend/core/src/components/root-app-sidebar/index.tsx
  packages/frontend/electron/src/main/main-window.ts
Labels: app:electron, app:core

#6124 refactor(component): render react element into lit
  packages/frontend/component/src/lit-react/index.ts
  packages/frontend/component/src/lit-react/lit-portal/index.ts
  packages/frontend/component/src/lit-react/lit-portal/lite-portal.tsx
  packages/frontend/core/src/components/affine/reference-link/index.tsx
  packages/frontend/core/src/components/blocksuite/block-suite-editor/blocksuite-editor.tsx
  packages/frontend/core/src/components/blocksuite/block-suite-editor/lit-adaper.tsx
  packages/frontend/core/src/components/blocksuite/block-suite-editor/specs.ts
Labels: mod:component, app:core

#6133 e2e(core): add test for split view
  packages/common/infra/src/atom/settings.ts
  packages/frontend/core/src/modules/workbench/view/workbench-link.tsx
  tests/affine-desktop/e2e/basic.spec.ts
  tests/affine-desktop/playwright.config.ts
Labels: mod:infra, test, app:core

#6168 fix(server): hotfix auth & doc push
  packages/backend/server/src/core/auth/guard.ts
  packages/backend/server/src/core/doc/manager.ts
Labels: app:server

#6169 chore(server): organize server configs
  docs/developing-server.md
  packages/backend/server/src/config/affine.self.ts
  packages/backend/server/src/config/affine.ts
  packages/backend/server/src/core/utils/validators.ts
  packages/backend/server/src/data/index.ts
  packages/backend/server/src/fundamentals/config/def.ts
  packages/backend/server/src/fundamentals/config/default.ts
Labels: docs, app:server

#6142 fix(server): wrap read-modify-write apis with distributed lock
  packages/backend/server/src/app.module.ts
  packages/backend/server/src/core/features/feature.ts
  packages/backend/server/src/core/quota/quota.ts
  packages/backend/server/src/core/quota/service.ts
  packages/backend/server/src/core/user/service.ts
  packages/backend/server/src/core/workspaces/resolvers/workspace.ts
  packages/backend/server/src/fundamentals/error/index.ts
  packages/backend/server/src/fundamentals/error/too-many-requests.ts
  packages/backend/server/src/fundamentals/graphql/index.ts
  packages/backend/server/src/fundamentals/index.ts
  packages/backend/server/src/fundamentals/mutex/bucket.ts
  packages/backend/server/src/fundamentals/mutex/index.ts
  packages/backend/server/src/fundamentals/mutex/mutex.ts
  packages/backend/server/src/fundamentals/prisma/index.ts
  packages/backend/server/src/plugins/redis/index.ts
  packages/backend/server/src/plugins/redis/instances.ts
  packages/backend/server/src/plugins/redis/mutex.ts
  packages/backend/server/tests/tsconfig.json
  packages/backend/server/tests/workspace-invite.e2e.ts
  packages/backend/server/tsconfig.json
Labels: app:server, test

#6140 fix(server): inject correct locker to request scope mutex
  packages/backend/server/src/fundamentals/index.ts
  packages/backend/server/src/fundamentals/mutex/bucket.ts
  packages/backend/server/src/fundamentals/mutex/index.ts
  packages/backend/server/src/fundamentals/mutex/local-lock.ts
  packages/backend/server/src/fundamentals/mutex/lock.ts
  packages/backend/server/src/fundamentals/mutex/mutex.ts
  packages/backend/server/src/fundamentals/utils/promise.ts
  packages/backend/server/src/plugins/redis/index.ts
  packages/backend/server/src/plugins/redis/instances.ts
  packages/backend/server/src/plugins/redis/mutex.ts
Labels: app:server, test

#6145 fix(server): handle expired lock re-release & external locker injection
  packages/backend/server/src/fundamentals/mutex/index.ts
  packages/backend/server/src/fundamentals/mutex/mutex.ts
  packages/backend/server/src/plugins/redis/mutex.ts
Labels: app:server

#6170 chore: bump base version to 0.14.0
  .github/helm/affine/Chart.yaml
  .github/helm/affine/charts/graphql/Chart.yaml
  .github/helm/affine/charts/sync/Chart.yaml
  docs/reference/package.json
  package.json
  packages/backend/server/package.json
  packages/backend/storage/package.json
  packages/common/debug/package.json
  packages/common/env/package.json
  packages/common/infra/package.json
  packages/common/y-indexeddb/package.json
  packages/common/y-provider/package.json
  packages/frontend/component/package.json
  packages/frontend/core/package.json
  packages/frontend/electron-api/package.json
  packages/frontend/electron/package.json
  packages/frontend/graphql/package.json
  packages/frontend/i18n/package.json
  packages/frontend/native/package.json
  packages/frontend/templates/package.json
  packages/frontend/workspace-impl/package.json
  tests/affine-cloud/package.json
  tests/affine-desktop-cloud/package.json
  tests/affine-desktop/package.json
  tests/affine-legacy/0.6.1-beta.1/package.json
  tests/affine-legacy/0.7.0-canary.18/package.json
  tests/affine-legacy/0.8.0-canary.7/package.json
  tests/affine-legacy/0.8.4/package.json
  tests/affine-local/package.json
  tests/affine-migration/package.json
  tests/fixtures/package.json
  tests/kit/package.json
  tests/storybook/package.json
  tools/@types/env/package.json
  tools/bump-blocksuite/package.json
  tools/cli/package.json
  tools/commitlint/package.json
  tools/workers/package.json
Labels: mod:infra, docs, mod:i18n, mod:env, mod:component, app:electron, mod:dev, package:y-indexeddb, app:server, test, mod:storage, mod:native, app:core, mod:workspace-impl

#6188 fix(server): do not force sign in password length
  packages/backend/server/src/core/auth/controller.ts
  packages/backend/server/src/core/auth/resolver.ts
Labels: app:server

#6082 refactor(core): split web entry from core
  .github/actions/download-web/action.yml
  .github/deployment/front/Dockerfile
  .github/deployment/node/Dockerfile
  .github/workflows/build-test.yml
  .github/workflows/deploy.yml
  .github/workflows/release-desktop.yml
  package.json
  packages/backend/server/package.json
  packages/common/env/src/global.ts
  packages/frontend/component/.storybook/main.ts
  packages/frontend/component/package.json
  packages/frontend/core/package.json
  packages/frontend/core/src/hooks/use-app-config-storage.ts
  packages/frontend/core/src/index.tsx
  packages/frontend/core/src/web.ts
  packages/frontend/electron/package.json
  packages/frontend/electron/renderer/app.tsx
  packages/frontend/electron/renderer/index.tsx
  packages/frontend/electron/renderer/tsconfig.json
  packages/frontend/electron/scripts/generate-assets.ts
  packages/frontend/electron/tsconfig.json
  packages/frontend/templates/build-edgeless.mjs
  packages/frontend/templates/package.json
  packages/frontend/web/package.json
  packages/frontend/web/project.json
  packages/frontend/web/src/app.tsx
  packages/frontend/web/src/index.tsx
  packages/frontend/web/src/polyfill/intl-segmenter.ts
  packages/frontend/web/src/polyfill/request-idle-callback.ts
  packages/frontend/web/src/polyfill/resize-observer.ts
  packages/frontend/web/tsconfig.json
  scripts/download-blocksuite-fonts.mjs
  scripts/setup/global.ts
  tests/storybook/.storybook/main.ts
  tests/storybook/package.json
  tests/storybook/tsconfig.json
  tools/cli/package.json
  tools/cli/src/bin/build-core.mjs
  tools/cli/src/bin/build.ts
  tools/cli/src/bin/dev-core.mjs
  tools/cli/src/bin/dev-core.ts
  tools/cli/src/bin/dev.ts
  tools/cli/src/config/index.ts
  tools/cli/src/webpack/cache-group.ts
  tools/cli/src/webpack/config.ts
  tools/cli/src/webpack/postcss.config.cjs
  tools/cli/src/webpack/runtime-config.ts
  tools/cli/src/webpack/s3-plugin.ts
  tools/cli/src/webpack/template.html
  tools/cli/src/webpack/webpack.config.ts
  tools/cli/tsconfig.json
  tsconfig.json
  tsconfig.node.json
  yarn.lock
Labels: docs, mod:env, mod:component, app:electron, mod:dev, app:server, test, app:core

#6079 refactor(core): refactor tag to use di
  packages/common/env/src/filter.ts
  packages/frontend/core/src/components/affine/page-properties/common.ts
  packages/frontend/core/src/components/affine/page-properties/property-row-value-renderer.tsx
  packages/frontend/core/src/components/affine/page-properties/tags-inline-editor.tsx
  packages/frontend/core/src/components/page-list/docs/page-list-header.tsx
  packages/frontend/core/src/components/page-list/docs/page-list-item.tsx
  packages/frontend/core/src/components/page-list/docs/page-tags.tsx
  packages/frontend/core/src/components/page-list/docs/virtualized-page-list.tsx
  packages/frontend/core/src/components/page-list/index.tsx
  packages/frontend/core/src/components/page-list/tags/create-tag.tsx
  packages/frontend/core/src/components/page-list/tags/tag-list-item.tsx
  packages/frontend/core/src/components/page-list/tags/virtualized-tag-list.tsx
  packages/frontend/core/src/components/page-list/types.ts
  packages/frontend/core/src/components/page-list/use-tag-metas.ts
  packages/frontend/core/src/components/page-list/utils.tsx
  packages/frontend/core/src/modules/services.ts
  packages/frontend/core/src/modules/tag/entities/tag.ts
  packages/frontend/core/src/modules/tag/entities/utils.ts
  packages/frontend/core/src/modules/tag/index.ts
  packages/frontend/core/src/modules/tag/service/tag.ts
  packages/frontend/core/src/modules/workspace/properties/legacy-properties.ts
  packages/frontend/core/src/pages/workspace/all-tag/index.tsx
  packages/frontend/core/src/pages/workspace/tag/index.tsx
  tests/storybook/src/stories/page-list.stories.tsx
Labels: mod:env, test, app:core

#6196 fix(core): page info should use sans font (inter)
  packages/frontend/core/src/components/affine/page-properties/styles.css.ts
Labels: app:core

#6197 fix(core): tag size in docs view
  packages/frontend/core/src/components/page-list/docs/page-tags.css.ts
Labels: app:core

#6218 feat(electron): enable css text autospace
  packages/frontend/electron/src/main/index.ts
Labels: app:electron

#6220 feat(core): open new page on meta-clicking a page link
  packages/frontend/core/src/modules/workbench/entities/workbench.ts
  packages/frontend/core/src/modules/workbench/view/workbench-link.tsx
  packages/frontend/core/src/modules/workbench/view/workbench-root.tsx
Labels: app:core

#6227 fix(server): wrong google oauth param
  packages/backend/server/src/plugins/oauth/providers/google.ts
Labels: app:server

#6231 fix(server): decode uri component before verify token
  packages/backend/server/src/core/auth/controller.ts
Labels: app:server

#6224 fix(electron): optimize electron open/close on mac
  packages/frontend/electron/src/main/application-menu/create.ts
  packages/frontend/electron/src/main/index.ts
  packages/frontend/electron/src/main/main-window.ts
  packages/frontend/electron/src/main/ui/handlers.ts
  packages/frontend/electron/src/main/windows-manager/launcher.ts
Labels: app:electron, app:core

#6199 feat(electron): add isMaximized flag to html
  packages/frontend/core/src/bootstrap/setup.ts
  packages/frontend/electron-api/src/index.ts
  packages/frontend/electron/src/main/main-window.ts
  packages/frontend/electron/src/main/ui/handlers.ts
Labels: app:electron, app:core

#6193 feat(core): update split view icons and texts
  packages/frontend/core/package.json
  packages/frontend/core/src/modules/workbench/view/split-view/panel.tsx
  packages/frontend/i18n/src/resources/en.json
  yarn.lock
Labels: mod:i18n, app:core

#6234 build: add sourceMaps and inlineSourcesContent option to swc
  packages/frontend/templates/templates.gen.ts
  tools/cli/src/webpack/config.ts
Labels: docs, mod:dev

#6200 fix(electron): menu item position on Mac when fullscreen
  packages/frontend/core/src/components/app-sidebar/index.css.ts
Labels: app:core

#6217 fix(core): resize-handle remains interactive when dragging split-view
  packages/frontend/core/src/modules/workbench/view/split-view/split-view.css.ts
Labels: app:core

#6201 fix: move traffic lights based on zoom level
  packages/frontend/core/src/bootstrap/setup.ts
  packages/frontend/electron/src/main/main-window.ts
  packages/frontend/electron/src/main/ui/handlers.ts
Labels: app:electron, app:core

#6226 fix(core): change cursor when hovering the area blow editor
  packages/frontend/core/src/components/blocksuite/block-suite-editor/styles.css.ts
Labels: app:core

#6248 feat(server): add timestamp in load doc event
  packages/backend/server/src/core/doc/manager.ts
  packages/backend/server/src/core/sync/events/events.gateway.ts
  packages/backend/server/src/core/workspaces/controller.ts
  packages/backend/server/tests/doc.spec.ts
Labels: app:server, test

#6247 ci: fix isSelfHosted does not take effect
  packages/frontend/core/.webpack/runtime-config.ts
Labels: app:core

#6249 ci: fix isSelfHosted does not take effect
  tools/cli/src/webpack/runtime-config.ts
Labels: mod:dev

#6253 fix(electron): linux crash on exiting presentation mode
  packages/frontend/electron/src/main/main-window.ts
Labels: app:electron

#6239 ci: set private key from env
  .github/actions/deploy/deploy.mjs
  .github/helm/affine/charts/graphql/templates/_helpers.tpl
  .github/helm/affine/charts/graphql/templates/deployment.yaml
  .github/helm/affine/charts/graphql/templates/jwt-secret.yaml
  .github/helm/affine/charts/graphql/templates/secret.yaml
  .github/helm/affine/charts/graphql/values.yaml
  .github/helm/affine/charts/sync/templates/deployment.yaml
  .github/helm/affine/charts/sync/values.yaml
  .github/helm/affine/values.yaml
  docs/developing-server.md
  packages/backend/server/scripts/self-host-predeploy.js
  packages/backend/server/src/fundamentals/config/default.ts
  tests/affine-cloud/playwright.config.ts
  tests/affine-desktop-cloud/playwright.config.ts
Labels: docs, app:server, test

#6257 fix(electron): add icon for AppImage build
  packages/frontend/electron/forge.config.mjs
  packages/frontend/electron/package.json
  packages/frontend/electron/resources/icons/icon_beta_64x64.png
  packages/frontend/electron/resources/icons/icon_canary_64x64.png
  packages/frontend/electron/resources/icons/icon_internal_64x64.png
  packages/frontend/electron/resources/icons/icon_stable_64x64.png
  packages/frontend/electron/scripts/make-env.ts
  packages/frontend/electron/src/main/main-window.ts
  yarn.lock
Labels: app:electron

#6262 feat(core): save user habits in right sidebar
  packages/frontend/core/src/modules/right-sidebar/entities/right-sidebar.ts
  packages/frontend/core/src/modules/services.ts
  packages/frontend/core/src/pages/workspace/detail-page/detail-page.tsx
Labels: app:core

#6191 fix(server): avoid error when other prices added but logic is not released
  packages/backend/server/src/plugins/payment/resolver.ts
  packages/backend/server/src/plugins/payment/service.ts
  packages/backend/server/src/schema.gql
  packages/frontend/core/src/components/affine/setting-modal/general-setting/billing/index.tsx
  packages/frontend/core/src/components/affine/setting-modal/general-setting/plans/index.tsx
  packages/frontend/graphql/src/schema.ts
Labels: app:server, app:core

#6216 feat(server): support ai plan
  packages/backend/server/migrations/20240319104623_user_subscriptions/migration.sql
  packages/backend/server/schema.prisma
  packages/backend/server/src/plugins/payment/resolver.ts
  packages/backend/server/src/plugins/payment/service.ts
  packages/backend/server/src/plugins/payment/types.ts
  packages/backend/server/src/schema.gql
Labels: app:server

#6202 chore(core): add mixpanel track
  .github/workflows/deploy.yml
  .github/workflows/release-desktop.yml
  packages/backend/server/package.json
  packages/backend/server/src/app.ts
  packages/backend/server/src/fundamentals/config/def.ts
  packages/backend/server/src/fundamentals/config/default.ts
  packages/frontend/core/package.json
  packages/frontend/core/src/components/affine/auth/sign-in.tsx
  packages/frontend/core/src/components/affine/quota-reached-modal/cloud-quota-modal.tsx
  packages/frontend/core/src/providers/modal-provider.tsx
  packages/frontend/core/src/providers/session-provider.tsx
  packages/frontend/core/src/router.tsx
  packages/frontend/core/src/utils/index.ts
  packages/frontend/core/src/utils/mixpanel.ts
  packages/frontend/electron/package.json
  packages/frontend/electron/renderer/app.tsx
  packages/frontend/web/package.json
  packages/frontend/web/src/app.tsx
  tests/storybook/src/stories/core.stories.tsx
  tests/storybook/src/stories/page-list.stories.tsx
  yarn.lock
Labels: app:electron, app:server, test, app:core

#6222 chore(core): disable onborading on the web
  packages/frontend/core/src/pages/index.tsx
Labels: app:core

#6267 chore(core): add telemetry switch
  packages/common/infra/src/atom/settings.ts
  packages/frontend/core/src/components/affine/setting-modal/general-setting/about/index.tsx
  packages/frontend/i18n/src/resources/en.json
Labels: mod:infra, mod:i18n, app:core

#6203 chore(core): remove unused dependencies
  packages/frontend/core/package.json
  yarn.lock
Labels: app:core

#6274 fix(core): storybook build issue
  packages/frontend/component/.storybook/main.ts
  packages/frontend/component/.storybook/polyfill.ts
  packages/frontend/component/.storybook/preview.tsx
  packages/frontend/component/package.json
  tests/storybook/.storybook/main.ts
  tests/storybook/.storybook/polyfill.ts
  tests/storybook/.storybook/preview.tsx
  tests/storybook/package.json
  yarn.lock
Labels: mod:component, test

#6268 feat(core): add confirm modal for delete tag action
  packages/frontend/core/src/components/affine/page-properties/tags-inline-editor.tsx
  packages/frontend/core/src/components/page-list/operation-cell.tsx
  packages/frontend/core/src/components/page-list/tags/virtualized-tag-list.tsx
  packages/frontend/core/src/modules/tag/index.ts
  packages/frontend/core/src/modules/tag/view/delete-tag-modal.tsx
  packages/frontend/core/src/pages/workspace/all-tag/index.tsx
  packages/frontend/i18n/src/resources/en.json
Labels: mod:i18n, app:core

#6263 fix(core): do not ensure properties on read
  packages/frontend/core/src/components/affine/page-properties/page-properties-manager.ts
  packages/frontend/core/src/modules/workspace/properties/adapter.ts
  packages/frontend/core/src/modules/workspace/properties/schema.ts
Labels: app:core

#6259 fix(core): creating multiple workspaces with consecutive clicks
  packages/frontend/core/src/components/affine/create-workspace-modal/index.tsx
Labels: app:core

#6270 chore: fix renderer entry path not found in desktop development
  tools/cli/src/bin/dev.ts
Labels: mod:dev

#6225 chore(core): add oauth connecting state
  packages/frontend/core/src/components/affine/auth/oauth.tsx
Labels: app:core

#6245 feat: open about page in setting modal when click about menu
  packages/frontend/core/src/providers/modal-provider.tsx
  packages/frontend/electron/src/main/application-menu/create.ts
  packages/frontend/electron/src/main/application-menu/index.ts
  packages/frontend/electron/src/main/application-menu/subject.ts
  packages/frontend/electron/src/main/main-window.ts
Labels: app:electron, app:core

#6289 fix(electron): set referer and origin headers for electron
  packages/frontend/electron/src/main/protocol.ts
Labels: app:electron

#6292 fix(core): image preview flaky
  tests/affine-local/e2e/image-preview.spec.ts
  tests/kit/utils/page-logic.ts
Labels: test

#6293 fix(core): fix flaky e2e
  packages/frontend/core/src/components/affine/page-history-modal/history-modal.tsx
  tests/affine-cloud/e2e/page-history.spec.ts
Labels: test, app:core

#6282 chore(electron): config vitest swc
  packages/frontend/electron/package.json
  packages/frontend/electron/vitest.config.ts
  yarn.lock
Labels: app:electron

#6287 feat(electron): define runtimeConfig in esbuild
  packages/common/env/tsconfig.json
  packages/frontend/electron/scripts/build-layers.ts
  packages/frontend/electron/scripts/common.ts
  packages/frontend/electron/tsconfig.json
  packages/frontend/electron/tsconfig.node.json
  packages/frontend/electron/tsconfig.test.json
Labels: mod:env, app:electron

#6281 feat(infra): livedata effect
  packages/common/infra/src/livedata/effect/__tests__/effect.spec.ts
  packages/common/infra/src/livedata/effect/index.ts
  packages/common/infra/src/livedata/index.ts
  packages/common/infra/src/livedata/livedata.ts
  packages/common/infra/src/livedata/ops.ts
  packages/common/infra/src/livedata/react.ts
Labels: mod:infra, test

#6228 feat(core): add page group and display properties
  packages/frontend/core/src/components/page-list/collections/virtualized-collection-list.tsx
  packages/frontend/core/src/components/page-list/components/list-header-cell.css.ts
  packages/frontend/core/src/components/page-list/components/list-header-cell.tsx
  packages/frontend/core/src/components/page-list/components/page-display-menu.css.ts
  packages/frontend/core/src/components/page-list/components/page-display-menu.tsx
  packages/frontend/core/src/components/page-list/docs/page-list-item.tsx
  packages/frontend/core/src/components/page-list/docs/virtualized-page-list.tsx
  packages/frontend/core/src/components/page-list/group-definitions.css.ts
  packages/frontend/core/src/components/page-list/group-definitions.tsx
  packages/frontend/core/src/components/page-list/header-col-def.tsx
  packages/frontend/core/src/components/page-list/index.tsx
  packages/frontend/core/src/components/page-list/items-to-item-group.tsx
  packages/frontend/core/src/components/page-list/list.css.ts
  packages/frontend/core/src/components/page-list/list.tsx
  packages/frontend/core/src/components/page-list/page-group.css.ts
  packages/frontend/core/src/components/page-list/page-header.tsx
  packages/frontend/core/src/components/page-list/scoped-atoms.tsx
  packages/frontend/core/src/components/page-list/tags/virtualized-tag-list.tsx
  packages/frontend/core/src/components/page-list/types.ts
  packages/frontend/core/src/components/page-list/use-page-display-properties.ts
  packages/frontend/core/src/components/page-list/utils.tsx
  packages/frontend/core/src/components/page-list/view/edit-collection/pages-mode.tsx
  packages/frontend/core/src/components/page-list/view/edit-collection/rules-mode.tsx
  packages/frontend/core/src/components/page-list/view/edit-collection/select-page.tsx
  packages/frontend/core/src/pages/workspace/all-page/all-page-header.tsx
  packages/frontend/core/src/pages/workspace/all-page/all-page.css.ts
  packages/frontend/core/src/pages/workspace/trash-page.tsx
  packages/frontend/i18n/src/resources/en.json
  tests/affine-local/e2e/all-page.spec.ts
  tests/storybook/src/stories/page-list.stories.tsx
Labels: mod:i18n, test, app:core

#6296 fix(core): edit tag input autofocus
  packages/frontend/core/src/components/page-list/tags/create-tag.tsx
Labels: app:core

#6294 feat: bump blocksuite
  packages/common/env/package.json
  packages/common/infra/package.json
  packages/common/y-indexeddb/package.json
  packages/common/y-provider/package.json
  packages/frontend/component/package.json
  packages/frontend/core/package.json
  packages/frontend/core/src/components/blocksuite/block-suite-editor/blocksuite-editor-container.tsx
  packages/frontend/electron/package.json
  tests/storybook/package.json
  tools/cli/package.json
  tools/cli/src/webpack/config.ts
  yarn.lock
Labels: mod:infra, mod:env, mod:component, app:electron, mod:dev, package:y-indexeddb, test, app:core

#6300 fix(core): storybook stability for date
  tests/storybook/package.json
  tests/storybook/src/stories/core.stories.tsx
  tests/storybook/src/stories/image-preview-modal.stories.tsx
  yarn.lock
Labels: test

#6162 feat(core): adjust app sidebar's style
  packages/frontend/component/src/components/resize-panel/resize-panel.css.ts
  packages/frontend/core/src/components/app-sidebar/index.tsx
  packages/frontend/core/src/components/root-app-sidebar/index.tsx
  packages/frontend/core/src/components/workspace/index.css.ts
  packages/frontend/core/src/components/workspace/index.tsx
  packages/frontend/core/src/layouts/workspace-layout.tsx
Labels: mod:component, app:core

#6301 fix(core): hidden modals when workspace fallback
  packages/frontend/core/src/pages/workspace/index.tsx
Labels: app:core

#6305 fix(electron): fix electron build
  packages/frontend/electron/package.json
  packages/frontend/electron/scripts/common.ts
Labels: app:electron

#6306 fix: runtime issue for electron app
  packages/common/infra/package.json
  packages/frontend/electron/src/helper/db/base-db-adapter.ts
  packages/frontend/electron/src/helper/db/migration.ts
  packages/frontend/electron/src/helper/dialog/dialog.ts
  packages/frontend/electron/src/main/config-storage/persist.ts
  packages/frontend/electron/tsconfig.json
Labels: mod:infra, app:electron

#6135 test(server): auth tests
  packages/backend/server/src/core/auth/controller.ts
  packages/backend/server/src/core/auth/index.ts
  packages/backend/server/src/core/auth/resolver.ts
  packages/backend/server/src/core/auth/service.ts
  packages/backend/server/src/core/auth/token.ts
  packages/backend/server/src/fundamentals/config/def.ts
  packages/backend/server/src/fundamentals/prisma/index.ts
  packages/backend/server/src/fundamentals/prisma/service.ts
  packages/backend/server/src/plugins/oauth/controller.ts
  packages/backend/server/src/plugins/oauth/register.ts
  packages/backend/server/tests/auth/controller.spec.ts
  packages/backend/server/tests/auth/guard.spec.ts
  packages/backend/server/tests/auth/service.spec.ts
  packages/backend/server/tests/auth/token.spec.ts
  packages/backend/server/tests/oauth/controller.spec.ts
  packages/backend/server/tests/utils/user.ts
  packages/backend/server/tests/utils/utils.ts
  packages/backend/server/tests/workspace-invite.e2e.ts
  packages/frontend/templates/templates.gen.ts
Labels: docs, app:server, test

#6307 fix(electron): possible issue on openning two main windows
  packages/frontend/electron/src/main/main-window.ts
Labels: app:electron

#6313 fix(core): add env info to tracks
  packages/frontend/core/src/router.tsx
  tools/cli/src/webpack/config.ts
Labels: mod:dev, app:core

#6311 fix: button should have its font-family inherited
  packages/frontend/component/src/theme/global.css
Labels: mod:component

#6315 fix(core): tag color should use palette-line-color
  packages/frontend/core/src/modules/tag/entities/tag.ts
Labels: app:core

#6297 chore(server): cache blob list result
  packages/backend/server/src/core/storage/wrappers/blob.ts
Labels: app:server

#6314 chore: bump oxlint and rules
  package.json
  packages/frontend/component/src/ui/checkbox/checkbox.tsx
  yarn.lock
Labels: mod:component

#6251 feat(core): refactor sidebar header
  packages/frontend/component/src/components/card/workspace-card/index.tsx
  packages/frontend/component/src/components/card/workspace-card/styles.css.ts
  packages/frontend/component/src/components/card/workspace-card/styles.ts
  packages/frontend/component/src/ui/avatar/style.css.ts
  packages/frontend/core/public/imgs/unknown-user.svg
  packages/frontend/core/src/components/app-sidebar/fallback.css.ts
  packages/frontend/core/src/components/pure/workspace-slider-bar/user-with-workspace-list/index.tsx
  packages/frontend/core/src/components/pure/workspace-slider-bar/user-with-workspace-list/user-account/index.tsx
  packages/frontend/core/src/components/pure/workspace-slider-bar/user-with-workspace-list/workspace-list/index.css.ts
  packages/frontend/core/src/components/pure/workspace-slider-bar/user-with-workspace-list/workspace-list/index.tsx
  packages/frontend/core/src/components/pure/workspace-slider-bar/workspace-card/index.tsx
  packages/frontend/core/src/components/pure/workspace-slider-bar/workspace-card/styles.css.ts
  packages/frontend/core/src/components/pure/workspace-slider-bar/workspace-card/styles.ts
  packages/frontend/core/src/components/root-app-sidebar/index.css.ts
  packages/frontend/core/src/components/root-app-sidebar/index.tsx
  packages/frontend/core/src/components/root-app-sidebar/user-info.tsx
  packages/frontend/core/src/modules/navigation/view/navigation-buttons.css.ts
  tests/affine-cloud/e2e/login.spec.ts
  tests/affine-local/e2e/image-preview.spec.ts
  tests/kit/utils/sidebar.ts
Labels: mod:infra, docs, mod:component, mod:store, app:server, test, app:core

#6255 chore: improve password error message
  packages/backend/server/src/config/affine.ts
  packages/backend/server/src/core/config.ts
  packages/backend/server/src/fundamentals/config/def.ts
  packages/backend/server/src/schema.gql
  packages/frontend/component/package.json
  packages/frontend/component/src/components/auth-components/change-password-page.tsx
  packages/frontend/component/src/components/auth-components/password-input/index.tsx
  packages/frontend/component/src/components/auth-components/password-input/style.css.ts
  packages/frontend/component/src/components/auth-components/password-input/tag.tsx
  packages/frontend/component/src/components/auth-components/set-password-page.tsx
  packages/frontend/component/src/components/auth-components/set-password.tsx
  packages/frontend/component/src/components/auth-components/sign-up-page.tsx
  packages/frontend/core/src/components/affine/auth/send-email.tsx
  packages/frontend/core/src/components/affine/auth/subscription-redirect.tsx
  packages/frontend/core/src/hooks/affine/use-server-config.ts
  packages/frontend/core/src/pages/auth.tsx
  packages/frontend/graphql/src/graphql/fragments/credentials-requirement.gql
  packages/frontend/graphql/src/graphql/fragments/password-limits.gql
  packages/frontend/graphql/src/graphql/index.ts
  packages/frontend/graphql/src/graphql/server-config.gql
  packages/frontend/graphql/src/schema.ts
  packages/frontend/i18n/src/resources/en.json
  packages/frontend/i18n/src/resources/zh-Hans.json
  packages/frontend/i18n/src/resources/zh-Hant.json
  yarn.lock
Labels: mod:i18n, mod:component, app:server, app:core

#6319 fix(infra): large page list performance
  packages/common/infra/src/page/record-list.ts
  packages/common/infra/src/page/record.ts
Labels: mod:infra

#6317 fix(server): wrong import path
  packages/backend/server/src/core/storage/wrappers/blob.ts
Labels: app:server

#6323 fix(server): always set new session cookie
  packages/backend/server/src/core/auth/service.ts
  packages/backend/server/tests/auth/guard.spec.ts
  packages/backend/server/tests/oauth/controller.spec.ts
  packages/backend/server/tests/utils/user.ts
  packages/frontend/electron/src/main/deep-link.ts
Labels: app:electron, app:server, test

#6329 fix(core): duplicate window controls in trash
  packages/frontend/core/src/pages/workspace/trash-page.tsx
Labels: app:core

#6324 fix(core): optimize sidebar workspace card and avatar
  packages/frontend/core/src/components/pure/workspace-slider-bar/workspace-card/index.tsx
  packages/frontend/core/src/components/pure/workspace-slider-bar/workspace-card/styles.css.ts
  packages/frontend/core/src/components/root-app-sidebar/index.css.ts
  packages/frontend/core/src/components/root-app-sidebar/unknow-user.tsx
  packages/frontend/core/src/components/root-app-sidebar/user-info.tsx
Labels: app:core
