Repository toeverything/AFFiNE, pull requests merged in 2024-10, with the labels that each got.

#8412 feat(electron): ctrl+= to zoomin on linux
  packages/frontend/apps/electron/src/main/application-menu/create.ts
Labels: app:electron

#8413 fix(electron): screen resize sometimes does not work well after maximize
  packages/frontend/apps/electron/src/main/windows-manager/tab-views.ts
Labels: app:electron

#8382 feat(infra): doc properties by orm
  packages/common/infra/src/modules/db/index.ts
  packages/common/infra/src/modules/db/schema/index.ts
  packages/common/infra/src/modules/db/schema/schema.ts
  packages/common/infra/src/modules/db/services/db.ts
  packages/common/infra/src/modules/doc/entities/doc.ts
  packages/common/infra/src/modules/doc/entities/property-list.ts
  packages/common/infra/src/modules/doc/entities/record.ts
  packages/common/infra/src/modules/doc/index.ts
  packages/common/infra/src/modules/doc/services/docs.ts
  packages/common/infra/src/modules/doc/stores/doc-properties.ts
  packages/common/infra/src/modules/doc/stores/docs.ts
  packages/common/infra/src/modules/workspace/entities/workspace.ts
  packages/common/infra/src/orm/index.ts
  packages/common/infra/src/utils/__tests__/yjs-observable.spec.ts
  packages/common/infra/src/utils/index.ts
  packages/common/infra/src/utils/yjs-observable.ts
Labels: mod:infra, test

#8401 feat: ctrl click to open embeded doc in new tab
  packages/frontend/core/src/components/blocksuite/block-suite-editor/lit-adaper.tsx
  packages/frontend/core/src/components/blocksuite/block-suite-editor/specs/custom/spec-patchers.tsx
  packages/frontend/core/src/utils/event.ts
  tests/affine-local/e2e/local-first-openpage-newtab.spec.ts
Labels: test, app:core

#8441 fix(core): fix position of toc in peekview
  packages/frontend/core/src/modules/peek-view/view/doc-preview/doc-peek-view.tsx
  tests/affine-local/e2e/blocksuite/outline.spec.ts
Labels: test, app:core, merge

#8444 chore: update app updater button style
  packages/frontend/core/src/modules/app-sidebar/views/app-updater-button/index.css.ts
Labels: app:core

#8448 fix(core): avoid using serverUrlPrefix config
  packages/common/env/src/global.ts
  packages/frontend/core/src/utils/popup.ts
Labels: mod:env, app:core

#8409 chore(mobile): adjust tab height
  packages/frontend/core/src/mobile/components/app-tabs/styles.css.ts
Labels: app:core

#8450 fix(electron): fix windows userspace loss
  packages/frontend/apps/electron/src/helper/workspace/meta.ts
Labels: app:electron

#8452 fix(core): data loss on enable cloud
  packages/common/infra/src/modules/workspace/services/transform.ts
Labels: mod:infra

#8393 feat(core): show floating sidebar when hovering sidebar swtich
  packages/frontend/component/src/components/resize-panel/resize-panel.css.ts
  packages/frontend/component/src/components/resize-panel/resize-panel.tsx
  packages/frontend/core/src/components/pure/header/index.tsx
  packages/frontend/core/src/components/workspace/index.css.ts
  packages/frontend/core/src/components/workspace/index.tsx
  packages/frontend/core/src/desktop/pages/workspace/detail-page/detail-page-header.tsx
  packages/frontend/core/src/modules/app-sidebar/entities/app-sidebar.ts
  packages/frontend/core/src/modules/app-sidebar/views/index.css.ts
  packages/frontend/core/src/modules/app-sidebar/views/index.tsx
  packages/frontend/core/src/modules/app-sidebar/views/sidebar-header/sidebar-switch.tsx
  packages/frontend/core/src/modules/workbench/view/sidebar/sidebar-container.tsx
  packages/frontend/core/src/modules/workbench/view/sidebar/sidebar-header.tsx
  tests/affine-desktop/e2e/tabs.spec.ts
  tests/affine-local/e2e/layout.spec.ts
Labels: mod:component, test, app:core

#8348 feat(core): emoji as doc icon support with feature flag
  packages/common/infra/src/modules/feature-flag/constant.ts
  packages/frontend/core/src/components/affine/reference-link/index.tsx
  packages/frontend/core/src/components/blocksuite/block-suite-editor/specs/custom/widgets/linked.ts
  packages/frontend/core/src/modules/doc-display-meta/index.ts
  packages/frontend/core/src/modules/doc-display-meta/services/doc-display-meta.ts
  packages/frontend/core/src/modules/explorer/views/nodes/doc/index.tsx
Labels: mod:infra, app:core

#8445 test(core): update outline viewer test in shared page
  tests/affine-cloud/e2e/share-page.spec.ts
Labels: test

#8456 refactor(i18n): lazy load languages
  .eslintignore
  .github/workflows/build-test.yml
  .gitignore
  .prettierignore
  packages/frontend/apps/electron/renderer/app.tsx
  packages/frontend/apps/electron/renderer/shell/index.tsx
  packages/frontend/apps/mobile/src/app.tsx
  packages/frontend/apps/web/src/app.tsx
  packages/frontend/core/src/commands/affine-i18n.tsx
  packages/frontend/core/src/commands/affine-settings.tsx
  packages/frontend/core/src/commands/index.ts
  packages/frontend/core/src/components/affine/language-menu/index.tsx
  packages/frontend/core/src/components/affine/reference-link/index.tsx
  packages/frontend/core/src/components/affine/setting-modal/general-setting/billing/index.tsx
  packages/frontend/core/src/components/blocksuite/block-suite-editor/specs/custom/spec-patchers.tsx
  packages/frontend/core/src/components/blocksuite/block-suite-editor/specs/custom/widgets/linked.ts
  packages/frontend/core/src/components/hooks/affine/use-language-helper.ts
  packages/frontend/core/src/components/hooks/use-register-workspace-commands.ts
  packages/frontend/core/src/components/page-list/__tests__/filter.spec.tsx
  packages/frontend/core/src/components/page-list/page-group.tsx
  packages/frontend/core/src/desktop/pages/workspace/detail-page/tabs/journal.tsx
  packages/frontend/core/src/mobile/components/search-result/search-res-label.tsx
  packages/frontend/core/src/mobile/views/settings/appearance/language.tsx
  packages/frontend/core/src/modules/doc-display-meta/services/doc-display-meta.ts
  packages/frontend/core/src/modules/explorer/views/nodes/doc/index.tsx
  packages/frontend/core/src/modules/i18n/context.tsx
  packages/frontend/core/src/modules/i18n/entities/i18n.ts
  packages/frontend/core/src/modules/i18n/index.ts
  packages/frontend/core/src/modules/i18n/services/i18n.ts
  packages/frontend/core/src/modules/index.ts
  packages/frontend/core/src/modules/quicksearch/impls/collections.ts
  packages/frontend/core/src/modules/quicksearch/impls/commands.ts
  packages/frontend/core/src/modules/quicksearch/impls/creation.ts
  packages/frontend/core/src/modules/quicksearch/impls/docs.ts
  packages/frontend/core/src/modules/quicksearch/impls/external-links.ts
  packages/frontend/core/src/modules/quicksearch/impls/links.ts
  packages/frontend/core/src/modules/quicksearch/impls/recent-docs.ts
  packages/frontend/core/src/modules/quicksearch/impls/tags.ts
  packages/frontend/core/src/modules/quicksearch/services/cmdk.ts
  packages/frontend/core/src/modules/quicksearch/views/cmdk.tsx
  packages/frontend/i18n/.gitignore
  packages/frontend/i18n/.i18n-codegen.json
  packages/frontend/i18n/build.mjs
  packages/frontend/i18n/dev.mjs
  packages/frontend/i18n/package.json
  packages/frontend/i18n/src/i18n-completenesses.json
  packages/frontend/i18n/src/i18n.ts
  packages/frontend/i18n/src/i18next.ts
  packages/frontend/i18n/src/index.ts
  packages/frontend/i18n/src/react.ts
  packages/frontend/i18n/src/resources/index.ts
  packages/frontend/i18n/src/utils/__tests__/time.spec.ts
  packages/frontend/i18n/src/utils/time.ts
  packages/frontend/i18n/tsconfig.json
  packages/frontend/i18n/tsconfig.resources.json
  tests/affine-local/e2e/settings.spec.ts
  tools/cli/src/bin/build.ts
  tools/cli/src/bin/dev.ts
  tools/cli/src/util/i18n.ts
  yarn.lock
Labels: mod:i18n, app:electron, mod:dev, test, app:core

#8457 build(electron): deb distro support
  .github/workflows/release-desktop.yml
  packages/frontend/apps/electron/forge.config.mjs
  packages/frontend/apps/electron/package.json
  yarn.lock
Labels: app:electron

#8439 build(electron): flatpak support for linux
  .github/workflows/build-test.yml
  .github/workflows/release-desktop.yml
  packages/frontend/apps/electron/forge.config.mjs
  packages/frontend/apps/electron/package.json
  yarn.lock
Labels: app:electron

#8369 feat(server): support onetime payment subscription
  packages/backend/server/migrations/20240924024058_onetime_payment_subscription/migration.sql
  packages/backend/server/schema.prisma
  packages/backend/server/src/fundamentals/error/def.ts
  packages/backend/server/src/fundamentals/error/errors.gen.ts
  packages/backend/server/src/plugins/payment/resolver.ts
  packages/backend/server/src/plugins/payment/service.ts
  packages/backend/server/src/plugins/payment/types.ts
  packages/backend/server/src/schema.gql
  packages/backend/server/tests/payment/service.spec.ts
  packages/frontend/core/src/components/affine/setting-modal/general-setting/plans/ai/actions/subscribe.tsx
  packages/frontend/core/src/components/affine/setting-modal/general-setting/plans/plan-card.tsx
  packages/frontend/core/src/desktop/pages/subscribe.tsx
  packages/frontend/graphql/src/schema.ts
Labels: app:server, test, app:core

#8462 feat(core): onetime subscription ui
  packages/frontend/core/src/components/affine/setting-modal/general-setting/billing/index.tsx
  packages/frontend/core/src/components/affine/setting-modal/general-setting/plans/lifetime/lifetime-plan.tsx
  packages/frontend/core/src/components/affine/setting-modal/general-setting/plans/plan-card.tsx
  packages/frontend/core/src/modules/cloud/entities/subscription.ts
  packages/frontend/graphql/src/graphql/index.ts
  packages/frontend/graphql/src/graphql/subscription.gql
  packages/frontend/graphql/src/schema.ts
  packages/frontend/i18n/src/resources/en.json
Labels: mod:i18n, app:core

#8467 feat(core): bump theme, update workspace card color variables, add active status
  packages/frontend/component/package.json
  packages/frontend/core/package.json
  packages/frontend/core/src/components/workspace-selector/user-with-workspace-list/workspace-list/index.tsx
  packages/frontend/core/src/components/workspace-selector/workspace-card/index.tsx
  packages/frontend/core/src/components/workspace-selector/workspace-card/styles.css.ts
  tests/affine-local/e2e/local-first-avatar.spec.ts
  yarn.lock
Labels: mod:component, test, app:core

#8402 feat(component): basic notification adaptation for mobile
  packages/frontend/component/src/ui/notification/desktop/notification-card.tsx
  packages/frontend/component/src/ui/notification/desktop/notification-center.tsx
  packages/frontend/component/src/ui/notification/desktop/styles.css.ts
  packages/frontend/component/src/ui/notification/index.ts
  packages/frontend/component/src/ui/notification/mobile/notification-card.tsx
  packages/frontend/component/src/ui/notification/mobile/notification-center.tsx
  packages/frontend/component/src/ui/notification/mobile/styles.css.ts
  packages/frontend/component/src/ui/notification/notification-center.stories.tsx
  packages/frontend/component/src/ui/notification/notify.tsx
  packages/frontend/component/src/ui/notification/types.ts
  packages/frontend/component/src/ui/notification/utils.ts
Labels: mod:component

#8474 chore(core): i18n dev issue
  tools/cli/src/bin/dev.ts
Labels: mod:dev

#8475 fix(core): sidebar can not be collapsed on mobile
  packages/frontend/core/src/modules/app-sidebar/views/index.tsx
Labels: app:core

#8480 feat: separate user content from prompt
  packages/backend/server/src/plugins/copilot/prompt/prompts.ts
Labels: app:server

#8486 docs: update contributing documentation
  .devcontainer/build.sh
  docs/developing-server.md
Labels: docs

#8492 test(electron): electron tests on ubuntu 24
  .github/workflows/build-test.yml
  tests/affine-desktop/package.json
Labels: test

#8478 chore: bump theme
  packages/frontend/component/package.json
  packages/frontend/core/package.json
  yarn.lock
Labels: mod:component, app:core

#8487 feat(admin): allow config unlimited copilot
  packages/backend/server/src/core/features/resolver.ts
Labels: app:server

#8494 chore(oxlint): configure rule categories in oxlint.json
  oxlint.json
  package.json
  packages/frontend/core/src/blocksuite/presets/ai/chat-panel/chat-cards.ts
Labels: app:core

#8464 build(electron): use live origin http protocol instead of file://
  packages/frontend/apps/electron/scripts/generate-assets.ts
  packages/frontend/apps/electron/src/main/config.ts
  packages/frontend/apps/electron/src/main/constants.ts
  packages/frontend/apps/electron/src/main/protocol.ts
  packages/frontend/apps/electron/src/main/security-restrictions.ts
  packages/frontend/apps/electron/src/main/windows-manager/tab-views.ts
Labels: app:electron, test

#8496 fix(mobile): handle touch event correctly
  packages/frontend/core/src/modules/explorer/views/tree/node.tsx
  packages/frontend/core/src/modules/workbench/view/workbench-link.tsx
Labels: app:core

#8491 feat: refresh captcha correctly
  packages/frontend/core/src/components/affine/auth/sign-in-with-password.tsx
  packages/frontend/core/src/components/affine/auth/sign-in.tsx
  packages/frontend/core/src/components/affine/auth/use-captcha.tsx
  packages/frontend/i18n/src/i18n-completenesses.json
Labels: mod:i18n, app:core

#8499 fix(electron): shell missing i18n init
  packages/frontend/apps/electron/renderer/shell/app.tsx
Labels: mod:i18n, app:electron

#8500 refactor(core): rename doc property component name
  packages/frontend/core/src/components/affine/setting-modal/workspace-setting/properties/index.tsx
  packages/frontend/core/src/components/blocksuite/block-suite-editor/lit-adaper.tsx
  packages/frontend/core/src/components/doc-properties/icons/constant.ts
  packages/frontend/core/src/components/doc-properties/icons/doc-property-icon.tsx
  packages/frontend/core/src/components/doc-properties/icons/icons-selector.css.ts
  packages/frontend/core/src/components/doc-properties/icons/icons-selector.tsx
  packages/frontend/core/src/components/doc-properties/index.ts
  packages/frontend/core/src/components/doc-properties/info-modal/info-modal.css.ts
  packages/frontend/core/src/components/doc-properties/info-modal/info-modal.tsx
  packages/frontend/core/src/components/doc-properties/info-modal/links-row.css.ts
  packages/frontend/core/src/components/doc-properties/info-modal/links-row.tsx
  packages/frontend/core/src/components/doc-properties/info-modal/time-row.css.ts
  packages/frontend/core/src/components/doc-properties/info-modal/time-row.tsx
  packages/frontend/core/src/components/doc-properties/manager/index.tsx
  packages/frontend/core/src/components/doc-properties/manager/styles.css.ts
  packages/frontend/core/src/components/doc-properties/menu/create-doc-property.css.ts
  packages/frontend/core/src/components/doc-properties/menu/create-doc-property.tsx
  packages/frontend/core/src/components/doc-properties/menu/edit-doc-property.css.ts
  packages/frontend/core/src/components/doc-properties/menu/edit-doc-property.tsx
  packages/frontend/core/src/components/doc-properties/sidebar/index.tsx
  packages/frontend/core/src/components/doc-properties/sidebar/section.css.ts
  packages/frontend/core/src/components/doc-properties/sidebar/section.tsx
  packages/frontend/core/src/components/doc-properties/sidebar/styles.css.ts
  packages/frontend/core/src/components/doc-properties/table.css.ts
  packages/frontend/core/src/components/doc-properties/table.tsx
  packages/frontend/core/src/components/doc-properties/tags-inline-editor.css.ts
  packages/frontend/core/src/components/doc-properties/tags-inline-editor.tsx
  packages/frontend/core/src/components/doc-properties/types/checkbox.css.ts
  packages/frontend/core/src/components/doc-properties/types/checkbox.tsx
  packages/frontend/core/src/components/doc-properties/types/constant.tsx
  packages/frontend/core/src/components/doc-properties/types/created-updated-by.tsx
  packages/frontend/core/src/components/doc-properties/types/date.css.ts
  packages/frontend/core/src/components/doc-properties/types/date.tsx
  packages/frontend/core/src/components/doc-properties/types/number.css.ts
  packages/frontend/core/src/components/doc-properties/types/number.tsx
  packages/frontend/core/src/components/doc-properties/types/tags.css.ts
  packages/frontend/core/src/components/doc-properties/types/tags.tsx
  packages/frontend/core/src/components/doc-properties/types/text.css.ts
  packages/frontend/core/src/components/doc-properties/types/text.tsx
  packages/frontend/core/src/components/doc-properties/types/types.ts
  packages/frontend/core/src/components/providers/modal-provider.tsx
  packages/frontend/core/src/desktop/pages/workspace/detail-page/detail-page.tsx
  packages/frontend/core/src/mobile/pages/workspace/detail/sheets/doc-info.tsx
  packages/frontend/core/src/mobile/provider/model-provider.tsx
Labels: app:core

#8498 fix: message attachment merge
  packages/backend/server/src/plugins/copilot/session.ts
Labels: mod:i18n, app:server

#8374 feat(core): make AI functions follow server configuration
  packages/frontend/core/src/components/affine/ai-onboarding/index.tsx
  packages/frontend/core/src/components/affine/setting-modal/general-setting/editor/general.tsx
  packages/frontend/core/src/components/blocksuite/block-suite-editor/lit-adaper.tsx
Labels: app:core

#8460 fix(server): blank screen on mobile
  .github/workflows/build-images.yml
  packages/backend/server/src/app.ts
  packages/backend/server/src/core/doc-renderer/controller.ts
  packages/backend/server/src/core/selfhost/index.ts
  packages/backend/server/src/fundamentals/nestjs/config.ts
  packages/backend/server/tests/app/selfhost.e2e.ts
  packages/backend/server/tests/doc/renderer.spec.ts
  packages/common/env/src/global.ts
  packages/frontend/admin/src/index.tsx
  packages/frontend/admin/src/setup.ts
  packages/frontend/core/public/fonts/BebasNeue-Light.woff
  packages/frontend/core/public/fonts/BebasNeue-Regular.woff
  packages/frontend/core/public/fonts/Inter-Italic.woff
  packages/frontend/core/public/fonts/Inter-Light-BETA.woff
  packages/frontend/core/public/fonts/Inter-LightItalic-BETA.woff
  packages/frontend/core/public/fonts/Inter-Regular.woff
  packages/frontend/core/public/fonts/Inter-SemiBold.woff
  packages/frontend/core/public/fonts/Inter-SemiBoldItalic.woff
  packages/frontend/core/public/fonts/Kalam-Bold.woff
  packages/frontend/core/public/fonts/Kalam-Light.woff
  packages/frontend/core/public/fonts/Kalam-Regular.woff
  packages/frontend/core/public/fonts/Lora-Bold.woff
  packages/frontend/core/public/fonts/Lora-BoldItalic.woff
  packages/frontend/core/public/fonts/Lora-Italic.woff
  packages/frontend/core/public/fonts/Lora-Regular.woff
  packages/frontend/core/public/fonts/OrelegaOne-Regular.woff
  packages/frontend/core/public/fonts/Poppins-Italic.woff
  packages/frontend/core/public/fonts/Poppins-Light.woff
  packages/frontend/core/public/fonts/Poppins-LightItalic.woff
  packages/frontend/core/public/fonts/Poppins-Medium.woff
  packages/frontend/core/public/fonts/Poppins-Regular.woff
  packages/frontend/core/public/fonts/Poppins-SemiBold.woff
  packages/frontend/core/public/fonts/Poppins-SemiBoldItalic.woff
  packages/frontend/core/public/fonts/Satoshi-Bold.woff
  packages/frontend/core/public/fonts/Satoshi-BoldItalic.woff
  packages/frontend/core/public/fonts/Satoshi-Italic.woff
  packages/frontend/core/public/fonts/Satoshi-Light.woff
  packages/frontend/core/public/fonts/Satoshi-LightItalic.woff
  packages/frontend/core/public/fonts/Satoshi-Regular.woff
  packages/frontend/core/src/bootstrap/index.ts
  packages/frontend/core/src/components/blocksuite/block-suite-editor/specs/font-extension.ts
  packages/frontend/track/src/mixpanel.ts
  scripts/download-blocksuite-fonts.mjs
  tools/cli/src/webpack/config.ts
  tools/cli/src/webpack/s3-plugin.ts
  tools/cli/src/webpack/template.html
  tools/cli/src/webpack/webpack.config.ts
Labels: mod:i18n, mod:env, mod:dev, app:server, test, app:core

#8507 fix(electron): tab max width
  packages/frontend/apps/electron/src/main/protocol.ts
  packages/frontend/core/src/modules/app-tabs-header/views/app-tabs-header.tsx
  packages/frontend/core/src/modules/app-tabs-header/views/styles.css.ts
Labels: app:electron, app:core

#8508 refactor(core): adapter to new journal and property
  packages/common/infra/src/modules/doc/entities/record.ts
  packages/frontend/core/src/components/blocksuite/block-suite-editor/specs/custom/widgets/linked.ts
  packages/frontend/core/src/components/blocksuite/block-suite-header/favorite/index.tsx
  packages/frontend/core/src/components/doc-properties/tags-inline-editor.tsx
  packages/frontend/core/src/components/hooks/affine/use-all-page-list-config.tsx
  packages/frontend/core/src/components/hooks/affine/use-register-blocksuite-editor-commands.tsx
  packages/frontend/core/src/components/hooks/use-affine-adapter.ts
  packages/frontend/core/src/components/hooks/use-journal.ts
  packages/frontend/core/src/components/page-list/collections/select-collection.tsx
  packages/frontend/core/src/components/page-list/group-definitions.tsx
  packages/frontend/core/src/components/page-list/operation-cell.tsx
  packages/frontend/core/src/components/page-list/use-filtered-page-metas.tsx
  packages/frontend/core/src/components/page-list/view/collection-operations.tsx
  packages/frontend/core/src/components/page-list/view/edit-collection/rules-mode.tsx
  packages/frontend/core/src/components/page-list/view/edit-collection/select-page.tsx
  packages/frontend/core/src/mobile/components/doc-card/index.tsx
  packages/frontend/core/src/mobile/views/all-docs/collection/item.tsx
  packages/frontend/core/src/mobile/views/all-docs/tag/item.tsx
  packages/frontend/core/src/modules/doc-display-meta/index.ts
  packages/frontend/core/src/modules/doc-display-meta/services/doc-display-meta.ts
  packages/frontend/core/src/modules/explorer/views/nodes/collection/index.tsx
  packages/frontend/core/src/modules/explorer/views/nodes/collection/operations.tsx
  packages/frontend/core/src/modules/explorer/views/nodes/doc/index.tsx
  packages/frontend/core/src/modules/explorer/views/nodes/doc/operations.tsx
  packages/frontend/core/src/modules/explorer/views/nodes/folder/index.tsx
  packages/frontend/core/src/modules/explorer/views/nodes/folder/operations.tsx
  packages/frontend/core/src/modules/explorer/views/sections/migration-favorites/index.tsx
  packages/frontend/core/src/modules/favorite/index.ts
  packages/frontend/core/src/modules/favorite/services/old/adapter.ts
  packages/frontend/core/src/modules/favorite/services/old/schema.ts
  packages/frontend/core/src/modules/index.ts
  packages/frontend/core/src/modules/journal/index.ts
  packages/frontend/core/src/modules/journal/services/journal-doc.ts
  packages/frontend/core/src/modules/journal/services/journal.ts
  packages/frontend/core/src/modules/journal/store/journal.ts
  packages/frontend/core/src/modules/properties/index.ts
  packages/frontend/core/src/modules/properties/services/legacy-properties.ts
  packages/frontend/core/src/modules/tag/index.ts
  packages/frontend/core/src/modules/tag/stores/tag.ts
Labels: mod:infra, app:core

#8511 Update README.md
  README.md
Labels: docs

#8515 chore: format readme.md
  README.md
Labels: docs

#8368 refactor: move chat block to affine
  packages/common/env/package.json
  packages/common/infra/package.json
  packages/common/infra/src/blocksuite/blocks/ai-chat-block/ai-chat-model.ts
  packages/common/infra/src/blocksuite/blocks/ai-chat-block/consts.ts
  packages/common/infra/src/blocksuite/blocks/ai-chat-block/index.ts
  packages/common/infra/src/blocksuite/blocks/ai-chat-block/types.ts
  packages/common/infra/src/blocksuite/blocks/index.ts
  packages/common/infra/src/blocksuite/index.ts
  packages/common/infra/src/initialization/index.ts
  packages/common/infra/src/modules/doc/services/docs.ts
  packages/common/infra/src/modules/workspace/global-schema.ts
  packages/frontend/apps/electron/package.json
  packages/frontend/apps/mobile/package.json
  packages/frontend/component/package.json
  packages/frontend/core/package.json
  packages/frontend/core/src/blocksuite/presets/_common/components/text-renderer.ts
  packages/frontend/core/src/blocksuite/presets/_common/index.ts
  packages/frontend/core/src/blocksuite/presets/_common/utils/markdown-utils.ts
  packages/frontend/core/src/blocksuite/presets/ai/_common/chat-actions-handle.ts
  packages/frontend/core/src/blocksuite/presets/ai/actions/doc-handler.ts
  packages/frontend/core/src/blocksuite/presets/ai/actions/edgeless-handler.ts
  packages/frontend/core/src/blocksuite/presets/ai/actions/edgeless-response.ts
  packages/frontend/core/src/blocksuite/presets/ai/ai-panel.ts
  packages/frontend/core/src/blocksuite/presets/ai/chat-panel/actions/action-wrapper.ts
  packages/frontend/core/src/blocksuite/presets/ai/chat-panel/actions/chat-text.ts
  packages/frontend/core/src/blocksuite/presets/ai/chat-panel/actions/text.ts
  packages/frontend/core/src/blocksuite/presets/ai/chat-panel/chat-panel-messages.ts
  packages/frontend/core/src/blocksuite/presets/ai/index.ts
  packages/frontend/core/src/blocksuite/presets/ai/messages/index.ts
  packages/frontend/core/src/blocksuite/presets/ai/peek-view/chat-block-input.ts
  packages/frontend/core/src/blocksuite/presets/ai/peek-view/chat-block-peek-view.ts
  packages/frontend/core/src/blocksuite/presets/ai/peek-view/types.ts
  packages/frontend/core/src/blocksuite/presets/ai/peek-view/utils.ts
  packages/frontend/core/src/blocksuite/presets/ai/setup.ts
  packages/frontend/core/src/blocksuite/presets/ai/slides/index.ts
  packages/frontend/core/src/blocksuite/presets/ai/utils/editor-actions.ts
  packages/frontend/core/src/blocksuite/presets/ai/utils/selection-utils.ts
  packages/frontend/core/src/blocksuite/presets/blocks/_common/icon.ts
  packages/frontend/core/src/blocksuite/presets/blocks/ai-chat-block/ai-chat-block.ts
  packages/frontend/core/src/blocksuite/presets/blocks/ai-chat-block/ai-chat-edgeless-block.ts
  packages/frontend/core/src/blocksuite/presets/blocks/ai-chat-block/ai-chat-spec.ts
  packages/frontend/core/src/blocksuite/presets/blocks/ai-chat-block/components/ai-chat-messages.ts
  packages/frontend/core/src/blocksuite/presets/blocks/ai-chat-block/components/chat-images.ts
  packages/frontend/core/src/blocksuite/presets/blocks/ai-chat-block/components/image-placeholder.ts
  packages/frontend/core/src/blocksuite/presets/blocks/ai-chat-block/components/user-info.ts
  packages/frontend/core/src/blocksuite/presets/blocks/ai-chat-block/index.ts
  packages/frontend/core/src/blocksuite/presets/blocks/ai-chat-block/styles.ts
  packages/frontend/core/src/blocksuite/presets/blocks/index.ts
  packages/frontend/core/src/blocksuite/presets/effects.ts
  packages/frontend/core/src/components/blocksuite/block-suite-editor/index.ts
  packages/frontend/core/src/components/blocksuite/block-suite-editor/specs/common.ts
  packages/frontend/core/src/components/blocksuite/block-suite-editor/specs/custom/database-block.ts
  packages/frontend/core/src/components/blocksuite/block-suite-editor/specs/custom/spec-patchers.tsx
  packages/frontend/core/src/components/blocksuite/block-suite-editor/specs/preview.ts
  packages/frontend/core/src/components/hooks/affine/use-reference-link-helper.ts
  packages/frontend/core/src/modules/peek-view/entities/peek-view.ts
  tools/cli/package.json
  yarn.lock
Labels: mod:infra, docs, mod:env, mod:component, app:electron, mod:dev, app:core

#8517 fix(core): journal nav button icon
  packages/frontend/core/src/components/root-app-sidebar/journal-button.tsx
Labels: app:core

#8524 fix(infra): fix built in property order error
  packages/common/infra/src/modules/doc/constants.ts
  packages/common/infra/src/utils/__tests__/fractional-indexing.spec.ts
  packages/common/infra/src/utils/fractional-indexing.ts
Labels: mod:infra, test

#8530 fix(server): no more selfhost paths
  packages/backend/server/src/core/doc-renderer/controller.ts
Labels: app:server

#8518 feat(core): simplify subscribe page param
  packages/frontend/core/src/desktop/pages/subscribe.tsx
  packages/frontend/core/src/modules/cloud/services/subscription.ts
  packages/frontend/core/src/modules/cloud/services/user-quota.ts
  packages/frontend/core/src/modules/telemetry/services/telemetry.ts
Labels: app:core

#8359 feat(core): set doc mode and primary doc mode separately
  packages/common/infra/src/modules/doc/constants.ts
  packages/frontend/component/src/ui/property/property.css.ts
  packages/frontend/core/src/components/blocksuite/block-suite-header/menu/index.tsx
  packages/frontend/core/src/components/blocksuite/block-suite-mode-switch/index.tsx
  packages/frontend/core/src/components/doc-properties/types/constant.tsx
  packages/frontend/core/src/components/doc-properties/types/doc-primary-mode.tsx
  packages/frontend/core/src/mobile/pages/workspace/detail/page-header-more-button.tsx
  packages/frontend/i18n/src/i18n-completenesses.json
  packages/frontend/i18n/src/resources/en.json
  packages/frontend/i18n/src/resources/ko.json
  packages/frontend/i18n/src/resources/zh-Hans.json
  tests/affine-local/e2e/change-page-mode.spec.ts
  tests/affine-local/e2e/page-properties.spec.ts
  tests/affine-mobile/e2e/detail.spec.ts
  tests/kit/utils/properties.ts
Labels: mod:infra, mod:i18n, mod:component, test, app:core

#8535 feat(core): close the floating sidebar when creating and opening a doc
  packages/frontend/core/src/components/blocksuite/block-suite-page-list/utils.tsx
Labels: app:core

#8461 fix(core): unexpected double-click behavior when selecting multiple options on all doc pages
  packages/frontend/core/src/components/page-list/collections/collection-list-item.tsx
  packages/frontend/core/src/components/page-list/docs/page-list-item.tsx
  packages/frontend/core/src/components/page-list/list.tsx
  packages/frontend/core/src/components/page-list/tags/tag-list-item.tsx
Labels: app:core

#8526 chore(core): remove deprecated intl polyfill
  packages/frontend/core/package.json
  packages/frontend/core/src/bootstrap/polyfill/index.ts
  packages/frontend/core/src/bootstrap/polyfill/intl-segmenter.ts
  yarn.lock
Labels: app:core

#8455 feat: add copilot metrics
  packages/backend/server/src/core/doc/job.ts
  packages/backend/server/src/core/doc/options.ts
  packages/backend/server/src/core/doc/storage/doc.ts
  packages/backend/server/src/core/sync/gateway.ts
  packages/backend/server/src/core/workspaces/controller.ts
  packages/backend/server/src/fundamentals/index.ts
  packages/backend/server/src/fundamentals/metrics/metrics.ts
  packages/backend/server/src/fundamentals/metrics/utils.ts
  packages/backend/server/src/plugins/copilot/controller.ts
  packages/backend/server/src/plugins/copilot/providers/fal.ts
  packages/backend/server/src/plugins/copilot/providers/openai.ts
  packages/backend/server/src/plugins/copilot/resolver.ts
  packages/backend/server/src/plugins/copilot/session.ts
  packages/backend/server/src/plugins/copilot/storage.ts
Labels: app:server

#8509 feat(core): add global error handler
  packages/frontend/admin/src/setup.ts
  packages/frontend/apps/electron/renderer/setup.ts
  packages/frontend/apps/electron/renderer/shell/setup.ts
  packages/frontend/apps/mobile/src/setup.ts
  packages/frontend/apps/web/src/setup.ts
  packages/frontend/core/src/bootstrap/app.ts
  packages/frontend/core/src/bootstrap/browser.ts
  packages/frontend/core/src/bootstrap/electron.ts
  packages/frontend/core/src/bootstrap/env.ts
  packages/frontend/core/src/bootstrap/error.png
  packages/frontend/core/src/bootstrap/global-error-handler.ts
  packages/frontend/core/src/bootstrap/index.ts
  packages/frontend/core/src/bootstrap/polyfill/browser.ts
  packages/frontend/core/src/bootstrap/polyfill/electron.ts
  packages/frontend/core/src/bootstrap/public-path.ts
  tools/cli/src/webpack/cache-group.ts
  tools/cli/src/webpack/config.ts
Labels: app:electron, mod:dev, app:core

#8525 feat(core): new "is journal" page property
  packages/common/infra/src/modules/doc/constants.ts
  packages/frontend/core/src/components/affine/reference-link/index.tsx
  packages/frontend/core/src/components/blocksuite/block-suite-editor/journal-doc-title.tsx
  packages/frontend/core/src/components/blocksuite/block-suite-editor/lit-adaper.tsx
  packages/frontend/core/src/components/blocksuite/block-suite-editor/styles.css.ts
  packages/frontend/core/src/components/blocksuite/block-suite-header/journal/date-picker.tsx
  packages/frontend/core/src/components/doc-properties/table.tsx
  packages/frontend/core/src/components/doc-properties/types/constant.tsx
  packages/frontend/core/src/components/doc-properties/types/journal.css.ts
  packages/frontend/core/src/components/doc-properties/types/journal.tsx
  packages/frontend/core/src/desktop/pages/workspace/detail-page/detail-page-header.tsx
  packages/frontend/core/src/desktop/pages/workspace/detail-page/tabs/journal.css.ts
  packages/frontend/core/src/desktop/pages/workspace/detail-page/tabs/journal.tsx
  packages/frontend/core/src/modules/journal/services/journal.ts
  packages/frontend/core/src/modules/journal/store/journal.ts
  packages/frontend/i18n/src/i18n-completenesses.json
  packages/frontend/i18n/src/resources/en.json
  tests/affine-local/e2e/journal.spec.ts
  tests/affine-local/e2e/page-properties.spec.ts
Labels: mod:infra, mod:i18n, test, app:core

#8528 feat(infra): collect more data to indexer
  packages/common/infra/src/sync/indexer/document.ts
  packages/common/infra/src/sync/indexer/impl/indexeddb/data-struct.ts
  packages/common/infra/src/sync/indexer/impl/indexeddb/inverted-index.ts
  packages/common/infra/src/sync/indexer/impl/memory/data-struct.ts
  packages/common/infra/src/sync/indexer/schema.ts
  packages/frontend/core/src/components/blocksuite/block-suite-editor/bi-directional-link-panel.tsx
  packages/frontend/core/src/components/doc-properties/table.tsx
  packages/frontend/core/src/modules/docs-search/entities/docs-indexer.ts
  packages/frontend/core/src/modules/docs-search/schema.ts
  packages/frontend/core/src/modules/docs-search/worker/in-worker.ts
  packages/frontend/core/src/modules/explorer/views/nodes/doc/index.tsx
Labels: mod:infra, test, app:core

#8477 fix(core): prevent floating sidebar from disappearing unexpectedly
  packages/frontend/component/src/components/rename-modal/index.tsx
  packages/frontend/core/src/modules/app-sidebar/views/index.tsx
  packages/frontend/core/src/modules/app-sidebar/views/sidebar-header/sidebar-switch.tsx
  tests/affine-desktop/e2e/tabs.spec.ts
Labels: mod:component, test, app:core

#8548 chore: adjust style of CloudUserAvatar
  packages/frontend/core/src/components/doc-properties/types/created-updated-by.css.ts
  packages/frontend/core/src/components/doc-properties/types/created-updated-by.tsx
Labels: app:core

#8506 fix(core): sidebar shakes unexpectedly during init on mobile
  packages/frontend/core/src/modules/app-sidebar/views/index.tsx
Labels: app:core

#8531 feat(core): prevent the floating sidebar from showing immediately after the sidebar is closed
  packages/frontend/core/src/modules/app-sidebar/entities/app-sidebar.ts
  packages/frontend/core/src/modules/app-sidebar/views/sidebar-header/sidebar-switch.tsx
  tests/affine-desktop/e2e/tabs.spec.ts
  tests/affine-local/e2e/layout.spec.ts
Labels: test, app:core

#8555 feat(core): build config for ios android
  packages/common/env/src/global.ts
  packages/frontend/component/src/ui/safe-area/index.tsx
  packages/frontend/core/src/components/affine/auth/oauth.tsx
  packages/frontend/core/src/modules/cloud/services/fetch.ts
  packages/frontend/core/src/utils/popup.ts
  packages/frontend/graphql/src/index.ts
  tools/cli/src/config/index.ts
  tools/cli/src/webpack/config.ts
  tools/cli/src/webpack/runtime-config.ts
  tools/cli/src/webpack/webpack.config.ts
Labels: mod:env, mod:component, mod:dev, app:core

#8556 fix(core): global error handler should be registered outside webpack runtime
  packages/frontend/core/src/bootstrap/browser.ts
  packages/frontend/core/src/bootstrap/error.png
  packages/frontend/core/src/bootstrap/global-error-handler.ts
  tools/cli/src/webpack/cache-group.ts
  tools/cli/src/webpack/config.ts
  tools/cli/src/webpack/error-handler.js
  tools/cli/src/webpack/webpack.config.ts
Labels: mod:dev, app:core

#8560 feat(core): keep the sidebar instance when the sidebar is collapsed
  packages/frontend/core/src/modules/app-sidebar/views/index.tsx
  packages/frontend/core/src/modules/app-sidebar/views/sidebar-header/sidebar-switch.tsx
Labels: app:core

#8553 feat(core): use contain strict optimizing performance
  packages/frontend/component/src/components/resize-panel/resize-panel.css.ts
  packages/frontend/component/src/components/resize-panel/resize-panel.tsx
  packages/frontend/core/src/components/page-list/collections/collection-list-item.css.ts
  packages/frontend/core/src/components/page-list/docs/page-list-item.css.ts
  packages/frontend/core/src/components/page-list/page-group.css.ts
  packages/frontend/core/src/components/page-list/tags/tag-list-item.css.ts
  packages/frontend/core/src/modules/workbench/view/route-container.css.ts
  tests/affine-local/e2e/layout.spec.ts
  tests/affine-local/e2e/subpage.spec.ts
Labels: mod:component, test, app:core

#8561 feat(core): adjust doc property style
  packages/common/infra/src/modules/doc/constants.ts
  packages/frontend/component/src/ui/property/property.css.ts
  packages/frontend/core/src/components/doc-properties/manager/index.tsx
  packages/frontend/core/src/components/doc-properties/table.css.ts
  packages/frontend/core/src/components/doc-properties/types/constant.tsx
  packages/frontend/core/src/components/doc-properties/types/doc-primary-mode.css.ts
  packages/frontend/core/src/components/doc-properties/types/doc-primary-mode.tsx
  tests/affine-local/e2e/page-properties.spec.ts
Labels: mod:infra, mod:component, test, app:core

#8568 feat: isolate user content
  packages/backend/server/src/plugins/copilot/prompt/prompts.ts
Labels: app:server

#8558 fix(core): free cloud and ai onetime payment adaptation
  packages/frontend/core/src/components/affine/setting-modal/general-setting/billing/index.tsx
  packages/frontend/core/src/components/affine/setting-modal/general-setting/plans/ai/actions/redeem.tsx
  packages/frontend/core/src/components/affine/setting-modal/general-setting/plans/ai/actions/subscribe.tsx
  packages/frontend/core/src/components/affine/setting-modal/general-setting/plans/ai/ai-plan.tsx
  packages/frontend/core/src/components/affine/setting-modal/general-setting/plans/checkout-slot.tsx
  packages/frontend/core/src/components/affine/setting-modal/general-setting/plans/lifetime/lifetime-plan.tsx
  packages/frontend/core/src/components/affine/setting-modal/general-setting/plans/plan-card.tsx
  packages/frontend/core/src/modules/cloud/entities/subscription.ts
  packages/frontend/i18n/src/resources/en.json
Labels: mod:i18n, app:core

#8570 fix(component): correct notification theme when theme toggled
  packages/frontend/component/.storybook/preview.tsx
  packages/frontend/component/src/ui/notification/desktop/notification-center.tsx
Labels: mod:component

#8562 fix(core): clicking change mode in the menu should switch both view and mode
  packages/frontend/core/src/components/blocksuite/block-suite-header/menu/index.tsx
Labels: app:core

#8571 fix(core): fix mobile edition flag
  tools/cli/src/webpack/config.ts
  tools/cli/src/webpack/runtime-config.ts
Labels: mod:dev

#8572 feat(core): adjust app sidebar
  packages/frontend/core/src/modules/app-sidebar/views/index.tsx
  packages/frontend/i18n/src/i18n-completenesses.json
Labels: mod:i18n, app:core

#8546 feat(core): handle copilot errors
  packages/frontend/core/src/blocksuite/presets/ai/provider.ts
Labels: app:core

#8574 chore: adjust hover tooltips for sidebar switch
  packages/frontend/core/src/modules/app-sidebar/views/sidebar-header/sidebar-switch.tsx
Labels: app:core

#8557 feat(infra): opti indexer performance
  packages/common/infra/src/sync/indexer/__tests__/black-box.spec.ts
  packages/common/infra/src/sync/indexer/impl/indexeddb/data-struct.ts
  packages/common/infra/src/sync/indexer/impl/indexeddb/index.ts
  packages/common/infra/src/sync/indexer/impl/indexeddb/inverted-index.ts
  packages/common/infra/src/sync/indexer/impl/indexeddb/match.ts
  packages/common/infra/src/sync/indexer/impl/memory/data-struct.ts
  packages/common/infra/src/sync/indexer/impl/memory/index.ts
  packages/common/infra/src/sync/indexer/indexer.ts
  packages/common/infra/src/sync/job/impl/indexeddb/index.ts
  packages/frontend/core/src/modules/docs-search/entities/docs-indexer.ts
  packages/frontend/core/src/modules/docs-search/worker/in-worker.ts
Labels: mod:infra, mod:i18n, test, app:core

#8576 fix(core): handle global script error
  tools/cli/src/webpack/error-handler.js
Labels: mod:i18n, mod:dev

#8578 fix(infra): indexer missing data
  packages/common/infra/src/sync/indexer/impl/indexeddb/data-struct.ts
  packages/frontend/core/src/modules/docs-search/entities/docs-indexer.ts
  packages/frontend/i18n/src/i18n-completenesses.json
Labels: mod:infra, mod:i18n, app:core

#8573 fix(core): let backend check whethere user can subscribe
  packages/frontend/core/src/desktop/pages/subscribe.tsx
Labels: app:core

#8586 fix(electron): offline mode description
  packages/common/infra/src/modules/feature-flag/constant.ts
Labels: mod:infra

#8582 chore: add track event to toggle sidebar switch
  packages/frontend/core/src/commands/affine-layout.tsx
  packages/frontend/core/src/modules/app-sidebar/views/sidebar-header/sidebar-switch.tsx
  packages/frontend/track/src/events.ts
Labels: app:core

#8594 fix(core): dont show config properties in peek view
  packages/frontend/core/src/components/doc-properties/table.tsx
Labels: app:core

#8567 refactor(core): improve editor gap appendParagraph function
  packages/frontend/core/src/components/blocksuite/block-suite-editor/blocksuite-editor-container.tsx
  packages/frontend/core/src/components/blocksuite/block-suite-editor/styles.css.ts
  tests/affine-local/e2e/blocksuite/editor.spec.ts
Labels: test, app:core

#8595 feat(server): support socketio auth field
  packages/backend/server/src/core/auth/guard.ts
  packages/backend/server/src/core/auth/service.ts
  packages/backend/server/src/fundamentals/utils/request.ts
  packages/backend/server/src/fundamentals/websocket/config.ts
  packages/backend/server/src/fundamentals/websocket/index.ts
Labels: app:server, app:core

#8588 fix(core): redirect to old page after login via 404 page
  packages/backend/server/src/plugins/oauth/controller.ts
  packages/frontend/core/src/components/affine/auth/after-sign-in-send-email.tsx
  packages/frontend/core/src/components/affine/auth/after-sign-up-send-email.tsx
  packages/frontend/core/src/components/affine/auth/index.tsx
  packages/frontend/core/src/components/affine/auth/oauth.tsx
  packages/frontend/core/src/components/affine/auth/send-email.tsx
  packages/frontend/core/src/components/affine/auth/sign-in-with-password.tsx
  packages/frontend/core/src/components/affine/auth/sign-in.tsx
  packages/frontend/core/src/desktop/pages/404.tsx
  packages/frontend/core/src/desktop/pages/auth/magic-link.tsx
  packages/frontend/core/src/desktop/pages/auth/oauth-callback.tsx
  packages/frontend/core/src/desktop/pages/auth/sign-in.tsx
  packages/frontend/core/src/modules/cloud/services/auth.ts
Labels: app:server, app:core

#8591 fix(core): adjust onetime subscription ui for billing and pricing
  packages/frontend/core/src/components/affine/setting-modal/general-setting/billing/index.tsx
  packages/frontend/core/src/components/affine/setting-modal/general-setting/billing/style.css.ts
  packages/frontend/core/src/components/affine/setting-modal/general-setting/plans/cloud-plans.tsx
  packages/frontend/core/src/components/affine/setting-modal/general-setting/plans/lifetime/lifetime-plan.tsx
Labels: app:core

#8581 feat(mobile): ios oauth & magic-link login
  packages/common/infra/src/framework/core/framework.ts
  packages/common/infra/src/framework/core/provider.ts
  packages/common/infra/src/framework/react/index.tsx
  packages/frontend/admin/src/modules/accounts/components/use-user-management.ts
  packages/frontend/apps/electron/renderer/app.tsx
  packages/frontend/apps/ios/App/App.xcodeproj/project.pbxproj
  packages/frontend/apps/ios/App/App.xcodeproj/xcshareddata/xcschemes/App.xcscheme
  packages/frontend/apps/ios/App/App/AFFiNEViewController.swift
  packages/frontend/apps/ios/App/App/Info.plist
  packages/frontend/apps/ios/App/App/plugins/Cookie/CookieManager.swift
  packages/frontend/apps/ios/App/App/plugins/Cookie/CookiePlugin.swift
  packages/frontend/apps/ios/App/Podfile
  packages/frontend/apps/ios/App/Podfile.lock
  packages/frontend/apps/ios/capacitor.config.ts
  packages/frontend/apps/ios/package.json
  packages/frontend/apps/ios/src/app.tsx
  packages/frontend/apps/ios/src/fetch.ts
  packages/frontend/apps/ios/src/index.tsx
  packages/frontend/apps/ios/src/plugins/cookie/definitions.ts
  packages/frontend/apps/ios/src/plugins/cookie/index.ts
  packages/frontend/apps/mobile/src/app.tsx
  packages/frontend/apps/web/src/app.tsx
  packages/frontend/core/package.json
  packages/frontend/core/src/commands/affine-help.tsx
  packages/frontend/core/src/components/affine/auth/oauth.tsx
  packages/frontend/core/src/components/affine/auth/send-email.tsx
  packages/frontend/core/src/components/affine/page-history-modal/data.ts
  packages/frontend/core/src/components/affine/setting-modal/general-setting/about/index.tsx
  packages/frontend/core/src/components/affine/setting-modal/general-setting/appearance/theme-editor-setting.tsx
  packages/frontend/core/src/components/affine/setting-modal/general-setting/billing/index.tsx
  packages/frontend/core/src/components/affine/setting-modal/general-setting/plans/checkout-slot.tsx
  packages/frontend/core/src/components/hooks/use-app-updater.ts
  packages/frontend/core/src/components/hooks/use-register-workspace-commands.ts
  packages/frontend/core/src/components/pure/help-island/index.tsx
  packages/frontend/core/src/desktop/pages/workspace/share/share-page.tsx
  packages/frontend/core/src/mobile/router.tsx
  packages/frontend/core/src/modules/app-sidebar/views/app-updater-button/index.tsx
  packages/frontend/core/src/modules/cloud/index.ts
  packages/frontend/core/src/modules/cloud/provider/fetch.ts
  packages/frontend/core/src/modules/cloud/provider/websocket-auth.ts
  packages/frontend/core/src/modules/cloud/services/auth.ts
  packages/frontend/core/src/modules/cloud/services/fetch.ts
  packages/frontend/core/src/modules/cloud/services/websocket.ts
  packages/frontend/core/src/modules/cloud/stores/subscription.ts
  packages/frontend/core/src/modules/index.ts
  packages/frontend/core/src/modules/url/index.ts
  packages/frontend/core/src/modules/url/providers/client-schema.ts
  packages/frontend/core/src/modules/url/providers/popup-window.ts
  packages/frontend/core/src/modules/url/services/url.ts
  packages/frontend/core/src/modules/workbench/services/workbench-new-tab-handler.ts
  packages/frontend/core/src/modules/workspace-engine/impls/cloud.ts
  packages/frontend/core/src/modules/workspace-engine/impls/engine/blob-cloud.ts
  packages/frontend/core/src/modules/workspace-engine/impls/engine/doc-cloud-static.ts
  packages/frontend/core/src/modules/workspace-engine/index.ts
  packages/frontend/core/src/utils/index.ts
  packages/frontend/core/src/utils/popup.ts
  packages/frontend/core/src/utils/url.ts
  tools/cli/src/bin/dev.ts
  yarn.lock
Labels: mod:infra, mod:i18n, app:electron, mod:dev, app:core

#8608 feat(server): verify domain record
  packages/backend/server/src/core/auth/config.ts
  packages/backend/server/src/core/auth/controller.ts
Labels: app:server

#8542 feat: allow peek view to be closed by the caller && bump bs
  packages/common/env/package.json
  packages/common/infra/package.json
  packages/frontend/apps/android/package.json
  packages/frontend/apps/electron/package.json
  packages/frontend/apps/ios/package.json
  packages/frontend/apps/mobile/package.json
  packages/frontend/component/package.json
  packages/frontend/core/package.json
  packages/frontend/core/src/blocksuite/presets/ai/_common/chat-actions-handle.ts
  packages/frontend/core/src/blocksuite/presets/ai/_common/config.ts
  packages/frontend/core/src/blocksuite/presets/ai/actions/edgeless-handler.ts
  packages/frontend/core/src/blocksuite/presets/ai/actions/edgeless-response.ts
  packages/frontend/core/src/blocksuite/presets/ai/ai-spec.ts
  packages/frontend/core/src/blocksuite/presets/ai/utils/selection-utils.ts
  packages/frontend/core/src/components/affine/reference-link/index.tsx
  packages/frontend/core/src/components/blocksuite/block-suite-editor/blocksuite-editor-container.tsx
  packages/frontend/core/src/components/blocksuite/block-suite-editor/blocksuite-editor.tsx
  packages/frontend/core/src/components/blocksuite/block-suite-editor/lit-adaper.tsx
  packages/frontend/core/src/components/blocksuite/block-suite-editor/specs/custom/root-block.ts
  packages/frontend/core/src/components/blocksuite/block-suite-editor/specs/custom/spec-patchers.tsx
  packages/frontend/core/src/components/doc-properties/table.tsx
  packages/frontend/core/src/components/page-detail-editor.tsx
  packages/frontend/core/src/desktop/pages/workspace/index.tsx
  packages/frontend/core/src/mobile/pages/workspace/detail/sheets/doc-info.tsx
  packages/frontend/core/src/modules/doc-info/views/database-properties/doc-database-backlink-info.tsx
  packages/frontend/core/src/modules/editor/entities/editor.ts
  packages/frontend/core/src/modules/navigation/utils.ts
  packages/frontend/core/src/modules/peek-view/entities/peek-view.ts
  packages/frontend/core/src/modules/peek-view/view/doc-preview/doc-peek-view.tsx
  packages/frontend/core/src/modules/peek-view/view/peek-view-controls.tsx
  packages/frontend/core/src/modules/peek-view/view/peek-view-manager.tsx
  packages/frontend/core/src/modules/peek-view/view/utils.ts
  tools/cli/package.json
  yarn.lock
Labels: mod:infra, mod:i18n, mod:env, mod:component, app:electron, mod:dev, app:core

#8616 feat(core): captcha service
  packages/frontend/apps/electron/renderer/app.tsx
  packages/frontend/core/src/components/affine/auth/after-sign-in-send-email.tsx
  packages/frontend/core/src/components/affine/auth/after-sign-up-send-email.tsx
  packages/frontend/core/src/components/affine/auth/sign-in-with-password.tsx
  packages/frontend/core/src/components/affine/auth/sign-in.tsx
  packages/frontend/core/src/components/affine/auth/use-captcha.tsx
  packages/frontend/core/src/modules/cloud/index.ts
  packages/frontend/core/src/modules/cloud/provider/validator.ts
  packages/frontend/core/src/modules/cloud/services/auth.ts
  packages/frontend/core/src/modules/cloud/services/captcha.ts
  packages/frontend/i18n/src/i18n-completenesses.json
  tests/kit/utils/cloud.ts
Labels: mod:i18n, app:electron, test, app:core

#8611 fix: ai text renderer specs
  packages/frontend/core/src/blocksuite/presets/_common/components/text-renderer.ts
  packages/frontend/core/src/blocksuite/presets/_common/utils/custom-specs.ts
Labels: app:core, merge

#8619 chore: adjust floating sidebar style
  packages/frontend/component/src/components/resize-panel/resize-panel.css.ts
Labels: mod:i18n, mod:component

#8597 feat(core): add open link in app to doc menu
  packages/common/env/src/constant.ts
  packages/frontend/apps/electron/renderer/app.tsx
  packages/frontend/apps/electron/src/main/deep-link.ts
  packages/frontend/apps/electron/src/preload/electron-api.ts
  packages/frontend/apps/ios/src/app.tsx
  packages/frontend/core/src/components/affine/auth/oauth.tsx
  packages/frontend/core/src/components/affine/setting-modal/general-setting/about/index.tsx
  packages/frontend/core/src/components/affine/subscription-landing/index.tsx
  packages/frontend/core/src/components/blocksuite/block-suite-header/menu/index.tsx
  packages/frontend/core/src/components/hooks/use-navigate-helper.ts
  packages/frontend/core/src/desktop/pages/open-app.tsx
  packages/frontend/core/src/modules/cloud/services/auth.ts
  packages/frontend/core/src/modules/cloud/stores/subscription.ts
  packages/frontend/core/src/modules/open-in-app/constant.ts
  packages/frontend/core/src/modules/open-in-app/utils.ts
  packages/frontend/core/src/modules/url/index.ts
  packages/frontend/core/src/modules/url/providers/client-schema.ts
  packages/frontend/core/src/modules/url/services/url.ts
  packages/frontend/core/src/modules/workspace-engine/impls/local.ts
  packages/frontend/i18n/src/i18n-completenesses.json
  packages/frontend/i18n/src/resources/en.json
Labels: mod:i18n, mod:env, app:electron, app:core

#8621 feat: use date fixed model name
  Cargo.lock
  Cargo.toml
  packages/backend/server/src/plugins/copilot/prompt/prompts.ts
  packages/backend/server/src/plugins/copilot/providers/openai.ts
  packages/backend/server/src/plugins/copilot/types.ts
  packages/backend/server/src/schema.gql
  packages/backend/server/tests/copilot.spec.ts
  packages/backend/server/tests/utils/copilot.ts
Labels: app:server, test, rust

#8602 feat(ios): hashcash in swift
  packages/frontend/apps/ios/App/App.xcodeproj/project.pbxproj
  packages/frontend/apps/ios/App/App/AFFiNEViewController.swift
  packages/frontend/apps/ios/App/App/plugins/Cookie/HashcashPlugin.swift
  packages/frontend/apps/ios/App/Podfile
  packages/frontend/apps/ios/App/Podfile.lock
  packages/frontend/apps/ios/src/app.tsx
  packages/frontend/apps/ios/src/plugins/hashcash/definitions.ts
  packages/frontend/apps/ios/src/plugins/hashcash/index.ts
  packages/frontend/core/src/components/affine/auth/use-captcha.tsx
  packages/frontend/core/src/modules/cloud/services/captcha.ts
Labels: app:core

#7694 feat: copilot frontend e2e
  .github/actions/copilot-test/action.yml
  .github/actions/setup-node/action.yml
  .github/workflows/build-test.yml
  .github/workflows/copilot-test-automatically.yml
  .github/workflows/copilot-test.yml
  packages/backend/server/src/plugins/copilot/prompt/prompts.ts
  packages/frontend/core/src/blocksuite/presets/ai/_common/components/chat-action-list.ts
  packages/frontend/core/src/blocksuite/presets/ai/_common/components/copy-more.ts
  packages/frontend/core/src/blocksuite/presets/ai/chat-panel/chat-panel-input.ts
  packages/frontend/core/src/blocksuite/presets/ai/chat-panel/chat-panel-messages.ts
  packages/frontend/core/src/blocksuite/presets/ai/chat-panel/index.ts
  packages/frontend/core/src/modules/workbench/view/route-container.tsx
  packages/frontend/core/src/modules/workbench/view/sidebar/sidebar-container.tsx
  packages/frontend/core/src/modules/workbench/view/sidebar/sidebar-header-switcher.tsx
  tests/affine-cloud/e2e/copilot.spec.ts
  tests/affine-cloud/package.json
  tests/affine-cloud/playwright.config.ts
  tests/affine-local/e2e/all-page.spec.ts
  tests/kit/utils/cloud.ts
  tests/kit/utils/load-page.ts
  tests/kit/utils/page-logic.ts
Labels: mod:i18n, app:server, test, app:core

#8633 feat(mobile): enable mobile keyboard toolbar
  packages/common/infra/src/modules/feature-flag/constant.ts
  packages/frontend/core/src/mobile/pages/workspace/detail/mobile-detail-page.tsx
Labels: mod:infra, app:core, merge

#8635 fix(mobile): adjust app tab height
  packages/frontend/core/src/mobile/styles/mobile.css.ts
Labels: app:core

#8577 feat(android): android internal testing
  .github/workflows/build-test.yml
  .github/workflows/release-mobile.yml
  package.json
  packages/backend/server/package.json
  packages/frontend/apps/android/.gitignore
  packages/frontend/apps/android/App/build.gradle
  packages/frontend/apps/android/App/gradle/wrapper/gradle-wrapper.properties
  packages/frontend/apps/android/capacitor.config.ts
  packages/frontend/apps/android/package.json
  packages/frontend/apps/ios/package.json
  packages/frontend/apps/mobile/package.json
  packages/frontend/apps/web/package.json
  packages/frontend/component/package.json
  packages/frontend/native/package.json
  tools/playstore-auto-bump/index.ts
  tools/playstore-auto-bump/package.json
  tools/playstore-auto-bump/tsconfig.json
  tsconfig.json
  yarn.lock
Labels: mod:component, app:server, mod:native

#8640 chore: adjust tooltips side of doc properties
  packages/frontend/core/src/components/doc-properties/manager/index.tsx
Labels: app:core

#8599 feat: add import modal
  packages/frontend/core/src/components/affine/import-modal/index.tsx
  packages/frontend/core/src/components/affine/import-modal/style.css.ts
  packages/frontend/core/src/components/atoms/index.ts
  packages/frontend/core/src/components/blocksuite/block-suite-header/menu/index.tsx
  packages/frontend/core/src/components/providers/modal-provider.tsx
  packages/frontend/core/src/components/root-app-sidebar/index.tsx
  packages/frontend/i18n/src/resources/en.json
  packages/frontend/i18n/src/resources/zh-Hans.json
  packages/frontend/i18n/src/resources/zh-Hant.json
Labels: mod:i18n, mod:store, app:core

#8638 fix(core): db properties ui issues
  packages/frontend/core/src/components/affine/reference-link/index.tsx
  packages/frontend/core/src/components/doc-properties/info-modal/links-row.css.ts
  packages/frontend/core/src/components/doc-properties/info-modal/links-row.tsx
  packages/frontend/core/src/components/doc-properties/table.tsx
  packages/frontend/core/src/components/doc-properties/types/constant.tsx
  packages/frontend/core/src/components/doc-properties/types/date.tsx
  packages/frontend/core/src/modules/doc-info/views/database-properties/doc-database-backlink-info.css.ts
  packages/frontend/core/src/modules/doc-info/views/database-properties/doc-database-backlink-info.tsx
Labels: app:core

#8642 feat(core): add createdBy property to default property
  packages/common/infra/src/modules/doc/constants.ts
  tests/affine-local/e2e/page-properties.spec.ts
Labels: mod:infra, test, app:core

#8584 feat: add snapshot import export config
  packages/common/infra/src/modules/feature-flag/constant.ts
  packages/frontend/core/src/components/affine/setting-modal/general-setting/about/index.tsx
  packages/frontend/core/src/components/affine/setting-modal/general-setting/about/style.css.ts
  packages/frontend/core/src/components/blocksuite/block-suite-header/menu/index.tsx
  packages/frontend/core/src/components/blocksuite/block-suite-page-list/utils.tsx
  packages/frontend/core/src/components/hooks/affine/use-export-page.ts
  packages/frontend/core/src/components/page-list/operation-menu-items/index.ts
  packages/frontend/core/src/components/page-list/operation-menu-items/snapshot.tsx
  packages/frontend/i18n/src/i18n-completenesses.json
  packages/frontend/i18n/src/resources/en.json
  packages/frontend/i18n/src/resources/zh-Hans.json
  packages/frontend/i18n/src/resources/zh-Hant.json
Labels: mod:infra, mod:i18n, app:core

#8645 fix(core): checkbox property styling and layout
  packages/frontend/core/src/components/doc-properties/types/checkbox.css.ts
  packages/frontend/core/src/components/doc-properties/types/checkbox.tsx
  packages/frontend/core/src/modules/doc-info/views/database-properties/doc-database-backlink-info.css.ts
Labels: app:core

#8646 fix(core): do not redirect to open-page for open-in-app card
  packages/frontend/core/src/modules/app-sidebar/views/open-in-app-card/open-in-app-card.tsx
  packages/frontend/core/src/modules/desktop-api/index.ts
  packages/frontend/core/src/modules/navigation/index.ts
  packages/frontend/core/src/modules/userspace/index.ts
Labels: mod:i18n, app:core

#8650 fix(core): fix copy block link
  packages/frontend/core/src/components/affine/share-page-modal/share-menu/share-page.tsx
Labels: app:core
