Repository toeverything/AFFiNE, pull requests merged in 2024-09, with the labels that each got.

#8035 fix(core): remove modal default overlay onclick
  packages/frontend/component/src/ui/modal/modal.tsx
Labels: mod:component

#8044 chore: adjust experimental features text
  packages/common/infra/src/modules/feature-flag/constant.ts
  packages/common/infra/src/modules/feature-flag/types.ts
  packages/frontend/core/src/components/affine/setting-modal/general-setting/experimental-features/index.tsx
  packages/frontend/i18n/src/resources/en.json
Labels: mod:infra, mod:i18n, app:core

#8043 fix(electron): app updater
  packages/frontend/electron/src/main/updater/affine-update-provider.ts
  packages/frontend/electron/src/main/updater/custom-github-provider.ts
  packages/frontend/electron/src/main/updater/electron-updater.ts
  packages/frontend/electron/test/main/fixtures/candidates/beta.json
  packages/frontend/electron/test/main/fixtures/candidates/canary.json
  packages/frontend/electron/test/main/fixtures/candidates/stable.json
  packages/frontend/electron/test/main/fixtures/feeds.txt
  packages/frontend/electron/test/main/fixtures/release-list.txt
  packages/frontend/electron/test/main/fixtures/releases/0.11.1-beta.1.txt
  packages/frontend/electron/test/main/fixtures/releases/0.11.1-canary.1.txt
  packages/frontend/electron/test/main/fixtures/releases/0.11.1-canary.2.txt
  packages/frontend/electron/test/main/fixtures/releases/0.11.1.txt
  packages/frontend/electron/test/main/fixtures/releases/0.16.3-beta.2/latest-linux.yml
  packages/frontend/electron/test/main/fixtures/releases/0.16.3-beta.2/latest-mac.yml
  packages/frontend/electron/test/main/fixtures/releases/0.16.3-beta.2/latest.yml
  packages/frontend/electron/test/main/fixtures/releases/0.16.3/latest-linux.yml
  packages/frontend/electron/test/main/fixtures/releases/0.16.3/latest-mac.yml
  packages/frontend/electron/test/main/fixtures/releases/0.16.3/latest.yml
  packages/frontend/electron/test/main/fixtures/releases/0.17.0-canary.7/latest-linux.yml
  packages/frontend/electron/test/main/fixtures/releases/0.17.0-canary.7/latest-mac.yml
  packages/frontend/electron/test/main/fixtures/releases/0.17.0-canary.7/latest.yml
  packages/frontend/electron/test/main/updater.spec.ts
Labels: app:electron

#7938 feat: add editor record
  packages/backend/server/migrations/20240826033024_editor_record/migration.sql
  packages/backend/server/schema.prisma
  packages/backend/server/src/core/doc/adapters/userspace.ts
  packages/backend/server/src/core/doc/adapters/workspace.ts
  packages/backend/server/src/core/doc/index.ts
  packages/backend/server/src/core/doc/storage/doc.ts
  packages/backend/server/src/core/doc/storage/index.ts
  packages/backend/server/src/core/sync/gateway.ts
  packages/backend/server/src/core/workspaces/resolvers/history.ts
  packages/backend/server/src/core/workspaces/resolvers/workspace.ts
  packages/backend/server/src/schema.gql
  packages/backend/server/tests/doc/history.spec.ts
  packages/backend/server/tests/doc/workspace.spec.ts
  packages/frontend/core/src/components/affine/page-properties/icons-mapping.tsx
  packages/frontend/core/src/components/affine/page-properties/page-properties-manager.ts
  packages/frontend/core/src/components/affine/page-properties/property-row-value-renderer.tsx
  packages/frontend/core/src/components/affine/page-properties/styles.css.ts
  packages/frontend/core/src/components/affine/setting-modal/workspace-setting/properties/index.tsx
  packages/frontend/core/src/modules/cloud/entities/cloud-doc-meta.ts
  packages/frontend/core/src/modules/cloud/index.ts
  packages/frontend/core/src/modules/cloud/services/cloud-doc-meta.ts
  packages/frontend/core/src/modules/cloud/stores/auth.ts
  packages/frontend/core/src/modules/cloud/stores/cloud-doc-meta.ts
  packages/frontend/core/src/modules/cloud/stores/subscription.ts
  packages/frontend/core/src/modules/properties/services/schema.ts
  packages/frontend/core/src/modules/share-doc/entities/share-docs-list.ts
  packages/frontend/graphql/src/graphql/get-workspace-page-meta.gql
  packages/frontend/graphql/src/graphql/histories.gql
  packages/frontend/graphql/src/graphql/index.ts
  packages/frontend/graphql/src/schema.ts
  packages/frontend/i18n/src/resources/en.json
  tests/affine-local/e2e/doc-info-modal.spec.ts
  tests/affine-local/e2e/page-properties.spec.ts
Labels: mod:i18n, mod:env, mod:dev, app:server, test, app:core

#8026 chore: modify the text content of share menu
  packages/frontend/core/src/components/affine/share-page-modal/share-menu/index.css.ts
  packages/frontend/core/src/components/affine/share-page-modal/share-menu/share-export.tsx
  packages/frontend/core/src/components/page-list/operation-menu-items/export.tsx
  packages/frontend/i18n/src/resources/en.json
Labels: mod:i18n, app:core

#8031 test(mobile): basic e2e tests
  .github/actions/setup-node/action.yml
  .github/workflows/build-test.yml
  packages/frontend/component/src/ui/menu/mobile/item.tsx
  packages/frontend/core/src/bootstrap/preload.ts
  packages/frontend/core/src/components/app-sidebar/category-divider/index.tsx
  packages/frontend/core/src/modules/explorer/views/layouts/collapsible-section.tsx
  packages/frontend/mobile/package.json
  packages/frontend/mobile/src/components/app-tabs/index.tsx
  packages/frontend/mobile/src/components/doc-card/index.tsx
  packages/frontend/mobile/src/components/page-header/index.tsx
  packages/frontend/mobile/src/pages/workspace/detail/page-header-more-button.tsx
  packages/frontend/mobile/src/pages/workspace/search.tsx
  packages/frontend/mobile/src/views/recent-docs/index.tsx
  tests/affine-mobile/e2e/detail.spec.ts
  tests/affine-mobile/e2e/home.spec.ts
  tests/affine-mobile/e2e/utils.ts
  tests/affine-mobile/package.json
  tests/affine-mobile/playwright.config.ts
  tests/affine-mobile/tsconfig.json
  tests/kit/mobile.ts
  tsconfig.json
  yarn.lock
Labels: mod:component, test, app:core

#8049 fix(mobile): change how slider height is calculated
  .github/workflows/build-test.yml
  packages/frontend/component/src/ui/menu/mobile/root.tsx
  tests/affine-mobile/playwright.config.ts
Labels: mod:component, test

#8030 feat(core): add actions to editor settings
  packages/common/infra/src/framework/core/components/component.ts
  packages/frontend/core/src/components/affine/setting-modal/general-setting/editor/edgeless/connecter.tsx
  packages/frontend/core/src/components/affine/setting-modal/general-setting/editor/edgeless/connector.tsx
  packages/frontend/core/src/components/affine/setting-modal/general-setting/editor/edgeless/edgeless.tsx
  packages/frontend/core/src/components/affine/setting-modal/general-setting/editor/edgeless/note.tsx
  packages/frontend/core/src/components/affine/setting-modal/general-setting/editor/edgeless/pen.tsx
  packages/frontend/core/src/components/affine/setting-modal/general-setting/editor/edgeless/text.tsx
  packages/frontend/core/src/components/blocksuite/block-suite-editor/specs/custom/root-block.ts
  packages/frontend/core/src/modules/editor-settting/__test__/editor-setting.spec.ts
  packages/frontend/core/src/modules/editor-settting/entities/editor-setting.ts
  packages/frontend/core/src/modules/editor-settting/schema.ts
  packages/frontend/core/src/modules/telemetry/services/telemetry.ts
  packages/frontend/core/src/utils/__tests__/unflatten-object.spec.ts
  packages/frontend/i18n/src/resources/en.json
Labels: mod:infra, mod:i18n, mod:env, mod:component, app:electron, mod:dev, test, app:core

#8040 chore: adjust custom font family style
  packages/frontend/core/src/components/affine/setting-modal/general-setting/editor/general.tsx
  packages/frontend/core/src/components/affine/setting-modal/general-setting/editor/index.tsx
  packages/frontend/core/src/components/affine/setting-modal/general-setting/editor/style.css.ts
  packages/frontend/core/src/components/affine/setting-modal/general-setting/index.tsx
Labels: app:core

#8052 chore: bump blocksuite
  packages/common/env/package.json
  packages/common/infra/package.json
  packages/frontend/component/package.json
  packages/frontend/core/package.json
  packages/frontend/core/src/components/blocksuite/block-suite-editor/specs/edgeless.ts
  packages/frontend/core/src/components/blocksuite/block-suite-editor/specs/preview.ts
  packages/frontend/electron/package.json
  scripts/setup/vi-mock.ts
  tools/cli/package.json
  yarn.lock
Labels: mod:infra, mod:env, mod:component, app:electron, mod:dev, app:core

#8051 fix(mobile): handle menu ref better
  packages/frontend/component/src/ui/menu/mobile/root.tsx
Labels: mod:component

#8013 feat(component): dropdown menu auto avoid collisions
  packages/frontend/component/package.json
  packages/frontend/component/src/ui/menu/desktop/controller.ts
  packages/frontend/component/src/ui/menu/desktop/root.tsx
  packages/frontend/component/src/ui/menu/desktop/styles.css.ts
  packages/frontend/component/src/ui/menu/desktop/sub.tsx
  yarn.lock
Labels: mod:component

#8053 feat(core): add color picker ui to editor settings
  packages/frontend/core/src/components/affine/setting-modal/general-setting/editor/edgeless/connector.tsx
  packages/frontend/core/src/components/affine/setting-modal/general-setting/editor/edgeless/mind-map.tsx
  packages/frontend/core/src/components/affine/setting-modal/general-setting/editor/edgeless/note.tsx
  packages/frontend/core/src/components/affine/setting-modal/general-setting/editor/edgeless/pen.tsx
  packages/frontend/core/src/components/affine/setting-modal/general-setting/editor/edgeless/point.tsx
  packages/frontend/core/src/components/affine/setting-modal/general-setting/editor/edgeless/shape.tsx
  packages/frontend/core/src/components/affine/setting-modal/general-setting/editor/edgeless/text.tsx
  packages/frontend/core/src/components/affine/setting-modal/general-setting/editor/general.tsx
  packages/frontend/core/src/components/affine/setting-modal/general-setting/editor/menu.tsx
Labels: app:core

#8048 feat(mobile): setting page ui
  packages/frontend/component/src/ui/modal/modal.tsx
  packages/frontend/component/src/ui/modal/styles.css.ts
  packages/frontend/core/src/atoms/index.ts
  packages/frontend/core/src/components/affine/setting-modal/general-setting/appearance/index.tsx
  packages/frontend/core/src/components/affine/setting-modal/general-setting/editor/general.tsx
  packages/frontend/core/src/components/affine/sign-out-modal/index.tsx
  packages/frontend/core/src/hooks/affine/use-sign-out.ts
  packages/frontend/i18n/src/resources/en.json
  packages/frontend/mobile/package.json
  packages/frontend/mobile/src/components/index.ts
  packages/frontend/mobile/src/components/page-header/index.tsx
  packages/frontend/mobile/src/components/user-plan-tag/index.tsx
  packages/frontend/mobile/src/components/user-plan-tag/style.css.ts
  packages/frontend/mobile/src/pages/workspace/layout.tsx
  packages/frontend/mobile/src/provider/model-provider.tsx
  packages/frontend/mobile/src/views/home-header/index.tsx
  packages/frontend/mobile/src/views/index.ts
  packages/frontend/mobile/src/views/settings/about/index.tsx
  packages/frontend/mobile/src/views/settings/appearance/font.tsx
  packages/frontend/mobile/src/views/settings/appearance/index.tsx
  packages/frontend/mobile/src/views/settings/appearance/language.tsx
  packages/frontend/mobile/src/views/settings/appearance/theme.tsx
  packages/frontend/mobile/src/views/settings/dropdown-select.css.ts
  packages/frontend/mobile/src/views/settings/dropdown-select.tsx
  packages/frontend/mobile/src/views/settings/group.css.ts
  packages/frontend/mobile/src/views/settings/group.tsx
  packages/frontend/mobile/src/views/settings/index.tsx
  packages/frontend/mobile/src/views/settings/others/index.tsx
  packages/frontend/mobile/src/views/settings/row.layout.tsx
  packages/frontend/mobile/src/views/settings/style.css.ts
  packages/frontend/mobile/src/views/settings/user-profile/index.tsx
  packages/frontend/mobile/src/views/settings/user-profile/style.css.ts
  packages/frontend/mobile/src/views/settings/user-usage/index.tsx
  packages/frontend/mobile/src/views/settings/user-usage/style.css.ts
  yarn.lock
Labels: mod:i18n, mod:component, mod:store, app:core

#7886 feat(core): add block and element toolbar widget custom config
  packages/common/infra/src/modules/doc/stores/docs.ts
  packages/frontend/core/src/components/blocksuite/block-suite-editor/specs/custom/root-block.ts
  packages/frontend/core/src/components/blocksuite/block-suite-editor/specs/custom/widgets/linked.ts
  packages/frontend/core/src/components/blocksuite/block-suite-editor/specs/custom/widgets/toolbar.ts
  packages/frontend/core/src/hooks/affine/use-share-url.ts
  packages/frontend/core/src/pages/workspace/detail-page/detail-page-wrapper.tsx
  packages/frontend/core/src/pages/workspace/share/share-page.tsx
Labels: mod:infra, test, app:core

#7933 feat(core): add custom configuration to database options
  packages/frontend/core/src/components/blocksuite/block-suite-editor/specs/custom/database-block.ts
  packages/frontend/core/src/components/blocksuite/block-suite-editor/specs/custom/root-block.ts
Labels: app:core

#8058 refactor(core): refactor editor query string selector
  packages/common/infra/src/livedata/livedata.ts
  packages/common/infra/src/utils/shallow-equal.ts
  packages/frontend/core/src/components/blocksuite/block-suite-editor/blocksuite-editor-container.tsx
  packages/frontend/core/src/components/blocksuite/block-suite-editor/blocksuite-editor.tsx
  packages/frontend/core/src/components/blocksuite/block-suite-editor/lit-adaper.tsx
  packages/frontend/core/src/components/page-detail-editor.tsx
  packages/frontend/core/src/modules/editor/entities/editor.ts
  packages/frontend/core/src/modules/editor/index.ts
  packages/frontend/core/src/modules/editor/services/editors.ts
  packages/frontend/core/src/modules/editor/types.ts
  packages/frontend/core/src/modules/peek-view/view/doc-preview/doc-peek-view.tsx
  packages/frontend/core/src/modules/peek-view/view/utils.ts
  packages/frontend/core/src/pages/workspace/detail-page/detail-page-wrapper.tsx
  packages/frontend/core/src/pages/workspace/detail-page/detail-page.tsx
Labels: mod:infra, app:core

#7994 refactor(server): auth
  .github/helm/affine/templates/ingress.yaml
  packages/backend/server/schema.prisma
  packages/backend/server/src/core/auth/controller.ts
  packages/backend/server/src/core/auth/guard.ts
  packages/backend/server/src/core/auth/index.ts
  packages/backend/server/src/core/auth/resolver.ts
  packages/backend/server/src/core/auth/service.ts
  packages/backend/server/src/core/auth/session.ts
  packages/backend/server/src/core/common/admin-guard.ts
  packages/backend/server/src/core/quota/resolver.ts
  packages/backend/server/src/core/selfhost/controller.ts
  packages/backend/server/src/core/sync/gateway.ts
  packages/backend/server/src/core/user/resolver.ts
  packages/backend/server/src/core/user/service.ts
  packages/backend/server/src/core/user/types.ts
  packages/backend/server/src/fundamentals/throttler/index.ts
  packages/backend/server/src/fundamentals/utils/request.ts
  packages/backend/server/src/global.d.ts
  packages/backend/server/src/plugins/copilot/controller.ts
  packages/backend/server/src/plugins/oauth/controller.ts
  packages/backend/server/src/plugins/oauth/providers/def.ts
  packages/backend/server/src/plugins/oauth/service.ts
  packages/backend/server/src/schema.gql
  packages/backend/server/tests/auth/auth.e2e.ts
  packages/backend/server/tests/auth/controller.spec.ts
  packages/backend/server/tests/auth/guard.spec.ts
  packages/backend/server/tests/auth/service.spec.ts
  packages/backend/server/tests/auth/token.spec.ts
  packages/backend/server/tests/copilot.spec.ts
  packages/backend/server/tests/feature.spec.ts
  packages/backend/server/tests/mailer.e2e.ts
  packages/backend/server/tests/nestjs/throttler.spec.ts
  packages/backend/server/tests/oauth/controller.spec.ts
  packages/backend/server/tests/payment/service.spec.ts
  packages/backend/server/tests/quota.spec.ts
  packages/backend/server/tests/user/user.e2e.ts
  packages/backend/server/tests/utils/user.ts
  packages/backend/server/tests/workspace/controller.spec.ts
  packages/frontend/graphql/src/schema.ts
Labels: app:server, test

#8032 refactor(auth): authenticate user in main window
  packages/frontend/core/src/atoms/index.ts
  packages/frontend/core/src/components/affine/auth/after-sign-in-send-email.tsx
  packages/frontend/core/src/components/affine/auth/after-sign-up-send-email.tsx
  packages/frontend/core/src/components/affine/auth/index.tsx
  packages/frontend/core/src/components/affine/auth/oauth.tsx
  packages/frontend/core/src/components/affine/auth/send-email.tsx
  packages/frontend/core/src/components/affine/auth/sign-in-with-password.tsx
  packages/frontend/core/src/components/affine/auth/sign-in.tsx
  packages/frontend/core/src/components/affine/setting-modal/account-setting/index.tsx
  packages/frontend/core/src/components/affine/setting-modal/setting-sidebar/index.tsx
  packages/frontend/core/src/modules/cloud/services/auth.ts
  packages/frontend/core/src/pages/404.tsx
  packages/frontend/core/src/pages/auth/auth.tsx
  packages/frontend/core/src/pages/auth/desktop-signin.tsx
  packages/frontend/core/src/pages/auth/magic-link.tsx
  packages/frontend/core/src/pages/auth/oauth-callback.tsx
  packages/frontend/core/src/pages/auth/sign-in.tsx
  packages/frontend/core/src/pages/desktop-signin.tsx
  packages/frontend/core/src/pages/magic-link.tsx
  packages/frontend/core/src/pages/oauth-callback.tsx
  packages/frontend/core/src/pages/workspace/share/share-header.tsx
  packages/frontend/core/src/providers/modal-provider.tsx
  packages/frontend/core/src/router.tsx
  packages/frontend/electron/renderer/app.tsx
  packages/frontend/electron/src/main/deep-link.ts
  packages/frontend/electron/src/main/ui/events.ts
  packages/frontend/electron/src/main/ui/subject.ts
  packages/frontend/electron/src/main/windows-manager/authentication.ts
  packages/frontend/electron/src/main/windows-manager/index.ts
  packages/frontend/electron/src/main/windows-manager/main-window.ts
  packages/frontend/mobile/src/pages/sign-in.tsx
Labels: mod:i18n, app:electron, mod:store, app:core

#5961 feat(server): make captcha modular
  .github/helm/affine/charts/graphql/templates/deployment.yaml
  packages/backend/server/src/config/affine.env.ts
  packages/backend/server/src/config/affine.self.ts
  packages/backend/server/src/config/affine.ts
  packages/backend/server/src/core/auth/controller.ts
  packages/backend/server/src/core/auth/index.ts
  packages/backend/server/src/core/auth/token.ts
  packages/backend/server/src/core/config/types.ts
  packages/backend/server/src/fundamentals/error/def.ts
  packages/backend/server/src/fundamentals/error/errors.gen.ts
  packages/backend/server/src/fundamentals/guard/guard.ts
  packages/backend/server/src/fundamentals/guard/index.ts
  packages/backend/server/src/fundamentals/guard/provider.ts
  packages/backend/server/src/fundamentals/index.ts
  packages/backend/server/src/plugins/captcha/config.ts
  packages/backend/server/src/plugins/captcha/controller.ts
  packages/backend/server/src/plugins/captcha/guard.ts
  packages/backend/server/src/plugins/captcha/index.ts
  packages/backend/server/src/plugins/captcha/service.ts
  packages/backend/server/src/plugins/captcha/types.ts
  packages/backend/server/src/plugins/index.ts
  packages/backend/server/src/schema.gql
  packages/common/env/src/global.ts
  packages/frontend/core/src/components/affine/auth/sign-in-with-password.tsx
  packages/frontend/core/src/components/affine/auth/use-captcha.tsx
  packages/frontend/core/src/modules/cloud/services/auth.ts
  packages/frontend/graphql/src/schema.ts
  tools/cli/src/webpack/runtime-config.ts
Labels: mod:env, mod:component, app:electron, mod:dev, mod:store, app:server, test, mod:native, app:core, mod:workspace-impl

#8065 feat(server): support openai compatible stream api
  packages/backend/server/src/plugins/copilot/providers/openai.ts
Labels: app:server

#7946 feat(core): support block or element reference links
  packages/frontend/core/src/components/affine/reference-link/index.tsx
  packages/frontend/core/src/components/blocksuite/block-suite-editor/specs/custom/database-block.ts
  packages/frontend/core/src/modules/navigation/utils.ts
  packages/frontend/core/src/modules/peek-view/entities/peek-view.ts
  packages/frontend/core/src/modules/peek-view/view/peek-view-controls.tsx
  packages/frontend/core/src/pages/workspace/detail-page/detail-page-wrapper.tsx
Labels: mod:infra, test, app:core

#8068 fix(electron): only the active view should respond to CMD+N
  packages/frontend/core/src/components/root-app-sidebar/index.tsx
Labels: app:core

#8063 fix(core): handle modal overlay click event correctly
  packages/frontend/component/src/components/rename-modal/index.tsx
  packages/frontend/component/src/ui/menu/desktop/root.tsx
  packages/frontend/component/src/ui/modal/modal.tsx
  tests/kit/utils/properties.ts
Labels: mod:component, test, app:core

#8071 chore: bump bs
  packages/common/env/package.json
  packages/common/infra/package.json
  packages/frontend/component/package.json
  packages/frontend/core/package.json
  packages/frontend/core/src/blocksuite/presets/ai/_common/components/ask-ai-panel.ts
  packages/frontend/core/src/bootstrap/first-app-data.ts
  packages/frontend/core/src/components/affine/reference-link/index.tsx
  packages/frontend/core/src/components/affine/reference-link/utils.ts
  packages/frontend/core/src/components/blocksuite/block-suite-editor/blocksuite-editor-container.tsx
  packages/frontend/core/src/components/blocksuite/block-suite-editor/lit-adaper.tsx
  packages/frontend/core/src/components/blocksuite/block-suite-editor/specs/custom/spec-patchers.tsx
  packages/frontend/core/src/components/blocksuite/block-suite-mode-switch/index.tsx
  packages/frontend/core/src/hooks/affine/use-is-shared-page.tsx
  packages/frontend/core/src/modules/editor/entities/editor.ts
  packages/frontend/core/src/modules/peek-view/entities/peek-view.ts
  packages/frontend/core/src/modules/peek-view/view/doc-preview/doc-peek-view.tsx
  packages/frontend/core/src/modules/quicksearch/services/cmdk.ts
  packages/frontend/core/src/pages/workspace/all-page/all-page-header.tsx
  packages/frontend/core/src/pages/workspace/detail-page/detail-page-wrapper.tsx
  packages/frontend/electron/package.json
  tools/cli/package.json
  yarn.lock
Labels: mod:infra, mod:env, mod:component, app:electron, mod:dev, app:core

#8067 fix(core): page info modal styles
  packages/frontend/core/src/components/affine/page-properties/info-modal/info-modal.css.ts
  packages/frontend/core/src/components/affine/page-properties/info-modal/info-modal.tsx
  packages/frontend/core/src/components/affine/page-properties/property-row-value-renderer.tsx
  packages/frontend/core/src/components/affine/page-properties/styles.css.ts
Labels: app:core

#8066 fix(component): replace storybook-dark-mode with globalTypes toolbar impl
  packages/frontend/component/.storybook/main.ts
  packages/frontend/component/.storybook/preview.tsx
  packages/frontend/component/package.json
  yarn.lock
Labels: mod:component

#8073 fix(component): nested modal view-transition support
  packages/frontend/component/src/ui/modal/modal.stories.tsx
  packages/frontend/component/src/ui/modal/modal.tsx
  packages/frontend/component/src/ui/modal/styles.css.ts
Labels: mod:component

#8039 feat(mobile): sign in page
  packages/frontend/component/src/components/auth-components/index.tsx
  packages/frontend/core/src/bootstrap/preload.ts
  packages/frontend/core/src/components/affine/auth/oauth.tsx
  packages/frontend/core/src/pages/workspace/detail-page/detail-page-wrapper.tsx
  packages/frontend/core/src/pages/workspace/detail-page/detail-page.tsx
  packages/frontend/core/src/types/types.d.ts
  packages/frontend/i18n/src/resources/en.json
  packages/frontend/mobile/src/components/workspace-selector/menu.css.ts
  packages/frontend/mobile/src/index.tsx
  packages/frontend/mobile/src/pages/sign-in.tsx
  packages/frontend/mobile/src/pages/workspace/detail/mobile-detail-page.css.ts
  packages/frontend/mobile/src/pages/workspace/detail/mobile-detail-page.tsx
  packages/frontend/mobile/src/pages/workspace/layout.tsx
  packages/frontend/mobile/src/provider/model-provider.tsx
  packages/frontend/mobile/src/router.tsx
  packages/frontend/mobile/src/views/sign-in/art-dark.inline.svg
  packages/frontend/mobile/src/views/sign-in/art-light.inline.svg
  packages/frontend/mobile/src/views/sign-in/background.css.ts
  packages/frontend/mobile/src/views/sign-in/background.tsx
  packages/frontend/mobile/src/views/sign-in/layout.css.ts
  packages/frontend/mobile/src/views/sign-in/layout.tsx
  packages/frontend/mobile/src/views/sign-in/mobile-sign-in.tsx
  packages/frontend/mobile/src/views/sign-in/modal.tsx
  tools/cli/src/webpack/config.ts
Labels: mod:i18n, mod:component, mod:dev, app:core

#8081 fix(electron): use `CTRL+=` to zoom in on windows
  packages/frontend/electron/src/main/application-menu/create.ts
Labels: app:electron

#8074 fix(core): fix menu bugs
  .eslintrc.js
  packages/frontend/component/src/hooks/focus-and-select.ts
  packages/frontend/component/src/hooks/index.ts
  packages/frontend/component/src/hooks/use-ref-effect.ts
  packages/frontend/component/src/ui/editable/inline-edit.stories.tsx
  packages/frontend/component/src/ui/editable/inline-edit.tsx
  packages/frontend/component/src/ui/menu/desktop/controller.ts
  packages/frontend/component/src/ui/menu/desktop/root.tsx
  packages/frontend/component/src/ui/menu/desktop/sub.tsx
  packages/frontend/core/src/components/blocksuite/block-suite-header/title/index.tsx
  packages/frontend/core/src/modules/explorer/views/tree/node.tsx
  packages/frontend/core/src/pages/workspace/detail-page/detail-page-header.tsx
Labels: mod:component, app:core

#8062 feat(core): indexer upgrade
  packages/frontend/core/src/modules/docs-search/entities/docs-indexer.ts
  packages/frontend/core/src/modules/docs-search/index.ts
  packages/frontend/core/src/modules/docs-search/worker/in-worker.ts
  packages/frontend/core/src/modules/docs-search/worker/types.ts
Labels: app:core

#8085 fix(electron): fix ci
  packages/frontend/electron/vitest.config.ts
Labels: app:electron

#8082 refactor(core): better block link
  packages/frontend/core/src/components/affine/reference-link/index.tsx
  packages/frontend/core/src/components/blocksuite/block-suite-editor/blocksuite-editor-container.tsx
  packages/frontend/core/src/components/blocksuite/block-suite-editor/blocksuite-editor.tsx
  packages/frontend/core/src/components/blocksuite/block-suite-editor/lit-adaper.tsx
  packages/frontend/core/src/components/blocksuite/block-suite-mode-switch/index.tsx
  packages/frontend/core/src/components/page-detail-editor.tsx
  packages/frontend/core/src/modules/editor/entities/editor.ts
  packages/frontend/core/src/modules/editor/services/editors.ts
  packages/frontend/core/src/modules/editor/types.ts
  packages/frontend/core/src/modules/editor/utils/scroll-anchoring.ts
  packages/frontend/core/src/modules/peek-view/view/doc-preview/doc-peek-view.tsx
  packages/frontend/core/src/modules/peek-view/view/utils.ts
  packages/frontend/core/src/modules/workbench/entities/view.ts
  packages/frontend/core/src/modules/workbench/index.ts
  packages/frontend/core/src/pages/workspace/detail-page/detail-page-wrapper.tsx
  packages/frontend/core/src/pages/workspace/detail-page/detail-page.tsx
  packages/frontend/core/src/pages/workspace/share/share-page.tsx
Labels: app:core

#8083 feat(core): apply default doc mode setting
  packages/frontend/core/src/components/affine/setting-modal/general-setting/editor/general.tsx
  packages/frontend/core/src/components/blocksuite/block-suite-page-list/utils.tsx
  packages/frontend/core/src/components/root-app-sidebar/index.tsx
  packages/frontend/core/src/hooks/use-journal.ts
  packages/frontend/core/src/layouts/workspace-layout.tsx
  packages/frontend/core/src/modules/editor-settting/services/editor-setting.ts
Labels: app:core

#8018 feat(core): impl AI switch
  packages/frontend/core/src/blocksuite/presets/ai/ai-spec.ts
  packages/frontend/core/src/blocksuite/presets/ai/entries/code-toolbar/setup-code-toolbar.ts
  packages/frontend/core/src/blocksuite/presets/ai/entries/edgeless/index.ts
  packages/frontend/core/src/blocksuite/presets/ai/entries/format-bar/setup-format-bar.ts
  packages/frontend/core/src/blocksuite/presets/ai/entries/image-toolbar/setup-image-toolbar.ts
  packages/frontend/core/src/blocksuite/presets/ai/entries/slash-menu/setup-slash-menu.ts
  packages/frontend/core/src/blocksuite/presets/ai/entries/space/setup-space.ts
  packages/frontend/core/src/components/affine/ai-onboarding/index.tsx
  packages/frontend/core/src/components/affine/setting-modal/general-setting/editor/general.tsx
  packages/frontend/core/src/components/blocksuite/block-suite-editor/lit-adaper.tsx
  packages/frontend/core/src/components/blocksuite/block-suite-editor/specs/common.ts
  packages/frontend/core/src/components/blocksuite/block-suite-editor/specs/custom/root-block.ts
  packages/frontend/core/src/components/blocksuite/block-suite-editor/specs/edgeless.ts
  packages/frontend/core/src/components/blocksuite/block-suite-editor/specs/page.ts
  packages/frontend/core/src/modules/editor-settting/schema.ts
  packages/frontend/core/src/pages/workspace/detail-page/detail-page.tsx
  packages/frontend/core/src/providers/modal-provider.tsx
  packages/frontend/i18n/src/resources/en.json
Labels: mod:i18n, mod:dev, app:core

#8086 feat(electron): add offline mode
  packages/common/infra/src/modules/feature-flag/constant.ts
  packages/frontend/electron/src/main/protocol.ts
  packages/frontend/electron/src/main/updater/electron-updater.ts
  packages/frontend/electron/src/main/utils.ts
Labels: mod:infra, app:electron

#8096 fix(mobile): workspace selector not close on click outside
  packages/frontend/component/src/ui/menu/mobile/root.tsx
Labels: mod:component, app:core

#8095 chore(electron): downgrade electron to v31
  packages/frontend/electron-api/package.json
  packages/frontend/electron/package.json
  yarn.lock
Labels: app:electron

#8098 chore: support http proxy in bump script
  tools/bump-blocksuite/README.md
  tools/bump-blocksuite/index.js
  tools/bump-blocksuite/package.json
  yarn.lock
Labels: docs

#8101 fix(mobile): explorer node touch optimization
  packages/frontend/core/src/components/app-sidebar/category-divider/index.css.ts
  packages/frontend/core/src/components/app-sidebar/category-divider/index.tsx
  packages/frontend/core/src/modules/explorer/views/layouts/collapsible-section.tsx
  packages/frontend/core/src/modules/explorer/views/tree/node.css.ts
  packages/frontend/core/src/modules/explorer/views/tree/node.tsx
Labels: app:core

#8046 feat(core): add journal navigation tracking
  packages/frontend/core/src/components/affine/reference-link/index.tsx
  packages/frontend/core/src/hooks/use-journal.ts
  packages/frontend/core/src/mixpanel/events.ts
Labels: app:core

#8070 fix(core): edit tag should not jump to its detail
  packages/frontend/core/src/components/page-list/operation-cell.tsx
Labels: app:core

#8094 feat(core): support snapshot preview in editor settings
  packages/frontend/core/src/components/affine/setting-modal/general-setting/editor/edgeless/connector.tsx
  packages/frontend/core/src/components/affine/setting-modal/general-setting/editor/edgeless/docs/connector.json
  packages/frontend/core/src/components/affine/setting-modal/general-setting/editor/edgeless/docs/index.ts
  packages/frontend/core/src/components/affine/setting-modal/general-setting/editor/edgeless/docs/mindmap.json
  packages/frontend/core/src/components/affine/setting-modal/general-setting/editor/edgeless/docs/note.json
  packages/frontend/core/src/components/affine/setting-modal/general-setting/editor/edgeless/docs/pen.json
  packages/frontend/core/src/components/affine/setting-modal/general-setting/editor/edgeless/docs/shape.json
  packages/frontend/core/src/components/affine/setting-modal/general-setting/editor/edgeless/docs/text.json
  packages/frontend/core/src/components/affine/setting-modal/general-setting/editor/edgeless/mind-map.tsx
  packages/frontend/core/src/components/affine/setting-modal/general-setting/editor/edgeless/note.tsx
  packages/frontend/core/src/components/affine/setting-modal/general-setting/editor/edgeless/pen.tsx
  packages/frontend/core/src/components/affine/setting-modal/general-setting/editor/edgeless/shape.tsx
  packages/frontend/core/src/components/affine/setting-modal/general-setting/editor/edgeless/snapshot.tsx
  packages/frontend/core/src/components/affine/setting-modal/general-setting/editor/edgeless/text.tsx
Labels: app:core

#8056 chore(core): track copy block to link action
  packages/frontend/core/src/components/blocksuite/block-suite-editor/specs/custom/database-block.ts
  packages/frontend/core/src/components/blocksuite/block-suite-editor/specs/custom/widgets/toolbar.ts
  packages/frontend/core/src/mixpanel/events.ts
Labels: app:core, merge

#8102 docs: add electron build troubleshooting
  packages/frontend/electron/README.md
Labels: docs, app:electron

#8091 fix(core): hide the footer that blocks the toolbar in shared page
  packages/frontend/core/src/components/blocksuite/block-suite-editor/blocksuite-editor-container.tsx
  packages/frontend/core/src/components/blocksuite/block-suite-editor/blocksuite-editor.tsx
  packages/frontend/core/src/components/blocksuite/block-suite-header/present/detail-header-present-button.tsx
  packages/frontend/core/src/components/blocksuite/block-suite-header/present/use-present.ts
  packages/frontend/core/src/components/cloud/share-header-right-item/present.tsx
  packages/frontend/core/src/components/cloud/share-header-right-item/user-avatar.tsx
  packages/frontend/core/src/components/page-detail-editor.tsx
  packages/frontend/core/src/modules/editor/entities/editor.ts
  packages/frontend/core/src/modules/peek-view/view/doc-preview/doc-peek-view.tsx
  packages/frontend/core/src/pages/workspace/detail-page/detail-page.tsx
  packages/frontend/core/src/pages/workspace/share/share-page.tsx
Labels: app:core

#8105 feat(core): observe editor settings change and update edgeless editor
  packages/frontend/core/src/components/affine/setting-modal/general-setting/editor/edgeless/connector.tsx
  packages/frontend/core/src/components/affine/setting-modal/general-setting/editor/edgeless/docs/pen.json
  packages/frontend/core/src/components/affine/setting-modal/general-setting/editor/edgeless/mind-map.tsx
  packages/frontend/core/src/components/affine/setting-modal/general-setting/editor/edgeless/note.tsx
  packages/frontend/core/src/components/affine/setting-modal/general-setting/editor/edgeless/pen.tsx
  packages/frontend/core/src/components/affine/setting-modal/general-setting/editor/edgeless/shape.tsx
  packages/frontend/core/src/components/affine/setting-modal/general-setting/editor/edgeless/snapshot.tsx
  packages/frontend/core/src/components/affine/setting-modal/general-setting/editor/edgeless/text.tsx
Labels: app:core

#8087 fix(core): link generation for selected blocks
  packages/frontend/core/src/components/affine/share-page-modal/share-menu/share-page.tsx
  packages/frontend/core/src/hooks/affine/use-share-url.ts
Labels: app:core

#8090 feat(core): temporarily add page mode editor settings to appearance settings
  packages/frontend/core/src/components/affine/setting-modal/general-setting/appearance/index.tsx
  packages/frontend/core/src/components/affine/setting-modal/general-setting/editor/edgeless/connector.tsx
  packages/frontend/core/src/components/affine/setting-modal/general-setting/editor/edgeless/note.tsx
  packages/frontend/core/src/components/affine/setting-modal/general-setting/editor/edgeless/pen.tsx
  packages/frontend/core/src/components/affine/setting-modal/general-setting/editor/edgeless/text.tsx
  packages/frontend/core/src/components/affine/setting-modal/general-setting/editor/utils.ts
Labels: app:core

#8108 feat(core): selector for editorSetting hooks
  packages/frontend/core/src/components/affine/page-properties/table.tsx
  packages/frontend/core/src/components/blocksuite/block-suite-editor/lit-adaper.tsx
  packages/frontend/core/src/modules/peek-view/view/modal-container.tsx
  packages/frontend/core/src/providers/modal-provider.tsx
  packages/frontend/mobile/src/views/settings/appearance/font.tsx
Labels: app:core

#8109 feat(mobile): add share button
  packages/frontend/core/src/components/affine/share-page-modal/share-menu/share-page.tsx
  packages/frontend/mobile/src/pages/workspace/detail/mobile-detail-page.tsx
  packages/frontend/mobile/src/pages/workspace/detail/page-header-more-button.tsx
  packages/frontend/mobile/src/pages/workspace/detail/page-header-share-button.css.ts
  packages/frontend/mobile/src/pages/workspace/detail/page-header-share-button.tsx
Labels: app:core

#8113 fix(electron): tune offline mode filter
  packages/frontend/electron/src/main/protocol.ts
Labels: app:electron

#8118 fix(core): should open a new tab with parameters
  packages/frontend/core/src/modules/peek-view/view/peek-view-controls.tsx
  packages/frontend/core/src/modules/peek-view/view/peek-view-manager.tsx
  packages/frontend/core/src/modules/quicksearch/services/cmdk.ts
  packages/frontend/core/src/modules/workbench/entities/workbench.ts
Labels: app:core

#8119 feat(core): update i18n resources
  packages/frontend/i18n/src/resources/ar.json
  packages/frontend/i18n/src/resources/ca.json
  packages/frontend/i18n/src/resources/en-US.json
  packages/frontend/i18n/src/resources/en.json
  packages/frontend/i18n/src/resources/es.json
  packages/frontend/i18n/src/resources/fr.json
  packages/frontend/i18n/src/resources/index.ts
  packages/frontend/i18n/src/resources/ko.json
  packages/frontend/i18n/src/resources/pt-BR.json
  packages/frontend/i18n/src/resources/ru.json
  packages/frontend/i18n/src/resources/zh-Hans.json
Labels: mod:i18n

#8114 feat(core): bump blocksuite
  packages/common/env/package.json
  packages/common/infra/package.json
  packages/frontend/component/package.json
  packages/frontend/core/package.json
  packages/frontend/core/src/blocksuite/presets/ai/_common/chat-actions-handle.ts
  packages/frontend/core/src/blocksuite/presets/ai/_common/selection-utils.ts
  packages/frontend/core/src/blocksuite/presets/ai/actions/edgeless-response.ts
  packages/frontend/core/src/blocksuite/presets/ai/chat-panel/chat-panel-messages.ts
  packages/frontend/core/src/blocksuite/presets/ai/entries/edgeless/actions-config.ts
  packages/frontend/core/src/blocksuite/presets/ai/entries/slash-menu/setup-slash-menu.ts
  packages/frontend/core/src/blocksuite/presets/ai/messages/mindmap.ts
  packages/frontend/core/src/blocksuite/presets/ai/peek-view/chat-block-peek-view.ts
  packages/frontend/core/src/blocksuite/presets/ai/utils/edgeless.ts
  packages/frontend/core/src/blocksuite/presets/ai/utils/selection-utils.ts
  packages/frontend/core/src/components/blocksuite/block-suite-editor/lit-adaper.tsx
  packages/frontend/core/src/components/blocksuite/block-suite-editor/specs/custom/root-block.ts
  packages/frontend/core/src/components/blocksuite/block-suite-editor/specs/custom/spec-patchers.tsx
  packages/frontend/core/src/components/blocksuite/block-suite-editor/specs/edgeless.ts
  packages/frontend/core/src/components/blocksuite/block-suite-editor/specs/page.ts
  packages/frontend/core/src/pages/workspace/detail-page/tabs/chat.tsx
  packages/frontend/electron/package.json
  tools/cli/package.json
  yarn.lock
Labels: mod:infra, mod:env, mod:component, app:electron, mod:dev, app:core

#8120 chore: remove deprecated admin panel
  packages/frontend/core/src/components/admin-panel/admin-panel-header.tsx
  packages/frontend/core/src/components/admin-panel/collapsible-item.tsx
  packages/frontend/core/src/components/admin-panel/index.css.ts
  packages/frontend/core/src/components/admin-panel/index.ts
  packages/frontend/core/src/components/admin-panel/runtime-setting-row.tsx
  packages/frontend/core/src/components/admin-panel/use-get-server-runtime-config.ts
  packages/frontend/core/src/components/admin-panel/use-update-server-runtime-config.ts
  packages/frontend/core/src/components/admin-panel/utils.tsx
  packages/frontend/core/src/pages/admin-panel.css.ts
  packages/frontend/core/src/pages/admin-panel.tsx
  packages/frontend/core/src/router.tsx
Labels: app:core

#8115 feat(core): expose skip login button to web
  packages/frontend/core/src/components/affine/auth/index.tsx
  packages/frontend/core/src/components/affine/auth/sign-in.tsx
  packages/frontend/core/src/components/affine/auth/style.css.ts
  packages/frontend/core/src/pages/auth/sign-in.tsx
  packages/frontend/mobile/src/views/sign-in/layout.css.ts
  packages/frontend/mobile/src/views/sign-in/layout.tsx
  packages/frontend/mobile/src/views/sign-in/mobile-sign-in.tsx
Labels: app:core

#8121 fix(core): should be bound to the correct object
  packages/frontend/core/src/modules/editor/entities/editor.ts
Labels: app:core

#8117 fix(core): remove joined workspace icon from current worksapce card
  packages/frontend/core/src/components/workspace-selector/index.tsx
  packages/frontend/core/src/components/workspace-selector/workspace-card/index.tsx
Labels: app:core

#8123 feat(core): make permission and invoice offline available
  packages/backend/server/src/core/permission/service.ts
  packages/backend/server/src/core/quota/storage.ts
  packages/backend/server/src/core/quota/types.ts
  packages/backend/server/src/core/workspaces/resolvers/workspace.ts
  packages/backend/server/src/schema.gql
  packages/frontend/component/src/components/member-components/pagination.tsx
  packages/frontend/core/src/components/affine/setting-modal/workspace-setting/new-workspace-setting-detail/members.tsx
  packages/frontend/core/src/hooks/affine/use-member-count.ts
  packages/frontend/core/src/hooks/affine/use-members.ts
  packages/frontend/core/src/modules/cloud/services/graphql.ts
  packages/frontend/core/src/modules/permissions/entities/members.ts
  packages/frontend/core/src/modules/permissions/index.ts
  packages/frontend/core/src/modules/permissions/services/members.ts
  packages/frontend/core/src/modules/permissions/stores/members.ts
  packages/frontend/graphql/src/graphql/index.ts
  packages/frontend/graphql/src/graphql/workspace-quota.gql
  packages/frontend/graphql/src/schema.ts
Labels: mod:component, app:server, app:core

#8122 feat(core): shape editor settings
  packages/frontend/core/src/components/affine/setting-modal/general-setting/editor/edgeless/connector.tsx
  packages/frontend/core/src/components/affine/setting-modal/general-setting/editor/edgeless/docs/flow.json
  packages/frontend/core/src/components/affine/setting-modal/general-setting/editor/edgeless/docs/index.ts
  packages/frontend/core/src/components/affine/setting-modal/general-setting/editor/edgeless/mind-map.tsx
  packages/frontend/core/src/components/affine/setting-modal/general-setting/editor/edgeless/note.tsx
  packages/frontend/core/src/components/affine/setting-modal/general-setting/editor/edgeless/pen.tsx
  packages/frontend/core/src/components/affine/setting-modal/general-setting/editor/edgeless/shape.tsx
  packages/frontend/core/src/components/affine/setting-modal/general-setting/editor/edgeless/snapshot.tsx
  packages/frontend/core/src/components/affine/setting-modal/general-setting/editor/edgeless/text.tsx
  packages/frontend/core/src/components/affine/setting-modal/general-setting/editor/edgeless/utils.ts
  packages/frontend/core/src/components/affine/setting-modal/general-setting/editor/style.css.ts
  packages/frontend/core/src/modules/editor-settting/schema.ts
  packages/frontend/i18n/src/resources/en.json
  packages/frontend/i18n/src/resources/zh-Hans.json
Labels: mod:i18n, app:core

#8125 fix: fix download fonts script
  scripts/download-blocksuite-fonts.mjs
Labels: mod:dev

#8133 fix(core): fix member list fallback size
  packages/frontend/core/src/components/affine/setting-modal/workspace-setting/new-workspace-setting-detail/members.tsx
Labels: app:core

#8131 fix(core): inlineEditor on rich-text may be null
  packages/frontend/core/src/modules/editor/entities/editor.ts
Labels: app:core

#8139 fix(core): some fonts are unavailable
  packages/frontend/core/src/components/affine/setting-modal/general-setting/editor/general.tsx
  packages/frontend/i18n/src/resources/en.json
  packages/frontend/i18n/src/resources/zh-Hans.json
Labels: mod:i18n, app:core

#8140 fix(server): remove default auth redirect url
  packages/backend/server/src/core/auth/controller.ts
  packages/backend/server/src/plugins/oauth/controller.ts
  packages/frontend/core/src/pages/auth/magic-link.tsx
  packages/frontend/core/src/pages/auth/oauth-callback.tsx
Labels: app:server, app:core

#8134 fix(server): created user in update table should not have defualt value
  packages/backend/server/migrations/20240826033024_editor_record/migration.sql
  packages/backend/server/schema.prisma
Labels: app:server

#8145 fix: load snapshot files in parallel
  packages/frontend/core/src/components/affine/setting-modal/general-setting/editor/edgeless/docs/index.ts
  packages/frontend/core/src/components/affine/setting-modal/general-setting/editor/edgeless/docs/shape.json
  packages/frontend/core/src/components/affine/setting-modal/general-setting/editor/edgeless/docs/text.json
  packages/frontend/core/src/components/affine/setting-modal/general-setting/editor/edgeless/snapshot.tsx
Labels: app:core

#8127 feat(electron): electron shell skeleton
  packages/frontend/component/src/ui/skeleton/index.css.ts
  packages/frontend/component/src/ui/skeleton/skeleton.tsx
  packages/frontend/component/src/ui/skeleton/types.ts
  packages/frontend/core/src/components/affine/app-container.tsx
  packages/frontend/core/src/components/app-sidebar/fallback.css.ts
  packages/frontend/core/src/components/app-sidebar/index.tsx
  packages/frontend/core/src/components/root-app-sidebar/index.tsx
  packages/frontend/core/src/components/workspace/index.css.ts
  packages/frontend/core/src/components/workspace/index.tsx
  packages/frontend/core/src/modules/workbench/view/split-view/panel.tsx
  packages/frontend/core/src/modules/workbench/view/split-view/split-view.tsx
  packages/frontend/core/src/pages/workspace/index.tsx
  packages/frontend/electron/renderer/app.tsx
  packages/frontend/electron/renderer/shell/shell.css.ts
  packages/frontend/electron/renderer/shell/shell.tsx
  packages/frontend/mobile/src/app.tsx
  packages/frontend/mobile/src/pages/workspace/layout.tsx
Labels: mod:component, app:electron, app:core

#8137 fix(electron): auto update check on windows
  packages/frontend/electron/src/main/updater/electron-updater.ts
Labels: app:electron

#8146 fix(core): adjust editor settings preview style
  packages/frontend/core/src/components/affine/setting-modal/general-setting/editor/edgeless/note.tsx
  packages/frontend/core/src/components/affine/setting-modal/general-setting/editor/edgeless/shape.tsx
  packages/frontend/core/src/components/affine/setting-modal/general-setting/editor/edgeless/snapshot.tsx
  packages/frontend/core/src/components/affine/setting-modal/general-setting/editor/style.css.ts
Labels: app:core

#8143 fix(core): deleted doc should not appear in tag pages
  packages/frontend/core/src/components/page-list/tags/tag-list-item.tsx
  packages/frontend/core/src/pages/workspace/tag/index.tsx
Labels: app:core

#8147 chore: bump bs to lts
  packages/common/env/package.json
  packages/common/infra/package.json
  packages/common/infra/src/modules/feature-flag/constant.ts
  packages/frontend/component/package.json
  packages/frontend/core/package.json
  packages/frontend/core/src/blocksuite/presets/ai/utils/custom-specs.ts
  packages/frontend/core/src/components/blocksuite/block-suite-editor/specs/custom/root-block.ts
  packages/frontend/electron/package.json
  scripts/download-blocksuite-fonts.mjs
  tools/bump-blocksuite/index.js
  tools/cli/package.json
  yarn.lock
Labels: mod:infra, mod:env, mod:component, app:electron, mod:dev, app:core

#8150 fix(core): oauth links should have origin prefix in desktop
  packages/frontend/core/src/components/affine/auth/oauth.tsx
Labels: app:core

#8148 fix(core): nav item line-height with Emoji
  packages/frontend/core/src/modules/explorer/views/tree/node.css.ts
Labels: app:core

#8151 chore: sort font weight options
  packages/frontend/core/src/components/affine/setting-modal/general-setting/editor/edgeless/shape.tsx
  packages/frontend/core/src/components/affine/setting-modal/general-setting/editor/edgeless/text.tsx
  packages/frontend/core/src/components/affine/setting-modal/general-setting/editor/utils.ts
Labels: app:core

#8149 chore(core): publish editor settings in beta
  packages/common/infra/src/modules/feature-flag/constant.ts
Labels: mod:infra

#8112 fix(mobile): adjust mobile ui
  packages/frontend/component/src/ui/date-picker/calendar/day-picker.tsx
  packages/frontend/component/src/ui/date-picker/calendar/types.tsx
  packages/frontend/component/src/ui/menu/menu.types.ts
  packages/frontend/component/src/ui/menu/mobile/item.tsx
  packages/frontend/component/src/ui/menu/mobile/styles.css.ts
  packages/frontend/core/src/pages/workspace/detail-page/tabs/journal.css.ts
  packages/frontend/core/src/pages/workspace/detail-page/tabs/journal.tsx
  packages/frontend/mobile/src/components/app-tabs/home-icon.tsx
  packages/frontend/mobile/src/components/app-tabs/index.tsx
  packages/frontend/mobile/src/components/app-tabs/styles.css.ts
  packages/frontend/mobile/src/components/workspace-selector/menu.tsx
  packages/frontend/mobile/src/views/settings/dropdown-select.tsx
Labels: mod:component, app:core

#8153 chore: bump bs
  .github/renovate.json
  packages/common/env/package.json
  packages/common/infra/package.json
  packages/frontend/component/package.json
  packages/frontend/core/package.json
  packages/frontend/electron/package.json
  tools/cli/package.json
  yarn.lock
Labels: mod:infra, mod:env, mod:component, app:electron, mod:dev, app:core

#8160 perf(server): avoid filter doc snapshot by non-indexed updatedAt
  packages/backend/server/src/core/doc/adapters/workspace.ts
Labels: app:server

#8161 perf(server): accelerate user workspace permission queries
  packages/backend/server/migrations/20240908111944_index_permission_user_id/migration.sql
  packages/backend/server/schema.prisma
Labels: app:server

#8163 feat: add index for snapshots
  packages/backend/server/migrations/20240908130725_add_workspace_level_snapshot_index/migration.sql
  packages/backend/server/schema.prisma
  packages/backend/server/src/core/doc/adapters/workspace.ts
  packages/backend/server/src/data/migrations/1698398506533-guid.ts
  packages/backend/server/tests/doc/workspace.spec.ts
Labels: app:server, test

#8157 fix(core): link copying and pasting
  packages/frontend/core/src/components/blocksuite/block-suite-editor/specs/custom/database-block.ts
  packages/frontend/core/src/components/blocksuite/block-suite-editor/specs/custom/widgets/toolbar.ts
Labels: app:core

#8152 fix(core): disable border thickness setting when no border is selected
  packages/frontend/component/src/ui/slider/index.css.ts
  packages/frontend/component/src/ui/slider/slider.tsx
  packages/frontend/core/src/components/affine/setting-modal/general-setting/editor/edgeless/note.tsx
  packages/frontend/core/src/components/affine/setting-modal/general-setting/editor/edgeless/shape.tsx
Labels: mod:component, app:core

#8167 perf(server): index lower user email
  packages/backend/server/migrations/20240909100000_lower_index_user_email/migration.sql
  packages/backend/server/src/core/user/service.ts
Labels: app:server

#8171 fix(core): unexpected jump when clicking save tag
  packages/frontend/core/src/components/page-list/list.css.ts
  packages/frontend/core/src/components/page-list/tags/create-tag.tsx
Labels: app:core

#8170 feat: improve ai query performance
  packages/backend/server/migrations/20240909090850_ai_table_index/migration.sql
  packages/backend/server/schema.prisma
Labels: app:server

#8179 fix(core): menu not scrollable when opening in modal
  packages/frontend/component/src/ui/menu/desktop/root.tsx
  packages/frontend/component/src/ui/modal/modal.tsx
Labels: mod:component

#8181 fix(core): reduce state refresh
  packages/frontend/core/src/modules/cloud/entities/session.ts
  packages/frontend/core/src/modules/cloud/stores/auth.ts
Labels: app:core

#8183 fix: ai error message tip would be cut off
  packages/frontend/core/src/blocksuite/presets/ai/messages/error.ts
Labels: app:core

#8184 chore: bump theme version
  packages/frontend/component/package.json
  packages/frontend/core/package.json
  packages/frontend/mobile/package.json
  yarn.lock
Labels: mod:component, app:core

#8185 chore: adjust the border color of Point component
  packages/frontend/core/src/components/affine/setting-modal/general-setting/editor/edgeless/point.tsx
Labels: app:core

#8186 fix: client captcha
  packages/backend/server/src/core/auth/token.ts
  packages/backend/server/src/plugins/captcha/service.ts
Labels: app:server

#8189 chore: bump bs
  packages/common/env/package.json
  packages/common/infra/package.json
  packages/frontend/component/package.json
  packages/frontend/core/package.json
  packages/frontend/core/src/blocksuite/presets/ai/_common/chat-actions-handle.ts
  packages/frontend/core/src/blocksuite/presets/ai/_common/components/chat-action-list.ts
  packages/frontend/core/src/blocksuite/presets/ai/_common/components/copy-more.ts
  packages/frontend/core/src/blocksuite/presets/ai/_common/selection-utils.ts
  packages/frontend/core/src/blocksuite/presets/ai/actions/edgeless-response.ts
  packages/frontend/core/src/blocksuite/presets/ai/chat-panel/index.ts
  packages/frontend/core/src/blocksuite/presets/ai/messages/mindmap.ts
  packages/frontend/core/src/blocksuite/presets/ai/messages/slides-renderer.ts
  packages/frontend/core/src/blocksuite/presets/ai/peek-view/chat-block-peek-view.ts
  packages/frontend/core/src/blocksuite/presets/ai/slides/index.ts
  packages/frontend/core/src/components/blocksuite/block-suite-editor/specs/common.ts
  packages/frontend/core/src/components/blocksuite/block-suite-editor/specs/custom/spec-patchers.tsx
  packages/frontend/core/src/modules/peek-view/view/doc-preview/doc-peek-view.tsx
  packages/frontend/electron/package.json
  tools/cli/package.json
  yarn.lock
Labels: mod:infra, mod:env, mod:component, app:electron, mod:dev, app:core

#8190 feat(core): add outline viewer for share page
  packages/frontend/core/src/components/blocksuite/outline-viewer/index.tsx
  packages/frontend/core/src/pages/workspace/share/share-page.tsx
  tests/affine-cloud/e2e/share-page.spec.ts
Labels: docs, test, app:core, merge

#8191 fix(core): disable append paragraph in shared page editor
  packages/frontend/core/src/components/blocksuite/block-suite-editor/blocksuite-editor-container.tsx
  packages/frontend/core/src/components/blocksuite/block-suite-editor/lit-adaper.tsx
  tests/affine-cloud/e2e/share-page.spec.ts
Labels: test, app:core

#8168 feat(mobile): pwa and browser theme-color optimization
  packages/common/env/src/global.ts
  packages/common/env/src/ua-helper.ts
  packages/frontend/component/src/hooks/index.ts
  packages/frontend/component/src/hooks/use-theme-color-meta.ts
  packages/frontend/component/src/hooks/use-theme-value.ts
  packages/frontend/component/src/index.ts
  packages/frontend/component/src/ui/menu/mobile/root.tsx
  packages/frontend/component/src/ui/modal/modal.tsx
  packages/frontend/component/src/ui/modal/styles.css.ts
  packages/frontend/component/src/ui/safe-area/index.tsx
  packages/frontend/component/src/ui/safe-area/style.css.ts
  packages/frontend/core/public/apple-touch-icon.png
  packages/frontend/mobile/src/components/app-tabs/index.tsx
  packages/frontend/mobile/src/components/app-tabs/styles.css.ts
  packages/frontend/mobile/src/components/page-header/index.tsx
  packages/frontend/mobile/src/components/page-header/styles.css.ts
  packages/frontend/mobile/src/pages/workspace/all.tsx
  packages/frontend/mobile/src/pages/workspace/collection/detail.tsx
  packages/frontend/mobile/src/pages/workspace/collection/index.tsx
  packages/frontend/mobile/src/pages/workspace/detail/mobile-detail-page.tsx
  packages/frontend/mobile/src/pages/workspace/home.tsx
  packages/frontend/mobile/src/pages/workspace/search.tsx
  packages/frontend/mobile/src/pages/workspace/tag/detail.tsx
  packages/frontend/mobile/src/pages/workspace/tag/index.tsx
  packages/frontend/mobile/src/styles/mobile.css.ts
  packages/frontend/mobile/src/views/all-docs/header.tsx
  packages/frontend/mobile/src/views/all-docs/style.css.ts
  packages/frontend/mobile/src/views/home-header/index.tsx
  packages/frontend/mobile/src/views/home-header/styles.css.ts
  tools/cli/src/webpack/template.html
  tools/cli/src/webpack/webpack.config.ts
Labels: mod:env, mod:component, mod:dev, app:core

#8194 feat(core): add auth metrics
  packages/frontend/core/src/components/affine/auth/index.tsx
  packages/frontend/core/src/components/affine/auth/sign-in.tsx
  packages/frontend/core/src/mixpanel/events.ts
  packages/frontend/core/src/modules/cloud/services/auth.ts
  packages/frontend/core/src/pages/auth/oauth-callback.tsx
Labels: app:core

#8187 fix(core): fix menu shaking
  packages/frontend/component/src/ui/menu/desktop/controller.ts
  packages/frontend/component/src/ui/menu/desktop/root.tsx
  packages/frontend/component/src/ui/menu/desktop/sub.tsx
  packages/frontend/core/src/components/workspace-selector/user-with-workspace-list/workspace-list/index.css.ts
Labels: mod:component, app:core

#8196 feat: add mind map import feature flag
  packages/common/infra/src/modules/feature-flag/constant.ts
Labels: mod:infra

#8193 feat(core): preview template & snapshot import
  packages/frontend/core/src/components/cloud/share-header-right-item/import-template.tsx
  packages/frontend/core/src/components/cloud/share-header-right-item/index.tsx
  packages/frontend/core/src/hooks/use-navigate-helper.ts
  packages/frontend/core/src/modules/import-template/services/import.ts
  packages/frontend/core/src/modules/import-template/store/downloader.ts
  packages/frontend/core/src/pages/workspace/share/share-header.tsx
  packages/frontend/core/src/pages/workspace/share/share-page.tsx
  packages/frontend/core/src/router.tsx
  packages/frontend/i18n/src/resources/en.json
Labels: mod:i18n, app:core

#8195 feat(core): move enable ai to feature flag
  packages/common/infra/src/modules/feature-flag/constant.ts
  packages/common/infra/src/modules/feature-flag/entities/flags.ts
  packages/common/infra/src/modules/feature-flag/services/feature-flag.ts
  packages/common/infra/src/modules/feature-flag/types.ts
  packages/frontend/core/src/components/affine/ai-onboarding/index.tsx
  packages/frontend/core/src/components/affine/setting-modal/general-setting/editor/general.tsx
  packages/frontend/core/src/components/affine/setting-modal/general-setting/experimental-features/index.tsx
  packages/frontend/core/src/components/blocksuite/block-suite-editor/lit-adaper.tsx
  packages/frontend/core/src/modules/editor-settting/entities/editor-setting.ts
  packages/frontend/core/src/modules/editor-settting/schema.ts
  packages/frontend/core/src/modules/editor-settting/services/editor-setting.ts
  packages/frontend/core/src/pages/workspace/detail-page/detail-page.tsx
  packages/frontend/core/src/providers/modal-provider.tsx
  packages/frontend/i18n/src/resources/en.json
  packages/frontend/i18n/src/resources/zh-Hans.json
Labels: mod:infra, mod:i18n, app:core

#8188 fix(core): disconnect ws when user logout
  packages/common/infra/src/modules/workspace/entities/engine.ts
  packages/common/infra/src/modules/workspace/services/engine.ts
  packages/common/infra/src/sync/awareness.ts
  packages/common/infra/src/sync/doc/index.ts
  packages/common/infra/src/sync/doc/server.ts
  packages/frontend/core/src/modules/cloud/index.ts
  packages/frontend/core/src/modules/cloud/services/websocket.ts
  packages/frontend/core/src/modules/userspace/entities/user-db-engine.ts
  packages/frontend/core/src/modules/userspace/impls/user-db-doc-server.ts
  packages/frontend/core/src/modules/workspace-engine/impls/cloud.ts
  packages/frontend/core/src/modules/workspace-engine/impls/engine/awareness-cloud.ts
  packages/frontend/core/src/modules/workspace-engine/impls/engine/doc-cloud.ts
Labels: mod:infra, app:core

#8198 feat: add mindmap and connector settings
  packages/frontend/core/src/components/affine/setting-modal/general-setting/editor/edgeless/connector.tsx
  packages/frontend/core/src/components/affine/setting-modal/general-setting/editor/edgeless/docs/connector.json
  packages/frontend/core/src/components/affine/setting-modal/general-setting/editor/edgeless/docs/index.ts
  packages/frontend/core/src/components/affine/setting-modal/general-setting/editor/edgeless/docs/mindmap.json
  packages/frontend/core/src/components/affine/setting-modal/general-setting/editor/edgeless/mind-map.tsx
  packages/frontend/core/src/components/affine/setting-modal/general-setting/editor/edgeless/shape.tsx
  packages/frontend/core/src/components/affine/setting-modal/general-setting/editor/edgeless/snapshot.tsx
  packages/frontend/core/src/components/affine/setting-modal/general-setting/editor/style.css.ts
Labels: app:core

#8197 feat(core): new empty states for doc/collection/tag
  packages/frontend/component/src/index.ts
  packages/frontend/component/src/ui/empty/empty.tsx
  packages/frontend/component/src/ui/themed-img/index.tsx
  packages/frontend/component/src/utils/index.ts
  packages/frontend/core/src/components/affine/empty/action-button.tsx
  packages/frontend/core/src/components/affine/empty/assets/404.dark.png
  packages/frontend/core/src/components/affine/empty/assets/404.light.png
  packages/frontend/core/src/components/affine/empty/assets/collection-detail.dark.png
  packages/frontend/core/src/components/affine/empty/assets/collection-detail.light.png
  packages/frontend/core/src/components/affine/empty/assets/collection-list.dark.png
  packages/frontend/core/src/components/affine/empty/assets/collection-list.light.png
  packages/frontend/core/src/components/affine/empty/assets/denied.dark.png
  packages/frontend/core/src/components/affine/empty/assets/denied.light.png
  packages/frontend/core/src/components/affine/empty/assets/docs.dark.png
  packages/frontend/core/src/components/affine/empty/assets/docs.light.png
  packages/frontend/core/src/components/affine/empty/assets/tag-list.dark.png
  packages/frontend/core/src/components/affine/empty/assets/tag-list.light.png
  packages/frontend/core/src/components/affine/empty/collection-detail.tsx
  packages/frontend/core/src/components/affine/empty/collections.tsx
  packages/frontend/core/src/components/affine/empty/docs.tsx
  packages/frontend/core/src/components/affine/empty/index.ts
  packages/frontend/core/src/components/affine/empty/layout.tsx
  packages/frontend/core/src/components/affine/empty/style.css.ts
  packages/frontend/core/src/components/affine/empty/tags.tsx
  packages/frontend/core/src/components/affine/empty/types.ts
  packages/frontend/core/src/components/page-list/collections/collection-list-header.tsx
  packages/frontend/core/src/components/page-list/collections/virtualized-collection-list.tsx
  packages/frontend/core/src/components/page-list/docs/page-list-header.tsx
  packages/frontend/core/src/components/page-list/operation-cell.tsx
  packages/frontend/core/src/components/page-list/view/collection-operations.tsx
  packages/frontend/core/src/components/page-list/view/save-as-collection-button.tsx
  packages/frontend/core/src/components/page-list/view/use-edit-collection.tsx
  packages/frontend/core/src/modules/explorer/views/nodes/collection/index.tsx
  packages/frontend/core/src/modules/explorer/views/sections/collections/index.tsx
  packages/frontend/core/src/pages/workspace/all-collection/index.tsx
  packages/frontend/core/src/pages/workspace/all-page/all-page.tsx
  packages/frontend/core/src/pages/workspace/collection/index.tsx
  packages/frontend/core/src/pages/workspace/page-list-empty.css.ts
  packages/frontend/core/src/pages/workspace/page-list-empty.tsx
  packages/frontend/core/src/pages/workspace/tag/index.tsx
  packages/frontend/core/src/pages/workspace/trash-page.tsx
  packages/frontend/i18n/src/resources/en.json
  packages/frontend/mobile/src/pages/workspace/collection/detail.tsx
  packages/frontend/mobile/src/views/all-docs/collection/detail.tsx
  packages/frontend/mobile/src/views/all-docs/collection/list.tsx
  packages/frontend/mobile/src/views/all-docs/doc/list.tsx
  packages/frontend/mobile/src/views/all-docs/tag/detail.tsx
  packages/frontend/mobile/src/views/all-docs/tag/list.tsx
  packages/frontend/mobile/src/views/recent-docs/index.tsx
Labels: mod:i18n, mod:component, app:core

#8169 feat(core): support block links on Bi-Directional Links
  packages/frontend/core/src/components/affine/reference-link/index.tsx
  packages/frontend/core/src/components/blocksuite/block-suite-editor/bi-directional-link-panel.tsx
  packages/frontend/core/src/components/blocksuite/block-suite-editor/lit-adaper.tsx
  packages/frontend/core/src/modules/doc-link/entities/doc-links.ts
  packages/frontend/core/src/modules/docs-search/entities/docs-indexer.ts
  packages/frontend/core/src/modules/docs-search/schema.ts
  packages/frontend/core/src/modules/docs-search/services/docs-search.ts
  packages/frontend/core/src/modules/docs-search/worker/in-worker.ts
  packages/frontend/core/src/modules/quicksearch/impls/docs.ts
  packages/frontend/core/src/utils/url.ts
Labels: app:core

#8204 chore: bump bs
  packages/common/env/package.json
  packages/common/infra/package.json
  packages/frontend/component/package.json
  packages/frontend/core/package.json
  packages/frontend/core/src/blocksuite/presets/ai/_common/chat-actions-handle.ts
  packages/frontend/core/src/blocksuite/presets/ai/_common/components/chat-action-list.ts
  packages/frontend/core/src/blocksuite/presets/ai/_common/components/copy-more.ts
  packages/frontend/core/src/blocksuite/presets/ai/chat-panel/index.ts
  packages/frontend/core/src/blocksuite/presets/ai/peek-view/chat-block-peek-view.ts
  packages/frontend/core/src/components/blocksuite/block-suite-editor/specs/common.ts
  packages/frontend/core/src/components/blocksuite/block-suite-editor/specs/custom/root-block.ts
  packages/frontend/core/src/components/blocksuite/block-suite-editor/specs/custom/spec-patchers.tsx
  packages/frontend/electron/package.json
  tools/cli/package.json
  tsconfig.json
  yarn.lock
Labels: mod:infra, mod:env, mod:component, app:electron, mod:dev, app:core

#8208 fix(mobile): remove all focus style for link and button
  packages/frontend/component/src/ui/button/button.css.ts
  packages/frontend/component/src/ui/button/button.tsx
  packages/frontend/mobile/src/styles/mobile.css.ts
Labels: mod:component

#8200 fix(electron): devtools open in detach mode
  packages/frontend/electron/src/main/windows-manager/main-window.ts
  packages/frontend/electron/src/main/windows-manager/tab-views.ts
Labels: app:electron

#8213 fix: missing font in text preview of editor settings
  packages/frontend/core/src/components/affine/setting-modal/general-setting/editor/edgeless/snapshot.tsx
  packages/frontend/core/src/components/blocksuite/block-suite-editor/index.tsx
  packages/frontend/core/src/components/blocksuite/block-suite-editor/specs/custom/root-block.ts
  packages/frontend/core/src/components/blocksuite/block-suite-editor/specs/font-extension.ts
Labels: app:core

#8210 feat(core): add database full-width feature flag
  packages/common/infra/src/modules/feature-flag/constant.ts
Labels: mod:infra

#8211 feat(core): download template from snapshot url
  packages/frontend/core/src/components/cloud/share-header-right-item/import-template.tsx
  packages/frontend/core/src/components/cloud/share-header-right-item/index.tsx
  packages/frontend/core/src/hooks/use-navigate-helper.ts
  packages/frontend/core/src/modules/import-template/entities/dialog.ts
  packages/frontend/core/src/modules/import-template/entities/downloader.ts
  packages/frontend/core/src/modules/import-template/services/import.ts
  packages/frontend/core/src/modules/import-template/store/downloader.ts
  packages/frontend/core/src/modules/import-template/views/dialog.tsx
  packages/frontend/core/src/pages/import-template.tsx
  packages/frontend/core/src/pages/workspace/share/share-header.tsx
  packages/frontend/core/src/pages/workspace/share/share-page.tsx
  packages/frontend/core/src/router.tsx
Labels: app:core

#8176 fix(component): windows client does not have app controls on some pages
  packages/frontend/component/src/components/affine-other-page-layout/index.css.ts
  packages/frontend/component/src/components/affine-other-page-layout/layout.tsx
  packages/frontend/component/src/components/auth-components/auth-page-container.tsx
  packages/frontend/component/src/components/auth-components/email-verified-email.tsx
  packages/frontend/component/src/components/auth-components/index.tsx
  packages/frontend/core/src/modules/app-tabs-header/views/app-tabs-header.tsx
  packages/frontend/core/src/modules/app-tabs-header/views/styles.css.ts
  packages/frontend/core/src/pages/404.tsx
  packages/frontend/core/src/pages/auth/auth.tsx
  packages/frontend/core/src/pages/workspace/index.tsx
  packages/frontend/electron/renderer/app.tsx
Labels: mod:component, app:electron, app:core

#8173 fix(core): add edit entry for mobile edition
  packages/frontend/core/src/components/blocksuite/block-suite-header/menu/index.tsx
Labels: app:core, merge

#8203 fix(core): title could not be changed when creating a new doc
  packages/common/infra/src/modules/doc/entities/record.ts
  packages/common/infra/src/modules/workspace/entities/workspace.ts
  packages/frontend/apps/mobile/src/pages/workspace/detail/mobile-detail-page.tsx
  packages/frontend/apps/mobile/src/provider/model-provider.tsx
  packages/frontend/core/src/components/affine/create-workspace-modal/index.tsx
  packages/frontend/core/src/components/affine/empty/docs.tsx
  packages/frontend/core/src/components/affine/page-history-modal/data.ts
  packages/frontend/core/src/components/affine/reference-link/index.tsx
  packages/frontend/core/src/components/affine/setting-modal/general-setting/appearance/index.tsx
  packages/frontend/core/src/components/affine/setting-modal/general-setting/editor/general.tsx
  packages/frontend/core/src/components/blocksuite/block-suite-header/menu/index.tsx
  packages/frontend/core/src/components/blocksuite/block-suite-page-list/utils.tsx
  packages/frontend/core/src/components/page-list/docs/page-list-header.tsx
  packages/frontend/core/src/components/page-list/docs/virtualized-page-list.tsx
  packages/frontend/core/src/components/page-list/operation-cell.tsx
  packages/frontend/core/src/components/page-list/tags/tag-list-item.tsx
  packages/frontend/core/src/components/page-list/virtualized-trash-list.tsx
  packages/frontend/core/src/components/pure/trash-page-footer/index.tsx
  packages/frontend/core/src/components/root-app-sidebar/index.tsx
  packages/frontend/core/src/hooks/affine/use-block-suite-meta-helper.ts
  packages/frontend/core/src/hooks/affine/use-register-blocksuite-editor-commands.tsx
  packages/frontend/core/src/hooks/affine/use-trash-modal-helper.ts
  packages/frontend/core/src/hooks/use-block-suite-page-meta.ts
  packages/frontend/core/src/modules/explorer/views/nodes/doc/operations.tsx
  packages/frontend/core/src/pages/workspace/detail-page/detail-page.tsx
  packages/frontend/core/src/pages/workspace/detail-page/tabs/journal.tsx
  packages/frontend/core/src/providers/modal-provider.tsx
Labels: mod:infra, app:core

#8192 feat(core): support block links on cmdk
  packages/frontend/core/src/components/blocksuite/block-suite-editor/specs/custom/spec-patchers.tsx
  packages/frontend/core/src/modules/quicksearch/impls/docs.ts
  packages/frontend/core/src/modules/quicksearch/impls/links.ts
  packages/frontend/core/src/modules/quicksearch/index.ts
  packages/frontend/core/src/modules/quicksearch/services/cmdk.ts
Labels: app:core

#8220 fix(electron): incorrect path to root dir
  packages/frontend/apps/electron/scripts/common.ts
Labels: app:electron

#8225 fix(electron): app fallback styles
  packages/frontend/apps/electron/renderer/app.css.ts
  packages/frontend/apps/electron/renderer/shell/shell.css.ts
  packages/frontend/core/src/components/affine/app-container.css.ts
  packages/frontend/core/src/components/affine/app-container.tsx
Labels: app:electron, app:core

#8223 fix(core): reference link icon
  packages/frontend/core/src/components/affine/reference-link/index.tsx
  packages/frontend/core/src/components/blocksuite/block-suite-editor/lit-adaper.tsx
Labels: app:core, merge

#8227 chore: bump bs
  packages/common/env/package.json
  packages/common/infra/package.json
  packages/frontend/apps/electron/package.json
  packages/frontend/apps/mobile/package.json
  packages/frontend/apps/mobile/src/pages/workspace/detail/mobile-detail-page.tsx
  packages/frontend/component/package.json
  packages/frontend/core/package.json
  packages/frontend/core/src/blocksuite/presets/ai/_common/chat-actions-handle.ts
  packages/frontend/core/src/components/blocksuite/block-suite-editor/ai/setup-provider.tsx
  packages/frontend/core/src/components/blocksuite/block-suite-editor/blocksuite-editor-container.tsx
  packages/frontend/core/src/components/blocksuite/block-suite-editor/index.tsx
  packages/frontend/core/src/components/blocksuite/block-suite-editor/lit-adaper.tsx
  packages/frontend/core/src/components/blocksuite/block-suite-editor/specs/common.ts
  packages/frontend/core/src/components/blocksuite/block-suite-editor/specs/custom/spec-patchers.tsx
  packages/frontend/core/src/components/blocksuite/block-suite-editor/specs/preview.ts
  packages/frontend/core/src/hooks/affine/use-export-page.ts
  packages/frontend/core/src/mixpanel/events.ts
  packages/frontend/core/src/modules/editor/entities/editor.ts
  packages/frontend/core/src/modules/peek-view/view/doc-preview/doc-peek-view.tsx
  packages/frontend/core/src/modules/quicksearch/impls/external-links.ts
  packages/frontend/core/src/modules/quicksearch/impls/links.ts
  packages/frontend/core/src/modules/quicksearch/index.ts
  packages/frontend/core/src/modules/quicksearch/services/cmdk.ts
  packages/frontend/core/src/pages/workspace/detail-page/detail-page.tsx
  packages/frontend/core/src/pages/workspace/detail-page/tabs/chat.tsx
  tools/cli/package.json
  yarn.lock
Labels: mod:infra, mod:env, mod:component, app:electron, mod:dev, app:core

#8235 chore(electron): upgrade electron to v32
  package.json
  packages/frontend/apps/electron/package.json
  packages/frontend/apps/electron/src/main/index.ts
  packages/frontend/electron-api/package.json
  yarn.lock
Labels: app:electron

#8202 refactor: avoid runtime config object
  packages/common/env/src/global.ts
  packages/common/infra/src/modules/feature-flag/constant.ts
  packages/frontend/admin/src/modules/config/about.tsx
  packages/frontend/apps/electron/renderer/index.tsx
  packages/frontend/apps/mobile/src/index.tsx
  packages/frontend/apps/mobile/src/pages/workspace/detail/mobile-detail-page.tsx
  packages/frontend/apps/mobile/src/pages/workspace/home.tsx
  packages/frontend/apps/mobile/src/views/settings/about/index.tsx
  packages/frontend/apps/web/src/index.tsx
  packages/frontend/component/src/components/affine-other-page-layout/layout.tsx
  packages/frontend/core/src/bootstrap/first-app-data.ts
  packages/frontend/core/src/commands/affine-help.tsx
  packages/frontend/core/src/components/affine/auth/oauth.tsx
  packages/frontend/core/src/components/affine/create-workspace-modal/index.tsx
  packages/frontend/core/src/components/affine/issue-feedback-modal/index.tsx
  packages/frontend/core/src/components/affine/setting-modal/general-setting/about/index.tsx
  packages/frontend/core/src/components/affine/setting-modal/general-setting/appearance/index.tsx
  packages/frontend/core/src/components/affine/setting-modal/general-setting/index.tsx
  packages/frontend/core/src/components/affine/star-affine-modal/index.tsx
  packages/frontend/core/src/components/blocksuite/block-suite-editor/blocksuite-editor.tsx
  packages/frontend/core/src/components/blocksuite/block-suite-editor/specs/font-extension.ts
  packages/frontend/core/src/components/blocksuite/block-suite-header/menu/index.tsx
  packages/frontend/core/src/components/page-list/operation-cell.tsx
  packages/frontend/core/src/components/pure/help-island/index.tsx
  packages/frontend/core/src/components/root-app-sidebar/index.tsx
  packages/frontend/core/src/components/workspace-selector/user-with-workspace-list/add-workspace/index.tsx
  packages/frontend/core/src/components/workspace-selector/user-with-workspace-list/index.tsx
  packages/frontend/core/src/hooks/affine/use-register-blocksuite-editor-commands.tsx
  packages/frontend/core/src/hooks/use-app-updater.ts
  packages/frontend/core/src/mixpanel/mixpanel.ts
  packages/frontend/core/src/modules/cloud/services/fetch.ts
  packages/frontend/core/src/modules/create-workspace/views/dialog.tsx
  packages/frontend/core/src/modules/explorer/views/nodes/doc/operations.tsx
  packages/frontend/core/src/modules/theme-editor/views/custom-theme.tsx
  packages/frontend/core/src/modules/userspace/impls/user-db-doc-server.ts
  packages/frontend/core/src/modules/workspace-engine/impls/engine/awareness-cloud.ts
  packages/frontend/core/src/modules/workspace-engine/impls/engine/doc-cloud.ts
  packages/frontend/core/src/pages/workspace/detail-page/detail-page-header.tsx
  packages/frontend/core/src/utils/popup.ts
  packages/frontend/core/src/utils/url.ts
  packages/frontend/graphql/src/index.ts
  scripts/setup/global.ts
  tools/@types/env/__all.d.ts
  tools/cli/src/webpack/config.ts
  tools/cli/src/webpack/runtime-config.ts
Labels: mod:infra, mod:env, mod:component, app:electron, mod:dev, app:core

#8241 feat(core): load ydoc on demand
  packages/common/infra/src/sync/doc/index.ts
Labels: mod:infra

#8215 fix(core): circular dependencies
  packages/frontend/core/src/modules/cloud/index.ts
  packages/frontend/core/src/modules/cloud/services/ai.ts
  packages/frontend/core/src/modules/cloud/services/auth.ts
  packages/frontend/core/src/modules/workbench/view/workbench-root.tsx
  packages/frontend/core/src/pages/workspace/index.tsx
  packages/frontend/core/src/router.tsx
  packages/frontend/core/src/workspace-router.ts
Labels: app:core

#8240 chore: remove type module in scripts
  packages/backend/server/src/core/doc-renderer/controller.ts
  tools/cli/src/webpack/template.html
  tools/cli/src/webpack/webpack.config.ts
Labels: mod:dev, app:server

#8232 fix(electron): pinned tab style
  packages/frontend/core/src/modules/app-tabs-header/views/app-tabs-header.tsx
  packages/frontend/core/src/modules/app-tabs-header/views/styles.css.ts
Labels: app:core

#8242 feat(core): remove loop animations
  packages/frontend/component/src/ui/loading/loading.tsx
  packages/frontend/component/src/ui/loading/styles.css.ts
  packages/frontend/core/src/components/pure/ai-island/index.tsx
  packages/frontend/core/src/components/pure/ai-island/styles.css.ts
  packages/frontend/core/src/components/workspace-selector/workspace-card/index.tsx
  packages/frontend/core/src/components/workspace-selector/workspace-card/styles.css.ts
Labels: mod:component, app:core

#8224 fix: button tooltip should not show on showing image preview
  packages/frontend/core/src/modules/peek-view/view/image-preview/index.tsx
Labels: app:core

#8219 feat(core): copy event for image
  packages/frontend/core/src/modules/peek-view/view/image-preview/index.tsx
  tests/affine-local/e2e/image-preview.spec.ts
Labels: test, app:core

#8236 fix(core): reference node word break
  packages/frontend/core/src/components/affine/reference-link/styles.css.ts
Labels: app:core

#8238 fix(core): share mode page reference
  packages/frontend/core/src/components/affine/reference-link/index.tsx
  packages/frontend/core/src/components/blocksuite/block-suite-editor/lit-adaper.tsx
Labels: app:core

#8246 feat: remove avatar for empty field
  packages/frontend/core/src/components/affine/page-properties/property-row-value-renderer.tsx
Labels: app:core

#8249 fix(core): should wrap link text
  packages/frontend/core/src/components/blocksuite/block-suite-editor/specs/custom/database-block.ts
  packages/frontend/core/src/components/blocksuite/block-suite-editor/specs/custom/widgets/toolbar.ts
Labels: app:core, merge

#8247 fix(component): storybook build config
  packages/frontend/component/.storybook/main.ts
Labels: mod:component

#8251 chore: bump bs to 0.17.10
  .github/renovate.json
  packages/common/env/package.json
  packages/common/infra/package.json
  packages/frontend/apps/electron/package.json
  packages/frontend/apps/mobile/package.json
  packages/frontend/component/package.json
  packages/frontend/core/package.json
  packages/frontend/core/src/blocksuite/presets/ai/actions/edgeless-response.ts
  packages/frontend/core/src/blocksuite/presets/ai/entries/edgeless/actions-config.ts
  packages/frontend/core/src/blocksuite/presets/ai/peek-view/chat-block-peek-view.ts
  packages/frontend/core/src/blocksuite/presets/ai/utils/edgeless.ts
  packages/frontend/core/src/components/blocksuite/block-suite-editor/specs/edgeless.ts
  packages/frontend/core/src/components/blocksuite/block-suite-editor/specs/page.ts
  packages/frontend/core/src/pages/workspace/detail-page/tabs/frame.tsx
  tools/cli/package.json
  yarn.lock
Labels: mod:infra, mod:env, mod:component, app:electron, mod:dev, app:core

#8216 feat: add language hint for prompt
  packages/backend/server/src/plugins/copilot/prompt/prompts.ts
Labels: app:server

#8244 feat: skip rendering if value render is not defiend
  packages/frontend/core/src/components/affine/page-properties/table.tsx
Labels: app:core

#8132 chore(core): improve scroll anchoring
  packages/frontend/core/src/modules/editor/entities/editor.ts
  packages/frontend/core/src/modules/editor/utils/scroll-anchoring.ts
Labels: app:core

#8252 fix(core): avoid extra redirect proxy
  packages/frontend/core/src/utils/popup.ts
Labels: app:core

#8260 fix(electron): wrong app path
  packages/frontend/apps/electron/scripts/generate-assets.ts
Labels: app:electron

#8259 refactor: remove unused deps
  package.json
  packages/backend/server/package.json
  packages/common/env/package.json
  packages/common/infra/package.json
  packages/frontend/admin/package.json
  packages/frontend/apps/electron/package.json
  packages/frontend/apps/electron/src/main/windows-manager/context-menu.ts
  packages/frontend/apps/electron/src/main/windows-manager/tab-views.ts
  packages/frontend/apps/mobile/package.json
  packages/frontend/apps/web/package.json
  packages/frontend/component/package.json
  packages/frontend/core/package.json
  packages/frontend/electron-api/package.json
  packages/frontend/graphql/package.json
  packages/frontend/native/package.json
  packages/frontend/templates/package.json
  packages/frontend/track/package.json
  tests/affine-cloud/package.json
  tests/affine-desktop-cloud/package.json
  tests/affine-desktop/package.json
  tests/affine-legacy/0.6.1-beta.1/package.json
  tests/affine-legacy/0.7.0-canary.18/package.json
  tests/affine-legacy/0.8.0-canary.7/package.json
  tests/affine-legacy/0.8.4/package.json
  tests/affine-local/package.json
  tests/affine-migration/package.json
  tests/affine-mobile/package.json
  tests/kit/package.json
  tools/changelog/package.json
  tools/cli/package.json
  yarn.lock
Labels: mod:infra, docs, mod:env, mod:component, app:electron, mod:dev, app:server, test, mod:native, app:core, mod:server-native

#8233 feat(i18n): add full Brazilian Portuguese translation
  packages/frontend/i18n/src/resources/pt-BR.json
Labels: mod:i18n

#8270 fix(core): enable cloud button should not take space by default
  packages/frontend/core/src/components/workspace-selector/workspace-card/index.tsx
  packages/frontend/core/src/components/workspace-selector/workspace-card/styles.css.ts
Labels: app:core

#8245 fix(core): avoid side effects
  packages/frontend/apps/electron/renderer/app.tsx
  packages/frontend/apps/electron/renderer/index.tsx
  packages/frontend/apps/electron/renderer/setup.ts
  packages/frontend/apps/electron/renderer/shell/app.css.ts
  packages/frontend/apps/electron/renderer/shell/app.tsx
  packages/frontend/apps/electron/renderer/shell/index.tsx
  packages/frontend/apps/electron/renderer/shell/setup.ts
  packages/frontend/apps/electron/renderer/shell/shell.tsx
  packages/frontend/apps/mobile/src/app.tsx
  packages/frontend/apps/mobile/src/setup.ts
  packages/frontend/apps/web/src/app.tsx
  packages/frontend/apps/web/src/setup.ts
  packages/frontend/component/package.json
  packages/frontend/component/src/theme/global.css
  packages/frontend/component/src/theme/index.ts
  packages/frontend/component/src/theme/theme.css.ts
  packages/frontend/core/src/blocksuite/presets/ai/_common/components/ask-ai-button.ts
  packages/frontend/core/src/blocksuite/presets/ai/_common/components/ask-ai-panel.ts
  packages/frontend/core/src/blocksuite/presets/ai/_common/components/chat-action-list.ts
  packages/frontend/core/src/blocksuite/presets/ai/_common/components/copy-more.ts
  packages/frontend/core/src/blocksuite/presets/ai/chat-panel/actions/action-wrapper.ts
  packages/frontend/core/src/blocksuite/presets/ai/chat-panel/actions/chat-text.ts
  packages/frontend/core/src/blocksuite/presets/ai/chat-panel/actions/image-to-text.ts
  packages/frontend/core/src/blocksuite/presets/ai/chat-panel/actions/image.ts
  packages/frontend/core/src/blocksuite/presets/ai/chat-panel/actions/make-real.ts
  packages/frontend/core/src/blocksuite/presets/ai/chat-panel/actions/mindmap.ts
  packages/frontend/core/src/blocksuite/presets/ai/chat-panel/actions/slides.ts
  packages/frontend/core/src/blocksuite/presets/ai/chat-panel/actions/text.ts
  packages/frontend/core/src/blocksuite/presets/ai/chat-panel/ai-loading.ts
  packages/frontend/core/src/blocksuite/presets/ai/chat-panel/chat-cards.ts
  packages/frontend/core/src/blocksuite/presets/ai/chat-panel/chat-panel-input.ts
  packages/frontend/core/src/blocksuite/presets/ai/chat-panel/chat-panel-messages.ts
  packages/frontend/core/src/blocksuite/presets/ai/chat-panel/index.ts
  packages/frontend/core/src/blocksuite/presets/ai/index.ts
  packages/frontend/core/src/blocksuite/presets/ai/messages/error.ts
  packages/frontend/core/src/blocksuite/presets/ai/messages/slides-renderer.ts
  packages/frontend/core/src/blocksuite/presets/ai/messages/text.ts
  packages/frontend/core/src/blocksuite/presets/ai/messages/wrapper.ts
  packages/frontend/core/src/blocksuite/presets/ai/peek-view/chat-block-input.ts
  packages/frontend/core/src/blocksuite/presets/ai/peek-view/chat-block-peek-view.ts
  packages/frontend/core/src/blocksuite/presets/ai/peek-view/date-time.ts
  packages/frontend/core/src/blocksuite/presets/ai/setup.ts
  packages/frontend/core/src/bootstrap/blocksuite.ts
  packages/frontend/core/src/bootstrap/index.ts
  packages/frontend/core/src/components/affine/setting-modal/general-setting/editor/edgeless/snapshot.tsx
  packages/frontend/core/src/components/blocksuite/block-suite-editor/index.ts
  packages/frontend/core/src/components/blocksuite/block-suite-editor/specs/custom/root-block.ts
  packages/frontend/core/src/components/blocksuite/block-suite-editor/specs/edgeless.ts
  packages/frontend/core/src/components/blocksuite/block-suite-editor/specs/preview.ts
Labels: mod:i18n, mod:component, app:electron, mod:dev, app:core

#8278 fix(electron): fix electron script path
  packages/frontend/apps/electron/scripts/make-env.ts
Labels: app:electron

#8273 fix(electron): do not always enable devtools detach mode
  packages/frontend/apps/electron/src/main/windows-manager/main-window.ts
  packages/frontend/apps/electron/src/main/windows-manager/tab-views.ts
Labels: app:electron

#8274 fix(electron): updater not working on startup
  packages/common/infra/src/atom/settings.ts
Labels: mod:infra

#8279 ci: avoid twice by nx
  .github/workflows/build-test.yml
  package.json
  packages/frontend/admin/package.json
  packages/frontend/apps/electron/scripts/generate-assets.ts
  packages/frontend/apps/mobile/package.json
  packages/frontend/apps/web/package.json
  tools/cli/package.json
Labels: app:electron, mod:dev

#8276 fix(core): center peek width styles
  packages/frontend/core/src/modules/peek-view/entities/peek-view.ts
  packages/frontend/core/src/modules/peek-view/view/doc-preview/doc-peek-view.css.ts
  packages/frontend/core/src/modules/peek-view/view/modal-container.css.ts
  packages/frontend/core/src/modules/peek-view/view/modal-container.tsx
  packages/frontend/core/src/modules/peek-view/view/peek-view-manager.tsx
Labels: app:core
