Repository toeverything/AFFiNE, pull requests merged in 2024-06, with the labels that each got.

#7128 fix(component): banner should not affect the editor layout
  packages/frontend/component/src/components/affine-banner/index.css.ts
  tests/affine-local/e2e/peek-view.spec.ts
Labels: mod:component, test

#7125 chore(core): password input should be focused
  packages/frontend/core/src/components/affine/auth/sign-in-with-password.tsx
Labels: app:core

#7120 chore: bump blocksuite
  packages/common/env/package.json
  packages/common/infra/package.json
  packages/frontend/component/package.json
  packages/frontend/core/package.json
  packages/frontend/core/src/components/blocksuite/block-suite-editor/ai/copilot-client.ts
  packages/frontend/core/src/components/blocksuite/block-suite-editor/ai/request.ts
  packages/frontend/core/src/components/blocksuite/block-suite-editor/ai/setup-provider.tsx
  packages/frontend/electron/package.json
  tools/cli/package.json
  yarn.lock
Labels: mod:infra, mod:env, mod:component, app:electron, mod:dev, app:core

#7118 chore(server): register user management resolver
  packages/backend/server/src/core/user/index.ts
  packages/backend/server/src/core/user/resolver.ts
  packages/backend/server/src/schema.gql
Labels: app:server

#7130 fix(core): unexpected autofill style in dark mode
  packages/frontend/component/src/ui/input/style.css.ts
Labels: mod:component

#7090 fix(core): block sharing link cannot be created when selecting inline
  packages/frontend/core/src/components/blocksuite/block-suite-editor/blocksuite-editor-container.tsx
Labels: app:core

#7140 fix(server): selfhost fixes
  packages/backend/server/src/data/migrations/99999-self-host-admin.ts
  packages/backend/server/src/plugins/config.ts
  packages/backend/server/src/prelude.ts
Labels: app:server

#7144 fix(core): fetch share docs on non-cloud workspace
  packages/frontend/core/src/components/page-list/use-filtered-page-metas.tsx
  packages/frontend/core/src/hooks/affine/use-all-page-list-config.tsx
  packages/frontend/core/src/modules/share-doc/entities/share-docs-list.ts
  packages/frontend/core/src/modules/share-doc/index.ts
  packages/frontend/core/src/modules/share-doc/services/share-docs.ts
  packages/frontend/graphql/src/schema.ts
Labels: app:core

#7146 chore: bump bs
  packages/common/env/package.json
  packages/common/infra/package.json
  packages/frontend/component/package.json
  packages/frontend/core/package.json
  packages/frontend/electron/package.json
  tools/cli/package.json
  yarn.lock
Labels: mod:infra, mod:env, mod:component, app:electron, mod:dev, app:core

#7143 fix(core): move to trash confirm modal missing
  packages/frontend/core/src/components/root-app-sidebar/index.tsx
  packages/frontend/core/src/providers/modal-provider.tsx
Labels: app:core

#7142 refactor(core): remove unused trash relate data
  packages/frontend/core/src/hooks/affine/use-block-suite-meta-helper.ts
  tools/@types/env/__all.d.ts
Labels: app:core

#7151 chore(core): add padding when ai-panel is opened in page mode
  packages/frontend/core/src/components/blocksuite/block-suite-editor/styles.css.ts
Labels: app:core

#7154 fix: gql result check for clean history
  packages/backend/server/src/plugins/copilot/resolver.ts
  packages/backend/server/src/plugins/copilot/session.ts
  packages/backend/server/src/schema.gql
Labels: app:server

#7132 fix: customer create at
  packages/backend/server/src/core/user/service.ts
Labels: app:server

#7152 chore: bump blocksuite
  packages/common/env/package.json
  packages/common/infra/package.json
  packages/frontend/component/package.json
  packages/frontend/component/src/ui/modal/confirm-modal.stories.tsx
  packages/frontend/component/src/ui/modal/confirm-modal.tsx
  packages/frontend/component/src/ui/modal/styles.css.ts
  packages/frontend/core/package.json
  packages/frontend/core/src/components/blocksuite/block-suite-editor/lit-adaper.tsx
  packages/frontend/core/src/components/blocksuite/block-suite-editor/specs/custom/spec-patchers.ts
  packages/frontend/electron/package.json
  tools/cli/package.json
  yarn.lock
Labels: mod:infra, mod:env, mod:component, app:electron, mod:dev, app:core

#7135 refactor: move command registry to frontend/core
  packages/common/infra/package.json
  packages/common/infra/src/index.ts
  packages/frontend/core/package.json
  packages/frontend/core/src/commands/affine-creation.tsx
  packages/frontend/core/src/commands/affine-help.tsx
  packages/frontend/core/src/commands/affine-layout.tsx
  packages/frontend/core/src/commands/affine-navigation.tsx
  packages/frontend/core/src/commands/affine-settings.tsx
  packages/frontend/core/src/commands/affine-updates.tsx
  packages/frontend/core/src/commands/index.ts
  packages/frontend/core/src/commands/registry/README.md
  packages/frontend/core/src/commands/registry/command.ts
  packages/frontend/core/src/commands/registry/index.ts
  packages/frontend/core/src/commands/registry/registry.ts
  packages/frontend/core/src/components/pure/cmdk/data-hooks.tsx
  packages/frontend/core/src/components/pure/cmdk/filter-commands.ts
  packages/frontend/core/src/components/pure/cmdk/main.tsx
  packages/frontend/core/src/components/pure/cmdk/types.ts
  packages/frontend/core/src/hooks/affine/use-register-blocksuite-editor-commands.tsx
  packages/frontend/core/src/hooks/affine/use-register-copy-link-commands.tsx
  packages/frontend/core/src/hooks/affine/use-register-find-in-page-commands.ts
  packages/frontend/core/src/modules/navigation/view/use-register-navigation-commands.ts
  packages/frontend/electron/package.json
  yarn.lock
Labels: mod:infra, docs, app:electron, app:core

#7138 feat: allow search for doc without showing modal
  packages/frontend/core/src/components/blocksuite/block-suite-editor/lit-adaper.tsx
  packages/frontend/core/src/components/blocksuite/block-suite-editor/specs/custom/spec-patchers.ts
  tests/affine-local/e2e/quick-search.spec.ts
Labels: test, app:core

#7157 fix: cleanup usePromptModal
  packages/frontend/component/src/ui/modal/confirm-modal.stories.tsx
  packages/frontend/component/src/ui/modal/confirm-modal.tsx
  packages/frontend/core/src/components/blocksuite/block-suite-editor/lit-adaper.tsx
  packages/frontend/core/src/components/blocksuite/block-suite-editor/specs/custom/spec-patchers.tsx
Labels: mod:component, app:core

#7153 fix: adjust peek view modal container styles
  packages/frontend/core/src/modules/peek-view/view/modal-container.css.ts
  packages/frontend/core/src/modules/peek-view/view/modal-container.tsx
Labels: app:core

#7155 fix: temp fix for showing peek view modal for edgeless
  packages/frontend/core/src/modules/peek-view/view/modal-container.tsx
  packages/frontend/core/src/modules/peek-view/view/peek-view-manager.tsx
Labels: app:core

#7161 fix(core): fix active view undefined
  packages/frontend/core/src/modules/workbench/entities/workbench.ts
Labels: app:core

#7163 chore: bump blocksuite
  packages/common/env/package.json
  packages/common/infra/package.json
  packages/frontend/component/package.json
  packages/frontend/core/package.json
  packages/frontend/core/src/components/affine/setting-modal/general-setting/experimental-features/index.tsx
  packages/frontend/core/src/components/blocksuite/block-suite-editor/specs/edgeless.ts
  packages/frontend/electron/package.json
  packages/frontend/graphql/src/schema.ts
  tests/affine-local/e2e/quick-search.spec.ts
  tools/cli/package.json
  yarn.lock
Labels: mod:infra, mod:env, mod:component, app:electron, mod:dev, test, app:core

#7167 feat(core): update slash menu entries with quick search
  packages/frontend/core/src/components/blocksuite/block-suite-editor/specs/custom/spec-patchers.tsx
Labels: app:core

#7162 feat: add autofill and onClose params in notification service api
  packages/frontend/core/src/components/blocksuite/block-suite-editor/specs/custom/spec-patchers.tsx
Labels: app:core

#7169 feat: add ai entry to code toolbar and image toolbar
  packages/frontend/core/src/components/blocksuite/block-suite-editor/specs/common.ts
  scripts/setup/vi-mock.ts
Labels: mod:dev, app:core, merge

#7172 chore: bump blocksuite to 0.15.0-canary-202406070336-e104622
  packages/common/env/package.json
  packages/common/infra/package.json
  packages/frontend/component/package.json
  packages/frontend/core/package.json
  packages/frontend/electron/package.json
  tools/cli/package.json
  yarn.lock
Labels: mod:infra, mod:env, mod:component, app:electron, mod:dev, app:core, merge

#7170 fix(core): ui flash when open setting modal
  packages/frontend/core/src/providers/modal-provider.tsx
Labels: app:core

#7165 fix: insert link action in quick search callback
  packages/frontend/core/src/modules/cmdk/views/data-hooks.tsx
  packages/frontend/core/src/modules/cmdk/views/filter-commands.ts
  packages/frontend/core/src/modules/cmdk/views/highlight.css.ts
  packages/frontend/core/src/modules/cmdk/views/highlight.tsx
  packages/frontend/core/src/modules/cmdk/views/main.tsx
  packages/frontend/core/src/modules/cmdk/views/not-found.css.ts
  packages/frontend/core/src/modules/cmdk/views/not-found.tsx
  packages/frontend/core/src/modules/cmdk/views/types.ts
  packages/frontend/i18n/src/resources/en.json
  packages/frontend/i18n/src/resources/fr.json
  packages/frontend/i18n/src/resources/ko.json
  packages/frontend/i18n/src/resources/ru.json
Labels: mod:infra, mod:i18n, mod:env, mod:component, app:electron, mod:dev, test, app:core

#7173 fix: adjust peek view modal container styles
  packages/frontend/core/src/modules/peek-view/view/doc-peek-view.tsx
  packages/frontend/core/src/modules/peek-view/view/modal-container.css.ts
  packages/frontend/core/src/modules/peek-view/view/modal-container.tsx
  packages/frontend/core/src/modules/peek-view/view/peek-view-manager.tsx
Labels: app:core

#7158 fix: handle unexpected fal response
  packages/backend/server/src/plugins/copilot/providers/fal.ts
Labels: app:server

#7119 feat: no branches workflow support
  packages/backend/server/src/data/migrations/1717140940966-update-prompts.ts
  packages/backend/server/src/data/migrations/utils/prompts.ts
  packages/backend/server/src/plugins/copilot/controller.ts
  packages/backend/server/src/plugins/copilot/index.ts
  packages/backend/server/src/plugins/copilot/providers/index.ts
  packages/backend/server/src/plugins/copilot/providers/openai.ts
  packages/backend/server/src/plugins/copilot/types.ts
  packages/backend/server/src/plugins/copilot/workflow/graph.ts
  packages/backend/server/src/plugins/copilot/workflow/index.ts
  packages/backend/server/src/plugins/copilot/workflow/node.ts
  packages/backend/server/src/plugins/copilot/workflow/types.ts
  packages/backend/server/src/plugins/copilot/workflow/workflow.ts
  packages/backend/server/tests/copilot.spec.ts
  packages/backend/server/tests/utils/copilot.ts
Labels: app:server, test

#7123 feat: add workflow resolver
  packages/backend/server/src/data/migrations/utils/prompts.ts
  packages/backend/server/src/plugins/copilot/controller.ts
  packages/backend/server/src/plugins/copilot/workflow/graph.ts
  packages/backend/server/src/plugins/copilot/workflow/index.ts
  packages/backend/server/src/plugins/copilot/workflow/node.ts
  packages/backend/server/src/plugins/copilot/workflow/workflow.ts
  packages/backend/server/tests/copilot.e2e.ts
  packages/backend/server/tests/copilot.spec.ts
  packages/backend/server/tests/utils/copilot.ts
Labels: app:server, test

#7175 fix: quick search placeholder for docs search
  packages/frontend/core/src/modules/cmdk/views/main.tsx
  packages/frontend/i18n/src/resources/en.json
  packages/frontend/i18n/src/resources/zh-Hans.json
Labels: mod:i18n, app:core

#7178 feat: bump blocksuite
  packages/common/env/package.json
  packages/common/infra/package.json
  packages/frontend/component/package.json
  packages/frontend/core/package.json
  packages/frontend/electron/package.json
  tools/cli/package.json
  yarn.lock
Labels: mod:infra, mod:env, mod:component, app:electron, mod:dev, app:core, merge

#7179 fix: render embed linked/synced doc as affine-reference for shared pages
  packages/frontend/core/src/components/blocksuite/block-suite-editor/blocksuite-editor-container.tsx
  packages/frontend/core/src/components/blocksuite/block-suite-editor/blocksuite-editor.tsx
  packages/frontend/core/src/components/blocksuite/block-suite-editor/lit-adaper.tsx
  packages/frontend/core/src/components/blocksuite/block-suite-editor/specs/custom/spec-patchers.tsx
  packages/frontend/core/src/components/page-detail-editor.tsx
Labels: app:core

#7181 fix(server): should update stripe customer email if changed
  packages/backend/server/src/plugins/payment/service.ts
Labels: app:server

#7176 feat(core): enable synced doc block by default
  packages/common/infra/src/atom/settings.ts
  packages/frontend/core/src/components/affine/setting-modal/general-setting/experimental-features/index.tsx
Labels: mod:infra, app:core

#7171 fix(core): template image assets missing
  packages/frontend/core/src/modules/workspace-engine/impls/cloud.ts
  packages/frontend/core/src/modules/workspace-engine/impls/local.ts
  packages/frontend/templates/build-edgeless.mjs
Labels: docs, app:core

#7180 fix: peek view modal controls animation
  packages/frontend/core/src/modules/peek-view/view/modal-container.css.ts
  packages/frontend/core/src/modules/peek-view/view/modal-container.tsx
Labels: app:core

#7191 feat: bump blocksuite
  packages/common/env/package.json
  packages/common/infra/package.json
  packages/frontend/component/package.json
  packages/frontend/core/package.json
  packages/frontend/electron/package.json
  tools/cli/package.json
  yarn.lock
Labels: mod:infra, mod:env, mod:component, app:electron, mod:dev, app:core, merge

#7198 feat: bump bs
  packages/common/env/package.json
  packages/common/infra/package.json
  packages/frontend/component/package.json
  packages/frontend/core/package.json
  packages/frontend/electron/package.json
  tools/cli/package.json
  vitest.config.ts
  yarn.lock
Labels: mod:infra, mod:env, mod:component, app:electron, mod:dev, app:core

#7208 fix: surface-ref peek view
  packages/frontend/core/src/modules/peek-view/view/doc-peek-view.tsx
  packages/frontend/core/src/modules/peek-view/view/modal-container.tsx
  packages/frontend/core/src/modules/peek-view/view/peek-view-manager.tsx
Labels: app:core

#7200 refactor: add docsService for blocksuite to change and observe doc mode
  packages/common/env/package.json
  packages/common/infra/package.json
  packages/common/infra/src/modules/doc/entities/doc.ts
  packages/common/infra/src/modules/doc/entities/record-list.ts
  packages/common/infra/src/modules/doc/entities/record.ts
  packages/common/infra/src/modules/doc/stores/docs.ts
  packages/frontend/component/package.json
  packages/frontend/core/package.json
  packages/frontend/core/src/components/blocksuite/block-suite-editor/lit-adaper.tsx
  packages/frontend/core/src/components/blocksuite/block-suite-editor/specs/custom/spec-patchers.tsx
  packages/frontend/core/src/modules/multi-tab-sidebar/multi-tabs/tabs/chat.tsx
  packages/frontend/core/src/pages/workspace/detail-page/detail-page.tsx
  packages/frontend/electron/package.json
  tests/affine-local/e2e/peek-view.spec.ts
  tools/cli/package.json
  yarn.lock
Labels: mod:infra, mod:env, mod:component, app:electron, mod:dev, test, app:core

#7215 fix(electron): downgrade electron version
  package.json
  packages/frontend/electron-api/package.json
  packages/frontend/electron/package.json
  yarn.lock
Labels: app:electron

#7217 chore: bump blocksuite
  packages/common/env/package.json
  packages/common/infra/package.json
  packages/frontend/component/package.json
  packages/frontend/core/package.json
  packages/frontend/electron/package.json
  tools/cli/package.json
  yarn.lock
Labels: mod:infra, mod:env, mod:component, app:electron, mod:dev, app:core

#7218 fix: page reference should wrap
  packages/frontend/core/src/components/affine/reference-link/styles.css.ts
Labels: app:core

#7207 refactor(core): image preview toolbar UI
  packages/frontend/core/src/components/image-preview/index.css.ts
  packages/frontend/core/src/components/image-preview/index.jotai.ts
  packages/frontend/core/src/components/image-preview/index.tsx
  tests/affine-local/e2e/image-preview.spec.ts
Labels: test, app:core

#7210 feat: add block action bar control for event tracker
  packages/frontend/core/src/components/blocksuite/block-suite-editor/ai/tracker.ts
Labels: app:core, merge

#7206 fix: edgeless object creation events
  packages/frontend/core/src/components/blocksuite/block-suite-editor/lit-adaper.tsx
  packages/frontend/core/src/components/blocksuite/block-suite-editor/specs/custom/root-block.ts
Labels: app:core

#7224 feat: add importWorkspaceSnapshot for testing
  packages/frontend/core/src/pages/workspace/index.tsx
Labels: app:core

#7235 chore: bump blocksuite
  packages/common/env/package.json
  packages/common/infra/package.json
  packages/frontend/component/package.json
  packages/frontend/core/package.json
  packages/frontend/core/src/bootstrap/first-app-data.ts
  packages/frontend/core/src/components/affine/create-workspace-modal/index.tsx
  packages/frontend/core/src/components/blocksuite/block-suite-editor/specs/custom/root-block.ts
  packages/frontend/core/src/components/page-list/__tests__/use-block-suite-page-preview.spec.ts
  packages/frontend/core/src/hooks/use-all-block-suite-page-meta.ts
  packages/frontend/core/src/hooks/use-block-suite-page-backlinks.ts
  packages/frontend/core/src/hooks/use-block-suite-page-references.ts
  packages/frontend/core/src/testing.ts
  packages/frontend/electron/package.json
  packages/frontend/graphql/src/schema.ts
  tests/affine-local/e2e/quick-search.spec.ts
  tools/cli/package.json
  yarn.lock
Labels: mod:infra, mod:env, mod:component, app:electron, mod:dev, test, app:core

#7237 feat: bump blocksuite
  packages/common/env/package.json
  packages/common/infra/package.json
  packages/frontend/component/package.json
  packages/frontend/core/package.json
  packages/frontend/electron/package.json
  tools/cli/package.json
  yarn.lock
Labels: mod:infra, mod:env, mod:component, app:electron, mod:dev, app:core, merge

#7199 feat(electron): add documentation button in help menu bar
  packages/frontend/electron/src/main/application-menu/create.ts
Labels: app:electron

#7232 feat: add isNewDoc flag to quick search api
  packages/frontend/core/src/components/blocksuite/block-suite-editor/specs/custom/spec-patchers.tsx
  packages/frontend/core/src/modules/cmdk/entities/quick-search.ts
  packages/frontend/core/src/modules/cmdk/views/data-hooks.tsx
Labels: app:core

#7243 chore: bump up blocksuite version
  packages/common/env/package.json
  packages/common/infra/package.json
  packages/frontend/component/package.json
  packages/frontend/core/package.json
  packages/frontend/core/src/components/blocksuite/block-suite-editor/ai/request.ts
  packages/frontend/core/src/components/blocksuite/block-suite-editor/ai/setup-provider.tsx
  packages/frontend/core/src/components/blocksuite/block-suite-editor/ai/tracker.ts
  packages/frontend/core/src/components/blocksuite/block-suite-editor/specs/common.ts
  packages/frontend/core/src/components/blocksuite/block-suite-editor/specs/custom/root-block.ts
  packages/frontend/core/src/modules/cloud/services/auth.ts
  packages/frontend/core/src/modules/multi-tab-sidebar/multi-tabs/tabs/chat.tsx
  packages/frontend/core/src/modules/peek-view/view/doc-peek-view.tsx
  packages/frontend/core/src/pages/workspace/detail-page/detail-page.tsx
  packages/frontend/electron/package.json
  scripts/setup/vi-mock.ts
  tools/cli/package.json
  yarn.lock
Labels: mod:infra, mod:env, mod:component, app:electron, mod:dev, app:core, merge

#7239 fix(server): wrong doc manager config
  packages/backend/server/src/core/doc/config.ts
Labels: app:server

#7149 refactor(core): replace the Modal of the FindInPage component with Dialog
  packages/frontend/core/src/modules/find-in-page/view/find-in-page-modal.css.ts
  packages/frontend/core/src/modules/find-in-page/view/find-in-page-modal.tsx
Labels: app:core

#7244 feat(core): show sync state at doc info
  packages/common/infra/src/livedata/livedata.ts
  packages/common/infra/src/sync/doc/index.ts
  packages/common/infra/src/sync/doc/remote.ts
  packages/frontend/core/src/components/affine/page-properties/styles.css.ts
  packages/frontend/core/src/components/affine/page-properties/table.tsx
  packages/frontend/core/src/components/pure/workspace-slider-bar/workspace-card/index.tsx
  packages/frontend/core/src/hooks/affine/use-doc-engine-status.tsx
  packages/frontend/core/src/utils/intl-formatter.ts
  packages/frontend/i18n/src/resources/en.json
Labels: mod:infra, mod:i18n, app:core

#7245 chore(server): lint ignore error gen file
  .prettierignore
  packages/backend/server/src/fundamentals/error/def.ts
  packages/backend/server/src/fundamentals/error/errors.gen.ts
Labels: app:server

#7249 fix: add patch doc mode service
  packages/frontend/core/src/components/blocksuite/block-suite-editor/lit-adaper.tsx
Labels: app:server, app:core

#7247 feat(i18n): update resources and add Swedish language
  packages/frontend/i18n/src/resources/de.json
  packages/frontend/i18n/src/resources/en.json
  packages/frontend/i18n/src/resources/fr.json
  packages/frontend/i18n/src/resources/index.ts
  packages/frontend/i18n/src/resources/ja.json
  packages/frontend/i18n/src/resources/ru.json
  packages/frontend/i18n/src/resources/sv-SE.json
  packages/frontend/i18n/src/resources/zh-Hans.json
  tests/affine-local/e2e/all-page.spec.ts
Labels: mod:i18n, test

#7256 feat: remove new image actions feature flag
  packages/frontend/core/src/blocksuite/presets/ai/_common/config.ts
  packages/frontend/core/src/blocksuite/presets/ai/actions/edgeless-handler.ts
  packages/frontend/core/src/blocksuite/presets/ai/entries/edgeless/actions-config.ts
  packages/frontend/core/src/components/affine/setting-modal/general-setting/experimental-features/index.tsx
Labels: app:core, merge

#7260 fix: chat more popper position
  packages/frontend/core/src/blocksuite/presets/ai/chat-panel/actions/copy-more.ts
Labels: app:core

#7257 fix(core): ai lit element import
  packages/frontend/core/package.json
  packages/frontend/core/src/blocksuite/presets/ai/_common/components/ask-ai-button.ts
  packages/frontend/core/src/blocksuite/presets/ai/_common/components/ask-ai-panel.ts
  packages/frontend/core/src/blocksuite/presets/ai/_common/config.ts
  packages/frontend/core/src/blocksuite/presets/ai/_common/selection-utils.ts
  packages/frontend/core/src/blocksuite/presets/ai/actions/doc-handler.ts
  packages/frontend/core/src/blocksuite/presets/ai/actions/edgeless-handler.ts
  packages/frontend/core/src/blocksuite/presets/ai/actions/edgeless-response.ts
  packages/frontend/core/src/blocksuite/presets/ai/actions/index.ts
  packages/frontend/core/src/blocksuite/presets/ai/ai-panel.ts
  packages/frontend/core/src/blocksuite/presets/ai/ai-spec.ts
  packages/frontend/core/src/blocksuite/presets/ai/chat-panel/actions/action-wrapper.ts
  packages/frontend/core/src/blocksuite/presets/ai/chat-panel/actions/actions-handle.ts
  packages/frontend/core/src/blocksuite/presets/ai/chat-panel/actions/chat-text.ts
  packages/frontend/core/src/blocksuite/presets/ai/chat-panel/actions/copy-more.ts
  packages/frontend/core/src/blocksuite/presets/ai/chat-panel/actions/image-to-text.ts
  packages/frontend/core/src/blocksuite/presets/ai/chat-panel/actions/image.ts
  packages/frontend/core/src/blocksuite/presets/ai/chat-panel/actions/make-real.ts
  packages/frontend/core/src/blocksuite/presets/ai/chat-panel/actions/mindmap.ts
  packages/frontend/core/src/blocksuite/presets/ai/chat-panel/actions/slides.ts
  packages/frontend/core/src/blocksuite/presets/ai/chat-panel/actions/text.ts
  packages/frontend/core/src/blocksuite/presets/ai/chat-panel/ai-loading.ts
  packages/frontend/core/src/blocksuite/presets/ai/chat-panel/chat-cards.ts
  packages/frontend/core/src/blocksuite/presets/ai/chat-panel/chat-panel-input.ts
  packages/frontend/core/src/blocksuite/presets/ai/chat-panel/chat-panel-messages.ts
  packages/frontend/core/src/blocksuite/presets/ai/chat-panel/index.ts
  packages/frontend/core/src/blocksuite/presets/ai/chat-panel/utils.ts
  packages/frontend/core/src/blocksuite/presets/ai/entries/code-toolbar/setup-code-toolbar.ts
  packages/frontend/core/src/blocksuite/presets/ai/entries/edgeless/actions-config.ts
  packages/frontend/core/src/blocksuite/presets/ai/entries/edgeless/index.ts
  packages/frontend/core/src/blocksuite/presets/ai/entries/format-bar/setup-format-bar.ts
  packages/frontend/core/src/blocksuite/presets/ai/entries/image-toolbar/setup-image-toolbar.ts
  packages/frontend/core/src/blocksuite/presets/ai/entries/index.ts
  packages/frontend/core/src/blocksuite/presets/ai/entries/slash-menu/setup-slash-menu.ts
  packages/frontend/core/src/blocksuite/presets/ai/entries/space/setup-space.ts
  packages/frontend/core/src/blocksuite/presets/ai/index.ts
  packages/frontend/core/src/blocksuite/presets/ai/messages/error.ts
  packages/frontend/core/src/blocksuite/presets/ai/messages/index.ts
  packages/frontend/core/src/blocksuite/presets/ai/messages/mindmap.ts
  packages/frontend/core/src/blocksuite/presets/ai/messages/slides-renderer.ts
  packages/frontend/core/src/blocksuite/presets/ai/messages/text.ts
  packages/frontend/core/src/blocksuite/presets/ai/messages/wrapper.ts
  packages/frontend/core/src/blocksuite/presets/ai/slides/index.ts
  packages/frontend/core/src/blocksuite/presets/ai/slides/template.ts
  packages/frontend/core/src/blocksuite/presets/ai/utils/action-reporter.ts
  packages/frontend/core/src/blocksuite/presets/ai/utils/editor-actions.ts
  packages/frontend/core/src/blocksuite/presets/ai/utils/selection-utils.ts
Labels: app:core, merge

#7261 fix: ai slide render initialize error
  packages/frontend/core/src/blocksuite/presets/ai/messages/slides-renderer.ts
Labels: app:core

#7264 fix: cycle import
  packages/backend/server/src/fundamentals/error/index.ts
Labels: app:server

#7255 fix: icon of page reference node
  packages/frontend/core/src/components/affine/reference-link/index.tsx
Labels: app:core

#7265 fix: peek view on synced doc
  packages/frontend/core/src/modules/peek-view/view/doc-peek-view.tsx
  packages/frontend/core/src/modules/peek-view/view/peek-view-manager.tsx
Labels: app:core

#7266 feat: bump bs
  packages/common/env/package.json
  packages/common/infra/package.json
  packages/frontend/component/package.json
  packages/frontend/core/package.json
  packages/frontend/electron/package.json
  tools/cli/package.json
  yarn.lock
Labels: mod:infra, mod:env, mod:component, app:electron, mod:dev, app:core

#7251 refactor(i18n): i18n utils tools
  packages/frontend/core/src/components/affine/page-history-modal/data.ts
  packages/frontend/core/src/components/affine/page-history-modal/history-modal.tsx
  packages/frontend/core/src/components/affine/page-properties/property-row-value-renderer.tsx
  packages/frontend/core/src/components/affine/page-properties/table.tsx
  packages/frontend/core/src/components/affine/setting-modal/general-setting/billing/index.tsx
  packages/frontend/core/src/components/affine/setting-modal/general-setting/plans/ai/ai-plan.tsx
  packages/frontend/core/src/components/page-list/docs/page-list-item.tsx
  packages/frontend/core/src/components/page-list/utils.tsx
  packages/frontend/core/src/hooks/__tests__/use-block-suite-workspace-page-title.spec.tsx
  packages/frontend/core/src/hooks/use-journal.ts
  packages/frontend/core/src/modules/cmdk/views/main.tsx
  packages/frontend/core/src/utils/__tests__/intl-formatter.spec.ts
  packages/frontend/core/src/utils/index.ts
  packages/frontend/core/src/utils/intl-formatter.ts
  packages/frontend/i18n/package.json
  packages/frontend/i18n/src/i18n.ts
  packages/frontend/i18n/src/index.ts
  packages/frontend/i18n/src/resources/en.json
  packages/frontend/i18n/src/resources/zh-Hans.json
  packages/frontend/i18n/src/utils/__tests__/time.spec.ts
  packages/frontend/i18n/src/utils/index.ts
  packages/frontend/i18n/src/utils/time.ts
  yarn.lock
Labels: mod:infra, mod:i18n, mod:env, mod:component, app:electron, mod:dev, test, app:core

#7271 chore: remove tree shaking
  packages/frontend/core/package.json
Labels: app:core

#7272 chore: bump blocksuite
  packages/common/env/package.json
  packages/common/infra/package.json
  packages/frontend/component/package.json
  packages/frontend/core/package.json
  packages/frontend/electron/package.json
  tools/cli/package.json
  yarn.lock
Labels: mod:infra, mod:env, mod:component, app:electron, mod:dev, app:core

#7241 feat(component): helper function observeResize to observe size change via global ResizeObserver
  packages/frontend/component/src/index.ts
  packages/frontend/component/src/ui/date-picker/week-date-picker.tsx
  packages/frontend/component/src/utils/index.ts
  packages/frontend/component/src/utils/observe-resize.ts
  packages/frontend/core/src/modules/find-in-page/view/find-in-page-modal.tsx
Labels: mod:component, app:server, app:core

#7262 fix(core): can't enter presentation again in share page
  packages/frontend/core/src/components/cloud/share-header-right-item/present.tsx
  packages/frontend/electron/renderer/app.tsx
Labels: app:electron, app:core

#7274 fix: remove useless padding css style
  packages/frontend/core/src/components/page-detail-editor.css.ts
Labels: app:core

#7270 feat(server): allow customize server external url
  packages/backend/server/package.json
  packages/backend/server/src/config/affine.env.ts
  packages/backend/server/src/config/affine.ts
  packages/backend/server/src/fundamentals/helpers/__tests__/crypto.spec.ts
  packages/backend/server/src/fundamentals/helpers/__tests__/url.spec.ts
  packages/backend/server/src/fundamentals/helpers/url.ts
  packages/backend/server/src/fundamentals/nestjs/config.ts
Labels: app:server, test

#7276 fix(electron): remove duplicate change log open
  packages/frontend/core/src/components/app-sidebar/app-updater-button/index.tsx
Labels: app:core

#7278 chore: adjust order of slash menu items
  packages/frontend/core/src/blocksuite/presets/ai/entries/slash-menu/setup-slash-menu.ts
Labels: app:core

#7259 feat: add ai-is-land
  packages/frontend/core/src/components/pure/ai-island/icons.tsx
  packages/frontend/core/src/components/pure/ai-island/index.tsx
  packages/frontend/core/src/components/pure/ai-island/style.ts
  packages/frontend/core/src/modules/workbench/view/split-view/split-view.tsx
  packages/frontend/core/src/pages/workspace/detail-page/detail-page.tsx
  tests/affine-local/e2e/ai-land.spec.ts
  tests/affine-local/e2e/contact-us.spec.ts
  tests/affine-local/e2e/shortcuts.spec.ts
Labels: test, app:core

#7277 chore: add event tracking for billing
  packages/frontend/core/src/components/affine/setting-modal/general-setting/billing/index.tsx
  packages/frontend/core/src/components/affine/setting-modal/general-setting/plans/actions.tsx
  packages/frontend/core/src/components/affine/setting-modal/general-setting/plans/ai/actions/cancel.tsx
  packages/frontend/core/src/components/affine/setting-modal/general-setting/plans/ai/actions/resume.tsx
  packages/frontend/core/src/components/affine/setting-modal/general-setting/plans/ai/actions/subscribe.tsx
  packages/frontend/core/src/components/affine/setting-modal/general-setting/plans/plan-card.tsx
  packages/frontend/core/src/components/affine/subscription-landing/index.tsx
  packages/frontend/core/src/pages/subscribe.tsx
Labels: app:core

#7280 chore: bump blocksuite
  packages/common/env/package.json
  packages/common/infra/package.json
  packages/frontend/component/package.json
  packages/frontend/core/package.json
  packages/frontend/electron/package.json
  tools/cli/package.json
  yarn.lock
Labels: mod:infra, mod:env, mod:component, app:electron, mod:dev, app:core

#7253 feat(core): continue with AI
  packages/frontend/core/src/blocksuite/presets/ai/_common/config.ts
  packages/frontend/core/src/blocksuite/presets/ai/_common/icons.ts
  packages/frontend/core/src/blocksuite/presets/ai/chat-panel/chat-cards.ts
  packages/frontend/core/src/blocksuite/presets/ai/chat-panel/chat-panel-input.ts
  packages/frontend/core/src/blocksuite/presets/ai/chat-panel/chat-panel-messages.ts
  packages/frontend/core/src/blocksuite/presets/ai/chat-panel/index.ts
  packages/frontend/core/src/blocksuite/presets/ai/entries/edgeless/actions-config.ts
  packages/frontend/core/src/blocksuite/presets/ai/provider.ts
Labels: app:core

#7281 chore(core): delete center peek feature flag
  packages/common/env/src/global.ts
  packages/frontend/core/src/components/blocksuite/block-suite-editor/lit-adaper.tsx
  packages/frontend/core/src/modules/peek-view/entities/peek-view.ts
  packages/frontend/core/src/providers/modal-provider.tsx
  tools/cli/src/webpack/runtime-config.ts
Labels: mod:env, mod:dev, app:core

#7263 feat(core): responsive detail page header
  packages/frontend/core/src/components/affine/share-page-modal/index.tsx
  packages/frontend/core/src/components/affine/share-page-modal/share-menu/index.css.ts
  packages/frontend/core/src/components/affine/share-page-modal/share-menu/share-menu.tsx
  packages/frontend/core/src/components/blocksuite/block-suite-header/menu/index.tsx
  packages/frontend/core/src/components/blocksuite/block-suite-header/present/detail-header-present-button.tsx
  packages/frontend/core/src/components/blocksuite/block-suite-header/present/use-present.ts
  packages/frontend/core/src/components/blocksuite/block-suite-mode-switch/style.ts
  packages/frontend/core/src/components/cloud/share-header-right-item/present.tsx
  packages/frontend/core/src/hooks/affine/use-register-copy-link-commands.tsx
  packages/frontend/core/src/modules/workbench/entities/view.ts
  packages/frontend/core/src/modules/workbench/view/route-container.css.ts
  packages/frontend/core/src/modules/workbench/view/route-container.tsx
  packages/frontend/core/src/pages/workspace/detail-page/detail-page-header.tsx
  packages/frontend/core/src/pages/workspace/detail-page/use-header-responsive.ts
  packages/frontend/core/src/utils/island.tsx
Labels: mod:infra, mod:env, mod:component, app:electron, mod:dev, app:core

#7284 fix: ask ai panel not auto flip
  packages/frontend/core/src/blocksuite/presets/ai/_common/components/ask-ai-button.ts
  packages/frontend/core/src/blocksuite/presets/ai/_common/components/ask-ai-panel.ts
Labels: app:core

#7279 feat: ai onboarding
  packages/frontend/core/src/blocksuite/presets/ai/_common/icons.ts
  packages/frontend/core/src/blocksuite/presets/ai/chat-panel/chat-panel-messages.ts
  packages/frontend/core/src/blocksuite/presets/ai/chat-panel/preload-config.ts
  packages/frontend/core/src/components/affine/setting-modal/general-setting/experimental-features/index.tsx
Labels: app:core

#7287 chore: adjust padding of ask ai panel
  packages/frontend/core/src/blocksuite/presets/ai/_common/components/ask-ai-panel.ts
Labels: app:core, merge

#7283 fix(core): ai chat bugs
  packages/frontend/core/src/blocksuite/presets/ai/chat-panel/chat-cards.ts
  packages/frontend/core/src/blocksuite/presets/ai/chat-panel/chat-panel-input.ts
Labels: app:core

#7285 fix(server): invalidate old user avatar when updated
  packages/backend/server/src/core/storage/config.ts
  packages/backend/server/src/core/storage/wrappers/avatar.ts
  packages/backend/server/src/core/user/controller.ts
  packages/backend/server/src/core/user/resolver.ts
  packages/backend/server/tests/user/user.e2e.ts
  packages/backend/server/tests/utils/utils.ts
Labels: app:server, test

#7291 fix(core): open ai chat for first time
  packages/frontend/core/src/blocksuite/presets/ai/_common/config.ts
  packages/frontend/core/src/blocksuite/presets/ai/actions/edgeless-response.ts
  packages/frontend/core/src/blocksuite/presets/ai/ai-panel.ts
  packages/frontend/core/src/blocksuite/presets/ai/entries/edgeless/actions-config.ts
  packages/frontend/core/src/blocksuite/presets/ai/provider.ts
  packages/frontend/core/src/modules/peek-view/view/doc-peek-view.tsx
  packages/frontend/core/src/pages/workspace/detail-page/detail-page.tsx
Labels: app:core, merge

#7294 feat(core): add ai-usage info in sidebar user avatar menu
  packages/frontend/component/src/ui/divider/divider.tsx
  packages/frontend/core/src/components/affine/auth/user-plan-button.tsx
  packages/frontend/core/src/components/root-app-sidebar/index.css.ts
  packages/frontend/core/src/components/root-app-sidebar/user-info.tsx
  packages/frontend/i18n/src/resources/en.json
Labels: mod:i18n, mod:component, app:core

#7286 fix: auto focus and select the input when notification modal prompt
  packages/frontend/core/src/components/blocksuite/block-suite-editor/specs/custom/spec-patchers.tsx
Labels: mod:component, app:core

#7298 feat: bump blocksuite
  packages/common/env/package.json
  packages/common/infra/package.json
  packages/frontend/component/package.json
  packages/frontend/core/package.json
  packages/frontend/core/src/components/blocksuite/block-suite-editor/specs/custom/spec-patchers.tsx
  packages/frontend/electron/package.json
  tools/cli/package.json
  yarn.lock
Labels: mod:infra, mod:env, mod:component, app:electron, mod:dev, app:core

#7288 feat(core): peek view api enhancements
  packages/frontend/component/src/lit-react/index.ts
  packages/frontend/component/src/lit-react/to-react-node.ts
  packages/frontend/core/src/components/affine/reference-link/index.tsx
  packages/frontend/core/src/components/blocksuite/block-suite-editor/specs/custom/spec-patchers.tsx
  packages/frontend/core/src/modules/peek-view/entities/peek-view.ts
  packages/frontend/core/src/modules/peek-view/view/doc-peek-view.tsx
  packages/frontend/core/src/modules/peek-view/view/modal-container.tsx
  packages/frontend/core/src/modules/peek-view/view/peek-view-controls.css.ts
  packages/frontend/core/src/modules/peek-view/view/peek-view-controls.tsx
  packages/frontend/core/src/modules/peek-view/view/peek-view-manager.tsx
  packages/frontend/core/src/pages/workspace/all-page/all-page.tsx
  packages/frontend/core/src/pages/workspace/detail-page/detail-page.tsx
  packages/frontend/core/src/pages/workspace/index.tsx
  packages/frontend/electron/renderer/app.tsx
  packages/frontend/web/src/app.tsx
Labels: mod:component, app:electron, app:core

#7300 chore: bump blocksuite
  packages/common/env/package.json
  packages/common/infra/package.json
  packages/frontend/component/package.json
  packages/frontend/core/package.json
  packages/frontend/electron/package.json
  tools/cli/package.json
  yarn.lock
Labels: mod:infra, mod:env, mod:component, app:electron, mod:dev, app:core

#7301 fix(electron): center peek for links in electron
  packages/frontend/core/src/modules/navigation/utils.ts
Labels: app:core

#7303 feat: add ibm plex mono font
  packages/frontend/component/src/fonts/ibm-plex-mono/IBMPlexMono-Bold.ttf
  packages/frontend/component/src/fonts/ibm-plex-mono/IBMPlexMono-BoldItalic.ttf
  packages/frontend/component/src/fonts/ibm-plex-mono/IBMPlexMono-Italic.ttf
  packages/frontend/component/src/fonts/ibm-plex-mono/IBMPlexMono-Regular.ttf
  packages/frontend/component/src/fonts/ibm-plex-mono/OFL.txt
  packages/frontend/component/src/theme/fonts.css
Labels: mod:component

#7302 fix(core): selected content should not be activated when executing open in chat
  packages/frontend/core/src/blocksuite/presets/ai/chat-panel/chat-cards.ts
  packages/frontend/core/src/blocksuite/presets/ai/chat-panel/index.ts
Labels: app:core, merge

#7309 fix: text renderer last child margin bottom
  packages/frontend/core/src/blocksuite/presets/ai/messages/text.ts
Labels: app:core, merge

#7310 feat(core): adjust ai help island style and behavior, add animation
  packages/frontend/component/src/styles/styled.tsx
  packages/frontend/core/src/components/pure/ai-island/index.tsx
  packages/frontend/core/src/components/pure/ai-island/style.ts
  packages/frontend/core/src/components/pure/ai-island/styles.css.ts
  packages/frontend/core/src/components/workspace/index.css.ts
  packages/frontend/core/src/modules/right-sidebar/entities/right-sidebar.ts
  packages/frontend/core/src/pages/workspace/detail-page/detail-page.tsx
Labels: mod:component, app:core

#7314 fix(core): incorrect icon of initial reference
  packages/frontend/core/src/components/affine/reference-link/index.tsx
Labels: app:core

#7319 fix(core): skip flaky test
  tests/affine-cloud/e2e/collaboration.spec.ts
Labels: test

#7320 fix(templates): update stickers
  packages/frontend/templates/stickers-templates.gen.ts
  packages/frontend/templates/stickers/Paper/Content/Boom.svg
  packages/frontend/templates/stickers/Paper/Content/Star.svg
Labels: docs

#7313 refactor: image preview component issues in center peek
  packages/frontend/core/src/components/image-preview/index.css.ts
  packages/frontend/core/src/components/image-preview/index.jotai.ts
  packages/frontend/core/src/components/image-preview/index.tsx
  packages/frontend/core/src/modules/peek-view/view/doc-peek-view.css.ts
  packages/frontend/core/src/modules/peek-view/view/doc-peek-view.tsx
  packages/frontend/core/src/modules/peek-view/view/modal-container.css.ts
  packages/frontend/core/src/modules/peek-view/view/modal-container.tsx
  packages/frontend/core/src/pages/workspace/detail-page/detail-page.tsx
  tests/affine-local/e2e/image-preview.spec.ts
Labels: test, app:core

#7159 feat: workflow executor
  packages/backend/server/package.json
  packages/backend/server/src/data/migrations/utils/prompts.ts
  packages/backend/server/src/plugins/copilot/index.ts
  packages/backend/server/src/plugins/copilot/workflow/executor/chat-text.ts
  packages/backend/server/src/plugins/copilot/workflow/executor/index.ts
  packages/backend/server/src/plugins/copilot/workflow/executor/types.ts
  packages/backend/server/src/plugins/copilot/workflow/executor/utils.ts
  packages/backend/server/src/plugins/copilot/workflow/graph.ts
  packages/backend/server/src/plugins/copilot/workflow/index.ts
  packages/backend/server/src/plugins/copilot/workflow/node.ts
  packages/backend/server/src/plugins/copilot/workflow/types.ts
  packages/backend/server/src/plugins/copilot/workflow/worker.mjs
  packages/backend/server/src/plugins/copilot/workflow/workflow.ts
  packages/backend/server/tests/copilot.e2e.ts
  packages/backend/server/tests/copilot.spec.ts
  yarn.lock
Labels: app:server, test

#7312 fix(core): add synced doc block content to ai context
  packages/frontend/core/src/blocksuite/presets/ai/utils/markdown-utils.ts
Labels: app:core

#7324 fix(core): direct replacement of old card with new card in ai chat input
  packages/frontend/core/src/blocksuite/presets/ai/chat-panel/chat-cards.ts
  packages/frontend/core/src/blocksuite/presets/ai/chat-panel/chat-panel-messages.ts
Labels: app:core

#7332 fix: bump blocksuite
  packages/common/env/package.json
  packages/common/infra/package.json
  packages/frontend/component/package.json
  packages/frontend/core/package.json
  packages/frontend/electron/package.json
  tools/cli/package.json
  yarn.lock
Labels: mod:infra, mod:env, mod:component, app:electron, mod:dev, app:core

#7327 fix(core): add synced doc content to edgeless ai context
  packages/frontend/core/src/blocksuite/presets/ai/actions/edgeless-handler.ts
Labels: app:core

#7336 fix(core): fix the page loading style
  packages/frontend/core/src/modules/workbench/view/route-container.tsx
Labels: app:core

#7333 fix: cannot read properties of undefined editor.host
  packages/frontend/core/src/modules/peek-view/view/doc-peek-view.tsx
Labels: app:core

#7335 fix(core): fix error overflow
  packages/frontend/core/src/modules/workbench/view/route-container.css.ts
Labels: app:core

#7328 fix(core): optimize performance when editing doc title
  packages/common/infra/src/modules/doc/entities/doc.ts
  packages/common/infra/src/modules/doc/entities/record.ts
  packages/frontend/core/src/components/page-list/collections/virtualized-collection-list.tsx
  packages/frontend/core/src/components/page-list/docs/page-list-header.tsx
  packages/frontend/core/src/components/page-list/docs/virtualized-page-list.tsx
  packages/frontend/core/src/components/page-list/operation-cell.tsx
  packages/frontend/core/src/components/page-list/view/collection-list.tsx
  packages/frontend/core/src/components/page-list/view/collection-operations.tsx
  packages/frontend/core/src/components/page-list/view/edit-collection/edit-collection.tsx
  packages/frontend/core/src/components/page-list/view/use-edit-collection.tsx
  packages/frontend/core/src/components/pure/workspace-slider-bar/collections/collections-list.tsx
  packages/frontend/core/src/components/pure/workspace-slider-bar/collections/styles.css.ts
  packages/frontend/core/src/hooks/affine/use-all-page-list-config.tsx
  packages/frontend/core/src/hooks/affine/use-register-blocksuite-editor-commands.tsx
  packages/frontend/core/src/pages/workspace/all-collection/index.tsx
  packages/frontend/core/src/pages/workspace/collection/index.tsx
Labels: mod:infra, app:core

#7329 refactor(core): image block use peek view workflow
  packages/common/env/package.json
  packages/common/infra/package.json
  packages/frontend/component/package.json
  packages/frontend/core/package.json
  packages/frontend/core/src/modules/peek-view/entities/peek-view.ts
  packages/frontend/core/src/modules/peek-view/index.ts
  packages/frontend/core/src/modules/peek-view/view/doc-preview/doc-peek-view.css.ts
  packages/frontend/core/src/modules/peek-view/view/doc-preview/doc-peek-view.tsx
  packages/frontend/core/src/modules/peek-view/view/doc-preview/index.ts
  packages/frontend/core/src/modules/peek-view/view/image-preview/hooks/use-zoom.tsx
  packages/frontend/core/src/modules/peek-view/view/image-preview/index.css.ts
  packages/frontend/core/src/modules/peek-view/view/image-preview/index.tsx
  packages/frontend/core/src/modules/peek-view/view/modal-container.css.ts
  packages/frontend/core/src/modules/peek-view/view/modal-container.tsx
  packages/frontend/core/src/modules/peek-view/view/peek-view-manager.tsx
  packages/frontend/core/src/pages/workspace/detail-page/detail-page.tsx
  packages/frontend/electron/package.json
  tests/affine-local/e2e/image-preview.spec.ts
  tools/cli/package.json
  yarn.lock
Labels: mod:infra, mod:env, mod:component, app:electron, mod:dev, test, app:core

#7340 chore(core): update inline reference icon
  packages/frontend/core/src/components/affine/reference-link/index.tsx
Labels: app:core

#7342 feat: optimize edgeless ai action insert handler
  packages/frontend/core/src/blocksuite/presets/ai/actions/edgeless-response.ts
Labels: app:core, merge

#7346 fix(server): websocket error backward compatibility
  packages/backend/server/src/fundamentals/error/def.ts
  packages/backend/server/src/fundamentals/graphql/index.ts
  packages/backend/server/src/fundamentals/nestjs/exception.ts
Labels: app:server

#7347 fix(core): clear op history when create a new doc
  packages/common/infra/src/initialization/index.ts
Labels: mod:infra

#7345 fix(core): unexpected text overflow style in dialog
  packages/frontend/component/src/ui/modal/styles.css.ts
Labels: mod:component

#7311 feat: integrate i18n error for copilot
  packages/backend/server/src/fundamentals/error/def.ts
  packages/backend/server/src/fundamentals/error/errors.gen.ts
  packages/backend/server/src/plugins/copilot/providers/fal.ts
  packages/backend/server/src/plugins/copilot/providers/openai.ts
  packages/backend/server/src/schema.gql
  packages/frontend/graphql/src/schema.ts
Labels: app:server, test

#7341 feat(core): impl ai onboarding templates
  packages/frontend/core/src/blocksuite/presets/ai/chat-panel/chat-panel-messages.ts
  packages/frontend/core/src/blocksuite/presets/ai/chat-panel/preload-config.ts
  packages/frontend/core/src/blocksuite/presets/ai/chat-panel/templates/TidyMindMapV3.zip
  packages/frontend/core/src/blocksuite/presets/ai/chat-panel/templates/completeWritingWithAI.zip
  packages/frontend/core/src/blocksuite/presets/ai/chat-panel/templates/freelyCommunicateWithAI.zip
  packages/frontend/core/src/blocksuite/presets/ai/chat-panel/templates/readAforeign.zip
  packages/frontend/core/src/blocksuite/presets/ai/chat-panel/templates/redHat.zip
  packages/frontend/core/src/blocksuite/presets/ai/provider.ts
  packages/frontend/core/src/layouts/workspace-layout.tsx
  packages/frontend/core/src/pages/workspace/detail-page/detail-page.tsx
Labels: app:core

#7331 fix(core): optimize request chat cards fn
  packages/frontend/core/src/blocksuite/presets/ai/provider.ts
  packages/frontend/core/src/modules/multi-tab-sidebar/index.ts
  packages/frontend/core/src/modules/multi-tab-sidebar/multi-tabs/sidebar-tabs.ts
  packages/frontend/core/src/pages/workspace/detail-page/detail-page.tsx
Labels: app:core

#7349 fix(core): fix ui flickering on startup
  packages/frontend/core/src/components/affine/awareness/index.tsx
  packages/frontend/core/src/layouts/workspace-layout.tsx
  packages/frontend/core/src/providers/modal-provider.tsx
Labels: app:core

#7354 fix(templates): use url safe base64 in templates
  packages/frontend/templates/build-stickers.mjs
  packages/frontend/templates/stickers-templates.gen.ts
Labels: docs

#7339 refactor(core): remove the automatic URL change feature
  packages/frontend/core/src/components/blocksuite/block-suite-editor/blocksuite-editor-container.tsx
  packages/frontend/core/src/hooks/affine/use-share-url.ts
Labels: app:core

#6910 refactor(component): new Radio component
  packages/frontend/component/package.json
  packages/frontend/component/src/index.ts
  packages/frontend/component/src/ui/button/radio.tsx
  packages/frontend/component/src/ui/radio/index.ts
  packages/frontend/component/src/ui/radio/radio.stories.tsx
  packages/frontend/component/src/ui/radio/radio.tsx
  packages/frontend/component/src/ui/radio/styles.css.ts
  packages/frontend/component/src/ui/radio/types.ts
  packages/frontend/component/src/ui/resize-panel/resize-panel.tsx
  packages/frontend/component/src/ui/resize-panel/styles.css.ts
  packages/frontend/component/src/utils/with-unit.ts
  yarn.lock
Labels: mod:component

#7348 test: add test for undo empty page
  tests/affine-local/e2e/undo-empty.spec.ts
Labels: test

#7337 chore(core): removed obsolete TODO
  packages/frontend/core/src/commands/affine-updates.tsx
  packages/frontend/core/src/components/affine/setting-modal/workspace-setting/new-workspace-setting-detail/labels.tsx
  packages/frontend/core/src/components/affine/share-page-modal/share-menu/index.css.ts
  packages/frontend/core/src/components/page-list/collections/collection-list-item.css.ts
  packages/frontend/core/src/components/page-list/collections/collection-list-item.tsx
  packages/frontend/core/src/components/page-list/docs/page-list-item.css.ts
  packages/frontend/core/src/components/page-list/docs/page-list-item.tsx
  packages/frontend/core/src/components/page-list/tags/tag-list-item.css.ts
  packages/frontend/core/src/components/page-list/tags/tag-list-item.tsx
  packages/frontend/core/src/components/page-list/types.ts
  packages/frontend/core/src/pages/workspace/detail-page/detail-page.css.ts
Labels: app:core

#7356 feat: make width and height of generated image same with input image
  packages/frontend/core/src/blocksuite/presets/ai/actions/edgeless-response.ts
Labels: app:core, merge

#7343 feat(infra): use yjs mergeupdate for performance
  packages/common/infra/src/sync/doc/storage.ts
Labels: mod:infra

#7338 chore: bump theme
  packages/frontend/component/package.json
  packages/frontend/core/package.json
  yarn.lock
Labels: mod:component, app:core

#7350 refactor(core): view transition api for peek-view modal animation
  packages/frontend/core/src/modules/peek-view/view/doc-preview/doc-peek-view.tsx
  packages/frontend/core/src/modules/peek-view/view/modal-container.css.ts
  packages/frontend/core/src/modules/peek-view/view/modal-container.tsx
Labels: app:core

#7360 chore: bump blocksuite
  packages/common/env/package.json
  packages/common/infra/package.json
  packages/frontend/component/package.json
  packages/frontend/core/package.json
  packages/frontend/electron/package.json
  tools/cli/package.json
  yarn.lock
Labels: mod:infra, mod:env, mod:component, app:electron, mod:dev, app:core

#7352 feat(core): replace all radio-button-group usage
  packages/frontend/component/package.json
  packages/frontend/component/src/ui/modal/modal.tsx
  packages/frontend/core/src/components/affine/setting-modal/general-setting/appearance/index.tsx
  packages/frontend/core/src/components/affine/share-page-modal/share-menu/share-page.tsx
  packages/frontend/core/src/components/page-list/view/edit-collection/edit-collection.css.ts
  packages/frontend/core/src/components/page-list/view/edit-collection/edit-collection.tsx
  packages/frontend/core/src/components/pure/workspace-mode-filter-tab/index.css.ts
  packages/frontend/core/src/components/pure/workspace-mode-filter-tab/index.tsx
  packages/frontend/core/src/modules/multi-tab-sidebar/view/header-switcher.css.ts
  packages/frontend/core/src/modules/multi-tab-sidebar/view/header-switcher.tsx
  yarn.lock
Labels: mod:component, app:core

#7361 fix: embed doc link rendering
  packages/frontend/core/src/components/blocksuite/block-suite-editor/specs/custom/spec-patchers.tsx
Labels: app:core

#7359 fix(infra): recover deleted item in orm
  packages/common/infra/src/orm/core/__tests__/entity.spec.ts
  packages/common/infra/src/orm/core/__tests__/yjs.spec.ts
  packages/common/infra/src/orm/core/adapters/yjs/table.ts
Labels: mod:infra, test

#7326 fix: use sgtpooki/file-type for resolving image type
  packages/frontend/core/package.json
  packages/frontend/core/src/modules/peek-view/view/image-preview/index.tsx
  yarn.lock
Labels: app:core

#7362 fix(core): not found info in workspace page is not in center
  packages/frontend/component/src/components/affine-other-page-layout/index.css.ts
Labels: mod:component

#7363 fix(core): debounce doc update time update
  packages/frontend/core/src/components/affine/page-properties/table.tsx
Labels: app:core

#7368 chore: bump bs
  packages/common/env/package.json
  packages/common/infra/package.json
  packages/frontend/component/package.json
  packages/frontend/core/package.json
  packages/frontend/electron/package.json
  tools/cli/package.json
  yarn.lock
Labels: mod:infra, mod:env, mod:component, app:electron, mod:dev, app:core, merge

#7370 fix(core): correct image action icon
  packages/frontend/core/src/blocksuite/presets/ai/_common/config.ts
Labels: app:core

#7371 fix(core): should return a cleanup function
  packages/frontend/core/src/pages/workspace/detail-page/detail-page.tsx
Labels: app:core

#7365 fix: escape key handling compatibility issue with blocksuite
  packages/frontend/core/src/modules/peek-view/view/modal-container.tsx
Labels: app:core

#7374 fix: click continue with ai not work
  packages/frontend/core/src/blocksuite/presets/ai/chat-panel/chat-cards.ts
  packages/frontend/core/src/blocksuite/presets/ai/chat-panel/chat-panel-messages.ts
Labels: app:core

#7375 fix: add onboarding entry
  packages/frontend/core/src/components/blocksuite/block-suite-editor/ai/setup-provider.tsx
Labels: app:core

#7376 fix: code block toolbar z-index issue in right sidebar
  packages/frontend/core/src/blocksuite/presets/ai/chat-panel/index.ts
  packages/frontend/core/src/blocksuite/presets/ai/entries/code-toolbar/setup-code-toolbar.ts
  packages/frontend/core/src/blocksuite/presets/ai/messages/text.ts
  packages/frontend/core/src/modules/right-sidebar/view/header.css.ts
Labels: app:core

#7377 fix(core): fix viewtransition and css property missing
  packages/frontend/core/src/components/pure/ai-island/index.tsx
  packages/frontend/core/src/modules/peek-view/view/modal-container.tsx
Labels: app:core
