Repository toeverything/AFFiNE, pull requests merged in 2024-01, with the labels that each got.

#5478 test(core): select monthpicker issue when crossing different years
  tests/kit/utils/filter.ts
Labels: test

#5440 feat(core): optimize history list item ui
  packages/frontend/core/src/components/affine/page-history-modal/data.ts
  packages/frontend/core/src/components/affine/page-history-modal/history-modal.tsx
  packages/frontend/core/src/components/affine/page-history-modal/styles.css.ts
Labels: app:core

#5405 refactor(server): object storages
  packages/backend/server/src/affine.config.ts
  packages/backend/server/src/affine.ts
  packages/backend/server/src/config/def.ts
  packages/backend/server/src/config/default.ts
  packages/backend/server/src/config/index.ts
  packages/backend/server/src/config/storage/index.ts
  packages/backend/server/src/prelude.ts
Labels: app:server

#5410 feat(server): new storage provider
  packages/backend/server/src/modules/storage/__tests__/fs.spec.ts
  packages/backend/server/src/modules/storage/providers/fs.ts
  packages/backend/server/src/modules/storage/providers/index.ts
  packages/backend/server/src/modules/storage/providers/provider.ts
  packages/backend/server/src/modules/storage/providers/r2.ts
  packages/backend/server/src/modules/storage/providers/s3.ts
  packages/backend/server/src/modules/storage/providers/utils.ts
  packages/backend/server/src/modules/storage/wrappers/avatar.ts
  packages/backend/server/src/modules/storage/wrappers/blob.ts
  packages/backend/server/src/modules/storage/wrappers/index.ts
Labels: mod:workspace, app:server, test

#5457 refactor(component): adjust active editor atom
  packages/frontend/component/src/components/block-suite-editor/index.tsx
  packages/frontend/core/src/components/page-detail-editor.tsx
  packages/frontend/core/src/pages/workspace/detail-page/editor-sidebar/extensions/copilot.tsx
  packages/frontend/core/src/pages/workspace/detail-page/editor-sidebar/extensions/frame.tsx
  packages/frontend/core/src/pages/workspace/detail-page/editor-sidebar/extensions/outline.tsx
  packages/frontend/hooks/src/use-block-suite-editor.ts
Labels: mod:hooks, mod:component, test, app:core

#5459 refactor(core): move workspace atoms to core
  packages/frontend/core/src/atoms/collections.ts
  packages/frontend/core/src/components/affine/affine-error-boundary/error-basic/info-logger.tsx
  packages/frontend/core/src/components/affine/awareness/index.tsx
  packages/frontend/core/src/components/affine/create-workspace-modal/index.tsx
  packages/frontend/core/src/components/affine/page-history-modal/history-modal.tsx
  packages/frontend/core/src/components/affine/setting-modal/setting-sidebar/index.tsx
  packages/frontend/core/src/components/affine/setting-modal/workspace-setting/new-workspace-setting-detail/delete-leave-workspace/index.tsx
  packages/frontend/core/src/components/affine/setting-modal/workspace-setting/new-workspace-setting-detail/enable-cloud.tsx
  packages/frontend/core/src/components/affine/share-page-modal/index.tsx
  packages/frontend/core/src/components/blocksuite/block-suite-header-title/operation-menu.tsx
  packages/frontend/core/src/components/pure/cmdk/data.tsx
  packages/frontend/core/src/components/pure/trash-page-footer/index.tsx
  packages/frontend/core/src/components/pure/workspace-slider-bar/user-with-workspace-list/index.tsx
  packages/frontend/core/src/components/pure/workspace-slider-bar/user-with-workspace-list/workspace-list/index.tsx
  packages/frontend/core/src/components/pure/workspace-slider-bar/workspace-card/index.tsx
  packages/frontend/core/src/components/top-tip.tsx
  packages/frontend/core/src/components/workspace-upgrade/upgrade.tsx
  packages/frontend/core/src/hooks/affine/use-all-page-list-config.tsx
  packages/frontend/core/src/hooks/affine/use-register-blocksuite-editor-commands.tsx
  packages/frontend/core/src/hooks/affine/use-sidebar-drag.ts
  packages/frontend/core/src/hooks/current/use-current-page.ts
  packages/frontend/core/src/hooks/use-register-workspace-commands.ts
  packages/frontend/core/src/hooks/use-workspace-blob.ts
  packages/frontend/core/src/hooks/use-workspace-info.ts
  packages/frontend/core/src/hooks/use-workspace.ts
  packages/frontend/core/src/layouts/workspace-layout.tsx
  packages/frontend/core/src/modules/workspace/atoms.ts
  packages/frontend/core/src/modules/workspace/index.ts
  packages/frontend/core/src/pages/index.tsx
  packages/frontend/core/src/pages/workspace/all-page/all-page-filter.tsx
  packages/frontend/core/src/pages/workspace/all-page/all-page.tsx
  packages/frontend/core/src/pages/workspace/collection.tsx
  packages/frontend/core/src/pages/workspace/detail-page/detail-page.tsx
  packages/frontend/core/src/pages/workspace/index.tsx
  packages/frontend/core/src/pages/workspace/trash-page.tsx
  packages/frontend/core/src/providers/modal-provider.tsx
  tests/storybook/.storybook/preview.tsx
  tests/storybook/src/stories/image-preview-modal.stories.tsx
  tests/storybook/src/stories/quick-search/quick-search-main.stories.tsx
  tests/storybook/src/stories/share-menu.stories.tsx
  tests/storybook/src/stories/workspace-list.stories.tsx
Labels: mod:store, test, app:core

#5496 fix(workspace): make ci stable
  packages/frontend/workspace-impl/src/local/__tests__/engine.spec.ts
  packages/frontend/workspace-impl/src/local/__tests__/peer.spec.ts
Labels: test, mod:workspace-impl

#5352 docs: initial api reference docs
  docs/reference/package.json
  docs/reference/readme.md
  package.json
  packages/common/infra/package.json
  packages/common/infra/src/index.ts
  packages/common/infra/typedoc.json
  packages/common/workspace/typedoc.json
  typedoc.base.json
  typedoc.json
  yarn.lock
Labels: mod:infra, docs, mod:workspace

#5498 test(core): fix selectMonthFromMonthPicker logic
  tests/kit/utils/filter.ts
Labels: test

#5493 fix(core): adjust error boundary level
  packages/frontend/core/src/components/affine/page-history-modal/history-modal.tsx
  packages/frontend/core/src/pages/workspace/detail-page/detail-page.tsx
Labels: app:core

#5441 fix(core): add free plan prompt
  packages/frontend/core/src/components/affine/page-history-modal/history-modal.tsx
  packages/frontend/core/src/components/affine/page-history-modal/styles.css.ts
  packages/frontend/i18n/src/resources/en.json
Labels: mod:i18n, app:core

#5453 feat: bump blocksuite
  packages/common/env/package.json
  packages/common/infra/package.json
  packages/common/y-indexeddb/package.json
  packages/common/y-provider/package.json
  packages/frontend/component/package.json
  packages/frontend/component/src/components/block-suite-editor/index.tsx
  packages/frontend/core/package.json
  packages/frontend/core/src/components/page-detail-editor.css.ts
  packages/frontend/electron/package.json
  tests/affine-cloud/e2e/collaboration.spec.ts
  tests/affine-desktop/e2e/basic.spec.ts
  tests/affine-legacy/0.6.1-beta.1/package.json
  tests/affine-legacy/0.7.0-canary.18/package.json
  tests/affine-legacy/0.8.0-canary.7/package.json
  tests/affine-legacy/0.8.4/package.json
  tests/affine-local/e2e/local-first-collections-items.spec.ts
  tests/affine-local/e2e/quick-search.spec.ts
  tests/affine-migration/package.json
  tests/kit/utils/filter.ts
  tests/kit/utils/page-logic.ts
  tests/storybook/package.json
  yarn.lock
Labels: mod:infra, docs, mod:hooks, mod:env, mod:component, app:electron, package:y-indexeddb, test, app:core

#5442 feat(core): page preview ui optimize
  packages/frontend/core/src/components/affine/page-history-modal/history-modal.tsx
  packages/frontend/core/src/components/affine/page-history-modal/styles.css.ts
Labels: app:core

#5433 refactor(server): use new storage providers
  packages/backend/server/package.json
  packages/backend/server/schema.prisma
  packages/backend/server/src/affine.config.ts
  packages/backend/server/src/app.ts
  packages/backend/server/src/config/def.ts
  packages/backend/server/src/config/default.ts
  packages/backend/server/src/config/storage/index.ts
  packages/backend/server/src/event/events.ts
  packages/backend/server/src/index.ts
  packages/backend/server/src/modules/index.ts
  packages/backend/server/src/modules/quota/index.ts
  packages/backend/server/src/modules/quota/storage.ts
  packages/backend/server/src/modules/storage/fs.ts
  packages/backend/server/src/modules/storage/index.ts
  packages/backend/server/src/modules/storage/providers/fs.ts
  packages/backend/server/src/modules/storage/providers/provider.ts
  packages/backend/server/src/modules/storage/providers/r2.ts
  packages/backend/server/src/modules/storage/providers/s3.ts
  packages/backend/server/src/modules/storage/s3.ts
  packages/backend/server/src/modules/storage/storage.service.ts
  packages/backend/server/src/modules/storage/wrappers/avatar.ts
  packages/backend/server/src/modules/storage/wrappers/blob.ts
  packages/backend/server/src/modules/users/controller.ts
  packages/backend/server/src/modules/users/index.ts
  packages/backend/server/src/modules/users/resolver.ts
  packages/backend/server/src/modules/workspaces/controller.ts
  packages/backend/server/src/modules/workspaces/index.ts
  packages/backend/server/src/modules/workspaces/resolvers/blob.ts
  packages/backend/server/src/modules/workspaces/resolvers/history.ts
  packages/backend/server/src/modules/workspaces/resolvers/index.ts
  packages/backend/server/src/modules/workspaces/resolvers/page.ts
  packages/backend/server/src/modules/workspaces/resolvers/workspace.ts
  packages/backend/server/src/schema.gql
  packages/backend/server/src/storage/index.ts
  packages/backend/server/tests/doc.spec.ts
  packages/backend/server/tests/history.spec.ts
  packages/backend/server/tests/quota.spec.ts
  packages/backend/server/tests/utils/blobs.ts
  packages/backend/server/tests/utils/utils.ts
  packages/backend/server/tests/workspace-blobs.spec.ts
  packages/backend/server/tests/workspace-usage.spec.ts
  packages/frontend/workspace-impl/src/cloud/blob.ts
Labels: mod:workspace, app:server, test, mod:workspace-impl

#5461 feat(server): blob data migration
  .github/actions/deploy/deploy.mjs
  .github/helm/affine/charts/graphql/templates/deployment.yaml
  .github/helm/affine/charts/graphql/templates/migration.yaml
  .github/helm/affine/charts/graphql/templates/r2-secret.yaml
  .github/helm/affine/charts/graphql/values.yaml
  .github/workflows/build-test.yml
  .github/workflows/deploy.yml
  packages/backend/server/src/data/app.ts
  packages/backend/server/src/data/commands/run.ts
  packages/backend/server/src/data/migrations/1703828796699-workspace-blobs.ts
  packages/backend/server/src/modules/storage/wrappers/blob.ts
Labels: app:server

#5500 feat(core): add cloud workspace member limit
  packages/frontend/component/src/components/member-components/index.tsx
  packages/frontend/component/src/components/member-components/member-limit-modal.tsx
  packages/frontend/core/src/components/affine/setting-modal/workspace-setting/new-workspace-setting-detail/members.tsx
  packages/frontend/i18n/src/resources/en.json
Labels: mod:i18n, mod:component, app:core

#5507 fix(electron): client always update cause by version not update correctly
  scripts/set-version.sh
Labels: mod:dev

#5465 feat: add copilot feature type
  packages/backend/server/src/modules/features/feature.ts
  packages/backend/server/src/modules/features/service.ts
  packages/backend/server/src/modules/features/types/common.ts
  packages/backend/server/src/modules/features/types/copilot.ts
  packages/backend/server/src/modules/features/types/early-access.ts
  packages/backend/server/src/modules/features/types/index.ts
  packages/backend/server/src/modules/workspaces/index.ts
  packages/backend/server/src/modules/workspaces/permission.ts
  packages/backend/server/src/modules/workspaces/resolvers/blob.ts
  packages/backend/server/src/modules/workspaces/resolvers/history.ts
  packages/backend/server/src/modules/workspaces/resolvers/page.ts
  packages/backend/server/src/modules/workspaces/resolvers/workspace.ts
  packages/backend/server/src/modules/workspaces/types.ts
Labels: app:server

#5409 fix(core): disable quick search when the link-popup is visitable
  packages/frontend/core/src/commands/affine-settings.tsx
  packages/frontend/core/src/components/page-detail-editor.tsx
  packages/frontend/core/src/hooks/use-register-workspace-commands.ts
  tests/affine-local/e2e/quick-search.spec.ts
  tests/storybook/src/stories/quick-search/quick-search-main.stories.tsx
Labels: test, app:core

#5466 feat: workspace level feature schema
  packages/backend/server/schema.prisma
  packages/backend/server/src/modules/features/management.ts
  packages/backend/server/src/modules/features/service.ts
Labels: app:server

#5501 feat: add workspace feature tests
  packages/backend/server/migrations/20240103092238_add_workspace_features/migration.sql
  packages/backend/server/package.json
  packages/backend/server/schema.prisma
  packages/backend/server/src/modules/features/management.ts
  packages/backend/server/src/schema.gql
  packages/backend/server/tests/feature.spec.ts
Labels: app:server, test

#5503 feat: add workspace level feature apis
  packages/backend/server/package.json
  packages/backend/server/src/data/migrations/1698652531198-user-features-init.ts
  packages/backend/server/src/data/migrations/1704352562369-refresh-user-features.ts
  packages/backend/server/src/data/migrations/utils/user-features.ts
  packages/backend/server/src/modules/features/feature.ts
  packages/backend/server/src/modules/features/management.ts
  packages/backend/server/src/modules/features/service.ts
  packages/backend/server/src/modules/features/types/common.ts
  packages/backend/server/src/modules/features/types/early-access.ts
  packages/backend/server/src/modules/features/types/index.ts
  packages/backend/server/src/modules/users/index.ts
  packages/backend/server/src/modules/users/management.ts
  packages/backend/server/src/modules/users/resolver.ts
  packages/backend/server/src/modules/workspaces/index.ts
  packages/backend/server/src/modules/workspaces/management.ts
  packages/backend/server/src/modules/workspaces/resolvers/workspace.ts
  packages/backend/server/src/schema.gql
  packages/backend/server/tests/app.e2e.ts
  packages/backend/server/tests/feature.spec.ts
  packages/frontend/graphql/src/graphql/get-workspace-features.gql
  packages/frontend/graphql/src/graphql/index.ts
  packages/frontend/graphql/src/graphql/workspace-feature-add.gql
  packages/frontend/graphql/src/graphql/workspace-feature-list.gql
  packages/frontend/graphql/src/graphql/workspace-feature-remove.gql
  packages/frontend/graphql/src/schema.ts
Labels: app:server, test

#5515 feat: upgrade to rust 1.75.0
  README.md
  rust-toolchain.toml
Labels: docs, rust

#5513 fix(core): sidebar extension sometimes not show
  packages/frontend/core/src/components/page-detail-editor.tsx
Labels: app:core

#5520 feat: use relative path for worker api
  packages/frontend/core/.webpack/config.ts
  packages/frontend/core/.webpack/runtime-config.ts
Labels: app:core

#5525 feat: add workspace experimental features api
  packages/backend/server/src/modules/users/resolver.ts
  packages/backend/server/src/modules/users/types.ts
  packages/backend/server/src/modules/workspaces/management.ts
  packages/backend/server/src/schema.gql
  packages/backend/server/tests/app.e2e.ts
  packages/frontend/graphql/src/graphql/get-user.gql
  packages/frontend/graphql/src/graphql/index.ts
  packages/frontend/graphql/src/graphql/workspace-experimental-feature-get.gql
  packages/frontend/graphql/src/graphql/workspace-experimental-feature-set.gql
  packages/frontend/graphql/src/schema.ts
Labels: app:server, test

#5510 fix(server): backward compatibility for beta+stable envs
  packages/backend/server/src/affine.config.ts
  packages/backend/server/src/modules/storage/providers/provider.ts
  packages/backend/server/src/modules/storage/providers/s3.ts
  packages/backend/server/src/modules/storage/wrappers/blob.ts
  packages/backend/server/src/modules/workspaces/controller.ts
  packages/backend/server/src/storage/index.ts
Labels: app:server

#5536 fix: only return activated features
  packages/backend/server/src/modules/features/management.ts
  packages/backend/server/src/modules/features/service.ts
Labels: app:server

#5534 fix: add missing Korean translations for updated English text
  packages/frontend/i18n/src/resources/ko.json
Labels: mod:i18n

#5529 fix(component): app sidebar will never float when menu not opened
  packages/frontend/component/src/components/app-sidebar/index.tsx
Labels: mod:component

#5551 chore: update Korean translation
  packages/frontend/i18n/src/resources/ko.json
Labels: mod:i18n

#5553 fix(server): better error handling and logging for storage
  packages/backend/server/src/modules/storage/providers/r2.ts
  packages/backend/server/src/modules/storage/providers/s3.ts
Labels: app:server

#5554 build: change space replacement when set version to fix client upgrade always problem
  scripts/set-version.sh
Labels: mod:dev

#5552 chore(core): remove affine/cmdk package
  .yarn/patches/cmdk-npm-0.2.0-302237a911.patch
  package.json
  packages/common/cmdk/LICENSE.md
  packages/common/cmdk/README.md
  packages/common/cmdk/package.json
  packages/common/cmdk/src/command-score.ts
  packages/common/cmdk/src/index.tsx
  packages/common/cmdk/tsconfig.json
  packages/frontend/core/package.json
  packages/frontend/core/src/components/pure/cmdk/data.tsx
  packages/frontend/core/src/components/pure/cmdk/main.tsx
  packages/frontend/core/src/components/pure/cmdk/not-found.tsx
  tsconfig.json
  yarn.lock
Labels: docs, app:core

#5521 feat: adapted user quota for member api
  packages/backend/server/src/modules/quota/storage.ts
  packages/backend/server/src/modules/workspaces/resolvers/workspace.ts
  packages/backend/server/tests/mailer.spec.ts
Labels: app:server, test

#5523 feat: add unlimited workspace support
  packages/backend/server/src/modules/features/feature.ts
  packages/backend/server/src/modules/features/types/common.ts
  packages/backend/server/src/modules/features/types/index.ts
  packages/backend/server/src/modules/features/types/unlimited-workspace.ts
  packages/backend/server/src/modules/workspaces/resolvers/workspace.ts
  packages/backend/server/src/schema.gql
  packages/backend/server/tests/mailer.spec.ts
Labels: app:server, test

#5506 feat: support self-host docker build
  .github/deployment/front/Dockerfile
  .github/deployment/node/Dockerfile
  .github/deployment/self-host/compose.yaml
  .github/helm/affine/charts/graphql/templates/deployment.yaml
  .github/helm/affine/charts/graphql/values.yaml
  .github/workflows/deploy.yml
  packages/backend/server/package.json
  packages/backend/server/src/app.ts
  packages/backend/server/src/config/def.ts
  packages/backend/server/src/config/default.ts
  packages/backend/server/src/metrics/opentelemetry.ts
  packages/backend/server/src/modules/auth/next-auth-options.ts
  packages/backend/server/src/modules/auth/next-auth.controller.ts
  packages/backend/server/src/modules/index.ts
  packages/backend/server/src/prelude.ts
  packages/backend/server/src/storage/index.ts
  packages/frontend/core/.webpack/config.ts
  packages/frontend/workspace-impl/src/cloud/sync/index.ts
  scripts/download-blocksuite-fonts.mjs
  yarn.lock
Labels: mod:dev, app:server, app:core, mod:workspace-impl

#5522 test(server): avoid progress get hold after tests finished
  packages/backend/server/src/affine.config.ts
  packages/backend/server/src/affine.env.ts
  packages/backend/server/src/app.ts
  packages/backend/server/src/cache/index.ts
  packages/backend/server/src/cache/instances.ts
  packages/backend/server/src/cache/interceptor.ts
  packages/backend/server/src/cache/providers/cache.ts
  packages/backend/server/src/cache/providers/redis.ts
  packages/backend/server/src/cache/redis/index.ts
  packages/backend/server/src/config/def.ts
  packages/backend/server/src/config/default.ts
  packages/backend/server/src/config/index.ts
  packages/backend/server/src/data/app.ts
  packages/backend/server/src/data/commands/create.ts
  packages/backend/server/src/data/migrations/1698398506533-guid.ts
  packages/backend/server/src/data/migrations/1698652531198-user-features-init.ts
  packages/backend/server/src/data/migrations/1699005339766-page-permission.ts
  packages/backend/server/src/data/migrations/1702620653283-old-user-feature.ts
  packages/backend/server/src/data/migrations/1703756315970-unamed-account.ts
  packages/backend/server/src/data/migrations/1703828796699-workspace-blobs.ts
  packages/backend/server/src/data/migrations/1704352562369-refresh-user-features.ts
  packages/backend/server/src/data/migrations/utils/user-features.ts
  packages/backend/server/src/index.ts
  packages/backend/server/src/metrics/index.ts
  packages/backend/server/src/metrics/metrics.ts
  packages/backend/server/src/metrics/opentelemetry.ts
  packages/backend/server/src/modules/auth/resolver.ts
  packages/backend/server/src/modules/sync/redis-adapter.ts
  packages/backend/server/src/prelude.ts
  packages/backend/server/src/session.ts
  packages/backend/server/src/throttler.ts
  packages/backend/server/tests/auth.spec.ts
  packages/backend/server/tests/feature.spec.ts
  packages/backend/server/tests/mailer.e2e.ts
  packages/backend/server/tests/quota.spec.ts
  packages/backend/server/tests/session.spec.ts
Labels: app:server, test

#5544 test(server): make server testing utils
  packages/backend/server/src/app.ts
  packages/backend/server/src/graphql.module.ts
  packages/backend/server/src/modules/quota/index.ts
  packages/backend/server/src/modules/storage/__tests__/fs.spec.ts
  packages/backend/server/src/prisma/index.ts
  packages/backend/server/tests/app.e2e.ts
  packages/backend/server/tests/auth.e2e.ts
  packages/backend/server/tests/auth.spec.ts
  packages/backend/server/tests/doc.spec.ts
  packages/backend/server/tests/feature.spec.ts
  packages/backend/server/tests/history.spec.ts
  packages/backend/server/tests/mailer.e2e.ts
  packages/backend/server/tests/mailer.spec.ts
  packages/backend/server/tests/quota.spec.ts
  packages/backend/server/tests/session.spec.ts
  packages/backend/server/tests/user.e2e.ts
  packages/backend/server/tests/utils/utils.ts
  packages/backend/server/tests/workspace-blobs.spec.ts
  packages/backend/server/tests/workspace-invite.e2e.ts
  packages/backend/server/tests/workspace.e2e.ts
Labels: app:server, test

#5571 fix(core): workspace not found after import
  packages/frontend/core/src/components/affine/create-workspace-modal/index.tsx
Labels: app:core

#5524 feat: blob size limit with quota
  packages/backend/server/package.json
  packages/backend/server/src/modules/quota/schema.ts
  packages/backend/server/src/modules/quota/storage.ts
  packages/backend/server/src/modules/quota/types.ts
  packages/backend/server/src/modules/workspaces/resolvers/blob.ts
  packages/backend/server/src/modules/workspaces/resolvers/workspace.ts
  packages/backend/server/src/schema.gql
  packages/backend/server/tests/workspace-blobs.spec.ts
Labels: app:server, test

#5575 feat: bump blocksuite
  packages/common/env/package.json
  packages/common/infra/package.json
  packages/common/y-indexeddb/package.json
  packages/common/y-provider/package.json
  packages/frontend/component/package.json
  packages/frontend/core/package.json
  packages/frontend/core/src/components/page-list/operation-menu-items/get-content-parser.ts
  packages/frontend/core/src/hooks/affine/use-export-page.ts
  packages/frontend/electron/package.json
  tests/affine-legacy/0.6.1-beta.1/package.json
  tests/affine-legacy/0.7.0-canary.18/package.json
  tests/affine-legacy/0.8.0-canary.7/package.json
  tests/affine-legacy/0.8.4/package.json
  tests/affine-migration/package.json
  tests/storybook/package.json
  yarn.lock
Labels: mod:infra, mod:env, mod:component, app:electron, package:y-indexeddb, test, app:core

#5581 fix(electron): remove cors headers hack
  packages/frontend/electron/src/main/protocol.ts
Labels: app:electron

#5588 fix: return empty resp if user not exists in login preflight
  packages/backend/server/src/modules/users/resolver.ts
Labels: app:server

#5583 fix(server): node imports order
  packages/backend/server/package.json
  packages/backend/server/src/app.module.ts
  packages/backend/server/src/app.ts
  packages/backend/server/src/data/app.ts
  packages/backend/server/src/data/index.ts
  packages/backend/server/src/fundamentals/config/index.ts
  packages/backend/server/src/index.ts
  packages/backend/server/tests/app.e2e.ts
  packages/backend/server/tests/mailer.spec.ts
  packages/backend/server/tests/sync.spec.ts
  packages/backend/server/tests/user.e2e.ts
  packages/backend/server/tests/utils/utils.ts
  packages/backend/server/tests/workspace-blobs.spec.ts
  packages/backend/server/tests/workspace-invite.e2e.ts
  packages/backend/server/tests/workspace.e2e.ts
  packages/frontend/graphql/src/schema.ts
Labels: app:server, test

#5586 fix: add field polyfill for old feature
  packages/backend/server/src/modules/features/types/early-access.ts
  packages/backend/server/src/modules/features/types/index.ts
Labels: app:server

#5582 fix: improve self-host convenience
  .github/deployment/self-host/compose.yaml
  packages/backend/server/.env.example
  packages/backend/server/scripts/self-host-predeploy.js
  packages/backend/server/src/app.controller.ts
  packages/backend/server/src/data/migrations/1605053000403-self-host-admin.ts
  packages/backend/server/src/data/migrations/1702620653283-old-user-feature.ts
  packages/backend/server/src/fundamentals/storage/index.ts
  packages/backend/server/src/prelude.ts
Labels: app:server

#5601 fix(server): standalone early access users detection
  packages/backend/server/src/modules/features/management.ts
  packages/backend/server/src/modules/payment/service.ts
Labels: app:server

#5590 style: import from './index' instead of '.'
  packages/common/workspace/src/list/information.ts
  packages/common/workspace/src/manager.ts
  packages/frontend/component/src/components/app-sidebar/add-page-button/index.stories.tsx
  packages/frontend/component/src/components/app-sidebar/category-divider/index.stories.tsx
  packages/frontend/component/src/components/app-sidebar/menu-item/index.stories.tsx
  packages/frontend/component/src/components/app-sidebar/quick-search-input/index.stories.tsx
  packages/frontend/component/src/components/app-sidebar/spolight/index.stories.tsx
  packages/frontend/component/src/ui/divider/divider.stories.tsx
  packages/frontend/component/src/ui/empty/empty.stories.tsx
  packages/frontend/component/src/ui/input/input.stories.tsx
  packages/frontend/component/src/ui/menu/menu-trigger.stories.tsx
  packages/frontend/component/src/ui/menu/menu.stories.tsx
  packages/frontend/component/src/ui/scrollbar/scrollbar.stories.tsx
  packages/frontend/component/src/ui/skeleton/skeleton.stories.tsx
  packages/frontend/component/src/ui/switch/switch.stories.tsx
  packages/frontend/component/src/ui/table/table.stories.tsx
  packages/frontend/component/src/ui/toast/toast.stories.tsx
  packages/frontend/component/src/ui/tooltip/tooltip.stories.tsx
  packages/frontend/core/src/components/cloud/share-header-right-item/authenticated-item.tsx
  packages/frontend/core/src/components/page-list/view/collection-operations.tsx
Labels: mod:workspace, mod:component, app:core

#5566 chore: update favicon
  packages/frontend/core/public/favicon-144.png
  packages/frontend/core/public/favicon-192.png
  packages/frontend/core/public/favicon-32.png
  packages/frontend/core/public/favicon-36.png
  packages/frontend/core/public/favicon-48.png
  packages/frontend/core/public/favicon-72.png
  packages/frontend/core/public/favicon-96.png
Labels: app:core

#5518 feat(core): get cloud workspace usage limit from user quota
  packages/frontend/component/src/components/setting-components/storage-progess.tsx
  packages/frontend/core/src/components/affine/setting-modal/account-setting/index.tsx
  packages/frontend/i18n/src/resources/en.json
Labels: mod:i18n, mod:component, app:core

#5576 fix(component): add back lottie color hack for dark mode
  packages/frontend/component/src/ui/lottie/collections-icon.css.ts
  packages/frontend/component/src/ui/lottie/collections-icon.tsx
  packages/frontend/component/src/ui/lottie/delete-icon.css.tsx
  packages/frontend/component/src/ui/lottie/delete-icon.tsx
  packages/frontend/component/src/ui/lottie/styles.css.ts
  packages/frontend/core/src/components/root-app-sidebar/index.tsx
Labels: mod:component, app:core

#5537 refactor(core): replace WorkspaceSubPath in env package with the one in core package
  packages/common/env/src/workspace.ts
  packages/frontend/core/src/commands/affine-navigation.tsx
  packages/frontend/core/src/components/affine/setting-modal/workspace-setting/new-workspace-setting-detail/delete-leave-workspace/index.tsx
  packages/frontend/core/src/components/affine/setting-modal/workspace-setting/new-workspace-setting-detail/enable-cloud.tsx
  packages/frontend/core/src/components/blocksuite/block-suite-page-list/utils.tsx
  packages/frontend/core/src/components/pure/cmdk/data.tsx
  packages/frontend/core/src/components/pure/trash-page-footer/index.tsx
  packages/frontend/core/src/components/pure/workspace-slider-bar/user-with-workspace-list/workspace-list/index.tsx
  packages/frontend/core/src/components/root-app-sidebar/index.tsx
  packages/frontend/core/src/components/top-tip.tsx
  packages/frontend/core/src/components/workspace-upgrade/upgrade.tsx
  packages/frontend/core/src/hooks/use-navigate-helper.ts
  packages/frontend/core/src/pages/index.tsx
  packages/frontend/core/src/pages/invite.tsx
  packages/frontend/core/src/pages/workspace/detail-page/detail-page.tsx
  packages/frontend/core/src/providers/modal-provider.tsx
Labels: mod:env, app:core

#5603 feat: add query quota of workspace
  packages/backend/server/src/modules/quota/index.ts
  packages/backend/server/src/modules/quota/storage.ts
  packages/backend/server/src/modules/quota/types.ts
  packages/backend/server/src/modules/workspaces/resolvers/blob.ts
  packages/backend/server/src/modules/workspaces/resolvers/workspace.ts
  packages/backend/server/src/schema.gql
  packages/frontend/graphql/src/graphql/index.ts
  packages/frontend/graphql/src/graphql/workspace-quota.gql
  packages/frontend/graphql/src/schema.ts
Labels: app:server

#5604 feat: new free plan
  packages/backend/server/src/data/migrations/1705395933447-new-free-plan.ts
  packages/backend/server/src/modules/auth/next-auth-options.ts
  packages/backend/server/src/modules/auth/service.ts
  packages/backend/server/src/modules/quota/index.ts
  packages/backend/server/src/modules/quota/quota.ts
  packages/backend/server/src/modules/quota/schema.ts
  packages/backend/server/tests/quota.spec.ts
  packages/backend/server/tests/workspace-blobs.spec.ts
Labels: app:server, test

#5468 refactor(component): move date-picker to ui, add story, support responsive
  packages/frontend/component/.storybook/preview.tsx
  packages/frontend/component/package.json
  packages/frontend/component/src/components/date-picker/date-picker.tsx
  packages/frontend/component/src/index.ts
  packages/frontend/component/src/theme/global.css
  packages/frontend/component/src/ui/date-picker/blocksuite-date-picker.stories.tsx
  packages/frontend/component/src/ui/date-picker/blocksuite-date-picker.tsx
  packages/frontend/component/src/ui/date-picker/date-picker.stories.tsx
  packages/frontend/component/src/ui/date-picker/date-picker.tsx
  packages/frontend/component/src/ui/date-picker/index.css.ts
  packages/frontend/component/src/ui/date-picker/index.ts
  packages/frontend/core/src/components/page-list/filter/literal-matcher.tsx
  tests/storybook/src/stories/datepicker.stories.tsx
  yarn.lock
Labels: mod:component, test, app:core

#5594 chore(server): remove octobase storage usage
  packages/backend/server/src/modules/storage/wrappers/blob.ts
Labels: app:server

#5555 chore(server): remove too verbose logs
  packages/backend/server/src/fundamentals/cache/interceptor.ts
Labels: app:server

#5577 feat(core): make password sigin default if user has one
  packages/frontend/component/src/components/auth-components/modal.tsx
  packages/frontend/core/src/components/affine/auth/after-sign-in-send-email.tsx
  packages/frontend/core/src/components/affine/auth/after-sign-up-send-email.tsx
  packages/frontend/core/src/components/affine/auth/send-email.tsx
  packages/frontend/core/src/components/affine/auth/sign-in-with-password.tsx
  packages/frontend/core/src/components/affine/auth/sign-in.tsx
  packages/frontend/core/src/components/affine/auth/style.css.ts
  packages/frontend/core/src/components/affine/auth/use-auth.ts
  packages/frontend/i18n/src/resources/en.json
  packages/frontend/i18n/src/resources/zh-Hans.json
  packages/frontend/i18n/src/resources/zh-Hant.json
  tests/kit/utils/cloud.ts
Labels: mod:i18n, mod:component, test, app:core

#5613 feat: use `SafeInt` replace `Float`
  packages/backend/server/package.json
  packages/backend/server/src/modules/users/types.ts
  packages/backend/server/src/modules/workspaces/resolvers/blob.ts
  packages/backend/server/src/modules/workspaces/types.ts
  packages/backend/server/src/schema.gql
  packages/backend/server/tests/utils/blobs.ts
  packages/frontend/graphql/codegen.yml
  packages/frontend/graphql/src/graphql/blob-check-size.gql
  packages/frontend/graphql/src/graphql/index.ts
  packages/frontend/graphql/src/schema.ts
  yarn.lock
Labels: app:server, test

#5477 feat(component): new week-date-picker component
  packages/frontend/component/src/ui/date-picker/index.ts
  packages/frontend/component/src/ui/date-picker/week-date-picker.css.tsx
  packages/frontend/component/src/ui/date-picker/week-date-picker.stories.tsx
  packages/frontend/component/src/ui/date-picker/week-date-picker.tsx
  packages/frontend/component/src/ui/resize-panel/resize-panel.tsx
  packages/frontend/component/src/ui/resize-panel/styles.css.ts
  packages/frontend/i18n/src/resources/en.json
Labels: mod:i18n, mod:component

#5619 chore(server): add port to host if it is 0.0.0.0
  packages/backend/server/src/fundamentals/config/default.ts
Labels: app:server

#5620 chore(server): remove useless log
  packages/backend/server/src/prelude.ts
Labels: app:server

#5517 feat(component): new inline-edit component
  packages/frontend/component/src/index.ts
  packages/frontend/component/src/ui/editable/index.ts
  packages/frontend/component/src/ui/editable/inline-edit.css.ts
  packages/frontend/component/src/ui/editable/inline-edit.stories.tsx
  packages/frontend/component/src/ui/editable/inline-edit.tsx
Labels: mod:component

#5509 fix(core): remove hash prefix from cdn path
  packages/frontend/core/.webpack/config.ts
  packages/frontend/core/.webpack/s3-plugin.ts
  packages/frontend/core/.webpack/webpack.config.ts
Labels: app:core

#5621 fix(workspace): check session before get workspaces
  packages/frontend/workspace-impl/src/cloud/list.ts
Labels: mod:workspace-impl

#5622 fix(server): should not listen on user defined host
  packages/backend/server/src/config/affine.ts
  packages/backend/server/src/index.ts
Labels: app:server

#5623 fix(server): selfhost issues
  .github/helm/affine/charts/graphql/templates/deployment.yaml
  packages/backend/server/src/app.module.ts
  packages/backend/server/src/fundamentals/config/def.ts
Labels: app:server

#5596 feat(core): add document title for shared page
  packages/frontend/core/src/hooks/use-global-state.ts
  packages/frontend/core/src/pages/share/share-detail-page.tsx
  packages/frontend/core/src/pages/workspace/detail-page/detail-page.tsx
Labels: app:core

#5549 feat(core): journal hooks and page header layout
  packages/frontend/core/src/components/affine/share-page-modal/index.tsx
  packages/frontend/core/src/components/affine/share-page-modal/share-menu/index.css.ts
  packages/frontend/core/src/components/affine/share-page-modal/share-menu/share-menu.tsx
  packages/frontend/core/src/components/blocksuite/block-suite-header-title/index.tsx
  packages/frontend/core/src/components/blocksuite/block-suite-header-title/styles.css.ts
  packages/frontend/core/src/components/blocksuite/block-suite-header/favorite/index.tsx
  packages/frontend/core/src/components/blocksuite/block-suite-header/journal/date-picker.tsx
  packages/frontend/core/src/components/blocksuite/block-suite-header/journal/today-button.tsx
  packages/frontend/core/src/components/blocksuite/block-suite-header/menu/index.tsx
  packages/frontend/core/src/components/blocksuite/block-suite-header/title/index.tsx
  packages/frontend/core/src/components/blocksuite/block-suite-header/title/style.css.ts
  packages/frontend/core/src/components/pure/header/style.css.tsx
  packages/frontend/core/src/hooks/use-journal.ts
  packages/frontend/core/src/pages/share/share-header.tsx
  packages/frontend/core/src/pages/workspace/detail-page/detail-page-header.css.ts
  packages/frontend/core/src/pages/workspace/detail-page/detail-page-header.tsx
Labels: app:core

#5338 feat(core): experimental features ui
  packages/common/env/src/global.ts
  packages/frontend/component/src/ui/switch/switch.tsx
  packages/frontend/core/.webpack/runtime-config.ts
  packages/frontend/core/src/components/affine/setting-modal/general-setting/index.tsx
  packages/frontend/core/src/components/affine/setting-modal/index.tsx
  packages/frontend/core/src/components/affine/setting-modal/setting-sidebar/index.tsx
  packages/frontend/core/src/components/affine/setting-modal/setting-sidebar/style.css.ts
  packages/frontend/core/src/components/affine/setting-modal/style.css.ts
  packages/frontend/core/src/components/affine/setting-modal/types.ts
  packages/frontend/core/src/components/affine/setting-modal/workspace-setting/experimental-features/arts.css.ts
  packages/frontend/core/src/components/affine/setting-modal/workspace-setting/experimental-features/arts.tsx
  packages/frontend/core/src/components/affine/setting-modal/workspace-setting/experimental-features/dark-art-svg.ts
  packages/frontend/core/src/components/affine/setting-modal/workspace-setting/experimental-features/index.css.ts
  packages/frontend/core/src/components/affine/setting-modal/workspace-setting/experimental-features/index.tsx
  packages/frontend/core/src/components/affine/setting-modal/workspace-setting/experimental-features/light-art-svg.ts
  packages/frontend/core/src/components/affine/setting-modal/workspace-setting/index.tsx
  packages/frontend/core/src/components/pure/workspace-slider-bar/user-with-workspace-list/workspace-list/index.tsx
  packages/frontend/core/src/hooks/use-workspace-features.ts
  packages/frontend/core/src/pages/workspace/detail-page/editor-sidebar/atoms.ts
  packages/frontend/core/src/pages/workspace/detail-page/editor-sidebar/extensions/extensions.tsx
  packages/frontend/graphql/src/graphql/index.ts
  packages/frontend/graphql/src/graphql/workspace-enabled-features.gql
  packages/frontend/graphql/src/schema.ts
  packages/frontend/i18n/src/resources/en.json
Labels: mod:i18n, mod:env, mod:component, app:core

#5624 feat: bump blocksuite
  packages/common/env/package.json
  packages/common/infra/package.json
  packages/common/y-indexeddb/package.json
  packages/common/y-provider/package.json
  packages/frontend/component/package.json
  packages/frontend/core/package.json
  packages/frontend/core/src/bootstrap/register-blocksuite-components.ts
  packages/frontend/core/src/pages/workspace/detail-page/editor-sidebar/extensions/outline.tsx
  packages/frontend/electron/package.json
  tests/affine-legacy/0.6.1-beta.1/package.json
  tests/affine-legacy/0.7.0-canary.18/package.json
  tests/affine-legacy/0.8.0-canary.7/package.json
  tests/affine-legacy/0.8.4/package.json
  tests/affine-migration/package.json
  tests/kit/utils/page-logic.ts
  tests/storybook/package.json
  yarn.lock
Labels: mod:infra, mod:env, mod:component, app:electron, package:y-indexeddb, test, app:core

#5557 feat(core): journal extension loader
  packages/frontend/core/src/pages/workspace/detail-page/detail-page-header.css.ts
  packages/frontend/core/src/pages/workspace/detail-page/detail-page-header.tsx
  packages/frontend/core/src/pages/workspace/detail-page/detail-page.tsx
  packages/frontend/core/src/pages/workspace/detail-page/editor-sidebar/atoms.ts
  packages/frontend/core/src/pages/workspace/detail-page/editor-sidebar/extensions/extensions.tsx
  packages/frontend/core/src/pages/workspace/detail-page/editor-sidebar/extensions/journal.tsx
  packages/frontend/core/src/pages/workspace/detail-page/editor-sidebar/types.ts
Labels: app:core

#5558 feat(core): journal sidebar dater-picker navigation
  packages/frontend/component/src/ui/date-picker/date-picker.tsx
  packages/frontend/component/src/ui/date-picker/index.css.ts
  packages/frontend/core/src/pages/workspace/detail-page/detail-page.tsx
  packages/frontend/core/src/pages/workspace/detail-page/editor-sidebar/editor-sidebar.tsx
  packages/frontend/core/src/pages/workspace/detail-page/editor-sidebar/extensions/journal.css.ts
  packages/frontend/core/src/pages/workspace/detail-page/editor-sidebar/extensions/journal.tsx
  packages/frontend/core/src/pages/workspace/detail-page/editor-sidebar/types.ts
  tests/affine-local/e2e/quick-search.spec.ts
Labels: mod:component, test, app:core

#5625 fix(core): reserve space for the editor scrollbar
  packages/frontend/core/src/components/page-detail-editor.css.ts
Labels: app:core

#5559 feat(core): add daily count for journal sidebar
  packages/frontend/core/src/pages/workspace/detail-page/editor-sidebar/extensions/journal.css.ts
  packages/frontend/core/src/pages/workspace/detail-page/editor-sidebar/extensions/journal.tsx
  packages/frontend/i18n/src/resources/en.json
Labels: mod:i18n, app:core

#5578 feat(core): add experimental flag for journal
  packages/common/env/src/global.ts
  packages/frontend/core/.webpack/runtime-config.ts
  packages/frontend/core/src/hooks/use-journal.ts
Labels: mod:env, app:core

#5579 feat(core): add journal entrance for app-sidebar
  packages/frontend/core/src/components/root-app-sidebar/index.tsx
  packages/frontend/core/src/components/root-app-sidebar/journal-button.tsx
  packages/frontend/i18n/src/resources/en.json
Labels: mod:i18n, app:core

#5614 feat(component): page reference renderer
  packages/frontend/core/src/components/blocksuite/block-suite-editor/blocksuite-editor-container.tsx
  packages/frontend/core/src/components/blocksuite/block-suite-editor/blocksuite-editor.tsx
  packages/frontend/core/src/components/blocksuite/block-suite-editor/lit-adaper.tsx
  packages/frontend/core/src/components/blocksuite/block-suite-editor/specs.ts
Labels: mod:infra, mod:env, mod:component, app:electron, package:y-indexeddb, test, app:core

#5637 docs: update readme
  README.md
Labels: docs

#5629 chore: upgrade perfsee sdk
  package.json
  packages/frontend/core/package.json
  yarn.lock
Labels: app:core

#5632 feat: upgrade electron and playwright
  package.json
  packages/frontend/electron-api/package.json
  packages/frontend/electron/package.json
  tests/affine-cloud/package.json
  tests/affine-desktop-cloud/package.json
  tests/affine-desktop/package.json
  tests/affine-legacy/0.6.1-beta.1/package.json
  tests/affine-legacy/0.7.0-canary.18/package.json
  tests/affine-legacy/0.8.0-canary.7/package.json
  tests/affine-legacy/0.8.4/package.json
  tests/affine-local/package.json
  tests/affine-migration/package.json
  tests/kit/package.json
  yarn.lock
Labels: app:electron, test, app:core

#5627 style: apply prefer-node-protocol lint rule
  .eslintrc.js
  packages/backend/server/src/fundamentals/graphql/index.ts
  packages/backend/server/src/fundamentals/storage/providers/fs.ts
  packages/common/infra/src/__tests__/migration.spec.ts
  packages/common/y-indexeddb/vite.config.ts
  packages/common/y-provider/vite.config.ts
  packages/frontend/electron/scripts/dev.ts
  packages/frontend/electron/scripts/make-squirrel.ts
  packages/frontend/electron/src/main/config-storage/persist.ts
  packages/frontend/electron/src/main/main-window.ts
  packages/frontend/electron/src/main/onboarding.ts
  packages/frontend/electron/src/main/protocol.ts
  packages/frontend/electron/src/main/ui/google-auth.ts
  packages/frontend/electron/test/main/mocks/updater.ts
  packages/frontend/i18n/build.mjs
  packages/frontend/i18n/dev.mjs
  packages/frontend/templates/build.mjs
  tests/affine-cloud/e2e/collaboration.spec.ts
  tests/affine-local/e2e/image-preview.spec.ts
Labels: mod:infra, docs, mod:i18n, app:electron, package:y-indexeddb, app:server, test

#5514 refactor(component): adapt the questionnaire component to the desktop client
  packages/frontend/component/src/components/auth-components/onboarding-page.css.ts
  packages/frontend/component/src/components/auth-components/onboarding-page.tsx
  packages/frontend/core/src/pages/auth.tsx
Labels: mod:component, app:core

#5631 feat: skip update quota if same as latest activated quota
  packages/backend/server/src/modules/quota/service.ts
Labels: app:server

#5561 feat(core): page info adapter for journal
  packages/frontend/core/src/components/affine/page-history-modal/data.ts
  packages/frontend/core/src/components/affine/page-history-modal/history-modal.tsx
  packages/frontend/core/src/components/blocksuite/block-suite-header/journal/date-picker.tsx
  packages/frontend/core/src/components/root-app-sidebar/journal-button.tsx
  packages/frontend/core/src/hooks/use-affine-adapter.ts
  packages/frontend/core/src/hooks/use-get-page-info.ts
  packages/frontend/core/src/hooks/use-journal.ts
  packages/frontend/core/src/modules/workspace/index.ts
  packages/frontend/core/src/modules/workspace/properties/adapter.ts
  packages/frontend/core/src/modules/workspace/properties/atom.ts
  packages/frontend/core/src/modules/workspace/properties/index.ts
  packages/frontend/core/src/modules/workspace/properties/schema.ts
  packages/frontend/core/src/pages/workspace/detail-page/detail-page-header.tsx
  packages/frontend/core/src/pages/workspace/detail-page/editor-sidebar/extensions/extensions.tsx
  packages/frontend/core/src/pages/workspace/detail-page/editor-sidebar/extensions/journal.tsx
  packages/frontend/core/src/pages/workspace/index.tsx
  packages/frontend/core/src/utils/index.ts
  packages/frontend/core/src/utils/intl-formatter.ts
Labels: mod:workspace, app:core

#5606 feat(component): react wrapper for blocksuite editor
  packages/frontend/component/src/components/block-suite-editor/index.css.ts
  packages/frontend/component/src/components/block-suite-editor/index.tsx
  packages/frontend/component/src/components/block-suite-editor/specs.ts
  packages/frontend/component/src/components/page-detail-skeleton/index.css.ts
  packages/frontend/component/src/components/page-detail-skeleton/index.tsx
  packages/frontend/component/src/index.ts
  packages/frontend/component/src/lit-react/create-component.ts
  packages/frontend/component/src/lit-react/index.ts
  packages/frontend/component/src/lit-react/readme.md
  packages/frontend/component/src/theme/global.css
  packages/frontend/core/src/components/affine/affine-error-boundary/error-fallbacks/no-page-root-fallback.tsx
  packages/frontend/core/src/components/affine/page-history-modal/history-modal.tsx
  packages/frontend/core/src/components/blocksuite/block-suite-editor/blocksuite-editor-container.tsx
  packages/frontend/core/src/components/blocksuite/block-suite-editor/blocksuite-editor.tsx
  packages/frontend/core/src/components/blocksuite/block-suite-editor/index.tsx
  packages/frontend/core/src/components/blocksuite/block-suite-editor/lit-adaper.tsx
  packages/frontend/core/src/components/blocksuite/block-suite-editor/specs.ts
  packages/frontend/core/src/components/blocksuite/block-suite-editor/styles.css.ts
  packages/frontend/core/src/components/page-detail-editor.tsx
  packages/frontend/core/src/components/pure/cmdk/main.tsx
  tests/affine-local/e2e/quick-search.spec.ts
  tests/storybook/src/stories/blocksuite-editor.stories.tsx
  tests/storybook/src/stories/image-preview-modal.stories.tsx
Labels: mod:component, test, app:core

#5638 feat(core): adopt editor features for journal
  packages/frontend/core/src/components/blocksuite/block-suite-editor/blocksuite-editor.tsx
  packages/frontend/core/src/components/blocksuite/block-suite-editor/journal-doc-title.tsx
  packages/frontend/core/src/components/blocksuite/block-suite-editor/lit-adaper.tsx
  packages/frontend/core/src/components/blocksuite/block-suite-editor/styles.css.ts
  packages/frontend/core/src/components/blocksuite/block-suite-header/journal/date-picker.tsx
  packages/frontend/core/src/components/blocksuite/block-suite-header/journal/today-button.tsx
  packages/frontend/core/src/components/page-list/page-group.tsx
  packages/frontend/core/src/components/root-app-sidebar/journal-button.tsx
  packages/frontend/core/src/hooks/__tests__/use-block-suite-workspace-page-title.spec.ts
  packages/frontend/core/src/hooks/__tests__/use-block-suite-workspace-page-title.spec.tsx
  packages/frontend/core/src/hooks/use-affine-adapter.ts
  packages/frontend/core/src/hooks/use-block-suite-workspace-page-title.ts
  packages/frontend/core/src/hooks/use-journal.ts
  packages/frontend/core/src/pages/workspace/detail-page/detail-page.tsx
  packages/frontend/core/src/pages/workspace/detail-page/editor-sidebar/extensions/journal.tsx
  packages/frontend/i18n/src/resources/en.json
  test.txt
  vitest.config.ts
Labels: mod:i18n, test, app:core

#5642 feat: bump blocksuite
  packages/common/env/package.json
  packages/common/infra/package.json
  packages/common/y-indexeddb/package.json
  packages/common/y-provider/package.json
  packages/frontend/component/package.json
  packages/frontend/core/package.json
  packages/frontend/electron/package.json
  tests/affine-legacy/0.6.1-beta.1/package.json
  tests/affine-legacy/0.7.0-canary.18/package.json
  tests/affine-legacy/0.8.0-canary.7/package.json
  tests/affine-legacy/0.8.4/package.json
  tests/affine-migration/package.json
  tests/storybook/package.json
  yarn.lock
Labels: mod:infra, mod:env, mod:component, app:electron, package:y-indexeddb, test, app:core

#5636 fix(component): adjust the style of Switch to match the design
  packages/frontend/component/src/ui/switch/index.css.ts
Labels: mod:component

#5655 ci(component): deploy ui storybook
  .github/workflows/publish-ui-storybook.yml
  packages/frontend/component/.storybook/main.ts
  packages/frontend/component/package.json
Labels: mod:component

#5661 fix(core): properties adapter reactivitiy issue
  packages/frontend/core/src/components/affine/page-history-modal/data.ts
  packages/frontend/core/src/components/affine/page-history-modal/history-modal.tsx
  packages/frontend/core/src/hooks/__tests__/use-block-suite-workspace-page-title.spec.tsx
  packages/frontend/core/src/hooks/use-affine-adapter.ts
  packages/frontend/core/src/modules/workspace/properties/atom.ts
  packages/frontend/core/src/pages/share/share-detail-page.tsx
Labels: test, app:core

#5667 chore(core): bump @toeverything/theme, add cssVar use case
  packages/frontend/component/package.json
  packages/frontend/component/src/ui/date-picker/week-date-picker.css.tsx
  packages/frontend/core/package.json
  yarn.lock
Labels: mod:component, app:core

#5666 fix(core): correct typo in onboarding 'get start'
  packages/frontend/core/src/components/affine/onboarding/steps/edgeless-switch.tsx
Labels: app:core

#5674 fix(server): del staled update count cache if unmatch
  packages/backend/server/src/core/doc/manager.ts
  packages/backend/server/src/fundamentals/cache/def.ts
Labels: app:server

#5584 feat: use custom image/preview link
  packages/common/env/src/global.ts
  packages/frontend/core/.webpack/runtime-config.ts
  packages/frontend/core/src/pages/workspace/detail-page/detail-page.tsx
Labels: mod:env, app:core

#5680 chore: bump @toeverything/theme
  packages/frontend/component/package.json
  packages/frontend/core/package.json
  yarn.lock
Labels: mod:component, app:core

#5679 fix(core): should set lang when locale changes
  packages/frontend/core/src/components/affine/language-menu/index.tsx
  packages/frontend/core/src/hooks/affine/use-language-helper.ts
Labels: app:core

#5669 fix: create page button offset issue on non-windows desktop app
  packages/frontend/core/src/pages/workspace/all-page/all-page.tsx
Labels: test, app:core

#5672 fix(playground): storybook story load issue
  tests/storybook/src/stories/blocksuite-editor.stories.tsx
Labels: test

#5677 fix(core): workspace feature should be workspace specific
  packages/frontend/core/src/components/affine/setting-modal/setting-sidebar/index.tsx
  packages/frontend/core/src/components/affine/setting-modal/workspace-setting/experimental-features/index.tsx
  packages/frontend/core/src/components/affine/setting-modal/workspace-setting/index.tsx
  packages/frontend/core/src/hooks/use-workspace-features.ts
  packages/frontend/core/src/pages/workspace/detail-page/detail-page-header.tsx
  packages/frontend/core/src/pages/workspace/detail-page/detail-page.tsx
  packages/frontend/core/src/pages/workspace/detail-page/editor-sidebar/extensions/extensions.tsx
Labels: app:core

#5683 fix(server): disable payment module requirements temporarily
  packages/backend/server/src/config/affine.ts
  packages/backend/server/src/plugins/payment/index.ts
Labels: app:server

#5673 feat: bump blocksuite
  packages/common/env/package.json
  packages/common/infra/package.json
  packages/common/infra/src/blocksuite/initialization/index.ts
  packages/common/y-indexeddb/package.json
  packages/common/y-provider/package.json
  packages/frontend/component/package.json
  packages/frontend/core/package.json
  packages/frontend/core/src/components/cloud/share-header-right-item/present.tsx
  packages/frontend/electron/package.json
  tests/affine-legacy/0.6.1-beta.1/package.json
  tests/affine-legacy/0.7.0-canary.18/package.json
  tests/affine-legacy/0.8.0-canary.7/package.json
  tests/affine-legacy/0.8.4/package.json
  tests/affine-migration/package.json
  tests/storybook/package.json
  yarn.lock
Labels: mod:infra, mod:env, mod:component, app:electron, package:y-indexeddb, test, app:core

#5535 feat(workspace): add blob and storage limit
  packages/backend/server/src/core/quota/storage.ts
  packages/backend/server/src/core/quota/types.ts
  packages/backend/server/src/schema.gql
  packages/common/workspace/src/engine/blob.ts
  packages/common/workspace/src/engine/error.ts
  packages/common/workspace/src/engine/index.ts
  packages/frontend/component/src/components/notification-center/index.jotai.ts
  packages/frontend/component/src/components/notification-center/index.tsx
  packages/frontend/core/src/atoms/index.ts
  packages/frontend/core/src/components/affine/page-history-modal/history-modal.tsx
  packages/frontend/core/src/components/affine/quota-reached-modal/cloud-quota-modal.tsx
  packages/frontend/core/src/components/affine/quota-reached-modal/index.tsx
  packages/frontend/core/src/components/affine/quota-reached-modal/local-quota-modal.tsx
  packages/frontend/core/src/components/affine/setting-modal/general-setting/plans/plan-card.tsx
  packages/frontend/core/src/components/blocksuite/block-suite-editor/specs.ts
  packages/frontend/core/src/components/pure/workspace-slider-bar/workspace-card/index.tsx
  packages/frontend/core/src/hooks/use-workspace-quota.ts
  packages/frontend/core/src/providers/modal-provider.tsx
  packages/frontend/graphql/src/graphql/index.ts
  packages/frontend/graphql/src/graphql/workspace-quota.gql
  packages/frontend/graphql/src/index.ts
  packages/frontend/graphql/src/schema.ts
  packages/frontend/i18n/src/resources/en.json
  packages/frontend/workspace-impl/src/cloud/blob.ts
  tests/storybook/src/stories/notification-center.stories.tsx
Labels: mod:workspace, mod:i18n, mod:component, mod:store, app:server, test, app:core, mod:workspace-impl

#5682 fix(server): add metrics missing attributes
  packages/backend/server/package.json
  packages/backend/server/src/fundamentals/metrics/opentelemetry.ts
  yarn.lock
Labels: app:server

#5688 fix(core): change journal header week-date-picker's max-width
  packages/frontend/core/src/components/blocksuite/block-suite-header/journal/date-picker.tsx
Labels: app:core

#5695 chore: update base version to 0.12.0
  .github/helm/affine/Chart.yaml
  .github/helm/affine/charts/graphql/Chart.yaml
  .github/helm/affine/charts/sync/Chart.yaml
  docs/reference/package.json
  package.json
  packages/backend/server/package.json
  packages/backend/storage/package.json
  packages/common/debug/package.json
  packages/common/env/package.json
  packages/common/infra/package.json
  packages/common/workspace/package.json
  packages/common/y-indexeddb/package.json
  packages/common/y-provider/package.json
  packages/frontend/component/package.json
  packages/frontend/core/package.json
  packages/frontend/electron-api/package.json
  packages/frontend/electron/package.json
  packages/frontend/graphql/package.json
  packages/frontend/i18n/package.json
  packages/frontend/native/package.json
  packages/frontend/templates/package.json
  packages/frontend/workspace-impl/package.json
  tests/affine-cloud/package.json
  tests/affine-desktop-cloud/package.json
  tests/affine-desktop/package.json
  tests/affine-legacy/0.6.1-beta.1/package.json
  tests/affine-legacy/0.7.0-canary.18/package.json
  tests/affine-legacy/0.8.0-canary.7/package.json
  tests/affine-legacy/0.8.4/package.json
  tests/affine-local/package.json
  tests/affine-migration/package.json
  tests/fixtures/package.json
  tests/kit/package.json
  tests/storybook/package.json
  tools/@types/env/package.json
  tools/cli/package.json
  tools/commitlint/package.json
  tools/workers/package.json
Labels: mod:infra, docs, mod:workspace, mod:i18n, mod:env, mod:component, app:electron, mod:dev, package:y-indexeddb, app:server, test, mod:storage, mod:native, app:core, mod:workspace-impl

#5698 chore(core): remove journal experimental flag
  packages/common/env/src/global.ts
  packages/frontend/core/.webpack/runtime-config.ts
  packages/frontend/core/src/components/root-app-sidebar/index.tsx
  packages/frontend/core/src/hooks/use-journal.ts
Labels: mod:env, app:core

#5706 fix: consume blob stream correctly
  packages/backend/server/package.json
  packages/backend/server/src/fundamentals/storage/providers/r2.ts
  packages/backend/server/src/fundamentals/storage/providers/s3.ts
  packages/frontend/core/package.json
  yarn.lock
Labels: app:server, app:core

#5717 chore: remove unused blocksuite deps in e2e
  tests/affine-legacy/0.6.1-beta.1/package.json
  tests/affine-legacy/0.7.0-canary.18/package.json
  tests/affine-legacy/0.8.0-canary.7/package.json
  tests/affine-legacy/0.8.4/package.json
  tests/affine-migration/package.json
  tests/storybook/package.json
  yarn.lock
Labels: test

#5707 fix(core): bidi links rendering issue
  packages/frontend/core/src/components/blocksuite/block-suite-editor/lit-adaper.tsx
Labels: app:core

#5684 feat(component): optimize week-date-picker keyboard navigation
  packages/frontend/component/src/ui/date-picker/week-date-picker.tsx
Labels: mod:component

#5713 fix: add padding between editor and link panel
  packages/frontend/core/src/components/blocksuite/block-suite-editor/styles.css.ts
Labels: app:core

#5703 fix(core): journal title's day tag may be invalid
  packages/frontend/core/src/components/blocksuite/block-suite-editor/journal-doc-title.tsx
Labels: app:core

#5720 feat: bump blocksuite
  packages/common/env/package.json
  packages/common/infra/package.json
  packages/common/y-indexeddb/package.json
  packages/common/y-provider/package.json
  packages/frontend/component/package.json
  packages/frontend/core/package.json
  packages/frontend/core/src/components/cloud/share-header-right-item/present.tsx
  packages/frontend/electron/package.json
  tests/storybook/package.json
  yarn.lock
Labels: mod:infra, mod:env, mod:component, app:electron, package:y-indexeddb, test, app:core

#5725 fix: path issue on Windows
  packages/frontend/templates/build.mjs
  packages/frontend/templates/templates.gen.ts
Labels: docs

#5735 feat: bump blocksuite
  packages/common/env/package.json
  packages/common/infra/package.json
  packages/common/y-indexeddb/package.json
  packages/common/y-provider/package.json
  packages/frontend/component/package.json
  packages/frontend/core/package.json
  packages/frontend/electron/package.json
  scripts/bump-blocksuite.sh
  tests/storybook/package.json
  yarn.lock
Labels: mod:infra, mod:env, mod:component, app:electron, mod:dev, package:y-indexeddb, test, app:core

#5736 chore: revert "chore: bump up @reforged/maker-appimage version to v4"
  packages/frontend/electron/package.json
  yarn.lock
Labels: app:electron

#5562 feat(infra): livedata
  packages/common/infra/package.json
  packages/common/infra/src/livedata/__tests__/livedata.spec.ts
  packages/common/infra/src/livedata/__tests__/react.spec.tsx
  packages/common/infra/src/livedata/index.ts
  packages/common/infra/src/livedata/react.ts
  yarn.lock
Labels: mod:infra, test

#5497 feat(infra): di container
  packages/common/infra/package.json
  packages/common/infra/src/di/__tests__/di.spec.ts
  packages/common/infra/src/di/core/collection.ts
  packages/common/infra/src/di/core/consts.ts
  packages/common/infra/src/di/core/error.ts
  packages/common/infra/src/di/core/identifier.ts
  packages/common/infra/src/di/core/index.ts
  packages/common/infra/src/di/core/provider.ts
  packages/common/infra/src/di/core/scope.ts
  packages/common/infra/src/di/core/types.ts
  packages/common/infra/src/di/index.ts
  packages/common/infra/src/di/react/index.ts
  packages/common/infra/src/utils/stable-hash.ts
Labels: mod:infra, docs, mod:workspace, mod:component, app:electron, mod:store, test, app:core, mod:workspace-impl

#5563 feat(infra): standard storage service
  packages/common/infra/package.json
  packages/common/infra/src/index.ts
  packages/common/infra/src/storage/__tests__/memento.spec.ts
  packages/common/infra/src/storage/index.ts
  packages/common/infra/src/storage/memento.ts
Labels: mod:infra, test

#5564 feat(infra): standard lifecycle service
  packages/common/infra/package.json
  packages/common/infra/src/index.ts
  packages/common/infra/src/lifecycle/__test__/lifecycle.spec.ts
  packages/common/infra/src/lifecycle/index.ts
Labels: mod:infra, test

#5693 chore: fix vitest error on tinykeys
  .yarn/patches/tinykeys-npm-2.1.0-819feeaed0.patch
  packages/common/infra/package.json
  yarn.lock
Labels: mod:infra

#5617 feat(infra): new workspace infra
  packages/common/infra/package.json
  packages/common/infra/src/index.ts
  packages/common/infra/src/utils/__tests__/async-queue.spec.ts
  packages/common/infra/src/utils/__tests__/throw-if-aborted.spec.ts
  packages/common/infra/src/utils/async-queue.ts
  packages/common/infra/src/utils/index.ts
  packages/common/infra/src/utils/merge-updates.ts
  packages/common/infra/src/utils/object-pool.ts
  packages/common/infra/src/utils/throw-if-aborted.ts
  packages/common/infra/src/workspace/__tests__/workspace.spec.ts
  packages/common/infra/src/workspace/context.ts
  packages/common/infra/src/workspace/engine/awareness.ts
  packages/common/infra/src/workspace/engine/blob.ts
  packages/common/infra/src/workspace/engine/error.ts
  packages/common/infra/src/workspace/engine/index.ts
  packages/common/infra/src/workspace/engine/sync/__tests__/engine.spec.ts
  packages/common/infra/src/workspace/engine/sync/__tests__/peer.spec.ts
  packages/common/infra/src/workspace/engine/sync/__tests__/test-storage.ts
  packages/common/infra/src/workspace/engine/sync/consts.ts
  packages/common/infra/src/workspace/engine/sync/engine.ts
  packages/common/infra/src/workspace/engine/sync/index.ts
  packages/common/infra/src/workspace/engine/sync/peer.ts
  packages/common/infra/src/workspace/engine/sync/storage.ts
  packages/common/infra/src/workspace/factory.ts
  packages/common/infra/src/workspace/global-schema.ts
  packages/common/infra/src/workspace/index.ts
  packages/common/infra/src/workspace/list/cache.ts
  packages/common/infra/src/workspace/list/index.ts
  packages/common/infra/src/workspace/list/information.ts
  packages/common/infra/src/workspace/manager.ts
  packages/common/infra/src/workspace/metadata.ts
  packages/common/infra/src/workspace/service-scope.ts
  packages/common/infra/src/workspace/testing.ts
  packages/common/infra/src/workspace/upgrade.ts
  packages/common/infra/src/workspace/workspace.ts
  packages/frontend/electron/package.json
  yarn.lock
Labels: mod:infra, app:electron, test

#5618 feat(infra): page infra
  packages/common/infra/src/index.ts
  packages/common/infra/src/page/__tests__/page.spec.ts
  packages/common/infra/src/page/context.ts
  packages/common/infra/src/page/index.ts
  packages/common/infra/src/page/list.ts
  packages/common/infra/src/page/manager.ts
  packages/common/infra/src/page/page.ts
  packages/common/infra/src/page/service-scope.ts
Labels: mod:infra, test

#5744 feat(core): ignore empty journals for page lists
  packages/frontend/core/src/hooks/__tests__/use-block-suite-workspace-helper.spec.ts
  packages/frontend/core/src/hooks/use-block-suite-page-meta.ts
  packages/frontend/core/src/pages/workspace/detail-page/editor-sidebar/extensions/journal.tsx
Labels: test, app:core

#5692 feat(core): append to today's joruanl via CMDK
  packages/frontend/core/src/components/pure/cmdk/data.tsx
  packages/frontend/core/src/components/pure/cmdk/not-found.tsx
  packages/frontend/core/src/hooks/use-journal.ts
  packages/frontend/i18n/src/resources/en.json
Labels: mod:i18n, app:core

#5701 fix(core): set createDate to journal's date when journal created
  packages/frontend/core/src/hooks/use-journal.ts
Labels: app:core

#5746 refactor(server): throw Unauthorized instead if user is not signed in
  packages/backend/server/src/core/auth/guard.ts
Labels: app:server

#5741 refactor(server): server errors
  packages/backend/server/src/app.ts
  packages/backend/server/src/core/users/resolver.ts
  packages/backend/server/src/core/workspaces/permission.ts
  packages/backend/server/src/core/workspaces/resolvers/blob.ts
  packages/backend/server/src/core/workspaces/resolvers/page.ts
  packages/backend/server/src/core/workspaces/resolvers/workspace.ts
  packages/backend/server/src/fundamentals/error/index.ts
  packages/backend/server/src/fundamentals/error/payment-required.ts
  packages/backend/server/src/fundamentals/graphql/index.ts
  packages/backend/server/src/fundamentals/graphql/logger-plugin.ts
  packages/backend/server/src/fundamentals/index.ts
  packages/backend/server/src/fundamentals/nestjs/exception.ts
  packages/backend/server/src/fundamentals/nestjs/index.ts
  packages/backend/server/src/middleware/exception-logger.ts
  packages/backend/server/src/middleware/timing.ts
  packages/backend/server/src/plugins/payment/resolver.ts
  packages/backend/server/src/plugins/redis/ws-adapter.ts
  packages/backend/server/tests/graphql.spec.ts
  packages/frontend/core/src/components/affine/auth/sign-in.tsx
  packages/frontend/graphql/src/error.ts
  packages/frontend/graphql/src/index.ts
  packages/frontend/workspace-impl/src/cloud/blob.ts
Labels: app:server, test, app:core, mod:workspace-impl

#5755 fix(server): doc upsert race condition
  packages/backend/server/src/modules/doc/manager.ts
Labels: app:server

#5749 feat(server): allow pass coupon to checkout session
  packages/backend/server/src/plugins/payment/resolver.ts
  packages/backend/server/src/plugins/payment/service.ts
  packages/backend/server/src/schema.gql
Labels: app:server
