Repository toeverything/AFFiNE, pull requests merged in 2024-12, with the labels that each got.

#8968 feat(mobile): move journal date picker into page header
  packages/frontend/core/src/mobile/components/page-header/index.tsx
  packages/frontend/core/src/mobile/pages/workspace/detail/mobile-detail-page.css.ts
  packages/frontend/core/src/mobile/pages/workspace/detail/mobile-detail-page.tsx
Labels: app:core

#8969 chore(mobile): update explorer add item icon
  packages/frontend/component/package.json
  packages/frontend/core/src/mobile/components/explorer/sections/collections/index.tsx
  packages/frontend/core/src/mobile/components/explorer/sections/organize/index.tsx
  packages/frontend/core/src/mobile/components/explorer/sections/tags/index.tsx
  yarn.lock
Labels: mod:component, app:core

#8967 fix(mobile): prevent text selection on webkit
  packages/frontend/core/src/mobile/styles/mobile.css.ts
Labels: app:core

#8934 feat(mobile): replace search with create in app tab
  packages/frontend/core/src/mobile/components/app-tabs/create.tsx
  packages/frontend/core/src/mobile/components/app-tabs/index.tsx
  packages/frontend/core/src/mobile/components/index.ts
  packages/frontend/core/src/mobile/components/navigation-back/index.tsx
  packages/frontend/core/src/mobile/components/page-header/index.tsx
  packages/frontend/core/src/mobile/pages/workspace/detail/mobile-detail-page.tsx
  packages/frontend/core/src/mobile/pages/workspace/search.tsx
  packages/frontend/core/src/mobile/views/search/style.css.ts
  packages/frontend/core/src/modules/editor/entities/editor.ts
  tests/affine-mobile/e2e/home.spec.ts
Labels: test, app:core

#8944 fix(mobile): adjust body padding-bottom for app tab
  packages/frontend/core/src/mobile/styles/mobile.css.ts
Labels: app:core

#8953 feat(mobile): swipe to open menu for explorer
  packages/frontend/apps/ios/App/Podfile
  packages/frontend/apps/ios/App/Podfile.lock
  packages/frontend/apps/ios/package.json
  packages/frontend/apps/ios/src/app.tsx
  packages/frontend/apps/mobile/src/app.tsx
  packages/frontend/component/package.json
  packages/frontend/core/package.json
  packages/frontend/core/src/mobile/components/explorer/nodes/doc/operations.tsx
  packages/frontend/core/src/mobile/components/explorer/tree/node.tsx
  packages/frontend/core/src/mobile/components/index.ts
  packages/frontend/core/src/mobile/components/swipe-menu/index.tsx
  packages/frontend/core/src/mobile/components/swipe-menu/styles.css.ts
  packages/frontend/core/src/mobile/modules/haptics/index.ts
  packages/frontend/core/src/mobile/modules/haptics/providers/haptic.ts
  packages/frontend/core/src/mobile/modules/haptics/services/haptics.ts
  packages/frontend/core/src/mobile/modules/index.ts
  packages/frontend/core/src/mobile/pages/workspace/detail/journal-date-picker/month.tsx
  packages/frontend/core/src/mobile/pages/workspace/detail/journal-date-picker/viewport.tsx
  packages/frontend/core/src/mobile/pages/workspace/detail/journal-date-picker/week.tsx
  packages/frontend/core/src/mobile/utils/index.ts
  packages/frontend/core/src/mobile/utils/swipe-helper.ts
  packages/frontend/i18n/src/i18n-completenesses.json
  yarn.lock
Labels: mod:i18n, mod:component, app:core

#8883 feat(core): add markdown preview for backlinks
  .yarn/patches/decode-named-character-reference-npm-1.0.2-db17a755fd.patch
  package.json
  packages/common/infra/src/sync/indexer/document.ts
  packages/frontend/component/src/ui/property/property.tsx
  packages/frontend/core/src/components/blocksuite/block-suite-editor/bi-directional-link-panel.tsx
  packages/frontend/core/src/modules/doc-info/views/database-properties/doc-database-backlink-info.tsx
  packages/frontend/core/src/modules/doc-link/entities/doc-backlinks.ts
  packages/frontend/core/src/modules/docs-search/entities/docs-indexer.ts
  packages/frontend/core/src/modules/docs-search/schema.ts
  packages/frontend/core/src/modules/docs-search/services/docs-search.ts
  packages/frontend/core/src/modules/docs-search/worker/in-worker.ts
  yarn.lock
Labels: mod:infra, mod:i18n, mod:component, app:core

#8978 fix(infra): fix fractional indexing edge cases
  packages/common/infra/src/utils/__tests__/fractional-indexing.spec.ts
  packages/common/infra/src/utils/fractional-indexing.ts
Labels: mod:infra, test

#8976 feat(mobile): show doc title on title bar when scroll down
  packages/frontend/core/src/mobile/components/page-header/index.tsx
  packages/frontend/core/src/mobile/components/page-header/styles.css.ts
  packages/frontend/core/src/mobile/pages/workspace/detail/mobile-detail-page.css.ts
  packages/frontend/core/src/mobile/pages/workspace/detail/mobile-detail-page.tsx
Labels: app:core

#8923 feat(mobile): a basic swipeable dialog for setting
  packages/frontend/core/src/mobile/components/app-tabs/index.tsx
  packages/frontend/core/src/mobile/dialogs/setting/experimental/index.tsx
  packages/frontend/core/src/mobile/dialogs/setting/experimental/styles.css.ts
  packages/frontend/core/src/mobile/dialogs/setting/index.tsx
  packages/frontend/core/src/mobile/dialogs/setting/style.css.ts
  packages/frontend/core/src/mobile/dialogs/setting/swipe-dialog.css.ts
  packages/frontend/core/src/mobile/dialogs/setting/swipe-dialog.tsx
Labels: app:core

#8981 fix(mobile): swipe right maybe open menu
  packages/frontend/core/src/mobile/components/swipe-menu/index.tsx
Labels: app:core

#8982 fix(mobile): property input field keyboard mode
  packages/frontend/core/src/components/doc-properties/types/number.tsx
  packages/frontend/core/src/mobile/components/search-input/index.tsx
Labels: app:core

#8985 fix(mobile): workaround for tag modal blink
  packages/frontend/component/src/ui/modal/styles.css.ts
Labels: mod:component, app:core

#8977 feat(server): improve logs
  packages/backend/server/src/core/auth/controller.ts
  packages/backend/server/src/core/utils/validators.ts
  packages/backend/server/src/fundamentals/error/def.ts
  packages/backend/server/src/fundamentals/error/errors.gen.ts
  packages/backend/server/src/fundamentals/graphql/logger-plugin.ts
  packages/backend/server/src/fundamentals/nestjs/exception.ts
  packages/backend/server/src/schema.gql
  packages/backend/server/tests/auth/controller.spec.ts
Labels: app:server, test

#8992 fix(mobile): avoid explorer node overlapping header when scrolling
  packages/frontend/core/src/mobile/views/home-header/styles.css.ts
Labels: app:core

#8995 fix(core): open-in-app page crash
  packages/frontend/core/src/desktop/pages/open-app/index.tsx
  packages/frontend/core/src/modules/open-in-app/views/open-in-app-guard.tsx
  packages/frontend/core/src/modules/open-in-app/views/open-in-app-page.tsx
Labels: app:core

#9011 fix(ios): fix login
  packages/frontend/apps/ios/src/app.tsx
Labels: app:server

#9012 fix(core): lit portal rerender
  packages/frontend/component/src/lit-react/lit-portal/lite-portal.tsx
Labels: mod:component

#9006 feat(core): support creating cloud workspaces to different servers
  packages/common/infra/src/modules/workspace/services/transform.ts
  packages/frontend/core/src/commands/affine-creation.tsx
  packages/frontend/core/src/components/hooks/affine/use-enable-cloud.tsx
  packages/frontend/core/src/components/server-selector/index.tsx
  packages/frontend/core/src/components/server-selector/style.css.ts
  packages/frontend/core/src/components/sign-in/index.tsx
  packages/frontend/core/src/components/workspace-selector/enable-cloud/enable-cloud.css.ts
  packages/frontend/core/src/components/workspace-selector/enable-cloud/enable-cloud.tsx
  packages/frontend/core/src/components/workspace-selector/enable-cloud/index.ts
  packages/frontend/core/src/components/workspace-selector/user-with-workspace-list/add-server/index.css.ts
  packages/frontend/core/src/components/workspace-selector/user-with-workspace-list/add-server/index.tsx
  packages/frontend/core/src/components/workspace-selector/user-with-workspace-list/index.tsx
  packages/frontend/core/src/components/workspace-selector/user-with-workspace-list/workspace-list/index.css.ts
  packages/frontend/core/src/components/workspace-selector/user-with-workspace-list/workspace-list/index.tsx
  packages/frontend/core/src/desktop/dialogs/create-workspace/index.tsx
  packages/frontend/core/src/desktop/dialogs/enable-cloud/dialog.css.ts
  packages/frontend/core/src/desktop/dialogs/enable-cloud/index.tsx
  packages/frontend/core/src/desktop/dialogs/index.tsx
  packages/frontend/core/src/desktop/dialogs/sign-in/index.tsx
  packages/frontend/core/src/modules/dialogs/constant.ts
  packages/frontend/i18n/src/i18n-completenesses.json
  packages/frontend/i18n/src/resources/en.json
  tests/affine-cloud/e2e/login.spec.ts
  tests/kit/utils/cloud.ts
Labels: mod:infra, mod:i18n, test, app:core

#8997 fix(core): date-picker styles
  packages/frontend/component/src/ui/date-picker/calendar/calendar.css.ts
  packages/frontend/component/src/ui/date-picker/calendar/calendar.tsx
  packages/frontend/component/src/ui/date-picker/calendar/items.tsx
  packages/frontend/component/src/ui/date-picker/calendar/types.tsx
  packages/frontend/core/src/components/doc-properties/types/journal.tsx
  packages/frontend/core/src/desktop/pages/workspace/detail-page/tabs/journal.css.ts
  packages/frontend/core/src/desktop/pages/workspace/detail-page/tabs/journal.tsx
Labels: mod:component, app:core

#8999 fix(mobile): tags editor max height
  packages/frontend/core/src/components/tags/styles.css.ts
Labels: app:core

#9000 fix(mobile): doc info radio group width
  packages/frontend/core/src/components/doc-properties/types/doc-primary-mode.tsx
  packages/frontend/core/src/components/doc-properties/types/edgeless-theme.tsx
  packages/frontend/core/src/components/doc-properties/types/page-width.tsx
Labels: app:core

#9001 fix(mobile): progress styles
  packages/frontend/component/src/ui/progress/progress.css.ts
  packages/frontend/core/src/components/doc-properties/icons/icons-selector.tsx
  packages/frontend/core/src/components/doc-properties/types/number.tsx
  packages/frontend/core/src/components/mobile/config-modal/index.tsx
  packages/frontend/core/src/components/mobile/config-modal/styles.css.ts
  packages/frontend/core/src/modules/doc-info/views/database-properties/cells/progress.css.ts
  packages/frontend/core/src/modules/doc-info/views/database-properties/cells/progress.tsx
  packages/frontend/graphql/src/schema.ts
Labels: mod:component, app:core

#8937 fix(core): db property number cell should be cast to number
  packages/frontend/core/src/modules/doc-info/views/database-properties/cells/number.tsx
Labels: app:core

#8887 test(core): add tests for card view with edgeless mode link
  tests/affine-local/e2e/links.spec.ts
Labels: test, merge

#9008 chore: bump theme to support new syntax of cssVarV2
  packages/frontend/component/package.json
  packages/frontend/core/package.json
  packages/frontend/core/src/mobile/components/app-tabs/styles.css.ts
  yarn.lock
Labels: mod:component, app:core

#9025 fix(component): workaround for storybook startup
  packages/frontend/component/.storybook/main.ts
Labels: mod:component

#8906 refactor(server): payment service
  packages/backend/server/migrations/20241125035804_opt_user_invoices/migration.sql
  packages/backend/server/migrations/migration_lock.toml
  packages/backend/server/schema.prisma
  packages/backend/server/src/plugins/payment/controller.ts
  packages/backend/server/src/plugins/payment/cron.ts
  packages/backend/server/src/plugins/payment/index.ts
  packages/backend/server/src/plugins/payment/manager/common.ts
  packages/backend/server/src/plugins/payment/manager/index.ts
  packages/backend/server/src/plugins/payment/manager/user.ts
  packages/backend/server/src/plugins/payment/resolver.ts
  packages/backend/server/src/plugins/payment/schedule.ts
  packages/backend/server/src/plugins/payment/service.ts
  packages/backend/server/src/plugins/payment/types.ts
  packages/backend/server/src/plugins/payment/webhook.ts
  packages/backend/server/src/schema.gql
  packages/backend/server/tests/payment/service.spec.ts
  packages/backend/server/tests/payment/snapshots/service.spec.ts.md
  packages/backend/server/tests/payment/snapshots/service.spec.ts.snap
  packages/frontend/core/src/desktop/dialogs/setting/general-setting/billing/index.tsx
  packages/frontend/core/src/modules/cloud/stores/subscription.ts
  packages/frontend/graphql/src/graphql/cancel-subscription.gql
  packages/frontend/graphql/src/graphql/index.ts
  packages/frontend/graphql/src/graphql/invoices.gql
  packages/frontend/graphql/src/graphql/resume-subscription.gql
  packages/frontend/graphql/src/graphql/update-subscription-billing.gql
  packages/frontend/graphql/src/schema.ts
Labels: app:server, test, app:core

#8919 feat(server): support team workspace subscription
  packages/backend/server/migrations/20241202070358_universal_subscription/migration.sql
  packages/backend/server/schema.prisma
  packages/backend/server/src/core/user/resolver.ts
  packages/backend/server/src/core/workspaces/index.ts
  packages/backend/server/src/data/migrations/1733125339942-universal-subscription.ts
  packages/backend/server/src/fundamentals/config/index.ts
  packages/backend/server/src/fundamentals/error/def.ts
  packages/backend/server/src/fundamentals/error/errors.gen.ts
  packages/backend/server/src/plugins/payment/config.ts
  packages/backend/server/src/plugins/payment/cron.ts
  packages/backend/server/src/plugins/payment/index.ts
  packages/backend/server/src/plugins/payment/manager/common.ts
  packages/backend/server/src/plugins/payment/manager/index.ts
  packages/backend/server/src/plugins/payment/manager/user.ts
  packages/backend/server/src/plugins/payment/manager/workspace.ts
  packages/backend/server/src/plugins/payment/resolver.ts
  packages/backend/server/src/plugins/payment/schedule.ts
  packages/backend/server/src/plugins/payment/service.ts
  packages/backend/server/src/plugins/payment/types.ts
  packages/backend/server/src/schema.gql
  packages/backend/server/tests/payment/service.spec.ts
  packages/backend/server/tests/payment/snapshots/service.spec.ts.md
  packages/backend/server/tests/payment/snapshots/service.spec.ts.snap
  packages/frontend/core/src/modules/cloud/stores/subscription.ts
  packages/frontend/graphql/codegen.yml
  packages/frontend/graphql/src/schema.ts
Labels: app:server, test, app:core

#9031 feat(server): ai trial support
  packages/backend/server/src/plugins/payment/manager/user.ts
  packages/backend/server/src/plugins/payment/manager/workspace.ts
  packages/backend/server/src/plugins/payment/resolver.ts
Labels: app:server

#9034 feat(server): auto init stripe products when development
  .github/actions/server-test-env/action.yml
  packages/backend/server/src/plugins/payment/service.ts
  packages/backend/server/src/plugins/payment/types.ts
  tests/affine-cloud-copilot/playwright.config.ts
  tests/affine-cloud/playwright.config.ts
  tests/affine-desktop-cloud/playwright.config.ts
Labels: app:server, test

#9029 fix(core): oauth callback
  packages/frontend/core/src/desktop/pages/auth/oauth-callback.tsx
Labels: app:core

#9036 refactor(server): better selfhost deployment
  .github/deployment/self-host/.env.example
  .github/deployment/self-host/compose.yaml
  .github/workflows/release-desktop.yml
  packages/backend/server/.dockerignore
  packages/backend/server/package.json
  packages/backend/server/scripts/self-host-predeploy.js
  packages/backend/server/src/config/affine.env.ts
  packages/backend/server/src/config/affine.self.ts
  packages/backend/server/src/config/affine.ts
  packages/backend/server/src/core/config/resolver.ts
  packages/backend/server/src/fundamentals/config/default.ts
  packages/backend/server/src/fundamentals/index.ts
  packages/backend/server/src/fundamentals/prisma/config.ts
  packages/backend/server/src/fundamentals/prisma/index.ts
  packages/backend/server/src/prelude.ts
  packages/common/env/src/global.ts
  packages/frontend/admin/package.json
  packages/frontend/admin/src/app.tsx
  packages/frontend/admin/tsconfig.json
  packages/frontend/core/src/components/hooks/use-query.ts
  scripts/generate-release-yml.js
  tools/cli/src/webpack/config.ts
  tools/cli/src/webpack/runtime-config.ts
  yarn.lock
Labels: mod:env, mod:dev, app:server, app:core

#9032 fix(component): toast shouldn't cover whole header
  packages/frontend/component/package.json
  packages/frontend/component/src/ui/notification/mobile/notification-center.tsx
  packages/frontend/component/src/ui/notification/mobile/styles.css.ts
  yarn.lock
Labels: mod:component

#9042 feat(mobile): add journal conflict block to the top of detail page
  packages/frontend/core/src/mobile/pages/workspace/detail/journal-conflict-block.css.ts
  packages/frontend/core/src/mobile/pages/workspace/detail/journal-conflict-block.tsx
  packages/frontend/core/src/mobile/pages/workspace/detail/menu/journal-conflicts.tsx
  packages/frontend/core/src/mobile/pages/workspace/detail/mobile-detail-page.tsx
  packages/frontend/i18n/src/resources/en.json
Labels: mod:i18n, app:core

#9040 feat(mobile): open doc info in explorer
  packages/frontend/core/src/components/mobile/config-modal/index.tsx
  packages/frontend/core/src/mobile/components/doc-info/doc-info.css.ts
  packages/frontend/core/src/mobile/components/doc-info/doc-info.tsx
  packages/frontend/core/src/mobile/components/doc-info/doc-scope.tsx
  packages/frontend/core/src/mobile/components/doc-info/index.ts
  packages/frontend/core/src/mobile/components/explorer/nodes/doc/operations.tsx
  packages/frontend/core/src/mobile/components/index.ts
  packages/frontend/core/src/mobile/pages/workspace/detail/page-header-more-button.tsx
Labels: app:core

#9049 chore: bump blocksuite
  packages/common/env/package.json
  packages/common/infra/package.json
  packages/frontend/apps/android/package.json
  packages/frontend/apps/electron/package.json
  packages/frontend/apps/ios/package.json
  packages/frontend/apps/mobile/package.json
  packages/frontend/component/package.json
  packages/frontend/core/package.json
  tools/cli/package.json
  yarn.lock
Labels: mod:infra, mod:env, mod:component, app:electron, mod:dev, app:core

#9047 fix(server): avoid unknown fields in create query
  packages/backend/server/src/data/migrations/1733125339942-universal-subscription.ts
Labels: app:server

#9045 feat(core): at menu ux
  packages/frontend/core/src/modules/at-menu-config/index.ts
  packages/frontend/core/src/modules/at-menu-config/services/index.ts
  packages/frontend/core/src/modules/journal/__tests__/suggest-date.spec.ts
  packages/frontend/core/src/modules/journal/index.ts
  packages/frontend/core/src/modules/journal/suggest-journal-date.ts
  packages/frontend/core/src/modules/quicksearch/impls/creation.ts
  packages/frontend/core/src/utils/fuzzy-match.ts
  packages/frontend/graphql/src/schema.ts
  packages/frontend/i18n/src/resources/en.json
  packages/frontend/track/src/events.ts
  tests/kit/utils/page-logic.ts
Labels: mod:i18n, test, app:core

#9046 refactor(mobile): use bs mobile spec patch
  packages/frontend/core/src/components/blocksuite/block-suite-editor/specs/custom/spec-patchers.tsx
Labels: app:core

#9038 refactor(server): cleanup selfhost module
  packages/backend/server/src/core/selfhost/index.ts
  packages/backend/server/src/core/selfhost/setup.ts
  packages/backend/server/src/core/selfhost/static.ts
Labels: app:server

#8942 fix(core): peek db row should always show the related db row property
  packages/frontend/core/src/components/doc-properties/table.tsx
  packages/frontend/core/src/modules/doc-info/services/doc-database-backlinks.ts
  packages/frontend/core/src/modules/doc-info/views/database-properties/doc-database-backlink-info.tsx
  packages/frontend/core/src/modules/editor/entities/editor.ts
  packages/frontend/core/src/modules/peek-view/entities/peek-view.ts
  packages/frontend/core/src/modules/peek-view/view/doc-preview/doc-peek-view.tsx
  packages/frontend/i18n/src/i18n-completenesses.json
Labels: mod:i18n, app:core

#9039 feat(core): after the user clicks ask ai, the input pops up directly
  packages/frontend/core/src/blocksuite/presets/ai/_common/components/ask-ai-button.ts
  packages/frontend/core/src/blocksuite/presets/ai/_common/components/ask-ai-icon.ts
  packages/frontend/core/src/blocksuite/presets/ai/_common/components/ask-ai-panel.ts
  packages/frontend/core/src/blocksuite/presets/ai/_common/components/ask-ai-toolbar.ts
  packages/frontend/core/src/blocksuite/presets/ai/_common/config.ts
  packages/frontend/core/src/blocksuite/presets/ai/chat-panel/chat-cards.ts
  packages/frontend/core/src/blocksuite/presets/ai/chat-panel/chat-panel-input.ts
  packages/frontend/core/src/blocksuite/presets/ai/chat-panel/chat-panel-messages.ts
  packages/frontend/core/src/blocksuite/presets/ai/chat-panel/index.ts
  packages/frontend/core/src/blocksuite/presets/ai/entries/edgeless/actions-config.ts
  packages/frontend/core/src/blocksuite/presets/ai/entries/edgeless/index.ts
  packages/frontend/core/src/blocksuite/presets/ai/entries/format-bar/setup-format-bar.ts
  packages/frontend/core/src/blocksuite/presets/ai/messages/error.ts
  packages/frontend/core/src/blocksuite/presets/ai/provider.ts
  packages/frontend/core/src/blocksuite/presets/ai/utils/extract.ts
  packages/frontend/core/src/blocksuite/presets/effects.ts
Labels: mod:infra, mod:env, mod:component, app:electron, mod:dev, app:core

#9033 feat(core): dnd support external types
  .yarn/patches/@atlaskit-pragmatic-drag-and-drop-npm-1.4.0-75c45f52d3.patch
  package.json
  packages/frontend/component/package.json
  packages/frontend/component/src/ui/dnd/dnd.stories.tsx
  packages/frontend/component/src/ui/dnd/draggable.ts
  packages/frontend/component/src/ui/dnd/drop-target.ts
  packages/frontend/core/src/modules/dnd/index.ts
  packages/frontend/core/src/modules/dnd/services/index.ts
  packages/frontend/core/src/modules/explorer/views/nodes/collection/index.tsx
  packages/frontend/core/src/modules/explorer/views/nodes/doc/index.tsx
  packages/frontend/core/src/modules/explorer/views/sections/favorites/dnd.ts
  packages/frontend/core/src/modules/explorer/views/sections/favorites/empty.tsx
  packages/frontend/core/src/modules/explorer/views/sections/favorites/index.tsx
  packages/frontend/core/src/modules/explorer/views/tree/node.tsx
  packages/frontend/core/src/modules/index.ts
  packages/frontend/core/src/types/dnd.ts
  yarn.lock
Labels: mod:component, app:core

#8918 feat(nbstore): new doc sync engine
  packages/common/nbstore/package.json
  packages/common/nbstore/src/__tests__/sync.spec.ts
  packages/common/nbstore/src/connection/connection.ts
  packages/common/nbstore/src/impls/idb/doc.ts
  packages/common/nbstore/src/impls/idb/schema.ts
  packages/common/nbstore/src/impls/idb/sync.ts
  packages/common/nbstore/src/impls/idb/v1/doc.ts
  packages/common/nbstore/src/op/consumer.ts
  packages/common/nbstore/src/op/ops.ts
  packages/common/nbstore/src/storage/doc.ts
  packages/common/nbstore/src/storage/history.ts
  packages/common/nbstore/src/storage/index.ts
  packages/common/nbstore/src/storage/sync.ts
  packages/common/nbstore/src/sync/doc/index.ts
  packages/common/nbstore/src/sync/doc/peer.ts
  packages/common/nbstore/src/sync/index.ts
  packages/common/nbstore/src/utils/__tests__/priority-queue.spec.ts
  packages/common/nbstore/src/utils/async-priority-queue.ts
  packages/common/nbstore/src/utils/clock.ts
  packages/common/nbstore/src/utils/is-empty-update.ts
  packages/common/nbstore/src/utils/priority-queue.ts
  packages/common/nbstore/src/utils/throw-if-aborted.ts
  yarn.lock
Labels: test

#8996 feat(nbstore): add blob sync
  packages/common/nbstore/src/__tests__/sync.spec.ts
  packages/common/nbstore/src/op/consumer.ts
  packages/common/nbstore/src/storage/blob.ts
  packages/common/nbstore/src/sync/blob/index.ts
  packages/common/nbstore/src/sync/doc/peer.ts
  packages/common/nbstore/src/sync/index.ts
  packages/common/nbstore/src/utils/priority-queue.ts
Labels: mod:infra, test

#9055 fix(core): doc db text property editing issue
  packages/frontend/core/src/modules/doc-info/views/database-properties/cells/rich-text.css.ts
  packages/frontend/core/src/modules/doc-info/views/database-properties/cells/rich-text.tsx
Labels: app:core

#9041 chore: not allowed to open pdf files on mobile
  packages/frontend/core/src/modules/peek-view/view/peek-view-controls.tsx
Labels: app:core

#9009 feat: linked doc supports aliases
  packages/frontend/core/src/components/affine/reference-link/index.tsx
  packages/frontend/core/src/components/blocksuite/block-suite-editor/lit-adaper.tsx
  packages/frontend/core/src/components/blocksuite/block-suite-editor/specs/custom/database-block.ts
  packages/frontend/core/src/components/blocksuite/block-suite-editor/specs/custom/spec-patchers.tsx
  packages/frontend/core/src/components/blocksuite/block-suite-editor/specs/custom/widgets/toolbar.ts
  packages/frontend/core/src/components/hooks/affine/use-share-url.ts
  packages/frontend/core/src/modules/doc-display-meta/services/doc-display-meta.ts
  tests/affine-local/e2e/links.spec.ts
Labels: mod:infra, mod:env, mod:component, app:electron, mod:dev, test, app:core

#9057 test(core): test case for dragging from bs editor to sidebar
  tests/affine-local/e2e/drag-page.spec.ts
  tests/kit/utils/url.ts
Labels: test

#9014 fix(mobile): center peek styles
  packages/frontend/core/src/modules/peek-view/view/doc-preview/doc-peek-view.css.ts
  packages/frontend/core/src/modules/peek-view/view/modal-container.css.ts
  packages/frontend/core/src/modules/peek-view/view/peek-view-controls.css.ts
Labels: app:core

#9015 fix(mobile): backlink ordering in doc info
  packages/frontend/core/src/components/blocksuite/block-suite-editor/bi-directional-link-panel.css.ts
  packages/frontend/core/src/desktop/dialogs/doc-info/info-modal.tsx
  packages/frontend/core/src/mobile/components/doc-info/doc-info.tsx
Labels: app:core

#9018 refactor(mobile): determine the currently active tab through a persistent state
  packages/frontend/core/src/mobile/components/app-tabs/create.tsx
  packages/frontend/core/src/mobile/components/app-tabs/data.tsx
  packages/frontend/core/src/mobile/components/app-tabs/index.tsx
  packages/frontend/core/src/mobile/components/app-tabs/journal.tsx
  packages/frontend/core/src/mobile/components/app-tabs/tab-item.tsx
Labels: app:core

#8955 feat(server): team quota
  packages/backend/server/migrations/20241129062332_workspace_invite_status/migration.sql
  packages/backend/server/migrations/20241204081412_add_workspace_level_feature_flags/migration.sql
  packages/backend/server/schema.prisma
  packages/backend/server/src/core/features/index.ts
  packages/backend/server/src/core/features/management.ts
  packages/backend/server/src/core/features/service.ts
  packages/backend/server/src/core/features/types/index.ts
  packages/backend/server/src/core/permission/service.ts
  packages/backend/server/src/core/quota/index.ts
  packages/backend/server/src/core/quota/quota.ts
  packages/backend/server/src/core/quota/schema.ts
  packages/backend/server/src/core/quota/service.ts
  packages/backend/server/src/core/quota/storage.ts
  packages/backend/server/src/core/quota/types.ts
  packages/backend/server/src/core/workspaces/index.ts
  packages/backend/server/src/core/workspaces/resolvers/blob.ts
  packages/backend/server/src/core/workspaces/resolvers/index.ts
  packages/backend/server/src/core/workspaces/resolvers/page.ts
  packages/backend/server/src/core/workspaces/resolvers/team.ts
  packages/backend/server/src/core/workspaces/resolvers/workspace.ts
  packages/backend/server/src/core/workspaces/types.ts
  packages/backend/server/src/data/migrations/1732861452428-migrate-invite-status.ts
  packages/backend/server/src/plugins/payment/index.ts
  packages/backend/server/src/plugins/payment/quota.ts
  packages/backend/server/src/schema.gql
  packages/backend/server/tests/feature.spec.ts
  packages/backend/server/tests/quota.spec.ts
  packages/backend/server/tests/team.e2e.ts
  packages/backend/server/tests/utils/feature.ts
  packages/backend/server/tests/utils/invite.ts
  packages/backend/server/tests/utils/user.ts
  packages/backend/server/tests/utils/utils.ts
  packages/backend/server/tests/utils/workspace.ts
  packages/backend/server/tests/workspace-blobs.e2e.ts
  packages/backend/server/tests/workspace/controller.spec.ts
  packages/frontend/core/src/modules/share-setting/entities/share-setting.ts
  packages/frontend/core/src/modules/share-setting/stores/share-setting.ts
  packages/frontend/graphql/src/graphql/get-members-by-workspace-id.gql
  packages/frontend/graphql/src/graphql/get-workspaces.gql
  packages/frontend/graphql/src/graphql/index.ts
  packages/frontend/graphql/src/graphql/workspace-config.gql
  packages/frontend/graphql/src/graphql/workspace-enable-ai.gql
  packages/frontend/graphql/src/graphql/workspace-enable-url-preview-get.gql
  packages/frontend/graphql/src/graphql/workspace-enable-url-preview.gql
  packages/frontend/graphql/src/graphql/workspace-invite-batch.gql
  packages/frontend/graphql/src/graphql/workspace-invite-link.gql
  packages/frontend/graphql/src/graphql/workspace-invite-revoke-link.gql
  packages/frontend/graphql/src/graphql/workspace-team-approve.gql
  packages/frontend/graphql/src/graphql/workspace-team-grant.gql
  packages/frontend/graphql/src/schema.ts
  tests/kit/utils/cloud.ts
Labels: app:server, test, app:core

#9058 fix(core): canDrop check for external
  packages/frontend/component/src/ui/dnd/context.ts
  packages/frontend/component/src/ui/dnd/drop-target.ts
  packages/frontend/component/src/ui/dnd/index.ts
  packages/frontend/component/src/ui/dnd/types.ts
  packages/frontend/core/src/desktop/pages/workspace/index.tsx
  packages/frontend/core/src/modules/dnd/services/index.ts
  packages/frontend/core/src/modules/explorer/views/nodes/collection/index.tsx
  packages/frontend/core/src/modules/explorer/views/nodes/doc/index.tsx
  packages/frontend/core/src/modules/explorer/views/sections/favorites/dnd.ts
  packages/frontend/core/src/modules/explorer/views/sections/favorites/empty.tsx
  packages/frontend/core/src/modules/explorer/views/sections/favorites/index.tsx
  packages/frontend/core/src/modules/explorer/views/tree/node.tsx
Labels: mod:component, app:core

#9066 fix: copilot ci
  .github/workflows/build-test.yml
  packages/frontend/core/src/blocksuite/presets/ai/_common/config.ts
  packages/frontend/core/src/blocksuite/presets/ai/actions/edgeless-response.ts
  packages/frontend/core/src/blocksuite/presets/ai/ai-panel.ts
  packages/frontend/core/src/blocksuite/presets/ai/chat-panel/chat-panel-messages.ts
  packages/frontend/core/src/blocksuite/presets/ai/chat-panel/index.ts
  packages/frontend/core/src/blocksuite/presets/ai/entries/edgeless/actions-config.ts
  packages/frontend/core/src/desktop/pages/workspace/detail-page/tabs/chat.tsx
  packages/frontend/i18n/src/i18n-completenesses.json
  tests/affine-cloud-copilot/e2e/copilot.spec.ts
Labels: mod:i18n, test, app:core

#9068 chore(mobile): set doc readonly in edgeless mode
  packages/common/infra/src/modules/feature-flag/constant.ts
  packages/frontend/core/src/mobile/pages/workspace/detail/mobile-detail-page.tsx
  packages/frontend/core/src/mobile/styles/mobile.css.ts
  packages/frontend/i18n/src/resources/en.json
Labels: mod:infra, mod:i18n, app:core

#9056 fix(server): wrong stripe checkout params
  packages/backend/server/src/plugins/payment/manager/workspace.ts
Labels: app:server

#9079 feat(core): add draghandle to doc page title
  packages/frontend/component/src/index.ts
  packages/frontend/component/src/ui/drag-handle/index.css.ts
  packages/frontend/component/src/ui/drag-handle/index.tsx
  packages/frontend/core/src/components/affine/page-history-modal/history-modal.tsx
  packages/frontend/core/src/components/blocksuite/block-suite-editor/styles.css.ts
  packages/frontend/core/src/components/hooks/use-block-suite-workspace-page-title.ts
  packages/frontend/core/src/desktop/pages/workspace/detail-page/detail-page-header.css.ts
  packages/frontend/core/src/desktop/pages/workspace/detail-page/detail-page-header.tsx
  packages/frontend/core/src/desktop/pages/workspace/detail-page/detail-page.css.ts
  packages/frontend/core/src/desktop/pages/workspace/detail-page/detail-page.tsx
  packages/frontend/core/src/types/dnd.ts
Labels: mod:component, app:core

#9073 feat(core): remember backlink open/close state
  packages/common/infra/src/modules/storage/index.ts
  packages/common/infra/src/modules/storage/providers/global.ts
  packages/common/infra/src/modules/storage/services/global.ts
  packages/frontend/core/src/components/blocksuite/block-suite-editor/bi-directional-link-panel.tsx
  packages/frontend/core/src/modules/index.ts
  packages/frontend/core/src/modules/storage/impls/storage.ts
  packages/frontend/core/src/modules/storage/index.ts
Labels: mod:infra, app:core

#9077 fix(server): image action behavior in ci
  packages/backend/server/src/plugins/copilot/storage.ts
  tests/affine-cloud-copilot/e2e/copilot.spec.ts
Labels: app:server, test

#9080 chore(server): local data migration env
  packages/backend/server/package.json
  packages/backend/server/src/fundamentals/config/def.ts
  packages/backend/server/src/fundamentals/config/default.ts
  packages/backend/server/src/fundamentals/graphql/index.ts
Labels: app:server

#8828 feat(ios,android): setup uniffi infra
  .github/workflows/release-mobile.yml
  Cargo.lock
  Cargo.toml
  packages/frontend/apps/android/App/app/build.gradle
  packages/frontend/apps/android/App/app/src/main/java/app/affine/pro/MainActivity.java
  packages/frontend/apps/android/App/app/src/main/java/app/affine/pro/MainActivity.kt
  packages/frontend/apps/android/App/app/src/main/java/uniffi/affine_mobile_native/affine_mobile_native.kt
  packages/frontend/apps/android/App/build.gradle
  packages/frontend/apps/android/App/settings.gradle
  packages/frontend/apps/android/App/variables.gradle
  packages/frontend/apps/ios/.gitignore
  packages/frontend/apps/ios/App/App.xcodeproj/project.pbxproj
  packages/frontend/apps/ios/App/App/plugins/Cookie/HashcashPlugin.swift
  packages/frontend/apps/ios/App/App/uniffi/affine_mobile_native.swift
  packages/frontend/apps/ios/App/App/uniffi/affine_mobile_nativeFFI.h
  packages/frontend/apps/ios/App/App/uniffi/affine_mobile_nativeFFI.modulemap
  packages/frontend/apps/ios/App/IOSApp-Bridging-Header.h
  packages/frontend/apps/ios/App/Podfile.lock
  packages/frontend/apps/ios/App/xc-universal-binary.sh
  packages/frontend/mobile-native/Cargo.toml
  packages/frontend/mobile-native/src/lib.rs
  packages/frontend/mobile-native/uniffi-bindgen.rs
  packages/frontend/native/Cargo.toml
  packages/frontend/native/benches/hashcash.rs
  packages/frontend/native/build.rs
  packages/frontend/native/src/hashcash.rs
Labels: rust, mod:native

#9081 feat(server): team quota migration
  packages/backend/server/src/data/migrations/1733804966417-team-quota.ts
Labels: app:server

#9082 fix(server): should auto apply ea price for users
  packages/backend/server/src/plugins/payment/manager/common.ts
  packages/backend/server/src/plugins/payment/manager/user.ts
  packages/backend/server/src/plugins/payment/manager/workspace.ts
  packages/backend/server/src/plugins/payment/service.ts
  packages/backend/server/src/plugins/payment/webhook.ts
  packages/backend/server/tests/payment/service.spec.ts
Labels: app:server, test

#9043 feat(core): add workspace billing
  packages/frontend/core/src/desktop/dialogs/setting/general-setting/plans/actions.tsx
  packages/frontend/core/src/desktop/dialogs/setting/workspace-setting/billing/index.tsx
  packages/frontend/core/src/modules/cloud/entities/workspace-invoices.ts
  packages/frontend/core/src/modules/cloud/entities/workspace-subscription.ts
  packages/frontend/core/src/modules/cloud/index.ts
  packages/frontend/core/src/modules/cloud/services/workspace-invoices.ts
  packages/frontend/core/src/modules/cloud/services/workspace-subscription.ts
  packages/frontend/core/src/modules/cloud/stores/invoices.ts
  packages/frontend/core/src/modules/cloud/stores/subscription.ts
  packages/frontend/graphql/src/graphql/get-workspace-subscription.gql
  packages/frontend/graphql/src/graphql/index.ts
  packages/frontend/graphql/src/graphql/workspace-invoices.gql
  packages/frontend/graphql/src/schema.ts
Labels: mod:i18n, app:core

#9088 chore(server): team free trial control logic is not ready
  packages/backend/server/src/plugins/payment/manager/workspace.ts
Labels: app:server

#9083 fix(core): share page show 404
  packages/frontend/core/src/modules/share-doc/stores/share-reader.ts
  tests/affine-cloud/e2e/share-page.spec.ts
Labels: test, app:core

#9090 fix(server): minize checkout parameters
  packages/backend/server/src/plugins/payment/manager/user.ts
  packages/backend/server/src/plugins/payment/manager/workspace.ts
Labels: app:server

#8810 feat(nbstore): add cloud implementation
  packages/backend/server/migrations/20241023065619_blobs/migration.sql
  packages/backend/server/schema.prisma
  packages/backend/server/src/core/doc/storage/doc.ts
  packages/backend/server/src/core/doc/storage/index.ts
  packages/backend/server/src/core/quota/resolver.ts
  packages/backend/server/src/core/quota/storage.ts
  packages/backend/server/src/core/storage/wrappers/blob.ts
  packages/backend/server/src/core/sync/gateway.ts
  packages/backend/server/src/core/workspaces/resolvers/blob.ts
  packages/backend/server/src/fundamentals/event/def.ts
  packages/backend/server/src/fundamentals/storage/providers/fs.ts
  packages/backend/server/src/fundamentals/storage/providers/provider.ts
  packages/backend/server/src/fundamentals/storage/providers/utils.ts
  packages/backend/server/src/plugins/storage/providers/s3.ts
  packages/backend/server/src/schema.gql
  packages/backend/server/tests/utils/blobs.ts
  packages/backend/server/tests/workspace/blobs.e2e.ts
  packages/common/nbstore/package.json
  packages/common/nbstore/src/impls/cloud/blob.ts
  packages/common/nbstore/src/impls/cloud/doc.ts
  packages/common/nbstore/src/impls/cloud/index.ts
  packages/common/nbstore/src/impls/cloud/socket.ts
  packages/common/nbstore/src/impls/index.ts
  packages/frontend/core/src/modules/cloud/stores/user-quota.ts
  packages/frontend/core/src/modules/workspace-engine/impls/engine/blob-cloud.ts
  packages/frontend/graphql/src/graphql/blob-delete.gql
  packages/frontend/graphql/src/graphql/blob-list.gql
  packages/frontend/graphql/src/graphql/blob-release-deleted.gql
  packages/frontend/graphql/src/graphql/index.ts
  packages/frontend/graphql/src/graphql/quota.gql
  packages/frontend/graphql/src/schema.ts
  yarn.lock
Labels: app:server, test, app:core

#9091 fix(core): workspace billing cannot be opened
  packages/frontend/core/src/desktop/dialogs/setting/workspace-setting/billing/index.tsx
  packages/frontend/core/src/desktop/dialogs/setting/workspace-setting/index.tsx
  packages/frontend/core/src/desktop/dialogs/setting/workspace-setting/new-workspace-setting-detail/members/cloud-members-panel.tsx
  packages/frontend/core/src/modules/cloud/entities/workspace-invoices.ts
  packages/frontend/core/src/modules/cloud/entities/workspace-subscription.ts
  packages/frontend/core/src/modules/cloud/index.ts
  packages/frontend/core/src/modules/cloud/services/workspace-subscription.ts
Labels: app:core

#9085 feat(core): add workspace quota panel for team workspace
  packages/frontend/core/src/desktop/dialogs/setting/general-setting/plans/plan-card.tsx
  packages/frontend/core/src/desktop/dialogs/setting/workspace-setting/new-workspace-setting-detail/export.tsx
  packages/frontend/core/src/desktop/dialogs/setting/workspace-setting/new-workspace-setting-detail/index.tsx
  packages/frontend/core/src/desktop/dialogs/setting/workspace-setting/new-workspace-setting-detail/members/cloud-members-panel.tsx
  packages/frontend/core/src/desktop/dialogs/setting/workspace-setting/new-workspace-setting-detail/style.css.ts
  packages/frontend/core/src/desktop/dialogs/setting/workspace-setting/new-workspace-setting-detail/workspace-quota.tsx
  packages/frontend/core/src/modules/quota/entities/quota.ts
  packages/frontend/i18n/src/resources/en.json
Labels: mod:i18n, app:core

#9070 feat(nbstore): add doc sync frontend
  packages/common/nbstore/src/__tests__/frontend.spec.ts
  packages/common/nbstore/src/__tests__/sync.spec.ts
  packages/common/nbstore/src/__tests__/utils.ts
  packages/common/nbstore/src/frontend/doc.ts
  packages/common/nbstore/src/sync/blob/index.ts
  packages/common/nbstore/src/sync/doc/index.ts
  packages/common/nbstore/src/sync/doc/peer.ts
  packages/common/nbstore/src/sync/index.ts
Labels: test

#9093 feat(core): allow bs snapshot dragging targets
  packages/frontend/apps/electron/src/main/windows-manager/tab-views.ts
  packages/frontend/component/src/ui/dnd/context.ts
  packages/frontend/component/src/ui/dnd/dnd.stories.tsx
  packages/frontend/component/src/ui/dnd/draggable.ts
  packages/frontend/component/src/ui/dnd/drop-target.ts
  packages/frontend/component/src/ui/dnd/types.ts
  packages/frontend/core/src/desktop/pages/workspace/detail-page/detail-page-header.css.ts
  packages/frontend/core/src/desktop/pages/workspace/detail-page/detail-page-header.tsx
  packages/frontend/core/src/desktop/pages/workspace/index.tsx
  packages/frontend/core/src/modules/app-tabs-header/views/app-tabs-header.tsx
  packages/frontend/core/src/modules/dnd/services/index.ts
  tests/affine-local/e2e/drag-page.spec.ts
  tests/kit/utils/page-logic.ts
Labels: mod:component, app:electron, test, app:core

#9102 fix(core): backlink preview should use sans font family
  packages/frontend/core/src/components/blocksuite/block-suite-editor/bi-directional-link-panel.css.ts
Labels: app:core

#9099 fix(core): optimize upgrade to team page
  packages/frontend/component/src/components/member-components/invite-team-modal/index.tsx
  packages/frontend/core/src/desktop/dialogs/setting/general-setting/plans/actions.tsx
  packages/frontend/core/src/desktop/dialogs/setting/general-setting/plans/modals.tsx
  packages/frontend/core/src/desktop/dialogs/setting/general-setting/plans/plan-card.tsx
  packages/frontend/core/src/desktop/dialogs/setting/workspace-setting/billing/index.tsx
  packages/frontend/core/src/desktop/dialogs/setting/workspace-setting/new-workspace-setting-detail/members/member-option.tsx
  packages/frontend/core/src/desktop/pages/upgrade-to-team/index.tsx
  packages/frontend/core/src/modules/cloud/entities/workspace-subscription.ts
  packages/frontend/core/src/modules/cloud/stores/subscription.ts
  packages/frontend/graphql/src/graphql/cancel-subscription.gql
  packages/frontend/graphql/src/graphql/index.ts
  packages/frontend/graphql/src/graphql/resume-subscription.gql
  packages/frontend/graphql/src/graphql/update-subscription-billing.gql
  packages/frontend/graphql/src/schema.ts
  packages/frontend/i18n/src/i18n-completenesses.json
  packages/frontend/i18n/src/resources/en.json
Labels: mod:i18n, mod:component, app:core

#9103 fix(server): should drop blob steam if not used
  packages/backend/server/src/core/storage/wrappers/blob.ts
Labels: app:server

#9092 feat(server): improve team invite
  packages/backend/server/src/core/quota/quota.ts
  packages/backend/server/src/core/quota/service.ts
  packages/backend/server/src/core/quota/storage.ts
  packages/backend/server/src/core/workspaces/resolvers/team.ts
  packages/backend/server/src/core/workspaces/resolvers/workspace.ts
  packages/backend/server/src/core/workspaces/types.ts
  packages/backend/server/src/schema.gql
  packages/backend/server/tests/team.e2e.ts
  packages/backend/server/tests/utils/invite.ts
  packages/frontend/core/src/modules/permissions/stores/permission.ts
  packages/frontend/graphql/src/graphql/index.ts
  packages/frontend/graphql/src/graphql/workspace-config.gql
  packages/frontend/graphql/src/graphql/workspace-invite-link.gql
  packages/frontend/graphql/src/schema.ts
Labels: app:server, test, app:core

#9105 fix(core): doc header drag preview styles
  packages/frontend/core/src/desktop/pages/workspace/detail-page/detail-page-header.css.ts
Labels: app:core

#9107 ci: fix release script
  scripts/generate-release-yml.mjs
Labels: mod:dev

#9052 feat(core): add journal search results to bs doc search
  packages/frontend/core/src/components/blocksuite/block-suite-editor/specs/custom/spec-patchers.tsx
  packages/frontend/core/src/desktop/dialogs/selectors/date.tsx
  packages/frontend/core/src/modules/dialogs/constant.ts
  packages/frontend/core/src/modules/quicksearch/impls/journals.ts
  packages/frontend/core/src/modules/quicksearch/index.ts
  packages/frontend/i18n/src/resources/en.json
  tests/affine-local/e2e/quick-search.spec.ts
Labels: mod:i18n, test, app:core

#9054 chore(core): at menu journal entry tracking
  packages/frontend/core/src/modules/at-menu-config/services/index.ts
  packages/frontend/track/src/events.ts
Labels: app:core

#9108 fix(core): fix sign in with email
  packages/frontend/core/src/components/sign-in/sign-in-with-email.tsx
  packages/frontend/core/src/components/sign-in/sign-in-with-password.tsx
Labels: app:core

#8936 fix(core): tag inline editor filter should ignore case
  packages/frontend/core/src/components/tags/tags-editor.tsx
Labels: mod:i18n, app:core

#9117 fix(core): wrong billing information display
  packages/frontend/core/src/desktop/dialogs/setting/workspace-setting/billing/index.tsx
  packages/frontend/core/src/desktop/pages/upgrade-to-team/index.tsx
  packages/frontend/core/src/desktop/pages/upgrade-to-team/styles.css.ts
  packages/frontend/i18n/src/i18n-completenesses.json
  packages/frontend/i18n/src/resources/en.json
Labels: mod:i18n, app:core

#9115 fix(core): the member list is not refreshed after operating the member status
  packages/frontend/core/src/desktop/dialogs/setting/workspace-setting/new-workspace-setting-detail/index.tsx
  packages/frontend/core/src/desktop/dialogs/setting/workspace-setting/new-workspace-setting-detail/members/cloud-members-panel.tsx
  packages/frontend/core/src/desktop/dialogs/setting/workspace-setting/new-workspace-setting-detail/members/member-list.tsx
  packages/frontend/core/src/desktop/dialogs/setting/workspace-setting/new-workspace-setting-detail/members/member-option.tsx
  packages/frontend/core/src/modules/permissions/entities/members.ts
Labels: app:core

#8993 fix(mobile): disable navigation gesture for swipe-dialog
  packages/frontend/apps/ios/src/modal-config.tsx
  packages/frontend/component/src/ui/modal/context.ts
  packages/frontend/component/src/ui/modal/modal.tsx
  packages/frontend/core/src/mobile/components/navigation-back/index.tsx
  packages/frontend/core/src/mobile/components/page-header/index.tsx
  packages/frontend/core/src/mobile/dialogs/setting/swipe-dialog.tsx
Labels: mod:component, app:core

#9100 feat(mobile): show page back by url search
  packages/frontend/core/src/components/hooks/use-journal.ts
  packages/frontend/core/src/mobile/components/app-tabs/create.tsx
  packages/frontend/core/src/mobile/components/app-tabs/journal.tsx
  packages/frontend/core/src/mobile/components/doc-card/index.tsx
  packages/frontend/core/src/mobile/pages/workspace/detail/mobile-detail-page.tsx
  packages/frontend/core/src/modules/workbench/entities/workbench.ts
  tests/affine-mobile/e2e/back-button-visibility.spec.ts
  tests/affine-mobile/e2e/utils.ts
Labels: test, app:core

#9109 fix(server): invite link & accept
  packages/backend/server/src/core/permission/service.ts
  packages/backend/server/src/core/workspaces/resolvers/team.ts
  packages/backend/server/src/core/workspaces/resolvers/workspace.ts
  packages/backend/server/tests/team.e2e.ts
Labels: app:server, test

#9104 feat(server): team mail sender
  packages/backend/server/src/core/permission/service.ts
  packages/backend/server/src/core/workspaces/index.ts
  packages/backend/server/src/core/workspaces/resolvers/index.ts
  packages/backend/server/src/core/workspaces/resolvers/service.ts
  packages/backend/server/src/core/workspaces/resolvers/team.ts
  packages/backend/server/src/core/workspaces/resolvers/workspace.ts
  packages/backend/server/src/core/workspaces/utils.ts
  packages/backend/server/src/fundamentals/event/def.ts
  packages/backend/server/src/fundamentals/mailer/mail.service.ts
  packages/backend/server/src/schema.gql
  packages/backend/server/tests/team.e2e.ts
  packages/backend/server/tests/utils/invite.ts
  packages/frontend/core/src/desktop/dialogs/setting/workspace-setting/new-workspace-setting-detail/members/cloud-members-panel.tsx
  packages/frontend/core/src/modules/permissions/services/permission.ts
  packages/frontend/core/src/modules/permissions/stores/permission.ts
  packages/frontend/graphql/src/graphql/index.ts
  packages/frontend/graphql/src/graphql/leave-workspace.gql
  packages/frontend/graphql/src/graphql/workspace-invite-link.gql
  packages/frontend/graphql/src/schema.ts
Labels: app:server, test, app:core

#9110 feat(nbstore): add awareness frontend
  packages/common/nbstore/package.json
  packages/common/nbstore/src/__tests__/frontend.spec.ts
  packages/common/nbstore/src/__tests__/sync.spec.ts
  packages/common/nbstore/src/frontend/awareness.ts
  packages/common/nbstore/src/frontend/blob.ts
  packages/common/nbstore/src/frontend/doc.ts
  packages/common/nbstore/src/impls/idb/awareness.ts
  packages/common/nbstore/src/storage/awareness.ts
  packages/common/nbstore/src/sync/awareness/index.ts
  packages/common/nbstore/src/sync/blob/index.ts
  packages/common/nbstore/src/sync/doc/index.ts
  packages/common/nbstore/src/sync/index.ts
  yarn.lock
Labels: test

#9059 chore(server): filter out some logs
  packages/backend/server/src/core/user/service.ts
  packages/backend/server/src/fundamentals/error/def.ts
  packages/backend/server/src/fundamentals/error/errors.gen.ts
  packages/backend/server/src/schema.gql
  packages/backend/server/tests/auth/service.spec.ts
  packages/frontend/graphql/src/schema.ts
Labels: app:server, test

#9111 feat(core): improve invite link
  packages/frontend/component/src/components/member-components/invite-team-modal/index.tsx
  packages/frontend/component/src/components/member-components/invite-team-modal/link-invite.tsx
  packages/frontend/component/src/components/member-components/invite-team-modal/modal-content.tsx
  packages/frontend/core/src/desktop/dialogs/setting/workspace-setting/new-workspace-setting-detail/members/cloud-members-panel.tsx
  packages/frontend/core/src/modules/share-setting/entities/share-setting.ts
Labels: mod:component, app:server, test, app:core

#9124 fix(server): accept invite condition
  packages/backend/server/src/core/permission/service.ts
  packages/backend/server/src/core/workspaces/resolvers/workspace.ts
  packages/backend/server/tests/team.e2e.ts
  packages/frontend/i18n/src/i18n-completenesses.json
Labels: mod:i18n, app:server, test

#9123 fix(core): at menu results use indexer data source
  packages/frontend/core/src/modules/at-menu-config/index.ts
  packages/frontend/core/src/modules/at-menu-config/services/index.ts
Labels: app:core

#9130 feat(server): adapt normal workspace's invite link behavior
  packages/backend/server/src/core/workspaces/resolvers/workspace.ts
  packages/backend/server/tests/team.e2e.ts
  packages/backend/server/tests/utils/invite.ts
Labels: app:server, test

#9132 ci: re-enable nx cloud
  .github/actions/build-rust/action.yml
  packages/backend/native/package.json
  packages/backend/native/project.json
  yarn.lock
Labels: mod:server-native

#9120 refactor(server): standalone runtime module
  packages/backend/server/src/app.module.ts
  packages/backend/server/src/base/config/index.ts
  packages/backend/server/src/base/config/provider.ts
  packages/backend/server/src/base/index.ts
  packages/backend/server/src/base/runtime/event.ts
  packages/backend/server/src/base/runtime/index.ts
  packages/backend/server/src/base/runtime/service.ts
  packages/backend/server/src/core/auth/controller.ts
  packages/backend/server/src/core/config/resolver.ts
  packages/backend/server/src/core/doc/options.ts
  packages/backend/server/src/core/features/management.ts
  packages/backend/server/src/core/sync/gateway.ts
  packages/backend/server/src/core/user/service.ts
  packages/backend/server/src/plugins/captcha/guard.ts
  packages/backend/server/src/plugins/payment/manager/user.ts
  packages/backend/server/tests/feature.spec.ts
  packages/backend/server/tests/payment/service.spec.ts
  packages/backend/server/tests/utils/utils.ts
Labels: app:server, test

#9121 refactor(server): make redis required module
  .devcontainer/docker-compose.yml
  .docker/dev/.env.example
  .docker/dev/.gitignore
  .docker/dev/compose.yml.example
  .github/workflows/build-test.yml
  .github/workflows/copilot-test.yml
  docs/developing-server.md
  packages/backend/server/.env.example
  packages/backend/server/src/app.module.ts
  packages/backend/server/src/app.ts
  packages/backend/server/src/base/cache/def.ts
  packages/backend/server/src/base/cache/instances.ts
  packages/backend/server/src/base/cache/local.ts
  packages/backend/server/src/base/cache/provider.ts
  packages/backend/server/src/base/index.ts
  packages/backend/server/src/base/mutex/index.ts
  packages/backend/server/src/base/mutex/local-lock.ts
  packages/backend/server/src/base/mutex/lock.ts
  packages/backend/server/src/base/mutex/locker.ts
  packages/backend/server/src/base/mutex/mutex.ts
  packages/backend/server/src/base/redis/config.ts
  packages/backend/server/src/base/redis/index.ts
  packages/backend/server/src/base/redis/instances.ts
  packages/backend/server/src/base/websocket/adapter.ts
  packages/backend/server/src/base/websocket/index.ts
  packages/backend/server/src/base/websocket/options.ts
  packages/backend/server/src/config/affine.env.ts
  packages/backend/server/src/config/affine.self.ts
  packages/backend/server/src/config/affine.ts
  packages/backend/server/src/core/doc/adapters/userspace.ts
  packages/backend/server/src/core/doc/adapters/workspace.ts
  packages/backend/server/src/core/selfhost/controller.ts
  packages/backend/server/src/core/workspaces/resolvers/team.ts
  packages/backend/server/src/core/workspaces/resolvers/workspace.ts
  packages/backend/server/src/plugins/copilot/resolver.ts
  packages/backend/server/src/plugins/index.ts
  packages/backend/server/src/plugins/payment/service.ts
  packages/backend/server/src/plugins/redis/index.ts
  packages/backend/server/src/plugins/redis/instances.ts
  packages/backend/server/src/plugins/redis/ws-adapter.ts
Labels: docs, app:server

#9138 feat(server): seat calc follow member count
  packages/backend/server/src/plugins/payment/manager/workspace.ts
Labels: app:server

#9125 chore(mobile): adjust search back button and title style
  packages/frontend/core/src/mobile/components/navigation-back/index.tsx
  packages/frontend/core/src/mobile/pages/workspace/search.tsx
  packages/frontend/core/src/mobile/views/search/style.css.ts
Labels: app:core

#9106 feat(mobile): use mobile fallback for index, open home when workspace changed
  packages/frontend/apps/ios/App/App.xcodeproj/project.pbxproj
  packages/frontend/apps/ios/App/Podfile.lock
  packages/frontend/core/src/desktop/pages/index/index.tsx
  packages/frontend/core/src/mobile/components/workspace-selector/menu.tsx
  packages/frontend/core/src/mobile/pages/index.tsx
Labels: app:core

#9145 fix(mobile): tag and detail page dark mode adaption
  packages/frontend/core/src/mobile/pages/workspace/collection/detail.tsx
  packages/frontend/core/src/mobile/pages/workspace/tag/detail.tsx
  packages/frontend/core/src/mobile/views/all-docs/collection/detail.css.ts
  packages/frontend/core/src/mobile/views/all-docs/collection/detail.tsx
  packages/frontend/core/src/mobile/views/all-docs/tag/detail-header.tsx
  packages/frontend/core/src/mobile/views/all-docs/tag/detail.css.ts
Labels: app:core

#9139 chore: refresh dependencies by yarn upgrade-interactive
  .eslintignore
  docs/reference/package.json
  package.json
  packages/backend/native/package.json
  packages/backend/server/package.json
  packages/common/debug/package.json
  packages/common/env/package.json
  packages/common/infra/package.json
  packages/common/nbstore/package.json
  packages/frontend/admin/package.json
  packages/frontend/apps/android/package.json
  packages/frontend/apps/electron/package.json
  packages/frontend/apps/ios/package.json
  packages/frontend/apps/mobile/package.json
  packages/frontend/apps/web/package.json
  packages/frontend/component/package.json
  packages/frontend/core/package.json
  packages/frontend/core/src/components/blocksuite/block-suite-editor/specs/custom/widgets/copy-as-image.ts
  packages/frontend/graphql/package.json
  packages/frontend/i18n/package.json
  packages/frontend/native/package.json
  packages/frontend/track/package.json
  tests/affine-legacy/0.6.1-beta.1/package.json
  tests/affine-legacy/0.7.0-canary.18/package.json
  tests/affine-legacy/0.8.0-canary.7/package.json
  tests/affine-legacy/0.8.4/package.json
  tests/kit/package.json
  tools/bump-blocksuite/package.json
  tools/changelog/package.json
  tools/cli/package.json
  tools/commitlint/package.json
  tools/copilot-result/package.json
  tools/playstore-auto-bump/package.json
  tools/workers/package.json
  yarn.lock
Labels: mod:infra, docs, mod:i18n, mod:env, mod:component, app:electron, mod:dev, app:server, test, mod:native, app:core, mod:server-native

#9152 chore(electron): bump electron
  package.json
  packages/frontend/apps/electron/package.json
  yarn.lock
Labels: app:electron

#9150 fix(core): should log in before accepting the invitation
  packages/frontend/core/src/desktop/pages/invite/index.tsx
Labels: app:core

#9154 chore: disable rules in oxlint
  .eslintrc.js
  oxlint.json
  package.json
  packages/common/infra/src/modules/db/schema/index.ts
  packages/common/infra/src/modules/db/schema/schema.ts
  packages/common/infra/src/modules/db/services/db.ts
  packages/common/infra/src/modules/feature-flag/constant.ts
  packages/common/infra/src/utils/__tests__/fractional-indexing.spec.ts
  packages/common/nbstore/src/impls/cloud/socket.ts
  packages/common/nbstore/src/storage/index.ts
  packages/frontend/admin/package.json
  packages/frontend/admin/src/modules/accounts/components/data-table-row-actions.tsx
  packages/frontend/admin/src/modules/accounts/components/use-user-management.ts
  packages/frontend/admin/src/modules/nav/user-dropdown.tsx
  packages/frontend/admin/src/modules/setup/form.tsx
  packages/frontend/apps/electron/package.json
  packages/frontend/apps/electron/scripts/dev.ts
  packages/frontend/apps/electron/scripts/make-nsis.ts
  packages/frontend/apps/electron/scripts/make-squirrel.ts
  packages/frontend/apps/electron/src/main/index.ts
  packages/frontend/apps/electron/src/main/shared-state-schema.ts
  packages/frontend/apps/ios/src/app.tsx
  packages/frontend/apps/ios/src/fetch.ts
  packages/frontend/apps/ios/src/virtual-keyboard.ts
  packages/frontend/component/src/components/auth-components/password-input/index.tsx
  packages/frontend/component/src/ui/date-picker/calendar/day-picker.tsx
  packages/frontend/core/src/blocksuite/presets/ai/_common/components/ask-ai-button.ts
  packages/frontend/core/src/blocksuite/presets/ai/entries/slash-menu/setup-slash-menu.ts
  packages/frontend/core/src/blocksuite/presets/ai/peek-view/chat-block-peek-view.ts
  packages/frontend/core/src/blocksuite/presets/ai/utils/selection-utils.ts
  packages/frontend/core/src/components/affine/page-history-modal/data.ts
  packages/frontend/core/src/components/blocksuite/block-suite-editor/specs/custom/spec-patchers.tsx
  packages/frontend/core/src/desktop/dialogs/setting/general-setting/plans/plan-card.tsx
  packages/frontend/core/src/mobile/components/explorer/sections/favorites/index.tsx
  packages/frontend/core/src/modules/cloud/entities/subscription.ts
  packages/frontend/core/src/modules/editor-setting/schema.ts
  packages/frontend/core/src/modules/editor-setting/services/spell-check-setting.ts
  packages/frontend/core/src/modules/explorer/views/sections/favorites/index.tsx
  packages/frontend/core/src/modules/favorite/constant.ts
  packages/frontend/core/src/modules/favorite/entities/favorite-list.ts
  packages/frontend/core/src/modules/favorite/index.ts
  packages/frontend/core/src/modules/favorite/services/old/adapter.ts
  packages/frontend/core/src/modules/favorite/stores/favorite.ts
  packages/frontend/core/src/modules/organize/constants.ts
  packages/frontend/core/src/modules/userspace/entities/user-db.ts
  packages/frontend/core/src/modules/userspace/schema/index.ts
  packages/frontend/core/src/modules/workspace-engine/impls/cloud.ts
  packages/frontend/core/src/modules/workspace-engine/utils/base64.ts
  packages/frontend/core/src/utils/fuzzy-match.ts
  packages/frontend/i18n/src/i18next.ts
  packages/frontend/i18n/src/utils/time.ts
  scripts/setup/vi-mock.ts
  yarn.lock
Labels: mod:infra, mod:i18n, mod:component, app:electron, mod:dev, test, app:core

#9153 chore(server): update env example and docs
  docs/developing-server.md
  packages/backend/server/.env.example
Labels: docs, app:server

#9163 chore: upgrade to eslint9
  .eslintignore
  .eslintrc.js
  eslint.config.mjs
  oxlint.json
  package.json
  packages/backend/server/src/plugins/copilot/providers/fal.ts
  packages/backend/server/src/plugins/oauth/providers/oidc.ts
  packages/backend/server/tests/utils/copilot.ts
  packages/common/infra/src/framework/core/components/component.ts
  packages/common/infra/src/framework/core/components/entity.ts
  packages/common/infra/src/framework/core/components/scope.ts
  packages/common/infra/src/framework/core/types.ts
  packages/common/infra/src/framework/react/index.tsx
  packages/common/infra/src/modules/db/services/db.ts
  packages/common/nbstore/src/op/index.ts
  packages/common/nbstore/src/storage/index.ts
  packages/frontend/component/src/components/auth-components/password-input/index.tsx
  packages/frontend/component/src/lit-react/create-component.ts
  packages/frontend/component/src/ui/dnd/types.ts
  packages/frontend/core/src/blocksuite/presets/ai/_common/components/ask-ai-button.ts
  packages/frontend/core/src/blocksuite/presets/ai/chat-panel/chat-cards.ts
  packages/frontend/core/src/blocksuite/presets/ai/chat-panel/chat-panel-messages.ts
  packages/frontend/core/src/blocksuite/presets/ai/entries/slash-menu/setup-slash-menu.ts
  packages/frontend/core/src/blocksuite/presets/ai/peek-view/chat-block-peek-view.ts
  packages/frontend/core/src/blocksuite/presets/ai/utils/selection-utils.ts
  packages/frontend/core/src/desktop/dialogs/setting/general-setting/plans/plan-card.tsx
  packages/frontend/core/src/desktop/dialogs/setting/workspace-setting/new-workspace-setting-detail/members/cloud-members-panel.tsx
  packages/frontend/core/src/mobile/components/explorer/nodes/folder/index.tsx
  packages/frontend/core/src/modules/cloud/entities/subscription.ts
  packages/frontend/core/src/modules/dialogs/constant.ts
  packages/frontend/core/src/modules/explorer/views/nodes/folder/index.tsx
  packages/frontend/core/src/modules/organize/entities/folder-node.ts
  packages/frontend/core/src/modules/workspace-engine/impls/cloud.ts
  packages/frontend/core/src/utils/navigable-history.ts
  packages/frontend/i18n/src/utils/time.ts
  packages/frontend/track/src/events.ts
  yarn.lock
Labels: mod:infra, mod:i18n, mod:component, app:server, test, app:core

#9167 fix(core): handle errors on the invite page
  packages/frontend/core/src/desktop/pages/expired/index.tsx
  packages/frontend/core/src/desktop/pages/invite/index.tsx
  packages/frontend/i18n/src/resources/en.json
Labels: mod:i18n, app:core

#9143 fix(mobile): date picker style
  packages/frontend/core/src/components/doc-properties/types/date.tsx
Labels: app:core

#9144 fix(mobile): hide scrollbar
  packages/frontend/component/src/ui/scrollbar/index.css.ts
  packages/frontend/component/src/ui/scrollbar/scrollable.tsx
Labels: mod:component

#9147 fix(mobile): doc info title max width
  packages/frontend/component/src/ui/menu/mobile/styles.css.ts
Labels: mod:component

#9148 chore: improve links test cases
  tests/affine-local/e2e/links.spec.ts
Labels: test

#9141 chore(component): update button and input border color
  packages/frontend/component/src/ui/button/button.css.ts
  packages/frontend/component/src/ui/input/style.css.ts
Labels: mod:component

#9142 fix(component): mobile toast dark mode
  packages/frontend/component/src/ui/notification/mobile/notification-center.tsx
Labels: mod:component

#9168 feat(server): always send invite email
  packages/backend/server/src/core/workspaces/resolvers/team.ts
  packages/frontend/core/src/desktop/dialogs/setting/workspace-setting/new-workspace-setting-detail/members/member-list.tsx
  packages/frontend/core/src/desktop/dialogs/setting/workspace-setting/new-workspace-setting-detail/members/member-option.tsx
Labels: app:server, app:core

#9171 chore(server): cleanup team impl
  packages/backend/server/src/base/event/def.ts
  packages/backend/server/src/core/permission/service.ts
  packages/backend/server/src/core/workspaces/resolvers/service.ts
  packages/backend/server/src/core/workspaces/resolvers/team.ts
  packages/backend/server/src/core/workspaces/resolvers/workspace.ts
  packages/backend/server/src/plugins/payment/types.ts
Labels: app:server

#9159 fix(server): unsplash path mapping
  packages/backend/server/src/plugins/copilot/controller.ts
  packages/backend/server/tests/copilot.e2e.ts
  packages/backend/server/tests/utils/copilot.ts
Labels: app:server, test

#9174 chore(core): use flexbox to stretch editor height
  packages/frontend/core/src/components/blocksuite/block-suite-editor/lit-adaper.tsx
  packages/frontend/core/src/components/blocksuite/block-suite-editor/styles.css.ts
Labels: app:core

#9164 feat(core): support ai insert image, mindmap, slides and make it real in page mode
  packages/common/env/package.json
  packages/common/infra/package.json
  packages/frontend/apps/android/package.json
  packages/frontend/apps/electron/package.json
  packages/frontend/apps/ios/package.json
  packages/frontend/apps/mobile/package.json
  packages/frontend/component/package.json
  packages/frontend/core/package.json
  packages/frontend/core/src/blocksuite/presets/ai/_common/components/ask-ai-toolbar.ts
  packages/frontend/core/src/blocksuite/presets/ai/_common/config.ts
  packages/frontend/core/src/blocksuite/presets/ai/actions/answer-renderer.ts
  packages/frontend/core/src/blocksuite/presets/ai/actions/consts.ts
  packages/frontend/core/src/blocksuite/presets/ai/actions/doc-handler.ts
  packages/frontend/core/src/blocksuite/presets/ai/actions/edgeless-handler.ts
  packages/frontend/core/src/blocksuite/presets/ai/actions/edgeless-response.ts
  packages/frontend/core/src/blocksuite/presets/ai/actions/page-response.ts
  packages/frontend/core/src/blocksuite/presets/ai/actions/types.ts
  packages/frontend/core/src/blocksuite/presets/ai/ai-panel.ts
  packages/frontend/core/src/blocksuite/presets/ai/chat-panel/chat-cards.ts
  packages/frontend/core/src/blocksuite/presets/ai/chat-panel/chat-panel-messages.ts
  packages/frontend/core/src/blocksuite/presets/ai/chat-panel/index.ts
  packages/frontend/core/src/blocksuite/presets/ai/entries/edgeless/actions-config.ts
  packages/frontend/core/src/blocksuite/presets/ai/entries/edgeless/index.ts
  packages/frontend/core/src/blocksuite/presets/ai/entries/format-bar/setup-format-bar.ts
  packages/frontend/core/src/blocksuite/presets/ai/entries/slash-menu/setup-slash-menu.ts
  packages/frontend/core/src/blocksuite/presets/ai/messages/mindmap.ts
  packages/frontend/core/src/blocksuite/presets/ai/messages/slides-renderer.ts
  packages/frontend/core/src/blocksuite/presets/ai/messages/wrapper.ts
  packages/frontend/core/src/blocksuite/presets/ai/provider.ts
  packages/frontend/core/src/blocksuite/presets/ai/slides/index.ts
  packages/frontend/core/src/blocksuite/presets/ai/slides/template.ts
  packages/frontend/core/src/blocksuite/presets/ai/utils/ai-widgets.ts
  packages/frontend/core/src/blocksuite/presets/ai/utils/context.ts
  packages/frontend/core/src/blocksuite/presets/ai/utils/template-job.ts
  packages/frontend/core/src/desktop/pages/workspace/detail-page/detail-page.tsx
  tests/affine-cloud-copilot/e2e/copilot.spec.ts
  tools/cli/package.json
  yarn.lock
Labels: mod:infra, mod:env, mod:component, app:electron, mod:dev, test, app:core

#9177 fix(core): redudant drop target register
  packages/frontend/component/src/ui/dnd/drop-target.ts
Labels: mod:component

#9013 fix(infra): memory leak
  packages/common/infra/src/framework/core/event.ts
  packages/common/infra/src/framework/core/provider.ts
  packages/common/infra/src/modules/workspace/entities/workspace.ts
  packages/common/infra/src/modules/workspace/services/repo.ts
  packages/common/infra/src/modules/workspace/services/workspace.ts
  packages/common/infra/src/modules/workspace/testing/testing-provider.ts
  packages/frontend/component/src/utils/index.ts
  packages/frontend/component/src/utils/observe-intersection.ts
  packages/frontend/core/src/blocksuite/presets/_common/utils/markdown-utils.ts
  packages/frontend/core/src/blocksuite/presets/ai/messages/slides-renderer.ts
  packages/frontend/core/src/components/blocksuite/block-suite-editor/blocksuite-editor.tsx
  packages/frontend/core/src/components/page-list/page-content-preview.tsx
  packages/frontend/core/src/components/page-list/page-group.tsx
  packages/frontend/core/src/mobile/components/doc-card/index.tsx
  packages/frontend/core/src/modules/docs-search/entities/docs-indexer.ts
  packages/frontend/core/src/modules/docs-search/schema.ts
  packages/frontend/core/src/modules/docs-search/services/docs-search.ts
  packages/frontend/core/src/modules/docs-search/worker/in-worker.ts
  packages/frontend/core/src/modules/docs-search/worker/out-worker.ts
  packages/frontend/core/src/modules/permissions/entities/permission.ts
  packages/frontend/core/src/modules/permissions/services/permission.ts
  packages/frontend/core/src/modules/quota/services/quota.ts
  packages/frontend/core/src/modules/share-doc/entities/share-docs-list.ts
  packages/frontend/core/src/modules/share-doc/services/share-docs-list.ts
  packages/frontend/core/src/modules/workspace-engine/impls/cloud.ts
  packages/frontend/core/src/modules/workspace-engine/impls/in-worker.ts
  packages/frontend/core/src/modules/workspace-engine/impls/local.ts
  packages/frontend/core/src/modules/workspace-engine/impls/out-worker.ts
  packages/frontend/core/src/modules/workspace-engine/impls/worker-ops.ts
  tests/affine-local/e2e/local-first-avatar.spec.ts
Labels: mod:infra, mod:component, test, app:core

#9179 fix(core): in page mode, AI replace selection did not correctly replace the selected text
  packages/frontend/core/src/blocksuite/presets/ai/utils/editor-actions.ts
Labels: app:core

#9172 fix(mobile): editor error boundary is not fully visible
  packages/frontend/core/src/components/affine/affine-error-boundary/affine-error-fallback.tsx
  packages/frontend/core/src/components/affine/affine-error-boundary/index.tsx
  packages/frontend/core/src/mobile/pages/workspace/detail/mobile-detail-page.css.ts
  packages/frontend/core/src/mobile/pages/workspace/detail/mobile-detail-page.tsx
Labels: app:core

#9170 fix(mobile): can navigate in journal conflicts
  packages/frontend/core/src/mobile/pages/workspace/detail/journal-conflict-block.css.ts
  packages/frontend/core/src/mobile/pages/workspace/detail/journal-conflict-block.tsx
Labels: app:core

#9016 feat(nbstore): add awareness storage&sync&frontend
  packages/common/nbstore/package.json
  packages/common/nbstore/src/__tests__/frontend.spec.ts
  packages/common/nbstore/src/__tests__/sync.spec.ts
  packages/common/nbstore/src/frontend/awareness.ts
  packages/common/nbstore/src/frontend/blob.ts
  packages/common/nbstore/src/frontend/doc.ts
  packages/common/nbstore/src/impls/broadcast-channel/awareness.ts
  packages/common/nbstore/src/impls/broadcast-channel/channel.ts
  packages/common/nbstore/src/impls/cloud/awareness.ts
  packages/common/nbstore/src/impls/cloud/doc.ts
  packages/common/nbstore/src/impls/cloud/index.ts
  packages/common/nbstore/src/impls/cloud/socket.ts
  packages/common/nbstore/src/impls/idb/db.ts
  packages/common/nbstore/src/storage/awareness.ts
  packages/common/nbstore/src/storage/index.ts
  packages/common/nbstore/src/storage/storage.ts
  packages/common/nbstore/src/sync/awareness/index.ts
  packages/common/nbstore/src/sync/blob/index.ts
  packages/common/nbstore/src/sync/doc/index.ts
  packages/common/nbstore/src/sync/index.ts
  yarn.lock
Labels: test

#9135 feat(core): add sync paused dialog
  packages/frontend/core/src/components/workspace-selector/index.tsx
  packages/frontend/core/src/desktop/dialogs/setting/workspace-setting/billing/index.tsx
  packages/frontend/core/src/desktop/dialogs/setting/workspace-setting/new-workspace-setting-detail/members/cloud-members-panel.tsx
  packages/frontend/core/src/desktop/dialogs/setting/workspace-setting/new-workspace-setting-detail/members/member-list.tsx
  packages/frontend/core/src/desktop/dialogs/setting/workspace-setting/new-workspace-setting-detail/members/member-option.tsx
  packages/frontend/core/src/desktop/pages/upgrade-to-team/index.tsx
  packages/frontend/core/src/desktop/pages/upgrade-to-team/styles.css.ts
  packages/frontend/core/src/desktop/pages/workspace/layouts/workspace-layout.tsx
  packages/frontend/core/src/modules/permissions/entities/permission.ts
  packages/frontend/core/src/modules/quota/index.ts
  packages/frontend/core/src/modules/quota/views/quota-check.tsx
  packages/frontend/core/src/modules/quota/views/styles.css.ts
  packages/frontend/i18n/src/i18n-completenesses.json
  packages/frontend/i18n/src/resources/en.json
  tests/affine-cloud/e2e/workspace.spec.ts
Labels: mod:i18n, test, app:core

#9182 test(server): add more test for team workspace
  packages/backend/server/src/base/error/def.ts
  packages/backend/server/src/base/error/errors.gen.ts
  packages/backend/server/src/core/workspaces/resolvers/team.ts
  packages/backend/server/src/schema.gql
  packages/backend/server/tests/team.e2e.ts
  packages/backend/server/tests/utils/invite.ts
  packages/backend/server/tests/utils/workspace.ts
  packages/frontend/graphql/src/schema.ts
Labels: app:server, test

#9188 fix(server): send declined email
  packages/backend/server/src/base/event/def.ts
  packages/backend/server/src/core/permission/service.ts
  packages/backend/server/src/core/workspaces/resolvers/service.ts
  packages/backend/server/src/core/workspaces/resolvers/team.ts
  packages/backend/server/tests/team.e2e.ts
Labels: app:server, test

#9186 fix(core): add visit workspace button to team upgrade success page
  packages/frontend/component/src/components/member-components/invite-team-modal/index.tsx
  packages/frontend/component/src/components/member-components/invite-team-modal/link-invite.tsx
  packages/frontend/core/src/components/hooks/affine/use-subscription-notify.tsx
  packages/frontend/core/src/desktop/dialogs/setting/general-setting/plans/plan-card.tsx
  packages/frontend/core/src/desktop/dialogs/setting/workspace-setting/new-workspace-setting-detail/members/cloud-members-panel.tsx
  packages/frontend/core/src/desktop/pages/upgrade-success/team/index.tsx
  packages/frontend/core/src/desktop/pages/upgrade-to-team/index.tsx
Labels: mod:component, app:core

#9190 fix(core): fix no page root error
  packages/frontend/core/src/components/blocksuite/block-suite-editor/blocksuite-editor.tsx
Labels: app:core

#9192 feat(core): lazy load doc card
  packages/frontend/core/src/mobile/components/doc-card/index.tsx
Labels: app:core

#9187 feat(nbstore): remove async on connection api
  packages/common/nbstore/src/__tests__/frontend.spec.ts
  packages/common/nbstore/src/__tests__/sync.spec.ts
  packages/common/nbstore/src/connection/connection.ts
  packages/common/nbstore/src/connection/shared-connection.ts
  packages/common/nbstore/src/impls/broadcast-channel/channel.ts
  packages/common/nbstore/src/impls/cloud/awareness.ts
  packages/common/nbstore/src/impls/cloud/doc.ts
  packages/common/nbstore/src/impls/cloud/socket.ts
  packages/common/nbstore/src/impls/idb/db.ts
  packages/common/nbstore/src/impls/idb/doc.ts
  packages/common/nbstore/src/impls/idb/v1/db.ts
  packages/common/nbstore/src/impls/sqlite/db.ts
  packages/common/nbstore/src/op/consumer.ts
  packages/common/nbstore/src/storage/index.ts
  packages/common/nbstore/src/storage/storage.ts
  packages/frontend/apps/electron/src/helper/exposed.ts
  packages/frontend/apps/electron/src/helper/nbstore/db.ts
  packages/frontend/apps/electron/src/helper/nbstore/handlers.ts
  packages/frontend/apps/electron/src/helper/nbstore/index.ts
  packages/frontend/apps/electron/src/helper/nbstore/storage.ts
Labels: app:electron, test

#9194 feat: enable new dnd flag
  packages/common/infra/src/modules/feature-flag/constant.ts
  tests/affine-local/e2e/drag-page.spec.ts
Labels: mod:infra, test, merge

#9193 chore: temporarily hide link invitation
  packages/frontend/component/src/components/member-components/invite-team-modal/modal-content.tsx
  packages/frontend/core/src/desktop/dialogs/setting/workspace-setting/new-workspace-setting-detail/members/member-list.tsx
  packages/frontend/core/src/desktop/dialogs/setting/workspace-setting/new-workspace-setting-detail/members/member-option.tsx
  packages/frontend/core/src/modules/cloud/entities/subscription.ts
  packages/frontend/i18n/src/resources/en.json
Labels: mod:i18n, mod:component, app:core

#9165 feat(core): impl doc display meta extension
  packages/frontend/core/src/components/affine/reference-link/index.tsx
  packages/frontend/core/src/components/blocksuite/block-suite-editor/specs/custom/root-block.ts
  packages/frontend/core/src/components/blocksuite/block-suite-editor/specs/custom/spec-patchers.tsx
  packages/frontend/core/src/mobile/components/doc-card/index.tsx
  packages/frontend/core/src/mobile/dialogs/selectors/doc-selector.tsx
  packages/frontend/core/src/mobile/pages/workspace/detail/mobile-detail-page.tsx
  packages/frontend/core/src/modules/doc-display-meta/index.ts
  packages/frontend/core/src/modules/doc-display-meta/services/doc-display-meta.ts
Labels: mod:infra, mod:env, mod:component, app:electron, mod:dev, app:server, app:core, merge

#9195 fix(core): adjust member limit dialog
  packages/frontend/component/src/components/affine-other-page-layout/assets/dot-bg.dark.png
  packages/frontend/component/src/components/affine-other-page-layout/assets/dot-bg.light.png
  packages/frontend/core/src/desktop/dialogs/setting/workspace-setting/new-workspace-setting-detail/members/cloud-members-panel.tsx
  packages/frontend/core/src/desktop/dialogs/setting/workspace-setting/new-workspace-setting-detail/style.css.ts
  packages/frontend/i18n/src/resources/en.json
Labels: mod:i18n, mod:component, app:core

#9101 feat(core): add app version to request header
  packages/common/nbstore/src/impls/cloud/blob.ts
  packages/frontend/core/src/modules/cloud/services/fetch.ts
Labels: mod:infra, mod:i18n, app:server, test, app:core

#9201 fix(core): dnd should not create new doc on dragging start
  packages/frontend/core/src/modules/dnd/services/index.ts
Labels: app:core

#9200 fix(mobile): disable blob sync on mobile
  packages/common/infra/src/modules/workspace/entities/engine.ts
Labels: mod:infra

#9206 chore(core): some dnd events
  packages/frontend/component/src/ui/dnd/draggable.ts
  packages/frontend/core/src/desktop/pages/workspace/detail-page/detail-page-header.tsx
  packages/frontend/core/src/modules/app-tabs-header/views/app-tabs-header.tsx
  packages/frontend/core/src/modules/dnd/services/index.ts
  packages/frontend/core/src/modules/explorer/views/nodes/collection/index.tsx
  packages/frontend/core/src/modules/explorer/views/nodes/doc/index.tsx
  packages/frontend/core/src/modules/explorer/views/nodes/folder/index.tsx
  packages/frontend/core/src/modules/explorer/views/nodes/tag/index.tsx
  packages/frontend/core/src/modules/explorer/views/sections/favorites/index.tsx
  packages/frontend/core/src/types/dnd.ts
  packages/frontend/track/src/events.ts
Labels: mod:component, app:core

#9203 ci: remove nx-cloud
  .github/actions/build-rust/action.yml
  .github/workflows/build-images.yml
  .github/workflows/build-test.yml
  .github/workflows/copilot-test.yml
  .github/workflows/deploy.yml
  .github/workflows/release-desktop.yml
  .github/workflows/release-mobile.yml
  docs/building-desktop-client-app.md
  nx.json
  package.json
  packages/backend/native/package.json
  packages/backend/native/project.json
  packages/frontend/apps/android/project.json
  packages/frontend/apps/electron/project.json
  packages/frontend/apps/ios/project.json
  packages/frontend/apps/mobile/project.json
  packages/frontend/apps/web/project.json
  packages/frontend/i18n/project.json
  packages/frontend/native/package.json
  packages/frontend/native/project.json
  yarn.lock
Labels: docs, mod:i18n, app:electron, mod:native, mod:server-native

#9210 fix(core): indexer worker crash on unexpected markdown indent
  packages/frontend/core/src/modules/docs-search/worker/in-worker.ts
Labels: app:core

#9204 fix(core): adjust admin permission
  packages/frontend/component/src/components/member-components/invite-team-modal/modal-content.tsx
  packages/frontend/core/src/desktop/dialogs/setting/workspace-setting/new-workspace-setting-detail/members/cloud-members-panel.tsx
  packages/frontend/core/src/desktop/dialogs/setting/workspace-setting/new-workspace-setting-detail/members/member-list.tsx
  packages/frontend/core/src/desktop/dialogs/setting/workspace-setting/new-workspace-setting-detail/members/member-option.tsx
  packages/frontend/graphql/src/graphql/get-members-by-workspace-id.gql
  packages/frontend/graphql/src/graphql/index.ts
  packages/frontend/graphql/src/schema.ts
Labels: mod:component, app:core

#9198 chore(core): add event tracking for attachments
  packages/frontend/core/src/components/attachment-viewer/pdf-viewer.tsx
  packages/frontend/core/src/modules/peek-view/entities/peek-view.ts
  packages/frontend/core/src/modules/peek-view/view/peek-view-controls.tsx
  packages/frontend/track/src/events.ts
Labels: app:core

#9215 fix(mobile): add missing mobile date selector and remove focus style from date picker in mobile
  packages/frontend/component/src/ui/date-picker/calendar/calendar.css.ts
  packages/frontend/core/src/mobile/dialogs/index.tsx
  packages/frontend/core/src/mobile/dialogs/selectors/date-selector.tsx
Labels: mod:component, app:core, merge

#9214 chore: bump theme
  packages/frontend/component/package.json
  packages/frontend/core/package.json
  yarn.lock
Labels: mod:component, app:core

#9217 chore: adjust input style
  packages/frontend/component/src/ui/input/style.css.ts
  packages/frontend/component/src/ui/modal/confirm-modal.tsx
  packages/frontend/core/src/components/tags/styles.css.ts
  packages/frontend/core/src/desktop/pages/upgrade-to-team/styles.css.ts
Labels: mod:component, app:core

#9208 feat(component, mobile): masonry layout with virtual scroll support, adapted with all docs
  packages/frontend/component/src/index.ts
  packages/frontend/component/src/ui/masonry/index.ts
  packages/frontend/component/src/ui/masonry/masonry.stories.tsx
  packages/frontend/component/src/ui/masonry/masonry.tsx
  packages/frontend/component/src/ui/masonry/styles.css.ts
  packages/frontend/component/src/ui/masonry/type.ts
  packages/frontend/component/src/ui/masonry/utils.ts
  packages/frontend/core/src/mobile/components/app-tabs/index.tsx
  packages/frontend/core/src/mobile/components/app-tabs/styles.css.ts
  packages/frontend/core/src/mobile/components/doc-card/index.tsx
  packages/frontend/core/src/mobile/components/page/index.tsx
  packages/frontend/core/src/mobile/components/page/styles.css.ts
  packages/frontend/core/src/mobile/pages/workspace/all.tsx
  packages/frontend/core/src/mobile/pages/workspace/collection/detail.tsx
  packages/frontend/core/src/mobile/styles/mobile.css.ts
  packages/frontend/core/src/mobile/views/all-docs/collection/detail.tsx
  packages/frontend/core/src/mobile/views/all-docs/doc/list.tsx
  packages/frontend/core/src/mobile/views/all-docs/doc/masonry.tsx
  packages/frontend/core/src/mobile/views/all-docs/tag/detail-header.tsx
  packages/frontend/core/src/mobile/views/all-docs/tag/detail.tsx
Labels: mod:component, app:core
