Repository toeverything/AFFiNE, pull requests merged in 2024-11, with the labels that each got.

#8614 feat(core): add edgelessTheme property and edgelessDefault theme setting
  packages/common/env/package.json
  packages/common/infra/package.json
  packages/common/infra/src/index.ts
  packages/common/infra/src/modules/doc/constants.ts
  packages/common/infra/src/modules/theme/entities/theme.ts
  packages/common/infra/src/modules/theme/index.ts
  packages/common/infra/src/modules/theme/services/theme.ts
  packages/frontend/apps/android/package.json
  packages/frontend/apps/electron/package.json
  packages/frontend/apps/ios/package.json
  packages/frontend/apps/mobile/package.json
  packages/frontend/component/package.json
  packages/frontend/component/src/components/theme-provider/index.tsx
  packages/frontend/core/package.json
  packages/frontend/core/src/components/affine/setting-modal/general-setting/editor/edgeless/edgeless.tsx
  packages/frontend/core/src/components/affine/setting-modal/general-setting/editor/edgeless/general.tsx
  packages/frontend/core/src/components/blocksuite/block-suite-editor/specs/custom/root-block.ts
  packages/frontend/core/src/components/blocksuite/block-suite-page-list/utils.tsx
  packages/frontend/core/src/components/doc-properties/types/constant.tsx
  packages/frontend/core/src/components/doc-properties/types/edgeless-theme.css.ts
  packages/frontend/core/src/components/doc-properties/types/edgeless-theme.tsx
  packages/frontend/core/src/components/hooks/use-journal.ts
  packages/frontend/core/src/modules/editor-setting/schema.ts
  packages/frontend/i18n/src/resources/en.json
  packages/frontend/i18n/src/resources/zh-Hans.json
  tests/affine-local/e2e/page-properties.spec.ts
  tools/cli/package.json
  yarn.lock
Labels: mod:infra, mod:i18n, mod:env, mod:component, app:electron, mod:dev, test, app:core

#8653 fix(mobile): incorrect height of keyboard toolbar in ios
  packages/frontend/apps/ios/App/Podfile
  packages/frontend/apps/ios/App/Podfile.lock
  packages/frontend/apps/ios/capacitor.config.ts
  packages/frontend/apps/ios/package.json
  packages/frontend/apps/ios/src/setup.ts
  packages/frontend/apps/ios/src/virtual-keyboard.ts
  packages/frontend/core/src/components/blocksuite/block-suite-editor/specs/custom/root-block.ts
  packages/frontend/core/src/components/blocksuite/block-suite-editor/specs/custom/widgets/keyboard-toolbar.ts
  yarn.lock
Labels: app:core, merge

#8655 revert(electron): revert http protocl in electron
  packages/frontend/apps/electron/scripts/generate-assets.ts
  packages/frontend/apps/electron/src/main/config.ts
  packages/frontend/apps/electron/src/main/constants.ts
  packages/frontend/apps/electron/src/main/protocol.ts
  packages/frontend/apps/electron/src/main/security-restrictions.ts
  packages/frontend/apps/electron/src/main/windows-manager/tab-views.ts
Labels: app:electron

#8658 fix(core): unable to hide doc info
  packages/frontend/core/src/components/blocksuite/block-suite-editor/lit-adaper.tsx
  packages/frontend/core/src/components/doc-properties/table.css.ts
Labels: app:core

#8656 fix(electron): add missing configureAppThemeModule to shell
  packages/frontend/apps/electron/renderer/shell/app.tsx
  packages/frontend/graphql/src/schema.ts
  packages/frontend/i18n/src/i18n-completenesses.json
Labels: mod:i18n, app:electron

#8657 fix(core): unnamed doc title of db properties
  packages/frontend/core/src/modules/doc-info/views/database-properties/doc-database-backlink-info.tsx
Labels: app:core

#8661 fix(electron): deep link handling without running instance
  packages/frontend/apps/electron/scripts/common.ts
  packages/frontend/apps/electron/src/main/deep-link.ts
  packages/frontend/apps/electron/src/main/events.ts
Labels: app:electron

#8662 fix(core): dropdown menu cannot be hovered when it is at the bottom of doc
  packages/frontend/core/src/components/blocksuite/block-suite-editor/styles.css.ts
Labels: app:core

#8660 fix(server): wrong public path for selfhosted doc renderer
  packages/backend/server/src/core/doc-renderer/controller.ts
Labels: app:server

#8659 fix(core): unregister global error handler once app running
  tools/cli/src/webpack/error-handler.js
Labels: mod:dev

#8652 feat: optimize import export event tracker
  packages/frontend/core/src/components/affine/import-modal/index.tsx
  packages/frontend/core/src/components/affine/setting-modal/workspace-setting/new-workspace-setting-detail/export.tsx
  packages/frontend/core/src/components/blocksuite/block-suite-header/menu/index.tsx
  packages/frontend/core/src/components/page-list/operation-menu-items/snapshot.tsx
  packages/frontend/core/src/components/root-app-sidebar/index.tsx
  packages/frontend/i18n/src/i18n-completenesses.json
  packages/frontend/track/src/events.ts
Labels: mod:i18n, app:core

#8663 fix(core): handle uncaught ai flag
  packages/frontend/core/src/desktop/pages/workspace/detail-page/detail-page.tsx
  tests/affine-local/e2e/ai-land.spec.ts
  tests/affine-local/e2e/page-properties.spec.ts
Labels: test, app:core

#8666 fix: old document edgelessColorTheme shows auto but always render white
  packages/frontend/core/src/components/blocksuite/block-suite-editor/specs/custom/root-block.ts
Labels: app:core

#8667 fix: open in app card style
  packages/frontend/core/src/components/affine/setting-modal/general-setting/appearance/links.tsx
  packages/frontend/core/src/components/layouts/workspace-layout.tsx
  packages/frontend/core/src/components/root-app-sidebar/index.tsx
  packages/frontend/core/src/desktop/pages/workspace/share/share-page.css.ts
  packages/frontend/core/src/desktop/pages/workspace/share/share-page.tsx
  packages/frontend/core/src/modules/app-sidebar/views/open-in-app-card/open-in-app-card.css.ts
  packages/frontend/core/src/modules/app-sidebar/views/open-in-app-card/open-in-app-card.tsx
  packages/frontend/i18n/src/resources/en.json
Labels: mod:i18n, app:core

#8643 fix: should toggle empty input when generate an image
  packages/frontend/core/src/blocksuite/presets/ai/_common/config.ts
  packages/frontend/core/src/blocksuite/presets/ai/actions/consts.ts
  packages/frontend/core/src/blocksuite/presets/ai/actions/edgeless-handler.ts
  packages/frontend/core/src/blocksuite/presets/ai/utils/selection-utils.ts
Labels: app:core

#8678 fix: should pass std to AffineEditorContainer
  packages/frontend/core/src/components/blocksuite/block-suite-editor/blocksuite-editor-container.tsx
Labels: app:core

#8628 feat(mobile): explorer create/rename operation
  packages/frontend/component/src/components/member-components/invite-modal.tsx
  packages/frontend/component/src/ui/button/button.tsx
  packages/frontend/component/src/ui/input/row-input.tsx
  packages/frontend/component/src/ui/menu/desktop/sub.tsx
  packages/frontend/component/src/ui/menu/index.ts
  packages/frontend/component/src/ui/menu/menu.types.ts
  packages/frontend/component/src/ui/menu/mobile/context.ts
  packages/frontend/component/src/ui/menu/mobile/hook.ts
  packages/frontend/component/src/ui/menu/mobile/root.tsx
  packages/frontend/component/src/ui/menu/mobile/sub.tsx
  packages/frontend/core/src/components/affine/setting-modal/workspace-setting/new-workspace-setting-detail/delete-leave-workspace/delete/index.tsx
  packages/frontend/core/src/components/page-list/operation-menu-items/export.tsx
  packages/frontend/core/src/components/page-list/operation-menu-items/snapshot.tsx
  packages/frontend/core/src/mobile/components/explorer/nodes/collection/dialog.tsx
  packages/frontend/core/src/mobile/components/explorer/nodes/collection/index.tsx
  packages/frontend/core/src/mobile/components/explorer/nodes/collection/operations.tsx
  packages/frontend/core/src/mobile/components/explorer/nodes/doc/dialog.tsx
  packages/frontend/core/src/mobile/components/explorer/nodes/doc/index.tsx
  packages/frontend/core/src/mobile/components/explorer/nodes/doc/operations.tsx
  packages/frontend/core/src/mobile/components/explorer/nodes/folder/dialog.tsx
  packages/frontend/core/src/mobile/components/explorer/nodes/folder/index.tsx
  packages/frontend/core/src/mobile/components/explorer/nodes/tag/dialog.css.ts
  packages/frontend/core/src/mobile/components/explorer/nodes/tag/dialog.tsx
  packages/frontend/core/src/mobile/components/explorer/nodes/tag/index.tsx
  packages/frontend/core/src/mobile/components/explorer/nodes/tag/operations.tsx
  packages/frontend/core/src/mobile/components/explorer/sections/collections/index.tsx
  packages/frontend/core/src/mobile/components/explorer/sections/organize/index.tsx
  packages/frontend/core/src/mobile/components/explorer/sections/tags/index.tsx
  packages/frontend/core/src/mobile/components/explorer/tree/node.tsx
  packages/frontend/core/src/mobile/components/index.ts
  packages/frontend/core/src/mobile/components/rename/content.css.ts
  packages/frontend/core/src/mobile/components/rename/content.tsx
  packages/frontend/core/src/mobile/components/rename/dialog.css.ts
  packages/frontend/core/src/mobile/components/rename/dialog.tsx
  packages/frontend/core/src/mobile/components/rename/index.tsx
  packages/frontend/core/src/mobile/components/rename/sub-menu.tsx
  packages/frontend/core/src/mobile/components/rename/type.ts
  packages/frontend/core/src/modules/create-workspace/views/dialog.tsx
  packages/frontend/core/src/modules/explorer/views/tree/node.tsx
  packages/frontend/i18n/src/i18n-completenesses.json
  packages/frontend/i18n/src/resources/en.json
  tests/affine-mobile/e2e/explorer-folder.spec.ts
  tests/affine-mobile/e2e/explorer-tag.spec.ts
  tests/affine-mobile/e2e/utils.ts
Labels: mod:i18n, mod:component, test, app:core

#8649 feat(mobile): manage docs/tags/collections in explorer
  packages/frontend/component/src/ui/modal/confirm-modal.css.ts
  packages/frontend/component/src/ui/modal/confirm-modal.tsx
  packages/frontend/component/src/ui/modal/modal.tsx
  packages/frontend/component/src/ui/modal/styles.css.ts
  packages/frontend/core/src/components/page-list/selector/index.ts
  packages/frontend/core/src/components/page-list/selector/use-select-dialog.tsx
  packages/frontend/core/src/mobile/components/explorer/nodes/folder/index.tsx
  packages/frontend/core/src/mobile/components/explorer/nodes/tag/operations.tsx
  packages/frontend/core/src/mobile/components/index.ts
  packages/frontend/core/src/mobile/components/selector/collection-selector.tsx
  packages/frontend/core/src/mobile/components/selector/doc-selector.tsx
  packages/frontend/core/src/mobile/components/selector/generic-selector.tsx
  packages/frontend/core/src/mobile/components/selector/generic.css.ts
  packages/frontend/core/src/mobile/components/selector/index.tsx
  packages/frontend/core/src/mobile/components/selector/tag-selector.tsx
  packages/frontend/core/src/mobile/styles/mobile.css.ts
  packages/frontend/i18n/src/i18n-completenesses.json
  packages/frontend/i18n/src/resources/en.json
Labels: mod:i18n, mod:component, app:core

#8681 fix(server): reduce yjs binary size
  packages/backend/server/src/core/doc/options.ts
Labels: app:server

#8682 fix(server): avoid preserved html meta tag name
  packages/backend/server/src/core/doc-renderer/controller.ts
Labels: app:server

#8665 fix(core): copilot test condition & retry
  .github/workflows/build-test.yml
  scripts/detect-blocksuite-update.mjs
  tests/affine-cloud-copilot/e2e/copilot.spec.ts
Labels: mod:dev, test

#8680 Update README.md
  README.md
Labels: docs

#8684 feat(core): add tooltips to the doc properties in the sidebar
  packages/frontend/core/src/components/doc-properties/sidebar/index.tsx
  packages/frontend/core/src/components/doc-properties/types/constant.tsx
  packages/frontend/i18n/src/i18n-completenesses.json
  packages/frontend/i18n/src/resources/en.json
  packages/frontend/i18n/src/resources/zh-Hans.json
  tests/affine-local/e2e/page-properties.spec.ts
Labels: mod:i18n, test, app:core

#8677 fix(core): open in app card wording
  packages/frontend/i18n/src/resources/en.json
Labels: mod:i18n

#8687 fix(core): the full width layout feature does not work
  packages/frontend/core/src/components/page-detail-editor.css.ts
Labels: app:core

#8683 fix(electron): active view sometimes does not get focused
  packages/frontend/apps/electron/src/main/application-menu/create.ts
  packages/frontend/apps/electron/src/main/windows-manager/tab-views.ts
Labels: app:electron

#8689 fix(core): clip app element overflow content
  packages/frontend/component/src/theme/global.css
Labels: mod:component

#8694 fix(core): do not show open-in-app in mobile web browser
  packages/frontend/apps/web/src/app.tsx
  packages/frontend/core/src/components/affine/setting-modal/general-setting/appearance/index.tsx
  packages/frontend/core/src/modules/open-in-app/index.ts
  packages/frontend/core/src/modules/open-in-app/views/open-in-app-guard.tsx
Labels: app:core

#8686 feat(mobile): mobile app fallback skeleton
  packages/frontend/apps/android/src/app.tsx
  packages/frontend/apps/ios/src/app.tsx
  packages/frontend/apps/mobile/src/app.tsx
  packages/frontend/core/src/mobile/components/index.ts
  packages/frontend/core/src/mobile/components/skeletons/app-fallback.tsx
  packages/frontend/core/src/mobile/components/skeletons/index.tsx
  packages/frontend/core/src/mobile/components/workspace-selector/current-card.tsx
  packages/frontend/core/src/mobile/components/workspace-selector/index.tsx
  packages/frontend/core/src/mobile/pages/workspace/layout.tsx
Labels: app:core

#8692 fix: copilot ci condition
  .github/workflows/build-test.yml
  scripts/detect-blocksuite-update.mjs
Labels: mod:dev

#8701 chore: bump theme version, replace all typography in mobile
  packages/frontend/component/package.json
  packages/frontend/core/package.json
  packages/frontend/core/src/mobile/components/doc-card/styles.css.tsx
  packages/frontend/core/src/mobile/components/explorer/layouts/add-item-placeholder.css.ts
  packages/frontend/core/src/mobile/components/explorer/layouts/collapsible-section.css.ts
  packages/frontend/core/src/mobile/components/explorer/tree/node.css.ts
  packages/frontend/core/src/mobile/components/rename/content.css.ts
  packages/frontend/core/src/mobile/components/rename/dialog.css.ts
  packages/frontend/core/src/mobile/components/search-input/style.css.ts
  packages/frontend/core/src/mobile/components/search-result/universal-item.css.ts
  packages/frontend/core/src/mobile/components/workspace-selector/card.css.ts
  packages/frontend/core/src/mobile/components/workspace-selector/menu.css.ts
  packages/frontend/core/src/mobile/dialogs/selectors/generic.css.ts
  packages/frontend/core/src/mobile/dialogs/setting/dropdown-select.css.ts
  packages/frontend/core/src/mobile/dialogs/setting/group.css.ts
  packages/frontend/core/src/mobile/dialogs/setting/style.css.ts
  packages/frontend/core/src/mobile/dialogs/setting/user-profile/style.css.ts
  packages/frontend/core/src/mobile/dialogs/setting/user-usage/style.css.ts
  packages/frontend/core/src/mobile/views/all-docs/collection/detail.css.ts
  packages/frontend/core/src/mobile/views/all-docs/collection/styles.css.ts
  packages/frontend/core/src/mobile/views/all-docs/doc/menu.css.ts
  packages/frontend/core/src/mobile/views/all-docs/tag/detail.css.ts
  packages/frontend/core/src/mobile/views/all-docs/tag/styles.css.ts
  packages/frontend/core/src/mobile/views/search/style.css.ts
  yarn.lock
Labels: mod:component, app:core

#8631 feat(core): remember the scroll position of doc when routing forward and backward
  packages/frontend/core/src/desktop/pages/workspace/detail-page/detail-page.tsx
  packages/frontend/core/src/desktop/pages/workspace/share/share-page.tsx
  packages/frontend/core/src/mobile/pages/workspace/detail/mobile-detail-page.tsx
  packages/frontend/core/src/modules/editor/entities/editor.ts
  packages/frontend/core/src/modules/peek-view/view/doc-preview/doc-peek-view.tsx
  packages/frontend/core/src/modules/workbench/entities/view.ts
  packages/frontend/core/src/modules/workbench/view/browser-adapter.ts
Labels: app:core

#8704 fix(core): bump theme to fix full-width-layout and editor font customization
  packages/frontend/component/package.json
  packages/frontend/core/package.json
  packages/frontend/core/src/components/page-detail-editor.css.ts
  yarn.lock
Labels: mod:component, app:core

#8695 test(core): add open in app test case
  packages/frontend/core/src/modules/app-sidebar/views/open-in-app-card/open-in-app-card.tsx
  tests/affine-cloud/e2e/open-in-app.spec.ts
Labels: test, app:core

#8696 fix(core): update prompt texts for opening new doc
  packages/frontend/core/src/modules/open-in-app/views/open-in-app-page.tsx
  packages/frontend/i18n/src/resources/en.json
Labels: mod:i18n, app:core

#8700 fix(component): optimize stack notification with different height
  packages/frontend/component/src/ui/notification/desktop/notification-center.tsx
  packages/frontend/component/src/ui/notification/desktop/styles.css.ts
  packages/frontend/component/src/ui/notification/notification-center.stories.tsx
Labels: mod:component

#8698 fix(core): temporarily make AI functions not follow server configuration
  packages/frontend/core/src/components/affine/ai-onboarding/index.tsx
  packages/frontend/core/src/components/blocksuite/block-suite-editor/lit-adaper.tsx
  packages/frontend/core/src/desktop/pages/workspace/detail-page/detail-page.tsx
Labels: app:core

#8697 fix(core): adapt new database chip color scheme
  packages/frontend/core/src/modules/doc-info/views/database-properties/cells/select.tsx
  packages/frontend/core/src/modules/tag/entities/tag.ts
  packages/frontend/core/src/modules/tag/entities/utils.ts
  packages/frontend/core/src/modules/tag/index.ts
Labels: app:core

#8690 feat(core): update connector shortcut
  packages/frontend/core/src/components/hooks/affine/use-shortcuts.ts
  packages/frontend/i18n/src/resources/ar.json
  packages/frontend/i18n/src/resources/en.json
  packages/frontend/i18n/src/resources/fr.json
  packages/frontend/i18n/src/resources/ja.json
  packages/frontend/i18n/src/resources/ko.json
  packages/frontend/i18n/src/resources/pt-BR.json
  packages/frontend/i18n/src/resources/ru.json
  packages/frontend/i18n/src/resources/zh-Hans.json
  packages/frontend/i18n/src/resources/zh-Hant.json
Labels: mod:i18n, app:core

#8702 fix(ios): fix mobile blob storage
  packages/frontend/apps/ios/src/fetch.ts
  packages/frontend/core/src/components/affine/page-history-modal/data.ts
  packages/frontend/core/src/desktop/pages/workspace/share/share-page.tsx
  packages/frontend/core/src/modules/workspace-engine/impls/cloud.ts
  packages/frontend/core/src/modules/workspace-engine/impls/engine/blob-cloud.ts
Labels: app:core

#8651 chore(core): tracking events for doc properties
  packages/common/infra/src/modules/doc/stores/doc-properties.ts
  packages/frontend/core/src/components/blocksuite/block-suite-editor/lit-adaper.tsx
  packages/frontend/core/src/components/doc-properties/menu/create-doc-property.tsx
  packages/frontend/core/src/components/doc-properties/sidebar/index.tsx
  packages/frontend/core/src/components/doc-properties/table.tsx
  packages/frontend/core/src/components/doc-properties/tags-inline-editor.tsx
  packages/frontend/core/src/desktop/dialogs/doc-info/info-modal.tsx
  packages/frontend/core/src/desktop/dialogs/setting/workspace-setting/properties/index.tsx
  packages/frontend/core/src/modules/doc-info/types.ts
  packages/frontend/core/src/modules/doc-info/views/database-properties/cells/checkbox.tsx
  packages/frontend/core/src/modules/doc-info/views/database-properties/cells/date.tsx
  packages/frontend/core/src/modules/doc-info/views/database-properties/cells/link.tsx
  packages/frontend/core/src/modules/doc-info/views/database-properties/cells/number.tsx
  packages/frontend/core/src/modules/doc-info/views/database-properties/cells/progress.tsx
  packages/frontend/core/src/modules/doc-info/views/database-properties/cells/rich-text.tsx
  packages/frontend/core/src/modules/doc-info/views/database-properties/cells/select.tsx
  packages/frontend/core/src/modules/doc-info/views/database-properties/doc-database-backlink-info.tsx
  packages/frontend/track/src/events.ts
Labels: mod:infra, app:core

#8703 fix(electron): share page in electron issues
  packages/frontend/apps/electron/renderer/app.tsx
  packages/frontend/apps/electron/renderer/shell/app.tsx
  packages/frontend/apps/electron/src/main/index.ts
  packages/frontend/apps/electron/src/main/ui/handlers.ts
  packages/frontend/apps/electron/src/main/windows-manager/tab-views.ts
  packages/frontend/core/src/components/share-page-not-found-error.tsx
  packages/frontend/core/src/desktop/pages/workspace/share/share-page.tsx
  packages/frontend/core/src/mobile/pages/workspace/index.tsx
  packages/frontend/core/src/mobile/pages/workspace/workbench-root.tsx
  packages/frontend/core/src/modules/workbench/view/view-meta.tsx
Labels: app:electron, app:core

#8713 fix(electron): deep link handling in macos
  packages/frontend/apps/electron/src/main/deep-link.ts
Labels: app:electron

#8710 fix(core): modal height issue
  packages/frontend/core/src/modules/peek-view/view/modal-container.css.ts
Labels: app:core

#8717 feat(core): add tooltips to sidebar resize handle
  packages/frontend/component/src/components/resize-panel/resize-panel.tsx
  packages/frontend/component/src/ui/tooltip/tooltip.tsx
  packages/frontend/core/src/modules/app-sidebar/views/index.css.ts
  packages/frontend/core/src/modules/app-sidebar/views/index.tsx
  packages/frontend/core/src/modules/app-sidebar/views/sidebar-header/sidebar-switch.tsx
  packages/frontend/i18n/src/resources/en.json
  packages/frontend/i18n/src/resources/zh-Hans.json
Labels: mod:i18n, mod:component, app:core

#8729 fix(core): setting height issue
  packages/frontend/core/src/desktop/dialogs/setting/style.css.ts
  packages/frontend/core/src/modules/open-in-app/views/open-in-app-page.tsx
  packages/frontend/i18n/src/i18n-completenesses.json
Labels: mod:i18n, app:core

#8728 fix(core): add open in app hint text
  packages/frontend/core/src/desktop/dialogs/setting/style.css.ts
  packages/frontend/core/src/modules/open-in-app/views/open-in-app-page.css.ts
  packages/frontend/core/src/modules/open-in-app/views/open-in-app-page.tsx
  packages/frontend/i18n/src/i18n-completenesses.json
  packages/frontend/i18n/src/resources/en.json
Labels: mod:i18n, app:core

#8733 chore(core): adjust billing payment methods copywriting, close AF-1638
  packages/frontend/core/src/desktop/dialogs/setting/general-setting/billing/index.tsx
  packages/frontend/core/src/desktop/dialogs/setting/general-setting/billing/style.css.ts
  packages/frontend/i18n/src/resources/en.json
Labels: mod:i18n, app:core

#8719 fix(mobile): adjust mobile UI
  packages/frontend/component/src/ui/modal/confirm-modal.css.ts
  packages/frontend/component/src/ui/modal/confirm-modal.tsx
  packages/frontend/core/src/mobile/components/explorer/layouts/collapsible-section.css.ts
  packages/frontend/core/src/mobile/dialogs/setting/user-usage/index.tsx
  packages/frontend/core/src/mobile/styles/mobile.css.ts
  packages/frontend/core/src/mobile/views/all-docs/style.css.ts
  packages/frontend/core/src/mobile/views/sign-in/modal.tsx
Labels: mod:component, app:core

#8731 refactor(mobile): impl all-docs masonry with css grid, close AF-1598
  packages/frontend/core/src/mobile/components/doc-card/index.tsx
  packages/frontend/core/src/mobile/components/doc-card/styles.css.tsx
  packages/frontend/core/src/mobile/views/all-docs/doc/masonry.css.ts
  packages/frontend/core/src/mobile/views/all-docs/doc/masonry.tsx
Labels: app:core

#8723 feat: use custom @ import dialog
  packages/common/infra/src/modules/feature-flag/constant.ts
  packages/frontend/core/src/components/affine/import-modal/index.tsx
  packages/frontend/core/src/components/affine/import-modal/style.css.ts
  packages/frontend/core/src/components/blocksuite/block-suite-editor/specs/custom/widgets/linked.ts
  packages/frontend/core/src/components/blocksuite/block-suite-header/menu/index.tsx
  packages/frontend/core/src/components/root-app-sidebar/index.tsx
  packages/frontend/core/src/desktop/dialogs/import/index.tsx
  packages/frontend/core/src/desktop/dialogs/index.tsx
  packages/frontend/core/src/modules/dialogs/constant.ts
  packages/frontend/track/src/events.ts
  tests/affine-local/e2e/import-dialog.spec.ts
Labels: mod:infra, mod:i18n, test, app:core

#8726 fix: also check online model list if model not defined
  packages/backend/server/src/plugins/copilot/providers/openai.ts
Labels: app:server

#8735 fix: edgeless note preview on the editor settings is editable
  packages/frontend/core/src/desktop/dialogs/setting/general-setting/editor/edgeless/shape.tsx
  packages/frontend/core/src/desktop/dialogs/setting/general-setting/editor/edgeless/snapshot.tsx
  packages/frontend/core/src/desktop/dialogs/setting/general-setting/editor/style.css.ts
Labels: app:core

#8736 chore(infra): remove unused code
  packages/common/infra/src/utils/fractional-indexing.ts
  packages/frontend/core/src/modules/cloud/entities/session.ts
Labels: mod:infra, app:core

#8679 fix(core): fix infinite retry when workspace not found
  packages/frontend/core/src/desktop/pages/workspace/index.tsx
  packages/frontend/core/src/mobile/pages/workspace/index.tsx
Labels: app:core

#8748 chore(infra): remove useless flags
  packages/common/infra/src/modules/feature-flag/constant.ts
Labels: mod:infra

#8746 feat(core): track signin failed reason
  packages/frontend/core/src/modules/cloud/error.ts
  packages/frontend/core/src/modules/cloud/services/auth.ts
  packages/frontend/graphql/src/error.ts
  packages/frontend/track/src/events.ts
Labels: app:core

#8747 fix(core): close setting when workspace is deleted
  packages/frontend/core/src/desktop/dialogs/setting/workspace-setting/new-workspace-setting-detail/index.tsx
Labels: app:core

#8727 feat(mobile): mobile at menu
  packages/common/infra/src/modules/feature-flag/constant.ts
  packages/frontend/core/src/components/blocksuite/block-suite-editor/specs/custom/widgets/linked.ts
Labels: mod:infra, app:core

#8720 feat: pdf module
  package.json
  packages/frontend/component/package.json
  packages/frontend/core/package.json
  packages/frontend/core/src/components/attachment-viewer/viewer.tsx
  packages/frontend/core/src/components/attachment-viewer/worker/utils.ts
  packages/frontend/core/src/components/attachment-viewer/worker/worker.ts
  packages/frontend/core/src/modules/index.ts
  packages/frontend/core/src/modules/pdf/entities/channel.ts
  packages/frontend/core/src/modules/pdf/entities/pdf.ts
  packages/frontend/core/src/modules/pdf/entities/worker.ts
  packages/frontend/core/src/modules/pdf/index.ts
  packages/frontend/core/src/modules/pdf/services/pdf.ts
  packages/frontend/core/src/modules/pdf/workers/types.ts
  packages/frontend/core/src/modules/pdf/workers/utils.ts
  packages/frontend/core/src/modules/pdf/workers/worker.ts
  packages/frontend/i18n/src/i18n-completenesses.json
  yarn.lock
Labels: mod:i18n, mod:component, app:core

#8734 feat(infra): introduce op pattern
  packages/common/infra/package.json
  packages/common/infra/src/op/README.md
  packages/common/infra/src/op/__tests__/client.spec.ts
  packages/common/infra/src/op/__tests__/consumer.spec.ts
  packages/common/infra/src/op/__tests__/message.spec.ts
  packages/common/infra/src/op/client.ts
  packages/common/infra/src/op/consumer.ts
  packages/common/infra/src/op/index.ts
  packages/common/infra/src/op/message.ts
  packages/common/infra/src/op/types.ts
  yarn.lock
Labels: mod:infra, docs, test

#8753 fix(server): Do not require scope field in access token
  packages/backend/server/src/plugins/oauth/providers/oidc.ts
Labels: app:server

#8767 fix(infra): retry search and aggregate on indexeddb
  packages/common/infra/src/sync/indexer/impl/indexeddb/index.ts
Labels: mod:infra

#8761 fix(core): deleted tags property cannot be added back
  packages/frontend/core/src/components/doc-properties/menu/create-doc-property.tsx
  packages/frontend/core/src/components/doc-properties/sidebar/index.tsx
Labels: app:core

#8769 fix(infra): export op module
  packages/common/infra/package.json
  packages/common/infra/src/op/README.md
Labels: mod:infra, docs

#8742 chore(mobile): disable some toolbar widgets for mobile
  packages/frontend/core/src/components/blocksuite/block-suite-editor/lit-adaper.tsx
  packages/frontend/core/src/components/blocksuite/block-suite-editor/specs/custom/root-block.ts
  packages/frontend/core/src/components/blocksuite/block-suite-editor/specs/custom/spec-patchers.tsx
Labels: app:core, merge

#8738 feat(mobile): new journal tab, show App tab for journal page
  packages/frontend/core/src/mobile/components/app-tabs/index.tsx
  packages/frontend/core/src/mobile/components/app-tabs/journal.tsx
  packages/frontend/core/src/mobile/components/app-tabs/styles.css.ts
  packages/frontend/core/src/mobile/pages/workspace/detail/mobile-detail-page.tsx
Labels: app:core

#8772 fix(core): fix delete doc property description
  packages/frontend/core/src/components/doc-properties/menu/edit-doc-property.tsx
Labels: app:core

#8757 feat(mobile): new journal date-picker
  packages/frontend/core/src/mobile/pages/workspace/detail/journal-date-picker/constants.ts
  packages/frontend/core/src/mobile/pages/workspace/detail/journal-date-picker/context.ts
  packages/frontend/core/src/mobile/pages/workspace/detail/journal-date-picker/day-cell.css.ts
  packages/frontend/core/src/mobile/pages/workspace/detail/journal-date-picker/day-cell.tsx
  packages/frontend/core/src/mobile/pages/workspace/detail/journal-date-picker/index.tsx
  packages/frontend/core/src/mobile/pages/workspace/detail/journal-date-picker/month.css.ts
  packages/frontend/core/src/mobile/pages/workspace/detail/journal-date-picker/month.tsx
  packages/frontend/core/src/mobile/pages/workspace/detail/journal-date-picker/swipe-helper.ts
  packages/frontend/core/src/mobile/pages/workspace/detail/journal-date-picker/utils.ts
  packages/frontend/core/src/mobile/pages/workspace/detail/journal-date-picker/viewport.css.ts
  packages/frontend/core/src/mobile/pages/workspace/detail/journal-date-picker/viewport.tsx
  packages/frontend/core/src/mobile/pages/workspace/detail/journal-date-picker/week.css.ts
  packages/frontend/core/src/mobile/pages/workspace/detail/journal-date-picker/week.tsx
  packages/frontend/core/src/mobile/pages/workspace/detail/journal-icon-button.tsx
  packages/frontend/core/src/mobile/pages/workspace/detail/mobile-detail-page.tsx
Labels: app:core

#8779 feat(mobile): jouranl daily activity and conflict operations
  packages/frontend/component/src/ui/menu/mobile/root.tsx
  packages/frontend/component/src/ui/menu/mobile/styles.css.ts
  packages/frontend/core/src/desktop/pages/workspace/detail-page/tabs/journal.tsx
  packages/frontend/core/src/mobile/pages/workspace/detail/menu/journal-conflicts.css.ts
  packages/frontend/core/src/mobile/pages/workspace/detail/menu/journal-conflicts.tsx
  packages/frontend/core/src/mobile/pages/workspace/detail/menu/journal-today-activity.css.ts
  packages/frontend/core/src/mobile/pages/workspace/detail/menu/journal-today-activity.tsx
  packages/frontend/core/src/mobile/pages/workspace/detail/page-header-more-button.tsx
  packages/frontend/i18n/src/i18n-completenesses.json
  packages/frontend/i18n/src/resources/en.json
Labels: mod:i18n, mod:component, app:core

#8741 feat(electron): support WOA native
  .github/workflows/release-desktop.yml
  packages/frontend/apps/electron/scripts/make-env.ts
  packages/frontend/apps/electron/scripts/make-nsis.ts
  packages/frontend/apps/electron/scripts/make-squirrel.ts
Labels: app:electron

#8776 fix(core): do not delete tag on cancel
  packages/frontend/core/src/modules/tag/view/delete-tag-modal.tsx
Labels: app:core

#8730 feat(electron): spellcheck setting
  packages/frontend/apps/electron/renderer/app.tsx
  packages/frontend/apps/electron/src/main/shared-state-schema.ts
  packages/frontend/apps/electron/src/main/ui/handlers.ts
  packages/frontend/apps/electron/src/main/windows-manager/tab-views.ts
  packages/frontend/core/src/desktop/dialogs/setting/general-setting/editor/general.tsx
  packages/frontend/core/src/desktop/dialogs/setting/general-setting/editor/style.css.ts
  packages/frontend/core/src/modules/editor-setting/entities/editor-setting.ts
  packages/frontend/core/src/modules/editor-setting/index.ts
  packages/frontend/core/src/modules/editor-setting/schema.ts
  packages/frontend/core/src/modules/editor-setting/services/spell-check-setting.ts
  packages/frontend/electron-api/src/index.ts
  packages/frontend/i18n/src/resources/en.json
Labels: mod:i18n, app:electron, app:core

#8778 feat: add import snapshot option to import dialog
  packages/frontend/core/src/desktop/dialogs/import/index.tsx
  packages/frontend/i18n/src/resources/en.json
  packages/frontend/i18n/src/resources/zh-Hans.json
  packages/frontend/i18n/src/resources/zh-Hant.json
Labels: mod:i18n, app:core

#8775 feat(core): add page width property
  packages/common/infra/src/modules/db/schema/schema.ts
  packages/common/infra/src/modules/doc/constants.ts
  packages/frontend/core/src/commands/affine-settings.tsx
  packages/frontend/core/src/components/doc-properties/types/constant.tsx
  packages/frontend/core/src/components/doc-properties/types/page-width.css.ts
  packages/frontend/core/src/components/doc-properties/types/page-width.tsx
  packages/frontend/core/src/components/doc-properties/types/types.ts
  packages/frontend/core/src/components/hooks/affine/use-register-blocksuite-editor-commands.tsx
  packages/frontend/core/src/components/page-detail-editor.tsx
  packages/frontend/core/src/desktop/dialogs/setting/general-setting/editor/page.tsx
  packages/frontend/i18n/src/i18n-completenesses.json
  packages/frontend/i18n/src/resources/en.json
  packages/frontend/i18n/src/resources/zh-Hans.json
  tests/affine-local/e2e/page-properties.spec.ts
  tests/affine-local/e2e/quick-search.spec.ts
  tests/affine-local/e2e/settings.spec.ts
Labels: mod:infra, mod:i18n, test, app:core

#8783 fix(core): revise open app card text
  packages/frontend/core/src/modules/app-sidebar/views/open-in-app-card/open-in-app-card.tsx
  packages/frontend/i18n/src/resources/en.json
Labels: mod:i18n, app:core

#8770 feat: improve metrics naming
  packages/backend/server/src/fundamentals/metrics/utils.ts
Labels: app:server

#8786 fix(core): add missing confirm button variants
  packages/frontend/core/src/components/blocksuite/block-suite-header/menu/index.tsx
  packages/frontend/core/src/components/page-list/docs/virtualized-page-list.tsx
  packages/frontend/core/src/components/page-list/operation-cell.tsx
  packages/frontend/core/src/mobile/pages/workspace/detail/menu/journal-conflicts.tsx
  packages/frontend/i18n/src/i18n-completenesses.json
Labels: mod:i18n, app:core

#8771 fix(core): remember scroll position switch mode
  packages/frontend/core/src/modules/editor/entities/editor.ts
Labels: app:core

#8784 refactor: pdf viewer components
  packages/frontend/core/src/components/attachment-viewer/error.tsx
  packages/frontend/core/src/components/attachment-viewer/pdf-viewer.tsx
  packages/frontend/core/src/components/attachment-viewer/styles.css.ts
  packages/frontend/core/src/components/attachment-viewer/utils.ts
  packages/frontend/core/src/modules/pdf/entities/pdf-page.ts
  packages/frontend/core/src/modules/pdf/entities/pdf.ts
  packages/frontend/core/src/modules/pdf/index.ts
  packages/frontend/core/src/modules/pdf/renderer/index.ts
  packages/frontend/core/src/modules/pdf/renderer/renderer.ts
  packages/frontend/core/src/modules/pdf/renderer/utils.ts
  packages/frontend/core/src/modules/pdf/views/components.tsx
  packages/frontend/core/src/modules/pdf/views/index.ts
  packages/frontend/core/src/modules/pdf/views/page-renderer.tsx
  packages/frontend/core/src/modules/pdf/views/styles.css.ts
  tests/affine-local/e2e/attachment-preview.spec.ts
Labels: test, app:core

#8788 feat(core): add i18n to descriptions of experimental feature
  packages/common/infra/src/modules/feature-flag/constant.ts
  packages/frontend/core/src/desktop/dialogs/setting/general-setting/appearance/theme-editor-setting.tsx
  packages/frontend/core/src/desktop/dialogs/setting/general-setting/experimental-features/index.tsx
  packages/frontend/core/src/desktop/dialogs/setting/workspace-setting/new-workspace-setting-detail/labels.tsx
  packages/frontend/i18n/src/resources/en.json
Labels: mod:infra, mod:i18n, app:core

#8707 feat(mobile): optimize home header animation
  packages/frontend/core/src/mobile/components/workspace-selector/index.tsx
  packages/frontend/core/src/mobile/views/home-header/index.tsx
  packages/frontend/core/src/mobile/views/home-header/styles.css.ts
Labels: app:core

#8780 fix(core): avoid shaking when center-peek opened
  packages/frontend/core/src/modules/peek-view/view/modal-container.css.ts
Labels: app:core

#8789 chore: fix typos
  packages/frontend/core/src/desktop/dialogs/setting/workspace-setting/new-workspace-setting-detail/labels.tsx
  packages/frontend/i18n/src/resources/en.json
Labels: mod:i18n, app:core

#8569 feat(core): pdf preview
  packages/common/infra/src/op/README.md
  packages/common/infra/src/op/__tests__/client.spec.ts
  packages/common/infra/src/op/client.ts
  packages/common/infra/src/op/consumer.ts
  packages/common/infra/src/op/message.ts
  packages/frontend/apps/electron/src/main/shared-state-schema.ts
  packages/frontend/component/package.json
  packages/frontend/core/package.json
  packages/frontend/core/src/components/attachment-viewer/error.tsx
  packages/frontend/core/src/components/attachment-viewer/index.tsx
  packages/frontend/core/src/components/attachment-viewer/pdf-viewer.tsx
  packages/frontend/core/src/components/attachment-viewer/styles.css.ts
  packages/frontend/core/src/components/attachment-viewer/titlebar.tsx
  packages/frontend/core/src/components/attachment-viewer/utils.ts
  packages/frontend/core/src/desktop/pages/workspace/attachment/index.css.ts
  packages/frontend/core/src/desktop/pages/workspace/attachment/index.tsx
  packages/frontend/core/src/desktop/workbench-router.ts
  packages/frontend/core/src/modules/index.ts
  packages/frontend/core/src/modules/pdf/entities/pdf-page.ts
  packages/frontend/core/src/modules/pdf/entities/pdf.ts
  packages/frontend/core/src/modules/pdf/index.ts
  packages/frontend/core/src/modules/pdf/renderer/index.ts
  packages/frontend/core/src/modules/pdf/renderer/ops.ts
  packages/frontend/core/src/modules/pdf/renderer/renderer.ts
  packages/frontend/core/src/modules/pdf/renderer/types.ts
  packages/frontend/core/src/modules/pdf/renderer/utils.ts
  packages/frontend/core/src/modules/pdf/renderer/worker.ts
  packages/frontend/core/src/modules/pdf/services/pdf.ts
  packages/frontend/core/src/modules/pdf/views/components.tsx
  packages/frontend/core/src/modules/pdf/views/index.ts
  packages/frontend/core/src/modules/pdf/views/page-renderer.tsx
  packages/frontend/core/src/modules/pdf/views/styles.css.ts
  packages/frontend/core/src/modules/peek-view/entities/peek-view.ts
  packages/frontend/core/src/modules/peek-view/view/attachment-preview/index.tsx
  packages/frontend/core/src/modules/peek-view/view/image-preview/index.tsx
  packages/frontend/core/src/modules/peek-view/view/peek-view-controls.tsx
  packages/frontend/core/src/modules/peek-view/view/peek-view-manager.tsx
  packages/frontend/core/src/modules/workbench/constants.tsx
  packages/frontend/core/src/modules/workbench/entities/workbench.ts
  packages/frontend/core/src/utils/resource.ts
  packages/frontend/i18n/src/i18n-completenesses.json
  packages/frontend/i18n/src/resources/en.json
  tests/affine-local/e2e/attachment-preview.spec.ts
  tests/fixtures/lorem-ipsum.pdf
  tools/cli/src/webpack/config.ts
  yarn.lock
Labels: mod:infra, docs, mod:i18n, mod:env, mod:component, app:electron, mod:dev, test, app:core

#8795 chore: improves scrolling performance and loading component for dark theme
  packages/frontend/core/src/components/attachment-viewer/pdf-viewer.tsx
  packages/frontend/core/src/components/attachment-viewer/styles.css.ts
  packages/frontend/core/src/modules/pdf/views/components.tsx
  packages/frontend/core/src/modules/pdf/views/index.ts
  packages/frontend/core/src/modules/pdf/views/styles.css.ts
Labels: app:core

#8793 fix(core): peek view animation use zoom when possible
  packages/frontend/core/src/modules/peek-view/entities/peek-view.ts
  packages/frontend/core/src/modules/peek-view/view/modal-container.tsx
Labels: app:core

#8798 fix(electron): make sure updater receive correct installer files
  packages/frontend/apps/electron/scripts/generate-yml.js
  packages/frontend/apps/electron/src/main/updater/affine-update-provider.ts
  packages/frontend/apps/electron/test/main/__snapshots__/updater.spec.ts.snap
  packages/frontend/apps/electron/test/main/fixtures/candidates/canary.json
  packages/frontend/apps/electron/test/main/fixtures/candidates/stable.json
  packages/frontend/apps/electron/test/main/fixtures/releases/0.16.3/latest-linux.yml
  packages/frontend/apps/electron/test/main/fixtures/releases/0.16.3/latest-mac.yml
  packages/frontend/apps/electron/test/main/fixtures/releases/0.16.3/latest.yml
  packages/frontend/apps/electron/test/main/fixtures/releases/0.17.0-canary.7/latest-linux.yml
  packages/frontend/apps/electron/test/main/fixtures/releases/0.17.0-canary.7/latest-mac.yml
  packages/frontend/apps/electron/test/main/fixtures/releases/0.17.0-canary.7/latest.yml
  packages/frontend/apps/electron/test/main/fixtures/releases/0.18.0/latest.yml
  packages/frontend/apps/electron/test/main/updater.spec.ts
Labels: app:electron

#8797 chore: enchance copy link action
  packages/frontend/core/src/components/blocksuite/block-suite-editor/specs/custom/database-block.ts
  packages/frontend/core/src/components/blocksuite/block-suite-editor/specs/custom/widgets/toolbar.ts
  packages/frontend/core/src/components/hooks/affine/use-share-url.ts
  packages/frontend/core/src/utils/clipboard/fake.ts
  packages/frontend/core/src/utils/clipboard/index.ts
Labels: app:core

#8790 fix(core): onboading performance improvement
  packages/frontend/apps/electron/src/main/windows-manager/tab-views.ts
  packages/frontend/core/src/components/affine/onboarding/articles/assets/article-0-bookmark-1.png
  packages/frontend/core/src/components/affine/onboarding/articles/assets/article-0-bookmark-2.png
  packages/frontend/core/src/components/affine/onboarding/articles/assets/article-0-embed-1.png
  packages/frontend/core/src/components/affine/onboarding/articles/assets/article-1-bookmark-1.png
  packages/frontend/core/src/components/affine/onboarding/articles/assets/article-1-illustration-1.png
  packages/frontend/core/src/components/affine/onboarding/articles/assets/article-2-embed-1.png
  packages/frontend/core/src/components/affine/onboarding/articles/assets/article-2-illustration-1.jpg
  packages/frontend/core/src/components/affine/onboarding/articles/assets/article-2-illustration-2.jpg
  packages/frontend/core/src/components/affine/onboarding/articles/assets/article-2-note-1.png
  packages/frontend/core/src/components/affine/onboarding/articles/assets/article-2-note-2.png
  packages/frontend/core/src/components/affine/onboarding/articles/assets/article-3-bookmark-1.png
  packages/frontend/core/src/components/affine/onboarding/articles/assets/article-3-illustration-1.jpg
  packages/frontend/core/src/components/affine/onboarding/articles/assets/article-3-illustration-2.jpg
  packages/frontend/core/src/components/affine/onboarding/articles/assets/article-3-illustration-3.jpg
  packages/frontend/core/src/components/affine/onboarding/articles/assets/article-3-illustration-4.jpg
  packages/frontend/core/src/components/affine/onboarding/articles/assets/article-3-illustration-5.jpg
  packages/frontend/core/src/components/affine/onboarding/articles/assets/article-4-bookmark-1.png
  packages/frontend/core/src/components/affine/onboarding/articles/assets/article-4-bookmark-2.png
  packages/frontend/core/src/components/affine/onboarding/articles/assets/article-4-illustration-1.jpg
  packages/frontend/core/src/components/affine/onboarding/articles/assets/article-4-illustration-2.jpg
  packages/frontend/core/src/components/affine/onboarding/steps/edgeless-switch.css.ts
  packages/frontend/core/src/components/affine/onboarding/steps/edgeless-switch.tsx
  packages/frontend/core/src/components/affine/onboarding/style.css.ts
  packages/frontend/core/src/components/affine/onboarding/switch-widgets/style.css.tsx
  packages/frontend/core/src/components/affine/onboarding/switch-widgets/switch.tsx
  packages/frontend/core/src/components/affine/onboarding/switch-widgets/toolbar.tsx
Labels: app:electron, app:core

#8803 fix: migrate to standard import attributes
  packages/backend/server/src/fundamentals/config/default.ts
  scripts/check-version.mjs
  tools/bump-blocksuite/index.js
  tools/cli/src/webpack/runtime-config.ts
Labels: mod:dev, app:server

#8743 chore(mobile): disable reference popup on mobile
  packages/frontend/core/src/components/blocksuite/block-suite-editor/specs/custom/spec-patchers.tsx
Labels: app:core, merge

#8816 fix(core): center peek can't open in firefox and safari
  packages/frontend/core/src/modules/peek-view/view/modal-container.tsx
Labels: app:core

#8814 feat(core): update import entry in all page and page list
  packages/frontend/core/src/components/page-list/docs/page-list-header.tsx
  packages/frontend/core/src/components/root-app-sidebar/import-page.tsx
  packages/frontend/core/src/desktop/pages/workspace/all-page/all-page-header.tsx
  packages/frontend/i18n/src/i18n-completenesses.json
  packages/frontend/i18n/src/resources/en.json
  packages/frontend/i18n/src/resources/zh-Hans.json
  packages/frontend/i18n/src/resources/zh-Hant.json
Labels: mod:i18n, app:core

#8799 chore: bump theme, update mobile home background color
  packages/frontend/component/package.json
  packages/frontend/component/src/ui/modal/styles.css.ts
  packages/frontend/core/package.json
  packages/frontend/core/src/mobile/components/app-tabs/styles.css.ts
  packages/frontend/core/src/mobile/components/doc-card/styles.css.tsx
  packages/frontend/core/src/mobile/pages/workspace/all.tsx
  packages/frontend/core/src/mobile/pages/workspace/collection/index.tsx
  packages/frontend/core/src/mobile/pages/workspace/home.tsx
  packages/frontend/core/src/mobile/pages/workspace/tag/index.tsx
  packages/frontend/core/src/mobile/views/all-docs/style.css.ts
  yarn.lock
Labels: mod:i18n, mod:component, app:core

#8818 chore: remove community link from header
  packages/frontend/component/src/components/affine-other-page-layout/use-nav-config.ts
  packages/frontend/core/src/modules/open-in-app/views/open-in-app-page.tsx
Labels: mod:component, app:core

#8817 fix(core): center peek zoomIn animation not work in firefox
  packages/frontend/core/src/modules/peek-view/view/modal-container.tsx
Labels: app:core

#8819 fix(core): warning when open center peek
  packages/common/infra/src/modules/doc/services/docs.ts
  packages/frontend/core/src/components/blocksuite/block-suite-editor/blocksuite-editor.tsx
Labels: mod:infra, app:core

#8822 fix(core): auth fail reason should be error.name
  packages/frontend/core/src/modules/cloud/services/auth.ts
Labels: app:core

#8823 feat(server): add captcha runtime flag
  packages/backend/server/src/plugins/captcha/config.ts
  packages/backend/server/src/plugins/captcha/guard.ts
  packages/backend/server/src/plugins/captcha/index.ts
Labels: app:server

#8827 feat: add compatible for captcha request with challenge
  packages/backend/server/src/plugins/captcha/service.ts
Labels: app:server

#8829 fix(electron): potential crash on quit
  packages/frontend/apps/electron/src/main/helper-process.ts
  packages/frontend/apps/electron/src/preload/electron-api.ts
Labels: app:electron

#8826 fix(core): wrong title field from editor container proxy
  packages/frontend/core/src/modules/peek-view/view/doc-preview/doc-peek-view.tsx
Labels: app:core

#8835 fix(mobile): correct search & home-header bg color
  packages/frontend/core/src/mobile/pages/workspace/search.tsx
  packages/frontend/core/src/mobile/views/home-header/styles.css.ts
Labels: app:core

#8840 fix(server): should not enable experimental mobile version in selfhost
  packages/backend/server/src/core/selfhost/index.ts
Labels: app:server

#8834 test(server): fix fakerjs deprecated warning
  tests/kit/utils/cloud.ts
Labels: test

#8804 fix(mobile): use mobile app-fallback in app-container
  packages/frontend/apps/android/src/app.tsx
  packages/frontend/apps/ios/App/Podfile.lock
  packages/frontend/apps/ios/src/app.tsx
  packages/frontend/apps/mobile/src/app.tsx
  packages/frontend/core/src/desktop/components/app-container/index.tsx
  packages/frontend/core/src/desktop/components/app-container/mobile.tsx
  packages/frontend/core/src/mobile/components/index.ts
  packages/frontend/core/src/mobile/components/skeletons/index.tsx
  packages/frontend/core/src/mobile/pages/workspace/layout.tsx
Labels: app:core

#8830 fix(core): make right-sidebar scrollable
  packages/frontend/core/src/desktop/pages/workspace/detail-page/detail-page.css.ts
  packages/frontend/core/src/desktop/pages/workspace/detail-page/detail-page.tsx
  packages/frontend/core/src/modules/workbench/view/sidebar/sidebar-container.css.ts
Labels: app:core

#8857 fix(core): emoji doc name rendering on windows
  packages/frontend/core/src/components/page-list/collections/collection-list-item.css.ts
  packages/frontend/core/src/components/page-list/docs/page-list-item.css.ts
  packages/frontend/core/src/modules/quicksearch/views/cmdk.css.ts
Labels: app:core

#8860 feat(mobile): integrate ai button
  packages/frontend/apps/ios/App/App.xcodeproj/project.pbxproj
  packages/frontend/apps/ios/App/App/AffineViewController.swift
  packages/frontend/apps/ios/App/App/Packages/Intelligents/Sources/Intelligents/IntelligentsButton/IntelligentsButton.swift
  packages/frontend/apps/ios/App/App/Plugins/Cookie/IntelligentsPlugin.swift
  packages/frontend/apps/ios/src/app.tsx
  packages/frontend/apps/ios/src/plugins/intelligents/definitions.ts
  packages/frontend/apps/ios/src/plugins/intelligents/index.ts
  packages/frontend/core/src/mobile/pages/workspace/detail/mobile-detail-page.tsx
  packages/frontend/core/src/modules/ai-button/index.ts
  packages/frontend/core/src/modules/ai-button/provider/ai-button.ts
  packages/frontend/core/src/modules/ai-button/services/ai-button.ts
  packages/frontend/core/src/modules/index.ts
Labels: app:core

#8868 fix(core): doc info event tracking issues
  packages/frontend/core/src/components/doc-properties/table.tsx
  packages/frontend/core/src/components/doc-properties/tags-inline-editor.tsx
  packages/frontend/core/src/components/doc-properties/types/doc-primary-mode.tsx
  packages/frontend/core/src/components/doc-properties/types/edgeless-theme.tsx
  packages/frontend/core/src/components/doc-properties/types/journal.tsx
  packages/frontend/core/src/components/doc-properties/types/page-width.tsx
  packages/frontend/core/src/components/doc-properties/types/tags.tsx
  packages/frontend/core/src/components/doc-properties/types/text.css.ts
  packages/frontend/core/src/components/doc-properties/types/types.ts
  packages/frontend/core/src/desktop/dialogs/doc-info/info-modal.tsx
Labels: app:core

#8863 feat(ios): live reload script and docs
  packages/frontend/apps/ios/README.md
  packages/frontend/apps/ios/capacitor.config.ts
  packages/frontend/apps/ios/package.json
Labels: docs

#8862 feat(mobile): hide tab when virtual-keyboard show up
  packages/frontend/apps/ios/src/app.tsx
  packages/frontend/core/src/mobile/components/app-tabs/index.tsx
  packages/frontend/core/src/mobile/modules/index.ts
  packages/frontend/core/src/mobile/modules/virtual-keyboard/index.ts
  packages/frontend/core/src/mobile/modules/virtual-keyboard/providers/virtual-keyboard.ts
  packages/frontend/core/src/mobile/modules/virtual-keyboard/services/virtual-keyboard.ts
Labels: docs, app:core

#8870 feat(core): open in app cmd
  packages/frontend/core/src/components/hooks/affine/use-register-blocksuite-editor-commands.tsx
Labels: app:core

#8869 fix(core): ai subscribe button is not show in ai usage page
  packages/frontend/core/src/desktop/dialogs/setting/account-setting/ai-usage-panel.tsx
  packages/frontend/core/src/desktop/dialogs/setting/general-setting/plans/ai/actions/subscribe.tsx
Labels: test, app:core

#8861 fix(core): linked doc named input box has excessive desire to select all
  packages/frontend/component/src/hooks/focus-and-select.ts
  packages/frontend/component/src/ui/input/row-input.tsx
  packages/frontend/core/src/components/blocksuite/block-suite-editor/specs/custom/spec-patchers.tsx
Labels: mod:component, app:core

#8855 fix(electron): potential crash on quit
  .github/workflows/release-desktop.yml
  packages/frontend/apps/electron/src/main/cleanup.ts
  packages/frontend/apps/electron/src/main/events.ts
  packages/frontend/apps/electron/src/main/helper-process.ts
  packages/frontend/apps/electron/src/main/windows-manager/main-window.ts
  packages/frontend/apps/electron/src/main/windows-manager/tab-views.ts
Labels: app:electron

#8844 fix(electron): respect locale for spellchecker
  packages/frontend/apps/electron/src/main/ui/handlers.ts
  packages/frontend/core/src/modules/editor-setting/index.ts
  packages/frontend/core/src/modules/editor-setting/services/spell-check-setting.ts
Labels: app:electron, app:core

#8865 chore(core): remove snapshot import export feature flag
  packages/common/infra/src/modules/feature-flag/constant.ts
  packages/frontend/apps/android/package.json
  packages/frontend/apps/ios/package.json
  packages/frontend/apps/mobile/package.json
  packages/frontend/component/package.json
  packages/frontend/core/package.json
  packages/frontend/core/src/components/blocksuite/block-suite-header/menu/index.tsx
  packages/frontend/core/src/components/hooks/affine/use-register-blocksuite-editor-commands.tsx
  packages/frontend/core/src/components/page-list/operation-menu-items/export.tsx
  packages/frontend/core/src/components/page-list/operation-menu-items/index.ts
  packages/frontend/core/src/components/page-list/operation-menu-items/snapshot.tsx
  packages/frontend/core/src/desktop/dialogs/import/index.tsx
  packages/frontend/core/src/desktop/dialogs/setting/general-setting/about/index.tsx
  packages/frontend/i18n/src/i18n-completenesses.json
  packages/frontend/i18n/src/resources/en.json
  packages/frontend/i18n/src/resources/zh-Hans.json
  packages/frontend/i18n/src/resources/zh-Hant.json
  packages/frontend/track/src/events.ts
  yarn.lock
Labels: mod:infra, mod:i18n, mod:component, app:core

#8874 fix(core): auth events are not continuous
  packages/frontend/core/src/components/affine/auth/oauth.tsx
  packages/frontend/core/src/components/blocksuite/block-suite-editor/ai/tracker.ts
  packages/frontend/core/src/components/workspace-selector/user-with-workspace-list/index.tsx
  packages/frontend/core/src/modules/cloud/services/auth.ts
  packages/frontend/track/src/events.ts
Labels: app:core

#8859 fix(mobile): fix home header setting icon
  packages/frontend/core/src/mobile/views/home-header/index.tsx
  packages/frontend/core/src/mobile/views/home-header/styles.css.ts
Labels: app:core

#8820 feat(mobile): doc property journal duplicated action
  packages/frontend/core/src/components/doc-properties/types/journal.tsx
  packages/frontend/core/src/mobile/pages/workspace/detail/menu/journal-conflicts.tsx
Labels: app:core

#8882 fix: ai ppt preview with toolbar widget
  packages/frontend/core/src/blocksuite/presets/ai/messages/slides-renderer.ts
  packages/frontend/core/src/components/blocksuite/block-suite-editor/ai/setup-provider.tsx
Labels: app:core

#8864 feat(mobile): get content in markdown api
  packages/common/infra/src/modules/workspace/index.ts
  packages/common/infra/src/modules/workspace/services/repo.ts
  packages/common/infra/src/modules/workspace/services/workspaces.ts
  packages/frontend/apps/electron/renderer/app.tsx
  packages/frontend/apps/ios/App/Podfile.lock
  packages/frontend/apps/ios/capacitor.config.ts
  packages/frontend/apps/ios/src/app.tsx
Labels: mod:infra, app:electron

#8884 refactor(core): independent app fallback for mobile
  packages/frontend/apps/android/src/app.tsx
  packages/frontend/apps/ios/src/app.tsx
  packages/frontend/apps/mobile/src/app.tsx
  packages/frontend/core/src/desktop/components/app-container/index.tsx
  packages/frontend/core/src/mobile/components/app-fallback/index.tsx
  packages/frontend/core/src/mobile/pages/workspace/layout.tsx
Labels: app:core

#8886 fix(core): fix auth session not revalidating as expected
  packages/frontend/core/src/modules/cloud/entities/session.ts
Labels: app:core

#7639 feat(nbstore): init
  .eslintrc.js
  packages/common/nbstore/README.md
  packages/common/nbstore/package.json
  packages/common/nbstore/src/connection/connection.ts
  packages/common/nbstore/src/connection/index.ts
  packages/common/nbstore/src/connection/shared-connection.ts
  packages/common/nbstore/src/index.ts
  packages/common/nbstore/src/storage/blob.ts
  packages/common/nbstore/src/storage/doc.ts
  packages/common/nbstore/src/storage/history.ts
  packages/common/nbstore/src/storage/index.ts
  packages/common/nbstore/src/storage/lock.ts
  packages/common/nbstore/src/storage/storage.ts
  packages/common/nbstore/src/storage/sync.ts
  packages/common/nbstore/tsconfig.json
  tools/commitlint/.commitlintrc.json
  tsconfig.json
  yarn.lock
Labels: mod:infra, docs, app:server, test, rust, mod:native, app:core

#8892 fix(server): ignore invalid subscription variant
  packages/backend/server/src/plugins/payment/resolver.ts
Labels: app:server

#8894 fix(server): ignore invalid subscription variant for subscriptinos query as well
  packages/backend/server/src/plugins/payment/resolver.ts
Labels: app:server

#8885 feat(mobile): sticky journal date-picker, auto fold when scroll
  packages/frontend/core/src/mobile/pages/workspace/detail/journal-date-picker/constants.ts
  packages/frontend/core/src/mobile/pages/workspace/detail/journal-date-picker/index.tsx
  packages/frontend/core/src/mobile/pages/workspace/detail/journal-date-picker/viewport.tsx
  packages/frontend/core/src/mobile/pages/workspace/detail/mobile-detail-page.css.ts
  packages/frontend/core/src/mobile/pages/workspace/detail/mobile-detail-page.tsx
Labels: app:core

#8896 feat(mobile): editor mode switch
  packages/frontend/core/src/mobile/pages/workspace/detail/menu/mode-switch.css.ts
  packages/frontend/core/src/mobile/pages/workspace/detail/menu/mode-switch.tsx
  packages/frontend/core/src/mobile/pages/workspace/detail/page-header-more-button.tsx
Labels: app:core

#8876 feat(mobile): disable swipe back gesture when there is no back in header
  packages/frontend/apps/ios/App/App.xcodeproj/project.pbxproj
  packages/frontend/apps/ios/App/App/AFFiNEViewController.swift
  packages/frontend/apps/ios/App/App/plugins/NavigationGesture/NavigationGesturePlugin.swift
  packages/frontend/apps/ios/src/app.tsx
  packages/frontend/apps/ios/src/modal-config.tsx
  packages/frontend/apps/ios/src/plugins/navigation-gesture/definitions.ts
  packages/frontend/apps/ios/src/plugins/navigation-gesture/index.ts
  packages/frontend/component/src/ui/modal/context.ts
  packages/frontend/component/src/ui/modal/index.ts
  packages/frontend/component/src/ui/modal/modal.tsx
  packages/frontend/core/src/components/mobile/config-modal/index.tsx
  packages/frontend/core/src/components/mobile/index.ts
  packages/frontend/core/src/mobile/components/index.ts
  packages/frontend/core/src/mobile/components/page-header/index.tsx
  packages/frontend/core/src/mobile/components/page-header/styles.css.ts
  packages/frontend/core/src/mobile/dialogs/selectors/generic-selector.tsx
  packages/frontend/core/src/mobile/modules/index.ts
  packages/frontend/core/src/mobile/modules/navigation-gesture/index.ts
  packages/frontend/core/src/mobile/modules/navigation-gesture/providers/navigation-gesture.ts
  packages/frontend/core/src/mobile/modules/navigation-gesture/services/navigation-gesture.ts
  packages/frontend/core/src/mobile/pages/workspace/detail/mobile-detail-page.tsx
  packages/frontend/core/src/mobile/views/all-docs/collection/detail.tsx
  packages/frontend/core/src/mobile/views/all-docs/tag/detail-header.tsx
Labels: mod:component, app:core

#8910 fix(mobile): setting item popover cannot be closed
  packages/frontend/core/src/components/doc-properties/types/text.tsx
  packages/frontend/core/src/components/mobile/config-modal/index.tsx
  packages/frontend/core/src/mobile/dialogs/setting/dropdown-select.tsx
  packages/frontend/core/src/mobile/dialogs/setting/row.layout.tsx
  packages/frontend/core/src/mobile/views/home-header/index.tsx
  packages/frontend/core/src/modules/doc-info/views/database-properties/cells/rich-text.tsx
  tests/affine-mobile/e2e/settings.spec.ts
  tests/affine-mobile/playwright.config.ts
Labels: test, app:core

#8912 chore(cli): enable accessing dev server by host name
  tools/cli/src/webpack/config.ts
Labels: mod:dev

#8908 fix(core): image block size limits were not enforced as expected
  packages/frontend/core/src/components/blocksuite/block-suite-editor/specs/custom/attachment-block.ts
Labels: app:core

#8907 fix(core): cannot view pricing page if not logged in
  packages/frontend/core/src/desktop/dialogs/setting/general-setting/plans/lifetime/lifetime-plan.tsx
  packages/frontend/core/src/desktop/dialogs/setting/general-setting/plans/plan-card.tsx
Labels: app:core

#8914 fix(core): wrong app scheme fallback
  packages/frontend/core/src/desktop/pages/open-app/index.tsx
Labels: app:core

#8915 fix(core): handle the situation where the app cannot be opened after logging in
  packages/frontend/core/src/modules/open-in-app/views/open-in-app-page.css.ts
  packages/frontend/core/src/modules/open-in-app/views/open-in-app-page.tsx
  packages/frontend/i18n/src/i18n-completenesses.json
  packages/frontend/i18n/src/resources/en.json
  packages/frontend/i18n/src/resources/zh-Hans.json
Labels: mod:i18n, app:core

#8924 fix(core): multiple settings dialog should not appear when click user plan button repeatedly
  packages/frontend/core/src/components/affine/auth/user-plan-button.tsx
  packages/frontend/core/src/components/root-app-sidebar/user-info.tsx
  packages/frontend/core/src/components/workspace-selector/user-with-workspace-list/index.tsx
  packages/frontend/core/src/components/workspace-selector/user-with-workspace-list/user-account/index.tsx
  packages/frontend/core/src/desktop/dialogs/setting/setting-sidebar/index.tsx
Labels: app:core

#8917 fix(mobile): mobile sub menu item click handling
  packages/frontend/component/src/ui/menu/mobile/context.ts
  packages/frontend/component/src/ui/menu/mobile/item.tsx
  packages/frontend/component/src/ui/menu/mobile/root.tsx
  packages/frontend/component/src/ui/menu/mobile/sub.tsx
Labels: mod:component

#8916 fix(core): multi sub menu layer handling
  packages/frontend/component/src/ui/menu/mobile/context.ts
  packages/frontend/component/src/ui/menu/mobile/item.tsx
  packages/frontend/component/src/ui/menu/mobile/root.tsx
  packages/frontend/component/src/ui/menu/mobile/sub.tsx
  packages/frontend/core/src/components/doc-properties/table.tsx
  tests/affine-mobile/e2e/detail.spec.ts
Labels: mod:component, test, app:core

#8891 chore: upgrade oxlint to v0.13.2
  oxlint.json
  package.json
  packages/backend/server/src/plugins/copilot/providers/index.ts
  packages/backend/server/src/plugins/payment/service.ts
  packages/frontend/admin/src/modules/ai/edit-prompt.tsx
  packages/frontend/admin/src/modules/ai/prompts.tsx
  packages/frontend/admin/src/modules/nav/collapsible-item.tsx
  packages/frontend/admin/src/modules/setup/form.tsx
  packages/frontend/component/src/components/auth-components/onboarding-page.tsx
  packages/frontend/component/src/ui/date-picker/calendar/day-picker.tsx
  packages/frontend/component/src/ui/date-picker/calendar/items.tsx
  packages/frontend/component/src/ui/date-picker/calendar/month-picker.tsx
  packages/frontend/component/src/ui/date-picker/calendar/year-picker.tsx
  packages/frontend/component/src/ui/slider/slider.tsx
  packages/frontend/core/src/components/affine/affine-error-boundary/error-basic/error-detail.tsx
  packages/frontend/core/src/components/affine/ai-onboarding/slider.tsx
  packages/frontend/core/src/components/affine/onboarding/steps/edgeless-switch.tsx
  packages/frontend/core/src/components/blocksuite/block-suite-editor/specs/custom/spec-patchers.tsx
  packages/frontend/core/src/components/doc-properties/icons/icons-selector.tsx
  packages/frontend/core/src/components/page-list/collections/virtualized-collection-list.tsx
  packages/frontend/core/src/components/page-list/docs/virtualized-page-list.tsx
  packages/frontend/core/src/components/page-list/filter/condition.tsx
  packages/frontend/core/src/components/page-list/scoped-atoms.tsx
  packages/frontend/core/src/components/page-list/tags/virtualized-tag-list.tsx
  packages/frontend/core/src/components/page-list/virtualized-trash-list.tsx
  packages/frontend/core/src/components/tags/tag-edit-menu.tsx
  packages/frontend/core/src/desktop/dialogs/doc-info/links-row.tsx
  packages/frontend/core/src/mobile/components/explorer/tree/node.tsx
  packages/frontend/core/src/mobile/views/recent-docs/index.tsx
  packages/frontend/core/src/modules/app-sidebar/views/index.tsx
  packages/frontend/core/src/modules/app-tabs-header/views/app-tabs-header.tsx
  packages/frontend/core/src/modules/explorer/views/tree/node.tsx
  packages/frontend/core/src/modules/quicksearch/views/cmdk.tsx
  packages/frontend/core/src/modules/quicksearch/views/highlight-text.tsx
  yarn.lock
Labels: mod:component, app:server, app:core

#8909 chore: update env example
  packages/backend/server/.env.example
Labels: app:server

#8929 fix(mobile): disable AI chat block peek on mobile
  packages/frontend/core/src/blocksuite/presets/blocks/ai-chat-block/ai-chat-block.ts
Labels: app:core

#8930 fix(core): log error detail when import failed
  packages/frontend/core/src/desktop/dialogs/import/index.tsx
Labels: app:core

#8935 feat(core): at menu journal entries (#8877)
  packages/frontend/core/src/components/blocksuite/block-suite-editor/specs/custom/widgets/linked.ts
  packages/frontend/core/src/components/hooks/use-journal.ts
  packages/frontend/core/src/desktop/dialogs/index.tsx
  packages/frontend/core/src/desktop/dialogs/selectors/date.tsx
  packages/frontend/core/src/modules/at-menu-config/index.ts
  packages/frontend/core/src/modules/at-menu-config/services/__tests__/suggest-date.spec.ts
  packages/frontend/core/src/modules/at-menu-config/services/index.ts
  packages/frontend/core/src/modules/dialogs/constant.ts
  packages/frontend/core/src/modules/doc-display-meta/services/doc-display-meta.ts
  packages/frontend/core/src/modules/index.ts
  packages/frontend/core/src/modules/journal/index.ts
  packages/frontend/core/src/modules/journal/services/journal.ts
  packages/frontend/i18n/src/i18n-completenesses.json
  packages/frontend/i18n/src/resources/en.json
  tests/affine-cloud/e2e/share-page.spec.ts
  tests/affine-local/e2e/blocksuite/editor.spec.ts
  tests/affine-local/e2e/links.spec.ts
  tools/cli/src/webpack/config.ts
Labels: mod:i18n, mod:dev, test, app:core

#8913 fix(core): improve doc meta performance
  packages/common/infra/src/modules/doc/entities/record-list.ts
  packages/common/infra/src/modules/doc/stores/docs.ts
Labels: mod:infra

#8813 refactor(infra): refactor copilot client
  packages/frontend/core/src/blocksuite/presets/ai/provider.ts
  packages/frontend/core/src/components/blocksuite/block-suite-editor/ai/copilot-client.ts
  packages/frontend/core/src/components/blocksuite/block-suite-editor/ai/request.ts
  packages/frontend/core/src/components/blocksuite/block-suite-editor/ai/setup-provider.tsx
  packages/frontend/core/src/components/blocksuite/block-suite-editor/index.ts
  packages/frontend/core/src/components/providers/workspace-side-effects.tsx
  packages/frontend/core/src/modules/cloud/index.ts
  packages/frontend/core/src/modules/cloud/services/eventsource.ts
Labels: app:core

#8895 fix(electron): should not show context menu if there is no typos
  packages/frontend/apps/electron/src/main/windows-manager/tab-views.ts
Labels: app:electron

#8952 fix: ai generation of mindmap fail from note text context
  packages/frontend/core/src/blocksuite/presets/ai/_common/config.ts
  packages/frontend/core/src/blocksuite/presets/ai/actions/consts.ts
  packages/frontend/core/src/blocksuite/presets/ai/actions/edgeless-handler.ts
  packages/frontend/core/src/blocksuite/presets/ai/actions/types.ts
  packages/frontend/core/src/blocksuite/presets/ai/entries/edgeless/actions-config.ts
  packages/frontend/core/src/components/blocksuite/block-suite-editor/ai/setup-provider.tsx
Labels: app:core
