Repository toeverything/AFFiNE, pull requests merged in 2024-05, with the labels that each got.

#6756 docs: update outdated docs
  .github/workflows/build-test.yml
  .github/workflows/release-desktop.yml
  docs/BUILDING.md
  docs/CONTRIBUTING.md
  docs/building-desktop-client-app.md
  docs/contributing/behind-the-code.md
  docs/contributing/tutorial.md
  docs/developing-server.md
Labels: docs

#6766 fix(core): ai related copywritting fix
  packages/frontend/component/src/ui/layout/wrapper.tsx
  packages/frontend/core/src/components/affine/ai-onboarding/edgeless.dialog.css.ts
  packages/frontend/core/src/components/affine/ai-onboarding/edgeless.dialog.tsx
  packages/frontend/core/src/components/affine/ai-onboarding/general.dialog.tsx
  packages/frontend/i18n/src/resources/en.json
Labels: mod:i18n, mod:component, app:core

#6768 fix(core): fix ai onboarding video missing
  packages/frontend/core/src/components/affine/ai-onboarding/local.dialog.tsx
Labels: app:core

#6769 feat(core): disable ai onboarding video loop
  packages/frontend/core/src/components/affine/ai-onboarding/general.dialog.tsx
Labels: app:core

#6770 feat(core): adjust ai term
  packages/frontend/core/src/components/affine/ai-onboarding/general.dialog.tsx
  packages/frontend/i18n/src/resources/en.json
Labels: mod:i18n, app:core

#6771 fix(server): do not throttle healthy checking api
  packages/backend/server/src/app.controller.ts
Labels: app:server

#6773 fix: update prompts (find actions)
  packages/backend/server/src/data/migrations/1714982671938-update-prompts.ts
  packages/backend/server/src/data/migrations/utils/prompts.ts
Labels: app:server

#6764 feat: improve query performence
  packages/backend/server/migrations/20240506051856_add_user_and_features_index/migration.sql
  packages/backend/server/schema.prisma
  packages/backend/server/src/core/features/management.ts
  packages/backend/server/src/core/features/service.ts
  packages/backend/server/src/core/quota/service.ts
  packages/backend/server/src/core/workspaces/management.ts
  packages/backend/server/src/core/workspaces/resolvers/workspace.ts
  packages/backend/server/src/data/migrations/utils/user-features.ts
  packages/backend/server/src/plugins/copilot/session.ts
  packages/backend/server/tests/copilot.spec.ts
  packages/backend/server/tests/feature.spec.ts
  tests/kit/utils/cloud.ts
Labels: app:server, test

#6767 feat(i18n): update language resources
  packages/frontend/i18n/src/resources/en.json
  packages/frontend/i18n/src/resources/fr.json
  packages/frontend/i18n/src/resources/index.ts
  packages/frontend/i18n/src/resources/it.json
  packages/frontend/i18n/src/resources/ru.json
  packages/frontend/i18n/src/resources/zh-Hans.json
Labels: mod:i18n

#6779 fix: update prompts
  packages/backend/server/src/data/migrations/1714992100105-update-prompts.ts
  packages/backend/server/src/data/migrations/utils/prompts.ts
Labels: app:server

#6775 fix(server): do not allow registration through gql
  packages/backend/server/src/core/auth/resolver.ts
  packages/backend/server/src/core/user/service.ts
  packages/backend/server/tests/utils/user.ts
Labels: app:server, test

#6781 chore: bump blocksuite
  packages/common/env/package.json
  packages/common/infra/package.json
  packages/frontend/component/package.json
  packages/frontend/core/package.json
  packages/frontend/electron/package.json
  tools/cli/package.json
  yarn.lock
Labels: mod:infra, mod:env, mod:component, app:electron, mod:dev, app:server, app:core

#6778 refactor: refine ai tracker
  packages/frontend/core/src/components/blocksuite/block-suite-editor/ai/event-source.ts
  packages/frontend/core/src/components/blocksuite/block-suite-editor/ai/provider.tsx
  packages/frontend/core/src/components/blocksuite/block-suite-editor/ai/request.ts
  packages/frontend/core/src/components/blocksuite/block-suite-editor/ai/tracker.ts
Labels: app:core

#6784 fix(component): ensure the colorfulCallback of Avatar in different sizes behaves consistently
  packages/frontend/component/src/ui/avatar/avatar.stories.tsx
  packages/frontend/component/src/ui/avatar/avatar.tsx
  packages/frontend/component/src/ui/avatar/style.css.ts
Labels: mod:component

#6785 fix(core): adjust setting sidebar's workspace avatar
  packages/frontend/core/src/components/affine/setting-modal/setting-sidebar/index.tsx
Labels: app:core

#6786 chore: bump blocksuite
  packages/common/env/package.json
  packages/common/infra/package.json
  packages/frontend/component/package.json
  packages/frontend/core/package.json
  packages/frontend/electron/package.json
  tools/cli/package.json
  yarn.lock
Labels: mod:infra, mod:env, mod:component, app:electron, mod:dev, app:core

#6788 fix: do not create hash in frontend
  packages/frontend/core/src/components/blocksuite/block-suite-editor/ai/request.ts
Labels: app:core

#6789 feat: bump blocksuite
  packages/common/env/package.json
  packages/common/infra/package.json
  packages/frontend/component/package.json
  packages/frontend/core/package.json
  packages/frontend/electron/package.json
  tools/cli/package.json
  yarn.lock
Labels: mod:infra, mod:env, mod:component, app:electron, mod:dev, app:core

#6793 chore(core): handle the telemetry warnings in console
  packages/frontend/core/src/modules/telemetry/services/telemetry.ts
  packages/frontend/core/src/telemetry.tsx
  packages/frontend/electron/renderer/index.tsx
  packages/frontend/web/src/index.tsx
Labels: app:electron, app:core

#6797 feat: bump blocksuite
  packages/common/env/package.json
  packages/common/infra/package.json
  packages/frontend/component/package.json
  packages/frontend/core/package.json
  packages/frontend/electron/package.json
  tools/cli/package.json
  yarn.lock
Labels: mod:infra, mod:env, mod:component, app:electron, mod:dev, app:core

#6798 feat(core): add multiDelete to trash page
  packages/frontend/core/src/components/page-list/components/list-floating-toolbar.tsx
  packages/frontend/core/src/components/page-list/index.tsx
  packages/frontend/core/src/components/page-list/list.css.ts
  packages/frontend/core/src/components/page-list/operation-cell.tsx
  packages/frontend/core/src/components/page-list/virtualized-trash-list.tsx
  packages/frontend/core/src/pages/workspace/trash-page.css.ts
  packages/frontend/core/src/pages/workspace/trash-page.tsx
  tests/affine-local/e2e/all-page.spec.ts
Labels: test, app:core

#6809 fix(core): fix too many subscription request
  packages/frontend/core/src/components/affine/setting-modal/general-setting/plans/ai/actions/subscribe.tsx
  packages/frontend/core/src/components/affine/setting-modal/general-setting/plans/plan-card.tsx
Labels: app:core

#6799 fix(core): correct ai related copywritting
  packages/frontend/core/src/components/affine/setting-modal/general-setting/plans/layout.tsx
  packages/frontend/i18n/src/resources/en.json
Labels: mod:i18n, app:core

#6810 fix(server): allow promotion codes if no discount applied
  packages/backend/server/src/plugins/payment/service.ts
Labels: app:server

#6812 fix: tab switcher on windows desktop
  packages/frontend/core/src/modules/multi-tab-sidebar/view/header-switcher.css.ts
Labels: app:core

#6814 fix: wait activated event
  packages/backend/server/src/plugins/payment/service.ts
  packages/backend/server/tests/payment/service.spec.ts
Labels: app:server, test

#6815 chore: upgrade playwright
  package.json
  tests/affine-cloud/package.json
  tests/affine-desktop-cloud/package.json
  tests/affine-desktop/package.json
  tests/affine-legacy/0.6.1-beta.1/package.json
  tests/affine-legacy/0.7.0-canary.18/package.json
  tests/affine-legacy/0.8.0-canary.7/package.json
  tests/affine-legacy/0.8.4/package.json
  tests/affine-local/package.json
  tests/affine-migration/package.json
  tests/kit/package.json
  yarn.lock
Labels: test

#6820 fix: chat panel segment
  packages/frontend/core/src/components/blocksuite/block-suite-editor/ai/tracker.ts
Labels: app:core

#6823 fix: modify experimental features to app-level
  packages/common/env/src/global.ts
  packages/frontend/core/src/components/affine/setting-modal/general-setting/experimental-features/arts.css.ts
  packages/frontend/core/src/components/affine/setting-modal/general-setting/experimental-features/arts.tsx
  packages/frontend/core/src/components/affine/setting-modal/general-setting/experimental-features/dark-art-svg.ts
  packages/frontend/core/src/components/affine/setting-modal/general-setting/experimental-features/index.css.ts
  packages/frontend/core/src/components/affine/setting-modal/general-setting/experimental-features/index.tsx
  packages/frontend/core/src/components/affine/setting-modal/general-setting/experimental-features/light-art-svg.ts
  packages/frontend/core/src/components/affine/setting-modal/general-setting/index.tsx
  packages/frontend/core/src/components/affine/setting-modal/setting-sidebar/index.tsx
  packages/frontend/core/src/components/affine/setting-modal/types.ts
  packages/frontend/core/src/components/affine/setting-modal/workspace-setting/index.tsx
  packages/frontend/i18n/src/resources/en.json
  tests/affine-local/e2e/settings.spec.ts
  tests/kit/utils/setting.ts
  tools/cli/src/webpack/runtime-config.ts
Labels: mod:i18n, mod:env, mod:component, mod:dev, test, app:core

#6832 fix(core): windows app controls missing
  packages/frontend/core/src/modules/workbench/view/route-container.tsx
Labels: app:core

#6835 fix(core): member list does not display names correctly
  packages/frontend/core/src/components/affine/setting-modal/workspace-setting/new-workspace-setting-detail/members.tsx
Labels: app:core

#6833 chore(infra): remove compatible code
  packages/common/infra/src/sync/doc/event.ts
  packages/common/infra/src/sync/doc/local.ts
  packages/frontend/core/src/modules/workspace-engine/impls/engine/doc-broadcast-channel.ts
Labels: mod:infra, app:core

#6834 fix(core): adjust ai onboarding copywriting and local onboarding actions
  packages/frontend/core/src/components/affine/ai-onboarding/general.dialog.css.ts
  packages/frontend/core/src/components/affine/ai-onboarding/general.dialog.tsx
  packages/frontend/core/src/components/affine/ai-onboarding/local.dialog.css.ts
  packages/frontend/core/src/components/affine/ai-onboarding/local.dialog.tsx
  packages/frontend/core/src/hooks/use-navigate-helper.ts
  packages/frontend/i18n/src/resources/en.json
Labels: mod:i18n, app:core

#6837 feat(core): add untagged group to GroupBy view
  packages/frontend/core/src/components/page-list/group-definitions.tsx
  packages/frontend/i18n/src/resources/en.json
Labels: mod:i18n, app:core

#6847 fix(core): avoid shaking when renaming doc in title bar
  packages/frontend/component/src/ui/editable/inline-edit.tsx
  packages/frontend/core/src/components/blocksuite/block-suite-header/title/style.css.ts
Labels: mod:component, app:core

#6845 fix(core): ai plan should show even user not signed in
  packages/frontend/core/src/components/affine/setting-modal/general-setting/plans/ai/ai-plan.tsx
Labels: app:core

#6849 chore(core): adjust setting modal's size
  packages/frontend/core/src/components/affine/setting-modal/index.tsx
Labels: app:core

#6844 chore: bump blocksuite
  packages/common/env/package.json
  packages/common/infra/package.json
  packages/frontend/component/package.json
  packages/frontend/core/package.json
  packages/frontend/electron/package.json
  tools/cli/package.json
  yarn.lock
Labels: mod:infra, mod:env, mod:component, app:electron, mod:dev, app:core

#6831 feat: handle login required tracking event
  packages/frontend/core/src/components/blocksuite/block-suite-editor/ai/tracker.ts
Labels: app:core

#6840 fix: mixpanel issues
  packages/frontend/core/src/components/affine/quota-reached-modal/cloud-quota-modal.tsx
  packages/frontend/core/src/components/blocksuite/block-suite-editor/ai/tracker.ts
  packages/frontend/core/src/modules/cloud/services/user-quota.ts
  packages/frontend/core/src/modules/telemetry/services/telemetry.ts
  packages/frontend/core/src/router.tsx
  packages/frontend/core/src/utils/mixpanel.ts
  tools/cli/src/webpack/config.ts
Labels: mod:dev, app:core

#6830 fix: improve make it real action
  packages/backend/server/src/data/migrations/1715149980782-add-make-it-real-with-text-prompt.ts
  packages/backend/server/src/data/migrations/utils/prompts.ts
  packages/backend/server/src/plugins/copilot/providers/openai.ts
  packages/frontend/core/src/components/blocksuite/block-suite-editor/ai/prompt.ts
  packages/frontend/core/src/components/blocksuite/block-suite-editor/ai/provider.tsx
Labels: app:server, app:core

#6836 fix(core): keep the delete button from being blocked
  packages/frontend/core/src/components/workspace/index.css.ts
  packages/frontend/core/src/components/workspace/index.tsx
Labels: app:core

#6852 feat: bump blocksuite
  packages/common/env/package.json
  packages/common/infra/package.json
  packages/frontend/component/package.json
  packages/frontend/core/package.json
  packages/frontend/core/src/modules/multi-tab-sidebar/multi-tabs/tabs/chat.tsx
  packages/frontend/electron/package.json
  tools/cli/package.json
  yarn.lock
Labels: mod:infra, mod:env, mod:component, app:electron, mod:dev, app:core

#6861 fix(core): mixpanel error when opt-out
  packages/frontend/core/src/telemetry.tsx
Labels: app:core

#6859 Revert "chore: bump @pengx17/electron-forge-maker-appimage (#6726)"
  packages/frontend/electron/package.json
  yarn.lock
Labels: app:electron

#6867 fix(core): add margin to scrollbar when clientBorder has no style
  packages/frontend/core/src/pages/workspace/detail-page/detail-page.css.ts
  packages/frontend/core/src/pages/workspace/detail-page/detail-page.tsx
Labels: app:core

#6895 fix: should not reset identity on app start
  packages/frontend/core/src/modules/telemetry/services/telemetry.ts
Labels: app:core

#6894 chore: remove unused file
  packages/frontend/electron/src/main/ui/google-auth.ts
  packages/frontend/electron/src/main/ui/handlers.ts
Labels: app:electron

#6866 feat: add more tracking events
  packages/common/infra/src/framework/core/event.ts
  packages/frontend/core/src/commands/affine-navigation.tsx
  packages/frontend/core/src/commands/affine-settings.tsx
  packages/frontend/core/src/components/affine/ai-onboarding/edgeless.dialog.tsx
  packages/frontend/core/src/components/affine/ai-onboarding/general.dialog.tsx
  packages/frontend/core/src/components/affine/auth/user-plan-button.tsx
  packages/frontend/core/src/components/affine/page-history-modal/history-modal.tsx
  packages/frontend/core/src/components/affine/quota-reached-modal/cloud-quota-modal.tsx
  packages/frontend/core/src/components/affine/setting-modal/account-setting/ai-usage-panel.tsx
  packages/frontend/core/src/components/affine/setting-modal/account-setting/index.tsx
  packages/frontend/core/src/components/affine/setting-modal/general-setting/billing/index.tsx
  packages/frontend/core/src/components/affine/setting-modal/general-setting/plans/ai/actions/subscribe.tsx
  packages/frontend/core/src/components/affine/setting-modal/setting-sidebar/index.tsx
  packages/frontend/core/src/components/affine/setting-modal/workspace-setting/new-workspace-setting-detail/members.tsx
  packages/frontend/core/src/components/affine/share-page-modal/share-menu/share-page.tsx
  packages/frontend/core/src/components/affine/share-page-modal/share-menu/use-share-url.ts
  packages/frontend/core/src/components/blocksuite/block-suite-editor/ai/provider.tsx
  packages/frontend/core/src/components/blocksuite/block-suite-header/menu/index.tsx
  packages/frontend/core/src/components/blocksuite/block-suite-page-list/utils.tsx
  packages/frontend/core/src/components/page-list/components/new-page-button.tsx
  packages/frontend/core/src/components/page-list/docs/page-list-header.tsx
  packages/frontend/core/src/components/page-list/operation-cell.tsx
  packages/frontend/core/src/components/pure/cmdk/data-hooks.tsx
  packages/frontend/core/src/components/pure/workspace-slider-bar/favorite/add-favourite-button.tsx
  packages/frontend/core/src/components/root-app-sidebar/import-page.tsx
  packages/frontend/core/src/components/root-app-sidebar/index.tsx
  packages/frontend/core/src/components/root-app-sidebar/user-info.tsx
  packages/frontend/core/src/components/workspace/index.tsx
  packages/frontend/core/src/hooks/affine/use-export-page.ts
  packages/frontend/core/src/hooks/affine/use-register-blocksuite-editor-commands.tsx
  packages/frontend/core/src/layouts/workspace-layout.tsx
  packages/frontend/core/src/modules/telemetry/services/telemetry.ts
  packages/frontend/core/src/modules/workbench/services/workbench.ts
  packages/frontend/core/src/pages/subscribe.tsx
  packages/frontend/core/src/pages/workspace/all-page/all-page-header.tsx
  packages/frontend/core/src/router.tsx
  packages/frontend/i18n/src/resources/en.json
Labels: mod:infra, mod:i18n, app:server, app:core

#6865 feat(core): tag groups sorted alphabetically
  packages/frontend/core/src/components/page-list/group-definitions.tsx
  packages/frontend/core/src/pages/workspace/collection/header.tsx
  packages/frontend/core/src/pages/workspace/tag/header.tsx
Labels: app:core

#6863 chore(core): improve export snapshot tool
  packages/frontend/core/src/pages/workspace/index.tsx
Labels: app:core

#6902 fix(core): page does not fully stretch the entire screen
  packages/frontend/core/src/components/blocksuite/block-suite-editor/lit-adaper.tsx
  packages/frontend/core/src/components/blocksuite/block-suite-editor/styles.css.ts
  packages/frontend/core/src/components/page-detail-editor.css.ts
Labels: app:core

#6903 fix(core): navigation shortcut keys can't be used when the sidebar is collapsed
  packages/frontend/core/src/layouts/workspace-layout.tsx
  packages/frontend/core/src/modules/navigation/view/navigation-buttons.tsx
Labels: app:core

#6907 fix(core): the loading of cmdk flashes during synchronization
  packages/frontend/core/src/components/pure/cmdk/main.tsx
Labels: app:core

#6864 feat: history timeline shows relative time, such as today and yesterday
  packages/frontend/core/src/components/affine/page-history-modal/data.ts
  packages/frontend/core/src/components/affine/page-history-modal/history-modal.tsx
  packages/frontend/core/src/utils/__tests__/intl-formatter.spec.ts
  packages/frontend/core/src/utils/intl-formatter.ts
  packages/frontend/i18n/src/index.ts
  packages/frontend/i18n/src/resources/en.json
Labels: mod:i18n, test, app:core

#6915 chore: track doc create action in bs editor
  packages/frontend/core/src/components/blocksuite/block-suite-editor/specs.ts
Labels: app:core

#6906 chore: adjust quick search style
  packages/frontend/core/src/components/pure/cmdk/main.css.ts
  packages/frontend/i18n/src/resources/en.json
  packages/frontend/i18n/src/resources/zh-Hans.json
  tests/affine-local/e2e/quick-search.spec.ts
Labels: mod:i18n, test, app:core

#6924 fix(core): unexpected toast style in editor
  packages/frontend/component/src/ui/scrollbar/index.css.ts
Labels: mod:component

#6926 feat: renew models
  packages/backend/server/src/data/migrations/1715672224087-update-prompts.ts
  packages/backend/server/src/data/migrations/utils/prompts.ts
  packages/backend/server/src/plugins/copilot/providers/openai.ts
  packages/backend/server/src/plugins/copilot/types.ts
Labels: app:server

#6929 fix: blob test flaky
  packages/backend/server/tests/workspace-blobs.spec.ts
Labels: app:server, test

#6913 chore: adjust log level
  packages/backend/server/src/core/doc/history.ts
  packages/backend/server/src/core/quota/storage.ts
  packages/backend/server/src/fundamentals/cache/interceptor.ts
  packages/backend/server/src/plugins/copilot/providers/index.ts
  packages/backend/server/src/plugins/redis/mutex.ts
Labels: app:server

#6933 feat: allow undefined new model
  .github/workflows/build-test.yml
  packages/backend/server/src/plugins/copilot/controller.ts
  packages/backend/server/src/plugins/copilot/providers/fal.ts
  packages/backend/server/src/plugins/copilot/providers/index.ts
  packages/backend/server/src/plugins/copilot/providers/openai.ts
  packages/backend/server/src/plugins/copilot/types.ts
  packages/backend/server/tests/copilot.spec.ts
  packages/backend/server/tests/utils/copilot.ts
Labels: app:server, test

#6944 fix(core): unexpected history preview style
  packages/frontend/core/src/components/affine/page-history-modal/styles.css.ts
Labels: app:core

#6943 fix(core): add affine.pro to trustedDomain
  packages/frontend/core/src/pages/redirect.tsx
Labels: app:core

#6934 feat: renew models
  packages/backend/server/src/data/migrations/1715672224087-update-prompts.ts
  packages/backend/server/src/data/migrations/utils/prompts.ts
  packages/backend/server/src/plugins/copilot/providers/openai.ts
  packages/backend/server/src/plugins/copilot/types.ts
Labels: app:server

#6947 feat: add retry support for copilot
  packages/backend/server/src/plugins/copilot/controller.ts
  packages/backend/server/src/plugins/copilot/session.ts
  packages/backend/server/tests/copilot.e2e.ts
  packages/backend/server/tests/copilot.spec.ts
  packages/backend/server/tests/utils/copilot.ts
Labels: app:server, test

#6948 fix: migrate typo
  packages/backend/server/src/data/migrations/1715672224087-update-prompts.ts
Labels: app:server

#6951 perf(electron): add index for updates
  packages/frontend/core/src/modules/workspace-engine/impls/engine/doc-sqlite.ts
  packages/frontend/electron/src/helper/db/db-adapter.ts
  packages/frontend/electron/src/helper/db/index.ts
  packages/frontend/electron/src/helper/db/workspace-db-adapter.ts
  packages/frontend/electron/test/db/ensure-db.spec.ts
  packages/frontend/electron/test/db/workspace-db-adapter.spec.ts
  packages/frontend/electron/tsconfig.json
  packages/frontend/native/index.d.ts
  packages/frontend/native/index.js
  packages/frontend/native/src/sqlite/mod.rs
Labels: app:electron, rust, mod:native, app:core

#6957 refactor(electron): use sqlite to store server clock & sync meta
  packages/common/infra/package.json
  packages/frontend/core/src/modules/workspace-engine/impls/engine/doc-sqlite.ts
  packages/frontend/electron/src/helper/db/db-adapter.ts
  packages/frontend/electron/src/helper/db/index.ts
  packages/frontend/electron/src/helper/db/workspace-db-adapter.ts
  packages/frontend/native/index.d.ts
  packages/frontend/native/schema/src/lib.rs
  packages/frontend/native/src/sqlite/mod.rs
Labels: mod:infra, app:electron, rust, mod:native, app:core

#6946 fix(component): avoid close button of the notification being invisible in dark mode and bright bg
  packages/frontend/component/src/ui/notification/notification-card.tsx
  packages/frontend/component/src/ui/notification/styles.css.ts
  packages/frontend/component/src/ui/notification/utils.ts
Labels: mod:component

#6941 fix(core): adjust ai onboarding trigger logic, launch by auth status
  packages/frontend/core/src/components/affine/ai-onboarding/general.dialog.tsx
  packages/frontend/core/src/components/affine/ai-onboarding/local.dialog.tsx
Labels: app:core

#6942 fix(core): local onboarding should dismiss after clicking learn more
  packages/frontend/core/src/components/affine/ai-onboarding/local.dialog.tsx
Labels: app:core

#6960 feat(server): use native tokenizer impl
  Cargo.lock
  Cargo.toml
  packages/backend/native/Cargo.toml
  packages/backend/native/benchmark/index.js
  packages/backend/native/index.d.ts
  packages/backend/native/index.js
  packages/backend/native/package.json
  packages/backend/native/src/lib.rs
  packages/backend/native/src/tiktoken.rs
  packages/backend/server/package.json
  packages/backend/server/src/fundamentals/storage/index.ts
  packages/backend/server/src/fundamentals/storage/providers/utils.ts
  packages/backend/server/src/native.ts
  packages/backend/server/src/plugins/copilot/prompt.ts
  packages/backend/server/src/plugins/copilot/session.ts
  packages/backend/server/src/plugins/copilot/types.ts
  yarn.lock
Labels: app:server, rust, mod:server-native

#6925 refactor(core): replace the loading state written in useState with useDebouncedValue
  packages/frontend/core/src/components/affine/create-workspace-modal/index.css.ts
  packages/frontend/core/src/components/pure/cmdk/main.tsx
Labels: app:core

#6961 chore: simplify renovate config and upgrade msw
  .github/renovate.json
  package.json
  packages/frontend/electron/test/main/updater.spec.ts
  yarn.lock
Labels: app:electron

#6964 chore: use workspace dependencies
  .taplo.toml
  Cargo.lock
  Cargo.toml
  packages/backend/native/Cargo.toml
  packages/backend/server/migrations/migration_lock.toml
  packages/frontend/native/Cargo.toml
  packages/frontend/native/schema/Cargo.toml
  rustfmt.toml
  tools/workers/wrangler.toml
Labels: app:server, rust, mod:native, mod:server-native

#6967 feat: add upscaler & bg remover
  packages/backend/server/src/data/migrations/utils/prompts.ts
  packages/backend/server/src/plugins/copilot/controller.ts
  packages/backend/server/src/plugins/copilot/providers/fal.ts
  packages/backend/server/src/plugins/copilot/providers/index.ts
  packages/backend/server/tests/copilot.e2e.ts
  packages/backend/server/tests/utils/copilot.ts
  packages/frontend/core/src/components/blocksuite/block-suite-editor/ai/prompt.ts
Labels: app:server, test, app:core

#6966 feat(core): add private anchor link for sharing
  packages/frontend/core/src/components/affine/share-page-modal/share-menu/index.css.ts
  packages/frontend/core/src/components/affine/share-page-modal/share-menu/share-export.tsx
  packages/frontend/core/src/components/affine/share-page-modal/share-menu/share-menu.tsx
  packages/frontend/core/src/components/affine/share-page-modal/share-menu/share-page.tsx
  packages/frontend/core/src/components/blocksuite/block-suite-editor/blocksuite-editor-container.tsx
  packages/frontend/core/src/hooks/affine/use-register-copy-link-commands.tsx
  packages/frontend/core/src/hooks/affine/use-share-url.ts
  packages/frontend/core/src/hooks/affine/use-shortcuts.ts
  packages/frontend/i18n/src/resources/en.json
Labels: mod:i18n, app:core

#6969 fix(electron): remove all migration code in electron
  packages/common/infra/package.json
  packages/frontend/electron/src/helper/db/db-adapter.ts
  packages/frontend/electron/src/helper/db/migration.ts
  packages/frontend/electron/src/helper/db/workspace-db-adapter.ts
  packages/frontend/electron/src/helper/dialog/dialog.ts
  packages/frontend/electron/test/db/migration.spec.ts
  packages/frontend/electron/test/db/old-db.affine
Labels: mod:infra, app:electron

#6965 feat(core): bump blocksuite
  packages/common/env/package.json
  packages/common/infra/package.json
  packages/frontend/component/package.json
  packages/frontend/core/package.json
  packages/frontend/core/src/components/blocksuite/block-suite-editor/ai/setup-provider.tsx
  packages/frontend/core/src/components/blocksuite/block-suite-editor/ai/spec.ts
  packages/frontend/core/src/components/blocksuite/block-suite-editor/blocksuite-editor-container.tsx
  packages/frontend/core/src/components/blocksuite/block-suite-editor/blocksuite-editor.tsx
  packages/frontend/core/src/components/blocksuite/block-suite-editor/index.tsx
  packages/frontend/core/src/components/blocksuite/block-suite-editor/lit-adaper.tsx
  packages/frontend/core/src/components/blocksuite/block-suite-editor/specs.ts
  packages/frontend/core/src/components/blocksuite/block-suite-editor/specs/common.ts
  packages/frontend/core/src/components/blocksuite/block-suite-editor/specs/custom/attachment-block.ts
  packages/frontend/core/src/components/blocksuite/block-suite-editor/specs/custom/patch-reference-renderer.ts
  packages/frontend/core/src/components/blocksuite/block-suite-editor/specs/custom/root-block.ts
  packages/frontend/core/src/components/blocksuite/block-suite-editor/specs/edgeless.ts
  packages/frontend/core/src/components/blocksuite/block-suite-editor/specs/page.ts
  packages/frontend/core/src/pages/workspace/detail-page/detail-page.tsx
  packages/frontend/electron/package.json
  tools/cli/package.json
  yarn.lock
Labels: mod:infra, mod:env, mod:component, app:electron, mod:dev, app:core

#6970 fix: download selfhost fonts script
  scripts/download-blocksuite-fonts.mjs
Labels: mod:dev

#6855 docs: update README.md
  README.md
Labels: docs

#6909 fix(component): ui storybook's doc page can not scroll
  packages/frontend/component/.storybook/preview.css.ts
Labels: mod:component

#6975 chore: bump blocksuite
  packages/common/env/package.json
  packages/common/infra/package.json
  packages/frontend/component/package.json
  packages/frontend/core/package.json
  packages/frontend/core/src/components/blocksuite/block-suite-editor/ai/copilot-client.ts
  packages/frontend/core/src/components/blocksuite/block-suite-editor/ai/request.ts
  packages/frontend/core/src/components/blocksuite/block-suite-editor/ai/setup-provider.tsx
  packages/frontend/electron/package.json
  tools/cli/package.json
  yarn.lock
Labels: mod:infra, mod:env, mod:component, app:electron, mod:dev, app:core

#6977 feat: add lora support
  packages/backend/server/src/data/migrations/1715936358947-update-prompts.ts
  packages/backend/server/src/data/migrations/utils/prompts.ts
  packages/backend/server/src/plugins/copilot/providers/fal.ts
Labels: app:server

#6993 feat: revoke token after sensitive operations
  packages/backend/server/src/core/auth/resolver.ts
  packages/backend/server/src/core/auth/service.ts
  packages/backend/server/tests/auth.e2e.ts
  packages/backend/server/tests/utils/user.ts
  tests/kit/utils/cloud.ts
Labels: app:server, test

#6994 fix(core): fix active view with mouse
  packages/frontend/core/src/modules/workbench/view/workbench-root.tsx
Labels: app:core

#6999 fix(core): cant leave workspace
  packages/frontend/core/src/components/affine/setting-modal/workspace-setting/new-workspace-setting-detail/delete-leave-workspace/index.tsx
  packages/frontend/core/src/modules/permissions/index.ts
  packages/frontend/core/src/modules/permissions/services/permission.ts
  packages/frontend/core/src/modules/permissions/stores/permission.ts
Labels: app:core

#7001 chore(electron): temporary remove @sentry/electron due to version mismatch
  packages/frontend/electron/package.json
  packages/frontend/electron/renderer/index.tsx
  packages/frontend/electron/src/main/index.ts
  packages/frontend/electron/src/preload/index.ts
  yarn.lock
Labels: app:electron

#7008 fix(electron): incorrect db rows docId when doing trim
  packages/frontend/electron/src/helper/db/workspace-db-adapter.ts
Labels: app:electron

#7018 chore(server): cleanup expired sessions
  packages/backend/server/src/core/auth/service.ts
  packages/backend/server/src/core/auth/token.ts
Labels: app:server

#6972 refactor(core): replace history to ViewService.history
  packages/frontend/core/src/components/blocksuite/block-suite-editor/blocksuite-editor-container.tsx
  packages/frontend/core/src/components/blocksuite/block-suite-editor/lit-adaper.tsx
  packages/frontend/core/src/hooks/affine/use-share-url.ts
  packages/frontend/i18n/src/resources/index.ts
Labels: mod:i18n, app:core

#7009 refactor(electron): always save one update to electron
  packages/frontend/electron/src/helper/db/workspace-db-adapter.ts
Labels: app:electron

#7019 feat(core): bump blocksuite
  packages/common/env/package.json
  packages/common/infra/package.json
  packages/frontend/component/package.json
  packages/frontend/core/package.json
  packages/frontend/electron/package.json
  tests/affine-cloud/e2e/collaboration.spec.ts
  tests/affine-local/e2e/image-preview.spec.ts
  tools/cli/package.json
  yarn.lock
Labels: mod:infra, mod:env, mod:component, app:electron, mod:dev, test, app:core

#7025 feat(core): update blocksuite feature flag
  packages/frontend/core/src/components/affine/setting-modal/general-setting/experimental-features/index.tsx
Labels: app:core

#7026 feat(core): bump blocksuite to 0.15.0-canary-202405220826-46746e0
  packages/common/env/package.json
  packages/common/infra/package.json
  packages/frontend/component/package.json
  packages/frontend/core/package.json
  packages/frontend/electron/package.json
  tools/cli/package.json
  yarn.lock
Labels: mod:infra, mod:env, mod:component, app:electron, mod:dev, app:core

#7034 fix(core): right sidebar's content is not centered when clientBorder enabled
  packages/frontend/core/src/modules/multi-tab-sidebar/view/body.css.ts
  packages/frontend/core/src/modules/right-sidebar/view/container.css.ts
Labels: app:core

#7038 fix: combine message correctly
  packages/backend/server/src/plugins/copilot/prompt.ts
  packages/backend/server/src/plugins/copilot/providers/fal.ts
  packages/backend/server/src/plugins/copilot/session.ts
Labels: app:server

#7033 fix: use flexible year number in mail template
  packages/backend/server/src/fundamentals/mailer/template.ts
Labels: app:server

#7042 feat: adapt new fal response
  packages/backend/server/src/plugins/copilot/providers/fal.ts
Labels: app:server

#7041 feat: update i2i model
  packages/backend/server/src/data/migrations/1716451792364-update-prompts.ts
  packages/backend/server/src/data/migrations/utils/prompts.ts
  packages/backend/server/src/plugins/copilot/providers/fal.ts
  packages/backend/server/tests/copilot.spec.ts
  packages/backend/server/tests/utils/copilot.ts
Labels: app:server, test

#6991 feat(server): add OIDC for AFFiNE
  .github/workflows/build-test.yml
  packages/backend/server/src/config/affine.env.ts
  packages/backend/server/src/config/affine.ts
  packages/backend/server/src/fundamentals/config/def.ts
  packages/backend/server/src/fundamentals/helpers/url.ts
  packages/backend/server/src/plugins/oauth/providers/index.ts
  packages/backend/server/src/plugins/oauth/providers/oidc.ts
  packages/backend/server/src/plugins/oauth/types.ts
  packages/backend/server/src/schema.gql
  packages/frontend/core/src/components/affine/auth/oauth.tsx
  packages/frontend/graphql/src/schema.ts
Labels: app:server, app:core

#7024 fix: export then add test case
  packages/frontend/component/src/ui/modal/modal.tsx
  packages/frontend/electron/src/helper/dialog/dialog.ts
  tests/affine-desktop/e2e/basic.spec.ts
  tests/affine-desktop/e2e/workspace.spec.ts
Labels: mod:component, app:electron, test

#7007 feat: history cleanup
  packages/backend/server/migrations/20240521100307_add_copilot_cost/migration.sql
  packages/backend/server/migrations/migration_lock.toml
  packages/backend/server/schema.prisma
  packages/backend/server/src/plugins/copilot/resolver.ts
  packages/backend/server/src/plugins/copilot/session.ts
  packages/backend/server/src/schema.gql
Labels: app:server

#7029 feat: add customer event
  .github/actions/deploy/deploy.mjs
  .github/helm/affine/charts/graphql/templates/deployment.yaml
  .github/helm/affine/charts/graphql/templates/metrics-secret.yaml
  .github/helm/affine/charts/graphql/values.yaml
  .github/workflows/deploy.yml
  packages/backend/server/src/config/affine.env.ts
  packages/backend/server/src/core/auth/service.ts
  packages/backend/server/src/core/user/resolver.ts
  packages/backend/server/src/core/user/service.ts
  packages/backend/server/src/data/app.ts
  packages/backend/server/src/fundamentals/config/def.ts
  packages/backend/server/src/fundamentals/config/default.ts
  packages/backend/server/src/fundamentals/event/def.ts
Labels: app:server, test

#7055 feat(core): bump blocksuite
  packages/common/env/package.json
  packages/common/infra/package.json
  packages/frontend/component/package.json
  packages/frontend/core/package.json
  packages/frontend/electron/package.json
  tools/cli/package.json
  yarn.lock
Labels: mod:infra, mod:env, mod:component, app:electron, mod:dev, app:core, merge

#7027 feat: support more ai image actions
  packages/backend/server/src/data/migrations/utils/prompts.ts
  packages/frontend/core/src/components/affine/setting-modal/general-setting/experimental-features/index.tsx
  packages/frontend/core/src/components/blocksuite/block-suite-editor/ai/prompt.ts
  packages/frontend/core/src/components/blocksuite/block-suite-editor/ai/setup-provider.tsx
  packages/frontend/core/src/components/blocksuite/block-suite-editor/ai/tracker.ts
Labels: mod:dev, app:server, app:core

#7002 feat: provide notification to bs
  packages/frontend/component/src/ui/modal/confirm-modal.tsx
  packages/frontend/core/src/components/blocksuite/block-suite-editor/blocksuite-editor-container.tsx
  packages/frontend/core/src/components/blocksuite/block-suite-editor/blocksuite-editor.tsx
  packages/frontend/core/src/components/blocksuite/block-suite-editor/lit-adaper.tsx
  packages/frontend/core/src/components/blocksuite/block-suite-editor/specs/custom/patch-reference-renderer.ts
  packages/frontend/core/src/components/blocksuite/block-suite-editor/specs/custom/spec-patchers.tsx
Labels: mod:component, app:core, merge

#7075 chore: bump blocksuite
  packages/common/env/package.json
  packages/common/infra/package.json
  packages/common/infra/src/modules/workspace/entities/engine.ts
  packages/common/infra/src/modules/workspace/entities/upgrade.ts
  packages/common/infra/src/modules/workspace/entities/workspace.ts
  packages/common/infra/src/modules/workspace/index.ts
  packages/common/infra/src/modules/workspace/providers/flavour.ts
  packages/common/infra/src/modules/workspace/services/engine.ts
  packages/common/infra/src/modules/workspace/testing/testing-provider.ts
  packages/common/infra/src/sync/awareness.ts
  packages/common/infra/src/sync/blob/blob.ts
  packages/frontend/component/package.json
  packages/frontend/core/package.json
  packages/frontend/core/src/components/affine/page-history-modal/data.ts
  packages/frontend/core/src/components/affine/setting-modal/workspace-setting/new-workspace-setting-detail/profile.tsx
  packages/frontend/core/src/components/image-preview/index.tsx
  packages/frontend/core/src/modules/workspace-engine/impls/cloud.ts
  packages/frontend/core/src/modules/workspace-engine/impls/engine/awareness-broadcast-channel.ts
  packages/frontend/core/src/modules/workspace-engine/impls/engine/awareness-cloud.ts
  packages/frontend/core/src/modules/workspace-engine/impls/local.ts
  packages/frontend/core/src/pages/share/share-detail-page.tsx
  packages/frontend/electron/package.json
  tools/cli/package.json
  yarn.lock
Labels: mod:infra, mod:env, mod:component, app:electron, mod:dev, app:core

#7070 build: enable new decorator for swc
  tools/cli/src/webpack/config.ts
Labels: mod:dev

#7071 fix: reset doc mode correctly
  packages/frontend/core/src/pages/workspace/detail-page/detail-page.tsx
Labels: app:core

#7032 fix(core): unable to create blank lines correctly
  packages/frontend/core/src/components/blocksuite/block-suite-editor/styles.css.ts
Labels: app:core

#7077 fix(core): unexpected re-render in edgeless
  packages/frontend/core/src/components/blocksuite/block-suite-editor/blocksuite-editor-container.tsx
  packages/frontend/graphql/src/schema.ts
Labels: app:core

#7056 fix(core): fix ui flashing
  packages/common/infra/src/modules/workspace/entities/profile.ts
  packages/frontend/component/src/components/card/workspace-card/index.tsx
  packages/frontend/component/src/components/resize-panel/resize-panel.css.ts
  packages/frontend/component/src/components/resize-panel/resize-panel.tsx
  packages/frontend/component/src/components/workspace-avatar/index.tsx
  packages/frontend/component/src/components/workspace-list/index.tsx
  packages/frontend/component/src/ui/avatar/avatar.tsx
  packages/frontend/core/src/components/affine/app-container.tsx
  packages/frontend/core/src/components/affine/setting-modal/setting-sidebar/index.tsx
  packages/frontend/core/src/components/affine/setting-modal/workspace-setting/new-workspace-setting-detail/profile.tsx
  packages/frontend/core/src/components/app-sidebar/index.css.ts
  packages/frontend/core/src/components/pure/workspace-slider-bar/user-with-workspace-list/index.tsx
  packages/frontend/core/src/components/pure/workspace-slider-bar/user-with-workspace-list/workspace-list/index.tsx
  packages/frontend/core/src/components/pure/workspace-slider-bar/workspace-card/index.tsx
  packages/frontend/core/src/components/root-app-sidebar/index.tsx
  packages/frontend/core/src/components/workspace-selector/index.tsx
  packages/frontend/core/src/components/workspace/index.tsx
  packages/frontend/core/src/hooks/use-workspace-blob.ts
  packages/frontend/core/src/hooks/use-workspace-info.ts
  packages/frontend/core/src/layouts/workspace-layout.tsx
  packages/frontend/core/src/modules/workbench/view/split-view/panel.tsx
  packages/frontend/core/src/modules/workbench/view/split-view/split-view.tsx
  packages/frontend/core/src/modules/workbench/view/view-root.tsx
  packages/frontend/core/src/modules/workbench/view/workbench-root.tsx
  packages/frontend/core/src/modules/workspace-engine/impls/cloud.ts
  packages/frontend/core/src/modules/workspace-engine/impls/engine/blob-cloud.ts
  packages/frontend/core/src/modules/workspace-engine/impls/local.ts
  packages/frontend/core/src/pages/index.tsx
  packages/frontend/core/src/pages/workspace/index.tsx
  packages/frontend/electron/renderer/app.tsx
  packages/frontend/web/src/app.tsx
  tests/affine-local/e2e/local-first-avatar.spec.ts
  tests/fixtures/blue.png
Labels: mod:infra, mod:component, app:electron, test, app:core

#7076 fix(core): clear input value after selecting a tag in page info
  packages/frontend/core/src/components/affine/page-properties/tags-inline-editor.tsx
Labels: app:core

#7081 fix: choose provider correctly
  packages/backend/server/migrations/20240527095524_fix_prompt_schema/migration.sql
  packages/backend/server/schema.prisma
  packages/backend/server/src/plugins/copilot/controller.ts
  packages/backend/server/src/plugins/copilot/prompt.ts
Labels: app:server

#6995 feat(server): add administrator feature
  packages/backend/server/src/core/auth/guard.ts
  packages/backend/server/src/core/auth/service.ts
  packages/backend/server/src/core/common/admin-guard.ts
  packages/backend/server/src/core/common/index.ts
  packages/backend/server/src/core/features/feature.ts
  packages/backend/server/src/core/features/index.ts
  packages/backend/server/src/core/features/management.ts
  packages/backend/server/src/core/features/resolver.ts
  packages/backend/server/src/core/features/service.ts
  packages/backend/server/src/core/features/types/admin.ts
  packages/backend/server/src/core/features/types/common.ts
  packages/backend/server/src/core/features/types/index.ts
  packages/backend/server/src/core/quota/resolver.ts
  packages/backend/server/src/core/quota/service.ts
  packages/backend/server/src/core/user/index.ts
  packages/backend/server/src/core/user/resolver.ts
  packages/backend/server/src/core/user/types.ts
  packages/backend/server/src/core/workspaces/management.ts
  packages/backend/server/src/data/migrations/1-self-host-admin.ts
  packages/backend/server/src/data/migrations/1716195522794-administrator-feature.ts
  packages/backend/server/src/plugins/payment/service.ts
  packages/backend/server/src/schema.gql
  packages/backend/server/tests/payment/service.spec.ts
Labels: app:server, test

#7079 fix(server): update mind map prompt
  packages/backend/server/src/data/migrations/1716800288136-update-prompts.ts
  packages/backend/server/src/data/migrations/utils/prompts.ts
Labels: app:server

#7039 feat(core): expose toggle ai onboarding apis
  packages/frontend/core/src/components/affine/ai-onboarding/apis.ts
  packages/frontend/core/src/components/affine/ai-onboarding/edgeless.dialog.tsx
  packages/frontend/core/src/components/affine/ai-onboarding/general.dialog.tsx
  packages/frontend/core/src/components/affine/ai-onboarding/index.tsx
  packages/frontend/core/src/components/affine/ai-onboarding/local.dialog.tsx
  packages/frontend/core/src/components/affine/ai-onboarding/type.ts
Labels: app:core

#7086 refactor: find in page
  packages/frontend/component/src/ui/input/input.tsx
  packages/frontend/component/src/ui/modal/modal.tsx
  packages/frontend/component/src/ui/modal/styles.css.ts
  packages/frontend/core/src/hooks/affine/use-register-find-in-page-commands.ts
  packages/frontend/core/src/modules/find-in-page/entities/find-in-page.ts
  packages/frontend/core/src/modules/find-in-page/view/find-in-page-modal.css.ts
  packages/frontend/core/src/modules/find-in-page/view/find-in-page-modal.tsx
  packages/frontend/electron-api/src/index.ts
  packages/frontend/electron/src/main/find-in-page/handlers.ts
  packages/frontend/electron/src/main/main-window.ts
  packages/frontend/electron/src/preload/bootstrap.ts
  packages/frontend/electron/src/preload/electron-api.ts
Labels: mod:component, app:electron, app:core

#7087 chore: adjust find in page modal style
  packages/frontend/core/src/modules/find-in-page/view/find-in-page-modal.css.ts
  packages/frontend/core/src/modules/find-in-page/view/find-in-page-modal.tsx
Labels: app:core

#7061 fix(server): OIDC bug
  packages/backend/server/src/config/affine.env.ts
  packages/backend/server/src/plugins/oauth/providers/oidc.ts
Labels: app:server

#7094 fix: missing quota resolver
  packages/backend/server/src/core/quota/index.ts
  packages/backend/server/src/core/quota/resolver.ts
  packages/backend/server/src/schema.gql
Labels: app:server

#7082 feat(server): add copilot prompts management api
  packages/backend/server/src/plugins/copilot/index.ts
  packages/backend/server/src/plugins/copilot/prompt.ts
  packages/backend/server/src/plugins/copilot/resolver.ts
  packages/backend/server/src/schema.gql
  packages/backend/server/tests/copilot.spec.ts
Labels: app:server, test

#7092 feat(server): add users management api
  packages/backend/server/src/core/auth/config.ts
  packages/backend/server/src/core/features/resolver.ts
  packages/backend/server/src/core/user/resolver.ts
  packages/backend/server/src/core/user/service.ts
Labels: app:server

#7101 fix(server): deal with nested optional modules
  packages/backend/server/src/app.module.ts
Labels: app:server

#7107 chore: bump blocksuite
  packages/common/env/package.json
  packages/common/infra/package.json
  packages/frontend/component/package.json
  packages/frontend/core/package.json
  packages/frontend/core/src/components/blocksuite/block-suite-editor/ai/tracker.ts
  packages/frontend/electron/package.json
  tools/cli/package.json
  yarn.lock
Labels: mod:infra, mod:env, mod:component, app:electron, mod:dev, app:core

#7110 fix(server): runtime config overrides won't affect static startup
  packages/backend/server/src/data/app.ts
  packages/backend/server/src/data/index.ts
Labels: app:server

#7113 chore: bump blocksuite
  packages/common/env/package.json
  packages/common/infra/package.json
  packages/frontend/component/package.json
  packages/frontend/core/package.json
  packages/frontend/electron/package.json
  tools/cli/package.json
  yarn.lock
Labels: mod:infra, mod:env, mod:component, app:electron, mod:dev, app:core

#7109 feat: add chat onboarding entry
  packages/frontend/core/src/components/blocksuite/block-suite-editor/ai/setup-provider.tsx
Labels: app:core

#7115 feat(core): add admin panel page
  packages/frontend/core/src/components/admin-panel/admin-panel-header.tsx
  packages/frontend/core/src/components/admin-panel/collapsible-item.tsx
  packages/frontend/core/src/components/admin-panel/index.css.ts
  packages/frontend/core/src/components/admin-panel/index.ts
  packages/frontend/core/src/components/admin-panel/runtime-setting-row.tsx
  packages/frontend/core/src/components/admin-panel/use-get-server-runtime-config.ts
  packages/frontend/core/src/components/admin-panel/use-update-server-runtime-config.ts
  packages/frontend/core/src/components/admin-panel/utils.tsx
  packages/frontend/core/src/pages/admin-panel.css.ts
  packages/frontend/core/src/pages/admin-panel.tsx
  packages/frontend/core/src/router.tsx
  packages/frontend/graphql/src/graphql/get-server-runtime-config.gql
  packages/frontend/graphql/src/graphql/index.ts
  packages/frontend/graphql/src/graphql/update-server-runtime-configs.gql
  packages/frontend/graphql/src/schema.ts
Labels: app:core

#7117 chore: update prompt
  packages/backend/server/src/data/migrations/1717139930406-update-prompts.ts
  packages/backend/server/src/data/migrations/utils/prompts.ts
Labels: app:server

#7124 fix(core): listFloatingToolbar does not appear as expected
  packages/frontend/core/src/components/page-list/collections/virtualized-collection-list.tsx
  packages/frontend/core/src/components/page-list/docs/virtualized-page-list.tsx
  packages/frontend/core/src/components/page-list/tags/virtualized-tag-list.tsx
  packages/frontend/core/src/components/page-list/virtualized-trash-list.tsx
Labels: app:core

#7073 feat: center peek view
  packages/common/infra/src/livedata/livedata.ts
  packages/frontend/core/src/components/affine/reference-link/index.tsx
  packages/frontend/core/src/components/app-sidebar/menu-item/index.css.ts
  packages/frontend/core/src/components/app-sidebar/menu-item/index.tsx
  packages/frontend/core/src/components/blocksuite/block-suite-editor/lit-adaper.tsx
  packages/frontend/core/src/components/blocksuite/block-suite-editor/specs/custom/spec-patchers.ts
  packages/frontend/core/src/components/page-list/operation-cell.tsx
  packages/frontend/core/src/components/pure/workspace-slider-bar/collections/collections-list.tsx
  packages/frontend/core/src/components/pure/workspace-slider-bar/collections/doc.tsx
  packages/frontend/core/src/components/pure/workspace-slider-bar/collections/styles.css.ts
  packages/frontend/core/src/components/pure/workspace-slider-bar/components/reference-page.tsx
  packages/frontend/core/src/components/pure/workspace-slider-bar/favorite/favourite-nav-item.tsx
  packages/frontend/core/src/modules/index.ts
  packages/frontend/core/src/modules/peek-view/entities/peek-view.ts
  packages/frontend/core/src/modules/peek-view/index.ts
  packages/frontend/core/src/modules/peek-view/services/peek-view.ts
  packages/frontend/core/src/modules/peek-view/view/doc-peek-controls.css.ts
  packages/frontend/core/src/modules/peek-view/view/doc-peek-controls.tsx
  packages/frontend/core/src/modules/peek-view/view/doc-peek-view.css.ts
  packages/frontend/core/src/modules/peek-view/view/doc-peek-view.tsx
  packages/frontend/core/src/modules/peek-view/view/index.ts
  packages/frontend/core/src/modules/peek-view/view/modal-container.css.ts
  packages/frontend/core/src/modules/peek-view/view/modal-container.tsx
  packages/frontend/core/src/modules/peek-view/view/peek-view-manager.tsx
  packages/frontend/core/src/modules/peek-view/view/utils.ts
  packages/frontend/core/src/modules/workbench/view/workbench-link.tsx
  packages/frontend/core/src/pages/workspace/detail-page/detail-page.tsx
  packages/frontend/core/src/providers/modal-provider.tsx
  packages/frontend/i18n/src/resources/en.json
  scripts/setup/vi-mock.ts
  vitest.config.ts
Labels: mod:infra, mod:i18n, mod:dev, app:core

#7112 feat: e2e tests for peek view
  packages/frontend/core/src/components/blocksuite/block-suite-editor/lit-adaper.tsx
  packages/frontend/core/src/components/blocksuite/block-suite-mode-switch/switch-items.tsx
  packages/frontend/core/src/components/pure/workspace-slider-bar/favorite/favourite-nav-item.tsx
  packages/frontend/core/src/components/workspace/index.tsx
  packages/frontend/core/src/modules/peek-view/view/peek-view-manager.tsx
  packages/frontend/core/src/modules/workbench/view/workbench-link.tsx
  tests/affine-local/e2e/peek-view.spec.ts
  tests/kit/utils/editor.ts
  tests/kit/utils/page-logic.ts
Labels: test, app:core

#7116 feat(core): adjust admin panel style
  packages/backend/server/src/fundamentals/config/runtime/service.ts
  packages/frontend/core/src/components/admin-panel/admin-panel-header.tsx
  packages/frontend/core/src/components/admin-panel/index.css.ts
  packages/frontend/core/src/components/admin-panel/runtime-setting-row.tsx
  packages/frontend/core/src/pages/admin-panel.css.ts
  packages/frontend/core/src/pages/admin-panel.tsx
Labels: app:server, app:core

#7122 feat: add feature flag for peek view
  packages/common/env/src/global.ts
  packages/frontend/core/src/components/blocksuite/block-suite-editor/lit-adaper.tsx
  packages/frontend/core/src/modules/peek-view/entities/peek-view.ts
  packages/frontend/core/src/providers/modal-provider.tsx
  tools/cli/src/webpack/runtime-config.ts
Labels: mod:env, mod:dev, app:core
