Repository toeverything/AFFiNE, pull requests merged in 2024-02, with the labels that each got.

#5754 feat: ignore case for email
  packages/backend/server/src/core/auth/next-auth-options.ts
  packages/backend/server/src/core/auth/next-auth.controller.ts
  packages/backend/server/src/core/auth/service.ts
  packages/backend/server/src/core/features/management.ts
  packages/backend/server/src/core/users/users.ts
Labels: app:server

#5742 fix: update blocksuite local debug config
  packages/frontend/core/.webpack/config.ts
Labels: app:core

#5762 fix(workspace): fix sync stuck
  packages/frontend/workspace-impl/src/cloud/awareness.ts
  packages/frontend/workspace-impl/src/cloud/sync.ts
  packages/frontend/workspace-impl/src/cloud/sync/batch-sync-sender.ts
  packages/frontend/workspace-impl/src/cloud/sync/index.ts
Labels: mod:workspace-impl

#5763 chore: change bump-blocksuite script to js
  scripts/bump-blocksuite.js
  scripts/bump-blocksuite.sh
  tools/bump-blocksuite/index.js
  tools/bump-blocksuite/package.json
  yarn.lock
Labels: mod:dev

#5767 feat: bump blocksuite
  .github/renovate.json
  packages/common/env/package.json
  packages/common/infra/package.json
  packages/common/y-indexeddb/package.json
  packages/common/y-provider/package.json
  packages/frontend/component/package.json
  packages/frontend/core/package.json
  packages/frontend/electron/package.json
  packages/frontend/graphql/src/schema.ts
  tests/storybook/package.json
  tools/bump-blocksuite/index.js
  yarn.lock
Labels: mod:infra, mod:env, mod:component, app:electron, mod:dev, package:y-indexeddb, test, app:core

#5768 feat: support sign-in with subscription coupon
  packages/frontend/core/src/components/affine/auth/sign-in.tsx
  packages/frontend/core/src/components/affine/auth/subscription-redirect.tsx
  packages/frontend/core/src/components/affine/auth/use-subscription.ts
  packages/frontend/core/src/components/affine/setting-modal/general-setting/plans/plan-card.tsx
  packages/frontend/graphql/src/graphql/create-checkout-link.gql
  packages/frontend/graphql/src/graphql/index.ts
  packages/frontend/graphql/src/schema.ts
Labels: app:core

#5770 chore: bump electron dependencies
  package.json
  packages/frontend/electron-api/package.json
  packages/frontend/electron/package.json
  yarn.lock
Labels: app:electron

#5765 fix(server): doc upsert without row lock
  packages/backend/server/schema.prisma
  packages/backend/server/src/core/doc/manager.ts
  packages/backend/server/src/core/workspaces/resolvers/workspace.ts
  packages/backend/server/tests/doc.spec.ts
Labels: app:server, test

#5779 fix(core): typecheck after jotai upgraded
  packages/frontend/core/src/components/page-list/list.tsx
  packages/frontend/core/src/components/page-list/virtualized-list.tsx
Labels: app:core

#5753 refactor(server): reorganize server configs
  .github/deployment/self-host/compose.yaml
  .github/helm/affine/charts/graphql/templates/deployment.yaml
  .github/helm/affine/charts/sync/templates/deployment.yaml
  .github/workflows/build-test.yml
  packages/backend/server/package.json
  packages/backend/server/scripts/self-host-predeploy.js
  packages/backend/server/src/app.controller.ts
  packages/backend/server/src/app.module.ts
  packages/backend/server/src/config/affine.env.ts
  packages/backend/server/src/config/affine.self.ts
  packages/backend/server/src/config/affine.ts
  packages/backend/server/src/core/auth/service.ts
  packages/backend/server/src/core/config.ts
  packages/backend/server/src/core/doc/manager.ts
  packages/backend/server/src/data/migrations/1605053000403-self-host-admin.ts
  packages/backend/server/src/fundamentals/config/def.ts
  packages/backend/server/src/fundamentals/config/default.ts
  packages/backend/server/src/fundamentals/config/env.ts
  packages/backend/server/src/fundamentals/index.ts
  packages/backend/server/src/fundamentals/metrics/index.ts
  packages/backend/server/src/fundamentals/metrics/opentelemetry.ts
  packages/backend/server/src/index.ts
  packages/backend/server/src/plugins/config.ts
  packages/backend/server/src/plugins/gcloud/config.ts
  packages/backend/server/src/plugins/gcloud/index.ts
  packages/backend/server/src/plugins/gcloud/metrics.ts
  packages/backend/server/src/plugins/index.ts
  packages/backend/server/src/plugins/payment/resolver.ts
  packages/backend/server/src/prelude.ts
  packages/backend/server/src/schema.gql
  packages/backend/server/tests/config.spec.ts
  packages/frontend/core/src/hooks/affine/use-server-config.ts
  packages/frontend/graphql/src/graphql/index.ts
  packages/frontend/graphql/src/graphql/server-config.gql
  packages/frontend/graphql/src/schema.ts
  tests/affine-cloud/playwright.config.ts
Labels: app:server, test, app:core

#5788 docs: change community url on README
  README.md
Labels: docs

#5789 fix(core): load fonts from selfhost url
  packages/frontend/core/src/components/blocksuite/block-suite-editor/specs.ts
Labels: app:core

#5795 fix(server): apply env overrides after all config merged
  packages/backend/server/src/config/affine.ts
  packages/backend/server/src/core/doc/manager.ts
  packages/backend/server/src/core/workspaces/controller.ts
  packages/backend/server/src/fundamentals/config/def.ts
  packages/backend/server/src/fundamentals/config/default.ts
  packages/backend/server/src/plugins/payment/index.ts
  packages/backend/server/src/prelude.ts
Labels: app:server

#5798 fix(core): prevent data loss (hot-fix)
  packages/frontend/core/src/pages/workspace/index.tsx
Labels: mod:infra, app:core

#5797 fix(workspace): fix sync handshake (hot-fix)
  packages/frontend/workspace-impl/package.json
  packages/frontend/workspace-impl/src/cloud/sync/index.ts
  yarn.lock
Labels: mod:workspace-impl

#5800 fix(core): prevent data loss (hot-fix) (#5798)
  packages/frontend/core/src/pages/workspace/index.tsx
Labels: app:core

#5783 test(core): config e2e output dir
  tests/affine-cloud/playwright.config.ts
  tests/affine-desktop-cloud/playwright.config.ts
  tests/affine-desktop/playwright.config.ts
  tests/affine-local/playwright.config.ts
  tests/affine-migration/playwright.config.ts
Labels: test

#5645 feat: sync client versioning
  .github/actions/deploy/deploy.mjs
  .github/helm/affine/charts/graphql/templates/deployment.yaml
  .github/helm/affine/charts/graphql/values.yaml
  packages/backend/server/src/config/affine.env.ts
  packages/backend/server/src/core/sync/events/error.ts
  packages/backend/server/src/core/sync/events/events.gateway.ts
  packages/backend/server/src/fundamentals/config/def.ts
  packages/backend/server/src/fundamentals/config/default.ts
  packages/common/infra/src/workspace/engine/sync/consts.ts
  packages/common/infra/src/workspace/engine/sync/engine.ts
  packages/common/infra/src/workspace/engine/sync/peer.ts
  packages/common/infra/src/workspace/engine/sync/storage.ts
  packages/frontend/core/src/components/pure/workspace-slider-bar/workspace-card/index.tsx
  packages/frontend/workspace-impl/src/cloud/awareness.ts
  packages/frontend/workspace-impl/src/cloud/sync.ts
Labels: mod:infra, app:server, app:core, mod:workspace-impl

#5805 refactor(server): separate s3 & r2 storage to plugin
  packages/backend/server/src/app.module.ts
  packages/backend/server/src/config/affine.self.ts
  packages/backend/server/src/config/affine.ts
  packages/backend/server/src/core/storage/wrappers/avatar.ts
  packages/backend/server/src/core/storage/wrappers/blob.ts
  packages/backend/server/src/fundamentals/config/storage/index.ts
  packages/backend/server/src/fundamentals/index.ts
  packages/backend/server/src/fundamentals/storage/index.ts
  packages/backend/server/src/fundamentals/storage/native.ts
  packages/backend/server/src/fundamentals/storage/providers/index.ts
  packages/backend/server/src/plugins/config.ts
  packages/backend/server/src/plugins/index.ts
  packages/backend/server/src/plugins/storage/index.ts
  packages/backend/server/src/plugins/storage/providers/r2.ts
  packages/backend/server/src/plugins/storage/providers/s3.ts
  packages/backend/server/src/plugins/storage/types.ts
Labels: app:server

#5803 feat(core): add an option to throttle cpu in e2e
  tests/kit/playwright.ts
Labels: test

#5804 fix(core): flaky tests
  packages/frontend/core/src/modules/workspace/properties/adapter.ts
  tests/affine-local/e2e/blocksuite/editor.spec.ts
  tests/affine-local/e2e/local-first-favorites-items.spec.ts
  tests/kit/utils/page-logic.ts
Labels: test, app:core

#5812 feat: bump blocksuite
  packages/common/env/package.json
  packages/common/infra/package.json
  packages/common/y-indexeddb/package.json
  packages/common/y-provider/package.json
  packages/frontend/component/package.json
  packages/frontend/core/package.json
  packages/frontend/core/src/components/affine/page-history-modal/data.ts
  packages/frontend/core/src/components/blocksuite/block-suite-editor/blocksuite-editor-container.tsx
  packages/frontend/core/src/components/blocksuite/block-suite-editor/blocksuite-editor.tsx
  packages/frontend/core/src/components/blocksuite/block-suite-editor/specs.ts
  packages/frontend/electron/package.json
  tests/affine-local/e2e/quick-search.spec.ts
  tests/storybook/package.json
  yarn.lock
Labels: mod:infra, mod:env, mod:component, app:electron, package:y-indexeddb, test, app:core

#5817 feat: bump blocksuite
  packages/common/env/package.json
  packages/common/infra/package.json
  packages/common/y-indexeddb/package.json
  packages/common/y-provider/package.json
  packages/frontend/component/package.json
  packages/frontend/core/package.json
  packages/frontend/electron/package.json
  tests/storybook/package.json
  yarn.lock
Labels: mod:infra, mod:env, mod:component, app:electron, package:y-indexeddb, test, app:core

#5722 refactor(component): cmdk ordering
  packages/common/infra/src/command/command.ts
  packages/frontend/core/src/components/pure/cmdk/__tests__/filter-commands.spec.ts
  packages/frontend/core/src/components/pure/cmdk/__tests__/use-highlight.spec.ts
  packages/frontend/core/src/components/pure/cmdk/data-hooks.tsx
  packages/frontend/core/src/components/pure/cmdk/filter-commands.ts
  packages/frontend/core/src/components/pure/cmdk/highlight.tsx
  packages/frontend/core/src/components/pure/cmdk/main.tsx
  packages/frontend/core/src/components/pure/cmdk/not-found.tsx
  packages/frontend/core/src/components/pure/cmdk/types.ts
  packages/frontend/core/src/components/pure/cmdk/use-highlight.ts
  packages/frontend/core/src/hooks/affine/use-register-blocksuite-editor-commands.tsx
  tests/affine-local/e2e/quick-search.spec.ts
  tests/storybook/src/stories/quick-search/quick-search-modal.stories.tsx
Labels: mod:infra, app:server, test, app:core

#5786 chore: skip sync when offline
  packages/frontend/core/src/components/affine/setting-modal/workspace-setting/new-workspace-setting-detail/export.tsx
Labels: app:core

#5834 feat: refresh new workspace feature
  packages/backend/server/src/data/migrations/1708321519830-refresh-unlimited-workspace-feature.ts
  packages/backend/server/src/data/migrations/utils/user-features.ts
Labels: app:server

#5833 fix: selfhost build
  scripts/download-blocksuite-fonts.mjs
Labels: mod:dev

#5821 fix(electron): linux login issues
  packages/frontend/electron/forge.config.mjs
  packages/frontend/electron/package.json
  yarn.lock
Labels: app:electron

#5822 build(electron): generate latest-linux.yml
  packages/frontend/electron/scripts/generate-yml.js
Labels: app:electron

#5835 feat(server): allow customize mailer server
  .github/actions/deploy/deploy.mjs
  .github/helm/affine/charts/graphql/templates/deployment.yaml
  .github/helm/affine/charts/graphql/values.yaml
  .github/workflows/build-test.yml
  .github/workflows/deploy.yml
  docs/developing-server.md
  packages/backend/server/package.json
  packages/backend/server/src/config/affine.env.ts
  packages/backend/server/src/config/affine.self.ts
  packages/backend/server/src/core/auth/next-auth-options.ts
  packages/backend/server/src/fundamentals/config/def.ts
  packages/backend/server/src/fundamentals/config/default.ts
  packages/backend/server/src/fundamentals/mailer/index.ts
  packages/backend/server/src/fundamentals/mailer/mail.service.ts
  packages/backend/server/src/fundamentals/mailer/mailer.ts
  tests/affine-cloud/playwright.config.ts
  tests/affine-desktop-cloud/playwright.config.ts
Labels: docs, app:server, test

#5836 feat: use custom verify token policy
  packages/backend/server/src/core/auth/next-auth-options.ts
  packages/backend/server/src/fundamentals/session/index.ts
Labels: app:server

#5727 fix: cards overlapping issue
  packages/frontend/core/src/components/affine/onboarding/articles/index.tsx
Labels: app:core

#5818 feat: Duplicate page in page list and clone naming improvements
  packages/frontend/core/src/components/page-list/docs/virtualized-page-list.tsx
  packages/frontend/core/src/components/page-list/operation-cell.tsx
  packages/frontend/core/src/hooks/affine/use-block-suite-meta-helper.ts
  packages/frontend/core/src/pages/workspace/trash-page.tsx
Labels: app:core

#5843 chore: upgrade Rust to 1.76
  README.md
  rust-toolchain.toml
Labels: docs, rust

#5840 fix(core): match page preview and page title in page list
  packages/frontend/core/src/components/page-list/use-block-suite-workspace-page.ts
Labels: app:core

#5733 feat(core): add history tips modal
  packages/frontend/core/src/atoms/index.ts
  packages/frontend/core/src/components/affine/history-tips-modal/index.tsx
  packages/frontend/core/src/components/affine/history-tips-modal/top-svg.tsx
  packages/frontend/core/src/components/blocksuite/block-suite-header/menu/index.tsx
  packages/frontend/core/src/providers/modal-provider.tsx
  packages/frontend/i18n/src/resources/en.json
Labels: mod:i18n, mod:store, app:core

#5785 feat(core): add loading to quick search modal
  packages/frontend/core/src/atoms/sync-engine-status.ts
  packages/frontend/core/src/components/pure/cmdk/main.css.ts
  packages/frontend/core/src/components/pure/cmdk/main.tsx
  packages/frontend/core/src/components/pure/workspace-slider-bar/workspace-card/index.tsx
  packages/frontend/core/src/hooks/affine/use-sync-engine-status.tsx
Labels: mod:store, app:core

#5654 refactor(component): new calendar-view DatePicker
  packages/frontend/component/src/ui/date-picker/affine-date-picker.stories.tsx
  packages/frontend/component/src/ui/date-picker/affine-date-picker.tsx
  packages/frontend/component/src/ui/date-picker/calendar/calendar.css.ts
  packages/frontend/component/src/ui/date-picker/calendar/calendar.stories.tsx
  packages/frontend/component/src/ui/date-picker/calendar/calendar.tsx
  packages/frontend/component/src/ui/date-picker/calendar/constants.ts
  packages/frontend/component/src/ui/date-picker/calendar/day-picker.tsx
  packages/frontend/component/src/ui/date-picker/calendar/helpers.ts
  packages/frontend/component/src/ui/date-picker/calendar/index.ts
  packages/frontend/component/src/ui/date-picker/calendar/items.tsx
  packages/frontend/component/src/ui/date-picker/calendar/month-picker.tsx
  packages/frontend/component/src/ui/date-picker/calendar/types.tsx
  packages/frontend/component/src/ui/date-picker/calendar/year-picker.tsx
  packages/frontend/component/src/ui/date-picker/index.ts
  packages/frontend/i18n/src/resources/en.json
  packages/frontend/i18n/src/resources/zh-Hans.json
Labels: mod:i18n, mod:component

#5852 chore: bump blocksuite
  packages/common/env/package.json
  packages/common/infra/package.json
  packages/common/y-indexeddb/package.json
  packages/common/y-provider/package.json
  packages/frontend/component/package.json
  packages/frontend/core/.webpack/runtime-config.ts
  packages/frontend/core/package.json
  packages/frontend/electron/package.json
  tests/storybook/package.json
  yarn.lock
Labels: mod:infra, mod:env, mod:component, app:electron, package:y-indexeddb, test, app:core

#5849 feat: blocksuite integration for pageMode & pageUpdatedAt
  packages/frontend/core/src/components/page-detail-editor.tsx
  packages/frontend/core/src/pages/workspace/detail-page/detail-page.tsx
Labels: app:core

#5844 fix(component): nowrap inline-edit
  packages/frontend/component/src/ui/editable/inline-edit.tsx
Labels: mod:component

#5761 chore: replace ambiguous "page" with "doc"
  packages/frontend/core/src/components/page-list/components/new-page-button.tsx
  packages/frontend/core/src/pages/workspace/collection.tsx
  packages/frontend/core/src/pages/workspace/page-list-empty.tsx
  packages/frontend/electron/src/main/application-menu/create.ts
  packages/frontend/electron/src/main/application-menu/index.ts
  packages/frontend/i18n/src/resources/en.json
  tests/affine-local/e2e/all-page.spec.ts
  tests/affine-local/e2e/quick-search.spec.ts
Labels: mod:i18n, app:electron, test, app:core

#5681 feat(component): remove react-datepicker
  packages/frontend/component/package.json
  packages/frontend/component/src/ui/date-picker/affine-date-picker.stories.tsx
  packages/frontend/component/src/ui/date-picker/affine-date-picker.tsx
  packages/frontend/component/src/ui/date-picker/blocksuite-date-picker.stories.tsx
  packages/frontend/component/src/ui/date-picker/blocksuite-date-picker.tsx
  packages/frontend/component/src/ui/date-picker/index.ts
  tests/storybook/src/stories/datepicker.stories.tsx
  yarn.lock
Labels: mod:component, test

#5859 fix: css style should not apply on nested editor's viewport
  packages/frontend/core/src/components/page-detail-editor.css.ts
Labels: app:core

#5857 test(server): incorrect prisma overriding
  packages/backend/server/tests/app.e2e.ts
Labels: app:server, test

#5723 fix(core): journal display on cmdk
  packages/frontend/core/src/components/pure/cmdk/data-hooks.tsx
  packages/frontend/core/src/hooks/use-block-suite-workspace-page-title.ts
Labels: app:core

#5743 fix(core): editor container grow to full height
  packages/frontend/core/src/components/blocksuite/block-suite-editor/styles.css.ts
Labels: app:core

#5456 fix(core): the pitch zooming function incorrectly zooms the toolbar
  packages/frontend/core/src/components/image-preview/hooks/use-zoom.tsx
Labels: app:core

#5865 fix(core): fix 404 after signout (hotfix)
  packages/frontend/core/src/pages/index.tsx
Labels: app:core

#5863 refactor(server): import prisma from `@prisma/client`
  packages/backend/server/src/core/auth/guard.ts
  packages/backend/server/src/core/auth/next-auth-options.ts
  packages/backend/server/src/core/auth/next-auth.controller.ts
  packages/backend/server/src/core/auth/service.ts
  packages/backend/server/src/core/auth/utils/jwt.ts
  packages/backend/server/src/core/doc/history.ts
  packages/backend/server/src/core/doc/manager.ts
  packages/backend/server/src/core/features/management.ts
  packages/backend/server/src/core/features/service.ts
  packages/backend/server/src/core/quota/quota.ts
  packages/backend/server/src/core/quota/service.ts
  packages/backend/server/src/core/users/resolver.ts
  packages/backend/server/src/core/users/users.ts
  packages/backend/server/src/core/workspaces/controller.ts
  packages/backend/server/src/core/workspaces/permission.ts
  packages/backend/server/src/core/workspaces/resolvers/page.ts
  packages/backend/server/src/core/workspaces/resolvers/workspace.ts
  packages/backend/server/src/fundamentals/index.ts
  packages/backend/server/src/fundamentals/prisma/index.ts
  packages/backend/server/src/plugins/payment/resolver.ts
  packages/backend/server/src/plugins/payment/service.ts
  packages/backend/server/tests/app.e2e.ts
  packages/backend/server/tests/mailer.e2e.ts
  packages/backend/server/tests/mailer.spec.ts
Labels: app:server, test

#5862 fix(core): disable sidebar user select
  packages/frontend/core/src/components/pure/workspace-slider-bar/collections/styles.css.ts
  packages/frontend/core/src/components/pure/workspace-slider-bar/favorite/styles.css.ts
Labels: app:core

#5867 fix(core): fix desktop e2e
  packages/frontend/core/src/pages/index.tsx
Labels: app:core

#5715 feat(core): ignore empty journal for global useBlockSuitePageMeta hook
  packages/frontend/core/src/hooks/__tests__/use-block-suite-workspace-helper.spec.ts
  packages/frontend/core/src/hooks/__tests__/use-block-suite-workspace-helper.spec.tsx
  packages/frontend/core/src/hooks/use-affine-adapter.ts
  packages/frontend/core/src/hooks/use-all-block-suite-page-meta.ts
  packages/frontend/core/src/hooks/use-block-suite-page-meta.ts
  packages/frontend/core/src/pages/workspace/detail-page/editor-sidebar/extensions/journal.tsx
Labels: test, app:core

#5739 feat(core): workspace properties setting
  packages/frontend/component/src/ui/button/button.css.ts
  packages/frontend/component/src/ui/input/style.css.ts
  packages/frontend/component/src/ui/menu/styles.css.ts
  packages/frontend/core/src/components/affine/page-properties/icons-mapping.tsx
  packages/frontend/core/src/components/affine/page-properties/icons-selector.css.ts
  packages/frontend/core/src/components/affine/page-properties/icons-selector.tsx
  packages/frontend/core/src/components/affine/page-properties/menu-items.tsx
  packages/frontend/core/src/components/affine/page-properties/page-properties-manager.ts
  packages/frontend/core/src/components/affine/page-properties/property-row-value-renderer.tsx
  packages/frontend/core/src/components/affine/page-properties/styles.css.ts
  packages/frontend/core/src/components/affine/page-properties/table.tsx
  packages/frontend/core/src/components/affine/setting-modal/setting-sidebar/index.tsx
  packages/frontend/core/src/components/affine/setting-modal/types.ts
  packages/frontend/core/src/components/affine/setting-modal/workspace-setting/index.tsx
  packages/frontend/core/src/components/affine/setting-modal/workspace-setting/properties/index.tsx
  packages/frontend/core/src/components/affine/setting-modal/workspace-setting/properties/styles.css.ts
  packages/frontend/i18n/src/resources/en.json
Labels: mod:i18n, mod:component, app:core

#5769 test(core): add tests for page info ui
  packages/frontend/core/src/components/affine/page-properties/confirm-delete-property-modal.tsx
  packages/frontend/core/src/components/affine/page-properties/icons-selector.tsx
  packages/frontend/core/src/components/affine/page-properties/menu-items.tsx
  packages/frontend/core/src/components/affine/page-properties/page-properties-manager.ts
  packages/frontend/core/src/components/affine/page-properties/styles.css.ts
  packages/frontend/core/src/components/affine/page-properties/table.tsx
  packages/frontend/core/src/components/affine/page-properties/tags-inline-editor.tsx
  packages/frontend/core/src/components/affine/setting-modal/setting-sidebar/index.tsx
  packages/frontend/core/src/components/affine/setting-modal/workspace-setting/properties/index.tsx
  packages/frontend/core/src/components/page-list/docs/page-tags.tsx
  packages/frontend/i18n/src/resources/en.json
  tests/affine-local/e2e/all-page.spec.ts
  tests/affine-local/e2e/local-first-collections-items.spec.ts
  tests/affine-local/e2e/local-first-delete-page.spec.ts
  tests/affine-local/e2e/local-first-favorites-items.spec.ts
  tests/affine-local/e2e/page-properties.spec.ts
  tests/kit/utils/filter.ts
  tests/kit/utils/page-logic.ts
  tests/kit/utils/properties.ts
Labels: mod:i18n, test, app:core

#5809 refactor(core): use fractional indexing for sorting
  packages/frontend/core/package.json
  packages/frontend/core/src/components/affine/page-properties/page-properties-manager.ts
  packages/frontend/core/src/components/affine/page-properties/table.tsx
  packages/frontend/core/src/components/affine/page-properties/tags-inline-editor.css.ts
  packages/frontend/core/src/hooks/use-affine-adapter.ts
  packages/frontend/core/src/modules/workspace/properties/schema.ts
  tests/affine-local/e2e/page-properties.spec.ts
  yarn.lock
Labels: mod:i18n, mod:component, test, app:core

#5870 chore: remove swc plugin because it is too outdated
  packages/frontend/core/.webpack/config.ts
  packages/frontend/core/package.json
  yarn.lock
Labels: app:core

#5875 chore(electron): bump @pengx17/electron-forge-maker-appimage to fix appimage build
  packages/frontend/electron/package.json
  yarn.lock
Labels: app:electron

#5879 fix: fix image preview modal story
  tests/storybook/src/stories/image-preview-modal.stories.tsx
Labels: test

#5771 feat(core): support create cloud workspace
  packages/common/env/src/global.ts
  packages/frontend/component/src/ui/modal/styles.css.ts
  packages/frontend/component/src/ui/switch/index.css.ts
  packages/frontend/component/src/ui/switch/switch.tsx
  packages/frontend/core/.webpack/runtime-config.ts
  packages/frontend/core/src/components/affine/create-workspace-modal/index.css.ts
  packages/frontend/core/src/components/affine/create-workspace-modal/index.tsx
  packages/frontend/core/src/components/affine/share-page-modal/cloud-svg.tsx
  packages/frontend/core/src/components/affine/share-page-modal/share-menu/index.css.ts
  packages/frontend/core/src/components/affine/share-page-modal/share-menu/share-page.tsx
  packages/frontend/core/src/components/pure/workspace-slider-bar/user-with-workspace-list/add-workspace/index.tsx
  packages/frontend/core/src/components/pure/workspace-slider-bar/user-with-workspace-list/index.tsx
  packages/frontend/i18n/src/resources/en.json
Labels: mod:i18n, mod:env, mod:component, app:core

#5882 fix: keyboard shortcut style in cmdk
  packages/frontend/core/src/components/pure/cmdk/main.css.ts
Labels: app:core

#5883 feat(core): add shortcut for openning settings
  packages/frontend/core/src/commands/affine-navigation.tsx
Labels: app:core

#5884 fix(core): fix app boot speed
  packages/frontend/core/src/pages/index.tsx
  packages/frontend/core/src/providers/modal-provider.tsx
Labels: app:core

#5885 fix(core): fix app boot speed
  packages/frontend/core/src/pages/index.tsx
  packages/frontend/core/src/providers/modal-provider.tsx
Labels: app:core

#5540 feat: add shared page filter to all pages
  packages/frontend/core/src/components/page-list/__tests__/filter.spec.tsx
  packages/frontend/core/src/components/page-list/docs/virtualized-page-list.tsx
  packages/frontend/core/src/components/page-list/filter/filter-tag-translation.tsx
  packages/frontend/core/src/components/page-list/filter/shared-types.tsx
  packages/frontend/core/src/components/page-list/use-collection-manager.ts
  packages/frontend/core/src/components/page-list/use-filtered-page-metas.tsx
  packages/frontend/core/src/components/page-list/view/edit-collection/edit-collection.tsx
  packages/frontend/core/src/components/page-list/view/edit-collection/pages-mode.tsx
  packages/frontend/core/src/components/page-list/view/edit-collection/rules-mode.tsx
  packages/frontend/core/src/components/page-list/view/edit-collection/select-page.tsx
  packages/frontend/core/src/components/page-list/view/edit-collection/use-filter.tsx
  packages/frontend/core/src/components/pure/workspace-slider-bar/collections/collections-list.tsx
  packages/frontend/core/src/hooks/affine/use-all-page-list-config.tsx
  packages/frontend/core/src/hooks/affine/use-is-shared-page.ts
  packages/frontend/core/src/pages/workspace/all-page/all-page.tsx
  packages/frontend/core/src/pages/workspace/trash-page.tsx
  packages/frontend/i18n/src/resources/en.json
Labels: mod:i18n, mod:component, test, app:core

#5607 chore: filter out edgeless content from page preview
  packages/frontend/core/src/components/page-list/use-block-suite-page-preview.ts
Labels: app:core

#5886 chore: replace pricing plan link
  packages/frontend/core/src/components/affine/setting-modal/general-setting/plans/plan-card.tsx
  packages/frontend/i18n/src/resources/en.json
Labels: mod:i18n, app:core

#5891 chore: bump all dependencies
  docs/reference/package.json
  package.json
  packages/backend/server/package.json
  packages/backend/server/src/core/auth/next-auth-options.ts
  packages/backend/server/src/fundamentals/event/types.ts
  packages/backend/server/src/global.d.ts
  packages/backend/storage/package.json
  packages/common/debug/package.json
  packages/common/env/package.json
  packages/common/infra/package.json
  packages/common/infra/src/di/core/types.ts
  packages/common/infra/src/utils/async-queue.ts
  packages/common/y-indexeddb/package.json
  packages/common/y-provider/package.json
  packages/frontend/component/package.json
  packages/frontend/core/package.json
  packages/frontend/core/src/components/affine/affine-error-boundary/error-basic/error-detail.tsx
  packages/frontend/core/src/components/page-list/filter/logical/typesystem.ts
  packages/frontend/core/src/components/pure/cmdk/data-hooks.tsx
  packages/frontend/electron-api/package.json
  packages/frontend/electron/package.json
  packages/frontend/graphql/package.json
  packages/frontend/graphql/src/fetcher.ts
  packages/frontend/i18n/package.json
  packages/frontend/native/package.json
  packages/frontend/workspace-impl/package.json
  tests/affine-cloud/package.json
  tests/affine-desktop-cloud/package.json
  tests/affine-desktop/package.json
  tests/affine-legacy/0.6.1-beta.1/package.json
  tests/affine-legacy/0.7.0-canary.18/package.json
  tests/affine-legacy/0.8.0-canary.7/package.json
  tests/affine-legacy/0.8.4/package.json
  tests/affine-local/package.json
  tests/affine-migration/package.json
  tests/kit/package.json
  tests/storybook/package.json
  tools/bump-blocksuite/package.json
  tools/cli/package.json
  tools/commitlint/package.json
  tools/workers/package.json
  yarn.lock
Labels: mod:infra, docs, mod:i18n, mod:env, mod:component, app:electron, mod:dev, package:y-indexeddb, app:server, test, mod:storage, mod:native, app:core, mod:workspace-impl

#5896 chore: downgrade react-virtuoso to 4.6.3
  packages/frontend/component/package.json
  packages/frontend/core/package.json
  yarn.lock
Labels: mod:component, app:core

#5893 fix: page properties flaky tests
  tests/affine-local/e2e/page-properties.spec.ts
Labels: test

#5892 fix: page info -> info
  packages/frontend/i18n/src/resources/en.json
Labels: mod:i18n

#5901 fix: right sidepanel open on focus
  packages/frontend/component/src/components/resize-panel/resize-panel.css.ts
Labels: mod:component

#5894 fix(core): handling error message when sending verify change email
  packages/frontend/core/src/pages/auth.tsx
  packages/frontend/i18n/src/resources/en.json
Labels: mod:i18n, app:core

#5752 refactor(core): use custom scrollbar for editor and adjust shared page style
  packages/frontend/component/src/components/auth-components/share.css.ts
  packages/frontend/component/src/theme/global.css
  packages/frontend/core/src/components/affine/page-history-modal/history-modal.tsx
  packages/frontend/core/src/components/affine/page-history-modal/styles.css.ts
  packages/frontend/core/src/components/blocksuite/block-suite-editor/lit-adaper.tsx
  packages/frontend/core/src/components/blocksuite/block-suite-editor/styles.css.ts
  packages/frontend/core/src/components/cloud/share-header-left-item/index.tsx
  packages/frontend/core/src/components/cloud/share-header-left-item/styles.css.ts
  packages/frontend/core/src/components/cloud/share-header-left-item/user-avatar.tsx
  packages/frontend/core/src/components/cloud/share-header-right-item/authenticated-item.tsx
  packages/frontend/core/src/components/cloud/share-header-right-item/index.tsx
  packages/frontend/core/src/components/cloud/share-header-right-item/present.tsx
  packages/frontend/core/src/components/cloud/share-header-right-item/styles.css.ts
  packages/frontend/core/src/components/cloud/share-header-right-item/user-avatar.tsx
  packages/frontend/core/src/components/page-detail-editor.css.ts
  packages/frontend/core/src/components/page-detail-editor.tsx
  packages/frontend/core/src/pages/share/share-detail-page.css.ts
  packages/frontend/core/src/pages/share/share-detail-page.tsx
  packages/frontend/core/src/pages/share/share-footer.css.ts
  packages/frontend/core/src/pages/share/share-footer.tsx
  packages/frontend/core/src/pages/share/share-header.css.ts
  packages/frontend/core/src/pages/share/share-header.tsx
  packages/frontend/core/src/pages/workspace/detail-page/detail-page.css.ts
  packages/frontend/core/src/pages/workspace/detail-page/detail-page.tsx
  packages/frontend/i18n/src/resources/en.json
  tests/affine-cloud/e2e/collaboration.spec.ts
Labels: mod:i18n, mod:component, test, app:core

#5902 feat(core): enable right sidepanel animation
  packages/frontend/core/src/pages/workspace/detail-page/detail-page.tsx
Labels: app:core

#5910 fix: page info styles
  packages/frontend/core/src/components/affine/page-properties/common.ts
  packages/frontend/core/src/components/affine/page-properties/property-row-value-renderer.tsx
  packages/frontend/core/src/components/affine/page-properties/styles.css.ts
  packages/frontend/core/src/components/affine/page-properties/table.tsx
  packages/frontend/core/src/components/affine/page-properties/tags-inline-editor.css.ts
  packages/frontend/core/src/components/affine/page-properties/tags-inline-editor.tsx
  packages/frontend/core/src/components/page-list/docs/page-tags.css.ts
  tests/affine-local/e2e/page-properties.spec.ts
  tests/kit/utils/filter.ts
  tests/kit/utils/properties.ts
Labels: test, app:core

#5917 chore: create default user for devcontainer
  .devcontainer/build.sh
  .devcontainer/setup-user.sh
Labels: enhancement, Review effort [1-5]: 2

#5832 refactor(core): remove collection atom
  packages/frontend/core/src/atoms/index.ts
  packages/frontend/core/src/commands/affine-navigation.tsx
  packages/frontend/core/src/components/page-list/__tests__/use-all-page-setting.spec.ts
  packages/frontend/core/src/components/page-list/collections/virtualized-collection-list.tsx
  packages/frontend/core/src/components/page-list/docs/page-list-header.tsx
  packages/frontend/core/src/components/page-list/docs/virtualized-page-list.tsx
  packages/frontend/core/src/components/page-list/operation-cell.tsx
  packages/frontend/core/src/components/page-list/tags/virtualized-tag-list.tsx
  packages/frontend/core/src/components/page-list/use-collection-manager.ts
  packages/frontend/core/src/components/page-list/use-filtered-page-metas.tsx
  packages/frontend/core/src/components/page-list/view/collection-bar.css.ts
  packages/frontend/core/src/components/page-list/view/collection-bar.tsx
  packages/frontend/core/src/components/page-list/view/collection-list.tsx
  packages/frontend/core/src/components/page-list/view/collection-operations.tsx
  packages/frontend/core/src/components/page-list/view/index.ts
  packages/frontend/core/src/components/page-list/view/use-action.tsx
  packages/frontend/core/src/components/pure/cmdk/data-hooks.tsx
  packages/frontend/core/src/components/pure/workspace-mode-filter-tab/index.tsx
  packages/frontend/core/src/components/pure/workspace-slider-bar/collections/collections-list.tsx
  packages/frontend/core/src/components/root-app-sidebar/index.tsx
  packages/frontend/core/src/hooks/use-navigate-helper.ts
  packages/frontend/core/src/hooks/use-register-workspace-commands.ts
  packages/frontend/core/src/modules/collection/service.ts
  packages/frontend/core/src/modules/page-list/page-list-view.ts
  packages/frontend/core/src/pages/workspace/all-collection/header.tsx
  packages/frontend/core/src/pages/workspace/all-collection/index.tsx
  packages/frontend/core/src/pages/workspace/all-page/all-page-filter.tsx
  packages/frontend/core/src/pages/workspace/all-page/all-page-header.tsx
  packages/frontend/core/src/pages/workspace/all-page/all-page.tsx
  packages/frontend/core/src/pages/workspace/all-tag/header.tsx
  packages/frontend/core/src/pages/workspace/all-tag/index.tsx
  packages/frontend/core/src/pages/workspace/collection/collection.css.ts
  packages/frontend/core/src/pages/workspace/collection/header.tsx
  packages/frontend/core/src/pages/workspace/collection/index.tsx
  packages/frontend/core/src/pages/workspace/detail-page/detail-page.tsx
  packages/frontend/core/src/pages/workspace/tag.tsx
  packages/frontend/core/src/pages/workspace/tag/header.tsx
  packages/frontend/core/src/pages/workspace/tag/index.tsx
  packages/frontend/core/src/pages/workspace/trash-page.tsx
  packages/frontend/core/src/router.ts
  tests/affine-local/e2e/all-page.spec.ts
Labels: mod:store, test, app:core

#5837 feat(core): workbench system
  packages/frontend/component/src/components/app-sidebar/menu-item/index.tsx
  packages/frontend/core/package.json
  packages/frontend/core/src/components/affine/affine-error-boundary/error-basic/info-logger.tsx
  packages/frontend/core/src/components/page-list/docs/page-list-item.tsx
  packages/frontend/core/src/components/page-list/page-group.tsx
  packages/frontend/core/src/components/pure/workspace-slider-bar/collections/collections-list.tsx
  packages/frontend/core/src/components/root-app-sidebar/index.tsx
  packages/frontend/core/src/hooks/use-navigate-helper.ts
  packages/frontend/core/src/layouts/workspace-layout.tsx
  packages/frontend/core/src/modules/infra-web/global-scope/index.tsx
  packages/frontend/core/src/modules/page/current-page.tsx
  packages/frontend/core/src/modules/page/index.ts
  packages/frontend/core/src/modules/services.ts
  packages/frontend/core/src/modules/workbench/browser-adapter.ts
  packages/frontend/core/src/modules/workbench/desktop-adapter.ts
  packages/frontend/core/src/modules/workbench/index.ts
  packages/frontend/core/src/modules/workbench/view/index.ts
  packages/frontend/core/src/modules/workbench/view/view-root.tsx
  packages/frontend/core/src/modules/workbench/view/view.ts
  packages/frontend/core/src/modules/workbench/workbench-link.tsx
  packages/frontend/core/src/modules/workbench/workbench-root.css.ts
  packages/frontend/core/src/modules/workbench/workbench-root.tsx
  packages/frontend/core/src/modules/workbench/workbench.ts
  packages/frontend/core/src/pages/share/share-detail-page.tsx
  packages/frontend/core/src/pages/workspace/detail-page/detail-page.tsx
  packages/frontend/core/src/pages/workspace/index.tsx
  packages/frontend/core/src/router.tsx
  packages/frontend/core/src/testing.ts
  tests/storybook/src/stories/core.stories.tsx
  tests/storybook/src/stories/image-preview-modal.stories.tsx
  yarn.lock
Labels: mod:component, test, app:core

#5921 build: codesigning dmg
  .github/workflows/release-desktop.yml
Labels: enhancement, Review effort [1-5]: 1

#5920 ci: fix selfhost
  .github/deployment/node/Dockerfile
  .github/deployment/self-host/compose.yaml
  packages/backend/server/package.json
  packages/backend/server/scripts/loader.js
  packages/backend/server/scripts/register.js
  packages/backend/server/scripts/self-host-predeploy.js
  packages/backend/server/src/core/auth/next-auth-options.ts
Labels: app:server, enhancement, Review effort [1-5]: 2

#5922 build(electron): fix dmg maker
  package.json
  yarn.lock
Labels: app:electron, enhancement, Review effort [1-5]: 3

#5923 refactor(component): use react-transition-state to simplify exit animation
  packages/frontend/component/package.json
  packages/frontend/component/src/components/resize-panel/resize-panel.css.ts
  packages/frontend/component/src/components/resize-panel/resize-panel.tsx
  packages/frontend/core/package.json
  packages/frontend/core/src/components/pure/cmdk/modal.css.ts
  packages/frontend/core/src/components/pure/cmdk/modal.tsx
  yarn.lock
Labels: mod:component, app:core, enhancement, Review effort [1-5]: 2

#5935 fix(core): minor page info style issues
  packages/frontend/core/src/components/affine/page-properties/property-row-value-renderer.tsx
  packages/frontend/core/src/components/affine/page-properties/styles.css.ts
Labels: app:core

#5930 build: fix selfhost config
  packages/frontend/core/src/components/blocksuite/block-suite-editor/specs.ts
Labels: app:core

#5936 fix(core): date formatter timezone issue
  packages/frontend/core/src/utils/intl-formatter.ts
Labels: app:core

#5938 fix(server): sender passed to nextauth is never used
  packages/backend/server/src/core/auth/next-auth-options.ts
  packages/backend/server/src/core/auth/utils/send-mail.ts
Labels: app:server

#5939 docs: update contributed tutorial documentation
  docs/contributing/tutorial.md
Labels: docs

#5927 feat: udpate security policy docs
  SECURITY.md
Labels: Review effort [1-5]: 1, documentation

#5943 fix(core): polyfill resize-observer for development to avoid error overlay
  packages/frontend/component/package.json
  packages/frontend/core/package.json
  packages/frontend/core/src/index.tsx
  packages/frontend/core/src/polyfill/resize-observer.ts
  yarn.lock
Labels: mod:component, app:core

#5909 feat(server): backend module awareness & optional request
  packages/backend/server/src/core/config.ts
  packages/backend/server/src/plugins/payment/index.ts
  packages/frontend/core/src/components/affine/setting-modal/account-setting/index.tsx
  packages/frontend/core/src/components/affine/setting-modal/general-setting/index.tsx
  packages/frontend/core/src/components/affine/setting-modal/workspace-setting/new-workspace-setting-detail/index.tsx
  packages/frontend/core/src/hooks/affine/use-server-config.ts
  packages/frontend/core/src/hooks/use-subscription.ts
Labels: app:server, app:core

#5952 feat(core): new onboarding template (hotfix)
  packages/common/infra/src/blocksuite/initialization/index.ts
  packages/frontend/core/src/bootstrap/first-app-data.ts
  packages/frontend/core/src/components/affine/create-workspace-modal/index.tsx
  packages/frontend/templates/onboarding/-P-O4GSfVGTkI16zJRVa4.snapshot.json
  packages/frontend/templates/onboarding/0nee_XzkrN23Xy7HMoXL-.snapshot.json
  packages/frontend/templates/onboarding/9iIScyvuIB_kUKbs1AYOQ.snapshot.json
  packages/frontend/templates/onboarding/GWsRbUtMF4Ee6foVg-H9R.snapshot.json
  packages/frontend/templates/onboarding/RCpxnWMtBWmUZy5awgJBh.snapshot.json
  packages/frontend/templates/onboarding/Scod6coKmJJ-waH1-jkiW.snapshot.json
  packages/frontend/templates/onboarding/W-d9_llZ6rE-qoTiHKTk4.snapshot.json
  packages/frontend/templates/onboarding/b1F2xKjgZ4ISHhXNe1kck.snapshot.json
  packages/frontend/templates/onboarding/blob.json
  packages/frontend/templates/onboarding/e5cYLNpIRUb-nwpSZGdix.snapshot.json
  packages/frontend/templates/onboarding/info.json
  packages/frontend/templates/onboarding/nPPyOV0JBNKu5hvW9hE00.snapshot.json
  packages/frontend/templates/onboarding/rzyBHDgN5KIlEYzB9oBaD.snapshot.json
  packages/frontend/templates/onboarding/wbXL4bZcblxLKC6ETqcQ1.snapshot.json
  packages/frontend/templates/templates.gen.ts
Labels: mod:infra, docs, app:core

#5951 feat(core): new onboarding template
  packages/common/infra/src/initialization/index.ts
  packages/frontend/templates/onboarding/9iIScyvuIB_kUKbs1AYOQ.snapshot.json
  packages/frontend/templates/onboarding/W-d9_llZ6rE-qoTiHKTk4.snapshot.json
  packages/frontend/templates/onboarding/blob.json
  packages/frontend/templates/onboarding/info.json
  packages/frontend/templates/templates.gen.ts
Labels: mod:infra, docs

#5967 chore(core): update journal's daily count label
  packages/frontend/i18n/src/resources/en.json
Labels: mod:i18n

#5965 fix(core): fix editor sidebar
  packages/frontend/core/src/components/blocksuite/block-suite-editor/blocksuite-editor-container.tsx
Labels: app:core

#5966 feat: add animation for history preview
  packages/frontend/core/src/components/affine/page-history-modal/data.ts
  packages/frontend/core/src/components/affine/page-history-modal/history-modal.tsx
  packages/frontend/core/src/components/affine/page-history-modal/styles.css.ts
  tests/storybook/src/stories/page-list.stories.tsx
Labels: test, app:core
