Repository toeverything/AFFiNE, pull requests merged in 2024-08, with the labels that each got.

#7683 fix: optimize ai chat block position calculation
  packages/frontend/core/src/blocksuite/presets/ai/peek-view/chat-block-peek-view.ts
  packages/frontend/core/src/blocksuite/presets/ai/peek-view/utils.ts
Labels: app:core, merge

#7651 chore(core): set read-only mode on mobile device
  packages/frontend/component/src/components/affine-banner/index.css.ts
  packages/frontend/core/src/components/top-tip.tsx
  packages/frontend/core/src/pages/workspace/detail-page/detail-page.css.ts
  packages/frontend/core/src/pages/workspace/detail-page/detail-page.tsx
  packages/frontend/i18n/src/resources/en.json
  packages/frontend/i18n/src/resources/zh-Hans.json
Labels: mod:i18n, mod:component, app:core, merge

#7691 fix(component): modal overlap issue
  packages/frontend/component/src/ui/modal/modal.tsx
Labels: mod:component

#7681 feat(core): add globalcontext info to mixpanel track
  packages/common/infra/src/modules/global-context/entities/global-context.ts
  packages/frontend/core/src/components/root-app-sidebar/import-page.tsx
  packages/frontend/core/src/components/root-app-sidebar/index.tsx
  packages/frontend/core/src/hooks/affine/use-register-blocksuite-editor-commands.tsx
  packages/frontend/core/src/hooks/use-navigate-helper.ts
  packages/frontend/core/src/mixpanel/index.ts
  packages/frontend/core/src/modules/telemetry/index.ts
  packages/frontend/core/src/modules/telemetry/services/telemetry.ts
  packages/frontend/core/src/pages/workspace/all-page/all-page.tsx
  packages/frontend/core/src/pages/workspace/detail-page/detail-page.tsx
Labels: mod:infra, app:core

#7679 feat(core): adjust explorer section style, persist collapsable state
  packages/frontend/core/src/components/app-sidebar/category-divider/index.css.ts
  packages/frontend/core/src/components/app-sidebar/category-divider/index.tsx
  packages/frontend/core/src/components/app-sidebar/sidebar-containers/index.css.ts
  packages/frontend/core/src/components/root-app-sidebar/index.tsx
  packages/frontend/core/src/modules/explorer/entities/explore-section.ts
  packages/frontend/core/src/modules/explorer/index.ts
  packages/frontend/core/src/modules/explorer/services/explorer.ts
  packages/frontend/core/src/modules/explorer/types.ts
  packages/frontend/core/src/modules/explorer/views/layouts/collapsible-section.css.ts
  packages/frontend/core/src/modules/explorer/views/layouts/collapsible-section.tsx
  packages/frontend/core/src/modules/explorer/views/sections/collections/index.tsx
  packages/frontend/core/src/modules/explorer/views/sections/collections/styles.css.ts
  packages/frontend/core/src/modules/explorer/views/sections/favorites/index.tsx
  packages/frontend/core/src/modules/explorer/views/sections/favorites/styles.css.ts
  packages/frontend/core/src/modules/explorer/views/sections/migration-favorites/index.tsx
  packages/frontend/core/src/modules/explorer/views/sections/migration-favorites/styles.css.ts
  packages/frontend/core/src/modules/explorer/views/sections/old-favorites/index.tsx
  packages/frontend/core/src/modules/explorer/views/sections/old-favorites/styles.css.ts
  packages/frontend/core/src/modules/explorer/views/sections/organize/index.tsx
  packages/frontend/core/src/modules/explorer/views/sections/organize/styles.css.ts
  packages/frontend/core/src/modules/explorer/views/sections/tags/index.tsx
  packages/frontend/core/src/modules/explorer/views/sections/tags/styles.css.ts
  packages/frontend/core/src/modules/explorer/views/tree/node.css.ts
  packages/frontend/core/src/modules/index.ts
Labels: app:core

#7686 fix(core): new no children status for explorer
  packages/frontend/core/src/modules/explorer/views/layouts/empty-node-children.css.ts
  packages/frontend/core/src/modules/explorer/views/layouts/empty-node-children.tsx
  packages/frontend/core/src/modules/explorer/views/layouts/empty-section.css.ts
  packages/frontend/core/src/modules/explorer/views/layouts/empty-section.tsx
  packages/frontend/core/src/modules/explorer/views/nodes/collection/empty.css.tsx
  packages/frontend/core/src/modules/explorer/views/nodes/collection/empty.tsx
  packages/frontend/core/src/modules/explorer/views/nodes/doc/empty.css.tsx
  packages/frontend/core/src/modules/explorer/views/nodes/doc/empty.tsx
  packages/frontend/core/src/modules/explorer/views/nodes/folder/empty.tsx
  packages/frontend/core/src/modules/explorer/views/nodes/folder/index.tsx
  packages/frontend/core/src/modules/explorer/views/nodes/tag/empty.css.tsx
  packages/frontend/core/src/modules/explorer/views/nodes/tag/empty.tsx
  packages/frontend/core/src/modules/explorer/views/sections/collections/empty.tsx
  packages/frontend/core/src/modules/explorer/views/sections/favorites/empty.tsx
  packages/frontend/core/src/modules/explorer/views/sections/organize/empty.tsx
  packages/frontend/core/src/modules/explorer/views/sections/tags/empty.tsx
  tests/affine-local/e2e/local-first-collections-items.spec.ts
Labels: test, app:core

#7675 refactor(electron): tab title/icon update logic
  packages/frontend/core/src/modules/app-tabs-header/views/app-tabs-header.tsx
  packages/frontend/core/src/modules/app-tabs-header/views/styles.css.ts
  packages/frontend/core/src/modules/workbench/constants.tsx
  packages/frontend/core/src/modules/workbench/entities/view.ts
  packages/frontend/core/src/modules/workbench/index.ts
  packages/frontend/core/src/modules/workbench/services/desktop-state-synchronizer.ts
  packages/frontend/core/src/modules/workbench/view/desktop-adapter.ts
  packages/frontend/core/src/modules/workbench/view/view-meta.tsx
  packages/frontend/core/src/pages/workspace/all-collection/index.tsx
  packages/frontend/core/src/pages/workspace/all-page/all-page.tsx
  packages/frontend/core/src/pages/workspace/all-tag/index.tsx
  packages/frontend/core/src/pages/workspace/collection/index.tsx
  packages/frontend/core/src/pages/workspace/detail-page/detail-page-header.tsx
  packages/frontend/core/src/pages/workspace/tag/index.tsx
  packages/frontend/core/src/pages/workspace/trash-page.tsx
  packages/frontend/electron/renderer/app.tsx
  packages/frontend/electron/src/main/application-menu/create.ts
  packages/frontend/electron/src/main/ui/handlers.ts
  packages/frontend/electron/src/main/windows-manager/tab-views-meta-schema.ts
  packages/frontend/electron/src/main/windows-manager/tab-views.ts
Labels: app:electron, app:core

#7696 chore: bump blocksuite
  packages/common/env/package.json
  packages/common/infra/package.json
  packages/frontend/component/package.json
  packages/frontend/core/package.json
  packages/frontend/electron/package.json
  tests/affine-local/e2e/local-first-delete-workspace.spec.ts
  tools/cli/package.json
  yarn.lock
Labels: mod:infra, mod:env, mod:component, app:electron, mod:dev, test, app:core

#7684 feat(electron): app tabs dnd
  packages/frontend/component/src/theme/global.css
  packages/frontend/core/src/modules/app-tabs-header/services/app-tabs-header-service.ts
  packages/frontend/core/src/modules/app-tabs-header/views/app-tabs-header.tsx
  packages/frontend/core/src/modules/app-tabs-header/views/styles.css.ts
  packages/frontend/core/src/modules/workbench/view/workbench-link.tsx
  packages/frontend/core/src/types/dnd.ts
  packages/frontend/electron/renderer/global.css
  packages/frontend/electron/renderer/index.tsx
  packages/frontend/electron/renderer/shell/index.tsx
  packages/frontend/electron/src/main/ui/handlers.ts
  packages/frontend/electron/src/main/windows-manager/tab-views.ts
  tests/affine-desktop/e2e/tabs.spec.ts
  tests/kit/utils/page-logic.ts
Labels: mod:component, app:electron, test, app:core

#7698 feat: bump blocksuite
  packages/common/env/package.json
  packages/common/infra/package.json
  packages/frontend/component/package.json
  packages/frontend/core/package.json
  packages/frontend/electron/package.json
  tools/cli/package.json
  yarn.lock
Labels: mod:infra, mod:env, mod:component, app:electron, mod:dev, app:core, merge

#7692 test(electron): enable trace file for desktop tests
  tests/affine-desktop/playwright.config.ts
Labels: test

#7689 feat: patch edgeless clipboard to support cuntom block copy paste
  packages/frontend/core/src/components/blocksuite/block-suite-editor/lit-adaper.tsx
  packages/frontend/core/src/components/blocksuite/block-suite-editor/specs/custom/spec-patchers.tsx
Labels: app:core

#7693 fix: support chat in different doc
  packages/frontend/core/src/blocksuite/presets/ai/_common/chat-actions-handle.ts
  packages/frontend/core/src/blocksuite/presets/ai/peek-view/chat-block-peek-view.ts
Labels: app:core

#7697 fix: should save chat to block when doc mode
  packages/frontend/core/src/blocksuite/presets/ai/_common/chat-actions-handle.ts
Labels: app:core

#7700 feat(core): loading ui for favorite and organize
  packages/common/infra/src/modules/db/entities/db.ts
  packages/common/infra/src/modules/db/entities/table.ts
  packages/common/infra/src/modules/db/index.ts
  packages/common/infra/src/modules/db/services/db.ts
  packages/common/infra/src/orm/core/client.ts
  packages/common/infra/src/sync/doc/index.ts
  packages/common/infra/src/sync/doc/local.ts
  packages/frontend/core/src/modules/explorer/views/sections/favorites/empty.tsx
  packages/frontend/core/src/modules/explorer/views/sections/favorites/index.tsx
  packages/frontend/core/src/modules/explorer/views/sections/organize/empty.tsx
  packages/frontend/core/src/modules/explorer/views/sections/organize/index.tsx
  packages/frontend/core/src/modules/favorite/entities/favorite-list.ts
  packages/frontend/core/src/modules/favorite/stores/favorite.ts
  packages/frontend/core/src/modules/organize/entities/folder-tree.ts
  packages/frontend/core/src/modules/organize/stores/folder.ts
Labels: mod:infra, app:core

#7711 fix(core): wrong display of 404 page
  packages/frontend/core/src/pages/workspace/detail-page/detail-page.tsx
Labels: app:core

#7712 fix(core): fix scroll block into view
  packages/frontend/core/src/components/blocksuite/block-suite-editor/blocksuite-editor-container.tsx
Labels: app:core

#7713 feat(core): tuning for better search
  packages/common/infra/src/sync/indexer/impl/indexeddb/__tests__/bm25.spec.ts
  packages/common/infra/src/sync/indexer/impl/indexeddb/bm25.ts
  packages/frontend/core/src/modules/docs-search/services/docs-search.ts
Labels: mod:infra, test, app:core

#7723 fix: center peek message role
  packages/frontend/core/src/blocksuite/presets/ai/peek-view/chat-block-peek-view.ts
Labels: app:core

#7721 feat(component): shortcut style for tooltip
  packages/frontend/component/src/ui/button/button.tsx
  packages/frontend/component/src/ui/tooltip/styles.css.ts
  packages/frontend/component/src/ui/tooltip/tooltip.stories.tsx
  packages/frontend/component/src/ui/tooltip/tooltip.tsx
  packages/frontend/component/src/utils/keyboard-mapping.ts
  packages/frontend/component/src/utils/platform.ts
  packages/frontend/core/src/components/app-sidebar/sidebar-header/sidebar-switch.tsx
  packages/frontend/core/src/components/blocksuite/block-suite-mode-switch/index.tsx
  packages/frontend/core/src/components/blocksuite/block-suite-mode-switch/style.ts
  packages/frontend/core/src/modules/app-tabs-header/views/app-tabs-header.tsx
  packages/frontend/core/src/modules/app-tabs-header/views/styles.css.ts
  packages/frontend/i18n/src/resources/en.json
Labels: mod:i18n, mod:component, app:core

#7707 test(electron): adjust expect timeout for CI
  tests/affine-desktop/playwright.config.ts
Labels: test

#7701 fix(core): ctrl/cmd + click on add page button opens in new tab
  packages/frontend/core/src/components/app-sidebar/add-page-button/index.tsx
  packages/frontend/core/src/components/blocksuite/block-suite-header/menu/index.tsx
  packages/frontend/core/src/components/root-app-sidebar/index.tsx
  packages/frontend/core/src/modules/workbench/entities/workbench.ts
  packages/frontend/core/src/modules/workbench/index.ts
  packages/frontend/core/src/modules/workbench/services/workbench-new-tab-handler.ts
  packages/frontend/core/src/modules/workbench/view/workbench-link.tsx
  packages/frontend/core/src/utils/popup.ts
  packages/frontend/i18n/src/resources/en.json
Labels: mod:i18n, app:core

#7702 fix(electron): reload view in tab context menu issue
  packages/frontend/electron/src/main/windows-manager/tab-views.ts
Labels: app:electron, app:core

#7703 fix(electron): duplicate tab views issue
  packages/frontend/electron/src/main/windows-manager/tab-views.ts
Labels: app:electron, app:core

#7704 fix(electron): should activate the target tab when closing other tabs
  packages/frontend/electron/src/main/windows-manager/tab-views.ts
Labels: app:electron

#7706 fix(core): app height exceeds viewport of mobile
  packages/frontend/core/src/components/workspace/index.css.ts
Labels: app:core

#7641 fix(core): update outline viewer style
  packages/common/env/package.json
  packages/common/infra/package.json
  packages/frontend/component/package.json
  packages/frontend/core/package.json
  packages/frontend/core/src/components/blocksuite/block-suite-header/menu/index.tsx
  packages/frontend/core/src/components/blocksuite/outline-viewer/index.tsx
  packages/frontend/core/src/components/blocksuite/outline-viewer/outline-viewer.css.ts
  packages/frontend/core/src/components/page-detail-editor.css.ts
  packages/frontend/core/src/modules/peek-view/view/doc-preview/doc-peek-view.css.ts
  packages/frontend/core/src/modules/peek-view/view/doc-preview/doc-peek-view.tsx
  packages/frontend/core/src/pages/workspace/detail-page/detail-page.css.ts
  packages/frontend/core/src/pages/workspace/detail-page/detail-page.tsx
  packages/frontend/core/src/pages/workspace/detail-page/outline-viewer.css.ts
  packages/frontend/electron/package.json
  packages/frontend/i18n/src/resources/en.json
  tests/affine-local/e2e/blocksuite/editor.spec.ts
  tests/affine-local/e2e/blocksuite/outline.spec.ts
  tools/cli/package.json
Labels: mod:infra, mod:i18n, mod:env, mod:component, app:electron, mod:dev, test, app:core

#7708 feat(electron): new tab/split view entries
  packages/frontend/core/src/components/page-list/operation-cell.tsx
  packages/frontend/core/src/components/page-list/view/collection-operations.tsx
  packages/frontend/core/src/modules/explorer/views/nodes/collection/operations.tsx
  packages/frontend/core/src/modules/explorer/views/nodes/doc/operations.tsx
  packages/frontend/core/src/modules/explorer/views/nodes/tag/operations.tsx
  packages/frontend/core/src/modules/navigation/utils.ts
  packages/frontend/core/src/modules/workbench/services/desktop-state-synchronizer.ts
  packages/frontend/electron/src/main/ui/handlers.ts
  packages/frontend/electron/src/main/windows-manager/context-menu.ts
  packages/frontend/electron/src/main/windows-manager/tab-views.ts
  tests/affine-local/e2e/local-first-openpage-newtab.spec.ts
Labels: mod:i18n, app:electron, test, app:core

#7728 fix(electron): add i18n setup for shell
  packages/common/env/package.json
  packages/common/infra/package.json
  packages/frontend/component/package.json
  packages/frontend/core/package.json
  packages/frontend/electron/package.json
  packages/frontend/electron/renderer/shell/index.tsx
  tools/cli/package.json
Labels: mod:infra, mod:env, mod:component, app:electron, mod:dev, app:core

#7731 fix(electron): tab title/icon default state
  packages/frontend/core/src/modules/workbench/entities/workbench.ts
  packages/frontend/core/src/modules/workbench/services/workbench-view-state.ts
Labels: app:core

#7734 fix(electron): drop indicator position
  packages/frontend/core/src/modules/app-tabs-header/views/styles.css.ts
Labels: app:core

#7736 fix(electron): app ghosting issue when quickly opening new tabs
  packages/frontend/electron/renderer/global.css
  packages/frontend/electron/renderer/shell/index.tsx
Labels: app:electron

#7710 fix: use correct user id in forked session
  packages/backend/server/src/plugins/copilot/session.ts
  packages/backend/server/tests/copilot.spec.ts
Labels: app:server, test

#7730 fix(core): add favorite folder in menu, adjust empty-page new page button
  packages/frontend/component/src/ui/button/button.css.ts
  packages/frontend/component/src/ui/button/button.tsx
  packages/frontend/core/src/components/affine/create-workspace-modal/index.tsx
  packages/frontend/core/src/modules/explorer/views/nodes/folder/index.tsx
  packages/frontend/core/src/modules/explorer/views/nodes/folder/operations.tsx
  packages/frontend/core/src/modules/properties/services/adapter.ts
  packages/frontend/core/src/pages/workspace/page-list-empty.css.ts
  packages/frontend/core/src/pages/workspace/page-list-empty.tsx
  packages/frontend/i18n/src/resources/en.json
Labels: mod:i18n, mod:component, app:core

#7733 fix(core): canvas text adapts to input scrolling
  packages/frontend/core/src/modules/find-in-page/view/find-in-page-modal.tsx
Labels: app:core

#7737 fix(electron): find in page input border blink issue
  packages/frontend/core/src/modules/find-in-page/view/find-in-page-modal.tsx
Labels: app:core

#7738 feat(core): enable feature flag for release
  packages/common/infra/src/atom/settings.ts
  packages/frontend/core/src/components/affine/setting-modal/general-setting/experimental-features/index.tsx
  tools/cli/src/webpack/runtime-config.ts
Labels: mod:infra, mod:dev, app:core

#7739 chore: cleanup outdated model & upgrade model
  packages/backend/server/src/plugins/copilot/prompt/prompts.ts
  packages/backend/server/src/plugins/copilot/providers/openai.ts
  packages/backend/server/src/plugins/copilot/types.ts
  packages/backend/server/src/schema.gql
  packages/backend/server/tests/utils/copilot.ts
  packages/frontend/core/src/components/blocksuite/block-suite-editor/ai/prompt.ts
  packages/frontend/core/src/components/blocksuite/block-suite-editor/ai/setup-provider.tsx
  packages/frontend/graphql/src/schema.ts
Labels: app:server, test, app:core

#7740 refactor(electron): reduce the number of listeners for ipc
  packages/frontend/electron/src/main/events.ts
  packages/frontend/electron/src/main/handlers.ts
  packages/frontend/electron/src/preload/electron-api.ts
  packages/frontend/electron/src/preload/shared-storage.ts
  packages/frontend/electron/src/shared/type.ts
Labels: app:electron

#7742 fix(electron): whitescreen issue
  packages/frontend/electron/renderer/global.css
  packages/frontend/electron/src/main/windows-manager/tab-views.ts
Labels: app:electron

#7744 fix(core): transform workspace db when enable cloud
  packages/common/infra/src/modules/db/index.ts
  packages/common/infra/src/modules/db/services/db.ts
  packages/common/infra/src/modules/workspace/providers/flavour.ts
  packages/common/infra/src/modules/workspace/services/factory.ts
  packages/common/infra/src/modules/workspace/services/transform.ts
  packages/common/infra/src/modules/workspace/testing/testing-provider.ts
  packages/frontend/core/src/hooks/affine/use-enable-cloud.tsx
  packages/frontend/core/src/modules/workspace-engine/impls/cloud.ts
  packages/frontend/core/src/modules/workspace-engine/impls/local.ts
  tests/affine-cloud/e2e/workspace.spec.ts
Labels: mod:infra, test, app:core

#7725 feat(core): add tooltip and toast for organize operations
  packages/frontend/core/src/components/app-sidebar/menu-item/index.css.ts
  packages/frontend/core/src/modules/explorer/views/nodes/collection/operations.tsx
  packages/frontend/core/src/modules/explorer/views/nodes/doc/operations.tsx
  packages/frontend/core/src/modules/explorer/views/nodes/folder/index.tsx
  packages/frontend/core/src/modules/explorer/views/nodes/tag/operations.tsx
  packages/frontend/core/src/modules/explorer/views/sections/collections/index.tsx
  packages/frontend/core/src/modules/explorer/views/sections/favorites/index.tsx
  packages/frontend/core/src/modules/explorer/views/sections/organize/index.tsx
  packages/frontend/core/src/modules/explorer/views/sections/tags/index.tsx
  packages/frontend/i18n/src/resources/en.json
Labels: mod:i18n, app:core

#7753 fix(electron): onboarding not shown
  packages/frontend/electron/renderer/global.css
Labels: app:electron

#7754 fix: dont limit text block height in chat panel
  packages/frontend/core/src/blocksuite/presets/ai/chat-panel/actions/text.ts
Labels: app:core

#7755 fix: reset height after send
  packages/frontend/core/src/blocksuite/presets/ai/chat-panel/chat-panel-input.ts
Labels: app:core

#7695 feat(core): make event track great again
  packages/frontend/core/src/commands/affine-navigation.tsx
  packages/frontend/core/src/components/affine/setting-modal/general-setting/plans/actions.tsx
  packages/frontend/core/src/components/affine/setting-modal/general-setting/plans/ai/actions/cancel.tsx
  packages/frontend/core/src/components/affine/setting-modal/general-setting/plans/ai/actions/resume.tsx
  packages/frontend/core/src/components/root-app-sidebar/index.tsx
  packages/frontend/core/src/mixpanel/__tests__/auto.spec.ts
  packages/frontend/core/src/mixpanel/auto.ts
  packages/frontend/core/src/mixpanel/events.ts
  packages/frontend/core/src/mixpanel/events/index.ts
  packages/frontend/core/src/mixpanel/events/plan-change-started.ts
  packages/frontend/core/src/mixpanel/events/plan-change-succeed.ts
  packages/frontend/core/src/mixpanel/index.ts
  packages/frontend/core/src/mixpanel/mixpanel.d.ts
  packages/frontend/core/src/mixpanel/mixpanel.ts
  packages/frontend/core/src/mixpanel/types.ts
  packages/frontend/core/src/modules/telemetry/services/telemetry.ts
  packages/frontend/core/src/telemetry.tsx
Labels: test, app:core

#7735 chore(core): replace with new track impl
  packages/frontend/core/src/commands/affine-navigation.tsx
  packages/frontend/core/src/components/affine/ai-onboarding/edgeless.dialog.tsx
  packages/frontend/core/src/components/affine/ai-onboarding/general.dialog.tsx
  packages/frontend/core/src/components/affine/auth/oauth.tsx
  packages/frontend/core/src/components/affine/auth/sign-in.tsx
  packages/frontend/core/src/components/affine/auth/user-plan-button.tsx
  packages/frontend/core/src/components/affine/create-workspace-modal/index.tsx
  packages/frontend/core/src/components/affine/page-history-modal/history-modal.tsx
  packages/frontend/core/src/components/affine/quota-reached-modal/cloud-quota-modal.tsx
  packages/frontend/core/src/components/affine/setting-modal/account-setting/ai-usage-panel.tsx
  packages/frontend/core/src/components/affine/setting-modal/account-setting/index.tsx
  packages/frontend/core/src/components/affine/setting-modal/general-setting/billing/index.tsx
  packages/frontend/core/src/components/affine/setting-modal/general-setting/plans/actions.tsx
  packages/frontend/core/src/components/affine/setting-modal/general-setting/plans/ai/actions/cancel.tsx
  packages/frontend/core/src/components/affine/setting-modal/general-setting/plans/ai/actions/resume.tsx
  packages/frontend/core/src/components/affine/setting-modal/general-setting/plans/ai/actions/subscribe.tsx
  packages/frontend/core/src/components/affine/setting-modal/general-setting/plans/ai/ai-plan.tsx
  packages/frontend/core/src/components/affine/setting-modal/general-setting/plans/plan-card.tsx
  packages/frontend/core/src/components/affine/setting-modal/setting-sidebar/index.tsx
  packages/frontend/core/src/components/affine/setting-modal/workspace-setting/new-workspace-setting-detail/members.tsx
  packages/frontend/core/src/components/affine/share-page-modal/share-menu/share-page.tsx
  packages/frontend/core/src/components/app-sidebar/app-download-button/index.tsx
  packages/frontend/core/src/components/blocksuite/block-suite-editor/ai/setup-provider.tsx
  packages/frontend/core/src/components/blocksuite/block-suite-editor/ai/tracker.ts
  packages/frontend/core/src/components/blocksuite/block-suite-editor/specs/custom/linked-widget.ts
  packages/frontend/core/src/components/blocksuite/block-suite-editor/specs/custom/spec-patchers.tsx
  packages/frontend/core/src/components/blocksuite/block-suite-header/menu/index.tsx
  packages/frontend/core/src/components/blocksuite/block-suite-mode-switch/index.tsx
  packages/frontend/core/src/components/page-list/components/new-page-button.tsx
  packages/frontend/core/src/components/page-list/docs/page-list-header.tsx
  packages/frontend/core/src/components/page-list/operation-cell.tsx
  packages/frontend/core/src/components/pure/workspace-slider-bar/user-with-workspace-list/index.tsx
  packages/frontend/core/src/components/root-app-sidebar/import-page.tsx
  packages/frontend/core/src/components/root-app-sidebar/index.tsx
  packages/frontend/core/src/components/root-app-sidebar/user-info.tsx
  packages/frontend/core/src/components/workspace-selector/index.tsx
  packages/frontend/core/src/components/workspace-upgrade/upgrade.tsx
  packages/frontend/core/src/hooks/affine/use-export-page.ts
  packages/frontend/core/src/hooks/affine/use-register-blocksuite-editor-commands.tsx
  packages/frontend/core/src/hooks/affine/use-share-url.ts
  packages/frontend/core/src/hooks/affine/use-subscription-notify.tsx
  packages/frontend/core/src/hooks/use-app-updater.ts
  packages/frontend/core/src/mixpanel/auto.ts
  packages/frontend/core/src/mixpanel/events.ts
  packages/frontend/core/src/mixpanel/types.ts
  packages/frontend/core/src/modules/explorer/views/nodes/collection/index.tsx
  packages/frontend/core/src/modules/explorer/views/nodes/collection/operations.tsx
  packages/frontend/core/src/modules/explorer/views/nodes/doc/index.tsx
  packages/frontend/core/src/modules/explorer/views/nodes/doc/operations.tsx
  packages/frontend/core/src/modules/explorer/views/nodes/folder/index.tsx
  packages/frontend/core/src/modules/explorer/views/nodes/tag/index.tsx
  packages/frontend/core/src/modules/explorer/views/nodes/tag/operations.tsx
  packages/frontend/core/src/modules/explorer/views/sections/collections/index.tsx
  packages/frontend/core/src/modules/explorer/views/sections/favorites/index.tsx
  packages/frontend/core/src/modules/explorer/views/sections/migration-favorites/index.tsx
  packages/frontend/core/src/modules/explorer/views/sections/organize/index.tsx
  packages/frontend/core/src/modules/explorer/views/sections/tags/index.tsx
  packages/frontend/core/src/pages/subscribe.tsx
  packages/frontend/core/src/pages/workspace/all-page/all-page-header.tsx
Labels: app:core

#7756 fix: increase image limit of copilot
  packages/backend/server/src/app.ts
  packages/backend/server/src/plugins/copilot/providers/openai.ts
  packages/backend/server/src/plugins/copilot/session.ts
  packages/backend/server/tests/copilot.spec.ts
  packages/frontend/core/src/blocksuite/presets/ai/chat-panel/chat-panel-input.ts
Labels: app:server, test, app:core

#7757 feat: improve continue to chat compatibility
  packages/frontend/core/src/blocksuite/presets/ai/chat-panel/chat-cards.ts
  packages/frontend/core/src/blocksuite/presets/ai/chat-panel/chat-panel-input.ts
  packages/frontend/core/src/blocksuite/presets/ai/utils/selection-utils.ts
Labels: app:core

#7746 chore(core): theme v1.0.2
  packages/frontend/component/package.json
  packages/frontend/core/package.json
  yarn.lock
Labels: mod:component, app:core, merge

#7760 feat: handle copilot error
  packages/frontend/core/src/blocksuite/presets/ai/messages/error.ts
  packages/frontend/core/src/components/blocksuite/block-suite-editor/ai/copilot-client.ts
Labels: app:core

#7748 fix(electron): fix tab view blink issue on open new tab
  packages/frontend/core/src/pages/404.tsx
  packages/frontend/core/src/pages/index.tsx
  packages/frontend/electron/renderer/shell/index.css
  packages/frontend/electron/renderer/shell/index.tsx
  packages/frontend/electron/renderer/shell/shell.css.ts
  packages/frontend/electron/renderer/shell/shell.tsx
  packages/frontend/electron/src/main/events.ts
  packages/frontend/electron/src/main/windows-manager/context-menu.ts
  packages/frontend/electron/src/main/windows-manager/tab-views.ts
  tests/kit/electron.ts
Labels: app:electron, test, app:core

#7743 chore(core): remove old favorite
  packages/common/env/src/global.ts
  packages/frontend/core/src/components/page-list/collections/select-collection.tsx
  packages/frontend/core/src/components/page-list/operation-cell.tsx
  packages/frontend/core/src/components/page-list/tags/select-tag.tsx
  packages/frontend/core/src/components/root-app-sidebar/index.tsx
  packages/frontend/core/src/modules/explorer/index.ts
  packages/frontend/core/src/modules/explorer/views/nodes/folder/index.tsx
  packages/frontend/core/src/modules/explorer/views/nodes/tag/operations.tsx
  packages/frontend/core/src/modules/explorer/views/sections/migration-favorites/index.tsx
  packages/frontend/core/src/modules/explorer/views/sections/old-favorites/empty.css.ts
  packages/frontend/core/src/modules/explorer/views/sections/old-favorites/empty.tsx
  packages/frontend/core/src/modules/explorer/views/sections/old-favorites/index.tsx
  packages/frontend/core/src/modules/properties/index.ts
  packages/frontend/core/src/modules/properties/services/adapter.ts
  tools/cli/src/webpack/runtime-config.ts
Labels: mod:env, mod:dev, app:core

#7751 chore: bump blocksuite
  packages/common/env/package.json
  packages/common/infra/package.json
  packages/frontend/component/package.json
  packages/frontend/core/package.json
  packages/frontend/electron/package.json
  tools/cli/package.json
  yarn.lock
Labels: mod:infra, mod:env, mod:component, app:electron, mod:dev, app:core

#7768 fix(core): migration favorite appear again
  packages/frontend/core/src/modules/explorer/views/sections/migration-favorites/index.tsx
  packages/frontend/core/src/modules/properties/index.ts
  packages/frontend/core/src/modules/properties/services/adapter.ts
  packages/frontend/core/src/modules/properties/services/schema.ts
Labels: app:core

#7770 chore(core): remove outline viewer feature flag
  packages/common/infra/src/atom/settings.ts
  packages/frontend/core/src/components/affine/setting-modal/general-setting/experimental-features/index.tsx
  packages/frontend/core/src/modules/peek-view/view/doc-preview/doc-peek-view.tsx
  packages/frontend/core/src/pages/workspace/detail-page/detail-page.tsx
  tests/affine-local/e2e/blocksuite/outline.spec.ts
Labels: mod:infra, test, app:core

#7772 fix: can not create a new edgeless doc with "@" on edgeless
  packages/frontend/core/src/components/blocksuite/block-suite-editor/specs/custom/spec-patchers.tsx
Labels: app:core

#7766 fix: chat action button style
  packages/frontend/core/src/blocksuite/presets/ai/_common/components/chat-action-list.ts
Labels: app:core

#7759 feat(electron): mouse middle click to close tab
  packages/frontend/core/src/components/affine/auth/user-plan-button.tsx
  packages/frontend/core/src/components/affine/setting-modal/account-setting/index.tsx
  packages/frontend/core/src/components/affine/setting-modal/workspace-setting/new-workspace-setting-detail/profile.tsx
  packages/frontend/core/src/components/app-sidebar/app-download-button/index.tsx
  packages/frontend/core/src/components/app-sidebar/app-updater-button/index.tsx
  packages/frontend/core/src/components/page-list/docs/page-tags.tsx
  packages/frontend/core/src/components/page-list/view/create-collection.tsx
  packages/frontend/core/src/hooks/affine-async-hooks.ts
  packages/frontend/core/src/hooks/use-catch-event-hook.ts
  packages/frontend/core/src/modules/app-tabs-header/views/app-tabs-header.tsx
  packages/frontend/core/src/modules/workbench/view/workbench-link.tsx
Labels: app:core

#7661 feat(core): add track events for editor header
  packages/frontend/core/src/components/affine/share-page-modal/index.tsx
  packages/frontend/core/src/components/affine/share-page-modal/share-menu/share-menu.tsx
  packages/frontend/core/src/components/affine/share-page-modal/share-menu/share-page.tsx
  packages/frontend/core/src/components/blocksuite/block-suite-header/favorite/index.tsx
  packages/frontend/core/src/components/blocksuite/block-suite-header/info/index.tsx
  packages/frontend/core/src/components/blocksuite/block-suite-header/menu/index.tsx
  packages/frontend/core/src/components/blocksuite/block-suite-header/title/index.tsx
  packages/frontend/core/src/components/page-list/operation-menu-items/export.tsx
  packages/frontend/core/src/hooks/affine/use-export-page.ts
  packages/frontend/core/src/hooks/affine/use-share-url.ts
  packages/frontend/core/src/mixpanel/events.ts
  packages/frontend/core/src/pages/workspace/detail-page/detail-page-header.tsx
Labels: mod:component, app:core

#7664 feat(core): add track events for page option
  packages/frontend/core/src/components/page-list/operation-cell.tsx
  packages/frontend/core/src/mixpanel/events.ts
  packages/frontend/core/src/modules/explorer/views/nodes/collection/index.tsx
  packages/frontend/core/src/modules/explorer/views/nodes/doc/operations.tsx
Labels: app:core

#7667 feat(core): add track events for page info
  packages/frontend/core/src/components/affine/page-properties/table.tsx
Labels: app:core

#7668 feat(core): add track events for cmdk
  packages/frontend/core/src/commands/affine-creation.tsx
  packages/frontend/core/src/commands/affine-help.tsx
  packages/frontend/core/src/commands/affine-layout.tsx
  packages/frontend/core/src/commands/affine-navigation.tsx
  packages/frontend/core/src/commands/affine-settings.tsx
  packages/frontend/core/src/commands/affine-updates.tsx
  packages/frontend/core/src/components/blocksuite/block-suite-header/menu/index.tsx
  packages/frontend/core/src/hooks/affine/use-register-blocksuite-editor-commands.tsx
  packages/frontend/core/src/hooks/affine/use-register-copy-link-commands.tsx
  packages/frontend/core/src/hooks/affine/use-register-find-in-page-commands.ts
  packages/frontend/core/src/mixpanel/events.ts
  packages/frontend/core/src/modules/navigation/view/use-register-navigation-commands.ts
  packages/frontend/core/src/modules/quicksearch/services/cmdk.ts
Labels: app:core

#7767 fix: remove chat block button flag
  packages/frontend/core/src/blocksuite/presets/ai/_common/chat-actions-handle.ts
Labels: mod:infra, mod:env, mod:component, app:electron, mod:dev, app:core

#7764 feat: allow opening new tab for some navigation buttons
  packages/frontend/core/src/components/app-sidebar/menu-item/index.tsx
  packages/frontend/core/src/components/blocksuite/block-suite-page-list/utils.tsx
  packages/frontend/core/src/components/page-list/components/new-page-button.tsx
  packages/frontend/core/src/components/page-list/docs/page-list-header.tsx
  packages/frontend/core/src/components/page-list/docs/page-list-new-page-button.tsx
  packages/frontend/core/src/components/root-app-sidebar/index.tsx
  packages/frontend/core/src/components/root-app-sidebar/journal-button.tsx
  packages/frontend/core/src/components/root-app-sidebar/trash-button.tsx
  packages/frontend/core/src/hooks/use-journal.ts
  packages/frontend/core/src/modules/explorer/views/sections/favorites/index.tsx
  packages/frontend/core/src/pages/workspace/all-page/all-page-header.tsx
  tests/affine-local/e2e/local-first-collections-items.spec.ts
Labels: mod:infra, test, app:core

#7747 fix: render ai chat block in embed doc and surface ref
  packages/frontend/core/src/components/blocksuite/block-suite-editor/index.tsx
  packages/frontend/core/src/components/blocksuite/block-suite-editor/specs/preview.ts
Labels: app:core

#7769 fix(core): optimize explorer's dnd behaviors
  packages/frontend/component/src/ui/lottie/folder-icon.json
  packages/frontend/component/src/ui/lottie/folder-icon.tsx
  packages/frontend/core/src/components/app-sidebar/category-divider/index.css.ts
  packages/frontend/core/src/modules/explorer/views/layouts/collapsible-section.css.ts
  packages/frontend/core/src/modules/explorer/views/layouts/collapsible-section.tsx
  packages/frontend/core/src/modules/explorer/views/layouts/empty-section.css.ts
  packages/frontend/core/src/modules/explorer/views/layouts/empty-section.tsx
  packages/frontend/core/src/modules/explorer/views/nodes/collection/index.tsx
  packages/frontend/core/src/modules/explorer/views/nodes/folder/index.tsx
  packages/frontend/core/src/modules/explorer/views/sections/favorites/dnd.ts
  packages/frontend/core/src/modules/explorer/views/sections/favorites/empty.tsx
  packages/frontend/core/src/modules/explorer/views/sections/favorites/index.tsx
  packages/frontend/core/src/modules/explorer/views/sections/favorites/styles.css.ts
  packages/frontend/core/src/modules/explorer/views/sections/organize/dnd.ts
  packages/frontend/core/src/modules/explorer/views/sections/organize/empty.tsx
  packages/frontend/core/src/modules/explorer/views/sections/organize/index.tsx
  packages/frontend/core/src/modules/explorer/views/sections/organize/styles.css.ts
  packages/frontend/core/src/modules/explorer/views/tree/drop-effect.css.ts
  packages/frontend/core/src/modules/explorer/views/tree/drop-effect.tsx
  packages/frontend/core/src/modules/explorer/views/tree/node.tsx
  packages/frontend/core/src/modules/organize/constants.ts
Labels: mod:component, app:core

#7773 fix(electron): always show traffic light for mac
  packages/frontend/component/src/components/auth-components/onboarding-page.tsx
  packages/frontend/core/src/components/root-app-sidebar/index.tsx
  packages/frontend/core/src/modules/app-tabs-header/views/app-tabs-header.tsx
  packages/frontend/core/src/modules/app-tabs-header/views/styles.css.ts
  packages/frontend/core/src/modules/navigation/view/navigation-buttons.tsx
  packages/frontend/electron/src/main/ui/handlers.ts
  packages/frontend/electron/src/main/windows-manager/tab-views.ts
Labels: mod:component, app:electron, app:core

#7771 feat(i18n): add Spanish(Argentina) and Urdu
  packages/frontend/i18n/src/resources/de.json
  packages/frontend/i18n/src/resources/en.json
  packages/frontend/i18n/src/resources/es-AR.json
  packages/frontend/i18n/src/resources/fr.json
  packages/frontend/i18n/src/resources/index.ts
  packages/frontend/i18n/src/resources/ja.json
  packages/frontend/i18n/src/resources/ko.json
  packages/frontend/i18n/src/resources/pt-BR.json
  packages/frontend/i18n/src/resources/ru.json
  packages/frontend/i18n/src/resources/sv-SE.json
  packages/frontend/i18n/src/resources/ur.json
  packages/frontend/i18n/src/resources/zh-Hans.json
  packages/frontend/i18n/src/resources/zh-Hant.json
  tests/affine-local/e2e/all-page.spec.ts
Labels: mod:i18n, test

#7774 fix(infra): better search result
  packages/common/infra/src/sync/indexer/impl/indexeddb/inverted-index.ts
  packages/frontend/core/package.json
  packages/frontend/core/src/modules/docs-search/entities/docs-indexer.ts
  packages/frontend/core/src/modules/docs-search/worker/in-worker.ts
  packages/frontend/core/src/modules/docs-search/worker/types.ts
  yarn.lock
Labels: mod:infra, app:core

#7775 fix(component): center button's icon vertically
  packages/frontend/component/src/ui/button/button.css.ts
Labels: mod:component

#7776 chore: bump blocksuite
  packages/common/env/package.json
  packages/common/infra/package.json
  packages/frontend/component/package.json
  packages/frontend/core/package.json
  packages/frontend/electron/package.json
  tests/affine-local/e2e/blocksuite/outline.spec.ts
  tools/cli/package.json
  yarn.lock
Labels: mod:infra, mod:env, mod:component, app:electron, mod:dev, test, app:core, merge

#7779 chore: bump blocksuite
  packages/common/env/package.json
  packages/common/infra/package.json
  packages/frontend/component/package.json
  packages/frontend/core/package.json
  packages/frontend/electron/package.json
  tools/cli/package.json
  yarn.lock
Labels: mod:infra, mod:env, mod:component, app:electron, mod:dev, app:core, merge

#7781 fix: ai chat block center peek animation
  packages/frontend/core/src/modules/peek-view/entities/peek-view.ts
Labels: app:core

#7782 fix: onboarding stage not shown
  packages/frontend/electron/renderer/shell/index.css
  packages/frontend/electron/renderer/shell/index.tsx
  tools/cli/src/webpack/config.ts
Labels: app:electron, mod:dev

#7785 fix(core): trash doc in search result
  packages/frontend/core/src/modules/docs-search/entities/docs-indexer.ts
  packages/frontend/core/src/modules/quicksearch/impls/recent-docs.ts
Labels: app:core

#7777 feat(server): authenticate user before ws connected
  packages/backend/server/src/app.module.ts
  packages/backend/server/src/core/auth/current-user.ts
  packages/backend/server/src/core/auth/guard.ts
  packages/backend/server/src/core/auth/index.ts
  packages/backend/server/src/core/auth/service.ts
  packages/backend/server/src/core/sync/events/events.gateway.ts
  packages/backend/server/src/fundamentals/index.ts
  packages/backend/server/src/fundamentals/nestjs/exception.ts
  packages/backend/server/src/fundamentals/throttler/index.ts
  packages/backend/server/src/fundamentals/utils/request.ts
  packages/backend/server/src/fundamentals/websocket/config.ts
  packages/backend/server/src/fundamentals/websocket/index.ts
  packages/backend/server/src/global.d.ts
  packages/backend/server/src/plugins/redis/ws-adapter.ts
  packages/backend/server/tests/auth/guard.spec.ts
  packages/backend/server/tests/auth/service.spec.ts
  packages/backend/server/tests/oauth/controller.spec.ts
Labels: app:server, test

#7783 fix(core): cloud s subscription resume button's content is blank
  packages/frontend/core/src/components/affine/setting-modal/general-setting/plans/plan-card.tsx
  packages/frontend/core/src/components/affine/setting-modal/general-setting/plans/style.css.ts
Labels: app:core

#7786 feat(core): highlight doc title in search result
  packages/frontend/core/src/modules/quicksearch/impls/docs.ts
  packages/frontend/core/src/modules/quicksearch/services/doc-display-meta.ts
Labels: app:core

#7787 feat(core): better search result
  packages/common/infra/src/sync/indexer/impl/indexeddb/inverted-index.ts
Labels: mod:infra

#7778 chore: tracking events for app tabs header
  packages/frontend/core/src/mixpanel/events.ts
  packages/frontend/core/src/modules/app-tabs-header/views/app-tabs-header.tsx
  packages/frontend/electron/src/main/windows-manager/context-menu.ts
  packages/frontend/electron/src/main/windows-manager/tab-views.ts
Labels: app:electron, app:core

#7788 chore: bump blocksuite
  packages/common/env/package.json
  packages/common/infra/package.json
  packages/frontend/component/package.json
  packages/frontend/core/package.json
  packages/frontend/electron/package.json
  tools/cli/package.json
  yarn.lock
Labels: mod:infra, mod:env, mod:component, app:electron, mod:dev, app:core

#7784 feat: mid click links to open in new tab
  .eslintrc.js
  packages/frontend/core/src/components/affine/reference-link/index.tsx
  packages/frontend/core/src/components/app-sidebar/add-page-button/index.tsx
  packages/frontend/core/src/components/page-list/collections/collection-list-item.tsx
  packages/frontend/core/src/components/page-list/components/new-page-button.tsx
  packages/frontend/core/src/components/page-list/docs/page-list-header.tsx
  packages/frontend/core/src/components/page-list/docs/page-list-item.tsx
  packages/frontend/core/src/components/page-list/docs/page-tags.tsx
  packages/frontend/core/src/components/page-list/operation-cell.tsx
  packages/frontend/core/src/components/page-list/page-header.tsx
  packages/frontend/core/src/components/page-list/tags/tag-list-item.tsx
  packages/frontend/core/src/components/page-list/utils.tsx
  packages/frontend/core/src/components/root-app-sidebar/index.tsx
  packages/frontend/core/src/components/root-app-sidebar/journal-button.tsx
  packages/frontend/core/src/hooks/use-catch-event-hook.ts
  packages/frontend/core/src/modules/explorer/views/sections/favorites/index.tsx
  packages/frontend/core/src/modules/workbench/view/workbench-link.tsx
  packages/frontend/core/src/pages/workspace/all-page/all-page-header.tsx
  packages/frontend/core/src/utils/event.ts
  packages/frontend/core/src/utils/index.ts
  tests/affine-local/e2e/local-first-favorite-page.spec.ts
  tests/affine-local/e2e/local-first-openpage-newtab.spec.ts
Labels: test, app:core

#7792 feat: cmd click support for journal sidebar
  packages/frontend/core/src/pages/workspace/detail-page/tabs/journal.tsx
Labels: app:core

#7791 fix(core): can not get chrome version in desktop mode in iOS
  packages/common/env/src/ua-helper.ts
Labels: mod:env

#7793 fix(electron): fix electron global state sync
  packages/frontend/electron/src/preload/shared-storage.ts
Labels: app:electron

#7795 feat(i18n): add Arabic
  packages/frontend/i18n/src/resources/ar.json
  packages/frontend/i18n/src/resources/index.ts
Labels: mod:i18n

#7802 chore(core): adjust migration text
  packages/frontend/core/src/modules/explorer/views/sections/migration-favorites/index.tsx
  packages/frontend/i18n/src/resources/en.json
  packages/frontend/i18n/src/resources/zh-Hans.json
Labels: mod:i18n, app:core

#7803 fix(core): reduce indexer performance impact
  packages/frontend/core/src/modules/docs-search/entities/docs-indexer.ts
Labels: app:core

#7800 chore: adjust i18n
  packages/frontend/i18n/src/resources/index.ts
  packages/frontend/i18n/src/resources/zh-Hans.json
Labels: mod:i18n

#7804 fix(core): typo in migration text
  packages/frontend/core/src/modules/explorer/views/sections/migration-favorites/styles.css.ts
  packages/frontend/i18n/src/resources/en.json
  packages/frontend/i18n/src/resources/zh-Hans.json
Labels: mod:i18n, app:core

#7801 feat(component): add autoFocusConfirmButton for confirm-modal
  packages/frontend/component/src/hooks/focus-and-select.ts
  packages/frontend/component/src/hooks/index.ts
  packages/frontend/component/src/ui/button/button.tsx
  packages/frontend/component/src/ui/input/input.tsx
  packages/frontend/component/src/ui/modal/confirm-modal.tsx
Labels: mod:component

#7806 fix(core): delete from folder not work
  packages/frontend/core/src/modules/explorer/views/nodes/folder/index.tsx
Labels: app:core

#7805 fix(electron): shell should import renderer css in dev
  packages/frontend/electron/renderer/shell/index.tsx
  tests/kit/electron.ts
Labels: app:electron, test

#7807 fix(electron): missing collection name in tab header
  packages/frontend/core/src/pages/workspace/collection/index.tsx
Labels: app:core

#7789 chore(electron): disable parallel execution of electron tests
  tests/affine-desktop/playwright.config.ts
Labels: test

#7811 fix(core): hidden open in split view in browser
  packages/frontend/core/src/components/blocksuite/block-suite-header/menu/index.tsx
Labels: app:core

#7813 fix(core): disable blocksuite indexer
  packages/common/infra/src/modules/workspace/entities/workspace.ts
  packages/common/infra/src/modules/workspace/testing/testing-provider.ts
  packages/frontend/core/src/blocksuite/presets/ai/messages/slides-renderer.ts
  packages/frontend/core/src/blocksuite/presets/ai/utils/markdown-utils.ts
  packages/frontend/core/src/components/affine/page-history-modal/data.ts
  packages/frontend/core/src/modules/workspace-engine/impls/cloud.ts
  packages/frontend/core/src/modules/workspace-engine/impls/local.ts
Labels: mod:infra, app:core

#7818 fix(core): some doc missing in search result
  packages/frontend/core/src/modules/docs-search/worker/in-worker.ts
Labels: app:core

#7819 fix(core): better search result
  packages/common/infra/src/sync/indexer/impl/indexeddb/inverted-index.ts
Labels: mod:infra

#7814 fix: center peek responsiveness update
  packages/frontend/core/src/modules/peek-view/view/doc-preview/doc-peek-view.css.ts
  packages/frontend/core/src/modules/peek-view/view/modal-container.css.ts
  packages/frontend/core/src/modules/peek-view/view/modal-container.tsx
Labels: app:core

#7827 fix: do not use globalShortcut for tab switching
  packages/frontend/electron/src/main/application-menu/create.ts
  packages/frontend/electron/src/main/windows-manager/tab-views.ts
Labels: app:electron

#7834 feat(i18n): fix i18n en-Us & en json english style
  packages/frontend/i18n/src/resources/en-US.json
  packages/frontend/i18n/src/resources/en.json
  tests/affine-desktop/e2e/tabs.spec.ts
  tests/affine-local/e2e/local-first-collections-items.spec.ts
  tests/affine-local/e2e/quick-search.spec.ts
Labels: mod:i18n, test

#7758 feat(core): rewrite page-mode-switch with RadioGroup, bind hotkey with cmdk
  packages/frontend/component/package.json
  packages/frontend/component/src/ui/radio/radio.tsx
  packages/frontend/component/src/ui/radio/styles.css.ts
  packages/frontend/component/src/ui/radio/types.ts
  packages/frontend/core/package.json
  packages/frontend/core/src/components/affine/page-history-modal/history-modal.tsx
  packages/frontend/core/src/components/blocksuite/block-suite-mode-switch/index.tsx
  packages/frontend/core/src/components/blocksuite/block-suite-mode-switch/style.css.ts
  packages/frontend/core/src/components/blocksuite/block-suite-mode-switch/style.ts
  packages/frontend/core/src/components/blocksuite/block-suite-mode-switch/switch-items.tsx
  packages/frontend/core/src/modules/navigation/view/navigation-buttons.tsx
  packages/frontend/core/src/modules/quicksearch/views/cmdk.tsx
  packages/frontend/core/src/modules/workbench/view/sidebar/sidebar-header-switcher.tsx
  packages/frontend/core/src/pages/share/share-header.tsx
  packages/frontend/core/src/pages/workspace/detail-page/detail-page-header.tsx
  packages/frontend/i18n/src/resources/en.json
  tests/kit/utils/editor.ts
  yarn.lock
Labels: mod:i18n, mod:component, test, app:core

#7810 feat(core): new theme editor poc
  packages/common/env/src/global.ts
  packages/frontend/core/src/components/affine/setting-modal/general-setting/appearance/index.tsx
  packages/frontend/core/src/components/affine/setting-modal/general-setting/appearance/theme-editor-setting.tsx
  packages/frontend/core/src/modules/index.ts
  packages/frontend/core/src/modules/theme-editor/index.ts
  packages/frontend/core/src/modules/theme-editor/services/theme-editor.ts
  packages/frontend/core/src/modules/theme-editor/types.ts
  packages/frontend/core/src/modules/theme-editor/views/components/color-cell.tsx
  packages/frontend/core/src/modules/theme-editor/views/components/empty.tsx
  packages/frontend/core/src/modules/theme-editor/views/components/simple-color-picker.css.ts
  packages/frontend/core/src/modules/theme-editor/views/components/simple-color-picker.tsx
  packages/frontend/core/src/modules/theme-editor/views/components/string-cell.css.ts
  packages/frontend/core/src/modules/theme-editor/views/components/string-cell.tsx
  packages/frontend/core/src/modules/theme-editor/views/components/tree-node.tsx
  packages/frontend/core/src/modules/theme-editor/views/components/variable-list.tsx
  packages/frontend/core/src/modules/theme-editor/views/custom-theme.tsx
  packages/frontend/core/src/modules/theme-editor/views/resource.ts
  packages/frontend/core/src/modules/theme-editor/views/theme-editor.css.ts
  packages/frontend/core/src/modules/theme-editor/views/theme-editor.tsx
  packages/frontend/core/src/modules/theme-editor/views/utils.ts
  packages/frontend/core/src/pages/theme-editor.tsx
  packages/frontend/core/src/router.tsx
  packages/frontend/electron/renderer/app.tsx
  packages/frontend/electron/renderer/index.tsx
  packages/frontend/electron/src/main/constants.ts
  packages/frontend/electron/src/main/ui/handlers.ts
  packages/frontend/electron/src/main/windows-manager/custom-theme-window.ts
  packages/frontend/electron/src/main/windows-manager/tab-views.ts
  packages/frontend/web/src/app.tsx
  tools/cli/src/webpack/runtime-config.ts
Labels: mod:env, app:electron, mod:dev, app:core

#7699 feat(core): add configuration for experimental features
  README.md
  packages/backend/server/src/fundamentals/mailer/template.ts
  packages/common/infra/src/atom/settings.ts
  packages/frontend/core/src/components/affine/setting-modal/general-setting/about/config.tsx
  packages/frontend/core/src/components/affine/setting-modal/general-setting/experimental-features/index.css.ts
  packages/frontend/core/src/components/affine/setting-modal/general-setting/experimental-features/index.tsx
  packages/frontend/core/src/components/affine/setting-modal/general-setting/index.tsx
  packages/frontend/i18n/src/resources/en.json
Labels: mod:infra, docs, mod:i18n, app:server, app:core

#7841 chore(core): enable mixpanel ignore_dnt flag
  packages/frontend/core/src/mixpanel/mixpanel.ts
Labels: app:core

#7844 fix(core): checkout event
  packages/frontend/core/src/hooks/affine/use-subscription-notify.tsx
  packages/frontend/core/src/mixpanel/events.ts
  packages/frontend/core/src/pages/subscribe.tsx
Labels: app:core

#7836 feat: bump bs
  packages/common/env/package.json
  packages/common/infra/package.json
  packages/frontend/component/package.json
  packages/frontend/core/package.json
  packages/frontend/electron/package.json
  tools/cli/package.json
  yarn.lock
Labels: mod:infra, mod:env, mod:component, app:electron, mod:dev, app:core

#7537 feat(admin): add self-host setup and user management page
  packages/backend/server/src/core/auth/resolver.ts
  packages/backend/server/src/core/features/management.ts
  packages/backend/server/src/core/features/resolver.ts
  packages/backend/server/src/core/user/resolver.ts
  packages/backend/server/src/core/user/types.ts
  packages/backend/server/src/schema.gql
  packages/frontend/admin/package.json
  packages/frontend/admin/src/app.tsx
  packages/frontend/admin/src/components/ui/sheet.tsx
  packages/frontend/admin/src/modules/accounts/components/ceate-user-panel.tsx
  packages/frontend/admin/src/modules/accounts/components/columns.tsx
  packages/frontend/admin/src/modules/accounts/components/data-table-pagination.tsx
  packages/frontend/admin/src/modules/accounts/components/data-table-row-actions.tsx
  packages/frontend/admin/src/modules/accounts/components/data-table-toolbar.tsx
  packages/frontend/admin/src/modules/accounts/components/data-table.tsx
  packages/frontend/admin/src/modules/accounts/components/delete-account.tsx
  packages/frontend/admin/src/modules/accounts/components/discard-changes.tsx
  packages/frontend/admin/src/modules/accounts/components/edit-panel.tsx
  packages/frontend/admin/src/modules/accounts/components/logo.tsx
  packages/frontend/admin/src/modules/accounts/components/reset-password.tsx
  packages/frontend/admin/src/modules/accounts/components/use-user-management.ts
  packages/frontend/admin/src/modules/accounts/index.tsx
  packages/frontend/admin/src/modules/accounts/schema.ts
  packages/frontend/admin/src/modules/home/index.tsx
  packages/frontend/admin/src/modules/layout.tsx
  packages/frontend/admin/src/modules/nav/nav.tsx
  packages/frontend/admin/src/modules/nav/user-dropdown.tsx
  packages/frontend/admin/src/modules/setup/create-admin.tsx
  packages/frontend/admin/src/modules/setup/form.tsx
  packages/frontend/admin/src/modules/setup/index.tsx
  packages/frontend/admin/src/modules/setup/logo.svg
  packages/frontend/admin/src/modules/users/index.tsx
  packages/frontend/admin/src/utils.ts
  packages/frontend/graphql/src/graphql/add-admin.gql
  packages/frontend/graphql/src/graphql/change-password-url.gql
  packages/frontend/graphql/src/graphql/create-user.gql
  packages/frontend/graphql/src/graphql/delete-user.gql
  packages/frontend/graphql/src/graphql/early-access-add.gql
  packages/frontend/graphql/src/graphql/early-access-remove.gql
  packages/frontend/graphql/src/graphql/get-user-by-email.gql
  packages/frontend/graphql/src/graphql/get-users-count.gql
  packages/frontend/graphql/src/graphql/index.ts
  packages/frontend/graphql/src/graphql/remove-admin.gql
  packages/frontend/graphql/src/graphql/server-config.gql
  packages/frontend/graphql/src/graphql/update-account.gql
  packages/frontend/graphql/src/schema.ts
  yarn.lock
Labels: app:server

#7821 refactor(infra): remove setimmediate
  packages/common/infra/src/livedata/livedata.ts
Labels: mod:infra

#7820 fix(electron): app got deleted when auto update on windows
  packages/frontend/electron/scripts/generate-assets.ts
  packages/frontend/electron/src/main/updater/custom-github-provider.ts
  packages/frontend/electron/src/main/updater/electron-updater.ts
  packages/frontend/electron/src/main/updater/utils.ts
  packages/frontend/electron/src/main/updater/windows-updater.ts
Labels: app:electron

#7611 feat(admin): add prompt management page
  packages/backend/server/src/plugins/copilot/resolver.ts
  packages/backend/server/src/schema.gql
  packages/frontend/admin/src/app.tsx
  packages/frontend/admin/src/modules/ai/discard-changes.tsx
  packages/frontend/admin/src/modules/ai/edit-prompt.tsx
  packages/frontend/admin/src/modules/ai/index.tsx
  packages/frontend/admin/src/modules/ai/keys.tsx
  packages/frontend/admin/src/modules/ai/prompts.tsx
  packages/frontend/admin/src/modules/ai/use-prompt.ts
  packages/frontend/admin/src/modules/layout.tsx
  packages/frontend/admin/src/modules/nav/nav.tsx
  packages/frontend/graphql/src/graphql/get-prompts.gql
  packages/frontend/graphql/src/graphql/index.ts
  packages/frontend/graphql/src/graphql/update-prompt.gql
  packages/frontend/graphql/src/schema.ts
Labels: app:server

#7847 fix(server): use timestamp with timezone
  packages/backend/server/migrations/20240813053919_use_timestamp_with_timezone/migration.sql
  packages/backend/server/schema.prisma
Labels: app:server

#7848 fix: center peek support open in new tab
  packages/frontend/core/src/modules/peek-view/view/peek-view-controls.tsx
Labels: app:core

#7849 fix(electron): adjust app-tabs-header styles
  packages/frontend/core/src/modules/app-tabs-header/views/app-tabs-header.tsx
  packages/frontend/core/src/modules/app-tabs-header/views/styles.css.ts
Labels: app:core

#7687 chore: add test for all collection and all tag
  packages/frontend/core/src/components/page-list/collections/collection-list-header.tsx
  packages/frontend/core/src/components/page-list/operation-cell.tsx
  packages/frontend/core/src/components/page-list/tags/create-tag.tsx
  packages/frontend/core/src/components/page-list/tags/tag-list-header.tsx
  packages/frontend/core/src/components/page-list/view/create-collection.tsx
  tests/affine-local/e2e/all-page.spec.ts
Labels: test, app:core

#7851 fix: admin panel schema
  packages/backend/server/src/core/config/index.ts
  packages/backend/server/src/schema.gql
Labels: app:server

#7852 fix(server): prelude should load both local and remote config file
  packages/backend/server/src/prelude.ts
Labels: app:server

#7855 fix(server): change password with token should be public
  packages/backend/server/src/core/auth/resolver.ts
  packages/backend/server/src/fundamentals/error/def.ts
  packages/backend/server/src/fundamentals/error/errors.gen.ts
  packages/backend/server/src/schema.gql
  packages/backend/server/tests/auth.e2e.ts
  packages/backend/server/tests/utils/user.ts
  packages/frontend/component/src/components/auth-components/change-password-page.tsx
  packages/frontend/component/src/components/auth-components/set-password-page.tsx
  packages/frontend/core/src/pages/auth.tsx
  packages/frontend/graphql/src/graphql/change-password.gql
  packages/frontend/graphql/src/graphql/index.ts
  packages/frontend/graphql/src/schema.ts
Labels: mod:component, app:server, test, app:core

#7865 fix(electron): cmd+num not working on mac
  packages/frontend/electron/src/main/application-menu/create.ts
  tests/affine-desktop/e2e/tabs.spec.ts
Labels: app:electron, test

#7866 feat: bump bs
  packages/common/env/package.json
  packages/common/infra/package.json
  packages/frontend/component/package.json
  packages/frontend/core/package.json
  packages/frontend/electron/package.json
  tools/cli/package.json
  yarn.lock
Labels: mod:infra, mod:env, mod:component, app:electron, mod:dev, app:core

#7867 perf(core): avoid page init when only id required
  packages/frontend/core/src/hooks/use-journal.ts
Labels: app:core

#7872 fix: add hover enter delay for ask ai button
  packages/frontend/core/src/blocksuite/presets/ai/_common/components/ask-ai-button.ts
Labels: app:core

#7871 fix(server): redirect to setup page if not initialized
  packages/backend/server/src/app.module.ts
  packages/backend/server/src/core/setup/index.ts
Labels: app:server

#7842 feat(core): use emoji as folder icon
  packages/common/infra/src/modules/feature-flag/constant.ts
  packages/frontend/core/package.json
  packages/frontend/core/src/modules/explorer/views/nodes/folder/index.tsx
  packages/frontend/core/src/modules/explorer/views/tree/node.css.ts
  packages/frontend/core/src/modules/explorer/views/tree/node.tsx
  packages/frontend/core/src/utils/__tests__/extract-emoji-icon.spec.ts
  packages/frontend/core/src/utils/extract-emoji-icon.ts
  packages/frontend/core/src/utils/index.ts
  yarn.lock
Labels: mod:infra, test, app:core

#7873 refactor(core): separate editor & doc mode
  packages/common/infra/src/modules/doc/entities/doc.ts
  packages/common/infra/src/modules/doc/entities/record-list.ts
  packages/common/infra/src/modules/doc/entities/record.ts
  packages/common/infra/src/modules/doc/services/docs.ts
  packages/common/infra/src/modules/doc/stores/docs.ts
  packages/frontend/component/src/ui/radio/types.ts
  packages/frontend/core/src/bootstrap/first-app-data.ts
  packages/frontend/core/src/components/affine/ai-onboarding/edgeless.dialog.tsx
  packages/frontend/core/src/components/affine/page-history-modal/history-modal.tsx
  packages/frontend/core/src/components/affine/page-properties/info-modal/info-modal.tsx
  packages/frontend/core/src/components/affine/reference-link/index.tsx
  packages/frontend/core/src/components/affine/share-page-modal/share-menu/share-export.tsx
  packages/frontend/core/src/components/affine/share-page-modal/share-menu/share-page.tsx
  packages/frontend/core/src/components/blocksuite/block-suite-editor/specs/custom/linked-widget.ts
  packages/frontend/core/src/components/blocksuite/block-suite-editor/specs/custom/spec-patchers.tsx
  packages/frontend/core/src/components/blocksuite/block-suite-header/menu/index.tsx
  packages/frontend/core/src/components/blocksuite/block-suite-header/title/index.tsx
  packages/frontend/core/src/components/blocksuite/block-suite-mode-switch/index.tsx
  packages/frontend/core/src/components/blocksuite/block-suite-page-list/utils.tsx
  packages/frontend/core/src/components/page-detail-editor.tsx
  packages/frontend/core/src/components/page-list/docs/virtualized-page-list.tsx
  packages/frontend/core/src/components/page-list/page-group.tsx
  packages/frontend/core/src/components/page-list/types.ts
  packages/frontend/core/src/components/page-list/view/edit-collection/edit-collection.tsx
  packages/frontend/core/src/components/page-list/view/edit-collection/rules-mode.tsx
  packages/frontend/core/src/components/page-list/view/edit-collection/select-page.tsx
  packages/frontend/core/src/components/page-list/virtualized-trash-list.tsx
  packages/frontend/core/src/components/pure/help-island/index.tsx
  packages/frontend/core/src/hooks/affine/use-all-page-list-config.tsx
  packages/frontend/core/src/hooks/affine/use-block-suite-meta-helper.ts
  packages/frontend/core/src/hooks/affine/use-register-blocksuite-editor-commands.tsx
  packages/frontend/core/src/layouts/workspace-layout.tsx
  packages/frontend/core/src/modules/editor/entities/editor.ts
  packages/frontend/core/src/modules/editor/index.ts
  packages/frontend/core/src/modules/editor/scopes/editor.ts
  packages/frontend/core/src/modules/editor/services/editor.ts
  packages/frontend/core/src/modules/editor/services/editors.ts
  packages/frontend/core/src/modules/explorer/views/nodes/doc/index.tsx
  packages/frontend/core/src/modules/index.ts
  packages/frontend/core/src/modules/peek-view/view/doc-preview/doc-peek-view.tsx
  packages/frontend/core/src/modules/peek-view/view/image-preview/index.tsx
  packages/frontend/core/src/modules/peek-view/view/peek-view-controls.tsx
  packages/frontend/core/src/modules/peek-view/view/utils.ts
  packages/frontend/core/src/modules/quicksearch/services/cmdk.ts
  packages/frontend/core/src/modules/quicksearch/services/doc-display-meta.ts
  packages/frontend/core/src/pages/share/share-detail-page.tsx
  packages/frontend/core/src/pages/share/share-header.tsx
  packages/frontend/core/src/pages/workspace/detail-page/detail-page-header.tsx
  packages/frontend/core/src/pages/workspace/detail-page/detail-page.tsx
  packages/frontend/core/src/pages/workspace/detail-page/tabs/journal.tsx
  packages/frontend/core/src/pages/workspace/detail-page/use-header-responsive.ts
Labels: mod:infra, mod:component, app:core

#7875 fix(server): redirect to setup page if not initialized
  .github/helm/affine/charts/graphql/templates/deployment.yaml
  packages/backend/server/.gitignore
  packages/backend/server/package.json
  packages/backend/server/src/app.controller.ts
  packages/backend/server/src/app.module.ts
  packages/backend/server/src/core/config/index.ts
  packages/backend/server/src/core/config/resolver.ts
  packages/backend/server/src/core/config/service.ts
  packages/backend/server/src/core/selfhost/controller.ts
  packages/backend/server/src/core/selfhost/index.ts
  packages/backend/server/src/core/setup/index.ts
  packages/backend/server/src/fundamentals/config/def.ts
  packages/backend/server/src/fundamentals/config/default.ts
  packages/backend/server/tests/config.spec.ts
  packages/backend/server/tests/selfhost/app.e2e.ts
  packages/frontend/admin/src/app.tsx
  packages/frontend/admin/src/modules/auth/index.tsx
  packages/frontend/admin/src/modules/common.ts
  packages/frontend/admin/src/modules/setup/form.tsx
  yarn.lock
Labels: app:server, test

#7876 fix(server): command line nestjs does not have http adapter
  packages/backend/server/src/core/selfhost/index.ts
Labels: app:server

#7883 fix(electron): header button not working on linux
  packages/frontend/core/src/components/app-sidebar/index.css.ts
Labels: app:core

#7884 fix: chat block peek view input reset height
  packages/frontend/core/src/blocksuite/presets/ai/peek-view/chat-block-input.ts
Labels: app:core

#7880 feat(server): make permission a standalone module
  packages/backend/server/src/app.module.ts
  packages/backend/server/src/core/doc/history.ts
  packages/backend/server/src/core/doc/index.ts
  packages/backend/server/src/core/permission/index.ts
  packages/backend/server/src/core/permission/service.ts
  packages/backend/server/src/core/permission/types.ts
  packages/backend/server/src/core/quota/index.ts
  packages/backend/server/src/core/quota/storage.ts
  packages/backend/server/src/core/sync/events/events.gateway.ts
  packages/backend/server/src/core/sync/events/events.module.ts
  packages/backend/server/src/core/workspaces/controller.ts
  packages/backend/server/src/core/workspaces/index.ts
  packages/backend/server/src/core/workspaces/management.ts
  packages/backend/server/src/core/workspaces/resolvers/blob.ts
  packages/backend/server/src/core/workspaces/resolvers/history.ts
  packages/backend/server/src/core/workspaces/resolvers/page.ts
  packages/backend/server/src/core/workspaces/resolvers/workspace.ts
  packages/backend/server/src/core/workspaces/types.ts
  packages/backend/server/src/fundamentals/error/def.ts
  packages/backend/server/src/fundamentals/error/errors.gen.ts
  packages/backend/server/src/fundamentals/error/index.ts
  packages/backend/server/src/fundamentals/error/payment-required.ts
  packages/backend/server/src/fundamentals/error/too-many-requests.ts
  packages/backend/server/src/fundamentals/nestjs/exception.ts
  packages/backend/server/src/plugins/copilot/index.ts
  packages/backend/server/src/plugins/copilot/resolver.ts
  packages/backend/server/src/plugins/oauth/index.ts
  packages/backend/server/src/schema.gql
  packages/backend/server/tests/feature.spec.ts
  packages/backend/server/tests/history.spec.ts
Labels: app:server, test

#7882 test(server): all instance variants
  packages/backend/server/src/app.controller.ts
  packages/backend/server/tests/app/graphql.e2e.ts
  packages/backend/server/tests/app/selfhost.e2e.ts
  packages/backend/server/tests/app/sync.e2e.ts
  packages/backend/server/tests/sync.spec.ts
Labels: app:server, test

#7869 docs: update LICENSE description
  README.md
Labels: docs

#7887 chore(electron): adjust log level
  packages/frontend/electron/src/helper/logger.ts
  packages/frontend/electron/src/main/logger.ts
Labels: app:electron

#7894 fix(electron): do not use async callback in onBeforeSendHeaders
  packages/frontend/electron/src/main/deep-link.ts
  packages/frontend/electron/src/main/protocol.ts
  packages/frontend/electron/src/main/windows-manager/tab-views.ts
Labels: app:electron

#7850 feat(component): add more customizable prop for radio-group with new story
  packages/frontend/component/src/ui/radio/radio.stories.tsx
  packages/frontend/component/src/ui/radio/radio.tsx
  packages/frontend/component/src/ui/radio/types.ts
Labels: mod:component

#7897 feat(core): share in workspace link
  packages/common/infra/src/livedata/effect/__tests__/effect.spec.ts
  packages/common/infra/src/modules/workspace/entities/list.ts
  packages/common/infra/src/modules/workspace/entities/workspace.ts
  packages/common/infra/src/modules/workspace/providers/flavour.ts
  packages/common/infra/src/modules/workspace/scopes/workspace.ts
  packages/common/infra/src/modules/workspace/services/engine.ts
  packages/common/infra/src/modules/workspace/services/repo.ts
  packages/frontend/core/src/components/affine/share-page-modal/share-menu/share-menu.tsx
  packages/frontend/core/src/components/affine/share-page-modal/share-menu/share-page.tsx
  packages/frontend/core/src/components/page-list/use-filtered-page-metas.tsx
  packages/frontend/core/src/components/page-list/view/edit-collection/select-page.tsx
  packages/frontend/core/src/hooks/affine/use-all-page-list-config.tsx
  packages/frontend/core/src/layouts/workspace-layout.tsx
  packages/frontend/core/src/modules/cloud/error.ts
  packages/frontend/core/src/modules/cloud/services/fetch.ts
  packages/frontend/core/src/modules/docs-search/index.ts
  packages/frontend/core/src/modules/docs-search/services/docs-search.ts
  packages/frontend/core/src/modules/explorer/views/nodes/collection/index.tsx
  packages/frontend/core/src/modules/share-doc/entities/share-info.ts
  packages/frontend/core/src/modules/share-doc/entities/share-reader.ts
  packages/frontend/core/src/modules/share-doc/index.ts
  packages/frontend/core/src/modules/share-doc/services/share-docs-list.ts
  packages/frontend/core/src/modules/share-doc/services/share-info.ts
  packages/frontend/core/src/modules/share-doc/services/share-reader.ts
  packages/frontend/core/src/modules/share-doc/services/share.ts
  packages/frontend/core/src/modules/share-doc/stores/share-reader.ts
  packages/frontend/core/src/modules/workspace-engine/impls/cloud.ts
  packages/frontend/core/src/modules/workspace-engine/impls/local.ts
  packages/frontend/core/src/modules/workspace-engine/index.ts
  packages/frontend/core/src/pages/index.tsx
  packages/frontend/core/src/pages/workspace/index.tsx
  packages/frontend/core/src/pages/workspace/share/share-footer.css.ts
  packages/frontend/core/src/pages/workspace/share/share-footer.tsx
  packages/frontend/core/src/pages/workspace/share/share-header.css.ts
  packages/frontend/core/src/pages/workspace/share/share-header.tsx
  packages/frontend/core/src/pages/workspace/share/share-page.css.ts
  packages/frontend/core/src/pages/workspace/share/share-page.tsx
  packages/frontend/core/src/router.tsx
  packages/frontend/graphql/src/error.ts
Labels: mod:infra, test, app:core

#7904 feat(core): mode in query string
  packages/frontend/core/package.json
  packages/frontend/core/src/modules/workbench/entities/view.ts
  packages/frontend/core/src/pages/workspace/detail-page/detail-page.tsx
  packages/frontend/graphql/src/schema.ts
  tests/affine-local/e2e/doc-info-modal.spec.ts
  tests/affine-local/e2e/drag-page.spec.ts
  tests/affine-local/e2e/local-first-delete-page.spec.ts
  tests/affine-local/e2e/local-first-favorites-items.spec.ts
  tests/affine-local/e2e/local-first-new-page.spec.ts
  tests/affine-local/e2e/local-first-openpage-newtab.spec.ts
  tests/affine-local/e2e/local-first-restore-page.spec.ts
  tests/affine-local/e2e/local-first-show-delete-modal.spec.ts
  tests/affine-local/e2e/local-first-trash-page.spec.ts
  tests/affine-local/e2e/router.spec.ts
  tests/kit/utils/url.ts
  yarn.lock
Labels: test, app:core

#7898 chore(electron): re-enable sentry for electron
  packages/frontend/electron/package.json
  packages/frontend/electron/renderer/index.tsx
  packages/frontend/electron/src/main/index.ts
  packages/frontend/electron/src/preload/bootstrap.ts
  yarn.lock
Labels: app:electron

#7913 fix(core): tag menu should not accept keyboard shortcut when renaming tag
  packages/frontend/core/src/components/affine/page-properties/tags-inline-editor.tsx
Labels: app:core

#7906 feat(core): workbench open doc in mode
  packages/frontend/core/src/modules/peek-view/view/peek-view-controls.tsx
  packages/frontend/core/src/modules/workbench/entities/workbench.ts
Labels: app:core

#7838 feat(core): new share menu
  packages/frontend/component/package.json
  packages/frontend/component/src/index.ts
  packages/frontend/component/src/ui/tabs/index.ts
  packages/frontend/component/src/ui/tabs/tabs.css.ts
  packages/frontend/component/src/ui/tabs/tabs.tsx
  packages/frontend/core/src/components/affine/share-page-modal/share-menu/index.css.ts
  packages/frontend/core/src/components/affine/share-page-modal/share-menu/share-export.tsx
  packages/frontend/core/src/components/affine/share-page-modal/share-menu/share-menu.tsx
  packages/frontend/core/src/components/affine/share-page-modal/share-menu/share-page.tsx
  packages/frontend/core/src/components/page-detail-editor.tsx
  packages/frontend/core/src/hooks/affine/use-register-copy-link-commands.tsx
  packages/frontend/core/src/hooks/affine/use-share-url.ts
  packages/frontend/core/src/mixpanel/events.ts
  packages/frontend/core/src/pages/workspace/share/share-page.tsx
  packages/frontend/i18n/src/resources/en.json
  tests/affine-cloud/e2e/share-page.spec.ts
  tests/kit/utils/cloud.ts
  yarn.lock
Labels: mod:i18n, mod:component, test, app:core

#7919 fix(electron): adjust tab styles
  packages/frontend/core/src/modules/app-tabs-header/views/app-tabs-header.tsx
  packages/frontend/core/src/modules/app-tabs-header/views/styles.css.ts
  packages/frontend/electron/src/main/protocol.ts
Labels: app:electron, app:core

#7923 chore(core): remove @storybook/test dep
  package.json
  packages/frontend/component/package.json
  yarn.lock
Labels: mod:component

#7922 chore: bump electron version
  .github/workflows/build-test.yml
  package.json
  packages/common/env/src/constant.ts
  packages/frontend/core/src/modules/cloud/services/auth.ts
  packages/frontend/core/src/modules/cloud/stores/subscription.ts
  packages/frontend/electron-api/package.json
  packages/frontend/electron-api/src/index.ts
  packages/frontend/electron/package.json
  packages/frontend/electron/renderer/index.tsx
  packages/frontend/electron/src/helper/logger.ts
  packages/frontend/electron/src/main/logger.ts
  packages/frontend/electron/src/preload/bootstrap.ts
  packages/frontend/web/src/index.tsx
  tests/affine-desktop/e2e/workspace.spec.ts
  tests/kit/electron.ts
  yarn.lock
Labels: mod:env, app:electron, test, app:core

#7914 chore: bump bs
  packages/common/env/package.json
  packages/common/infra/package.json
  packages/common/infra/src/modules/workspace/entities/workspace.ts
  packages/common/infra/src/modules/workspace/testing/testing-provider.ts
  packages/frontend/component/package.json
  packages/frontend/core/package.json
  packages/frontend/core/src/blocksuite/presets/ai/_common/chat-actions-handle.ts
  packages/frontend/core/src/blocksuite/presets/ai/messages/slides-renderer.ts
  packages/frontend/core/src/blocksuite/presets/ai/peek-view/chat-block-peek-view.ts
  packages/frontend/core/src/blocksuite/presets/ai/utils/edgeless.ts
  packages/frontend/core/src/blocksuite/presets/ai/utils/editor-actions.ts
  packages/frontend/core/src/blocksuite/presets/ai/utils/markdown-utils.ts
  packages/frontend/core/src/components/affine/page-history-modal/data.ts
  packages/frontend/core/src/components/blocksuite/block-suite-editor/lit-adaper.tsx
  packages/frontend/core/src/components/blocksuite/block-suite-editor/specs/custom/root-block.ts
  packages/frontend/core/src/modules/workspace-engine/impls/cloud.ts
  packages/frontend/core/src/modules/workspace-engine/impls/local.ts
  packages/frontend/electron/package.json
  tools/cli/package.json
  yarn.lock
Labels: mod:infra, mod:env, mod:component, app:electron, mod:dev, app:core

#7900 feat(server): make a singleton global mutex service
  packages/backend/server/src/core/selfhost/controller.ts
  packages/backend/server/src/core/workspaces/resolvers/workspace.ts
  packages/backend/server/src/fundamentals/index.ts
  packages/backend/server/src/fundamentals/mutex/index.ts
  packages/backend/server/src/fundamentals/mutex/mutex.ts
  packages/backend/server/src/plugins/copilot/resolver.ts
Labels: app:server

#7901 feat(server): make an abstraction for ydoc storage
  packages/backend/server/src/core/doc/storage/blob.ts
  packages/backend/server/src/core/doc/storage/connection.ts
  packages/backend/server/src/core/doc/storage/doc.ts
  packages/backend/server/src/core/doc/storage/index.ts
  packages/backend/server/src/core/doc/storage/lock.ts
Labels: app:server

#7902 feat(server): make server storage adapters
  packages/backend/server/migrations/20240815064332_userspace/migration.sql
  packages/backend/server/migrations/20240815084618_update_doc_tables/migration.sql
  packages/backend/server/schema.prisma
  packages/backend/server/src/app.module.ts
  packages/backend/server/src/core/doc/adapters/userspace.ts
  packages/backend/server/src/core/doc/adapters/workspace.ts
  packages/backend/server/src/core/doc/history.ts
  packages/backend/server/src/core/doc/index.ts
  packages/backend/server/src/core/doc/job.ts
  packages/backend/server/src/core/doc/manager.ts
  packages/backend/server/src/core/doc/options.ts
  packages/backend/server/src/core/permission/service.ts
  packages/backend/server/src/core/quota/quota.ts
  packages/backend/server/src/core/sync/events/events.gateway.ts
  packages/backend/server/src/core/sync/events/events.module.ts
  packages/backend/server/src/core/sync/gateway.ts
  packages/backend/server/src/core/sync/index.ts
  packages/backend/server/src/core/workspaces/controller.ts
  packages/backend/server/src/core/workspaces/index.ts
  packages/backend/server/src/core/workspaces/resolvers/history.ts
  packages/backend/server/src/core/workspaces/resolvers/workspace.ts
  packages/backend/server/src/fundamentals/error/def.ts
  packages/backend/server/src/fundamentals/error/errors.gen.ts
  packages/backend/server/src/plugins/copilot/controller.ts
  packages/backend/server/src/schema.gql
  packages/backend/server/tests/doc.spec.ts
  packages/backend/server/tests/doc/history.spec.ts
  packages/backend/server/tests/workspace.e2e.ts
  packages/backend/server/tests/workspace/controller.spec.ts
Labels: app:server, test
