Repository toeverything/AFFiNE, pull requests merged in 2025-04, with the labels that each got.

#11317 feat(server): bump gemini version
  packages/backend/server/src/plugins/copilot/prompt/prompts.ts
  packages/backend/server/src/plugins/copilot/providers/gemini.ts
Labels: mod:infra, docs, mod:dev, app:server, test, app:core

#11290 refactor(editor): basic styles of font and panel
  blocksuite/affine/blocks/block-attachment/src/components/styles.ts
  blocksuite/affine/components/src/color-picker/styles.ts
  blocksuite/affine/components/src/embed-card-modal/embed-card-edit-modal.ts
  blocksuite/affine/components/src/embed-card-modal/styles.ts
  blocksuite/affine/components/src/filterable-list/styles.ts
  blocksuite/affine/components/src/toolbar/menu-button.ts
  blocksuite/affine/components/src/toolbar/toolbar.ts
  blocksuite/affine/inlines/link/src/link-node/link-popup/styles.ts
  blocksuite/affine/inlines/reference/src/reference-node/reference-popup/reference-popup.ts
  blocksuite/affine/shared/src/styles/font.ts
  blocksuite/affine/shared/src/styles/index.ts
  blocksuite/affine/shared/src/styles/panel.ts
  tests/blocksuite/e2e/edgeless/color-picker.spec.ts
Labels: test

#11321 feat(electron): add allow list for recording apps
  packages/frontend/apps/electron/src/main/recording/allow-list.ts
  packages/frontend/apps/electron/src/main/recording/feature.ts
Labels: app:electron

#11113 fix(core): should show divider between readwise content and note
  packages/frontend/core/src/modules/integration/entities/writer.ts
Labels: app:core

#11336 fix(core): can't open history modal in self-hosting client
  packages/frontend/core/src/blocksuite/block-suite-header/menu/index.tsx
Labels: app:core

#11309 fix(editor): improve error message in mention
  packages/frontend/core/src/modules/at-menu-config/services/index.ts
  packages/frontend/i18n/src/i18n.gen.ts
  packages/frontend/i18n/src/resources/en.json
Labels: mod:i18n, app:core

#11303 fix(editor): undo should remove the new frame created by dragging
  blocksuite/affine/blocks/block-frame/src/frame-tool.ts
  tests/blocksuite/e2e/edgeless/frame/frame.spec.ts
Labels: test

#11342 feat(server): improve context error handle
  packages/backend/server/src/plugins/copilot/context/job.ts
  packages/backend/server/src/plugins/copilot/context/resolver.ts
  packages/backend/server/src/plugins/copilot/context/service.ts
  packages/backend/server/src/plugins/copilot/context/session.ts
  packages/backend/server/src/plugins/copilot/context/types.ts
Labels: app:server

#11353 fix(core): improve tag list performance
  packages/frontend/core/src/components/page-list/page-group.tsx
  packages/frontend/core/src/components/page-list/tags/tag-list-item.tsx
  packages/frontend/core/src/components/page-list/types.ts
  packages/frontend/core/src/modules/tag/entities/tag-list.ts
  packages/frontend/core/src/modules/tag/entities/tag.ts
  packages/frontend/core/src/modules/tag/stores/tag.ts
Labels: app:core

#11327 chore(electron): add telemetry events for enabling meetings
  packages/common/graphql/package.json
  packages/frontend/apps/electron-renderer/package.json
  packages/frontend/apps/electron-renderer/src/app/effects/recording.ts
  packages/frontend/apps/electron-renderer/src/popup/recording/index.tsx
  packages/frontend/apps/electron-renderer/tsconfig.json
  packages/frontend/core/src/blocksuite/attachment-viewer/audio/audio-block.tsx
  packages/frontend/core/src/desktop/dialogs/setting/general-setting/meetings/index.tsx
  packages/frontend/core/src/modules/media/entities/audio-attachment-block.ts
  packages/frontend/track/package.json
  packages/frontend/track/src/events.ts
  tools/utils/src/workspace.gen.ts
  yarn.lock
Labels: app:electron, app:core

#11341 refactor(core): ai chat chips
  packages/frontend/core/src/blocksuite/ai/actions/types.ts
  packages/frontend/core/src/blocksuite/ai/chat-panel/chat-config.ts
  packages/frontend/core/src/blocksuite/ai/chat-panel/chat-context.ts
  packages/frontend/core/src/blocksuite/ai/chat-panel/chat-panel-input.ts
  packages/frontend/core/src/blocksuite/ai/chat-panel/index.ts
  packages/frontend/core/src/blocksuite/ai/components/ai-chat-chips/add-popover.ts
  packages/frontend/core/src/blocksuite/ai/components/ai-chat-chips/candidates-popover.ts
  packages/frontend/core/src/blocksuite/ai/components/ai-chat-chips/chat-panel-chips.ts
  packages/frontend/core/src/blocksuite/ai/components/ai-chat-chips/chip.ts
  packages/frontend/core/src/blocksuite/ai/components/ai-chat-chips/collection-chip.ts
  packages/frontend/core/src/blocksuite/ai/components/ai-chat-chips/doc-chip.ts
  packages/frontend/core/src/blocksuite/ai/components/ai-chat-chips/file-chip.ts
  packages/frontend/core/src/blocksuite/ai/components/ai-chat-chips/index.ts
  packages/frontend/core/src/blocksuite/ai/components/ai-chat-chips/tag-chip.ts
  packages/frontend/core/src/blocksuite/ai/components/ai-chat-chips/type.ts
  packages/frontend/core/src/blocksuite/ai/components/ai-chat-chips/utils.ts
  packages/frontend/core/src/blocksuite/ai/effects.ts
Labels: app:core

#11352 fix(editor): database block columns popover closes unexpectedly
  blocksuite/affine/data-view/src/core/component/tags/multi-tag-select.ts
  blocksuite/affine/data-view/src/core/detail/field.ts
  blocksuite/affine/data-view/src/core/detail/selection.ts
  blocksuite/affine/data-view/src/property-presets/multi-select/cell-renderer.ts
  packages/frontend/core/src/blocksuite/database-block/properties/file/view.tsx
  packages/frontend/core/src/blocksuite/database-block/properties/member/multi-member-select/index.tsx
Labels: app:core

#11318 chore(server): reschedule doc merging jobs
  packages/backend/server/src/base/job/queue/__tests__/queue.spec.ts
  packages/backend/server/src/base/job/queue/def.ts
  packages/backend/server/src/base/job/queue/executor.ts
  packages/backend/server/src/base/job/queue/queue.ts
  packages/backend/server/src/core/doc-service/job.ts
  packages/backend/server/src/core/doc/adapters/workspace.ts
  packages/backend/server/src/core/mail/job.ts
  packages/backend/server/src/models/doc.ts
Labels: app:server, test

#11348 fix(editor): missing doc mode extension in frame preview
  blocksuite/affine/fragments/fragment-frame-panel/src/body/frame-panel-body.ts
  blocksuite/affine/fragments/fragment-frame-panel/src/card/frame-card.ts
  blocksuite/affine/fragments/fragment-frame-panel/src/card/frame-preview.ts
  blocksuite/affine/fragments/fragment-frame-panel/src/utils/drag.ts
  tests/blocksuite/e2e/edgeless/presentation.spec.ts
Labels: test

#11363 fix(core): do not show AI avatar during generating
  packages/frontend/core/src/blocksuite/ai/chat-panel/message/assistant.ts
Labels: app:core

#11358 fix(core): add shortcuts to open doc dropdown menu
  blocksuite/affine/all/src/components/open-doc-dropdown-menu.ts
  blocksuite/affine/all/src/effects.ts
  blocksuite/affine/components/package.json
  blocksuite/affine/components/src/open-doc-dropdown-menu/dropdown-menu.ts
  blocksuite/affine/components/src/open-doc-dropdown-menu/index.ts
  packages/frontend/core/src/blocksuite/extensions/editor-config/toolbar/index.ts
  packages/frontend/core/src/blocksuite/extensions/open-doc.ts
  tests/affine-local/e2e/links.spec.ts
Labels: test, app:core

#11365 chore(server): omit system message in error
  packages/backend/server/src/plugins/copilot/controller.ts
Labels: app:server

#11368 fix(electron): incorrect app allow list logic for recording
  packages/frontend/apps/electron-renderer/src/app/effects/recording.ts
  packages/frontend/apps/electron/src/main/recording/feature.ts
  packages/frontend/component/src/ui/lottie/transcribe.json
Labels: mod:component, app:electron

#10473 fix(core): fix target block cannot be reached when clicking affine-link multiple times
  packages/frontend/core/src/components/hooks/use-navigate-helper.ts
  packages/frontend/core/src/desktop/pages/workspace/detail-page/detail-page.tsx
  tests/affine-local/e2e/links.spec.ts
  tests/affine-local/e2e/local-first-openpage-newtab.spec.ts
Labels: test, app:core

#11364 feat(server): s3 presigned url
  .docker/selfhost/schema.json
  packages/backend/server/package.json
  packages/backend/server/src/base/storage/providers/index.ts
  packages/backend/server/src/base/storage/providers/provider.ts
  packages/backend/server/src/base/storage/providers/r2.ts
  packages/backend/server/src/base/storage/providers/s3.ts
  packages/backend/server/src/base/storage/providers/utils.ts
  packages/backend/server/src/core/storage/wrappers/blob.ts
  packages/backend/server/src/core/workspaces/controller.ts
  packages/backend/server/src/plugins/copilot/controller.ts
  packages/backend/server/src/plugins/copilot/storage.ts
  packages/frontend/admin/src/config.json
  yarn.lock
Labels: app:server

#11370 fix(electron): global tap should activate input device if it is not active
  packages/frontend/native/media_capture/src/macos/tap_audio.rs
Labels: rust, mod:native

#11375 fix(core): should display date as original title of journal
  blocksuite/affine/blocks/block-embed/src/embed-linked-doc-block/configs/toolbar.ts
  blocksuite/affine/inlines/reference/src/reference-node/configs/toolbar.ts
  blocksuite/affine/shared/src/services/doc-display-meta-service.ts
  packages/frontend/core/src/blocksuite/extensions/display-meta.ts
  tests/affine-local/e2e/links.spec.ts
Labels: test, app:core

#11373 feat(core): add copy link to doc peek view controls
  packages/frontend/core/src/modules/peek-view/view/peek-view-controls.tsx
  packages/frontend/i18n/src/i18n.gen.ts
  packages/frontend/i18n/src/resources/en.json
Labels: mod:i18n, app:core

#11374 fix(core): bidi panel show button color
  packages/frontend/core/src/blocksuite/block-suite-editor/bi-directional-link-panel.css.ts
Labels: app:core

#11386 fix(server): handle s3 notfound error
  packages/backend/server/src/base/storage/providers/s3.ts
Labels: app:server

#11385 fix(server): handle empty transcript result correctly
  packages/backend/server/src/plugins/copilot/transcript/service.ts
Labels: app:server

#11383 fix(core): add toDocSearchParams for better typeschecking doc search params
  blocksuite/affine/model/src/consts/doc.ts
  packages/frontend/core/src/blocksuite/block-suite-editor/bi-directional-link-panel.tsx
  packages/frontend/core/src/blocksuite/block-suite-editor/lit-adaper.tsx
  packages/frontend/core/src/components/hooks/affine/use-share-url.ts
  packages/frontend/core/src/components/hooks/use-navigate-helper.ts
  packages/frontend/core/src/modules/docs-search/services/docs-search.ts
  packages/frontend/core/src/modules/navigation/index.ts
  packages/frontend/core/src/modules/navigation/utils.ts
  packages/frontend/core/src/modules/peek-view/view/peek-view-controls.tsx
  packages/frontend/core/src/modules/workbench/entities/workbench.ts
Labels: app:core

#11384 fix(core): audio player loading styles
  packages/frontend/component/src/ui/audio-player/audio-player.stories.tsx
  packages/frontend/component/src/ui/audio-player/audio-player.tsx
  packages/frontend/component/src/ui/audio-player/audio-waveform.tsx
  packages/frontend/component/src/ui/lottie/animated-play-icon.stories.tsx
  packages/frontend/component/src/ui/lottie/animated-play-icon.tsx
Labels: mod:component

#11387 feat: render placeholder in edgeless mode
  blocksuite/affine/blocks/block-surface-ref/src/icons.ts
  blocksuite/affine/blocks/block-surface-ref/src/surface-ref-block-edgeless.ts
  blocksuite/framework/std/src/gfx/index.ts
  blocksuite/framework/std/src/gfx/model/model.ts
  blocksuite/integration-test/src/__tests__/edgeless/surface-ref.spec.ts
Labels: test

#11392 fix(server): should use error instance stack
  packages/backend/server/src/base/error/def.ts
Labels: app:server

#11393 feat(core): remove integration feature flag
  packages/frontend/core/src/desktop/dialogs/setting/workspace-setting/index.tsx
  packages/frontend/core/src/modules/feature-flag/constant.ts
Labels: app:core

#11396 fix(editor): remove embed iframe toolbar edit item
  blocksuite/affine/blocks/block-embed/src/embed-iframe-block/components/embed-iframe-error-card.ts
  blocksuite/affine/blocks/block-embed/src/embed-iframe-block/components/embed-iframe-link-input-popup.ts
  blocksuite/affine/blocks/block-embed/src/embed-iframe-block/embed-iframe-block.ts
  packages/frontend/core/src/blocksuite/extensions/editor-config/toolbar/index.ts
Labels: app:core

#11399 chore(core): remove audio block feature flag
  packages/frontend/core/src/blocksuite/block-suite-editor/lit-adaper.tsx
  packages/frontend/core/src/modules/feature-flag/constant.ts
Labels: app:core

#11371 fix(editor): do not display format bar with embed node
  blocksuite/affine/inlines/preset/src/command/utils.ts
  tests/blocksuite/e2e/format-bar.spec.ts
Labels: test

#11390 feat(server): enable job queue log
  packages/backend/server/src/base/job/queue/executor.ts
  packages/backend/server/src/base/job/queue/queue.ts
Labels: app:server

#11400 chore(server): customize config merge logic
  packages/backend/server/src/__tests__/copilot-provider.spec.ts
  packages/backend/server/src/base/config/__tests__/config.spec.ts
  packages/backend/server/src/base/config/factory.ts
  packages/backend/server/src/base/config/register.ts
  packages/backend/server/src/base/event/eventbus.ts
  packages/backend/server/src/base/job/queue/scanner.ts
  packages/backend/server/src/core/config/__tests__/service.spec.ts
  packages/backend/server/src/core/config/resolver.ts
  packages/backend/server/src/core/config/service.ts
Labels: app:server, test

#11405 chore(server): adjust job config
  .docker/selfhost/schema.json
  packages/backend/server/src/base/job/queue/__tests__/queue.spec.ts
  packages/backend/server/src/base/job/queue/config.ts
  packages/backend/server/src/base/job/queue/executor.ts
  packages/backend/server/src/base/job/queue/index.ts
Labels: app:server, test

#11307 fix(core): prevent input event propagation
  packages/frontend/core/src/blocksuite/ai/components/ai-chat-chips/add-popover.ts
Labels: app:core

#11397 chore(server): move embedding job namespace
  packages/backend/server/src/plugins/copilot/context/job.ts
  packages/backend/server/src/plugins/copilot/context/types.ts
Labels: app:server

#11377 docs: add blaze sponsor info
  .github/workflows/release-mobile.yml
  README.md
Labels: docs

#11414 feat(server): retry transcript job
  packages/backend/server/src/base/error/def.ts
  packages/backend/server/src/base/error/errors.gen.ts
  packages/backend/server/src/plugins/copilot/transcript/resolver.ts
  packages/backend/server/src/plugins/copilot/transcript/service.ts
  packages/backend/server/src/plugins/copilot/transcript/types.ts
  packages/backend/server/src/schema.gql
  packages/common/graphql/src/graphql/copilot-jobs-transcription-retry.gql
  packages/common/graphql/src/graphql/index.ts
  packages/common/graphql/src/schema.ts
  packages/frontend/i18n/src/i18n.gen.ts
  packages/frontend/i18n/src/resources/en.json
Labels: mod:i18n, app:server

#11418 fix(core): fix member search loading state
  packages/frontend/core/src/modules/at-menu-config/services/index.ts
Labels: app:core

#11407 chore(server): update sign domain description
  .docker/selfhost/schema.json
  packages/backend/server/src/base/storage/providers/index.ts
  packages/backend/server/src/base/storage/providers/r2.ts
  packages/backend/server/src/base/storage/providers/s3.ts
Labels: app:server

#11409 fix(server): auto-accept pending invitations by link
  packages/backend/server/src/__tests__/e2e/workspace/invite.spec.ts
  packages/backend/server/src/core/workspaces/resolvers/workspace.ts
Labels: app:server, test

#11381 refactor(core): ai input
  packages/frontend/core/src/blocksuite/ai/_common/chat-actions-handle.ts
  packages/frontend/core/src/blocksuite/ai/blocks/ai-chat-block/ai-chat-block.ts
  packages/frontend/core/src/blocksuite/ai/blocks/ai-chat-block/components/ai-chat-messages.ts
  packages/frontend/core/src/blocksuite/ai/blocks/ai-chat-block/components/user-info.ts
  packages/frontend/core/src/blocksuite/ai/blocks/ai-chat-block/model/index.ts
  packages/frontend/core/src/blocksuite/ai/chat-panel/actions/action-wrapper.ts
  packages/frontend/core/src/blocksuite/ai/chat-panel/actions/image-to-text.ts
  packages/frontend/core/src/blocksuite/ai/chat-panel/actions/image.ts
  packages/frontend/core/src/blocksuite/ai/chat-panel/actions/make-real.ts
  packages/frontend/core/src/blocksuite/ai/chat-panel/actions/mindmap.ts
  packages/frontend/core/src/blocksuite/ai/chat-panel/actions/slides.ts
  packages/frontend/core/src/blocksuite/ai/chat-panel/actions/text.ts
  packages/frontend/core/src/blocksuite/ai/chat-panel/chat-config.ts
  packages/frontend/core/src/blocksuite/ai/chat-panel/chat-context.ts
  packages/frontend/core/src/blocksuite/ai/chat-panel/chat-panel-input.ts
  packages/frontend/core/src/blocksuite/ai/chat-panel/chat-panel-messages.ts
  packages/frontend/core/src/blocksuite/ai/chat-panel/const.ts
  packages/frontend/core/src/blocksuite/ai/chat-panel/index.ts
  packages/frontend/core/src/blocksuite/ai/chat-panel/message/action.ts
  packages/frontend/core/src/blocksuite/ai/chat-panel/message/assistant.ts
  packages/frontend/core/src/blocksuite/ai/chat-panel/message/user.ts
  packages/frontend/core/src/blocksuite/ai/components/ai-chat-input/ai-chat-input.ts
  packages/frontend/core/src/blocksuite/ai/components/ai-chat-input/const.ts
  packages/frontend/core/src/blocksuite/ai/components/ai-chat-input/index.ts
  packages/frontend/core/src/blocksuite/ai/components/ai-chat-input/type.ts
  packages/frontend/core/src/blocksuite/ai/components/ai-chat-messages/index.ts
  packages/frontend/core/src/blocksuite/ai/components/ai-chat-messages/type.ts
  packages/frontend/core/src/blocksuite/ai/peek-view/chat-block-input.ts
  packages/frontend/core/src/blocksuite/ai/peek-view/chat-block-peek-view.ts
  packages/frontend/core/src/blocksuite/ai/peek-view/types.ts
Labels: app:core

#11416 feat(core): allow retry transcription
  packages/frontend/core/src/modules/media/entities/audio-transcription-job-store.ts
  packages/frontend/core/src/modules/media/entities/audio-transcription-job.ts
Labels: app:core

#11403 feat(electron): recording popup ux
  packages/frontend/apps/electron-renderer/src/popup/recording/styles.css.ts
  packages/frontend/apps/electron/src/main/windows-manager/popup.ts
  packages/frontend/apps/electron/src/main/windows-manager/tab-views.ts
  packages/frontend/component/src/ui/lottie/animated-play-icon.tsx
Labels: mod:component, app:electron

#11422 feat(server): search workspace users support case insensitive
  packages/backend/server/src/__tests__/e2e/workspace/member.spec.ts
  packages/backend/server/src/models/workspace-user.ts
Labels: app:server, test

#11380 fix(native): properly cleanup resource when activating device failed
  packages/frontend/native/media_capture/src/macos/tap_audio.rs
Labels: rust, mod:native

#11417 fix(server): copilot test condition
  packages/backend/server/src/__tests__/copilot-provider.spec.ts
Labels: app:server, test

#11425 feat(core): adjust notification button style
  packages/frontend/core/src/modules/app-sidebar/views/menu-item/index.css.ts
Labels: app:core

#11430 fix(server): correct notification pagination by using 'lt' instead of 'gt' for createdAt
  packages/backend/server/src/__tests__/e2e/notification/resolver.spec.ts
  packages/backend/server/src/models/notification.ts
Labels: app:server, test

#11401 fix(ios): can not open keyboard in editor
  blocksuite/affine/blocks/block-root/src/widgets/keyboard-toolbar/index.ts
  blocksuite/affine/blocks/block-root/src/widgets/keyboard-toolbar/keyboard-toolbar.ts
  blocksuite/affine/blocks/block-root/src/widgets/linked-doc/mobile-linked-doc-menu.ts
  blocksuite/affine/shared/src/services/virtual-keyboard-service.ts
  packages/frontend/apps/ios/src/index.tsx
  packages/frontend/core/src/blocksuite/extensions/entry/enable-mobile.ts
Labels: app:core

#11410 fix(ios): adjust bootom padding of body when keyboard toolbar existed
  blocksuite/affine/blocks/block-root/src/widgets/keyboard-toolbar/keyboard-tool-panel.ts
  blocksuite/affine/blocks/block-root/src/widgets/keyboard-toolbar/keyboard-toolbar.ts
  blocksuite/affine/blocks/block-root/src/widgets/keyboard-toolbar/position-controller.ts
  blocksuite/affine/blocks/block-root/src/widgets/keyboard-toolbar/styles.ts
  packages/frontend/core/src/mobile/components/app-tabs/styles.css.ts
  packages/frontend/core/src/mobile/modules/virtual-keyboard/services/virtual-keyboard.ts
  packages/frontend/core/src/mobile/styles/mobile.css.ts
  packages/frontend/core/src/mobile/styles/variables.css.ts
Labels: mod:dev, test, app:core

#11427 fix(ios): mobile modal occlusion issues
  blocksuite/affine/components/src/context-menu/menu-renderer.ts
  blocksuite/affine/components/src/embed-card-modal/embed-card-create-modal.ts
  blocksuite/affine/components/src/embed-card-modal/styles.ts
  packages/frontend/component/src/ui/menu/menu.types.ts
  packages/frontend/component/src/ui/menu/mobile/root.tsx
  packages/frontend/core/src/mobile/components/sign-in/layout.css.ts
  packages/frontend/core/src/mobile/dialogs/selectors/date-selector.tsx
Labels: mod:component, app:core

#11419 fix(editor): add recent open doc with mode button
  blocksuite/affine/components/src/open-doc-dropdown-menu/dropdown-menu.ts
  packages/frontend/core/src/blocksuite/extensions/editor-config/toolbar/index.ts
  tests/affine-local/e2e/blocksuite/outline/outline-viewer.spec.ts
  tests/affine-local/e2e/links.spec.ts
  tests/affine-local/e2e/peek-view.spec.ts
Labels: test, app:core

#11388 test(core): chat with collection & tags
  packages/frontend/core/src/blocksuite/ai/chat-panel/index.ts
  packages/frontend/core/src/blocksuite/ai/components/ai-chat-chips/add-popover.ts
  packages/frontend/core/src/modules/explorer/views/nodes/collection/operations.tsx
  packages/frontend/core/src/modules/explorer/views/nodes/tag/operations.tsx
  packages/frontend/core/src/modules/explorer/views/sections/tags/index.tsx
  tests/affine-cloud-copilot/e2e/basic/authority.spec.ts
  tests/affine-cloud-copilot/e2e/basic/chat.spec.ts
  tests/affine-cloud-copilot/e2e/chat-with/collections.spec.ts
  tests/affine-cloud-copilot/e2e/chat-with/tags.spec.ts
  tests/affine-cloud-copilot/e2e/utils/chat-panel-utils.ts
  tests/affine-cloud-copilot/e2e/utils/editor-utils.ts
  tests/affine-cloud-copilot/e2e/utils/test-utils.ts
Labels: test, app:core

#11429 fix(editor): textarea not focusing in AI panel
  blocksuite/framework/std/src/inline/range/active.ts
  blocksuite/framework/std/src/inline/range/range-binding.ts
  packages/frontend/core/src/blocksuite/ai/widgets/ai-panel/ai-panel.ts
  tests/affine-cloud-copilot/e2e/chat-with/text.spec.ts
  tests/affine-cloud-copilot/e2e/utils/editor-utils.ts
Labels: test, app:core

#11428 refactor(editor): remove unused modal
  blocksuite/affine/components/src/embed-card-modal/embed-card-caption-edit-modal.ts
  blocksuite/affine/components/src/embed-card-modal/index.ts
Labels: merge

#11432 feat(editor): remove embed iframe feature flag
  blocksuite/affine/blocks/block-bookmark/src/commands/insert-link-by-quick-search.ts
  blocksuite/affine/blocks/block-embed/src/embed-iframe-block/configs/slash-menu/slash-menu.ts
  blocksuite/affine/blocks/block-embed/src/embed-iframe-block/embed-edgeless-iframe-block.ts
  blocksuite/affine/blocks/block-embed/src/embed-iframe-block/embed-iframe-block.ts
  blocksuite/affine/blocks/block-embed/src/embed-iframe-block/utils.ts
  blocksuite/affine/blocks/block-root/src/widgets/keyboard-toolbar/config.ts
  blocksuite/affine/inlines/link/src/link-node/configs/toolbar.ts
  blocksuite/affine/shared/src/services/feature-flag-service.ts
  packages/frontend/core/src/modules/feature-flag/constant.ts
Labels: app:core

#11433 fix(server): auto-accept pending invitations by link in team workspace
  packages/backend/server/src/__tests__/e2e/workspace/team.spec.ts
  packages/backend/server/src/core/workspaces/resolvers/workspace.ts
Labels: app:server, test

#11441 chore(server): improve gql types
  packages/backend/server/src/__tests__/copilot.spec.ts
  packages/backend/server/src/plugins/copilot/context/resolver.ts
  packages/backend/server/src/plugins/copilot/message.ts
  packages/backend/server/src/plugins/copilot/resolver.ts
  packages/backend/server/src/plugins/copilot/session.ts
Labels: app:server, test

#11445 fix(editor): missing refFlavour in creation of surface-ref
  blocksuite/affine/model/src/blocks/surface-ref/surface-ref-model.ts
  blocksuite/affine/widgets/widget-drag-handle/src/watchers/drag-event-watcher.ts
  blocksuite/integration-test/src/__tests__/edgeless/surface-ref.spec.ts
Labels: test

#11420 feat(editor): not sync selection from awareness
  blocksuite/framework/store/src/extension/selection/selection-extension.ts
  tests/affine-local/e2e/peek-view.spec.ts
Labels: test

#11423 fix(core): fix notification list
  packages/frontend/core/src/components/notification/list.style.css.ts
  packages/frontend/core/src/components/notification/list.tsx
  packages/frontend/i18n/src/i18n.gen.ts
  packages/frontend/i18n/src/resources/en.json
Labels: mod:i18n, app:server, app:core

#11455 feat(core): adjust notification style
  packages/frontend/core/src/components/notification/list.style.css.ts
  packages/frontend/core/src/modules/app-sidebar/views/sidebar-header/sidebar-switch.css.ts
  packages/frontend/core/src/modules/app-sidebar/views/sidebar-header/sidebar-switch.tsx
Labels: app:core

#11449 chore(server): never reuse cls id for job handler
  packages/backend/server/src/base/job/queue/__tests__/queue.spec.ts
  packages/backend/server/src/base/job/queue/executor.ts
  packages/backend/server/src/base/job/queue/queue.ts
Labels: app:server, test

#11452 chore(server): avoid config object been modified
  .docker/selfhost/schema.json
  packages/backend/server/src/base/config/__tests__/config.spec.ts
  packages/backend/server/src/base/config/factory.ts
  packages/backend/server/src/plugins/payment/config.ts
  packages/frontend/admin/src/config.json
Labels: app:server, test

#11438 chore(editor): telemetry for slash menu
  blocksuite/affine/shared/src/services/telemetry-service/slash-menu.ts
  blocksuite/affine/shared/src/services/telemetry-service/telemetry-service.ts
  blocksuite/affine/widgets/widget-slash-menu/src/slash-menu-popover.ts
Labels: merge

#11458 fix(editor): add hoverable container for image and surface-ref
  blocksuite/affine/blocks/block-image/src/image-block.ts
  blocksuite/affine/blocks/block-surface-ref/src/surface-ref-block.ts
  tests/affine-local/e2e/blocksuite/toolbar.spec.ts
Labels: test

#11424 refactor(core): add useAIChatConfig hook
  packages/frontend/core/src/blocksuite/ai/components/ai-chat-chips/chat-panel-chips.ts
  packages/frontend/core/src/blocksuite/ai/peek-view/chat-block-peek-view.ts
  packages/frontend/core/src/blocksuite/ai/peek-view/styles.ts
  packages/frontend/core/src/components/hooks/affine/use-ai-chat-config.ts
  packages/frontend/core/src/desktop/pages/workspace/detail-page/tabs/chat.tsx
  packages/frontend/core/src/modules/peek-view/view/ai-chat-block-peek-view/index.tsx
Labels: app:core

#11426 refactor(core): remove useless chat-input components
  packages/frontend/core/src/blocksuite/ai/chat-panel/chat-panel-input.ts
  packages/frontend/core/src/blocksuite/ai/chat-panel/index.ts
  packages/frontend/core/src/blocksuite/ai/components/ai-chat-input/ai-chat-input.ts
  packages/frontend/core/src/blocksuite/ai/effects.ts
  packages/frontend/core/src/blocksuite/ai/peek-view/chat-block-input.ts
  packages/frontend/core/src/blocksuite/ai/peek-view/chat-block-peek-view.ts
  tests/affine-cloud-copilot/e2e/chat-with/network.spec.ts
  tests/affine-cloud-copilot/e2e/utils/chat-panel-utils.ts
Labels: test, app:core

#11443 feat(core): add ai chat composer
  packages/frontend/core/src/blocksuite/ai/chat-panel/chat-panel-messages.ts
  packages/frontend/core/src/blocksuite/ai/chat-panel/index.ts
  packages/frontend/core/src/blocksuite/ai/components/ai-chat-chips/chat-panel-chips.ts
  packages/frontend/core/src/blocksuite/ai/components/ai-chat-composer/ai-chat-composer.ts
  packages/frontend/core/src/blocksuite/ai/components/ai-chat-composer/index.ts
  packages/frontend/core/src/blocksuite/ai/components/ai-chat-input/ai-chat-input.ts
  packages/frontend/core/src/blocksuite/ai/effects.ts
  packages/frontend/core/src/blocksuite/ai/peek-view/chat-block-peek-view.ts
  packages/frontend/core/src/blocksuite/ai/peek-view/styles.ts
Labels: app:core

#11437 feat(electron): add tray menu settings
  packages/frontend/apps/electron-renderer/src/app/effects/events.ts
  packages/frontend/apps/electron-renderer/src/app/effects/modules.ts
  packages/frontend/apps/electron/src/main/application-menu/create.ts
  packages/frontend/apps/electron/src/main/application-menu/index.ts
  packages/frontend/apps/electron/src/main/application-menu/subject.ts
  packages/frontend/apps/electron/src/main/recording/feature.ts
  packages/frontend/apps/electron/src/main/shared-state-schema.ts
  packages/frontend/apps/electron/src/main/tray/index.ts
  packages/frontend/component/src/components/setting-components/wrapper.tsx
  packages/frontend/core/src/desktop/dialogs/setting/general-setting/appearance/index.tsx
  packages/frontend/core/src/desktop/dialogs/setting/general-setting/index.tsx
  packages/frontend/core/src/desktop/dialogs/setting/general-setting/plans/index.tsx
  packages/frontend/core/src/desktop/dialogs/setting/general-setting/plans/layout.tsx
  packages/frontend/core/src/desktop/dialogs/setting/index.tsx
  packages/frontend/core/src/modules/dialogs/services/workspace-dialog.ts
  packages/frontend/core/src/modules/editor-setting/index.ts
  packages/frontend/core/src/modules/editor-setting/services/tray-settings.ts
  packages/frontend/i18n/src/i18n.gen.ts
  packages/frontend/i18n/src/resources/en.json
Labels: mod:i18n, mod:component, app:electron, app:core

#11457 refactor(electron): encoding recording on the fly
  packages/frontend/apps/electron-renderer/src/popup/recording/index.tsx
  packages/frontend/apps/electron/src/main/recording/feature.ts
  packages/frontend/apps/electron/src/main/recording/index.ts
  packages/frontend/apps/electron/src/main/recording/state-machine.ts
  packages/frontend/apps/electron/src/main/recording/types.ts
  packages/frontend/apps/electron/src/main/windows-manager/popup.ts
  packages/frontend/core/src/utils/webm-encoding.ts
Labels: app:electron, app:core

#11435 feat(core): upgrade icons package
  blocksuite/affine/blocks/block-attachment/package.json
  blocksuite/affine/blocks/block-bookmark/package.json
  blocksuite/affine/blocks/block-callout/package.json
  blocksuite/affine/blocks/block-code/package.json
  blocksuite/affine/blocks/block-data-view/package.json
  blocksuite/affine/blocks/block-database/package.json
  blocksuite/affine/blocks/block-edgeless-text/package.json
  blocksuite/affine/blocks/block-embed/package.json
  blocksuite/affine/blocks/block-frame/package.json
  blocksuite/affine/blocks/block-image/package.json
  blocksuite/affine/blocks/block-latex/package.json
  blocksuite/affine/blocks/block-list/package.json
  blocksuite/affine/blocks/block-note/package.json
  blocksuite/affine/blocks/block-root/package.json
  blocksuite/affine/blocks/block-surface-ref/package.json
  blocksuite/affine/blocks/block-table/package.json
  blocksuite/affine/components/package.json
  blocksuite/affine/data-view/package.json
  blocksuite/affine/fragments/fragment-doc-title/package.json
  blocksuite/affine/fragments/fragment-frame-panel/package.json
  blocksuite/affine/fragments/fragment-outline/package.json
  blocksuite/affine/gfx/brush/package.json
  blocksuite/affine/gfx/connector/package.json
  blocksuite/affine/gfx/group/package.json
  blocksuite/affine/gfx/mindmap/package.json
  blocksuite/affine/gfx/note/package.json
  blocksuite/affine/gfx/shape/package.json
  blocksuite/affine/gfx/text/package.json
  blocksuite/affine/inlines/footnote/package.json
  blocksuite/affine/inlines/latex/package.json
  blocksuite/affine/inlines/link/package.json
  blocksuite/affine/inlines/mention/package.json
  blocksuite/affine/inlines/preset/package.json
  blocksuite/affine/inlines/reference/package.json
  blocksuite/affine/rich-text/package.json
  blocksuite/affine/shared/package.json
  blocksuite/affine/widgets/widget-drag-handle/package.json
  blocksuite/affine/widgets/widget-edgeless-auto-connect/package.json
  blocksuite/affine/widgets/widget-edgeless-toolbar/package.json
  blocksuite/affine/widgets/widget-remote-selection/package.json
  blocksuite/affine/widgets/widget-slash-menu/package.json
  blocksuite/affine/widgets/widget-toolbar/package.json
  blocksuite/integration-test/package.json
  blocksuite/playground/package.json
  packages/frontend/admin/package.json
  packages/frontend/apps/android/package.json
  packages/frontend/apps/ios/package.json
  packages/frontend/apps/mobile/package.json
  packages/frontend/component/package.json
  packages/frontend/component/src/ui/audio-player/audio-player.tsx
  packages/frontend/core/package.json
  packages/frontend/core/src/modules/at-menu-config/services/index.ts
  yarn.lock
Labels: mod:component, app:core

#11310 feat(editor): disable clickToDrag for edgeless toolbar shape and mindmap
  blocksuite/affine/gfx/mindmap/src/toolbar/mindmap-menu.ts
  blocksuite/affine/gfx/mindmap/src/toolbar/mindmap-tool-button.ts
  blocksuite/affine/gfx/shape/src/draggable/shape-draggable.ts
  blocksuite/affine/widgets/widget-edgeless-toolbar/src/draggable/draggable-element.controller.ts
  tests/blocksuite/e2e/edgeless/frame/frame-mindmap.spec.ts
  tests/blocksuite/e2e/utils/actions/edgeless.ts
Labels: test

#11245 feat(component): apply animation for tooltip, remove triangle
  packages/frontend/component/src/ui/tooltip/styles.css.ts
  packages/frontend/component/src/ui/tooltip/tooltip.stories.tsx
  packages/frontend/component/src/ui/tooltip/tooltip.tsx
Labels: mod:component

#11112 feat(core): automatically focus on the Readwise token input when the window is focused
  packages/frontend/core/src/desktop/dialogs/setting/workspace-setting/integration/readwise/connect.tsx
Labels: app:core

#11105 feat(core): hide all sidebars when resizing to a small screen
  packages/frontend/core/src/components/hooks/use-responsive-siedebar.ts
  packages/frontend/core/src/desktop/pages/workspace/layouts/workspace-layout.tsx
  packages/frontend/core/src/modules/app-sidebar/views/index.css.ts
  packages/frontend/core/src/modules/app-sidebar/views/index.tsx
Labels: app:core

#11035 chore(core): modify ai purchase button text
  packages/frontend/core/src/desktop/dialogs/setting/general-setting/billing/ai-plan-card.tsx
  packages/frontend/i18n/src/i18n.gen.ts
  packages/frontend/i18n/src/resources/en.json
Labels: mod:i18n, app:server, app:core

#11456 refactor(editor): extensionalize surface canvas renderer
  blocksuite/affine/blocks/block-root/src/edgeless/edgeless-root-service.ts
  blocksuite/affine/blocks/block-surface/src/extensions/element-renderer.ts
  blocksuite/affine/blocks/block-surface/src/extensions/index.ts
  blocksuite/affine/blocks/block-surface/src/index.ts
  blocksuite/affine/blocks/block-surface/src/renderer/canvas-renderer.ts
  blocksuite/affine/blocks/block-surface/src/renderer/elements/index.ts
  blocksuite/affine/blocks/block-surface/src/surface-block.ts
  blocksuite/affine/blocks/block-surface/src/surface-spec.ts
  packages/frontend/core/src/blocksuite/ai/mini-mindmap/surface-block.ts
Labels: app:core

#11474 refactor(editor): merge implementation of createTemplateJob
  blocksuite/affine/blocks/block-root/src/edgeless/components/toolbar/template/template-panel.ts
  blocksuite/affine/blocks/block-root/src/edgeless/edgeless-root-service.ts
  blocksuite/affine/blocks/block-root/src/edgeless/index.ts
  blocksuite/affine/blocks/block-root/src/edgeless/services/template.ts
  packages/frontend/core/src/blocksuite/ai/actions/edgeless-response.ts
  packages/frontend/core/src/blocksuite/ai/actions/page-response.ts
  packages/frontend/core/src/blocksuite/ai/slides/index.ts
  packages/frontend/core/src/blocksuite/ai/utils/template-job.ts
Labels: app:core

#11480 feat(editor): gfx template package
  blocksuite/affine/all/package.json
  blocksuite/affine/all/src/gfx/template.ts
  blocksuite/affine/all/tsconfig.json
  blocksuite/affine/blocks/block-root/package.json
  blocksuite/affine/blocks/block-root/src/edgeless/components/toolbar/tools.ts
  blocksuite/affine/blocks/block-root/src/edgeless/edgeless-root-service.ts
  blocksuite/affine/blocks/block-root/src/edgeless/index.ts
  blocksuite/affine/blocks/block-root/src/effects.ts
  blocksuite/affine/blocks/block-root/src/index.ts
  blocksuite/affine/blocks/block-root/tsconfig.json
  blocksuite/affine/gfx/template/package.json
  blocksuite/affine/gfx/template/src/effects.ts
  blocksuite/affine/gfx/template/src/index.ts
  blocksuite/affine/gfx/template/src/services/template-middlewares.ts
  blocksuite/affine/gfx/template/src/services/template.ts
  blocksuite/affine/gfx/template/src/template-tool.ts
  blocksuite/affine/gfx/template/src/toolbar/builtin-templates.ts
  blocksuite/affine/gfx/template/src/toolbar/cards.ts
  blocksuite/affine/gfx/template/src/toolbar/overlay-scrollbar.ts
  blocksuite/affine/gfx/template/src/toolbar/senior-tool.ts
  blocksuite/affine/gfx/template/src/toolbar/template-loading.ts
  blocksuite/affine/gfx/template/src/toolbar/template-panel.ts
  blocksuite/affine/gfx/template/src/toolbar/template-tool-button.ts
  blocksuite/affine/gfx/template/src/toolbar/template-type.ts
  blocksuite/affine/gfx/template/src/toolbar/utils.ts
  blocksuite/affine/gfx/template/tsconfig.json
  blocksuite/integration-test/src/__tests__/edgeless/template.spec.ts
  blocksuite/playground/apps/_common/setup.ts
  packages/frontend/core/src/blocksuite/ai/actions/edgeless-response.ts
  packages/frontend/core/src/blocksuite/ai/actions/page-response.ts
  packages/frontend/core/src/blocksuite/ai/slides/index.ts
  packages/frontend/core/src/blocksuite/block-suite-editor/register-templates.ts
  tools/utils/src/workspace.gen.ts
  tsconfig.json
  yarn.lock
Labels: test, app:core, merge

#11481 refactor(editor): remove lasso tool
  blocksuite/affine/blocks/block-root/src/edgeless/components/toolbar/lasso/icons.ts
  blocksuite/affine/blocks/block-root/src/edgeless/components/toolbar/lasso/lasso-dense-menu.ts
  blocksuite/affine/blocks/block-root/src/edgeless/components/toolbar/lasso/lasso-tool-button.ts
  blocksuite/affine/blocks/block-root/src/edgeless/edgeless-builtin-spec.ts
  blocksuite/affine/blocks/block-root/src/edgeless/edgeless-keyboard.ts
  blocksuite/affine/blocks/block-root/src/edgeless/gfx-tool/index.ts
  blocksuite/affine/blocks/block-root/src/edgeless/gfx-tool/lasso-tool.ts
  blocksuite/affine/blocks/block-root/src/edgeless/utils/query.ts
  blocksuite/affine/blocks/block-root/src/effects.ts
  blocksuite/affine/shared/src/services/feature-flag-service.ts
  blocksuite/affine/shared/src/types/index.ts
  tests/blocksuite/e2e/edgeless/lasso.spec.ts
  tests/blocksuite/e2e/edgeless/lock.spec.ts
  tests/blocksuite/e2e/edgeless/shortcut.spec.ts
  tests/blocksuite/e2e/utils/actions/edgeless.ts
  tests/kit/src/utils/editor.ts
Labels: test

#11484 chore(server): default DEPLOYMENT_TYPE should be selfhosted
  packages/backend/server/src/env.ts
Labels: app:server

#11431 feat(editor): support markdown adapter preprocessed with latex delimiters
  blocksuite/affine/all/src/__tests__/adapters/markdown.unit.spec.ts
  blocksuite/affine/all/src/adapters/extension.ts
  blocksuite/affine/all/src/adapters/index.ts
  blocksuite/affine/all/src/adapters/markdown/preprocessor.ts
  blocksuite/affine/blocks/block-code/src/adapters/extension.ts
  blocksuite/affine/blocks/block-code/src/adapters/index.ts
  blocksuite/affine/blocks/block-code/src/adapters/markdown/index.ts
  blocksuite/affine/blocks/block-code/src/adapters/markdown/markdown.ts
  blocksuite/affine/blocks/block-code/src/adapters/markdown/preprocessor.ts
  blocksuite/affine/blocks/block-latex/src/adapters/extension.ts
  blocksuite/affine/blocks/block-latex/src/adapters/index.ts
  blocksuite/affine/blocks/block-latex/src/adapters/markdown/index.ts
  blocksuite/affine/blocks/block-latex/src/adapters/markdown/markdown.ts
  blocksuite/affine/blocks/block-latex/src/adapters/markdown/preprocessor.ts
  blocksuite/affine/shared/src/adapters/html/delta-converter.ts
  blocksuite/affine/shared/src/adapters/index.ts
  blocksuite/affine/shared/src/adapters/markdown/delta-converter.ts
  blocksuite/affine/shared/src/adapters/markdown/index.ts
  blocksuite/affine/shared/src/adapters/markdown/markdown.ts
  blocksuite/affine/shared/src/adapters/markdown/preprocessor.ts
  blocksuite/affine/shared/src/adapters/notion-html/delta-converter.ts
  blocksuite/affine/shared/src/adapters/plain-text/delta-converter.ts
  blocksuite/affine/shared/src/adapters/types/adapter.ts
  blocksuite/affine/shared/src/adapters/types/delta-converter.ts
  blocksuite/affine/shared/src/adapters/types/index.ts
  blocksuite/affine/shared/src/adapters/types/preprocessor.ts
  packages/common/nbstore/src/sync/indexer/crawler.ts
  packages/frontend/apps/android/src/app.tsx
  packages/frontend/apps/ios/src/app.tsx
  packages/frontend/core/src/blocksuite/ai/components/text-renderer.ts
  packages/frontend/core/src/blocksuite/ai/mini-mindmap/__tests__/mindmap-preview.unit.spec.ts
Labels: test, app:core

#11485 fix(editor): should focus on input of popover on toolbar
  blocksuite/affine/widgets/widget-toolbar/src/toolbar.ts
  tests/affine-local/e2e/blocksuite/toolbar.spec.ts
Labels: test

#11486 fix(core): cannot select text in electron
  packages/frontend/core/src/blocksuite/ai/chat-panel/index.ts
Labels: app:core

#11488 fix(editor): adjust block meta info
  blocksuite/affine/shared/src/services/feature-flag-service.ts
  packages/frontend/core/src/blocksuite/extensions/editor-config/toolbar/index.ts
  packages/frontend/core/src/modules/feature-flag/constant.ts
Labels: app:core

#11487 feat(server): add transcript block indexing
  packages/backend/server/src/core/utils/blocksuite.ts
Labels: app:server

#11492 fix(core): stop media when audio block is removed
  packages/frontend/core/src/modules/media/services/audio-attachment.ts
Labels: app:core

#11494 chore(electron): add community link for meeting feature
  packages/frontend/core/src/desktop/dialogs/setting/general-setting/meetings/index.tsx
  packages/frontend/core/src/desktop/dialogs/setting/general-setting/meetings/styles.css.ts
  packages/frontend/core/src/modules/feature-flag/constant.ts
  packages/frontend/i18n/src/i18n.gen.ts
  packages/frontend/i18n/src/resources/en.json
Labels: mod:i18n, app:core

#11496 fix(core): add option to disable middle click paste behavior on linux
  packages/frontend/core/src/blocksuite/block-suite-editor/blocksuite-editor-container.tsx
  packages/frontend/core/src/blocksuite/block-suite-editor/blocksuite-editor.tsx
  packages/frontend/core/src/desktop/dialogs/setting/general-setting/editor/general.tsx
  packages/frontend/core/src/modules/editor-setting/schema.ts
  packages/frontend/i18n/src/i18n.gen.ts
  packages/frontend/i18n/src/resources/en.json
Labels: mod:i18n, app:core

#11507 fix(server): early exit in doc parse
  packages/backend/server/src/core/utils/blocksuite.ts
Labels: app:server

#11502 test(editor): add embed iframe block e2e tests
  tests/affine-local/e2e/blocksuite/embed/embed-iframe.spec.ts
Labels: test

#11508 feat(server): add table support for doc parse
  packages/backend/server/src/core/utils/blocksuite.ts
Labels: app:server

#11509 feat(core): ai panel adaptation for edgeless theme
  packages/frontend/core/src/blocksuite/ai/components/ai-item/ai-item-list.ts
  packages/frontend/core/src/blocksuite/ai/components/ai-item/ai-item.ts
  packages/frontend/core/src/blocksuite/ai/components/ai-item/styles.ts
  packages/frontend/core/src/blocksuite/ai/components/ask-ai-panel.ts
  packages/frontend/core/src/blocksuite/ai/widgets/ai-panel/ai-panel.ts
  packages/frontend/core/src/blocksuite/ai/widgets/ai-panel/components/state/input.ts
  packages/frontend/core/src/blocksuite/ai/widgets/edgeless-copilot-panel/index.ts
Labels: app:core

#11529 chore: remove lame encoder
  Cargo.lock
  Cargo.toml
  README.md
  packages/frontend/media-capture-playground/server/encode.ts
  packages/frontend/media-capture-playground/server/gemini.ts
  packages/frontend/media-capture-playground/server/main.ts
  packages/frontend/media-capture-playground/web/components/saved-recording-item.tsx
  packages/frontend/media-capture-playground/web/components/saved-recordings.tsx
  packages/frontend/media-capture-playground/web/types.ts
  packages/frontend/native/__tests__/audio.spec.mts
  packages/frontend/native/index.d.ts
  packages/frontend/native/index.js
  packages/frontend/native/media_capture/Cargo.toml
  packages/frontend/native/media_capture/src/lib.rs
  packages/frontend/native/media_capture/src/mp3.rs
Labels: docs, test, rust, mod:native

#11528 chore(core): reorg polyfill
  packages/frontend/core/src/bootstrap/polyfill/array-to-reversed.ts
  packages/frontend/core/src/bootstrap/polyfill/array-to-spliced.ts
  packages/frontend/core/src/bootstrap/polyfill/array.ts
  packages/frontend/core/src/bootstrap/polyfill/browser.ts
  packages/frontend/core/src/bootstrap/polyfill/electron.ts
  packages/frontend/core/src/bootstrap/polyfill/request-idle-callback.ts
  packages/frontend/core/src/bootstrap/polyfill/resize-observer.ts
  packages/frontend/core/src/bootstrap/polyfill/set-union.ts
  packages/frontend/core/src/bootstrap/polyfill/set.ts
Labels: rust, mod:native, app:core

#11530 test(editor): fix flaky embed iframe e2e test
  tests/affine-local/e2e/blocksuite/embed/embed-iframe.spec.ts
Labels: test

#11512 fix(editor): disable mention node select
  blocksuite/affine/inlines/mention/src/affine-mention.ts
Labels: merge

#11531 fix(editor): prevent Tab key propagation outside editor
  blocksuite/affine/blocks/root/src/common-specs/index.ts
  blocksuite/affine/blocks/root/src/keyboard/keymap.ts
  tests/affine-local/e2e/blocksuite/list.spec.ts
  tests/affine-local/e2e/links.spec.ts
  tests/kit/src/bs/linked-toolbar.ts
Labels: test

#11505 feat(electron): meeting recording permissions checks
  packages/frontend/apps/electron/resources/icons/tray-icon.png
  packages/frontend/apps/electron/src/main/recording/feature.ts
  packages/frontend/apps/electron/src/main/recording/index.ts
  packages/frontend/apps/electron/src/main/tray/index.ts
  packages/frontend/core/src/desktop/dialogs/setting/general-setting/meetings/index.tsx
  packages/frontend/core/src/modules/media/services/meeting-settings.ts
  packages/frontend/i18n/src/i18n.gen.ts
  packages/frontend/i18n/src/resources/en.json
Labels: mod:i18n, app:electron, app:core

#11506 fix(electron): use another origin for popup to disable zoom in/out issue of the popup window
  packages/frontend/apps/electron/src/main/constants.ts
  packages/frontend/apps/electron/src/main/protocol.ts
Labels: app:electron

#11524 fix(editor): incorrect brush bound with rotation and line width
  blocksuite/affine/model/src/elements/brush/brush.ts
  tests/blocksuite/e2e/edgeless/brush.spec.ts
Labels: test

#11546 fix(editor): paste to code block should delete selected text
  blocksuite/affine/shared/src/adapters/middlewares/paste.ts
  tests/affine-local/e2e/blocksuite/clipboard/clipboard.spec.ts
Labels: test

#11442 test: add std gfx test
  blocksuite/framework/std/src/__tests__/editor-host.unit.spec.ts
  blocksuite/framework/std/src/__tests__/gfx/__screenshots__/surface.unit.spec.ts/convert-decorator-convert-decorator-1.png
  blocksuite/framework/std/src/__tests__/gfx/__screenshots__/surface.unit.spec.ts/derive-decorator-derived-decorator-should-work-correctly-1.png
  blocksuite/framework/std/src/__tests__/gfx/__screenshots__/surface.unit.spec.ts/stash-pop-stash-and-pop-should-work-correctly-1.png
  blocksuite/framework/std/src/__tests__/gfx/__screenshots__/surface.unit.spec.ts/stash-pop-stashed-property-should-also-trigger-derive-decorator-1.png
  blocksuite/framework/std/src/__tests__/gfx/__screenshots__/surface.unit.spec.ts/surface-basic-created-slot-should-be-called-1.png
  blocksuite/framework/std/src/__tests__/gfx/__screenshots__/surface.unit.spec.ts/surface-basic-delete-observer-should-be-called-1.png
  blocksuite/framework/std/src/__tests__/gfx/__screenshots__/surface.unit.spec.ts/surface-basic-update-slot-should-be-called-1.png
  blocksuite/framework/std/src/__tests__/gfx/__screenshots__/view.unit.spec.ts/gfx-element-view-basic-local-element-view-should-be-created-1.png
  blocksuite/framework/std/src/__tests__/gfx/__screenshots__/view.unit.spec.ts/gfx-element-view-basic-query-gfx-block-view-should-work-1.png
  blocksuite/framework/std/src/__tests__/gfx/__screenshots__/view.unit.spec.ts/gfx-element-view-basic-view-should-be-created-1.png
  blocksuite/framework/std/src/__tests__/gfx/__screenshots__/view.unit.spec.ts/gfx-element-view-basic-view-should-be-removed-1.png
  blocksuite/framework/std/src/__tests__/gfx/surface.unit.spec.ts
  blocksuite/framework/std/src/__tests__/gfx/view.unit.spec.ts
  blocksuite/framework/std/src/__tests__/test-block.ts
  blocksuite/framework/std/src/__tests__/test-gfx-element.ts
  blocksuite/framework/std/src/__tests__/test-schema.ts
  blocksuite/framework/std/src/__tests__/test-spec.ts
  blocksuite/integration-test/src/__tests__/edgeless/surface-model.spec.ts
Labels: test

#11543 chore(server): try repair text in structured outputs
  packages/backend/server/src/plugins/copilot/providers/gemini.ts
Labels: app:server

#11522 fix(editor): should auto close dropdown menus on toolbar
  blocksuite/affine/components/src/toolbar/menu-button.ts
  blocksuite/affine/widgets/toolbar/src/toolbar.ts
  blocksuite/affine/widgets/toolbar/src/utils.ts
  tests/affine-local/e2e/blocksuite/toolbar.spec.ts
Labels: test

#11498 fix(electron): cannot restart recording the same app again
  packages/frontend/apps/electron/src/main/recording/state-machine.ts
Labels: app:electron

#11553 fix(core): retry on chat-block, view components not update as expected
  packages/frontend/core/src/blocksuite/ai/peek-view/chat-block-peek-view.ts
Labels: app:core

#11539 refactor(core): ai session create
  blocksuite/affine/model/src/elements/mindmap/mindmap.ts
  packages/frontend/core/src/blocksuite/ai/actions/doc-handler.ts
  packages/frontend/core/src/blocksuite/ai/actions/edgeless-handler.ts
  packages/frontend/core/src/blocksuite/ai/actions/page-response.ts
  packages/frontend/core/src/blocksuite/ai/actions/types.ts
  packages/frontend/core/src/blocksuite/ai/chat-panel/chat-panel-messages.ts
  packages/frontend/core/src/blocksuite/ai/chat-panel/index.ts
  packages/frontend/core/src/blocksuite/ai/components/ai-chat-input/ai-chat-input.ts
  packages/frontend/core/src/blocksuite/ai/components/ai-chat-input/const.ts
  packages/frontend/core/src/blocksuite/ai/components/ai-chat-input/index.ts
  packages/frontend/core/src/blocksuite/ai/peek-view/chat-block-peek-view.ts
  packages/frontend/core/src/blocksuite/ai/provider/ai-provider.ts
  packages/frontend/core/src/blocksuite/ai/provider/request.ts
  packages/frontend/core/src/blocksuite/ai/provider/setup-provider.tsx
Labels: app:core

#11542 fix(core): online search button status not updated to the search prompt
  packages/frontend/core/src/blocksuite/ai/actions/doc-handler.ts
  packages/frontend/core/src/blocksuite/ai/actions/edgeless-handler.ts
Labels: app:core

#11549 fix(core): after clearing the history, new chat will report an error
  packages/frontend/core/src/blocksuite/ai/chat-panel/index.ts
  packages/frontend/core/src/blocksuite/ai/components/ai-chat-composer/ai-chat-composer.ts
  packages/frontend/core/src/blocksuite/ai/peek-view/chat-block-peek-view.ts
Labels: app:core

#11557 test(server): add transcript e2e
  packages/backend/server/schema.gql
  packages/backend/server/src/__tests__/__snapshots__/copilot.e2e.ts.md
  packages/backend/server/src/__tests__/__snapshots__/copilot.e2e.ts.snap
  packages/backend/server/src/__tests__/copilot.e2e.ts
  packages/backend/server/src/__tests__/copilot.spec.ts
  packages/backend/server/src/__tests__/mocks/copilot.mock.ts
  packages/backend/server/src/__tests__/utils/copilot.ts
Labels: app:server, test

#11558 fix(editor): can not move carte at the end of inline element
  blocksuite/framework/std/src/inline/consts.ts
  tests/affine-local/e2e/blocksuite/edgeless/note.spec.ts
  tests/blocksuite/e2e/inline/inline-editor.spec.ts
  tests/blocksuite/e2e/utils/actions/misc.ts
  tests/blocksuite/e2e/utils/inline-editor.ts
  tests/kit/src/utils/editor.ts
Labels: test

#11561 chore(electron): self-hosted mixpanel flag
  packages/common/infra/src/livedata/livedata.ts
  packages/frontend/core/src/modules/telemetry/services/telemetry.ts
  packages/frontend/track/src/mixpanel.ts
Labels: mod:infra, app:core

#11544 feat(editor): support image preview for attachment columns
  packages/frontend/core/src/blocksuite/database-block/properties/file/view.tsx
  packages/frontend/core/src/modules/peek-view/entities/peek-view.ts
  packages/frontend/core/src/modules/peek-view/view/image-preview/index.tsx
  packages/frontend/core/src/modules/peek-view/view/peek-view-manager.tsx
Labels: app:core

#11572 feat(core): support splitting audio blobs before submitting to backend
  packages/common/graphql/export-gql-plugin.cjs
  packages/common/graphql/src/graphql/index.ts
  packages/frontend/core/src/modules/media/entities/audio-attachment-block.ts
  packages/frontend/core/src/modules/media/entities/audio-transcription-job-store.ts
  packages/frontend/core/src/modules/media/entities/audio-transcription-job.ts
  packages/frontend/core/src/utils/webm-encoding.ts
Labels: app:core

#11574 chore: temporarily fix response
  packages/backend/server/src/plugins/copilot/providers/gemini.ts
Labels: app:server

#11568 fix(core): missing i18n and button margin
  packages/frontend/core/src/desktop/dialogs/verify-email/index.tsx
  packages/frontend/i18n/src/i18n.gen.ts
  packages/frontend/i18n/src/resources/en.json
Labels: mod:i18n, app:core

#11540 fix(core): unexpected style of redeem code button
  packages/frontend/core/src/desktop/dialogs/setting/general-setting/billing/style.css.ts
Labels: app:core

#11559 feat(core): improve priority queue performance
  packages/common/infra/package.json
  packages/common/nbstore/package.json
  packages/common/nbstore/src/utils/__tests__/binary-search-tree.spec.ts
  packages/common/nbstore/src/utils/binary-search-tree.ts
  packages/common/nbstore/src/utils/priority-queue.ts
  yarn.lock
Labels: mod:infra, test

#11560 feat(core): hide sidebar when sidebar is not visible
  packages/frontend/core/src/modules/workbench/view/view-islands.tsx
Labels: app:core

#11545 fix(editor): should clear selection when switching doc mode
  blocksuite/affine/blocks/root/src/common-specs/index.ts
  blocksuite/affine/shared/src/services/auto-clear-selection-service.ts
  blocksuite/affine/shared/src/services/index.ts
  tests/affine-local/e2e/blocksuite/toolbar.spec.ts
  tests/affine-local/e2e/links.spec.ts
Labels: test

#11118 fix(core): update background of sign-in button and input
  packages/frontend/core/src/components/sign-in/sign-in.tsx
  packages/frontend/core/src/components/sign-in/style.css.ts
Labels: app:core

#11567 feat(infra): op call with signal
  packages/common/infra/src/op/client.ts
  packages/common/infra/src/op/types.ts
Labels: mod:infra

#11504 feat(server): enable large refs support
  packages/backend/native/Cargo.toml
Labels: rust, mod:server-native

#11584 feat(server): migrate copilot provider sdk
  package.json
  packages/backend/server/package.json
  packages/backend/server/src/__tests__/copilot.spec.ts
  packages/backend/server/src/plugins/copilot/context/embedding.ts
  packages/backend/server/src/plugins/copilot/context/job.ts
  packages/backend/server/src/plugins/copilot/context/service.ts
  packages/backend/server/src/plugins/copilot/providers/gemini.ts
  packages/backend/server/src/plugins/copilot/providers/openai.ts
  packages/backend/server/src/plugins/copilot/providers/perplexity.ts
  packages/backend/server/src/plugins/copilot/providers/utils.ts
  packages/frontend/media-capture-playground/package.json
  yarn.lock
Labels: app:server, test

#11587 fix(editor): should preserve indentation when pasting code with spaces into code block
  blocksuite/affine/blocks/paragraph/src/adapters/markdown.ts
  blocksuite/affine/blocks/root/src/clipboard/readonly-clipboard.ts
  blocksuite/affine/inlines/preset/src/adapters/markdown/markdown-inline.ts
  tests/affine-local/e2e/blocksuite/clipboard/clipboard.spec.ts
Labels: test

#11588 fix(editor): update doc role instead of workspace role when invite in mention panel
  packages/frontend/core/src/modules/at-menu-config/index.ts
  packages/frontend/core/src/modules/at-menu-config/services/index.ts
  packages/frontend/i18n/src/i18n-completenesses.json
  packages/frontend/i18n/src/i18n.gen.ts
  packages/frontend/i18n/src/resources/en.json
Labels: mod:i18n, app:core, merge

#11555 test(core): add e2e test for share page copy function
  tests/affine-cloud/e2e/share-page.spec.ts
  tests/affine-local/e2e/blocksuite/clipboard/clipboard.spec.ts
  tests/kit/src/utils/editor.ts
Labels: test

#11527 fix(core): improve share menu width and member name overflow handling
  packages/frontend/component/src/ui/tooltip/styles.css.ts
  packages/frontend/core/src/blocksuite/block-suite-header/menu/index.tsx
  packages/frontend/core/src/blocksuite/block-suite-header/menu/style.css.ts
  packages/frontend/core/src/modules/share-menu/view/share-menu/copy-link-button.css.ts
  packages/frontend/core/src/modules/share-menu/view/share-menu/index.css.ts
  packages/frontend/core/src/modules/share-menu/view/share-menu/member-management/index.tsx
  packages/frontend/core/src/modules/share-menu/view/share-menu/member-management/styles.css.ts
Labels: mod:component, app:core

#11598 chore(core): add pricing link in license panel
  packages/frontend/core/src/desktop/dialogs/setting/workspace-setting/license/self-host-team-card.tsx
  packages/frontend/i18n/src/i18n.gen.ts
  packages/frontend/i18n/src/resources/en.json
  packages/frontend/i18n/src/resources/zh-Hans.json
Labels: mod:i18n, app:core

#11599 fix(server): generate image
  packages/backend/server/src/__tests__/copilot-provider.spec.ts
  packages/backend/server/src/plugins/copilot/providers/openai.ts
Labels: app:server, test

#11594 chore(editor): add track for mention
  packages/frontend/core/src/modules/at-menu-config/services/index.ts
  packages/frontend/track/src/events.ts
Labels: app:core, merge

#11593 chore(server): change default deployment type in dev mode
  packages/backend/server/src/env.ts
Labels: app:server

#11319 feat(editor): replace flat layout cache with tree in turbo renderer
  blocksuite/affine/blocks/list/src/turbo/list-layout-handler.ts
  blocksuite/affine/blocks/list/src/turbo/list-painter.worker.ts
  blocksuite/affine/blocks/paragraph/src/turbo/paragraph-layout-handler.ts
  blocksuite/affine/blocks/paragraph/src/turbo/paragraph-painter.worker.ts
  blocksuite/affine/gfx/turbo-renderer/src/layout/block-layout-provider.ts
  blocksuite/affine/gfx/turbo-renderer/src/painter/painter.worker.ts
  blocksuite/affine/gfx/turbo-renderer/src/renderer-utils.ts
  blocksuite/affine/gfx/turbo-renderer/src/turbo-renderer.ts
  blocksuite/affine/gfx/turbo-renderer/src/types.ts
  packages/frontend/core/src/blocksuite/extensions/turbo-renderer.ts
Labels: app:core

#11605 refactor(editor): cleanup turbo renderer entry config with doc guide
  blocksuite/affine/gfx/turbo-renderer/src/turbo-renderer.ts
  blocksuite/integration-test/src/__tests__/utils/renderer-entry.ts
  blocksuite/integration-test/src/__tests__/utils/setup.ts
  blocksuite/integration-test/src/__tests__/utils/turbo-painter.worker.ts
Labels: test

#11607 feat(editor): add basic note support in turbo renderer
  blocksuite/affine/blocks/note/package.json
  blocksuite/affine/blocks/note/src/index.ts
  blocksuite/affine/blocks/note/src/turbo/note-layout-handler.ts
  blocksuite/affine/blocks/note/src/turbo/note-painter.worker.ts
  blocksuite/affine/blocks/note/tsconfig.json
  blocksuite/affine/gfx/turbo-renderer/src/turbo-renderer.ts
  blocksuite/integration-test/src/__tests__/utils/turbo-painter.worker.ts
  packages/frontend/core/src/blocksuite/extensions/turbo-painter.worker.ts
  packages/frontend/core/src/blocksuite/extensions/turbo-renderer.ts
  tools/utils/src/workspace.gen.ts
  yarn.lock
Labels: test, app:core

#11609 fix(server): adjust expire time of invite link
  packages/backend/server/src/core/workspaces/resolvers/team.ts
Labels: app:server

#11617 fix(core): not revalidate notification count when logged out
  packages/frontend/core/src/modules/notification/index.ts
  packages/frontend/core/src/modules/notification/services/count.ts
Labels: app:core

#11616 chore(core): update license price link
  packages/frontend/core/src/desktop/dialogs/setting/workspace-setting/license/self-host-team-card.tsx
Labels: app:core

#11597 fix(editor): enhance markdown latex preprocessing
  blocksuite/affine/all/src/__tests__/adapters/markdown.unit.spec.ts
  blocksuite/affine/blocks/latex/src/adapters/markdown/preprocessor.ts
Labels: test

#11575 fix(editor): fix overlay of tool is not shown or repeated when switching tool
  blocksuite/affine/blocks/surface-ref/src/surface-ref-block.ts
  blocksuite/affine/blocks/surface/src/consts.ts
  blocksuite/affine/blocks/surface/src/renderer/tool-overlay.ts
  blocksuite/affine/gfx/mindmap/src/toolbar/mindmap-tool-button.ts
  blocksuite/affine/gfx/note/src/overlay/overlay.ts
  blocksuite/affine/gfx/shape/src/draggable/shape-draggable.ts
  blocksuite/affine/gfx/shape/src/shape-tool.ts
  blocksuite/affine/gfx/shape/src/view.ts
  tests/affine-local/e2e/blocksuite/clipboard/clipboard.spec.ts
  tests/blocksuite/e2e/edgeless/element-toolbar.spec.ts
  tests/blocksuite/e2e/edgeless/shape.spec.ts
Labels: test, merge

#11566 ci(editor): enable cross platform test
  .github/workflows/build-test.yml
  blocksuite/playground/examples/inline/test-page.ts
  tests/blocksuite/e2e/inline/inline-editor.spec.ts
Labels: test, merge

#11628 fix(core): fix event timing in storage
  packages/frontend/core/package.json
  packages/frontend/core/src/modules/storage/impls/storage.ts
  yarn.lock
Labels: app:core

#11595 chore(ios): rename keyboard css var
  packages/frontend/core/src/mobile/modules/virtual-keyboard/services/virtual-keyboard.ts
  packages/frontend/core/src/mobile/styles/mobile.css.ts
  packages/frontend/core/src/mobile/styles/variables.css.ts
Labels: app:core

#11603 fix: cannot exit editing mode when click frame body
  blocksuite/affine/blocks/edgeless-text/src/edgeless-text-block.ts
  blocksuite/affine/blocks/frame/src/frame-block.ts
  blocksuite/framework/std/src/gfx/element-transform/transform-manager.ts
  blocksuite/framework/std/src/gfx/view/view.ts
  blocksuite/framework/std/src/view/element/gfx-block-component.ts
  tests/affine-local/e2e/blocksuite/clipboard/clipboard.spec.ts
Labels: test
