Repository toeverything/AFFiNE, pull requests merged in 2025-02, with the labels that each got.

#9927 fix(server): should redeem onetime invoice only once
  packages/backend/server/migrations/20250202080920_record_onetime_subscription_invoices/migration.sql
  packages/backend/server/schema.prisma
  packages/backend/server/src/__tests__/payment/service.spec.ts
  packages/backend/server/src/plugins/payment/manager/user.ts
Labels: app:server, test

#9928 chore(server): remove old subscription table usage
  packages/backend/server/src/plugins/payment/manager/user.ts
Labels: app:server

#9929 fix(server): selfhost should not use canary mobile pages
  packages/backend/server/src/base/config/default.ts
  packages/backend/server/src/core/selfhost/static.ts
Labels: app:server

#9880 fix(electron): add refer/origin to api requests
  packages/frontend/apps/electron/scripts/dev.ts
  packages/frontend/apps/electron/src/main/constants.ts
  packages/frontend/apps/electron/src/main/protocol.ts
  packages/frontend/apps/electron/src/main/security-restrictions.ts
Labels: app:electron

#9908 refactor(editor): remove deprecated editor slot
  blocksuite/blocks/src/_common/types.ts
  blocksuite/playground/apps/starter/utils/editor.ts
  blocksuite/presets/src/editors/editor-container.ts
  packages/frontend/core/src/components/blocksuite/block-suite-editor/blocksuite-editor-container.tsx
Labels: app:core

#9760 feat(server): doc level permission
  packages/backend/server/schema.prisma
  packages/backend/server/src/__tests__/models/page.spec.ts
  packages/backend/server/src/__tests__/models/user.spec.ts
  packages/backend/server/src/__tests__/models/workspace.spec.ts
  packages/backend/server/src/__tests__/team.e2e.ts
  packages/backend/server/src/__tests__/utils/feature.ts
  packages/backend/server/src/__tests__/utils/utils.ts
  packages/backend/server/src/__tests__/utils/workspace.ts
  packages/backend/server/src/__tests__/workspace.e2e.ts
  packages/backend/server/src/base/error/def.ts
  packages/backend/server/src/base/error/errors.gen.ts
  packages/backend/server/src/core/features/service.ts
  packages/backend/server/src/core/permission/__tests__/__snapshots__/role.spec.ts.md
  packages/backend/server/src/core/permission/__tests__/__snapshots__/role.spec.ts.snap
  packages/backend/server/src/core/permission/__tests__/role.spec.ts
  packages/backend/server/src/core/permission/index.ts
  packages/backend/server/src/core/permission/service.ts
  packages/backend/server/src/core/permission/types.ts
  packages/backend/server/src/core/sync/gateway.ts
  packages/backend/server/src/core/workspaces/controller.ts
  packages/backend/server/src/core/workspaces/management.ts
  packages/backend/server/src/core/workspaces/resolvers/blob.ts
  packages/backend/server/src/core/workspaces/resolvers/history.ts
  packages/backend/server/src/core/workspaces/resolvers/page.ts
  packages/backend/server/src/core/workspaces/resolvers/service.ts
  packages/backend/server/src/core/workspaces/resolvers/team.ts
  packages/backend/server/src/core/workspaces/resolvers/workspace.ts
  packages/backend/server/src/core/workspaces/types.ts
  packages/backend/server/src/models/common/index.ts
  packages/backend/server/src/models/common/permission.ts
  packages/backend/server/src/models/page.ts
  packages/backend/server/src/models/workspace.ts
  packages/backend/server/src/plugins/copilot/resolver.ts
  packages/backend/server/src/plugins/license/resolver.ts
  packages/backend/server/src/plugins/payment/resolver.ts
  packages/backend/server/src/schema.gql
Labels: app:server, test

#9902 fix: drag block issue
  blocksuite/affine/block-embed/src/embed-synced-doc-block/embed-synced-doc-block.ts
  blocksuite/affine/block-surface-ref/src/surface-ref-block.ts
  blocksuite/affine/components/src/toolbar/tooltip.ts
  blocksuite/affine/data-view/src/view-presets/table/stats/column-stats-column.ts
  blocksuite/affine/widget-drag-handle/src/watchers/drag-event-watcher.ts
  blocksuite/blocks/src/root-block/edgeless/edgeless-root-block.ts
  blocksuite/blocks/src/root-block/edgeless/edgeless-root-preview-block.ts
  blocksuite/blocks/src/root-block/edgeless/edgeless-root-service.ts
  blocksuite/blocks/src/root-block/edgeless/gfx-tool/default-tool.ts
  blocksuite/blocks/src/root-block/edgeless/utils/viewport.ts
  blocksuite/blocks/src/root-block/edgeless/utils/zoom.ts
  blocksuite/blocks/src/root-block/widgets/edgeless-zoom-toolbar/zoom-toolbar.ts
  blocksuite/framework/block-std/src/extension/dnd/index.ts
  blocksuite/framework/block-std/src/gfx/controller.ts
  blocksuite/framework/block-std/src/gfx/view/view-manager.ts
  blocksuite/framework/block-std/src/gfx/view/view.ts
  blocksuite/framework/block-std/src/gfx/viewport.ts
  blocksuite/framework/block-std/src/scope/block-std-scope.ts
  blocksuite/framework/store/src/transformer/transformer.ts
  packages/frontend/core/src/blocksuite/presets/ai/ai-panel.ts
  packages/frontend/core/src/blocksuite/presets/ai/slides/index.ts
  packages/frontend/core/src/modules/peek-view/view/doc-preview/doc-peek-view.tsx
Labels: app:core

#9916 refactor(editor): use spec builder to unify the extend of editor extensions
  packages/frontend/core/src/components/blocksuite/block-suite-editor/bi-directional-link-panel.tsx
  packages/frontend/core/src/components/blocksuite/block-suite-editor/lit-adaper.tsx
  packages/frontend/core/src/components/blocksuite/block-suite-editor/specs/edgeless.ts
  packages/frontend/core/src/components/blocksuite/block-suite-editor/specs/page.ts
  packages/frontend/core/src/modules/dnd/services/index.ts
Labels: app:core, merge

#9951 fix(electron): sourcemap not loading for electron dev mode
  packages/frontend/apps/electron/scripts/generate-assets.ts
  tools/cli/src/webpack/index.ts
Labels: app:electron, mod:dev

#9952 fix(editor): can not add attachment because service not exist
  blocksuite/affine/block-attachment/src/utils.ts
Labels: merge

#9944 feat(server): auto create page owner role
  packages/backend/server/src/core/doc/adapters/workspace.ts
  packages/backend/server/src/core/permission/service.ts
Labels: app:server

#9940 fix(admin): migrate tailwindcss config to v4
  packages/frontend/admin/src/global.css
  tools/cli/package.json
  tools/cli/src/webpack/index.ts
  yarn.lock
Labels: mod:dev

#9953 feat(i18n): introduce server error i18n
  packages/backend/server/src/base/error/def.ts
  packages/frontend/core/src/modules/cloud/error.ts
  packages/frontend/core/src/modules/cloud/services/fetch.ts
  packages/frontend/core/src/modules/cloud/services/graphql.ts
  packages/frontend/i18n/build.mjs
  packages/frontend/i18n/build.ts
  packages/frontend/i18n/package.json
  packages/frontend/i18n/src/i18n-completenesses.json
  packages/frontend/i18n/src/i18n.gen.ts
  packages/frontend/i18n/src/resources/en.json
  tools/cli/bin/runner.js
  yarn.lock
Labels: mod:i18n, mod:dev, app:server, app:core

#9958 fix(core): copilot client should throw right ai error
  blocksuite/blocks/src/root-block/widgets/ai-panel/components/state/error.ts
  packages/frontend/core/src/blocksuite/presets/_common/components/text-renderer.ts
  packages/frontend/core/src/components/blocksuite/block-suite-editor/ai/copilot-client.ts
Labels: app:core

#9960 fix(core): local blobs are not being deleted when gc in unused blobs settings
  packages/frontend/core/src/modules/blob-management/entity/unused-blobs.ts
  packages/frontend/core/src/modules/workspace-engine/impls/cloud.ts
Labels: app:core

#9964 chore(server): stdout is enough for collecting server logging
  packages/backend/server/package.json
  packages/backend/server/src/plugins/gcloud/logging/service.ts
  packages/frontend/i18n/tsconfig.json
  tools/utils/src/workspace.gen.ts
  yarn.lock
Labels: mod:i18n, app:server

#9965 style: run clippy fix and fmt
  .github/workflows/build-test.yml
  packages/common/native/benches/hashcash.rs
  packages/common/native/src/hashcash.rs
  packages/frontend/native/nbstore/build.rs
  packages/frontend/native/nbstore/src/blob.rs
  packages/frontend/native/nbstore/src/doc.rs
  packages/frontend/native/nbstore/src/lib.rs
  packages/frontend/native/nbstore/src/pool.rs
  packages/frontend/native/nbstore/src/storage.rs
  packages/frontend/native/sqlite_v1/build.rs
  packages/frontend/native/sqlite_v1/src/lib.rs
Labels: rust, mod:native

#9966 feat(native): bump deps
  Cargo.lock
  Cargo.toml
  packages/common/native/src/hashcash.rs
Labels: rust

#9539 fix(core): workspace storage rows are displayed unexpectedly
  packages/frontend/core/src/desktop/dialogs/setting/workspace-setting/storage/workspace-quota.tsx
Labels: app:core

#9834 feat(server): doc model
  packages/backend/server/src/__tests__/models/doc.spec.ts
  packages/backend/server/src/models/common/doc.ts
  packages/backend/server/src/models/common/index.ts
  packages/backend/server/src/models/doc.ts
  packages/backend/server/src/models/index.ts
Labels: app:server, test

#9835 feat(server): userDoc model
  packages/backend/server/src/__tests__/models/user-doc.spec.ts
  packages/backend/server/src/models/index.ts
  packages/backend/server/src/models/user-doc.ts
Labels: app:server, test

#9845 refactor(server): use userDoc model on PgUserspaceDocStorageAdapter
  packages/backend/server/src/__tests__/doc/userspace.spec.ts
  packages/backend/server/src/core/doc/adapters/userspace.ts
Labels: app:server, test

#9962 refactor(server): role actions definition
  packages/backend/server/src/base/graphql/register.ts
  packages/backend/server/src/base/index.ts
  packages/backend/server/src/base/utils/types.ts
  packages/backend/server/src/core/permission/__tests__/__snapshots__/actions.spec.ts.md
  packages/backend/server/src/core/permission/__tests__/__snapshots__/actions.spec.ts.snap
  packages/backend/server/src/core/permission/__tests__/__snapshots__/role.spec.ts.md
  packages/backend/server/src/core/permission/__tests__/__snapshots__/role.spec.ts.snap
  packages/backend/server/src/core/permission/__tests__/actions.spec.ts
  packages/backend/server/src/core/permission/__tests__/role.spec.ts
  packages/backend/server/src/core/permission/index.ts
  packages/backend/server/src/core/permission/service.ts
  packages/backend/server/src/core/permission/types.ts
  packages/backend/server/src/core/workspaces/controller.ts
  packages/backend/server/src/core/workspaces/resolvers/history.ts
  packages/backend/server/src/core/workspaces/resolvers/page.ts
  packages/backend/server/src/core/workspaces/resolvers/workspace.ts
  packages/backend/server/src/plugins/copilot/resolver.ts
  packages/backend/server/src/schema.gql
Labels: app:server, test

#9973 feat(server): align pro plan for free in selfhost
  packages/backend/server/src/__tests__/models/__snapshots__/feature-user.spec.ts.md
  packages/backend/server/src/__tests__/models/__snapshots__/feature-user.spec.ts.snap
  packages/backend/server/src/__tests__/models/feature-user.spec.ts
  packages/backend/server/src/__tests__/models/feature.spec.ts
  packages/backend/server/src/__tests__/utils/utils.ts
  packages/backend/server/src/models/feature.ts
Labels: app:server, test

#9982 fix(server): cannot revalidate licenses
  packages/backend/server/src/plugins/license/service.ts
  packages/backend/server/src/plugins/payment/types.ts
Labels: app:server

#9978 fix(electron): webpack dev server reloading issue
  packages/frontend/apps/electron/src/main/index.ts
Labels: app:electron

#9983 fix(editor): should focus the textarea will clicking the chat input box
  packages/frontend/core/src/blocksuite/presets/ai/chat-panel/chat-panel-input.ts
Labels: app:core

#9986 fix(core): use divider component to replace height dividers
  packages/frontend/core/src/components/blocksuite/block-suite-editor/bi-directional-link-panel.css.ts
  packages/frontend/core/src/components/blocksuite/block-suite-editor/bi-directional-link-panel.tsx
  packages/frontend/core/src/modules/peek-view/view/image-preview/index.css.ts
  packages/frontend/core/src/modules/peek-view/view/image-preview/index.tsx
  tests/affine-local/e2e/local-first-delete-page.spec.ts
Labels: test, app:core

#9985 refactor(server): remove never used column in page permission
  packages/backend/server/migrations/20250206082414_break_update_used_page_permission_table/migration.sql
  packages/backend/server/schema.prisma
  packages/backend/server/src/base/graphql/index.ts
  packages/backend/server/src/base/graphql/pagination.ts
  packages/backend/server/src/base/index.ts
  packages/backend/server/src/core/permission/service.ts
  packages/backend/server/src/core/workspaces/resolvers/page.ts
  packages/backend/server/src/models/page.ts
  packages/backend/server/src/schema.gql
Labels: app:server

#9990 build(component): fix component storybook
  packages/frontend/component/.storybook/main.ts
  packages/frontend/component/package.json
  packages/frontend/component/tsconfig.json
  tools/utils/src/workspace.gen.ts
  yarn.lock
Labels: mod:component

#9979 fix(electron): split view drag indicator tooltip
  packages/frontend/core/src/modules/workbench/view/split-view/indicator.tsx
  packages/frontend/i18n/src/resources/en.json
Labels: mod:i18n, app:core

#9995 fix(ios): incorrect return of getBlob binding in ios
  packages/frontend/apps/ios/App/App/Plugins/NBStore/NBStorePlugin.swift
Labels: merge

#9963 feat(server): allow to set default role in page
  packages/backend/server/schema.prisma
  packages/backend/server/src/__tests__/team.e2e.ts
  packages/backend/server/src/__tests__/workspace.e2e.ts
  packages/backend/server/src/base/error/def.ts
  packages/backend/server/src/base/error/errors.gen.ts
  packages/backend/server/src/core/permission/service.ts
  packages/backend/server/src/core/permission/types.ts
  packages/backend/server/src/core/workspaces/resolvers/page.ts
  packages/backend/server/src/schema.gql
Labels: app:electron, app:server, test, app:core

#9975 feat(editor): show doc title in page block
  blocksuite/affine/block-note/package.json
  blocksuite/affine/block-note/src/components/edgeless-note-background.css.ts
  blocksuite/affine/block-note/src/components/edgeless-note-background.ts
  blocksuite/affine/block-note/src/components/edgeless-note-mask.ts
  blocksuite/affine/block-note/src/effects.ts
  blocksuite/affine/block-note/src/index.ts
  blocksuite/affine/block-note/src/note-edgeless-block.css.ts
  blocksuite/affine/block-note/src/note-edgeless-block.ts
  blocksuite/affine/components/package.json
  blocksuite/affine/components/src/doc-title/doc-title.ts
  blocksuite/affine/components/src/doc-title/effects.ts
  blocksuite/affine/components/src/doc-title/index.ts
  blocksuite/affine/components/src/doc-title/utils.ts
  blocksuite/affine/shared/src/services/feature-flag-service.ts
  blocksuite/affine/widget-drag-handle/src/utils.ts
  blocksuite/blocks/package.json
  blocksuite/blocks/src/root-block/widgets/element-toolbar/change-note-button.ts
  blocksuite/blocks/vitest.config.ts
  blocksuite/presets/package.json
  blocksuite/presets/src/effects.ts
  blocksuite/presets/src/fragments/doc-title/index.ts
  blocksuite/presets/src/fragments/index.ts
  blocksuite/presets/src/fragments/outline/utils/scroll.ts
  blocksuite/presets/tsconfig.json
  blocksuite/tests-legacy/edgeless/note/resize.spec.ts
  blocksuite/tests-legacy/edgeless/note/scale.spec.ts
  blocksuite/tests-legacy/linked-page.spec.ts
  blocksuite/tests-legacy/utils/asserts.ts
  packages/frontend/core/src/components/blocksuite/block-suite-editor/specs/custom/widgets/edgeless-note-header.tsx
  packages/frontend/core/src/modules/feature-flag/constant.ts
  tests/affine-local/e2e/blocksuite/edgeless/note.spec.ts
  tools/utils/src/workspace.gen.ts
  yarn.lock
Labels: test, app:core, merge

#9998 feat(server): add request id on cluster event
  packages/backend/server/src/__tests__/event/cluster.spec.ts
  packages/backend/server/src/__tests__/event/provider.ts
  packages/backend/server/src/base/event/eventbus.ts
Labels: app:server, test

#9981 fix(core): remove suspense from image preview
  packages/frontend/core/src/modules/peek-view/view/image-preview/index.tsx
Labels: app:core

#10001 feat(nbstore): use polling as ios websocket transport
  packages/backend/server/src/base/websocket/config.ts
  packages/common/nbstore/src/impls/cloud/socket.ts
Labels: app:server

#10002 fix(server): generate migration for workspace pages default role
  packages/backend/server/migrations/20250207025335_page_default_role_for_workspace_members/migration.sql
Labels: app:server

#9569 feat(core): add self host team plan
  packages/backend/server/src/plugins/license/service.ts
  packages/backend/server/src/plugins/payment/resolver.ts
  packages/frontend/component/src/components/member-components/invite-modal.tsx
  packages/frontend/core/src/components/affine/quota-reached-modal/cloud-quota-modal.tsx
  packages/frontend/core/src/components/hooks/affine/use-subscription-notify.tsx
  packages/frontend/core/src/desktop/dialogs/setting/general-setting/plans/plan-card.tsx
  packages/frontend/core/src/desktop/dialogs/setting/workspace-setting/index.tsx
  packages/frontend/core/src/desktop/dialogs/setting/workspace-setting/license/index.tsx
  packages/frontend/core/src/desktop/dialogs/setting/workspace-setting/license/self-host-team-card.tsx
  packages/frontend/core/src/desktop/dialogs/setting/workspace-setting/license/self-host-team-plan.css.ts
  packages/frontend/core/src/desktop/dialogs/setting/workspace-setting/license/self-host-team-plan.tsx
  packages/frontend/core/src/desktop/dialogs/setting/workspace-setting/license/styles.css.ts
  packages/frontend/core/src/desktop/dialogs/setting/workspace-setting/members/member-list.tsx
  packages/frontend/core/src/desktop/dialogs/setting/workspace-setting/members/member-option.tsx
  packages/frontend/core/src/desktop/pages/subscribe/index.tsx
  packages/frontend/core/src/desktop/pages/upgrade-success/self-host-team/index.tsx
  packages/frontend/core/src/desktop/pages/upgrade-success/self-host-team/styles.css.ts
  packages/frontend/core/src/desktop/router.tsx
  packages/frontend/core/src/modules/cloud/index.ts
  packages/frontend/core/src/modules/cloud/services/selfhost-generate-license.ts
  packages/frontend/core/src/modules/cloud/services/selfhost-license.ts
  packages/frontend/core/src/modules/cloud/stores/selfhost-generate-license.ts
  packages/frontend/core/src/modules/cloud/stores/selfhost-license.ts
  packages/frontend/core/src/modules/permissions/entities/permission.ts
  packages/frontend/graphql/src/graphql/activate-license.gql
  packages/frontend/graphql/src/graphql/create-self-host-customer-portal.gql
  packages/frontend/graphql/src/graphql/deactivate-license.gql
  packages/frontend/graphql/src/graphql/generate-license-key.gql
  packages/frontend/graphql/src/graphql/get-license.gql
  packages/frontend/graphql/src/graphql/index.ts
  packages/frontend/graphql/src/schema.ts
  packages/frontend/i18n/src/i18n-completenesses.json
  packages/frontend/i18n/src/i18n.gen.ts
  packages/frontend/i18n/src/resources/en.json
  tests/affine-local/e2e/local-first-delete-page.spec.ts
  tools/@types/build-config/__all.d.ts
  tools/utils/src/build-config.ts
Labels: mod:i18n, mod:component, app:server, test, app:core

#10006 feat(server): add public user type
  packages/backend/server/src/core/user/index.ts
  packages/backend/server/src/core/user/types.ts
  packages/backend/server/src/core/workspaces/resolvers/page.ts
  packages/backend/server/src/models/user.ts
  packages/backend/server/src/schema.gql
Labels: app:server

#9989 feat(core): index table block types
  packages/frontend/core/src/modules/docs-search/entities/docs-indexer.ts
  packages/frontend/core/src/modules/docs-search/worker/in-worker.ts
Labels: app:core

#10007 fix(server): batch grant page roles
  packages/backend/server/src/__tests__/team.e2e.ts
  packages/backend/server/src/base/error/def.ts
  packages/backend/server/src/base/error/errors.gen.ts
  packages/backend/server/src/core/permission/service.ts
  packages/backend/server/src/core/workspaces/resolvers/page.ts
  packages/backend/server/src/schema.gql
Labels: app:server, test

#9949 feat(editor): add edgeless media entry
  blocksuite/affine/block-attachment/src/utils.ts
  blocksuite/affine/block-image/src/utils.ts
  blocksuite/blocks/src/root-block/edgeless/components/toolbar/mindmap/basket-elements.ts
  blocksuite/blocks/src/root-block/edgeless/components/toolbar/mindmap/icons.ts
  blocksuite/blocks/src/root-block/edgeless/components/toolbar/mindmap/mindmap-menu.ts
  blocksuite/blocks/src/root-block/edgeless/components/toolbar/mindmap/mindmap-tool-button.ts
Labels: merge

#9974 chore(core): upload flaky test traces
  .github/workflows/build-test.yml
  blocksuite/tests-legacy/playwright.config.ts
  blocksuite/tests-legacy/utils/actions/misc.ts
  tests/affine-cloud-copilot/playwright.config.ts
  tests/affine-cloud/playwright.config.ts
  tests/affine-desktop/playwright.config.ts
  tests/affine-local/e2e/quick-search.spec.ts
  tests/affine-local/playwright.config.ts
  tests/affine-mobile/playwright.config.ts
  tests/kit/src/mobile.ts
Labels: test, app:core

#10015 fix(server): default page owner
  packages/backend/server/src/base/graphql/pagination.ts
  packages/backend/server/src/base/graphql/register.ts
  packages/backend/server/src/core/doc/adapters/workspace.ts
  packages/backend/server/src/core/permission/service.ts
  packages/backend/server/src/core/workspaces/resolvers/page.ts
  packages/backend/server/src/core/workspaces/resolvers/workspace.ts
  packages/backend/server/src/schema.gql
Labels: app:server

#9976 chore(core): adjust starter-bar badge size
  packages/frontend/core/src/components/blocksuite/block-suite-editor/starter-bar.css.ts
Labels: app:core

#10012 test(server): update page default role with non-exists workspace
  packages/backend/server/src/__tests__/team.e2e.ts
  packages/backend/server/src/base/error/def.ts
  packages/backend/server/src/base/error/errors.gen.ts
Labels: app:server, test

#10016 test(server): grant doc user roles
  packages/backend/server/src/__tests__/team.e2e.ts
  packages/backend/server/src/__tests__/utils/index.ts
  packages/backend/server/src/__tests__/utils/permission.ts
Labels: app:server, test

#9980 feat(core): add deleted state for sidebar journal template
  packages/frontend/core/src/desktop/pages/workspace/detail-page/tabs/journal/template-setting.css.ts
  packages/frontend/core/src/desktop/pages/workspace/detail-page/tabs/journal/template-setting.tsx
  packages/frontend/i18n/src/resources/en.json
Labels: mod:i18n, app:core

#9972 chore(core): allow to rename and add multiple template property
  packages/frontend/core/src/components/doc-properties/types/constant.tsx
Labels: app:core

#9968 feat(mobile): create from template on mobile
  packages/frontend/core/src/mobile/components/app-tabs/create.tsx
  packages/frontend/core/src/modules/feature-flag/constant.ts
Labels: app:core

#9737 feat(core): optimize team workspace member management
  packages/frontend/component/src/components/auth-components/auth-page-container.tsx
  packages/frontend/component/src/components/member-components/index.tsx
  packages/frontend/component/src/components/member-components/join-failed-page.tsx
  packages/frontend/component/src/components/not-found-page/not-found-page.tsx
  packages/frontend/component/src/components/not-found-page/styles.css.ts
  packages/frontend/core/src/desktop/dialogs/setting/general-setting/plans/actions.tsx
  packages/frontend/core/src/desktop/dialogs/setting/workspace-setting/members/cloud-members-panel.tsx
  packages/frontend/core/src/desktop/dialogs/setting/workspace-setting/members/member-list.tsx
  packages/frontend/core/src/desktop/dialogs/setting/workspace-setting/members/member-option.tsx
  packages/frontend/core/src/desktop/dialogs/setting/workspace-setting/members/styles.css.ts
  packages/frontend/core/src/desktop/pages/invite/index.tsx
  packages/frontend/core/src/modules/cloud/index.ts
  packages/frontend/core/src/modules/cloud/services/accept-invite.ts
  packages/frontend/core/src/modules/cloud/stores/accept-invite.ts
  packages/frontend/core/src/modules/cloud/stores/invite-info.ts
  packages/frontend/i18n/src/i18n-completenesses.json
  packages/frontend/i18n/src/i18n.gen.ts
  packages/frontend/i18n/src/resources/en.json
Labels: mod:i18n, mod:component, app:core

#10022 fix(core): typo
  packages/frontend/core/src/blocksuite/presets/ai/chat-panel/preload-config.ts
Labels: app:core

#10025 feat(server): graceful shutdown for AI streams
  packages/backend/server/src/app.ts
  packages/backend/server/src/base/prisma/service.ts
  packages/backend/server/src/plugins/copilot/controller.ts
Labels: app:server

#10019 refactor: rename all page query to doc
  packages/backend/server/schema.prisma
  packages/backend/server/src/__tests__/models/page.spec.ts
  packages/backend/server/src/__tests__/team.e2e.ts
  packages/backend/server/src/__tests__/utils/permission.ts
  packages/backend/server/src/__tests__/utils/workspace.ts
  packages/backend/server/src/__tests__/workspace.e2e.ts
  packages/backend/server/src/__tests__/workspace/controller.spec.ts
  packages/backend/server/src/base/error/def.ts
  packages/backend/server/src/base/error/errors.gen.ts
  packages/backend/server/src/core/permission/index.ts
  packages/backend/server/src/core/permission/service.ts
  packages/backend/server/src/core/permission/types.ts
  packages/backend/server/src/core/workspaces/controller.ts
  packages/backend/server/src/core/workspaces/index.ts
  packages/backend/server/src/core/workspaces/resolvers/doc.ts
  packages/backend/server/src/core/workspaces/resolvers/index.ts
  packages/backend/server/src/models/page.ts
  packages/backend/server/src/schema.gql
  packages/frontend/core/src/components/affine/share-page-modal/share-menu/share-page.tsx
  packages/frontend/core/src/components/hooks/affine/use-all-page-list-config.tsx
  packages/frontend/core/src/components/page-list/docs/select-page.tsx
  packages/frontend/core/src/components/page-list/use-filtered-page-metas.tsx
  packages/frontend/core/src/mobile/components/explorer/nodes/collection/index.tsx
  packages/frontend/core/src/modules/explorer/views/nodes/collection/index.tsx
  packages/frontend/core/src/modules/share-doc/entities/share-docs-list.ts
  packages/frontend/core/src/modules/share-doc/entities/share-info.ts
  packages/frontend/core/src/modules/share-doc/stores/share-docs.ts
  packages/frontend/core/src/modules/share-doc/stores/share.ts
  packages/frontend/graphql/src/graphql/get-workspace-public-page-by-id.gql
  packages/frontend/graphql/src/graphql/get-workspace-public-pages.gql
  packages/frontend/graphql/src/graphql/index.ts
  packages/frontend/graphql/src/graphql/public-page.gql
  packages/frontend/graphql/src/graphql/revoke-public-page.gql
  packages/frontend/graphql/src/schema.ts
Labels: app:server, test, app:core

#9852 refactor(server): use doc model on PgWorkspaceDocStorageAdapter
  packages/backend/server/src/__tests__/doc/history.spec.ts
  packages/backend/server/src/__tests__/doc/workspace.spec.ts
  packages/backend/server/src/__tests__/models/doc.spec.ts
  packages/backend/server/src/core/doc/adapters/workspace.ts
  packages/backend/server/src/models/doc.ts
Labels: app:server, test

#9672 feat(core): add doc grant feature to share menu
  packages/common/infra/src/livedata/effect/index.ts
  packages/frontend/component/src/ui/menu/styles.css.ts
  packages/frontend/core/src/components/affine/share-page-modal/share-menu/index.css.ts
  packages/frontend/core/src/components/affine/share-page-modal/share-menu/share-menu.tsx
  packages/frontend/core/src/components/affine/share-page-modal/share-menu/share-page.tsx
  packages/frontend/core/src/components/blocksuite/block-suite-header/menu/index.tsx
  packages/frontend/core/src/desktop/dialogs/create-workspace/index.tsx
  packages/frontend/core/src/desktop/pages/workspace/detail-page/detail-page-header.tsx
  packages/frontend/core/src/mobile/pages/workspace/detail/page-header-share-button.tsx
  packages/frontend/core/src/modules/permissions/index.ts
  packages/frontend/core/src/modules/permissions/services/doc-granted-users.ts
  packages/frontend/core/src/modules/permissions/services/member-search.ts
  packages/frontend/core/src/modules/permissions/stores/doc-granted-users.ts
  packages/frontend/core/src/modules/permissions/stores/member-search.ts
  packages/frontend/core/src/modules/share-menu/index.ts
  packages/frontend/core/src/modules/share-menu/view/cloud-svg.tsx
  packages/frontend/core/src/modules/share-menu/view/index.tsx
  packages/frontend/core/src/modules/share-menu/view/share-menu/copy-link-button.css.ts
  packages/frontend/core/src/modules/share-menu/view/share-menu/copy-link-button.tsx
  packages/frontend/core/src/modules/share-menu/view/share-menu/general-access/index.ts
  packages/frontend/core/src/modules/share-menu/view/share-menu/general-access/members-permission.tsx
  packages/frontend/core/src/modules/share-menu/view/share-menu/general-access/public-page-button.tsx
  packages/frontend/core/src/modules/share-menu/view/share-menu/general-access/styles.css.ts
  packages/frontend/core/src/modules/share-menu/view/share-menu/index.css.ts
  packages/frontend/core/src/modules/share-menu/view/share-menu/index.jotai.ts
  packages/frontend/core/src/modules/share-menu/view/share-menu/index.tsx
  packages/frontend/core/src/modules/share-menu/view/share-menu/invite-member-editor/index.tsx
  packages/frontend/core/src/modules/share-menu/view/share-menu/invite-member-editor/invite-member-editor.css.ts
  packages/frontend/core/src/modules/share-menu/view/share-menu/invite-member-editor/invite-member-editor.tsx
  packages/frontend/core/src/modules/share-menu/view/share-menu/invite-member-editor/member-item.css.ts
  packages/frontend/core/src/modules/share-menu/view/share-menu/invite-member-editor/member-item.tsx
  packages/frontend/core/src/modules/share-menu/view/share-menu/invite-member-editor/selected-member-item.css.ts
  packages/frontend/core/src/modules/share-menu/view/share-menu/invite-member-editor/selected-member-item.tsx
  packages/frontend/core/src/modules/share-menu/view/share-menu/invite-member-editor/styles.css.ts
  packages/frontend/core/src/modules/share-menu/view/share-menu/member-management/index.tsx
  packages/frontend/core/src/modules/share-menu/view/share-menu/member-management/member-item.css.ts
  packages/frontend/core/src/modules/share-menu/view/share-menu/member-management/member-item.tsx
  packages/frontend/core/src/modules/share-menu/view/share-menu/member-management/member-management.css.ts
  packages/frontend/core/src/modules/share-menu/view/share-menu/member-management/member-management.tsx
  packages/frontend/core/src/modules/share-menu/view/share-menu/member-management/styles.css.ts
  packages/frontend/core/src/modules/share-menu/view/share-menu/plan-tag.css.ts
  packages/frontend/core/src/modules/share-menu/view/share-menu/plan-tag.tsx
  packages/frontend/core/src/modules/share-menu/view/share-menu/scroller.css.ts
  packages/frontend/core/src/modules/share-menu/view/share-menu/scroller.tsx
  packages/frontend/core/src/modules/share-menu/view/share-menu/share-export.tsx
  packages/frontend/core/src/modules/share-menu/view/share-menu/share-menu.tsx
  packages/frontend/core/src/modules/share-menu/view/share-menu/share-page.tsx
  packages/frontend/graphql/src/error.ts
  packages/frontend/graphql/src/graphql/get-members-by-workspace-id.gql
  packages/frontend/graphql/src/graphql/get-page-granted-users-list.gql
  packages/frontend/graphql/src/graphql/grant-doc-user-roles.gql
  packages/frontend/graphql/src/graphql/index.ts
  packages/frontend/graphql/src/graphql/revoke-doc-user-roles.gql
  packages/frontend/graphql/src/graphql/update-doc-user-role.gql
  packages/frontend/graphql/src/schema.ts
  packages/frontend/i18n/src/i18n.gen.ts
  packages/frontend/i18n/src/resources/en.json
Labels: mod:infra, mod:i18n, mod:component, app:server, test, app:core

#9967 feat(server): use doc service
  .github/workflows/build-images.yml
  packages/backend/server/src/__tests__/doc/cron.spec.ts
  packages/backend/server/src/__tests__/utils/utils.ts
  packages/backend/server/src/app.module.ts
  packages/backend/server/src/base/event/eventbus.ts
  packages/backend/server/src/base/utils/request.ts
  packages/backend/server/src/core/doc-renderer/__tests__/controller.spec.ts
  packages/backend/server/src/core/doc-renderer/__tests__/service.spec.ts
  packages/backend/server/src/core/doc-renderer/service.ts
  packages/backend/server/src/core/doc-service/__tests__/job.spec.ts
  packages/backend/server/src/core/doc-service/controller.ts
  packages/backend/server/src/core/doc-service/index.ts
  packages/backend/server/src/core/doc-service/job.ts
  packages/backend/server/src/core/doc/adapters/workspace.ts
  packages/backend/server/src/core/doc/index.ts
  packages/backend/server/src/core/doc/job.ts
  packages/backend/server/src/core/workspaces/controller.ts
Labels: app:server, test

#10029 chore: make DOC_SERVICE_ENDPOINT dynamic computed
  .github/helm/affine/charts/doc/templates/_helpers.tpl
  .github/helm/affine/charts/doc/templates/service.yaml
  .github/helm/affine/charts/doc/templates/tests/test-connection.yaml
  .github/helm/affine/charts/doc/values.yaml
  .github/helm/affine/charts/graphql/templates/deployment.yaml
  .github/helm/affine/charts/renderer/templates/deployment.yaml
  .github/helm/affine/charts/sync/templates/deployment.yaml
  .github/helm/affine/values.yaml
Labels: test

#10030 refactor(server): handle ConnectedAccount on user model
  packages/backend/server/src/__tests__/models/user.spec.ts
  packages/backend/server/src/models/user.ts
Labels: app:server, test

#10038 fix(core): hide export tab on mobile
  packages/frontend/core/src/modules/share-menu/view/share-menu/share-menu.tsx
Labels: app:core

#10047 feat(editor): update edgeless media entry icon and anime
  blocksuite/blocks/src/root-block/edgeless/components/toolbar/mindmap/basket-elements.ts
  blocksuite/blocks/src/root-block/edgeless/components/toolbar/mindmap/icons.ts
Labels: merge

#10028 test(server): utils
  packages/backend/server/src/__tests__/app/doc.e2e.ts
  packages/backend/server/src/__tests__/app/graphql.e2e.ts
  packages/backend/server/src/__tests__/app/renderer.e2e.ts
  packages/backend/server/src/__tests__/app/selfhost.e2e.ts
  packages/backend/server/src/__tests__/app/sync.e2e.ts
  packages/backend/server/src/__tests__/auth/auth.e2e.ts
  packages/backend/server/src/__tests__/auth/controller.spec.ts
  packages/backend/server/src/__tests__/auth/guard.spec.ts
  packages/backend/server/src/__tests__/copilot-provider.spec.ts
  packages/backend/server/src/__tests__/copilot.e2e.ts
  packages/backend/server/src/__tests__/copilot.spec.ts
  packages/backend/server/src/__tests__/doc/renderer.spec.ts
  packages/backend/server/src/__tests__/mailer.spec.ts
  packages/backend/server/src/__tests__/nestjs/error-handler.spec.ts
  packages/backend/server/src/__tests__/nestjs/throttler.spec.ts
  packages/backend/server/src/__tests__/oauth/controller.spec.ts
  packages/backend/server/src/__tests__/payment/service.spec.ts
  packages/backend/server/src/__tests__/team.e2e.ts
  packages/backend/server/src/__tests__/user.e2e.ts
  packages/backend/server/src/__tests__/user/user.e2e.ts
  packages/backend/server/src/__tests__/utils/blobs.ts
  packages/backend/server/src/__tests__/utils/copilot.ts
  packages/backend/server/src/__tests__/utils/index.ts
  packages/backend/server/src/__tests__/utils/invite.ts
  packages/backend/server/src/__tests__/utils/permission.ts
  packages/backend/server/src/__tests__/utils/testing-app.ts
  packages/backend/server/src/__tests__/utils/testing-module.ts
  packages/backend/server/src/__tests__/utils/user.ts
  packages/backend/server/src/__tests__/utils/utils.ts
  packages/backend/server/src/__tests__/utils/workspace.ts
  packages/backend/server/src/__tests__/workspace-invite.e2e.ts
  packages/backend/server/src/__tests__/workspace.e2e.ts
  packages/backend/server/src/__tests__/workspace/blobs.e2e.ts
  packages/backend/server/src/__tests__/workspace/controller.spec.ts
  packages/backend/server/src/core/doc-renderer/__tests__/controller.spec.ts
  packages/backend/server/src/core/doc-renderer/__tests__/service.spec.ts
  packages/backend/server/src/core/doc-service/__tests__/controller.spec.ts
  packages/backend/server/src/core/doc/__tests__/reader-from-database.spec.ts
  packages/backend/server/src/core/doc/__tests__/reader-from-rpc.spec.ts
  packages/backend/server/src/plugins/copilot/prompt/service.ts
Labels: app:server, test

#9970 feat(core): frame editor settings
  blocksuite/affine/model/src/blocks/frame/frame-model.ts
  blocksuite/blocks/src/root-block/edgeless/components/auto-complete/auto-complete-panel.ts
  blocksuite/blocks/src/root-block/edgeless/frame-manager.ts
  blocksuite/blocks/src/root-block/edgeless/gfx-tool/frame-tool.ts
  blocksuite/framework/block-std/src/gfx/index.ts
  blocksuite/framework/block-std/src/gfx/model/gfx-block-model.ts
  blocksuite/framework/global/src/utils/index.ts
  blocksuite/framework/global/src/utils/xywh.ts
  packages/frontend/core/src/desktop/dialogs/setting/general-setting/editor/edgeless/docs/frame.json
  packages/frontend/core/src/desktop/dialogs/setting/general-setting/editor/edgeless/docs/index.ts
  packages/frontend/core/src/desktop/dialogs/setting/general-setting/editor/edgeless/edgeless.tsx
  packages/frontend/core/src/desktop/dialogs/setting/general-setting/editor/edgeless/frame.tsx
  packages/frontend/core/src/desktop/dialogs/setting/general-setting/editor/edgeless/snapshot.tsx
  packages/frontend/i18n/src/resources/en.json
Labels: mod:infra, docs, mod:i18n, mod:env, mod:component, app:electron, mod:dev, app:server, test, rust, mod:native, app:core, mod:server-native

#10021 feat(editor): add animation for switching to edgeless mode firstly
  blocksuite/affine/block-note/src/note-edgeless-block.css.ts
  blocksuite/affine/shared/src/services/edit-props-store.ts
  blocksuite/blocks/src/root-block/edgeless/edgeless-root-block.ts
  blocksuite/framework/block-std/src/gfx/viewport.ts
  blocksuite/framework/global/src/utils/model/bound.ts
  tests/affine-local/e2e/blocksuite/edgeless/note.spec.ts
  tests/affine-local/e2e/blocksuite/outline/outline-panel.spec.ts
  tests/affine-local/e2e/links.spec.ts
  tests/kit/src/utils/editor.ts
  tests/kit/src/utils/page-logic.ts
Labels: test

#10057 refactor(server): use doc model on doc cron job
  packages/backend/server/src/core/doc/job.ts
  packages/backend/server/src/models/doc.ts
Labels: app:server

#10058 fix(core): not using Internet search after user selects document or file
  packages/frontend/core/src/blocksuite/presets/ai/chat-panel/chat-panel-input.ts
  packages/frontend/core/src/components/blocksuite/block-suite-editor/ai/setup-provider.tsx
Labels: app:core

#10031 refactor(server): use user model on oauth plugin
  packages/backend/server/src/__tests__/auth/auth.e2e.ts
  packages/backend/server/src/__tests__/models/user.spec.ts
  packages/backend/server/src/__tests__/oauth/controller.spec.ts
  packages/backend/server/src/models/user.ts
  packages/backend/server/src/plugins/oauth/controller.ts
Labels: app:server, test

#10014 feat(core): make some tabs in sidebar persistent for all docs page
  packages/frontend/component/src/ui/date-picker/calendar/calendar.tsx
  packages/frontend/core/src/desktop/pages/workspace/all-collection/index.tsx
  packages/frontend/core/src/desktop/pages/workspace/all-page/all-page.tsx
  packages/frontend/core/src/desktop/pages/workspace/all-tag/index.tsx
  packages/frontend/core/src/desktop/pages/workspace/collection/index.tsx
  packages/frontend/core/src/desktop/pages/workspace/detail-page/tabs/journal/index.tsx
  packages/frontend/core/src/desktop/pages/workspace/layouts/all-doc-sidebar-tabs.tsx
  packages/frontend/core/src/desktop/pages/workspace/tag/index.tsx
  packages/frontend/core/src/modules/workbench/view/view-islands.tsx
  tests/affine-local/e2e/all-page.spec.ts
  tests/kit/src/utils/filter.ts
Labels: mod:component, test, app:core

#10010 refactor(editor): flat data for table block
  blocksuite/affine/block-table/src/commands.ts
  blocksuite/affine/block-table/src/table-data-manager.ts
  blocksuite/affine/model/src/blocks/table/table-model.ts
  blocksuite/framework/store/src/consts.ts
  blocksuite/framework/store/src/model/block/block.ts
  blocksuite/framework/store/src/model/block/flat-sync-controller.ts
  blocksuite/framework/store/src/model/store/crud.ts
  blocksuite/framework/store/src/model/store/utils.ts
  blocksuite/framework/store/src/reactive/flat-native-y.ts
Labels: blocked

#10062 fix(server): only handle doc.snapshot.updated event on renderer
  packages/backend/server/src/core/doc-renderer/event.ts
  packages/backend/server/src/core/doc-renderer/index.ts
  packages/backend/server/src/core/doc-renderer/service.ts
Labels: app:server

#10061 fix(core): adjust settings names
  packages/frontend/core/src/desktop/dialogs/setting/general-setting/index.tsx
  packages/frontend/i18n/src/resources/en.json
Labels: mod:i18n, app:core

#10068 feat(server): use x-cloud-trace-context instead of x-rpc-trace-id
  packages/backend/server/src/app.module.ts
  packages/backend/server/src/core/doc-service/__tests__/controller.spec.ts
  packages/backend/server/src/core/doc/reader.ts
Labels: app:server, test

#10023 feat(core): center peek open doc should only load doc when idle
  packages/frontend/core/src/modules/doc/services/docs.ts
  packages/frontend/core/src/modules/peek-view/view/doc-preview/doc-peek-view.tsx
  packages/frontend/core/src/modules/peek-view/view/modal-container.tsx
  packages/frontend/core/src/modules/peek-view/view/peek-view-manager.tsx
  packages/frontend/core/src/modules/peek-view/view/utils.ts
Labels: app:core

#10080 feat(server): wrong context setting on doc publish
  packages/backend/server/src/core/workspaces/resolvers/doc.ts
Labels: app:server

#10088 fix(server): don't set the wrong context on logger
  packages/backend/server/src/core/permission/service.ts
  packages/backend/server/src/core/workspaces/resolvers/doc.ts
  packages/backend/server/src/data/commands/create.ts
Labels: app:server

#10056 feat(server): basic context api
  .prettierignore
  Cargo.toml
  packages/backend/server/migrations/20250210083416_ai_context/migration.sql
  packages/backend/server/package.json
  packages/backend/server/schema.prisma
  packages/backend/server/src/__tests__/__snapshots__/copilot.e2e.ts.md
  packages/backend/server/src/__tests__/__snapshots__/copilot.e2e.ts.snap
  packages/backend/server/src/__tests__/copilot.e2e.ts
  packages/backend/server/src/__tests__/copilot.spec.ts
  packages/backend/server/src/__tests__/utils/copilot.ts
  packages/backend/server/src/base/error/def.ts
  packages/backend/server/src/base/error/errors.gen.ts
  packages/backend/server/src/plugins/copilot/context/index.ts
  packages/backend/server/src/plugins/copilot/context/resolver.ts
  packages/backend/server/src/plugins/copilot/context/service.ts
  packages/backend/server/src/plugins/copilot/context/session.ts
  packages/backend/server/src/plugins/copilot/context/types.ts
  packages/backend/server/src/plugins/copilot/context/utils.ts
  packages/backend/server/src/plugins/copilot/index.ts
  packages/backend/server/src/plugins/copilot/providers/openai.ts
  packages/backend/server/src/plugins/copilot/resolver.ts
  packages/backend/server/src/plugins/copilot/types.ts
  packages/backend/server/src/schema.gql
  packages/frontend/graphql/src/graphql/copilot-context-create.gql
  packages/frontend/graphql/src/graphql/copilot-context-doc-add.gql
  packages/frontend/graphql/src/graphql/copilot-context-doc-remove.gql
  packages/frontend/graphql/src/graphql/copilot-context-list.gql
  packages/frontend/graphql/src/graphql/copilot-history-get-ids.gql
  packages/frontend/graphql/src/graphql/copilot-history-list.gql
  packages/frontend/graphql/src/graphql/copilot-message-create.gql
  packages/frontend/graphql/src/graphql/copilot-prompt-list.gql
  packages/frontend/graphql/src/graphql/copilot-prompt-update.gql
  packages/frontend/graphql/src/graphql/copilot-session-cleanup.gql
  packages/frontend/graphql/src/graphql/copilot-session-create.gql
  packages/frontend/graphql/src/graphql/copilot-session-fork.gql
  packages/frontend/graphql/src/graphql/copilot-session-update.gql
  packages/frontend/graphql/src/graphql/copilot-sessions-get.gql
  packages/frontend/graphql/src/graphql/index.ts
  packages/frontend/graphql/src/schema.ts
  packages/frontend/native/nbstore/Cargo.toml
  yarn.lock
Labels: app:server, test, rust, mod:native

#10092 refactor(editor): remove global types in edgeless
  blocksuite/affine/block-surface/src/extensions/crud-extension.ts
  blocksuite/affine/block-surface/src/managers/connector-manager.ts
  blocksuite/affine/block-surface/src/renderer/elements/index.ts
  blocksuite/affine/block-surface/src/surface-model.ts
  blocksuite/affine/block-surface/src/utils/add-note.ts
  blocksuite/affine/block-surface/src/utils/get-last-props-key.ts
  blocksuite/affine/model/src/blocks/attachment/attachment-model.ts
  blocksuite/affine/model/src/blocks/bookmark/bookmark-model.ts
  blocksuite/affine/model/src/blocks/edgeless-text/edgeless-text-model.ts
  blocksuite/affine/model/src/blocks/embed/figma/figma-model.ts
  blocksuite/affine/model/src/blocks/embed/github/github-model.ts
  blocksuite/affine/model/src/blocks/embed/html/html-model.ts
  blocksuite/affine/model/src/blocks/embed/linked-doc/linked-doc-model.ts
  blocksuite/affine/model/src/blocks/embed/loom/loom-model.ts
  blocksuite/affine/model/src/blocks/embed/synced-doc/synced-doc-model.ts
  blocksuite/affine/model/src/blocks/embed/youtube/youtube-model.ts
  blocksuite/affine/model/src/blocks/frame/frame-model.ts
  blocksuite/affine/model/src/blocks/image/image-model.ts
  blocksuite/affine/model/src/blocks/latex/latex-model.ts
  blocksuite/affine/model/src/blocks/note/note-model.ts
  blocksuite/affine/model/src/elements/brush/brush.ts
  blocksuite/affine/model/src/elements/connector/connector.ts
  blocksuite/affine/model/src/elements/connector/local-connector.ts
  blocksuite/affine/model/src/elements/group/group.ts
  blocksuite/affine/model/src/elements/index.ts
  blocksuite/affine/model/src/elements/mindmap/mindmap.ts
  blocksuite/affine/model/src/elements/shape/shape.ts
  blocksuite/affine/model/src/elements/text/text.ts
  blocksuite/affine/model/src/utils/global.ts
  blocksuite/affine/model/src/utils/index.ts
  blocksuite/blocks/src/_common/export-manager/export-manager.ts
  blocksuite/blocks/src/root-block/edgeless/clipboard/clipboard.ts
  blocksuite/blocks/src/root-block/edgeless/components/rects/edgeless-selected-rect.ts
  blocksuite/blocks/src/root-block/edgeless/edgeless-keyboard.ts
  blocksuite/blocks/src/root-block/edgeless/frame-manager.ts
  blocksuite/blocks/src/root-block/edgeless/gfx-tool/default-tool-ext/mind-map-ext/mind-map-ext.ts
  blocksuite/blocks/src/root-block/edgeless/middlewares/base.ts
  blocksuite/blocks/src/root-block/edgeless/utils/clipboard-utils.ts
  blocksuite/blocks/src/root-block/edgeless/utils/clone-utils.ts
  blocksuite/blocks/src/root-block/widgets/element-toolbar/change-text-menu.ts
  blocksuite/blocks/src/root-block/widgets/element-toolbar/index.ts
  blocksuite/presets/src/__tests__/edgeless/layer.spec.ts
  packages/frontend/core/src/blocksuite/blocks/ai-chat-block/ai-chat-model.ts
  packages/frontend/core/src/blocksuite/presets/ai/actions/types.ts
  packages/frontend/core/src/components/blocksuite/block-suite-editor/ai/tracker.ts
Labels: test, app:core

#10100 refactor(editor): reduce getService
  blocksuite/affine/block-database/src/detail-panel/block-renderer.ts
  blocksuite/affine/block-database/src/properties/title/text.ts
  blocksuite/affine/block-embed/src/common/to-edgeless-embed-block.ts
  blocksuite/affine/block-embed/src/embed-linked-doc-block/embed-edgeless-linked-doc-block.ts
  blocksuite/affine/block-embed/src/embed-synced-doc-block/embed-edgeless-synced-doc-block.ts
  blocksuite/affine/block-embed/src/embed-synced-doc-block/embed-synced-doc-block.ts
  blocksuite/affine/block-note/src/note-edgeless-block.ts
  blocksuite/affine/block-surface/src/commands/reassociate-connectors.ts
  blocksuite/affine/block-surface/src/extensions/crud-extension.ts
  blocksuite/affine/block-surface/src/surface-block.ts
  blocksuite/blocks/src/_specs/preset/mobile-patch.ts
  blocksuite/blocks/src/root-block/edgeless/components/frame/frame-preview.ts
  blocksuite/blocks/src/root-block/widgets/ai-panel/ai-panel.ts
  blocksuite/playground/apps/_common/components/starter-debug-menu.ts
  blocksuite/tests-legacy/utils/actions/edgeless.ts
  packages/frontend/core/src/blocksuite/presets/ai/_common/chat-actions-handle.ts
  packages/frontend/core/src/blocksuite/presets/ai/_common/components/ask-ai-button.ts
  packages/frontend/core/src/blocksuite/presets/ai/_common/components/ask-ai-panel.ts
  packages/frontend/core/src/blocksuite/presets/ai/_common/components/copy-more.ts
  packages/frontend/core/src/blocksuite/presets/ai/actions/edgeless-response.ts
  packages/frontend/core/src/blocksuite/presets/ai/ai-panel.ts
  packages/frontend/core/src/blocksuite/presets/ai/mini-mindmap/surface-block.ts
  packages/frontend/core/src/blocksuite/presets/ai/peek-view/chat-block-peek-view.ts
  packages/frontend/core/src/blocksuite/presets/ai/peek-view/utils.ts
  packages/frontend/core/src/blocksuite/presets/ai/slides/index.ts
  packages/frontend/core/src/blocksuite/presets/ai/utils/edgeless.ts
  packages/frontend/core/src/blocksuite/presets/ai/utils/selection-utils.ts
  packages/frontend/core/src/components/blocksuite/block-suite-editor/specs/custom/widgets/copy-as-image.ts
  packages/frontend/core/src/components/hooks/affine/use-share-url.ts
  packages/frontend/core/src/desktop/dialogs/setting/general-setting/editor/edgeless/shape.tsx
  packages/frontend/core/src/desktop/dialogs/setting/general-setting/editor/edgeless/snapshot.tsx
  packages/frontend/core/src/modules/editor/entities/editor.ts
  packages/frontend/core/src/modules/peek-view/view/doc-preview/doc-peek-view.tsx
Labels: app:core

#10095 refactor(core): remove the unused compareDate field from DocDisplayIconOptions
  packages/frontend/core/src/components/root-app-sidebar/journal-button.tsx
  packages/frontend/core/src/desktop/pages/workspace/detail-page/tabs/journal/index.tsx
  packages/frontend/core/src/mobile/components/app-tabs/journal.tsx
  packages/frontend/core/src/mobile/pages/workspace/detail/menu/journal-conflicts.tsx
  packages/frontend/core/src/mobile/pages/workspace/detail/menu/journal-today-activity.tsx
  packages/frontend/core/src/modules/doc-display-meta/services/doc-display-meta.ts
Labels: app:core, merge

#10050 fix(core): input not automatically focused
  packages/frontend/core/src/blocksuite/presets/ai/chat-panel/components/add-popover.ts
Labels: app:core

#10097 fix(editor): collapsed page block visibility
  blocksuite/affine/block-note/src/note-edgeless-block.css.ts
  blocksuite/affine/block-note/src/note-edgeless-block.ts
  tests/affine-local/e2e/blocksuite/edgeless/note.spec.ts
Labels: app:server, test, rust, mod:native, app:core

#10090 fix(core): use patched preview spec builder in ai chat
  blocksuite/affine/components/src/rich-text/inline/presets/nodes/footnote-node/footnote-config.ts
  blocksuite/affine/components/src/rich-text/inline/presets/nodes/footnote-node/footnote-node.ts
  blocksuite/affine/components/src/rich-text/inline/presets/nodes/footnote-node/footnote-popup.ts
  packages/frontend/core/src/blocksuite/presets/ai/chat-panel/actions/chat-text.ts
  packages/frontend/core/src/blocksuite/presets/ai/chat-panel/chat-panel-messages.ts
  packages/frontend/core/src/blocksuite/presets/ai/chat-panel/index.ts
  packages/frontend/core/src/blocksuite/presets/ai/peek-view/chat-block-peek-view.ts
  packages/frontend/core/src/components/blocksuite/block-suite-editor/specs/preview.ts
  packages/frontend/core/src/desktop/pages/workspace/detail-page/tabs/chat.tsx
  packages/frontend/core/src/modules/peek-view/view/ai-chat-block-peek-view/index.tsx
  packages/frontend/core/src/modules/peek-view/view/peek-view-manager.tsx
Labels: app:core

#10085 feat(server): self-hosted worker
  oxlint.json
  packages/backend/server/package.json
  packages/backend/server/src/__tests__/__snapshots__/worker.e2e.ts.md
  packages/backend/server/src/__tests__/__snapshots__/worker.e2e.ts.snap
  packages/backend/server/src/__tests__/utils/testing-app.ts
  packages/backend/server/src/__tests__/worker.e2e.ts
  packages/backend/server/src/base/error/def.ts
  packages/backend/server/src/base/error/errors.gen.ts
  packages/backend/server/src/config/affine.self.ts
  packages/backend/server/src/config/affine.ts
  packages/backend/server/src/plugins/index.ts
  packages/backend/server/src/plugins/worker/config.ts
  packages/backend/server/src/plugins/worker/controller.ts
  packages/backend/server/src/plugins/worker/index.ts
  packages/backend/server/src/plugins/worker/types.ts
  packages/backend/server/src/plugins/worker/utils/headers.ts
  packages/backend/server/src/plugins/worker/utils/index.ts
  packages/backend/server/src/plugins/worker/utils/proxy.ts
  packages/backend/server/src/plugins/worker/utils/url.ts
  packages/backend/server/src/schema.gql
  packages/frontend/graphql/src/schema.ts
  tools/cli/src/webpack/index.ts
  yarn.lock
Labels: mod:dev, app:server, test

#10104 test(server): avoid db deadlock on unittest
  packages/backend/server/src/__tests__/models/user.spec.ts
  packages/backend/server/src/__tests__/utils/testing-app.ts
Labels: app:server, test

#10110 feat(core): enable ai network search
  packages/frontend/core/src/modules/feature-flag/constant.ts
Labels: app:core

#10089 fix(electron): split view indicator should show menu on click
  packages/frontend/core/src/modules/workbench/view/split-view/indicator.tsx
Labels: app:core

#10115 feat(core): upgrade pplx models
  packages/backend/server/src/plugins/copilot/prompt/prompts.ts
  packages/backend/server/src/plugins/copilot/providers/perplexity.ts
Labels: app:server

#10101 refactor(core): auth ui
  packages/frontend/component/src/components/auth-components/auth-container.tsx
  packages/frontend/component/src/components/auth-components/auth-footer.tsx
  packages/frontend/component/src/components/auth-components/auth-header.tsx
  packages/frontend/component/src/components/auth-components/auth-input.tsx
  packages/frontend/component/src/components/auth-components/back-button.tsx
  packages/frontend/component/src/components/auth-components/index.tsx
  packages/frontend/component/src/components/auth-components/share.css.ts
  packages/frontend/component/src/type.d.ts
  packages/frontend/core/src/components/affine/auth/oauth.tsx
  packages/frontend/core/src/components/sign-in/add-selfhosted.tsx
  packages/frontend/core/src/components/sign-in/back.tsx
  packages/frontend/core/src/components/sign-in/background-arts/art-dark.inline.svg
  packages/frontend/core/src/components/sign-in/background-arts/art-light.inline.svg
  packages/frontend/core/src/components/sign-in/background-arts/index.tsx
  packages/frontend/core/src/components/sign-in/background-arts/style.css.ts
  packages/frontend/core/src/components/sign-in/index.tsx
  packages/frontend/core/src/components/sign-in/sign-in-with-email.tsx
  packages/frontend/core/src/components/sign-in/sign-in-with-password.tsx
  packages/frontend/core/src/components/sign-in/sign-in.tsx
  packages/frontend/core/src/components/sign-in/style.css.ts
  packages/frontend/core/src/desktop/dialogs/change-password/index.tsx
  packages/frontend/core/src/desktop/dialogs/sign-in/index.tsx
  packages/frontend/core/src/desktop/dialogs/verify-email/index.tsx
  packages/frontend/core/src/desktop/pages/auth/sign-in.tsx
Labels: mod:component, app:core

#10042 refactor(server): workspace doc query
  packages/backend/server/src/core/workspaces/resolvers/doc.ts
  packages/backend/server/src/schema.gql
  packages/frontend/core/src/modules/permissions/services/doc-granted-users.ts
  packages/frontend/core/src/modules/permissions/stores/doc-granted-users.ts
  packages/frontend/core/src/modules/share-doc/entities/share-info.ts
  packages/frontend/core/src/modules/share-doc/stores/share.ts
  packages/frontend/core/src/modules/share-menu/view/share-menu/general-access/members-permission.tsx
  packages/frontend/core/src/modules/share-menu/view/share-menu/invite-member-editor/invite-member-editor.css.ts
  packages/frontend/core/src/modules/share-menu/view/share-menu/invite-member-editor/invite-member-editor.tsx
  packages/frontend/core/src/modules/share-menu/view/share-menu/member-management/member-item.tsx
  packages/frontend/core/src/modules/share-menu/view/share-menu/scroller.css.ts
  packages/frontend/graphql/src/graphql/get-doc-default-role.gql
  packages/frontend/graphql/src/graphql/get-workspace-page-by-id.gql
  packages/frontend/graphql/src/graphql/get-workspace-public-page-by-id.gql
  packages/frontend/graphql/src/graphql/index.ts
  packages/frontend/graphql/src/graphql/update-doc-default-role.gql
  packages/frontend/graphql/src/schema.ts
Labels: app:server, app:core

#10103 feat: add doc copilot context api
  packages/backend/server/src/plugins/copilot/context/resolver.ts
  packages/backend/server/src/schema.gql
  packages/frontend/core/src/blocksuite/presets/ai/actions/doc-handler.ts
  packages/frontend/core/src/blocksuite/presets/ai/actions/types.ts
  packages/frontend/core/src/blocksuite/presets/ai/chat-panel/chat-context.ts
  packages/frontend/core/src/blocksuite/presets/ai/chat-panel/chat-panel-chips.ts
  packages/frontend/core/src/blocksuite/presets/ai/chat-panel/chat-panel-input.ts
  packages/frontend/core/src/blocksuite/presets/ai/chat-panel/chat-panel-messages.ts
  packages/frontend/core/src/blocksuite/presets/ai/chat-panel/components/add-popover.ts
  packages/frontend/core/src/blocksuite/presets/ai/chat-panel/components/doc-chip.ts
  packages/frontend/core/src/blocksuite/presets/ai/chat-panel/components/file-chip.ts
  packages/frontend/core/src/blocksuite/presets/ai/chat-panel/components/utils.ts
  packages/frontend/core/src/blocksuite/presets/ai/chat-panel/index.ts
  packages/frontend/core/src/blocksuite/presets/ai/provider.ts
  packages/frontend/core/src/components/blocksuite/block-suite-editor/ai/copilot-client.ts
  packages/frontend/core/src/components/blocksuite/block-suite-editor/ai/request.ts
  packages/frontend/core/src/components/blocksuite/block-suite-editor/ai/setup-provider.tsx
  packages/frontend/core/src/components/providers/workspace-side-effects.tsx
  packages/frontend/graphql/src/graphql/index.ts
  packages/frontend/graphql/src/schema.ts
  tests/affine-cloud-copilot/e2e/copilot.spec.ts
Labels: app:server, test, app:core

#10121 chore(server): set script flavor instead of NODE_ENV
  packages/backend/server/package.json
  packages/backend/server/src/__tests__/app/doc.e2e.ts
  packages/backend/server/src/__tests__/app/graphql.e2e.ts
  packages/backend/server/src/__tests__/app/renderer.e2e.ts
  packages/backend/server/src/__tests__/app/sync.e2e.ts
  packages/backend/server/src/base/config/def.ts
  packages/backend/server/src/base/config/default.ts
  packages/backend/server/src/data/index.ts
Labels: app:server, test

#10123 fix(editor): figma ui issues
  blocksuite/affine/block-embed/src/embed-figma-block/embed-figma-block.ts
  blocksuite/affine/block-embed/src/embed-figma-block/styles.ts
  blocksuite/tests-legacy/snapshots/bookmark.spec.ts/embed-figma.json
Labels: merge

#10108 fix(core): wrap code in ai chat
  blocksuite/affine/block-code/src/adapters/html.ts
  blocksuite/affine/block-code/src/adapters/markdown.ts
  blocksuite/affine/block-code/src/adapters/notion-html.ts
  blocksuite/affine/shared/src/adapters/middlewares/code.ts
  blocksuite/affine/shared/src/adapters/middlewares/index.ts
  blocksuite/blocks/src/__tests__/adapters/html.unit.spec.ts
  blocksuite/blocks/src/__tests__/adapters/markdown.unit.spec.ts
  blocksuite/blocks/src/__tests__/adapters/notion-html.unit.spec.ts
  blocksuite/blocks/src/index.ts
  packages/frontend/core/src/blocksuite/presets/_common/components/text-renderer.ts
  packages/frontend/core/src/blocksuite/presets/_common/utils/markdown-utils.ts
  packages/frontend/core/src/blocksuite/presets/ai/utils/editor-actions.ts
Labels: test, app:core

#10067 fix(server): get doc diff from doc service
  packages/backend/server/src/__tests__/utils/testing-app.ts
  packages/backend/server/src/app.ts
  packages/backend/server/src/base/utils/request.ts
  packages/backend/server/src/core/doc-service/controller.ts
  packages/backend/server/src/core/doc/__tests__/reader-from-database.spec.ts
  packages/backend/server/src/core/doc/__tests__/reader-from-rpc.spec.ts
  packages/backend/server/src/core/doc/index.ts
  packages/backend/server/src/core/doc/reader.ts
  packages/backend/server/src/core/doc/storage/index.ts
  packages/backend/server/src/core/sync/gateway.ts
Labels: app:server, test

#10129 refactor(editor): remove service global type
  blocksuite/affine/block-attachment/src/index.ts
  blocksuite/affine/block-code/src/effects.ts
  blocksuite/affine/block-embed/src/effects.ts
  blocksuite/affine/block-image/src/index.ts
  blocksuite/affine/block-note/src/effects.ts
  blocksuite/affine/block-paragraph/src/effects.ts
  blocksuite/affine/widget-drag-handle/src/index.ts
  blocksuite/blocks/src/effects.ts
  blocksuite/framework/block-std/src/scope/block-std-scope.ts
  blocksuite/framework/block-std/src/view/element/block-component.ts
  blocksuite/presets/src/__tests__/main/snapshot.spec.ts
Labels: test

#10130 fix(server): allow to checkout selfhost team in canary
  packages/backend/server/src/plugins/payment/manager/selfhost.ts
  packages/backend/server/src/plugins/payment/resolver.ts
  packages/backend/server/src/plugins/payment/service.ts
Labels: app:server

#10127 refactor(editor): move worker renderer to presets with basic test
  blocksuite/playground/examples/renderer/editor.ts
  blocksuite/playground/examples/renderer/index.html
  blocksuite/playground/examples/renderer/main.ts
  blocksuite/playground/vite.config.ts
  blocksuite/presets/package.json
  blocksuite/presets/renderer.html
  blocksuite/presets/src/__tests__/edgeless/viewport-renderer.spec.ts
  blocksuite/presets/src/__tests__/utils/doc-generator.ts
  blocksuite/presets/src/__tests__/utils/renderer-entry.ts
  blocksuite/presets/src/__tests__/utils/setup.ts
  blocksuite/presets/vite.config.ts
  yarn.lock
Labels: test

#10119 feat: dragged blocks should set opacity
  blocksuite/affine/widget-drag-handle/src/watchers/drag-event-watcher.ts
Labels: mod:i18n, app:server, test

#10118 refactor(server): add debug info on global exception log
  packages/backend/server/src/__tests__/nestjs/error-handler.spec.ts
  packages/backend/server/src/app.module.ts
  packages/backend/server/src/base/error/def.ts
  packages/backend/server/src/base/nestjs/exception.ts
  packages/backend/server/src/base/utils/request.ts
  packages/backend/server/src/core/doc-service/__tests__/controller.spec.ts
Labels: app:server, test

#10131 feat(electron): app tabs width styles
  packages/frontend/core/src/modules/app-tabs-header/views/styles.css.ts
Labels: app:core

#10136 fix: drop indicator in center peek
  blocksuite/affine/components/src/drop-indicator/drop-indicator.ts
  blocksuite/affine/widget-drag-handle/src/watchers/drag-event-watcher.ts
Labels: app:core

#10124 feat(core): add with your docs label to ai answer
  packages/frontend/core/src/blocksuite/presets/ai/chat-panel/chat-panel-messages.ts
  tests/affine-cloud-copilot/e2e/copilot.spec.ts
Labels: test, app:core

#10140 chore(server): migrate depracated opentelemetry usage
  packages/backend/server/src/base/metrics/opentelemetry.ts
Labels: app:server

#10133 fix(editor): hide collpased content during dragging note
  blocksuite/affine/block-note/src/note-edgeless-block.ts
  packages/frontend/core/src/components/blocksuite/block-suite-editor/specs/custom/widgets/edgeless-note-header.css.ts
  tests/affine-local/e2e/blocksuite/edgeless/note.spec.ts
  tests/kit/src/utils/editor.ts
Labels: test, app:core, merge

#10135 fix(edtiro): hide toc drag indicator on edgeless note
  blocksuite/presets/src/fragments/outline/card/outline-card.ts
Labels: merge

#10143 refactor(editor): remove global types in config
  blocksuite/affine/block-code/src/code-block-config.ts
  blocksuite/affine/block-code/src/code-block-service.ts
  blocksuite/affine/block-code/src/code-block.ts
  blocksuite/affine/block-code/src/effects.ts
  blocksuite/affine/block-database/src/config.ts
  blocksuite/affine/block-database/src/database-block.ts
  blocksuite/affine/block-database/src/effects.ts
  blocksuite/affine/block-database/src/index.ts
  blocksuite/affine/block-note/src/components/edgeless-note-background.ts
  blocksuite/affine/block-note/src/components/edgeless-page-block-title.ts
  blocksuite/affine/block-note/src/config.ts
  blocksuite/affine/block-note/src/effects.ts
  blocksuite/affine/block-surface/src/effects.ts
  blocksuite/affine/components/src/toolbar/config.ts
  blocksuite/affine/components/src/toolbar/index.ts
  blocksuite/affine/components/src/toolbar/utils.ts
  blocksuite/blocks/src/effects.ts
  blocksuite/blocks/src/index.ts
  blocksuite/blocks/src/root-block/edgeless/edgeless-root-spec.ts
  blocksuite/blocks/src/root-block/page/page-root-spec.ts
  blocksuite/blocks/src/root-block/root-config.ts
  blocksuite/blocks/src/root-block/types.ts
  blocksuite/blocks/src/root-block/widgets/keyboard-toolbar/index.ts
  blocksuite/blocks/src/root-block/widgets/linked-doc/config.ts
  blocksuite/blocks/src/root-block/widgets/linked-doc/effects.ts
  blocksuite/blocks/src/root-block/widgets/linked-doc/index.ts
  blocksuite/framework/block-std/src/__tests__/test-schema.ts
  blocksuite/framework/block-std/src/extension/config.ts
  blocksuite/framework/block-std/src/scope/block-std-scope.ts
  blocksuite/framework/store/src/__tests__/collection.unit.spec.ts
  blocksuite/framework/store/src/__tests__/schema.unit.spec.ts
  blocksuite/framework/store/src/__tests__/transformer.unit.spec.ts
  blocksuite/tests-legacy/utils/actions/drag.ts
  packages/frontend/core/src/components/blocksuite/block-suite-editor/specs/custom/root-block.ts
Labels: test, app:core

#10112 feat(core): hide starter-bar for template
  packages/frontend/core/src/components/blocksuite/block-suite-editor/starter-bar.tsx
Labels: app:core

#10072 chore(core): use fadeBottom animation for center peek
  packages/frontend/core/src/modules/peek-view/entities/peek-view.ts
  packages/frontend/core/src/modules/peek-view/view/modal-container.tsx
  packages/frontend/core/src/modules/peek-view/view/peek-view-manager.tsx
Labels: app:core

#10107 fix(core): do not show starter bar for doc in history modal
  packages/frontend/core/src/components/affine/page-history-modal/history-modal.tsx
  tests/affine-cloud/e2e/page-history.spec.ts
Labels: test, app:core

#10145 fix(core): ai context gql file
  packages/frontend/graphql/src/graphql/copilot-context-doc-add.gql
  packages/frontend/graphql/src/graphql/copilot-context-doc-remove.gql
  packages/frontend/graphql/src/graphql/copilot-context-list-docs-and-files.gql
  packages/frontend/graphql/src/graphql/index.ts
  packages/frontend/graphql/src/schema.ts
Labels: app:core

#10144 fix(server): wrong affine pro endpoint
  packages/backend/server/src/plugins/license/service.ts
  packages/backend/server/src/plugins/payment/types.ts
Labels: app:server

#10149 fix(server): selfhost subscription customer portal creation
  packages/backend/server/src/plugins/license/service.ts
  packages/backend/server/src/plugins/payment/license/controller.ts
Labels: app:server

#10150 chore(core): add feature flag for ios AI button
  packages/frontend/core/src/mobile/pages/workspace/detail/mobile-detail-page.tsx
  packages/frontend/core/src/modules/feature-flag/constant.ts
Labels: app:core

#10158 fix(core): edgeless text ai action should generate image correctly
  packages/frontend/component/src/lit-react/lit-portal/lit-portal.tsx
  packages/frontend/core/src/blocksuite/presets/ai/chat-panel/index.ts
  packages/frontend/core/src/blocksuite/presets/ai/utils/selection-utils.ts
Labels: mod:component, app:core

#10155 feat: better error handle for sse endpoint
  packages/backend/server/src/base/nestjs/exception.ts
  packages/backend/server/src/plugins/copilot/controller.ts
Labels: app:server

#10161 refactor(server): auto print full stack on logger.error
  packages/backend/server/src/__tests__/utils/testing-module.ts
  packages/backend/server/src/base/error/def.ts
  packages/backend/server/src/base/logger/__tests__/service.spec.ts
  packages/backend/server/src/base/logger/service.ts
  packages/backend/server/src/plugins/gcloud/logging/logger.ts
Labels: app:server, test

#10162 feat(core): move context docs to user prompt
  packages/backend/server/src/plugins/copilot/prompt/prompts.ts
  packages/backend/server/src/plugins/copilot/resolver.ts
  packages/backend/server/src/plugins/copilot/session.ts
  packages/backend/server/src/plugins/copilot/types.ts
  packages/backend/server/src/schema.gql
  packages/frontend/apps/android/App/service/src/main/graphql/affine/schema.graphqls
  packages/frontend/core/src/blocksuite/presets/ai/actions/types.ts
  packages/frontend/core/src/blocksuite/presets/ai/chat-panel/index.ts
  packages/frontend/core/src/components/blocksuite/block-suite-editor/ai/setup-provider.tsx
  packages/frontend/graphql/src/schema.ts
Labels: app:server, app:core

#10151 chore(server): enhance log context and messages
  packages/backend/server/src/core/permission/service.ts
  packages/backend/server/src/core/quota/service.ts
  packages/backend/server/src/plugins/storage/providers/s3.ts
Labels: app:server

#10167 fix(editor): figma block ui issues
  blocksuite/affine/block-embed/src/embed-youtube-block/embed-youtube-block.ts
  blocksuite/affine/block-embed/src/embed-youtube-block/styles.ts
Labels: merge

#10175 feat(electron): split view drag indicator bg
  packages/frontend/core/src/modules/workbench/view/split-view/indicator.css.ts
  packages/frontend/core/src/modules/workbench/view/split-view/indicator.tsx
Labels: app:core

#10179 fix(editor): edgeless mindmap text button layer inder
  blocksuite/blocks/src/root-block/edgeless/components/toolbar/mindmap/basket-elements.ts
Labels: merge

#10178 feat(electron): show a warning for drop folder to split view
  packages/frontend/core/src/modules/workbench/view/split-view/split-view.css.ts
  packages/frontend/core/src/modules/workbench/view/split-view/split-view.tsx
  packages/frontend/i18n/src/resources/en.json
Labels: mod:i18n, app:core

#10168 refactor(core): get copilot sessions api
  packages/backend/server/src/plugins/copilot/resolver.ts
  packages/backend/server/src/plugins/copilot/session.ts
  packages/backend/server/src/schema.gql
  packages/frontend/core/src/blocksuite/presets/ai/actions/types.ts
  packages/frontend/core/src/components/blocksuite/block-suite-editor/ai/copilot-client.ts
  packages/frontend/core/src/components/blocksuite/block-suite-editor/ai/request.ts
  packages/frontend/core/src/components/blocksuite/block-suite-editor/ai/setup-provider.tsx
  packages/frontend/graphql/src/graphql/copilot-sessions-get.gql
  packages/frontend/graphql/src/graphql/index.ts
  packages/frontend/graphql/src/schema.ts
Labels: app:server, app:core

#10176 feat(server): worker improve
  packages/backend/server/src/__tests__/__snapshots__/worker.e2e.ts.md
  packages/backend/server/src/__tests__/__snapshots__/worker.e2e.ts.snap
  packages/backend/server/src/__tests__/worker.e2e.ts
  packages/backend/server/src/plugins/worker/controller.ts
  packages/backend/server/src/plugins/worker/types.ts
  packages/backend/server/src/plugins/worker/utils/encoding.ts
Labels: app:server, test

#10152 chore(electron): remove offline mode
  packages/frontend/apps/electron/src/main/protocol.ts
  packages/frontend/apps/electron/src/main/updater/electron-updater.ts
  packages/frontend/apps/electron/src/main/utils.ts
  packages/frontend/core/src/modules/feature-flag/constant.ts
  packages/frontend/i18n/src/i18n-completenesses.json
  packages/frontend/i18n/src/i18n.gen.ts
  packages/frontend/i18n/src/resources/ar.json
  packages/frontend/i18n/src/resources/de.json
  packages/frontend/i18n/src/resources/el-GR.json
  packages/frontend/i18n/src/resources/en.json
  packages/frontend/i18n/src/resources/es.json
  packages/frontend/i18n/src/resources/fa.json
  packages/frontend/i18n/src/resources/fr.json
  packages/frontend/i18n/src/resources/it-IT.json
  packages/frontend/i18n/src/resources/ja.json
  packages/frontend/i18n/src/resources/pl.json
  packages/frontend/i18n/src/resources/pt-BR.json
  packages/frontend/i18n/src/resources/ru.json
  packages/frontend/i18n/src/resources/sv-SE.json
  packages/frontend/i18n/src/resources/uk.json
  packages/frontend/i18n/src/resources/zh-Hans.json
  packages/frontend/i18n/src/resources/zh-Hant.json
Labels: mod:i18n, app:electron, app:core

#10181 fix(core): adjust the redirection path for retrying payments when self-hosting
  packages/frontend/core/src/desktop/dialogs/setting/workspace-setting/members/cloud-members-panel.tsx
Labels: app:core

#10164 fix(core): adjust share menu
  packages/frontend/core/src/modules/permissions/services/doc-granted-users.ts
  packages/frontend/core/src/modules/share-menu/view/share-menu/copy-link-button.css.ts
  packages/frontend/core/src/modules/share-menu/view/share-menu/general-access/members-permission.tsx
  packages/frontend/core/src/modules/share-menu/view/share-menu/general-access/public-page-button.tsx
  packages/frontend/core/src/modules/share-menu/view/share-menu/general-access/styles.css.ts
  packages/frontend/core/src/modules/share-menu/view/share-menu/index.css.ts
  packages/frontend/core/src/modules/share-menu/view/share-menu/invite-member-editor/index.tsx
  packages/frontend/core/src/modules/share-menu/view/share-menu/invite-member-editor/invite-member-editor.css.ts
  packages/frontend/core/src/modules/share-menu/view/share-menu/invite-member-editor/invite-member-editor.tsx
  packages/frontend/core/src/modules/share-menu/view/share-menu/invite-member-editor/member-item.css.ts
  packages/frontend/core/src/modules/share-menu/view/share-menu/invite-member-editor/member-item.tsx
  packages/frontend/core/src/modules/share-menu/view/share-menu/invite-member-editor/styles.css.ts
  packages/frontend/core/src/modules/share-menu/view/share-menu/member-management/member-item.tsx
  packages/frontend/core/src/modules/share-menu/view/share-menu/member-management/member-management.css.ts
  packages/frontend/core/src/modules/share-menu/view/share-menu/member-management/member-management.tsx
  packages/frontend/core/src/modules/share-menu/view/share-menu/scroller.css.ts
  packages/frontend/core/src/modules/share-menu/view/share-menu/share-menu.tsx
  packages/frontend/i18n/src/i18n-completenesses.json
  packages/frontend/i18n/src/i18n.gen.ts
  packages/frontend/i18n/src/resources/en.json
Labels: mod:i18n, app:core

#10051 fix(editor): increase edgeless text init min width
  blocksuite/affine/block-edgeless-text/src/edgeless-text-block.ts
  blocksuite/presets/src/__tests__/edgeless/mindmap.spec.ts
  blocksuite/tests-legacy/edgeless/align.spec.ts
  blocksuite/tests-legacy/edgeless/edgeless-text.spec.ts
  blocksuite/tests-legacy/edgeless/paste-block.spec.ts
  blocksuite/tests-legacy/snapshots/edgeless/edgeless-text.spec.ts/min-width-limit-for-embed-block-add-linked-doc.json
  blocksuite/tests-legacy/snapshots/edgeless/edgeless-text.spec.ts/min-width-limit-for-embed-block-init.json
  blocksuite/tests-legacy/snapshots/edgeless/edgeless-text.spec.ts/press-backspace-at-the-start-of-first-line-when-edgeless-text-exist-finial.json
  blocksuite/tests-legacy/snapshots/edgeless/edgeless-text.spec.ts/press-backspace-at-the-start-of-first-line-when-edgeless-text-exist-note-empty.json
  blocksuite/tests-legacy/snapshots/edgeless/edgeless-text.spec.ts/press-backspace-at-the-start-of-first-line-when-edgeless-text-exist-note-not-empty.json
Labels: test, merge

#10180 feat(editor): add WidgetViewExtension
  blocksuite/affine/block-code/src/code-block-spec.ts
  blocksuite/affine/block-image/src/image-spec.ts
  blocksuite/affine/block-surface-ref/src/index.ts
  blocksuite/affine/block-surface-ref/src/surface-ref-spec.ts
  blocksuite/blocks/src/_specs/preset/mobile-patch.ts
  blocksuite/blocks/src/root-block/common-specs/index.ts
  blocksuite/blocks/src/root-block/common-specs/widgets.ts
  blocksuite/blocks/src/root-block/edgeless/edgeless-root-spec.ts
  blocksuite/blocks/src/root-block/index.ts
  blocksuite/blocks/src/root-block/page/page-root-spec.ts
  blocksuite/framework/block-std/src/extension/widget-view-map.ts
  blocksuite/framework/block-std/src/identifier.ts
  blocksuite/framework/block-std/src/spec/type.ts
  blocksuite/framework/block-std/src/view/element/lit-host.ts
  blocksuite/playground/apps/starter/main.ts
  blocksuite/tests-legacy/slash-menu.spec.ts
  blocksuite/tests-legacy/utils/declare-test-window.ts
  packages/frontend/core/src/blocksuite/presets/ai/ai-spec.ts
  packages/frontend/core/src/components/blocksuite/block-suite-editor/lit-adaper.tsx
Labels: app:core, merge

#10187 feat: filter out session create request for root doc
  packages/backend/server/src/base/error/def.ts
  packages/backend/server/src/base/error/errors.gen.ts
  packages/backend/server/src/plugins/copilot/resolver.ts
  packages/backend/server/src/schema.gql
Labels: app:server

#10165 fix(server): event handler bindings
  packages/backend/server/package.json
  packages/backend/server/src/__tests__/event/cluster.spec.ts
  packages/backend/server/src/__tests__/event/eventbus.spec.ts
  packages/backend/server/src/__tests__/event/provider.ts
  packages/backend/server/src/base/event/eventbus.ts
  packages/backend/server/src/base/event/index.ts
  packages/backend/server/src/base/index.ts
  packages/backend/server/src/base/metrics/utils.ts
  packages/backend/server/src/base/nestjs/decorator.ts
  packages/backend/server/src/base/nestjs/index.ts
  packages/backend/server/src/base/utils/request.ts
  packages/backend/server/src/core/sync/gateway.ts
  packages/backend/server/src/core/workspaces/event.ts
  packages/backend/server/src/core/workspaces/index.ts
  packages/backend/server/src/core/workspaces/resolvers/team.ts
  packages/backend/server/src/plugins/payment/cron.ts
  packages/backend/server/src/plugins/payment/quota.ts
  yarn.lock
Labels: app:server, test

#10186 feat(core): support network search in chat block center peek
  packages/frontend/core/src/blocksuite/presets/ai/chat-panel/chat-panel-input.ts
  packages/frontend/core/src/blocksuite/presets/ai/chat-panel/const.ts
  packages/frontend/core/src/blocksuite/presets/ai/peek-view/chat-block-input.ts
  packages/frontend/core/src/blocksuite/presets/ai/peek-view/chat-block-peek-view.ts
  packages/frontend/core/src/blocksuite/presets/blocks/ai-chat-block/components/ai-chat-messages.ts
  packages/frontend/core/src/modules/peek-view/view/ai-chat-block-peek-view/index.tsx
Labels: app:core

#10196 fix(core): copy more button style
  packages/frontend/core/src/blocksuite/presets/ai/_common/components/copy-more.ts
Labels: app:core, merge

#10170 refactor(core): lazy create copilot session and context
  packages/frontend/core/src/blocksuite/presets/ai/_common/components/chat-action-list.ts
  packages/frontend/core/src/blocksuite/presets/ai/_common/components/copy-more.ts
  packages/frontend/core/src/blocksuite/presets/ai/chat-panel/chat-panel-chips.ts
  packages/frontend/core/src/blocksuite/presets/ai/chat-panel/chat-panel-input.ts
  packages/frontend/core/src/blocksuite/presets/ai/chat-panel/chat-panel-messages.ts
  packages/frontend/core/src/blocksuite/presets/ai/chat-panel/components/doc-chip.ts
  packages/frontend/core/src/blocksuite/presets/ai/chat-panel/index.ts
  packages/frontend/core/src/blocksuite/presets/ai/peek-view/chat-block-peek-view.ts
  packages/frontend/core/src/components/blocksuite/block-suite-editor/ai/request.ts
  packages/frontend/core/src/components/blocksuite/block-suite-editor/ai/setup-provider.tsx
  tests/affine-cloud-copilot/e2e/copilot.spec.ts
Labels: mod:i18n, app:server, test, app:core

#10156 chore(core): disallow closing auth modal for clicking outside and escape
  packages/frontend/core/src/desktop/dialogs/sign-in/index.tsx
Labels: app:core

#10157 fix(core): prevent text wrapping in starter bar badge
  packages/frontend/core/src/components/blocksuite/block-suite-editor/starter-bar.css.ts
Labels: app:core

#10199 refactor(editor): simplify worker renderer message and canvas transfer
  blocksuite/affine/shared/src/viewport-renderer/dom-utils.ts
  blocksuite/affine/shared/src/viewport-renderer/painter.worker.ts
  blocksuite/affine/shared/src/viewport-renderer/viewport-renderer.ts
  blocksuite/presets/src/__tests__/utils/renderer-entry.ts
Labels: test

#10209 feat(core): auto collapse ai chips
  packages/frontend/core/src/blocksuite/presets/ai/chat-panel/chat-context.ts
  packages/frontend/core/src/blocksuite/presets/ai/chat-panel/chat-panel-chips.ts
  packages/frontend/core/src/blocksuite/presets/ai/chat-panel/chat-panel-messages.ts
Labels: app:core

#10213 fix(core): fix the permission check in peek view
  packages/frontend/core/src/modules/peek-view/view/doc-preview/doc-peek-view.tsx
Labels: app:core

#10191 fix(android): edge to edge compatibility for capacitor7
  packages/frontend/apps/android/App/app/capacitor.build.gradle
  packages/frontend/apps/android/App/app/src/main/java/app/affine/pro/MainActivity.kt
  packages/frontend/apps/android/App/capacitor.settings.gradle
  packages/frontend/apps/android/package.json
  packages/frontend/apps/android/src/app.tsx
  yarn.lock
Labels: merge

#10203 refactor(server): dont convert graphql bad request into internal server error
  packages/backend/server/src/__tests__/app/graphql.e2e.ts
  packages/backend/server/src/__tests__/utils/testing-app.ts
  packages/backend/server/src/base/error/def.ts
  packages/backend/server/src/base/error/errors.gen.ts
  packages/backend/server/src/base/graphql/logger-plugin.ts
  packages/backend/server/src/base/nestjs/exception.ts
  packages/backend/server/src/schema.gql
Labels: app:server, test

#10189 feat(core): add link to template tutorial
  packages/frontend/core/src/modules/template-doc/view/styles.css.ts
  packages/frontend/core/src/modules/template-doc/view/template-list-menu.tsx
Labels: app:core

#10215 fix(core): handle unexpected hits to paywalls
  packages/frontend/core/src/modules/share-menu/view/share-menu/invite-member-editor/invite-member-editor.tsx
  packages/frontend/core/src/modules/share-menu/view/share-menu/share-menu.tsx
Labels: app:core

#10223 fix(editor): width and height of embed block
  blocksuite/affine/block-attachment/src/styles.ts
  blocksuite/affine/block-bookmark/src/bookmark-edgeless-block.ts
  blocksuite/affine/block-bookmark/src/styles.ts
  blocksuite/affine/block-embed/src/embed-figma-block/styles.ts
  blocksuite/affine/block-embed/src/embed-github-block/styles.ts
  blocksuite/affine/block-embed/src/embed-linked-doc-block/styles.ts
  blocksuite/affine/block-embed/src/embed-loom-block/styles.ts
  blocksuite/affine/block-embed/src/embed-youtube-block/styles.ts
  blocksuite/tests-legacy/bookmark.spec.ts
Labels: merge

#10222 fix: mindmap ai preview
  blocksuite/framework/block-std/src/gfx/view/view-manager.ts
  blocksuite/framework/store/src/model/block/sync-controller.ts
  packages/frontend/core/src/blocksuite/presets/ai/mini-mindmap/surface-block.ts
Labels: app:core

#10228 fix(core): unable to explain image when network search is active
  packages/frontend/core/src/blocksuite/presets/ai/chat-panel/chat-panel-input.ts
  packages/frontend/core/src/blocksuite/presets/ai/peek-view/chat-block-input.ts
  tests/affine-cloud-copilot/e2e/copilot.spec.ts
Labels: test, app:core

#10211 feat(core): add 100k tokens limit for the docs context
  packages/frontend/core/src/blocksuite/presets/ai/chat-panel/chat-context.ts
  packages/frontend/core/src/blocksuite/presets/ai/chat-panel/chat-panel-chips.ts
  packages/frontend/core/src/blocksuite/presets/ai/chat-panel/components/doc-chip.ts
  packages/frontend/core/src/blocksuite/presets/ai/chat-panel/components/utils.ts
  packages/frontend/core/src/blocksuite/presets/ai/utils/extract.ts
Labels: app:core

#10235 fix(server): log error on gcloud
  packages/backend/server/src/base/logger/service.ts
  packages/backend/server/src/plugins/gcloud/logging/logger.ts
Labels: app:server

#10226 chore(core): adjust selfhost sign in ui
  packages/frontend/core/src/components/sign-in/add-selfhosted.tsx
  packages/frontend/core/src/components/sign-in/sign-in.tsx
  packages/frontend/i18n/src/i18n-completenesses.json
  packages/frontend/i18n/src/i18n.gen.ts
  packages/frontend/i18n/src/resources/en.json
Labels: mod:i18n, app:core
