Repository toeverything/AFFiNE, pull requests merged in 2025-07, with the labels that each got.

#12966 fix(core): fix client crash
  packages/frontend/core/src/components/affine/auth/oauth.tsx
Labels: app:core

#12911 feat(server): add comment-attachment storage
  packages/backend/server/src/__tests__/e2e/workspace/controller.spec.ts
  packages/backend/server/src/base/error/def.ts
  packages/backend/server/src/base/error/errors.gen.ts
  packages/backend/server/src/core/storage/__tests__/comment-attachment.spec.ts
  packages/backend/server/src/core/storage/index.ts
  packages/backend/server/src/core/storage/wrappers/comment-attachment.ts
  packages/backend/server/src/core/storage/wrappers/index.ts
  packages/backend/server/src/core/workspaces/controller.ts
  packages/backend/server/src/schema.gql
  packages/common/graphql/src/schema.ts
  packages/frontend/i18n/src/i18n.gen.ts
  packages/frontend/i18n/src/resources/en.json
Labels: mod:i18n, app:server, test

#12976 fix(web): adjust sign-in panel height
  packages/frontend/core/src/desktop/dialogs/sign-in/index.tsx
Labels: app:core

#12975 feat(core): remove chat-panel component's dependency on doc
  packages/frontend/core/src/blocksuite/ai/_common/chat-actions-handle.ts
  packages/frontend/core/src/blocksuite/ai/actions/types.ts
  packages/frontend/core/src/blocksuite/ai/blocks/ai-chat-block/ai-chat-block.ts
  packages/frontend/core/src/blocksuite/ai/blocks/ai-chat-block/components/ai-chat-messages.ts
  packages/frontend/core/src/blocksuite/ai/chat-panel/index.ts
  packages/frontend/core/src/blocksuite/ai/chat-panel/message/assistant.ts
  packages/frontend/core/src/blocksuite/ai/components/ai-chat-composer/ai-chat-composer.ts
  packages/frontend/core/src/blocksuite/ai/components/ai-chat-content/ai-chat-content.ts
  packages/frontend/core/src/blocksuite/ai/components/ai-chat-content/index.ts
  packages/frontend/core/src/blocksuite/ai/components/ai-chat-content/type.ts
  packages/frontend/core/src/blocksuite/ai/components/ai-chat-input/ai-chat-input.ts
  packages/frontend/core/src/blocksuite/ai/components/ai-chat-input/preference-popup.ts
  packages/frontend/core/src/blocksuite/ai/components/ai-chat-messages/ai-chat-messages.ts
  packages/frontend/core/src/blocksuite/ai/components/ai-chat-messages/index.ts
  packages/frontend/core/src/blocksuite/ai/components/ai-history-clear/ai-history-clear.ts
  packages/frontend/core/src/blocksuite/ai/components/chat-action-list.ts
  packages/frontend/core/src/blocksuite/ai/components/copy-more.ts
  packages/frontend/core/src/blocksuite/ai/components/playground/chat.ts
  packages/frontend/core/src/blocksuite/ai/components/playground/content.ts
  packages/frontend/core/src/blocksuite/ai/effects.ts
  packages/frontend/core/src/blocksuite/ai/peek-view/chat-block-peek-view.ts
  packages/frontend/core/src/blocksuite/ai/provider/ai-provider.ts
  packages/frontend/core/src/blocksuite/ai/provider/setup-provider.tsx
  packages/frontend/core/src/blocksuite/ai/utils/extract.ts
  packages/frontend/core/src/desktop/pages/workspace/detail-page/detail-page.tsx
  packages/frontend/core/src/modules/peek-view/view/doc-preview/doc-peek-view.tsx
  tests/affine-cloud-copilot/e2e/basic/chat.spec.ts
  tests/affine-cloud-copilot/e2e/settings/embedding.spec.ts
Labels: app:server, test, app:core

#12986 feat(core): add missing affine version header to server config
  packages/frontend/core/src/modules/cloud/stores/server-config.ts
Labels: app:core

#12985 fix(core): adjust ai chat tool calling style
  packages/frontend/core/src/blocksuite/ai/components/ai-tools/tool-call-card.ts
  packages/frontend/core/src/blocksuite/ai/components/ai-tools/tool-result-card.ts
  packages/frontend/core/src/blocksuite/ai/components/ai-tools/web-crawl.ts
Labels: app:core

#12984 fix(server): disable Apple oauth on client version < 0.22.0
  packages/backend/server/src/__tests__/e2e/create-app.ts
  packages/backend/server/src/__tests__/e2e/oauth/__snapshots__/resolver.spec.ts.md
  packages/backend/server/src/__tests__/e2e/oauth/__snapshots__/resolver.spec.ts.snap
  packages/backend/server/src/__tests__/e2e/oauth/resolver.spec.ts
  packages/backend/server/src/base/utils/__tests__/request.spec.ts
  packages/backend/server/src/base/utils/request.ts
  packages/backend/server/src/plugins/oauth/resolver.ts
Labels: app:server, test

#12988 chore(server): remove useless client allowGuestDemoWorkspace config
  .docker/selfhost/schema.json
  packages/backend/server/src/core/version/config.ts
  packages/frontend/admin/src/config.json
Labels: app:server

#12896 feat(core): add a resizeable split view for ai chat
  packages/frontend/core/src/blocksuite/ai/chat-panel/index.ts
  packages/frontend/core/src/blocksuite/ai/chat-panel/split-view.ts
  packages/frontend/core/src/blocksuite/ai/effects.ts
Labels: app:core

#12989 feat(core): comment panel
  blocksuite/affine/all/package.json
  blocksuite/affine/all/src/inlines/comment/index.ts
  blocksuite/affine/inlines/comment/src/index.ts
  blocksuite/affine/inlines/comment/src/inline-comment-manager.ts
  blocksuite/affine/model/src/consts/doc.ts
  blocksuite/affine/shared/src/services/feature-flag-service.ts
  packages/frontend/core/src/blocksuite/block-suite-editor/lit-adaper.tsx
  packages/frontend/core/src/blocksuite/manager/view.ts
  packages/frontend/core/src/blocksuite/view-extensions/comment/comment-provider.ts
  packages/frontend/core/src/blocksuite/view-extensions/comment/index.ts
  packages/frontend/core/src/components/comment/comment-editor/index.tsx
  packages/frontend/core/src/components/comment/comment-editor/style.css.ts
  packages/frontend/core/src/components/comment/sidebar/index.tsx
  packages/frontend/core/src/components/comment/sidebar/style.css.ts
  packages/frontend/core/src/desktop/pages/workspace/detail-page/detail-page.tsx
  packages/frontend/core/src/modules/comment/entities/doc-comment-store.ts
  packages/frontend/core/src/modules/comment/entities/doc-comment.ts
  packages/frontend/core/src/modules/comment/index.ts
  packages/frontend/core/src/modules/comment/services/comment-panel-service.ts
  packages/frontend/core/src/modules/comment/services/doc-comment-manager.ts
  packages/frontend/core/src/modules/comment/services/snapshot-helper.ts
  packages/frontend/core/src/modules/comment/types.ts
  packages/frontend/core/src/modules/editor/entities/editor.ts
  packages/frontend/core/src/modules/editor/types.ts
  packages/frontend/core/src/modules/feature-flag/constant.ts
  packages/frontend/core/src/modules/index.ts
  packages/frontend/core/src/modules/navigation/utils.ts
  packages/frontend/i18n/src/i18n-completenesses.json
  packages/frontend/i18n/src/i18n.gen.ts
  packages/frontend/i18n/src/resources/en.json
Labels: mod:i18n, app:core

#12990 feat(core): make editor host optional
  packages/frontend/core/src/blocksuite/ai/actions/types.ts
  packages/frontend/core/src/blocksuite/ai/chat-panel/message/assistant.ts
  packages/frontend/core/src/blocksuite/ai/components/ai-chat-chips/chat-panel-chips.ts
  packages/frontend/core/src/blocksuite/ai/components/ai-chat-chips/doc-chip.ts
  packages/frontend/core/src/blocksuite/ai/components/ai-chat-composer/ai-chat-composer.ts
  packages/frontend/core/src/blocksuite/ai/components/ai-chat-content/ai-chat-content.ts
  packages/frontend/core/src/blocksuite/ai/components/ai-chat-input/ai-chat-input.ts
  packages/frontend/core/src/blocksuite/ai/components/ai-chat-messages/ai-chat-messages.ts
  packages/frontend/core/src/blocksuite/ai/components/ai-history-clear/ai-history-clear.ts
  packages/frontend/core/src/blocksuite/ai/components/ai-message-content/rich-text.ts
  packages/frontend/core/src/blocksuite/ai/components/ai-message-content/stream-objects.ts
  packages/frontend/core/src/blocksuite/ai/components/ai-scrollable-text-renderer.ts
  packages/frontend/core/src/blocksuite/ai/components/ai-tools/tool-result-card.ts
  packages/frontend/core/src/blocksuite/ai/components/ai-tools/web-crawl.ts
  packages/frontend/core/src/blocksuite/ai/components/ai-tools/web-search.ts
  packages/frontend/core/src/blocksuite/ai/components/copy-more.ts
  packages/frontend/core/src/blocksuite/ai/components/playground/chat.ts
  packages/frontend/core/src/blocksuite/ai/components/text-renderer.ts
  packages/frontend/core/src/blocksuite/ai/messages/error.ts
  packages/frontend/core/src/blocksuite/ai/peek-view/chat-block-peek-view.ts
  packages/frontend/core/src/blocksuite/ai/provider/ai-provider.ts
  packages/frontend/core/src/blocksuite/ai/provider/setup-provider.tsx
  packages/frontend/core/src/blocksuite/ai/provider/tracker.ts
Labels: app:core

#12993 chore(server): add comment server feature flags
  packages/backend/server/src/__tests__/e2e/config/resolver.spec.ts
  packages/backend/server/src/core/comment/index.ts
  packages/backend/server/src/core/comment/resolver.ts
  packages/backend/server/src/core/config/types.ts
  packages/backend/server/src/schema.gql
  packages/common/graphql/src/schema.ts
Labels: app:server, test

#12987 feat(core): quick search support search locally
  packages/frontend/core/src/mobile/pages/workspace/search.tsx
  packages/frontend/core/src/mobile/views/search/search-results.tsx
  packages/frontend/core/src/mobile/views/search/style.css.ts
  packages/frontend/core/src/modules/quicksearch/entities/quick-search.ts
  packages/frontend/core/src/modules/quicksearch/impls/docs.ts
  packages/frontend/core/src/modules/quicksearch/index.ts
  packages/frontend/core/src/modules/quicksearch/providers/quick-search-provider.ts
  packages/frontend/core/src/modules/quicksearch/services/cmdk.ts
  packages/frontend/core/src/modules/quicksearch/types/item.ts
  packages/frontend/i18n/src/i18n.gen.ts
  packages/frontend/i18n/src/resources/en.json
Labels: mod:i18n, app:core

#12995 refactor(core): minimize comment editor
  blocksuite/affine/all/package.json
  blocksuite/affine/all/src/foundation/clipboard.ts
  blocksuite/affine/blocks/attachment/src/attachment-block.ts
  blocksuite/affine/blocks/bookmark/src/bookmark-block.ts
  blocksuite/affine/blocks/code/src/code-block.ts
  blocksuite/affine/blocks/database/src/database-block.ts
  blocksuite/affine/blocks/embed/src/common/embed-block-element.ts
  blocksuite/affine/blocks/image/src/image-block.ts
  blocksuite/affine/blocks/paragraph/src/paragraph-block.ts
  blocksuite/affine/blocks/root/src/configs/toolbar.ts
  blocksuite/affine/blocks/surface-ref/src/surface-ref-block.ts
  blocksuite/affine/foundation/package.json
  blocksuite/affine/foundation/src/clipboard.ts
  blocksuite/affine/widgets/toolbar/src/toolbar.ts
  packages/frontend/core/src/components/comment/comment-editor/index.tsx
  packages/frontend/core/src/components/comment/comment-editor/specs.ts
  packages/frontend/core/src/modules/comment/services/snapshot-helper.ts
Labels: app:core

#12894 feat(server): add Blob Model
  packages/backend/server/src/models/__tests__/blob.spec.ts
  packages/backend/server/src/models/blob.ts
  packages/backend/server/src/models/index.ts
Labels: app:server, test

#13000 feat(core): support mentions in comments
  blocksuite/affine/inlines/mention/src/affine-mention.ts
  packages/frontend/core/src/blocksuite/block-suite-editor/lit-adaper.tsx
  packages/frontend/core/src/blocksuite/view-extensions/editor-config/linked.ts
  packages/frontend/core/src/components/comment/comment-editor/specs.ts
  packages/frontend/core/src/components/comment/sidebar/index.tsx
  packages/frontend/core/src/components/comment/sidebar/style.css.ts
  packages/frontend/core/src/components/hooks/use-navigate-helper.ts
  packages/frontend/core/src/components/notification/list.tsx
  packages/frontend/core/src/desktop/pages/workspace/detail-page/detail-page.tsx
  packages/frontend/core/src/modules/at-menu-config/services/index.ts
  packages/frontend/core/src/modules/comment/entities/doc-comment-store.ts
  packages/frontend/core/src/modules/comment/entities/doc-comment.ts
  packages/frontend/core/src/modules/feature-flag/constant.ts
  packages/frontend/i18n/src/i18n.gen.ts
  packages/frontend/i18n/src/resources/en.json
Labels: mod:i18n, app:core

#13002 feat(core): support ai chat add, pin and unpin
  packages/frontend/core/src/blocksuite/ai/actions/types.ts
  packages/frontend/core/src/blocksuite/ai/chat-panel/index.ts
  packages/frontend/core/src/blocksuite/ai/chat-panel/message/assistant.ts
  packages/frontend/core/src/blocksuite/ai/components/ai-chat-content/ai-chat-content.ts
  packages/frontend/core/src/blocksuite/ai/components/ai-chat-messages/ai-chat-messages.ts
  packages/frontend/core/src/blocksuite/ai/components/ai-chat-toolbar/ai-chat-toolbar.ts
  packages/frontend/core/src/blocksuite/ai/components/ai-chat-toolbar/index.ts
  packages/frontend/core/src/blocksuite/ai/components/copy-more.ts
  packages/frontend/core/src/blocksuite/ai/effects.ts
  packages/frontend/core/src/blocksuite/ai/provider/setup-provider.tsx
Labels: app:core

#12998 feat(server): edit tool intent collect
  packages/backend/server/src/plugins/copilot/providers/anthropic/anthropic.ts
  packages/backend/server/src/plugins/copilot/providers/gemini/gemini.ts
  packages/backend/server/src/plugins/copilot/providers/morph.ts
  packages/backend/server/src/plugins/copilot/providers/openai.ts
  packages/backend/server/src/plugins/copilot/providers/utils.ts
Labels: app:server

#13007 feat(server): use new content reader
  packages/backend/server/src/core/doc-service/controller.ts
  packages/backend/server/src/core/doc/__tests__/reader-from-database.spec.ts
  packages/backend/server/src/core/doc/__tests__/reader-from-rpc.spec.ts
  packages/backend/server/src/core/doc/reader.ts
  packages/backend/server/src/plugins/copilot/tools/doc-edit.ts
  packages/backend/server/src/plugins/copilot/tools/doc-read.ts
Labels: app:server, test

#13012 chore(server): use localhost sub domain
  .docker/dev/README.md
  .docker/dev/compose.yml.example
  .docker/dev/dnsmasq.conf
  tools/cli/src/cert.ts
Labels: docs, mod:dev

#13004 feat(core): add an independent AI panel
  blocksuite/affine/shared/src/utils/dom/checker.ts
  packages/frontend/apps/electron/src/main/shared-state-schema.ts
  packages/frontend/core/src/blocksuite/ai/components/ai-chat-composer/ai-chat-composer.ts
  packages/frontend/core/src/blocksuite/ai/components/ai-chat-content/ai-chat-content.ts
  packages/frontend/core/src/blocksuite/ai/components/ai-chat-input/ai-chat-input.ts
  packages/frontend/core/src/blocksuite/ai/components/ai-chat-messages/ai-chat-messages.ts
  packages/frontend/core/src/components/root-app-sidebar/index.tsx
  packages/frontend/core/src/desktop/dialogs/setting/general-setting/editor/edgeless/docs/index.ts
  packages/frontend/core/src/desktop/pages/workspace/chat/index.css.ts
  packages/frontend/core/src/desktop/pages/workspace/chat/index.tsx
  packages/frontend/core/src/desktop/workbench-router.ts
  packages/frontend/core/src/modules/workbench/constants.tsx
Labels: app:electron, app:core

#13020 fix(core): some artifact styles
  blocksuite/affine/blocks/embed-doc/src/embed-linked-doc-block/styles.ts
  packages/frontend/core/src/blocksuite/ai/components/ai-tools/artifacts-preview-panel.ts
  packages/frontend/core/src/blocksuite/ai/components/ai-tools/code-artifact.ts
  packages/frontend/core/src/blocksuite/ai/components/ai-tools/doc-compose.ts
Labels: app:core

#13021 feat(core): add ai-chat-toolbar for independent chat
  packages/frontend/core/src/blocksuite/ai/components/ai-chat-content/ai-chat-content.ts
  packages/frontend/core/src/desktop/pages/workspace/chat/index.css.ts
  packages/frontend/core/src/desktop/pages/workspace/chat/index.tsx
Labels: app:core

#13018 fix(server): send comment mention to comment author by default
  packages/backend/server/src/__tests__/e2e/comment/resolver.spec.ts
  packages/backend/server/src/core/comment/resolver.ts
Labels: app:server, test

#12211 fix(server): abort behavior in sse stream
  packages/backend/server/src/plugins/copilot/context/resolver.ts
  packages/backend/server/src/plugins/copilot/controller.ts
  packages/backend/server/src/plugins/copilot/utils.ts
  tests/affine-cloud-copilot/e2e/ai-action/generate-an-image-with-image.spec.ts
  tests/affine-cloud-copilot/e2e/ai-action/generate-an-image-with-text.spec.ts
Labels: app:server, test

#13022 fix(core): fix migrate filter list error
  packages/frontend/core/src/modules/collection/stores/collection.ts
Labels: app:core

#13024 refactor(core): call copilot in tools
  packages/backend/server/src/plugins/copilot/providers/provider.ts
  packages/backend/server/src/plugins/copilot/tools/code-artifact.ts
  packages/backend/server/src/plugins/copilot/tools/doc-compose.ts
  packages/frontend/core/src/blocksuite/ai/components/ai-tools/doc-compose.ts
Labels: app:server, app:core

#13030 fix(core): re-layout ai-chat-content to display preview panel
  packages/frontend/core/src/blocksuite/ai/chat-panel/index.ts
  packages/frontend/core/src/blocksuite/ai/chat-panel/split-view.ts
  packages/frontend/core/src/blocksuite/ai/components/ai-chat-content/ai-chat-content.ts
  packages/frontend/core/src/blocksuite/ai/components/ai-tools/artifacts-preview-panel.ts
  packages/frontend/core/src/desktop/pages/workspace/chat/index.css.ts
  packages/frontend/core/src/desktop/pages/workspace/chat/index.tsx
Labels: app:core

#13029 feat(core): add comment notification settings
  packages/backend/server/src/__tests__/utils/user-settings.ts
  packages/backend/server/src/core/user/__tests__/resolver.e2e.ts
  packages/common/graphql/src/graphql/get-user-settings.gql
  packages/common/graphql/src/graphql/index.ts
  packages/common/graphql/src/schema.ts
  packages/frontend/core/src/desktop/dialogs/setting/general-setting/notifications/index.tsx
  packages/frontend/i18n/src/i18n.gen.ts
  packages/frontend/i18n/src/resources/en.json
Labels: mod:i18n, app:server, test, app:core

#13031 fix(editor): time issues of comment initialization
  blocksuite/affine/inlines/comment/src/inline-comment-manager.ts
  blocksuite/affine/inlines/comment/src/utils.ts
  blocksuite/affine/shared/src/services/comment-service/comment-provider.ts
  blocksuite/playground/apps/_common/mock-services.ts
  packages/frontend/core/src/blocksuite/view-extensions/comment/comment-provider.ts
  packages/frontend/core/src/modules/comment/entities/doc-comment.ts
  packages/frontend/core/src/modules/editor/entities/editor.ts
Labels: app:core

#13033 fix(server): only send comment mention notification when comment author is doc owner
  packages/backend/server/src/__tests__/e2e/comment/resolver.spec.ts
  packages/backend/server/src/core/comment/resolver.ts
Labels: app:server, test

#13037 chore(server): fix unstable test
  packages/backend/server/src/__tests__/copilot.e2e.ts
Labels: app:server, test

#12844 feat(core): markdown-diff & patch apply
  blocksuite/affine/shared/package.json
  blocksuite/affine/shared/src/__tests__/commands/block-crud/get-first-block.unit.spec.ts
  blocksuite/affine/shared/src/__tests__/commands/block-crud/get-last-block.unit.spec.ts
  blocksuite/affine/shared/src/__tests__/commands/model-crud/replace-selected-text-with-blocks.unit.spec.ts
  blocksuite/affine/shared/src/__tests__/commands/selection/is-nothing-selected.unit.spec.ts
  blocksuite/affine/shared/src/__tests__/helpers/affine-template.ts
  blocksuite/affine/shared/src/__tests__/test-utils/affine-template.unit.spec.ts
  blocksuite/affine/shared/src/test-utils/README.md
  blocksuite/affine/shared/src/test-utils/affine-template.ts
  blocksuite/affine/shared/src/test-utils/affine-test-utils.ts
  blocksuite/affine/shared/src/test-utils/create-test-host.ts
  blocksuite/affine/shared/src/test-utils/index.ts
  packages/frontend/core/package.json
  packages/frontend/core/src/__tests__/ai/utils/apply-model/apply-patch-to-doc.spec.ts
  packages/frontend/core/src/__tests__/ai/utils/apply-model/generate-render-diff.spec.ts
  packages/frontend/core/src/__tests__/ai/utils/apply-model/markdown-diff.spec.ts
  packages/frontend/core/src/blocksuite/ai/utils/apply-model/apply-patch-to-doc.ts
  packages/frontend/core/src/blocksuite/ai/utils/apply-model/generate-render-diff.ts
  packages/frontend/core/src/blocksuite/ai/utils/apply-model/markdown-diff.ts
  packages/frontend/core/src/blocksuite/utils/markdown-utils.ts
  packages/frontend/core/tsconfig.json
  tools/utils/src/workspace.gen.ts
  yarn.lock
Labels: docs, test, app:core

#13034 chore(core): remove client comment feature flag
  blocksuite/affine/shared/src/services/feature-flag-service.ts
  packages/frontend/core/src/blocksuite/block-suite-editor/lit-adaper.tsx
  packages/frontend/core/src/desktop/pages/workspace/detail-page/detail-page.tsx
  packages/frontend/core/src/modules/feature-flag/constant.ts
Labels: app:core

#13055 fix(core): timezone aware datetime display
  packages/frontend/core/src/desktop/pages/workspace/detail-page/tabs/journal/calendar-events.tsx
Labels: app:core

#13059 chore(core): adjust order and label of ai entrance
  packages/frontend/core/src/components/root-app-sidebar/index.tsx
Labels: app:core

#13066 feat(core): remove auto-scroll when chatting and display down-arrow instead
  packages/frontend/core/src/blocksuite/ai/components/ai-chat-content/ai-chat-content.ts
  packages/frontend/core/src/blocksuite/ai/components/ai-chat-messages/ai-chat-messages.ts
Labels: app:core

#13071 feat(core): reply actions
  packages/common/graphql/src/graphql/doc-role-permissions.gql
  packages/common/graphql/src/graphql/index.ts
  packages/common/graphql/src/schema.ts
  packages/frontend/core/src/components/comment/comment-editor/index.tsx
  packages/frontend/core/src/components/comment/comment-editor/linked-widget-config.ts
  packages/frontend/core/src/components/comment/sidebar/index.tsx
  packages/frontend/core/src/components/comment/sidebar/style.css.ts
  packages/frontend/core/src/modules/comment/entities/doc-comment-store.ts
  packages/frontend/core/src/modules/comment/entities/doc-comment.ts
  packages/frontend/core/src/modules/comment/types.ts
Labels: app:core

#13073 fix(editor): centerize iframe modal in mobile
  blocksuite/affine/blocks/embed/src/embed-iframe-block/embed-iframe-block.ts
  blocksuite/affine/blocks/latex/src/latex-block.ts
  blocksuite/affine/components/src/hover/controller.ts
  blocksuite/affine/components/src/portal/helper.ts
  blocksuite/affine/data-view/src/property-presets/date/cell-renderer.ts
  blocksuite/affine/inlines/latex/src/latex-node/latex-node.ts
  blocksuite/affine/widgets/slash-menu/src/slash-menu-popover.ts
  packages/frontend/core/src/blocksuite/ai/actions/doc-handler.ts
  packages/frontend/core/src/blocksuite/ai/components/ask-ai-toolbar.ts
Labels: app:core

#13076 chore(server): fix copilot unstable tests
  packages/backend/server/src/__tests__/copilot.spec.ts
Labels: app:server, test

#13083 feat(server): support read all notifications
  packages/backend/server/src/__tests__/e2e/notification/resolver.spec.ts
  packages/backend/server/src/core/notification/resolver.ts
  packages/backend/server/src/core/notification/service.ts
  packages/backend/server/src/models/__tests__/notification.spec.ts
  packages/backend/server/src/models/notification.ts
  packages/backend/server/src/schema.gql
  packages/common/graphql/src/graphql/index.ts
  packages/common/graphql/src/graphql/read-all-notifications.gql
  packages/common/graphql/src/schema.ts
Labels: app:server, test

#13086 fix(core): insert diff not displayed after the expected block
  packages/frontend/core/src/__tests__/ai/utils/apply-model/apply-patch-to-doc.spec.ts
  packages/frontend/core/src/__tests__/ai/utils/apply-model/generate-render-diff.spec.ts
  packages/frontend/core/src/__tests__/ai/utils/apply-model/markdown-diff.spec.ts
  packages/frontend/core/src/blocksuite/ai/services/block-diff.ts
  packages/frontend/core/src/blocksuite/ai/utils/apply-model/generate-render-diff.ts
  packages/frontend/core/src/blocksuite/ai/utils/apply-model/markdown-diff.ts
Labels: test, app:core

#13026 feat(server): paginated list endpoint
  packages/backend/server/src/__tests__/copilot.spec.ts
  packages/backend/server/src/models/copilot-session.ts
  packages/backend/server/src/plugins/copilot/resolver.ts
  packages/backend/server/src/plugins/copilot/session.ts
  packages/backend/server/src/plugins/copilot/types.ts
  packages/backend/server/src/schema.gql
  packages/common/graphql/src/graphql/copilot-history-get-ids.gql
  packages/common/graphql/src/graphql/copilot-history-list-doc-sessions.gql
  packages/common/graphql/src/graphql/copilot-history-list-pinned-session.gql
  packages/common/graphql/src/graphql/copilot-history-list-workspace-sessions.gql
  packages/common/graphql/src/graphql/copilot-history-list.gql
  packages/common/graphql/src/graphql/copilot-session-get-latest-doc.gql
  packages/common/graphql/src/graphql/copilot-session-get.gql
  packages/common/graphql/src/graphql/copilot-session-list-recent.gql
  packages/common/graphql/src/graphql/copilot-sessions-get.gql
  packages/common/graphql/src/graphql/fragments/copilot.gql
  packages/common/graphql/src/graphql/index.ts
  packages/common/graphql/src/schema.ts
  packages/frontend/core/src/blocksuite/ai/actions/types.ts
  packages/frontend/core/src/blocksuite/ai/chat-panel/index.ts
  packages/frontend/core/src/blocksuite/ai/chat-panel/message/assistant.ts
  packages/frontend/core/src/blocksuite/ai/components/ai-chat-composer/ai-chat-composer.ts
  packages/frontend/core/src/blocksuite/ai/components/ai-chat-content/ai-chat-content.ts
  packages/frontend/core/src/blocksuite/ai/components/ai-chat-input/ai-chat-input.ts
  packages/frontend/core/src/blocksuite/ai/components/ai-chat-input/preference-popup.ts
  packages/frontend/core/src/blocksuite/ai/components/ai-chat-messages/ai-chat-messages.ts
  packages/frontend/core/src/blocksuite/ai/components/ai-chat-toolbar/ai-chat-toolbar.ts
  packages/frontend/core/src/blocksuite/ai/components/ai-history-clear/ai-history-clear.ts
  packages/frontend/core/src/blocksuite/ai/components/chat-action-list.ts
  packages/frontend/core/src/blocksuite/ai/components/copy-more.ts
  packages/frontend/core/src/blocksuite/ai/components/playground/chat.ts
  packages/frontend/core/src/blocksuite/ai/components/playground/content.ts
  packages/frontend/core/src/blocksuite/ai/peek-view/chat-block-peek-view.ts
  packages/frontend/core/src/blocksuite/ai/provider/copilot-client.ts
  packages/frontend/core/src/blocksuite/ai/provider/setup-provider.tsx
  packages/frontend/core/src/desktop/pages/workspace/chat/index.tsx
Labels: app:server, test, app:core

#13092 feat(core): add ai history loading placeholder
  packages/frontend/core/src/blocksuite/ai/chat-panel/index.ts
  packages/frontend/core/src/blocksuite/ai/components/ai-chat-toolbar/ai-session-history.ts
Labels: app:core

#13095 fix(server): get pending embedding docs in event handler
  packages/backend/server/src/models/copilot-workspace.ts
Labels: app:server

#13100 fix(server): incorrect abort condition
  packages/backend/server/src/plugins/copilot/utils.ts
Labels: app:server

#13098 feat(editor): comment for edgeless element
  blocksuite/affine/blocks/attachment/src/attachment-block.ts
  blocksuite/affine/blocks/attachment/src/configs/toolbar.ts
  blocksuite/affine/blocks/bookmark/src/bookmark-block.ts
  blocksuite/affine/blocks/bookmark/src/configs/toolbar.ts
  blocksuite/affine/blocks/code/src/code-block.ts
  blocksuite/affine/blocks/database/src/database-block.ts
  blocksuite/affine/blocks/embed-doc/src/embed-linked-doc-block/configs/toolbar.ts
  blocksuite/affine/blocks/embed-doc/src/embed-synced-doc-block/configs/toolbar.ts
  blocksuite/affine/blocks/embed/src/common/embed-block-element.ts
  blocksuite/affine/blocks/embed/src/configs/toolbar.ts
  blocksuite/affine/blocks/image/src/configs/toolbar.ts
  blocksuite/affine/blocks/image/src/image-block.ts
  blocksuite/affine/blocks/paragraph/src/paragraph-block.ts
  blocksuite/affine/blocks/root/src/edgeless/configs/toolbar/misc.ts
  blocksuite/affine/blocks/surface-ref/src/configs/toolbar.ts
  blocksuite/affine/blocks/surface-ref/src/surface-ref-block.ts
  blocksuite/affine/foundation/src/view.ts
  blocksuite/affine/gfx/text/src/toolbar/actions.ts
  blocksuite/affine/inlines/comment/src/inline-comment-manager.ts
  blocksuite/affine/shared/src/services/comment-service/block-comment-manager.ts
  blocksuite/affine/shared/src/services/comment-service/block-element-comment-manager.ts
  blocksuite/affine/shared/src/services/comment-service/index.ts
  blocksuite/affine/shared/src/services/comment-service/utils.ts
  blocksuite/framework/std/src/gfx/model/surface/element-model.ts
  blocksuite/playground/apps/starter/utils/extensions.ts
  packages/frontend/core/src/blocksuite/view-extensions/comment/comment-provider.ts
  packages/frontend/core/src/modules/editor/entities/editor.ts
Labels: app:core

#13096 fix(core): some editor issues
  blocksuite/affine/blocks/code/src/code-block-service.ts
  packages/frontend/core/src/blocksuite/ai/components/text-renderer.ts
  packages/frontend/core/src/components/comment/sidebar/style.css.ts
Labels: app:core

#13091 fix(server): use new LocalWorkspace ServerFeature instead
  packages/backend/server/src/__tests__/e2e/config/resolver.spec.ts
  packages/backend/server/src/core/config/resolver.ts
  packages/backend/server/src/core/config/service.ts
  packages/backend/server/src/core/config/types.ts
  packages/backend/server/src/schema.gql
  packages/common/graphql/src/graphql/admin/admin-server-config.gql
  packages/common/graphql/src/graphql/index.ts
  packages/common/graphql/src/graphql/server-config.gql
  packages/common/graphql/src/schema.ts
  packages/frontend/core/src/components/hooks/affine/__tests__/use-sign-out.spec.ts
  packages/frontend/core/src/components/hooks/affine/use-sign-out.ts
  packages/frontend/core/src/components/workspace-selector/user-with-workspace-list/add-workspace/index.tsx
  packages/frontend/core/src/components/workspace-selector/user-with-workspace-list/index.tsx
  packages/frontend/core/src/desktop/pages/index/index.tsx
  packages/frontend/core/src/modules/cloud/constant.ts
  packages/frontend/core/src/modules/cloud/entities/server.ts
  packages/frontend/core/src/modules/cloud/services/servers.ts
  packages/frontend/core/src/modules/cloud/types.ts
Labels: app:server, test, app:core

#13103 chore: improve Cloud E2E Test speed
  .github/workflows/build-test.yml
  tests/affine-cloud/e2e/migration.spec.skip.ts
  tests/affine-cloud/e2e/share-page-1.spec.ts
  tests/affine-cloud/e2e/share-page-2.spec.ts
  tests/affine-cloud/package.json
Labels: test

#13104 fix(core): avoid shared page to fetch workspace info
  packages/frontend/core/src/modules/permissions/entities/permission.ts
Labels: app:core

#13105 fix(core): some ux enhancements on comments
  blocksuite/affine/blocks/root/src/page/page-root-block.ts
  blocksuite/affine/inlines/comment/src/index.ts
  blocksuite/affine/inlines/comment/src/inline-comment-manager.ts
  blocksuite/affine/inlines/comment/src/inline-spec.ts
  blocksuite/affine/inlines/comment/src/view.ts
  packages/frontend/core/src/blocksuite/block-suite-editor/lit-adaper.tsx
  packages/frontend/core/src/blocksuite/manager/view.ts
  packages/frontend/core/src/blocksuite/view-extensions/comment/comment-provider.ts
  packages/frontend/core/src/components/comment/comment-editor/specs.ts
  packages/frontend/core/src/components/comment/sidebar/index.tsx
  packages/frontend/core/src/components/comment/sidebar/style.css.ts
  packages/frontend/core/src/modules/comment/entities/doc-comment-store.ts
  packages/frontend/core/src/modules/comment/entities/doc-comment.ts
  packages/frontend/core/src/modules/comment/services/doc-comment-manager.ts
  packages/frontend/i18n/src/i18n.gen.ts
  packages/frontend/i18n/src/resources/en.json
  packages/frontend/track/src/events.ts
Labels: mod:i18n, app:core

#13108 fix(core): should not be able to commit comments when uploading images
  blocksuite/affine/inlines/comment/src/inline-spec.ts
  packages/frontend/core/src/components/comment/comment-editor/index.tsx
  packages/frontend/core/src/components/comment/comment-editor/style.css.ts
Labels: app:core

#13109 fix(server): should use signed url first
  packages/backend/server/src/core/workspaces/controller.ts
Labels: app:server

#13111 fix(core): should show delete permanently for trash page multi-select
  packages/frontend/core/src/components/explorer/docs-view/docs-list.tsx
  packages/frontend/core/src/desktop/pages/workspace/trash-page.tsx
Labels: app:core

#13112 feat(core): support normal attachments
  packages/frontend/core/src/blocksuite/ai/components/ai-tools/artifact-tool.ts
  packages/frontend/core/src/components/comment/comment-editor/index.tsx
  packages/frontend/core/src/components/comment/comment-editor/style.css.ts
  packages/frontend/core/src/components/comment/sidebar/index.tsx
  packages/frontend/core/src/modules/comment/entities/doc-comment.ts
  packages/frontend/core/src/modules/comment/types.ts
Labels: app:core

#13113 fix(server): add user id to comment-attachment model
  packages/backend/server/src/__tests__/e2e/workspace/controller.spec.ts
  packages/backend/server/src/core/comment/resolver.ts
  packages/backend/server/src/core/storage/__tests__/comment-attachment.spec.ts
  packages/backend/server/src/core/storage/wrappers/comment-attachment.ts
  packages/backend/server/src/models/__tests__/comment-attachment.spec.ts
  packages/backend/server/src/models/comment-attachment.ts
Labels: app:server, test

#13118 feat(core): add onOpenDoc handler for AFFiNE Intelligence page
  packages/frontend/core/src/desktop/pages/workspace/chat/index.tsx
Labels: app:core

#13116 fix(core): code block artifact styles
  packages/frontend/core/src/blocksuite/ai/components/ai-message-content/stream-objects.ts
  packages/frontend/core/src/blocksuite/ai/components/ai-tools/artifact-tool.ts
  packages/frontend/core/src/blocksuite/ai/components/ai-tools/code-artifact.ts
  packages/frontend/core/src/blocksuite/ai/components/ai-tools/doc-compose.ts
Labels: app:core

#13038 feat(server): use faster model in ci test
  packages/backend/server/src/__tests__/copilot-provider.spec.ts
  packages/backend/server/src/plugins/copilot/embedding/client.ts
  packages/backend/server/src/plugins/copilot/prompt/prompts.ts
  packages/backend/server/src/plugins/copilot/prompt/service.ts
  packages/backend/server/src/plugins/copilot/providers/anthropic/anthropic.ts
  packages/backend/server/src/plugins/copilot/providers/gemini/gemini.ts
  packages/backend/server/src/plugins/copilot/providers/openai.ts
  packages/backend/server/src/plugins/copilot/providers/provider.ts
  packages/backend/server/src/plugins/copilot/tools/doc-semantic-search.ts
  tests/affine-cloud-copilot/e2e/ai-action/image-processing.spec.ts
  tests/affine-cloud-copilot/e2e/basic/chat.spec.ts
  tests/affine-cloud-copilot/e2e/chat-with/attachments.spec.ts
  tests/affine-cloud-copilot/e2e/chat-with/collections.spec.ts
  tests/affine-cloud-copilot/e2e/settings/embedding.spec.ts
  tests/affine-cloud-copilot/e2e/utils/chat-panel-utils.ts
  tests/affine-cloud-copilot/e2e/utils/test-utils.ts
  tests/kit/src/utils/cloud.ts
Labels: app:server, test

#13120 fix(server): batch size in gemini embedding
  packages/backend/server/src/plugins/copilot/providers/gemini/gemini.ts
Labels: app:server

#13119 fix(core): old ai messages not cleared before retrying
  packages/frontend/core/src/blocksuite/ai/components/ai-chat-messages/ai-chat-messages.ts
  packages/frontend/core/src/blocksuite/ai/peek-view/chat-block-peek-view.ts
Labels: app:core

#13123 feat(core): remove scrollable-text-renderer's dependency on editor host
  packages/frontend/core/src/blocksuite/ai/actions/answer-renderer.ts
  packages/frontend/core/src/blocksuite/ai/ai-panel.ts
  packages/frontend/core/src/blocksuite/ai/components/ai-scrollable-text-renderer.ts
Labels: app:core

#13126 fix(core): some comment editor ux enhancements
  packages/frontend/core/src/components/comment/comment-editor/index.tsx
  packages/frontend/core/src/components/comment/sidebar/index.tsx
  packages/frontend/core/src/utils/resource.ts
  packages/frontend/i18n/src/i18n.gen.ts
  packages/frontend/i18n/src/resources/en.json
Labels: mod:i18n, app:core

#13130 chore(ios): fix ios version
  .github/actions/setup-version/action.yml
  .github/workflows/release-mobile.yml
  .github/workflows/release.yml
  packages/frontend/apps/ios/App/App.xcodeproj/project.pbxproj
  scripts/set-version.sh
Labels: mod:dev

#13129 chore(core): adjust ai page tab name
  packages/frontend/core/src/desktop/pages/workspace/chat/index.tsx
Labels: app:core

#13131 feat(core): disable pin chat while generating AI answers
  packages/frontend/core/src/blocksuite/ai/chat-panel/index.ts
  packages/frontend/core/src/blocksuite/ai/components/ai-chat-toolbar/ai-chat-toolbar.ts
  packages/frontend/core/src/desktop/pages/workspace/chat/index.tsx
Labels: app:core

#13127 fix(core): add missing tooltip effect for independent chat
  blocksuite/affine/all/package.json
  blocksuite/affine/all/src/components/tooltip.ts
  blocksuite/affine/components/package.json
  blocksuite/affine/components/src/toolbar/index.ts
  blocksuite/affine/components/src/tooltip/effect.ts
  blocksuite/affine/components/src/tooltip/index.ts
  blocksuite/affine/components/src/tooltip/tooltip.ts
  packages/frontend/core/src/blocksuite/ai/components/copy-more.ts
  packages/frontend/core/src/blocksuite/ai/effects.ts
Labels: app:core

#13133 feat(server): summary tools
  packages/backend/server/src/__tests__/copilot-provider.spec.ts
  packages/backend/server/src/plugins/copilot/prompt/prompts.ts
  packages/backend/server/src/plugins/copilot/providers/provider.ts
  packages/backend/server/src/plugins/copilot/providers/types.ts
  packages/backend/server/src/plugins/copilot/providers/utils.ts
  packages/backend/server/src/plugins/copilot/tools/conversation-summary.ts
  packages/backend/server/src/plugins/copilot/tools/index.ts
Labels: app:server, test

#13136 fix(core): cannot download comment files
  packages/frontend/core/src/modules/comment/entities/doc-comment-store.ts
  packages/frontend/core/src/utils/resource.ts
Labels: app:core

#13139 feat(server): export title and summary on doc resolver
  packages/backend/server/src/__tests__/e2e/doc/resolver.spec.ts
  packages/backend/server/src/__tests__/models/doc.spec.ts
  packages/backend/server/src/core/workspaces/resolvers/doc.ts
  packages/backend/server/src/models/doc.ts
  packages/backend/server/src/schema.gql
  packages/common/graphql/src/graphql/get-workspace-page-by-id.gql
  packages/common/graphql/src/graphql/index.ts
  packages/common/graphql/src/schema.ts
Labels: app:server, test

#13141 fix(core): doc reference error in ai answer
  packages/frontend/core/src/blocksuite/view-extensions/editor-view/editor-view.tsx
  packages/frontend/core/src/components/hooks/affine/use-ai-specs.ts
  packages/frontend/core/src/desktop/pages/workspace/chat/index.tsx
  packages/frontend/core/src/desktop/pages/workspace/detail-page/tabs/chat.tsx
Labels: app:core

#13142 fix(core): empty style for comment
  packages/frontend/core/src/components/comment/sidebar/style.css.ts
Labels: app:core

#13143 chore(server): add comment attachment storage metrics
  packages/backend/server/src/base/metrics/metrics.ts
  packages/backend/server/src/core/storage/wrappers/comment-attachment.ts
Labels: app:server

#13149 fix(core): load chat history content correctly
  packages/frontend/core/src/desktop/pages/workspace/chat/index.tsx
Labels: app:core

#13147 feat(core): render session title in ai session history
  packages/common/graphql/src/graphql/copilot-session-list-recent.gql
  packages/common/graphql/src/graphql/index.ts
  packages/frontend/core/src/blocksuite/ai/components/ai-chat-toolbar/ai-session-history.ts
Labels: app:core

#13150 test(core): add a simple test for comment
  tests/affine-cloud/e2e/comments.spec.ts
  tests/affine-cloud/playwright.config.ts
Labels: test

#13148 feat(server): add process memory usage metrics
  packages/backend/server/src/app.module.ts
  packages/backend/server/src/base/metrics/metrics.ts
  packages/backend/server/src/core/monitor/index.ts
  packages/backend/server/src/core/monitor/service.ts
Labels: app:server

#13153 fix(server): sse abort behavior
  packages/backend/server/src/plugins/copilot/controller.ts
Labels: app:server

#13154 feat(core): restore pinned chat for independent chat
  packages/common/graphql/src/fetcher.ts
  packages/frontend/core/src/blocksuite/ai/provider/copilot-client.ts
  packages/frontend/core/src/components/root-app-sidebar/index.tsx
  packages/frontend/core/src/desktop/pages/workspace/chat/index.tsx
Labels: app:core

#13151 chore(server): add detail for error
  packages/backend/server/src/base/error/def.ts
  packages/backend/server/src/base/error/errors.gen.ts
  packages/backend/server/src/models/copilot-context.ts
  packages/backend/server/src/models/copilot-workspace.ts
  packages/backend/server/src/plugins/copilot/context/service.ts
  packages/backend/server/src/plugins/copilot/controller.ts
  packages/backend/server/src/plugins/copilot/embedding/client.ts
  packages/backend/server/src/plugins/copilot/session.ts
  packages/backend/server/src/plugins/copilot/transcript/service.ts
  packages/backend/server/src/schema.gql
  packages/common/graphql/src/schema.ts
  packages/frontend/i18n/src/i18n.gen.ts
  packages/frontend/i18n/src/resources/en.json
Labels: mod:i18n, app:server

#13162 fix(server): ignore 409 status error on es delete query
  packages/backend/server/src/plugins/indexer/providers/elasticsearch.ts
Labels: app:server

#13152 fix(core): some artifact tools styling
  packages/frontend/core/src/blocksuite/ai/components/ai-chat-content/ai-chat-content.ts
  packages/frontend/core/src/blocksuite/ai/components/ai-chat-messages/ai-chat-messages.ts
  packages/frontend/core/src/blocksuite/ai/components/ai-tools/artifact-tool.ts
Labels: app:core

#13168 fix(editor): missing viewport selector in editor setting
  packages/frontend/core/src/desktop/dialogs/setting/general-setting/editor/edgeless/snapshot.tsx
Labels: app:core

#13166 fix(core): artifact rendering issue in standalone ai chat panel
  packages/frontend/core/src/blocksuite/ai/components/ai-chat-content/ai-chat-content.ts
  packages/frontend/core/src/blocksuite/ai/components/ai-chat-messages/ai-chat-messages.ts
  packages/frontend/core/src/blocksuite/ai/components/ai-message-content/stream-objects.ts
  packages/frontend/core/src/blocksuite/ai/components/ai-tools/doc-compose.ts
  packages/frontend/core/src/desktop/pages/workspace/chat/index.tsx
Labels: app:core

#13173 chore(server): enable schedule module by default
  packages/backend/server/src/app.module.ts
Labels: app:server

#13172 feat(core): update ai add context button ui
  packages/frontend/core/src/blocksuite/ai/chat-panel/index.ts
  packages/frontend/core/src/blocksuite/ai/components/ai-chat-add-context/ai-chat-add-context.ts
  packages/frontend/core/src/blocksuite/ai/components/ai-chat-add-context/index.ts
  packages/frontend/core/src/blocksuite/ai/components/ai-chat-add-context/type.ts
  packages/frontend/core/src/blocksuite/ai/components/ai-chat-chips/add-popover.ts
  packages/frontend/core/src/blocksuite/ai/components/ai-chat-chips/chat-panel-chips.ts
  packages/frontend/core/src/blocksuite/ai/components/ai-chat-chips/type.ts
  packages/frontend/core/src/blocksuite/ai/components/ai-chat-chips/utils.ts
  packages/frontend/core/src/blocksuite/ai/components/ai-chat-composer/ai-chat-composer.ts
  packages/frontend/core/src/blocksuite/ai/components/ai-chat-content/ai-chat-content.ts
  packages/frontend/core/src/blocksuite/ai/components/ai-chat-input/ai-chat-input.ts
  packages/frontend/core/src/blocksuite/ai/components/playground/chat.ts
  packages/frontend/core/src/blocksuite/ai/components/playground/content.ts
  packages/frontend/core/src/blocksuite/ai/effects.ts
  packages/frontend/core/src/blocksuite/ai/peek-view/chat-block-peek-view.ts
  tests/affine-cloud-copilot/e2e/utils/chat-panel-utils.ts
Labels: test, app:core

#13174 feat(server): add doc meta for semantic search
  packages/backend/server/src/plugins/copilot/providers/provider.ts
  packages/backend/server/src/plugins/copilot/tools/doc-semantic-search.ts
Labels: app:server

#13176 feat(core): add basic ui for doc search related tool calling
  packages/frontend/core/src/blocksuite/ai/components/ai-message-content/stream-objects.ts
  packages/frontend/core/src/blocksuite/ai/components/ai-tools/doc-keyword-search-result.ts
  packages/frontend/core/src/blocksuite/ai/components/ai-tools/doc-read-result.ts
  packages/frontend/core/src/blocksuite/ai/components/ai-tools/doc-semantic-search-result.ts
  packages/frontend/core/src/blocksuite/ai/components/ai-tools/tool-result-card.ts
  packages/frontend/core/src/blocksuite/ai/effects.ts
  packages/frontend/core/src/desktop/pages/workspace/chat/index.tsx
Labels: app:core

#13170 test: skip ai chat with multi tags test
  tests/affine-cloud-copilot/e2e/basic/chat.spec.ts
  tests/affine-cloud-copilot/e2e/chat-with/doc.spec.ts
  tests/affine-cloud-copilot/e2e/chat-with/tags.spec.ts
Labels: test

#13181 feat(server): add cron job for session cleanup
  packages/backend/server/src/__tests__/__snapshots__/copilot.spec.ts.md
  packages/backend/server/src/__tests__/__snapshots__/copilot.spec.ts.snap
  packages/backend/server/src/__tests__/copilot-provider.spec.ts
  packages/backend/server/src/__tests__/copilot.spec.ts
  packages/backend/server/src/__tests__/models/__snapshots__/copilot-session.spec.ts.md
  packages/backend/server/src/__tests__/models/__snapshots__/copilot-session.spec.ts.snap
  packages/backend/server/src/__tests__/models/copilot-session.spec.ts
  packages/backend/server/src/models/copilot-session.ts
  packages/backend/server/src/plugins/copilot/cron.ts
  packages/backend/server/src/plugins/copilot/index.ts
  packages/backend/server/src/plugins/copilot/prompt/prompts.ts
Labels: app:server, test

#13187 feat(core): ai intelligence track
  packages/frontend/core/src/blocksuite/ai/chat-panel/message/assistant.ts
  packages/frontend/core/src/blocksuite/ai/components/ai-chat-add-context/ai-chat-add-context.ts
  packages/frontend/core/src/blocksuite/ai/components/ai-chat-chips/add-popover.ts
  packages/frontend/core/src/blocksuite/ai/components/ai-chat-chips/chat-panel-chips.ts
  packages/frontend/core/src/blocksuite/ai/components/ai-chat-chips/doc-chip.ts
  packages/frontend/core/src/blocksuite/ai/components/ai-chat-composer/ai-chat-composer.ts
  packages/frontend/core/src/blocksuite/ai/components/ai-chat-content/ai-chat-content.ts
  packages/frontend/core/src/blocksuite/ai/components/ai-chat-input/ai-chat-input.ts
  packages/frontend/core/src/blocksuite/ai/components/ai-chat-messages/ai-chat-messages.ts
  packages/frontend/track/src/events.ts
  packages/frontend/track/src/index.ts
Labels: app:core

#13193 style(core): adjust sidebar new page button background
  packages/frontend/core/src/modules/app-sidebar/views/add-page-button/index.css.ts
Labels: app:core

#13191 fix(core): disable creating linked doc in sidebar when show linked is off
  packages/frontend/core/src/desktop/components/navigation-panel/nodes/doc/operations.tsx
Labels: app:core

#13189 feat(server): add generate title cron resolver
  packages/backend/server/src/__tests__/__snapshots__/copilot.spec.ts.md
  packages/backend/server/src/__tests__/__snapshots__/copilot.spec.ts.snap
  packages/backend/server/src/__tests__/models/copilot-session.spec.ts
  packages/backend/server/src/models/copilot-session.ts
  packages/backend/server/src/plugins/copilot/cron.ts
  packages/backend/server/src/plugins/copilot/resolver.ts
Labels: app:server, test

#13202 chore(core): change audio transcription job to use gemini 2.5 pro
  packages/backend/server/src/__tests__/mocks/copilot.mock.ts
  packages/backend/server/src/__tests__/utils/copilot.ts
  packages/backend/server/src/plugins/copilot/prompt/prompts.ts
Labels: app:server, test

#13199 feat(server): allow fork session to other doc
  packages/backend/server/src/__tests__/copilot.e2e.ts
  packages/backend/server/src/plugins/copilot/session.ts
Labels: app:server, test

#13200 feat(core): remount ai-chat-content when session changed
  packages/frontend/core/src/desktop/pages/workspace/chat/index.tsx
Labels: app:core

#13205 fix(editor): memory leak caused by missing unsubscription from autoUpdate
  blocksuite/affine/components/src/context-menu/sub-menu.ts
  blocksuite/affine/gfx/template/src/toolbar/template-tool-button.ts
  packages/frontend/core/src/blocksuite/ai/components/copy-more.ts
  packages/frontend/core/src/blocksuite/ai/widgets/edgeless-copilot/index.ts
Labels: app:server, app:core

#13155 feat: split individual semantic change
  packages/backend/server/src/plugins/copilot/prompt/prompts.ts
  packages/backend/server/src/plugins/copilot/providers/morph.ts
  packages/backend/server/src/plugins/copilot/providers/provider.ts
  packages/backend/server/src/plugins/copilot/providers/utils.ts
  packages/backend/server/src/plugins/copilot/resolver.ts
  packages/backend/server/src/plugins/copilot/tools/doc-edit.ts
  packages/backend/server/src/schema.gql
  packages/common/graphql/src/graphql/copilot-apply-doc-updates.gql
  packages/common/graphql/src/graphql/index.ts
  packages/common/graphql/src/schema.ts
  packages/frontend/core/src/blocksuite/ai/actions/types.ts
  packages/frontend/core/src/blocksuite/ai/components/ai-tools/doc-edit.ts
  packages/frontend/core/src/blocksuite/ai/provider/copilot-client.ts
  packages/frontend/core/src/blocksuite/ai/provider/setup-provider.tsx
  packages/frontend/core/src/blocksuite/ai/services/block-diff.ts
Labels: app:server, app:core

#13208 fix(core): comment empty style issue
  packages/frontend/core/src/components/comment/sidebar/style.css.ts
Labels: app:core

#13209 refactor(core): extract ai-chat-panel-title component
  packages/frontend/core/src/blocksuite/ai/chat-panel/ai-title.ts
  packages/frontend/core/src/blocksuite/ai/chat-panel/index.ts
  packages/frontend/core/src/blocksuite/ai/components/ai-chat-content/ai-chat-content.ts
  packages/frontend/core/src/blocksuite/ai/effects.ts
Labels: app:core

#13207 fix(core): error when delete tags
  packages/frontend/core/src/desktop/pages/workspace/tag/index.tsx
Labels: app:core

#13215 fix(core): sidebar ai layout
  packages/frontend/core/src/blocksuite/ai/chat-panel/ai-title.ts
  packages/frontend/core/src/blocksuite/ai/chat-panel/index.ts
Labels: app:core

#13214 feat(core): notification entry for mobile
  packages/frontend/core/src/components/notification/list.style.css.ts
  packages/frontend/core/src/components/notification/list.tsx
  packages/frontend/core/src/mobile/components/app-fallback/index.tsx
  packages/frontend/core/src/mobile/views/home-header/index.tsx
  packages/frontend/core/src/mobile/views/home-header/styles.css.ts
Labels: mod:component, app:core

#13217 feat(core): open doc in semantic and keyword result
  packages/frontend/core/src/blocksuite/ai/chat-panel/index.ts
  packages/frontend/core/src/blocksuite/ai/chat-panel/message/assistant.ts
  packages/frontend/core/src/blocksuite/ai/components/ai-chat-content/ai-chat-content.ts
  packages/frontend/core/src/blocksuite/ai/components/ai-chat-messages/ai-chat-messages.ts
  packages/frontend/core/src/blocksuite/ai/components/ai-message-content/stream-objects.ts
  packages/frontend/core/src/blocksuite/ai/components/ai-tools/doc-keyword-search-result.ts
  packages/frontend/core/src/blocksuite/ai/components/ai-tools/doc-semantic-search-result.ts
  packages/frontend/core/src/blocksuite/ai/components/ai-tools/tool-result-card.ts
  packages/frontend/core/src/desktop/pages/workspace/chat/index.tsx
Labels: app:core

#13211 feat(server): skip embedding for deprecated doc ids & empty docs
  packages/backend/server/src/__tests__/models/copilot-workspace.spec.ts
  packages/backend/server/src/models/copilot-workspace.ts
  packages/backend/server/src/plugins/copilot/embedding/job.ts
  packages/backend/server/src/plugins/copilot/resolver.ts
  packages/backend/server/src/schema.gql
  packages/common/graphql/src/schema.ts
  tests/affine-cloud-copilot/e2e/settings/embedding.spec.ts
Labels: app:server, test

#13221 feat(core): support lazy load for ai session history
  packages/frontend/core/src/blocksuite/ai/actions/types.ts
  packages/frontend/core/src/blocksuite/ai/chat-panel/ai-title.ts
  packages/frontend/core/src/blocksuite/ai/components/ai-chat-toolbar/ai-session-history.ts
  packages/frontend/core/src/blocksuite/ai/provider/copilot-client.ts
  packages/frontend/core/src/blocksuite/ai/provider/setup-provider.tsx
Labels: app:core

#13226 fix(core): prevent reload pinned chat infinitely
  packages/frontend/core/src/desktop/pages/workspace/chat/index.tsx
Labels: app:core

#13234 fix(core): demo workspace
  packages/frontend/core/src/modules/cloud/constant.ts
Labels: app:core

#13210 fix(core): apply insert in same position not refresh
  packages/frontend/core/src/blocksuite/ai/widgets/block-diff/block.ts
Labels: app:server, app:core

#13212 feat(core): highlight active session in history
  packages/frontend/core/src/blocksuite/ai/components/ai-chat-toolbar/ai-session-history.ts
Labels: app:core

#13235 fix(core): css var for apply delete diff
  packages/frontend/component/src/theme/global.css
Labels: mod:component

#13237 fix(core): optimize settings dialog's left sidebar scroll style
  packages/frontend/core/src/desktop/dialogs/setting/setting-sidebar/index.tsx
  packages/frontend/core/src/desktop/dialogs/setting/setting-sidebar/style.css.ts
Labels: app:core

#13240 feat(core): add a two-step confirm page to create new journal
  packages/frontend/core/src/blocksuite/block-suite-editor/journal-doc-title.tsx
  packages/frontend/core/src/blocksuite/block-suite-header/journal/date-picker.tsx
  packages/frontend/core/src/components/root-app-sidebar/journal-button.tsx
  packages/frontend/core/src/desktop/pages/journals/index.tsx
  packages/frontend/core/src/desktop/pages/workspace/detail-page/tabs/journal/index.tsx
  packages/frontend/core/src/desktop/pages/workspace/journals/index.css.ts
  packages/frontend/core/src/desktop/pages/workspace/journals/index.tsx
  packages/frontend/core/src/desktop/workbench-router.ts
  packages/frontend/i18n/src/i18n.gen.ts
  packages/frontend/i18n/src/resources/en.json
  tests/affine-desktop/e2e/tabs.spec.ts
  tests/affine-local/e2e/journal.spec.ts
  tests/affine-local/e2e/template.spec.ts
  tests/kit/src/utils/load-page.ts
Labels: mod:i18n, test, app:core

#13241 fix(editor): at-menu boundary in chat pannel
  blocksuite/affine/widgets/linked-doc/src/linked-doc-popover.ts
Labels: app:core

#13250 fix(core): comment action button bg color
  packages/frontend/core/src/components/comment/comment-editor/index.tsx
  packages/frontend/core/src/components/comment/sidebar/index.tsx
  packages/frontend/core/src/components/comment/sidebar/style.css.ts
Labels: app:core

#13238 fix(core): ai apply ui opt
  packages/frontend/core/src/blocksuite/ai/components/ai-tools/doc-edit.ts
Labels: app:core

#13253 feat(server): improve transcript
  packages/backend/server/src/plugins/copilot/prompt/prompts.ts
  packages/backend/server/src/plugins/copilot/providers/gemini/gemini.ts
  packages/backend/server/src/plugins/copilot/transcript/resolver.ts
  packages/backend/server/src/plugins/copilot/transcript/service.ts
  packages/backend/server/src/plugins/copilot/transcript/types.ts
Labels: app:server

#13249 fix(component): mobile menu bottom padding not work
  packages/frontend/component/src/ui/safe-area/style.css.ts
Labels: mod:component

#13252 feat(core): add ai draft service
  packages/frontend/core/src/blocksuite/ai/chat-panel/index.ts
  packages/frontend/core/src/blocksuite/ai/components/ai-chat-composer/ai-chat-composer.ts
  packages/frontend/core/src/blocksuite/ai/components/ai-chat-content/ai-chat-content.ts
  packages/frontend/core/src/blocksuite/ai/components/ai-chat-input/ai-chat-input.ts
  packages/frontend/core/src/desktop/pages/workspace/chat/index.tsx
  packages/frontend/core/src/desktop/pages/workspace/detail-page/tabs/chat.tsx
  packages/frontend/core/src/modules/ai-button/index.ts
  packages/frontend/core/src/modules/ai-button/services/ai-draft.ts
  packages/frontend/core/src/modules/index.ts
Labels: app:core

#13256 fix(core): share page should have basename correctly set
  packages/frontend/core/src/desktop/pages/workspace/share/share-page.tsx
Labels: app:core

#13254 refactor(core): align markdown conversion logic
  packages/backend/server/src/__tests__/e2e/doc-service/__snapshots__/controller.spec.ts.md
  packages/backend/server/src/__tests__/e2e/doc-service/__snapshots__/controller.spec.ts.snap
  packages/backend/server/src/core/doc/__tests__/__snapshots__/reader-from-database.spec.ts.md
  packages/backend/server/src/core/doc/__tests__/__snapshots__/reader-from-database.spec.ts.snap
  packages/backend/server/src/core/doc/__tests__/__snapshots__/reader-from-rpc.spec.ts.md
  packages/backend/server/src/core/doc/__tests__/__snapshots__/reader-from-rpc.spec.ts.snap
  packages/backend/server/src/core/utils/__tests__/__snapshots__/blocksute.spec.ts.md
  packages/backend/server/src/core/utils/__tests__/__snapshots__/blocksute.spec.ts.snap
  packages/backend/server/src/plugins/copilot/tools/doc-edit.ts
  packages/common/reader/__tests__/__snapshots__/reader.spec.ts.snap
  packages/common/reader/src/doc-parser/parser.ts
  packages/frontend/core/package.json
  packages/frontend/core/src/__tests__/ai/utils/apply-model/apply-patch-to-doc.spec.ts
  packages/frontend/core/src/blocksuite/ai/services/block-diff.ts
  packages/frontend/core/src/blocksuite/utils/markdown-utils.ts
  packages/frontend/core/tsconfig.json
  tools/utils/src/workspace.gen.ts
  yarn.lock
Labels: app:server, test, app:core

#13313 feat(core): add section edit tool
  oxlint.json
  packages/backend/server/src/__tests__/copilot-provider.spec.ts
  packages/backend/server/src/plugins/copilot/prompt/prompts.ts
  packages/backend/server/src/plugins/copilot/providers/provider.ts
  packages/backend/server/src/plugins/copilot/providers/types.ts
  packages/backend/server/src/plugins/copilot/tools/index.ts
  packages/backend/server/src/plugins/copilot/tools/section-edit.ts
  packages/frontend/core/src/blocksuite/ai/_common/chat-actions-handle.ts
  packages/frontend/core/src/blocksuite/ai/blocks/ai-chat-block/components/ai-chat-messages.ts
  packages/frontend/core/src/blocksuite/ai/chat-panel/message/assistant.ts
  packages/frontend/core/src/blocksuite/ai/components/ai-chat-input/ai-chat-input.ts
  packages/frontend/core/src/blocksuite/ai/components/ai-message-content/stream-objects.ts
  packages/frontend/core/src/blocksuite/ai/components/ai-tools/section-edit.ts
  packages/frontend/core/src/blocksuite/ai/components/ai-tools/web-search.ts
  packages/frontend/core/src/blocksuite/ai/effects.ts
Labels: app:server, test, app:core

#13258 feat(core): add context menu to card view
  packages/frontend/core/src/components/explorer/docs-view/doc-list-item.tsx
Labels: app:core

#13315 feat(core): cache navigation collapsed state
  packages/frontend/core/src/components/root-app-sidebar/index.tsx
  packages/frontend/core/src/desktop/components/navigation-panel/layouts/collapsible-section.tsx
  packages/frontend/core/src/desktop/components/navigation-panel/nodes/collection/index.tsx
  packages/frontend/core/src/desktop/components/navigation-panel/nodes/doc/index.tsx
  packages/frontend/core/src/desktop/components/navigation-panel/nodes/folder/index.tsx
  packages/frontend/core/src/desktop/components/navigation-panel/nodes/tag/index.tsx
  packages/frontend/core/src/desktop/components/navigation-panel/nodes/types.ts
  packages/frontend/core/src/desktop/components/navigation-panel/sections/collections/index.tsx
  packages/frontend/core/src/desktop/components/navigation-panel/sections/favorites/index.tsx
  packages/frontend/core/src/desktop/components/navigation-panel/sections/migration-favorites/index.tsx
  packages/frontend/core/src/desktop/components/navigation-panel/sections/organize/index.tsx
  packages/frontend/core/src/desktop/components/navigation-panel/sections/tags/index.tsx
  packages/frontend/core/src/mobile/components/navigation/layouts/collapsible-section.tsx
  packages/frontend/core/src/mobile/components/navigation/nodes/collection/index.tsx
  packages/frontend/core/src/mobile/components/navigation/nodes/doc/index.tsx
  packages/frontend/core/src/mobile/components/navigation/nodes/folder/index.tsx
  packages/frontend/core/src/mobile/components/navigation/nodes/tag/index.tsx
  packages/frontend/core/src/mobile/components/navigation/sections/collections/index.tsx
  packages/frontend/core/src/mobile/components/navigation/sections/favorites/index.tsx
  packages/frontend/core/src/mobile/components/navigation/sections/organize/index.tsx
  packages/frontend/core/src/mobile/components/navigation/sections/tags/index.tsx
  packages/frontend/core/src/mobile/views/recent-docs/index.tsx
  packages/frontend/core/src/modules/navigation-panel/entities/navigation-panel-section.ts
  packages/frontend/core/src/modules/navigation-panel/index.ts
  packages/frontend/core/src/modules/navigation-panel/services/navigation-panel.ts
  packages/frontend/core/src/modules/navigation-panel/types.ts
Labels: app:core

#13320 feat(editor): put current user in first on database user select
  blocksuite/affine/shared/src/services/user-service/user-service.ts
  packages/frontend/core/src/blocksuite/database-block/properties/member/multi-member-select/index.tsx
  packages/frontend/core/src/blocksuite/view-extensions/cloud/index.ts
  packages/frontend/core/src/blocksuite/view-extensions/cloud/user.ts
Labels: app:core

#13265 fix(core): nav sidebar should have default bg
  packages/frontend/core/src/modules/app-sidebar/views/index.css.ts
Labels: app:core

#13335 feat: paged query for outdated embedding cleanup
  packages/backend/server/src/plugins/copilot/cron.ts
Labels: app:server

#13349 fix(core): fallback to default icon if image icon load error
  packages/frontend/core/src/blocksuite/ai/components/ai-tools/tool-result-card.ts
Labels: app:core

#13361 fix(core): ai chat with text e2e falky
  tests/affine-cloud-copilot/e2e/chat-with/text.spec.ts
Labels: test

#13360 feat(server): enhance chat prompt with motivational content
  packages/backend/server/src/plugins/copilot/prompt/prompts.ts
Labels: app:server

#13348 feat(server): attachment embedding
  packages/backend/server/migrations/20250728033348_workspace_blob_embedding/migration.sql
  packages/backend/server/schema.prisma
  packages/backend/server/src/__tests__/copilot.spec.ts
  packages/backend/server/src/__tests__/models/__snapshots__/copilot-workspace.spec.ts.md
  packages/backend/server/src/__tests__/models/__snapshots__/copilot-workspace.spec.ts.snap
  packages/backend/server/src/__tests__/models/copilot-context.spec.ts
  packages/backend/server/src/__tests__/models/copilot-workspace.spec.ts
  packages/backend/server/src/__tests__/utils/copilot.ts
  packages/backend/server/src/models/common/copilot.ts
  packages/backend/server/src/models/copilot-context.ts
  packages/backend/server/src/models/copilot-workspace.ts
  packages/backend/server/src/plugins/copilot/context/resolver.ts
  packages/backend/server/src/plugins/copilot/context/service.ts
  packages/backend/server/src/plugins/copilot/context/session.ts
  packages/backend/server/src/plugins/copilot/embedding/job.ts
  packages/backend/server/src/plugins/copilot/embedding/types.ts
  packages/backend/server/src/schema.gql
  packages/common/graphql/src/graphql/copilot-context-blob-add.gql
  packages/common/graphql/src/graphql/copilot-context-blob-remove.gql
  packages/common/graphql/src/graphql/copilot-context-doc-add.gql
  packages/common/graphql/src/graphql/copilot-context-list-object.gql
  packages/common/graphql/src/graphql/index.ts
  packages/common/graphql/src/schema.ts
  packages/frontend/core/src/blocksuite/ai/components/ai-chat-composer/ai-chat-composer.ts
Labels: app:server, test, app:core

#13298 feat(server): basic mcp server
  packages/backend/server/package.json
  packages/backend/server/src/plugins/copilot/context/resolver.ts
  packages/backend/server/src/plugins/copilot/index.ts
  packages/backend/server/src/plugins/copilot/mcp/controller.ts
  packages/backend/server/src/plugins/copilot/mcp/provider.ts
  packages/backend/server/src/plugins/copilot/tools/doc-semantic-search.ts
  packages/backend/server/src/plugins/copilot/types.ts
  packages/backend/server/src/plugins/copilot/utils.ts
  packages/backend/server/src/plugins/copilot/workspace/resolver.ts
  yarn.lock
Labels: app:server

#13373 fix(core): remove network search button on ask ai input
  packages/frontend/core/src/blocksuite/ai/widgets/ai-panel/components/state/input.ts
Labels: app:core

#13362 feat(core): open external link in web search result
  packages/frontend/core/src/blocksuite/ai/components/ai-tools/tool-result-card.ts
  packages/frontend/core/src/blocksuite/ai/components/ai-tools/web-search.ts
Labels: app:server, test, app:core

#13312 feat(core): extract md & snapshot & attachments from selected
  blocksuite/affine/blocks/root/src/edgeless/index.ts
  packages/frontend/core/package.json
  packages/frontend/core/src/blocksuite/ai/components/ai-chat-content/ai-chat-content.ts
  packages/frontend/core/src/blocksuite/ai/components/ai-chat-content/type.ts
  packages/frontend/core/src/blocksuite/ai/components/ai-chat-input/type.ts
  packages/frontend/core/src/blocksuite/ai/components/playground/chat.ts
  packages/frontend/core/src/blocksuite/ai/utils/attachment.ts
  packages/frontend/core/src/blocksuite/ai/utils/extract.ts
  packages/frontend/core/src/blocksuite/ai/utils/selection-utils.ts
  packages/frontend/core/tsconfig.json
  tools/utils/src/workspace.gen.ts
  yarn.lock
Labels: app:core

#13377 feat(server): add fallback smtp config
  .docker/selfhost/schema.json
  packages/backend/server/src/core/mail/config.ts
  packages/backend/server/src/core/mail/sender.ts
  packages/frontend/admin/src/config.json
Labels: app:server

#13376 refactor(core): ai menu grouping & text
  packages/frontend/core/src/blocksuite/ai/_common/config.ts
  packages/frontend/core/src/blocksuite/ai/entries/edgeless/actions-config.ts
  packages/frontend/core/src/blocksuite/ai/provider/ai-provider.ts
Labels: app:core
