Repository toeverything/AFFiNE, pull requests merged in 2025-03, with the labels that each got.

#10539 feat: prevent cycle emit in slot
  blocksuite/framework/global/src/__tests__/slot.unit.spec.ts
  blocksuite/framework/global/src/utils/slot.ts
Labels: test

#10547 refactor(editor): remove stable feature flags
  blocksuite/affine/block-embed/src/embed-linked-doc-block/embed-edgeless-linked-doc-block.ts
  blocksuite/affine/block-embed/src/embed-linked-doc-block/embed-linked-doc-block.ts
  blocksuite/affine/block-root/src/widgets/element-toolbar/change-embed-card-button.ts
  blocksuite/affine/block-root/src/widgets/embed-card-toolbar/embed-card-toolbar.ts
  blocksuite/affine/components/src/rich-text/inline/presets/nodes/reference-node/reference-popup.ts
  blocksuite/affine/shared/src/services/feature-flag-service.ts
  blocksuite/integration-test/src/__tests__/utils/setup.ts
  packages/frontend/core/src/modules/feature-flag/constant.ts
Labels: test, app:core

#10548 feat(editor): add block meta feature flag
  blocksuite/affine/shared/src/services/feature-flag-service.ts
  packages/frontend/core/src/modules/feature-flag/constant.ts
  packages/frontend/i18n/src/i18n.gen.ts
  packages/frontend/i18n/src/resources/en.json
Labels: mod:i18n, app:core, merge

#10504 feat(editor): support zooming placeholder in turbo renderer
  blocksuite/affine/block-root/src/edgeless/edgeless-root-block.ts
  blocksuite/affine/shared/src/viewport-renderer/renderer-utils.ts
  blocksuite/affine/shared/src/viewport-renderer/types.ts
  blocksuite/affine/shared/src/viewport-renderer/viewport-renderer.ts
  blocksuite/framework/block-std/src/gfx/viewport.ts
Labels: test, app:core

#10445 fix(electron): app menu about action
  packages/frontend/apps/electron-renderer/src/app.tsx
  packages/frontend/core/src/components/hooks/use-register-workspace-commands.ts
Labels: app:core

#10553 chore: unify Cargo deps versions
  Cargo.lock
  Cargo.toml
  packages/backend/server/migrations/migration_lock.toml
  packages/common/native/Cargo.toml
  packages/frontend/apps/android/App/gradle/libs.versions.toml
Labels: app:server, rust

#10554 ci: fix native server build
  .github/actions/build-rust/action.yml
  packages/backend/native/package.json
  packages/frontend/native/package.json
  yarn.lock
Labels: mod:native, mod:server-native

#10578 fix(server): limit max batch pulled doc updates
  packages/backend/server/src/models/doc.ts
Labels: app:server

#10576 feat(core): support latex in ai text renderer
  packages/frontend/core/src/blocksuite/ai/components/text-renderer.ts
Labels: app:core

#10582 fix(native): do not crash on bootstrap if API is not available
  packages/frontend/native/media_capture/src/macos/screen_capture_kit.rs
Labels: rust, mod:native

#10583 fix(server): reschedule busy doc merging
  packages/backend/server/src/core/doc-service/job.ts
Labels: app:server

#10580 fix(editor): zindex of frame child not updated
  blocksuite/framework/block-std/src/gfx/layer.ts
  tests/affine-local/e2e/blocksuite/edgeless/frame.spec.ts
Labels: test

#10584 fix(core): only enable attachment preview for pdf
  blocksuite/affine/block-attachment/src/attachment-block.ts
Labels: app:core

#10587 fix(core): add ai 7 day trial hint
  packages/frontend/core/src/blocksuite/ai/messages/error.ts
  packages/frontend/core/src/blocksuite/ai/widgets/ai-panel/components/state/error.ts
Labels: app:core

#10581 chore(editor): add feature flag entry for testing turbo renderer
  blocksuite/blocks/src/index.ts
  packages/frontend/core/src/blocksuite/block-suite-editor/lit-adaper.tsx
  packages/frontend/core/src/modules/feature-flag/constant.ts
Labels: app:core

#10589 fix(editor): onChange notification for flat model
  blocksuite/framework/store/src/__tests__/block.unit.spec.ts
  blocksuite/framework/store/src/model/block/block.ts
  blocksuite/framework/store/src/model/block/flat-sync-controller.ts
  blocksuite/framework/store/src/model/block/sync-controller.ts
  blocksuite/framework/store/src/model/block/types.ts
  blocksuite/framework/store/src/reactive/flat-native-y.ts
  blocksuite/tests-legacy/e2e/utils/actions/misc.ts
Labels: test

#10595 fix(core): add ai math syntax in prompt
  packages/backend/server/src/plugins/copilot/prompt/prompts.ts
Labels: app:server

#10606 fix(core): positioning error in fixed floating submenu
  packages/frontend/core/src/blocksuite/ai/components/ai-item/ai-item-list.ts
Labels: app:core, Bug

#10610 refactor(editor): move figma squircle to shared
  blocksuite/affine/components/src/smooth-corner/index.ts
  blocksuite/affine/shared/src/utils/figma-squircle/distribute.ts
  blocksuite/affine/shared/src/utils/figma-squircle/draw.ts
  blocksuite/affine/shared/src/utils/figma-squircle/index.ts
  blocksuite/affine/shared/src/utils/index.ts
  blocksuite/blocks/src/index.ts
  blocksuite/framework/global/src/__tests__/slot.unit.spec.ts
  blocksuite/framework/global/src/__tests__/utils.unit.spec.ts
  blocksuite/framework/global/src/exceptions/index.ts
  blocksuite/framework/global/src/utils.ts
  blocksuite/framework/global/src/utils/index.ts
  packages/frontend/core/src/mobile/components/search-input/index.tsx
Labels: test, app:core

#10607 fix(core): text style is not centered when chat-panel is wide
  packages/frontend/core/src/blocksuite/ai/chat-panel/chat-panel-messages.ts
  packages/frontend/core/src/blocksuite/ai/chat-panel/index.ts
  packages/frontend/core/src/blocksuite/ai/components/text-renderer.ts
  tests/affine-cloud-copilot/e2e/copilot.spec.ts
Labels: test, app:core

#10402 feat(server): add user existence check and optimize permission queries
  packages/backend/server/src/__tests__/models/user.spec.ts
  packages/backend/server/src/base/graphql/pagination.ts
  packages/backend/server/src/core/workspaces/resolvers/doc.ts
  packages/backend/server/src/models/user.ts
Labels: app:server, test

#10614 fix(web): add Array#toSpliced and Array#toReversed polyfill
  packages/frontend/core/src/bootstrap/polyfill/array-to-spliced.ts
  packages/frontend/core/src/bootstrap/polyfill/browser.ts
Labels: app:core

#10488 fix(core): fix table text content search
  packages/frontend/core/src/modules/docs-search/entities/docs-indexer.ts
  packages/frontend/core/src/modules/docs-search/worker/in-worker.ts
Labels: app:core

#10619 feat(core): add clipper import interface
  packages/common/nbstore/src/frontend/doc.ts
  packages/frontend/core/src/desktop/pages/import-clipper/index.tsx
  packages/frontend/core/src/desktop/pages/import-clipper/style.css.ts
  packages/frontend/core/src/desktop/router.tsx
  packages/frontend/core/src/modules/import-clipper/index.ts
  packages/frontend/core/src/modules/import-clipper/services/import.ts
  packages/frontend/core/src/modules/import-template/entities/dialog.ts
  packages/frontend/core/src/modules/import-template/index.ts
  packages/frontend/core/src/modules/index.ts
  packages/frontend/i18n/src/i18n.gen.ts
  packages/frontend/i18n/src/resources/en.json
Labels: mod:i18n, app:core

#10621 fix(core): fix sign in background arts block user interaction
  packages/frontend/core/src/components/sign-in/background-arts/style.css.ts
Labels: app:core

#10603 feat(server): add invalid oauth callback code error handling
  packages/backend/server/src/base/error/def.ts
  packages/backend/server/src/base/error/errors.gen.ts
  packages/backend/server/src/plugins/oauth/controller.ts
  packages/backend/server/src/plugins/oauth/providers/github.ts
  packages/backend/server/src/plugins/oauth/providers/google.ts
  packages/backend/server/src/schema.gql
Labels: app:server

#10623 fix(web): add Array#toReversed polyfill
  packages/frontend/core/src/bootstrap/polyfill/array-to-reversed.ts
  packages/frontend/core/src/bootstrap/polyfill/browser.ts
Labels: app:core

#10620 feat: responsive chat-panel padding and request
  packages/frontend/core/src/blocksuite/ai/chat-panel/chat-config.ts
  packages/frontend/core/src/blocksuite/ai/chat-panel/chat-panel-messages.ts
  packages/frontend/core/src/blocksuite/ai/chat-panel/index.ts
  packages/frontend/core/src/desktop/pages/workspace/detail-page/tabs/chat.tsx
Labels: app:core

#10627 feat(core): add user list service for blocksuite
  blocksuite/affine/shared/src/services/user-service/types.ts
  eslint.config.mjs
  packages/common/infra/package.json
  packages/common/infra/src/livedata/livedata.ts
  packages/frontend/core/src/blocksuite/block-suite-editor/lit-adaper.tsx
  packages/frontend/core/src/blocksuite/extensions/user-list.ts
  packages/frontend/core/src/modules/doc-info/services/doc-database-backlinks.ts
  packages/frontend/core/src/modules/doc-info/utils.ts
  yarn.lock
Labels: mod:infra, app:core

#10629 refactor(editor): remove assert functions
  blocksuite/affine/block-latex/src/commands.ts
  blocksuite/affine/block-root/src/edgeless/components/auto-complete/auto-complete-panel.ts
  blocksuite/affine/block-root/src/edgeless/components/toolbar/mindmap/basket-elements.ts
  blocksuite/affine/block-root/src/edgeless/utils/text.ts
  blocksuite/affine/block-root/src/widgets/page-dragging-area/page-dragging-area.ts
  blocksuite/affine/block-surface/src/managers/connector-manager.ts
  blocksuite/affine/data-view/src/view-presets/table/pc/controller/drag-to-fill.ts
  blocksuite/affine/shared/src/utils/model/checker.ts
  blocksuite/framework/global/src/utils/index.ts
  blocksuite/framework/global/src/utils/is-equal.ts
  blocksuite/framework/inline/src/services/range.ts
  blocksuite/integration-test/vitest.config.ts
  blocksuite/tests-legacy/e2e/edgeless/linked-doc.spec.ts
  eslint.config.mjs
  packages/frontend/core/src/components/affine/page-history-modal/data.ts
  packages/frontend/core/src/modules/workspace/services/transform.ts
  packages/frontend/core/src/utils/toast.ts
Labels: app:core

#10630 chore: adjust share menu styles
  packages/frontend/admin/src/modules/layout.tsx
  packages/frontend/component/src/ui/divider/divider.tsx
  packages/frontend/core/src/components/doc-properties/icons/icons-selector.css.ts
  packages/frontend/core/src/components/doc-properties/menu/edit-doc-property.tsx
Labels: mod:component, app:core

#10625 fix(core): add missing control of modifyDocDefaultRole track event
  packages/frontend/core/src/modules/share-menu/view/share-menu/general-access/members-permission.tsx
  packages/frontend/track/src/events.ts
Labels: app:core

#10631 refactor(core): adjust sentry config
  packages/frontend/apps/android/src/index.tsx
  packages/frontend/apps/electron-renderer/src/index.tsx
  packages/frontend/apps/electron/src/main/index.ts
  packages/frontend/apps/electron/src/main/ui/handlers.ts
  packages/frontend/apps/ios/src/index.tsx
  packages/frontend/apps/mobile/src/index.tsx
  packages/frontend/apps/web/src/index.tsx
  packages/frontend/core/src/modules/desktop-api/service/desktop-api.ts
  packages/frontend/track/src/mixpanel.ts
Labels: app:electron, app:core

#10592 refactor(server): merge PageModel into DocModel
  packages/backend/server/src/__tests__/models/doc.spec.ts
  packages/backend/server/src/core/workspaces/resolvers/workspace.ts
  packages/backend/server/src/models/doc.ts
  packages/backend/server/src/models/index.ts
  packages/backend/server/src/models/page.ts
Labels: app:server, test

#10543 fix: prevent sentry from loading when telemetry is disabled
  packages/frontend/apps/android/src/index.tsx
  packages/frontend/apps/electron-renderer/src/index.tsx
  packages/frontend/apps/ios/src/index.tsx
  packages/frontend/apps/mobile/src/index.tsx
  packages/frontend/apps/web/package.json
  packages/frontend/apps/web/src/index.tsx
  packages/frontend/core/src/bootstrap/browser.ts
  packages/frontend/core/src/bootstrap/electron.ts
  packages/frontend/core/src/bootstrap/telemetry.ts
  packages/frontend/core/src/components/telemetry/index.tsx
  packages/frontend/core/src/desktop/dialogs/setting/general-setting/about/index.tsx
  packages/frontend/track/package.json
  packages/frontend/track/src/index.ts
  packages/frontend/track/src/mixpanel.ts
  packages/frontend/track/src/sentry.ts
  yarn.lock
Labels: mod:infra, mod:i18n, mod:component, app:electron, app:server, test, rust, mod:native, app:core, mod:server-native

#10593 refactor(server): use DocModel to access doc meta
  packages/backend/server/src/__tests__/workspace/controller.spec.ts
  packages/backend/server/src/core/doc-renderer/__tests__/controller.spec.ts
  packages/backend/server/src/core/doc-renderer/controller.ts
  packages/backend/server/src/core/permission/__tests__/doc.spec.ts
  packages/backend/server/src/core/permission/__tests__/workspace.spec.ts
  packages/backend/server/src/core/permission/doc.ts
  packages/backend/server/src/core/permission/workspace.ts
  packages/backend/server/src/core/workspaces/controller.ts
  packages/backend/server/src/core/workspaces/resolvers/doc.ts
  packages/backend/server/src/models/doc.ts
  packages/backend/server/src/models/workspace.ts
Labels: app:server, test

#10638 chore(server): return parent id of sessions
  packages/backend/server/src/plugins/copilot/resolver.ts
  packages/backend/server/src/plugins/copilot/session.ts
  packages/backend/server/src/schema.gql
  packages/frontend/graphql/src/graphql/copilot-sessions-get.gql
  packages/frontend/graphql/src/graphql/index.ts
  packages/frontend/graphql/src/graphql/workspace-role-permissions.gql
  packages/frontend/graphql/src/schema.ts
Labels: app:server

#10570 feat(core): support create new template in starter-bar
  packages/frontend/core/src/blocksuite/block-suite-editor/starter-bar.tsx
  packages/frontend/core/src/components/root-app-sidebar/template-doc-entrance.tsx
  packages/frontend/core/src/modules/template-doc/view/template-list-menu.tsx
Labels: app:core

#10634 fix(core): can not clear chat-panel history
  packages/frontend/core/src/blocksuite/ai/actions/types.ts
  packages/frontend/core/src/blocksuite/ai/chat-panel/index.ts
  tests/affine-cloud-copilot/e2e/copilot.spec.ts
Labels: test, app:core

#10645 chore: adjust discord link
  README.md
  packages/frontend/core/src/desktop/dialogs/import/index.tsx
  packages/frontend/core/src/desktop/dialogs/setting/general-setting/about/config.tsx
  packages/frontend/core/src/desktop/dialogs/setting/general-setting/experimental-features/index.tsx
Labels: docs, app:core

#10637 refactor(core): replace ai icons
  packages/frontend/core/src/blocksuite/ai/_common/chat-actions-handle.ts
  packages/frontend/core/src/blocksuite/ai/_common/config.ts
  packages/frontend/core/src/blocksuite/ai/_common/icons.ts
  packages/frontend/core/src/blocksuite/ai/actions/edgeless-response.ts
  packages/frontend/core/src/blocksuite/ai/ai-panel.ts
  packages/frontend/core/src/blocksuite/ai/chat-panel/actions/action-wrapper.ts
  packages/frontend/core/src/blocksuite/ai/chat-panel/chat-panel-input.ts
  packages/frontend/core/src/blocksuite/ai/chat-panel/chat-panel-messages.ts
  packages/frontend/core/src/blocksuite/ai/chat-panel/index.ts
  packages/frontend/core/src/blocksuite/ai/chat-panel/preload-config.ts
  packages/frontend/core/src/blocksuite/ai/components/ai-item/styles.ts
  packages/frontend/core/src/blocksuite/ai/entries/edgeless/actions-config.ts
  packages/frontend/core/src/blocksuite/ai/messages/error.ts
  packages/frontend/core/src/blocksuite/ai/peek-view/chat-block-input.ts
  packages/frontend/core/src/blocksuite/ai/peek-view/chat-block-peek-view.ts
Labels: app:core

#10646 feat(core): doc level awareness
  blocksuite/affine/widget-remote-selection/src/manager/remote-color-manager.ts
  blocksuite/framework/store/src/model/workspace.ts
  packages/frontend/core/src/components/affine/awareness/index.tsx
  packages/frontend/core/src/components/providers/workspace-side-effects.tsx
  packages/frontend/core/src/desktop/pages/workspace/detail-page/detail-page-wrapper.tsx
  packages/frontend/core/src/modules/cloud/index.ts
  packages/frontend/core/src/modules/cloud/services/editor-user-cursor-label.ts
  packages/frontend/core/src/modules/doc/events/index.ts
  packages/frontend/core/src/modules/doc/services/docs.ts
  packages/frontend/core/src/modules/editor/events/index.ts
  packages/frontend/core/src/modules/editor/services/editors.ts
  packages/frontend/core/src/modules/workspace/entities/workspace.ts
  packages/frontend/core/src/modules/workspace/impls/doc.ts
  packages/frontend/core/src/modules/workspace/impls/workspace.ts
Labels: app:core

#10636 fix(core): missing clean up subscription
  packages/frontend/core/src/blocksuite/ai/chat-panel/index.ts
  packages/frontend/core/src/blocksuite/ai/provider/request.ts
  packages/frontend/core/src/desktop/pages/workspace/detail-page/tabs/chat.tsx
Labels: app:core

#10653 fix(server): reuse params in retry
  packages/backend/server/src/__tests__/__snapshots__/copilot.spec.ts.md
  packages/backend/server/src/__tests__/__snapshots__/copilot.spec.ts.snap
  packages/backend/server/src/__tests__/copilot.spec.ts
  packages/backend/server/src/plugins/copilot/controller.ts
  packages/backend/server/src/plugins/copilot/session.ts
Labels: app:server, test

#10657 refactor(editor): use lodash
  blocksuite/affine/block-root/src/edgeless/clipboard/clipboard.ts
  blocksuite/affine/block-root/src/edgeless/components/rects/edgeless-selected-rect.ts
  blocksuite/affine/block-root/src/edgeless/components/toolbar/template/builtin-templates.ts
  blocksuite/affine/block-root/src/edgeless/gfx-tool/default-tool-ext/event-ext.ts
  blocksuite/affine/block-root/src/edgeless/gfx-tool/default-tool-ext/mind-map-ext/drag-utils.ts
  blocksuite/affine/block-root/src/edgeless/gfx-tool/default-tool-ext/mind-map-ext/indicator-overlay.ts
  blocksuite/affine/block-root/src/edgeless/gfx-tool/default-tool.ts
  blocksuite/affine/block-root/src/edgeless/utils/clipboard-utils.ts
  blocksuite/affine/block-root/src/widgets/element-toolbar/change-brush-button.ts
  blocksuite/affine/block-root/src/widgets/element-toolbar/change-connector-button.ts
  blocksuite/affine/block-root/src/widgets/element-toolbar/change-frame-button.ts
  blocksuite/affine/block-root/src/widgets/element-toolbar/change-mindmap-button.ts
  blocksuite/affine/block-root/src/widgets/element-toolbar/change-note-button.ts
  blocksuite/affine/block-root/src/widgets/element-toolbar/change-shape-button.ts
  blocksuite/affine/block-root/src/widgets/element-toolbar/change-text-menu.ts
  blocksuite/affine/block-root/src/widgets/element-toolbar/index.ts
  blocksuite/affine/block-surface-ref/package.json
  blocksuite/affine/block-surface/package.json
  blocksuite/affine/block-surface/src/commands/auto-align.ts
  blocksuite/affine/block-surface/src/managers/connector-manager.ts
  blocksuite/affine/block-surface/src/renderer/canvas-renderer.ts
  blocksuite/affine/block-surface/src/utils/mindmap/utils.ts
  blocksuite/affine/data-view/package.json
  blocksuite/affine/data-view/src/view-presets/table/pc/controller/drag-to-fill.ts
  blocksuite/affine/model/package.json
  blocksuite/affine/model/src/elements/group/group.ts
  blocksuite/affine/model/src/elements/mindmap/mindmap.ts
  blocksuite/affine/model/src/elements/mindmap/style.ts
  blocksuite/affine/shared/src/__tests__/utils/iterable.unit.spec.ts
  blocksuite/affine/shared/src/adapters/notion-html/delta-converter.ts
  blocksuite/affine/shared/src/adapters/utils/text.ts
  blocksuite/affine/widget-drag-handle/src/watchers/drag-event-watcher.ts
  blocksuite/affine/widget-remote-selection/src/edgeless/index.ts
  blocksuite/framework/block-std/src/gfx/controller.ts
  blocksuite/framework/block-std/src/gfx/layer.ts
  blocksuite/framework/block-std/src/gfx/model/surface/element-model.ts
  blocksuite/framework/block-std/src/gfx/selection.ts
  blocksuite/framework/block-std/src/utils/layer.ts
  blocksuite/framework/global/src/__tests__/utils.unit.spec.ts
  blocksuite/framework/global/src/utils/index.ts
  blocksuite/framework/global/src/utils/is-equal.ts
  blocksuite/framework/global/src/utils/iterable.ts
  blocksuite/framework/global/src/utils/types.ts
  blocksuite/framework/sync/package.json
  blocksuite/framework/sync/src/doc/peer.ts
  yarn.lock
Labels: test

#10661 fix(editor): circular dependencies
  blocksuite/affine/block-note/package.json
  blocksuite/affine/block-note/src/note-spec.ts
  blocksuite/affine/block-root/src/common-specs/index.ts
  blocksuite/affine/block-root/src/configs/toolbar.ts
  blocksuite/affine/block-root/tsconfig.json
  blocksuite/affine/widget-toolbar/tsconfig.json
  packages/frontend/apps/web/tsconfig.json
  packages/frontend/graphql/tsconfig.json
  packages/frontend/i18n/src/i18n-completenesses.json
  packages/frontend/i18n/src/i18n.gen.ts
  packages/frontend/i18n/src/resources/en.json
  tools/utils/src/workspace.gen.ts
  yarn.lock
Labels: mod:i18n

#10663 fix(core): runtime control of telemetry
  packages/common/infra/src/atom/root-store.ts
  packages/common/infra/src/atom/settings.ts
  packages/frontend/core/src/bootstrap/telemetry.ts
  packages/frontend/core/src/components/telemetry/index.tsx
  packages/frontend/track/src/sentry.ts
Labels: mod:infra, app:core

#10566 feat(server): use zod parse to impl input validation
  packages/backend/server/src/__tests__/nestjs/error-handler.spec.ts
  packages/backend/server/src/base/error/def.ts
  packages/backend/server/src/base/error/errors.gen.ts
  packages/backend/server/src/base/nestjs/exception.ts
  packages/backend/server/src/models/common/schema.ts
  packages/backend/server/src/schema.gql
Labels: app:server, test

#10668 feat(editor): life cycle ext
  blocksuite/affine/block-embed/src/common/render-linked-doc.ts
  blocksuite/affine/block-root/src/widgets/element-toolbar/change-note-button.ts
  blocksuite/affine/components/src/embed-card-modal/embed-card-edit-modal.ts
  blocksuite/affine/components/src/notification/linked-doc.ts
  blocksuite/framework/block-std/src/extension/editor-life-cycle.ts
  blocksuite/framework/block-std/src/extension/index.ts
  blocksuite/framework/block-std/src/scope/block-std-scope.ts
  blocksuite/framework/block-std/src/view/element/lit-host.ts
  packages/backend/server/src/schema.gql
Labels: app:server

#10505 feat(server): add doc title and summary to database
  packages/backend/server/migrations/20250303102501_add_workspace_doc_title_and_summary/migration.sql
  packages/backend/server/schema.prisma
  packages/backend/server/src/__tests__/models/doc.spec.ts
  packages/backend/server/src/core/doc/__tests__/event.spec.ts
  packages/backend/server/src/core/doc/__tests__/reader-from-database.spec.ts
  packages/backend/server/src/core/doc/adapters/workspace.ts
  packages/backend/server/src/core/doc/event.ts
  packages/backend/server/src/core/doc/reader.ts
  packages/backend/server/src/models/doc.ts
  packages/backend/server/src/schema.gql
Labels: app:server, test

#10513 feat(server): add workspace name and avatarKey to database
  packages/backend/server/migrations/20250303104449_add_workspace_name_and_avatar_key/migration.sql
  packages/backend/server/schema.prisma
  packages/backend/server/src/core/doc/__tests__/event.spec.ts
  packages/backend/server/src/core/doc/__tests__/reader-from-database.spec.ts
  packages/backend/server/src/core/doc/event.ts
  packages/backend/server/src/core/doc/reader.ts
  packages/backend/server/src/core/storage/wrappers/blob.ts
  packages/backend/server/src/models/workspace.ts
Labels: app:server, test

#10053 feat(server): notification system
  packages/backend/server/migrations/20250303105325-notification/migration.sql
  packages/backend/server/schema.prisma
  packages/backend/server/src/__tests__/utils/index.ts
  packages/backend/server/src/__tests__/utils/notification.ts
  packages/backend/server/src/__tests__/utils/testing-app.ts
  packages/backend/server/src/app.module.ts
  packages/backend/server/src/base/error/def.ts
  packages/backend/server/src/base/error/errors.gen.ts
  packages/backend/server/src/base/graphql/pagination.ts
  packages/backend/server/src/core/notification/__tests__/resolver.e2e.ts
  packages/backend/server/src/core/notification/__tests__/service.spec.ts
  packages/backend/server/src/core/notification/index.ts
  packages/backend/server/src/core/notification/job.ts
  packages/backend/server/src/core/notification/resolver.ts
  packages/backend/server/src/core/notification/service.ts
  packages/backend/server/src/core/notification/types.ts
  packages/backend/server/src/models/__tests__/notification.spec.ts
  packages/backend/server/src/models/index.ts
  packages/backend/server/src/models/notification.ts
  packages/backend/server/src/schema.gql
Labels: app:server, test

#10434 feat(server): get public user by id
  packages/backend/server/src/__tests__/models/user.spec.ts
  packages/backend/server/src/__tests__/user/user.e2e.ts
  packages/backend/server/src/__tests__/utils/user.ts
  packages/backend/server/src/core/user/index.ts
  packages/backend/server/src/core/user/resolver.ts
  packages/backend/server/src/core/user/types.ts
  packages/backend/server/src/core/workspaces/event.ts
  packages/backend/server/src/core/workspaces/resolvers/doc.ts
  packages/backend/server/src/core/workspaces/resolvers/service.ts
  packages/backend/server/src/core/workspaces/resolvers/workspace.ts
  packages/backend/server/src/models/user.ts
  packages/backend/server/src/plugins/payment/service.ts
  packages/backend/server/src/schema.gql
Labels: app:server, test

#10641 refactor(editor): add slash menu config extension entry
  blocksuite/affine/widget-slash-menu/src/config.ts
  blocksuite/affine/widget-slash-menu/src/consts.ts
  blocksuite/affine/widget-slash-menu/src/effects.ts
  blocksuite/affine/widget-slash-menu/src/extensions.ts
  blocksuite/affine/widget-slash-menu/src/index.ts
  blocksuite/affine/widget-slash-menu/src/slash-menu-popover.ts
  blocksuite/affine/widget-slash-menu/src/tooltips/index.ts
  blocksuite/affine/widget-slash-menu/src/types.ts
  blocksuite/affine/widget-slash-menu/src/utils.ts
  blocksuite/affine/widget-slash-menu/src/widget.ts
  blocksuite/tests-legacy/e2e/slash-menu.spec.ts
  packages/frontend/core/src/blocksuite/ai/entries/slash-menu/setup-slash-menu.ts
  packages/frontend/core/src/blocksuite/ai/extensions/ai-edgeless-root.ts
  packages/frontend/core/src/blocksuite/ai/extensions/ai-page-root.ts
  packages/frontend/core/src/blocksuite/extensions/quick-search-service.ts
Labels: app:core

#10685 fix(core): should invoke cleanup fn when ai sub item list is removed
  packages/frontend/core/src/blocksuite/ai/components/ai-item/ai-item-list.ts
  packages/frontend/core/src/blocksuite/ai/components/ai-item/ai-sub-item-list.ts
  tests/affine-cloud-copilot/e2e/copilot.spec.ts
Labels: test, app:core

#10664 fix: block should not be selectable when dragged into note
  blocksuite/framework/block-std/src/gfx/controller.ts
  blocksuite/framework/block-std/src/gfx/grid.ts
  blocksuite/framework/block-std/src/gfx/layer.ts
  blocksuite/framework/block-std/src/scope/block-std-scope.ts
  packages/frontend/core/src/blocksuite/ai/utils/template-job.ts
Labels: app:core

#10674 refactor(editor): image slash menu config extension
  blocksuite/affine/block-callout/src/configs/slash-menu.ts
  blocksuite/affine/block-image/package.json
  blocksuite/affine/block-image/src/configs/slash-menu.ts
  blocksuite/affine/block-image/src/configs/tooltips.ts
  blocksuite/affine/block-image/src/image-spec.ts
  blocksuite/affine/block-image/tsconfig.json
  blocksuite/affine/widget-slash-menu/package.json
  blocksuite/affine/widget-slash-menu/src/config.ts
  blocksuite/affine/widget-slash-menu/src/tooltips/index.ts
  blocksuite/affine/widget-slash-menu/tsconfig.json
  tools/utils/src/workspace.gen.ts
  yarn.lock
Labels: test, app:core

#10690 fix(server): correct "Administrators" typo in permissions
  packages/backend/server/src/core/permission/__tests__/__snapshots__/actions.spec.ts.md
  packages/backend/server/src/core/permission/__tests__/__snapshots__/actions.spec.ts.snap
  packages/backend/server/src/core/permission/types.ts
  packages/backend/server/src/core/workspaces/resolvers/workspace.ts
  packages/backend/server/src/schema.gql
  packages/frontend/graphql/src/graphql/index.ts
  packages/frontend/graphql/src/graphql/workspace-role-permissions.gql
  packages/frontend/graphql/src/schema.ts
Labels: app:server, test

#10695 feat(core): add public user service
  blocksuite/affine/shared/src/services/user-service/user-service.ts
  blocksuite/tests-legacy/tsconfig.json
  packages/frontend/core/src/blocksuite/block-suite-editor/lit-adaper.tsx
  packages/frontend/core/src/blocksuite/extensions/user.ts
  packages/frontend/core/src/modules/cloud/index.ts
  packages/frontend/core/src/modules/cloud/services/public-user.ts
  packages/frontend/core/src/modules/cloud/stores/public-user.ts
  packages/frontend/graphql/src/graphql/get-public-user-by-id.gql
  packages/frontend/graphql/src/graphql/index.ts
  packages/frontend/graphql/src/schema.ts
Labels: app:core

#10696 fix(editor): improve backspace ux for callout block
  blocksuite/affine/block-callout/src/callout-keymap.ts
  blocksuite/affine/block-callout/src/callout-spec.ts
  blocksuite/affine/block-paragraph/src/utils/merge-with-prev.ts
  tests/affine-local/e2e/blocksuite/callout/callout.spec.ts
  tests/kit/src/utils/keyboard.ts
Labels: test

#10680 refactor(editor): ai slash menu config extension
  blocksuite/affine/widget-slash-menu/src/config.ts
  blocksuite/affine/widget-slash-menu/src/index.ts
  blocksuite/affine/widget-slash-menu/src/types.ts
  blocksuite/affine/widget-slash-menu/src/utils.ts
  blocksuite/affine/widget-slash-menu/src/widget.ts
  blocksuite/tests-legacy/e2e/slash-menu.spec.ts
  packages/frontend/core/src/blocksuite/ai/extensions/ai-edgeless-root.ts
  packages/frontend/core/src/blocksuite/ai/extensions/ai-page-root.ts
  packages/frontend/core/src/blocksuite/ai/extensions/ai-slash-menu.ts
Labels: app:core

#10571 feat(core): support removing journal template from right sidebar
  packages/frontend/core/src/desktop/pages/workspace/detail-page/tabs/journal/template-setting.tsx
  packages/frontend/i18n/src/resources/en.json
Labels: mod:i18n, app:core

#10684 refactor(editor): data view slash menu config extension
  blocksuite/affine/block-data-view/package.json
  blocksuite/affine/block-data-view/src/configs/slash-menu.ts
  blocksuite/affine/block-data-view/src/configs/tooltips.ts
  blocksuite/affine/block-data-view/tsconfig.json
  tools/utils/src/workspace.gen.ts
  yarn.lock
Labels: mod:i18n, test, app:core

#10624 perf(editor): lazy DOM update with idle state in gfx viewport
  blocksuite/affine/shared/src/viewport-renderer/renderer-utils.ts
  blocksuite/affine/shared/src/viewport-renderer/types.ts
  blocksuite/affine/shared/src/viewport-renderer/viewport-renderer.ts
  blocksuite/framework/block-std/src/gfx/viewport-element.ts
  blocksuite/framework/block-std/src/gfx/viewport.ts
  blocksuite/framework/block-std/src/view/element/gfx-block-component.ts
  packages/frontend/core/src/blocksuite/ai/utils/selection-utils.ts
  packages/frontend/core/src/desktop/dialogs/setting/general-setting/editor/edgeless/connector.tsx
  packages/frontend/core/src/desktop/dialogs/setting/general-setting/editor/edgeless/mind-map.tsx
  packages/frontend/core/src/desktop/dialogs/setting/general-setting/editor/edgeless/pen.tsx
  packages/frontend/core/src/desktop/dialogs/setting/general-setting/editor/edgeless/shape.tsx
  packages/frontend/core/src/desktop/dialogs/setting/general-setting/editor/edgeless/utils.ts
Labels: app:core

#10698 fix(editor): should show toolbar after mouse is released
  blocksuite/affine/blocks/block-root/src/widgets/page-dragging-area/page-dragging-area.ts
  blocksuite/affine/widgets/widget-toolbar/src/toolbar.ts
  tests/affine-local/e2e/blocksuite/paragraph.spec.ts
  tests/affine-local/e2e/blocksuite/toolbar.spec.ts
  tests/kit/src/utils/editor.ts
Labels: test

#10706 feat(server): improve gql measure
  packages/backend/server/src/base/graphql/logger-plugin.ts
Labels: app:server

#10727 feat(editor): add viewport element service
  blocksuite/affine/blocks/block-root/src/edgeless/components/frame/frame-preview.ts
  blocksuite/affine/blocks/block-root/src/edgeless/edgeless-root-block.ts
  blocksuite/affine/blocks/block-root/src/edgeless/edgeless-root-preview-block.ts
  blocksuite/affine/blocks/block-root/src/edgeless/edgeless-root-spec.ts
  blocksuite/affine/blocks/block-root/src/page/page-root-block.ts
  blocksuite/affine/blocks/block-root/src/page/page-root-spec.ts
  blocksuite/affine/blocks/block-surface-ref/src/index.ts
  blocksuite/affine/blocks/block-surface-ref/src/surface-ref-block.ts
  blocksuite/affine/blocks/block-surface-ref/src/types.ts
  blocksuite/affine/shared/src/services/index.ts
  blocksuite/affine/shared/src/services/viewport-element-service.ts
  packages/frontend/core/src/desktop/dialogs/setting/general-setting/editor/edgeless/snapshot.tsx
Labels: app:core

#10747 refactor(editor): implement uni-component in AFFiNE
  blocksuite/affine/data-view/src/core/data-view.ts
  blocksuite/affine/data-view/src/core/detail/detail.ts
  blocksuite/affine/data-view/src/core/detail/field.ts
  blocksuite/affine/data-view/src/core/expression/types.ts
  blocksuite/affine/data-view/src/core/group-by/types.ts
  blocksuite/affine/data-view/src/core/property/base-cell.ts
  blocksuite/affine/data-view/src/core/property/manager.ts
  blocksuite/affine/data-view/src/core/property/renderer.ts
  blocksuite/affine/data-view/src/core/utils/uni-component/operation.ts
  blocksuite/affine/data-view/src/core/utils/uni-component/uni-component.ts
  blocksuite/affine/data-view/src/core/view-manager/property.ts
  blocksuite/affine/data-view/src/core/view-manager/single-view.ts
  blocksuite/affine/data-view/src/core/view/data-view.ts
  blocksuite/affine/data-view/src/core/widget/types.ts
  blocksuite/affine/data-view/src/view-presets/kanban/mobile/cell.ts
  blocksuite/affine/data-view/src/view-presets/kanban/pc/cell.ts
  blocksuite/affine/data-view/src/view-presets/table/mobile/cell.ts
  blocksuite/affine/data-view/src/view-presets/table/pc/cell.ts
  blocksuite/affine/shared/src/types/index.ts
  blocksuite/affine/shared/src/types/uni-component.ts
  packages/frontend/component/src/lit-react/lit-portal/index.ts
  packages/frontend/component/src/lit-react/lit-portal/uni-component.tsx
  packages/frontend/core/src/components/context/index.tsx
Labels: mod:component, app:core

#10745 refactor(editor): add gfx turbo renderer package
  blocksuite/affine/all/package.json
  blocksuite/affine/all/src/gfx/turbo-renderer.ts
  blocksuite/affine/all/src/shared/viewport-renderer.ts
  blocksuite/affine/all/tsconfig.json
  blocksuite/affine/gfx/turbo-renderer/package.json
  blocksuite/affine/gfx/turbo-renderer/src/index.ts
  blocksuite/affine/gfx/turbo-renderer/src/painter.worker.ts
  blocksuite/affine/gfx/turbo-renderer/src/renderer-utils.ts
  blocksuite/affine/gfx/turbo-renderer/src/text-utils.ts
  blocksuite/affine/gfx/turbo-renderer/src/turbo-renderer.ts
  blocksuite/affine/gfx/turbo-renderer/src/types.ts
  blocksuite/affine/gfx/turbo-renderer/tsconfig.json
  blocksuite/affine/shared/package.json
  blocksuite/affine/shared/src/viewport-renderer/index.ts
  blocksuite/integration-test/src/__tests__/edgeless/viewport-renderer.spec.ts
  blocksuite/integration-test/src/__tests__/utils/renderer-entry.ts
  blocksuite/integration-test/src/__tests__/utils/setup.ts
  packages/frontend/core/src/blocksuite/block-suite-editor/lit-adaper.tsx
  tools/utils/src/workspace.gen.ts
  tsconfig.json
  yarn.lock
Labels: test, app:core

#10480 feat(core): add notification list
  packages/frontend/component/src/ui/avatar/avatar.tsx
  packages/frontend/component/src/ui/avatar/style.css.ts
  packages/frontend/core/src/components/hooks/use-global-state.ts
  packages/frontend/core/src/components/notification/list.style.css.ts
  packages/frontend/core/src/components/notification/list.tsx
  packages/frontend/core/src/components/root-app-sidebar/index.tsx
  packages/frontend/core/src/components/root-app-sidebar/notification-button.style.css.ts
  packages/frontend/core/src/components/root-app-sidebar/notification-button.tsx
  packages/frontend/core/src/desktop/components/document-title/index.tsx
  packages/frontend/core/src/desktop/pages/workspace/detail-page/detail-page.tsx
  packages/frontend/core/src/desktop/pages/workspace/layouts/workspace-layout.tsx
  packages/frontend/core/src/desktop/pages/workspace/share/share-page.tsx
  packages/frontend/core/src/mobile/pages/workspace/detail/mobile-detail-page.tsx
  packages/frontend/core/src/modules/app-sidebar/views/menu-item/index.css.ts
  packages/frontend/core/src/modules/app-sidebar/views/menu-item/index.tsx
  packages/frontend/core/src/modules/cloud/events/server-initialized.ts
  packages/frontend/core/src/modules/cloud/index.ts
  packages/frontend/core/src/modules/cloud/services/servers.ts
  packages/frontend/core/src/modules/index.ts
  packages/frontend/core/src/modules/notification/index.ts
  packages/frontend/core/src/modules/notification/services/count.ts
  packages/frontend/core/src/modules/notification/services/list.ts
  packages/frontend/core/src/modules/notification/stores/notification.ts
  packages/frontend/graphql/src/graphql/index.ts
  packages/frontend/graphql/src/graphql/list-notifications.gql
  packages/frontend/graphql/src/graphql/notification-count.gql
  packages/frontend/graphql/src/graphql/read-notification.gql
  packages/frontend/graphql/src/schema.ts
  packages/frontend/i18n/src/i18n.gen.ts
  packages/frontend/i18n/src/resources/en.json
Labels: mod:i18n, mod:component, app:server, test, app:core

#10761 feat(server): ban account
  packages/backend/server/migrations/20250311072215_disable_account/migration.sql
  packages/backend/server/migrations/migration_lock.toml
  packages/backend/server/schema.prisma
  packages/backend/server/src/__tests__/models/session.spec.ts
  packages/backend/server/src/__tests__/models/user.spec.ts
  packages/backend/server/src/core/auth/service.ts
  packages/backend/server/src/core/auth/session.ts
  packages/backend/server/src/core/user/resolver.ts
  packages/backend/server/src/core/user/types.ts
  packages/backend/server/src/models/doc-user.ts
  packages/backend/server/src/models/session.ts
  packages/backend/server/src/models/user.ts
  packages/backend/server/src/models/workspace-user.ts
  packages/backend/server/src/plugins/payment/service.ts
  packages/backend/server/src/schema.gql
Labels: app:server, test

#10762 feat(server): import users
  packages/backend/server/src/core/user/resolver.ts
  packages/backend/server/src/models/user.ts
  packages/backend/server/src/schema.gql
Labels: app:server

#10767 feat(server): allow check available version to upgrade
  packages/backend/server/src/core/config/resolver.ts
  packages/backend/server/src/schema.gql
Labels: app:server

#10744 feat(server): support making doc private in workspace
  packages/backend/server/src/core/permission/__tests__/__snapshots__/actions.spec.ts.md
  packages/backend/server/src/core/permission/__tests__/__snapshots__/actions.spec.ts.snap
  packages/backend/server/src/core/permission/__tests__/actions.spec.ts
  packages/backend/server/src/core/permission/__tests__/doc.spec.ts
  packages/backend/server/src/core/permission/doc.ts
  packages/backend/server/src/core/permission/types.ts
  packages/backend/server/src/models/common/role.ts
Labels: app:server, test

#10725 fix(server): nullable value for parent id
  packages/backend/server/src/plugins/copilot/context/resolver.ts
  packages/backend/server/src/plugins/copilot/resolver.ts
  packages/backend/server/src/plugins/copilot/session.ts
  packages/backend/server/src/plugins/copilot/types.ts
  packages/backend/server/src/schema.gql
  packages/frontend/graphql/src/schema.ts
Labels: app:server

#10775 chore(server): update gql schema
  packages/backend/server/src/schema.gql
Labels: app:server

#10754 feat(core): add blocksuite writer info service
  blocksuite/affine/shared/src/services/block-meta-service.ts
  blocksuite/affine/shared/src/services/user-service/index.ts
  blocksuite/affine/shared/src/services/user-service/user-service.ts
  blocksuite/affine/shared/src/services/user-service/writer-info-service.ts
  packages/frontend/core/src/blocksuite/block-suite-editor/lit-adaper.tsx
  packages/frontend/core/src/blocksuite/extensions/user.ts
  packages/frontend/core/src/modules/cloud/index.ts
  packages/frontend/core/src/modules/cloud/services/blocksuite-writer-info.ts
  packages/frontend/core/src/modules/cloud/services/editor-user-cursor-label.ts
  packages/frontend/core/src/modules/workspace/impls/doc.ts
  packages/frontend/core/src/modules/workspace/services/repo.ts
Labels: app:server, app:core

#10648 refactor(server): improve oauth login flow
  packages/backend/server/src/__tests__/oauth/controller.spec.ts
  packages/backend/server/src/base/error/def.ts
  packages/backend/server/src/base/error/errors.gen.ts
  packages/backend/server/src/plugins/oauth/controller.ts
  packages/backend/server/src/plugins/oauth/service.ts
  packages/backend/server/src/schema.gql
  packages/frontend/apps/ios/App/App/Plugins/Auth/AuthPlugin.swift
  packages/frontend/apps/ios/src/app.tsx
  packages/frontend/apps/ios/src/plugins/auth/definitions.ts
  packages/frontend/core/src/components/affine/auth/oauth.tsx
  packages/frontend/core/src/modules/cloud/impl/auth.ts
  packages/frontend/core/src/modules/cloud/provider/auth.ts
  packages/frontend/core/src/modules/cloud/services/auth.ts
  packages/frontend/core/src/modules/cloud/stores/auth.ts
  tools/@types/build-config/__all.d.ts
  tools/utils/src/build-config.ts
Labels: app:server, test, app:core

#10736 refactor(server): improve magic link login flow
  packages/backend/server/src/__tests__/auth/controller.spec.ts
  packages/backend/server/src/core/auth/controller.ts
  packages/frontend/apps/ios/App/App/Plugins/Auth/AuthPlugin.swift
  packages/frontend/apps/ios/src/app.tsx
  packages/frontend/apps/ios/src/plugins/auth/definitions.ts
  packages/frontend/core/src/modules/cloud/impl/auth.ts
  packages/frontend/core/src/modules/cloud/provider/auth.ts
  packages/frontend/core/src/modules/cloud/services/auth.ts
  packages/frontend/core/src/modules/cloud/stores/auth.ts
Labels: app:server, test, app:core

#10760 chore(core): extend workflow timeout
  packages/frontend/core/src/blocksuite/ai/provider/setup-provider.tsx
Labels: app:core

#10687 fix(core): assert app schema url on open-app
  packages/frontend/core/src/desktop/pages/open-app/index.tsx
  packages/frontend/core/src/utils/channel.ts
Labels: app:core

#10777 fix(core): handle Content-Type with charset in fetch error handling
  packages/frontend/core/src/modules/cloud/services/fetch.ts
Labels: app:core

#10782 fix(core): wrong top margin of local workspace hint in setting panel
  packages/frontend/core/src/desktop/dialogs/setting/workspace-setting/preference/enable-cloud.tsx
Labels: app:core

#10700 fix(server): only return workspace user fields
  packages/backend/server/src/models/common/user.ts
  packages/backend/server/src/models/user.ts
  packages/backend/server/src/models/workspace-user.ts
Labels: app:server

#10779 feat(core): adjust web clipper page
  packages/frontend/component/src/components/auth-components/auth-header.tsx
  packages/frontend/core/src/desktop/pages/auth/sign-in.tsx
  packages/frontend/core/src/desktop/pages/import-clipper/index.tsx
  packages/frontend/core/src/desktop/pages/import-clipper/style.css.ts
  packages/frontend/core/src/modules/import-clipper/services/import.ts
Labels: mod:component, app:core

#10805 feat(core): update blocksuite icons
  blocksuite/affine/blocks/block-attachment/package.json
  blocksuite/affine/blocks/block-bookmark/package.json
  blocksuite/affine/blocks/block-callout/package.json
  blocksuite/affine/blocks/block-code/package.json
  blocksuite/affine/blocks/block-data-view/package.json
  blocksuite/affine/blocks/block-database/package.json
  blocksuite/affine/blocks/block-edgeless-text/package.json
  blocksuite/affine/blocks/block-embed/package.json
  blocksuite/affine/blocks/block-image/package.json
  blocksuite/affine/blocks/block-latex/package.json
  blocksuite/affine/blocks/block-list/package.json
  blocksuite/affine/blocks/block-note/package.json
  blocksuite/affine/blocks/block-root/package.json
  blocksuite/affine/blocks/block-surface-ref/package.json
  blocksuite/affine/blocks/block-table/package.json
  blocksuite/affine/components/package.json
  blocksuite/affine/data-view/package.json
  blocksuite/affine/fragments/fragment-doc-title/package.json
  blocksuite/affine/fragments/fragment-frame-panel/package.json
  blocksuite/affine/fragments/fragment-outline/package.json
  blocksuite/affine/gfx/text/package.json
  blocksuite/affine/rich-text/package.json
  blocksuite/affine/shared/package.json
  blocksuite/affine/widgets/widget-drag-handle/package.json
  blocksuite/affine/widgets/widget-edgeless-auto-connect/package.json
  blocksuite/affine/widgets/widget-remote-selection/package.json
  blocksuite/affine/widgets/widget-slash-menu/package.json
  blocksuite/affine/widgets/widget-toolbar/package.json
  blocksuite/integration-test/package.json
  blocksuite/playground/package.json
  packages/frontend/apps/android/package.json
  packages/frontend/apps/ios/package.json
  packages/frontend/apps/mobile/package.json
  packages/frontend/component/package.json
  packages/frontend/core/package.json
  packages/frontend/core/src/components/doc-properties/icons/constant.ts
  packages/frontend/core/src/components/doc-properties/types/constant.tsx
  yarn.lock
Labels: mod:component, app:core

#10740 feat(editor): support embed iframe block
  blocksuite/affine/all/src/adapters/html/block-matcher.ts
  blocksuite/affine/all/src/adapters/markdown/block-matcher.ts
  blocksuite/affine/all/src/adapters/plain-text/block-matcher.ts
  blocksuite/affine/all/src/extensions/store.ts
  blocksuite/affine/blocks/block-embed/src/effects.ts
  blocksuite/affine/blocks/block-embed/src/embed-iframe-block/adapters/html.ts
  blocksuite/affine/blocks/block-embed/src/embed-iframe-block/adapters/index.ts
  blocksuite/affine/blocks/block-embed/src/embed-iframe-block/adapters/markdown.ts
  blocksuite/affine/blocks/block-embed/src/embed-iframe-block/adapters/plain-text.ts
  blocksuite/affine/blocks/block-embed/src/embed-iframe-block/components/embed-iframe-create-modal.ts
  blocksuite/affine/blocks/block-embed/src/embed-iframe-block/components/embed-iframe-error-card.ts
  blocksuite/affine/blocks/block-embed/src/embed-iframe-block/components/embed-iframe-link-edit-popup.ts
  blocksuite/affine/blocks/block-embed/src/embed-iframe-block/components/embed-iframe-loading-card.ts
  blocksuite/affine/blocks/block-embed/src/embed-iframe-block/configs/index.ts
  blocksuite/affine/blocks/block-embed/src/embed-iframe-block/configs/providers/google-drive.ts
  blocksuite/affine/blocks/block-embed/src/embed-iframe-block/configs/providers/index.ts
  blocksuite/affine/blocks/block-embed/src/embed-iframe-block/configs/providers/spotify.ts
  blocksuite/affine/blocks/block-embed/src/embed-iframe-block/configs/slash-menu/slash-menu.ts
  blocksuite/affine/blocks/block-embed/src/embed-iframe-block/configs/slash-menu/tooltip.ts
  blocksuite/affine/blocks/block-embed/src/embed-iframe-block/configs/toolbar.ts
  blocksuite/affine/blocks/block-embed/src/embed-iframe-block/embed-iframe-block.ts
  blocksuite/affine/blocks/block-embed/src/embed-iframe-block/embed-iframe-spec.ts
  blocksuite/affine/blocks/block-embed/src/embed-iframe-block/extension/embed-iframe-config.ts
  blocksuite/affine/blocks/block-embed/src/embed-iframe-block/extension/embed-iframe-service.ts
  blocksuite/affine/blocks/block-embed/src/embed-iframe-block/extension/index.ts
  blocksuite/affine/blocks/block-embed/src/embed-iframe-block/index.ts
  blocksuite/affine/blocks/block-embed/src/embed-iframe-block/style.ts
  blocksuite/affine/blocks/block-embed/src/embed-iframe-block/utils.ts
  blocksuite/affine/blocks/block-embed/src/index.ts
  blocksuite/affine/model/src/blocks/embed/iframe/iframe-model.ts
  blocksuite/affine/model/src/blocks/embed/iframe/iframe-schema.ts
  blocksuite/affine/model/src/blocks/embed/iframe/index.ts
  blocksuite/affine/model/src/blocks/embed/index.ts
  blocksuite/affine/model/src/blocks/embed/types.ts
  blocksuite/affine/shared/src/services/feature-flag-service.ts
  packages/frontend/core/src/blocksuite/extensions/editor-config/toolbar/index.ts
  packages/frontend/core/src/modules/feature-flag/constant.ts
  packages/frontend/i18n/src/i18n.gen.ts
  packages/frontend/i18n/src/resources/en.json
Labels: mod:i18n, app:core

#10795 feat(core): add tag-chip and collection-chip lit components
  packages/frontend/core/src/blocksuite/ai/chat-panel/chat-context.ts
  packages/frontend/core/src/blocksuite/ai/chat-panel/components/collection-chip.ts
  packages/frontend/core/src/blocksuite/ai/chat-panel/components/tag-chip.ts
  packages/frontend/core/src/blocksuite/ai/effects.ts
Labels: mod:component, app:core

#10756 fix(core): unsub in LiveData.fromSignal
  packages/common/infra/src/livedata/livedata.ts
Labels: mod:infra

#10804 fix(server): failed to resolve user importing result
  packages/backend/server/src/core/user/resolver.ts
Labels: app:server

#10799 feat(editor): add isLocal flag in blockUpdated subject
  blocksuite/framework/store/src/__tests__/block.unit.spec.ts
  blocksuite/framework/store/src/model/block/block.ts
  blocksuite/framework/store/src/model/block/flat-sync-controller.ts
  blocksuite/framework/store/src/model/block/sync-controller.ts
  blocksuite/framework/store/src/model/block/types.ts
  blocksuite/framework/store/src/model/doc.ts
  blocksuite/framework/store/src/model/store/store.ts
  blocksuite/framework/store/src/reactive/base-reactive-data.ts
  blocksuite/framework/store/src/reactive/boxed.ts
  blocksuite/framework/store/src/reactive/flat-native-y.ts
  blocksuite/framework/store/src/reactive/proxy.ts
  blocksuite/framework/store/src/reactive/text.ts
  blocksuite/framework/store/src/reactive/types.ts
  blocksuite/framework/store/src/test/test-doc.ts
  packages/frontend/core/src/modules/workspace/impls/doc.ts
Labels: test, app:core

#10807 chore(server): revert doc write restriction
  packages/backend/server/src/core/sync/gateway.ts
Labels: app:server

#10806 chore(editor): at menu stays open when left right arrow keys are pressed
  blocksuite/affine/blocks/block-root/src/widgets/linked-doc/linked-doc-popover.ts
  blocksuite/tests-legacy/e2e/linked-page.spec.ts
  tests/affine-local/e2e/blocksuite/at-menu.spec.ts
Labels: test

#10817 feat(editor): add ui for display block meta in toolbar
  blocksuite/framework/global/src/lit/index.ts
  blocksuite/framework/global/src/lit/watch.ts
  packages/frontend/core/src/blocksuite/extensions/editor-config/toolbar/index.ts
Labels: app:core

#10814 fix(electron): add back updater
  packages/frontend/apps/electron/src/main/index.ts
Labels: app:electron

#10818 refactor(editor): make turbo renderer a gfx extension
  blocksuite/affine/gfx/turbo-renderer/src/turbo-renderer.ts
  blocksuite/integration-test/src/__tests__/utils/renderer-entry.ts
Labels: test

#10808 chore(editor): use at menu to insert linked doc
  packages/frontend/core/src/blocksuite/extensions/quick-search-service.ts
  tests/affine-local/e2e/quick-search.spec.ts
Labels: test, app:core

#10822 chore(core): doc role telemetry
  packages/frontend/core/src/modules/share-menu/view/share-menu/general-access/members-permission.tsx
  packages/frontend/core/src/modules/share-menu/view/share-menu/member-management/member-item.tsx
  packages/frontend/graphql/src/schema.ts
  packages/frontend/track/src/events.ts
Labels: app:core

#10825 fix(infra): use framework stack provider
  packages/common/infra/src/framework/core/index.ts
  packages/common/infra/src/framework/core/provider.ts
  packages/common/infra/src/framework/react/index.tsx
Labels: mod:infra

#10827 chore(server): add pro user for testing with extended workspace member limit
  docs/developing-server.md
  packages/backend/server/src/core/auth/service.ts
  packages/backend/server/src/core/workspaces/resolvers/service.ts
Labels: docs, app:server

#10826 fix(electron): electron fallback container should not contain tabs header
  packages/frontend/core/src/desktop/components/app-container/index.tsx
Labels: app:core

#10813 feat(core): add an entry for admin panel
  packages/frontend/core/src/components/root-app-sidebar/user-info.tsx
  packages/frontend/core/src/modules/cloud/entities/user-feature.ts
  packages/frontend/i18n/src/i18n-completenesses.json
  packages/frontend/i18n/src/i18n.gen.ts
  packages/frontend/i18n/src/resources/en.json
Labels: mod:i18n, app:core

#10831 feat(editor): add i18n support for block meta display
  blocksuite/affine/blocks/block-paragraph/tsconfig.json
  blocksuite/affine/gfx/turbo-renderer/tsconfig.json
  packages/frontend/core/src/blocksuite/extensions/editor-config/toolbar/index.ts
  packages/frontend/i18n/src/i18n-completenesses.json
  packages/frontend/i18n/src/i18n.gen.ts
  packages/frontend/i18n/src/resources/en.json
  tools/utils/src/workspace.gen.ts
Labels: mod:i18n, app:core

#10765 fix(core): should not invert label when its shape text
  packages/frontend/core/src/desktop/dialogs/setting/general-setting/editor/edgeless/shape.tsx
  packages/frontend/core/src/desktop/dialogs/setting/general-setting/editor/utils.ts
Labels: app:core

#10721 feat(editor): is nothing selected command
  blocksuite/affine/shared/src/commands/selection/index.ts
  blocksuite/affine/shared/src/commands/selection/is-nothing-selected.ts
Labels: app:server

#10757 test(editor): getFirstContentBlock & getLastContentBlock & isNothingSelected command
  blocksuite/affine/shared/src/__tests__/commands/block-crud/get-first-content-block.unit.spec.ts
  blocksuite/affine/shared/src/__tests__/commands/block-crud/get-last-content-block.unit.spec.ts
  blocksuite/affine/shared/src/__tests__/commands/selection/is-nothing-selected.unit.spec.ts
  blocksuite/affine/shared/src/__tests__/helpers/README.md
  blocksuite/affine/shared/src/__tests__/helpers/affine-template.ts
  blocksuite/affine/shared/src/__tests__/helpers/affine-template.unit.spec.ts
  blocksuite/affine/shared/src/__tests__/helpers/create-test-doc.ts
  blocksuite/affine/shared/src/__tests__/helpers/create-test-host.ts
  blocksuite/affine/shared/src/commands/index.ts
Labels: docs, test

#10809 refactor(editor): getFirstContentBlock -> getFirstBlock & getLastContentBlock -> getLastBlock
  blocksuite/affine/shared/src/__tests__/commands/block-crud/get-first-block.unit.spec.ts
  blocksuite/affine/shared/src/__tests__/commands/block-crud/get-first-content-block.unit.spec.ts
  blocksuite/affine/shared/src/__tests__/commands/block-crud/get-last-block.unit.spec.ts
  blocksuite/affine/shared/src/__tests__/commands/block-crud/get-last-content-block.unit.spec.ts
  blocksuite/affine/shared/src/__tests__/helpers/affine-template.ts
  blocksuite/affine/shared/src/__tests__/helpers/create-test-doc.ts
  blocksuite/affine/shared/src/commands/block-crud/get-first-content-block.ts
  blocksuite/affine/shared/src/commands/block-crud/get-last-content-block.ts
  blocksuite/affine/shared/src/commands/block-crud/index.ts
  blocksuite/affine/shared/src/commands/index.ts
Labels: test

#10829 test(infra): add check job to verify committed changes
  .github/workflows/build-test.yml
  .prettierignore
  oxlint.json
  packages/frontend/graphql/src/graphql/index.ts
  packages/frontend/graphql/src/schema.ts
  packages/frontend/i18n/src/i18n.gen.ts
  packages/frontend/i18n/src/resources/en.json
Labels: mod:i18n

#10842 feat(core): add ai file context api
  blocksuite/affine/shared/src/services/file-size-limit-service.ts
  packages/backend/server/src/plugins/copilot/session.ts
  packages/frontend/core/src/blocksuite/ai/actions/types.ts
  packages/frontend/core/src/blocksuite/ai/chat-panel/chat-context.ts
  packages/frontend/core/src/blocksuite/ai/chat-panel/chat-panel-chips.ts
  packages/frontend/core/src/blocksuite/ai/chat-panel/chat-panel-input.ts
  packages/frontend/core/src/blocksuite/ai/chat-panel/components/add-popover.ts
  packages/frontend/core/src/blocksuite/ai/chat-panel/components/doc-chip.ts
  packages/frontend/core/src/blocksuite/ai/chat-panel/components/file-chip.ts
  packages/frontend/core/src/blocksuite/ai/chat-panel/components/utils.ts
  packages/frontend/core/src/blocksuite/ai/chat-panel/index.ts
  packages/frontend/core/src/blocksuite/ai/provider/copilot-client.ts
  packages/frontend/core/src/blocksuite/ai/provider/setup-provider.tsx
  packages/frontend/graphql/src/graphql/copilot-context-file-add.gql
  packages/frontend/graphql/src/graphql/copilot-context-file-list.gql
  packages/frontend/graphql/src/graphql/index.ts
  packages/frontend/graphql/src/schema.ts
  tests/affine-cloud-copilot/e2e/copilot.spec.ts
Labels: app:server, test, app:core

#10832 fix(editor): worker loading in webpack env
  blocksuite/affine/blocks/block-paragraph/src/index.ts
  blocksuite/affine/blocks/block-paragraph/src/turbo/paragraph-painter-config.ts
  blocksuite/affine/blocks/block-paragraph/src/turbo/paragraph-painter.worker.ts
  blocksuite/affine/gfx/turbo-renderer/src/index.ts
  blocksuite/affine/gfx/turbo-renderer/src/painter/painter.worker.ts
  blocksuite/affine/gfx/turbo-renderer/src/turbo-renderer.ts
  blocksuite/affine/gfx/turbo-renderer/src/types.ts
  blocksuite/integration-test/src/__tests__/edgeless/viewport-renderer.spec.ts
  blocksuite/integration-test/src/__tests__/utils/renderer-entry.ts
  blocksuite/integration-test/src/__tests__/utils/setup.ts
  blocksuite/integration-test/src/__tests__/utils/turbo-painter-entry.worker.ts
  packages/frontend/core/src/blocksuite/extensions/turbo-painter-entry.worker.ts
  packages/frontend/core/src/blocksuite/extensions/turbo-renderer.ts
Labels: test, app:core

#10847 feat(editor): block painter extension
  blocksuite/affine/blocks/block-paragraph/src/turbo/paragraph-painter.worker.ts
  blocksuite/affine/gfx/turbo-renderer/src/extension/index.ts
  blocksuite/affine/gfx/turbo-renderer/src/index.ts
  blocksuite/affine/gfx/turbo-renderer/src/painter/painter.worker.ts
  blocksuite/integration-test/src/__tests__/utils/turbo-painter-entry.worker.ts
  packages/frontend/core/src/blocksuite/extensions/turbo-painter-entry.worker.ts
Labels: test, app:core

#10751 feat(nbstore): rename SyncStorage to DocSyncStorage
  packages/common/nbstore/src/__tests__/sync.spec.ts
  packages/common/nbstore/src/impls/idb/doc-sync.ts
  packages/common/nbstore/src/impls/idb/index.ts
  packages/common/nbstore/src/impls/sqlite/doc-sync.ts
  packages/common/nbstore/src/impls/sqlite/index.ts
  packages/common/nbstore/src/storage/doc-sync.ts
  packages/common/nbstore/src/storage/dummy/doc-sync.ts
  packages/common/nbstore/src/storage/dummy/doc.ts
  packages/common/nbstore/src/storage/index.ts
  packages/common/nbstore/src/storage/storage.ts
  packages/common/nbstore/src/sync/doc/index.ts
  packages/common/nbstore/src/sync/doc/peer.ts
  packages/common/nbstore/src/sync/index.ts
  packages/common/nbstore/src/worker/consumer.ts
  packages/common/nbstore/src/worker/ops.ts
  packages/frontend/apps/web/src/app.tsx
  packages/frontend/core/src/modules/userspace/entities/user-db-engine.ts
  packages/frontend/core/src/modules/workspace-engine/impls/cloud.ts
  packages/frontend/core/src/modules/workspace-engine/impls/local.ts
Labels: test, app:core

#10846 chore(editor): hide tweakpane for turbo renderer
  blocksuite/affine/gfx/turbo-renderer/package.json
  blocksuite/affine/gfx/turbo-renderer/src/renderer-utils.ts
  blocksuite/affine/gfx/turbo-renderer/src/turbo-renderer.ts
  yarn.lock
Labels: app:server, test, app:core

#10850 chore(server): enable copilot in doc service
  .github/actions/deploy/deploy.mjs
  .github/helm/affine/charts/doc/templates/deployment.yaml
  .github/helm/affine/charts/doc/values.yaml
  packages/backend/server/src/plugins/copilot/index.ts
Labels: app:server

#10854 fix(server): handle graphql bad input error
  packages/backend/server/src/__tests__/nestjs/error-handler.spec.ts
  packages/backend/server/src/base/graphql/index.ts
  packages/backend/server/src/base/nestjs/exception.ts
Labels: app:server, test

#10857 chore(server): merge duplicate queries
  packages/frontend/core/src/blocksuite/ai/provider/copilot-client.ts
  packages/frontend/graphql/src/graphql/copilot-context-file-list.gql
  packages/frontend/graphql/src/graphql/copilot-context-list-object.gql
  packages/frontend/graphql/src/graphql/index.ts
  packages/frontend/graphql/src/schema.ts
Labels: app:core

#10853 fix(server): add mode property on mention doc input
  packages/backend/server/src/core/notification/__tests__/resolver.e2e.ts
  packages/backend/server/src/core/notification/__tests__/service.spec.ts
  packages/backend/server/src/core/notification/types.ts
  packages/backend/server/src/core/workspaces/controller.ts
  packages/backend/server/src/models/__tests__/notification.spec.ts
  packages/backend/server/src/models/common/doc.ts
  packages/backend/server/src/models/notification.ts
  packages/backend/server/src/schema.gql
  packages/frontend/graphql/src/schema.ts
Labels: app:server, test

#10843 feat(core): poll context docs and files embedding status
  packages/frontend/core/src/blocksuite/ai/actions/types.ts
  packages/frontend/core/src/blocksuite/ai/chat-panel/chat-context.ts
  packages/frontend/core/src/blocksuite/ai/chat-panel/chat-panel-chips.ts
  packages/frontend/core/src/blocksuite/ai/chat-panel/chat-panel-input.ts
  packages/frontend/core/src/blocksuite/ai/chat-panel/components/doc-chip.ts
  packages/frontend/core/src/blocksuite/ai/chat-panel/index.ts
  packages/frontend/core/src/blocksuite/ai/provider/setup-provider.tsx
  tests/affine-cloud-copilot/e2e/copilot.spec.ts
Labels: app:server, test, app:core

#10833 refactor(web): save as doc & save as block action
  packages/frontend/core/src/blocksuite/ai/_common/chat-actions-handle.ts
  tests/affine-cloud-copilot/e2e/copilot.spec.ts
Labels: test, app:core

#10855 feat(core): add notification service
  packages/frontend/core/src/modules/notification/index.ts
  packages/frontend/core/src/modules/notification/services/notification.ts
  packages/frontend/core/src/modules/notification/stores/notification.ts
  packages/frontend/graphql/src/graphql/index.ts
  packages/frontend/graphql/src/graphql/mention-user.gql
  packages/frontend/graphql/src/schema.ts
Labels: app:core

#10871 feat(core): display embedding progress
  packages/frontend/core/src/blocksuite/ai/chat-panel/chat-context.ts
  packages/frontend/core/src/blocksuite/ai/chat-panel/index.ts
Labels: app:core

#10873 chore(editor): update default width of page block
  blocksuite/affine/model/src/consts/note.ts
  blocksuite/affine/shared/src/utils/model/doc.ts
  packages/frontend/core/src/blocksuite/block-suite-page-list/utils.tsx
Labels: app:core

#10848 refactor(editor): improve implementation of flat model
  blocksuite/framework/store/src/__tests__/yjs.unit.spec.ts
  blocksuite/framework/store/src/model/block/flat-sync-controller.ts
  blocksuite/framework/store/src/reactive/flat-native-y.ts
  blocksuite/framework/store/src/reactive/flat-native-y/index.ts
  blocksuite/framework/store/src/reactive/flat-native-y/proxy.ts
  blocksuite/framework/store/src/reactive/flat-native-y/types.ts
  blocksuite/framework/store/src/reactive/flat-native-y/utils.ts
  blocksuite/framework/store/src/reactive/index.ts
Labels: test

#10896 fix(editor): repeat instantiation of std
  packages/frontend/core/src/blocksuite/editors/edgeless-editor.ts
  packages/frontend/core/src/blocksuite/editors/page-editor.ts
Labels: app:core

#10902 fix(core): correct template setting item text
  packages/frontend/core/src/desktop/dialogs/setting/workspace-setting/preference/template.tsx
Labels: app:core

#10905 feat(editor): enable block meta for code, image, list block
  blocksuite/affine/model/src/blocks/code/code-model.ts
  blocksuite/affine/model/src/blocks/image/image-model.ts
  blocksuite/affine/model/src/blocks/list/list-model.ts
  packages/frontend/core/src/blocksuite/extensions/editor-config/toolbar/index.ts
Labels: app:core

#10864 chore(server): data mocking and seeding
  docs/developing-server.md
  packages/backend/server/package.json
  packages/backend/server/src/__tests__/auth/auth.e2e.ts
  packages/backend/server/src/__tests__/auth/controller.spec.ts
  packages/backend/server/src/__tests__/copilot.e2e.ts
  packages/backend/server/src/__tests__/mailer.spec.ts
  packages/backend/server/src/__tests__/mocks/factory.ts
  packages/backend/server/src/__tests__/mocks/index.ts
  packages/backend/server/src/__tests__/mocks/team-workspace.mock.ts
  packages/backend/server/src/__tests__/mocks/user.mock.ts
  packages/backend/server/src/__tests__/mocks/workspace.mock.ts
  packages/backend/server/src/__tests__/nestjs/throttler.spec.ts
  packages/backend/server/src/__tests__/team.e2e.ts
  packages/backend/server/src/__tests__/user.e2e.ts
  packages/backend/server/src/__tests__/user/user.e2e.ts
  packages/backend/server/src/__tests__/utils/testing-app.ts
  packages/backend/server/src/__tests__/utils/testing-module.ts
  packages/backend/server/src/__tests__/workspace-invite.e2e.ts
  packages/backend/server/src/__tests__/workspace.e2e.ts
  packages/backend/server/src/__tests__/workspace/blobs.e2e.ts
  packages/backend/server/src/__tests__/workspace/controller.spec.ts
  packages/backend/server/src/core/notification/__tests__/resolver.e2e.ts
  packages/backend/server/src/seed/index.ts
  yarn.lock
Labels: docs, app:server, test

#10914 fix(server): operation name record
  packages/backend/server/src/base/graphql/logger-plugin.ts
Labels: app:server

#10912 fix(server): catch panic for context parsing
  Cargo.lock
  Cargo.toml
  packages/backend/server/src/plugins/copilot/context/job.ts
  packages/common/native/src/doc_loader/document.rs
Labels: app:server, rust

#10870 test(server): new test facilities
  .github/helm/affine/charts/graphql/templates/deployment.yaml
  .github/workflows/build-test.yml
  .yarn/patches/@nestjs-testing-npm-10.4.15-d591a1705a.patch
  packages/backend/server/ava.config.js
  packages/backend/server/package.json
  packages/backend/server/src/__tests__/create-module.ts
  packages/backend/server/src/__tests__/e2e/app.spec.ts
  packages/backend/server/src/__tests__/e2e/create-app.ts
  packages/backend/server/src/__tests__/e2e/prelude.ts
  packages/backend/server/src/__tests__/e2e/test.ts
  packages/backend/server/src/__tests__/utils/testing-module.ts
  yarn.lock
Labels: app:server, test

#10928 fix(core): chat-panel ui
  packages/frontend/core/src/blocksuite/ai/chat-panel/components/add-popover.ts
  packages/frontend/core/src/blocksuite/ai/chat-panel/components/chip.ts
Labels: app:core

#10926 feat(server): tag and collection record for context
  packages/backend/server/src/plugins/copilot/context/resolver.ts
  packages/backend/server/src/plugins/copilot/context/service.ts
  packages/backend/server/src/plugins/copilot/context/session.ts
  packages/backend/server/src/plugins/copilot/context/types.ts
  packages/backend/server/src/schema.gql
  packages/frontend/graphql/src/graphql/copilot-context-category-add.gql
  packages/frontend/graphql/src/graphql/copilot-context-category-remove.gql
  packages/frontend/graphql/src/graphql/index.ts
  packages/frontend/graphql/src/schema.ts
Labels: app:server

#10941 feat(editor): improve api for store, and add docs
  blocksuite/affine/all/src/__tests__/database/database.unit.spec.ts
  blocksuite/affine/blocks/block-database/src/data-source.ts
  blocksuite/affine/blocks/block-image/src/utils.ts
  blocksuite/affine/blocks/block-note/src/commands/block-type.ts
  blocksuite/affine/blocks/block-root/src/edgeless/clipboard/clipboard.ts
  blocksuite/affine/blocks/block-root/src/edgeless/components/auto-complete/edgeless-auto-complete.ts
  blocksuite/affine/blocks/block-root/src/edgeless/components/note-slicer/index.ts
  blocksuite/affine/blocks/block-root/src/edgeless/services/template.ts
  blocksuite/affine/blocks/block-root/src/page/page-root-block.ts
  blocksuite/affine/blocks/block-surface-ref/src/surface-ref-block.ts
  blocksuite/affine/blocks/block-surface/src/extensions/crud-extension.ts
  blocksuite/affine/blocks/block-surface/src/extensions/export-manager/export-manager.ts
  blocksuite/affine/blocks/block-surface/src/renderer/elements/mindmap.ts
  blocksuite/affine/blocks/block-surface/src/surface-service.ts
  blocksuite/affine/blocks/block-surface/src/utils/add-note.ts
  blocksuite/affine/blocks/block-surface/src/watchers/connector.ts
  blocksuite/affine/model/src/blocks/frame/frame-model.ts
  blocksuite/affine/model/src/blocks/root/root-block-model.ts
  blocksuite/affine/shared/src/utils/dnd/calc-drop-target.ts
  blocksuite/affine/widgets/widget-drag-handle/src/watchers/edgeless-watcher.ts
  blocksuite/docs/api/@blocksuite/store/README.md
  blocksuite/docs/api/@blocksuite/store/classes/Store.md
  blocksuite/docs/typedoc.json
  blocksuite/framework/block-std/src/gfx/layer.ts
  blocksuite/framework/block-std/src/gfx/model/surface/element-model.ts
  blocksuite/framework/block-std/src/gfx/selection.ts
  blocksuite/framework/block-std/src/range/range-binding.ts
  blocksuite/framework/block-std/src/view/element/block-component.ts
  blocksuite/framework/store/src/__tests__/collection.unit.spec.ts
  blocksuite/framework/store/src/model/doc.ts
  blocksuite/framework/store/src/model/store/store.ts
  blocksuite/framework/store/src/transformer/transformer.ts
  blocksuite/integration-test/src/__tests__/edgeless/surface-model.spec.ts
  blocksuite/integration-test/src/__tests__/main/snapshot.spec.ts
  blocksuite/integration-test/src/__tests__/utils/edgeless.ts
  blocksuite/playground/apps/_common/components/starter-debug-menu.ts
  blocksuite/playground/apps/starter/data/database.ts
  packages/frontend/core/src/blocksuite/ai/_common/chat-actions-handle.ts
  packages/frontend/core/src/blocksuite/ai/actions/page-response.ts
  packages/frontend/core/src/blocksuite/ai/mini-mindmap/mindmap-preview.ts
  packages/frontend/core/src/blocksuite/ai/peek-view/chat-block-peek-view.ts
  packages/frontend/core/src/blocksuite/utils/markdown-utils.ts
  packages/frontend/core/src/components/hooks/affine/use-reference-link-helper.ts
  packages/frontend/core/src/components/page-list/__tests__/use-block-suite-page-preview.spec.ts
  tests/blocksuite/e2e/embed-synced-doc.spec.ts
  tests/blocksuite/e2e/utils/actions/edgeless.ts
  tests/blocksuite/e2e/utils/actions/misc.ts
Labels: docs, test, app:core

#10755 feat(server): add settings model
  packages/backend/server/migrations/20250311143215_add_settings/migration.sql
  packages/backend/server/schema.prisma
  packages/backend/server/src/models/__tests__/settings.spec.ts
  packages/backend/server/src/models/index.ts
  packages/backend/server/src/models/settings.ts
Labels: app:server, test

#10916 feat(server): display date in yyyy-MM-dd format on email
  packages/backend/server/package.json
  packages/backend/server/src/__tests__/__snapshots__/mailer.spec.ts.md
  packages/backend/server/src/__tests__/__snapshots__/mailer.spec.ts.snap
  packages/backend/server/src/mails/components/date.tsx
  packages/backend/server/src/mails/components/index.ts
  packages/backend/server/src/mails/teams/delete-in-1m.tsx
  packages/backend/server/src/mails/teams/delete-in-24h.tsx
  packages/backend/server/src/mails/teams/expire-soon.tsx
  packages/backend/server/src/mails/teams/expired.tsx
  yarn.lock
Labels: app:server, test

#10939 feat(editor): support user provided role and role schema
  blocksuite/affine/blocks/block-surface/src/surface-model.ts
  blocksuite/affine/model/src/blocks/note/note-model.ts
  blocksuite/framework/store/src/__tests__/schema.unit.spec.ts
  blocksuite/framework/store/src/model/block/zod.ts
  blocksuite/framework/store/src/schema/schema.ts
Labels: test

#10919 fix(core): add timeout params to graphql request options
  packages/frontend/core/src/blocksuite/ai/provider/copilot-client.ts
  packages/frontend/graphql/src/fetcher.ts
Labels: app:core

#10526 feat(electron): create recording through tray
  packages/frontend/apps/electron-renderer/package.json
  packages/frontend/apps/electron-renderer/src/app.tsx
  packages/frontend/apps/electron-renderer/tsconfig.json
  packages/frontend/apps/electron/resources/icons/monitor.png
  packages/frontend/apps/electron/resources/icons/pause.png
  packages/frontend/apps/electron/resources/icons/stop.png
  packages/frontend/apps/electron/resources/icons/waveform-recording.png
  packages/frontend/apps/electron/resources/icons/waveform.png
  packages/frontend/apps/electron/src/helper/main-rpc.ts
  packages/frontend/apps/electron/src/helper/recording/encode.ts
  packages/frontend/apps/electron/src/main/events.ts
  packages/frontend/apps/electron/src/main/handlers.ts
  packages/frontend/apps/electron/src/main/index.ts
  packages/frontend/apps/electron/src/main/recording/index.ts
  packages/frontend/apps/electron/src/main/recording/types.ts
  packages/frontend/apps/electron/src/main/tray/icons.ts
  packages/frontend/apps/electron/src/main/tray/index.ts
  packages/frontend/apps/electron/src/shared/type.ts
  packages/frontend/core/src/blocksuite/initialization/index.ts
  packages/frontend/media-capture-playground/server/main.ts
  packages/frontend/media-capture-playground/web/app.tsx
  packages/frontend/media-capture-playground/web/components/global-record-button.tsx
  packages/frontend/media-capture-playground/web/components/saved-recording-item.tsx
  packages/frontend/media-capture-playground/web/types.ts
  packages/frontend/native/media_capture/src/macos/tap_audio.rs
  tests/affine-desktop/playwright.config.ts
  tests/kit/src/electron.ts
  tools/utils/src/workspace.gen.ts
  yarn.lock
Labels: app:electron, test, rust, mod:native, app:core

#10731 feat(server): init gemini provider & transcript action
  .github/actions/copilot-test/action.yml
  .github/actions/deploy/deploy.mjs
  .github/helm/affine/charts/graphql/templates/copilot-secret.yaml
  .github/workflows/build-test.yml
  .github/workflows/copilot-test.yml
  packages/backend/server/package.json
  packages/backend/server/src/__tests__/copilot-provider.spec.ts
  packages/backend/server/src/config/affine.env.ts
  packages/backend/server/src/plugins/copilot/config.ts
  packages/backend/server/src/plugins/copilot/index.ts
  packages/backend/server/src/plugins/copilot/prompt/prompts.ts
  packages/backend/server/src/plugins/copilot/providers/google.ts
  packages/backend/server/src/plugins/copilot/types.ts
  yarn.lock
Labels: app:server, test

#10070 feat(core): improve text preview in editor settings
  packages/frontend/core/src/desktop/dialogs/setting/general-setting/editor/edgeless/docs/text.json
Labels: app:core

#10949 docs(editor): improve documentation for store class
  blocksuite/affine/blocks/block-surface/src/utils/update-xywh.ts
  blocksuite/docs/api/@blocksuite/store/README.md
  blocksuite/docs/api/@blocksuite/store/classes/Store.md
  blocksuite/docs/api/@blocksuite/store/interfaces/StoreSlots.md
  blocksuite/framework/store/src/model/doc.ts
  blocksuite/framework/store/src/model/store/store.ts
  blocksuite/playground/apps/starter/data/embed.ts
  blocksuite/playground/apps/starter/data/empty.ts
  blocksuite/playground/apps/starter/data/linked.ts
  blocksuite/playground/apps/starter/data/synced.ts
Labels: docs

#10958 docs(editor): add doc for reactive types in store
  blocksuite/docs/api/@blocksuite/store/README.md
  blocksuite/docs/api/@blocksuite/store/classes/Boxed.md
  blocksuite/docs/api/@blocksuite/store/classes/Text.md
  blocksuite/docs/api/@blocksuite/store/interfaces/StoreSlots.md
  blocksuite/framework/store/src/model/store/store.ts
  blocksuite/framework/store/src/reactive/boxed.ts
  blocksuite/framework/store/src/reactive/text.ts
Labels: docs

#10957 feat(server): separate storage quota limit and blob size limit
  packages/backend/server/src/__tests__/workspace/blobs.e2e.ts
  packages/backend/server/src/base/error/def.ts
  packages/backend/server/src/base/error/errors.gen.ts
  packages/backend/server/src/core/quota/service.ts
  packages/backend/server/src/core/workspaces/resolvers/blob.ts
  packages/backend/server/src/schema.gql
  packages/frontend/graphql/src/schema.ts
  packages/frontend/i18n/src/i18n.gen.ts
  packages/frontend/i18n/src/resources/en.json
Labels: mod:i18n, app:server, test

#10960 chore(server): improve stream read
  packages/backend/server/src/base/utils/index.ts
  packages/backend/server/src/base/utils/stream.ts
  packages/backend/server/src/core/workspaces/resolvers/blob.ts
  packages/backend/server/src/plugins/copilot/context/utils.ts
  packages/backend/server/src/plugins/copilot/storage.ts
Labels: app:server

#10959 fix(editor): block can be null in widget
  blocksuite/affine/blocks/block-code/src/code-toolbar/index.ts
  blocksuite/affine/blocks/block-root/src/edgeless/components/note-slicer/index.ts
  blocksuite/affine/blocks/block-root/src/edgeless/components/rects/edgeless-dragging-area-rect.ts
  blocksuite/affine/blocks/block-root/src/edgeless/components/rects/edgeless-selected-rect.ts
  blocksuite/affine/blocks/block-root/src/edgeless/components/toolbar/edgeless-toolbar.ts
  blocksuite/affine/blocks/block-root/src/widgets/edgeless-zoom-toolbar/index.ts
  blocksuite/affine/blocks/block-root/src/widgets/image-toolbar/index.ts
  blocksuite/affine/blocks/block-root/src/widgets/keyboard-toolbar/index.ts
  blocksuite/affine/blocks/block-root/src/widgets/linked-doc/index.ts
  blocksuite/affine/blocks/block-root/src/widgets/page-dragging-area/page-dragging-area.ts
  blocksuite/affine/blocks/block-root/src/widgets/surface-ref-toolbar/surface-ref-toolbar.ts
  blocksuite/affine/widgets/widget-drag-handle/src/watchers/pointer-event-watcher.ts
  blocksuite/affine/widgets/widget-edgeless-auto-connect/src/index.ts
  blocksuite/affine/widgets/widget-remote-selection/src/doc/doc-remote-selection.ts
  blocksuite/affine/widgets/widget-slash-menu/src/widget.ts
  blocksuite/framework/block-std/src/view/element/widget-component.ts
  packages/frontend/core/src/blocksuite/ai/widgets/ai-panel/ai-panel.ts
Labels: app:core

#10932 feat(editor): support file column and member column for database block
  blocksuite/affine/all/src/__tests__/database/database.unit.spec.ts
  blocksuite/affine/blocks/block-data-view/src/data-source.ts
  blocksuite/affine/blocks/block-data-view/src/data-view-model.ts
  blocksuite/affine/blocks/block-database/src/adapters/html.ts
  blocksuite/affine/blocks/block-database/src/adapters/markdown.ts
  blocksuite/affine/blocks/block-database/src/adapters/plain-text.ts
  blocksuite/affine/blocks/block-database/src/adapters/utils.ts
  blocksuite/affine/blocks/block-database/src/context/index.ts
  blocksuite/affine/blocks/block-database/src/data-source.ts
  blocksuite/affine/blocks/block-database/src/index.ts
  blocksuite/affine/blocks/block-database/src/properties/index.ts
  blocksuite/affine/blocks/block-database/src/service/index.ts
  blocksuite/affine/blocks/block-database/src/utils/block-utils.ts
  blocksuite/affine/data-view/src/core/data-source/base.ts
  blocksuite/affine/data-view/src/core/property/types.ts
  blocksuite/affine/data-view/src/core/view-manager/index.ts
  blocksuite/affine/model/src/blocks/database/database-model.ts
  blocksuite/affine/model/src/blocks/database/types.ts
  blocksuite/affine/shared/src/services/user-service/user-list-service.ts
  blocksuite/playground/apps/starter/data/database.ts
  packages/frontend/core/src/blocksuite/block-suite-editor/lit-adaper.tsx
  packages/frontend/core/src/blocksuite/database-block/properties/file/define.ts
  packages/frontend/core/src/blocksuite/database-block/properties/file/style.css.ts
  packages/frontend/core/src/blocksuite/database-block/properties/file/view.tsx
  packages/frontend/core/src/blocksuite/database-block/properties/index.ts
  packages/frontend/core/src/blocksuite/database-block/properties/member/define.ts
  packages/frontend/core/src/blocksuite/database-block/properties/member/multi-member-select/index.tsx
  packages/frontend/core/src/blocksuite/database-block/properties/member/multi-member-select/style.css.ts
  packages/frontend/core/src/blocksuite/database-block/properties/member/style.css.ts
  packages/frontend/core/src/blocksuite/database-block/properties/member/view.tsx
  packages/frontend/core/src/blocksuite/extensions/database-block-config-service.ts
  packages/frontend/core/src/blocksuite/extensions/user-list.ts
  packages/frontend/core/src/modules/doc-info/utils.ts
  packages/frontend/core/src/modules/permissions/services/member-search.ts
Labels: test, app:core

#10511 refactor(editor): edgeless element toolbar with new pattern
  blocksuite/affine/blocks/block-attachment/src/configs/toolbar.ts
  blocksuite/affine/blocks/block-bookmark/src/configs/toolbar.ts
  blocksuite/affine/blocks/block-embed/src/configs/toolbar.ts
  blocksuite/affine/blocks/block-embed/src/embed-html-block/configs/toolbar.ts
  blocksuite/affine/blocks/block-embed/src/embed-iframe-block/configs/toolbar.ts
  blocksuite/affine/blocks/block-embed/src/embed-linked-doc-block/configs/toolbar.ts
  blocksuite/affine/blocks/block-embed/src/embed-synced-doc-block/configs/toolbar.ts
  blocksuite/affine/blocks/block-root/src/edgeless/configs/toolbar/attachment.ts
  blocksuite/affine/blocks/block-root/src/edgeless/configs/toolbar/bookmark.ts
  blocksuite/affine/blocks/block-root/src/edgeless/configs/toolbar/brush.ts
  blocksuite/affine/blocks/block-root/src/edgeless/configs/toolbar/connector.ts
  blocksuite/affine/blocks/block-root/src/edgeless/configs/toolbar/embed.ts
  blocksuite/affine/blocks/block-root/src/edgeless/configs/toolbar/frame.ts
  blocksuite/affine/blocks/block-root/src/edgeless/configs/toolbar/group.ts
  blocksuite/affine/blocks/block-root/src/edgeless/configs/toolbar/image.ts
  blocksuite/affine/blocks/block-root/src/edgeless/configs/toolbar/index.ts
  blocksuite/affine/blocks/block-root/src/edgeless/configs/toolbar/mindmap.ts
  blocksuite/affine/blocks/block-root/src/edgeless/configs/toolbar/misc.ts
  blocksuite/affine/blocks/block-root/src/edgeless/configs/toolbar/note.ts
  blocksuite/affine/blocks/block-root/src/edgeless/configs/toolbar/shape.ts
  blocksuite/affine/blocks/block-root/src/edgeless/configs/toolbar/text.ts
  blocksuite/affine/blocks/block-root/src/edgeless/edgeless-builtin-spec.ts
  blocksuite/affine/blocks/block-root/src/edgeless/utils/text.ts
  blocksuite/affine/components/src/toolbar/toolbar.ts
  blocksuite/affine/shared/src/services/toolbar-service/action.ts
  blocksuite/affine/shared/src/services/toolbar-service/context.ts
  blocksuite/affine/shared/src/services/toolbar-service/flags.ts
  blocksuite/affine/widgets/widget-toolbar/src/toolbar.ts
  blocksuite/affine/widgets/widget-toolbar/src/utils.ts
  packages/frontend/core/src/blocksuite/extensions/editor-config/toolbar/index.ts
  tests/blocksuite/e2e/format-bar.spec.ts
Labels: test, app:core

#10904 fix(core): copy link should not have mode
  packages/frontend/core/src/modules/share-menu/view/share-menu/copy-link-button.tsx
Labels: app:core

#10711 refactor(editor): edgeless bookmark toolbar config extension
  blocksuite/affine/all/src/components/size-dropdown-menu.ts
  blocksuite/affine/all/src/effects.ts
  blocksuite/affine/blocks/block-bookmark/package.json
  blocksuite/affine/blocks/block-bookmark/src/bookmark-spec.ts
  blocksuite/affine/blocks/block-bookmark/src/configs/toolbar.ts
  blocksuite/affine/blocks/block-bookmark/tsconfig.json
  blocksuite/affine/blocks/block-root/src/edgeless/components/panel/scale-panel.ts
  blocksuite/affine/blocks/block-root/src/edgeless/configs/toolbar/bookmark.ts
  blocksuite/affine/blocks/block-root/src/edgeless/configs/toolbar/index.ts
  blocksuite/affine/components/package.json
  blocksuite/affine/components/src/card-style-dropdown-menu/dropdown-menu.ts
  blocksuite/affine/components/src/size-dropdown-menu/dropdown-menu.ts
  blocksuite/affine/components/src/size-dropdown-menu/index.ts
  blocksuite/affine/components/src/view-dropdown-menu/dropdown-menu.ts
  packages/frontend/core/src/blocksuite/extensions/editor-config/toolbar/index.ts
  tools/utils/src/workspace.gen.ts
  yarn.lock
Labels: app:core

#10874 fix(core): allow unused blobs to preview in new tab
  packages/frontend/core/src/modules/blob-management/entity/unused-blobs.ts
Labels: app:core
