Repository toeverything/AFFiNE, pull requests merged in 2025-09, with the labels that each got.

#13591 fix(core): update and fix oxlint error
  .prettierignore
  oxlint.json
  package.json
  packages/frontend/component/src/ui/dnd/draggable.ts
  packages/frontend/component/src/ui/dnd/drop-target.ts
  packages/frontend/component/src/ui/dnd/monitor.tsx
  packages/frontend/core/src/components/guard/use-guard.tsx
  packages/frontend/core/src/components/hooks/affine-async-hooks.ts
  tests/affine-cloud/e2e/comments.spec.ts
  tests/blocksuite/e2e/link.spec.ts
  yarn.lock
Labels: mod:component, test, app:core

#13601 feat: improve model resolve
  .docker/selfhost/schema.json
  packages/backend/server/src/__tests__/__snapshots__/copilot.spec.ts.md
  packages/backend/server/src/__tests__/__snapshots__/copilot.spec.ts.snap
  packages/backend/server/src/__tests__/copilot.spec.ts
  packages/backend/server/src/plugins/copilot/config.ts
  packages/backend/server/src/plugins/copilot/controller.ts
  packages/backend/server/src/plugins/copilot/prompt/prompts.ts
  packages/backend/server/src/plugins/copilot/providers/openai.ts
  packages/backend/server/src/plugins/copilot/providers/types.ts
  packages/backend/server/src/plugins/copilot/session.ts
  packages/backend/server/src/plugins/payment/service.ts
Labels: app:server, test

#13607 feat: get prompt model names
  packages/backend/server/src/__tests__/__snapshots__/copilot.spec.ts.md
  packages/backend/server/src/__tests__/__snapshots__/copilot.spec.ts.snap
  packages/backend/server/src/__tests__/copilot.spec.ts
  packages/backend/server/src/plugins/copilot/providers/anthropic/official.ts
  packages/backend/server/src/plugins/copilot/providers/anthropic/vertex.ts
  packages/backend/server/src/plugins/copilot/providers/openai.ts
  packages/backend/server/src/plugins/copilot/resolver.ts
  packages/backend/server/src/plugins/copilot/session.ts
  packages/backend/server/src/schema.gql
  packages/common/graphql/src/graphql/copilot-models-get.gql
  packages/common/graphql/src/graphql/index.ts
  packages/common/graphql/src/schema.ts
Labels: app:server, test

#13610 feat: add dedicated sign-up config for oauth
  .docker/selfhost/schema.json
  packages/backend/server/src/core/auth/config.ts
  packages/backend/server/src/plugins/oauth/controller.ts
  packages/frontend/admin/src/config.json
  packages/frontend/admin/src/modules/settings/config.ts
Labels: app:server

#13451 feat(server): change the playground option to GraphiQL.
  packages/backend/server/src/base/graphql/index.ts
Labels: app:server

#13597 fix(editor): callout delete merge and slash menu
  blocksuite/affine/blocks/callout/src/callout-block.ts
  blocksuite/affine/blocks/callout/src/callout-keymap.ts
  blocksuite/affine/blocks/callout/src/commands/callout-to-paragraph.ts
  blocksuite/affine/blocks/callout/src/commands/split-callout.ts
  blocksuite/affine/blocks/callout/src/configs/slash-menu.ts
  packages/frontend/native/index.d.ts
  tests/affine-local/e2e/blocksuite/callout/callout.spec.ts
Labels: test, mod:native

#13648 fix(server): rcat event sync
  packages/backend/server/src/__tests__/payment/revenuecat.spec.ts
  packages/backend/server/src/plugins/payment/revenuecat/controller.ts
  packages/backend/server/src/plugins/payment/revenuecat/service.ts
  packages/backend/server/src/plugins/payment/revenuecat/webhook.ts
Labels: app:server, test

#13645 feat(ios): upgrade button in setting
  packages/frontend/apps/ios/App/App.xcodeproj/project.pbxproj
  packages/frontend/apps/ios/App/Podfile.lock
  packages/frontend/apps/ios/src/app.tsx
  packages/frontend/apps/ios/src/plugins/paywall/definitions.ts
  packages/frontend/core/src/mobile/dialogs/setting/index.tsx
  packages/frontend/core/src/mobile/dialogs/setting/subscription/index.tsx
  packages/frontend/core/src/mobile/dialogs/setting/subscription/styles.css.ts
  packages/frontend/core/src/modules/index.ts
  packages/frontend/core/src/modules/paywall/index.ts
  packages/frontend/core/src/modules/paywall/providers/native-paywall.ts
  packages/frontend/core/src/modules/paywall/services/native-paywall.ts
  packages/frontend/i18n/src/i18n-completenesses.json
  packages/frontend/i18n/src/i18n.gen.ts
  packages/frontend/i18n/src/resources/en.json
Labels: mod:i18n, app:core

#13650 feat(server): allow drop session
  packages/backend/server/src/models/copilot-session.ts
Labels: app:server

#13644 feat(core): replace emoji-mart with affine icon picker
  packages/frontend/component/package.json
  packages/frontend/component/src/ui/icon-name-editor/icon-name-editor.css.ts
  packages/frontend/component/src/ui/icon-name-editor/icon-name-editor.stories.tsx
  packages/frontend/component/src/ui/icon-name-editor/icon-name-editor.tsx
  packages/frontend/component/src/ui/icon-picker/icon-picker.tsx
  packages/frontend/component/src/ui/icon-picker/index.ts
  packages/frontend/component/src/ui/icon-picker/renderer.tsx
  packages/frontend/component/src/ui/icon-picker/type.ts
  packages/frontend/core/src/blocksuite/block-suite-editor/doc-icon-picker.css.ts
  packages/frontend/core/src/blocksuite/block-suite-editor/doc-icon-picker.tsx
  packages/frontend/core/src/desktop/components/navigation-panel/tree/node.tsx
  packages/frontend/core/src/modules/db/schema/schema.ts
  packages/frontend/core/src/modules/doc-display-meta/services/doc-display-meta.ts
  packages/frontend/core/src/modules/doc-display-meta/services/icon.tsx
  packages/frontend/core/src/modules/explorer-icon/store/explorer-icon.ts
  yarn.lock
Labels: mod:component, app:core

#11790 feat: implement textAlign property
  blocksuite/affine/blocks/image/src/configs/toolbar.ts
  blocksuite/affine/blocks/image/src/image-block.ts
  blocksuite/affine/blocks/list/src/list-block.ts
  blocksuite/affine/blocks/note/src/commands/index.ts
  blocksuite/affine/blocks/note/src/commands/update-block-align.ts
  blocksuite/affine/blocks/note/src/configs/slash-menu.ts
  blocksuite/affine/blocks/note/src/note-keymap.ts
  blocksuite/affine/blocks/paragraph/src/paragraph-block.ts
  blocksuite/affine/blocks/root/src/configs/toolbar.ts
  blocksuite/affine/blocks/table/src/table-block.ts
  blocksuite/affine/model/src/blocks/image/image-model.ts
  blocksuite/affine/model/src/blocks/list/list-model.ts
  blocksuite/affine/model/src/blocks/paragraph/paragraph-model.ts
  blocksuite/affine/model/src/blocks/table/table-model.ts
  blocksuite/affine/rich-text/src/align.ts
  blocksuite/affine/rich-text/src/index.ts
  packages/frontend/core/src/components/hooks/affine/use-shortcuts.ts
  packages/frontend/i18n/src/i18n.gen.ts
  packages/frontend/i18n/src/resources/en.json
  packages/frontend/i18n/src/resources/zh-Hans.json
  packages/frontend/i18n/src/resources/zh-Hant.json
  tests/blocksuite/e2e/format-bar.spec.ts
  tests/blocksuite/e2e/slash-menu.spec.ts
Labels: mod:i18n, test, app:core

#13510 chore: update mermaid
  packages/frontend/core/package.json
  yarn.lock
Labels: app:core

#13658 refactor(editor): new icon picker
  blocksuite/affine/blocks/callout/package.json
  blocksuite/affine/blocks/callout/src/callout-block-styles.ts
  blocksuite/affine/blocks/callout/src/callout-block.ts
  blocksuite/affine/blocks/callout/src/configs/toolbar.ts
  blocksuite/affine/blocks/callout/src/effects.ts
  blocksuite/affine/blocks/callout/src/emoji-menu.ts
  blocksuite/affine/blocks/callout/src/icon-picker-wrapper.ts
  blocksuite/affine/blocks/callout/src/view.ts
  blocksuite/affine/model/src/blocks/callout/callout-model.ts
  blocksuite/affine/shared/src/services/icon-picker-service.ts
  blocksuite/affine/shared/src/services/icon-picker-service/index.ts
  blocksuite/affine/shared/src/services/index.ts
  package.json
  packages/frontend/core/src/blocksuite/block-suite-editor/bi-directional-link-panel.tsx
  packages/frontend/core/src/blocksuite/block-suite-editor/lit-adaper.tsx
  packages/frontend/core/src/blocksuite/manager/view.ts
  packages/frontend/core/src/blocksuite/view-extensions/icon-picker/icon-picker-service.ts
  packages/frontend/core/src/blocksuite/view-extensions/icon-picker/index.ts
  packages/frontend/core/src/components/hooks/affine/use-ai-specs.ts
  packages/frontend/core/src/modules/icon-picker/index.ts
  packages/frontend/core/src/modules/icon-picker/services/icon-picker.ts
  packages/frontend/core/src/modules/index.ts
  tests/affine-local/e2e/blocksuite/callout/callout.spec.ts
  yarn.lock
Labels: test, app:core

#13670 feat(server): refresh subscription
  packages/backend/server/src/__tests__/payment/revenuecat.spec.ts
  packages/backend/server/src/plugins/payment/resolver.ts
  packages/backend/server/src/schema.gql
  packages/common/graphql/src/graphql/index.ts
  packages/common/graphql/src/graphql/subscription-refresh.gql
  packages/common/graphql/src/schema.ts
Labels: app:server, test
