Repository toeverything/AFFiNE, pull requests merged in 2025-05, with the labels that each got.

#12089 feat(editor): make height of edgeless embed doc to fit content
  blocksuite/affine/blocks/embed-doc/src/embed-synced-doc-block/embed-edgeless-synced-doc-block.ts
  blocksuite/affine/blocks/embed-doc/src/embed-synced-doc-block/embed-synced-doc-spec.ts
  blocksuite/affine/blocks/embed-doc/src/embed-synced-doc-block/init-height-extension.ts
  blocksuite/affine/model/src/blocks/embed/synced-doc/synced-doc-schema.ts
  tests/blocksuite/e2e/embed-synced-doc/edgeless.spec.ts
Labels: test

#12101 refactor(editor): improve implementation of lit adapter
  blocksuite/affine/blocks/code/src/view.ts
  blocksuite/affine/ext-loader/src/__tests__/ext-loader.unit.spec.ts
  blocksuite/affine/ext-loader/src/view-provider.ts
  blocksuite/affine/foundation/src/clipboard.ts
  blocksuite/affine/foundation/src/view.ts
  blocksuite/affine/shared/src/services/theme-service.ts
  blocksuite/affine/widgets/slash-menu/src/view.ts
  blocksuite/affine/widgets/toolbar/src/view.ts
  packages/frontend/component/src/lit-react/lit-portal/index.ts
  packages/frontend/component/src/lit-react/lit-portal/lit-portal.tsx
  packages/frontend/core/src/blocksuite/block-suite-editor/lit-adaper.tsx
  packages/frontend/core/src/blocksuite/extensions/attachment-embed-view.tsx
  packages/frontend/core/src/blocksuite/extensions/edgeless-block-header/index.tsx
  packages/frontend/core/src/blocksuite/extensions/entry/enable-editor.ts
  packages/frontend/core/src/blocksuite/extensions/entry/enable-preview.ts
  packages/frontend/core/src/blocksuite/extensions/index.ts
  packages/frontend/core/src/blocksuite/extensions/mobile-config.ts
  packages/frontend/core/src/blocksuite/extensions/reference-renderer.ts
  packages/frontend/core/src/blocksuite/extensions/theme.ts
  packages/frontend/core/src/blocksuite/extensions/turbo-renderer.ts
  packages/frontend/core/src/blocksuite/manager/common-view.ts
  packages/frontend/core/src/blocksuite/manager/editor-view.tsx
  packages/frontend/core/src/blocksuite/manager/migrating-view.ts
  packages/frontend/core/src/modules/doc-info/use-std.ts
  packages/frontend/core/src/modules/doc-info/utils.ts
  packages/frontend/core/src/modules/doc-info/views/database-properties/cells/rich-text.tsx
Labels: mod:component, test, app:core

#12110 refactor(editor): use extension level config
  blocksuite/affine/blocks/database/src/config.ts
  blocksuite/affine/blocks/database/src/database-block.ts
  blocksuite/affine/blocks/database/src/view.ts
  blocksuite/affine/widgets/linked-doc/package.json
  blocksuite/affine/widgets/linked-doc/src/config.ts
  blocksuite/affine/widgets/linked-doc/src/view.ts
  packages/frontend/core/src/blocksuite/extensions/editor-config/index.ts
  packages/frontend/core/src/blocksuite/extensions/editor-config/linked.ts
  packages/frontend/core/src/blocksuite/manager/common-view.ts
  packages/frontend/core/src/blocksuite/manager/migrating-view.ts
  yarn.lock
Labels: app:core

#12119 refactor(editor): remove global gfx tool types
  blocksuite/affine/blocks/frame/src/index.ts
  blocksuite/affine/blocks/root/src/index.ts
  blocksuite/affine/blocks/surface/src/tool/default-tool.ts
  blocksuite/affine/gfx/brush/src/brush-tool.ts
  blocksuite/affine/gfx/brush/src/eraser-tool.ts
  blocksuite/affine/gfx/brush/src/highlighter-tool.ts
  blocksuite/affine/gfx/connector/src/connector-tool.ts
  blocksuite/affine/gfx/note/src/note-tool.ts
  blocksuite/affine/gfx/pointer/src/tools/empty-tool.ts
  blocksuite/affine/gfx/pointer/src/tools/pan-tool.ts
  blocksuite/affine/gfx/shape/src/shape-tool.ts
  blocksuite/affine/gfx/template/src/template-tool.ts
  blocksuite/affine/gfx/text/src/mount-text-editor.ts
  blocksuite/affine/gfx/text/src/tool.ts
  blocksuite/framework/std/src/gfx/index.ts
  blocksuite/framework/std/src/gfx/tool/tool-controller.ts
  blocksuite/framework/std/src/gfx/tool/tool.ts
  packages/frontend/core/src/blocksuite/ai/actions/edgeless-handler.ts
  packages/frontend/core/src/blocksuite/ai/tool/copilot-tool.ts
  tests/blocksuite/e2e/utils/declare-test-window.ts
Labels: test, app:core, merge

#12131 refactor(editor): move history from doc to store
  blocksuite/affine/blocks/embed-doc/src/embed-synced-doc-block/configs/toolbar.ts
  blocksuite/affine/shared/src/utils/model/doc.ts
  blocksuite/docs/api/@blocksuite/store/classes/Store.md
  blocksuite/docs/api/@blocksuite/store/interfaces/StoreSlots.md
  blocksuite/framework/store/src/model/doc.ts
  blocksuite/framework/store/src/model/store/store.ts
  blocksuite/framework/store/src/test/test-doc.ts
  blocksuite/playground/apps/starter/data/database.ts
  blocksuite/playground/apps/starter/data/embed.ts
  blocksuite/playground/apps/starter/data/empty.ts
  blocksuite/playground/apps/starter/utils/collection.ts
  packages/frontend/core/src/modules/workspace/impls/doc.ts
Labels: app:core

#12082 test(editor): reduce flaky timing in turbo renderer tests
  blocksuite/integration-test/src/__tests__/edgeless/turbo-renderer.spec.ts
Labels: test

#12060 fix(electron): adjust switch tab shortcuts on Mac
  packages/frontend/apps/electron/src/main/application-menu/create.ts
Labels: app:electron

#12137 fix(editor): userProvider should be optional
  packages/frontend/core/src/blocksuite/extensions/editor-config/toolbar/index.ts
Labels: app:core

#12088 fix(core): add back missing i18n key
  packages/frontend/i18n/src/i18n-completenesses.json
  packages/frontend/i18n/src/i18n.gen.ts
  packages/frontend/i18n/src/resources/en.json
Labels: mod:i18n

#12140 refactor(editor): move block yjs listener to store
  blocksuite/framework/store/src/model/doc.ts
  blocksuite/framework/store/src/model/store/store.ts
  blocksuite/framework/store/src/test/test-doc.ts
  packages/frontend/core/src/modules/workspace/impls/doc.ts
Labels: app:core

#12142 refactor(editor): remove unused code
  blocksuite/framework/store/src/model/store/store.ts
  blocksuite/framework/store/src/test/test-doc.ts
  packages/frontend/core/src/modules/workspace/impls/doc.ts
Labels: app:core

#11805 feat(editor): support preview mode in code block
  blocksuite/affine/blocks/code/src/code-block.ts
  blocksuite/affine/blocks/code/src/code-preview-extension.ts
  blocksuite/affine/blocks/code/src/code-toolbar/components/code-toolbar.ts
  blocksuite/affine/blocks/code/src/code-toolbar/components/lang-button.ts
  blocksuite/affine/blocks/code/src/code-toolbar/components/preview-button.ts
  blocksuite/affine/blocks/code/src/code-toolbar/config.ts
  blocksuite/affine/blocks/code/src/effects.ts
  blocksuite/affine/blocks/code/src/index.ts
  blocksuite/affine/blocks/code/src/styles.ts
  blocksuite/affine/model/src/blocks/code/code-model.ts
  packages/frontend/core/package.json
  packages/frontend/core/src/blocksuite/extensions/code-block-preview/html-preview.ts
  packages/frontend/core/src/blocksuite/extensions/code-block-preview/web-container.ts
  packages/frontend/core/src/blocksuite/manager/code-block-preview.ts
  packages/frontend/core/src/blocksuite/manager/migrating-view.ts
  tests/affine-local/e2e/blocksuite/code/crud.spec.ts
  tools/cli/src/bundle.ts
  yarn.lock
Labels: mod:dev, test, app:core

#12042 feat(electron): add welcome page for meetings
  packages/frontend/apps/electron-renderer/src/app/effects/recording.ts
  packages/frontend/apps/electron/src/main/shared-state-schema.ts
  packages/frontend/component/src/components/setting-components/setting-header.tsx
  packages/frontend/component/src/components/setting-components/share.css.ts
  packages/frontend/core/src/desktop/dialogs/setting/general-setting/index.tsx
  packages/frontend/core/src/desktop/dialogs/setting/general-setting/meetings/index.tsx
  packages/frontend/core/src/desktop/dialogs/setting/general-setting/meetings/meeting-apps.dark.assets.svg
  packages/frontend/core/src/desktop/dialogs/setting/general-setting/meetings/meeting-apps.light.assets.svg
  packages/frontend/core/src/desktop/dialogs/setting/general-setting/meetings/use-enable-recording.ts
  packages/frontend/core/src/desktop/dialogs/setting/general-setting/meetings/welcome-page.css.ts
  packages/frontend/core/src/desktop/dialogs/setting/general-setting/meetings/welcome-page.tsx
  packages/frontend/core/src/desktop/dialogs/setting/setting-sidebar/index.tsx
  packages/frontend/core/src/desktop/dialogs/setting/setting-sidebar/style.css.ts
  packages/frontend/core/src/desktop/dialogs/setting/types.ts
  packages/frontend/core/src/modules/feature-flag/constant.ts
  packages/frontend/core/src/modules/media/entities/audio-attachment-block.ts
  packages/frontend/core/src/modules/media/index.ts
  packages/frontend/core/src/modules/media/services/meeting-settings.ts
  packages/frontend/i18n/src/i18n-completenesses.json
  packages/frontend/i18n/src/i18n.gen.ts
  packages/frontend/i18n/src/resources/ar.json
  packages/frontend/i18n/src/resources/de.json
  packages/frontend/i18n/src/resources/el-GR.json
  packages/frontend/i18n/src/resources/en.json
  packages/frontend/i18n/src/resources/es.json
  packages/frontend/i18n/src/resources/fa.json
  packages/frontend/i18n/src/resources/fr.json
  packages/frontend/i18n/src/resources/it-IT.json
  packages/frontend/i18n/src/resources/ja.json
  packages/frontend/i18n/src/resources/pl.json
  packages/frontend/i18n/src/resources/pt-BR.json
  packages/frontend/i18n/src/resources/ru.json
  packages/frontend/i18n/src/resources/sv-SE.json
  packages/frontend/i18n/src/resources/uk.json
  packages/frontend/i18n/src/resources/zh-Hans.json
  packages/frontend/i18n/src/resources/zh-Hant.json
Labels: mod:i18n, mod:component, app:electron, app:core

#12141 test(core): fix chat with tag falky
  tests/affine-cloud-copilot/e2e/utils/chat-panel-utils.ts
Labels: test

#12148 chore(server): dont use default export on @prisma/instrumentation
  packages/backend/server/package.json
  packages/backend/server/src/base/metrics/opentelemetry.ts
  yarn.lock
Labels: app:server

#12159 test(editor): revert timeout condition in turbo renderer
  blocksuite/integration-test/src/__tests__/edgeless/turbo-renderer.spec.ts
Labels: test

#12017 fix(editor): improve image block upload and download states
  blocksuite/affine/blocks/attachment/src/attachment-block.ts
  blocksuite/affine/blocks/attachment/src/styles.ts
  blocksuite/affine/blocks/attachment/src/utils.ts
  blocksuite/affine/blocks/image/src/components/image-block-fallback.ts
  blocksuite/affine/blocks/image/src/components/image-selected-rect.ts
  blocksuite/affine/blocks/image/src/components/page-image-block.ts
  blocksuite/affine/blocks/image/src/configs/toolbar.ts
  blocksuite/affine/blocks/image/src/image-block.ts
  blocksuite/affine/blocks/image/src/image-edgeless-block.ts
  blocksuite/affine/blocks/image/src/index.ts
  blocksuite/affine/blocks/image/src/utils.ts
  blocksuite/affine/components/src/resource/index.ts
  blocksuite/affine/gfx/mindmap/src/toolbar/basket-elements.ts
  blocksuite/framework/sync/src/blob/source.ts
  blocksuite/playground/apps/_common/sync/blob/mock-server.ts
  packages/frontend/core/src/blocksuite/ai/actions/page-response.ts
  tests/blocksuite/e2e/image/load.spec.ts
Labels: test, app:core

#12146 refactor(editor): introduce store container to make implement doc easier
  blocksuite/affine/blocks/embed-doc/src/embed-synced-doc-block/embed-synced-doc-block.ts
  blocksuite/affine/blocks/surface-ref/src/portal/note.ts
  blocksuite/affine/fragments/frame-panel/src/card/frame-preview.ts
  blocksuite/framework/store/src/model/doc.ts
  blocksuite/framework/store/src/model/index.ts
  blocksuite/framework/store/src/model/store-container.ts
  blocksuite/framework/store/src/test/test-doc.ts
  packages/frontend/core/src/blocksuite/ai/components/text-renderer.ts
  packages/frontend/core/src/blocksuite/block-suite-editor/lit-adaper.tsx
  packages/frontend/core/src/blocksuite/extensions/entry/enable-editor.ts
  packages/frontend/core/src/modules/workspace/impls/doc.ts
Labels: app:core

#12166 fix(core): cannot input space at the beginning of a blank paragraph
  packages/frontend/core/src/blocksuite/ai/entries/space/setup-space.ts
  tests/affine-cloud-copilot/e2e/basic/guidance.spec.ts
  tests/affine-cloud-copilot/e2e/utils/editor-utils.ts
Labels: test, app:core

#12167 fix(core): cannot space inside ai panel input
  packages/frontend/core/src/blocksuite/ai/entries/space/setup-space.ts
  tests/affine-cloud-copilot/e2e/basic/guidance.spec.ts
Labels: test, app:core

#12162 chore(editor): adjust embed synced doc ui
  blocksuite/affine/blocks/embed-doc/src/embed-linked-doc-block/styles.ts
  blocksuite/affine/blocks/note/src/configs/toolbar.ts
  packages/frontend/core/src/blocksuite/extensions/edgeless-block-header/edgeless-block-header.css.ts
  packages/frontend/core/src/blocksuite/extensions/edgeless-block-header/edgeless-embed-synced-doc-header.tsx
  packages/frontend/core/src/blocksuite/extensions/edgeless-block-header/edgeless-note-header.tsx
  packages/frontend/i18n/src/i18n.gen.ts
  packages/frontend/i18n/src/resources/ar.json
  packages/frontend/i18n/src/resources/de.json
  packages/frontend/i18n/src/resources/el-GR.json
  packages/frontend/i18n/src/resources/en.json
  packages/frontend/i18n/src/resources/es.json
  packages/frontend/i18n/src/resources/fa.json
  packages/frontend/i18n/src/resources/fr.json
  packages/frontend/i18n/src/resources/it-IT.json
  packages/frontend/i18n/src/resources/ja.json
  packages/frontend/i18n/src/resources/pl.json
  packages/frontend/i18n/src/resources/pt-BR.json
  packages/frontend/i18n/src/resources/ru.json
  packages/frontend/i18n/src/resources/sv-SE.json
  packages/frontend/i18n/src/resources/uk.json
  packages/frontend/i18n/src/resources/zh-Hans.json
  packages/frontend/i18n/src/resources/zh-Hant.json
Labels: mod:i18n, app:core

#12177 fix(editor): attachment size in embed view
  blocksuite/affine/blocks/attachment/src/embed.ts
  packages/frontend/core/src/blocksuite/extensions/attachment-embed-view.tsx
Labels: app:core

#12175 feat(core): add o4-mini model
  packages/backend/server/package.json
  packages/backend/server/src/plugins/copilot/prompt/prompts.ts
  packages/backend/server/src/plugins/copilot/providers/anthropic.ts
  packages/backend/server/src/plugins/copilot/providers/openai.ts
  packages/backend/server/src/plugins/copilot/tools/web-search.ts
  packages/frontend/core/src/blocksuite/ai/provider/setup-provider.tsx
  yarn.lock
Labels: app:server, app:core

#12178 chore(editor): skip flaky test case in turbo renderer
  blocksuite/integration-test/src/__tests__/edgeless/turbo-renderer.spec.ts
Labels: test

#12176 feat(core): mark reasoning summary as markdown callout
  packages/backend/server/src/plugins/copilot/providers/anthropic.ts
  packages/backend/server/src/plugins/copilot/providers/openai.ts
  packages/backend/server/src/plugins/copilot/tools/web-search.ts
  packages/frontend/core/src/blocksuite/ai/components/text-renderer.ts
Labels: app:server, app:core

#12150 refactor(core): implement doc created/updated by service
  blocksuite/affine/blocks/data-view/src/data-source.ts
  blocksuite/affine/shared/src/services/doc-display-meta-service.ts
  blocksuite/framework/store/src/__tests__/collection.unit.spec.ts
  blocksuite/framework/store/src/extension/workspace/workspace-meta.ts
  blocksuite/framework/store/src/extension/workspace/workspace.ts
  blocksuite/framework/store/src/model/store/store.ts
  blocksuite/framework/store/src/reactive/base-reactive-data.ts
  blocksuite/framework/store/src/test/test-meta.ts
  blocksuite/framework/store/src/test/test-workspace.ts
  packages/frontend/apps/electron-renderer/src/app/effects/events.ts
  packages/frontend/apps/electron-renderer/src/app/effects/recording.ts
  packages/frontend/core/src/blocksuite/ai/messages/slides-renderer.ts
  packages/frontend/core/src/blocksuite/ai/mini-mindmap/mindmap-preview.ts
  packages/frontend/core/src/blocksuite/block-suite-editor/blocksuite-editor.tsx
  packages/frontend/core/src/blocksuite/block-suite-page-list/utils.tsx
  packages/frontend/core/src/blocksuite/extensions/quick-search-service.ts
  packages/frontend/core/src/blocksuite/initialization/index.ts
  packages/frontend/core/src/blocksuite/utils/markdown-utils.ts
  packages/frontend/core/src/components/affine/page-history-modal/data.ts
  packages/frontend/core/src/components/doc-properties/types/created-updated-by.tsx
  packages/frontend/core/src/components/hooks/use-block-suite-workspace-page.ts
  packages/frontend/core/src/components/page-list/use-block-suite-workspace-page.ts
  packages/frontend/core/src/desktop/dialogs/setting/general-setting/editor/edgeless/docs/index.ts
  packages/frontend/core/src/desktop/dialogs/setting/workspace-setting/preference/profile.tsx
  packages/frontend/core/src/modules/at-menu-config/index.ts
  packages/frontend/core/src/modules/at-menu-config/services/index.ts
  packages/frontend/core/src/modules/cloud/index.ts
  packages/frontend/core/src/modules/cloud/services/doc-created-by.ts
  packages/frontend/core/src/modules/cloud/services/doc-updated-by.ts
  packages/frontend/core/src/modules/db/schema/schema.ts
  packages/frontend/core/src/modules/doc-display-meta/services/doc-display-meta.ts
  packages/frontend/core/src/modules/doc/entities/doc.ts
  packages/frontend/core/src/modules/doc/entities/record.ts
  packages/frontend/core/src/modules/doc/events/index.ts
  packages/frontend/core/src/modules/doc/index.ts
  packages/frontend/core/src/modules/doc/providers/doc-create-middleware.ts
  packages/frontend/core/src/modules/doc/services/docs.ts
  packages/frontend/core/src/modules/doc/stores/docs.ts
  packages/frontend/core/src/modules/doc/types.ts
  packages/frontend/core/src/modules/editor-setting/impls/doc-create-middleware.ts
  packages/frontend/core/src/modules/editor-setting/index.ts
  packages/frontend/core/src/modules/editor-setting/services/editor-setting.ts
  packages/frontend/core/src/modules/import-clipper/services/import.ts
  packages/frontend/core/src/modules/import-template/services/import.ts
  packages/frontend/core/src/modules/integration/entities/writer.ts
  packages/frontend/core/src/modules/journal/index.ts
  packages/frontend/core/src/modules/journal/services/journal.ts
  packages/frontend/core/src/modules/quicksearch/services/cmdk.ts
  packages/frontend/core/src/modules/theme/index.ts
  packages/frontend/core/src/modules/theme/services/edgeless-theme.ts
  packages/frontend/core/src/modules/workspace-engine/impls/cloud.ts
  packages/frontend/core/src/modules/workspace-engine/impls/local.ts
  packages/frontend/core/src/modules/workspace/entities/workspace.ts
  packages/frontend/core/src/modules/workspace/impls/workspace.ts
  packages/frontend/core/src/utils/first-app-data.ts
  tests/affine-local/e2e/drag-page.spec.ts
Labels: test, app:core

#12117 refactor(core): use overcapacityMemberCount for quota checking instead of calculating the difference
  packages/frontend/core/src/modules/quota/views/quota-check.tsx
  tests/affine-cloud/e2e/workspace.spec.ts
Labels: test, app:core

#12171 feat(core): migration for created by and updated by fields
  packages/common/graphql/src/graphql/get-doc-created-by-updated-by-list.gql
  packages/common/graphql/src/graphql/index.ts
  packages/common/graphql/src/schema.ts
  packages/frontend/core/src/desktop/pages/workspace/all-page-new/all-page.tsx
  packages/frontend/core/src/desktop/pages/workspace/all-page-new/migration-data.css.ts
  packages/frontend/core/src/desktop/pages/workspace/all-page-new/migration-data.tsx
  packages/frontend/core/src/modules/cloud/index.ts
  packages/frontend/core/src/modules/cloud/services/doc-created-by-updated-by-sync.ts
  packages/frontend/core/src/modules/cloud/stores/doc-created-by-updated-by-sync.ts
  packages/frontend/core/src/modules/permissions/entities/permission.ts
  packages/frontend/core/src/modules/workspace-engine/impls/cloud.ts
  packages/frontend/i18n/src/i18n.gen.ts
  packages/frontend/i18n/src/resources/en.json
Labels: mod:i18n, app:core

#11875 fix(core): ai replace selection
  blocksuite/affine/shared/package.json
  blocksuite/affine/shared/src/__tests__/commands/model-crud/replace-selected-text-with-blocks.unit.spec.ts
  blocksuite/affine/shared/src/__tests__/helpers/affine-template.ts
  blocksuite/affine/shared/src/__tests__/helpers/affine-template.unit.spec.ts
  blocksuite/affine/shared/src/__tests__/helpers/affine-test-utils.ts
  blocksuite/affine/shared/src/__tests__/helpers/create-test-host.ts
  blocksuite/affine/shared/src/commands/index.ts
  blocksuite/affine/shared/src/commands/model-crud/index.ts
  blocksuite/affine/shared/src/commands/model-crud/replace-selected-text-with-blocks.ts
  packages/frontend/core/src/blocksuite/ai/utils/editor-actions.ts
  tests/affine-cloud-copilot/e2e/chat-with/text.spec.ts
  tests/affine-cloud-copilot/e2e/utils/editor-utils.ts
  yarn.lock
Labels: test, app:core

#12192 fix(editor): disable html preview when no cross-origin isolated
  packages/frontend/core/src/blocksuite/manager/code-block-preview.ts
Labels: app:core

#11958 feat(component): grouped masonry
  packages/frontend/component/src/ui/masonry/masonry.stories.tsx
  packages/frontend/component/src/ui/masonry/masonry.tsx
  packages/frontend/component/src/ui/masonry/styles.css.ts
  packages/frontend/component/src/ui/masonry/type.ts
  packages/frontend/component/src/ui/masonry/utils.ts
  packages/frontend/component/src/ui/resize-panel/resize-panel.tsx
Labels: mod:infra, mod:i18n, mod:env, mod:component, app:server, test, app:core

#12198 fix(core): hide onboarding until the ai features are stable
  packages/frontend/core/src/desktop/pages/workspace/detail-page/detail-page.tsx
  packages/frontend/core/src/desktop/pages/workspace/layouts/workspace-layout.tsx
Labels: app:core

#12184 fix(core): ai input cannot scroll
  packages/frontend/core/src/blocksuite/ai/components/ai-chat-input/ai-chat-input.ts
Labels: app:core

#12039 feat(server): rerank for matching
  packages/backend/server/src/models/copilot-context.ts
  packages/backend/server/src/plugins/copilot/context/embedding.ts
  packages/backend/server/src/plugins/copilot/context/resolver.ts
  packages/backend/server/src/plugins/copilot/context/session.ts
  packages/backend/server/src/plugins/copilot/context/types.ts
  packages/backend/server/src/schema.gql
  packages/common/graphql/src/schema.ts
Labels: app:server

#12181 feat(server): support installable license
  .github/workflows/build-images.yml
  packages/backend/native/index.d.ts
  packages/backend/native/src/lib.rs
  packages/backend/server/migrations/20250508073308_installable_license/migration.sql
  packages/backend/server/schema.prisma
  packages/backend/server/src/__tests__/e2e/create-app.ts
  packages/backend/server/src/__tests__/e2e/license/__fixtures__/expired-end-at.license
  packages/backend/server/src/__tests__/e2e/license/__fixtures__/expired.license
  packages/backend/server/src/__tests__/e2e/license/__fixtures__/valid.license
  packages/backend/server/src/__tests__/e2e/license/resolver.spec.ts
  packages/backend/server/src/__tests__/e2e/test.ts
  packages/backend/server/src/base/error/def.ts
  packages/backend/server/src/base/error/errors.gen.ts
  packages/backend/server/src/base/helpers/__tests__/crypto.spec.ts
  packages/backend/server/src/base/helpers/crypto.ts
  packages/backend/server/src/core/workspaces/service.ts
  packages/backend/server/src/env.ts
  packages/backend/server/src/models/workspace-user.ts
  packages/backend/server/src/native.ts
  packages/backend/server/src/plugins/license/resolver.ts
  packages/backend/server/src/plugins/license/service.ts
  packages/backend/server/src/plugins/payment/license/controller.ts
  packages/backend/server/src/prelude.ts
  packages/backend/server/src/schema.gql
  packages/common/graphql/src/graphql/index.ts
  packages/common/graphql/src/graphql/license/activate-license.gql
  packages/common/graphql/src/graphql/license/deactivate-license.gql
  packages/common/graphql/src/graphql/license/get-license.gql
  packages/common/graphql/src/graphql/license/install-license.gql
  packages/common/graphql/src/graphql/license/license.gql
  packages/common/graphql/src/schema.ts
  packages/frontend/i18n/src/i18n.gen.ts
  packages/frontend/i18n/src/resources/en.json
  tools/cli/src/bundle.ts
Labels: mod:i18n, mod:dev, app:server, test, rust, mod:server-native

#12102 feat(core): new all docs list ui
  packages/frontend/component/src/ui/drag-handle/index.tsx
  packages/frontend/component/src/ui/masonry/index.ts
  packages/frontend/component/src/ui/masonry/masonry.tsx
  packages/frontend/component/src/ui/masonry/styles.css.ts
  packages/frontend/component/src/ui/masonry/type.ts
  packages/frontend/component/src/ui/masonry/utils.ts
  packages/frontend/core/src/components/explorer/context.ts
  packages/frontend/core/src/components/explorer/display-menu/index.tsx
  packages/frontend/core/src/components/explorer/display-menu/properties.css.ts
  packages/frontend/core/src/components/explorer/display-menu/properties.tsx
  packages/frontend/core/src/components/explorer/display-menu/quick-actions.tsx
  packages/frontend/core/src/components/explorer/docs-view/doc-list-item.css.ts
  packages/frontend/core/src/components/explorer/docs-view/doc-list-item.tsx
  packages/frontend/core/src/components/explorer/docs-view/group-header.css.ts
  packages/frontend/core/src/components/explorer/docs-view/group-header.tsx
  packages/frontend/core/src/components/explorer/docs-view/more-menu.tsx
  packages/frontend/core/src/components/explorer/docs-view/properties.css.ts
  packages/frontend/core/src/components/explorer/docs-view/properties.tsx
  packages/frontend/core/src/components/explorer/docs-view/quick-actions.tsx
  packages/frontend/core/src/components/explorer/docs-view/stack-property.tsx
  packages/frontend/core/src/components/explorer/quick-actions.constants.tsx
  packages/frontend/core/src/components/explorer/types.ts
  packages/frontend/core/src/components/workspace-property-types/checkbox.tsx
  packages/frontend/core/src/components/workspace-property-types/created-updated-by.css.ts
  packages/frontend/core/src/components/workspace-property-types/created-updated-by.tsx
  packages/frontend/core/src/components/workspace-property-types/date.css.ts
  packages/frontend/core/src/components/workspace-property-types/date.tsx
  packages/frontend/core/src/components/workspace-property-types/doc-primary-mode.tsx
  packages/frontend/core/src/components/workspace-property-types/edgeless-theme.tsx
  packages/frontend/core/src/components/workspace-property-types/index.ts
  packages/frontend/core/src/components/workspace-property-types/journal.tsx
  packages/frontend/core/src/components/workspace-property-types/number.tsx
  packages/frontend/core/src/components/workspace-property-types/page-width.tsx
  packages/frontend/core/src/components/workspace-property-types/tags.css.ts
  packages/frontend/core/src/components/workspace-property-types/tags.tsx
  packages/frontend/core/src/components/workspace-property-types/template.tsx
  packages/frontend/core/src/components/workspace-property-types/text.tsx
  packages/frontend/core/src/desktop/pages/workspace/all-page-new/all-page.css.ts
  packages/frontend/core/src/desktop/pages/workspace/all-page-new/all-page.tsx
  packages/frontend/core/src/modules/cloud/index.ts
  packages/frontend/core/src/modules/cloud/views/public-user.tsx
  packages/frontend/core/src/modules/collection-rules/impls/filters/property.ts
  packages/frontend/core/src/modules/collection-rules/impls/filters/trash.ts
  packages/frontend/core/src/modules/collection-rules/index.ts
  packages/frontend/core/src/modules/doc/services/docs.ts
  packages/frontend/i18n/src/i18n-completenesses.json
  packages/frontend/i18n/src/i18n.gen.ts
  packages/frontend/i18n/src/resources/en.json
Labels: mod:i18n, mod:component, app:core

#12201 fix(editor): array proxy splice will cause too large yjs update
  blocksuite/framework/store/src/__tests__/yjs.unit.spec.ts
  blocksuite/framework/store/src/reactive/proxy.ts
Labels: test

#12139 feat(server): permission check for workspace doc match
  packages/backend/server/src/plugins/copilot/context/resolver.ts
Labels: app:server

#12186 feat(server): workspace doc update event from indexer
  packages/backend/server/src/__tests__/models/__snapshots__/copilot-context.spec.ts.md
  packages/backend/server/src/__tests__/models/__snapshots__/copilot-context.spec.ts.snap
  packages/backend/server/src/__tests__/models/copilot-context.spec.ts
  packages/backend/server/src/models/copilot-context.ts
  packages/backend/server/src/plugins/copilot/context/job.ts
  packages/backend/server/src/plugins/copilot/context/session.ts
Labels: mod:i18n, mod:component, app:server, test, app:core

#12182 feat(core): new all docs header
  packages/frontend/core/src/components/explorer/context.ts
  packages/frontend/core/src/components/explorer/display-menu/index.tsx
  packages/frontend/core/src/components/explorer/header/navigation.css.ts
  packages/frontend/core/src/components/explorer/header/navigation.tsx
  packages/frontend/core/src/desktop/pages/workspace/all-collection/header.tsx
  packages/frontend/core/src/desktop/pages/workspace/all-page-new/all-page.tsx
  packages/frontend/core/src/desktop/pages/workspace/all-page-old/all-page-filter.tsx
  packages/frontend/core/src/desktop/pages/workspace/all-page-old/all-page-header.tsx
  packages/frontend/core/src/desktop/pages/workspace/all-page-old/all-page.css.ts
  packages/frontend/core/src/desktop/pages/workspace/all-page-old/all-page.tsx
  packages/frontend/core/src/desktop/pages/workspace/all-page/all-page-header.css.ts
  packages/frontend/core/src/desktop/pages/workspace/all-page/all-page-header.tsx
  packages/frontend/core/src/desktop/pages/workspace/all-page/all-page.css.ts
  packages/frontend/core/src/desktop/pages/workspace/all-page/all-page.tsx
  packages/frontend/core/src/desktop/pages/workspace/all-page/migration-data.css.ts
  packages/frontend/core/src/desktop/pages/workspace/all-page/migration-data.tsx
  packages/frontend/core/src/desktop/pages/workspace/all-tag/header.tsx
  packages/frontend/core/src/desktop/pages/workspace/collection/header.tsx
  packages/frontend/core/src/desktop/pages/workspace/tag/header.tsx
  packages/frontend/core/src/desktop/workbench-router.ts
  packages/frontend/core/src/modules/feature-flag/constant.ts
Labels: app:core

#12193 feat(editor): implement view extension manager with builder pattern
  packages/frontend/core/src/blocksuite/ai/components/text-renderer.ts
  packages/frontend/core/src/blocksuite/block-suite-editor/bi-directional-link-panel.tsx
  packages/frontend/core/src/blocksuite/block-suite-editor/lit-adaper.tsx
  packages/frontend/core/src/blocksuite/extensions/edgeless-block-header/index.tsx
  packages/frontend/core/src/blocksuite/extensions/edgeless-block-header/patch.tsx
  packages/frontend/core/src/blocksuite/extensions/editor-config/get-config.ts
  packages/frontend/core/src/blocksuite/extensions/editor-config/index.ts
  packages/frontend/core/src/blocksuite/extensions/theme/index.ts
  packages/frontend/core/src/blocksuite/extensions/theme/preview-theme.ts
  packages/frontend/core/src/blocksuite/extensions/theme/theme.ts
  packages/frontend/core/src/blocksuite/manager/code-block-preview.ts
  packages/frontend/core/src/blocksuite/manager/common-view.ts
  packages/frontend/core/src/blocksuite/manager/editor-view.tsx
  packages/frontend/core/src/blocksuite/manager/migrating-view.ts
  packages/frontend/core/src/desktop/dialogs/setting/general-setting/editor/edgeless/snapshot.tsx
  packages/frontend/core/src/modules/doc-info/use-std.ts
Labels: app:core

#12207 chore(core): pdf viewer is enabled by default
  packages/frontend/core/src/blocksuite/block-suite-editor/lit-adaper.tsx
  packages/frontend/core/src/modules/feature-flag/constant.ts
  tests/affine-cloud/e2e/share-page.spec.ts
  tests/affine-local/e2e/attachment-preview.spec.ts
Labels: test, app:core

#12188 perf(core): optimize rendering of all docs
  packages/frontend/core/src/components/explorer/context.ts
  packages/frontend/core/src/components/explorer/display-menu/index.tsx
  packages/frontend/core/src/components/explorer/display-menu/properties.tsx
  packages/frontend/core/src/components/explorer/display-menu/quick-actions.tsx
  packages/frontend/core/src/components/explorer/docs-view/doc-list-item.tsx
  packages/frontend/core/src/components/explorer/docs-view/group-header.tsx
  packages/frontend/core/src/components/explorer/docs-view/properties.tsx
  packages/frontend/core/src/components/explorer/docs-view/quick-actions.tsx
  packages/frontend/core/src/components/explorer/quick-actions.constants.tsx
  packages/frontend/core/src/components/workspace-property-types/created-updated-by.tsx
  packages/frontend/core/src/components/workspace-property-types/index.ts
  packages/frontend/core/src/desktop/pages/workspace/all-page/all-page-header.tsx
  packages/frontend/core/src/desktop/pages/workspace/all-page/all-page.tsx
  packages/frontend/core/src/modules/cloud/views/public-user.css.ts
  packages/frontend/core/src/modules/cloud/views/public-user.tsx
  packages/frontend/core/src/modules/doc/stores/docs.ts
Labels: app:core

#12180 feat(editor): improve status display in attachment embed view
  blocksuite/affine/blocks/attachment/src/attachment-block.ts
  blocksuite/affine/blocks/attachment/src/configs/toolbar.ts
  blocksuite/affine/blocks/attachment/src/embed.ts
  blocksuite/affine/blocks/attachment/src/styles.ts
  blocksuite/affine/components/src/resource/index.ts
  blocksuite/affine/components/src/resource/resource.ts
  blocksuite/affine/components/src/resource/status.ts
  blocksuite/affine/foundation/src/effects.ts
  packages/frontend/component/src/lit-react/lit-portal/lit-portal.tsx
  packages/frontend/core/src/blocksuite/extensions/attachment-embed-view.tsx
  tests/affine-local/e2e/attachment-preview.spec.ts
Labels: mod:component, test, app:core

#12213 refactor(editor): split turbo renderer and cloud view builder
  packages/frontend/core/src/blocksuite/block-suite-editor/lit-adaper.tsx
  packages/frontend/core/src/blocksuite/extensions/audio/audio-view.tsx
  packages/frontend/core/src/blocksuite/extensions/cloud/index.ts
  packages/frontend/core/src/blocksuite/extensions/cloud/user-list.ts
  packages/frontend/core/src/blocksuite/extensions/cloud/user.ts
  packages/frontend/core/src/blocksuite/extensions/pdf/index.ts
  packages/frontend/core/src/blocksuite/extensions/pdf/pdf-view.tsx
  packages/frontend/core/src/blocksuite/extensions/turbo-renderer/index.ts
  packages/frontend/core/src/blocksuite/extensions/turbo-renderer/turbo-painter.worker.ts
  packages/frontend/core/src/blocksuite/extensions/turbo-renderer/turbo-renderer.ts
  packages/frontend/core/src/blocksuite/manager/editor-view.tsx
  packages/frontend/core/src/blocksuite/manager/migrating-view.ts
  tools/cli/src/bundle.ts
Labels: mod:dev, app:core

#12214 refactor(editor): history as a store extension
  blocksuite/affine/blocks/code/src/code-block.ts
  blocksuite/affine/blocks/list/src/list-block.ts
  blocksuite/affine/blocks/paragraph/src/paragraph-block.ts
  blocksuite/affine/fragments/doc-title/src/doc-title.ts
  blocksuite/affine/shared/src/services/notification-service.ts
  blocksuite/affine/shared/src/services/toolbar-service/context.ts
  blocksuite/docs/api/@blocksuite/store/classes/Store.md
  blocksuite/docs/api/@blocksuite/store/interfaces/StoreSlots.md
  blocksuite/framework/store/src/extension/history/history-extension.ts
  blocksuite/framework/store/src/extension/history/index.ts
  blocksuite/framework/store/src/extension/index.ts
  blocksuite/framework/store/src/extension/selection/selection-extension.ts
  blocksuite/framework/store/src/model/store/store.ts
  blocksuite/playground/apps/_common/components/starter-debug-menu.ts
  packages/frontend/core/src/blocksuite/initialization/index.ts
  packages/frontend/core/src/modules/doc-info/views/database-properties/cells/rich-text.tsx
Labels: app:core

#12197 feat(core): add default filter rules for all docs
  packages/frontend/core/src/components/explorer/context.ts
  packages/frontend/core/src/components/member-selector/index.tsx
  packages/frontend/core/src/desktop/pages/workspace/all-page/all-page.tsx
  packages/frontend/core/src/modules/cloud/entities/session.ts
  packages/frontend/core/src/modules/cloud/services/doc-created-by-updated-by-sync.ts
  packages/frontend/core/src/modules/collection-rules/impls/filters/empty-journal.ts
  packages/frontend/core/src/modules/collection-rules/index.ts
  packages/frontend/core/src/modules/collection-rules/services/collection-rules.ts
  packages/frontend/core/src/modules/doc/entities/record-list.ts
  packages/frontend/core/src/modules/doc/stores/docs.ts
  packages/frontend/core/src/modules/permissions/services/member-search.ts
Labels: app:core

#12209 fix(core): cannot abort AI chat immediately after sending a message
  packages/frontend/core/src/blocksuite/ai/components/ai-chat-input/ai-chat-input.ts
Labels: app:core

#12204 fix(editor): add fallback tip when no cross-origin isolated
  packages/frontend/core/src/blocksuite/extensions/code-block-preview/html-preview.ts
  packages/frontend/core/src/blocksuite/manager/code-block-preview.ts
Labels: app:core, merge

#12229 fix(editor): add width height for html preview
  packages/frontend/core/src/blocksuite/extensions/code-block-preview/html-preview.ts
Labels: app:core, merge

#12210 refactor(editor): extract slider component
  blocksuite/affine/components/package.json
  blocksuite/affine/components/src/edgeless-line-styles-panel/line-styles-panel.ts
  blocksuite/affine/components/src/edgeless-line-width-panel/line-width-panel.ts
  blocksuite/affine/components/src/slider/index.ts
  blocksuite/affine/components/src/slider/slider.ts
  blocksuite/affine/components/src/slider/styles.ts
  blocksuite/affine/components/src/slider/types.ts
  blocksuite/affine/components/src/slider/utils.ts
  blocksuite/affine/foundation/src/effects.ts
  blocksuite/framework/std/src/view/decorators/required.ts
  tests/affine-local/e2e/blocksuite/edgeless/highlighter.spec.ts
  tests/affine-local/e2e/blocksuite/edgeless/note.spec.ts
  tests/blocksuite/e2e/edgeless/connector/connector.spec.ts
  tests/blocksuite/e2e/utils/actions/edgeless.ts
Labels: test

#12230 feat(editor): group configuration of note styles to panel from toolbar
  blocksuite/affine/blocks/note/src/components/edgeless-note-shadow-dropdown-menu.ts
  blocksuite/affine/blocks/note/src/components/edgeless-note-shadow-menu.ts
  blocksuite/affine/blocks/note/src/components/edgeless-note-style-panel.ts
  blocksuite/affine/blocks/note/src/components/icons.ts
  blocksuite/affine/blocks/note/src/configs/toolbar.ts
  blocksuite/affine/blocks/note/src/effects.ts
  blocksuite/affine/components/src/color-picker/color-panel.ts
  blocksuite/affine/components/src/color-picker/icons.ts
  blocksuite/affine/components/src/toolbar/icon-button.ts
  blocksuite/affine/model/src/themes/default.ts
  tests/affine-local/e2e/blocksuite/edgeless/note.spec.ts
  tests/affine-local/e2e/blocksuite/toolbar.spec.ts
  tests/blocksuite/e2e/clipboard/list.spec.ts
  tests/blocksuite/e2e/edgeless/auto-complete.spec.ts
  tests/blocksuite/e2e/edgeless/element-toolbar.spec.ts
  tests/blocksuite/e2e/edgeless/note/note.spec.ts
  tests/blocksuite/e2e/utils/actions/edgeless.ts
Labels: test

#12239 refactor(editor): extract mobile extension builder
  blocksuite/affine/blocks/code/src/view.ts
  blocksuite/affine/ext-loader/src/base-provider.ts
  blocksuite/affine/ext-loader/src/manager.ts
  packages/frontend/core/src/blocksuite/block-suite-editor/lit-adaper.tsx
  packages/frontend/core/src/blocksuite/extensions/mobile/index.ts
  packages/frontend/core/src/blocksuite/extensions/mobile/keyboard-toolbar-extension.ts
  packages/frontend/core/src/blocksuite/extensions/mobile/mobile-feature-flag-control.ts
  packages/frontend/core/src/blocksuite/manager/common-view.ts
  packages/frontend/core/src/blocksuite/manager/editor-view.tsx
  packages/frontend/core/src/blocksuite/manager/migrating-store.ts
  packages/frontend/core/src/blocksuite/manager/migrating-view.ts
Labels: app:core

#12240 refactor(editor): extract ai extension builder
  packages/frontend/core/src/blocksuite/block-suite-editor/bi-directional-link-panel.tsx
  packages/frontend/core/src/blocksuite/block-suite-editor/lit-adaper.tsx
  packages/frontend/core/src/blocksuite/extensions/ai/edgeless-clipboard.ts
  packages/frontend/core/src/blocksuite/extensions/ai/index.ts
  packages/frontend/core/src/blocksuite/extensions/electron/electron-clipboard.ts
  packages/frontend/core/src/blocksuite/extensions/electron/index.ts
  packages/frontend/core/src/blocksuite/manager/common-view.ts
  packages/frontend/core/src/blocksuite/manager/editor-view.tsx
  packages/frontend/core/src/blocksuite/manager/migrating-view.ts
Labels: app:core

#12118 refactor(core): use workspace role query instead of isOwner query
  packages/common/graphql/src/graphql/get-is-admin.gql
  packages/common/graphql/src/graphql/get-is-owner.gql
  packages/common/graphql/src/graphql/get-workspace-info.gql
  packages/common/graphql/src/graphql/index.ts
  packages/common/graphql/src/schema.ts
  packages/frontend/core/src/components/root-app-sidebar/user-info.tsx
  packages/frontend/core/src/modules/permissions/entities/permission.ts
  packages/frontend/core/src/modules/workspace-engine/impls/cloud.ts
Labels: app:core

#12196 refactor(editor): add cache extension for link preview service
  blocksuite/affine/blocks/bookmark/src/bookmark-block.ts
  blocksuite/affine/blocks/bookmark/src/utils.ts
  blocksuite/affine/blocks/embed/src/embed-github-block/embed-github-service.ts
  blocksuite/affine/blocks/embed/src/embed-github-block/utils.ts
  blocksuite/affine/blocks/embed/src/embed-iframe-block/embed-iframe-block.ts
  blocksuite/affine/blocks/embed/src/embed-youtube-block/embed-youtube-service.ts
  blocksuite/affine/blocks/embed/src/embed-youtube-block/utils.ts
  blocksuite/affine/foundation/src/store.ts
  blocksuite/affine/foundation/src/view.ts
  blocksuite/affine/inlines/footnote/src/footnote-node/footnote-node.ts
  blocksuite/affine/inlines/footnote/src/footnote-node/footnote-popup.ts
  blocksuite/affine/model/src/utils/types.ts
  blocksuite/affine/shared/package.json
  blocksuite/affine/shared/src/services/feature-flag-service.ts
  blocksuite/affine/shared/src/services/index.ts
  blocksuite/affine/shared/src/services/link-preview-service/index.ts
  blocksuite/affine/shared/src/services/link-preview-service/link-preview-cache.ts
  blocksuite/affine/shared/src/services/link-preview-service/link-preview-service.ts
  blocksuite/affine/shared/src/services/link-preview-service/link-preview-storage.ts
  blocksuite/affine/shared/src/services/link-previewer-service.ts
  packages/frontend/core/src/blocksuite/ai/blocks/ai-chat-block/ai-chat-block.ts
  packages/frontend/core/src/blocksuite/ai/chat-panel/chat-panel-messages.ts
  packages/frontend/core/src/blocksuite/ai/chat-panel/content/rich-text.ts
  packages/frontend/core/src/blocksuite/ai/chat-panel/index.ts
  packages/frontend/core/src/blocksuite/ai/chat-panel/message/assistant.ts
  packages/frontend/core/src/blocksuite/ai/components/text-renderer.ts
  packages/frontend/core/src/blocksuite/ai/peek-view/chat-block-peek-view.ts
  packages/frontend/core/src/blocksuite/block-suite-editor/bi-directional-link-panel.tsx
  packages/frontend/core/src/blocksuite/block-suite-editor/blocksuite-editor.tsx
  packages/frontend/core/src/blocksuite/block-suite-editor/lit-adaper.tsx
  packages/frontend/core/src/blocksuite/extensions/link-preview-service/index.ts
  packages/frontend/core/src/blocksuite/extensions/link-preview-service/link-preview-service.ts
  packages/frontend/core/src/blocksuite/manager/migrating-view.ts
  packages/frontend/core/src/blocksuite/utils/markdown-utils.ts
  packages/frontend/core/src/desktop/pages/workspace/detail-page/tabs/chat.tsx
  packages/frontend/core/src/mobile/pages/workspace/detail/mobile-detail-page.tsx
  packages/frontend/core/src/modules/feature-flag/constant.ts
  packages/frontend/core/src/modules/peek-view/view/ai-chat-block-peek-view/index.tsx
  packages/frontend/i18n/src/i18n-completenesses.json
  packages/frontend/i18n/src/i18n.gen.ts
  packages/frontend/i18n/src/resources/en.json
  yarn.lock
Labels: mod:i18n, app:core

#12226 fix(core): meeting settings issues
  packages/frontend/apps/electron/src/main/tray/index.ts
  packages/frontend/core/src/desktop/dialogs/setting/general-setting/index.tsx
  packages/frontend/core/src/desktop/dialogs/setting/general-setting/meetings/index.tsx
Labels: app:electron, app:core

#12231 fix(electron): streaming audio encoding not working
  packages/frontend/apps/electron-renderer/src/popup/recording/index.tsx
  packages/frontend/apps/electron/src/main/handlers.ts
  packages/frontend/apps/electron/src/main/recording/feature.ts
  packages/frontend/apps/electron/src/main/recording/state-machine.ts
  packages/frontend/apps/electron/src/main/windows-manager/popup.ts
  packages/frontend/core/src/utils/webm-encoding.ts
Labels: app:electron, app:core

#12248 fix(editor): notion text adapter should handle text without styles correctly
  blocksuite/affine/all/src/__tests__/adapters/notion-text.unit.spec.ts
  blocksuite/affine/shared/src/adapters/notion-text.ts
Labels: test

#12246 feat(electron): better recording quality after device change
  packages/frontend/native/media_capture/src/macos/tap_audio.rs
  packages/frontend/native/media_capture/src/macos/utils.rs
Labels: rust, mod:native

#12247 refactor(electron): use mp4 container instead of webm for encoded audio
  packages/frontend/apps/electron-renderer/src/app/effects/recording.ts
  packages/frontend/apps/electron-renderer/src/popup/recording/index.tsx
  packages/frontend/core/package.json
  packages/frontend/core/src/modules/media/entities/audio-attachment-block.ts
  packages/frontend/core/src/utils/opus-encoding.ts
  yarn.lock
Labels: app:core

#12249 fix(mobile): do not show audio block for mobile
  packages/frontend/core/src/blocksuite/extensions/audio/audio-view.tsx
Labels: app:core

#12224 feat(core): add optionalModels field in AiPrompt and support the front-end modelId param
  packages/backend/server/migrations/20250512031140_add_optional_models/migration.sql
  packages/backend/server/schema.prisma
  packages/backend/server/src/plugins/copilot/controller.ts
  packages/backend/server/src/plugins/copilot/prompt/chat-prompt.ts
  packages/backend/server/src/plugins/copilot/prompt/prompts.ts
  packages/backend/server/src/plugins/copilot/prompt/service.ts
  packages/backend/server/src/plugins/copilot/providers/anthropic.ts
  packages/backend/server/src/plugins/copilot/providers/openai.ts
  packages/backend/server/src/plugins/copilot/providers/types.ts
  packages/backend/server/src/plugins/copilot/session.ts
  packages/frontend/core/src/blocksuite/ai/provider/copilot-client.ts
Labels: app:server, app:core

#12252 refactor(editor): config the extension provider directly
  blocksuite/affine/all/package.json
  blocksuite/affine/all/src/foundation/store.ts
  blocksuite/affine/all/src/foundation/view.ts
  blocksuite/affine/blocks/paragraph/src/view.ts
  blocksuite/affine/components/src/peek/service.ts
  blocksuite/affine/foundation/src/view.ts
  blocksuite/affine/shared/src/services/font-loader/config.ts
  blocksuite/affine/shared/src/services/telemetry-service/telemetry-service.ts
  packages/frontend/core/src/blocksuite/extensions/font-config.ts
  packages/frontend/core/src/blocksuite/extensions/peek-view-service.ts
  packages/frontend/core/src/blocksuite/extensions/telemetry.ts
  packages/frontend/core/src/blocksuite/manager/common-view.ts
  packages/frontend/core/src/blocksuite/manager/migrating-view.ts
Labels: app:core

#12257 fix(core): ai find-actions falky
  tests/affine-cloud-copilot/e2e/ai-action/find-actions.spec.ts
Labels: test

#12264 fix(editor): support relative image reference path when importing zip with images
  blocksuite/affine/blocks/image/src/adapters/html.ts
  blocksuite/affine/blocks/image/src/adapters/markdown.ts
  blocksuite/affine/blocks/image/src/adapters/notion-html.ts
  blocksuite/affine/blocks/image/src/adapters/utils.ts
  blocksuite/affine/shared/src/__tests__/adapters/markdown/remark-plugins/remark-callout.unit.spec.ts
  blocksuite/affine/shared/src/__tests__/adapters/utils/file-path.unit.spec.ts
  blocksuite/affine/shared/src/adapters/middlewares/file-path.ts
  blocksuite/affine/shared/src/adapters/middlewares/index.ts
  blocksuite/affine/shared/src/adapters/utils/file-path.ts
  blocksuite/affine/shared/src/adapters/utils/index.ts
  blocksuite/affine/widgets/linked-doc/src/transformers/html.ts
  blocksuite/affine/widgets/linked-doc/src/transformers/markdown.ts
  blocksuite/affine/widgets/linked-doc/src/transformers/type.ts
Labels: test

#12265 fix(core): skip undefined arg for collection migration
  packages/frontend/core/src/modules/collection/stores/collection.ts
Labels: app:core

#12227 feat(core): show stop modal if clickoutside during generating
  packages/frontend/core/src/blocksuite/ai/widgets/ai-panel/ai-panel.ts
  tests/affine-cloud-copilot/e2e/chat-with/text.spec.ts
Labels: test, app:core

#12267 fix(core): improve mindmap e2e stability
  packages/backend/server/src/plugins/copilot/prompt/prompts.ts
Labels: app:server

#12268 feat(core): adjust collection rules
  packages/frontend/core/src/components/page-list/docs/select-page.tsx
  packages/frontend/core/src/desktop/dialogs/collection-editor/edit-collection.css.ts
  packages/frontend/core/src/desktop/dialogs/collection-editor/rules-mode.tsx
  packages/frontend/core/src/desktop/pages/workspace/all-page/all-page.tsx
  packages/frontend/core/src/modules/collection-rules/services/collection-rules.ts
  packages/frontend/core/src/modules/collection/entities/collection.ts
Labels: app:core

#12149 refactor(editor): add dom renderer entry for canvas element
  blocksuite/affine/blocks/root/src/edgeless/clipboard/clipboard.ts
  blocksuite/affine/blocks/surface/src/extensions/dom-element-renderer.ts
  blocksuite/affine/blocks/surface/src/extensions/export-manager/export-manager.ts
  blocksuite/affine/blocks/surface/src/extensions/index.ts
  blocksuite/affine/blocks/surface/src/index.ts
  blocksuite/affine/blocks/surface/src/renderer/canvas-renderer.ts
  blocksuite/affine/blocks/surface/src/renderer/dom-elements/index.ts
  blocksuite/affine/blocks/surface/src/renderer/dom-renderer.ts
  blocksuite/affine/blocks/surface/src/surface-block.ts
  blocksuite/affine/gfx/mindmap/src/interactivity/mind-map-drag.ts
  blocksuite/affine/gfx/shape/src/element-renderer/shape-dom.ts
  blocksuite/affine/gfx/shape/src/element-renderer/shape-dom/index.ts
  blocksuite/affine/gfx/shape/src/element-renderer/shape-dom/utils.ts
  blocksuite/affine/gfx/shape/src/view.ts
  blocksuite/affine/shared/src/services/feature-flag-service.ts
  blocksuite/framework/std/src/gfx/layer.ts
  blocksuite/integration-test/src/__tests__/edgeless/layer.spec.ts
  blocksuite/integration-test/src/__tests__/edgeless/shape-dom.spec.ts
  blocksuite/integration-test/src/__tests__/utils/setup.ts
  packages/frontend/core/src/modules/feature-flag/constant.ts
Labels: test, app:core

#12244 feat(server): update prompts
  packages/backend/server/src/plugins/copilot/prompt/prompts.ts
Labels: app:server

#12269 feat(core): add pinned collections to all docs
  packages/frontend/core/src/components/explorer/context.ts
  packages/frontend/core/src/components/filter/add-filter.tsx
  packages/frontend/core/src/components/filter/filters.tsx
  packages/frontend/core/src/components/filter/styles.css.ts
  packages/frontend/core/src/desktop/pages/workspace/all-page/all-page.css.ts
  packages/frontend/core/src/desktop/pages/workspace/all-page/all-page.tsx
  packages/frontend/core/src/desktop/pages/workspace/all-page/migration-data.css.ts
  packages/frontend/core/src/desktop/pages/workspace/all-page/pinned-collections.css.ts
  packages/frontend/core/src/desktop/pages/workspace/all-page/pinned-collections.tsx
  packages/frontend/core/src/modules/collection/index.ts
  packages/frontend/core/src/modules/collection/services/pinned-collection.ts
  packages/frontend/core/src/modules/collection/stores/pinned-collection.ts
  packages/frontend/core/src/modules/db/schema/schema.ts
  packages/frontend/i18n/src/i18n-completenesses.json
  packages/frontend/i18n/src/i18n.gen.ts
  packages/frontend/i18n/src/resources/en.json
Labels: mod:i18n, app:core

#12280 docs: add ClawCloud Run button & fix documentation links
  README.md
Labels: docs

#11937 feat(server): handle workspace doc updates
  .docker/selfhost/schema.json
  .github/actions/server-test-env/action.yml
  .github/workflows/build-images.yml
  .github/workflows/build-test.yml
  docs/developing-server.md
  packages/backend/server/package.json
  packages/backend/server/src/__tests__/__fixtures__/test-doc.snapshot.bin
  packages/backend/server/src/__tests__/__fixtures__/test-root-doc.snapshot.bin
  packages/backend/server/src/__tests__/mocks/doc-snapshot.mock.ts
  packages/backend/server/src/__tests__/mocks/index.ts
  packages/backend/server/src/__tests__/mocks/queue.mock.ts
  packages/backend/server/src/__tests__/mocks/workspace.mock.ts
  packages/backend/server/src/base/job/queue/config.ts
  packages/backend/server/src/base/job/queue/def.ts
  packages/backend/server/src/base/job/queue/executor.ts
  packages/backend/server/src/core/doc/event.ts
  packages/backend/server/src/core/doc/job.ts
  packages/backend/server/src/core/utils/__tests__/__snapshots__/blocksute.spec.ts.md
  packages/backend/server/src/core/utils/__tests__/__snapshots__/blocksute.spec.ts.snap
  packages/backend/server/src/core/utils/__tests__/blocksute.spec.ts
  packages/backend/server/src/core/utils/blocksuite.ts
  packages/backend/server/src/models/doc.ts
  packages/backend/server/src/plugins/indexer/__tests__/__snapshots__/service.spec.ts.md
  packages/backend/server/src/plugins/indexer/__tests__/__snapshots__/service.spec.ts.snap
  packages/backend/server/src/plugins/indexer/__tests__/job.spec.ts
  packages/backend/server/src/plugins/indexer/__tests__/service.spec.ts
  packages/backend/server/src/plugins/indexer/index.ts
  packages/backend/server/src/plugins/indexer/job.ts
  packages/backend/server/src/plugins/indexer/service.ts
  packages/backend/server/tsconfig.json
  packages/frontend/admin/src/config.json
  tools/utils/src/workspace.gen.ts
  yarn.lock
Labels: docs, app:server, test

#12260 fix(editor): remove the fixation of created-by and created-time
  blocksuite/affine/blocks/data-view/src/data-source.ts
  blocksuite/affine/blocks/database/src/data-source.ts
  blocksuite/affine/blocks/database/src/properties/created-time/define.ts
  blocksuite/affine/data-view/src/core/data-source/base.ts
  blocksuite/affine/data-view/src/core/detail/detail.ts
  blocksuite/affine/data-view/src/core/group-by/define.ts
  blocksuite/affine/data-view/src/core/group-by/trait.ts
  blocksuite/affine/data-view/src/core/group-by/types.ts
  blocksuite/affine/data-view/src/core/view-manager/single-view.ts
  blocksuite/affine/data-view/src/view-presets/table/pc-virtual/group/top/header/column-header.ts
  blocksuite/affine/data-view/src/view-presets/table/table-view-manager.ts
  blocksuite/playground/apps/starter/data/database.ts
  packages/frontend/core/src/blocksuite/database-block/group-by/index.tsx
  packages/frontend/core/src/blocksuite/database-block/properties/created-by/define.ts
  packages/frontend/core/src/desktop/pages/workspace/share/share-page.tsx
  tests/affine-local/e2e/blocksuite/database/utils.ts
  tests/blocksuite/e2e/database/column.spec.ts
  tests/blocksuite/e2e/database/database.spec.ts
  tests/blocksuite/e2e/utils/actions/misc.ts
Labels: test, app:core

#12275 fix(editor): should preserve format in <p> when importing html
  blocksuite/affine/all/src/__tests__/adapters/html.unit.spec.ts
  blocksuite/affine/inlines/preset/src/adapters/html/html-inline.ts
Labels: test

#12283 feat(editor): provide callout markdown export options middleware
  blocksuite/affine/all/src/__tests__/adapters/markdown.unit.spec.ts
  blocksuite/affine/blocks/callout/src/adapters/markdown.ts
  blocksuite/affine/shared/src/adapters/middlewares/callout-export-options.ts
  blocksuite/affine/shared/src/adapters/middlewares/index.ts
Labels: test

#12285 fix(editor): ui bugs of database block
  blocksuite/affine/blocks/database/src/properties/created-time/cell-renderer.ts
  blocksuite/affine/data-view/src/core/group-by/setting.ts
  packages/frontend/core/src/blocksuite/database-block/properties/created-by/view.tsx
  packages/frontend/core/src/blocksuite/database-block/properties/file/style.css.ts
Labels: app:core

#12294 fix(editor): adjustment of scaled and folded synced doc
  blocksuite/affine/blocks/embed-doc/src/embed-synced-doc-block/configs/edgeless-interaction.ts
  blocksuite/affine/blocks/embed-doc/src/embed-synced-doc-block/utils.ts
  blocksuite/affine/model/src/blocks/embed/synced-doc/synced-doc-model.ts
  packages/frontend/core/src/blocksuite/view-extensions/edgeless-block-header/edgeless-embed-synced-doc-header.tsx
  tests/affine-local/e2e/blocksuite/embed/synced.spec.ts
  tests/kit/src/utils/editor.ts
Labels: test, app:core

#12277 feat(core): add exa url crawl tool
  packages/backend/server/src/plugins/copilot/prompt/prompts.ts
  packages/backend/server/src/plugins/copilot/providers/anthropic.ts
  packages/backend/server/src/plugins/copilot/providers/openai.ts
  packages/backend/server/src/plugins/copilot/tools/web-search.ts
Labels: app:server

#12266 feat(core): add ai model switch ui
  packages/backend/server/src/plugins/copilot/prompt/prompts.ts
  packages/backend/server/src/plugins/copilot/providers/anthropic.ts
  packages/backend/server/src/plugins/copilot/providers/openai.ts
  packages/frontend/core/src/blocksuite/ai/chat-panel/index.ts
  packages/frontend/core/src/blocksuite/ai/components/ai-chat-composer/ai-chat-composer.ts
  packages/frontend/core/src/blocksuite/ai/components/ai-chat-input/ai-chat-input.ts
  packages/frontend/core/src/blocksuite/ai/components/ai-chat-input/type.ts
  packages/frontend/core/src/blocksuite/ai/components/ai-chat-models/ai-chat-models.ts
  packages/frontend/core/src/blocksuite/ai/components/ai-chat-models/index.ts
  packages/frontend/core/src/blocksuite/ai/effects.ts
  packages/frontend/core/src/components/hooks/affine/use-ai-chat-config.ts
  packages/frontend/core/src/desktop/pages/workspace/detail-page/tabs/chat.tsx
  packages/frontend/core/src/modules/ai-button/index.ts
  packages/frontend/core/src/modules/ai-button/services/model-switch.ts
  packages/frontend/core/src/modules/feature-flag/constant.ts
  packages/frontend/core/src/modules/index.ts
  packages/frontend/i18n/src/i18n.gen.ts
  packages/frontend/i18n/src/resources/en.json
Labels: mod:i18n, app:server, app:core

#11554 test(core): embedding settings
  tests/affine-cloud-copilot/e2e/base/base-test.ts
  tests/affine-cloud-copilot/e2e/settings/embedding.spec.ts
  tests/affine-cloud-copilot/e2e/utils/editor-utils.ts
  tests/affine-cloud-copilot/e2e/utils/settings-panel-utils.ts
Labels: test

#12307 chore(server): improve ignored docs list & match
  packages/backend/server/src/__tests__/models/__snapshots__/copilot-workspace.spec.ts.md
  packages/backend/server/src/__tests__/models/__snapshots__/copilot-workspace.spec.ts.snap
  packages/backend/server/src/__tests__/models/copilot-workspace.spec.ts
  packages/backend/server/src/models/copilot-context.ts
  packages/backend/server/src/models/copilot-workspace.ts
Labels: app:server, test

#11801 feat(core): workspace embedding settings
  .github/workflows/build-test.yml
  blocksuite/affine/components/src/icons/file-icons-rc.ts
  blocksuite/affine/components/src/icons/index.ts
  packages/frontend/component/src/components/setting-components/setting-row.tsx
  packages/frontend/component/src/components/setting-components/wrapper.tsx
  packages/frontend/core/src/blocksuite/ai/components/ai-chat-input/ai-chat-input.ts
  packages/frontend/core/src/components/page-list/selector/selector-layout.tsx
  packages/frontend/core/src/desktop/dialogs/setting/workspace-setting/index.tsx
  packages/frontend/core/src/modules/dialogs/constant.ts
  packages/frontend/core/src/modules/index.ts
  packages/frontend/core/src/modules/workspace-indexer-embedding/constants.ts
  packages/frontend/core/src/modules/workspace-indexer-embedding/entities/embedding.ts
  packages/frontend/core/src/modules/workspace-indexer-embedding/index.ts
  packages/frontend/core/src/modules/workspace-indexer-embedding/services/embedding.ts
  packages/frontend/core/src/modules/workspace-indexer-embedding/stores/embedding.ts
  packages/frontend/core/src/modules/workspace-indexer-embedding/types.ts
  packages/frontend/core/src/modules/workspace-indexer-embedding/view/attachments.tsx
  packages/frontend/core/src/modules/workspace-indexer-embedding/view/embedding-settings.tsx
  packages/frontend/core/src/modules/workspace-indexer-embedding/view/ignored-docs.tsx
  packages/frontend/core/src/modules/workspace-indexer-embedding/view/index.tsx
  packages/frontend/core/src/modules/workspace-indexer-embedding/view/styles-css.ts
  packages/frontend/i18n/src/i18n-completenesses.json
  packages/frontend/i18n/src/i18n.gen.ts
  packages/frontend/i18n/src/resources/en.json
  tests/affine-cloud-copilot/e2e/settings/embedding.spec.ts
Labels: mod:i18n, mod:component, test, app:core

#12282 fix: connector label editing
  blocksuite/affine/gfx/connector/src/view/view.ts
  blocksuite/framework/std/src/gfx/grid.ts
  blocksuite/framework/std/src/gfx/interactivity/gfx-view-event-handler.ts
  blocksuite/framework/std/src/gfx/model/surface/local-element-model.ts
  blocksuite/framework/std/src/utils/layer.ts
  tests/blocksuite/e2e/edgeless/connector/label.spec.ts
  tests/blocksuite/e2e/utils/actions/edgeless.ts
Labels: test

#12305 feat(editor): add line number display option for code block
  blocksuite/affine/blocks/code/src/code-block.ts
  blocksuite/affine/blocks/code/src/code-toolbar/config.ts
  blocksuite/affine/blocks/code/src/styles.ts
  blocksuite/affine/model/src/blocks/code/code-model.ts
  tests/blocksuite/e2e/code/crud.spec.ts
  tests/blocksuite/e2e/code/utils.ts
Labels: test

#12326 feat(editor): support border radius for shape dom renderer
  blocksuite/affine/gfx/shape/src/element-renderer/shape-dom/index.ts
  blocksuite/integration-test/src/__tests__/edgeless/shape-dom.spec.ts
Labels: test

#12276 refactor(editor): optimize pasting process of attachments and images
  blocksuite/affine/blocks/attachment/src/attachment-block.ts
  blocksuite/affine/blocks/image/src/components/page-image-block.ts
  blocksuite/affine/blocks/image/src/image-block.ts
  blocksuite/affine/blocks/image/src/image-edgeless-block.ts
  blocksuite/affine/blocks/root/src/clipboard/page-clipboard.ts
  blocksuite/affine/components/src/resource/resource.ts
  blocksuite/affine/shared/src/adapters/attachment.ts
  blocksuite/affine/shared/src/adapters/image.ts
  blocksuite/affine/shared/src/adapters/middlewares/index.ts
  blocksuite/affine/shared/src/adapters/middlewares/replace-id.ts
  blocksuite/affine/shared/src/adapters/middlewares/upload.ts
  blocksuite/framework/store/src/transformer/assets.ts
  blocksuite/framework/store/src/transformer/transformer.ts
  tests/blocksuite/e2e/utils/actions/misc.ts
Labels: test

#12323 fix(core): should use AttachmentViewerView in split view and standalone page
  packages/frontend/core/src/blocksuite/attachment-viewer/index.tsx
  packages/frontend/core/src/blocksuite/attachment-viewer/pdf/pdf-viewer.tsx
  packages/frontend/core/src/desktop/pages/workspace/attachment/index.tsx
  packages/frontend/core/src/modules/pdf/views/page-renderer.tsx
Labels: app:core

#12298 feat(core): new docs list for tag detail
  packages/frontend/core/src/components/page-list/docs/page-list-header.tsx
  packages/frontend/core/src/desktop/pages/workspace/tag/header.tsx
  packages/frontend/core/src/desktop/pages/workspace/tag/index.css.ts
  packages/frontend/core/src/desktop/pages/workspace/tag/index.tsx
  packages/frontend/core/src/desktop/pages/workspace/tag/list-header.css.ts
  packages/frontend/core/src/desktop/pages/workspace/tag/list-header.tsx
Labels: app:core

#12311 feat(server): filter docs by access role
  packages/backend/server/src/__tests__/e2e/indexer/__snapshots__/search.spec.ts.md
  packages/backend/server/src/__tests__/e2e/indexer/__snapshots__/search.spec.ts.snap
  packages/backend/server/src/__tests__/e2e/indexer/search.spec.ts
  packages/backend/server/src/__tests__/mocks/doc-user.mock.ts
  packages/backend/server/src/__tests__/mocks/index.ts
  packages/backend/server/src/core/permission/__tests__/__snapshots__/docs.spec.ts.md
  packages/backend/server/src/core/permission/__tests__/__snapshots__/docs.spec.ts.snap
  packages/backend/server/src/core/permission/__tests__/doc.spec.ts
  packages/backend/server/src/core/permission/__tests__/docs.spec.ts
  packages/backend/server/src/core/permission/builder.ts
  packages/backend/server/src/core/permission/doc.ts
  packages/backend/server/src/core/permission/types.ts
  packages/backend/server/src/core/permission/workspace.ts
  packages/backend/server/src/models/doc-user.ts
  packages/backend/server/src/models/doc.ts
  packages/backend/server/src/plugins/indexer/resolver.ts
Labels: app:server, test

#12296 feat(core): edit and delete pinned collections in all docs
  packages/frontend/core/src/desktop/pages/workspace/all-page/all-page.tsx
  packages/frontend/core/src/desktop/pages/workspace/all-page/pinned-collections.css.ts
  packages/frontend/core/src/desktop/pages/workspace/all-page/pinned-collections.tsx
  packages/frontend/core/src/modules/collection/services/collection.ts
  packages/frontend/core/src/modules/collection/services/pinned-collection.ts
  packages/frontend/core/src/modules/collection/stores/collection.ts
  packages/frontend/core/src/modules/collection/stores/pinned-collection.ts
  packages/frontend/core/src/modules/db/entities/table.ts
Labels: app:core

#12205 feat(server): auto index all workspaces to indexer
  packages/backend/server/migrations/20250509070728_add_workspace_sid_and_indexed/migration.sql
  packages/backend/server/schema.prisma
  packages/backend/server/src/__tests__/mocks/doc-snapshot.mock.ts
  packages/backend/server/src/base/job/queue/executor.ts
  packages/backend/server/src/models/doc.ts
  packages/backend/server/src/models/workspace.ts
  packages/backend/server/src/plugins/indexer/__tests__/job.spec.ts
  packages/backend/server/src/plugins/indexer/job.ts
Labels: app:server, test

#12245 feat(nbstore): add cloud indexer storage
  packages/common/nbstore/src/impls/cloud/index.ts
  packages/common/nbstore/src/impls/cloud/indexer.ts
  packages/frontend/core/src/modules/feature-flag/constant.ts
  packages/frontend/core/src/modules/workspace-engine/impls/cloud.ts
Labels: mod:component, app:server, test, app:core

#12354 fix(editor): flaky import notion html image unit test
  blocksuite/affine/all/package.json
  blocksuite/affine/all/src/__tests__/adapters/notion-html.unit.spec.ts
  yarn.lock
Labels: test

#12352 chore(server): switch to prometheus
  .github/helm/affine/charts/doc/templates/monitoring.yaml
  .github/helm/affine/charts/graphql/templates/monitoring.yaml
  .github/helm/affine/charts/renderer/templates/monitoring.yaml
  .github/helm/affine/charts/sync/templates/monitoring.yaml
  packages/backend/server/package.json
  packages/backend/server/src/plugins/gcloud/metrics.ts
  yarn.lock
Labels: app:server

#12315 feat(core): support save and restore display preference in all docs
  packages/common/infra/src/framework/react/index.tsx
  packages/frontend/core/src/components/explorer/context.ts
  packages/frontend/core/src/components/explorer/display-menu/index.tsx
  packages/frontend/core/src/components/explorer/display-menu/properties.tsx
  packages/frontend/core/src/components/explorer/display-menu/quick-actions.tsx
  packages/frontend/core/src/components/explorer/display-menu/view-toggle.tsx
  packages/frontend/core/src/components/explorer/docs-view/doc-list-item.tsx
  packages/frontend/core/src/components/explorer/quick-actions.constants.tsx
  packages/frontend/core/src/components/explorer/types.ts
  packages/frontend/core/src/desktop/pages/workspace/all-page/all-page-header.tsx
  packages/frontend/core/src/desktop/pages/workspace/all-page/all-page.tsx
  packages/frontend/core/src/desktop/pages/workspace/all-page/pinned-collections.tsx
  packages/frontend/core/src/desktop/pages/workspace/collection/header.tsx
  packages/frontend/core/src/desktop/pages/workspace/collection/index.tsx
  packages/frontend/core/src/desktop/pages/workspace/tag/header.tsx
  packages/frontend/core/src/desktop/pages/workspace/tag/index.tsx
Labels: mod:infra, app:core

#12332 feat(core): add system property types support
  packages/frontend/core/src/components/explorer/display-menu/group.tsx
  packages/frontend/core/src/components/explorer/display-menu/order.tsx
  packages/frontend/core/src/components/explorer/display-menu/properties.tsx
  packages/frontend/core/src/components/explorer/docs-view/docs-list.tsx
  packages/frontend/core/src/components/explorer/docs-view/properties.tsx
  packages/frontend/core/src/components/explorer/properties.ts
  packages/frontend/core/src/components/filter/add-filter.tsx
  packages/frontend/core/src/components/system-property-types/created-updated-at.tsx
  packages/frontend/core/src/components/system-property-types/created-updated-by.tsx
  packages/frontend/core/src/components/system-property-types/index.ts
  packages/frontend/core/src/components/system-property-types/tags.tsx
  packages/frontend/core/src/components/workspace-property-types/created-updated-at.css.ts
  packages/frontend/core/src/components/workspace-property-types/created-updated-at.tsx
  packages/frontend/core/src/components/workspace-property-types/created-updated-by.tsx
  packages/frontend/core/src/components/workspace-property-types/date.css.ts
  packages/frontend/core/src/components/workspace-property-types/date.tsx
  packages/frontend/core/src/components/workspace-property-types/index.ts
  packages/frontend/core/src/components/workspace-property-types/tags.tsx
Labels: app:core

#12322 fix(server): seat not allocated when new user invited to licensed workspace
  packages/backend/server/src/core/quota/service.ts
  packages/backend/server/src/models/workspace-user.ts
  packages/backend/server/src/plugins/license/service.ts
  tests/affine-cloud/e2e/workspace.spec.ts
Labels: app:server, test

#12327 chore(core): switch position of collection and tag section in sidebar
  packages/frontend/core/src/components/root-app-sidebar/index.tsx
Labels: app:core

#12292 chore: remove telegram community
  packages/backend/server/src/mails/components/footer.tsx
  packages/frontend/core/src/desktop/dialogs/setting/general-setting/about/config.tsx
Labels: app:server, app:core

#12348 fix(editor): incorrect height calculation of folded embed doc
  blocksuite/affine/blocks/embed-doc/src/embed-synced-doc-block/embed-edgeless-synced-doc-block.ts
  tests/affine-local/e2e/blocksuite/embed/synced.spec.ts
Labels: test

#12360 fix(editor): text color on toolbar when connector is selected
  blocksuite/affine/gfx/text/src/toolbar/actions.ts
  tests/affine-local/e2e/blocksuite/edgeless/connector.spec.ts
Labels: test

#12361 chore(editor): change edgeless-text default color to black
  blocksuite/affine/blocks/edgeless-text/src/edgeless-text-block.ts
  blocksuite/affine/gfx/text/src/edgeless-text-editor.ts
  blocksuite/affine/model/src/themes/default.ts
  blocksuite/integration-test/src/__tests__/edgeless/last-props.spec.ts
  tests/affine-local/e2e/blocksuite/edgeless/text.spec.ts
  tests/blocksuite/snapshots/edgeless/edgeless-text.spec.ts/min-width-limit-for-embed-block-add-linked-doc.json
  tests/blocksuite/snapshots/edgeless/edgeless-text.spec.ts/min-width-limit-for-embed-block-drag.json
  tests/blocksuite/snapshots/edgeless/edgeless-text.spec.ts/min-width-limit-for-embed-block-init.json
  tests/blocksuite/snapshots/edgeless/edgeless-text.spec.ts/min-width-limit-for-embed-block-link-to-card-min-width.json
  tests/blocksuite/snapshots/edgeless/edgeless-text.spec.ts/min-width-limit-for-embed-block-link-to-card.json
  tests/blocksuite/snapshots/edgeless/edgeless-text.spec.ts/press-backspace-at-the-start-of-first-line-when-edgeless-text-exist-finial.json
  tests/blocksuite/snapshots/edgeless/edgeless-text.spec.ts/press-backspace-at-the-start-of-first-line-when-edgeless-text-exist-note-empty.json
  tests/blocksuite/snapshots/edgeless/edgeless-text.spec.ts/press-backspace-at-the-start-of-first-line-when-edgeless-text-exist-note-not-empty.json
Labels: test

#11934 fix(editor): should add HTTP protocol into link automatically
  blocksuite/affine/blocks/bookmark/src/bookmark-block.ts
  blocksuite/affine/blocks/code/src/adapters/markdown/preprocessor.ts
  blocksuite/affine/inlines/link/src/link-node/affine-link.ts
  blocksuite/affine/inlines/link/src/link-node/configs/toolbar.ts
  blocksuite/affine/shared/src/__tests__/utils/url.unit.spec.ts
  blocksuite/affine/shared/src/utils/url.ts
  packages/frontend/core/src/modules/navigation/utils.ts
  tests/affine-local/e2e/links.spec.ts
  tests/blocksuite/e2e/clipboard/clipboard.spec.ts
  tests/blocksuite/snapshots/link.spec.ts/create-link-with-paste.json
Labels: test, app:core

#12347 fix(core): ai user message word break failed
  packages/frontend/core/src/blocksuite/ai/chat-panel/content/pure-text.ts
  packages/frontend/core/src/blocksuite/ai/chat-panel/message/user.ts
Labels: app:core

#12333 feat(core): add default display preference
  packages/frontend/core/src/components/explorer/context.ts
Labels: app:core

#12251 feat(core): allow editing calendar name
  packages/frontend/core/src/desktop/dialogs/setting/workspace-setting/integration/calendar/subscription-setting.css.ts
  packages/frontend/core/src/desktop/dialogs/setting/workspace-setting/integration/calendar/subscription-setting.tsx
  packages/frontend/core/src/modules/integration/entities/calendar-subscription.ts
  packages/frontend/core/src/modules/integration/store/calendar.ts
Labels: app:core

#12306 fix(server): avoid job fail if mail is not configured
  packages/backend/server/src/__tests__/mocks/mailer.mock.ts
  packages/backend/server/src/core/mail/mailer.ts
  packages/backend/server/src/core/mail/sender.ts
  packages/backend/server/src/core/notification/service.ts
  packages/backend/server/src/core/workspaces/event.ts
  packages/backend/server/src/core/workspaces/service.ts
Labels: app:server, test

#12358 fix(server): add stemmer filter
  packages/backend/server/src/plugins/indexer/__tests__/providers/__snapshots__/elasticsearch.spec.ts.md
  packages/backend/server/src/plugins/indexer/__tests__/providers/__snapshots__/elasticsearch.spec.ts.snap
  packages/backend/server/src/plugins/indexer/__tests__/providers/elasticsearch.spec.ts
  packages/backend/server/src/plugins/indexer/tables/block.ts
  packages/backend/server/src/plugins/indexer/tables/doc.ts
Labels: app:server, test

#12363 chore(server): support elasticsearch alias
  packages/backend/server/src/plugins/indexer/providers/elasticsearch.ts
Labels: app:server

#12369 chore(server): add prefix to indexer jobId
  packages/backend/server/src/core/doc/event.ts
  packages/backend/server/src/plugins/indexer/job.ts
Labels: app:server

#12328 feat(server): trigger workspace embedding
  .docker/selfhost/schema.json
  packages/backend/server/src/__tests__/models/__snapshots__/copilot-workspace.spec.ts.md
  packages/backend/server/src/__tests__/models/__snapshots__/copilot-workspace.spec.ts.snap
  packages/backend/server/src/__tests__/models/copilot-workspace.spec.ts
  packages/backend/server/src/base/job/queue/config.ts
  packages/backend/server/src/models/copilot-context.ts
  packages/backend/server/src/models/copilot-workspace.ts
  packages/backend/server/src/models/workspace.ts
  packages/backend/server/src/plugins/copilot/context/job.ts
  packages/backend/server/src/plugins/copilot/context/types.ts
  tests/affine-cloud-copilot/e2e/chat-with/collections.spec.ts
  tests/affine-cloud-copilot/e2e/chat-with/tags.spec.ts
  tests/affine-cloud-copilot/e2e/utils/editor-utils.ts
Labels: app:server, test

#12334 fix(core): fix all docs group header
  packages/frontend/core/src/components/explorer/docs-view/docs-list.tsx
  packages/frontend/core/src/modules/cloud/services/doc-created-by-updated-by-sync.ts
Labels: app:core

#12359 refactor(nbstore): improve doc state management
  packages/common/nbstore/src/frontend/doc.ts
  packages/common/nbstore/src/sync/doc/index.ts
  packages/common/nbstore/src/sync/indexer/index.ts
  packages/common/nbstore/src/worker/client.ts
  packages/common/nbstore/src/worker/consumer.ts
  packages/common/nbstore/src/worker/ops.ts
  packages/frontend/core/src/components/workspace-selector/workspace-card/index.tsx
  packages/frontend/core/src/modules/blob-management/entity/unused-blobs.ts
  packages/frontend/core/src/modules/import-clipper/services/import.ts
  tests/affine-local/e2e/local-first-avatar.spec.ts
Labels: test, app:core

#12396 fix(server): skip empty docs
  packages/backend/server/src/plugins/copilot/context/job.ts
Labels: app:server

#12382 feat(core): embedding status tooltip
  packages/frontend/core/src/blocksuite/ai/actions/types.ts
  packages/frontend/core/src/blocksuite/ai/components/ai-chat-composer/ai-chat-composer.ts
  packages/frontend/core/src/blocksuite/ai/components/ai-chat-input/embedding-status-tooltip.ts
  packages/frontend/core/src/blocksuite/ai/effects.ts
  packages/frontend/core/src/blocksuite/ai/provider/ai-provider.ts
  packages/frontend/core/src/blocksuite/ai/provider/copilot-client.ts
  packages/frontend/core/src/blocksuite/ai/provider/setup-provider.tsx
  tests/affine-cloud-copilot/e2e/basic/chat.spec.ts
Labels: test, app:core

#12401 fix(core): correct card view properties display
  packages/frontend/core/src/components/explorer/docs-view/properties.tsx
Labels: app:core

#12377 chore(mobile): enable ai button feature flag for canary only
  packages/frontend/apps/ios/App/App.xcworkspace/xcshareddata/swiftpm/Package.resolved
  packages/frontend/apps/ios/App/Packages/AffineGraphQL/Package.resolved
  packages/frontend/core/src/modules/feature-flag/constant.ts
Labels: app:core

#12379 feat(mobile): move selfhost sign-in from menu to list
  packages/frontend/core/src/mobile/components/workspace-selector/menu.css.ts
  packages/frontend/core/src/mobile/components/workspace-selector/menu.tsx
Labels: app:core

#12380 fix(mobile): correct initial height for sign in layout
  packages/frontend/core/src/mobile/components/sign-in/layout.css.ts
Labels: app:core

#12387 refactor(core): indexer & embedding -> embedding
  packages/frontend/core/src/desktop/dialogs/setting/workspace-setting/index.tsx
  packages/frontend/core/src/modules/dialogs/constant.ts
  packages/frontend/core/src/modules/workspace-indexer-embedding/index.ts
  packages/frontend/core/src/modules/workspace-indexer-embedding/view/embedding-settings.tsx
  packages/frontend/core/src/modules/workspace-indexer-embedding/view/index.tsx
  tests/affine-cloud-copilot/e2e/utils/settings-panel-utils.ts
Labels: test, app:core

#12383 fix(editor): handle html content copied from google docs
  blocksuite/affine/all/src/__tests__/adapters/html.unit.spec.ts
  blocksuite/affine/inlines/preset/src/adapters/html/html-inline.ts
  blocksuite/affine/shared/src/__tests__/adapters/html/rehype-plugins/inline-to-block.unit.spec.ts
  blocksuite/affine/shared/src/adapters/html/html.ts
  blocksuite/affine/shared/src/adapters/html/rehype-plugins/index.ts
  blocksuite/affine/shared/src/adapters/html/rehype-plugins/inline-to-block.ts
Labels: test

#12389 fix(editor): wrap inline elements in a p tag to avoid treated as paragraph block when importing html
  blocksuite/affine/shared/src/__tests__/adapters/html/rehype-plugins/wrap-inline-element.unit.spec.ts
  blocksuite/affine/shared/src/adapters/html/html.ts
  blocksuite/affine/shared/src/adapters/html/rehype-plugins/index.ts
  blocksuite/affine/shared/src/adapters/html/rehype-plugins/inline-to-block.ts
  blocksuite/affine/shared/src/adapters/html/rehype-plugins/wrap-inline-element.ts
  blocksuite/affine/shared/src/adapters/utils/hast.ts
Labels: test

#12364 feat(core): duplicated calendar subscription notification
  packages/frontend/core/src/desktop/dialogs/setting/workspace-setting/integration/calendar/setting-panel.tsx
  packages/frontend/core/src/modules/integration/entities/calendar.ts
  packages/frontend/core/src/modules/integration/store/calendar.ts
  packages/frontend/i18n/src/i18n.gen.ts
  packages/frontend/i18n/src/resources/en.json
Labels: mod:i18n, app:core

#11795 chore(infra): add url test to playwright
  tests/affine-cloud-copilot/playwright.config.ts
  tests/affine-cloud/playwright.config.ts
  tests/affine-desktop-cloud/playwright.config.ts
  tests/affine-desktop/playwright.config.ts
  tests/affine-local/dev-server.ts
  tests/affine-local/playwright.config.ts
  tests/affine-mobile/playwright.config.ts
  tests/blocksuite/playwright.config.ts
Labels: test

#12398 fix(editor): disable iframe border in code block preview
  packages/frontend/core/src/blocksuite/view-extensions/code-block-preview/html-preview.ts
Labels: app:core

#12400 feat(core): support draft filter
  packages/frontend/component/src/ui/menu/desktop/root.tsx
  packages/frontend/component/src/ui/menu/menu.types.ts
  packages/frontend/component/src/ui/menu/mobile/root.tsx
  packages/frontend/core/src/components/filter/conditions/condition.tsx
  packages/frontend/core/src/components/filter/conditions/property.tsx
  packages/frontend/core/src/components/filter/conditions/system.tsx
  packages/frontend/core/src/components/filter/conditions/unknown.tsx
  packages/frontend/core/src/components/filter/filter.tsx
  packages/frontend/core/src/components/filter/filters.tsx
  packages/frontend/core/src/components/filter/options.tsx
  packages/frontend/core/src/components/filter/styles.css.ts
  packages/frontend/core/src/components/member-selector/index.tsx
  packages/frontend/core/src/components/member-selector/styles.css.ts
  packages/frontend/core/src/components/system-property-types/favorite.tsx
  packages/frontend/core/src/components/system-property-types/index.ts
  packages/frontend/core/src/components/system-property-types/shared.tsx
  packages/frontend/core/src/components/tags/styles.css.ts
  packages/frontend/core/src/components/tags/tags-editor.tsx
  packages/frontend/core/src/components/workspace-property-types/checkbox.tsx
  packages/frontend/core/src/components/workspace-property-types/created-updated-by.tsx
  packages/frontend/core/src/components/workspace-property-types/date.tsx
  packages/frontend/core/src/components/workspace-property-types/doc-primary-mode.tsx
  packages/frontend/core/src/components/workspace-property-types/index.ts
  packages/frontend/core/src/components/workspace-property-types/journal.tsx
  packages/frontend/core/src/components/workspace-property-types/tags.tsx
  packages/frontend/core/src/components/workspace-property-types/text.tsx
  packages/frontend/core/src/desktop/pages/workspace/all-page/all-page.tsx
  packages/frontend/core/src/modules/collection-rules/impls/filters/date.ts
Labels: mod:component, app:core

#12367 feat(core): embedding progress
  packages/frontend/component/src/ui/progress/progress.tsx
  packages/frontend/core/src/modules/workspace-indexer-embedding/entities/embedding.ts
  packages/frontend/core/src/modules/workspace-indexer-embedding/stores/embedding.ts
  packages/frontend/core/src/modules/workspace-indexer-embedding/view/embedding-progress.tsx
  packages/frontend/core/src/modules/workspace-indexer-embedding/view/embedding-settings.tsx
  packages/frontend/core/src/modules/workspace-indexer-embedding/view/styles-css.ts
  packages/frontend/i18n/src/i18n.gen.ts
  packages/frontend/i18n/src/resources/en.json
  tests/affine-cloud-copilot/e2e/settings/embedding.spec.ts
Labels: mod:i18n, mod:component, test, app:core

#12411 fix(editor): toc viewer no update after delete heading in edgeless mode
  blocksuite/affine/fragments/outline/src/body/outline-notice.ts
  blocksuite/affine/fragments/outline/src/body/outline-panel-body.ts
  blocksuite/affine/fragments/outline/src/outline-viewer.ts
  blocksuite/affine/fragments/outline/src/utils/query.ts
  packages/frontend/core/src/blocksuite/outline-viewer/index.tsx
  tests/affine-local/e2e/blocksuite/outline/outline-viewer.spec.ts
Labels: test, app:core

#12409 feat(core): workspace embedding tracking
  packages/frontend/core/src/modules/workspace-indexer-embedding/view/embedding-settings.tsx
  packages/frontend/track/src/events.ts
Labels: app:core

#12407 fix(core): chat block opens and throws an error
  packages/frontend/core/src/blocksuite/ai/components/ai-chat-input/ai-chat-input.ts
Labels: app:core

#12397 feat(editor): add feature flag for code block html preview
  packages/frontend/core/src/blocksuite/block-suite-editor/bi-directional-link-panel.tsx
  packages/frontend/core/src/blocksuite/block-suite-editor/lit-adaper.tsx
  packages/frontend/core/src/blocksuite/manager/view.ts
  packages/frontend/core/src/blocksuite/view-extensions/code-block-preview/index.ts
  packages/frontend/core/src/desktop/dialogs/setting/general-setting/editor/edgeless/snapshot.tsx
  packages/frontend/core/src/modules/feature-flag/constant.ts
  packages/frontend/i18n/src/i18n.gen.ts
  packages/frontend/i18n/src/resources/en.json
Labels: mod:i18n, app:core

#12412 fix(core): fix all docs filters internal state reset
  packages/frontend/core/src/desktop/pages/workspace/all-page/all-page.tsx
Labels: app:core

#12391 chore(server): add auto index batch size
  .docker/selfhost/schema.json
  packages/backend/server/src/plugins/indexer/config.ts
  packages/backend/server/src/plugins/indexer/job.ts
  packages/frontend/admin/src/config.json
Labels: app:server

#12416 fix(server): embedding chunks primary key
  packages/backend/server/migrations/20250521083048_fix_workspace_embedding_chunk_primary_key/migration.sql
  packages/backend/server/schema.prisma
  packages/backend/server/src/models/copilot-context.ts
  packages/backend/server/src/models/copilot-workspace.ts
  packages/backend/server/src/plugins/copilot/context/resolver.ts
Labels: app:server

#12349 feat(core): add status to pdf viewer
  packages/frontend/core/src/blocksuite/attachment-viewer/attachment-embed-preview.tsx
  packages/frontend/core/src/blocksuite/attachment-viewer/index.tsx
  packages/frontend/core/src/blocksuite/attachment-viewer/pdf/pdf-viewer.tsx
  packages/frontend/core/src/blocksuite/attachment-viewer/pdf/styles.css.ts
  packages/frontend/core/src/desktop/pages/workspace/attachment/index.tsx
  packages/frontend/core/src/modules/media/utils.ts
  packages/frontend/core/src/modules/pdf/entities/pdf.ts
  packages/frontend/core/src/modules/pdf/index.ts
  packages/frontend/core/src/modules/peek-view/view/attachment-preview/index.tsx
  tests/affine-local/e2e/attachment-preview.spec.ts
Labels: test, app:core

#12330 feat(core): workspace attachment uploading & error
  packages/frontend/core/src/modules/workspace-indexer-embedding/entities/embedding.ts
  packages/frontend/core/src/modules/workspace-indexer-embedding/types.ts
  packages/frontend/core/src/modules/workspace-indexer-embedding/utils.ts
  packages/frontend/core/src/modules/workspace-indexer-embedding/view/attachments.tsx
  packages/frontend/core/src/modules/workspace-indexer-embedding/view/embedding-settings.tsx
  packages/frontend/core/src/modules/workspace-indexer-embedding/view/styles-css.ts
  tests/affine-cloud-copilot/e2e/settings/embedding.spec.ts
  tests/affine-cloud-copilot/e2e/utils/settings-panel-utils.ts
Labels: test, app:core

#12410 fix(editor): prevent cursor jumping to title when pressing backspace on the begin of edgeless note
  blocksuite/affine/blocks/paragraph/src/utils/merge-with-prev.ts
  tests/affine-local/e2e/blocksuite/edgeless/note.spec.ts
  tests/kit/src/utils/editor.ts
Labels: test

#12426 fix(editor): should record edgeless connector mode
  blocksuite/affine/blocks/root/src/edgeless/edgeless-keyboard.ts
  blocksuite/affine/gfx/connector/src/connector-tool.ts
  tests/blocksuite/e2e/edgeless/connector/connector.spec.ts
Labels: test

#12414 fix(editor): can not undo and redo of color of edgeless blocks
  blocksuite/affine/blocks/frame/src/frame-toolbar.ts
  blocksuite/affine/blocks/note/src/components/edgeless-note-style-panel.ts
  blocksuite/affine/gfx/brush/src/toolbar/configs/brush.ts
  blocksuite/affine/gfx/connector/src/toolbar/config.ts
  blocksuite/affine/gfx/shape/src/toolbar/config.ts
  blocksuite/affine/gfx/text/src/toolbar/actions.ts
  blocksuite/framework/std/src/gfx/model/surface/element-model.ts
  tests/affine-desktop/e2e/workspace.spec.ts
  tests/blocksuite/e2e/edgeless/edgeless-text.spec.ts
  tests/blocksuite/e2e/edgeless/frame/frame.spec.ts
  tests/blocksuite/e2e/edgeless/note/undo-redo.spec.ts
Labels: test

#12435 test(server): use mocker
  packages/backend/server/src/core/doc/__tests__/reader-from-database.spec.ts
Labels: app:server, test

#11665 feat(server): refactor provider interface
  packages/backend/server/src/__tests__/__snapshots__/copilot.spec.ts.md
  packages/backend/server/src/__tests__/__snapshots__/copilot.spec.ts.snap
  packages/backend/server/src/__tests__/copilot-provider.spec.ts
  packages/backend/server/src/__tests__/copilot.e2e.ts
  packages/backend/server/src/__tests__/copilot.spec.ts
  packages/backend/server/src/__tests__/mocks/copilot.mock.ts
  packages/backend/server/src/base/error/def.ts
  packages/backend/server/src/base/error/errors.gen.ts
  packages/backend/server/src/plugins/copilot/context/job.ts
  packages/backend/server/src/plugins/copilot/context/types.ts
  packages/backend/server/src/plugins/copilot/controller.ts
  packages/backend/server/src/plugins/copilot/prompt/prompts.ts
  packages/backend/server/src/plugins/copilot/providers/anthropic.ts
  packages/backend/server/src/plugins/copilot/providers/factory.ts
  packages/backend/server/src/plugins/copilot/providers/fal.ts
  packages/backend/server/src/plugins/copilot/providers/gemini.ts
  packages/backend/server/src/plugins/copilot/providers/index.ts
  packages/backend/server/src/plugins/copilot/providers/openai.ts
  packages/backend/server/src/plugins/copilot/providers/perplexity.ts
  packages/backend/server/src/plugins/copilot/providers/provider.ts
  packages/backend/server/src/plugins/copilot/providers/types.ts
  packages/backend/server/src/plugins/copilot/providers/utils.ts
  packages/backend/server/src/plugins/copilot/resolver.ts
  packages/backend/server/src/plugins/copilot/session.ts
  packages/backend/server/src/plugins/copilot/transcript/service.ts
  packages/backend/server/src/plugins/copilot/types.ts
  packages/backend/server/src/plugins/copilot/workflow/executor/chat-image.ts
  packages/backend/server/src/plugins/copilot/workflow/executor/chat-text.ts
  packages/backend/server/src/schema.gql
  packages/common/graphql/src/graphql/admin/copilot-prompt-list.gql
  packages/common/graphql/src/graphql/admin/copilot-prompt-update.gql
  packages/common/graphql/src/graphql/index.ts
  packages/common/graphql/src/schema.ts
  packages/frontend/admin/src/modules/ai/prompts.tsx
  packages/frontend/i18n/src/i18n.gen.ts
  packages/frontend/i18n/src/resources/en.json
Labels: mod:i18n, app:server, test

#12448 fix(editor): math equation not being rendered correctly on electron client
  packages/frontend/component/src/theme/global.css
Labels: mod:component

#12320 feat(core): new doc list for editing collection docs and rules
  packages/frontend/component/src/hooks/use-debounce-callback.ts
  packages/frontend/component/src/ui/input/row-input.tsx
  packages/frontend/core/src/components/explorer/docs-view/doc-list-item.css.ts
  packages/frontend/core/src/components/explorer/docs-view/doc-list-item.tsx
  packages/frontend/core/src/components/explorer/docs-view/docs-list.tsx
  packages/frontend/core/src/components/explorer/docs-view/more-menu.tsx
  packages/frontend/core/src/components/explorer/types.ts
  packages/frontend/core/src/components/hooks/affine/use-all-page-list-config.tsx
  packages/frontend/core/src/components/page-list/docs/select-page.tsx
  packages/frontend/core/src/components/page-list/selector/selector-layout.tsx
  packages/frontend/core/src/desktop/dialogs/collection-editor/edit-collection.css.ts
  packages/frontend/core/src/desktop/dialogs/collection-editor/edit-collection.tsx
  packages/frontend/core/src/desktop/dialogs/collection-editor/rules-mode.tsx
  packages/frontend/core/src/modules/collection-rules/impls/filters/title.ts
  packages/frontend/core/src/modules/collection-rules/index.ts
  packages/frontend/core/src/modules/docs-search/services/docs-search.ts
Labels: mod:component, app:core

#12404 feat(core): enable new all docs by default
  packages/frontend/core/src/components/explorer/context.ts
  packages/frontend/core/src/components/explorer/docs-view/doc-list-item.tsx
  packages/frontend/core/src/components/explorer/docs-view/more-menu.tsx
  packages/frontend/core/src/components/explorer/docs-view/quick-actions.tsx
  packages/frontend/core/src/components/page-list/docs/page-list-header.tsx
  packages/frontend/core/src/components/page-list/docs/page-list-new-page-button.tsx
  packages/frontend/core/src/components/root-app-sidebar/trash-button.tsx
  packages/frontend/core/src/desktop/pages/workspace/all-page/all-page-header.tsx
  packages/frontend/core/src/desktop/pages/workspace/all-page/all-page.tsx
  packages/frontend/core/src/desktop/pages/workspace/collection/list-header.tsx
  packages/frontend/core/src/modules/feature-flag/constant.ts
  tests/affine-cloud/e2e/storage.spec.ts
  tests/affine-desktop/e2e/split-view.spec.ts
  tests/affine-desktop/e2e/tabs.spec.ts
  tests/affine-desktop/e2e/workspace.spec.ts
  tests/affine-local/e2e/all-page.spec.ts
  tests/affine-local/e2e/change-page-mode.spec.ts
  tests/affine-local/e2e/drag-page.spec.ts
  tests/affine-local/e2e/local-first-collections-items.spec.ts
  tests/affine-local/e2e/local-first-delete-page.spec.ts
  tests/affine-local/e2e/local-first-favorite-page.spec.ts
  tests/affine-local/e2e/local-first-new-page.spec.ts
  tests/affine-local/e2e/local-first-openpage-newtab.spec.ts
  tests/affine-local/e2e/local-first-restore-page.spec.ts
  tests/affine-local/e2e/local-first-show-delete-modal.spec.ts
  tests/affine-local/e2e/local-first-trash-page.spec.ts
  tests/kit/src/utils/filter.ts
  tests/kit/src/utils/page-logic.ts
Labels: test, app:core

#12187 feat(server): extract check params
  packages/backend/server/src/__tests__/copilot.e2e.ts
  packages/backend/server/src/plugins/copilot/prompt/prompts.ts
  packages/backend/server/src/plugins/copilot/providers/anthropic.ts
  packages/backend/server/src/plugins/copilot/providers/gemini.ts
  packages/backend/server/src/plugins/copilot/providers/openai.ts
  packages/backend/server/src/plugins/copilot/providers/perplexity.ts
  packages/backend/server/src/plugins/copilot/providers/provider.ts
  packages/backend/server/src/plugins/copilot/providers/types.ts
Labels: mod:i18n, app:server, test

#12413 feat(core): add gemini callout syntax highlighting
  packages/backend/server/package.json
  packages/backend/server/src/__tests__/copilot-provider.spec.ts
  packages/backend/server/src/__tests__/mocks/copilot.mock.ts
  packages/backend/server/src/plugins/copilot/prompt/prompts.ts
  packages/backend/server/src/plugins/copilot/providers/anthropic.ts
  packages/backend/server/src/plugins/copilot/providers/gemini.ts
  yarn.lock
Labels: mod:i18n, app:server, test

#12467 feat(core): remove attachment tooltip
  packages/frontend/core/src/modules/workspace-indexer-embedding/view/attachments.tsx
  packages/frontend/i18n/src/i18n.gen.ts
  packages/frontend/i18n/src/resources/en.json
Labels: mod:i18n, app:core
