Repository toeverything/AFFiNE, pull requests merged in 2025-08, with the labels that each got.

#13384 refactor(editor): always show keyboard toolbar in mobile
  blocksuite/affine/shared/src/services/virtual-keyboard-service.ts
  blocksuite/affine/widgets/keyboard-toolbar/src/config.ts
  blocksuite/affine/widgets/keyboard-toolbar/src/keyboard-tool-panel.ts
  blocksuite/affine/widgets/keyboard-toolbar/src/keyboard-toolbar.ts
  blocksuite/affine/widgets/keyboard-toolbar/src/position-controller.ts
  blocksuite/affine/widgets/keyboard-toolbar/src/styles.ts
  blocksuite/affine/widgets/keyboard-toolbar/src/widget.ts
  packages/frontend/apps/android/src/app.tsx
  packages/frontend/apps/ios/src/app.tsx
  packages/frontend/core/src/blocksuite/view-extensions/mobile/keyboard-toolbar-extension.ts
  packages/frontend/core/src/mobile/styles/mobile.css.ts
Labels: app:core

#13379 feat(core): selected context ui
  packages/backend/server/src/plugins/copilot/prompt/prompts.ts
  packages/frontend/core/src/blocksuite/ai/actions/types.ts
  packages/frontend/core/src/blocksuite/ai/components/ai-chat-chips/chat-panel-chips.ts
  packages/frontend/core/src/blocksuite/ai/components/ai-chat-chips/selected-chip.ts
  packages/frontend/core/src/blocksuite/ai/components/ai-chat-chips/type.ts
  packages/frontend/core/src/blocksuite/ai/components/ai-chat-chips/utils.ts
  packages/frontend/core/src/blocksuite/ai/components/ai-chat-composer/ai-chat-composer.ts
  packages/frontend/core/src/blocksuite/ai/components/ai-chat-content/ai-chat-content.ts
  packages/frontend/core/src/blocksuite/ai/components/ai-chat-input/ai-chat-input.ts
  packages/frontend/core/src/blocksuite/ai/effects.ts
  packages/frontend/core/src/blocksuite/ai/entries/edgeless/index.ts
  packages/frontend/core/src/blocksuite/ai/provider/ai-provider.ts
  packages/frontend/core/src/blocksuite/ai/provider/copilot-client.ts
  packages/frontend/core/src/blocksuite/ai/provider/setup-provider.tsx
  packages/frontend/core/src/modules/feature-flag/constant.ts
  packages/frontend/i18n/src/i18n.gen.ts
  packages/frontend/i18n/src/resources/en.json
Labels: mod:i18n, app:server, app:core

#13382 fix(core): ai chat scrolldown indicator
  packages/frontend/core/src/blocksuite/ai/components/ai-chat-content/ai-chat-content.ts
  packages/frontend/core/src/blocksuite/ai/components/ai-chat-messages/ai-chat-messages.ts
Labels: app:core

#13401 fix(server): missing embedding search
  packages/backend/server/src/__tests__/copilot-provider.spec.ts
  packages/backend/server/src/plugins/copilot/context/service.ts
  packages/backend/server/src/plugins/copilot/tools/doc-semantic-search.ts
Labels: app:server, test

#13420 feat(core): extract edgeless selected images
  packages/frontend/core/src/blocksuite/ai/utils/extract.ts
  packages/frontend/core/src/blocksuite/ai/utils/image.ts
Labels: app:core

#13415 refactor(core): show selected content chip if needed
  packages/frontend/core/src/blocksuite/ai/components/ai-chat-composer/ai-chat-composer.ts
  packages/frontend/core/src/blocksuite/ai/entries/edgeless/actions-config.ts
Labels: app:core

#13417 fix(core): generate image from text group
  packages/frontend/core/src/blocksuite/ai/_common/config.ts
  packages/frontend/core/src/blocksuite/ai/entries/edgeless/actions-config.ts
Labels: app:core

#13422 feat(ios): enable ai button
  packages/frontend/core/src/modules/feature-flag/constant.ts
Labels: app:core

#13425 chore(editor): mobile database editing experimental flag
  blocksuite/affine/blocks/database/src/data-source.ts
  blocksuite/affine/blocks/database/src/database-block.ts
  blocksuite/affine/data-view/src/core/view/data-view-base.ts
  blocksuite/affine/data-view/src/view-presets/kanban/mobile/cell.ts
  blocksuite/affine/data-view/src/view-presets/kanban/mobile/kanban-view-ui-logic.ts
  blocksuite/affine/data-view/src/view-presets/table/mobile/cell.ts
  blocksuite/affine/data-view/src/view-presets/table/mobile/table-view-style.ts
  blocksuite/affine/data-view/src/widget-presets/quick-setting-bar/filter/list-view.ts
  blocksuite/affine/shared/src/services/feature-flag-service.ts
  blocksuite/affine/widgets/keyboard-toolbar/src/keyboard-tool-panel.ts
  blocksuite/affine/widgets/keyboard-toolbar/src/keyboard-toolbar.ts
  packages/frontend/component/src/ui/notification/mobile/styles.css.ts
  packages/frontend/core/src/modules/feature-flag/constant.ts
Labels: mod:component, app:core

#13434 chore: fix oxlint errors
  blocksuite/affine/widgets/drag-handle/src/helpers/preview-helper.ts
  packages/backend/server/src/__tests__/copilot-provider.spec.ts
  packages/backend/server/src/__tests__/copilot.e2e.ts
  packages/backend/server/src/__tests__/copilot.spec.ts
  packages/backend/server/src/__tests__/models/feature-user.spec.ts
  packages/backend/server/src/__tests__/utils/testing-module.ts
  packages/common/infra/src/orm/core/__tests__/yjs.spec.ts
  tests/affine-cloud/e2e/page-history.spec.ts
  tests/kit/src/playwright.ts
Labels: mod:infra, app:server, test

#13426 feat(core): extract selected docs
  packages/frontend/core/src/blocksuite/ai/components/ai-chat-chips/type.ts
  packages/frontend/core/src/blocksuite/ai/components/ai-chat-composer/ai-chat-composer.ts
  packages/frontend/core/src/blocksuite/ai/components/ai-chat-content/ai-chat-content.ts
  packages/frontend/core/src/blocksuite/ai/components/ai-chat-content/type.ts
  packages/frontend/core/src/blocksuite/ai/components/ai-chat-input/type.ts
  packages/frontend/core/src/blocksuite/ai/components/playground/chat.ts
  packages/frontend/core/src/blocksuite/ai/utils/extract.ts
Labels: app:core

#13428 chore(server): add ai document link on admin panel
  .docker/selfhost/schema.json
  packages/backend/server/src/plugins/copilot/config.ts
  packages/frontend/admin/src/config.json
  packages/frontend/admin/src/modules/nav/nav.tsx
  packages/frontend/admin/src/modules/settings/config-input-row.tsx
Labels: app:server

#13436 fix(server): unstable test
  tests/affine-cloud-copilot/e2e/utils/settings-panel-utils.ts
  tests/kit/src/utils/cloud.ts
Labels: test

#13437 feat(electron): enhance fuses
  packages/frontend/apps/electron/forge.config.mjs
Labels: app:electron

#13441 feat(core): enable battery save mode for mobile
  package.json
  packages/frontend/core/src/modules/feature-flag/constant.ts
  yarn.lock
Labels: app:core

#13443 refactor(core): display selected doc & attachment chip
  packages/frontend/core/src/blocksuite/ai/actions/types.ts
  packages/frontend/core/src/blocksuite/ai/components/ai-chat-chips/attachment-chip.ts
  packages/frontend/core/src/blocksuite/ai/components/ai-chat-chips/chat-panel-chips.ts
  packages/frontend/core/src/blocksuite/ai/components/ai-chat-chips/type.ts
  packages/frontend/core/src/blocksuite/ai/components/ai-chat-chips/utils.ts
  packages/frontend/core/src/blocksuite/ai/components/ai-chat-composer/ai-chat-composer.ts
  packages/frontend/core/src/blocksuite/ai/effects.ts
  packages/frontend/core/src/blocksuite/ai/entries/edgeless/index.ts
  packages/frontend/core/src/blocksuite/ai/provider/setup-provider.tsx
Labels: app:core

#13448 feat(server): auto fix doc summary
  packages/backend/server/src/core/doc-service/job.ts
  packages/backend/server/src/models/__tests__/doc.spec.ts
  packages/backend/server/src/models/doc.ts
Labels: app:server, test

#13450 fix(electron): disable LoadBrowserProcessSpecificV8Snapshot
  packages/frontend/apps/electron/forge.config.mjs
Labels: app:electron

#13460 chore(ios): enable edgeless dom renderer
  packages/frontend/core/src/modules/feature-flag/constant.ts
Labels: app:core

#13461 fix(server): fulfill empty embedding for trashed docs
  packages/backend/server/src/models/copilot-context.ts
  packages/backend/server/src/plugins/copilot/embedding/client.ts
  packages/backend/server/src/plugins/copilot/embedding/index.ts
  packages/backend/server/src/plugins/copilot/embedding/job.ts
  packages/backend/server/src/plugins/copilot/embedding/types.ts
Labels: app:server

#13462 chore(ios): disable dom renderer
  packages/frontend/core/src/modules/feature-flag/constant.ts
Labels: app:core

#13469 refactor(core): add selected chip synchronously
  packages/frontend/core/src/blocksuite/ai/components/ai-chat-composer/ai-chat-composer.ts
Labels: app:core

#13456 feat(editor): add mermaid code preview
  packages/frontend/core/package.json
  packages/frontend/core/src/blocksuite/block-suite-editor/bi-directional-link-panel.tsx
  packages/frontend/core/src/blocksuite/block-suite-editor/lit-adaper.tsx
  packages/frontend/core/src/blocksuite/manager/view.ts
  packages/frontend/core/src/blocksuite/view-extensions/code-block-preview/index.ts
  packages/frontend/core/src/blocksuite/view-extensions/code-block-preview/mermaid-preview.ts
  packages/frontend/core/src/components/hooks/affine/use-ai-specs.ts
  packages/frontend/core/src/desktop/dialogs/setting/general-setting/editor/edgeless/snapshot.tsx
  yarn.lock
Labels: app:core

#13477 fix(core): show past due in ui
  packages/backend/server/src/plugins/payment/resolver.ts
  packages/frontend/core/src/desktop/dialogs/setting/general-setting/billing/ai-plan-card.tsx
  packages/frontend/core/src/desktop/dialogs/setting/general-setting/billing/pro-plan-card.tsx
  packages/frontend/core/src/desktop/dialogs/setting/general-setting/billing/style.css.ts
Labels: app:server, app:core

#13478 feat(server): adapt gpt5
  .docker/selfhost/schema.json
  Cargo.lock
  Cargo.toml
  packages/backend/native/src/tiktoken.rs
  packages/backend/server/package.json
  packages/backend/server/src/__tests__/copilot-provider.spec.ts
  packages/backend/server/src/__tests__/copilot.spec.ts
  packages/backend/server/src/__tests__/mocks/copilot.mock.ts
  packages/backend/server/src/__tests__/models/copilot-context.spec.ts
  packages/backend/server/src/__tests__/models/copilot-session.spec.ts
  packages/backend/server/src/plugins/copilot/config.ts
  packages/backend/server/src/plugins/copilot/prompt/prompts.ts
  packages/backend/server/src/plugins/copilot/providers/anthropic/anthropic.ts
  packages/backend/server/src/plugins/copilot/providers/gemini/gemini.ts
  packages/backend/server/src/plugins/copilot/providers/openai.ts
  packages/backend/server/src/plugins/copilot/providers/perplexity.ts
  packages/backend/server/src/plugins/copilot/providers/utils.ts
  packages/backend/server/src/plugins/copilot/tools/blob-read.ts
  packages/backend/server/src/plugins/copilot/tools/code-artifact.ts
  packages/backend/server/src/plugins/copilot/tools/conversation-summary.ts
  packages/backend/server/src/plugins/copilot/tools/doc-compose.ts
  packages/backend/server/src/plugins/copilot/tools/doc-edit.ts
  packages/backend/server/src/plugins/copilot/tools/doc-keyword-search.ts
  packages/backend/server/src/plugins/copilot/tools/doc-read.ts
  packages/backend/server/src/plugins/copilot/tools/doc-semantic-search.ts
  packages/backend/server/src/plugins/copilot/tools/exa-crawl.ts
  packages/backend/server/src/plugins/copilot/tools/exa-search.ts
  packages/backend/server/src/plugins/copilot/tools/section-edit.ts
  yarn.lock
Labels: app:server, test, rust, mod:server-native

#13481 fix(core): manage payment details entry adjustment
  packages/frontend/core/src/desktop/dialogs/setting/general-setting/billing/ai-plan-card.tsx
  packages/frontend/core/src/desktop/dialogs/setting/general-setting/billing/index.tsx
  packages/frontend/core/src/desktop/dialogs/setting/general-setting/billing/pro-plan-card.tsx
Labels: app:core

#13486 fix(server): multi step tool call
  packages/backend/server/src/plugins/copilot/providers/anthropic/anthropic.ts
  packages/backend/server/src/plugins/copilot/providers/gemini/gemini.ts
  packages/backend/server/src/plugins/copilot/providers/openai.ts
  packages/backend/server/src/plugins/copilot/providers/provider.ts
Labels: app:server

#13468 fix(core): remove attachment chip failed
  packages/frontend/core/src/blocksuite/ai/components/ai-chat-chips/utils.ts
Labels: app:core

#13491 feat(server): integrate blob to context
  packages/backend/server/src/models/blob.ts
  packages/backend/server/src/models/copilot-workspace.ts
  packages/backend/server/src/plugins/copilot/context/session.ts
  packages/backend/server/src/plugins/copilot/controller.ts
  packages/backend/server/src/plugins/copilot/tools/blob-read.ts
Labels: app:server
