Repository toeverything/AFFiNE, pull requests merged in 2025-01, with the labels that each got.

#9465 refactor(core): remove abort event error on init
  packages/frontend/core/src/desktop/pages/root/index.tsx
  packages/frontend/core/src/mobile/pages/root/index.tsx
  packages/frontend/core/src/modules/cloud/entities/server.ts
Labels: app:core

#9472 chore: remove unused methods on slot
  blocksuite/framework/global/src/__tests__/slot.unit.spec.ts
  blocksuite/framework/global/src/utils/slot.ts
Labels: test

#9473 chore(editor): disable legacy validation
  blocksuite/framework/global/src/types/index.ts
  blocksuite/framework/store/src/__tests__/collection.unit.spec.ts
  blocksuite/framework/store/src/store/collection.ts
  blocksuite/framework/store/src/store/doc/block-collection.ts
  blocksuite/framework/store/src/store/meta.ts
  packages/frontend/core/src/modules/feature-flag/constant.ts
  packages/frontend/i18n/src/i18n-completenesses.json
  packages/frontend/i18n/src/i18n.gen.ts
  packages/frontend/i18n/src/resources/en.json
Labels: mod:i18n, test, app:core

#9466 feat(infra): add not-condition to orm
  packages/common/infra/src/orm/core/__tests__/yjs.spec.ts
  packages/common/infra/src/orm/core/adapters/memory/table.ts
  packages/common/infra/src/orm/core/adapters/types.ts
  packages/common/infra/src/orm/core/adapters/yjs/table.ts
  packages/common/infra/src/orm/core/table.ts
Labels: mod:infra, test

#9468 fix(native): round trip timestamp to millis
  packages/frontend/native/nbstore/src/doc.rs
Labels: rust, mod:native

#9475 refactor(editor): set readonly
  blocksuite/affine/block-embed/src/common/render-linked-doc.ts
  blocksuite/affine/widget-drag-handle/src/helpers/preview-helper.ts
  blocksuite/blocks/src/root-block/widgets/format-bar/format-bar.ts
  blocksuite/framework/block-std/src/selection/manager.ts
  blocksuite/framework/store/src/__tests__/collection.unit.spec.ts
  blocksuite/framework/store/src/__tests__/doc.unit.spec.ts
  blocksuite/framework/store/src/store/doc/doc.ts
  blocksuite/playground/apps/_common/components/starter-debug-menu.ts
  blocksuite/playground/apps/_common/history.ts
  blocksuite/tests-legacy/utils/actions/misc.ts
  packages/frontend/core/src/blocksuite/presets/_common/components/text-renderer.ts
  packages/frontend/core/src/components/affine/page-history-modal/data.ts
  packages/frontend/core/src/components/hooks/use-block-suite-page-meta.ts
  packages/frontend/core/src/desktop/dialogs/setting/general-setting/editor/edgeless/shape.tsx
  packages/frontend/core/src/desktop/dialogs/setting/general-setting/editor/edgeless/snapshot.tsx
  packages/frontend/core/src/desktop/pages/workspace/detail-page/detail-page-wrapper.tsx
  packages/frontend/core/src/desktop/pages/workspace/share/share-page.tsx
Labels: test, app:core

#9479 refactor(editor): move crud to doc
  blocksuite/affine/shared/src/services/page-viewport-service.ts
  blocksuite/blocks/src/root-block/edgeless/components/toolbar/context.ts
  blocksuite/blocks/src/root-block/edgeless/components/toolbar/edgeless-toolbar.ts
  blocksuite/blocks/src/root-block/edgeless/gfx-tool/copilot-tool.ts
  blocksuite/blocks/src/root-block/page/page-root-service.ts
  blocksuite/blocks/src/surface-block/mini-mindmap/index.ts
  blocksuite/blocks/src/surface-block/mini-mindmap/mindmap-service.ts
  blocksuite/blocks/src/surface-block/mini-mindmap/spec.ts
  blocksuite/blocks/src/surface-block/mini-mindmap/surface-block.ts
  blocksuite/framework/store/src/index.ts
  blocksuite/framework/store/src/store/doc/block-collection.ts
  blocksuite/framework/store/src/store/doc/doc.ts
  blocksuite/playground/apps/_common/mock-services.ts
  packages/frontend/core/src/blocksuite/presets/ai/provider.ts
  packages/frontend/core/src/components/blocksuite/block-suite-editor/blocksuite-editor-container.tsx
Labels: app:core

#9481 fix(editor): replace checkVisibility
  blocksuite/affine/shared/src/utils/dnd/calc-drop-target.ts
Labels: merge

#9485 fix(server): fail to load custom config
  packages/backend/server/src/prelude.ts
Labels: app:server

#9484 refactor(core): add all docs properties api
  packages/frontend/core/src/modules/doc/index.ts
  packages/frontend/core/src/modules/doc/services/docs.ts
  packages/frontend/core/src/modules/doc/stores/doc-properties.ts
  packages/frontend/core/src/modules/doc/stores/docs.ts
Labels: app:core

#9488 refactor(editor): job should not rely on doc collection directly
  blocksuite/affine/block-embed/src/embed-synced-doc-block/adapters/html.ts
  blocksuite/affine/block-embed/src/embed-synced-doc-block/adapters/markdown.ts
  blocksuite/affine/block-embed/src/embed-synced-doc-block/adapters/plain-text.ts
  blocksuite/affine/shared/src/services/drag-handle-config.ts
  blocksuite/affine/widget-drag-handle/src/middleware/new-id-cross-doc.ts
  blocksuite/affine/widget-drag-handle/src/middleware/surface-ref-to-embed.ts
  blocksuite/affine/widget-drag-handle/src/watchers/drag-event-watcher.ts
  blocksuite/blocks/src/__tests__/utils/create-job.ts
  blocksuite/blocks/src/_common/transformers/html.ts
  blocksuite/blocks/src/_common/transformers/markdown.ts
  blocksuite/blocks/src/_common/transformers/middlewares.ts
  blocksuite/blocks/src/_common/transformers/notion-html.ts
  blocksuite/blocks/src/_common/transformers/zip.ts
  blocksuite/blocks/src/root-block/clipboard/index.ts
  blocksuite/blocks/src/root-block/edgeless/clipboard/clipboard.ts
  blocksuite/blocks/src/root-block/edgeless/services/template.ts
  blocksuite/blocks/src/root-block/edgeless/utils/clone-utils.ts
  blocksuite/blocks/src/surface-block/mini-mindmap/mindmap-preview.ts
  blocksuite/framework/block-std/src/clipboard/index.ts
  blocksuite/framework/block-std/src/scope/block-std-scope.ts
  blocksuite/framework/store/src/transformer/assets.ts
  blocksuite/framework/store/src/transformer/job.ts
  blocksuite/framework/store/src/transformer/middleware.ts
  blocksuite/framework/store/src/transformer/type.ts
  blocksuite/playground/apps/_common/components/adapters-panel.ts
  blocksuite/playground/apps/_common/components/starter-debug-menu.ts
  blocksuite/playground/apps/default/utils/collection.ts
  blocksuite/playground/apps/starter/utils/collection.ts
  blocksuite/presets/src/__tests__/utils/misc.ts
  packages/frontend/apps/ios/src/app.tsx
  packages/frontend/core/src/blocksuite/presets/_common/utils/markdown-utils.ts
  packages/frontend/core/src/components/hooks/affine/use-export-page.ts
  packages/frontend/core/src/desktop/dialogs/setting/general-setting/editor/edgeless/docs/index.ts
  packages/frontend/core/src/modules/docs-search/worker/in-worker.ts
Labels: test, app:core

#9489 refactor(editor): merge docCreated and docAdded slot
  blocksuite/affine/block-data-view/src/data-source.ts
  blocksuite/framework/store/src/store/collection.ts
  blocksuite/playground/apps/starter/utils/collection.ts
  blocksuite/tests-legacy/utils/actions/misc.ts
  packages/frontend/core/src/components/hooks/use-block-suite-workspace-page.ts
  packages/frontend/core/src/components/page-list/use-block-suite-workspace-page.ts
Labels: app:core

#9497 refactor(editor): move mini mindmap to ai module
  blocksuite/blocks/src/effects.ts
  blocksuite/blocks/src/index.ts
  blocksuite/blocks/src/surface-block/mini-mindmap/index.ts
  blocksuite/presets/src/__tests__/edgeless/mini-mindmap.spec.ts
  blocksuite/presets/src/__tests__/env.d.ts
  blocksuite/presets/src/__tests__/utils/setup.ts
  blocksuite/presets/src/index.ts
  packages/frontend/core/src/blocksuite/presets/ai/chat-panel/actions/mindmap.ts
  packages/frontend/core/src/blocksuite/presets/ai/messages/mindmap.ts
  packages/frontend/core/src/blocksuite/presets/ai/mini-mindmap/__tests__/mindmap-preview.unit.spec.ts
  packages/frontend/core/src/blocksuite/presets/ai/mini-mindmap/index.ts
  packages/frontend/core/src/blocksuite/presets/ai/mini-mindmap/mindmap-preview.ts
  packages/frontend/core/src/blocksuite/presets/ai/mini-mindmap/mindmap-root-block.ts
  packages/frontend/core/src/blocksuite/presets/ai/mini-mindmap/mindmap-service.ts
  packages/frontend/core/src/blocksuite/presets/ai/mini-mindmap/spec.ts
  packages/frontend/core/src/blocksuite/presets/ai/mini-mindmap/surface-block.ts
  packages/frontend/core/src/blocksuite/presets/ai/mini-mindmap/surface-service.ts
  packages/frontend/core/src/blocksuite/presets/effects.ts
  vitest.workspace.ts
Labels: test, app:core

#9447 feat: add shortcut of zooming to selection
  blocksuite/blocks/src/root-block/edgeless/edgeless-keyboard.ts
  blocksuite/framework/block-std/src/gfx/viewport.ts
  blocksuite/tests-legacy/edgeless/shortcut.spec.ts
  blocksuite/tests-legacy/utils/actions/edgeless.ts
  packages/frontend/core/src/components/hooks/affine/use-shortcuts.ts
  packages/frontend/i18n/src/resources/en.json
  packages/frontend/i18n/src/resources/zh-Hans.json
  packages/frontend/i18n/src/resources/zh-Hant.json
Labels: mod:i18n, app:core

#9501 refactor(editor): should not rely on doc collection type
  blocksuite/affine/block-data-view/src/block-meta/todo.ts
  blocksuite/affine/block-embed/src/embed-linked-doc-block/embed-linked-doc-block.ts
  blocksuite/affine/block-embed/src/embed-synced-doc-block/components/embed-synced-doc-card.ts
  blocksuite/affine/block-embed/src/embed-synced-doc-block/embed-synced-doc-block.ts
  blocksuite/affine/components/src/rich-text/inline/presets/nodes/reference-node/reference-node.ts
  blocksuite/affine/shared/src/adapters/attachment.ts
  blocksuite/affine/shared/src/adapters/html/html.ts
  blocksuite/affine/shared/src/adapters/image.ts
  blocksuite/affine/shared/src/adapters/notion-html/notion-html.ts
  blocksuite/affine/shared/src/adapters/plain-text/plain-text.ts
  blocksuite/affine/shared/src/services/doc-display-meta-service.ts
  blocksuite/affine/shared/src/utils/model/doc.ts
  blocksuite/blocks/src/_common/adapters/mix-text.ts
  blocksuite/blocks/src/_common/transformers/html.ts
  blocksuite/blocks/src/_common/transformers/markdown.ts
  blocksuite/blocks/src/_common/transformers/notion-html.ts
  blocksuite/blocks/src/_common/transformers/zip.ts
  blocksuite/blocks/src/root-block/widgets/linked-doc/import-doc/import-doc.ts
  blocksuite/blocks/src/root-block/widgets/linked-doc/import-doc/index.ts
  blocksuite/framework/block-std/src/clipboard/index.ts
  blocksuite/framework/store/src/__tests__/collection.unit.spec.ts
  blocksuite/framework/store/src/store/collection.ts
  blocksuite/framework/store/src/store/doc/block-collection.ts
  blocksuite/framework/store/src/store/index.ts
  blocksuite/framework/store/src/store/meta.ts
  blocksuite/framework/store/src/store/workspace.ts
  blocksuite/framework/store/src/transformer/type.ts
  blocksuite/playground/apps/_common/components/docs-panel.ts
  blocksuite/presets/src/__tests__/utils/misc.ts
  blocksuite/tests-legacy/utils/declare-test-window.ts
  packages/common/env/src/constant.ts
  packages/common/env/src/filter.ts
  packages/frontend/core/src/blocksuite/presets/_common/utils/markdown-utils.ts
  packages/frontend/core/src/commands/affine-navigation.tsx
  packages/frontend/core/src/components/affine/page-history-modal/data.ts
  packages/frontend/core/src/components/affine/page-history-modal/history-modal.tsx
  packages/frontend/core/src/components/affine/reference-link/index.tsx
  packages/frontend/core/src/components/blocksuite/block-suite-page-list/utils.tsx
  packages/frontend/core/src/components/hooks/affine/use-all-page-list-config.tsx
  packages/frontend/core/src/components/hooks/affine/use-reference-link-helper.ts
  packages/frontend/core/src/components/hooks/use-all-block-suite-page-meta.ts
  packages/frontend/core/src/components/hooks/use-block-suite-page-meta.ts
  packages/frontend/core/src/components/hooks/use-block-suite-workspace-helper.ts
  packages/frontend/core/src/components/hooks/use-block-suite-workspace-page.ts
  packages/frontend/core/src/components/page-list/page-group.tsx
  packages/frontend/core/src/components/page-list/types.ts
  packages/frontend/core/src/components/page-list/use-block-suite-workspace-page.ts
  packages/frontend/core/src/desktop/dialogs/import/index.tsx
  packages/frontend/core/src/modules/tag/stores/tag.ts
  packages/frontend/core/src/modules/workspace/entities/workspace.ts
  packages/frontend/core/src/modules/workspace/providers/flavour.ts
  packages/frontend/core/src/modules/workspace/scopes/workspace.ts
  packages/frontend/core/src/modules/workspace/services/factory.ts
  packages/frontend/core/src/utils/user-setting.ts
  tsconfig.json
Labels: mod:env, test, app:core

#9507 chore(editor): move legacy doc collection to test workspace
  blocksuite/blocks/src/__tests__/database/database.unit.spec.ts
  blocksuite/blocks/src/__tests__/utils/create-job.ts
  blocksuite/framework/block-std/src/__tests__/editor-host.unit.spec.ts
  blocksuite/framework/store/package.json
  blocksuite/framework/store/src/__tests__/block.unit.spec.ts
  blocksuite/framework/store/src/__tests__/collection.unit.spec.ts
  blocksuite/framework/store/src/__tests__/doc.unit.spec.ts
  blocksuite/framework/store/src/__tests__/schema.unit.spec.ts
  blocksuite/framework/store/src/__tests__/test-utils-dom.ts
  blocksuite/framework/store/src/__tests__/transformer.unit.spec.ts
  blocksuite/framework/store/src/store/id.ts
  blocksuite/framework/store/src/store/index.ts
  blocksuite/framework/store/src/store/meta.ts
  blocksuite/framework/store/src/store/workspace.ts
  blocksuite/framework/store/src/test/index.ts
  blocksuite/framework/store/src/test/test-workspace.ts
  blocksuite/framework/store/src/utils/id-generator.ts
  blocksuite/playground/apps/_common/helper.ts
  blocksuite/playground/apps/default/utils/collection.ts
  blocksuite/playground/apps/starter/utils/collection.ts
  blocksuite/presets/src/__tests__/utils/setup.ts
  packages/frontend/core/src/blocksuite/presets/_common/utils/markdown-utils.ts
  packages/frontend/core/src/blocksuite/presets/ai/mini-mindmap/__tests__/mindmap-preview.unit.spec.ts
  packages/frontend/core/src/blocksuite/presets/ai/mini-mindmap/mindmap-preview.ts
  packages/frontend/core/src/components/page-list/__tests__/use-block-suite-page-preview.spec.ts
  packages/frontend/core/src/modules/at-menu-config/services/index.ts
Labels: test, app:core

#9500 fix(editor): at menu position in split view
  blocksuite/affine/block-database/src/properties/title/text.ts
  blocksuite/affine/shared/src/commands/index.ts
  blocksuite/affine/shared/src/commands/selection/get-selection-rects.ts
  blocksuite/affine/shared/src/commands/selection/index.ts
  blocksuite/blocks/src/root-block/widgets/keyboard-toolbar/config.ts
  blocksuite/blocks/src/root-block/widgets/linked-doc/config.ts
  blocksuite/blocks/src/root-block/widgets/linked-doc/index.ts
  blocksuite/blocks/src/root-block/widgets/slash-menu/config.ts
Labels: merge

#9514 refactor(core): move block collection to affine and implement as doc
  blocksuite/affine/block-data-view/src/data-source.ts
  blocksuite/affine/block-data-view/src/data-view-model.ts
  blocksuite/affine/block-database/src/data-source.ts
  blocksuite/affine/block-database/src/utils/block-utils.ts
  blocksuite/affine/block-embed/src/common/render-linked-doc.ts
  blocksuite/affine/block-embed/src/embed-linked-doc-block/embed-linked-doc-block.ts
  blocksuite/affine/block-embed/src/embed-synced-doc-block/embed-synced-doc-block.ts
  blocksuite/affine/block-paragraph/src/commands/append-paragraph.ts
  blocksuite/affine/shared/src/utils/model/doc.ts
  blocksuite/blocks/src/__tests__/database/database.unit.spec.ts
  blocksuite/blocks/src/root-block/widgets/element-toolbar/more-menu/render-linked-doc.ts
  blocksuite/blocks/src/root-block/widgets/embed-card-toolbar/embed-card-toolbar.ts
  blocksuite/blocks/src/root-block/widgets/slash-menu/config.ts
  blocksuite/framework/store/src/__tests__/collection.unit.spec.ts
  blocksuite/framework/store/src/store/doc/doc.ts
  blocksuite/framework/store/src/store/doc/index.ts
  blocksuite/framework/store/src/store/index.ts
  blocksuite/framework/store/src/store/workspace.ts
  blocksuite/framework/store/src/test/index.ts
  blocksuite/framework/store/src/test/test-doc.ts
  blocksuite/framework/store/src/test/test-workspace.ts
  blocksuite/framework/store/src/utils/utils.ts
  blocksuite/framework/store/src/yjs/awareness.ts
  blocksuite/presets/src/__tests__/utils/setup.ts
  blocksuite/tests-legacy/basic.spec.ts
  blocksuite/tests-legacy/drag.spec.ts
  blocksuite/tests-legacy/edgeless/edgeless-text.spec.ts
  blocksuite/tests-legacy/embed-synced-doc.spec.ts
  blocksuite/tests-legacy/format-bar.spec.ts
  blocksuite/tests-legacy/link.spec.ts
  blocksuite/tests-legacy/paragraph.spec.ts
  blocksuite/tests-legacy/utils/actions/misc.ts
  blocksuite/tests-legacy/utils/declare-test-window.ts
  blocksuite/tests-legacy/zero-width.spec.ts
  packages/frontend/core/src/components/hooks/affine/use-reference-link-helper.ts
  packages/frontend/core/src/components/page-list/__tests__/use-block-suite-page-preview.spec.ts
  packages/frontend/core/src/modules/doc/services/docs.ts
  packages/frontend/core/src/modules/workspace/impl/doc.ts
  packages/frontend/core/src/modules/workspace/impl/workspace.ts
Labels: test, app:core

#9521 refactor(editor): remove legacy blocksuite doc
  blocksuite/framework/store/src/__tests__/collection.unit.spec.ts
  blocksuite/framework/store/src/store/meta.ts
  blocksuite/framework/store/src/store/workspace.ts
  blocksuite/framework/store/src/test/test-doc.ts
  blocksuite/framework/store/src/test/test-workspace.ts
  blocksuite/framework/store/src/yjs/doc.ts
  blocksuite/framework/store/src/yjs/index.ts
  packages/frontend/core/src/components/affine/page-history-modal/history-modal.tsx
  packages/frontend/core/src/components/blocksuite/block-suite-editor/no-page-error.ts
  packages/frontend/core/src/modules/doc/scopes/doc.ts
  packages/frontend/core/src/modules/workspace/impls/doc.ts
  packages/frontend/core/src/modules/workspace/impls/workspace.ts
Labels: test, app:core

#9524 refactor(editor): move workspace meta to affine
  blocksuite/framework/store/src/store/index.ts
  blocksuite/framework/store/src/store/workspace.ts
  blocksuite/framework/store/src/test/index.ts
  blocksuite/framework/store/src/test/test-meta.ts
  blocksuite/framework/store/src/test/test-workspace.ts
  packages/frontend/core/src/modules/workspace/impls/meta.ts
  packages/frontend/core/src/modules/workspace/impls/workspace.ts
Labels: app:core

#9525 refactor(editor): reorg code structure of store package
  blocksuite/affine/block-embed/src/common/render-linked-doc.ts
  blocksuite/affine/block-embed/src/embed-synced-doc-block/embed-synced-doc-block.ts
  blocksuite/affine/block-surface-ref/src/portal/note.ts
  blocksuite/affine/widget-drag-handle/src/helpers/preview-helper.ts
  blocksuite/blocks/src/root-block/edgeless/components/frame/frame-preview.ts
  blocksuite/framework/block-std/src/view/element/block-component.ts
  blocksuite/framework/block-std/src/view/element/lit-host.ts
  blocksuite/framework/store/src/__tests__/block.unit.spec.ts
  blocksuite/framework/store/src/__tests__/collection.unit.spec.ts
  blocksuite/framework/store/src/__tests__/doc.unit.spec.ts
  blocksuite/framework/store/src/__tests__/schema.unit.spec.ts
  blocksuite/framework/store/src/__tests__/test-schema.ts
  blocksuite/framework/store/src/__tests__/transformer.unit.spec.ts
  blocksuite/framework/store/src/adapter/base.ts
  blocksuite/framework/store/src/consts.ts
  blocksuite/framework/store/src/index.ts
  blocksuite/framework/store/src/model/block/block-model.ts
  blocksuite/framework/store/src/model/block/block.ts
  blocksuite/framework/store/src/model/block/draft.ts
  blocksuite/framework/store/src/model/block/index.ts
  blocksuite/framework/store/src/model/block/sync-controller.ts
  blocksuite/framework/store/src/model/block/types.ts
  blocksuite/framework/store/src/model/block/zod.ts
  blocksuite/framework/store/src/model/blocks/blocks.ts
  blocksuite/framework/store/src/model/blocks/crud.ts
  blocksuite/framework/store/src/model/blocks/index.ts
  blocksuite/framework/store/src/model/blocks/query.ts
  blocksuite/framework/store/src/model/blocks/utils.ts
  blocksuite/framework/store/src/model/doc.ts
  blocksuite/framework/store/src/model/index.ts
  blocksuite/framework/store/src/model/workspace-meta.ts
  blocksuite/framework/store/src/model/workspace.ts
  blocksuite/framework/store/src/schema/base.ts
  blocksuite/framework/store/src/schema/error.ts
  blocksuite/framework/store/src/schema/index.ts
  blocksuite/framework/store/src/schema/schema.ts
  blocksuite/framework/store/src/store/doc/consts.ts
  blocksuite/framework/store/src/store/doc/index.ts
  blocksuite/framework/store/src/store/index.ts
  blocksuite/framework/store/src/store/workspace.ts
  blocksuite/framework/store/src/test/index.ts
  blocksuite/framework/store/src/test/test-doc.ts
  blocksuite/framework/store/src/test/test-meta.ts
  blocksuite/framework/store/src/test/test-workspace.ts
  blocksuite/framework/store/src/transformer/base.ts
  blocksuite/framework/store/src/transformer/index.ts
  blocksuite/framework/store/src/transformer/job.ts
  blocksuite/framework/store/src/transformer/middleware.ts
  blocksuite/framework/store/src/transformer/slice.ts
  blocksuite/framework/store/src/transformer/type.ts
  blocksuite/framework/store/src/utils/id-generator.ts
  blocksuite/framework/store/src/yjs/awareness.ts
  blocksuite/framework/store/src/yjs/utils.ts
  blocksuite/tests-legacy/utils/asserts.ts
  packages/frontend/core/src/blocksuite/presets/_common/components/text-renderer.ts
Labels: test, app:core

#9527 chore(editor): remove common utils in surface block
  blocksuite/affine/all/vitest.config.ts
  blocksuite/affine/block-paragraph/vitest.config.ts
  blocksuite/affine/block-surface/src/index.ts
  blocksuite/affine/components/vitest.config.ts
  blocksuite/affine/data-view/vitest.config.ts
  blocksuite/affine/model/vitest.config.ts
  blocksuite/affine/widget-scroll-anchoring/vitest.config.ts
  blocksuite/blocks/src/root-block/edgeless/components/auto-complete/auto-complete-panel.ts
  blocksuite/blocks/src/root-block/edgeless/components/auto-complete/utils.ts
  blocksuite/blocks/src/root-block/edgeless/components/rects/edgeless-selected-rect.ts
  blocksuite/blocks/src/root-block/edgeless/components/resize/resize-manager.ts
  blocksuite/blocks/src/root-block/edgeless/components/text/edgeless-shape-text-editor.ts
  blocksuite/blocks/src/root-block/edgeless/components/text/edgeless-text-editor.ts
  blocksuite/blocks/src/root-block/edgeless/components/toolbar/presentation-toolbar.ts
  blocksuite/blocks/src/root-block/edgeless/components/utils.ts
  blocksuite/blocks/src/root-block/edgeless/edgeless-root-block.ts
  blocksuite/blocks/src/root-block/edgeless/gfx-tool/eraser-tool.ts
  blocksuite/blocks/src/root-block/edgeless/gfx-tool/lasso-tool.ts
  blocksuite/blocks/src/root-block/edgeless/services/template-middlewares.ts
  blocksuite/blocks/src/root-block/edgeless/utils/query.ts
  blocksuite/blocks/src/root-block/widgets/element-toolbar/index.ts
  blocksuite/presets/src/__tests__/edgeless/layer.spec.ts
Labels: test

#9529 chore: bump icons with new design source
  blocksuite/affine/block-attachment/package.json
  blocksuite/affine/block-bookmark/package.json
  blocksuite/affine/block-edgeless-text/package.json
  blocksuite/affine/block-embed/package.json
  blocksuite/affine/block-image/package.json
  blocksuite/affine/block-note/package.json
  blocksuite/affine/components/package.json
  blocksuite/affine/components/src/context-menu/button.ts
  blocksuite/affine/data-view/package.json
  blocksuite/affine/data-view/src/core/filter/literal/define.ts
  blocksuite/affine/data-view/src/core/group-by/renderer/boolean-group.ts
  blocksuite/affine/data-view/src/property-presets/checkbox/cell-renderer.ts
  blocksuite/affine/data-view/src/view-presets/table/pc/row/row-select-checkbox.ts
  blocksuite/affine/shared/package.json
  blocksuite/affine/widget-drag-handle/package.json
  blocksuite/blocks/package.json
  packages/frontend/apps/android/package.json
  packages/frontend/apps/ios/package.json
  packages/frontend/apps/mobile/package.json
  packages/frontend/component/package.json
  packages/frontend/component/src/ui/notification/notification-center.stories.tsx
  packages/frontend/component/src/ui/notification/notify.tsx
  packages/frontend/component/src/ui/property/property.tsx
  packages/frontend/core/package.json
  packages/frontend/core/src/components/affine/page-history-modal/history-modal.tsx
  packages/frontend/core/src/components/affine/share-page-modal/share-menu/share-page.tsx
  packages/frontend/core/src/components/blocksuite/block-suite-editor/bi-directional-link-panel.tsx
  packages/frontend/core/src/components/doc-properties/sidebar/section.tsx
  packages/frontend/core/src/components/doc-properties/table.tsx
  packages/frontend/core/src/components/page-list/page-group.tsx
  packages/frontend/core/src/desktop/dialogs/collection-editor/rules-mode.tsx
  packages/frontend/core/src/desktop/dialogs/setting/general-setting/plans/ai/actions/resume.tsx
  packages/frontend/core/src/mobile/components/app-tabs/data.tsx
  packages/frontend/core/src/mobile/components/explorer/layouts/collapsible-section.tsx
  packages/frontend/core/src/mobile/views/all-docs/doc/list.tsx
  packages/frontend/core/src/modules/app-sidebar/views/category-divider/index.tsx
  yarn.lock
Labels: mod:component, app:core

#9533 feat(i18n): i18n Localization and translations for Farsi (fa) 🇮🇷
  packages/frontend/i18n/src/resources/fa.json
  packages/frontend/i18n/src/resources/index.ts
Labels: mod:i18n

#9339 fix(core): should focus when clicking sidebar button
  packages/frontend/core/src/modules/app-sidebar/views/menu-item/index.tsx
  packages/frontend/core/src/modules/app-sidebar/views/quick-search-input/index.tsx
  tests/affine-local/e2e/quick-search.spec.ts
  tests/kit/utils/keyboard.ts
Labels: test, app:core

#9542 Update README.md
  README.md
Labels: docs

#9530 feat(i18n): add uk i18n
  packages/frontend/i18n/src/resources/index.ts
Labels: mod:i18n

#9502 refactor(editor): add native clipboard extension
  blocksuite/affine/block-image/src/utils.ts
  blocksuite/affine/shared/src/services/index.ts
  blocksuite/affine/shared/src/services/native-clipboard-service.ts
  blocksuite/blocks/src/root-block/widgets/surface-ref-toolbar/utils.ts
  packages/frontend/apps/electron/src/main/clipboard/index.ts
  packages/frontend/core/src/components/blocksuite/block-suite-editor/lit-adaper.tsx
  packages/frontend/core/src/components/blocksuite/block-suite-editor/specs/custom/spec-patchers.tsx
  tests/affine-desktop/e2e/image.spec.ts
  tests/fixtures/affine.svg
Labels: app:electron, test, app:core

#9537 fix(editor): add childElementIds to ai generated frame
  blocksuite/blocks/src/root-block/edgeless/services/template-middlewares.ts
  blocksuite/blocks/src/root-block/edgeless/services/template.ts
  packages/frontend/core/src/blocksuite/presets/ai/slides/templates/cover.json
  packages/frontend/core/src/blocksuite/presets/ai/slides/templates/four.json
  packages/frontend/core/src/blocksuite/presets/ai/slides/templates/one.json
  packages/frontend/core/src/blocksuite/presets/ai/slides/templates/three.json
  packages/frontend/core/src/blocksuite/presets/ai/slides/templates/two.json
Labels: app:core

#9547 chore: move page not found error out of constants
  blocksuite/framework/store/src/index.ts
  packages/common/env/src/constant.ts
  packages/frontend/core/src/components/affine/affine-error-boundary/error-fallbacks/page-not-found-fallback.tsx
  packages/frontend/i18n/src/i18n-completenesses.json
  tools/@types/env/__all.d.ts
  tools/@types/env/package.json
  tools/utils/src/workspace.gen.ts
  yarn.lock
Labels: mod:i18n, mod:env, app:core

#9563 chore: remove awareness sync since it's not used
  blocksuite/framework/store/src/model/workspace.ts
  blocksuite/framework/store/src/test/test-doc.ts
  packages/frontend/core/src/blocksuite/presets/ai/messages/slides-renderer.ts
  packages/frontend/core/src/blocksuite/presets/ai/mini-mindmap/mindmap-preview.ts
  packages/frontend/core/src/modules/workspace/impls/doc.ts
  packages/frontend/core/src/modules/workspace/impls/workspace.ts
Labels: app:core

#9561 chore(server): setup winston logger
  packages/backend/server/package.json
  packages/backend/server/src/app.module.ts
  packages/backend/server/src/app.ts
  packages/backend/server/src/base/index.ts
  packages/backend/server/src/base/logger/index.ts
  packages/backend/server/src/base/logger/logger.ts
  packages/backend/server/src/base/logger/service.ts
  packages/backend/server/src/core/doc/job.ts
  packages/backend/server/src/middleware/timing.ts
  yarn.lock
Labels: app:server

#9570 refactor(editor): refactor page note empty checker
  blocksuite/affine/model/src/blocks/note/note-model.ts
  blocksuite/affine/model/src/blocks/paragraph/paragraph-model.ts
  blocksuite/affine/model/src/blocks/root/root-block-model.ts
  blocksuite/affine/shared/src/utils/dnd/get-drop-rect-by-point.ts
  blocksuite/blocks/src/root-block/page/page-root-block.ts
  blocksuite/framework/block-std/src/gfx/model/surface/surface-model.ts
  blocksuite/framework/store/src/model/block/block-model.ts
  blocksuite/framework/store/src/model/blocks/blocks.ts
  blocksuite/presets/src/__tests__/edgeless/basic.spec.ts
  blocksuite/presets/src/fragments/doc-title/doc-title.ts
  blocksuite/presets/src/fragments/outline/card/outline-card.ts
Labels: test

#9540 fix(editor): enumerate ancestors
  blocksuite/affine/block-paragraph/src/adapters/html.ts
  blocksuite/blocks/src/__tests__/adapters/html.unit.spec.ts
  blocksuite/framework/store/src/adapter/base.ts
Labels: test

#9487 feat(core): drop doc onto split view
  packages/frontend/apps/electron/src/main/windows-manager/context-menu.ts
  packages/frontend/component/src/components/resize-panel/resize-panel.tsx
  packages/frontend/component/src/ui/dnd/common.ts
  packages/frontend/component/src/ui/dnd/draggable.ts
  packages/frontend/component/src/ui/dnd/drop-target.ts
  packages/frontend/component/src/ui/dnd/index.ts
  packages/frontend/component/src/ui/dnd/monitor.tsx
  packages/frontend/component/src/ui/dnd/types.ts
  packages/frontend/component/src/utils/index.ts
  packages/frontend/component/src/utils/shallow-equal.ts
  packages/frontend/core/package.json
  packages/frontend/core/src/components/blocksuite/block-suite-editor/journal-doc-title.tsx
  packages/frontend/core/src/components/blocksuite/block-suite-header/journal/today-button.tsx
  packages/frontend/core/src/components/hooks/use-journal.ts
  packages/frontend/core/src/components/page-list/docs/page-list-item.tsx
  packages/frontend/core/src/components/page-list/operation-cell.tsx
  packages/frontend/core/src/components/page-list/page-group.tsx
  packages/frontend/core/src/components/page-list/scoped-atoms.tsx
  packages/frontend/core/src/components/page-list/utils.tsx
  packages/frontend/core/src/components/page-list/view/collection-operations.tsx
  packages/frontend/core/src/components/root-app-sidebar/journal-button.tsx
  packages/frontend/core/src/desktop/components/app-container/styles.css.ts
  packages/frontend/core/src/desktop/pages/journals/index.tsx
  packages/frontend/core/src/desktop/workbench-router.ts
  packages/frontend/core/src/mobile/components/explorer/nodes/collection/operations.tsx
  packages/frontend/core/src/mobile/components/explorer/nodes/doc/operations.tsx
  packages/frontend/core/src/mobile/components/explorer/nodes/tag/operations.tsx
  packages/frontend/core/src/modules/app-sidebar/views/index.tsx
  packages/frontend/core/src/modules/app-tabs-header/views/app-tabs-header.tsx
  packages/frontend/core/src/modules/dnd/services/index.ts
  packages/frontend/core/src/modules/explorer/views/nodes/collection/operations.tsx
  packages/frontend/core/src/modules/explorer/views/nodes/doc/operations.tsx
  packages/frontend/core/src/modules/explorer/views/nodes/tag/operations.tsx
  packages/frontend/core/src/modules/feature-flag/constant.ts
  packages/frontend/core/src/modules/workbench/entities/workbench.ts
  packages/frontend/core/src/modules/workbench/services/desktop-state-synchronizer.ts
  packages/frontend/core/src/modules/workbench/view/split-view/indicator.css.ts
  packages/frontend/core/src/modules/workbench/view/split-view/indicator.tsx
  packages/frontend/core/src/modules/workbench/view/split-view/panel.tsx
  packages/frontend/core/src/modules/workbench/view/split-view/resize-handle.tsx
  packages/frontend/core/src/modules/workbench/view/split-view/split-view.css.ts
  packages/frontend/core/src/modules/workbench/view/split-view/split-view.tsx
  packages/frontend/core/src/modules/workbench/view/split-view/state.ts
  packages/frontend/core/src/modules/workbench/view/split-view/types.ts
  packages/frontend/core/src/modules/workbench/view/workbench-link.tsx
  packages/frontend/core/src/modules/workbench/view/workbench-root.css.ts
  packages/frontend/core/src/modules/workbench/view/workbench-root.tsx
  packages/frontend/core/src/types/dnd.ts
  tests/affine-desktop/e2e/split-view.spec.ts
  tests/affine-desktop/e2e/tabs.spec.ts
  tests/kit/src/utils/app-tabs.ts
  tests/kit/src/utils/page-logic.ts
  yarn.lock
Labels: mod:component, app:electron, test, app:core

#9583 fix(electron): filename escape
  packages/frontend/apps/electron/src/helper/workspace/meta.ts
Labels: app:electron

#9584 feat(editor): add editor store
  blocksuite/affine/block-embed/src/common/render-linked-doc.ts
  blocksuite/affine/block-embed/src/embed-synced-doc-block/embed-edgeless-synced-doc-block.ts
  blocksuite/affine/block-embed/src/embed-synced-doc-block/embed-synced-doc-block.ts
  blocksuite/affine/block-surface-ref/src/portal/note.ts
  blocksuite/affine/block-surface-ref/src/surface-ref-block.ts
  blocksuite/affine/widget-drag-handle/src/helpers/preview-helper.ts
  blocksuite/blocks/src/root-block/edgeless/components/frame/frame-preview.ts
  blocksuite/framework/block-std/src/__tests__/test-editor.ts
  blocksuite/framework/block-std/src/scope/block-std-scope.ts
  blocksuite/framework/store/src/extension/extension.ts
  blocksuite/framework/store/src/extension/index.ts
  blocksuite/framework/store/src/extension/store-extension.ts
  blocksuite/framework/store/src/index.ts
  blocksuite/framework/store/src/store/identifier.ts
  blocksuite/framework/store/src/store/index.ts
  blocksuite/framework/store/src/store/store.ts
  blocksuite/presets/src/editors/edgeless-editor.ts
  blocksuite/presets/src/editors/editor-container.ts
  blocksuite/presets/src/editors/page-editor.ts
  packages/frontend/core/src/blocksuite/presets/_common/components/text-renderer.ts
  packages/frontend/core/src/blocksuite/presets/ai/messages/slides-renderer.ts
  packages/frontend/core/src/blocksuite/presets/ai/mini-mindmap/mindmap-preview.ts
  packages/frontend/core/src/desktop/dialogs/setting/general-setting/editor/edgeless/snapshot.tsx
  packages/frontend/core/src/modules/dnd/services/index.ts
  packages/frontend/core/src/modules/doc-info/utils.ts
Labels: test, app:core

#9582 feat(mobile): mobile toc menu
  blocksuite/presets/src/effects.ts
  blocksuite/presets/src/fragments/outline/index.ts
  blocksuite/presets/src/fragments/outline/mobile-outline-panel.ts
  blocksuite/presets/src/fragments/outline/utils/scroll.ts
  packages/frontend/component/src/ui/menu/menu.types.ts
  packages/frontend/component/src/ui/menu/mobile/root.tsx
  packages/frontend/core/src/mobile/components/toc-menu/index.tsx
  packages/frontend/core/src/mobile/pages/workspace/detail/page-header-more-button.tsx
  packages/frontend/i18n/src/i18n.gen.ts
  packages/frontend/i18n/src/resources/en.json
Labels: mod:i18n, mod:component, app:core

#9585 fix(server): disable winston in seflhost instance
  packages/backend/server/src/base/logger/index.ts
  packages/backend/server/src/base/logger/service.ts
  packages/backend/server/src/base/mailer/mailer.ts
  packages/backend/server/src/plugins/gcloud/index.ts
  packages/backend/server/src/plugins/gcloud/logging/index.ts
  packages/backend/server/src/plugins/gcloud/logging/logger.ts
  packages/backend/server/src/plugins/gcloud/logging/service.ts
Labels: app:server

#9592 feat(editor): add feature flag service
  blocksuite/affine/block-database/src/data-source.ts
  blocksuite/affine/block-embed/src/embed-linked-doc-block/embed-edgeless-linked-doc-block.ts
  blocksuite/affine/block-embed/src/embed-linked-doc-block/embed-linked-doc-block.ts
  blocksuite/affine/block-surface/src/renderer/elements/shape/utils.ts
  blocksuite/affine/components/src/rich-text/inline/presets/nodes/reference-node/reference-popup.ts
  blocksuite/affine/shared/src/services/feature-flag-service.ts
  blocksuite/affine/shared/src/services/index.ts
  blocksuite/blocks/src/__tests__/utils/create-job.ts
  blocksuite/blocks/src/_specs/common.ts
  blocksuite/blocks/src/_specs/index.ts
  blocksuite/blocks/src/_specs/preset/mobile-patch.ts
  blocksuite/blocks/src/_specs/register-specs.ts
  blocksuite/blocks/src/root-block/edgeless/components/auto-complete/auto-complete-panel.ts
  blocksuite/blocks/src/root-block/edgeless/components/toolbar/brush/brush-menu.ts
  blocksuite/blocks/src/root-block/edgeless/components/toolbar/connector/connector-menu.ts
  blocksuite/blocks/src/root-block/edgeless/components/toolbar/mindmap/basket-elements.ts
  blocksuite/blocks/src/root-block/edgeless/components/toolbar/mindmap/mindmap-menu.ts
  blocksuite/blocks/src/root-block/edgeless/components/toolbar/shape/shape-menu.ts
  blocksuite/blocks/src/root-block/edgeless/edgeless-keyboard.ts
  blocksuite/blocks/src/root-block/edgeless/gfx-tool/default-tool.ts
  blocksuite/blocks/src/root-block/edgeless/gfx-tool/text-tool.ts
  blocksuite/blocks/src/root-block/widgets/edgeless-auto-connect/edgeless-auto-connect.ts
  blocksuite/blocks/src/root-block/widgets/element-toolbar/change-brush-button.ts
  blocksuite/blocks/src/root-block/widgets/element-toolbar/change-connector-button.ts
  blocksuite/blocks/src/root-block/widgets/element-toolbar/change-embed-card-button.ts
  blocksuite/blocks/src/root-block/widgets/element-toolbar/change-frame-button.ts
  blocksuite/blocks/src/root-block/widgets/element-toolbar/change-note-button.ts
  blocksuite/blocks/src/root-block/widgets/element-toolbar/change-shape-button.ts
  blocksuite/blocks/src/root-block/widgets/element-toolbar/change-text-menu.ts
  blocksuite/blocks/src/root-block/widgets/embed-card-toolbar/embed-card-toolbar.ts
  blocksuite/blocks/src/root-block/widgets/keyboard-toolbar/index.ts
  blocksuite/blocks/src/root-block/widgets/linked-doc/index.ts
  blocksuite/blocks/src/root-block/widgets/slash-menu/config.ts
  blocksuite/framework/global/src/types/index.ts
  blocksuite/framework/store/src/__tests__/collection.unit.spec.ts
  blocksuite/framework/store/src/model/store/store.ts
  blocksuite/framework/store/src/test/test-doc.ts
  blocksuite/framework/store/src/test/test-workspace.ts
  blocksuite/playground/apps/_common/helper.ts
  blocksuite/playground/apps/starter/data/database.ts
  blocksuite/playground/apps/starter/utils/collection.ts
  blocksuite/presets/src/__tests__/utils/setup.ts
  blocksuite/tests-legacy/edgeless/auto-complete.spec.ts
  blocksuite/tests-legacy/edgeless/edgeless-text.spec.ts
  blocksuite/tests-legacy/edgeless/paste-block.spec.ts
  blocksuite/tests-legacy/edgeless/shape.spec.ts
  blocksuite/tests-legacy/edgeless/text.spec.ts
  blocksuite/tests-legacy/utils/actions/misc.ts
  packages/frontend/core/src/blocksuite/presets/ai/chat-panel/chat-panel-messages.ts
  packages/frontend/core/src/modules/editor/entities/editor.ts
  packages/frontend/core/src/modules/editor/index.ts
  packages/frontend/core/src/modules/feature-flag/services/feature-flag.ts
  packages/frontend/core/src/modules/feature-flag/types.ts
  packages/frontend/core/src/modules/workspace/impls/doc.ts
  packages/frontend/core/src/modules/workspace/impls/workspace.ts
Labels: test, app:core

#9357 feat(core): support ai network search
  .github/actions/copilot-test/action.yml
  .github/actions/deploy/deploy.mjs
  .github/helm/affine/charts/graphql/templates/deployment.yaml
  .github/workflows/build-test.yml
  .github/workflows/copilot-test.yml
  .github/workflows/deploy.yml
  blocksuite/blocks/src/root-block/widgets/ai-panel/ai-panel.ts
  blocksuite/blocks/src/root-block/widgets/ai-panel/components/state/input.ts
  blocksuite/blocks/src/root-block/widgets/ai-panel/type.ts
  packages/backend/server/.env.example
  packages/backend/server/package.json
  packages/backend/server/src/config/affine.env.ts
  packages/backend/server/src/plugins/copilot/config.ts
  packages/backend/server/src/plugins/copilot/index.ts
  packages/backend/server/src/plugins/copilot/prompt/prompts.ts
  packages/backend/server/src/plugins/copilot/providers/index.ts
  packages/backend/server/src/plugins/copilot/providers/perplexity.ts
  packages/backend/server/src/plugins/copilot/resolver.ts
  packages/backend/server/src/plugins/copilot/session.ts
  packages/backend/server/src/plugins/copilot/types.ts
  packages/backend/server/src/schema.gql
  packages/backend/server/tests/copilot-provider.spec.ts
  packages/backend/server/tests/copilot.e2e.ts
  packages/backend/server/tests/copilot.spec.ts
  packages/backend/server/tests/utils/copilot.ts
  packages/frontend/core/src/blocksuite/presets/ai/ai-panel.ts
  packages/frontend/core/src/blocksuite/presets/ai/ai-spec.ts
  packages/frontend/core/src/blocksuite/presets/ai/chat-panel/chat-panel-input.ts
  packages/frontend/core/src/blocksuite/presets/ai/chat-panel/index.ts
  packages/frontend/core/src/components/blocksuite/block-suite-editor/ai/copilot-client.ts
  packages/frontend/core/src/components/blocksuite/block-suite-editor/ai/prompt.ts
  packages/frontend/core/src/components/blocksuite/block-suite-editor/ai/request.ts
  packages/frontend/core/src/components/blocksuite/block-suite-editor/ai/setup-provider.tsx
  packages/frontend/core/src/components/blocksuite/block-suite-editor/specs/edgeless.ts
  packages/frontend/core/src/components/blocksuite/block-suite-editor/specs/page.ts
  packages/frontend/core/src/components/providers/workspace-side-effects.tsx
  packages/frontend/core/src/desktop/dialogs/setting/general-setting/experimental-features/index.tsx
  packages/frontend/core/src/desktop/pages/workspace/detail-page/tabs/chat.tsx
  packages/frontend/core/src/mobile/dialogs/setting/experimental/index.tsx
  packages/frontend/core/src/modules/ai-button/index.ts
  packages/frontend/core/src/modules/ai-button/services/network-search.ts
  packages/frontend/core/src/modules/feature-flag/constant.ts
  packages/frontend/core/src/modules/index.ts
  packages/frontend/graphql/src/graphql/index.ts
  packages/frontend/graphql/src/graphql/update-copilot-session.gql
  packages/frontend/graphql/src/schema.ts
  packages/frontend/i18n/src/resources/en.json
  tests/affine-cloud-copilot/e2e/copilot.spec.ts
  yarn.lock
Labels: mod:i18n, app:server, test, app:core

#9597 refactor(editor): remove readonly in awareness
  blocksuite/affine/components/src/virtual-keyboard/controller.ts
  blocksuite/blocks/src/root-block/edgeless/edgeless-root-service.ts
  blocksuite/framework/global/src/types/index.ts
  blocksuite/framework/store/shim.d.ts
  blocksuite/framework/store/src/__tests__/doc.unit.spec.ts
  blocksuite/framework/store/src/index.ts
  blocksuite/framework/store/src/model/doc.ts
  blocksuite/framework/store/src/model/store/store.ts
  blocksuite/framework/store/src/test/test-doc.ts
  blocksuite/framework/store/src/test/test-workspace.ts
  blocksuite/framework/store/src/yjs/awareness.ts
  blocksuite/presets/src/fragments/doc-title/doc-title.ts
  blocksuite/tests-legacy/edgeless/basic.spec.ts
  blocksuite/tests-legacy/utils/actions/click.ts
  blocksuite/tests-legacy/utils/actions/misc.ts
  packages/frontend/core/src/modules/workspace/impls/doc.ts
  packages/frontend/core/src/modules/workspace/impls/workspace.ts
Labels: test, app:core

#9588 feat(editor): add more open doc options to editor toolbar
  blocksuite/affine/block-embed/src/effects.ts
  blocksuite/affine/block-embed/src/embed-linked-doc-block/embed-edgeless-linked-doc-block.ts
  blocksuite/affine/block-embed/src/embed-linked-doc-block/embed-linked-doc-block.ts
  blocksuite/affine/block-embed/src/embed-linked-doc-block/embed-linked-doc-config.ts
  blocksuite/affine/block-embed/src/embed-linked-doc-block/index.ts
  blocksuite/affine/block-embed/src/embed-synced-doc-block/embed-synced-doc-block.ts
  blocksuite/affine/components/src/rich-text/inline/presets/nodes/index.ts
  blocksuite/affine/components/src/rich-text/inline/presets/nodes/reference-node/reference-popup.ts
  blocksuite/affine/components/src/rich-text/inline/presets/nodes/reference-node/types.ts
  blocksuite/affine/components/src/toolbar/menu-button.ts
  blocksuite/affine/shared/src/services/index.ts
  blocksuite/affine/shared/src/services/open-doc-config.ts
  blocksuite/affine/shared/src/utils/event.ts
  blocksuite/blocks/src/_specs/common.ts
  blocksuite/blocks/src/root-block/widgets/element-toolbar/change-embed-card-button.ts
  blocksuite/blocks/src/root-block/widgets/element-toolbar/more-menu/config.ts
  blocksuite/blocks/src/root-block/widgets/embed-card-toolbar/embed-card-toolbar.ts
  packages/frontend/apps/ios/App/Packages/AffineGraphQL/.gitignore
  packages/frontend/apps/ios/App/Packages/AffineGraphQL/Package.resolved
  packages/frontend/apps/ios/App/Packages/Intelligents/Package.resolved
  packages/frontend/core/src/components/affine/empty/docs.tsx
  packages/frontend/core/src/components/blocksuite/block-suite-editor/lit-adaper.tsx
  packages/frontend/core/src/components/blocksuite/block-suite-editor/specs/common.ts
  packages/frontend/core/src/components/blocksuite/block-suite-editor/specs/custom/spec-patchers.tsx
  packages/frontend/core/src/components/blocksuite/block-suite-page-list/utils.tsx
  packages/frontend/core/src/components/page-list/docs/page-list-header.tsx
  packages/frontend/core/src/desktop/pages/workspace/all-page/all-page-header.tsx
  packages/frontend/core/src/desktop/pages/workspace/detail-page/detail-page.tsx
  packages/frontend/core/src/mobile/components/app-tabs/create.tsx
  packages/frontend/core/src/modules/app-sidebar/views/add-page-button/index.tsx
  packages/frontend/core/src/modules/explorer/views/sections/favorites/index.tsx
  packages/frontend/core/src/modules/workbench/services/workbench-new-tab-handler.ts
  packages/frontend/core/src/modules/workbench/view/split-view/panel.tsx
  packages/frontend/core/src/modules/workbench/view/split-view/split-view.css.ts
  packages/frontend/core/src/modules/workbench/view/workbench-link.tsx
  packages/frontend/core/src/utils/event.ts
  packages/frontend/i18n/src/resources/en.json
  tests/affine-desktop/e2e/split-view.spec.ts
  tests/affine-desktop/tsconfig.json
  tools/utils/src/logger.ts
  tools/utils/src/workspace.ts
Labels: mod:i18n, test, app:core

#9608 feat(server): user model
  packages/backend/server/src/app.module.ts
  packages/backend/server/src/base/event/def.ts
  packages/backend/server/src/core/user/service.ts
  packages/backend/server/src/models/index.ts
  packages/backend/server/src/models/user.ts
  packages/backend/server/tests/models/user.spec.ts
  packages/backend/server/tests/utils/utils.ts
  tsconfig.json
Labels: app:server, test

#9612 style: add @typescript-eslint/return-await rule
  eslint.config.mjs
  packages/common/infra/src/sync/indexer/impl/indexeddb/index.ts
  packages/frontend/apps/electron/src/helper/dialog/dialog.ts
  packages/frontend/core/src/components/blocksuite/block-suite-editor/ai/request.ts
  packages/frontend/core/src/modules/cloud/services/auth.ts
Labels: mod:infra, app:electron, app:core

#9615 chore(server): not allow to update action's prompt
  packages/backend/server/src/plugins/copilot/session.ts
Labels: app:server

#9610 fix(core): split view should only be dragged by the handle
  packages/frontend/core/src/modules/workbench/view/split-view/panel.tsx
  packages/frontend/core/src/modules/workbench/view/split-view/split-view.css.ts
  tests/affine-desktop/e2e/split-view.spec.ts
Labels: test, app:core

#9613 fix(core): update chat session after session created or reused
  packages/frontend/core/src/components/blocksuite/block-suite-editor/ai/setup-provider.tsx
Labels: app:core

#9605 feat(editor): selection as store extension
  blocksuite/affine/block-database/src/database-spec.ts
  blocksuite/affine/block-image/src/components/page-image-block.ts
  blocksuite/affine/block-image/src/image-spec.ts
  blocksuite/affine/block-list/src/list-block.ts
  blocksuite/affine/block-note/src/note-service.ts
  blocksuite/affine/block-surface-ref/src/surface-ref-block.ts
  blocksuite/affine/block-surface/src/surface-spec.ts
  blocksuite/affine/data-view/src/core/common/selection-schema.ts
  blocksuite/affine/shared/src/selection/hightlight.ts
  blocksuite/affine/shared/src/selection/image.ts
  blocksuite/affine/widget-drag-handle/src/utils.ts
  blocksuite/affine/widget-remote-selection/src/doc/doc-remote-selection.ts
  blocksuite/blocks/src/_specs/common.ts
  blocksuite/blocks/src/root-block/widgets/ai-panel/ai-panel.ts
  blocksuite/blocks/src/root-block/widgets/format-bar/format-bar.ts
  blocksuite/framework/block-std/src/extension/index.ts
  blocksuite/framework/block-std/src/extension/selection.ts
  blocksuite/framework/block-std/src/identifier.ts
  blocksuite/framework/block-std/src/range/inline-range-provider.ts
  blocksuite/framework/block-std/src/range/range-binding.ts
  blocksuite/framework/block-std/src/scope/block-std-scope.ts
  blocksuite/framework/block-std/src/selection/index.ts
  blocksuite/framework/block-std/src/selection/variants/block.ts
  blocksuite/framework/block-std/src/selection/variants/cursor.ts
  blocksuite/framework/block-std/src/selection/variants/surface.ts
  blocksuite/framework/block-std/src/selection/variants/text.ts
  blocksuite/framework/block-std/src/view/element/lit-host.ts
  blocksuite/framework/store/src/extension/index.ts
  blocksuite/framework/store/src/extension/selection/base.ts
  blocksuite/framework/store/src/extension/selection/identifier.ts
  blocksuite/framework/store/src/extension/selection/index.ts
  blocksuite/framework/store/src/extension/selection/selection-extension.ts
  blocksuite/framework/store/src/extension/selection/types.ts
  blocksuite/framework/store/src/model/store/store.ts
  blocksuite/presets/src/__tests__/utils/setup.ts
  blocksuite/tests-legacy/edgeless/note/note.spec.ts
  blocksuite/tests-legacy/edgeless/paste-block.spec.ts
  packages/frontend/core/src/blocksuite/presets/ai/chat-panel/chat-panel-messages.ts
  tests/affine-local/e2e/links.spec.ts
Labels: test, app:core

#9626 feat(editor): remove chat-cards and Open AI Chat menu item
  packages/frontend/core/src/blocksuite/presets/ai/_common/components/ask-ai-toolbar.ts
  packages/frontend/core/src/blocksuite/presets/ai/_common/config.ts
  packages/frontend/core/src/blocksuite/presets/ai/actions/edgeless-response.ts
  packages/frontend/core/src/blocksuite/presets/ai/ai-panel.ts
  packages/frontend/core/src/blocksuite/presets/ai/chat-panel/chat-cards.ts
  packages/frontend/core/src/blocksuite/presets/ai/chat-panel/chat-panel-input.ts
  packages/frontend/core/src/blocksuite/presets/ai/chat-panel/chat-panel-messages.ts
  packages/frontend/core/src/blocksuite/presets/ai/chat-panel/index.ts
  packages/frontend/core/src/blocksuite/presets/ai/entries/edgeless/actions-config.ts
  packages/frontend/core/src/blocksuite/presets/ai/entries/edgeless/index.ts
  packages/frontend/core/src/blocksuite/presets/ai/provider.ts
  packages/frontend/core/src/blocksuite/presets/ai/utils/extract.ts
  packages/frontend/core/src/blocksuite/presets/ai/utils/selection-utils.ts
  packages/frontend/core/src/blocksuite/presets/effects.ts
  packages/frontend/core/src/desktop/pages/workspace/detail-page/detail-page.tsx
  packages/frontend/core/src/modules/peek-view/view/doc-preview/doc-peek-view.tsx
  tests/affine-cloud-copilot/e2e/copilot.spec.ts
Labels: test, app:core

#9628 fix(core): dependency cycle
  packages/frontend/core/src/modules/db/index.ts
  packages/frontend/core/src/modules/db/services/db.ts
  packages/frontend/core/src/modules/db/utils.ts
  packages/frontend/core/src/modules/workspace/services/transform.ts
Labels: app:core

#9631 test(server): should await throwsAsync assert
  packages/backend/server/src/__tests__/team.e2e.ts
Labels: app:server, test

#9601 feat(electron): close inactive views when switching workspace
  packages/frontend/core/src/components/workspace-selector/index.tsx
Labels: app:core

#9639 refactor(editor): rename job to transformer
  blocksuite/affine/block-image/src/adapters/middleware.ts
  blocksuite/affine/shared/src/adapters/attachment.ts
  blocksuite/affine/shared/src/adapters/html/html.ts
  blocksuite/affine/shared/src/adapters/image.ts
  blocksuite/affine/shared/src/adapters/markdown/markdown.ts
  blocksuite/affine/shared/src/adapters/middlewares/copy.ts
  blocksuite/affine/shared/src/adapters/middlewares/paste.ts
  blocksuite/affine/shared/src/adapters/mix-text.ts
  blocksuite/affine/shared/src/adapters/notion-html/notion-html.ts
  blocksuite/affine/shared/src/adapters/notion-text.ts
  blocksuite/affine/shared/src/adapters/plain-text/plain-text.ts
  blocksuite/affine/shared/src/adapters/types/adapter.ts
  blocksuite/affine/shared/src/services/drag-handle-config.ts
  blocksuite/affine/widget-drag-handle/src/middleware/new-id-cross-doc.ts
  blocksuite/affine/widget-drag-handle/src/middleware/reorder-list.ts
  blocksuite/affine/widget-drag-handle/src/middleware/surface-ref-to-embed.ts
  blocksuite/affine/widget-drag-handle/src/watchers/drag-event-watcher.ts
  blocksuite/blocks/src/__tests__/adapters/html.unit.spec.ts
  blocksuite/blocks/src/__tests__/adapters/markdown.unit.spec.ts
  blocksuite/blocks/src/__tests__/adapters/plain-text.unit.spec.ts
  blocksuite/blocks/src/__tests__/utils/create-job.ts
  blocksuite/blocks/src/_common/transformers/html.ts
  blocksuite/blocks/src/_common/transformers/markdown.ts
  blocksuite/blocks/src/_common/transformers/middlewares.ts
  blocksuite/blocks/src/_common/transformers/notion-html.ts
  blocksuite/blocks/src/_common/transformers/zip.ts
  blocksuite/blocks/src/root-block/edgeless/clipboard/clipboard.ts
  blocksuite/blocks/src/root-block/edgeless/services/template.ts
  blocksuite/blocks/src/root-block/edgeless/utils/clone-utils.ts
  blocksuite/framework/block-std/src/clipboard/index.ts
  blocksuite/framework/block-std/src/scope/block-std-scope.ts
  blocksuite/framework/store/src/adapter/base.ts
  blocksuite/framework/store/src/transformer/assets.ts
  blocksuite/framework/store/src/transformer/base.ts
  blocksuite/framework/store/src/transformer/index.ts
  blocksuite/framework/store/src/transformer/json.ts
  blocksuite/framework/store/src/transformer/middleware.ts
  blocksuite/framework/store/src/transformer/slice.ts
  blocksuite/framework/store/src/transformer/transformer.ts
  blocksuite/framework/store/src/transformer/type.ts
  blocksuite/playground/apps/_common/components/adapters-panel.ts
  blocksuite/playground/apps/_common/components/starter-debug-menu.ts
  blocksuite/playground/apps/env.d.ts
  blocksuite/playground/apps/starter/utils/collection.ts
  blocksuite/presets/src/__tests__/utils/misc.ts
  blocksuite/presets/src/__tests__/utils/setup.ts
  blocksuite/tests-legacy/utils/declare-test-window.ts
  packages/frontend/apps/ios/src/app.tsx
  packages/frontend/core/src/blocksuite/presets/_common/components/text-renderer.ts
  packages/frontend/core/src/blocksuite/presets/_common/utils/markdown-utils.ts
  packages/frontend/core/src/blocksuite/presets/ai/mini-mindmap/mindmap-preview.ts
  packages/frontend/core/src/blocksuite/presets/ai/utils/editor-actions.ts
  packages/frontend/core/src/components/blocksuite/block-suite-editor/bi-directional-link-panel.tsx
  packages/frontend/core/src/components/hooks/affine/use-export-page.ts
  packages/frontend/core/src/desktop/dialogs/setting/general-setting/editor/edgeless/docs/index.ts
  packages/frontend/core/src/modules/docs-search/worker/in-worker.ts
Labels: test, app:core

#9632 feat(editor): support text highlight html adapter
  blocksuite/affine/block-embed/src/common/adapters/utils.ts
  blocksuite/affine/block-embed/src/embed-linked-doc-block/adapters/html.ts
  blocksuite/affine/block-embed/src/embed-linked-doc-block/adapters/markdown.ts
  blocksuite/affine/block-embed/src/embed-linked-doc-block/adapters/plain-text.ts
  blocksuite/affine/block-embed/src/index.ts
  blocksuite/affine/components/package.json
  blocksuite/affine/components/src/rich-text/all-extensions.ts
  blocksuite/affine/components/src/rich-text/inline/adapters/extensions.ts
  blocksuite/affine/components/src/rich-text/inline/adapters/html/html-inline.ts
  blocksuite/affine/components/src/rich-text/inline/adapters/html/inline-delta.ts
  blocksuite/affine/components/src/rich-text/inline/adapters/markdown/inline-delta.ts
  blocksuite/affine/components/src/rich-text/inline/adapters/markdown/markdown-inline.ts
  blocksuite/affine/components/src/rich-text/inline/adapters/notion-html/html-inline.ts
  blocksuite/affine/components/src/rich-text/inline/adapters/plain-text/inline-delta.ts
  blocksuite/affine/components/src/rich-text/inline/index.ts
  blocksuite/affine/shared/src/adapters/html/delta-converter.ts
  blocksuite/affine/shared/src/adapters/html/html.ts
  blocksuite/affine/shared/src/adapters/types/adapter.ts
  blocksuite/affine/shared/src/adapters/utils/text.ts
  blocksuite/blocks/package.json
  blocksuite/blocks/src/__tests__/adapters/html.unit.spec.ts
  blocksuite/blocks/src/__tests__/adapters/markdown.unit.spec.ts
  blocksuite/blocks/src/__tests__/adapters/notion-html.unit.spec.ts
  blocksuite/blocks/src/__tests__/adapters/plain-text.unit.spec.ts
  blocksuite/blocks/src/_common/adapters/extension.ts
  blocksuite/blocks/src/_common/adapters/html/index.ts
  blocksuite/blocks/src/_common/adapters/index.ts
  blocksuite/blocks/src/_common/adapters/markdown/index.ts
  blocksuite/blocks/src/_common/adapters/notion-html/index.ts
  blocksuite/blocks/src/_common/transformers/html.ts
  blocksuite/blocks/src/_common/transformers/markdown.ts
  blocksuite/blocks/src/_common/transformers/notion-html.ts
  blocksuite/blocks/src/index.ts
  packages/frontend/apps/ios/src/app.tsx
  packages/frontend/core/src/blocksuite/presets/_common/components/text-renderer.ts
  packages/frontend/core/src/blocksuite/presets/ai/mini-mindmap/__tests__/mindmap-preview.unit.spec.ts
  packages/frontend/core/src/modules/docs-search/worker/in-worker.ts
  yarn.lock
Labels: test, app:core

#9627 fix(tools): always use posix for path resolving
  tools/cli/src/webpack/html-plugin.ts
  tools/cli/src/webpack/index.ts
  tools/utils/src/path.ts
Labels: mod:dev

#9662 style: use typescript resolver for eslint import plugin
  blocksuite/affine/block-bookmark/package.json
  blocksuite/affine/block-bookmark/tsconfig.json
  blocksuite/affine/block-database/package.json
  blocksuite/affine/block-embed/package.json
  blocksuite/affine/block-list/package.json
  blocksuite/affine/block-surface/package.json
  blocksuite/affine/model/package.json
  blocksuite/affine/shared/package.json
  blocksuite/affine/widget-frame-title/package.json
  blocksuite/affine/widget-frame-title/tsconfig.json
  blocksuite/affine/widget-remote-selection/package.json
  blocksuite/affine/widget-remote-selection/tsconfig.json
  blocksuite/blocks/package.json
  blocksuite/framework/block-std/package.json
  blocksuite/framework/global/package.json
  blocksuite/framework/inline/package.json
  blocksuite/framework/store/package.json
  blocksuite/framework/sync/package.json
  blocksuite/playground/apps/_common/components/attachment-viewer-panel.ts
  blocksuite/playground/package.json
  blocksuite/playground/tsconfig.json
  eslint.config.mjs
  package.json
  packages/frontend/apps/android/package.json
  packages/frontend/apps/android/tsconfig.json
  packages/frontend/apps/electron-renderer/package.json
  packages/frontend/apps/electron-renderer/tsconfig.json
  packages/frontend/apps/ios/package.json
  packages/frontend/apps/ios/tsconfig.json
  packages/frontend/apps/mobile/package.json
  packages/frontend/apps/mobile/tsconfig.json
  packages/frontend/apps/web/package.json
  packages/frontend/apps/web/tsconfig.json
  packages/frontend/component/package.json
  packages/frontend/core/package.json
  packages/frontend/core/tsconfig.json
  tools/utils/src/workspace.gen.ts
  yarn.lock
Labels: mod:component, app:core

#9633 chore(editor): update default colors of shape
  blocksuite/affine/model/src/themes/default.ts
  blocksuite/affine/model/src/themes/index.ts
  blocksuite/affine/model/src/themes/types.ts
  blocksuite/affine/model/src/themes/utils.ts
  blocksuite/blocks/src/root-block/edgeless/components/panel/color-panel.ts
  packages/frontend/core/src/desktop/dialogs/setting/general-setting/editor/edgeless/docs/shape.json
  packages/frontend/core/src/desktop/dialogs/setting/general-setting/editor/edgeless/shape.tsx
Labels: app:core

#9538 feat(core): new template doc property
  packages/frontend/core/src/components/blocksuite/block-suite-editor/lit-adaper.tsx
  packages/frontend/core/src/components/blocksuite/block-suite-editor/starter-bar.css.ts
  packages/frontend/core/src/components/blocksuite/block-suite-editor/starter-bar.tsx
  packages/frontend/core/src/components/doc-properties/table.tsx
  packages/frontend/core/src/components/doc-properties/types/constant.tsx
  packages/frontend/core/src/components/doc-properties/types/template.css.ts
  packages/frontend/core/src/components/doc-properties/types/template.tsx
  packages/frontend/core/src/modules/db/schema/schema.ts
  packages/frontend/core/src/modules/doc/constants.ts
  packages/frontend/core/src/modules/doc/entities/doc.ts
  packages/frontend/core/src/modules/doc/entities/record.ts
  packages/frontend/core/src/modules/doc/services/docs.ts
  packages/frontend/core/src/modules/doc/stores/docs.ts
  packages/frontend/core/src/modules/feature-flag/constant.ts
  packages/frontend/core/src/modules/index.ts
  packages/frontend/core/src/modules/template-doc/entities/list.ts
  packages/frontend/core/src/modules/template-doc/entities/setting.ts
  packages/frontend/core/src/modules/template-doc/index.ts
  packages/frontend/core/src/modules/template-doc/services/template-doc.ts
  packages/frontend/core/src/modules/template-doc/store/list.ts
  packages/frontend/core/src/modules/template-doc/view/styles.css.ts
  packages/frontend/core/src/modules/template-doc/view/template-list-menu.tsx
  packages/frontend/i18n/src/resources/en.json
  tests/affine-local/e2e/page-properties.spec.ts
  tests/affine-local/e2e/template.spec.ts
  tests/kit/src/utils/setting.ts
Labels: mod:i18n, test, app:core

#9566 feat(core): template-doc settings for user-worksapce scope
  packages/frontend/core/src/desktop/dialogs/setting/workspace-setting/template.css.ts
  packages/frontend/core/src/desktop/dialogs/setting/workspace-setting/template.tsx
  packages/frontend/core/src/modules/db/index.ts
  packages/frontend/core/src/modules/db/schema/schema.ts
  packages/frontend/core/src/modules/db/services/db.ts
  packages/frontend/core/src/modules/favorite/index.ts
  packages/frontend/core/src/modules/favorite/stores/favorite.ts
  packages/frontend/core/src/modules/template-doc/entities/setting.ts
  packages/frontend/core/src/modules/template-doc/index.ts
  packages/frontend/core/src/modules/template-doc/store/setting.ts
  packages/frontend/core/src/modules/template-doc/type.ts
Labels: app:core

#9658 feat(core): template doc setting ui
  packages/frontend/core/src/components/blocksuite/block-suite-editor/starter-bar.tsx
  packages/frontend/core/src/desktop/dialogs/setting/general-setting/editor/general.tsx
  packages/frontend/core/src/desktop/dialogs/setting/workspace-setting/new-workspace-setting-detail/index.tsx
  packages/frontend/core/src/desktop/dialogs/setting/workspace-setting/new-workspace-setting-detail/template.css.ts
  packages/frontend/core/src/desktop/dialogs/setting/workspace-setting/new-workspace-setting-detail/template.tsx
  packages/frontend/core/src/desktop/dialogs/setting/workspace-setting/template.tsx
  packages/frontend/core/src/modules/app-sidebar/views/add-page-button/index.css.ts
  packages/frontend/core/src/modules/app-sidebar/views/add-page-button/index.tsx
  packages/frontend/core/src/modules/editor-setting/schema.ts
  packages/frontend/core/src/modules/editor-setting/services/editor-setting.ts
  packages/frontend/core/src/modules/journal/index.ts
  packages/frontend/core/src/modules/journal/services/journal.ts
  packages/frontend/core/src/modules/template-doc/entities/setting.ts
  packages/frontend/core/src/modules/template-doc/store/setting.ts
  packages/frontend/core/src/modules/template-doc/type.ts
  packages/frontend/core/src/modules/template-doc/view/styles.css.ts
  packages/frontend/core/src/modules/template-doc/view/template-list-menu.tsx
  packages/frontend/i18n/src/resources/en.json
Labels: mod:i18n, app:core

#9655 feat(server): verificationToken model
  packages/backend/server/src/__tests__/models/verification-token.spec.ts
  packages/backend/server/src/models/index.ts
  packages/backend/server/src/models/verification-token.ts
Labels: app:server, test

#9657 refactor(server): use verificationToken model instead of tokenService
  packages/backend/server/src/__tests__/auth/token.spec.ts
  packages/backend/server/src/core/auth/controller.ts
  packages/backend/server/src/core/auth/index.ts
  packages/backend/server/src/core/auth/resolver.ts
  packages/backend/server/src/core/auth/token.ts
  packages/backend/server/src/plugins/captcha/service.ts
Labels: app:server, test

#9660 refactor(server): use session model in auth service
  packages/backend/server/src/__tests__/auth/guard.spec.ts
  packages/backend/server/src/__tests__/auth/job.spec.ts
  packages/backend/server/src/__tests__/auth/service.spec.ts
  packages/backend/server/src/core/auth/index.ts
  packages/backend/server/src/core/auth/job.ts
  packages/backend/server/src/core/auth/service.ts
  packages/backend/server/src/core/auth/session.ts
  packages/backend/server/src/models/index.ts
  packages/backend/server/src/models/user.ts
Labels: app:server, test

#9688 fix(core): ai send button not work
  packages/frontend/core/src/blocksuite/presets/ai/chat-panel/chat-panel-input.ts
  packages/frontend/core/src/blocksuite/presets/ai/provider.ts
Labels: app:core

#9677 test: playwright cloud import prisma
  tests/kit/src/utils/cloud.ts
Labels: test

#9678 fix(tools): make cli available even conficts exist
  tools/cli/src/init.ts
  tools/utils/src/distribution.ts
  tools/utils/src/package.ts
  tools/utils/src/workspace.ts
  tools/utils/src/yarn.ts
Labels: mod:dev

#9586 fix(core): workspace selector on the upgrade to team page overflows
  packages/frontend/core/src/desktop/pages/upgrade-to-team/index.tsx
Labels: app:core

#9685 fix(core): add ai send button test
  tests/affine-cloud-copilot/e2e/copilot.spec.ts
Labels: test

#9691 refactor(editor): enable the noUncheckedIndexedAccess rule for the block-database package
  blocksuite/affine/block-database/src/adapters/html.ts
  blocksuite/affine/block-database/src/adapters/markdown.ts
  blocksuite/affine/block-database/src/adapters/notion-html.ts
  blocksuite/affine/block-database/src/adapters/plain-text.ts
  blocksuite/affine/block-database/src/adapters/utils.ts
  blocksuite/affine/block-database/src/commands.ts
  blocksuite/affine/block-database/src/data-source.ts
  blocksuite/affine/block-database/src/properties/converts.ts
  blocksuite/affine/block-database/src/properties/link/cell-renderer.ts
  blocksuite/affine/block-database/src/properties/link/define.ts
  blocksuite/affine/block-database/src/properties/model.ts
  blocksuite/affine/block-database/src/properties/rich-text/cell-renderer.ts
  blocksuite/affine/block-database/src/properties/rich-text/define.ts
  blocksuite/affine/block-database/src/properties/title/cell-renderer.ts
  blocksuite/affine/block-database/src/properties/title/define.ts
  blocksuite/affine/block-database/src/utils/block-utils.ts
  blocksuite/affine/block-database/tsconfig.json
  blocksuite/affine/data-view/src/core/property/property-config.ts
  blocksuite/affine/data-view/src/core/property/types.ts
  blocksuite/affine/data-view/src/core/view-manager/single-view.ts
  blocksuite/affine/data-view/src/property-presets/date/define.ts
  blocksuite/blocks/src/__tests__/adapters/html.unit.spec.ts
  blocksuite/blocks/src/__tests__/adapters/markdown.unit.spec.ts
  blocksuite/blocks/src/__tests__/adapters/plain-text.unit.spec.ts
Labels: test

#9675 feat(core): template doc list empty ui
  packages/frontend/core/src/modules/template-doc/view/styles.css.ts
  packages/frontend/core/src/modules/template-doc/view/template-list-menu.tsx
  packages/frontend/i18n/src/resources/en.json
Labels: mod:i18n, app:core

#9676 feat(core): sidebar template doc entrance
  packages/frontend/core/src/components/root-app-sidebar/index.tsx
  packages/frontend/core/src/components/root-app-sidebar/template-doc-entrance.tsx
  packages/frontend/core/src/modules/doc/services/docs.ts
  packages/frontend/i18n/src/resources/en.json
Labels: mod:i18n, app:core

#9704 fix(core): dependency cycle
  packages/frontend/core/src/components/blocksuite/block-suite-editor/starter-bar.tsx
  packages/frontend/core/src/components/root-app-sidebar/template-doc-entrance.tsx
  packages/frontend/core/src/desktop/dialogs/setting/workspace-setting/new-workspace-setting-detail/template.tsx
  packages/frontend/core/src/modules/app-sidebar/views/add-page-button/index.tsx
  packages/frontend/core/src/modules/db/services/db.ts
  packages/frontend/core/src/modules/template-doc/index.ts
Labels: app:core

#9705 feat(core): remove workspace selectors in settings
  packages/frontend/apps/electron/src/helper/index.ts
  packages/frontend/core/src/commands/affine-help.tsx
  packages/frontend/core/src/components/affine/share-page-modal/share-menu/share-page.tsx
  packages/frontend/core/src/components/providers/current-workspace-scope.tsx
  packages/frontend/core/src/components/root-app-sidebar/index.tsx
  packages/frontend/core/src/components/workspace-selector/index.tsx
  packages/frontend/core/src/components/workspace-selector/user-with-workspace-list/index.tsx
  packages/frontend/core/src/components/workspace-selector/user-with-workspace-list/workspace-list/index.tsx
  packages/frontend/core/src/desktop/dialogs/setting/general-setting/index.tsx
  packages/frontend/core/src/desktop/dialogs/setting/index.tsx
  packages/frontend/core/src/desktop/dialogs/setting/setting-sidebar/index.tsx
  packages/frontend/core/src/desktop/dialogs/setting/setting-sidebar/style.css.ts
  packages/frontend/core/src/desktop/dialogs/setting/types.ts
  packages/frontend/core/src/desktop/dialogs/setting/workspace-setting/billing/index.tsx
  packages/frontend/core/src/desktop/dialogs/setting/workspace-setting/index.tsx
  packages/frontend/core/src/desktop/dialogs/setting/workspace-setting/new-workspace-setting-detail/export.tsx
  packages/frontend/core/src/desktop/dialogs/setting/workspace-setting/new-workspace-setting-detail/index.tsx
  packages/frontend/core/src/desktop/dialogs/setting/workspace-setting/new-workspace-setting-detail/types.ts
  packages/frontend/core/src/desktop/dialogs/setting/workspace-setting/properties/index.tsx
  packages/frontend/core/src/modules/app-sidebar/views/index.tsx
  packages/frontend/core/src/modules/cloud/index.ts
  packages/frontend/core/src/modules/db/index.ts
  packages/frontend/core/src/modules/dialogs/constant.ts
  packages/frontend/core/src/modules/doc/index.ts
  tests/affine-cloud/e2e/workspace.spec.ts
  tests/affine-desktop/e2e/basic.spec.ts
  tests/affine-desktop/e2e/workspace.spec.ts
  tests/affine-local/e2e/local-first-avatar.spec.ts
  tests/affine-local/e2e/local-first-delete-workspace.spec.ts
  tests/affine-local/e2e/settings.spec.ts
  tests/kit/src/utils/cloud.ts
  tests/kit/src/utils/properties.ts
  tests/kit/src/utils/setting.ts
Labels: app:electron, test, app:core

#9708 fix(editor): text highlighting
  blocksuite/blocks/src/root-block/widgets/format-bar/components/highlight/highlight-button.ts
  tests/affine-local/e2e/blocksuite/toolbar.spec.ts
Labels: test

#9680 feat(core): sidebar journal panel template onboarding and setting
  packages/frontend/core/src/desktop/pages/workspace/detail-page/tabs/journal/assets.ts
  packages/frontend/core/src/desktop/pages/workspace/detail-page/tabs/journal/index.tsx
  packages/frontend/core/src/desktop/pages/workspace/detail-page/tabs/journal/journal.css.ts
  packages/frontend/core/src/desktop/pages/workspace/detail-page/tabs/journal/template-onboarding.css.ts
  packages/frontend/core/src/desktop/pages/workspace/detail-page/tabs/journal/template-onboarding.tsx
  packages/frontend/core/src/desktop/pages/workspace/detail-page/tabs/journal/template-setting.css.ts
  packages/frontend/core/src/desktop/pages/workspace/detail-page/tabs/journal/template-setting.tsx
  packages/frontend/i18n/src/resources/en.json
Labels: mod:i18n, app:core

#9699 feat(core): start with edgeless for empty page
  packages/frontend/core/src/components/blocksuite/block-suite-editor/starter-bar.css.ts
  packages/frontend/core/src/components/blocksuite/block-suite-editor/starter-bar.tsx
Labels: app:core

#9707 feat(editor): edgeless page block toolbar
  blocksuite/affine/block-note/src/config.ts
  blocksuite/affine/block-note/src/effects.ts
  blocksuite/affine/block-note/src/index.ts
  blocksuite/affine/block-note/src/note-edgeless-block.ts
  blocksuite/affine/shared/src/services/feature-flag-service.ts
  blocksuite/blocks/src/root-block/widgets/element-toolbar/change-note-button.ts
  blocksuite/blocks/src/root-block/widgets/index.ts
  packages/frontend/core/src/components/blocksuite/block-suite-editor/lit-adaper.tsx
  packages/frontend/core/src/components/blocksuite/block-suite-editor/specs/custom/spec-patchers.tsx
  packages/frontend/core/src/components/blocksuite/block-suite-editor/specs/custom/widgets/edgeless-note-header.css.ts
  packages/frontend/core/src/components/blocksuite/block-suite-editor/specs/custom/widgets/edgeless-note-header.tsx
  packages/frontend/core/src/modules/feature-flag/constant.ts
  packages/frontend/i18n/src/resources/en.json
  packages/frontend/track/src/events.ts
  tests/affine-local/e2e/blocksuite/edgeless/note.spec.ts
  tests/kit/package.json
  tests/kit/src/utils/editor.ts
  tests/kit/src/utils/image.ts
  tests/kit/tsconfig.json
  tools/utils/src/workspace.gen.ts
  yarn.lock
Labels: mod:i18n, test, app:core

#9711 chore(core): update tooltip of mode switcher
  packages/frontend/core/src/components/blocksuite/block-suite-mode-switch/index.tsx
  packages/frontend/core/src/components/blocksuite/block-suite-mode-switch/switch-items.tsx
  packages/frontend/i18n/src/resources/en.json
Labels: mod:i18n, app:core

#9702 test(core): add basic tests for template doc setting
  packages/frontend/component/src/ui/date-picker/week-date-picker.tsx
  packages/frontend/core/src/components/root-app-sidebar/template-doc-entrance.tsx
  packages/frontend/core/src/desktop/dialogs/setting/general-setting/editor/general.tsx
  packages/frontend/core/src/desktop/dialogs/setting/workspace-setting/new-workspace-setting-detail/template.tsx
  packages/frontend/core/src/modules/app-sidebar/views/add-page-button/index.tsx
  packages/frontend/core/src/modules/template-doc/view/template-list-menu.tsx
  packages/frontend/i18n/src/resources/en.json
  tests/affine-local/e2e/template.spec.ts
Labels: mod:i18n, mod:component, test, app:core

#9725 chore(debug): add vscode debug launch setting
  .vscode/launch.template.json
  tools/cli/src/webpack/index.ts
Labels: mod:dev

#9724 feat(electron): more desktop app related shortcuts
  packages/frontend/apps/electron/src/main/application-menu/create.ts
  packages/frontend/apps/electron/src/main/ui/events.ts
  packages/frontend/apps/electron/src/main/ui/handlers.ts
  packages/frontend/apps/electron/src/main/ui/subject.ts
  packages/frontend/core/src/modules/workbench/index.ts
  packages/frontend/core/src/modules/workbench/services/desktop-state-synchronizer.ts
Labels: app:electron, app:core

#9729 fix(editor): reactive heading icon
  blocksuite/affine/block-paragraph/src/heading-icon.ts
  blocksuite/affine/block-paragraph/src/paragraph-block.ts
  tests/affine-local/e2e/blocksuite/paragraph.spec.ts
  tests/affine-local/e2e/blocksuite/toolbar.spec.ts
  tests/kit/src/utils/editor.ts
Labels: test

#9670 fix(core): downward arrow is visible when message panel is not scrollable
  packages/frontend/core/src/blocksuite/presets/ai/chat-panel/chat-panel-messages.ts
  packages/frontend/core/src/blocksuite/presets/ai/chat-panel/index.ts
Labels: app:core

#9735 fix(server): disable checksum check for r2 storage when using aws-s3 sdk
  packages/backend/server/scripts/self-host-predeploy.js
  packages/backend/server/src/config/affine.self.ts
  packages/backend/server/src/config/affine.ts
  tools/cli/src/webpack/s3-plugin.ts
Labels: mod:dev, app:server

#9595 refactor: rewrite blocksuite dnd
  blocksuite/affine/block-attachment/src/attachment-block.ts
  blocksuite/affine/components/src/drag-indicator/file-drop-manager.ts
  blocksuite/affine/shared/src/utils/dom/point-to-block.ts
  blocksuite/affine/shared/src/utils/event.ts
  blocksuite/affine/widget-drag-handle/src/components/drop-indicator.ts
  blocksuite/affine/widget-drag-handle/src/drag-handle.ts
  blocksuite/affine/widget-drag-handle/src/helpers/preview-helper.ts
  blocksuite/affine/widget-drag-handle/src/utils.ts
  blocksuite/affine/widget-drag-handle/src/watchers/drag-event-watcher.ts
  blocksuite/affine/widget-drag-handle/src/watchers/edgeless-watcher.ts
  blocksuite/affine/widget-drag-handle/src/watchers/keyboard-event-watcher.ts
  blocksuite/affine/widget-drag-handle/src/watchers/page-watcher.ts
  blocksuite/framework/block-std/package.json
  blocksuite/framework/block-std/src/event/control/pointer.ts
  blocksuite/framework/block-std/src/extension/dnd/index.ts
  blocksuite/framework/block-std/src/extension/dnd/types.ts
  blocksuite/framework/block-std/src/extension/index.ts
  blocksuite/framework/block-std/src/scope/block-std-scope.ts
  blocksuite/framework/block-std/src/view/view-store.ts
  blocksuite/framework/store/src/schema/schema.ts
  blocksuite/tests-legacy/custom-loader.mjs
  blocksuite/tests-legacy/drag.spec.ts
  blocksuite/tests-legacy/package.json
  blocksuite/tests-legacy/snapshots/drag.spec.ts/move-to-the-last-block-of-each-level-in-multi-level-nesting-drag-4-3.json
  blocksuite/tests-legacy/utils/asserts.ts
  package.json
  packages/frontend/component/package.json
  tests/affine-local/e2e/drag-page.spec.ts
  tests/kit/src/utils/editor.ts
  yarn.lock
Labels: mod:component, test, app:core

#9717 feat(core): add new bs dnd adapter
  blocksuite/affine/widget-drag-handle/src/index.ts
  blocksuite/blocks/src/index.ts
  packages/frontend/component/src/ui/dnd/monitor.tsx
  packages/frontend/core/src/mobile/components/explorer/tree/node.tsx
  packages/frontend/core/src/modules/dnd/services/index.ts
  packages/frontend/core/src/modules/explorer/views/tree/node.tsx
  packages/frontend/core/src/modules/workbench/view/split-view/split-view.tsx
  tests/affine-local/e2e/drag-page.spec.ts
Labels: mod:component, test, app:core

#9736 refactor(editor): enable toc dragging in page mode
  blocksuite/presets/src/fragments/outline/body/outline-panel-body.ts
  blocksuite/presets/src/fragments/outline/card/outline-card.ts
Labels: merge

#9734 feat(server): add model base
  packages/backend/server/src/__tests__/models/feature.spec.ts
  packages/backend/server/src/__tests__/models/session.spec.ts
  packages/backend/server/src/__tests__/models/user.spec.ts
  packages/backend/server/src/__tests__/models/verification-token.spec.ts
  packages/backend/server/src/base/index.ts
  packages/backend/server/src/models/base.ts
  packages/backend/server/src/models/feature.ts
  packages/backend/server/src/models/index.ts
  packages/backend/server/src/models/provider.ts
  packages/backend/server/src/models/session.ts
  packages/backend/server/src/models/user.ts
  packages/backend/server/src/models/verification-token.ts
Labels: app:server, test

#9695 refactor(core): adjust merbers module apis
  packages/frontend/core/src/desktop/dialogs/setting/workspace-setting/new-workspace-setting-detail/members/cloud-members-panel.tsx
  packages/frontend/core/src/desktop/dialogs/setting/workspace-setting/new-workspace-setting-detail/members/member-list.tsx
  packages/frontend/core/src/desktop/dialogs/setting/workspace-setting/new-workspace-setting-detail/members/member-option.tsx
  packages/frontend/core/src/modules/permissions/entities/permission.ts
  packages/frontend/core/src/modules/permissions/index.ts
  packages/frontend/core/src/modules/permissions/services/members.ts
  packages/frontend/core/src/modules/permissions/stores/members.ts
  packages/frontend/core/src/modules/permissions/stores/permission.ts
Labels: app:core

#9714 feat(server): workspace model
  packages/backend/server/src/__tests__/models/workspace.spec.ts
  packages/backend/server/src/models/common/index.ts
  packages/backend/server/src/models/common/permission.ts
  packages/backend/server/src/models/index.ts
  packages/backend/server/src/models/workspace.ts
Labels: app:server, test

#9715 feat(server): page model
  packages/backend/server/src/__tests__/models/page.spec.ts
  packages/backend/server/src/models/common/index.ts
  packages/backend/server/src/models/common/page.ts
  packages/backend/server/src/models/index.ts
  packages/backend/server/src/models/page.ts
Labels: app:server, test

#9726 refactor(server): use workspace model on user model
  packages/backend/server/src/__tests__/models/user.spec.ts
  packages/backend/server/src/models/user.ts
Labels: app:server, test

#9710 feat(server): use user model
  packages/backend/server/src/__tests__/auth/controller.spec.ts
  packages/backend/server/src/__tests__/auth/service.spec.ts
  packages/backend/server/src/__tests__/oauth/controller.spec.ts
  packages/backend/server/src/__tests__/payment/service.spec.ts
  packages/backend/server/src/__tests__/utils/user.ts
  packages/backend/server/src/__tests__/utils/utils.ts
  packages/backend/server/src/__tests__/workspace-invite.e2e.ts
  packages/backend/server/src/app.module.ts
  packages/backend/server/src/core/auth/controller.ts
  packages/backend/server/src/core/auth/resolver.ts
  packages/backend/server/src/core/auth/service.ts
  packages/backend/server/src/core/features/management.ts
  packages/backend/server/src/core/selfhost/controller.ts
  packages/backend/server/src/core/user/event.ts
  packages/backend/server/src/core/user/index.ts
  packages/backend/server/src/core/user/resolver.ts
  packages/backend/server/src/core/user/service.ts
  packages/backend/server/src/core/workspaces/resolvers/service.ts
  packages/backend/server/src/core/workspaces/resolvers/team.ts
  packages/backend/server/src/core/workspaces/resolvers/workspace.ts
  packages/backend/server/src/models/index.ts
  packages/backend/server/src/models/user.ts
  packages/backend/server/src/plugins/oauth/controller.ts
  packages/backend/server/src/plugins/payment/service.ts
  tsconfig.json
Labels: app:server, test

#9748 fix(nbstore): userdata id converter
  packages/common/nbstore/src/utils/__tests__/id-converter.spec.ts
  packages/common/nbstore/src/utils/id-converter.ts
Labels: test

#9753 test: mobile e2e
  packages/common/infra/src/sync/indexer/impl/indexeddb/data-struct.ts
  packages/common/infra/src/sync/indexer/impl/indexeddb/inverted-index.ts
Labels: mod:infra, app:core

#9732 chore: bump theme
  blocksuite/affine/block-attachment/package.json
  blocksuite/affine/block-bookmark/package.json
  blocksuite/affine/block-code/package.json
  blocksuite/affine/block-data-view/package.json
  blocksuite/affine/block-database/package.json
  blocksuite/affine/block-divider/package.json
  blocksuite/affine/block-edgeless-text/package.json
  blocksuite/affine/block-embed/package.json
  blocksuite/affine/block-frame/package.json
  blocksuite/affine/block-image/package.json
  blocksuite/affine/block-latex/package.json
  blocksuite/affine/block-list/package.json
  blocksuite/affine/block-note/package.json
  blocksuite/affine/block-paragraph/package.json
  blocksuite/affine/block-surface-ref/package.json
  blocksuite/affine/block-surface/package.json
  blocksuite/affine/components/package.json
  blocksuite/affine/data-view/package.json
  blocksuite/affine/model/package.json
  blocksuite/affine/model/src/elements/mindmap/style.ts
  blocksuite/affine/shared/package.json
  blocksuite/affine/widget-drag-handle/package.json
  blocksuite/affine/widget-frame-title/package.json
  blocksuite/affine/widget-remote-selection/package.json
  blocksuite/affine/widget-scroll-anchoring/package.json
  blocksuite/blocks/package.json
  blocksuite/presets/package.json
  blocksuite/tests-legacy/edgeless/brush.spec.ts
  blocksuite/tests-legacy/package.json
  blocksuite/tests-legacy/snapshots/edgeless/edgeless-text.spec.ts/min-width-limit-for-embed-block-add-linked-doc.json
  blocksuite/tests-legacy/snapshots/edgeless/edgeless-text.spec.ts/min-width-limit-for-embed-block-drag.json
  blocksuite/tests-legacy/snapshots/edgeless/edgeless-text.spec.ts/min-width-limit-for-embed-block-init.json
  blocksuite/tests-legacy/snapshots/edgeless/edgeless-text.spec.ts/min-width-limit-for-embed-block-link-to-card-min-width.json
  blocksuite/tests-legacy/snapshots/edgeless/edgeless-text.spec.ts/min-width-limit-for-embed-block-link-to-card.json
  blocksuite/tests-legacy/snapshots/edgeless/edgeless-text.spec.ts/press-backspace-at-the-start-of-first-line-when-edgeless-text-exist-finial.json
  blocksuite/tests-legacy/snapshots/edgeless/edgeless-text.spec.ts/press-backspace-at-the-start-of-first-line-when-edgeless-text-exist-note-empty.json
  blocksuite/tests-legacy/snapshots/edgeless/edgeless-text.spec.ts/press-backspace-at-the-start-of-first-line-when-edgeless-text-exist-note-not-empty.json
  packages/frontend/apps/electron-renderer/package.json
  packages/frontend/component/package.json
  packages/frontend/core/package.json
  packages/frontend/core/src/desktop/dialogs/setting/general-setting/editor/edgeless/docs/mindmap.json
  packages/frontend/core/src/desktop/dialogs/setting/general-setting/editor/edgeless/docs/text.json
  yarn.lock
Labels: mod:component, app:core

#9765 fix(editor): close embed edit modal on editor unmount
  blocksuite/affine/block-bookmark/src/components/embed-card-modal/embed-card-edit-modal.ts
  tests/affine-local/e2e/blocksuite/edgeless/embed.spec.ts
Labels: test

#9763 refactor(server): enhance the Logger usage
  packages/backend/server/src/app.ts
  packages/backend/server/src/base/logger/service.ts
  packages/backend/server/src/base/mailer/mailer.ts
  packages/backend/server/src/core/doc/job.ts
  packages/backend/server/src/plugins/gcloud/logging/service.ts
Labels: app:server

#9761 feat(editor): add sidebar service
  blocksuite/affine/shared/src/services/index.ts
  blocksuite/affine/shared/src/services/sidebar-service.ts
  packages/frontend/core/src/components/blocksuite/block-suite-editor/lit-adaper.tsx
  packages/frontend/core/src/components/blocksuite/block-suite-editor/specs/custom/spec-patchers.tsx
Labels: app:core, merge

#9747 feat(core): support chat panel chips and suggest current doc for embedding
  packages/frontend/core/src/blocksuite/presets/ai/chat-panel/chat-config.ts
  packages/frontend/core/src/blocksuite/presets/ai/chat-panel/chat-context.ts
  packages/frontend/core/src/blocksuite/presets/ai/chat-panel/chat-panel-chips.ts
  packages/frontend/core/src/blocksuite/presets/ai/chat-panel/chat-panel-input.ts
  packages/frontend/core/src/blocksuite/presets/ai/chat-panel/components/chip.ts
  packages/frontend/core/src/blocksuite/presets/ai/chat-panel/components/doc-chip.ts
  packages/frontend/core/src/blocksuite/presets/ai/chat-panel/components/file-chip.ts
  packages/frontend/core/src/blocksuite/presets/ai/chat-panel/components/utils.ts
  packages/frontend/core/src/blocksuite/presets/ai/chat-panel/index.ts
  packages/frontend/core/src/blocksuite/presets/ai/utils/extract.ts
  packages/frontend/core/src/blocksuite/presets/ai/utils/selection-utils.ts
  packages/frontend/core/src/blocksuite/presets/effects.ts
  packages/frontend/core/src/desktop/pages/workspace/detail-page/tabs/chat.tsx
  tests/affine-cloud-copilot/e2e/copilot.spec.ts
Labels: test, app:core

#9755 fix(core): improve doc title and icon display
  blocksuite/affine/block-embed/src/embed-linked-doc-block/embed-linked-doc-block.ts
  blocksuite/affine/components/src/rich-text/inline/presets/nodes/reference-node/reference-node.ts
  packages/frontend/core/src/components/affine/reference-link/index.tsx
  packages/frontend/core/src/components/blocksuite/block-suite-editor/specs/custom/root-block.ts
  packages/frontend/core/src/desktop/pages/workspace/detail-page/tabs/journal/index.tsx
  packages/frontend/core/src/mobile/pages/workspace/detail/journal-conflict-block.tsx
  packages/frontend/core/src/mobile/pages/workspace/detail/menu/journal-conflicts.tsx
  packages/frontend/core/src/mobile/pages/workspace/detail/menu/journal-today-activity.tsx
  packages/frontend/core/src/modules/at-menu-config/services/index.ts
  packages/frontend/core/src/modules/doc-display-meta/services/doc-display-meta.ts
  packages/frontend/core/src/modules/quicksearch/impls/docs.ts
  tests/affine-local/e2e/links.spec.ts
  tests/kit/src/utils/page-logic.ts
Labels: test, app:core

#9756 feat(electron): move @blocksuite/affine to peer dependences for package speed on windows
  packages/common/env/package.json
  packages/common/env/tsconfig.json
  packages/frontend/apps/electron/package.json
  packages/frontend/apps/electron/test/db/ensure-db.spec.ts
  packages/frontend/apps/electron/test/db/workspace-db-adapter.spec.ts
  packages/frontend/apps/electron/test/workspace/handlers.spec.ts
  packages/frontend/apps/electron/tsconfig.json
  tools/utils/src/workspace.gen.ts
  yarn.lock
Labels: mod:env, app:electron, test

#9766 fix(core): open template doc on sidebar template entrance
  packages/frontend/core/src/components/root-app-sidebar/index.tsx
  packages/frontend/core/src/components/root-app-sidebar/template-doc-entrance.tsx
  packages/frontend/core/src/modules/template-doc/view/template-list-menu.tsx
  tests/affine-local/e2e/template.spec.ts
Labels: test, app:core

#9764 feat(core): add template mark on detail page header
  packages/frontend/core/src/desktop/pages/workspace/detail-page/detail-page-header.css.ts
  packages/frontend/core/src/desktop/pages/workspace/detail-page/detail-page-header.tsx
Labels: app:core

#9762 feat(editor): append note to page button
  blocksuite/affine/shared/src/services/notification-service.ts
  blocksuite/blocks/package.json
  blocksuite/blocks/src/root-block/widgets/element-toolbar/change-note-button.ts
  blocksuite/blocks/src/root-block/widgets/element-toolbar/styles.css.ts
  blocksuite/playground/package.json
  blocksuite/playground/vite.config.ts
  blocksuite/presets/package.json
  blocksuite/presets/src/__tests__/utils/setup.ts
  blocksuite/presets/vitest.config.ts
  packages/frontend/core/src/components/blocksuite/block-suite-editor/specs/custom/spec-patchers.tsx
  tests/affine-local/e2e/blocksuite/edgeless/note.spec.ts
  tests/kit/src/utils/keyboard.ts
  yarn.lock
Labels: test, app:core, merge

#9751 fix(core): move openinapp guard to workspace scope
  packages/frontend/apps/web/src/app.tsx
  packages/frontend/core/src/desktop/pages/open-app/index.tsx
  packages/frontend/core/src/desktop/pages/workspace/index.tsx
  packages/frontend/core/src/modules/open-in-app/views/open-in-app-page.tsx
Labels: app:core

#9775 feat(core): track template doc events
  packages/frontend/core/src/components/blocksuite/block-suite-editor/starter-bar.tsx
  packages/frontend/core/src/components/doc-properties/types/template.tsx
  packages/frontend/core/src/components/root-app-sidebar/template-doc-entrance.tsx
  packages/frontend/core/src/modules/app-sidebar/views/add-page-button/index.tsx
  packages/frontend/track/src/events.ts
Labels: app:core

#9271 feat(core): add copy link button to local share menu
  packages/frontend/core/src/components/affine/share-page-modal/share-menu/copy-link-button.tsx
  packages/frontend/core/src/components/affine/share-page-modal/share-menu/index.css.ts
  packages/frontend/core/src/components/affine/share-page-modal/share-menu/share-page.tsx
Labels: app:core

#9274 fix(core): center peek and history dialog does not display custom fonts
  packages/frontend/core/package.json
  packages/frontend/core/src/components/affine/page-history-modal/history-modal.tsx
  packages/frontend/core/src/components/blocksuite/block-suite-editor/custom-editor-wrapper.tsx
  packages/frontend/core/src/components/blocksuite/block-suite-editor/index.ts
  packages/frontend/core/src/components/page-detail-editor.tsx
  packages/frontend/core/src/modules/peek-view/view/doc-preview/doc-peek-view.tsx
  yarn.lock
Labels: app:core

#9674 chore(core): update fill color of shape
  packages/frontend/core/src/desktop/dialogs/setting/general-setting/editor/edgeless/docs/shape.json
Labels: app:core

#9754 refactor(editor): refactor linkPreviewer as an extension and remove bookmark service
  blocksuite/affine/block-bookmark/src/bookmark-block.ts
  blocksuite/affine/block-bookmark/src/bookmark-service.ts
  blocksuite/affine/block-bookmark/src/bookmark-spec.ts
  blocksuite/affine/block-bookmark/src/effects.ts
  blocksuite/affine/block-bookmark/src/index.ts
  blocksuite/affine/block-bookmark/src/utils.ts
  blocksuite/affine/block-embed/src/embed-github-block/embed-github-service.ts
  blocksuite/affine/block-embed/src/embed-github-block/utils.ts
  blocksuite/affine/block-embed/src/embed-loom-block/embed-loom-service.ts
  blocksuite/affine/block-embed/src/embed-youtube-block/embed-youtube-service.ts
  blocksuite/affine/block-embed/src/embed-youtube-block/utils.ts
  blocksuite/affine/block-embed/src/index.ts
  blocksuite/affine/shared/src/services/index.ts
  blocksuite/affine/shared/src/services/link-previewer-service.ts
  blocksuite/blocks/src/_specs/common.ts
  packages/frontend/core/src/components/blocksuite/block-suite-editor/blocksuite-editor.tsx
  packages/frontend/core/src/mobile/pages/workspace/detail/mobile-detail-page.tsx
Labels: app:core

#9783 fix(core): make journal template selector fixed at bottom in sidebar
  packages/frontend/core/src/desktop/pages/workspace/detail-page/tabs/journal/index.tsx
  packages/frontend/core/src/desktop/pages/workspace/detail-page/tabs/journal/journal.css.ts
Labels: app:core

#9785 fix: remove global, store and std in affine packages
  blocksuite/affine/all/package.json
  blocksuite/affine/all/src/store/test.ts
  packages/frontend/core/package.json
  packages/frontend/core/src/blocksuite/presets/ai/actions/edgeless-handler.ts
  packages/frontend/core/src/blocksuite/presets/ai/chat-panel/chat-config.ts
  packages/frontend/core/src/blocksuite/presets/ai/mini-mindmap/__tests__/mindmap-preview.unit.spec.ts
  packages/frontend/core/src/blocksuite/presets/ai/utils/extract.ts
  packages/frontend/core/src/blocksuite/presets/ai/utils/selection-utils.ts
  packages/frontend/core/src/blocksuite/presets/blocks/ai-chat-block/ai-chat-edgeless-block.ts
  packages/frontend/core/src/blocksuite/presets/blocks/ai-chat-block/components/ai-chat-messages.ts
  packages/frontend/core/src/components/blocksuite/block-suite-editor/specs/custom/root-block.ts
  packages/frontend/core/src/components/blocksuite/block-suite-editor/specs/custom/widgets/edgeless-note-header.tsx
  packages/frontend/core/src/components/page-list/__tests__/use-block-suite-page-preview.spec.ts
  packages/frontend/core/src/desktop/dialogs/setting/general-setting/editor/edgeless/snapshot.tsx
  packages/frontend/core/src/desktop/pages/workspace/share/share-page.tsx
  packages/frontend/core/src/modules/at-menu-config/services/index.ts
  packages/frontend/core/src/modules/docs-search/services/docs-search.ts
  packages/frontend/templates/README.md
  yarn.lock
Labels: docs, test, app:core

#9789 refactor(editor): do not create a tag column by default anymore
  blocksuite/affine/block-database/src/data-source.ts
  blocksuite/tests-legacy/slash-menu.spec.ts
  tests/affine-local/e2e/blocksuite/database/clipboard.spec.ts
  tests/affine-local/e2e/blocksuite/database/utils.ts
  tests/affine-local/e2e/page-properties.spec.ts
Labels: test

#9792 fix: remove bs shared and components in affine
  blocksuite/blocks/src/index.ts
  packages/frontend/apps/ios/package.json
  packages/frontend/apps/ios/src/bs-menu-config.tsx
  packages/frontend/apps/ios/tsconfig.json
  packages/frontend/core/package.json
  packages/frontend/core/src/blocksuite/presets/ai/chat-panel/chat-panel-input.ts
  packages/frontend/core/src/blocksuite/presets/ai/chat-panel/components/file-chip.ts
  packages/frontend/core/src/blocksuite/presets/ai/utils/image.ts
  packages/frontend/core/src/components/blocksuite/block-suite-editor/blocksuite-editor-container.tsx
  packages/frontend/core/src/components/blocksuite/block-suite-editor/specs/custom/database-block.ts
  packages/frontend/core/src/components/blocksuite/block-suite-editor/specs/custom/root-block.ts
  packages/frontend/core/src/components/blocksuite/block-suite-editor/specs/custom/widgets/toolbar.ts
  packages/frontend/core/src/components/hooks/affine/use-reference-link-helper.ts
  packages/frontend/core/src/desktop/dialogs/setting/general-setting/editor/edgeless/snapshot.tsx
  packages/frontend/core/src/desktop/pages/workspace/detail-page/tabs/chat.tsx
  packages/frontend/core/src/modules/ai-button/services/network-search.ts
  packages/frontend/core/src/modules/at-menu-config/services/index.ts
  packages/frontend/core/src/modules/doc/services/docs.ts
  packages/frontend/core/src/modules/docs-search/worker/in-worker.ts
  packages/frontend/core/src/modules/editor-setting/entities/editor-setting.ts
  packages/frontend/core/src/modules/editor-setting/schema.ts
  packages/frontend/core/tsconfig.json
  tools/utils/src/workspace.gen.ts
  yarn.lock
Labels: app:core

#9758 feat(server): enable cls plugin to store request id
  packages/backend/server/package.json
  packages/backend/server/src/app.module.ts
  packages/backend/server/src/app.ts
  packages/backend/server/src/base/logger/service.ts
  packages/backend/server/src/middleware/request-id.ts
  packages/backend/server/src/plugins/gcloud/logging/service.ts
  yarn.lock
Labels: app:server

#9801 chore(web): bump theme
  blocksuite/affine/block-attachment/package.json
  blocksuite/affine/block-bookmark/package.json
  blocksuite/affine/block-code/package.json
  blocksuite/affine/block-data-view/package.json
  blocksuite/affine/block-database/package.json
  blocksuite/affine/block-divider/package.json
  blocksuite/affine/block-edgeless-text/package.json
  blocksuite/affine/block-embed/package.json
  blocksuite/affine/block-frame/package.json
  blocksuite/affine/block-image/package.json
  blocksuite/affine/block-latex/package.json
  blocksuite/affine/block-list/package.json
  blocksuite/affine/block-note/package.json
  blocksuite/affine/block-paragraph/package.json
  blocksuite/affine/block-surface-ref/package.json
  blocksuite/affine/block-surface/package.json
  blocksuite/affine/components/package.json
  blocksuite/affine/data-view/package.json
  blocksuite/affine/model/package.json
  blocksuite/affine/shared/package.json
  blocksuite/affine/widget-drag-handle/package.json
  blocksuite/affine/widget-frame-title/package.json
  blocksuite/affine/widget-remote-selection/package.json
  blocksuite/affine/widget-scroll-anchoring/package.json
  blocksuite/blocks/package.json
  blocksuite/presets/package.json
  blocksuite/tests-legacy/package.json
  packages/frontend/apps/electron-renderer/package.json
  packages/frontend/component/package.json
  packages/frontend/core/package.json
  yarn.lock
Labels: mod:component, app:core

#9790 feat(server): add requestId to all error response
  packages/backend/server/src/base/error/def.ts
  packages/backend/server/src/base/nestjs/exception.ts
Labels: app:server

#9806 fix(core): avoid multiple append right sidebar tab lit component
  packages/frontend/core/src/desktop/pages/workspace/detail-page/tabs/frame.tsx
  packages/frontend/core/src/desktop/pages/workspace/detail-page/tabs/outline.tsx
Labels: app:core

#9750 build: wrong keep classnames options
  tools/cli/src/webpack/index.ts
Labels: mod:dev

#9483 feat(server): supplement team email remind
  packages/backend/server/src/__tests__/team.e2e.ts
  packages/backend/server/src/__tests__/utils/workspace.ts
  packages/backend/server/src/base/event/def.ts
  packages/backend/server/src/base/mailer/mail.service.ts
  packages/backend/server/src/core/permission/service.ts
  packages/backend/server/src/core/workspaces/index.ts
  packages/backend/server/src/core/workspaces/resolvers/service.ts
  packages/backend/server/src/core/workspaces/resolvers/team.ts
  packages/backend/server/src/core/workspaces/resolvers/workspace.ts
  packages/backend/server/src/plugins/payment/cron.ts
  packages/backend/server/src/plugins/payment/index.ts
  packages/backend/server/src/plugins/payment/quota.ts
  packages/backend/server/src/plugins/payment/types.ts
Labels: app:server, test

#9787 chore(core): replace add icon of section in sidebar
  packages/frontend/core/src/modules/explorer/views/sections/collections/index.tsx
  packages/frontend/core/src/modules/explorer/views/sections/organize/index.tsx
  packages/frontend/core/src/modules/explorer/views/sections/tags/index.tsx
Labels: app:core

#9817 fix(native): possible deadlock when batching read/write
  Cargo.lock
  Cargo.toml
  packages/frontend/mobile-native/Cargo.toml
  packages/frontend/mobile-native/src/lib.rs
  packages/frontend/native/__tests__/pool.spec.mts
  packages/frontend/native/index.d.ts
  packages/frontend/native/nbstore/Cargo.toml
  packages/frontend/native/nbstore/src/lib.rs
  packages/frontend/native/nbstore/src/pool.rs
  packages/frontend/native/nbstore/src/storage.rs
  packages/frontend/native/package.json
Labels: test, rust, mod:native

#9807 refactor(editor): highlight selected cards of TOC based on signal
  blocksuite/affine/block-note/src/note-edgeless-block.ts
  blocksuite/presets/src/fragments/outline/body/outline-panel-body.ts
  blocksuite/presets/src/fragments/outline/card/outline-card.ts
  blocksuite/presets/src/fragments/outline/outline-panel.ts
  blocksuite/tests-legacy/fragments/outline/outline-panel.spec.ts
  packages/frontend/core/src/components/blocksuite/block-suite-editor/specs/custom/widgets/edgeless-note-header.tsx
  tests/affine-local/e2e/blocksuite/edgeless/note.spec.ts
  tests/affine-local/e2e/blocksuite/outline.spec.ts
  tests/kit/src/utils/sidebar.ts
Labels: test, app:core

#9818 fix(editor): y reactive deep watch
  blocksuite/affine/components/src/rich-text/inline/presets/nodes/latex-node/latex-node.ts
  blocksuite/framework/store/src/__tests__/block.unit.spec.ts
  blocksuite/framework/store/src/model/block/sync-controller.ts
  blocksuite/tests-legacy/edgeless/edgeless-text.spec.ts
Labels: test

#9820 test(editor): add tests for heading toggle
  tests/affine-local/e2e/attachment-preview.spec.ts
  tests/affine-local/e2e/blocksuite/paragraph.spec.ts
Labels: test, merge

#9829 fix(server): set reqeust-id on ClsModule setup
  packages/backend/server/src/__tests__/app/graphql.e2e.ts
  packages/backend/server/src/app.module.ts
  packages/backend/server/src/app.ts
  packages/backend/server/src/middleware/request-id.ts
Labels: app:server, test

#9814 chore(electron): increase retry times
  tests/affine-desktop/playwright.config.ts
Labels: test

#9784 chore(core): replace outlined template icon
  packages/frontend/core/src/components/doc-properties/types/constant.tsx
  packages/frontend/core/src/components/root-app-sidebar/template-doc-entrance.tsx
Labels: app:core

#9831 feat(core): support ai doc search panel
  blocksuite/blocks/src/root-block/widgets/index.ts
  blocksuite/blocks/src/root-block/widgets/linked-doc/config.ts
  packages/frontend/core/src/blocksuite/presets/ai/chat-panel/chat-config.ts
  packages/frontend/core/src/blocksuite/presets/ai/chat-panel/chat-context.ts
  packages/frontend/core/src/blocksuite/presets/ai/chat-panel/chat-panel-chips.ts
  packages/frontend/core/src/blocksuite/presets/ai/chat-panel/chat-panel-input.ts
  packages/frontend/core/src/blocksuite/presets/ai/chat-panel/components/add-popover.ts
  packages/frontend/core/src/blocksuite/presets/ai/chat-panel/components/chip.ts
  packages/frontend/core/src/blocksuite/presets/ai/chat-panel/components/doc-chip.ts
  packages/frontend/core/src/blocksuite/presets/ai/chat-panel/components/utils.ts
  packages/frontend/core/src/blocksuite/presets/ai/chat-panel/index.ts
  packages/frontend/core/src/blocksuite/presets/ai/utils/extract.ts
  packages/frontend/core/src/blocksuite/presets/effects.ts
  packages/frontend/core/src/desktop/pages/workspace/detail-page/tabs/chat.tsx
  packages/frontend/core/src/modules/at-menu-config/index.ts
  packages/frontend/core/src/modules/at-menu-config/services/index.ts
  packages/frontend/core/src/modules/doc-search-menu/index.ts
  packages/frontend/core/src/modules/doc-search-menu/services/index.ts
  packages/frontend/core/src/modules/index.ts
Labels: app:core

#9828 fix(electron): split view reorder shaking
  packages/frontend/core/src/modules/workbench/view/split-view/panel.tsx
  packages/frontend/core/src/modules/workbench/view/split-view/split-view.css.ts
Labels: app:core

#9836 feat(editor): add start-with-ai button for empty doc
  blocksuite/blocks/src/root-block/page/page-root-block.ts
  packages/frontend/core/src/blocksuite/presets/ai/actions/doc-handler.ts
  packages/frontend/core/src/components/blocksuite/block-suite-editor/starter-bar.tsx
  tests/affine-cloud-copilot/e2e/copilot.spec.ts
Labels: test, app:core

#9824 fix(core): set state isLoading to false after email changing is confirmed
  packages/frontend/core/src/desktop/pages/auth/confirm-change-email.tsx
Labels: app:core

#9528 feat(server): new email template
  .prettierignore
  packages/backend/server/package.json
  packages/backend/server/src/__tests__/__snapshots__/mailer.spec.ts.md
  packages/backend/server/src/__tests__/__snapshots__/mailer.spec.ts.snap
  packages/backend/server/src/__tests__/auth/controller.spec.ts
  packages/backend/server/src/__tests__/mailer.e2e.ts
  packages/backend/server/src/__tests__/mailer.spec.ts
  packages/backend/server/src/__tests__/team.e2e.ts
  packages/backend/server/src/__tests__/workspace-invite.e2e.ts
  packages/backend/server/src/base/event/def.ts
  packages/backend/server/src/base/mailer/mail.service.ts
  packages/backend/server/src/base/mailer/template.ts
  packages/backend/server/src/core/auth/service.ts
  packages/backend/server/src/core/workspaces/resolvers/service.ts
  packages/backend/server/src/core/workspaces/resolvers/team.ts
  packages/backend/server/src/core/workspaces/resolvers/workspace.ts
  packages/backend/server/src/mails/common.ts
  packages/backend/server/src/mails/components/common.ts
  packages/backend/server/src/mails/components/footer.tsx
  packages/backend/server/src/mails/components/index.ts
  packages/backend/server/src/mails/components/template.tsx
  packages/backend/server/src/mails/components/user.tsx
  packages/backend/server/src/mails/components/workspace.tsx
  packages/backend/server/src/mails/index.tsx
  packages/backend/server/src/mails/teams/become-admin.tsx
  packages/backend/server/src/mails/teams/become-collaborator.tsx
  packages/backend/server/src/mails/teams/delete-in-1m.tsx
  packages/backend/server/src/mails/teams/delete-in-24h.tsx
  packages/backend/server/src/mails/teams/deleted.tsx
  packages/backend/server/src/mails/teams/expire-soon.tsx
  packages/backend/server/src/mails/teams/expired.tsx
  packages/backend/server/src/mails/teams/index.ts
  packages/backend/server/src/mails/teams/workspace-upgraded.tsx
  packages/backend/server/src/mails/users/email-change-notification.tsx
  packages/backend/server/src/mails/users/email-change-verify.tsx
  packages/backend/server/src/mails/users/email-change.tsx
  packages/backend/server/src/mails/users/email-verify.tsx
  packages/backend/server/src/mails/users/index.ts
  packages/backend/server/src/mails/users/password-change.tsx
  packages/backend/server/src/mails/users/password-set.tsx
  packages/backend/server/src/mails/users/sign-in.tsx
  packages/backend/server/src/mails/users/sign-up.tsx
  packages/backend/server/src/mails/workspaces/index.ts
  packages/backend/server/src/mails/workspaces/invitation-accepted.tsx
  packages/backend/server/src/mails/workspaces/invitation.tsx
  packages/backend/server/src/mails/workspaces/member-leave.tsx
  packages/backend/server/src/mails/workspaces/member-removed.tsx
  packages/backend/server/src/mails/workspaces/ownership-received.tsx
  packages/backend/server/src/mails/workspaces/ownership-transferred.tsx
  packages/backend/server/src/mails/workspaces/review-approved.tsx
  packages/backend/server/src/mails/workspaces/review-declined.tsx
  packages/backend/server/src/mails/workspaces/review-request.tsx
  packages/backend/server/tsconfig.json
  yarn.lock
Labels: app:server, test

#9718 feat(core): reorg workspace settings
  packages/frontend/core/src/desktop/dialogs/setting/types.ts
  packages/frontend/core/src/desktop/dialogs/setting/workspace-setting/index.tsx
  packages/frontend/core/src/desktop/dialogs/setting/workspace-setting/members/cloud-members-panel.tsx
  packages/frontend/core/src/desktop/dialogs/setting/workspace-setting/members/confirm-assign-modal.tsx
  packages/frontend/core/src/desktop/dialogs/setting/workspace-setting/members/index.tsx
  packages/frontend/core/src/desktop/dialogs/setting/workspace-setting/members/member-list.tsx
  packages/frontend/core/src/desktop/dialogs/setting/workspace-setting/members/member-option.tsx
  packages/frontend/core/src/desktop/dialogs/setting/workspace-setting/members/styles.css.ts
  packages/frontend/core/src/desktop/dialogs/setting/workspace-setting/new-workspace-setting-detail/index.tsx
  packages/frontend/core/src/desktop/dialogs/setting/workspace-setting/new-workspace-setting-detail/types.ts
  packages/frontend/core/src/desktop/dialogs/setting/workspace-setting/preference/ai.tsx
  packages/frontend/core/src/desktop/dialogs/setting/workspace-setting/preference/delete-leave-workspace/delete/index.tsx
  packages/frontend/core/src/desktop/dialogs/setting/workspace-setting/preference/delete-leave-workspace/delete/style.css.ts
  packages/frontend/core/src/desktop/dialogs/setting/workspace-setting/preference/delete-leave-workspace/index.tsx
  packages/frontend/core/src/desktop/dialogs/setting/workspace-setting/preference/enable-cloud.tsx
  packages/frontend/core/src/desktop/dialogs/setting/workspace-setting/preference/index.tsx
  packages/frontend/core/src/desktop/dialogs/setting/workspace-setting/preference/labels.tsx
  packages/frontend/core/src/desktop/dialogs/setting/workspace-setting/preference/profile.tsx
  packages/frontend/core/src/desktop/dialogs/setting/workspace-setting/preference/sharing.tsx
  packages/frontend/core/src/desktop/dialogs/setting/workspace-setting/preference/style.css.ts
  packages/frontend/core/src/desktop/dialogs/setting/workspace-setting/preference/template.css.ts
  packages/frontend/core/src/desktop/dialogs/setting/workspace-setting/preference/template.tsx
  packages/frontend/core/src/desktop/dialogs/setting/workspace-setting/preference/types.ts
  packages/frontend/core/src/desktop/dialogs/setting/workspace-setting/storage/export.tsx
  packages/frontend/core/src/desktop/dialogs/setting/workspace-setting/storage/index.tsx
  packages/frontend/core/src/desktop/dialogs/setting/workspace-setting/storage/style.css.ts
  packages/frontend/core/src/desktop/dialogs/setting/workspace-setting/storage/workspace-quota.tsx
  packages/frontend/core/src/modules/dialogs/constant.ts
  packages/frontend/i18n/src/resources/en.json
  tests/affine-cloud/e2e/workspace.spec.ts
  tests/affine-desktop/e2e/workspace.spec.ts
Labels: mod:i18n, test, app:core

#9799 fix(infra): increase eventemitter listener count
  packages/common/nbstore/src/connection/connection.ts
  packages/frontend/core/src/modules/workspace-engine/impls/cloud.ts
Labels: app:core

#9837 chore: remove deprecated dependencies
  packages/backend/server/package.json
  yarn.lock
Labels: app:server

#9844 feat(editor): support footnote adapter
  blocksuite/affine/block-note/package.json
  blocksuite/affine/block-note/src/adapters/index.ts
  blocksuite/affine/block-note/src/adapters/markdown.ts
  blocksuite/affine/components/src/rich-text/inline/adapters/markdown/index.ts
  blocksuite/affine/components/src/rich-text/inline/adapters/markdown/inline-delta.ts
  blocksuite/affine/components/src/rich-text/inline/adapters/markdown/markdown-inline.ts
  blocksuite/affine/components/src/rich-text/inline/index.ts
  blocksuite/affine/shared/package.json
  blocksuite/affine/shared/src/adapters/index.ts
  blocksuite/affine/shared/src/adapters/markdown/gfm.ts
  blocksuite/affine/shared/src/adapters/markdown/type.ts
  blocksuite/blocks/src/__tests__/adapters/markdown.unit.spec.ts
  blocksuite/blocks/src/_common/adapters/markdown/block-matcher.ts
  blocksuite/blocks/src/_common/test-utils/test-utils.ts
  yarn.lock
Labels: test

#9798 feat(core): support one time password
  packages/backend/server/src/__tests__/__snapshots__/mailer.spec.ts.md
  packages/backend/server/src/__tests__/__snapshots__/mailer.spec.ts.snap
  packages/backend/server/src/__tests__/nestjs/error-handler.spec.ts
  packages/backend/server/src/base/error/def.ts
  packages/backend/server/src/base/helpers/crypto.ts
  packages/backend/server/src/core/auth/controller.ts
  packages/backend/server/src/core/auth/service.ts
  packages/backend/server/src/mails/components/template.tsx
  packages/backend/server/src/mails/users/sign-in.tsx
  packages/backend/server/src/mails/users/sign-up.tsx
  packages/frontend/component/src/components/auth-components/count-down-render.tsx
  packages/frontend/component/src/components/auth-components/index.tsx
  packages/frontend/core/src/components/sign-in/sign-in-with-email.tsx
  packages/frontend/core/src/components/sign-in/style.css.ts
  packages/frontend/i18n/src/i18n.gen.ts
  packages/frontend/i18n/src/resources/en.json
Labels: mod:i18n, mod:component, app:server, test, app:core

#9796 chore(core): update oauth icons
  packages/frontend/core/src/components/affine/auth/oauth.tsx
Labels: app:core

#9850 fix(server): react email deps
  packages/backend/server/package.json
  packages/backend/server/src/mails/index.tsx
  yarn.lock
Labels: app:server

#9838 fix(core): linkpreview and imageproxy url should be prefixed with server url
  packages/frontend/core/src/components/blocksuite/block-suite-editor/blocksuite-editor.tsx
  packages/frontend/core/src/mobile/pages/workspace/detail/mobile-detail-page.tsx
Labels: app:core

#8947 feat(server): support selfhost licenses
  .docker/dev/.env.example
  packages/backend/server/migrations/20250110034441_licenses/migration.sql
  packages/backend/server/migrations/migration_lock.toml
  packages/backend/server/schema.prisma
  packages/backend/server/src/__tests__/__snapshots__/mailer.spec.ts.md
  packages/backend/server/src/__tests__/__snapshots__/mailer.spec.ts.snap
  packages/backend/server/src/app.module.ts
  packages/backend/server/src/base/error/def.ts
  packages/backend/server/src/base/error/errors.gen.ts
  packages/backend/server/src/base/helpers/url.ts
  packages/backend/server/src/base/mailer/mail.service.ts
  packages/backend/server/src/core/quota/service.ts
  packages/backend/server/src/mails/index.tsx
  packages/backend/server/src/mails/teams/index.ts
  packages/backend/server/src/mails/teams/license.tsx
  packages/backend/server/src/plugins/license/index.ts
  packages/backend/server/src/plugins/license/resolver.ts
  packages/backend/server/src/plugins/license/service.ts
  packages/backend/server/src/plugins/payment/index.ts
  packages/backend/server/src/plugins/payment/license/controller.ts
  packages/backend/server/src/plugins/payment/manager/common.ts
  packages/backend/server/src/plugins/payment/manager/index.ts
  packages/backend/server/src/plugins/payment/manager/selfhost.ts
  packages/backend/server/src/plugins/payment/manager/user.ts
  packages/backend/server/src/plugins/payment/manager/workspace.ts
  packages/backend/server/src/plugins/payment/quota.ts
  packages/backend/server/src/plugins/payment/resolver.ts
  packages/backend/server/src/plugins/payment/service.ts
  packages/backend/server/src/plugins/payment/types.ts
  packages/backend/server/src/schema.gql
  packages/frontend/graphql/src/schema.ts
Labels: app:server, test, app:core

#9843 feat(server): user feature model
  packages/backend/server/src/__tests__/models/feature-user.spec.ts
  packages/backend/server/src/__tests__/models/feature-workspace.spec.ts
  packages/backend/server/src/models/common/feature.ts
  packages/backend/server/src/models/feature.ts
  packages/backend/server/src/models/index.ts
  packages/backend/server/src/models/user-feature.ts
  packages/backend/server/src/models/workspace-feature.ts
Labels: app:server, test

#9851 feat: use footnote for perplexity search results
  packages/backend/server/src/__tests__/copilot.spec.ts
  packages/backend/server/src/plugins/copilot/providers/perplexity.ts
  packages/frontend/core/src/blocksuite/presets/ai/chat-panel/chat-panel-messages.ts
  packages/frontend/core/src/blocksuite/presets/ai/chat-panel/index.ts
  tests/affine-cloud-copilot/e2e/copilot.spec.ts
Labels: app:server, test, app:core

#9738 feat(electron): backup panel
  packages/frontend/apps/electron-renderer/src/app.tsx
  packages/frontend/apps/electron/src/helper/dialog/dialog.ts
  packages/frontend/apps/electron/src/helper/dialog/index.ts
  packages/frontend/apps/electron/src/helper/nbstore/v1/ensure-db.ts
  packages/frontend/apps/electron/src/helper/nbstore/v1/workspace-db-adapter.ts
  packages/frontend/apps/electron/src/helper/workspace/handlers.ts
  packages/frontend/apps/electron/src/helper/workspace/index.ts
  packages/frontend/apps/electron/src/main/helper-process.ts
  packages/frontend/core/src/desktop/dialogs/setting/general-setting/backup/index.tsx
  packages/frontend/core/src/desktop/dialogs/setting/general-setting/backup/styles.css.ts
  packages/frontend/core/src/desktop/dialogs/setting/general-setting/index.tsx
  packages/frontend/core/src/modules/backup/index.ts
  packages/frontend/core/src/modules/backup/services/index.ts
  packages/frontend/core/src/modules/dialogs/constant.ts
  packages/frontend/i18n/src/i18n.gen.ts
  packages/frontend/i18n/src/resources/en.json
  tests/affine-desktop/e2e/basic.spec.ts
  tests/affine-desktop/e2e/workspace.spec.ts
  tests/affine-desktop/package.json
  tests/affine-desktop/playwright.config.ts
  tests/kit/src/electron.ts
  tests/kit/src/utils/utils.ts
Labels: mod:i18n, app:electron, test, app:core

#9856 refactor(editor): shadowless TOC with valilla extract css
  blocksuite/presets/package.json
  blocksuite/presets/src/fragments/outline/body/outline-notice.css.ts
  blocksuite/presets/src/fragments/outline/body/outline-notice.ts
  blocksuite/presets/src/fragments/outline/body/outline-panel-body.css.ts
  blocksuite/presets/src/fragments/outline/body/outline-panel-body.ts
  blocksuite/presets/src/fragments/outline/card/outline-card.css.ts
  blocksuite/presets/src/fragments/outline/card/outline-card.ts
  blocksuite/presets/src/fragments/outline/card/outline-preview.css.ts
  blocksuite/presets/src/fragments/outline/card/outline-preview.ts
  blocksuite/presets/src/fragments/outline/config.ts
  blocksuite/presets/src/fragments/outline/header/outline-panel-header.css.ts
  blocksuite/presets/src/fragments/outline/header/outline-panel-header.ts
  blocksuite/presets/src/fragments/outline/header/outline-setting-menu.css.ts
  blocksuite/presets/src/fragments/outline/header/outline-setting-menu.ts
  blocksuite/presets/src/fragments/outline/mobile-outline-panel.ts
  blocksuite/presets/src/fragments/outline/outline-panel.css.ts
  blocksuite/presets/src/fragments/outline/outline-panel.ts
  blocksuite/presets/src/fragments/outline/outline-viewer.ts
  blocksuite/presets/src/fragments/outline/utils/query.ts
  tests/affine-local/e2e/blocksuite/edgeless/note.spec.ts
  tests/affine-local/e2e/blocksuite/outline/outline-panel.spec.ts
  tests/affine-local/e2e/blocksuite/outline/outline-viewer.spec.ts
  yarn.lock
Labels: test

#9862 feat(core): make sidebar others collapsible
  packages/frontend/core/src/components/root-app-sidebar/index.tsx
  packages/frontend/core/src/modules/explorer/entities/explore-section.ts
  packages/frontend/core/src/modules/explorer/services/explorer.ts
  packages/frontend/core/src/modules/explorer/types.ts
  packages/frontend/core/src/modules/explorer/views/layouts/collapsible-section.tsx
Labels: app:core

#9864 refactor(server): print magic link on local dev env
  packages/backend/server/src/core/auth/controller.ts
Labels: app:server
