Repository toeverything/AFFiNE, pull requests merged in 2025-06, with the labels that each got.

#12663 fix(editor): should check url origin and ip address url
  blocksuite/affine/shared/src/__tests__/utils/url.unit.spec.ts
  blocksuite/affine/shared/src/utils/url.ts
Labels: test

#12575 feat(server): add metrics for copilot job event
  packages/backend/server/src/plugins/copilot/context/job.ts
Labels: app:server

#12657 fix: tuning drag and resize snapping
  blocksuite/affine/gfx/pointer/src/snap/snap-manager.ts
  blocksuite/affine/gfx/pointer/src/snap/snap-overlay.ts
  blocksuite/affine/widgets/edgeless-selected-rect/src/edgeless-selected-rect.ts
  blocksuite/framework/std/src/gfx/interactivity/manager.ts
  blocksuite/framework/std/src/gfx/interactivity/resize/manager.ts
  blocksuite/framework/std/src/gfx/interactivity/types/resize.ts
  tests/blocksuite/e2e/edgeless/resizing.spec.ts
Labels: test

#12685 test(core): support fast embedding progress
  tests/affine-cloud-copilot/e2e/utils/chat-panel-utils.ts
Labels: test

#12682 fix(server): lost context after merge template
  packages/backend/server/src/__tests__/copilot-provider.spec.ts
  packages/backend/server/src/plugins/copilot/session.ts
Labels: app:server, test

#12596 feat(core): use claude 4 as default chat model
  packages/backend/server/src/__tests__/copilot-provider.spec.ts
  packages/backend/server/src/plugins/copilot/prompt/prompts.ts
  packages/backend/server/src/plugins/copilot/providers/anthropic/anthropic.ts
  packages/frontend/core/src/blocksuite/ai/provider/setup-provider.tsx
  tests/affine-cloud-copilot/e2e/basic/chat.spec.ts
  tests/affine-cloud-copilot/e2e/chat-with/network.spec.ts
  tests/affine-cloud-copilot/e2e/chat-with/reasoning.spec.ts
Labels: app:server, test, app:core

#12686 fix(native): opt out napi-derive noop feature
  .github/workflows/build-test.yml
  packages/backend/native/index.d.ts
  packages/backend/native/src/doc_loader.rs
  packages/frontend/apps/android/App/app/build.gradle
  packages/frontend/apps/ios/App/App.xcodeproj/project.xcworkspace/xcshareddata/swiftpm/Package.resolved
  packages/frontend/apps/ios/App/App.xcworkspace/xcshareddata/swiftpm/Package.resolved
  packages/frontend/apps/ios/App/Podfile.lock
  packages/frontend/apps/ios/App/xc-universal-binary.sh
  packages/frontend/apps/ios/codegen.ts
  packages/frontend/mobile-native/Cargo.toml
Labels: rust, mod:server-native

#12656 refactor(core): add to edgeless as note icon
  packages/frontend/core/src/blocksuite/ai/_common/chat-actions-handle.ts
Labels: test, app:core

#12565 fix(editor): playground init error
  blocksuite/affine/fragments/doc-title/src/doc-title.ts
  blocksuite/playground/apps/starter/data/preset.ts
Labels: blocked

#12689 chore(core): remove calendar integration feature flag
  packages/frontend/core/src/desktop/dialogs/setting/workspace-setting/integration/constants.tsx
  packages/frontend/core/src/modules/feature-flag/constant.ts
Labels: app:core

#12666 feat(server): improve embedding & rerank speed
  packages/backend/server/src/__tests__/mocks/copilot.mock.ts
  packages/backend/server/src/plugins/copilot/context/embedding.ts
  packages/backend/server/src/plugins/copilot/context/job.ts
  packages/backend/server/src/plugins/copilot/context/service.ts
  packages/backend/server/src/plugins/copilot/context/types.ts
  packages/backend/server/src/plugins/copilot/prompt/prompts.ts
  packages/backend/server/src/plugins/copilot/providers/openai.ts
  packages/backend/server/src/plugins/copilot/providers/perplexity.ts
  packages/backend/server/src/plugins/copilot/providers/provider.ts
  packages/backend/server/src/plugins/copilot/providers/types.ts
  tests/affine-cloud-copilot/e2e/settings/embedding.spec.ts
  tests/affine-cloud-copilot/e2e/utils/settings-panel-utils.ts
Labels: app:server, test

#12659 fix: migration compatible for postgres
  packages/backend/server/migrations/20250429113337_workspace_file_blob_id/migration.sql
  packages/backend/server/migrations/20250521083048_fix_workspace_embedding_chunk_primary_key/migration.sql
Labels: app:server

#12696 feat(core): add title order by
  packages/frontend/core/src/components/filter/conditions/system.tsx
  packages/frontend/core/src/components/system-property-types/index.ts
  packages/frontend/core/src/modules/collection-rules/impls/order-by/title.ts
  packages/frontend/core/src/modules/collection-rules/index.ts
  packages/frontend/core/src/modules/doc/services/docs.ts
  packages/frontend/core/src/modules/doc/stores/docs.ts
Labels: app:core

#12690 fix(core): ai retry missing reasoning and webSearch params
  packages/frontend/core/src/blocksuite/ai/chat-panel/chat-panel-messages.ts
  packages/frontend/core/src/blocksuite/ai/chat-panel/index.ts
  packages/frontend/core/src/blocksuite/ai/components/ai-chat-composer/ai-chat-composer.ts
  packages/frontend/core/src/blocksuite/ai/components/playground/chat.ts
  packages/frontend/core/src/blocksuite/ai/peek-view/chat-block-peek-view.ts
Labels: app:core

#12697 chore(server): auto roll back failed migrations
  packages/backend/server/scripts/self-host-predeploy.js
Labels: app:server

#12667 fix(server): token calculate
  Cargo.lock
  Cargo.toml
  packages/backend/native/src/tiktoken.rs
  packages/backend/server/src/plugins/copilot/session.ts
  packages/backend/server/src/plugins/copilot/types.ts
  packages/backend/server/src/schema.gql
  packages/common/graphql/src/schema.ts
Labels: app:server, rust, mod:server-native

#12699 fix(server): chat with image
  packages/backend/server/src/plugins/copilot/providers/anthropic/anthropic.ts
  packages/backend/server/src/plugins/copilot/providers/utils.ts
Labels: app:server

#12703 chore(server): ignore never applied rolled back error
  packages/backend/server/scripts/self-host-predeploy.js
Labels: app:server

#12704 fix(electron): revert back electron to v35
  package.json
  packages/frontend/apps/electron/package.json
  yarn.lock
Labels: app:electron

#12710 chore(server): disable indexer by default
  .docker/selfhost/schema.json
  .github/workflows/build-test.yml
  packages/backend/server/.env.example
  packages/backend/server/src/plugins/indexer/__tests__/event.spec.ts
  packages/backend/server/src/plugins/indexer/__tests__/job.spec.ts
  packages/backend/server/src/plugins/indexer/__tests__/providers/elasticsearch.spec.ts
  packages/backend/server/src/plugins/indexer/__tests__/providers/manticoresearch.spec.ts
  packages/backend/server/src/plugins/indexer/__tests__/service.spec.ts
  packages/backend/server/src/plugins/indexer/config.ts
Labels: app:server, test

#12714 chore(server): ignore rolled back error on the first time
  packages/backend/server/scripts/self-host-predeploy.js
Labels: app:server

#12718 chore: adjust general access button styles
  packages/frontend/core/src/modules/share-menu/view/share-menu/general-access/styles.css.ts
Labels: app:core

#12719 feat(core): optimize tag performance
  packages/frontend/core/src/modules/tag/stores/tag.ts
Labels: app:core

#12717 fix(core): generate the image cannot enter text prompt
  packages/frontend/core/src/blocksuite/ai/actions/doc-handler.ts
  packages/frontend/core/src/blocksuite/ai/actions/edgeless-handler.ts
  packages/frontend/core/src/blocksuite/ai/widgets/ai-panel/ai-panel.ts
  tests/affine-cloud-copilot/e2e/utils/editor-utils.ts
Labels: test, app:core

#12733 fix(electron): increase recording timeout
  packages/frontend/apps/electron/src/main/recording/feature.ts
Labels: app:electron

#12720 refactor(core): hide emebedding status tip if completed
  packages/frontend/core/src/blocksuite/ai/actions/types.ts
  packages/frontend/core/src/blocksuite/ai/components/ai-chat-composer/ai-chat-composer.ts
  packages/frontend/core/src/blocksuite/ai/components/ai-chat-input/embedding-status-tooltip.ts
  packages/frontend/core/src/blocksuite/ai/provider/setup-provider.tsx
  tests/affine-cloud-copilot/e2e/basic/chat.spec.ts
Labels: test, app:core

#12763 fix(editor): add title to edgeless page block ai context
  packages/frontend/core/src/blocksuite/ai/actions/edgeless-handler.ts
Labels: app:core

#12771 fix(server): list context status
  packages/backend/server/src/__tests__/__snapshots__/copilot.e2e.ts.md
  packages/backend/server/src/__tests__/__snapshots__/copilot.e2e.ts.snap
  packages/backend/server/src/__tests__/models/__snapshots__/copilot-context.spec.ts.md
  packages/backend/server/src/__tests__/models/__snapshots__/copilot-context.spec.ts.snap
  packages/backend/server/src/__tests__/models/copilot-context.spec.ts
  packages/backend/server/src/models/copilot-context.ts
Labels: app:server, test

#12512 feat(editor): add replace action in attachment toolbar
  blocksuite/affine/blocks/attachment/src/attachment-block.ts
  blocksuite/affine/blocks/attachment/src/configs/toolbar.ts
  blocksuite/affine/shared/src/utils/file/filesys.ts
  blocksuite/affine/widgets/toolbar/src/utils.ts
  packages/frontend/core/src/blocksuite/attachment-viewer/pdf/pdf-viewer-embedded.tsx
  packages/frontend/core/src/blocksuite/attachment-viewer/pdf/pdf-viewer.tsx
  packages/frontend/core/src/modules/pdf/entities/pdf.ts
  packages/frontend/core/src/modules/pdf/index.ts
  packages/frontend/core/src/modules/pdf/services/pdf.ts
  tests/affine-local/e2e/blocksuite/attachment/toolbar.spec.ts
Labels: test, app:core

#12794 fix(editor): can not clear embed card alias description
  blocksuite/affine/components/src/embed-card-modal/embed-card-edit-modal.ts
  packages/frontend/core/src/blocksuite/view-extensions/editor-config/toolbar/index.ts
  tests/affine-local/e2e/links.spec.ts
Labels: test, app:core

#12775 feat(server): improve rerank performance
  packages/backend/server/src/plugins/copilot/context/embedding.ts
  packages/backend/server/src/plugins/copilot/context/job.ts
  packages/backend/server/src/plugins/copilot/context/service.ts
  packages/backend/server/src/plugins/copilot/prompt/prompts.ts
  tests/affine-cloud-copilot/e2e/utils/editor-utils.ts
Labels: app:server, test

#12788 feat(server): improve prompts
  packages/backend/server/src/plugins/copilot/prompt/prompts.ts
Labels: app:server

#12711 fix(electron): web dev server ws does not work for electron renderer
  tools/cli/src/bundle.ts
Labels: mod:dev

#12787 fix(editor): behavior of deleting at the start of line
  blocksuite/affine/blocks/paragraph/src/utils/merge-with-prev.ts
  tests/blocksuite/e2e/edgeless/edgeless-text.spec.ts
  tests/blocksuite/e2e/paragraph.spec.ts
  tests/blocksuite/e2e/utils/actions/block.ts
Labels: test

#12800 fix(nbstore): fix search slow
  packages/frontend/core/src/modules/docs-search/services/docs-search.ts
  packages/frontend/core/src/modules/quicksearch/entities/quick-search.ts
Labels: app:core

#12731 fix(editor): show added or deleted rows immediately in grouped table and Kanban views
  blocksuite/affine/data-view/src/core/group-by/trait.ts
  blocksuite/affine/data-view/src/core/view-manager/single-view.ts
  blocksuite/affine/data-view/src/view-presets/kanban/mobile/group.ts
  blocksuite/affine/data-view/src/view-presets/kanban/mobile/kanban-view-ui-logic.ts
  blocksuite/affine/data-view/src/view-presets/kanban/mobile/menu.ts
  blocksuite/affine/data-view/src/view-presets/kanban/pc/controller/selection.ts
  blocksuite/affine/data-view/src/view-presets/kanban/pc/group.ts
  blocksuite/affine/data-view/src/view-presets/kanban/pc/kanban-view-ui-logic.ts
  blocksuite/affine/data-view/src/view-presets/table/mobile/group.ts
  blocksuite/affine/data-view/src/view-presets/table/mobile/menu.ts
  blocksuite/affine/data-view/src/view-presets/table/pc-virtual/controller/clipboard.ts
  blocksuite/affine/data-view/src/view-presets/table/pc-virtual/controller/hotkeys.ts
  blocksuite/affine/data-view/src/view-presets/table/pc-virtual/controller/selection.ts
  blocksuite/affine/data-view/src/view-presets/table/pc-virtual/group/bottom/group-footer.ts
  blocksuite/affine/data-view/src/view-presets/table/pc-virtual/group/top/group-header.ts
  blocksuite/affine/data-view/src/view-presets/table/pc-virtual/row/menu.ts
  blocksuite/affine/data-view/src/view-presets/table/pc/controller/clipboard.ts
  blocksuite/affine/data-view/src/view-presets/table/pc/controller/hotkeys.ts
  blocksuite/affine/data-view/src/view-presets/table/pc/controller/selection.ts
  blocksuite/affine/data-view/src/view-presets/table/pc/group.ts
  blocksuite/affine/data-view/src/view-presets/table/pc/menu.ts
  packages/frontend/core/src/__tests__/data-view-actions.spec.ts
Labels: test, app:core

#12807 feat(core): update build in server config
  packages/frontend/core/src/modules/cloud/constant.ts
Labels: app:core

#12809 feat(server): split embedding client
  packages/backend/server/src/__tests__/copilot.e2e.ts
  packages/backend/server/src/__tests__/copilot.spec.ts
  packages/backend/server/src/plugins/copilot/context/index.ts
  packages/backend/server/src/plugins/copilot/context/resolver.ts
  packages/backend/server/src/plugins/copilot/context/service.ts
  packages/backend/server/src/plugins/copilot/context/session.ts
  packages/backend/server/src/plugins/copilot/context/utils.ts
  packages/backend/server/src/plugins/copilot/embedding/client.ts
  packages/backend/server/src/plugins/copilot/embedding/index.ts
  packages/backend/server/src/plugins/copilot/embedding/job.ts
  packages/backend/server/src/plugins/copilot/embedding/types.ts
  packages/backend/server/src/plugins/copilot/index.ts
Labels: app:server, test

#12815 feat(nbstore): add more data to indexer
  packages/backend/server/src/core/utils/__tests__/__snapshots__/blocksute.spec.ts.md
  packages/backend/server/src/core/utils/__tests__/__snapshots__/blocksute.spec.ts.snap
  packages/common/reader/__tests__/__snapshots__/reader.spec.ts.snap
  packages/common/reader/src/reader.ts
Labels: app:server, test

#12814 fix(server): should save end date of subscription in db
  packages/backend/server/src/plugins/payment/manager/selfhost.ts
  packages/backend/server/src/plugins/payment/manager/user.ts
  packages/backend/server/src/plugins/payment/manager/workspace.ts
Labels: app:server

#12822 feat(server): search blob names from indexer
  packages/backend/server/src/__tests__/__fixtures__/test-doc-with-blob.snapshot.bin
  packages/backend/server/src/__tests__/mocks/doc-snapshot.mock.ts
  packages/backend/server/src/core/utils/__tests__/__snapshots__/blocksute.spec.ts.md
  packages/backend/server/src/core/utils/__tests__/__snapshots__/blocksute.spec.ts.snap
  packages/backend/server/src/core/utils/__tests__/blocksute.spec.ts
  packages/backend/server/src/plugins/indexer/__tests__/__snapshots__/service.spec.ts.md
  packages/backend/server/src/plugins/indexer/__tests__/__snapshots__/service.spec.ts.snap
  packages/backend/server/src/plugins/indexer/__tests__/service.spec.ts
  packages/backend/server/src/plugins/indexer/service.ts
Labels: app:server, test

#12829 chore: disable code block html preview
  packages/frontend/core/src/modules/feature-flag/constant.ts
Labels: app:core

#12830 docs(editor): add typedoc for schema module
  blocksuite/docs/api/@blocksuite/store/README.md
  blocksuite/docs/api/@blocksuite/store/classes/Schema.md
  blocksuite/docs/api/@blocksuite/store/classes/Store.md
  blocksuite/framework/store/src/schema/schema.ts
Labels: docs

#12845 chore(server): bump gemini to ga version
  packages/backend/server/src/__tests__/mocks/copilot.mock.ts
  packages/backend/server/src/plugins/copilot/prompt/prompts.ts
  packages/backend/server/src/plugins/copilot/providers/gemini/generative.ts
  packages/backend/server/src/plugins/copilot/providers/gemini/vertex.ts
Labels: app:server, test

#12615 feat(native): windows audio monitoring & recording
  Cargo.lock
  Cargo.toml
  packages/backend/native/package.json
  packages/common/y-octo/node/package.json
  packages/frontend/apps/electron-renderer/src/popup/app.css.ts
  packages/frontend/apps/electron-renderer/src/popup/app.tsx
  packages/frontend/apps/electron/src/main/protocol.ts
  packages/frontend/apps/electron/src/main/recording/feature.ts
  packages/frontend/apps/electron/src/main/recording/types.ts
  packages/frontend/apps/electron/src/main/windows-manager/popup.ts
  packages/frontend/core/src/desktop/dialogs/setting/general-setting/index.tsx
  packages/frontend/core/src/desktop/dialogs/setting/general-setting/meetings/index.tsx
  packages/frontend/media-capture-playground/server/main.ts
  packages/frontend/native/index.d.ts
  packages/frontend/native/index.js
  packages/frontend/native/media_capture/Cargo.toml
  packages/frontend/native/media_capture/src/lib.rs
  packages/frontend/native/media_capture/src/macos/screen_capture_kit.rs
  packages/frontend/native/media_capture/src/macos/tap_audio.rs
  packages/frontend/native/media_capture/src/windows/README.md
  packages/frontend/native/media_capture/src/windows/audio_capture.rs
  packages/frontend/native/media_capture/src/windows/error.rs
  packages/frontend/native/media_capture/src/windows/microphone_listener.rs
  packages/frontend/native/media_capture/src/windows/mod.rs
  packages/frontend/native/media_capture/src/windows/screen_capture_kit.rs
  packages/frontend/native/package.json
  yarn.lock
Labels: docs, app:electron, rust, mod:native, app:core, mod:server-native

#12848 feat(editor): by default render code iframe for html preview
  blocksuite/affine/shared/src/services/feature-flag-service.ts
  packages/frontend/core/src/blocksuite/view-extensions/code-block-preview/html-preview.ts
  packages/frontend/core/src/blocksuite/view-extensions/code-block-preview/iframe-container.ts
  packages/frontend/core/src/blocksuite/view-extensions/code-block-preview/index.ts
  packages/frontend/core/src/modules/feature-flag/constant.ts
  tests/affine-local/e2e/blocksuite/code/crud.spec.ts
Labels: test, app:core

#12841 feat(core): add stream object api
  packages/backend/server/migrations/20250617004240_ai_stream_objects_message/migration.sql
  packages/backend/server/schema.prisma
  packages/backend/server/src/__tests__/copilot-provider.spec.ts
  packages/backend/server/src/__tests__/copilot.e2e.ts
  packages/backend/server/src/__tests__/mocks/copilot.mock.ts
  packages/backend/server/src/__tests__/utils/copilot.ts
  packages/backend/server/src/plugins/copilot/controller.ts
  packages/backend/server/src/plugins/copilot/providers/anthropic/anthropic.ts
  packages/backend/server/src/plugins/copilot/providers/anthropic/official.ts
  packages/backend/server/src/plugins/copilot/providers/anthropic/vertex.ts
  packages/backend/server/src/plugins/copilot/providers/gemini/gemini.ts
  packages/backend/server/src/plugins/copilot/providers/gemini/generative.ts
  packages/backend/server/src/plugins/copilot/providers/gemini/vertex.ts
  packages/backend/server/src/plugins/copilot/providers/openai.ts
  packages/backend/server/src/plugins/copilot/providers/provider.ts
  packages/backend/server/src/plugins/copilot/providers/types.ts
  packages/backend/server/src/plugins/copilot/providers/utils.ts
  packages/backend/server/src/plugins/copilot/resolver.ts
  packages/backend/server/src/plugins/copilot/session.ts
  packages/backend/server/src/schema.gql
  packages/common/graphql/src/graphql/copilot-history-list.gql
  packages/common/graphql/src/graphql/index.ts
  packages/common/graphql/src/schema.ts
  packages/frontend/core/src/blocksuite/ai/components/ai-chat-messages/type.ts
Labels: app:server, test, app:core, merge

#12846 feat(server): parse ydoc to ai editable markdown format
  packages/backend/server/src/core/utils/__tests__/__snapshots__/blocksute.spec.ts.md
  packages/backend/server/src/core/utils/__tests__/__snapshots__/blocksute.spec.ts.snap
  packages/backend/server/src/core/utils/__tests__/blocksute.spec.ts
  packages/backend/server/src/core/utils/blocksuite.ts
  packages/common/reader/__tests__/__fixtures__/test-doc-with-ai-editable.snapshot.bin
  packages/common/reader/__tests__/__snapshots__/reader.spec.ts.snap
  packages/common/reader/__tests__/reader.spec.ts
  packages/common/reader/src/doc-parser/parser.ts
  packages/common/reader/src/doc-parser/types.ts
Labels: app:server, test

#12849 feat(server): allow chat session dangling & pin session support
  packages/backend/server/migrations/20250609063353_ai_session_independence/migration.sql
  packages/backend/server/schema.prisma
  packages/backend/server/src/__tests__/__snapshots__/copilot.e2e.ts.md
  packages/backend/server/src/__tests__/__snapshots__/copilot.e2e.ts.snap
  packages/backend/server/src/__tests__/copilot.e2e.ts
  packages/backend/server/src/__tests__/copilot.spec.ts
  packages/backend/server/src/__tests__/models/__snapshots__/copilot-session.spec.ts.md
  packages/backend/server/src/__tests__/models/__snapshots__/copilot-session.spec.ts.snap
  packages/backend/server/src/__tests__/models/copilot-context.spec.ts
  packages/backend/server/src/__tests__/models/copilot-session.spec.ts
  packages/backend/server/src/__tests__/utils/copilot.ts
  packages/backend/server/src/base/error/def.ts
  packages/backend/server/src/base/error/errors.gen.ts
  packages/backend/server/src/models/copilot-session.ts
  packages/backend/server/src/models/index.ts
  packages/backend/server/src/plugins/copilot/resolver.ts
  packages/backend/server/src/plugins/copilot/session.ts
  packages/backend/server/src/plugins/copilot/types.ts
  packages/backend/server/src/schema.gql
  packages/common/graphql/src/graphql/copilot-history-get-ids.gql
  packages/common/graphql/src/graphql/copilot-history-list.gql
  packages/common/graphql/src/graphql/copilot-session-get.gql
  packages/common/graphql/src/graphql/copilot-sessions-get.gql
  packages/common/graphql/src/graphql/index.ts
  packages/common/graphql/src/schema.ts
  packages/frontend/core/src/blocksuite/ai/provider/setup-provider.tsx
  packages/frontend/i18n/src/i18n.gen.ts
  packages/frontend/i18n/src/resources/en.json
Labels: mod:i18n, app:server, test, app:core

#12865 fix(server): session unique index conflict
  packages/backend/server/migrations/20250609063353_ai_session_independence/migration.sql
  packages/backend/server/schema.prisma
  packages/backend/server/src/__tests__/models/__snapshots__/copilot-session.spec.ts.md
  packages/backend/server/src/__tests__/models/__snapshots__/copilot-session.spec.ts.snap
  packages/backend/server/src/__tests__/models/copilot-context.spec.ts
  packages/backend/server/src/__tests__/models/copilot-session.spec.ts
  packages/backend/server/src/models/copilot-session.ts
  packages/backend/server/src/plugins/copilot/prompt/prompts.ts
  packages/backend/server/src/plugins/copilot/session.ts
Labels: app:server, test

#12857 fix(server): set empty embedding on empty doc
  packages/backend/server/src/plugins/copilot/embedding/job.ts
Labels: app:server

#12871 fix(server): don't use global AFFiNELogger
  packages/backend/server/src/plugins/copilot/embedding/job.ts
Labels: app:server

#12856 fix(server): save snapshot and delete updates in the same transaction
  packages/backend/server/src/core/doc/storage/doc.ts
Labels: app:server

#12877 fix(server): session update check
  packages/backend/server/src/__tests__/models/__snapshots__/copilot-session.spec.ts.md
  packages/backend/server/src/__tests__/models/__snapshots__/copilot-session.spec.ts.snap
  packages/backend/server/src/__tests__/models/copilot-session.spec.ts
  packages/backend/server/src/models/copilot-session.ts
Labels: app:server, test

#12880 fix(core): iframe rendering issue for youtube videos
  packages/frontend/core/src/blocksuite/view-extensions/code-block-preview/html-preview.ts
  packages/frontend/core/src/blocksuite/view-extensions/code-block-preview/iframe-container.ts
  tools/cli/src/bundle.ts
Labels: mod:dev, app:core

#12878 feat(core): enable quick select for trash page
  packages/frontend/core/src/components/explorer/docs-view/quick-actions.tsx
  packages/frontend/core/src/desktop/pages/workspace/trash-page.tsx
Labels: app:core

#12866 feat(server): add search docs by keyword gql api
  packages/backend/server/src/__tests__/e2e/indexer/__snapshots__/search-docs.spec.ts.md
  packages/backend/server/src/__tests__/e2e/indexer/__snapshots__/search-docs.spec.ts.snap
  packages/backend/server/src/__tests__/e2e/indexer/search-docs.spec.ts
  packages/backend/server/src/plugins/indexer/resolver.ts
  packages/backend/server/src/plugins/indexer/types.ts
  packages/backend/server/src/schema.gql
  packages/common/graphql/src/graphql/index.ts
  packages/common/graphql/src/graphql/indexer-search-docs.gql
  packages/common/graphql/src/schema.ts
Labels: app:server, test

#12891 feat(core): ai tools css style adjustment
  packages/frontend/core/src/blocksuite/ai/chat-panel/chat-panel-messages.ts
  packages/frontend/core/src/blocksuite/ai/chat-panel/index.ts
  packages/frontend/core/src/blocksuite/ai/chat-panel/message/assistant.ts
  packages/frontend/core/src/blocksuite/ai/chat-panel/tools/tool-result-card.ts
  packages/frontend/core/src/blocksuite/ai/chat-panel/tools/web-crawl.ts
  packages/frontend/core/src/blocksuite/ai/chat-panel/tools/web-search.ts
Labels: app:core

#12505 feat(editor): support connector dom renderer
  blocksuite/affine/gfx/connector/src/element-renderer/connector-dom.ts
  blocksuite/affine/gfx/connector/src/element-renderer/connector-dom/index.ts
  blocksuite/affine/gfx/connector/src/index.ts
  blocksuite/affine/gfx/connector/src/view.ts
  blocksuite/affine/gfx/shape/src/element-renderer/shape-dom/index.ts
  blocksuite/framework/global/src/__tests__/svg-path.unit.spec.ts
  blocksuite/framework/global/src/gfx/index.ts
  blocksuite/framework/global/src/gfx/svg-path.ts
  blocksuite/integration-test/src/__tests__/edgeless/connector-dom.spec.ts
Labels: mod:i18n, app:server, test, app:core

#12881 docs: clarify and fix desktop build instructions
  docs/BUILDING.md
  docs/building-desktop-client-app.md
Labels: docs

#12900 feat(mobile): add delete operation for detail page menu
  packages/frontend/core/src/mobile/components/app-tabs/constants.ts
  packages/frontend/core/src/mobile/components/app-tabs/create.tsx
  packages/frontend/core/src/mobile/components/app-tabs/data.tsx
  packages/frontend/core/src/mobile/components/app-tabs/index.tsx
  packages/frontend/core/src/mobile/components/app-tabs/journal.tsx
  packages/frontend/core/src/mobile/components/app-tabs/tab-item.tsx
  packages/frontend/core/src/mobile/components/app-tabs/type.ts
  packages/frontend/core/src/mobile/pages/workspace/detail/page-header-more-button.tsx
Labels: app:core

#12629 fix(core): adjust new doc list filter style
  packages/frontend/component/src/ui/divider/divider.tsx
  packages/frontend/component/src/ui/divider/style.css.ts
  packages/frontend/core/src/components/affine/empty/docs.tsx
  packages/frontend/core/src/components/explorer/display-menu/index.tsx
  packages/frontend/core/src/components/explorer/display-menu/properties.tsx
  packages/frontend/core/src/components/explorer/docs-view/docs-list.tsx
  packages/frontend/core/src/components/filter/filter-value-menu.tsx
  packages/frontend/core/src/components/system-property-types/favorite.tsx
  packages/frontend/core/src/components/system-property-types/integration-type.tsx
  packages/frontend/core/src/components/system-property-types/shared.tsx
  packages/frontend/core/src/components/workspace-property-types/checkbox.tsx
  packages/frontend/core/src/components/workspace-property-types/created-updated-by.css.ts
  packages/frontend/core/src/components/workspace-property-types/created-updated-by.tsx
  packages/frontend/core/src/components/workspace-property-types/date.tsx
  packages/frontend/core/src/components/workspace-property-types/doc-primary-mode.tsx
  packages/frontend/core/src/components/workspace-property-types/edgeless-theme.tsx
  packages/frontend/core/src/components/workspace-property-types/journal.tsx
  packages/frontend/core/src/components/workspace-property-types/number.tsx
  packages/frontend/core/src/components/workspace-property-types/page-width.tsx
  packages/frontend/core/src/components/workspace-property-types/tags.css.ts
  packages/frontend/core/src/components/workspace-property-types/tags.tsx
  packages/frontend/core/src/components/workspace-property-types/template.tsx
  packages/frontend/core/src/components/workspace-property-types/text.tsx
  packages/frontend/core/src/desktop/pages/workspace/all-page/pinned-collections.css.ts
  packages/frontend/core/src/modules/db/schema/schema.ts
  packages/frontend/core/src/modules/integration/constant.ts
  packages/frontend/core/src/modules/integration/type.ts
Labels: mod:component, app:core

#12601 fix(core): show toolbar when quick select doc explorer
  packages/frontend/core/src/components/explorer/docs-view/quick-actions.tsx
Labels: app:core

#12743 fix(core): persist sidebar open state and width to prevent flash on load
  packages/frontend/core/src/modules/app-sidebar/entities/__tests__/app-sidebar.spec.ts
  packages/frontend/core/src/modules/app-sidebar/entities/app-sidebar.ts
  packages/frontend/core/src/modules/workbench/entities/workbench.ts
Labels: test, app:core

#12903 fix(mobile): change mobile docs display config and prevent opening doc when close menu
  packages/frontend/core/src/mobile/pages/workspace/all.tsx
  packages/frontend/core/src/modules/workbench/view/workbench-link.tsx
Labels: app:core

#12647 feat(core): limit visible doc inline stack tags
  packages/frontend/core/src/components/explorer/docs-view/stack-property.tsx
  packages/frontend/core/src/components/workspace-property-types/tags.css.ts
  packages/frontend/core/src/components/workspace-property-types/tags.tsx
Labels: app:core

#12907 chore(electron): update icons
  packages/frontend/apps/electron/resources/icons/icon_beta.icns
  packages/frontend/apps/electron/resources/icons/icon_beta.ico
  packages/frontend/apps/electron/resources/icons/icon_beta.png
  packages/frontend/apps/electron/resources/icons/icon_canary.icns
  packages/frontend/apps/electron/resources/icons/icon_canary.ico
  packages/frontend/apps/electron/resources/icons/icon_canary.png
Labels: app:electron

#12906 feat(core): support objects render in ai chat block
  packages/backend/server/src/models/copilot-session.ts
  packages/frontend/core/src/blocksuite/ai/_common/chat-actions-handle.ts
  packages/frontend/core/src/blocksuite/ai/actions/types.ts
  packages/frontend/core/src/blocksuite/ai/blocks/ai-chat-block/components/ai-chat-messages.ts
  packages/frontend/core/src/blocksuite/ai/chat-panel/actions/image.ts
  packages/frontend/core/src/blocksuite/ai/chat-panel/chat-panel-messages.ts
  packages/frontend/core/src/blocksuite/ai/chat-panel/index.ts
  packages/frontend/core/src/blocksuite/ai/chat-panel/message/action.ts
  packages/frontend/core/src/blocksuite/ai/chat-panel/message/assistant.ts
  packages/frontend/core/src/blocksuite/ai/chat-panel/message/user.ts
  packages/frontend/core/src/blocksuite/ai/components/ai-chat-input/ai-chat-input.ts
  packages/frontend/core/src/blocksuite/ai/components/ai-message-content/assistant-avatar.ts
  packages/frontend/core/src/blocksuite/ai/components/ai-message-content/images.ts
  packages/frontend/core/src/blocksuite/ai/components/ai-message-content/pure-text.ts
  packages/frontend/core/src/blocksuite/ai/components/ai-message-content/rich-text.ts
  packages/frontend/core/src/blocksuite/ai/components/ai-message-content/stream-objects.ts
  packages/frontend/core/src/blocksuite/ai/components/ai-tools/tool-call-card.ts
  packages/frontend/core/src/blocksuite/ai/components/ai-tools/tool-result-card.ts
  packages/frontend/core/src/blocksuite/ai/components/ai-tools/web-crawl.ts
  packages/frontend/core/src/blocksuite/ai/components/ai-tools/web-search.ts
  packages/frontend/core/src/blocksuite/ai/components/playground/chat.ts
  packages/frontend/core/src/blocksuite/ai/effects.ts
  packages/frontend/core/src/blocksuite/ai/peek-view/chat-block-peek-view.ts
  packages/frontend/core/src/blocksuite/ai/utils/stream-objects.ts
Labels: app:server, app:core

#12025 feat(electron): upgrade flatpak runtimeversion
  packages/frontend/apps/electron/forge.config.mjs
Labels: app:electron

#12913 fix(server): should check doc public attribute when snapshot not exists
  packages/backend/server/src/__tests__/e2e/doc/resolver.spec.ts
  packages/backend/server/src/core/workspaces/resolvers/doc.ts
Labels: app:server, test

#12899 feat(core): use cloud indexer for search
  packages/common/infra/src/op/__tests__/consumer.spec.ts
  packages/common/infra/src/op/client.ts
  packages/common/infra/src/op/consumer.ts
  packages/common/nbstore/src/frontend/indexer.ts
  packages/common/nbstore/src/sync/index.ts
  packages/common/nbstore/src/sync/indexer/index.ts
  packages/common/nbstore/src/worker/client.ts
  packages/common/nbstore/src/worker/consumer.ts
  packages/common/nbstore/src/worker/ops.ts
  packages/frontend/core/src/modules/docs-search/services/docs-search.ts
  packages/frontend/core/src/modules/feature-flag/constant.ts
  packages/frontend/core/src/modules/quicksearch/entities/quick-search.ts
  packages/frontend/core/src/modules/quicksearch/impls/docs.ts
  packages/frontend/core/src/modules/quicksearch/index.ts
  packages/frontend/core/src/modules/quicksearch/providers/quick-search-provider.ts
  packages/frontend/core/src/modules/quicksearch/views/cmdk.css.ts
  packages/frontend/core/src/modules/quicksearch/views/cmdk.tsx
  packages/frontend/core/src/modules/quicksearch/views/container.tsx
  packages/frontend/core/src/modules/search-menu/services/index.ts
  packages/frontend/core/src/modules/workspace-engine/impls/cloud.ts
  tests/kit/src/utils/cloud.ts
Labels: mod:infra, test, app:core

#12892 fix(electron): embeded youtube videos not playable
  packages/frontend/apps/electron/src/main/protocol.ts
Labels: app:electron

#12923 fix(server): copilot permission check
  packages/backend/server/src/plugins/copilot/resolver.ts
Labels: app:server

#12928 feat(server): improve session modify
  packages/backend/server/src/__tests__/__snapshots__/copilot.e2e.ts.md
  packages/backend/server/src/__tests__/__snapshots__/copilot.e2e.ts.snap
  packages/backend/server/src/__tests__/copilot.spec.ts
  packages/backend/server/src/__tests__/models/copilot-context.spec.ts
  packages/backend/server/src/__tests__/models/copilot-session.spec.ts
  packages/backend/server/src/models/copilot-session.ts
  packages/backend/server/src/native.ts
  packages/backend/server/src/plugins/copilot/prompt/chat-prompt.ts
  packages/backend/server/src/plugins/copilot/resolver.ts
  packages/backend/server/src/plugins/copilot/session.ts
  packages/backend/server/src/plugins/copilot/types.ts
Labels: app:server, test

#12921 feat(component): new component to edit icon and name
  packages/frontend/component/package.json
  packages/frontend/component/src/index.ts
  packages/frontend/component/src/ui/icon-name-editor/icon-name-editor.css.ts
  packages/frontend/component/src/ui/icon-name-editor/icon-name-editor.stories.tsx
  packages/frontend/component/src/ui/icon-name-editor/icon-name-editor.tsx
  packages/frontend/component/src/ui/icon-name-editor/index.ts
  packages/frontend/core/src/modules/navigation/__tests__/utils.spec.ts
  yarn.lock
Labels: mod:component, test, app:core

#12919 feat(editor): use affine container url in preview
  blocksuite/affine/blocks/code/src/code-block.ts
  blocksuite/affine/shared/src/services/feature-flag-service.ts
  packages/frontend/core/src/blocksuite/view-extensions/code-block-preview/html-preview.ts
  packages/frontend/core/src/blocksuite/view-extensions/code-block-preview/iframe-container.ts
  packages/frontend/core/src/blocksuite/view-extensions/code-block-preview/web-container.ts
  packages/frontend/core/src/modules/feature-flag/constant.ts
Labels: app:core

#12934 feat(core): add ai playground feature flag and remove model switch feature flag
  packages/backend/server/src/plugins/copilot/prompt/prompts.ts
  packages/frontend/core/src/blocksuite/ai/chat-panel/index.ts
  packages/frontend/core/src/blocksuite/ai/components/ai-chat-composer/ai-chat-composer.ts
  packages/frontend/core/src/blocksuite/ai/components/ai-chat-input/ai-chat-input.ts
  packages/frontend/core/src/blocksuite/ai/components/ai-chat-input/preference-popup.ts
  packages/frontend/core/src/blocksuite/ai/components/ai-chat-input/type.ts
  packages/frontend/core/src/blocksuite/ai/components/playground/chat.ts
  packages/frontend/core/src/blocksuite/ai/components/playground/content.ts
  packages/frontend/core/src/components/hooks/affine/use-ai-chat-config.ts
  packages/frontend/core/src/desktop/pages/workspace/detail-page/tabs/chat.tsx
  packages/frontend/core/src/modules/ai-button/index.ts
  packages/frontend/core/src/modules/ai-button/services/playground.ts
  packages/frontend/core/src/modules/feature-flag/constant.ts
  packages/frontend/core/src/modules/index.ts
  packages/frontend/i18n/src/i18n.gen.ts
  packages/frontend/i18n/src/resources/en.json
Labels: mod:i18n, app:server, app:core

#12950 feat(server): support multiple hosts in one deployment
  .docker/selfhost/schema.json
  .github/actions/deploy/deploy.mjs
  .github/helm/affine/templates/ingress.yaml
  .github/helm/affine/values.yaml
  blocksuite/affine/blocks/embed/src/embed-iframe-block/configs/providers/generic.ts
  packages/backend/server/src/__tests__/oauth/controller.spec.ts
  packages/backend/server/src/app.module.ts
  packages/backend/server/src/base/helpers/__tests__/url.spec.ts
  packages/backend/server/src/base/helpers/url.ts
  packages/backend/server/src/core/config/config.ts
  packages/backend/server/src/core/config/resolver.ts
  packages/backend/server/src/env.ts
  packages/backend/server/src/plugins/captcha/service.ts
  packages/backend/server/src/plugins/oauth/controller.ts
  packages/backend/server/src/plugins/worker/controller.ts
  packages/backend/server/src/plugins/worker/service.ts
  packages/backend/server/src/server.ts
  packages/frontend/admin/src/config.json
  packages/frontend/admin/src/modules/settings/config.ts
  packages/frontend/core/src/modules/cloud/constant.ts
  packages/frontend/core/src/modules/navigation/utils.ts
Labels: app:server, test, app:core

#12953 fix(core): persist right sidebar open state correctly for desktop
  packages/frontend/core/src/modules/workbench/services/desktop-state-synchronizer.ts
Labels: app:core

#12760 feat(server): comment model
  packages/backend/server/migrations/20250609050058_add_comment/migration.sql
  packages/backend/server/schema.prisma
  packages/backend/server/src/base/error/def.ts
  packages/backend/server/src/base/error/errors.gen.ts
  packages/backend/server/src/models/__tests__/__snapshots__/comment.spec.ts.md
  packages/backend/server/src/models/__tests__/__snapshots__/comment.spec.ts.snap
  packages/backend/server/src/models/__tests__/comment.spec.ts
  packages/backend/server/src/models/comment.ts
  packages/backend/server/src/models/index.ts
  packages/backend/server/src/schema.gql
  packages/common/graphql/src/schema.ts
  packages/frontend/i18n/src/i18n.gen.ts
  packages/frontend/i18n/src/resources/en.json
Labels: mod:i18n, app:server, test

#12789 feat(server): add morph doc edit tool
  .docker/selfhost/schema.json
  packages/backend/server/package.json
  packages/backend/server/src/plugins/copilot/config.ts
  packages/backend/server/src/plugins/copilot/providers/index.ts
  packages/backend/server/src/plugins/copilot/providers/morph.ts
  packages/backend/server/src/plugins/copilot/providers/provider.ts
  packages/backend/server/src/plugins/copilot/providers/types.ts
  packages/backend/server/src/plugins/copilot/providers/utils.ts
  packages/backend/server/src/plugins/copilot/tools/doc-edit.ts
  packages/backend/server/src/plugins/copilot/tools/index.ts
  packages/frontend/admin/src/config.json
  yarn.lock
Labels: app:server

#12909 feat(server): add comment-attachment model
  packages/backend/server/migrations/20250624051534_add_comment_attachments/migration.sql
  packages/backend/server/schema.prisma
  packages/backend/server/src/models/__tests__/comment-attachment.spec.ts
  packages/backend/server/src/models/comment-attachment.ts
  packages/backend/server/src/models/index.ts
Labels: app:server, test

#12954 fix(core): ai make it real ci timeout
  packages/frontend/core/src/blocksuite/ai/provider/copilot-client.ts
  packages/frontend/core/src/blocksuite/ai/provider/request.ts
  packages/frontend/core/src/blocksuite/ai/provider/setup-provider.tsx
  tests/affine-cloud-copilot/e2e/ai-action/make-it-real.spec.ts
Labels: test, app:core

#12779 feat(core): add allowGuestDemoWorkspace flag to force login
  .docker/selfhost/schema.json
  packages/backend/server/src/core/config/config.ts
  packages/backend/server/src/core/config/resolver.ts
  packages/backend/server/src/core/config/types.ts
  packages/backend/server/src/core/version/config.ts
  packages/backend/server/src/schema.gql
  packages/common/graphql/src/graphql/admin/admin-server-config.gql
  packages/common/graphql/src/graphql/index.ts
  packages/common/graphql/src/graphql/server-config.gql
  packages/common/graphql/src/schema.ts
  packages/frontend/admin/src/config.json
  packages/frontend/core/src/components/cloud/share-header-right-item/user-avatar.tsx
  packages/frontend/core/src/components/hooks/affine/__tests__/use-sign-out.spec.ts
  packages/frontend/core/src/components/hooks/affine/use-sign-out.ts
  packages/frontend/core/src/components/workspace-selector/user-with-workspace-list/add-workspace/index.tsx
  packages/frontend/core/src/components/workspace-selector/user-with-workspace-list/index.tsx
  packages/frontend/core/src/components/workspace-selector/user-with-workspace-list/workspace-list/index.tsx
  packages/frontend/core/src/desktop/pages/index/index.tsx
  packages/frontend/core/src/desktop/pages/invite/index.tsx
  packages/frontend/core/src/mobile/components/workspace-selector/menu.tsx
  packages/frontend/core/src/modules/cloud/constant.ts
  packages/frontend/core/src/modules/cloud/entities/server.ts
  packages/frontend/core/src/modules/cloud/services/servers.ts
  packages/frontend/core/src/modules/cloud/types.ts
  packages/frontend/core/src/modules/feature-flag/constant.ts
Labels: app:server, test, app:core

#12965 chore(core): do remove timeout for audio transcription job
  packages/frontend/core/src/modules/cloud/services/fetch.ts
  packages/frontend/core/src/modules/media/entities/audio-transcription-job-store.ts
Labels: app:core

#12943 fix(core): fix ai input style in chat block and simply img rendering
  packages/frontend/core/src/blocksuite/ai/components/ai-chat-input/ai-chat-input.ts
  packages/frontend/core/src/blocksuite/ai/components/ai-chat-input/preference-popup.ts
  packages/frontend/core/src/blocksuite/ai/components/image-preview-grid.ts
  tests/affine-cloud-copilot/e2e/utils/chat-panel-utils.ts
Labels: test, app:core
